<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="bc705d08-7855-48da-a4ba-179f25c581d2" id="24706" nodeName="How do I know where to get off?" isDoc="" updated="2018-12-03T13:08:38.7670000Z" parentGUID="4faa6272-3a9a-40b5-9b4a-df1281cee8aa" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="27" published="true" isBlueprint="false">
  <answer><![CDATA[<p><span>You will receive a detailed rail itinerary for you entire journey – from the airport to your hotel. This will be sent with your rail transfer tickets approximately 3 weeks before your departure.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[How do I know where to get off?]]></question>
</fAQItem>