<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="ab8a88aa-e6be-48c7-b2c4-c0f55f69928e" id="56766" nodeName="Hotel Antares" isDoc="" updated="2024-05-30T18:03:29.3630000Z" parentGUID="4c9fc092-41f1-4e3c-80ac-b89b5c9226dd" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "6e5cc66a-f45f-4d76-9f30-4e1319b519e8",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 Apr 24, min 7 night stay)",
    "addedValueStart": "2022-11-15T16:12:34",
    "addedValueEnd": "2024-04-30T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "82b166be-02dd-46b6-8f8e-ff0ff407d443",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "24/7 support & tailored advice from our local resort team",
    "addedValueStart": "2023-06-09T13:50:20",
    "addedValueEnd": "2038-01-01T13:50:25",
    "hideAddedValue": "0"
  },
  {
    "key": "02d0e948-78a4-4ef3-916b-6b132e09d377",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Inghams Guided Walks included from 7th Jun-27th Sep (subject to availability)",
    "addedValueStart": "2023-06-21T13:51:18",
    "addedValueEnd": "2035-12-21T13:51:21",
    "hideAddedValue": "0"
  },
  {
    "key": "37700c0c-da2d-4fdf-a017-a02395774e37",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free Mobil Card with free use of Val Gardena & Alto Adige public buses",
    "addedValueStart": "2023-06-14T13:51:52",
    "addedValueEnd": "2034-11-29T13:51:54",
    "hideAddedValue": "0"
  },
  {
    "key": "047e624e-1e67-4582-84da-f3ce964b5a87",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "All holidays include flights from the UK and transfers",
    "addedValueStart": "2023-06-21T13:50:55",
    "addedValueEnd": "2036-11-27T13:50:58",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/481bff10fd524b79940b8ab95caeb423,umb://media/d0cba940ba3441479c2b3229758fc474,umb://media/0ca9f88f92da48f99214bf4860ca024d,umb://media/82fd56fb150448c291db51abde4dc10e,umb://media/01b0ae11281d4afabf708ffab5050cf1,umb://media/294fbdc6499e43269fc9c3e4b038df06,umb://media/e044514525bc444aaca2c3b03ca613c3,umb://media/a3fadd48ed3d43cdabf60cc886fced05,umb://media/d255060bd73e491192f2588f3fe3cc9e,umb://media/9f3cb19633684d238a57115b1c30fc1e,umb://media/ada4279f97924a3683d2709372b13837]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>In the morning you'll have a buffet breakfast with hot and cold options. Dinner is a delicious four-course meal with a buffet for salad and starters. They serve a mixture of international and local dishes so you'll be able to get a taste for the local food.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel Antares is in the centre of Selva with easy access to local shops, bars, café's and restaurants.</p>
<h2>Easy access to walking lifts</h2>
<p>The Ciampinoi gondola's just a short walk down the road, putting you in the perfect position for exploring the incredible mountain scenery that Selva has to offer. Whether you want a scenic stroll or a more strenuous hike, there's something for everyone.</p>
<h2>Relaxing in the spa</h2>
<p>We love coming back to the hotel after a day in the mountains and relaxing in the spa area. The sauna and steam room are perfect for some R&amp;R and are bound to set you up for another day in the mountains!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Spa with two saunas and a steam room (spa facilities must be booked in advance at reception)</li>
<li>Whirlpool (payable locally)</li>
<li>Indoor pool</li>
<li>Free pool towels</li>
<li>Gym</li>
<li>Garden</li>
<li>Games room</li>
<li>Free Wi-Fi</li>
<li>Parking Garage (€28 per week, payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "d27c0e8e-b444-47cd-af7f-895e3f43b232",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"13d9a1a3-b2c0-4dcc-8f01-c7e7445d7989\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>If you're looking to get back to nature then the Hotel Antares has everything you need for your summer alpine getaway with great access to Selva's Ciampinoi gondola. You won't be able to get enough of the Val Gardena's striking mountain scenery and picturesque walking trails.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/0ca9f88f92da48f99214bf4860ca024d]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 2 hours 30 minutes by coach from Verona airport</li>
<li>In the Centre of Selva</li>
<li>20 metres to the nearest bus stop</li>
<li>100 metres to the Ciampinoi gondola</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday today at the Hotel Antares with Inghams. The hotel has a cosy alpine feel and a fantastic location for walking in Selva.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Antares | Holidays in Selva | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>48</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Antares]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITSV0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Rooms </strong>sleep up to three people (extra bed is a single sofa bed).</p>
<p><strong>Classic Rooms</strong> sleeping four people are available on request (extra beds are either a double sofa bed or two twin beds).</p>
<p><strong>Classic Rooms for sole use</strong> are available for a supplement.</p>
<p>Please request twin or double beds at the time of booking</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Bath or shower</li>
<li>TV</li>
<li>Hairdryer</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p>Cots are available from approx. €56 a week</p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €2.50 per person per night is payable locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Any dietary requirements must be requested to in advance. Please let us know about any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[314493]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>