<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="83075a83-63ba-4fa9-8713-da0e7efdc815" id="22799" nodeName="Belle Plagne" isDoc="" updated="2022-06-23T19:47:40.5600000Z" parentGUID="20c1ee89-e76c-4eab-9b98-c48479361bdf" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="4" published="false" isBlueprint="false">
  <activityInformation><![CDATA[<ul>
<li>Alpine walking with well marked paths</li>
<li>15 mountain bike trails</li>
<li>Paragliding</li>
<li>Canyoning</li>
<li>Volleyball</li>
<li>Basketball</li>
<li>Circus skills for children</li>
<li>Bellecote glacier and Ice Caves</li>
<li>Forest Adventure Course and Zipwire</li>
<li>White water rafting</li>
<li>Rock climbing with an instructor</li>
<li>Tennis courts</li>
<li>Archery</li>
<li>Mini-golf</li>
<li>Open-air swimming pool</li>
<li>Indoor pool, sauna, steam room, indoor steam bath and outdoor hot tubs at Chalet Hotel des Deux Domaines</li>
</ul>]]></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/47de5880ec4b45728eb97e4c8c7da3c3]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Situated in the heart of the Savoie area of the French Alps is the attractive village of Belle Plagne and the Chalet Hotel des Deux Domaines. The village is made up of a cluster of stone and wood buildings and a pedestrianised village centre, all decked with flowers. There are numerous paths radiating outwards towards pine forests and open meadows and superb views are guaranteed. Included in a week’s stay are two wanderwalks, a trip to Annecy, a river rafting excursion and a host of hotel activities including wine tasting, a talk on the local area, bridge evening, a quiz and a cookery demonstration.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p><strong>Included Free Excursion </strong></p>
<p><strong>Annecy Friday, full day</strong><br />Visit beautiful Annecy with its old town dominated by canals and historic buildings. The market is open in the morning, then stroll in the lakeside gardens or take a cruise on the clear blue lake.</p>
<p><strong>Book Locally <br /></strong></p>
<p><strong>White Water Rafting £63</strong></p>
<p>Negotiate the rapids of the River Isère with a professional guide in<br />groups of eight. A real exciting team experience. Includes return travel to<br />the river. (For 11 yrs and above).</p>
<p><strong>Canyoning £52</strong></p>
<p>An adventurous day out, sliding jumping and climbing through waterfalls and gorges carved out by the river. Run by a professional guide.</p>
<p><strong>Paragliding £52</strong></p>
<p>Take an unforgettable and breathtaking flight over the beautiful scenery<br />of La Plagne.</p>
<p><em>Prices are shown for guidance only</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore><![CDATA[<table border="0" cellspacing="0" cellpadding="5" align="left" style="width: 312px;">
<tbody>
<tr>
<td align="center" valign="top"><img src="/media/3053265/Bridge.JPG" alt="Bridge" width="320" height="190" rel="320,190" /></td>
</tr>
</tbody>
</table>
<p> </p>
<h2>Improve/Learn Bridge</h2>
<p>Enjoy instruction from our resident experts in the tactics of Bridge. Perfect for beginners and for those looking to improve their card skills. We offer sessions on four days of instruction and play, culminating in a match on the fifth evening. Sessions take place at varying times during the week and don't forget Mini Bridge is also available for our 7+ players. Our leaders are qualified English Bridge Union instructors with plenty of experience and enthusiasm.<br /><strong>When: </strong>14 nights of instruction from 23 July until 5 August<br /><strong>Where:</strong> Chalet Hotel Des Deux Domaines,<strong><br />Duration:</strong> 4 sessions of 2 hours<br /><strong>Min/max numbers:</strong> 15-25<br /><strong>Price:</strong> FREE</p>]]></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hikes><![CDATA[3]]></hikes>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Free excursion to Annecy</strong> included for all Inghams guests</li>
<li><strong>Free activity programme</strong></li>
<li><strong>Free guided walks</strong></li>
<li><strong>Free packed lunches</strong></li>
<li><strong>Inghams Rep</strong> based in resort</li>
</ul>]]></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[French/English]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[45.5093200]]></latitude>
  <listingDescription><![CDATA[<p>Situated in the heart of the Savoie area of the French Alps is the attractive village of Belle Plagne and the Chalet Hotel des Deux Domaines. The village is made up of a cluster of stone and wood buildings and a pedestrianised village centre, all decked with flowers.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e1832efb21744af4ab047b417081b6f9]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[6.7068500]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Belle Plagne for an amazing summer holiday in France. Mountain and walking holidays in Belle Plagne with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Belle Plagne, France - Lakes & Mountains Holidays 2016 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>1</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[FRLA]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>Two Centres</strong> | Combine your stay in Belle Plagne with <a rel="noopener noreferrer" href="/{localLink:d0dc28c8-83dd-4258-975e-0ebca102340e}" target="_blank" title="Chalet Hotel Sapinière">Chalet Hotel Sapinière</a> in <a rel="noopener noreferrer" href="/{localLink:12418}" target="_blank" title="Chamonix">Chamonix</a>; a hotel on Lake Geneva or even <a rel="noopener noreferrer" href="/{localLink:35172334-3d01-4b9f-922f-56f16e622b4b}" target="_blank" title="Chalet Hotel Ambassador">Chalet Hotel Ambassador</a> in <a rel="noopener noreferrer" href="/{localLink:0984c643-7643-4293-9984-94c6c14147eb}" target="_blank" title="Saas Fee">Saas Fee</a> in <a rel="noopener noreferrer" href="/{localLink:7422472e-08b9-4b72-8b8e-d85bf11a9f9d}" target="_blank" title="Switzerland">Switzerland</a>.</p>
<p> </p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>0</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>0</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Enjoy one of our finest Chalet Hotels in its memorable mountain setting]]></tagline>
  <thingsToDo><![CDATA[<ul>
<li>Mini golf</li>
<li>Tennis</li>
<li>Walking</li>
<li>Watersports</li>
<li>Rafting</li>
</ul>
<p>Situated in the heart of the Savoie area of the French Alps is the attractive village of Belle Plagne. The village is made up of a cluster of stone and wood buildings and a pedestrianised village centre, all decked with flowers. There are numerous paths radiating outwards towards pine forests and open meadows and superb views are guaranteed. Included in a week's stay are two wanderwalks, a trip to Annecy, a river rafting excursion and a host of hotel activities including wine tasting, a talk on the local area, bridge evening, a quiz and a cookery demonstration.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td>Wednesday/Saturday <br />Wednesday/Saturday <br />Wednesday/Saturday <br />Wednesday/Saturday <br />Saturday<br />Wednesday/Saturday <br />Saturday <br />Wednesday/Saturday <br />Wednesday/Saturday</td>
<td><strong>Geneva</strong></td>
<td>Gatwick <br />Heathrow<br />London City<br />Luton<br />Cambridge<br />Bristol<br />Manchester<br />Liverpool<br />Edinburgh</td>
<td>Nil/£19<br />Nil/£19<br />Nil/£19<br />Nil/£19<br />£39<br />£19/£39 <br />£39 <br />£19/£39 <br />£39/£69</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer Approx. 2hrs 30mins by coach.</p>
<p>Supplements are based on 7 night departures</p>]]></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/20c1ee89e76c4eab9b98c48479361bdf]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p><strong>Walking in Belle Plagne</strong></p>
<p>There is easy access to the open countryside from the Chalet Hotel des Deux Domaines by foot or by the Roche de Mio cable-car with a range of hiking trails to suit everybody. All the paths are well signposted and you will discover lakes and streams and tremendous vistas including views over to Europe's highest peak Mont Blanc. You can also plan your walk to return via one of the La Plagne villages and the free bus service back. Included are 2 half day guided walks which are led by English speaking local guides or your Inghams Rep. These will be pleasant strolls on well marked paths with uphill and downhill sections.</p>
<p><strong>Walking in Belle Plagne</strong></p>
<p>There is easy access to the open countryside from the Chalet Hotel des Deux Domaines by foot or by the Roche de Mio cable-car with a range of hiking trails to suit everybody. All the paths are well signposted and you will discover lakes and streams and tremendous vistas including views over to Europe's highest peak Mont Blanc. You can also plan your walk to return via one of the La Plagne villages and the free bus service back. Included are 2 half day guided walks which are led by English speaking local guides or your Inghams Rep. These will be pleasant strolls on well marked paths with uphill and downhill sections.</p>
<p>On Thursday is the<strong> Beaufort Dairy Farm Walk</strong> which includes a visit to the farm to see how the milk and cheese are produced. On Sunday is the botanical walk called '<strong>In Search of the Edelweiss</strong>' looking for the best views and the best flora and fauna of the area. These walks are a great way to explore the local area and get to know your fellow guests.&lt;/p</p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap><![CDATA[<p><strong>Local Walking Map</strong></p>
<p>Plan your walking in advance, purchase a map of the local area for just £6.95. Must be ordered at time of booking.</p>]]></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[2]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>