<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="d653c5df-e26a-46f3-b6e3-315c936d6554" id="24887" nodeName="SpecSavers Competition" isDoc="" updated="2021-12-22T18:55:08.7470000Z" parentGUID="7dffcb31-1b99-4810-a3ae-4d18cafd2688" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="5" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[SpecSavers Competition]]></metaDescription>
  <metaTitle><![CDATA[SpecSavers Competition]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Enter now to win a holiday to Lake Garda]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><img src="/media/13049186/specsavers-lp.jpg" alt="Specsavers Competition" rel="840,401" /></p>
<p>Complete the form below and submit to be entered in to this prize draw. The closing date for this competition is 31 March 2016. Terms and conditions apply.</p>
<div class="umbMacroHolder">
<div class="g12 alpha omega">
<div class="g12 alpha omega row-padding">
<div></div>
<div>
<div class="g4 omega row-padding"></div>
</div>
</div>
<div></div>
<div class="g11 alpha omega row-padding"></div>
</div>
<!-- endUmbMacro --></div>]]></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/7dffcb311b994810a3ae4d18cafd2688]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>