<?xml version="1.0" encoding="utf-8"?>
<reskinProductCampaignSection guid="adf356b2-8679-47da-8474-9894fe3f0399" id="71409" nodeName="90th Birthday Campaign" isDoc="" updated="2024-11-21T09:27:07.0970000Z" parentGUID="96a3e4d1-4370-4d3e-9379-3368e4fc0416" nodeTypeAlias="reskinProductCampaignSection" templateAlias="" sortOrder="59" published="false" isBlueprint="false">
  <campaignBackgroundImage><![CDATA[umb://media/b94cfe4b341141b18bbc3b71cbee2b02]]></campaignBackgroundImage>
  <campaignLink><![CDATA[[
  {
    "name": "Find out more",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/c9869bf0e4e9431d98d0277c1db49284",
    "externalLink": "",
    "linkName": "Ends 4th November",
    "linkTitle": "Ends 4th November",
    "linkTitleColor": ""
  }
]]]></campaignLink>
  <campaignName><![CDATA[90th Birthday Offer]]></campaignName>
  <campaignText><![CDATA[Celebrate 90 years with an EXTRA £90 off all walking holidays! T&Cs apply.]]></campaignText>
</reskinProductCampaignSection>