<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="440b8bdd-29dd-40b3-a895-4f6e2bf6e2af" id="24597" nodeName="Documents Swiss rail transfer tickets" isDoc="" updated="2021-07-06T10:33:12.5770000Z" parentGUID="d0385128-4509-48c5-8c5c-325746670082" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="16" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>Where your holiday utilises the Swiss rail network system we will need to post your rail transfer tickets to you (or your Travel Agent). These are validated at your departure rail station and will not have specific routes or dates on them. With your rail transfer tickets and holiday documents will be detailed instructions on rail journey.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Documents: What happens with Swiss Rail Transfer tickets?]]></question>
</fAQItem>