<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="f17d8b77-f99a-42a9-b62f-797a2af5648a" id="34668" nodeName="Excursion Information" isDoc="" updated="2024-12-13T15:07:37.5900000Z" parentGUID="e4928653-5339-43ed-909f-1baacdcc0968" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="4" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Santa Breaks]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<p><img src="/media/13055949/finland_lapland_pyhae_reindeer-4.jpg" alt="SantaBreaksExcursions" data-udi="umb://media/abb8931a28f64d7ea1ae828c438dfbe2" /></p>
<h2>Enjoy some extra excursions to make your holiday even more magical</h2>
<p>Our excursions and activities are like icing on a gingerbread biscuit - they add that extra touch of magic to make your holiday even sweeter. From visiting Santa's workshop to reindeer sleigh rides, we've got the ingredients to create unforgettable memories that will warm your heart for years to come. </p>
<h3>Included in your holiday: </h3>
<p>The most important part of your Santa Breaks holiday is of course meeting Santa himself. </p>
</div>
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2>Santa's Elves Hideaway</h2>
<p><img src="/media/13109549/santa-by-the-tree-900x500.jpg" alt="SantasHideaway" data-udi="umb://media/ba91060e12e041bab5d03770f851534e" /></p>
<p style="text-align: left;">All the excitement of this day will soon arrive - a trip to Santa's enchanting hideaway, where his elves are waiting to welcome you. </p>
<p style="text-align: left;">On the 2nd day of your Santa Break holiday, make your way through the snowy wonderland of Lapland and seek out Santa's grotto. You'll know you've found him once you spot Comet the reindeer keeping watch outside and ready to say hello to you. </p>
<p style="text-align: left;">Take a peak inside and see Santa himself as you enjoy a private family meeting with the man himself.</p>
<p style="text-align: left;">To make the most of this amazing day - you can also take part in supervised festive games, cook sausages on an open fire, help the elves bake gingerbread biscuits and make decorations or have great fun tobogganing or playing football in the snow. </p>
<p style="text-align: center;"><a data-udi="umb://document/800443be341d4a42ad98a3b011bb1ee6" href="/{localLink:umb://document/800443be341d4a42ad98a3b011bb1ee6}" class="c-btn">Best Santa Break deals</a></p>
</div>
</div>
<h3>Extra Excursions:</h3>
<p>Enjoy some fun additional activities during your magical time in Lapland and add these exciting excursions to your holiday.</p>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2>Snowmobile</h2>
<p><img src="/media/13095228/inghams-lapland-adobestock_124523338.jpeg" alt="SnowmobileSantaBreak" data-udi="umb://media/572de64a3a8248c1adfe9a48f03b7920" /></p>
<p style="text-align: left;">Experience an exhilarating ride through beautiful scenery, open landscapes, snow-laden forests and frozen lakes. Plus, they are great fun and often how they locals of Lapland chose to move about their homeland. </p>
<p style="text-align: left;">Snowmobiles are easy to drive on your own or sharing with a passenger. Children either share with an adult or are towed in a covered sled behind the guide (Please note: Children sleds are not covered in <a data-udi="umb://document/0b418f4c73be4d9b91d8bbce11586beb" href="/{localLink:umb://document/0b418f4c73be4d9b91d8bbce11586beb}" title="Ylläs Santa Breaks">Ylläs</a>).</p>
<p style="text-align: left;">This excursion is a great way to see your surroundings and soak up the Lapland wilderness, it even offers you a chance of catching a glimpse of the infamous Northern Lights. The excursion last around 2 and half hours and covers about 25km of local terrain. </p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2>Husky &amp; Reindeer</h2>
<p><img src="/media/13095229/inghams-lapland-adobestock_124472096.jpeg" alt="HuskySantaBreak" data-udi="umb://media/dba0a753005244309c19b4f3afc9fda0" /></p>
<p style="text-align: left;">Meet some of Santa's reindeer and learn about their way of life from local Sámi herders and enjoy a cosy reindeer sleigh ride across 1½km of snowy landscape. Wrap up warm together under a blanket as you take in the sights of forests and lakes. Afterwards, enjoy some delicious hot fruit juice and cake.</p>
<p style="text-align: left;">Next it's time to visit the huskies in their nearby wilderness home. Learn all about them whilst huddled around a campfire inside a traditional Lappish Kota hut. Enjoy a 2km dog-sled ride through the sparkling winter landscape. </p>
<p style="text-align: left;">All in all, this excursion is around 2 and half hours. Again, keep your eyes peeled for natures natural wonder of the Northern Lights, a mesmerising light show in the sky above. </p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2>Ski Taster</h2>
<p><img src="/media/13095238/inghams-lapland-adobestock_251061287.jpeg" alt="SkiSantaBreak" data-udi="umb://media/68fd0f38f2244e0883c94314b41a71a5" /></p>
<p style="text-align: left;">If you've never skied before then conditions here are ideal for learning to ski with uncrowded slopes and friendly English speaking instructors. Don't worry about packing ski clothing as guests can ski in their included all-in-one thermal suits.</p>
<p style="text-align: left;"><strong>What's included</strong>:</p>
<ul>
<li style="text-align: left;">Ski tuition for 1½ hours</li>
<li style="text-align: left;">Skis &amp; boots hire all day</li>
<li style="text-align: left;">Free use of beginner lifts all day</li>
</ul>
<p style="text-align: left;">The ski slopes are floodlight (due to limited daylight hours in Lapland) meaning you can still make the most of a full days skiing with this excursion, and lets not forget of course a chance to ski under a starry sky - hopefully with the Northern Lights dancing across as well. </p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h2 style="text-align: center;">How to book your Excursion</h2>
<p><img src="/media/13095236/inghams-lapland-adobestock_179437066.jpeg" alt="BookYourExcursion" data-udi="umb://media/6d543bfd3f58420e9e3961f29b144bf6" /></p>
<p>You can add excursions to your holiday package either:</p>
<ul>
<li>Via your '<a href="https://my.inghams.co.uk/login">My Booking</a>' portal</li>
<li>Or you can speak to a member of our UK based team on <span class="InfinityNumber">01483 791 111</span></li>
</ul>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h2 style="text-align: center;">What to wear on your holiday</h2>
<p><img src="/media/13095231/inghams-lapland-893-adobestock_413147056.jpg" alt="WhatToWear" data-udi="umb://media/fed9c95745ed4372bd85e0f95a894a9d" /></p>
<p>As you can imagine, Lapland is rather cold during the winter months - so its best to wrap up warm: </p>
<ul>
<li><a data-udi="umb://document/db4838ec373e45589f970faecddbdc23" href="/{localLink:umb://document/db4838ec373e45589f970faecddbdc23}" title="Climate &amp; Clothing">Climate and Clothing</a> information page </li>
<li><a data-udi="umb://document/6ff09c2de6f14a199dd428b99c3deb92" href="/{localLink:umb://document/6ff09c2de6f14a199dd428b99c3deb92}" title="What to pack">What to pack</a> Insider's Guide</li>
</ul>
</div>
</div>
<div class="g12">
<div class="white_box_shadow">
<h4>Please note Terms &amp; Conditions:</h4>
<p><strong>Ski Taster Package</strong>: is for guests 6yrs or older. We act as at all times as the selling agent for the supplier of excursions and activities. Times are approximate and may vary due to weather conditions.</p>
<p><strong>Husky and Reindeer Safaris</strong>: Times and distances are approximate and may vary due to weather conditions. Safari child age 4-12yrs in Ylläs and 2-12 years in Levi. Children 0-1 in Levi and 0-3yrs in Ylläs free (transport ticket must be pre-booked). In Ylläs customers will drive the husky sled themselves, where as in Levi customers will be driven by a guide.</p>
<p><strong>Snowmobile Safaris</strong>: Times and distances are approximate and may vary due to weather conditions. Snowmobile Safari child age 4-12yrs. Children 0-3yrs are not allowed on any Snowmobile safaris. Snowmobile drivers must be 18yrs and bring a full, photographic driver's licence with them. Single riders who have purchased a sharing snowmobile may need to upgrade locally to a single driving snowmobile, if a sharing snowmobile is not available.</p>
<p><strong>Travel Insurance</strong>: This is a condition of booking with us, and you should ensure that your chosen policy covers the activities that you plan to take part in during your holiday. Your policy should provide cover for your own personal and medical expenses, however individual policies will not cover damage to snowmobiles or skidoos and a compulsory excess will be payable directly to the supplier of the snowmobile/skidoo excursion.</p>
<p>*Excursions 3 for 2 offer is only valid on 7 night Lapland holidays - not valid on Lapland Short Breaks or Santa Breaks. For full Terms and Conditions on our Excursions, please visit this <a data-udi="umb://document/28065bb55a59404e9ddf4257a7dbaf0b" href="/{localLink:umb://document/28065bb55a59404e9ddf4257a7dbaf0b}" title="Lapland Excursion Offer">page</a>. </p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[2]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1d3d2a60ac084909a81d575670ccfe9f]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Explore the full details of the excursions we have available for our Santa breaks and Lapland holidays. Each designed to make your stay extra magical.]]></metaDescription>
  <metaTitle><![CDATA[Santa Excursions – Lapland Activity Holidays 2023/24 | Inghams]]></metaTitle>
  <pageTheme><![CDATA[2]]></pageTheme>
  <pageTitle><![CDATA[Santa Breaks Excursions ]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Here are our selection of excursions that are on offer for an <a data-udi="umb://document/63d3751ab6044b7c82e72f82f4d64e39" href="/{localLink:umb://document/63d3751ab6044b7c82e72f82f4d64e39}" title="Lapland/Finland">Inghams Santa Break</a>. They are all designed specifically for your itinerary, and to make your magical stay even more memorable. </p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/d424138d920347c0a81dcb6eab8a22a6]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>