<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="e5b959e7-11ac-4296-84b3-86b438d11490" id="24625" nodeName="Contacting UK Office" isDoc="" updated="2019-11-27T22:57:04.5000000Z" parentGUID="2c56f81a-6c0d-415a-8320-b1f43d2739e0" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="5" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>Your Rep is the best person to contact whilst on holiday, there is only a limited amount that our reservations team can do. If you have an emergency please contact 01483 79 11 78.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Should I contact your UK office if I have a problem on holiday?]]></question>
</fAQItem>