<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="16eb7609-caa2-475e-ada3-579b12130b79" id="49892" nodeName="Alpen Lodge Hotel &amp; Spa" isDoc="" updated="2024-03-04T15:56:19.7500000Z" parentGUID="4c93b881-bd49-4483-8716-97b278b37899" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="1" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Alpen Lodge Hotel &amp; Spa is suitable for those with reduced mobility as the lift goes to all floors, and adapted Deluxe Rooms are available on request. Please give our Reservations team a call to book.</p>]]></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "214e465d-d0d1-4c42-afe8-e16705ff55a6",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for specific departures only (ends 30 Nov23) ",
    "addedValueStart": "2023-07-12T16:11:26",
    "addedValueEnd": "2023-11-30T23:55:55",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/b8c0988534b84bebbdfb6bdc7d3e34ed,umb://media/1a316e62f80741839c1c9795eb80801c,umb://media/5cf8d7eac6d6449abc3d6af5ff9f1e2b,umb://media/c6ccd0ec0e2544f08fb0751ab1e19095,umb://media/f2f5764f79f5400aa311d4181568b70c,umb://media/322665e6599a40aaa713cffbd6383320,umb://media/073a838525704f50845b7fda22b44ab2,umb://media/084e85874b434f1088d72cd08527254c]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Alpen Lodge Hotel &amp; Spa is on a bed &amp; breakfast basis.</p>
<p>Each morning a continental breakfast buffet with hot and cold options is served between 7:30-9:30am.</p>
<p>Vegetarian options can be provided.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Alpen Lodge Hotel &amp; Spa combines classic materials of stone, wood and copper to create a sophisticated and modern hotel, offering spacious rooms and suites near to the Eucherts Express chairlift. After a day on the slopes the extensive wellness area is the perfect spot to unwind and relax. </p>
<h2>Fantastic location</h2>
<p>Being just 450 metres from the Eucherts Express chairlift, the ideal location allows you direct access to the Franco/Italian <span>San Bernardo ski area - linking <a data-udi="umb://document/4c93b881bd494483871697b278b37899" href="/{localLink:umb://document/4c93b881bd494483871697b278b37899}" title="La Rosière">La Rosière</a> with </span>La Thuile <span>it’s the only Franco-Italian ski area in the Northern Alps. </span></p>
<h2>Soothing spa and relaxation</h2>
<p>Return from a day on the mountain and make the most of the extensive wellness area and spa. Have a dip in the infinity pool with magnificent mountain views - it is a haven for relaxation and tranquillity after a day on the slopes. Or pamper yourself with the steam room, sauna, whirlpools, Himalayan salt wall and sensory showers. For the ultimate treat, massage and beauty treatments are also available to book locally. If you want to stay active, there is also a cardio and fitness room.</p>
<h2>Food and drink</h2>
<p>Offered on a bed and breakfast basis, you can enjoy a extensive buffet breakfast each day which includes fresh pastries, breads, fruit and local cheeses - all while admiring views of the incredible Tarentasie valley. This gives you a chance to sample some of the local cuisine each evening, there is a wide choice of Savoyard restaurants serving traditional fondue, or you can enjoy a plate of pasta in one of the many Italian restaurants. For a bit of evening entertainment the M'Bar at the Alpen Lodge hosts weekly music nights, whether it be jazz, blues or pop rock.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p>There's a magnificent 1000m² Spa which is open daily between 10am to 8pm for guests. There's a relaxation area with an indoor infinity pool heated to 28 degrees and a separate children's pool. The adult Montagnes du Monde Spa (16yrs and over) has a sauna, steam room, whirlpools, Himalayan salt wall relaxation room and sensory showers (including tropical rain, Mediterranean rain and Niagara rain). You can also plunge into the Nordic bath (5 degrees) after a session in the steam room or sauna. </p>
<p>Beauty treatments and massages are available, book and pay locally for these.</p>
<p>Additional facilities at the hotel include</p>
<ul>
<li>Fitness and cardio room</li>
<li>Attractive reception and bar/lounge with log fire </li>
<li>Free Wi-Fi throughout </li>
<li>Ski room with dryer</li>
<li>Restaurant (pay locally)</li>
<li>Laundry room</li>
<li>Luggage storage for early arrivals and late departures and assistance with luggage</li>
<li>On site restaurant</li>
<li>Indoor covered car parking space (one included per apartment)</li>
</ul>
<p> </p>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>A baby kit with cot is provided for infants. This includes a collapsible cot and mattress, baby intercom, bottle warmer, high chair and a bath suitable for infants.</li>
<li>Children's play area (not supervised) which is 100m2 and a lovely area for families to spend quality time together with table football, a pool table, darts, a ball pool and numerous board games</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "64cc2fb2-5ab7-4a7f-96c9-f026b22b3280",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"ed4b2ce2-ee52-4fae-a0c8-667c9a152c1f\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Available on a bed and breakfast board basis, the Alpen Lodge Hotel &amp; Spa ticks all of the boxes for a ski holiday in France, offering spacious rooms and suites close to the resort centre - this exceptional location allows you direct access to the Franco/Italian Espace San Bernado ski slopes. Plus after a day on the slopes you can enjoy the extensive wellness and spa area including an infinity pool with magnificent mountain views is a haven for relaxation and tranquillity after a day on the slopes.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/c6ccd0ec0e2544f08fb0751ab1e19095]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax €2.50 per person per day (under 18s <strong>Free</strong> of charge) paid locally</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p> </p>
<p><strong>Located in the same building as the Alpen Lodge Apartments</strong>.</p>
<p>The hotel is just 450 metres to the Eucherts Express chairlift just opposite. The ski school meeting place and our partner ski hire shop are here as well.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[27 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Alpen Lodge Hotel & Spa has spacious bedrooms and suites and a magnificent spa, just opposite the Eucherts Express chairlift. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Alpen Lodge Hotel & Spa La Rosiere France, Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>27</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Alpen Lodge Hotel & Spa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRRO0120]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in: 5pm</li>
<li>Checkout: 10am</li>
<li>24 hour reception desk</li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Deluxe Bedrooms</strong> are around 27m² sleeping two people - the rooms are made up as a double, and have a balcony.</p>
<p><strong>Prestige Junior Suites</strong> are around 40m² sleeping two to four people. Junior Suites have a double bedroom, an additional double sofa bed in the living area and a balcony with a village view.</p>
<p><strong>Family Suites</strong> are around 55m² sleeping four people. Family Suites have a double bedroom with an open bathroom, a twin bedroom with a shower room open to the bedroom, and a lounge area with a balcony.</p>
<p> </p>
<p><strong>Room facilities</strong></p>
<ul>
<li>Double beds (twin beds on request)</li>
<li>Balcony</li>
<li>Free Wi-Fi</li>
<li>TV with international channels</li>
<li>Tea and coffee making facilities</li>
<li>Mini bar</li>
<li>Phone</li>
<li>Safe</li>
<li>Bathroom with shower or bath</li>
<li>Hairdryer</li>
<li>Bathrobe and slippers (adults only)</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Alpen Lodge Hotel &amp; Spa can cater for vegetarians, however cannot cater for other special dietary requirements (vegan, gluten free, dairy free).</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[23123365]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>