<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="a47c210a-abef-4335-9a14-ccea532ec4f1" id="57020" nodeName="Test 2 Moderate Walking Holidays" isDoc="" updated="2023-10-09T18:02:48.5130000Z" parentGUID="b49585f9-3afa-4fa9-bb0b-f506c7aa71da" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="44" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lapland Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><span style="font-weight: 400;">Explore a different side of Europe on a moderate walking holiday. Our walking holidays are perfect for those who like to be on the move and who love the change of scenery that new places can bring. On a moderate walking holiday you’ll trek further, longer and will be rewarded with spectacular views.</span></p>
<p><img style="width: 100%; height: auto;" src="/media/13093751/moderate-walking-holidays.png?width=0&amp;height=0" alt="moderate walking holidays" data-udi="umb://media/977997056b514ebea4571c9e7299e180" /></p>
<h2>What to expect from our moderate walking holidays</h2>
<p><span style="font-weight: 400;">Come for the walking and stay for the experience. Our walking holidays offer a balance of adventure and relaxation. You'll explore new places, experience local culture, and make your own discoveries. </span><span style="font-weight: 400;">Walk with local guides who know exactly how to help you make the most of your time in the area. They’ll make sure you never miss out on the best corners in town - whether it's for food or drinks, history or architecture.</span></p>
<p>Our moderate walking holidays offer varied trails with some ascents and descents but generally easier terrain. Make use of the good lift networks and public transport to cut out some of the journey if needed. Walks are generally between 5 - 10km and most trails will have places to stop and rest. </p>
<div class="g4">
<div class="white_box_shadow">
<h3>Free guided walks included in your holiday</h3>
<p><img style="width: 100%px; height: autopx;" src="/media/13093530/close-up-feet.png?width=0&amp;height=0" alt="" data-udi="umb://media/ada05f0bc8de4c3d84cb81a1965dba1d" /><img style="width: 0px; height: 0px;" src="/media/13093530/close-up-feet.png?width=0&amp;height=0" alt="" data-udi="umb://media/ada05f0bc8de4c3d84cb81a1965dba1d" /><img style="width: 0px; height: 0px;" src="/media/13093530/close-up-feet.png?width=0&amp;height=0" alt="" data-udi="umb://media/ada05f0bc8de4c3d84cb81a1965dba1d" /></p>
<ul>
<li><span style="font-weight: 400;">We offer free guided walks in select resorts, run by local experts who will help you make the most of your holiday.</span></li>
<li><span style="font-weight: 400;">We'll guide you through some of the best parts of each location with insider tips and tricks. </span></li>
</ul>
</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3>Our self-guided walking holidays offer total flexibility</h3>
<p><img style="width: 100%px; height: auto;" src="/media/13093531/close-up-walking.png?width=0&amp;height=0" alt="" data-udi="umb://media/6a1275fcf4c849cc870dc70996b0952e" /></p>
<ul>
<li><span style="font-weight: 400;">You'll be free to explore on your own terms. Whether you want to take a leisurely stroll or try something more strenuous.</span></li>
<li><span style="font-weight: 400;">You'll have the support of our resort representatives to offer advice and tips if you need it. </span></li>
</ul>
</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3>See more, do more and discover more</h3>
<p><img style="width: autopx; height: 100%;" src="/media/13080490/merano-tourist-board-image-8.jpg?width=500&amp;height=268.49642004773267" alt="" data-udi="umb://media/ddef516ea88a4726b9a4ac183045b915" /></p>
<ul>
<li><span style="font-weight: 400;">When you travel with us you'll experience a lot more than on a typical walking holiday. </span></li>
<li><span style="font-weight: 400;">We've chosen our European resorts for their culture and cuisine, as well as their endless activities and sights.</span></li>
</ul>
</div>
</div>
<p> </p>
<h2>Discover our popular resorts for moderate walking holidays</h2>
<p data-pm-slice="1 1 []"><span style="font-weight: 400;">Enjoy Europe's most beautiful walking destinations. We offer a range of walking holiday packages to suit any level of fitness and ambition, from moderate strolls to vigorous mountain hikes. Whether you fancy exploring Austria's picturesque mountains, Italy's sparkling lakes or the famous wine trails of France and Slovenia - we’ll help you find your feet.</span></p>
<div class="g6">
<div class="white_box_shadow">
<h2>Kitzbuhel, Austria</h2>
<p><img style="width: 100%; height: auto;" src="/media/13093750/kitzbuhel-walking-holidays.png?width=132&amp;height=21" alt="walking holidays" data-udi="umb://media/f627a2d4fdea421b8824b531afdc06e9" /></p>
<p data-pm-slice="1 1 []"><span style="font-weight: 400;">Kitzbühel is renowned for its natural beauty, but it's also the ideal destination for walkers and hikers. With over 1000 kilometres of marked trails, you can find mountains, valleys, and lakes to explore. There are also plenty of places to stop for a break - from rustic huts to mountain inns, where you can enjoy fresh local food and drinks.</span></p>
<p><strong>Kitzbuhel walking highlights:</strong></p>
<ul>
<li><strong>Hahnenkamm Forest walk: <span style="font-weight: 400;">This moderate trail is a great way to see the mountain from all angles and get your legs pumping. Follow signs for route 25 and 25a and hike up the hill past Hahnenkamm lift station. This is a great walking trail that goes around the mountain, so you can enjoy some spectacular views while doing so!</span></strong></li>
<li><strong>Sintersbacher Waterfall:<span style="font-weight: 400;">This little-known hike is one of those hidden gems that you won't forget. This hike through the idyllic Austrian countryside will take you to a waterfall and mountain hut, where you can enjoy delicious alpine specialties, homemade cakes and an ice cold beer. All in all with buses there and back, this should take approximately 5 hours.</span></strong></li>
</ul>
<p><strong><a data-udi="umb://document/0424394c50b54ef4848722ee185d0739" href="/{localLink:umb://document/0424394c50b54ef4848722ee185d0739}" title="Kitzbuhel">Find out more about Kitzbuhel &gt;&gt;</a></strong></p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h2>Wengen, Switzerland</h2>
<p><img style="width: 100%px; height: auto;" src="/media/13078452/wengen-walking.jpg?width=500&amp;height=268.49642004773267" alt="" data-udi="umb://media/7e7c1a565f634059a077a4ede129549b" /></p>
<p><span style="font-weight: 400;">Wengen, in the Jungfrau region of Switzerland is a spectacular Alpine village with easy access to dramatic trails. Stay in welcoming mountain hotels, and enjoy the largely traffic-free village with its cable cars, gondolas and trains.</span></p>
<p><strong>Wengen walking highlights:</strong></p>
<ul>
<li>
<p><strong>Kleine Scheidegg to Eigergletsche:</strong> <span style="font-weight: 400;">The Eiger and Jungfrau are two of the most famous peaks in the Swiss Alps. This moderate walk takes you between them, first on a path up to Kleine Scheidegg, then via the Fallbodensee to Eigergletscher station. Along the way, you'll see stunning views of both mountains, as well as their dramatic north faces.</span></p>
</li>
<li>
<p><span style="font-weight: 400;"></span><span style="font-weight: 400;"><strong>Wengen to Mannlichen:</strong> This moderate hike near Wengen, Bern is great for hiking and running. The trail heads up initially underneath the cable car, and is marked by signs Mannlichen and Leiterhorn. Follow these signs to Issri Almi and continue climbing steeply onto the ridge. Hike through wooded terrain on a narrow path with absolutely breath-taking views of the Lauterbrunnen valley.</span></p>
</li>
</ul>
<p><strong><a data-udi="umb://document/dd4c4793225641fcb24c0918a33714b3" href="/{localLink:umb://document/dd4c4793225641fcb24c0918a33714b3}" title="Wengen">Find out more about Wengen &gt;&gt;</a></strong></p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h2>Selva, Italy</h2>
<p><img style="width: 100%; height: auto;" src="/media/13087994/_lk12020-val-gardena.jpg?width=500&amp;height=268.49642004773267" alt="" data-udi="umb://media/9a8aaf30731a4c62a24f4b7628a6c8b0" /></p>
<p><span style="font-weight: 400;">Selva is the perfect summer walking escape. Set your watch to the Italian time zone and enjoy a walk through the Dolomite mountain range. The jaw-dropping peaks provide an extraordinary backdrop as you explore miles of superb walking trails high in the mountains.</span></p>
<p><strong>Selva walking highlights:</strong></p>
<ul>
<li>
<p><span style="font-weight: 400;"><strong>The Sassolungo Tour</strong>: For fit hikers who are up for a challenge and want to experience an exhilarating hike, the Sassolungo tour is a must. On this trail, you will weave in and out of breathtaking mountain landscapes that lead to magnificent valleys, monumental peaks, and the finest mountain huts.</span></p>
</li>
<li>
<p><span style="font-weight: 400;"><strong>Puez-Odle Natural Park</strong>: Take a moderate walk through this beautiful natural park and enjoy the wonderful landscapes. The rock formations are like nothing you will have seen before, it will look like you are walking in a lunar landscape!</span></p>
</li>
</ul>
<p><strong><a data-udi="umb://document/4c9fc09241f14e3c80acb89b5c9226dd" href="/{localLink:umb://document/4c9fc09241f14e3c80acb89b5c9226dd}" title="Selva">Find out more about Selva &gt;&gt;</a></strong></p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h2>Morzine, France</h2>
<p><img style="width: 100%; height: auto;" src="/media/13082545/countryside-_-chairlift.jpg?width=500&amp;height=268.49642004773267" alt="" data-udi="umb://media/26efc101380441ab9fd2860a112a5823" /></p>
<p><span style="font-weight: 400;">Morzine offers a wide choice of trails and there is something for everyone to enjoy. Well maintained marked trails and signposting will guide you on your way. Breathe in the fresh mountain air and let yourself go on a vertical adventure.</span></p>
<p><strong>Morzine walking highlights:</strong></p>
<ul>
<li><strong>Cascade des Brochaux et Les Lindarets:</strong> <span style="font-weight: 400;">This walk takes you through the heart of the Avoriaz Valley, which is famous for its meadows and pastures. You will see picturesque villages, with idyllic farms, amazing views and lots of very friendly goats! Simply take the Super Morzine lift followed by the Zore lift to access the heart of the valley, where you will find all natural views from this area.</span></li>
<li>
<p data-pm-slice="1 1 []"><strong>Nantaux:</strong> <span style="font-weight: 400;">Towering above the village of Montriond, Nantaux is the tallest mountain in Morzine and is accessible from Montriond. For those looking for an active challenge, there are two routes up to its summit: the easiest route up starts from Montriond and snake's round through the forest until you hit the ridge. The other, steeper route goes straight up and is not for those with a fear of heights!</span></p>
</li>
</ul>
<p><strong><a data-udi="umb://document/a95b5199e8e04283bf8eeeabb42715fc" href="/{localLink:umb://document/a95b5199e8e04283bf8eeeabb42715fc}" title="Morzine">Find out more about Morzine &gt;&gt;</a></strong></p>
</div>
</div>
<p> </p>
<h2 style="text-align: left;">Need more walking holiday inspiration?</h2>
<p>Explore more of our walking holidays...</p>
<div class="g4">
<div class="white_box_shadow">
<h3>Moderate Walking Holidays</h3>
<p><img style="width: 100%; height: auto;" src="/media/13067600/montenvers-_-monica-dalmasso-avant-23août2014.jpg?width=0&amp;height=0" alt="" data-udi="umb://media/dc5bbadb8d3942018c00069078dcfe4e" /></p>
</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3>Lakes Walking Holidays</h3>
<p><img style="width: 100%; height: auto;" src="/media/13062944/limone_big.jpg?width=0&amp;height=0" alt="" data-udi="umb://media/6c828145d3da41a2a2ddc266d64d0824" /></p>
</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3>Mountain Walking Holidays</h3>
<p><img style="width: 100%; height: auto;" src="/media/13068250/04-st-anton.jpg?width=0&amp;height=0" alt="" data-udi="umb://media/18f00fc1a3454c168a6b1fa50c44b86e" /></p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Come for the walking and stay for the experience. Our moderate walking holidays offer a balance of adventure and relaxation. You'll explore new places, experience local culture, and make your own discoveries.]]></metaDescription>
  <metaTitle><![CDATA[Moderate walking holidays | Europe Walking Holidays | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Moderate Walking Holidays]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>