<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelItem guid="0b406d9e-1c52-478a-be8c-19a01fa8f772" id="31970" nodeName="Rural Country Holidays" isDoc="" updated="2020-06-04T08:44:46.3030000Z" parentGUID="f5086477-0f61-497e-8300-e823876ade68" nodeTypeAlias="productFeaturePanelItem" templateAlias="" sortOrder="3" published="true" isBlueprint="false">
  <contentLink><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/64b482b7dd774c0e9dd546e3c0c73e38",
    "externalLink": "",
    "linkName": "",
    "linkTitle": ""
  }
]]]></contentLink>
  <imageUrl><![CDATA[umb://media/4415b3f2294a43db94d7a36dc92cc777]]></imageUrl>
  <isPriceVisible>0</isPriceVisible>
  <isTitleVisible>1</isTitleVisible>
  <isVisible>1</isVisible>
  <itemPosition>1</itemPosition>
  <linkType><![CDATA[0]]></linkType>
  <offerSettings></offerSettings>
  <price></price>
  <title><![CDATA[Rural Country Holidays]]></title>
</productFeaturePanelItem>