<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="9debfd34-41c1-4040-af83-cbf4361c8987" id="21750" nodeName="Parc Hotel Germano" isDoc="" updated="2024-05-21T17:28:12.2870000Z" parentGUID="59fcac55-a66d-4666-ae4b-0cca449364d1" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="4" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<ul>
<li>Please note, this hotel is located on a steep hill and therefore may not be suitable for guests with accessibility requirements.</li>
</ul>
<p>Accessible rooms are available on request, please call to book.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "633b1625-2531-401e-9f56-2fe8716c0c02",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free sparkling wine and fresh fruit or sweets on arrival",
    "addedValueStart": "2019-05-13T17:24:53",
    "addedValueEnd": "2024-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/7de520fe6cf546d3be123c73ef7efa61,umb://media/85f2a87f5c134578a4114d3fbc1eb04c,umb://media/4bf7b571f8ae410080ae57f172d84621,umb://media/bd4907cdcb564a569e37e310dd3281f7,umb://media/065f5952b5ca4296995f0e8e54a8c93a,umb://media/ca517b9c2f4043c286d74ff843c4022f,umb://media/bf74f54e7543412c939bbf445c88f888,umb://media/850ca3196a264c0bb1728d8658492663,umb://media/8394f413b9614223b64c7bd6a184fdb5,umb://media/f1af8c7c663d410488b2df9dfd7394d4,umb://media/90ea0578a1c24d92a2098c6f0764d09b,umb://media/39c70611bb9d40f69acafe0e3fc49e36,umb://media/96535b443ae84b049cb44f18e29a494d,umb://media/5d503c188e2d4af8b5b1bd2f4345fb86,umb://media/3411035234074aaea813edd1c65402a5,umb://media/9c0994dbba154f6eab4d2ab1d2318849,umb://media/8eff94c604b44927b8a651a7fec93b6f,umb://media/3b6e0de8b9b74105b737aca0c22cbd04,umb://media/47b048615b7c46b89a9bb35a395a7319]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>A buffet breakfast is available each morning with breads, pastries, cereals, fruit, eggs and bacon, with a choice of fruit juices, teas and coffee. If you upgrade to half board you can choose your dishes from the hotel's a la carte menu.</p>
<p><strong>Bardolino Restaurant</strong> serves local cuisine and has a panoramic terrace that looks out towards the lake. It's open for breakfast and dinner (payable locally). </p>
<p><strong>Panorama </strong><strong>Bar</strong> is the ideal spot to spend an evening, with its selection of modern cocktails as well as traditional Aperol and Hugo Spritz. It's located on the top floor of the building and has a roof terrace with stunning views over Lake Garda. </p>
<p><strong>Snack Bar </strong>is the hotel's poolside bar serving drinks and snacks, such as, fresh salads, sandwiches and ice-cream.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Parc Hotel Germano is modern and stylish. It's got a panoramic position with sweeping views over the lake.</p>
<h2>Luxurious living in Bardolino</h2>
<p>Better yet, every room here is a suite so it’s perfect if you’re after a more indulgent holiday. They’re all in low rise buildings throughout the park and have large private balconies or terraces. If you want to spoil yourself, opt for one with a private pool.</p>
<h2>Spacious grounds</h2>
<p>The hotel is about a mile outside the centre of <a data-udi="umb://document/59fcac55a66d4666ae4b0cca449364d1" href="/{localLink:umb://document/59fcac55a66d4666ae4b0cca449364d1}" title="Bardolino">Bardolino</a> - you can walk there in about 15 minutes. Being outside the centre means there’s lots of space in the hotel’s grounds. Its lovely Mediterranean park is the perfect place for a post-lunch stroll.</p>
<h2>Pool &amp; spa</h2>
<p>There are two outdoor pools to choose from (including one for adults only) and you’ll always be able to find a sun lounger. There's also a spa with a steam area, whirlpool and an indoor pool (bookable &amp; payable locally).</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Two outdoor pools including a family pool and adults only pool (swimming caps are compulsory and must be worn in the indoor pool)</li>
<li>Whirlpool (5pm - 7pm)</li>
<li>Pool towels (first towel is free, successive towels available for €2 per towel)</li>
<li>Modern wellness centre with indoor pool and whirlpool (open between 10am - 7pm), relaxation solarium with waterbeds, Finnish sauna (available on request between 5pm - 7pm), Mediterranean and Turkish baths and sensory showers with aromatherapy and light treatments (spa facilities are  bookable and payable locally).</li>
<li>Beauty treatments and massages (bookable and payable locally)</li>
<li>Fitness room (9am - 7pm)</li>
<li>Free Wi-Fi</li>
<li>Free parking</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "707f8389-c1cf-450c-a834-d9f15795e256",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"95c8ceeb-14da-4751-a8d4-1fae4b1fca5a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>2</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Parc Hotel Germano has a hillside location with large grounds and great views over the lake. Spread out and relax with two outdoor pools and beautiful gardens. Each room is a modern suite with lots of space. There are even suites with private pools if you really want to treat yourself!</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/f1af8c7c663d410488b2df9dfd7394d4]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 45 mins by coach from Verona airport</li>
<li>1km to the centre of Bardolino</li>
<li>Close to the lake</li>
<li>200 metres to the nearest bus stop</li>
<li>600 metres to the public beach</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[137]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Parc Hotel Germano today with Inghams. This suite-only hotel is in a quiet spot just outside Bardolino.]]></metaDescription>
  <metaTitle><![CDATA[Parc Hotel Germano | Bardolino Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>137</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Parc Hotel Germano]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITBD0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Suites</strong> are around 44m² and sleep up to four people. They have a double bedroom and a separate lounge area with a double sofa bed. A private terrace with table and chairs looks out over the gardens.</p>
<p><strong>Suites with a private pool </strong>sleep up to three people. They have a double bedroom and a separate lounge area with a single sofa bed as well as a private terrace and pool. These rooms are available on request, please call to book.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air-conditioning (from mid June - mid September)</li>
<li>Lounge area</li>
<li>Terrace with table &amp; chairs</li>
<li>Tea &amp; coffee making facilities</li>
<li>TV</li>
<li>Bath or shower</li>
<li>Hairdryer</li>
<li>Bathrobes, slippers &amp; pool towels</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €2 per person per night is payable locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Please note that this hotel does not cater to vegan, diabetic or coeliac diets.</li>
<li>Please let us know about any other dietary requirements at the time of booking.</li>
</ul>
<p> </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1088218]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>