<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="1f4e2f05-d0f2-40f0-93db-2ca57421cdeb" id="37078" nodeName="Derby Swiss Quality Hotel" isDoc="" updated="2024-11-28T09:27:22.5870000Z" parentGUID="f6cb1f01-78b7-4474-88bb-f36b5f109fbc" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="6" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>The Hotel Derby does not have adapted rooms available, there are steps on each floor in the middle of the buildings where the two wings meet. There are lifts in both wings so the steps can be avoided for access to rooms. Please note that the lift does not go to the top floor. Please give our Reservations team a call if you would like further information on this hotel.</p>
<p> </p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "298050cd-7af8-4eea-b132-f43f427c01f4",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of resort buses and discounted entrance to resort sport centre with pool and ice rink (with guest card)",
    "addedValueStart": "2019-08-26T16:56:25",
    "addedValueEnd": "2099-08-27T16:56:27",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast><![CDATA[<p> </p>
<p> </p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/c6bcb400a1954ba5b183ed40e5f62c27,umb://media/49a84d6a915b478d8081c7293de93b10,umb://media/20183dbe2b8c4b308b7a35705c251609,umb://media/8b462d6c96144074af3c5b25016fa58f,umb://media/1d5fd2e979284924b2876d9e04d45c8a,umb://media/0da6276119c8420da6d92dfaf6ed0b33,umb://media/e260659ddba54d66bbeab7d2fdf6b762,umb://media/ee4cc10889ae4d3ebb3ce5c75a34372b,umb://media/c942618862354c38b939793fcf45aa2c,umb://media/f86c7b36b52c49aaa70f67e755e1b94b,umb://media/6bacc4c1181c438fbed6f0bb46d69cf2,umb://media/5303df0be5ae4c8db021b1df3478376a,umb://media/f8a955872975438baa2cdef9abc21478]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel Derby is on a bed and breakfast or half board basis. </p>
<p>Fuel up for the day with a varied hot and cold breakfast buffet with classic continental offerings.</p>
<p>When you have returned from a day of skiing, a four course evening meal including a salad buffet is served in the Derby dining room. There is also a weekly fondue meal alternative available, so you can sample some classic Swiss cuisine. </p>
<p>If you fancy treating yourself to an<span> à la carte meal, the Föhrenstube is an excellent choice, serving a range of traditional alpine dishes.  </span>The 'CAVA'  is a traditional fondue restaurant with rustic charm - it is an excellent spot to sample the various fondues available (pay locally).</p>
<p>After a day of skiing, the Gaststube is a cosy and traditional café-bar, where locals and guests meet to enjoy a drink or two. There is also a hotel bar, where you can enjoy a weekly guest aperitif with hotel directors in hotel bar including light snacks (pay locally).</p>
<p>Christmas Gala and New Years Gala are included.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Expect great quality service and a warm welcome at the Derby Hotel, returning guests feel personally valued by the family and staff here. Ideally positioned in <a data-udi="umb://document/f6cb1f0178b7447488bbf36b5f109fbc" href="/{localLink:umb://document/f6cb1f0178b7447488bbf36b5f109fbc}" title="Grindelwald">Grindelwald, </a>you can take advantage of the magnificent mountain views and hassle free ski links.</p>
<h2>Hearty cuisine</h2>
<p>The Derby offers you a wide range of options, whether you are fuelling up for a day on the slopes or looking for a spot for lunch or an après drink, there is something for everyone.</p>
<p>An extensive breakfast buffet with a range of options including a classic continental offering is served each morning and when you have returned from a day on the slopes a delicious evening meal awaits you -plus once a week you can enjoy a traditional fondue evening.</p>
<p>If you want to treat yourself to a traditional Swiss fondue 'Cava' is an excellent choice,  serving a variety of fondues in a rustic style cellar restaurant. Alternatively the <span>à la carte</span>  <span>Föhrenstube</span> has a range of Bernese specialities and classic favourites on the menu.</p>
<p>When you have returned for the day head to the Gaststube - a spot where locals and tourists gather to enjoy a drinks or two in a cosy café-bar. </p>
<h2>Great location</h2>
<p>With a central location in Grindelwald, getting around the <a data-udi="umb://document/1a5883a1530346a9ab78607d76c2e656" href="/{localLink:umb://document/1a5883a1530346a9ab78607d76c2e656}" title="Jungfrau Ski Region">Jungfrau Region</a> couldn't be easier. The village railway is conveniently located just opposite the hotel, and the bus station is just a short walk away - catch the bus to the First gondola and head up the active mountain, ski the day away or fly through the alps on a 800 metre long zip line - there is also a viewing platform with incredible views of the surrounding mountain peaks.</p>
<p>You can also head to the Grindelwald Terminal station by bus or train, from here you can head up the Eiger Glacier or make your way over to <a data-udi="umb://document/7e163ac5c9114f0dae9f3f8d222fa730" href="/{localLink:umb://document/7e163ac5c9114f0dae9f3f8d222fa730}" title="Wengen">Wengen</a> via the <span>Männlichen gondola.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free Wi-Fi</li>
<li>Top floor terrace with Eiger views</li>
<li>à la carte ‘Föhrenstube’ restaurant (pay locally) </li>
<li>Gaststube café- bar (pay locally)</li>
<li>Cava fondue restaurant (pay locally)</li>
<li>Lounge &amp; Bar </li>
<li>Sauna</li>
<li>Heated Boot Room  </li>
<li>Parking</li>
<li>Cots available</li>
<li>Guest card with discounted access to the resort sport centre and free use of resort buses</li>
<li>Lift does not serve the top floor</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "54f05bd4-3ce3-436f-9fa9-831487b66a38",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"6c11479a-a1bb-4b72-841b-c00af0455a0f\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.6242006]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This family run hotel offers great food, cosy accommodation and has a central location with hassle free ski links. You are a short distance from the town centre and public transport. The staff personally value each guest and will assist you in making your holiday the best it can possibly be. Available on either a bed and breakfast or half board basis. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/c6bcb400a1954ba5b183ed40e5f62c27]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Tourist Tax:</p>
<ul>
<li>approx. CHF 5.20 per adult (aged 16+ years) per day (payable locally)</li>
<li>approx. CHF 4.20 per child (aged 12 - 15 years) per day (payable locally)</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p>The Hotel Derby is opposite the train station, and a short walk to the main street where you can find a range of shops, cafes and restaurants (approx. 100 metres).</p>
<p>The resort bus stop is 50 metres from the hotel.</p>
<p>The Grindelwald terminal is around 1.4 kilometres away, accessible by bus.</p>
<p>Access to the First Mountain is approximately 900 metres walk.</p>
<p>The Bodmi beginner area is accessible by the resort bus.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[8.0305815]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[69 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Cosy and family-run, Hotel Derby offers great ski access and warm hospitality in Grindelwald’s Jungfrau Ski Region. Book with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Derby Swiss Quality Hotel, Grindelwald Switzerland | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>69</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3.5]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Derby Swiss Quality Hotel]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHGR0114]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard 'Cosy' Twin Rooms</strong> are around <span>13-15 m²</span>, sleeping two people. These rooms have a shower and most have a North facing balcony.</p>
<p><strong>Superior 'Scenic' Twin Rooms</strong> are around <span>18-20 m²</span>, sleeping up to three people. These rooms are have a bath and have a south facing balcony with views towards Mount Eiger and the valley.</p>
<p><strong>Junior suites</strong> are around 25-28m² and can sleep up to three using an extra double sofa bed, with either a north or south facing view. These rooms are on request so please give our Reservations team a call to book.</p>
<p><strong>Single rooms </strong>are around 12-13m² sleeping one person, and have a shower. These rooms are North or South facing and some have balconies but these can not be guaranteed.</p>
<p><strong>Room facilities</strong></p>
<ul>
<li>Satellite TV</li>
<li>Wi-Fi</li>
<li>Fridge</li>
<li>Hairdryer</li>
<li>Safe</li>
<li>Tea and coffee making facilities</li>
<li>Cots are available</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel Derby can cater for special dietary requirements (vegetarian, gluten free and dairy free). Vegan meals are not available. Please inform us of any special dietary requirements at the time of booking. <span>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[227524]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>