<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="998d4cc1-8ef2-406e-ac16-89b6bee4b10d" id="23351" nodeName="Hotel Xalet Besoli" isDoc="" updated="2024-04-30T14:54:17.1070000Z" parentGUID="07c4ee80-b2bd-4b5c-9640-b262a5748dd7" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="8" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription><![CDATA[Check out our great offers available]]></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/503159b6c72946269713aacac2e58252,umb://media/cdf58746fc744d6f860d2fbe09deba1f,umb://media/f17205739bd2480fa1d028f5a008cf03,umb://media/489fc2e88310442190cf3fa737131d73,umb://media/d5805e754a3947028eaf359bc28d6a97,umb://media/3f856b00cbd64f15aa5e6aac5a5862b5]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Hotel Xalet Besoli is offered on a half board basis.</p>
<p>Fuel up for a day on the slopes with a continental buffet breakfast served from 8 - 10:30am.</p>
<p>Dinner consists of three courses with a choice of starter, main and dessert, served from 7:30 - 10pm.</p>
<p>Christmas and New Years dinners are included. The New Years meal includes free drinks from 8pm until midnight.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Xalet Besoli is a cosy, small hotel offering excellent value for money, friendly service and good cuisine, a perfect choice for a relaxed ski holiday.</p>
<h2>Ideal for families</h2>
<p>Hotel Xalet Besoli is ideal if you're wanting a calmer base for your family ski holiday. The hotel is located in a quiet street and the easiest way to get to the ski gondola is on the ski shuttle bus which stops at the end of the road. The hotel also offers a range of facilities for children including cots for bedrooms, free on request and babysitting services. </p>
<h2>Unwind</h2>
<p>Take a moment to relax in the hotel's spacious and modern bar or communal lounge area and share a drink with family and friends. On blue bird days, sit outside on the hotels sun terrace and appreciate the views of the snowy mountains with a hot drink in hand. Before bed, head out onto the balcony, watch the snow fall and cherish that mountainous winter air.</p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>TV lounge with pool table</li>
<li>Bar</li>
<li>Ski lockers</li>
<li>Lift</li>
<li>Free Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Family bedrooms sleeping 2-4, all on half board.</li>
<li>Cots are available but please request one at time of booking.</li>
<li>Highchairs are available in the restaurant.</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "a6402c7f-796f-44db-bcb1-6e1a43db1263",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"20c3fce9-2a3f-4d1f-9318-53dc62335f72\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[42.568501]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Xalet Besoli is a cosy, small hotel offering excellent value, friendly service and good cuisine. Offered on a half board basis, this hotel an ideal choice for families.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/503159b6c72946269713aacac2e58252]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p>The hotel is approximately 6 minutes' walk (600 metres) to the main ski gondola.</p>
<p>The ski school meeting place and ski hire are located at the top of the gondola.</p>
<p>It is a 4 minute walk (400 metres) to the village centre with all the amenities, bars and nightlife.</p>
<p>The ski shuttle bus stop is just 2 minutes' walk from the hotel.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[1.489691]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[33 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Xalet Besoli-Good value and friendly ski hotel in the Arinsal Pal Ski Area of Andorra, Book Now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Xalet Besoli  | Arinsal Andorra | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Arinsal Gondola</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>33</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Xalet Besoli, Arinsal ]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ADAR0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin/double bedrooms </strong>sleep two to four people and have a bathroom with shower head attachment and WC. These rooms have the possibility for two additional single beds. These rooms are also available for sole occupancy with a supplement.</p>
<p><strong>Room facilities:</strong></p>
<ul>
<li>Wi-Fi</li>
<li>Balcony </li>
<li>Safe </li>
<li>Cable/satellite TV</li>
<li>Hairdryer </li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel Xalet Besoli can cater for vegetarians on request. Other dietary requirements cannot be provided for. Please inform us of any special dietary requirements at the time of booking. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[265417]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>