<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="7ae65fb1-b366-4c49-bdda-b7e23771e3a8" id="67061" nodeName="April Ski Deals" isDoc="" updated="2024-04-04T14:17:25.8070000Z" parentGUID="d45880bc-297c-4e71-b0d5-48089a2450dd" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "April 2024 Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/6497964be5a14103b72d3aea482a5dd5",
    "externalLink": "",
    "linkName": "April Ski Deals",
    "linkTitle": "April Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>