<?xml version="1.0" encoding="utf-8"?>
<helpMeWith guid="04cffecb-09e3-428e-ad92-5172af1aeedf" id="44955" nodeName="Ordering a brochure" isDoc="" updated="2020-12-31T15:30:18.1700000Z" parentGUID="e5b8abf9-4a55-4299-a396-0566b88e9193" nodeTypeAlias="helpMeWith" templateAlias="" sortOrder="4" published="true" isBlueprint="false">
  <answerContent><![CDATA[<h3>To order a brochure or follow us on Social Media</h3>
<p>You can request a copy of our brochures on our <a data-udi="umb://document/468428ccc01c4b2595c1b6be03f9ad34" href="/{localLink:umb://document/468428ccc01c4b2595c1b6be03f9ad34}" title="Request a Brochure">brochure request page</a> or alternatively, call our 24 hour brochure line on <strong><span class="InfinityNumber">01483 791 111</span></strong>.</p>
<p><strong>Find us on Facebook: </strong> <a rel="noopener noreferrer" href="https://www.facebook.com/inghamsSki/" target="_blank">Inghams Ski</a> &amp; <a rel="noopener noreferrer" href="https://www.facebook.com/InghamsSummer/" target="_blank"> Inghams Summer</a><br /><strong>Follow us on Twitter: </strong><a rel="noopener noreferrer" href="https://twitter.com/InghamsSki" target="_blank">Inghams Ski</a> &amp; <a rel="noopener" href="https://twitter.com/inghamssummer" target="_blank">Inghams Summer</a><br /><strong>Follow us on Instagram: </strong><a rel="noopener noreferrer" href="https://www.instagram.com/inghamsholidays/" target="_blank">Inghamsholidays</a></p>]]></answerContent>
  <questionText><![CDATA[Ordering a brochure]]></questionText>
  <showContactButton>0</showContactButton>
</helpMeWith>