<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="c2779b59-c51e-4f74-b014-23c4336bf8a2" id="69714" nodeName="February Ski Deals" isDoc="" updated="2024-04-04T14:22:23.0070000Z" parentGUID="9e478a6b-5133-411f-ba83-75188f1d30e0" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="3" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "March Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/f49f348f00d949d7a66118ce474ea12e",
    "externalLink": "",
    "linkName": "February Ski Deals",
    "linkTitle": "February Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>