<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="c3ebf6ac-0a6f-4933-9654-a7dd6443c0b6" id="24580" nodeName="Hotel balcony" isDoc="" updated="2019-06-20T13:28:21.4600000Z" parentGUID="d408e3b0-c21d-42a8-a765-34d4d3c618b1" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="8" published="true" isBlueprint="false">
  <answer><![CDATA[<p><span>Possibly, if the hotel offers (for example) balcony rooms and you book a room with a without a balcony but request one, there is a chance that the hotel will charge you for a balcony on arrival. We recommend that if you do want a balcony or lake view (or other aspect) you book that before you travel.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Hotel: If I request a balcony will the hotel charge me?]]></question>
</fAQItem>