<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelListing guid="599bf25b-1acf-4f80-aabb-b59b3b52a76e" id="28761" nodeName="Featured Panel" isDoc="" updated="2023-09-20T11:50:26.8630000Z" parentGUID="96a3e4d1-4370-4d3e-9379-3368e4fc0416" nodeTypeAlias="productFeaturePanelListing" templateAlias="" sortOrder="16" published="true" isBlueprint="false">
  <componentTitle><![CDATA[Explore Our Summer Holidays & Discover Your Next Walking Adventure]]></componentTitle>
</productFeaturePanelListing>