<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="81ec9024-9793-452c-9895-2374c7b5dd17" id="23316" nodeName="Hotel Teresa" isDoc="" updated="2024-06-14T15:10:51.2130000Z" parentGUID="23b9cedc-49ac-4fe3-ab5c-6bd3b0c4b1b0" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "c0e3fd55-f48e-426f-86bd-139952be9bdf",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily afternoon cakes and savoury snacks (excludes Saturdays). Tea and coffee payable locally.",
    "addedValueStart": "2022-02-28T17:12:47",
    "addedValueEnd": "2025-04-08T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "b935829b-aa7c-4211-ad94-61bcc8955e49",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly guided snowshoe excursion (snowshoes included) ",
    "addedValueStart": "2022-02-28T11:46:15",
    "addedValueEnd": "2025-04-08T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "84d1422f-00f5-4cc6-92a9-ab00ed356431",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free wildlife watching in UNESCO world heritage park",
    "addedValueStart": "2022-02-28T11:47:22",
    "addedValueEnd": "2025-04-08T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "31311d24-5337-4439-97d2-1336a514b45c",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "€25 spa credit per person (Book by 15 Oct 24)",
    "addedValueStart": "2022-02-28T11:46:55",
    "addedValueEnd": "2024-10-15T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/bc8f948c918d4304ae8dcfa14cd99243,umb://media/7b3f9db40a19486b94d9cd89abb2f749,umb://media/d6950b922dd1443ebd67f4352165ab45,umb://media/c8ad78c0c07245bd99a104e506bc5928,umb://media/32c0d1dc7e38414681e10cc3a64918d1,umb://media/fa43abec88c943429834ffaa26dad71e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Meal times are more than just being fed at the Hotel Teresa. The owner and kitchen team take great pride in sourcing local produce and researching their suppliers to ensure they are working as sustainably as possible. </p>
<p>Breakfast is a hot and cold buffet with plenty to choose from to set you up for the day.</p>
<p>For dinner you'll have four courses with a salad and vegetable buffet. The dining room is a cosy and warm place to end your day in.</p>
<p>Christmas and New Year's Eve gala meals are included.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Teresa is a beautiful Alpine hotel with close ties to nature. The owner David is passionate about the area and you can even join him on guided excursions and wildlife watching in the UNESCO park.</p>
<h2>Location</h2>
<p>It's close to the centre of <a data-udi="umb://document/23b9cedc49ac4fe3ab5c6bd3b0c4b1b0" href="/{localLink:umb://document/23b9cedc49ac4fe3ab5c6bd3b0c4b1b0}" title="Kronplatz">Kronplatz</a> too so you'll be near to the shops, bars and ski lifts. The Trans Bronta gondola is only 250 metres away and the resort ski bus stops just 40 metres from the hotel.</p>
<h2>Relaxed hotel</h2>
<p>The hotel is great choice if you are looking for a relaxed place to enjoy your ski holiday in the <a data-udi="umb://document/47c7f0773b104efb87f3357e7314f393" href="/{localLink:umb://document/47c7f0773b104efb87f3357e7314f393}" title="The Dolomites Ski Area">Dolomites</a>. We love finding a quiet corner in the library and the impressive spa has an indoor pool and whirlpool.</p>
<h2>Local food</h2>
<p>Meals are a real highlight here and the hearty Ladin dishes really hit the spot after a day out on the mountains. Tyrolean food is mixed with Mediterranean flavours and the results are delicious. You can expect homemade pasta, breads and lots of local specialties that you can pair with a good label of wine.</p>
<p>The hotel are also committed to sustainability and have collaborated with local farms and organisations to make sure that the produce they use adheres to a “zero kilometre” policy wherever possible.</p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We have an exclusive agreement with Hotel Teresa the only UK tour operator to package and sell holidays here - all the more reason to book with Inghams today!</p>
<h3>Why is this an Inghams' Choice property?</h3>
<p><strong>Extra mile</strong> - The hotel owners put on some excellent excursions including snowshoeing and wildlife watching.</p>
<p><strong>Sustainability</strong> - We love the Hotel Teresa's dedication to sustainability with the “zero kilometre” policy and their pledge to protect the incredible Dolomite mountains.</p>
<p><strong>Local offerings</strong> - The Hotel Teresa showcases some of the best of Ladin's produce and dishes from around the region.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Wi-Fi</li>
<li>Bar area</li>
<li>Spa with indoor pool, bio-sauna, steam room and whirlpool</li>
<li>Massage and beauty treatments (payable locally)</li>
<li>Gym</li>
<li>Cosy TV room/library</li>
<li>Heated boot room</li>
<li>Parking</li>
<li>A cot is available for approx. €20 a day (payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "8df072f9-0c9a-47a8-b141-318896a9a7eb",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"5df85b4d-cfd7-4841-9e27-b5a3138d116b\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.700119]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Teresa is a smart, modern property with a warm wooden and natural feel to it. It's in the centre of the resort just 250 metres from the ski lifts. At the end of the day you can have a drink in the bar or head to the indoor pool in the spa.</p>
<p><strong>Save £100pp when you pre-book your ski pass and lift hire/carriage.</strong></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/bc8f948c918d4304ae8dcfa14cd99243]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Local tourist tax of €3.70 per person per day (payable locally)</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>250 metres to Skitrans Bronta gondola</li>
<li>40 metres to ski school and play park</li>
<li>40 metres to bus stop</li>
<li>150 metres to nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.930733]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[30 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your ski holiday at Hotel Teresa today with Inghams. This lovely alpine hotel is close to the lifts and the centre of town.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Teresa | Kronplatz Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>30</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Teresa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITKR0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Tamers Standard </strong><strong>Rooms </strong>sleep up to three people (extra bed single sofas bed). They have a balcony and shower.</p>
<p><strong>Senes Comfort </strong><strong>Rooms </strong>sleep two people. They have a balcony or terrace.</p>
<p><strong>Fanes </strong><strong>Superior </strong><strong>Rooms </strong>sleep up to three people (extra bed single sofa bed) and have a bath or shower. They're very spacious and decorated in different types of wood, creating a relaxing Alpine atmosphere. </p>
<p><strong>Tamers Single Rooms</strong> have a shower.</p>
<p><strong>Tamers Standard Rooms for sole use</strong> are available on request. Please call to book.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>TV</li>
<li>Mini-fridge</li>
<li>Safe</li>
<li>Hairdryer</li>
<li>Bathrobes and Slippers</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p><span>Special diets are available on a request basis. Catering for dietary allergies will need to be checked before booking. Vegan meals are not available.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1628648]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>