<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="87f69612-c585-447e-82fa-fd9f96e75ee4" id="23517" nodeName="Hotel Gustavia" isDoc="" updated="2024-07-24T14:22:43.1270000Z" parentGUID="6d1f6b40-d62d-48a6-acbc-f99f87501ea0" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="14" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "d3fba77a-c4ff-4b43-bf4f-b6aa003e1c6d",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free ¼ litre of wine, one beer or soft drink with dinner each evening (for weeks commencing 2nd, 9th & 16th Jan, 27th Mar and 3rd & 10th Apr 2021)",
    "addedValueStart": "2020-06-25T16:38:12",
    "addedValueEnd": "2021-04-10T16:38:14",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[0,2,4,6,8,11,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<ul>
<li>Continental buffet breakfast with additional hot options </li>
<li>Served between 7 - 10 am</li>
</ul>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/722edf8bf5c5496db148e022290a9dd4,umb://media/95c5afa856ab47c582c44cb571d1898e,umb://media/e5b813e82a464dcd9ecd46b963720841,umb://media/36165e10801548cd81ac2816720d3bce,umb://media/aae1536f19c2416e9ce59cc805b3f0d5,umb://media/2343a5fa3472413393fc016e726033ff,umb://media/b5b4084e06bb4612bcb857970807b595,umb://media/38163462859c4a8fbbe13363cc670b32,umb://media/d81e2f66324443db914caf1dfa48f8bc,umb://media/fbd869cac0b74301a525a942e3f466e6,umb://media/60fc0f5a7d804b65bc65525e809672e5]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Shops and restaurants are a short walk away </li>
</ul>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Gustavia is a traditional hotel with a central position in Chamonix, opposite the train station and bus stop, providing easy access to the ski lifts along the valley and all the extensive skiing on offer.</p>
<p>Good food is served in a French style with a Scandinavian twist in the hotel dining room. One of <a data-udi="umb://document/6d1f6b40d62d48a6acbcf99f87501ea0" href="/{localLink:umb://document/6d1f6b40d62d48a6acbcf99f87501ea0}" title="Chamonix">Chamonix’s</a> most popular après-ski bars, <em>Chambre Neuf</em>, is on the ground floor, providing lively entertainment and is said to be one of the best places in the resort for live music. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<ul>
<li>3 Course evening meals with set menu (a buffet on the first Saturday night)</li>
<li>A la carte menu also offered in the restaurant (additional supplement)</li>
<li>Served between  7 - 9 pm</li>
<li>Earlier meal times are available for children (on request)</li>
<li>Christmas and New Year gala dinner included</li>
</ul>
<p> </p>
<p>The first evening meal is buffet style and all evening meals are served in the hotel dining room.</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<ul>
<li>Informal </li>
</ul>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Sun terrace</li>
<li>Mountain views </li>
<li>Massages available (book and pay locally)</li>
<li>Lounge with fire place </li>
<li>Bar 'Chambre 9'</li>
<li>Restaurant</li>
<li>WiFi <strong>(Free)</strong></li>
<li>Shuttle service to the slopes <strong>(Free)</strong></li>
<li>Heated ski equipment storage room</li>
<li>Live music and evening entertainment </li>
<li>Library </li>
<li>Located in the centre of Chamonix</li>
<li>Ski bus stop outside the hotel</li>
<li>Opposite train station </li>
<li>Lift</li>
<li>Car parking (pre book and pay locally)</li>
</ul>
<p> </p>
<ul>
<li>Luggage storage is available </li>
<li>24 Hour front desk </li>
<li>Check in time 5 pm</li>
<li>Check out time 11 am </li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Child friendly meals are available in the restaurant </li>
<li>Earlier meal times are available for children (on request)</li>
<li>Children's menu (on request)</li>
<li>Books and DVDs available </li>
<li>Music for children </li>
<li>Board games and puzzles available (on request)</li>
<li>Baby cots are available on request <strong>(Free)</strong> for children under 2 years </li>
</ul>]]></familyDescription>
  <familyFacilities><![CDATA[umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/505c8512913d4d2db80856510b0c5d50,umb://document/567a268ddf014965ac70ad6a473cbee9,umb://document/c0e11185f51f4f4cb5a972b8e46cac58,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.9253]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Located in the heart of <a data-udi="umb://document/6d1f6b40d62d48a6acbcf99f87501ea0" href="/{localLink:umb://document/6d1f6b40d62d48a6acbcf99f87501ea0}" title="Chamonix">Chamonix</a>, this informal, friendly hotel is perfect for enjoying the bustling resort. Its central position opposite the train station and bus stop provide easy access to the ski lifts along the valley and the extensive skiing on offer.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/722edf8bf5c5496db148e022290a9dd4]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax €1.50 per person, per day (under 18s <strong>Free</strong> of charge) paid locally</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p>400m to the bus stop</p>
<p>250m to the centre of resort</p>
<p>800m to the ski lifts</p>
<p>600m to the ski school meeting point</p>
<p>900m to the nursery slopes</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.8698]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[50 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Located in the heart of Chamonix, this informal, friendly hotel is perfect for enjoying the bustling resort. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Gustavia, Chamonix - France, Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<ul>
<li>On site </li>
</ul>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>50</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCH0110]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Luggage storage is available in the reception </li>
<li>24 Hour front desk </li>
<li>Check in time 5pm</li>
<li>Check out time 11am </li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p>All rooms have twin or double beds (please specify preference when booking), bath with shower head attachment or shower room, WC, WiFi, flat screen cable / satellite TV with English speaking channels, telephone, hair dryer, toiletries, towels, bed linen, tea and coffee making facilities (on request) and mountain views.</p>
<p><strong>Brévent standard twin rooms</strong> sleep 2 people (14-18m²) with Brévent views</p>
<p><strong>Mont Blanc standard twin rooms</strong> sleep 2 people (14-18m²) with Mont Blanc views. </p>
<p><strong>Superior twin rooms</strong> sleep 2 people (14-18m²) newly decorated with a shower and has either Brévent or Mont Blanc views</p>
<p>Daily house keeping is included.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Special dietary requirements (vegetarian, gluten free etc.) are available (on request)</li>
</ul>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[264859]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>