<?xml version="1.0" encoding="utf-8"?>
<reskinInSafeHandsSection guid="5398212d-ba3f-4b58-bb1a-f8e237500d8f" id="60868" nodeName="In safe hands Section" isDoc="" updated="2023-09-12T16:08:39.0300000Z" parentGUID="a4a479e8-2664-49e1-8b6b-9e98eafdfcb0" nodeTypeAlias="reskinInSafeHandsSection" templateAlias="" sortOrder="8" published="true" isBlueprint="false">
  <inSafeHandsDescription><![CDATA[<p><span><span class="ui-provider gs b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak">We’ve got you covered from the moment you step out of your front door to your return. With our established travel team, you can trust that you'll receive the tips, experience, and protection you expect.</span></span></p>]]></inSafeHandsDescription>
  <inSafeHandsSectionIconsPicker><![CDATA[umb://document/2c06008881d84c70bd1cfc0cb02d9a6d,umb://document/1276ec73555942d2929269bc26a2ff44,umb://document/b9563f5517de40419acddc1e506afcc6,umb://document/1d4cb01423ee4284b11a22fa066408e5,umb://document/3ad3780eb8844e589fd7c7257c3d9c05]]></inSafeHandsSectionIconsPicker>
  <inSafeHandsTitle><![CDATA[In Safe Hands]]></inSafeHandsTitle>
</reskinInSafeHandsSection>