<?xml version="1.0" encoding="utf-8"?>
<reskinProductLaplandThingsToDoItem guid="c4fd52d3-ff80-4022-8032-0bacb9e83a26" id="60851" nodeName="Meet Santa" isDoc="" updated="2023-06-08T12:38:32.9230000Z" parentGUID="f3f7299b-e039-4217-a8b2-ec9b986fcc39" nodeTypeAlias="reskinProductLaplandThingsToDoItem" templateAlias="" sortOrder="4" published="true" isBlueprint="false">
  <thingsToDoItemContent><![CDATA[<p>No Christmas can compare to the sheer excitement of visiting Santa’s home and meeting the man himself.</p>]]></thingsToDoItemContent>
  <thingsToDoItemImage><![CDATA[umb://media/7051fbb402974e189720292ba7293e25]]></thingsToDoItemImage>
  <thingsToDoItemTagline><![CDATA[A day of magic]]></thingsToDoItemTagline>
  <thingsToDoItemTitle><![CDATA[[
  {
    "name": "Meet Santa",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/05d3b1900a534df49444693b1f18fdb0",
    "externalLink": "",
    "linkName": "Meet Santa",
    "linkTitle": "Meet Santa"
  }
]]]></thingsToDoItemTitle>
</reskinProductLaplandThingsToDoItem>