<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="c511f5b0-16b9-4e78-afe0-1f1584da0f77" id="26082" nodeName="Ski 2022 2023 Holidays" isDoc="" updated="2024-06-19T09:11:55.4830000Z" parentGUID="25e767db-0444-4438-9ae0-9383681f982e" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="31" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great deal on a ski holiday with Inghams. Here are our ski holiday deals departing for winter 2022/2023. Book your holiday today, at a great price.]]></metaDescription>
  <metaTitle><![CDATA[Ski Deals 2022 2023 | Ski Holidays with Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SKI-22-23-LATE-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/01afedc7491a48ac97e518333002b425",
    "offerCode": "ING-SKI-22-23-LATE-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ski 2022/23 Holidays]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/11fa388b5f4546a2858d076821dc65f0",
    "promotionBannerMobile": "umb://media/ff67681745884ffba4c5d40e41c69895",
    "promotionLink": "[]",
    "promotionStartDate": "2021-12-14T00:00:00",
    "promotionEndDate": "2022-04-06T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Discover our range of 2022/23 ski holidays across Europe and Canada. Book early to secure the dates and accommodation for your perfect holiday. Flights, transfers and accommodation are included.]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>