<?xml version="1.0" encoding="utf-8"?>
<newsItemPage guid="27fb5caf-c982-418d-abbb-85b0bff197c7" id="24778" nodeName="Inghams WIN: Best Activity and Adventure Operator second year running" isDoc="" updated="2024-07-27T22:42:59.0570000Z" parentGUID="a6e64a6e-5451-48b6-acd3-04839467b13a" nodeTypeAlias="newsItemPage" templateAlias="NewsItemPage" sortOrder="0" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13052368/golden-globe-travel-awards-2017.jpeg" alt="Inghams Agents Team" rel="486,324" /></div>
<div></div>
<p><strong>13th January 2017</strong> – Following Inghams’ success at the Travel Weekly Globe Travel Awards 2016, the tour operator is now the proud winner of the accolade for <strong>Best Activity and Adventure Operator</strong> for the second year running. The award was collected by Simon McIntyre, Head of Sales, at the awards ceremony held in Grosvenor House, London, on 12th January 2017.</p>
<p class="p1"><span class="s1">At the prestigious black-tie event, <strong>Paul Carter, Chief Operating Officer, said</strong>: <em>"It is a noble achievement for <a href="/{localLink:9dbbcbbb-2327-434a-b355-af1b84e5010a}" title="Home">Inghams</a> to be recognised for the second time consecutively at these prestigious awards. Since its establishment by Walter Ingham in 1934, the Inghams brand has continued to grow from strength to strength, thanks to the united efforts of our passionate staff and partners. It is this that has lead the Inghams name to being synonymous with success. We thank all our staff both in the UK and in all our resorts overseas, who continue to work hard to go above and beyond and deliver the best they can for our valued guests."</em></span></p>
<p class="p1"><span class="s1">Recognised as the premier event of the travel trade calendar, the Travel Weekly Globe Travel Awards recognise the hard work, dedication and commitment of the very best companies and individuals of the travel trade, as voted for by UK Travel Agents.</span></p>
<p><br />The <strong>Golden Globe Trophy</strong> will be on display at Inghams HQ from today, alongside the Trophy from 2016.</p>
<p>More pictures from the evening can be found using hashtag <a rel="noopener noreferrer" href="https://twitter.com/hashtag/twglobes" target="_blank">#twglobes</a></p>
<p>ENDS.</p>
<p>For bookings please visit <strong><a href="https://www.inghams.co.uk">www.inghams.co.uk</a> </strong>or call <strong>01483 791 114.</strong></p>
<p>For PR enquiries please contact <span class="s1">Frankie Gibson</span>, PR Executive, <a href="mailto:frankie.gibson@inghams.co.uk">frankie.gibson@inghams.co.uk</a> or call <strong>01483 791 045</strong>.</p>
</div>
<p> </p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>0</deactivateThisPage>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Inghams Wins Best Activity and Adventure Operator at the Travel Weekly Globe Travel Awards 2017 for the Second Year Running]]></metaDescription>
  <metaTitle><![CDATA[Inghams WIN: Best Activity and Adventure Operator Again! | Inghams]]></metaTitle>
  <newsItemDate>2017-01-13T00:00:00</newsItemDate>
  <pageTheme><![CDATA[0]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <thumbnail><![CDATA[umb://media/73e7b65c0b124619add9d2c9c0525fd3]]></thumbnail>
  <title><![CDATA[Inghams Wins Best Activity and Adventure Operator at the Travel Weekly Globe Travel Awards 2017 for the Second Year Running]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsItemPage>