<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="552d37d7-2f46-4b84-801d-45898846054e" id="23993" nodeName="Undiscovered Austria" isDoc="" updated="2021-12-29T13:07:08.8830000Z" parentGUID="ab57c319-bff9-4d90-b2d0-c7f80fdb7b95" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="1" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12"><img src="/media/13054457/undiscovered-austria-the-clock-tower-graz.jpg" alt="Undiscovered Austria Explorer Holiday" rel="879,452" /></div>
<div> </div>
<!--start left column-->
<div class="g12">
<div class="white_box_shadow">
<p>Based in Austria’s most relaxed city and second largest after Vienna, this is an opportunity to discover some of Austria’s most unique aspects in the province of Styria with all excursions included. This Explorer holiday takes you through the best of this region including wineries, castles, stud farms, breweries, farmhouse museums and on a locomotive steam train ride through stunning countryside scenery.</p>
</div>
<div class="white_box_shadow">
<h2>Itinerary</h2>
<p> </p>
<p><strong>DAY 1 SATURDAY</strong></p>
<p>Fly to Vienna from London Gatwick or Manchester and meet your Inghams Explorer Guide on arrival. Guests arriving on the London Gatwick flight will enjoy a round-trip tour of Vienna including free time to see the city before collecting the Manchester flight guests and transferring to your hotel in Graz.</p>
<p><strong>DAY 2 SUNDAY </strong></p>
<p>Schilcher is a wine produced solely in the Austrian region of Western Styria. After breakfast enjoy a scenic tour through the Schilcher wine region and visit a pumpkin seed oil factory where we will discover how it is made and taste this delicious product. Afterwards, we will continue to the Schneeberger Buschenschank winery on a mountain with lovely views. Enjoy a guided tour around the luscious vineyards and try different wines from the region.</p>
<p><strong>DAY 3 MONDAY</strong></p>
<p>Staying local today in Graz, this morning we will learn about the wonders of this relaxed city, the capital of Styria and second largest city in Austria after Vienna. Join your guide for a tour of the city and see the major sights including the Clock Tower on the Schlossberg, the amazing Landhaus and Renaissance style courtyard, as well as the Opera House. In the afternoon, explore at your leisure.</p>
<p><strong>DAY 4 TUESDAY</strong></p>
<p>We start today with a visit to the famous Piber Lipizzaner stud farm, home of the famous Lipizzaner horses at the Spanish Riding School in Vienna. During the guided tour we'll learn all about the day to day running of the farm. Railway enthusiasts will enjoy the afternoon ride on the Stainzer Flascherlzug steam train which runs through the beautiful countryside just south of Graz from Stainz to Preding.</p>
<p><strong>DAY 5 WEDNESDAY</strong></p>
<p>Start the day with a trip to the Stübing Open Air Museum, just a few kilometres north of Graz, and enjoy a feeling of going back in time with historical buildings from six centuries of different styles of rural architecture set within a lovely park. Romantic watermills, herb gardens and farm houses characterise this landscape. After this visit, we head to the Grösser Brewery and museum where we will enjoy a guided tour followed by beer tasting.</p>
<p><strong>DAY 6 THURSDAY</strong></p>
<p>At leisure in Graz. Relax at the hotel or take a 15 minute ride on public transport into Graz to explore at your own pace.</p>
<p><strong>DAY 7 FRIDAY</strong></p>
<p>Our destination today is the town of Riegersburg to the east of Graz and the magnificent Riegersburg Castle which is owned by the Lichtenstein Royal family and set on a dormant (we hope!) volcano. The castle is reached by a lift and we'll have plenty of time to explore the castle, its courtyard and the museum. Cameras essential as the views from here are superb. On our return to Graz we'll stop at the Zotter chocolate factory where it will be difficult not to sample the treats on offer!</p>
<p><strong>DAY 8 SATURDAY</strong></p>
<p>Morning transfer to Vienna airport for your return flight.</p>
</div>
<div>
<h2>Included Highlights</h2>
<ul>
<li>All tours and entrance fees included</li>
<li>Services of Explorer Guide.</li>
<li>7 nights at the 4 star Hotel Ramada in Graz.</li>
<li>Half board included throughout the tour.</li>
<li>Pumpkin seed oil factory guided tour and tasting.</li>
<li>Schneeberger winery visit, guided tour and wine tasting.</li>
<li>Half day city tour of Graz.</li>
<li>Lipizzaner stud farm of Piber visit and guided tour.</li>
<li>Steam Train ride from Stainz to Preding.</li>
<li>Stübing Open Air Museum entrance.</li>
<li>Gösser Brewery and museum guided tour and beer tasting</li>
<li>Riegersburg Castle entrance and lift return ride</li>
<li>Zotter Chocolate factory entrance and tasting</li>
</ul>
<p>Please note that we act at all times as selling agent for the suppliers of activities &amp; excursions. See our <a href="https://www.inghams.co.uk/legal/terms-conditions">terms &amp; conditions</a>.</p>
</div>
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th colspan="6" scope="col">Undiscovered Austria</th>
</tr>
<tr>
<th colspan="6" scope="col">Code: ATGR0201</th>
</tr>
<tr>
<th scope="col">Prices</th>
<th>21 May</th>
<th>4 Jun</th>
<th>25 Jun</th>
<th>3 Sep</th>
<th>10 Sep</th>
</tr>
<tr>
<td>7 nights from</td>
<td align="center"><strong>£1,049</strong></td>
<td align="center"><strong>£1,069</strong></td>
<td align="center"><strong>£1,079</strong></td>
<td align="center"><strong>£1,069</strong></td>
<td align="center"><strong>£1,059</strong></td>
</tr>
<tr>
<td>Supplements per person per night</td>
<td colspan="6">
<p style="font-size: 80%;">PB or PS WC <strong>incl.</strong>  <span></span>Single:<strong>£25</strong></p>
</td>
</tr>
<tr>
<td colspan="6">
<p style="font-size: 80%;">PB = Bath, PS = Shower, Balc = Balcony, Sgl = Single, incl = included</p>
</td>
</tr>
<tr>
<td colspan="6">
<p style="font-size: 80%;">Price includes flights, resort transfers, accommodation and services of Inghams Rep. Flight supplements may apply. Prices and supplements are correct at time of going on the site and may vary up or down at time of booking.</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div> </div>
<div class="white_box_shadow">
<h2>Please call our reservations team on 01483 79 11 11 to book this holiday</h2>
<p><strong>General Terms and Conditions:</strong> All prices, offers and availability are correct at time of publishing, are subject to change &amp; availability and can be withdrawn at any time. All offers are for 7 nights unless otherwise stated. All prices are per person based on maximum occupancy of a room or apartment and on the lowest priced departure point, supplements for other flights/airports may apply. The late booking fee of £30 per person applies to late bookings made within 14 days of departure.</p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/85812e8a1d0149a58c8737f14c5c36ef]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Join our Undiscovered Austria Explorer Holiday for an unforgettable holiday! Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Undiscovered Austria - Explorer Holidays Summer 2016 | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Based in Austria’s most relaxed city and second largest after Vienna, this is an opportunity to discover some of Austria’s most unique aspects in the province of Styria with all excursions included.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/bdb2f1433969463e943a5635d5443013]]></thumbnail>
  <title><![CDATA[Undiscovered Austria]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/c9325d9a77054a3c8190f3ab0da21760]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>