<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="0be3e4f2-561b-46fd-af13-70c0ac61c467" id="37492" nodeName="Hotel au Coeur du Village" isDoc="" updated="2024-11-28T09:19:05.2000000Z" parentGUID="597c2d8b-9335-4bef-8c18-7c100894c3f9" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>The Hotel au Coeur du Village has adapted rooms available on request. Please give our reservations team a call to book these rooms, so we can ensure this is the right hotel for you.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "e222489d-3a4e-4a6e-9a16-9ade4ceaad96",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early Booking Offer Winter 20/21: Save up to £360 per couple (ends Sept)",
    "addedValueStart": "2019-12-17T13:06:44",
    "addedValueEnd": "2020-04-30T13:06:50",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/b798b15802c643f3815a421104a2e80c,umb://media/dc9283fe44304205a4b5e31d5e3ff3e3,umb://media/2769b382df3c4e0285eebef9d203bb64,umb://media/0ece53d04b1842cd88f432c0ea2e13be,umb://media/4a49ddf9b754452385510d71d1337129,umb://media/494a4dc0a7784b9d9f7d3a9c4a7318a3,umb://media/312b7b82edae432a91c43ee3b8b15242,umb://media/510f52ff03f640b5ad00aab60bdef76f,umb://media/403b6e0067fe4f8ba7eb26f0d93ceb7c,umb://media/8a4abfa5015c4434ac82fb80aa5ec404,umb://media/5bd4ec7b727d4ed2bed3ac950c72c733,umb://media/d780f0aef8254306b35ab5960fa82cdf,umb://media/f9dea93b192e435bbe43a7d2a54c5e6f]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel au Coeur du Village is offered on a half board basis, this includes breakfast and an evening meal. Drinks are not included. </p>
<p>Fuel up for a day skiing at the extensive breakfast buffet which has a variety of sweet and savoury options. Choose from a variety of pastries, yogurts, brioches, fresh fruit or cold cuts, fresh bread and eggs. Additional hot options are also available during breakfast which may have an additional charge. </p>
<p>Half board meals will be taken at the 'Le Coeur' restaurant - a charming and modern mountain restaurant. <span>Each evening you can enjoy a three</span> course <span>à</span> la carte evening meal with choice of menu and daily specials (there is an additional charge for certain dishes). The menu is created around local and fresh products, and the chefs pride themselves on the gourmet offering including a starter, main and dessert.</p>
<p>'Le Cinq' is a cosy and gourmet restaurant which allows you to taste seasonal and traditional dishes which are influenced by international flavours. The restaurant is only open throughout the winter season. Reserve your table locally, additional charges apply.</p>
<div>
<div>Christmas and New Years galas are included. </div>
<span><br /></span>Earlier meal times for children are available from 7pm with a designated children's menu.</div>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel au Coeur du Village is a contemporary five star luxury hotel situated in the charming resort of <a data-udi="umb://document/597c2d8b93354bef8c187c100894c3f9" href="/{localLink:umb://document/597c2d8b93354bef8c187c100894c3f9}" title="La Clusaz">La Clusaz</a>. Everything has been thought out to provide guests with the best experience, the staff aim to provide all guests with a personalised experience - so you will want to return year after year. </p>
<h2>Excellent location</h2>
<p>The hotel has an excellent location in resort with direct access to the ski lifts and ski school meeting point, you can even ski back to the hotel at the end of the day.  The rustic resort centre is just a short walk away from the hotel, offering a range of shops, bars and restaurants serving delicious Savoyard cuisine. </p>
<h2>Restaurants and bars</h2>
<p>Start the day off with a delicious continental breakfast buffet before heading out onto the mountain and return to an appetizing three course evening meal, which is often a <span>contemporary take on the traditional cuisine. The bar is also open for lunch and afternoon tea, so if you are having a break from skiing you can enjoy a variety of snacks and light meals. </span>After a long day skiing, relax in the hotel's lounge area with fire place with a cocktail or glass of wine, it is the perfect place to unwind.</p>
<h2>Soothing spa and relaxation</h2>
<p>Guests have fully use of the swimming pool and wellness area. Access to children is restricted to specific hours, so it is a tranquil experience for the older guests. Soothe your aches and pains in the relaxation pool with current jets, swan neck fountains, and hydro jets . The rock crystal steam room with a starlit ceiling and the wooden sauna with chromotherapy lights complete the spa circuit. There is also a sun deck where you can kick back and watch the world go by from the wide bay windows which face out onto the the snowy peaks. Massages and treatments are also available for a local fee, allowing you to completely rest and decompress.</p>
<p>The rooms are stylishly decorated with lavish extras, including fur rugs and mountain décor.  The suites also include a living room and all have a balcony with picturesque views of the village and the slopes, so you can marvel at your surroundings from the comfort of your room.</p>
<div></div>
<div>
<div></div>
 </div>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Halfboard restaurant at  'Le Coeur' </li>
<li>Gourmet restaurant 'Le Cinq' (pay locally)</li>
<li>Bar and lounge with fireplace</li>
<li>Cigar room</li>
<li>Spa with pool, sauna and steam room</li>
<li>Sun terrace with mountain views</li>
<li>Heated ski equipment storage room</li>
<li>Free Wi-Fi</li>
<li>Relaxation room</li>
<li>Concierge service</li>
<li>Room service ( pay locally)</li>
<li>Massage and beauty treatments available (pay locally)</li>
<li>Underground parking (pay locally)</li>
<li>Electric car charging points</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "1232334f-349e-4f62-a355-dfbfbb3daa00",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"09fd4e81-b709-4ec0-ac33-0cf7d1702e5f\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.9047]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Offered on a half board basis, this contemporary luxury hotel is situated in the heart of the La Clusaz village. You can ski to the door, with direct access to the ski lifts and ski school meeting point. Relax after a long day's skiing in the hotel's spa facilities including an indoor swimming pool, whirlpool, sauna and steam room. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b798b15802c643f3815a421104a2e80c]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Resort tax: €3.30 per person, per night (under 18s free of charge) paid locally</p>]]></localFees>
  <locationDescription><![CDATA[<p><strong>Perfect location in the Centre of La Clusaz</strong></p>
<ul>
<li>Ski lifts opposite the hotel</li>
<li>Ski school meeting point is opposite the hotel</li>
<li>Bus stop is adjacent</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.4227]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[57 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Luxury awaits at Hotel Au Coeur du Village with spa access and mountain views in central La Clusaz. Book your ski holiday with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Au Coeur du Village, La Clusaz | Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>60</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[5]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel au Coeur du Village, La Clusaz]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCL0105]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in: 4pm</li>
<li>Check out: 12pm</li>
<li>24 hour reception </li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>2</restaurants>
  <roomsDescription><![CDATA[<p><strong>Junior Rooms</strong> are around 20m² and sleep one to two people with a queen-sized bed and have an en-suite bathroom with multi-jet shower and separate WC.</p>
<p><strong>Privilege Rooms</strong> are around 25m², sleeping two people with a king sized bed and have a bathtub with shower attachment in the bathroom. These rooms also benefit from having a cosy snug area or a balcony with views of the surrounding mountains.</p>
<p><strong>Privilege Suites</strong> sleep two to four people and are around 48m². The suites are made up as a double room with a king size bed with a separate en-suite bathroom and a balcony overlooking the resort and/or surrounding mountains. The second area is a spacious lounge area which can be made up as a single bed or a guest bed, suitable for one adult or two children under 12 years and also has a separate bathroom with a shower. </p>
<p><strong>Family Suites</strong> sleep three to four people and are around 60m². These suites are made up of two double bedrooms with a king size bed and have an en-suite featuring a bath or walk shower, these rooms also have a balcony. Can be duplex. The Family Suite is on request, please give our reservations team a call to book this room type.</p>
<p> </p>
<p><strong>Room facilities</strong></p>
<ul>
<li>Double beds that can be separated (please specify preference when booking)</li>
<li>Bath with shower head attachment or shower room</li>
<li>WC</li>
<li>Free Wi-Fi</li>
<li>Nespresso coffee machine</li>
<li>Mini-bar</li>
<li>Safe</li>
<li>TV with English speaking channels</li>
<li>iPod docking station</li>
<li>Radio</li>
<li>Telephone</li>
<li>Hair dryer</li>
<li>Bath robes</li>
<li>Slippers</li>
<li>Towels</li>
<li>Desk</li>
<li>Toiletries</li>
<li>Daily house keeping is included</li>
<li>Cots are available on request</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel au Coeur du Village can cater for a range of dietary requirements (vegetarian, gluten free and dairy free) on request. Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1913418]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>