<?xml version="1.0" encoding="utf-8"?>
<countrySkiPage guid="336a3233-74f0-46cf-a059-1948e538170e" id="24338" nodeName="Norway" isDoc="" updated="2024-11-27T15:16:41.7030000Z" parentGUID="6a8b1573-3cdd-470b-b0d8-66187156d07d" nodeTypeAlias="countrySkiPage" templateAlias="CountrySkiPageResponsive" sortOrder="5" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/30bccdf7e7cc4cd5ab9ff6600587a258,umb://media/72aa9c1beae54280b103f23bde0fa076,umb://media/c4aa2d49f2e94af3b3742e1172147098,umb://media/cfae24027717440689e30e086346f9b5,umb://media/f89db96a2dc943d8aaabac4ba5590e14,umb://media/50b5a46b1c494d4790afe2ca7881850c,umb://media/50ae758b4d6741908d89dc506833d56d,umb://media/2b9f7758566247ee83579e7c6e5fff72,umb://media/34ccc7af09e1471b9475f11f21a9737f,umb://media/fcccfcdf0db94876a6c5aeeb7d24f8c3,umb://media/566d865b823c4bbcbe0ad0d81faa9a19,umb://media/90a8f4b78f3845df95d69be009637655,umb://media/9b5cb733037f49aeb56549420721a2d0,umb://media/c3ef8b1554ac49c5be9b9ba948371a91,umb://media/cbbd6003d69b461bb3727b9f45a41024,umb://media/d51bc3ee2df44d62ad95707264c20025]]></carouselMediaPicker>
  <contentCarousel></contentCarousel>
  <contentCarouselImage><![CDATA[umb://media/1ff0cd2c0bb54035846204917bfc4ff9]]></contentCarouselImage>
  <countryPicker><![CDATA[umb://document/33f1e87ee2c245cd8a2ecec753ce8df9]]></countryPicker>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/33f1e87ee2c245cd8a2ecec753ce8df9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Northern Norway is a land of dramatic scenery, with the unique contrast of stunning fjord coastline, mountainous landscapes and snow-covered wilderness inland. Norway is where skiing was invented, so you'll find a rich heritage of the winter sport in various forms - choose from downhill skiing, cross country skiing or make the most of the off-piste powder.  It is renowned for its pristine snow conditions throughout the winter season, however there is lots to do off of the slopes too. The area is located directly under the Aurora Borealis belt, if you're lucky enough you may be able to spot the magical Northern Lights. </p>
<h2>Where to ski in Norway</h2>
<p>Skiing in Norway is a dream come true for winter sports enthusiasts, offering some of the most stunning landscapes and diverse terrains in the world. From well-groomed slopes and family-friendly resorts to challenging backcountry trails, Norway has something for everyone.</p>
<h3>Snow in Norway</h3>
<p>The snow season in Norway typically begins in late October and extends through late April - so you can expect great snow for the whole season. Myrkdalen is known to be one of Europe's most snow-sure resorts, and despite its lower elevation, neighbouring resort Voss is not far behind. Due to it's location in Northern Norway, the snow coverage in Narvik is also fantastic and you're guaranteed cold temperatures and fresh, powdery snow - so no matter where you choose to go out of our 3 resorts, you're in for a treat.</p>
<h3>Best for beginners </h3>
<p><a data-udi="umb://document/f7020b15bdbb4234b4cdfe8de5c31857" href="/{localLink:umb://document/f7020b15bdbb4234b4cdfe8de5c31857}" title="Voss" data-anchor="#">Voss</a> is a great place for complete beginners, with a free area serviced by a magic carpet in Bavallen, and good progression opportunities on the higher slopes. Once you have got the hang of things, make your way up the Voss Gondola and enjoy the wide and gentle green runs back down to the Bavallen area down from Hangurstoppen area. There are also three zones dedicated to children - These include Grebbesbakken, Badnakrokje and Trollbakken. Skiing in Grebbesbakken and Trollbakken is free!</p>
<h3>Best for advanced</h3>
<p>You'll find plenty of challenging trails designed to get your adrenaline pumping in <a data-udi="umb://document/229b219729a54801a3d3e6affe22b40b" href="/{localLink:umb://document/229b219729a54801a3d3e6affe22b40b}" title="Narvik" data-anchor="#">Narvik</a> - <span>the black diamond run, Andrebakken, situated alongside the Heis 2 t-bar lift is one we'd definitely recommend. </span>Narvikfjellet also boasts one of Scandinavia’s biggest vertical drops and has fantastic terrain for off-piste skiing. The ascent begins just beyond the heart of the city, taking you up to 1,006 meters above sea level in just 10 minutes. Once you reach the top of Narvikfjellet, the views are stunning, with slopes dropping almost to the fjord below.</p>
<h3>Best for après </h3>
<p><a data-udi="umb://document/7a78ef87c3db4761821d6d628e884f3b" href="/{localLink:umb://document/7a78ef87c3db4761821d6d628e884f3b}" title="Myrkdalen" data-anchor="#">Myrkdalen</a> offers a laid back après and nightlife scene. Pudder After-Ski is the best spot to enjoy a drink and catch up with family and friends. Throughout the day, you'll be able to grab a quick bite to eat, however once the slopes shut a local DJ creates an enjoyable after-ski atmosphere. <span>If you want to keep the party going, Pudder reopens as a nightclub later in the evening. </span></p>
<h2>Why book a ski holiday in Norway with Inghams?</h2>
<ul>
<li>90 years of experience and knowledge - you can trust us to deliver your perfect holiday.</li>
<li>With you at every step - before during and after your holiday and we have our destination experts.</li>
<li>Flights, transfers and accommodation - included in all of our holidays.</li>
</ul>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <facts><![CDATA[<p><strong>Currency:</strong> Norwegian Krone</p>
<p><strong>No. of airports:</strong> 2 - Bergen and <span>Evenes</span></p>
<p><strong>Fly from:</strong> Gatwick</p>]]></facts>
  <fAQsWidget><![CDATA[[
  {
    "key": "23e795f1-bb0c-4b0a-a177-8e0bbb762e5f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f1cfb4ad-43fa-4ed0-998d-77f053ed0f89\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <latestDeals></latestDeals>
  <listingDescription><![CDATA[<p>Experience the wonders of Norway this winter. From towering peaks to rolling hills and serene fjords, there’s a slope for every type of skier/boarder, whether you're a beginner or an expert. Norway’s ski resorts, like those in <a data-udi="umb://document/229b219729a54801a3d3e6affe22b40b" href="/{localLink:umb://document/229b219729a54801a3d3e6affe22b40b}" title="Narvik" data-anchor="#">Narvik</a> and <a data-udi="umb://document/f7020b15bdbb4234b4cdfe8de5c31857" href="/{localLink:umb://document/f7020b15bdbb4234b4cdfe8de5c31857}" title="Voss" data-anchor="#">Voss</a>, are known for their excellent snow conditions and breathtaking views. Beyond the traditional downhill skiing, Norway is also a haven for cross-country skiing and arctic activities, making it a destination for all outdoor lovers.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/c4aa2d49f2e94af3b3742e1172147098]]></listingImage>
  <locationMap></locationMap>
  <metaDescription><![CDATA[Ski holidays in Norway. Enjoy fantastic snow, powder skiing and arctic excursions. Book your skiing and snowboarding holidays with Inghams today!]]></metaDescription>
  <metaTitle><![CDATA[Skiing in Norway | Norwegian Ski Resorts | Ski Holidays 2024/25 | Inghams]]></metaTitle>
  <new>0</new>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Norway ski holidays & resorts]]></pageTitle>
  <regionListingTitle><![CDATA[Northern Fjord Norway]]></regionListingTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSearchPanel>1</showSearchPanel>
  <tagline><![CDATA[Experience the wonders of Norway this winter]]></tagline>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <video></video>
</countrySkiPage>