<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="722a6772-bcc0-47e7-996e-36d06b532ae8" id="29215" nodeName="Grand Hotel Francia &amp; Quirinale" isDoc="" updated="2024-05-21T11:06:43.4100000Z" parentGUID="ddef5c7c-9bdb-4757-92ae-27614a6308b8" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Some rooms on the second floor have step access and therefore may not be suitable for guests with accessibility requirements.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "947e168e-af54-42a5-a84d-74ffb5ec3800",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free nights available for summer 24 (min 7 night stay)",
    "addedValueStart": "2022-09-06T16:29:02",
    "addedValueEnd": "2024-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "032e1dd6-b01a-485b-b9fb-a0119ed14b85",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Hotel offer available for arrivals between 04-15 Aug 24 (book by 31 May)",
    "addedValueStart": "2024-04-29T10:40:50",
    "addedValueEnd": "2024-05-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "8cf52599-39c4-479e-a085-20b7b3e48e73",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 24 (ends 30 Apr 24)",
    "addedValueStart": "2022-09-06T16:28:36",
    "addedValueEnd": "2024-04-30T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "96587797-9b30-42e1-b98f-50c88b383e4b",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Honeymoon Offer: Free bottle of prosecco or fruit",
    "addedValueStart": "2019-05-20T12:54:17",
    "addedValueEnd": "2024-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/c6bae4ecb70848cc952ba229b3f0c4dd,umb://media/99017577303e4fd5ba2fc629d0b76169,umb://media/e1cfb1566d084d998315f79fd138226e,umb://media/70f758df2899444fbfb6f51096d534fd,umb://media/018c28416da5416da65fba89d1367e0b,umb://media/e4f93b04c4994a5c9f2d8e8913952611,umb://media/51ebe14679914983ad592119e2220e68,umb://media/3c44cb99488642f798f5cc14f856adac,umb://media/88263f3eb7244e4197f77d5ee724a4fc,umb://media/b4f1664786d24dd1b3644eeb211975dd,umb://media/e3e75063c0bd4a34b01c9ac15e2d6e00,umb://media/9028bcd4b532465986f6e4113de51462,umb://media/d1fce00d1446455b85154325231bfecb,umb://media/a7cfe29ba427412fafcc4d9d6ba16295,umb://media/659bd740976b4a2bbe2828f11968f4b4]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Each morning there's a good breakfast in the main restaurant and there's plenty of choice for your four course evening meal. Every dish uses local produce that's <span>personally selected by the hotel owner and the kitchen staff in order to ensure quality.</span></p>
<p><strong>The Central Restaurant </strong>is open exclusively for hotel guests and where your breakfast and dinner will be served. They have a zero-kilometre ethos where possible, so most of the food is organic and local.</p>
<p><strong>Bar Lo Scudo D'Archille </strong>is named after the beautiful Flemish tapestry that hangs on one of the walls and is a great spot for an aperitivo. Hotel guests can book to have light lunches here and in the evening it opens up to the public serving dishes from their a la carte menu (payable locally). </p>
<p><strong>The Ginori Room </strong>serves traditional Tuscan dishes with a modern twist.  The wine list is extensive - the<span> sommelier, Giuseppe Marchi, will be happy to help with recommendations. The Ginori Room</span> is pre-bookable and payable locally.</p>
<p><strong>The Pool Bar </strong>serves snacks, salads, light lunches and cocktails throughout the Summer.</p>
<p>Early meals for children are available on request. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Francia &amp; Quirinale is one of our favourite hotels in <a data-udi="umb://document/ddef5c7c9bdb475792ae27614a6308b8" href="/{localLink:umb://document/ddef5c7c9bdb475792ae27614a6308b8}" title="Northern Tuscany &amp; Montecatini">Montecatini</a>. It’s got a lovely modern style with inviting public areas. The lounge has comfy sofas and an elegant décor with well-chosen antiques – we love chilling here with a drink before dinner. The rooms all have parquet floors and large windows that let plenty of light in. The staff are great too and the family who’ve run this hotel for four generations know how to make every guest feel special.</p>
<h2>Relaxing in the pool and spa</h2>
<p>You’ll be well located here to explore Montecatini and further afield. The hotel’s just a short walk from the centre of town and close to the thermal spas – a must do while you’re here. The train station is within walking distance and there are regular trains to <a data-udi="umb://document/8b79e45930f145f6b156a9152415fa9b" href="/{localLink:umb://document/8b79e45930f145f6b156a9152415fa9b}" title="Florence">Florence</a>, Lucca and Pisa. When you need to relax, head to the hotel's pool. It’s lovely and peaceful with plenty of loungers for everyone. The pool bar serves drinks and light lunches so you won’t need to move if you don’t want to.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Outdoor pool with sunbeds and umbrellas (open May- October)</li>
<li>Pool towels (payable locally)</li>
<li><span>Terrace</span></li>
<li><span>E-bike rental (payable locally)</span></li>
<li>Free Wi-Fi</li>
<li><span>Parking (payable locally, approx. €10 per day)</span><span></span><br /><span></span></li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "c781a0d6-63e6-417e-b5a1-b933b737b691",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"33fcdfb1-5072-4125-b166-d98d47757e0b\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Grand Hotel Francia &amp; Quirinale is one of the most elegant hotels in Montecatini and is well known for its high standards of service and excellent food. The location's ideal and makes getting out and explore easy. Head to the nearby thermal spa or jump on a train to Florence, Lucca or Pisa. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/018c28416da5416da65fba89d1367e0b]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 50 mins by shared transfer from Pisa airport</li>
<li>300 metres to the centre of Montecatini</li>
<li>600 metres to Montecatini train station</li>
<li>800 metres to the nearest bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at Grand Hotel Francia & Quirinale today with Inghams. One of the most elegant hotels in Montecatini with a high standard of service.]]></metaDescription>
  <metaTitle><![CDATA[Grand Hotel Francia & Quirinale | Holidays in Montecatini | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>105</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Grand Hotel Francia & Quirinale]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITMT0111]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Rooms </strong>are around 15-18m² and sleep up to two people. Some rooms look onto the interior courtyard.</p>
<p><strong>Deluxe Rooms</strong> are around 18m² and sleep up to two people. They have views of the inner courtyard or the quiet street below.</p>
<p><strong>Premium Rooms </strong>are slightly larger at around 18-20m² and sleep up to two people. They have a French balcony that overlooks the interior courtyard or street. </p>
<p><strong>Junior Suites </strong>are around 25m² and sleep up to four people. They have their own spacious lounge with a sofa and desk. The rooms have been decorated in a very high standard and have colourful tapestries and parquet flooring. They have a French balcony with a view of the pool courtyard. These rooms are available on request, please call to book.</p>
<p><strong>Suites </strong>are spacious at around 40m² and sleep up to four people. They are located on the highest floor, are light and airy with wooden floors. Numerous windows flood the rooms with light and they have views of the town. These rooms are available on request, please call to book.</p>
<p><strong>Classic &amp; Deluxe Rooms for sole use </strong>are available on request, please call to book.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air-conditioning</li>
<li>TV</li>
<li>Bath or shower</li>
<li>Hairdryer</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €1.40 per person per night is payable locally. </p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements in advance.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></specialOffers>
  <stars></stars>
  <steps>4</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[296956]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>