<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="7e6582c1-e5c6-4f7b-8eda-6315611d0f01" id="69742" nodeName="New Year Ski Deals" isDoc="" updated="2024-04-04T14:36:36.8670000Z" parentGUID="07e9f9e5-7333-4ac4-b645-ceb5e235c2bd" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Easter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aea32888d03e4f5499689d39abf2ea36",
    "externalLink": "",
    "linkName": "New Year Ski Deals",
    "linkTitle": "New Year Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>