<?xml version="1.0" encoding="utf-8"?>
<newsListingMonth guid="cc8143da-0b72-4d97-9666-75d3fbaf62a4" id="39038" nodeName="July" isDoc="" updated="2024-07-27T22:11:35.0930000Z" parentGUID="b714d559-3779-4145-9f5c-90da7da4408e" nodeTypeAlias="newsListingMonth" templateAlias="NewsListingMonth" sortOrder="2" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[All of Inghams latest news and press releases are available below from July 2019. Please contact the Inghams Press Team who will be happy to help.]]></metaDescription>
  <metaTitle><![CDATA[Press Releases from July 2019 | Inghams]]></metaTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <title></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsListingMonth>