<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="12211182-9696-43cb-bcfe-233ee505f4b8" id="74199" nodeName="The Best of Norway" isDoc="" updated="2024-11-21T10:23:23.0200000Z" parentGUID="babc2cf1-283a-49d6-be3d-e72fbdee560e" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="9" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[0]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/2fb07eadfe664c99ab7881186dbae67d,umb://media/87b8d3e8cd2b4a56929b4305687fdf38,umb://media/b38defd7b3cf40b298a08b7cbea505fd,umb://media/817affd27e9346d6b671188e66851779,umb://media/a4b33b5ac60946839230dc9d58f0f481,umb://media/faa0e68deccd462da6ba8f082b3c5e51,umb://media/314c8a6d938e48768b653b879faa9973,umb://media/8ff33f0f044340629a16e9416eccf222,umb://media/6a8fe3c297244286bd70c8b914ce3828]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<h2><span data-contrast="auto">Begin your Norwegian adventure in the town of Voss, which has a reputation for extreme sports, activities and epic views. Next, journey to Flam or Aurland where you’ll stay on the stunning shores of the Aurlandsfjord. Finally, round off your journey in the wonderful waterside city of Bergen.</span></h2>
<p>Discover the best of the Norwegian fjords on this iconic multi-centre holiday. It'll give you a taste of three different fjord towns in <a data-udi="umb://document/286d71b6bae94f84a7ac63448c015f54" href="/{localLink:umb://document/286d71b6bae94f84a7ac63448c015f54}" title="Norway" data-anchor="#">Norway</a> and the culture, activities and epic views on offer.</p>
<h3>Guide price from: £1,632pp*</h3>
<p><strong>Your multi-centre holiday options:</strong></p>
<ul>
<li>This multi-centre is a minimum of nine nights with a choice of durations in your chosen hotels</li>
<li><span data-contrast="auto">Any day arrivals</span></li>
</ul>
<p><strong>Your holiday includes:  </strong><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}"> </span></p>
<ul>
<li data-leveltext="" data-font="Symbol" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;multilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1"><span data-contrast="auto">Return flights from the UK</span></li>
<li>Return airport transfers (direct) to and from your chosen hotels</li>
<li>Transfers between your chosen destinations</li>
<li data-leveltext="" data-font="Symbol" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;multilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1"><span data-contrast="auto">Ferry from Flam or Aurland to Bergen through the Sognefjord</span></li>
</ul>
<h2 style="text-align: center;">How to Book Your Multi-Centre Holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your multi-centre holiday. Flights, hotel and transport? Consider it done. Dial in and let our experts plan your dream getaway. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call Us to Book Today</a></p>
<p><em>*Prices are based on 2 people sharing for 3 nights in a Twin Standard Railway Room at Fleischer's Hotel, Voss, 3 nights in a Twin Room with Fjord Views at Heimly Guesthouse, Flam, and 3 nights in a Twin Room at Thon Hotel Bristol Bergen, Bergen, with train/ferry transfers between resorts, departing on the 1st of June 25 from London Gatwick airport. Supplements for alternative flights, flight routes, and room types may apply. Prices are correct at the time of publishing on 21/11/24 but are subject to change based on availability. Please call for the most up-to-date pricing and availability before booking.</em></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<h2>Recommended Hotels in Flam &amp; Aurland</h2>
<h3><a data-udi="umb://document/557f2a4f36ec40ea8e5a3c74fa16141c" href="/{localLink:umb://document/557f2a4f36ec40ea8e5a3c74fa16141c}" title="Hotel Aurlandsfjord" data-anchor="#">Hotel Aurlandsfjord</a></h3>
<p><img style="width: 320px; height: 220px; float: left; margin-right: 15px;" src="/media/13107862/hotel_aurlandsfjord_flam___aurland_bedroom_copyright_-norwaysbest-1.jpg?width=500&amp;height=268.49642004773267" alt="Hotel Aurlandsfjord, Aurland" data-udi="umb://media/af5bbf6823c840eab01e74cf4c5efc06" /></p>
<p>The Hotel Aurlandsfjord is in a great location in the village of Aurland, that sits on the shores of one of the Sognefjords branches. You’re around 20 minutes by bus from Flam here so you have the best of both worlds, a peaceful base with access to Flam.</p>
<p> </p>
<p> </p>
<p> </p>
<h3><a data-udi="umb://document/b908838c0d1246a1aa1194e2525cca65" href="/{localLink:umb://document/b908838c0d1246a1aa1194e2525cca65}" title="Fretheim Hotel" data-anchor="#">Fretheim Hotel</a></h3>
<p><img style="width: 320px; height: 220px; float: left; margin-right: 15px;" src="/media/13107847/fretheim_hotel_flam___aurland_exterior_copyright_-norwaysbest-1.jpg?width=500&amp;height=268.49642004773267" alt="Fretheim Hotel, Flam" data-udi="umb://media/ff12b74046be4694a1787cf344f359fa" /></p>
<p>The Fretheim Hotel is one of the original hotels in the village of Flam. It’s got a long history and makes a great stopping point for those wanting to explore more of the Sognefjord and nearby areas.</p>
<p><img style="width: 0px; height: 0px;" src="/media/13107847/fretheim_hotel_flam___aurland_exterior_copyright_-norwaysbest-1.jpg?width=0&amp;height=0" alt="Fretheim Hotel, Flam" data-udi="umb://media/ff12b74046be4694a1787cf344f359fa" /></p>
<p> </p>
<p> </p>
<p> </p>
<p><a href="tel:01483791111" class="InfinityNumber c-btn">Call Us to Book Today</a></p>
<p><a data-udi="umb://document/18b94b9d5f4d4510a6c23eecf8a70de1" href="/{localLink:umb://document/18b94b9d5f4d4510a6c23eecf8a70de1}" title="Flam &amp; Aurland" class="c-btn c-btn--secondary c-btn c-btn--mid c-btn--secondary-hollow c-btn--wide u-text-center" data-anchor="#">View all Hotels in Flam &amp; Aurland</a></p>]]></facilityDescription>
  <familyDescription><![CDATA[<h2>Recommended Hotels in Voss &amp; Bergen</h2>
<h3><a data-udi="umb://document/d3f5962b236745d08320581985566eef" href="/{localLink:umb://document/d3f5962b236745d08320581985566eef}" title="Thon Hotel Orion" data-anchor="#">Thon Hotel Orion, Bergen</a></h3>
<p><img style="width: 320px; height: 220px; float: left; margin-right: 15px;" src="/media/13108106/thon-hotel-orion_lounge-1.jpg?width=500&amp;height=268.49642004773267" alt="Thon Hotel Orion, Bergen" data-udi="umb://media/a24d7a55854b40f7afb2b4655276ca65" /></p>
<p>With a fantastic position in the heart of Bergen’s historic centre you can easily explore the city centre, or, get into the mountains and explore the walking trails. Come back to a comfortable, cosy base.</p>
<p> </p>
<p> </p>
<p> </p>
<h3><a data-udi="umb://document/dadc1503a43d4cd79064b98f92c3f7f9" href="/{localLink:umb://document/dadc1503a43d4cd79064b98f92c3f7f9}" title="Thon Hotel Bristol Bergen" data-anchor="#">Thon Hotel Bristol, Bergen</a></h3>
<p><img style="width: 320px; height: 220px; float: left; margin-right: 15px;" src="/media/13108091/thon-hotel-bristol-bergen-standard-room-twin-1.jpg?width=500&amp;height=268.49642004773267" alt="Thon Hotel Bristol, Bergen" data-udi="umb://media/d820125e77ab43aa9a5dfcf10ec64840" /></p>
<p>The Thon Hotel Bristol in Bergen makes a great choice for anyone wanting a central location- with many of Bergen's most popular sights right on your doorstep.</p>
<p> </p>
<p> </p>
<p> </p>
<h3><a data-udi="umb://document/63fdf14c11cc4e13bb9c80029763bf09" href="/{localLink:umb://document/63fdf14c11cc4e13bb9c80029763bf09}" title="Fleischers Hotel" data-anchor="#">Fleischers Hotel, Voss</a></h3>
<p><img style="width: 320px; height: 220px; float: left; margin-right: 15px;" src="/media/13107921/fleischers_hotel_voss_hotel_exterior-1.jpg?width=500&amp;height=268.49642004773267" alt="Fleischers Hotel, Voss" data-udi="umb://media/b86c0ffbddc04bd6bf111905ae082e1e" /></p>
<p>The Fleischers Hotel in Voss offers a fantastic lakeside location and is just across from the local train station. With its grand building and traditional décor as well as great facilities including and indoor swimming pool, it makes for a comfortable stay.</p>
<p> </p>
<p> </p>
<p> </p>
<h3><a data-udi="umb://document/c79f1cba7d6c4332bc4418e75ca6f72d" href="/{localLink:umb://document/c79f1cba7d6c4332bc4418e75ca6f72d}" title="Park Hotel" data-anchor="#">Park Hotel, Voss</a></h3>
<p>Set in its own beautiful lakeside grounds close to the town centre, the impressive Park Hotel enjoys a deserved reputation for its friendly service, superb wine cellar and elegant Elysee restaurant. The piano bar and lakeview lounges are comfortable and cosy places to relax.</p>
<p><a href="tel:01483791111" class="InfinityNumber c-btn">Call Us to Book Today</a></p>
<p><a data-udi="umb://document/3bff04d1881648b5a6163cdd11cfb562" href="/{localLink:umb://document/3bff04d1881648b5a6163cdd11cfb562}" title="Voss" class="c-btn c-btn--secondary c-btn c-btn--mid c-btn--secondary-hollow c-btn--wide u-text-center" data-anchor="#">View all Hotels in Voss</a></p>
<p><a data-udi="umb://document/d517b2c21fa94eb096a3bcb6b7e933c5" href="/{localLink:umb://document/d517b2c21fa94eb096a3bcb6b7e933c5}" title="Bergen" class="c-btn c-btn--secondary c-btn c-btn--mid c-btn--secondary-hollow c-btn--wide u-text-center" data-anchor="#">View all Hotels in Bergen</a></p>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "9b806754-fed8-4fa9-93b3-4b549d824ab3",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"39c0a5d7-8e91-4e35-992b-0a2fb1aea943\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>1</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[0]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Experience the best of the Norwegian Fjords on our Best of Norway multi-centre holiday. From extreme sports and epic views in Voss, to relaxing on the shores of the Aurlandsfjord in Flam or Aurland and rounding off your trip in the cultural haven of Bergen.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8ff33f0f044340629a16e9416eccf222]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<p><span class="TextRun SCXW65779519 BCX8" data-contrast="auto"><span class="NormalTextRun SCXW65779519 BCX8">A multi-centre holiday lets you mix and match hotels, lengths of stay, and exciting activities to create your ideal trip. Enjoy </span><span class="NormalTextRun SCXW65779519 BCX8">plenty of activities and day trips on offer in Voss</span><span class="NormalTextRun SCXW65779519 BCX8"> whilst nature and scenery are the main attractions in Flam and </span><span class="NormalTextRun SCXW65779519 BCX8">Aurland</span><span class="NormalTextRun SCXW65779519 BCX8"> which sit on the shores of the </span><span class="NormalTextRun SCXW65779519 BCX8">Aurlandsfjord</span><span class="NormalTextRun SCXW65779519 BCX8">. Finally, rounding off your trip in the historic town of Bergen.</span></span></p>
<p><strong>Begin your adventure in Voss</strong></p>
<p><span data-contrast="auto">Voss sits sandwiched between two lakes and is great for those wanting to have plenty of options of things to do in the area. Embark on some of the walking trails around Voss or you’ll find water sports on the lakes during certain months of the year. The centre of the town has several shops and cafe’s to wander in to. Or, buy yourself some tickets to the Voss gondola for fantastic scenery and plenty of walking.</span></p>
<p><a data-udi="umb://document/3bff04d1881648b5a6163cdd11cfb562" href="/{localLink:umb://document/3bff04d1881648b5a6163cdd11cfb562}" title="Voss" class="c-btn c-btn--secondary c-btn c-btn--mid c-btn--secondary-hollow c-btn--wide u-text-center" data-anchor="#">Find Out More About Voss</a></p>
<p><strong>Unforgettable views</strong><strong> in Flam or Aurland</strong></p>
<p><span data-contrast="auto">Flam and Aurland are both villages that are just 20 minutes apart by bus and from Voss you can get there by train. They both offer fantastic scenery and a position on the Aurlandsfjord, which is one of the branches of the Sognefjord. It’s up to you which village you’d like to stay in. Flam is famous for the Flam railway which leaves from Flam and heads to Myrdal. The railway brings in a lot of day trippers as it’s a must-see destination in Norway. Aurland on the other hand, is a little more peaceful and not as well connected, but has incredible fjord views. For things to do, you’ll find plenty of walking, cycling and viewpoints, so make sure you get out and see this natural paradise.</span></p>
<p><a data-udi="umb://document/18b94b9d5f4d4510a6c23eecf8a70de1" href="/{localLink:umb://document/18b94b9d5f4d4510a6c23eecf8a70de1}" title="Flam &amp; Aurland" class="c-btn c-btn--secondary c-btn c-btn--mid c-btn--secondary-hollow c-btn--wide u-text-center" data-anchor="#">Find Out More About Flam &amp; Aurland</a></p>
<p><strong>The waterside city of Bergen </strong></p>
<p><span data-contrast="auto">Bergen is a beautiful city and it's not just about the destination but the journey to get here. From Flam or Aurland to Bergen you’ll catch the ferry– it's a long trip, around five and a half hours, but the scenery is spectacular. As you cruise down the Sognefjord you’ll gaze in awe at the one of Norway’s largest fjords. Once in Bergen you can make the most of those city sights. Head to the old town and see the colourful houses of Bryggen Wharf or get yourself a ticket and head up in the funicular to Mount Floyen for plenty of picturesque walking trails. There are seven mountains surrounding Bergen, so you won’t be short on walking routes.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}"> </span></p>
<p><a data-udi="umb://document/d517b2c21fa94eb096a3bcb6b7e933c5" href="/{localLink:umb://document/d517b2c21fa94eb096a3bcb6b7e933c5}" title="Bergen" class="c-btn c-btn--secondary c-btn c-btn--mid c-btn--secondary-hollow c-btn--wide u-text-center" data-anchor="#">Find Out More About Bergen</a></p>
<p><a href="tel:01483791111" class="InfinityNumber c-btn">Call Us to Book Today</a></p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Discover the best of Norway on this multi-centre holiday to Voss, Flam or Aurland and Bergen. Book today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[The Best of Norway Multi-centre Holiday | Holidays to Norway | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[The Best of Norway Multi-Centre Holiday]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOVO0000]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities><![CDATA[Recommended Hotels in Flam & Aurland]]></subTabTitleFacilities>
  <subTabTitleFamilyFacilities><![CDATA[Recommended Hotels in Voss & Bergen]]></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities><![CDATA[Recommended Hotels]]></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker><![CDATA[umb://document/d517b2c21fa94eb096a3bcb6b7e933c5,umb://document/18b94b9d5f4d4510a6c23eecf8a70de1,umb://document/3bff04d1881648b5a6163cdd11cfb562,umb://document/286d71b6bae94f84a7ac63448c015f54,umb://document/babc2cf1283a49d6be3de72fbdee560e]]></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>