<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="b87c59db-056b-49ba-b449-f30036cd51c7" id="22413" nodeName="Hotel Waldstätterhof" isDoc="" updated="2024-06-13T12:02:38.4700000Z" parentGUID="56819e76-6292-4ccf-91ba-a56999b5cbef" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="6" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "fc3acd4d-2850-49b4-a985-a332dc8e1678",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free room upgrades - Comfort to Premium Twin or Single to Comfort Twin for sole use  (book by 28 Feb, issued locally)",
    "addedValueStart": "2019-06-26T14:23:43",
    "addedValueEnd": "2099-02-28T23:24:45",
    "hideAddedValue": "0"
  },
  {
    "key": "de58f07f-8499-4369-b577-a28ccd363382",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night offer available (min stay 7 nights, discount automatically applied)",
    "addedValueStart": "2023-11-30T15:54:54",
    "addedValueEnd": "2024-10-31T15:55:59",
    "hideAddedValue": "0"
  },
  {
    "key": "f539f89a-5350-4a91-bda6-4e751553fe6e",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Option to exchange half board evening meal for three course lunch menu",
    "addedValueStart": "2019-08-18T09:08:17",
    "addedValueEnd": "2099-08-19T09:08:20",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/e3e1b66450584d94bdf11d3253af9702,umb://media/8a8fbc5685694aa59d62fce0b97a5892,umb://media/4452bafb2e95465f840f957e3d7916c7,umb://media/61eaf85f9e2540b483c597c9f0de8785,umb://media/a3aa277a025f4f88bed3f9087167193c,umb://media/265d503db26941a884413fe2a83de0f6,umb://media/8bc9a5bb653c4f6284067711be2a7208]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The generous daily buffet breakfast includes a range of hot and cold dishes.</p>
<p>A delicious three-course evening meal is served six days a week - enjoy classic regional and international cuisine cooked using fresh, high-quality ingredients. The hotel kitchen is closed for half board on Sundays and Swiss Bank Holidays (1st and 29th May, 8th June and 15th August).</p>
<p>The hotel offers a good choice of vegetarian and gluten-free dishes with the largest selection of gluten-free options in the city. You can choose to exchange your half board evening meal for a three-course lunch instead.</p>
<p>Please note that the restaurant has a limited alcohol license and can only serve alcohol with meals.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The grand red-brick Hotel Waldstätterhof offers a taste of classic Swiss design. It's conveniently located in central Lucerne, opposite the main train station and close to the picturesque waterfront - an ideal base for discovering pretty <a data-udi="umb://document/56819e7662924ccf91baa56999b5cbef" href="/{localLink:umb://document/56819e7662924ccf91baa56999b5cbef}" title="Lucerne">Lucerne</a> and its picturesque surroundings.</p>
<h2>Central location</h2>
<p>Explore the cobbled maze of streets in the old town and visit the iconic Spreuer Bridge, all just a short walk away. Mount Pilatus towers above the town, home to flower-filled walks and accessible by panoramic gondola. For a more sedate approach to exploration, the local ferries crisscross the lake, and the quay is just 350 metres from the hotel door - hop off the ferry in Weggis for the iconic Mount Rigi.</p>
<h2>Modern interior design</h2>
<p>Outside, the Waldstätterhof is very photogenic, with red brick design and castle-style roof, but inside it's surprisingly moder. The high-ceilinged rooms are spacious and minimalist in style, and have exceedingly comfortable beds.</p>
<p>Dining is an experience here, from a hearty breakfast to a delightful dinner, your taste buds are in for a treat. <span>Fresh, high-quality ingredients make up regional and international dishes and vegetarian and gluten free diets are very well catered for.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free Wi-Fi</li>
<li>Parking (payable locally)</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen available</li>
<li>Early meals available on request</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "57cb6135-eaca-49c2-8eeb-e770b32638e8",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"14b131bd-64c2-4a2c-b2d7-fc080b97bea1\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude><![CDATA[47.049252]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Right by the train station and near the waterfront is the grand red-brick Hotel Waldstätterhof - a great base if you're planning to explore. Rooms are modern and comfortable. Meals are excellent, with a great choice of vegetarian and gluten-free options.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e3e1b66450584d94bdf11d3253af9702]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time: approx. 1 hour by rail from Zurich airport or 3 hours by rail from Geneva airport. Your journey may involve a change of train</li>
<li>Located in the city centre</li>
<li>Opposite the train station</li>
<li>300 metres to the nearest bus stop</li>
<li>100 metres to the nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[8.309319]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[96 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Waldstätterhof in Lucerne today with Inghams and enjoy a central hotel and excellent food including for  vegetarian and gluten-free diets]]></metaDescription>
  <metaTitle><![CDATA[Hotel Waldstätterhof | Holidays in Lucerne | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>96</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3.5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Waldstätterhof]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHLC0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Comfort Rooms</strong> are around 14-18m² and sleep up to three adults (extra bed is a single sofa bed). These rooms are available for sole occupancy for a supplement.</p>
<p><strong>Premium Rooms</strong> are around 20-22m² and sleep two. These rooms also have a minibar and can also fit a cot.</p>
<p><strong>Comfort Single Rooms</strong> are around 12m².</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Air-cooling system</li>
<li>Safe</li>
<li>Bath or shower</li>
<li>Hairdryer</li>
</ul>
<p>Most also have tea &amp; coffee making facilities</p>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>3pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. CHF 4.50 per person per night is payable locally. Children aged 11 and under are exempt.</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property: <strong>No</strong></li>
<li>Adapted rooms: <strong>Yes</strong> (on request)</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free (on request)</li>
</ul>
<p>This hotel is not able to offer vegan meals.</p>
<p>Please let us know of any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[265013]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>