<?xml version="1.0" encoding="utf-8"?>
<regionSkiPage guid="342fdefe-bf5f-411d-9f97-3a480753767c" id="22388" nodeName="Milky Way Ski Area" isDoc="" updated="2024-07-03T23:41:53.6800000Z" parentGUID="996aa900-8def-4ffe-9a33-1c775cc97902" nodeTypeAlias="regionSkiPage" templateAlias="RegionSkiPageResponsive" sortOrder="1" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <area>400</area>
  <beginners><![CDATA[4]]></beginners>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/592755f650eb47d59fd780097abd94a8,umb://media/44d74b7702584bceb02e1a4f9f9686f9,umb://media/2e25bdfbbee74c5a8e693a70fa6fd89f,umb://media/b6bb73f8e1c1424b8965877e6f724a84,umb://media/8bbdb79d41d446fb87516df0200661c0,umb://media/baa062371c3749ceae508586a501c5b0,umb://media/95831e3c50cf4af2b8f3e2d4a95d536a,umb://media/b42c7185c4f5460bbb0fab7bdf22ae74,umb://media/73ba7c57877c4a1286be603159c6fe0d,umb://media/f7855b884f8345858b203a392baf3ed8,umb://media/4fa72904fa1b4b9b9b47293363ad29f2,umb://media/f68cf2c3fa8c414883967f9afb3983ee,umb://media/1131f1705fc54378ad2912211c7fc777,umb://media/cab60ea0c2e44844919238ffcb8a9dcd,umb://media/0e46c43653f04f868d56df69810fba0c]]></carouselMediaPicker>
  <contentCarousel></contentCarousel>
  <contentCarouselImage></contentCarouselImage>
  <crossCountry><![CDATA[1]]></crossCountry>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>It was the Turin Olympics in 2006 which really brought this area into focus, although <a data-udi="umb://document/a0b1d3c577424320a9af2e1af08b6887" href="/{localLink:umb://document/a0b1d3c577424320a9af2e1af08b6887}" title="Sauze d'Oulx">Sauze d'Oulx</a>, just an hour from Turin, and right at the beginning of the “Via Lattea” resort complex, had for some time been a fixture for British skiers. Hosting the Olympics meant the ski area was significantly upgraded, with major improvements in snowmaking facilities underpinning an already reliable snow record, and several new high-speed lifts were constructed to streamline circulation around the area.</p>
<h2>Ski holidays in the Milky Way Ski Area</h2>
<p>There are wonderful long runs and impressive views from the slopes on Mount Motta at 2823m, with wide open spaces above the tree-line as well as picturesque wooded runs below. The long chain of linked resorts, with 400km of pistes, gives skiers and boarders a wonderful opportunity to travel from resort to resort, ending up crossing the border with <a data-udi="umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5" href="/{localLink:umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5}" title="France">France</a> and skiing into <a data-udi="umb://document/4355b275387942f08b2416ccd4bee606" href="/{localLink:umb://document/4355b275387942f08b2416ccd4bee606}" title="Montgenevre">Montgenèvre</a> (a return trip that takes all day – but it’s a great feeling of satisfaction to ski into another country!).</p>
<p>En route you’ll pass through the Olympic hub of Sestriere-Cesana-Sansicario (which hosted all the Alpine events) – which you’ll no doubt want to explore before moving on to Claviere and into the French end of the system. <a data-udi="umb://document/50e23ca4eed84c0d9e0681e29aebcaea" href="/{localLink:umb://document/50e23ca4eed84c0d9e0681e29aebcaea}" title="Sestriere">Sestriere</a> is arguably Europe’s first purpose-built resort – it was developed specifically for winter sports by Fiat’s Giovanni Agnelli in the 1930s.</p>
<p>There’s a lot of skiing to explore in the vicinity, but if you’re continuing towards Montgenèvre, unless you are determined to have lunch in France, try stopping at Claviere just before you cross the border. It’s cheaper than France and worth the visit just for the "Bombardinos" (coffee with brandy and advocaat). Sestriere, at 2035m, is the highest resort in the Milky Way set-up. Sauze d'Oulx, with its charmingly rustic old mountain village centre, has a good variety of slopes, some attractively gladed, and an equally eclectic choice of pubs, bars and restaurants: the après-ski here is not dull!    </p>
<h2>Why book a ski holiday in the Milky Way Ski Area with Inghams?</h2>
<p>Inghams has over 85 years of experience providing winter enthusiasts their ski and snowboarding holidays - We can assure that your holiday is<span> </span><a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands">in safe hands.</a></p>
<p>We provide support on your holiday from start to finish - With access to our team in the office as well as in resort representation, your questions can be answered at any stage of your winter holiday.</p>
<p><a data-udi="umb://document/996aa9008def4ffe9a331c775cc97902" href="/{localLink:umb://document/996aa9008def4ffe9a331c775cc97902}" title="Italy">Discover more Italy ski holidays</a></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <experts><![CDATA[4]]></experts>
  <fAQsWidget><![CDATA[[
  {
    "key": "7a40f194-47be-4598-9ab0-af61b8d2fea5",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"8f7c0c0f-64bb-4f05-a823-cdfe8eb053bc\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <generalInformation></generalInformation>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <insiderTips></insiderTips>
  <intermediates><![CDATA[5]]></intermediates>
  <latestDeals></latestDeals>
  <lifts></lifts>
  <liftsBabydrags></liftsBabydrags>
  <liftsBabyLiftsInResort>0</liftsBabyLiftsInResort>
  <liftsCablecars>1</liftsCablecars>
  <liftsChairlifts>36</liftsChairlifts>
  <liftsDayshoursOfOperationOfLifts></liftsDayshoursOfOperationOfLifts>
  <liftsDraglifts>45</liftsDraglifts>
  <liftsGondolas>1</liftsGondolas>
  <liftsMagicCarpets></liftsMagicCarpets>
  <liftsNightSkiingIncludedInLiftPass>0</liftsNightSkiingIncludedInLiftPass>
  <liftsRackRailway></liftsRackRailway>
  <liftsSkiLockersAtLifts>0</liftsSkiLockersAtLifts>
  <liftsTBar></liftsTBar>
  <liftsTotalNoOfSkiLiftsLocalPass></liftsTotalNoOfSkiLiftsLocalPass>
  <liftsTotalNoOfSkiLiftsWholeAreaPass>83</liftsTotalNoOfSkiLiftsWholeAreaPass>
  <listingDescription><![CDATA[<p>The Milky Way is an international ski area linking Sestriere, Sauze d'Oulx, Sansicario, Cesana and Claviere in Italy with <a data-udi="umb://document/4355b275387942f08b2416ccd4bee606" href="/{localLink:umb://document/4355b275387942f08b2416ccd4bee606}" title="Montgenevre">Montgenèvre </a>in France. Hosting the 2006 Winter Olympics here meant that the ski area was meticulously upgraded.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/2f0c96fe4d30471cb66e2423d2f775d3]]></listingImage>
  <listingTitle></listingTitle>
  <locationMap></locationMap>
  <metaDescription><![CDATA[The Milky Way ski area in Italy offers extensive skiing over five peaks and six resorts on the Italy-France border.]]></metaDescription>
  <metaTitle><![CDATA[Milky Way Ski Holidays & Deals 2024/2025 | Milky Way Skiing | Inghams]]></metaTitle>
  <new>0</new>
  <numberOfGlaciers></numberOfGlaciers>
  <numberOfMountainRestaurants></numberOfMountainRestaurants>
  <numberOfSnowCannons></numberOfSnowCannons>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Milky Way Ski Area]]></pageTitle>
  <percentageOfResortCoveredBySnowCannons>60</percentageOfResortCoveredBySnowCannons>
  <promotionItems></promotionItems>
  <regionTagline><![CDATA[Ski resorts in the the Milky Way ski area]]></regionTagline>
  <resortAltitude></resortAltitude>
  <resortSkiBusAvailable>1</resortSkiBusAvailable>
  <runsAdditionalInformationOnCrossCountryTrails></runsAdditionalInformationOnCrossCountryTrails>
  <runsAdditionalInformationOnNightSki></runsAdditionalInformationOnNightSki>
  <runsFurtherInfoOnNumberOfRuns></runsFurtherInfoOnNumberOfRuns>
  <runsLengthOfBlack></runsLengthOfBlack>
  <runsLengthOfBlue></runsLengthOfBlue>
  <runsLengthOfGreen></runsLengthOfGreen>
  <runsLengthOfRed></runsLengthOfRed>
  <runsLongestRun>7</runsLongestRun>
  <runsNoOfBlack>40</runsNoOfBlack>
  <runsNoOfBlue>52</runsNoOfBlue>
  <runsNoOfFloodlitRuns></runsNoOfFloodlitRuns>
  <runsNoOfGreen></runsNoOfGreen>
  <runsNoOfRed>111</runsNoOfRed>
  <runsPosibilitiesOfOffPisteSkiing>0</runsPosibilitiesOfOffPisteSkiing>
  <runsPositionOfNurserySlopes></runsPositionOfNurserySlopes>
  <runsRestrictionsAffectingOffPisteSkiing></runsRestrictionsAffectingOffPisteSkiing>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showActivities>0</showActivities>
  <showDealsPanel>0</showDealsPanel>
  <showFAQs>0</showFAQs>
  <showGeneralInformation>1</showGeneralInformation>
  <showSearchPanel>1</showSearchPanel>
  <showSkiing>1</showSkiing>
  <showSpecialOfferItems>0</showSpecialOfferItems>
  <showThingsToDo>0</showThingsToDo>
  <skiBusInformation></skiBusInformation>
  <skiingAltitudeFrom></skiingAltitudeFrom>
  <skiingAltitudeTo></skiingAltitudeTo>
  <slopeDirection><![CDATA[0,2,4,6]]></slopeDirection>
  <snowboarding><![CDATA[5]]></snowboarding>
  <snowparkAdditionalInformation></snowparkAdditionalInformation>
  <specialOfferItems></specialOfferItems>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tagline><![CDATA[Extensive skiing over five peaks and six resorts on the Italy-France border]]></tagline>
  <thingsToDo></thingsToDo>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <travelCard></travelCard>
  <travelInformation><![CDATA[<p><strong>Flights depart</strong> Sunday</p>
<p><strong>To Turin</strong></p>
<p><strong>From</strong></p>
<p>Gatwick</p>
<p>Heathrow</p>
<p>Birmingham</p>
<p>Manchester</p>
<p>Edinburgh</p>
<p>Transfer 1½hrs by coach</p>
<p>Flight supplements may apply.<br />Private transfers and self-drive are available.</p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <weSay><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_WeSayWidget",
    "review": "<p>Recreate the Women's Downhill from the Turin 2006 Winter Olympics by linking the three black runs from the top of Mt Fraiteve down to Sansicario.</p>",
    "author": ""
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_WeSayWidget",
    "review": "<p>For good music and a good time in Sauze d'Oulx hit one of Miravallino's live music nights.</p>",
    "author": ""
  },
  {
    "name": "Item 3",
    "ncContentTypeAlias": "nC_WeSayWidget",
    "review": "<p>Want an audience for your slope style? The Sestriere snowpark is situated just above resort, overlooked by many of the bars.</p>",
    "author": ""
  }
]]]></weSay>
  <winterWalking></winterWalking>
  <youSay><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_YouSayWidget",
    "review": "<p>A great resort – good and varied skiing.</p>",
    "author": "Sauze d'Oulx, Andrew T"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_YouSayWidget",
    "review": "<p>Skiing area/runs and snow conditions excellent for me as an intermediate skier.</p>",
    "author": "Sestriere, Roderick S"
  },
  {
    "name": "Item 3",
    "ncContentTypeAlias": "nC_YouSayWidget",
    "review": "<p>Amazing holiday. Great price. Great hotel. Great people. Great food.</p>",
    "author": "Sauze d'Oulx, Keshav P"
  }
]]]></youSay>
  <youTubeVideoReference></youTubeVideoReference>
</regionSkiPage>