<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="60c55d18-2424-462f-b305-c07ccea6ec1b" id="54448" nodeName="Residence Le Chalet du Vallon" isDoc="" updated="2024-04-22T11:12:08.7300000Z" parentGUID="c155a297-73fd-4761-8996-3f3b4e3b57e4" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="14" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "175cb064-ac41-4dff-bb74-43a682226018",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Oct 23)",
    "addedValueStart": "2023-06-20T16:59:54",
    "addedValueEnd": "2023-10-31T23:00:00",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[6]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/9061e23e02704c5caf23ec66576b65f1,umb://media/71a2fd3a3af445549164d1c8e833e757,umb://media/e3f241ebc3d84bdbb2f3952562522b94,umb://media/5f634b87532349878f4d2655d3e87651,umb://media/e3ff59654e22488d9b7bc5a7048a4290,umb://media/dfba07009a5848a0ab9afddfbe23cb82,umb://media/b57d2204246148cd898f3fe8abf0e79d,umb://media/6a64cfb9e6fe46a1b654c860d8ec97d5,umb://media/45e896b68a994d59a9c51910e4f88646,umb://media/a1cf82fff0de4a81be6084a93e3c8daf]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Residence Le Chalet du Vallon are self catered apartments.</p>
<p>Alternatively, we've partnered up with Huski who provide premium oven ready meals across the French Alps. Huski will deliver your meals directly to your accommodation in time for your arrival, all you'll have to do is cook. If you'd like to know more, please click <a rel="noopener" href="https://www.inghams.co.uk/ski-holidays/special-offers/huski-food-drink-delivery-service" target="_blank">here</a> for further details.</p>
<p> </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Located at 2,050 metres, at the entrance of the pedestrianised resort of Belle Plagne, the Residence Chalet du Vallon offer well equipped, traditional apartments that provide you with good access to the resort amenities and <a data-udi="umb://document/37e8bc9846b74cf1a001f969874ce05b" href="/{localLink:umb://document/37e8bc9846b74cf1a001f969874ce05b}" title="Paradiski Ski Area">Paradiski Area</a>. </p>
<h2>Easy ski access</h2>
<p>Chalet du Vallon is only a stones throw away from the slopes and is the perfect choice if you want to maximise your time on the mountain. The residence building is located near to the slopes, so getting onto the Paradiski Ski Area couldn't be easier.</p>
<h2>Take a moment to relax</h2>
<p>If you would like to take a moment to yourself to recharge your muscles, the residence building offers you access to a spa area which can be booked and paid for locally. The relaxation area is for adults only (16 years+) and includes a whirlpool, hammam and sauna.</p>
<h2>Traditional apartments</h2>
<p>These apartments are in a traditional Savoyard style with beautiful use of stone and wood throughout. Each apartments is large and can fit six to eight people which is perfect for a family ski holiday. Each apartments features a fireplace in the living area and provides a really authentic stay in the centre of <a data-udi="umb://document/c155a29773fd476189963f3b4e3b57e4" href="/{localLink:umb://document/c155a29773fd476189963f3b4e3b57e4}" title="La Plagne">Belle Plagne</a>. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Adults only (16yrs+) relaxation centre with sauna and whirlpool - open 4 - 7pm. Entry charge is approx. €30 per 45 minute session, pay locally.  Towels are not provided.</li>
<li>Free Wi-Fi</li>
<li>Ski lockers</li>
<li>Bread and pastry delivery service (book and pay locally)</li>
<li>Covered car park (pay locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "e9ab95a4-06b0-45bd-97d4-9e3234e34415",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"1fc918d3-2683-4477-8f75-1b03fdb61d0a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Residence Le Chalet du Vallon in Belle Plagne is located at the piste side, offering ski in, ski out access. These self catered apartments are in a traditional Savoyard style with beautiful stone and wood throughout.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/a1cf82fff0de4a81be6084a93e3c8daf]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Refundable deposit €500 (credit cards accepted)</li>
<li>Resort tax €1.10 per person, per day (under 18s Free of charge) paid locally</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p>Residence Le Chalet du Vallon apartments are ski in/ski out and located in the centre of Belle Plagne, just 100-300 metres from the shops.</p>
<p>The Residence is also located 300 metres to the ski school meeting place.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[11 apartments]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Residence Le Chalet du Vallon in Belle Plagne are ski in ski out and close to the resort centre. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Residence Le Chalet du Vallon | La Plagne Paradiski, France | Book now with Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments>11</numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Residence Le Chalet du Vallon (Belle Plagne)]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRLA0132]]></propertyCode>
  <propertyType><![CDATA[0]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Two Bedroom Apa</strong><strong>rtments</strong> are 72m² and sleep up to six people. There is a double bedroom, twin bedroom and an alcove with bunk beds. Both bedrooms have an en-suite, then a main bathroom with a bath and a separate WC.</p>
<p><strong>Four Bedroom Apartments</strong> are 105m² and sleep eight to ten people. This apartment is over three floors and has one double bedroom, three twin bedrooms and a cabin area with bunk beds. There's two shower rooms with a separate WC, an en-suite with bath to the double bedroom and a main bathroom with shower.</p>
<p><strong>Apartment facilities</strong></p>
<ul>
<li>Open plan living and dining area with a balcony</li>
<li>Kitchen with an oven, microwave, fridge, ceramic plates, dishwasher, coffee maker, kettle and toaster</li>
<li>TV</li>
<li>Fireplace</li>
<li>Safe</li>
<li>Hairdryer (on request)</li>
<li>Beds are made on arrival</li>
<li>Towels are changed mid-stay</li>
<li>Kitchen kit with tea towel</li>
<li>End of stay cleaning (expect kitchen)</li>
<li>First bag of wood for fireplace is free</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1482965]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>