<?xml version="1.0" encoding="utf-8"?>
<reskinProductResortItem guid="83f8dde9-f454-49c5-9b61-afcf59b8562b" id="60842" nodeName="Levi" isDoc="" updated="2023-10-18T12:27:51.0300000Z" parentGUID="7c005046-4415-4758-9f22-2eea440458a3" nodeTypeAlias="reskinProductResortItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <resortDescription><![CDATA[<p>Blanketed in snow, Levi offers a bit of everything from quality skiing, prime Northern Lights viewing to snowmobile excursions. </p>]]></resortDescription>
  <resortImage><![CDATA[umb://media/7ef4094077b8468b9b922f79eb9a41bc]]></resortImage>
  <resortLocation><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></resortLocation>
  <resortMicroCardTitle><![CDATA[Great ski slopes]]></resortMicroCardTitle>
  <resortName><![CDATA[[
  {
    "name": "Levi",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/1b2fbafe6b3546cbbcb8a26241bb809c",
    "externalLink": "",
    "linkName": "Levi",
    "linkTitle": "Levi",
    "linkTitleColor": ""
  }
]]]></resortName>
</reskinProductResortItem>