<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="132bbc13-184f-485f-9037-f52f70a4dc70" id="28901" nodeName="Central Puglia" isDoc="" updated="2022-12-30T15:16:51.3800000Z" parentGUID="d0c28188-245b-40a3-96dd-64fb346dffcd" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="0" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/cf8d2916fde245c1805483fb66c6195e,umb://media/a28f0418983945f6a285f42d5cda5b62,umb://media/aa007744828a47fb951bdd5ad6ae8e1b,umb://media/f1abaaf815d44cbabf91e2ba2fe9fbfb,umb://media/2be0a6d4a80e4b629bb20f0501dc83b8,umb://media/af5b06dddb004fa4abc24f3a164e8110,umb://media/56dc0a222beb48ec8cbf9856066c03e6,umb://media/83a787f36531486f82b67cc342a83faf,umb://media/a13e66cb73ae47328e1fb8c4d63d0f22,umb://media/64aad29976c34780be4a1e91ba66f3bd,umb://media/dcef9dc6d25e4be1bd649faa8c37d4dd,umb://media/810f213328f74d82b7b36449416fcf7c,umb://media/d1a319275f414938b21fd8d8e1aa70c2,umb://media/d9bf6485577c40ed87e8af5eae3758a7]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>The centre of this large region is characterised by the fertile Murgia plateau which forms a gently rolling landscape dotted with olive groves. Many of our hotels are located in or near the Itria Valley which is famous for the strange trulli houses and picturesque whitewashed villages. This area is also a great destination for those in search of a relaxing beach holiday, as the superb coastlines of both the Adriatic and the Ionian seas with fine sandy beaches are only a short drive away. Make sure you take the time to visit a masseria where you can taste the extra virgin olive oil and locally made wines.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li><span>Hire a car to make the most of exploring the region</span></li>
<li><span>Look out for sun bathing spots on the rocks beside the crystal-clear sea</span></li>
<li><span>Try the sparkling white wine DOC made in Locorotondo</span></li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[41.0067419]]></latitude>
  <listingDescription><![CDATA[<p>The centre of this large region is characterised by the fertile Murgia plateau which forms a gently rolling landscape dotted with olive groves.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/57cdbd68bca44696924e0175cf5144a4]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[16.1668624]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Central Puglia offers pristine beaches and scenery with a beautiful landscape  dotted with olive groves and picturesque villages.]]></metaDescription>
  <metaTitle><![CDATA[Central Puglia Holidays 2023 | Puglia & Basilicata Holidays | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Central Puglia Holidays]]></pageTitle>
  <parking>1</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ITPG]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>0</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>1</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline></tagline>
  <thingsToDo><![CDATA[<p>The region produces most of Italy’s olive oil and you’ll see olive trees wherever you look, some more than 1,000 years old! You can visit some of these farms and see the traditional ways of making olive oil. Another must-do is spending time in Bari where ladies will sit on the street making orecchiette, or ‘little ears’, Puglia’s pasta.</p>
<p>Puglia’s wines have come a long way. Once they were only available in Puglia itself but you’ll now find them taking pride of place in many wine lists across the UK. Nothing beats trying them in their home though and one of the best places to do this is Enoteca Thalos in Alberobello. Step inside the trullo and enjoy a tasting of three of four wines, paired with delicious local food. Gino is a master in his field and will explain the wines as he pours.</p>
<p>(above is old content from the region page that can be used)</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>