<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="ba1de4c4-d23a-4df5-915b-f8ad24bc040f" id="70785" nodeName="Christmas Ski Deals" isDoc="" updated="2024-04-24T12:56:56.9800000Z" parentGUID="495b3c6b-eb4c-41fb-bd70-4a9673d40b59" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Next Winter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/960b373c69434d9ea227fe18b1770f8d",
    "externalLink": "",
    "linkName": "Christmas Ski Deals",
    "linkTitle": "Christmas Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>