<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="d50e4f59-dfdc-44b2-b767-b2c8b0a102a8" id="48837" nodeName="4 night Ski Short Breaks" isDoc="" updated="2022-02-21T16:30:09.6130000Z" parentGUID="6572cca4-6030-4cce-a08f-6a4743bbc708" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="44" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Book ski short breaks to France & Switzerland and save with Inghams. Flexible departures for 4 night stays. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[January Ski Short Breaks – France & Switzerland | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SKI-CH-SHORTBREAKS-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/01afedc7491a48ac97e518333002b425",
    "offerCode": "ING-SKI-TUE-4NT-JAN-22-SHORTBREAKS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[January Ski Short Breaks]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>