<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="a09d8dda-0d4f-48d6-8be2-29cdaeb2f377" id="22970" nodeName="Balestrand" isDoc="" updated="2021-12-30T13:36:48.0330000Z" parentGUID="286d71b6-bae9-4f84-a7ac-63448c015f54" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="1" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/13a93e8344ed43d5acb2160957e68050,umb://media/066704e66b4143499aab13dcfbab308a,umb://media/cda094f2db804712be9d1e25c02429e8,umb://media/96b2291dfa884126bece1644b2175fc2,umb://media/e82942432d0d458dab409a45444ed103,umb://media/e64e262319fa451cb688d8252b91383a,umb://media/68690d5a94114c03a260729166f84e83,umb://media/34bb54dfc375462f99ccc664aaeed6f7,umb://media/6e1d869b7cfb46dda6d9dbb4761b15fd,umb://media/4ac9b96a04f9404ebdf36dbbc221622c]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[4]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/33f1e87ee2c245cd8a2ecec753ce8df9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>The enchanting village of Balestrand is on a peninsula of orchards and farmland, on the northern shores of the famous Sognefjord - Norway's longest and deepest fjord that stretches over 200 kilometres. Balestrand’s backdrop of towering snow-capped mountains and panoramic vistas is mesmerising. The village is well connected, with buses and express boats operatig in all directions, so it's the bprfet base for exploring and the Flåm railway, Fjærland ferry and Jøstedal Glacier are just some of the main attractions to see when you're here. </p>
<p>There is also much opportunity to simply relax amidst the peaceful surroundings or enjoying the superb scenery from a bicycle or row boat. Balestrand also gives you access to spectacular walking territory with trails rising behind the village to the peaks and lakes of the plateau beyond.</p>
<p><strong>Multi-centres</strong></p>
<p><a data-udi="umb://document/115a7485cd0c44498faef1f70721b2b3" href="/{localLink:umb://document/115a7485cd0c44498faef1f70721b2b3}" title="Taste of Norway">Taste of Norway</a> is a twin centre combination where you can explore the city of <a data-udi="umb://document/d517b2c21fa94eb096a3bcb6b7e933c5" href="/{localLink:umb://document/d517b2c21fa94eb096a3bcb6b7e933c5}" title="Bergen">Bergen</a> before taking the express boat to Balestrand.</p>
<p>If you wanted to tick off a couple more resorts in <a data-udi="umb://document/286d71b6bae94f84a7ac63448c015f54" href="/{localLink:umb://document/286d71b6bae94f84a7ac63448c015f54}" title="Norway">Norway</a>, then the <a data-udi="umb://document/a9bd29bd99244343b8f3ab2d2faa7ca7" href="/{localLink:umb://document/a9bd29bd99244343b8f3ab2d2faa7ca7}" title="Fjord Explorer">Fjord Explorer</a> will be the perfect holiday. Start here before travelling through the fjords to <a data-udi="umb://document/14f6ab787ad2493ab23ce60aa9f14e6a" href="/{localLink:umb://document/14f6ab787ad2493ab23ce60aa9f14e6a}" title="Loen">Loen</a> and <a data-udi="umb://document/4796d8535a46439d92020f8a158e7c03" href="/{localLink:umb://document/4796d8535a46439d92020f8a158e7c03}" title="Alesund">Alesund</a>.</p>
<p>Both of our escorted tours, <a data-udi="umb://document/0dc506c20a05408bb514ab25ad4f8aad" href="/{localLink:umb://document/0dc506c20a05408bb514ab25ad4f8aad}" title="Highlights of the Fjords">Highlights of the Fjords</a> and <a data-udi="umb://document/a185e24ce7df443483a5ff2d8bb68c56" href="/{localLink:umb://document/a185e24ce7df443483a5ff2d8bb68c56}" title="Bergen to Oslo Fjord Experience">Bergen to Oslo Fjord Experience</a> have great time in Balestrand.</p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p><strong>Explore the local area independently, at your own pace, with these recommended day trips that can be booked at the local Tourist Office:</strong></p>
<p><em>(All prices shown for guidance)</em></p>
<p><strong>Fjærland Ferry and Jøstedal Glacier</strong> </p>
<p>£79 - full or half day - daily</p>
<p>The glacial arms of the Jøstedalsbreen, Europe's largest ice plateau, can be visited from the Nordfjord and Sognefjord - the Kjenndal, Bodal Valley and Briskdal glaciers are featured from <a data-udi="umb://document/14f6ab787ad2493ab23ce60aa9f14e6a" href="/{localLink:umb://document/14f6ab787ad2493ab23ce60aa9f14e6a}" title="Loen">Loen</a>, and the Supphellbreen and Boyabreen from Balestrand as part of this excursion. Visit these areas of awe-inspiring natural beauty and get up close to the dramatic ice-blue landscapes. </p>
<p>Enjoy a highly scenic return boat trip along Fjaerlandsfjord to this small community of great natural beauty including a visit to its fascinating Glacier Museum and to the foot of the Supphellbreen and Boyabreen Glaciers. A shorter half day version visiting only one glacier is available daily.  </p>
<p><strong>Vik by Boat</strong> </p>
<p>£29 - twice weekly - partially guided</p>
<p>Travel by express boat across the majestic Sognefjord to the village of Vik. This excursion includes a guided tour of the beautiful Hopperstad Stave Church.</p>
<p><strong>Sognefjord and Flåm Railway </strong> </p>
<p>£99 - full day - daily - (high season) mid-June to mid-August</p>
<p>This excursion combines a majestic return cruise up the Sognefjord and a trip on the spectacular Flåm railway which takes you through fantastic scenery - steep mountains, breathtaking waterfalls and 20 tunnels. There are also stops at viewpoints along the way, in this one hour journey to Myrdal. Taking the Flåm railway back down to the town of Flåm, there will be another cruise journey along to Sognefjord to get back to your hotel.</p>
<p><strong>Flåm railway via Vik &amp; Voss </strong></p>
<p>£99 - full day - daily - (low season) mid-May to mid-June &amp; mid-August to end of season</p>
<p>Travelling by boat, bus and train through Voss and the Vikafjell mountains, to arrive at Myrdal ready to catch the infamous Flåm railway down to Flåm. Returning to Balestrand by an express boat along the gorgeous Sognefjord.</p>
<p><strong>Sognefjord Aquarium </strong></p>
<p>£7 - daily</p>
<p><strong>Norwegian Tourism Museum</strong> </p>
<p>£8 - daily</p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore><![CDATA[<p><strong>Meet &amp; greet service</strong> from a local tour guide, with a phone service and introduction to Balestrand.</p>]]></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hikes><![CDATA[2]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li>Perfect base for many attractions</li>
<li>Good walking routes</li>
<li>Located on the Sognefjord, the largest and deepest in Norway</li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[Norwegian]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[61.202995]]></latitude>
  <listingDescription><![CDATA[<p>The enchanting little village of Balestrand lies on a scenic promontory of orchards and farmland on the northern shores of the famous Sognefjord, Norway’s longest and deepest fjord stretching over 200km. Balestrand’s mesmerising backdrop of towering snow-capped mountains and panoramic vistas has been captivating travellers for over a century.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/13a93e8344ed43d5acb2160957e68050]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[6.525523]]></longitude>
  <meetYourRep><![CDATA[<p><strong>Meet &amp; greet service</strong> from a local tour guide, with a phone service and introduction to Balestrand.</p>]]></meetYourRep>
  <metaDescription><![CDATA[Visit Balestrand for an amazing summer holiday in Norway. Lakes and mountain holidays in Balestrand with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Balestrand - Norway, Lakes & Mountains Holidays 2021 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>1</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[NOBA]]></resortCode>
  <resortCombinations><![CDATA[<p>Enjoy Balestrand as a single-centre with holidays available from 3 nights to 14 nights (Monday and Friday departures)</p>
<ul>
<li><a data-udi="umb://document/a9bd29bd99244343b8f3ab2d2faa7ca7" href="/{localLink:umb://document/a9bd29bd99244343b8f3ab2d2faa7ca7}" title="Fjord Explorer">Fjord Explorer</a> 12 days (4 centres)  Balestrand - Loen - Ålesund </li>
<li><a data-udi="umb://document/115a7485cd0c44498faef1f70721b2b3" href="/{localLink:umb://document/115a7485cd0c44498faef1f70721b2b3}" title="Taste of Norway">Taste of Norway</a> 8 days (2 centre) Bergen - Balestrand </li>
<li><a data-udi="umb://document/0dc506c20a05408bb514ab25ad4f8aad" href="/{localLink:umb://document/0dc506c20a05408bb514ab25ad4f8aad}" title="Highlights of the Fjords">Highlights of the Fjords</a> 12 days (4 centre escorted tour) Bergen - Balestrand - Loen - Ålesund </li>
<li><a data-udi="umb://document/a185e24ce7df443483a5ff2d8bb68c56" href="/{localLink:umb://document/a185e24ce7df443483a5ff2d8bb68c56}" title="Bergen to Oslo Fjord Experience">Bergen to Oslo Fjord Experience</a> 7 days (3 centre) Bergen - Balestrand - Oslo</li>
</ul>
<p> </p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>1</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[3]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[A fjord favourite on the majestic Sognefjord]]></tagline>
  <thingsToDo><![CDATA[<ul>
<li>Sognefjord Aquarium with fjord fish and wildlife </li>
<li>Travel and Tourism museum now open in Balestrand centre</li>
<li>Boat trips and fjord cruise along the Sognefjord to Flåm, Vik plus more </li>
<li>Kayaking and lake swimming </li>
<li>Gentle walks from the village </li>
<li>Several Stave Churches at Vik and Urnes </li>
<li>Cycling with bike hire available from the tourist office </li>
<li>RIB boat trips </li>
<li>Cider farm in Balestrand </li>
<li>Local public buses run to outlying villages such as Dragsvik and Sogndal </li>
<li>Cinema </li>
<li>Arboretum and enamel workshop in Dragsvik </li>
<li>Quaint cafes and cake shops in the village </li>
</ul>
<p> </p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<p><strong>Transfer approx</strong>. 4hrs by bus/boat from Bergen Airport</p>]]></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p><strong>Popular walks in and aroaund Balestrand include: </strong></p>
<p><strong>Easy: </strong>Balestrand has a few gentle half to full day trips from nearby Kreklingen, including the Heritage trail and the Nature trail, which are the easiest from the selection.</p>
<p><strong>Moderate:</strong> For bit more of a challenge try one of the blue trails, which are steeper and take you higher for better views.</p>
<p><strong>Slightly Challenging:</strong> Or for a day out, head to Dragsvik either by ferry or walk around the Esefjord (approx. 2hrs each way). From the lookout in Dragsvik, you have a view over 3 fjord branches.</p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walks><![CDATA[3]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>