<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="70a25095-58b3-4bf5-9b86-c9335c64d80c" id="28798" nodeName="Hotel Stores" isDoc="" updated="2022-03-09T13:44:48.7100000Z" parentGUID="edb6d2ef-a6f6-4ef5-bd92-5f12684524d1" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="8" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "ab19c66b-1fb4-40ea-a5c2-8ac8269408ca",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly guided walk (guide may not speak English)",
    "addedValueStart": "2019-06-10T15:55:36",
    "addedValueEnd": "2019-11-01T15:55:37",
    "hideAddedValue": "0"
  },
  {
    "key": "d675f079-c9ef-45c9-8042-c74edd38352d",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly guided E-bike excursion (bike hire payable locally, €15-€25 per day)",
    "addedValueStart": "2019-06-10T15:55:47",
    "addedValueEnd": "2019-11-01T15:55:48",
    "hideAddedValue": "0"
  },
  {
    "key": "76d737fe-35b2-48e9-954d-1d58c9368799",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly cookery course (2-3hrs) learning typical dishes of Alta Badia ",
    "addedValueStart": "2019-06-10T15:55:59",
    "addedValueEnd": "2019-11-01T15:56:01",
    "hideAddedValue": "0"
  },
  {
    "key": "054eb345-d8f6-4e3a-b59a-c577d2b9e24b",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly trip to nearby stream for natural Kneipp massage (1hr approx)",
    "addedValueStart": "2019-06-10T15:56:16",
    "addedValueEnd": "2019-11-01T15:56:17",
    "hideAddedValue": "0"
  },
  {
    "key": "7fab3790-356c-4951-b9a3-a79d9f4fd378",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily packed lunch consisting of 1 x large filled roll, fruit and snack",
    "addedValueStart": "2019-06-10T15:56:29",
    "addedValueEnd": "2019-11-01T15:56:30",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,6,8,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet </p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/24f554ea2d024801b0422f803a1dc673,umb://media/e0a422986833468482f45f85d75f8664,umb://media/67c1b0a550b9417b910516270df99e18,umb://media/6c15566e9840434098457100ed77b27d,umb://media/444ca8155d014fdab07043b820921d65,umb://media/f5a2ca04f7ca42409ff62dd192f593c2]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription><![CDATA[<ul>
<li>Buffet breakfast</li>
<li>4 course evening meal with choice</li>
<li>Weekly typical Ladino dinner</li>
<li>Weekly aperitif </li>
</ul>]]></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Hotel Stores is a welcoming, family-run hotel offering smart, renovated interiors in contemporary, mountain style with all modern comforts. Enjoying a panoramic location just 5 minutes' walk from the Piz Sorega gondola and the centre of town this small hotel benefits from a sunny position that's ideal for relaxing. The Stores certainly doesn't skip on the added extras; the new wellness centre is a highlight with an indoor pool leading to an exterior section as well as a climbing wall (instruction payable locally/harness provided) and even an activity programme to keep you entertained throughout the week. </p>
<p> </p>
<p><strong> </strong></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter service</p>]]></dinner>
  <distanceToCityCentre>500</distanceToCityCentre>
  <distanceToLift>500</distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities><![CDATA[umb://document/36ebccaf6fef4fffb28746645e3e6793,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/973ee086e03c469faf177a069c61226b,umb://document/68637ff4f9c2492e8abdae246b41cff4]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Indoor pool leading to outdoor section</li>
<li>Sauna</li>
<li>Steam room</li>
<li>Fitness room</li>
<li>Relaxation area with panoramic views</li>
<li>Beauty and massage treatments (pay locally)</li>
<li>Bouldering &amp; climbing wall (harness provided, intruction payable locally)</li>
<li>Children's play room</li>
<li>Activity programme - see Inghams Plus</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude><![CDATA[46.568644]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A modern, high-quality 3 star property only 500m from both the gondola and town centre. This superior hotel enjoys a panoramic position in San Cassiano with a wide array of facilities on offer as well as an activity programme.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/24f554ea2d024801b0422f803a1dc673]]></listingImage>
  <localFees><![CDATA[<p>Tourist tax payable locally directly to hotel </p>]]></localFees>
  <locationDescription><![CDATA[<p>In a panoramic position just 500m from both the gondola and resort centre </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.939660]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[45 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Stores is a family-run hotel offering smart, renovated interiors in contemporary, mountain style with all modern comforts. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Stores San Cassiano Dolomites Italy, Lakes & Mounts | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Piz Sorega </p>]]></nearestLift>
  <nearestRestaurant><![CDATA[<p>La Sieia - 450m away </p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>45</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>Standard and comfort rooms sleep up to 3 </p>
<p>Deluxe rooms and family suites can sleep up to 4</p>]]></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCS0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<ul>
<li>All rooms have shower, balcony, TV, hairdryer, safe and telephone</li>
<li>Standard rooms (20m<span>²)</span></li>
<li><span>Comfort rooms (20m²) </span></li>
<li><span>Deluxe rooms (35m²)</span></li>
<li><span>Family suite (48m²)</span></li>
</ul>
<p><strong> Comfort, Deluxe and Family Suites have been recently renovated</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[2022633]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/edb6d2efa6f64ef5bd925f12684524d1]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>