<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="da45dbb2-c7ec-4920-a814-360a8812ff17" id="59854" nodeName="Animal Protection Policy" isDoc="" updated="2023-05-19T15:46:05.4070000Z" parentGUID="d9cfbcee-5e11-4860-a084-6f9d3dc9ced3" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <answer><![CDATA[<p>Read our policy on Animal Protection <a data-udi="umb://document/58360366a5274b68b2a6a53bba22ec4d" href="/{localLink:umb://document/58360366a5274b68b2a6a53bba22ec4d}" title="Our Animal Welfare Policy">here</a>. </p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[What is Inghams Animal Protection Policy?]]></question>
</fAQItem>