<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="70058cbd-344d-4ebc-8d69-a87cad915245" id="69123" nodeName="What makes Santa Breaks in Yllas special?" isDoc="" updated="2024-06-03T17:01:47.0300000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="49" published="true" isBlueprint="false">
  <answer><![CDATA[<div class="c-page-content">
<p>On a Santa Break to Yllas you'll stay in an idyllic unspoiled Lappish village with marvellous scenery, where you'll have a special meeting with Santa included in your package. Enjoy the ultimate Lapland experience staying in a cosy log cabin in the pristine wilderness or choose a comfortable apartment in the village.</p>
</div>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What makes Santa Breaks in Yllas special?]]></question>
</fAQItem>