<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="6739bfe8-9c70-481e-9134-c29bacf1e055" id="72366" nodeName="Are there any ski resorts in Austria suitable for snowboarders?" isDoc="" updated="2024-07-02T14:07:57.8800000Z" parentGUID="7126f3d9-8993-423f-85a6-2cc66ac3de25" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="12" published="true" isBlueprint="false">
  <answer><![CDATA[<div class="c-page-content">
<p>There are plenty of Austrian ski resorts that consider snowboarders. Visit <a data-udi="umb://document/f9068cb62c4d4b2299a0ef29fd676ed5" href="/{localLink:umb://document/f9068cb62c4d4b2299a0ef29fd676ed5}" title="Mayrhofen">Mayrhofen</a>, offering one of the biggest snow-parks with 6 distinct areas including a children’s zone.</p>
</div>]]></answer>
  <popular>1</popular>
  <question><![CDATA[Are there any ski resorts in Austria suitable for snowboarders?]]></question>
</fAQItem>