<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="394892b0-1e34-47b0-a7e1-a32e9fc1fb18" id="24601" nodeName="Documents resort map" isDoc="" updated="2021-07-06T10:33:33.0270000Z" parentGUID="d0385128-4509-48c5-8c5c-325746670082" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="19" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>We aim to send this out to you as soon as possible, but this may not be at time of booking or payment of your final balance.</span></p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[Documents: When will I receive my resort map?]]></question>
</fAQItem>