<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="001855f2-82d7-4666-bfd8-bae96c43dd7a" id="22123" nodeName="Hotel Das Pfandler" isDoc="" updated="2024-10-02T15:32:47.6370000Z" parentGUID="b5e429a1-8c13-4151-8ff1-c75889b2f4ea" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="7" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "aa63f772-9e89-40aa-9d54-0dd6fc943702",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Discount on Karwendel lift",
    "addedValueStart": "2019-09-04T14:09:44",
    "addedValueEnd": "2099-09-05T14:09:46",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/117195243d87419e9b325179a3fc008b,umb://media/91a01e39e0d44e96836f60fdaec7abbb,umb://media/a547f4f1dd1a4a1295a4b078ca9e683b,umb://media/748062ecbaff4146b5c77015fe845d59,umb://media/90681103875745db89c16f06394fd40d,umb://media/9470644d25c8424ca9eb85060cda4ebe,umb://media/25729c548e034812934b0e7dd8430ad2,umb://media/31a20923410740939aab45d4dea2638f,umb://media/667c2808a2274b27b9f9ff718aaa8926]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is buffet-style with a selection of hot and cold options. Tuck into a variety of breads, ham and cheese platters, egg dishes, yoghurt, jams, fresh fruit, and juices.</p>
<p>Your evening half board meal is four courses, with choices of three main (one vegetarian option), and during the week there are a variety of starter, salad and dessert buffets as part of the menu. Enjoy a mix of Austrian and international dishes created with fresh and regional produce.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The family-run Hotel Pfandler sits in pretty gardens and offers a peaceful alpine escape. It's just a five-minute stroll from the centre of <a data-udi="umb://document/b5e429a18c1341518ff1c75889b2f4ea" href="/{localLink:umb://document/b5e429a18c1341518ff1c75889b2f4ea}" title="Pertisau">Pertisau</a> and the shores of beautiful <a data-udi="umb://document/5974cd987d3f4f66b37fbebc74ee7ebb" href="/{localLink:umb://document/5974cd987d3f4f66b37fbebc74ee7ebb}" title="Lake Achensee">Lake Achen</a>. You'll also be close to the Karwendel gondola, making it a great base for exploring.</p>
<h2>Excellent hospitality</h2>
<p>The team at Hotel Pfandler take pride in their reputation for excellent hospitality. Start your day with hearty breakfasts, and refuel with delicious dinners at the end of the day. The hotel offers a spacious lounge, a welcoming bar area, and a sun-soaked terrace that's perfect for al fresco dining, and taking in the views. The well-appointed bedrooms are spacious and immaculately furnished, guaranteeing a comfortable retreat at the end of the day.</p>
<h2>Garden, spa, and indoor pool</h2>
<p>On lazy afternoons, unwind in the beautifully landscaped gardens - lounge on the sunbeds, or enjoy the indoor swimming pool, saunas, and steam rooms.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>Spa with indoor pool, sauna, steam room and relaxation area</li>
<li>Fitness room</li>
<li>Sun-terrace and gardens with loungers</li>
<li>Games room</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Free Wi-Fi</li>
<li>Parking</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen available</li>
<li>Highchairs in restaurant</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "e07ec9c9-866c-443a-962f-ff588646a521",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"4499b8a6-5414-4878-b0b7-20a7c9f4f4ba\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[47.43787]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Enjoy exceptional hospitality, delicious food, and mountain views from your balcony. Hotel Pfandler is a short walk from the shores of <a data-udi="umb://document/5974cd987d3f4f66b37fbebc74ee7ebb" href="/{localLink:umb://document/5974cd987d3f4f66b37fbebc74ee7ebb}" title="Lake Achensee">Lake Achen</a>, and the Karwendel gondola is nearby. Take a dip in the pool, head to the spa, and enjoy lazy afternoons in the sunny garden.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/117195243d87419e9b325179a3fc008b]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time approx. 1 hour from Innsbruck airport or 2 hours 15 mins from Salzburg airport</li>
<li>Located in the village centre</li>
<li>700 metres from the lakefront</li>
<li>90 metres to the nearest lift</li>
<li>270 metres to the nearest bus stop</li>
<li>850 metres to the nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.698051]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[59 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Pfandler today with Inghams. A peaceful retreat in pretty Pertisau, a short walk from the shores of Achensee]]></metaDescription>
  <metaTitle><![CDATA[Hotel Pfandler | holidays in Pertisau | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>59</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATPE0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Karwendel Rooms</strong> are around 28m² and sleep up to two people. They have a balcony, lounge area and mountain view. These rooms are available for sole occupancy on a request basis for a supplement - please call us to book.</p>
<p><strong>Achensee Rooms</strong> are around 32m² and sleep two to three people (extra bed is a single sofa bed). They have a balcony or terrace and lounge area.</p>
<p><strong>Sonnjoch Rooms</strong> are around 35m² and sleep two. They have a balcony and side lake view.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Austrian twin beds</li>
<li>TV</li>
<li>Shower</li>
<li>Fridge</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>3pm</strong></li>
<li>Check-out: <strong>10am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. €3.00 per person per night is payable locally. Children aged 14 and under are exempt.</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property: <strong>No</strong></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Vegetarian (daily vegetarian option on half board evening menu)</li>
</ul>
<p>The hotel may be able to cater for additional gluten-free and dairy-free diets, but is not able to offer vegan meals.</p>
<p>Please let us know of any dietary requirements at the time of booking.</p>
<p>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>
<p> </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1395778]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>