<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="45c756b3-f911-4f27-89cd-3ced674f89f5" id="22257" nodeName="Sporthotel Manni's" isDoc="" updated="2024-04-09T12:45:43.9530000Z" parentGUID="f9068cb6-2c4d-4b22-99a0-ef29fd676ed5" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="11" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "7733b029-2cbb-40b5-8649-bd3f9c388ac4",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Jul)",
    "addedValueStart": "2019-12-17T10:18:03",
    "addedValueEnd": "2099-07-31T10:18:06",
    "hideAddedValue": "0"
  },
  {
    "key": "d906b6d1-8f0a-4cb0-a2f6-82107a486f9d",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free shuttle to different ski areas",
    "addedValueStart": "2019-08-08T11:30:19",
    "addedValueEnd": "2099-08-08T11:30:21",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker><![CDATA[umb://document/d08338a1c04a4d87928e02104ae723a8,umb://document/51b5ba3c97614d7b8364e2b8a50eb6dc,umb://document/5272f081ba6e49a49ece3c434a124ad2,umb://document/8d92497f2d5247fbacb204d8617b3685,umb://document/393e7bd5874f487790ba20e4d21dd881]]></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/78e6e821b56f4a569c6525d31620350b,umb://media/b4747553ecd1419a89355eecfa6330eb,umb://media/44675eb2c67249a6bc923472511e552b,umb://media/bee32468decc4f2b878c50ff400034bd,umb://media/bce348c71a3b4ee19ff4e1e3d391d15e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Extensive hot and cold buffet breakfast </li>
<li>Four course evening meal with choice of main plus salad buffet</li>
</ul>
<p> </p>
<p> </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>This superior hotel is proud of its good reputation for service and cuisine. One of the hotel highlights is the rooftop open-air pool with fantastic views of the Penken, Grünberg and Ahorn mountains. Ski hire is conveniently located next to the hotel and a free shuttle to different ski areas is provided for guests.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation>0</distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/c8cd915b99e8478a91f70607a63460b4,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/269de525a30f43249daa18279ac7cbde,umb://document/6129d2e9c59b48e5b0cde91d9a269c41]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Stylish, comfortable lounge with attractive open fireplace</li>
<li>Heated outdoor pool which has panoramic views, sauna with bio sauna, Finnish sauna, infrared cabin and salt water steam bath <strong>(Free)</strong></li>
<li>Beauty salon with extensive treatments and massages (payable locally)</li>
<li>Wi-Fi internet access <strong>(Free)</strong></li>
<li>bathrobe, slippers and towels to use for the duration of your stay</li>
<li>Fitness room</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>6</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.16635]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This superior hotel is proud of its good reputation for service and cuisine. One of the hotel highlights is the rooftop open-air pool with fantastic views of the Penken, Grünberg and Ahorn mountains.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/bee32468decc4f2b878c50ff400034bd]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>On the main street just 200 metres from the Penken lift</li>
<li>Nearest bus stop just outside</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.862847]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[48 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Sporthotel Manni's is located right in the heart of Mayrhofen. Enjoy excellent service and cuisine, with also a rooftop open-air pool with fantastic views. Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Sporthotel Manni's Mayrhofen - Austria - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Penken </p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>48</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4.5]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATMA0112]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic </strong>Austrian twins are around 25m² and have a shower. All rooms including this category have a lounge area and balcony.</p>
<p><strong>Comfort </strong>Austrian twins are around 30m² and have a bath or shower. Some rooms can sleep a third guest using the single sofa bed in the lounge area.</p>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[610479]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>