<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="537c0cc9-5529-47be-8ef3-be32b5c6c3cd" id="23432" nodeName="The Wort Hotel" isDoc="" updated="2021-12-22T16:53:28.7730000Z" parentGUID="492f697c-f0ff-49d9-954a-458647b20e01" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes><![CDATA[<p>none</p>]]></annexes>
  <bedroomFacilities><![CDATA[1]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Full cooked breakfast and made-to-order menu.</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>This atmospheric centrally located historic hotel is the best in town and exudes comfort and elegance with a personal service. The colourful Town Square, with its western-style shops, restaurants and art galleries is just around the corner.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift>12</distanceToLift>
  <distanceToNurserySlopes>12</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>12</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>informal</p>]]></dressCode>
  <facilities><![CDATA[umb://document/a06e823407de466ba7bdc5a87a7971f6,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/68637ff4f9c2492e8abdae246b41cff4,umb://document/d25cf89fbba845989d548de8683936a5]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Wood-panelled fireside lounge</li>
<li>Famous Silver Dollar Bar and Grill</li>
<li>Two indoor hot tubs</li>
<li>Fitness room</li>
<li>Ski valet</li>
<li>Parking (<strong>free</strong>)</li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/c0e11185f51f4f4cb5a972b8e46cac58,umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li>Early Booking Offer Save up to £140 per room for W16/17 (book by 30th Jun 17)</li>
<li><strong>Free </strong>cooked breakfast</li>
<li><strong>Free </strong>bottle of wine in your room</li>
<li><strong>Free </strong>daily après-ski cookies, cider and hot chocolate</li>
<li><strong>Free </strong>wine and cheese reception on Thursday evening</li>
<li><strong>Free </strong>private daily ski shuttle to the slopes (depart 8:30am return 4:30pm)</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>8</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[43.479955]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This atmospheric centrally located historic hotel is the best in town and exudes comfort and elegance with a personal service.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/cb0852f447d24b8993a1fc6e47f084b8]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[-110.76369]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[The Wort Hotel, Jackson Hole in Wyoming, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[The Wort Hotel, Jackson Hole Wyoming USA - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>50</nearestBusStop>
  <nearestLift><![CDATA[<p>Gondola at Teton</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>59</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>1-4</p>]]></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[USJA0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li><strong>59</strong> All spacious rooms are beautifullyfurnished in attractive western-style décor and feature down duvets, bathrobes and one king or two queen beds, bath, shower, TV, telephone, hairdryer and coffee/tea maker.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li><strong>Location:</strong> The hotel is situated in the centre of the town.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/25e767db044444389ae09383681f982e]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>