<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="3efa075e-d8a3-434a-b722-845f23114c23" id="75848" nodeName="Ski areas in Norway" isDoc="" updated="2024-12-10T11:24:13.2170000Z" parentGUID="9cda25a1-77d6-49ab-a8cd-8d73a1d9c82e" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>Norway is certainly renowned for its snow covered landscapes during the winter season and is the perfect place to enjoy some Nordic skiing. A Scandinavian country that embraces the great outdoors, explore all that the Norwegian slopes have to offer on your next ski trip.</p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/7cef335ec7fc429a8aa925283cb957a6]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[Explore the skiing in Norway]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[ski]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Ski areas in Norway",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/df682d3ea01e4575b5ddfef67f8d0053",
    "externalLink": "",
    "linkName": "Ski areas in Norway",
    "linkTitle": "Ski areas in Norway",
    "linkTitleColor": "{\"label\":\"95e0e4\",\"value\":\"95e0e4\"}"
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>