<?xml version="1.0" encoding="utf-8"?>
<newsListingMonth guid="a52d898f-48b3-42eb-8fbd-1cd0d2e7c7a3" id="24733" nodeName="December" isDoc="" updated="2021-01-19T11:41:16.2930000Z" parentGUID="6d7ac571-af05-495e-bb44-4850f93fc463" nodeTypeAlias="newsListingMonth" templateAlias="NewsListingMonth" sortOrder="0" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[All of Inghams latest news and press releases are available below from December 2015. Please contact the Inghams Press Team who will be happy to help.]]></metaDescription>
  <metaTitle><![CDATA[Press Releases from December 2015 | Inghams]]></metaTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <title></title>
  <umbracoPermanentRedirect><![CDATA[umb://document/6d7ac571af05495ebb444850f93fc463]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsListingMonth>