<?xml version="1.0" encoding="utf-8"?>
<reskinProductCampaignSection guid="a2ce3efa-508f-49a2-8e13-c638de5e22c8" id="67798" nodeName="December savings" isDoc="" updated="2024-12-10T10:54:32.7630000Z" parentGUID="a4a479e8-2664-49e1-8b6b-9e98eafdfcb0" nodeTypeAlias="reskinProductCampaignSection" templateAlias="" sortOrder="37" published="true" isBlueprint="false">
  <campaignBackgroundImage><![CDATA[umb://media/d424586480884cf28f1582f05c3d2f83]]></campaignBackgroundImage>
  <campaignLink><![CDATA[[
  {
    "name": "View deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/d56eb39bb674469ca4aabc52714577b6",
    "externalLink": "",
    "linkName": "View deals",
    "linkTitle": "View deals",
    "linkTitleColor": ""
  }
]]]></campaignLink>
  <campaignName><![CDATA[Lapland 2025 Savings]]></campaignName>
  <campaignText><![CDATA[Save up to £300pp on Lapland holidays departing in January or February 2025!]]></campaignText>
</reskinProductCampaignSection>