<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="074ee781-3ef6-4428-b398-2b31d9f31c38" id="22176" nodeName="Treasures of Tuscany Escorted Tour" isDoc="" updated="2022-05-25T12:09:07.0030000Z" parentGUID="ddef5c7c-9bdb-4757-92ae-27614a6308b8" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="13" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/b0ddcb71bb934ace91c5d8189deaacab,umb://media/7861d1ae7708420aa385f6eeac3be58e,umb://media/d2f67beec10b48dfa3758d57ef3b8474,umb://media/6506dd38bc8141e0963ef489a89f26d0,umb://media/089c4a1e172a4449973eb8e7a0dfc561,umb://media/db0483aa4a784e78b274236e06da1e7b,umb://media/a7432f7917194e628df9fc54df4bcf4a]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Get to know Tuscany’s highlights on this popular small group escorted tour. From wine tasting in Chianti to exploring Florence and Siena with a local expert, you’ll discover the heart of this wonderful region.</p>
<p> </p>
<h2>Itinerary</h2>
<p><strong>Day 1:</strong> Fly into Pisa where your transfer will be waiting to take you to your hotel in Montecatini Terme. You’ll have time to unpack and explore the spa town before meeting the group and tour manager before dinner.</p>
<p><strong>Day 2:</strong> When people think of <a data-udi="umb://document/58d85ec0faa548b2ab580143fdc9b722" href="/{localLink:umb://document/58d85ec0faa548b2ab580143fdc9b722}" title="Tuscany &amp; Umbria">Tuscany</a> it’s the Chianti wine region that first comes to mind. Winding country roads weave through rolling vineyards with medieval hilltop towns in the background. Today, you’ll enjoy exploring this beautiful area with a stop to taste some of the famous labels that it produces.</p>
<p><strong>Day 3:</strong> No visit to Tuscany would be complete without a stop in the region’s capital, <a data-udi="umb://document/8b79e45930f145f6b156a9152415fa9b" href="/{localLink:umb://document/8b79e45930f145f6b156a9152415fa9b}" title="Florence">Florence</a>. The city is bursting with Renaissance artwork, stunning architecture and beautiful scenery. You’ll get to visit the Ufizzi Gallery with an expert guide to walk you round and stop at Brunelleschi’s Dome. You’ll also get some free time to explore the city at your own pace.</p>
<p><strong>Day 4:</strong> After a busy start to the trip, today is at leisure to enjoy <a data-udi="umb://document/ddef5c7c9bdb475792ae27614a6308b8" href="/{localLink:umb://document/ddef5c7c9bdb475792ae27614a6308b8}" title="Northern Tuscany &amp; Montecatini">Montecatini</a>. Perhaps take the funicular up to Montecatini Alto to admire the views or take a treatment at one of the resort's spas.</p>
<p><strong>Day 5:</strong> Today is a guided tour of <a data-udi="umb://document/8502468fe6eb499faab16739425f51ec" href="/{localLink:umb://document/8502468fe6eb499faab16739425f51ec}" title="Siena &amp; Chianti">Siena</a>, visiting its beautiful Gothic cathedral before heading to the medieval town of San Gimignano, famous for its towers that dominate the skyline.</p>
<p><strong>Day 6:</strong> A day at leisure or perhaps take the local train to the pretty, walled town of Lucca. A little further down the line is Pisa and the famous leaning tower.</p>
<p><strong>Day 7:</strong> Another day at leisure to relax or explore further. The sandy beaches of Viareggio on Tuscany’s coast can be reached in just over an hour by train. Treat yourself to a comfy lounger at one of the beach clubs or take a stroll down the tree-lined promenade before stopping for lunch in a seafood restaurant.</p>
<p><strong>Day 8:</strong> Transfer back to Pisa airport for your return flight to UK.</p>
<p> </p>
<p style="font-size: 21px;"><strong>What’s included</strong></p>
<ul>
<li>7 nights accommodation on a half board basis and includes a continental buffet breakfast and dinner (drinks are excluded)</li>
<li>Full day excursion to the Chianti wine region with wine tasting</li>
<li>Tour of Florence with an expert guide including the Uffizi Gallery and the Duomo</li>
<li>Tour of Siena with an expert guide including the cathedral</li>
<li>Excursion to San Gimignano</li>
</ul>
<p><strong>Tour Excludes:</strong></p>
<ul>
<li>Hotel city tax (approx. €2 per person per night)</li>
<li>Extras, drinks and personal expenses</li>
</ul>
<p> </p>
<p style="font-size: 21px;"><strong>Your Hotel</strong></p>
<p><strong>Hotel Ariston - Montecatini Terme</strong></p>
<p>This elegant four star Hotel Ariston is perfectly located in the centre of Montecatini Terme and close to the thermal waters and shops. The hotel has been decorated in a classical style throughout and all of the rooms are all very comfortable. Enjoy a drink on the terrace or in the American Bar after a day of touring, where an array wines, spirits and cocktails are on offer. The Hotels restaurant serves traditional Tuscan cuisine and typical regional dishes. </p>
<p style="font-size: 21px;"><strong>Departure dates</strong></p>
<ul>
<li>7, 14, 21 and 28 September 2019</li>
</ul>
<p><em>Our tours are subject to minimum numbers and with that in mind the tours and their itineraries may be subject to change. Where this becomes necessary, and where practicable, we will take the steps as outlined in clause 5 of our <a href="https://d2ysej9jnfdoyq.cloudfront.net/media/13073810/hotelplan-booking-conditions-2019_schedule-2-info.pdf">terms and conditions</a>.</em></p>]]></description>
  <descriptionCharacterLimit>7000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Our Treasures of Tuscany Escorted Tour includes all entrance fees, tours and wine tasting to some the region's highlights with our knowledgeable and friendly tour manager.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b0ddcb71bb934ace91c5d8189deaacab]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch><![CDATA[<p>As the hotel is in the centre of Montecatini, you are spoilt for choice of where to enjoy typical Tuscan cuisine on your days off. </p>]]></lunch>
  <maxPeopleSleepingText><![CDATA[Maximum Group Size: 26]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Our Treasures of Tuscany Escorted Tour is based in the spa town of Montecatini Terme and includes days out to some of the region’s highlights alongside the services of our friendly and knowledgeable tour manager.]]></metaDescription>
  <metaTitle><![CDATA[Treasures of Tuscany | Italy Escorted Tour Holidays 2019/2020 | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>51</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Italy: Treasures of Tuscany Escorted Tour]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITXT3001]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>The elegant four star Hotel Ariston is perfectly located in the centre of Montecatini Terme and close to the thermal waters and shops. The hotel has been decorated in a classical style throughout and all of the rooms are all very comfortable. Enjoy a drink after a day of touring on the terrace or in the American Bar, where an array wines, spirits and cocktails are on offer.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ea233839b0584030b226a2679c5a63d2]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>