<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="88bf1ba4-cefb-4b94-b7ee-e0b061b7ccb9" id="24002" nodeName="Wonders of Eastern Sicily" isDoc="" updated="2021-12-29T11:09:29.7530000Z" parentGUID="6ef29b62-5d77-4303-a998-49a5fb47a18c" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="7" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12"><img src="/media/13054469/sicily-explorer-tour.jpg" alt="Wonders of Sicily" rel="879,452" /></div>
<div> </div>
<!--start left column-->
<div class="g8">
<div class="white_box_shadow">
<p style="text-align: center; font-size: 20px; font-weight: bold;">For more information or to book this Escorted Tour please call 01483 345 805</p>
<p>Sicily has so much to see that the best way to visit this island is to join an escorted tour. Our Wonders of Eastern Sicily tour visits the beautiful baroque cities of the South East, made famous by the Inspector Montalbano series on BBC 4, as well as the famous resort of Taormina with its Greek theatre and fantastic views. All visits are included and accompanied by a knowledgeable Tour Leader.</p>
<p> </p>
<h2>HIGHLIGHTS</h2>
<ul>
<li>4 nights in Hotel Ipanema in Taormina followed by 3 nights in Hotel Mediterraneo Palace in Ragusa</li>
<li>7 nights half board included</li>
<li>Guided walking tour of Taormina with visit to the Greek Theatre</li>
<li>Visit to Mount Etna and Savoca where The Godfather was filmed</li>
<li>Visit to the beautiful city of Syracuse famous for its baroque architecture</li>
<li>A full day to visit Ragusa and Scicli, backdrops to the Inspector Montalbano TV series</li>
<li>A lovely day to visit the Castle of Donnafugata and Montalbano's house by the sea</li>
<li>Taste some wonderful local Sicilian wines</li>
</ul>
<p> </p>
<h2>ITINERARY</h2>
<p><strong>Day 1 | </strong>Fly to Catania and transfer to the Hotel Ipanema in Taormina for 4 nights. In the evening meet your fellow travellers and friendly Inghams Tour Leader.</p>
<p><strong>Day 2 | </strong>Today visit <strong>Taormina</strong> with a local guide to admire its charming streets and the Greco Roman amphitheatre with stunning views towards Mount Etna. Afternoon at leisure.</p>
<p><strong>Day 3 | </strong><strong>Mount Etna</strong> is Europe's highest active volcano and today you have the chance to see the mountain up close. The bus climbs to 1,900 metres from where the more adventurous have the chance to take a jeep to a higher level. In the afternoon visit <strong>Savoca, </strong>a typical Sicilian town<strong> </strong>where many scenes of The Godfather were filmed.</p>
<p><strong>Day 4 | </strong>A leisure day to relax and enjoy the hotel pool or perhaps the beach.</p>
<p><strong>Day 5 | </strong>Leave Taormina and travel southwards to visit <strong>Syracuse</strong> with the beautiful baroque historical centre of Ortigia. Arrive at Hotel Mediterraneo in Ragusa for 3 nights.</p>
<p><strong>Day 6 | </strong>The BBC TV series, Inspector Montalbano showcases the amazing settings of <strong>Ragusa</strong> and <strong>Scicli</strong>. At Scicli, we see the 'Police Station', and Ragusa is the setting for fictional Vigata. It doesn't matter if you're not a fan of Montalbano because you’ll enjoy these towns just the same as they are renowned for their beautiful, flamboyant architecture and are now a UNESCO World Heritage site.</p>
<p><strong>Day 7 | </strong>Visit the <strong>Castle of Donnafugat</strong><strong>a</strong> an interesting example of a Sicilian stately home from the 1800s. We have a brief stop at the little seaside town of <strong>Punta Secca</strong> where Montalbano lives, before enjoying a wine tasting and light lunch in a seaside location.</p>
<p><strong>Day 8 | </strong>Transfer to Catania airport for your return flight or pick up a hire car to extend your stay with us in Sicily.</p>
</div>
</div>
<!--end left column--><!--start right column-->
<div class="g4" style="float: right;">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid"></div>
<h2>Dates &amp; Prices</h2>
<table border="0">
<tbody>
<tr>
<td>
<p> 11 May 2018       </p>
</td>
<td>
<p>  £1,199     </p>
</td>
</tr>
<tr>
<td>
<p>  1 June 2018</p>
</td>
<td>
<p>  £1,399</p>
</td>
</tr>
<tr>
<td>
<p>  7 Sept 2018</p>
</td>
<td>
<p>  £1,399</p>
</td>
</tr>
<tr>
<td>
<p> 14 Sept 2018</p>
</td>
<td>
<p>  £1,399</p>
</td>
</tr>
</tbody>
</table>
<p>Price per person based on a Standard twin/double room with balcony and side sea view in the <strong>Hotel Ipanema</strong> and a Standard twin/double room in the <strong>Hotel Mediterraneo Palace</strong>, as per itinerary on half board. Prices may be subject to flight supplements. </p>
<p><strong>Single room supplement from: £175</strong></p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Discover the beauty of Sicily with a relaxing stay in Taormina, followed by visits to the baroque cities of the South East. All entrance fees and excursions are included.]]></metaDescription>
  <metaTitle><![CDATA[Wonders of Eastern Sicily Explorer Holidays with Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><span>Our Wonders of Eastern Sicily tour visits the beautiful baroque cities of the South East, made famous by the Inspector Montalbano series on BBC 4, as well as the famous resort of Taormina with its Greek theatre and fantastic views. All visits are included and accompanied by a knowledgeable Tour Leader</span></p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/f6cb9cae64614c91be11e7c50e9ed3b8]]></thumbnail>
  <title><![CDATA[Wonders of Eastern Sicily]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ea233839b0584030b226a2679c5a63d2]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>