<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="0ea18404-7331-4cfb-9f08-121df2df532c" id="30762" nodeName="Hotel Residence Esplanade" isDoc="" updated="2021-12-09T13:15:00.6530000Z" parentGUID="56a6c952-6dcb-4ead-a10b-90c88147868c" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "2b7f5e57-18b9-43d0-ae73-4f5034854e1a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free nights available between 01 May - 29 May and 13 Sep - 31 Oct 21 (min 7 night stay)",
    "addedValueStart": "2019-05-20T16:32:43",
    "addedValueEnd": "2021-11-01T13:59:45",
    "hideAddedValue": "0"
  },
  {
    "key": "f1e4eb31-137e-45f4-880e-e581ddd7959b",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 21 (ends 31 Dec 20)",
    "addedValueStart": "2019-07-11T12:31:25",
    "addedValueEnd": "2021-01-01T00:00:26",
    "hideAddedValue": "0"
  },
  {
    "key": "1a57b997-e14f-47fd-846e-b348fb814048",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 2021 (ends 28 Feb 21, not combinable)",
    "addedValueStart": "2021-01-01T00:00:47",
    "addedValueEnd": "2021-03-01T00:00:48",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/9d451b54ffaf450487c4ae2731708f07,umb://media/1cf2c5e09997464092b0c9962edfd3b6,umb://media/0b2ecb49eaa2475fb4f9b049388c997f,umb://media/a508c774caa54869a3653f96cbfdcb51]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Begin each day with a continental buffet breakfast, with sweet and savoury choices like fresh fruit, pastries, jams, bread, cheeses and cold cuts. There's juices, tea's and coffee too - their silky, foamy, fresh cappuccino's are our favourite! </p>
<p>On half board you'll have dinner at the Restaurant Ciccarelli Esplanade. The chef serves up delicious Tuscan specialties and fresh seafood. You'll have a choice of starter, main and desert - think something like Tunafish “Tataki” browned with thyme, sage, rosemary and pistachio served with sweet and sour onions, followed by beef Tenderloin in “Chianti classico” wine and a tasty tiramisù for pudding. They also have a small menu that caters to vegetarian and vegan diets. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Residence Esplanade’s beautiful Art Nouveau architecture captures the glamour of 1930’s Viareggio. Staying here, just off the seafront promenade, you’ll be in prime position for exploring the town, its high end shops, restaurants, cafes, bars and of course the beach clubs. We love that the beach service is included in the peak summer months – it means you can fully embrace chilled out sunny days.</p>
<p>Inside it’s been fully revamped, without losing that liberty-style charm. The rooms are modern and bright; with all the comforts you’ll need while you’re away. If you’d like something a little more spacious, upgrade to a superior room – they have a small balcony too. There are also family rooms available, which sleep up to four people, so they’re perfect if you’re bringing the kids along. On half board you’ll get to enjoy tasty buffet breakfasts and Italian coffee every morning and dinner at the Ciccarelli Esplanade Restaurant. They serve some really lovely dishes and specialise in traditional Tuscan cuisine and fresh seafood. The food’s complemented by a large choice of Italian wines, so be sure to check out the wine list.</p>
<p>Those up for something active might like to know that the hotel’s a member of Italy Bike Hotel’s so it’s fully geared up for cyclists. You can hire road bikes, mountain bikes and e-bikes direct from the hotel (payable locally). There’s routes to suit everyone from leisurely coastal paths to more serious long distance rides - it’s a great way to see more of <a href="/%7blocalLink:umb:/document/56a6c9526dcb4eada10b90c88147868c%7d">Tuscany</a>. Alternatively, you can use the fantastic local public transport to take day trips to places like <a data-udi="umb://document/8b79e45930f145f6b156a9152415fa9b" href="/{localLink:umb://document/8b79e45930f145f6b156a9152415fa9b}" title="Florence">Florence</a> and Lucca. </p>
<p>Transfer time: approx. 30 mins by private car from Pisa Airport.</p>]]></description>
  <descriptionCharacterLimit>2000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/0ed86260858943e4a9c058d4e64b6b1b]]></facilities>
  <facilityDescription><![CDATA[<p><span style="text-decoration: underline;"><strong>Beach</strong></span></p>
<p>Guests of the Residence Esplanade can use one of two beach clubs that are just a couple of minutes’ walk from the hotel. Enjoy the swimming pool on the beach or relax on the loungers while enjoying the sea views. Guests can use these facilities free of charge from around 30 May to 12 September. Please note that most beach clubs here require guests to wear bathing caps when in the pool. <span style="text-decoration: underline;"></span></p>
<p><strong><span style="text-decoration: underline;">Spa</span></strong></p>
<p>Just next door to the hotel, you'll find the Suite 62 SPA, which is perfect for those seeking out a moment of relaxation and tranquillity. They have an extensive choice of massages and treatments available as well as a Thermarum area with a Finnish sauna and Turkish bath, all payable locally. </p>
<p><span style="text-decoration: underline;"><strong>Activities</strong></span></p>
<p>The hotel is a great base for cycling holidays as a member of Italy Bike Hotels. The region has fantastic routes of varying levels for road bikers and mountain biking. What's even better is that Residence Esplanade is geared up with everything you need to get out cycling while you're away. They know the area really well so can give you advice on the best cycling routes as well as provide maps and GPS - so whether you're a professional cyclist or just fancy a leisurely bike ride in beautiful surroundings, they'll be on hand to advise. You can hire bikes directly from the hotel, starting from around €25 per day, payable locally. They have everything from racing bikes to e-bikes and a spacious bike storage room, with repair shop too. </p>
<p>Golf enthusiasts will be spoiled for choice here, with lots of courses close to the hotel. Versilia gold club has and 18 hole course, PAR 71, set in a beautiful wooded landscape, The Cosmopolitan 18 hole course, PAR 72, is right on the coast, so you get beautiful sea views as you play or for a challenge, check out the Montecatini Terme 18 hole course. Speak to the helpful reception staff or the booking office to book a round while you're in resort, payable locally. </p>
<p><span style="text-decoration: underline;"><strong>General Facilities</strong></span></p>
<ul>
<li>Free Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[43.8810953]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Residence Esplanade has a great spot just around the corner from the promenade of Viareggio with plenty of shops, bars and restaurants on its doorstep.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/1cf2c5e09997464092b0c9962edfd3b6]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Seafront location</li>
<li>2 kilometres to Viareggio train station</li>
<li>2 kilometres to Viareggio Carnival Museum</li>
<li>30 kilometres to Pisa</li>
<li>30 kilometres to Lucca</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[10.2363181]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[45 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The liberty-style building has been lovingly renovated to offer a comfortable and contemporary stay for its guests. Book today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Residence Esplanade | Tuscany Coast | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>45</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITTC0108]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms </strong>are 15m² and equipped with air conditioning, satellite TV, safe, minibar, hairdryer and free wifi. These rooms sleep two people. Rooms with a balcony are available for a supplement.</p>
<p><strong>Superior Rooms </strong>have a balcony and offer more space with 23m², with a small living area. They sleep two people. </p>
<p><strong>Family Suites </strong>are about 23m² and have a balcony. They sleep up to four people and have a double bedroom and a small living area.</p>
<p><strong>Junior Suites </strong>are about 45m² and have a balcony with side sea views. They sleep up to four people and are available on request, please call to book. </p>
<p><strong>Standard Rooms for Single Use</strong> are available on request, please call to book.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please advise of any special dietary requirements at the time of booking. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[529120]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/58d85ec0faa548b2ab580143fdc9b722]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>