<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="cb8082e4-8e18-4041-84f0-a2677f9ccff0" id="70795" nodeName="New Year Ski Deals" isDoc="" updated="2024-04-24T12:57:05.5570000Z" parentGUID="ea3eb714-d059-4ccd-a44e-3128dceea71c" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Easter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aea32888d03e4f5499689d39abf2ea36",
    "externalLink": "",
    "linkName": "New Year Ski Deals",
    "linkTitle": "New Year Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>