<?xml version="1.0" encoding="utf-8"?>
<responsiveTabs guid="c52e58e5-b71d-4382-95e4-700ae2d0472a" id="28751" nodeName="Responsive Tabs" isDoc="" updated="2023-06-08T10:34:54.4300000Z" parentGUID="25e767db-0444-4438-9ae0-9383681f982e" nodeTypeAlias="responsiveTabs" templateAlias="" sortOrder="18" published="true" isBlueprint="false">
  <componentTitle><![CDATA[Find everything else you need for your next Ski Holiday]]></componentTitle>
</responsiveTabs>