<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="c108aec8-488d-4bca-8357-f5ac0911fa30" id="71971" nodeName="Hotel Canada (Pinzolo)" isDoc="" updated="2024-11-05T11:27:07.4170000Z" parentGUID="ea59b48a-e29b-417b-81f9-c9850d58d038" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="6" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/8aa5f55e3cd54c03ad5459660ee1282d,umb://media/8ad48bb72b51403c891f6f454fe8b2f7,umb://media/6b8e936e7b484e4198987d26e220ded5,umb://media/8252e97243344890805d7862315d1c24,umb://media/2800fbc132524c4580753d42e0981608,umb://media/18c9cb5c3d0945d5b40b568bc2d54b3b,umb://media/97d2f03f075844c1a5dc476e5451effd,umb://media/3492933961ce47deb127942cd9d3e695,umb://media/714c8099b1ac40ee938354125b2be9ce,umb://media/c85831d7939a4c9c82b8f5cfb4278eda,umb://media/70e9b03f7c07409e8d5f12b7701a2404,umb://media/63e4dd1f34a441f8813b0e4308c5806b,umb://media/2a4fff20a4f34edcb7aaf7eb7dfa5dee,umb://media/ab50811b769f4540837dbc489a358db7]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is a varied buffet<span> including a corner of homemade bread, fresh fruit, yogurt, jams, juices, desserts, cold cuts and mixed cheeses</span></p>
<p>Dinner is a three course meal featuring Italian and local dishes alongside a salad buffet</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Located in the quiet village of Pinzolo and surrounded by the Brenta dolomites, the Hotel Canada has a great location close to the lifts.</p>
<h2>Close to Pinzolo lifts</h2>
<p>Located just 20 minutes outside of <a data-udi="umb://document/ea59b48ae29b417b81f9c9850d58d038" href="/{localLink:umb://document/ea59b48ae29b417b81f9c9850d58d038}" title="Madonna Di Campiglio">Madonna di Campiglio</a>, Pinzolo offers a more laid-back, local atmosphere. Rest assured that you have access to the same expansive ski area as Madonna di Campiglio by taking the gondola from the village into the mountains.</p>
<p>Hotel Canada has an excellent location in Pinzolo, just 300 metres from the Prà Rodont lift. From here you have amazing linked access to the Madonna di Campiglio ski area with 150 kms of pistes, ideal for beginners and intermediates.</p>
<h2>Swimming pool</h2>
<p>The hotel has a great wellness facilities including a heated indoor swimming pool with views of the hotel's gardens. There is an adults-only spa area featuring an outdoor hot tub, Turkish bath, Finnish sauna, Kneipp path and tropical shower.</p>
<h2>Kids' mini-club</h2>
<p>This family-friendly hotel is lovingly run by the Maffei sisters and they provide a warm welcome and personal service to all guests. The hotel runs an evening mini-club for children aged 3 and up from 4pm-7pm.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Wellness area with outdoor hot tub, Turkish bath, Finnish sauna, tropical shower, Kneipp path (adults only)</li>
<li>Indoor swimming pool with views of the gardens</li>
<li>Massage and beauty treatments are payable locally</li>
<li>Mini-club (ages 3+, 4-7pm)</li>
<li>Bar and restaurant</li>
<li>Ski room</li>
<li>Wi-Fi</li>
<li>Cots are available locally (approx. €12 per day)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "f6e2a51d-2269-4286-9944-3ef695f81e3a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"5d845f7f-dd49-4878-a57f-9bd56feab295\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.16057]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Located in the peaceful town of Pinzolo, off the Madonna di Campiglio ski area, Hotel Canada offers friendly Italian service. Available on half board basis and a five minute walk to the Pinzolo lifts, it is a great base to explore the mountains.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8ad48bb72b51403c891f6f454fe8b2f7]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Central location in Pinzolo</li>
<li>300 metres to the <span>ski hire shop and Pizolo lift which links you to the Pra Rodont lift</span></li>
<li><span>Ski hire shop is Il Comodo Ski di Maestranzi Giuseppe</span></li>
<li>Bus stop outside hotel</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[10.76773]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[87 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[A short walk from the ski lifts in Pinzolo, Madonna di Campiglio, the Hotel Canada offers friendly Italian service. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Canada | Madonna Di Campiglio Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>87</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Canada (Pinzolo)]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITMC0110]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>2</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Twin Rooms</strong> are 16<span>m² with a shower and balcony. They can sleep up to three using an additional single bed.</span></p>
<p><span><strong>Superior Twin Rooms</strong> are 25m² with a shower and balcony. They can sleep up to three using an additional single bed. These rooms are available on request, please call our Reservations team to book.</span></p>
<p><span><strong>Junior Suites</strong> are 30m² with a bath and balcony. These rooms can sleep up to four and are available on request.</span></p>
<p><span><strong>Single Rooms</strong> are also available on request.</span></p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li><span>TV</span></li>
<li><span>Safe</span></li>
<li><span>Minibar</span></li>
<li><span>Hairdryer</span></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p><span>Special dietary requirements (vegetarian, dairy and gluten free diets) can be catered for if known in advance. Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[565389]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>