<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="f72f52b9-4709-4429-a1a1-7a67b5ea9a51" id="24066" nodeName="Tignes and Val d'Isere Ski Extras Bundle" isDoc="" updated="2023-12-07T16:36:56.6700000Z" parentGUID="2a1f7479-153b-4da5-8b87-7c9ce6a2d712" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="1" published="false" isBlueprint="false" unpublishAt="2023-09-12T12:15:00.0000000Z">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<p><img src="/media/13097140/ski-extras-bundle.jpg" alt="" data-udi="umb://media/4382c742ed4c4603bdab1428d36333f5" /></p>
</div>
<h2>Offer ended: 11th September 2023</h2>
<p>See what's new to the slopes for ski season 2023/24, including Inghams offers for your next ski holiday</p>
<p><a data-udi="umb://document/4323a332132044fba8041dc874c3bc85" href="/{localLink:umb://document/4323a332132044fba8041dc874c3bc85}" class="c-btn">What's new to the slopes</a></p>
<h3>Discover Val d'Isere and Tignes for your next ski adventure:</h3>
<p>With over 300km of pistes to discover, Tignes-Val d'Isère is ideal for all levels of skier and snowboarder:</p>
<div class="g6">
<div class="white_box_shadow">
<p id="WhyChoose"><img src="/media/13095300/inghams-ski-adobestock_99925831-278x278.jpeg" alt="tigneslink" data-udi="umb://media/4fa0f1a1b1ef4c439413a33257cab688" /></p>
<p><a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes" class="c-btn">View Tignes Holidays</a></p>
</div>
</div>
<div></div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13095303/inghams-ski-adobestock_132188331-278x278.jpeg" alt="valdiserelink" data-udi="umb://media/4c8acd8872e3459a992d28d630bc1995" /></p>
<p><a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" class="c-btn">View Val d'Isère Holidays</a></p>
</div>
</div>
<div>
<div></div>
<div></div>
<br />
<div class="data-grid">
<p><img src="/media/13097944/cropped-hero-image-2.jpg" alt="" data-udi="umb://media/e0e1810ead854461bf065c9b9cb6b78f" /></p>
</div>
</div>
<div class="data-grid">
<p><a name="Austria"></a></p>
<p><strong>Save 30% on your ski lift pass and equipment hire for ski season 2022/23</strong></p>
<ul>
<li>Discover the thrilling ski area of Tignes and Val d'Isère and save up to 30% on your ski extras this winter.</li>
<li>When you book a ski lift pass and your ski/snowboard equipment hire (or ski carriage) together at the time of booking, you'll save 30% on the total.</li>
<li>You can save up to £160pp* with this offer. Ends 11th September 2023.</li>
</ul>
<p><strong>Terms and Conditions</strong></p>
<ul>
<li>Buy any lift pass and add either ski or snowboard hire at the same time and for the same person to save 30% on the total amount.</li>
<li>A total of £160pp saving can be made when purchasing a Tignes/Val d’isere full area lift pass and black skis and boots.</li>
<li>Valid only in Tignes and Val d’Isère.</li>
<li>All Winter 2023/24 dates included except 30th December 2023, 10th February 2024 &amp; 30th March 2024 departures.</li>
<li>For customers wishing to book ski carriage instead of hiring equipment, please call our Reservations team. Ski carriage offer only included on selected flights.</li>
<li>This offer can be added at any time during the period of the offer, as long as both items are added together.</li>
<li>This offer is applicable to new bookings only.</li>
<li>Only valid on Ski packages, which include your flights, transfers and accommodation.</li>
<li>This offer can be used in conjunction with other offers, except where they also contain a lift pass or ski or board hire.</li>
<li>This offer is subject to availability and can be withdrawn or amended at any time without notice.</li>
</ul>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/47de5880ec4b45728eb97e4c8c7da3c3]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Save 30% on Ski Extras Bundle in Tignes and Val d’Isere – if you book your lift pass and ski/snowboard hire (or ski carriage) together you save 30% on the total.]]></metaDescription>
  <metaTitle><![CDATA[Inghams Ski 2023/24 Tignes-Val d’Isère Ski Extras Bundle | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Tignes and Val d'Isere Ski Extras Bundle]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Save 30% on Ski Extras Bundle in Tignes and Val d’Isere – if you book your lift pass and ski/snowboard hire (or ski carriage) together you save 30% on the total.</p>
<p> </p>
<p> </p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/3cc8804e1b804dc5a5ae84e0c5c09174]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>