<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="ddef5c7c-9bdb-4757-92ae-27614a6308b8" id="29214" nodeName="Montecatini" isDoc="" updated="2024-06-21T16:50:34.3270000Z" parentGUID="58d85ec0-faa5-48b2-ab58-0143fdc9b722" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="0" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "1924720f-3b72-4bb8-b374-878d85ac6b76",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Inghams Guided Walks included from 03 May -11 Oct (subject to availability) ",
    "addedValueStart": "2023-10-16T11:12:54",
    "addedValueEnd": "2030-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "03a556cf-3047-471d-b1d8-388a01a50217",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "24/7 support & tailored advice from our local resort team",
    "addedValueStart": "2023-04-02T13:20:44",
    "addedValueEnd": "2030-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "5b195b39-a59c-4cea-90a2-a6db6a36acc9",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "All holidays include flights from the UK and transfers",
    "addedValueStart": "2023-09-18T15:39:26",
    "addedValueEnd": "2030-07-18T15:39:27",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/189aeb78ebab4442858f16749ec9dfd7,umb://media/3cda63467cd2443eb49d6b1f53311d61,umb://media/4972b75475134d628793d9ce00108322,umb://media/1e8bae87e1a54bb3a7df8e82ee965a6f,umb://media/5c3fe4e592fc4ced8484a33c604fa300,umb://media/5b97dd6aa6384b1d8625610da5e77ac0,umb://media/a71142cfe1cd40479c39345af45c8b5e,umb://media/d95b38efbc6e4c03a88737f26ca00c14,umb://media/6389db7c3aee43448d2b9fe2040c1e2f,umb://media/cefd11ff8e434498bcc0be303bcf39dc,umb://media/999c448784a647ebb7dd362ba74db557,umb://media/44757b2aa5a842e1b48486560514e2e3,umb://media/5ea43df90e064a7c910460bb2659f5ef,umb://media/e892348f23064dd6bf433a5fa8ff5fca]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>The thermal waters of Montecatini have been a hit with visitors since Roman times, but they really took off in the 20th century, when famous composers and film stars cottoned on to their therapeutic qualities. But, there’s life beyond the baths. A funicular nips up to the heights of medieval Montecatini Alto and footpaths wind through forests and ancient pilgrimage routes, ideal for avid walkers. In the summer, Montecatini is also a great spot for exploring the rest of Northern <a data-udi="umb://document/58d85ec0faa548b2ab580143fdc9b722" href="/{localLink:umb://document/58d85ec0faa548b2ab580143fdc9b722}" title="Tuscany">Tuscany</a>, with public transport networks connecting to Florence, Pisa and the sandy Tuscan coast.</p>
<h3>Relaxing in star-studded spas</h3>
<p>Follow in the footsteps of Verdi, Marie Curie, Audrey Hepburn and Versace by taking a dip in the thermal waters of Montecatini. Don’t miss having a glug of the drinking waters in the Terme Tettuccio whilst admiring the Romanesque columns, fountains and pools. Alternatively, swap a swig of spa water for a cappuccino or Chianti on the piazza – one of the best places in Montecatini for a leisurely lunch in the summer sun and a cold glass of white wine.</p>
<h3>Exploring Montecatini Alto</h3>
<p>A funicular links Montecatini to its medieval older sister, Montecatini Alto. Once a fortress-like town guarded by gated towers and well-armed sentries, it’s now a popular spot for admiring the views across Northern Tuscany – and for having pizza on the pretty piazza. On the return journey, you can swap the funicular for one of the many footpaths that twist and turn along Montecatini Alto’s forested hillside. Walking to and from Montecatini Alto is a real treat, with all manner of plant and animal life to learn about as you go along. </p>
<h3>Walking the Camino of Tuscany</h3>
<p>The path of Saint Jacopo follows the Via Cassia from Florence to Livorno via Montecatini, tracing the routes of pilgrims on their way to the celebrated Camino de Santiago. For something a little less epic, take a train to Borgo a Buggiano, where you can walk up to the towns in Tuscany's Colle di Buggiano, where walking paths come with classic Tuscan flavours – hilltop towns included. You can also walk from Montecatini to the Colle di Buggiano which is about 4km uphill.</p>
<h3>Florence, Pisa, Lucca and the Tuscan Riviera</h3>
<p>Fancy exploring further afield? Head to Montecatini railway station, where trains will take you to Tuscany's Renaissance wonders, Florence, Lucca and Pisa in an hour or less. The Tuscan coast – AKA Tuscan Riviera, if you’re feeling fancy – is also in easy reach by train. Pack a beach bag and aim for the sands of Viareggio, where rows of sun-bleached Art Nouveau buildings hint at its heyday as a 1920s beach resort. The sandy beach is still very popular, with sun loungers spanning into the horizon – and a coastal train line that provides a great escape from the crowds. What a fantastic way to spend your summer holiday!</p>
<h2>Why book a summer holiday in Montecatini with Inghams?</h2>
<p>At Inghams, we do walking holidays differently. With no fixed itinerary, you have more time in your destination and the freedom to walk as much or as little as you like, discovering some of Montecatini's best walking routes and activities at your own pace.</p>
<p><span>Plus, we've included two optional </span><a rel="noopener" data-udi="umb://document/419dea98f6194619b18de27172090063" href="https://www.inghams.co.uk/walking-holidays/guided-walks" target="_blank" title="Guided Walks">guided walks</a><span> every week in Montecatini. Join a professional walking guide and really get to know Tuscany (see more details in the ‘walking’ tab below).</span></p>
<p><span>With over 85 years of outdoor travel experience, our holiday packages to Montecatini include flights, transfers, and accommodation, so you can relax and leave the small details to us. Our experts can help you choose the best holiday for you, and our team in resort can give you the inside scoop on how to spend your time away with us.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<h3>Pre-book your excursions online or give us a call</h3>
<h3>Siena &amp; San Gimignano from £122 per person (full day)</h3>
<p>Discover the biggest medieval town in Tuscany, Siena. Visit the unique Cathedral, piazza del Campo and Accademia Musicale Chigiana. Take a beautiful drive through the Tuscan vineyards and olive-groves to San Gimignano. The famous town of the towers dates back to the Etruscan period. You'll also have the opportunity to try some of the region's best wines.</p>
<p><em>Departs on Thursday and Sundays. Not suitable for guests with limited mobility and accessibility requirements. </em></p>
<h3>Florence with the Uffizi Gallery from £87 per person (full day)</h3>
<p>Visit the home town of the Medici family and look out for works by incredible Renaissance artists like Leonardo Da Vinci, Michelangelo, Botticelli and Raphael as you explore Florence on a walking tour with our local guide. The tour lasts around two hours and is followed by an introduction to the Uffizi Gallery (payable locally), where you can discover even more great works of art. </p>
<p><em>Departs on Fridays. </em></p>
<h3>Cinque Terre from £122 per person (full day)</h3>
<p>Discover some of the most picturesque seaside villages in the Mediterranean. You'll see the UNESCO protected coastline from the water on a boat trip. Explore the colourful fishing villages of Manarola, Vernazza and Monterosso and have free time for shopping or even a swim. Don't forget your camera!</p>
<p><em>Departs on Tuesdays and Saturdays. Discounts available for guests aged 65+ when booked locally. Not suitable for guests with limited mobility and accessibility requirements. </em></p>
<h3>Chianti Wine &amp; Vinci from £78 per person (half day)</h3>
<p>Visit a family-run wine estate for a guided wine tasting with the experts. Try the best Chianti wines accompanied by tasty Tuscan snacks like bruschetta and extra-virgin olive oil. After, you’ll have time to explore the medieval village of Vinci, the birthplace of Leonardo da Vinci.</p>
<p><em>Departs on Mondays and Wednesdays</em></p>
<p><em>Please note that the pick-up and drop off point for all Montecatini excursions is the Tourist Information Office located in the centre of town. This is a short walk away from all of our hotels.</em></p>
<h3>Book locally</h3>
<h3>Cooking Class in a Tuscan Farmhouse £78 per person</h3>
<p>Cook up a storm! Learn how to make home-made Italian style pasta like ravioli or gnocchi and discover the secret to the perfect tiramisu. You’ll then enjoy the food you’ve prepared accompanied by a glass of Tuscan wine.</p>
<p><em>Departs on Mondays (bookable and payable locally) return taxi transfers to the Tuscan Farmhouse are payable on the spot locally for an additional fee (approx. €55 per person).</em></p>
<h3>Olive Oil Tasting in Montecatini Alto £34 per person (half day)</h3>
<p>Take a special guided tour of an olive oil farm to learn how the delicious extra-virgin olive oil is produced. Explore the 200-year-old olive groves on the terraces above Montecatini and enjoy fantastic views over the spa town while you try the finest quality olive oil and herbal tea with olive leaves.</p>
<p><em>Departs on Wednesdays and Thursdays</em></p>
<p><em>We act at all times as a selling agent for the suppliers. All excursions require minimum numbers to run and are subject to change. Some excursions may not be available to pre-book in low season but may be available to book locally subject to numbers. Prices will be confirmed at the time of booking. Please see our <a data-udi="umb://document/b703ff07ccec43baad41fffcfcc61821" href="/{localLink:umb://document/b703ff07ccec43baad41fffcfcc61821}" title="Terms &amp; Conditions">terms &amp; conditions</a>.</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "674d025d-931f-4493-935f-670763b4c5a6",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"a2ccf784-bb40-4308-a866-f6984a7b1335\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround><![CDATA[<h3>Trains</h3>
<p>During low season the trains run regularly with easy links to Pisa, Lucca and Florence and from Montecatini Centro station. They're fantastic for exploring nearby cities and all that Tuscany has to offer (train schedule changes may apply in high summer). You can also get to nearby towns such as Borgo a Buggiano in the Colle di Buggiano (Buggiano Hills) and access a wider walking area, in about 10 minutes on the train, you will have to walk from the train station to the starting points of many walks and to the towns in the Colle di Buggiano.</p>
<h3>Walking</h3>
<p>For a keen walker, getting around shouldn't be a problem. You can walk up to the Colle di Buggiano in about an hour and have the opportunity to explore a new expanse of walking area. This is mostly uphill, so will require a good fitness level. Walking up to Montecatini Alto, for those viewpoints is also very doable and takes about an hour, uphill.</p>]]></gettingAround>
  <gettingAroundTitle><![CDATA[Getting around Montecatini]]></gettingAroundTitle>
  <guidedWalks><![CDATA[<h3>Inghams guided walks are included on your holiday in Montecatini</h3>
<p>We’ve included one full-day and one half-day walk per holiday in Montecatini, just for Inghams guests. Join a small group and be led by a professional guide on some of their favourite trails. It’s a great way to get to know the area.</p>
<p>The full-day walk will run every Monday and the half-day walk will run every Friday from 03 May - 11 Oct 2024 (please note that walks will not take place between 01 Jul - 29 Aug 24) and from the 12th May-26th Sep 2025. <span>You can add the walks onto your holiday by giving us a call. Make sure to book your walks in well in advance to secure your slot!</span></p>
<p><strong>The Aqueduct and Springs of Lucca</strong></p>
<p>Dating back two centuries, the monumental aqueduct of Nottolini brings pure water to the fountains of Lucca. On this walk you'll get to find out where this water originates from. You'll head to a valley which is a hidden gem, full of streams and little waterfalls called "Parole d'Oro", Golden Words. This place is magical and truly loved by the citizens of Lucca.</p>
<p><strong>Grade:</strong> Moderate-Challenging (a decent fitness level and sure-footedness is required)</p>
<p><strong>Distance:</strong> 15km</p>
<p><strong>Duration:</strong> Full day (walking time approx. 6 hours)</p>
<p><strong>Ascent/Descent:</strong> 200m</p>
<p><strong>Terrain:</strong> Asphalt surfaces, dirt tracks, natural trails</p>
<p><strong>Useful information:</strong> You'll stop off along the walk to have your packed lunch in the open air. Make sure you come prepared with a packed lunch and snacks. There may also the option to pre-book lunch in a farm house if the group would like to. To get to the starting point of the walk you can take the train which takes about 30 minutes (approx. €5 each way, payable locally)</p>
<p><strong>Montecatini Alto</strong></p>
<p>Walking up from the Montecatini funicular station you'll walk up hill to the stunning Montecatini Alto, which is the best place to experience those classic Tuscan post-card views. Enjoy learning about the history, culture and the flora and fauna of the area as you go along, our guide will give you a fantastic insight into Montecatini Alto and all it has to offer.</p>
<p><strong>Grade:</strong> Easy-Moderate (a decent fitness level and sure-footedness is required)</p>
<p><strong>Distance:</strong> 4km</p>
<p><strong>Duration: </strong>Half day (walking time approx. 3 hours)</p>
<p><strong>Ascent/Descent:</strong> 290m</p>
<p><strong>Terrain:</strong> Asphalt surfaces, dirt tracks, natural trails, rocky terrain, some steep ascents</p>
<p><strong>Useful information:</strong> Make sure you come prepared with lots of water and snacks. You may also have the opportunity to book onto an olive oil tasting at the end of the walk (€39 per person, payable and bookable locally, subject to availability and minimum numbers). The walk starts from the base station of the Montecatini funicular, which you can walk to from our hotels.</p>
<h3>For every walk you will need:</h3>
<p>Suitable walking shoes with good grip, appropriate clothing, sun-cream, insect repellent, sun glasses, rain jacket, rucksack, at least a litre of water, a snack and cash. You may find walking poles useful.</p>
<p><em>Early booking is strongly recommended as spaces are limited. All walks are subject to availability of local guides, weather conditions and maximum numbers. Planned routes are subject to change. Any distances and ascents/descents stated are approximate. Full details of the walks with the meeting points and routes will be provided to you on arrival. In some instances there may be a small charge for local transport that is payable locally. In resorts where the walks run over more than two days, the day of the walk will be allocated to you by your Rep in your welcome meeting. Where we cannot confirm your preferred option in resort, we will endeavour to offer an alternative subject to the above conditions.</em></p>
<p><em>Please ensure you are comfortable with the grade of walk, planned distance covered and terrain before booking. The decision of the guide on the suitability of the walk for you is final and no compensation will be paid where the guide believes, in their professional opinion, that it is not suitable. Please ensure you are well-equipped for the walk have suitable clothing and footwear. Walks are not recommended for guests under 12 years. Any guests under 18 years will need to be accompanied by an adult.</em></p>]]></guidedWalks>
  <guidedWalksTitle><![CDATA[Inghams Guided Walks in Montecatini]]></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems><![CDATA[[
  {
    "key": "f06566d7-dc32-4c14-916a-7891e6b8dd42",
    "name": "Item 1",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/f46a9814850343d196d5e8a7bb91d9b2",
    "insidersGuidesItemTagline": "Italy Food & Drink Guide",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Italy Food and Drink Guide\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/9c4ae7d997544ce383da2eccd67cf7d7\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Italy Food and Drink Guide\",\r\n    \"linkTitle\": \"Italy Food and Drink Guide\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>Check out our Italy food and drink guide for a tasty tour of Italian favourites. From pizza to gelato, discover what’s on the menu in Italy.<br /><br /></p>"
  },
  {
    "key": "cd6da5c3-abee-4b0f-98b5-a4000befeb89",
    "name": "Item 2",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/1ddf0888d2cf482b86efc6164a58bf5b",
    "insidersGuidesItemTagline": "Italian Ice Cream",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Italian Ice Cream\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/c6a634daf1fe4f7b8869437410bff198\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Italian Ice Cream\",\r\n    \"linkTitle\": \"Italian Ice Cream\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>Take a peek at our guide to Italian ice cream and get ready for a scoop of heaven. It's your go-to for discovering Italy's coolest treats.</p>"
  }
]]]></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<p><strong>Walking Trails:</strong> 150km of walking trails around Montecatini with trains to even more nearby areas including Lucca, Florence and Pisa</p>
<p><strong>Terrain:</strong> Rolling hills, agricultural land, wooded trails, asphalt surfaces, dirt tracks</p>
<p><strong>Best time to go: </strong>May-June &amp; September-October are cooler for walking, but if you love the heat, head out in high summer and spend your days sipping ice cold white wine in a Tuscan vineyard</p>
<p><strong>Best for: </strong>All walking abilities, nature, culture, history, food &amp; drink, sightseeing, couples &amp; friends, families with teens</p>
<p><strong>Fly into: </strong>Pisa Airport (approx. 2 hours 15 mins)</p>
<p><strong>Transfer Time:</strong> approx. 1 hour from Pisa Airport</p>
<p><strong>24/7 Support and advice:</strong> In person or over the phone from our local resort team based in Montecatini</p>
<p><strong>Inghams Guided Walks included</strong></p>]]></insidersGuide>
  <insidersGuidesButton><![CDATA[[
  {
    "name": "Inspire Me",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/889518d3ce0e4393bd297a6f4b894e66",
    "externalLink": "",
    "linkName": "Inspire Me",
    "linkTitle": "Inspire Me",
    "linkTitleColor": ""
  }
]]]></insidersGuidesButton>
  <insidersGuidesContent><![CDATA[<p>Ready for an Italian adventure? Let our top travel tips and advice be your guide to discovering the best experiences Italy has to offer.</p>]]></insidersGuidesContent>
  <insidersGuidesTitle><![CDATA[Discover Italy]]></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language></language>
  <latestDeals></latestDeals>
  <latitude></latitude>
  <listingDescription><![CDATA[<p>Spend your summer holiday in Montecatini and visit some of northern Tuscany's best sights. This beautiful region is very varied with the Tuscan Apennine mountains in the north, wide open valleys and rolling vineyard-covered hills to the south of Florence. Looking for those post-card perfect views? Spend your days walking through the countryside, discovering them for yourself!</p>
<p><strong>Best for:</strong> <span>all walking abilities; nature; sightseeing; food &amp; drink</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/189aeb78ebab4442858f16749ec9dfd7]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Book your summer holiday in Montecatini online today with Inghams. A wonderful base for discovering Tuscany's famous walking trails, culture, food and wine.]]></metaDescription>
  <metaTitle><![CDATA[Montecatini Holidays | Holidays in Tuscany 2024/2025 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Montecatini]]></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes><![CDATA[<h3>Archangel Gabriel Trek</h3>
<p>This walk is a total immersion into the Tuscan landscape surrounded by fantastic views and historical monuments. The path crosses vineyards and lush olive groves and passes by unique churches like the Pieve di San Gennaro. This church is a Romanesque jewel that houses a statue of the Archangel Gabriel made by the genius Leonardo Da Vinci! The walk will end with the chance to experience a local wine tasting- what more could you want?</p>
<p><strong>Grade:</strong> Moderate<br /><strong>Distance:</strong> 8km<br /><strong>Ascent/Descent:</strong> 300m<br /><strong>Terrain:</strong> Asphalt surfaces, dirt tracks, natural trails</p>
<h3>The Noble Villas of Lucca</h3>
<p>This walk is full of incredible villas to admire, memories of a glorious past, within stunning landscapes. You'll walk along a mixture of roads and gentle paths, through picturesque settlements and past villas surrounded by the typical Tuscan landscape. What's more, you'll even have the chance to visit the magnificent Villa Torrigiani and the park that surrounds it.</p>
<p><strong>Grade:</strong> Moderate<br /><strong>Distance:</strong> 8km<br /><strong>Ascent/Descent:</strong> 300m<br /><strong>Terrain:</strong> Asphalt surfaces, dirt tracks, natural trails</p>
<h3>The Olive Path</h3>
<p>The first half of the walk is mainly up hill as you head up to 320 metres of altitude. The highest point of the walk is the area of Pinetone/Fontanelle di Violino, where you'll stop for lunch and have a chance to soak up the views around you. You'll walk along country roads, through olive groves, wooden paths and trekking trails. You'll begin the decent after lunch, passing by tiny villages such as Papa, Noni, Castelvecchio, Mulino di Maciste and then head back to Colle di Buggiano.</p>
<p><strong>Grade:</strong> Moderate<br /><strong>Distance:</strong> 8km<br /><strong>Ascent/Descent</strong>: 320m<br /><strong>Terrain:</strong> Asphalt surfaces, dirt tracks, natural trails</p>
<h3>Cammino San Jacopo</h3>
<p>You can hop on and off this bucket list walking route, with transport links that will take you to various starting points. Overall the route is 170km in length stretching from Florence to Livorno, but you can enjoy some sections of it from Montecatini. Due to its popularity it's pretty well sign-posted in most places, but it's always worth having a map with you just in case! The route heads past towns and cities of great historical significance (including Florence, Lucca, Pescia and Pistoia and Pisa) and is based around an ancient Roman road. It's an excellent route to dip in and out of.</p>
<h3>Via Francigena</h3>
<p>All roads lead to Rome! The Via Francigena is an ancient pilgrimage route which runs through rural Italy. It stretches all the way from the Swiss Alps to Rome! One stage of the route heads from Lucca to Siena, so if you fancy a long day out, you could catch the train to Lucca in the morning and hop onto the route there, walking as much or as little of it as you want. It's a great one to say you've done!</p>]]></popularWalkingRoutes>
  <popularWalkingRoutesTitle><![CDATA[Our Favourite Walks]]></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ITMT]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs>0</showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide>1</showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps>0</showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking>1</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo><![CDATA[Things to do in Montecatini]]></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking><![CDATA[Walking in and around Montecatini]]></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Montecatini is a Tuscan spa town with a lustrous past and a lively present – ideal for a summer holiday exploring the nearby towns of Florence and Pisa]]></tagline>
  <thingsToDo><![CDATA[<h3>Things to see in Montecatini</h3>
<p>Head for the town's main street, Via Verde in Montecatini's centre for plenty of shops and restaurants to explore. Head up to Montecatini Alto in the funicular railway - it's over 100 year's old and will take you up to some incredible viewpoints! Make sure you check out the famous thermal spas while you're here. Book in for a treatment and spend time in the healing waters. </p>
<p>If stalagmites and stalactites are your thing, make sure you visit the inferno-like cave Grotta Maona. Home to a colony of rare bats it's quite the experience, walking through the tunnels in eerie silence!</p>
<h3>Exploring Tuscany</h3>
<p>If you want to explore further afield on your summer holiday, then many of Tuscany's best towns are close by. Fill your days with trips to Florence, Siena and Pisa. Don't forget the lesser-known places too. You can escape the crowds in little towns like Fosdinovo and Collodi.</p>
<p>While it's easy to get around by train to some of the major cities and towns, you can't beat putting on your walking boots and heading out into the hills. There are some fantastic countryside views to be found.</p>
<p>In July, don't miss the Lucca Summer Festival, a huge outdoor concert for music lovers. It's a great event for dancing the night away. Or, if books and food are more your speed then try out the annual Food and Book Festival in Montecatini Terme in May.</p>
<h3>Walking around vineyards: food &amp; wine in Tuscany</h3>
<p>Tuscany is famous for its food and wine so you can be sure of trying some amazing food while you're there. Our favourite dishes are bistecca alla fiorentina and panzanella. Head out into the vineyards for a spot of wine tasting; some of Italy's most famous wines are produced here and we absolutely love sipping them whilst gazing out over the vines.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation><![CDATA[<h3>Recommended equipment</h3>
<p><span>Suitable walking shoes with good grip, appropriate clothing,</span> rain jacket, sun cream, insect repellent, sun glasses, rucksack, at least a litre of water, a re-usable water bottle, a snack and cash. You may find walking poles useful.</p>
<h3>Walking maps</h3>
<p><span>For a paper map we'd recommend Kompass Toscana 2440 - Foglio 1 (1:50,000) (Heart of Tuscany - Map 1).</span></p>
<h3>Hiking guidelines</h3>
<p>The Tuscan countryside is a natural paradise, with lots to explore and discover. To help it stay that way, and remain an enjoyable and safe place for everyone, we recommend following our little list of do's and don'ts:</p>
<ul>
<li>Plan your route well and don't over-estimate yourself</li>
<li>Check the weather forecast</li>
<li>Tell someone where you're planning to walk and what time you're expecting to be back</li>
<li>Take all the recommended equipment</li>
<li>Make a note of emergency numbers:
<ul>
<li>Italian Emergency Services: 112</li>
</ul>
</li>
<li>Don't leave the marked trails without a guide</li>
<li>Let nature stay wild by not picking flowers (it's illegal in some places) or getting close to/making contact with wild animals</li>
<li>Always leave gates as you found them and don't climb over fences</li>
<li>Leave no trace</li>
</ul>
<p>Check out our <a rel="noopener" href="https://www.inghams.co.uk/walking-holidays/insider-guides/responsible-walking" target="_blank">Responsible Walking</a> insider guide if you want more tips for your summer walking holiday.</p>]]></usefulInformation>
  <usefulInformationTitle><![CDATA[Useful Information & Guidelines]]></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription><![CDATA[<p><span>On an Inghams walking holiday, you have the freedom to explore the area at your own pace. Make each day a new adventure, with as much or as little walking as you like.</span></p>
<h3>Why we love walking in Montecatini</h3>
<p>Montecatini Terme is passed through by the route of the famous Camino di San Jacopo. This is a bucket list route for many a keen walker and, for the most part, is very well sign-posted. The Tuscan countryside is famous for its Italian Cypress trees and rolling hills, we absolutely love walking here as it offers a completely different landscape compared to the usual mountainous walking areas. With wooded, hilly trails in areas such as the Colle di Buggiano and endless ancient villages to stumble upon, we can't get enough of walking around Montecatini.</p>
<h3>Guided walks</h3>
<p>Don't forget, you have the option to join two included Inghams guided walks per holiday, with a local, professional guide. Get to know our favourite walking trails with insider knowledge and the company of Inghams guests. Pre-booking is essential - check out the Guided Walks section below for more information.</p>]]></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>