<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="75ed80f9-f45d-433f-a897-bb8d69ac5839" id="75613" nodeName="Beverly Alps Hotel &amp; Spa (Pinzolo)" isDoc="" updated="2024-12-06T16:04:38.0170000Z" parentGUID="ea59b48a-e29b-417b-81f9-c9850d58d038" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="10" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/b1bb21c55543439e89e654acce44abf3,umb://media/fe02a67a0f5842f58d67376a361d1247,umb://media/0922818c9f9a46b8ad60134b3007bbfc,umb://media/3e2a2348c5b34025b2130cd11e80693b,umb://media/2ffd5221faba4b1dae9ca9f81a3ae184,umb://media/8612bce02f42478c84ec9c691ca5b383,umb://media/3614e8a6f8b548eda459f7007d706a00,umb://media/7eebdb39c9d1416f870e002fc511938e,umb://media/cf36891925684dc0bfd5265a0b0b0606,umb://media/a38d421a61354bf6acbcb1d04bec2509,umb://media/28b61474afb546afb4aab84c18a93213,umb://media/1f192be87a184fec8966e744d5a1301d,umb://media/ee9beaeaed8e4a7da1a8f70cce6ed9eb]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Beverly Alps Hotel &amp; Spa is on a half board basis.</p>
<p>All meals are served in the hotel's restaurant. Every morning there's breakfast buffet with hot and cold options and in the evenings you'll get a three-course meal with a choice. Once a week the hotel have a gala dinner where to can try some local and regional dishes. </p>
<p>Christmas and New Year gala dinners included.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Beverly Alps Hotel &amp; Spa exudes a cosy Alpine charm, located just 400 metres from the Pinzolo - Pra Rodont cable car and even closer to the heart of Pinzolo. With spacious rooms, inviting communal areas, and a relaxing wellness zone, this four-star superior hotel is an excellent choice for skiers and those seeking to unwind after a day on the slopes.</p>
<h2><span>Homely comfort</span></h2>
<p>The hotel’s Alpine-themed décor and warm ambiance create a welcoming retreat. The spacious, well-equipped rooms ensure you can settle in and feel at home right away. After unpacking, relax in the bar with a drink, it’s the perfect spot to mingle with the friendly staff, who are always happy to share their top tips and favourite ski runs.</p>
<p>Start your mornings with an extensive breakfast buffet, offering plenty of options to fuel your day. In the evening, enjoy a delicious three-course meal, with many ingredients sourced locally for an authentic taste of the region.</p>
<h2>Prime location</h2>
<p>The Beverly Alps Hotel &amp; Spa is a dream base for serious skiers. Hop on the free shuttle to the lifts and explore the expansive ski area, all while taking in the breath-taking scenery of the Brenta Dolomites National Park. From the gondola, you can tackle the quiet local slopes or venture further toward Madonna di Campiglio and beyond to rack up the miles.</p>
<p>After a thrilling day, relax with a drink at a mountain hut before deciding whether to take on the challenging black run back to Pinzolo or opt for an easier ride down on the gondola.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free Wi-Fi</li>
<li>Bar</li>
<li>Wellness Centre with sauna, steam room, whirlpool and 13 metre pool - swimming cap compulsory (available locally). </li>
<li>Massage booked and paid for locally</li>
<li>Free shuttle service to and from the lifts at set times during the day</li>
<li>Heated boot room</li>
<li>Cot charge of €10 per night (payable locally)</li>
</ul>
<p>Children aged between 2-15 are only permitted to use the pool between 10:00 - 13:00 if accompanied by an adult.</p>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "2df20141-7c6f-4b04-b3e4-403f332aaf22",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"4a4c7b38-c435-41f8-b804-afbc7dab89fb\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.16120]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Beverly Alps Hotel &amp; Spa offers friendly service, delicious cuisine, and spacious rooms, making it an ideal choice for your stay in Pinzolo. Perfectly located near the town centre, it’s also just 400 meters from the ski lifts, easily accessible via the complimentary shuttle service. Whether you're here to relax or hit the slopes, this hotel has you covered.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b1bb21c55543439e89e654acce44abf3]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Resort tax of €2.50 per person per night (payable locally)</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>100 metres to centre of Pinzolo</li>
<li>400 metres to ski lifts &amp; ski hire - free hotel shuttle</li>
<li>100 metres to the nearest bus stop</li>
<li>200m to nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[10.76379]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[41 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your ski holiday at Beverly Alps Hotel & Spa today with Inghams. It's in a prime location for both the slopes and the resort centre.]]></metaDescription>
  <metaTitle><![CDATA[Beverly Alps Hotel & Spa | Madonna Di Campiglio Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>41</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4.5]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Beverly Alps Hotel & Spa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITMC0112]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Twin Rooms</strong> are 20m² and sleep two people and have a shower.</p>
<p><strong>Superior Twin Rooms</strong> are 23m² and can sleep up to three people using a single sofa bed and have a shower. </p>
<p><strong>Alpine Suites</strong> are 50m² and can sleep up to four with double bed in the master bedroom and a double sofa bed in the lounge. Rooms come with two bathrooms, one with a shower and the other a jacuzzi bath. They are available on request, please call to book. </p>
<p><strong>Panoramic Suite </strong>are 60m² and located on the top floor. They can sleep up to four with a double bed in the master bedroom and either a double sofa bed or two single sofa beds in the lounge. They have two bathrooms, one with a shower and the other with a bath. Rooms have a panoramic balcony. They are available on request, please call to book. </p>
<p><strong>Standard Twin Rooms for Single Use</strong> are available on request, please call to book.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Balcony</li>
<li>TV </li>
<li>Fridge</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p><span>Special diets are available but must be requested at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>3</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1687434]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>