<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="134d2036-e9ce-48db-aa42-5e6c3012447e" id="24089" nodeName="Italian Prawn Linguine" isDoc="" updated="2021-12-15T11:15:26.2430000Z" parentGUID="381312e3-a4ec-4bb3-94af-e28c1ee1135a" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="4" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="white_box_shadow">
<p><img src="/media/13051326/italian-prawn-linguine.jpg" alt="Italian Prawn Linguine" width="858" height="410" rel="858,410" /></p>
<p>Italian pasta linguine is typically served with pesto or seafood, known respectively as trenette al pesto and linguine alle vongole, which is served with clams. As versatile as other popular pasta types, it works extremely well as a base to many non-meat dishes.</p>
<p>Georgia, the lifestyle blogger behind <a rel="nofollow noopener noreferrer" href="http://www.loveonthewallblog.com/2017/03/prawn-linguine-recipe.html" target="_blank">Love on the Wall</a>, has shared one of her favourite pasta dishes which features linguine, prawns, fresh tomatoes, and peppers.</p>
<p> </p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span style="font-size: 16px; font-weight: bold; color: #7ea537;">Ingredients</span></p>
<ul>
<li>- 80g linguine</li>
<li>- 1 pack cooked king prawns</li>
<li>- 1 medium tomato, diced</li>
<li>- 1 red or yellow pepper</li>
<li>- 4 spring onions, diced</li>
<li>- Splash olive oil</li>
<li>- 1 clove garlic, crushed</li>
<li>- Juice of half lime</li>
<li>- Salt and pepper to taste </li>
</ul>
<p> </p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span id="1" style="font-size: 16px; font-weight: bold; color: #7ea537;">Method</span></p>
<p>Mix the vegetables in a large bowl with the garlic, salt, pepper, and lime juice, and add a splash of water. Put the linguine in a pan and bowl with water to cook.</p>
<p>Add the vegetable mix into a large pan and heat until soft. If the vegetables appear to be drying, add a little extra water with lime, salt, and pepper. Once the pasta is cooked, add the prawns to the vegetables until heated through.</p>
<p>Remove all from the heat, drain the pasta and toss with the vegetables. Serve immediately.</p>
<p>You can <a rel="noopener noreferrer" href="http://cdn-inghams.hotelplan.co.uk/media/13033365/inghams-foodie-finds-web-download.pdf?utm_source=blogs&amp;utm_medium=PDF&amp;utm_campaign=foodie_finds_alpine_recipes" target="_blank" title="Inghams Foodie Finds Alpine-Inspired Recipe Book">download a PDF version</a> of our <strong> Foodie Finds recipe book</strong>, which includes this recipe and other<strong> 'Alpine-Inspired' recipes</strong>.</p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Italian pasta linguine is typically served with pesto or seafood, known respectively as trenette al pesto and linguine alle vongole, which is served with clams.]]></metaDescription>
  <metaTitle><![CDATA[Italian Prawn Linguine - Inghams Foodie Finds Cookbook]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Italian Prawn Linguine]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/e625e62a3b4f47b4a6653b7b9f7da079]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>