<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="1bf1f888-a3e5-451e-bee4-0baa30d68bca" id="55677" nodeName="Austria" isDoc="" updated="2024-05-10T16:37:47.2270000Z" parentGUID="d9ee2d5f-68e9-4fe6-92b0-8cbc527df81c" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="5" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Explore cinematic landscapes, superb cuisine and discover so much to see and do in Austria with our latest holiday deals. Flights, transfers and accommodation included.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great late deal on a summer 2024 holiday in Austria. Book your holiday today and take advantage of our early booking offers with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Austria Summer 2024 Holidays - Book Holidays | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SUMMER-AUSTRIA-23-BEST-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-SUMMER-AUSTRIA-23-BEST-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Last Minute Austria holidays ]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/1433c5c94c624223ac5522264d77e639",
    "promotionBannerMobile": "umb://media/6744b62769d24cbdb122971c1eb18a3c",
    "promotionLink": "[]",
    "promotionStartDate": "2023-01-06T00:00:00",
    "promotionEndDate": "2023-02-06T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[ Our Austria walking offers for 2023/24]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p><span>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or call us on the above number to speak to one of our consultants and talk through your requirements.</span></p>
<h3><a data-udi="umb://document/1a03923627aa431e806c19af535f7763" href="/{localLink:umb://document/1a03923627aa431e806c19af535f7763}" title="Austria"><span>Alternatively, view our 2023 Austria deals &gt;&gt;</span></a></h3>
<h3> </h3>]]></zeroResultsText>
</offersPage>