<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksContainer guid="36208d2a-3326-4e67-a3d2-816ab306db3e" id="71638" nodeName="Can't find the walking deal you're looking for? Try these..." isDoc="" updated="2024-05-23T11:42:22.8870000Z" parentGUID="9179639c-0d6a-49ac-85fd-eaf838270c6a" nodeTypeAlias="reskinOfferLinksContainer" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <availableOffersDescription></availableOffersDescription>
  <listName></listName>
</reskinOfferLinksContainer>