<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="4b383cf6-b375-4b34-a62c-258e9c25cf59" id="48133" nodeName="Hotel Teresa" isDoc="" updated="2024-12-10T12:01:31.7430000Z" parentGUID="bffd76f3-b273-4cdb-b2a6-6c10b923aaef" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "15d65103-99e2-4c64-a0f1-5fd798c27dff",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Spa Credit: €25 spa credit per person, redeemable against spa treatments, for summer 25 (ends 31 Mar 25)",
    "addedValueStart": "2020-08-24T08:49:46",
    "addedValueEnd": "2025-03-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "86d4ad6b-3146-418c-b734-d2dbfdf1ffa8",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Three free weekly guided excursions in the Dolomite natural parks (summer 25)",
    "addedValueStart": "2020-08-24T08:52:18",
    "addedValueEnd": "2025-09-27T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "cfb1ce94-a82e-4e68-add4-d08bb9bccdbe",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free sunrise or sunset wildlife watching trip in the UNESCO park (summer 25)",
    "addedValueStart": "2020-08-24T08:53:30",
    "addedValueEnd": "2025-09-27T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "e33afa44-e217-400b-b9df-98d2a482708b",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of hotels mountain bikes (subject to availability, summer 25)",
    "addedValueStart": "2020-08-24T08:54:15",
    "addedValueEnd": "2025-09-27T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "c83b8a04-9c72-441b-ad68-cc484d0deaf4",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly wine and cheese tasting (summer 25)",
    "addedValueStart": "2024-12-09T11:56:06",
    "addedValueEnd": "2025-09-27T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/50c3db364188482cae9974f392b2094f,umb://media/ee0d0711577244c482200902d304aeda,umb://media/9dfa0170ead5457b8817ad2f80a79f6d,umb://media/41048c5a183a4a6eb97c8ad74b092187,umb://media/347460e391134910b9a7634cd1e3a67a,umb://media/290cd5bd31a24a1b88e0d6c304e924e1,umb://media/2565c8b0d379452089a501fc67480347,umb://media/20ca8eacf2d64c7bb11b5a7132afe526,umb://media/b74a7d17193142ea8d9dcad65a20cad5,umb://media/482e0e4e41424548bb8c48fcc619c239]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Food is a real focal point here and the hotel try to stick to a 0km food policy where possible. At breakfast you’ll find a wide selection of breads, pastries, fruit, yoghurt and cereals. They also have some hot options like scrambled eggs. Dinner is a choice of four courses accompanied by a salad and vegetable buffet. Once a week the hotel hosts a traditional Ladin evening where you can get a feel for the region's culture and typical foods. </p>
<p>The chef cooks a combination of Tyrolean, Ladin and Mediterranean style dishes– so expect typical mountain fare and Italian flavours. The hotel have collaborated with local producers to ensure, where possible, that the food they serve is locally and sustainably sourced. For example, all of their pasta and bread is homemade.</p>
<p>They have a varied wine list and love to promote local Alto Adige wines, so just ask for recommendations and they’ll be happy to advise.</p>
<p><strong>Le Café &amp; Bar </strong>has a homely atmosphere, delicious pastries and homemade ice cream. It’s also a nice place for an aperitivo - they have excellent fresh fruit liqueurs.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Teresa is surrounded by nature at the bottom of the famous <a data-udi="umb://document/bffd76f3b2734cdbb2a66c10b923aaef" href="/{localLink:umb://document/bffd76f3b2734cdbb2a66c10b923aaef}" title="Plan de Corones">Kronplatz</a> mountains. It’s the perfect base for a walking holiday.</p>
<h2>Great location for walking and biking</h2>
<p>The area's known for its walking and biking trails in the summer, with lots of downhill and free ride paths to choose from. If you want to head up into the mountains, the Pedagà-Piz de Plaies cable car is just 300 metres away (open from the end of June). The Schanung-Vallazza family really know their stuff. They’re experts on the area and are always happy to offer advice and recommendations on where to head for the day. They even offer free excursions – we loved wildlife watching in the UNESCO National Park.</p>
<h2>Delicious local food &amp; drink</h2>
<p>The food here is definitely something to shout about. The hearty Ladin dishes really hit the spot after a day out on the mountains. The hotel are also committed to sustainability and have collaborated with local farms and organisations to make sure that the produce they use adheres to a “zero kilometre” policy where possible.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Family friendly facilities</strong></p>
<ul>
<li>Experience Nature programme for children. Teaching children and their parents about the flora and fauna of the nearby natural parks, through exploration and educational games</li>
<li>Playroom (must be accompanied by a parent)</li>
<li>Cots are available on request for approx. €20 per day, payable locally</li>
</ul>
<p><strong>Hotel facilities</strong></p>
<ul>
<li>Heated indoor swimming pool</li>
<li>Les Fontanies Spa with whirlpool, saunas, cold zone and a relaxation area with water beds</li>
<li>Massages and beauty treatments (payable locally)</li>
<li>Fitness room</li>
<li>Free activities and excursions each week including guided excursions in the Fanes-Senes-Braies Natural Park and sunrise wildlife watching. There are also some paid excursions, like a guided mountain bike tour once a week</li>
<li>Free use of hotel’s mountain bikes all season (subject to availability)</li>
<li>Free Wi-Fi</li>
<li>Parking</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "b6ed1d76-2934-41a2-816d-6c7573dbf56e",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"6dce302d-ec0c-4435-a87b-b0ac9378bdd0\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Teresa is a great choice if you're looking to connect with nature and relax this summer. Set in the stunning Kronplatz area and close to the walking lifts, you'll be in a prime position for exploring, walking and cycling. The owners even offer free excursions into the Fanes UNESCO national park.  </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/32c0d1dc7e38414681e10cc3a64918d1]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 3 hours 45 mins from Venice, 3 hours 15 mins from Verona</li>
<li>Resort centre location</li>
<li>300 metres to Pedagà-Piz de Plaies cable car (open from the end of June)</li>
<li>40 metres to the nearest bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at Hotel Teresa today with Inghams. It's a fantastic base for walking in Kronplatz.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Teresa | Holidays in Kronplatz | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>30</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Teresa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITKR0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Senes Rooms</strong> are about 22m² and sleep up to three people (extra bed is a single sofa bed). They're decorated in a traditional Ladin style and have a shower.</p>
<p><strong>Fanes Rooms</strong> are about 30m² and sleep up to four people (extra bed is a double sofa bed). They have a bath or shower and a balcony.</p>
<p><strong>Senes Rooms for sole use</strong> are also available.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Balcony</li>
<li>TV</li>
<li>Hairdryer</li>
<li>Bathrobes &amp; slippers</li>
<li>Mini-fridge</li>
<li>Safe</li>
</ul>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €1.75 per person per night is payable locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1628648]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>