<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksContainer guid="17a78b23-510b-4a83-a3c3-ec2be0dec8e2" id="71701" nodeName="Can't find the walking deal you're looking for? Try these..." isDoc="" updated="2024-05-23T11:57:18.5300000Z" parentGUID="fdb9db51-6d82-49c4-af16-bfbedf3294e0" nodeTypeAlias="reskinOfferLinksContainer" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <availableOffersDescription></availableOffersDescription>
  <listName></listName>
</reskinOfferLinksContainer>