<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="3359152a-7e40-4dde-92d0-28d9537eaf9d" id="24648" nodeName="Meeting Santa - Can children write a letter to Santa?" isDoc="" updated="2021-07-06T10:42:54.5070000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="13" published="false" isBlueprint="false">
  <answer><![CDATA[<p>So children have time to reflect on what they would like to say to Santa and their wish list, we will send each child a letter to complete in your pre-departure information. This is sent out to all families approx. 6 weeks before travel. Further instructions will be sent to parents as part of the pre-departure information.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Meeting Santa - can children write a letter to Santa?]]></question>
</fAQItem>