<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="5b2012f4-65d4-4823-b6f9-ba4c3b40fd4b" id="22342" nodeName="Obergurgl" isDoc="" updated="2024-11-13T12:13:30.5830000Z" parentGUID="c9325d9a-7705-4a3c-8190-f3ab0da21760" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="7" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "7e55a90a-ab8c-4d84-99d2-c7e28d1cfc20",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Ötztal Inside Summer Card included",
    "addedValueStart": "2019-08-14T16:30:30",
    "addedValueEnd": "2099-08-15T16:30:31",
    "hideAddedValue": "0"
  },
  {
    "key": "5dc1dc6c-f30a-4836-ba8d-56c752a68ed8",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free guided walks with Ötztal Inside Summer Card",
    "addedValueStart": "2019-08-14T16:30:39",
    "addedValueEnd": "2099-08-15T16:30:41",
    "hideAddedValue": "0"
  },
  {
    "key": "1baf8319-4e90-4033-8181-aaab5dc32436",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of the walker's lifts with the Ötztal Inside Summer Card (1 ascent and descent per day)",
    "addedValueStart": "2024-02-27T10:54:10",
    "addedValueEnd": "2099-02-27T10:54:11",
    "hideAddedValue": "0"
  },
  {
    "key": "44d3ffec-ddde-4745-b708-b8b5f2efd909",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "All holidays include flights from the UK and transfers",
    "addedValueStart": "2024-04-15T16:27:20",
    "addedValueEnd": "2099-04-15T15:24:35",
    "hideAddedValue": "0"
  },
  {
    "key": "162ad2b7-613e-498e-a128-fa0966346eb4",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "24/7 support & tailored advice over the phone from our local resort team",
    "addedValueStart": "2024-04-15T16:27:28",
    "addedValueEnd": "2099-04-15T15:24:35",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/4bcabe51e4c64ee086aa588a895a2008,umb://media/089cd8d946ea45a7a284a325103abb4d,umb://media/70c8b70a9d744a53b6c8efe178dda6ae,umb://media/48a2fef5116f4a318640fb7e6f142661,umb://media/f5d13a225c1a448eaf8f4337eb14ac49,umb://media/9b39cd97aefc437a94938d1a2d6d4c39,umb://media/96add252370f4096b2c6d91371e3747e,umb://media/ead9eb11f74f44bf896038ca03faadc4,umb://media/630422fba47a419596d1c2e4eb3a1622,umb://media/3d323aa62cd14d6ba129476c4a8cfdb1,umb://media/b96f8b74f2cd4694bdeb00a912919c5c,umb://media/0858e7158f504d42bdf1479cc73ce507,umb://media/bf72b3dd92ca45aeaa133c9b59b837cd,umb://media/6c7ccfba3cce44a1a739011ee80222ad,umb://media/b744e0d73437431b85ec64a879cba8fd,umb://media/105fcd6eae734a9395700065d40d3488,umb://media/6b24fb76aa6641208895b0c0d7941a5d,umb://media/3618482fee3a4edfa9540ac0b2489eaa,umb://media/fbe9e753071644679885774a2b49b3c4]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/85812e8a1d0149a58c8737f14c5c36ef]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<ul>
<li>Walk through the centuries-old Stone Pine Forest</li>
<li>Enjoy glacier and mountain views from the Hohe Mut</li>
<li>Spot the golden eagles, chamois, ibex and marmots who live at high altitude</li>
</ul>
<p>Obergurgl sits at the end of Ötztal, the longest valley in the Tyrol. With 1,950 metres of altitude under its belt, this is the spot for high alpine walking holidays in cooler summer climes – often a relief from the warmer summers below. This is a region shaped by the Ice Age, with towering mountain peaks, glacial valleys carved into the rock and icy rivers which flow from the glaciers. It's the perfect terrain for adventuring and there are hundreds of kilometres’ worth of trails, plus rafting rivers, climbing routes and heady via ferrata. There are plenty of opportunities for relaxing too, thanks to the luxury hotels, spas and pools that adorn the valley.</p>
<h2>Walking in Obergurgl and the Ötztal</h2>
<p>Around 1,300 kilometres of well-marked walking trails vary from challenging hikes to viewing platforms easily reached by gondola. Pack your walking poles for rocky paths through centuries-old Stone Pine Forest – a rare sight in this world mostly above the tree line – or follow the paths that wind along the river to Zwieselstein and Sölden, passing waterfalls and mountain huts on route. These are wild parts, so keep your eyes peeled for golden eagles, chamois, ibex and marmots.</p>
<h3>Visit the Hohe Mut</h3>
<p>The mountain ridge of Hohe Mut offers some of the best views in the Tyrol, over 3,000-metre-plus peaks and towards distant glaciers. You can reach the Hohe Mut on foot - the route via the Rotmoos waterfall and the reservoir at the Schönwiesh<span>ü</span>tte is particularly beautiful - or jump on the lifts that get there minus the calf ache. At the top, you can refuel on traditional Tyrolean classics in the mountain hut and children can explore the playground. Of course, this is the starting point for many a picturesque hiking and biking route, too.</p>
<h3>Glacier spas and Tyrolean cuisine</h3>
<p>Thanks to its sky-high spot, Obergurgl offers one of the longest and most snow-sure ski seasons in Austria – and plenty of spas with treatments crafted to soothe weary adventurers’ legs. These really come into their own in summer, when the outdoor pools open to mountain views and massages can target any hiking aches. Obergurgl has a good choice of restaurants too, including Tyrolean inns putting a fresh spin on old mountain recipes.</p>
<h3>Obergurgl by bike</h3>
<p>There are 850 kilometres of mountain biking paths in this neck of the woods, including valley trails, mountain tracks that zigzag the hillsides and the highest cyclable mountain pass in the Alps. Nearby Sölden, just down the valley from Obergurgl, is one of the best downhill mountain bike areas in the world – and home to the notoriously tricky Ötztaler Cycle Marathon. There’s a family-friendly bike park here too.</p>
<h2>Why book a summer holiday in Obergurgl with Inghams?</h2>
<p>At Inghams, we do walking holidays differently. With no fixed itinerary, you have more time in your destination and the freedom to walk as much or as little as you like, discovering some of Obergurgl’s best walking routes and activities at your own pace.</p>
<p>With 90 years of outdoor travel experience, our holiday packages to Obergurgl include flights, transfers, and accommodation, so you can relax and leave the small details to us. Our experts can help you choose the best holiday for you, and our team overseas can give you the inside scoop on how to spend your time away with us.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p>The <a rel="noopener" href="https://www.gurgl.com/oetztal-inside/summer-card.html" target="_blank">Ötztal Inside Summer Card</a> is included for all guests, provided to you by your hotel on arrival.</p>
<p>The card gives you many benefits, including:</p>
<ul>
<li>One daily uphill and downhill ride per lift:
<ul>
<li>Hohe Mut Bahn, Obergurgl (normally open 21 Jun - 15 Sep)</li>
<li>Kirchenkarbahn 1 and 2, Hochgurgl (normally open 24 Jun - 6 Sep)</li>
<li>Gaislachkoglbahn 1 and 2, Sölden (normally open 7 Jun - 6 Oct)</li>
<li>Giggijochbahn, Sölden (normally open 7 Jun - 6 Oct)</li>
<li>Langeggbahn, Sölden (normally open 7 Jun - 6 Oct)</li>
<li>Hochsölden-Rotkoglbahn, Sölden (normally open 28 Jun - 15 Sep)</li>
<li>Tiefenbachbahn, Sölden (normally open 28 Jun - 28 Jul)</li>
<li>Schwarze Schneid Bahn, Sölden (normally open 29 Jul - 20 Oct)</li>
<li>Sesselbahn Wildspitze (normally open 15 Jun - 22 Sep) and Wildes Mannle, Vent (normally open 15 Jun - 22 Sep)</li>
<li>Drei-seen-bahn, Kühtai (normally open 22 Jun - 22 Sep)</li>
<li>Ochsengartenbahn, Hochoetz (normally open 7 Jul - 8 Sep)</li>
<li>Acherkogelbahn, Oetz (normally open 1 Jun - 20 Oct)</li>
<li><em>Travel on lifts is only for walkers - additional tickets are required for bike transport or snowsports (payable locally)</em></li>
</ul>
</li>
<li>Unlimited use of most local public buses</li>
<li>Daily hiking shuttles:
<ul>
<li>Umhausen – Niederthai</li>
<li>Sölden – Windachtal</li>
</ul>
</li>
<li>One daily ride on the toll road (buses)</li>
<li>One day of bike hire (supplement for e-bike/downhill or special bikes)</li>
<li>Unrestricted use of the Nature Park Hiking Program</li>
<li>and much more</li>
</ul>
<p><em>Subject to change.</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "d7236bf6-0048-4e9f-9887-996515b648f1",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"7958cca9-12ef-45d1-bff2-ef38855dc12a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals><![CDATA[<h2>Family activities in Obergurgl</h2>
<h3>Zirbenwald pine forest nature trail</h3>
<p>Meader through the green slopes and rolling hills as you venture through Zirbenwald. With plenty of waterfalls on route, this is an incredible place for that picture-perfect family photo. Explore the nature trails and spot an abundance of wildflowers, and maybe even a golden eagle or chamois. Who will be the first to see a cute little marmot along the way?</p>
<h3>Outdoor playgrounds</h3>
<p>Jump in the gondola for a quick ride to visit the Hohe Mut Alm alpine playground. Made from mostly natural materials, the climbing frames will test your youngsters' balancing skills. Children and adults can carefully cross the rope lines, travel over moving bridges or speed down the slide on the adventure obstacle course. There is also a sand pit where the kids can make friends and create new holiday memories.</p>
<h3>Geocaching in Obergurgl</h3>
<p>Follow the marked route on the treasure hunting map and set out on a mission with the children to find as many geocaches as possible. Solve the riddles and find the letters as you discover the code word on the three-kilometre walk. Will you uncover the mystery word and recover the treasure?</p>
<h3>Mountain-carting in the Ötztal Valley</h3>
<p>Put your helmets on and get ready for a thrilling experience as you zoom from Gaislachkogl middle station down to the valley floor in Sölden. Children from the age of six with an accompanying adult can enjoy this mountain adventure. This 7.3-kilometre path is designed purely for adrenaline seekers; are you ready to brave the ride?</p>
<h3>Sölden Leisure Centre</h3>
<p>Visit the Freizeit Arena in Sölden; just a short 20-minute bus ride from Obergurgl. Ideal for a cloudy day, this sports centre features an action-packed pool with children's slides, whitewater channel, bubble pads, a waterfall and large swimming area. You will also find a bowling alley, tennis court, sports hall and restaurant great for refueling after a busy morning.</p>
<h3>Ötztal Valley experiences</h3>
<p>A guided canyoning adventure in the valley will have you brave the rocky riverbeds and waterfalls, exploring gorges and climbing in steep clefts. Or head to Hochoetz and the Widiversum adventure area which has 36 play and puzzle stations for all family members to take part in. Adventurous teens will love a day out at Area 47 - a large outdoor waterpark, with slides, over-water climbing and wake area and lots of activities to try.</p>]]></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround><![CDATA[<p>Obergurgl and the Ötztal Valley has a great network of public transport and lifts that make getting around the area really easy.</p>
<h3>Lifts</h3>
<p>There are plenty of lifts to take you up the mountains, reaching high peaks and different areas to explore. The Ötztal Valley is very large, so some of the lifts are further away from Obergurgl than others, in which you can use the local buses to access.</p>
<ul>
<li>Hohe Mut Bahn, Obergurgl (normally open 21 Jun - 15 Sep)</li>
<li>Kirchenkarbahn 1 and 2, Hochgurgl (normally open 24 Jun - 6 Sep)</li>
<li>Gaislachkoglbahn 1 and 2, Sölden (normally open 7 Jun - 6 Oct)</li>
<li>Giggijochbahn, Sölden (normally open 7 Jun - 6 Oct)</li>
<li>Langeggbahn, Sölden (normally open 7 Jun - 6 Oct)</li>
<li>Hochsölden-Rotkoglbahn, Sölden (normally open 28 Jun - 15 Sep)</li>
<li>Tiefenbachbahn, Sölden (normally open 28 Jun - 28 Jul)</li>
<li>Schwarze Schneid Bahn, Sölden (normally open 29 Jul - 20 Oct)</li>
<li>Sesselbahn Wildspitze (normally open 15 Jun - 22 Sep) and Wildes Mannle, Vent (normally open 15 Jun - 22 Sep)</li>
<li>Drei-seen-bahn, Kühtai (normally open 22 Jun - 22 Sep)</li>
<li>Ochsengartenbahn, Hochoetz (normally open 7 Jul - 8 Sep)</li>
<li>Acherkogelbahn, Oetz (normally open 1 Jun - 20 Oct)</li>
</ul>
<p>Please visit the “Cards &amp; passes” tab for more information on using your Ötztal Inside Summer Card to access the lifts.</p>
<p><em>Subject to change.</em></p>
<h3>Buses</h3>
<p>There are various bus routes and stops in the valley and villages, making it easy to reach local attractions, hiking areas and trail start points.</p>
<p>The daily hiking shuttles included in the Ötztal Inside Summer Card include:</p>
<ul>
<li>Umhausen – Niederthai</li>
<li>Sölden – Windachtal</li>
</ul>
<p>The bus route down the valley is all included in the Summer Card from Obergurgl to Ötztal Bahnhof, however the route over the Timmelsjoch pass down into Italy is not included.</p>
<p><em>Subject to change.</em></p>
<h3>Hut taxi</h3>
<p>You can use your included Ötztal Inside Summer Card to get a discounted rate on the hut taxis, a service which must be booked in advance with the Tourist Office before at least 4pm the day before.</p>]]></gettingAround>
  <gettingAroundTitle><![CDATA[Getting around Obergurgl]]></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems><![CDATA[[
  {
    "key": "bbccc7ad-8f8c-4795-b29c-8021ddfd7e5a",
    "name": "Item 1",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/e0b11dcbc4074640853f2b5eaea86ea0",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/02cab7f76bca4f6f88c4ac82f79ab9b6\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Traditional Austrian Food\",\r\n    \"linkTitle\": \"Traditional Austrian Food\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>From world-renowned Wiener Schnitzel to sweet Kaiserschmarrn, our guide will lead you through Austria's diverse culinary landscape.</p>"
  },
  {
    "key": "d7708b12-faae-4a9f-a3ea-dddfe17c0930",
    "name": "Item 2",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/6f8f00799b414638857811291353ec13",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Walking in Austria\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/3d69090ac5714abb914063b47d753d06\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Walking in Austria \",\r\n    \"linkTitle\": \"Walking in Austria\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>We've handpicked the best walking routes in Austria, each promising its own unique charm and unforgettable experiences.</p>"
  }
]]]></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold; text-align: center;">Good to know</p>
<p><strong>Walking trails:</strong> 1,300km of walking trails</p>
<p><strong>Terrain:</strong> Mountainous terrain great for high altitude walking</p>
<p><strong>Best time to go:</strong> end of June to end of August</p>
<p><strong>Recommended for:</strong> Challenging walking, families, nature, activities</p>
<p><strong>Fly into:</strong> Innsbruck (approx. 2 hours)</p>
<p><strong>Fly from: </strong>London Gatwick, Birmingham, Manchester and Edinburgh</p>
<p><strong>Transfer time:</strong> approx. 1 hour 30 mins by coach</p>
<p><strong>24/7 Support and advice: </strong>Over the phone from our local resort team</p>
<p><strong>Resort card: </strong>Ötztal Inside Summer Card included for all hotels</p>]]></insidersGuide>
  <insidersGuidesButton><![CDATA[[
  {
    "name": "Inspire Me",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/889518d3ce0e4393bd297a6f4b894e66",
    "externalLink": "",
    "linkName": "Inspire Me",
    "linkTitle": "Inspire Me",
    "linkTitleColor": ""
  }
]]]></insidersGuidesButton>
  <insidersGuidesContent><![CDATA[<p><span class="first-token">Dreaming of Alpine peaks and strudel?</span><span> Check out our expert travel advice and gather inspiration for your next Austrian adventure.</span></p>]]></insidersGuidesContent>
  <insidersGuidesTitle><![CDATA[Discover Austria]]></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[German/English]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[46.8675887]]></latitude>
  <listingDescription><![CDATA[<p>The ideal resort for those wanting to experience high alpine walking, fresh mountain air and wildlife. This quiet, compact village is found at the end of the scenic Ötz valley with miles of extensive, well-marked paths directly from the hotel door.</p>
<p><strong>Great for: </strong>easy, moderate and challenging walks; families with kids, families with teens</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/4bcabe51e4c64ee086aa588a895a2008]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[11.0169368]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Obergurgl for an amazing summer holiday in Austria. Mountain and walking holidays in Obergurgl with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Obergurgl Holidays | Summer Holidays in Obergurgl 2025 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Obergurgl]]></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes><![CDATA[<h3>Obergurgl stone pine forest</h3>
<ul>
<li>Easy walk</li>
<li>5.2km</li>
<li>Expect to take around two hours</li>
</ul>
<p>Set off from the village as you walk towards Zirbenwald. This 300-year-old stone pineforest is very picturesque, and perfect for families to venture through. Along the trail you’ll discover information panels to learn about the local nature and animals. It's possible to extend the walk and visit the stunning Rotmoos waterfall.</p>
<h3>Lake Nedersee</h3>
<ul>
<li>Moderate walk</li>
<li>9.6km</li>
<li>Expect to take around five hours</li>
</ul>
<p>This walk will take you along the Nederkogel mountain, crossing the Gurgler Ache brook and viewing the beautiful lake from its clear shore. With ice-capped mountains in the background and the rocky surroundings, you’ll pace over asphalt, wild trail and marked paths on this route. When you reach Lenzen Alm you can catch the bus back to Obergurgl.</p>
<h3>Langtalereck Hut and Piccard bridge</h3>
<ul>
<li>Challenging walk</li>
<li>19.3km</li>
<li>Expect to take all day</li>
</ul>
<p>Pass through the protected Naturpark Ötztal, over the narrow bridge and across some of the most incredible scenery. You’ll see a water reservoir, the Schönwies hut, a small chapel, steep grassy slopes and fast flowing streams between deep rock formations. This all-day hike is extremely rewarding, with places to refuel on route.</p>]]></popularWalkingRoutes>
  <popularWalkingRoutesTitle><![CDATA[Our favourite walks in and around Obergurgl]]></popularWalkingRoutesTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/e5078da0426645fe80102b2343a5ae00",
    "promotionBannerMobile": "umb://media/8cb7375d3c434f77b027914b13d5c12e",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Obergurgl\",\r\n    \"udi\": \"umb://document/9ac9e7f4fc1b40a491a7f57d5ddd6126\"\r\n  }\r\n]",
    "promotionStartDate": "2023-03-01T00:00:00",
    "promotionEndDate": "2023-03-31T00:00:00"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/a37f93c536f14f4bae36e97fa65f9d9a",
    "promotionBannerMobile": "umb://media/a4447356b8af455f91199516a4e92c2f",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Austria Summer 2022 Holidays\",\r\n    \"udi\": \"umb://document/d251bc14fc4b42b2b09f7e6975fbab5f\"\r\n  }\r\n]",
    "promotionStartDate": "2022-06-14T00:00:00",
    "promotionEndDate": "2022-06-05T00:00:00"
  }
]]]></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline><![CDATA[Hotels in Obergurgl]]></resortAccomodationTagline>
  <resortCode><![CDATA[ATOG]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs>0</showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide>1</showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps>0</showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking>1</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions><![CDATA[Ötztal Inside Summer Card - included for all guests]]></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals><![CDATA[Family activities in Obergurgl]]></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo><![CDATA[Things to do in Obergurgl]]></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking><![CDATA[Walking in and around Obergurgl]]></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions><![CDATA[Cards & passes]]></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking><![CDATA[Walking]]></tabTitleWalking>
  <tagline><![CDATA[Walking holidays in Obergurgl reveal exactly why the highest parish in Austria is nicknamed the Diamond of the Alps]]></tagline>
  <thingsToDo><![CDATA[<h2>Things to do in Obergurgl</h2>
<h3>Bucket list views from Hohe Mut</h3>
<p>You can't visit Obergurgl and not go to the Hohe Mut. With an altitude of 2,653 metres, the view from the top is spectacular and you can see 21 three-thousand-metre peaks and many glaciers. There's a mountain hut and playground from which to enjoy the view, so grab a seat in the sun and enjoy the fresh mountain air. Or head out on the loop hike that takes you to the glacier moraines.</p>
<h3>Top Mountain Star and motorcycle museum</h3>
<p>Treat yourself to a light snack or refreshment with 360° views at the top of Hochgurgl. At over 3,030 metres high you can walk on the narrow see-through ridge of the Wurmkogel peak. The panoramic views of the Ötz Valley Alps are breathtaking through the floor-to-ceiling glass masterpiece. At the bottom of the Hochgurgl lift, the motorcycle museum has over 500 vintage motorcycles from over 150 manufacturers.</p>
<h3>High Alpine Roads</h3>
<p>Covering 2500 altitude meters and 30 switchbacks, the Timmelsjoch High Alpine Road stretches from the top mountain cross point near Hochgurgl, in the direction of the South Tyrol. You can explore these roads by foot, bike or bus for breathtaking scenery with panoramic views and a few hidden treasures along the way.</p>
<h3>Mountain biking</h3>
<p>Rent a mountain bike from one of the local suppliers and make your way through the valley. Here you will find plenty of biking trails designed for different skill and fitness levels. Whether it be a leisurely ride or an intense downhill race, the local biking maps have you covered - keen mountain bikers will love the trails in Sölden (additional fees are often required for using mountain lifts with a bike).</p>
<h3>Trail running</h3>
<p>Are you up for a challenge? Home to a few trail running events during the summer period, Obergurgl is an exceptional place to test yourself for an early morning cardio workout. Ötztal has miles of trails for all running styles from beginner to advanced. Make use of the included Summer Card to access new long-distance routes and cross-border trails.</p>
<h3>Exploring beyond Obergurgl</h3>
<p>Thanks to the included Ötztal Inside Summer Card exploring the whole of the Ötztal couldn't be easier. Covering a large area of public transport use, the card allows you to venture further afield with lifts included up and down the valley. It's time to put your hiking boots on and face a new backdrop every day!</p>
<h3>AQUA DOME Thermal Spa</h3>
<p>Relax for a day at the AQUA DOME Thermal Spa in Längenfeld. There's a choice of seven saunas, multiple raised outdoor pools, a thermal bath so you can experience ultimate luxury alongside the fresh mountain air. Comfortable sun loungers are also placed around the garden area; summer bliss for those who prefer to sit back and soak up the sun.</p>
<h3>Sports and leisure in and around Obergurgl</h3>
<p>Enjoy an evening knock-about on the local tennis courts just before the sun sets or visit Sölden's high rope playgrounds or climbing gardens. For the more experienced mountain lovers, test your endurance and precision skills on one of the two via ferratas in Obergurgl-Hochgurgl; Zirbenwald &amp; Schwärzenkamm. Or if you're feeling adventurous, maybe a tandem paraglide has always been on your bucket list.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<h3>Summer 2022</h3>
<div style="overflow-x: auto;">
<div style="display: flex; align-items: center;">
<table border="0">
<tbody>
<tr>
<th>Flying from/to:</th>
<th>Innsbruck</th>
</tr>
<tr>
<td style="text-align: left;">Birmingham</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday</td>
</tr>
<tr>
<td style="text-align: left;">Bristol</td>
</tr>
<tr>
<td style="text-align: left;">Gatwick</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday/Wednesday</td>
</tr>
<tr>
<td style="text-align: left;">Manchester</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>Innsbruck transfer approx. 1hr 30min by coach.</p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation><![CDATA[<h3>Recommended equipment</h3>
<p>Suitable walking shoes with good grip, appropriate clothing, rain jacket, sun cream, insect repellent, sun glasses, rucksack, at least a litre of water, a re-usable water bottle, a snack and cash. You may find walking poles useful.</p>
<h3>Walking maps</h3>
<p>We recommend Kompass Map number 42, which has a scale of 1:25,000. The maps show the walking routes which are numbered and match the yellow signposts around the area. They will have a key which will help you understand the nature of the trail before you set out on your walk.</p>
<h3>Walking guidelines</h3>
<p>The mountains are a natural paradise, with lots to explore and discover. To help it stay that way, and remain an enjoyable and safe place for everyone, we recommend following our little list of do's and don'ts:</p>
<ul>
<li>Plan your route well and don't overestimate yourself</li>
<li>Check the weather forecast</li>
<li>Tell someone where you're planning to walk and what time you're expecting to be back</li>
<li>Take all the recommended equipment</li>
<li>Make a note of emergency numbers:
<ul>
<li>Austrian Emergency Services: 112</li>
<li>Mountain Rescue: 140</li>
</ul>
</li>
<li>Don't leave the marked trails or go onto a glacier without a guide</li>
<li>Let nature stay wild by not picking alpine flowers (it's illegal in some places) or getting close to/making contact with wild animals</li>
<li>Always leave gates as you found them</li>
<li>Leave no trace</li>
</ul>
<p>Check out our <a rel="noopener" href="https://www.inghams.co.uk/walking-holidays/insider-guides/responsible-walking" target="_blank">Responsible Walking</a> insider guide if you want more tips for your summer walking holiday.</p>]]></usefulInformation>
  <usefulInformationTitle><![CDATA[Useful information and guidelines]]></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription><![CDATA[<p>On an Inghams walking holiday, you have the freedom to explore the area at your own pace. Each day, a new adventure, with as much or as little walking as you like.</p>
<h3>Why we love walking holidays in Obergurgl</h3>
<p>Obergurgl and the Ötztal Valley has around 1,300 kilometres of walking trails for you to explore. These include panoramic hikes, family loops, themed trails and even cross-border treks. With a variety of lifts, nearby villages, and a great public transport system, you're in a hiking paradise when staying here. Wildlife enthusiasts will love holidays in Obergurgl, with an abundance of wild flowers as well as golden eagles, chamois, ibex and marmots to be seen.</p>
<h3>Guided walks</h3>
<p>Using your included Ötztal Inside Summer Card you can take part in the Tourist Office's free hiking programme. These walks and tours are hosted by certified guides, taking you to the most beautiful spots in the valley.</p>
<p>Registration is required directly with the Ötztal Tourist Information Office.</p>]]></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle><![CDATA[Walking in and around Obergurgl]]></walkingTitle>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>