<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="e633b3e5-e57f-4cd9-bca1-043e7c751e75" id="36586" nodeName="Grand Tour of Sicily - Escorted Tour" isDoc="" updated="2022-03-01T13:37:07.6930000Z" parentGUID="ea233839-b058-4030-b226-a2679c5a63d2" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="15" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/869e8dbfb8cc422da3896ac93b6915f9,umb://media/9bbbc6e783a14409a1fe7b9ab1f8ca63,umb://media/de6b86e1fb3347e0ad2c3953ebc2f1b0,umb://media/7e18b31461bc4d15b5599cd67d843ccc,umb://media/9e1a350a0aa647a0ba3dcaf8f032d0a9,umb://media/1696511371f24ea0a7d639558cfefb54,umb://media/f65f1a1ff62144b592f0e86a4911ea8b,umb://media/a2d4bfd8b2fd482a919d9f3925048ce4,umb://media/df32b61f96774f9d9e9b74bae3ba64bc,umb://media/52c242ceb8c44f04975ce3d246243396,umb://media/90335af65db94997af2977af29ad63cc,umb://media/d183c84403fa48e28622704e2b47a973,umb://media/aa5a0a57ef3b4a03ac70f4c6c591aac5,umb://media/f1fcf12b1c194b1aa612aee511cb0a94,umb://media/0cb733e940ec4925aff7ae7a0fc449c5,umb://media/f7357e8d89484f62a32147c567763cd9]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><a data-udi="umb://document/b037a20c14a3421ba33b32859c9e3344" href="https://www.inghams.co.uk/destinations/italy/sicily" title="Sicily">Sicily</a><span>, the island in the heart of the Mediterranean bursting with cultural treasures, delicious cuisine, architectural gems and dramatic landscapes. This escorted tour will take you on a journey through ancient towns, stunning archaeological sites and to see Europe’s largest volcano, Mount Etna. On this trip you’ll have the opportunity to sample some of Sicily’s finest traditional dishes, in stunning Sicilian settings.</span></p>
<div>
<p><strong>Maximum Group Size: </strong>30</p>
<p> </p>
<h2 style="text-align: center;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Tour highlights">Tour highlights</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Itinerary">Itinerary</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Your holiday includes">Your holiday includes</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Hotels">Hotels</a>| <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Departure dates">Departure dates</a></h2>
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">2021 Departures on sale now!</td>
</tr>
</tbody>
</table>
</div>
</div>
<h2><a name="Tour highlights"></a><span class="geolocation-title">Tour highlights</span></h2>
<p>• An 8 day tour travelling around the Mediterranean's largest island<br />• Knowledgeable tour manager throughout <br />• Guided tour of the baroque city of Ortigia followed by a boat trip around the peninsula with wine and snacks<br />• Visit the impressive Valley of the Temples and admire some of the world's best-preserved ancient Greek temples<br />• Discover the wonderful city of Palermo with its unique architecture and incredible food<br />• Visit the mighty Mount Etna and enjoy some free time in the coastal towns of Taormina and Cefalu<strong><br /></strong></p>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Tour highlights">[Back to top]</a></p>
<h2><a name="Itinerary"></a><span class="geolocation-title">Itinerary</span></h2>
<p><strong>Day 1: UK to Catania</strong></p>
<p><span>Fly to Catania Airport and transfer to your hotel in Syracuse. Take a moment to relax and unpack before meeting your fellow travellers and tour manager who will give you an introduction to the trip.</span></p>
<p>Meals included: Dinner</p>
<p><strong>Day 2: Syracuse</strong></p>
<p><span>Your first full day will be spent exploring the beautiful ancient town of Syracuse, with its archaeological sites including the Greek Theatre and Roman Amphitheatre. You’ll really get to know the city with the assistance and knowledge from your local guide. Next you’ll head to the harbour where you’ll see the the old town from a completely different perspective as you take a boat trip around Ortigia and the bay of Syracuse. Enjoy a glass of wine and a delicious local snack whilst taking in the sights on the turquoise waters of the Mediterranean.</span></p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 3: Piazza Armenia</strong></p>
<p><span>Today you’ll head to Piazza Armenia, a town rich in art and history. You’ll visit Villa del Casale where a local guide will show you around the stunning Imperial Villa that houses beautifully preserved, intricate mosaics. For lunch, enjoy a Sicilian feast in a beautiful rural estate close to Piazza Armenia. After, the journey continues on to the beautiful hilltop town of Agrigento, where you’ll spend the night.</span></p>
<p>Meals included: Breakfast, Lunch, Dinner</p>
<p><strong>Day 4: Valley of the Temples</strong></p>
<p><span>Visit the Valley of the Temples, a beautifully preserved UNESCO World Heritage site. You’ll have the chance to explore the extensive archaeological site and see the great Doric temples that transport you back to the times of the classical Greek civilisation. After, the tour will continue on to Palermo where you'll enjoy a traditional Sicilian meal in a local restaurant.</span></p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 5: Palermo</strong></p>
<p><span>Palermo is at the crossroads of the Mediterranean and as a result you’ll notice the many different cultural influences, from the architecture to the food. Today you’ll gain an insight into this beautiful city and the ancient world it was once part of. See Palermo’s Cathedral and the Palatine Chapel. Head up from the city centre to Monreale, the hillside town that overlooks the fertile La Conca d’oro Valley beyond. Admire Monreale Cathedral with its beautifully maintained Christian medieval mosaics. Take a break from sight-seeing and enjoy a light lunch sampling some of the delicious snacks on offer.</span></p>
<p>Meals included: Breakfast, Lunch</p>
<p><strong>Day 6: Cefalù</strong></p>
<p><span>This morning the tour will continue on to the picturesque fishing port of </span><a data-udi="umb://document/c7e9cc768f054b6da3dd10b42998a9c8" href="https://www.inghams.co.uk/destinations/italy/sicily/cefalu" title="Cefalu">Cefalù</a><span>. The impressive Norman Cathedral is a sight to behold with its fort-like structure and elaborate Byzantine mosaics. Here you’ll have time to explore the buzzing squares and streets of the medieval town, or perhaps even relax on the wide sandy beach, before heading on to Acireale.</span></p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 7: Mount Etna and Taormina</strong></p>
<p><span>Go on an adventure to Europe’s largest and most active volcano, Mount Etna. Today you’ll drive through the ever changing mountain landscapes up to the volcanic lunarscape of Etna. In the afternoon you’ll head to the hilltop town of Taormina, Admire stunning views from the Ancient Greek Theatre, Visit the Duomo di San Nicola and explore the city.</span></p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 8: Catania - UK</strong></p>
<p><span>Transfer to Catania Airport for your return flight, or add on a few nights in Taormina to relax at the end of your tour.</span></p>
<p>Meals included: Breakfast</p>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Tour highlights">[Back to top]</a></p>
<h2><a name="Your holiday includes"></a><span class="geolocation-title">Your holiday includes</span></h2>
<ul>
<li>7 nights accommodation (2 nights Syracuse, 1 night Agrigento, 2 nights Palermo and 2 nights Acireale)</li>
<li>7 breakfasts and 6 dinners</li>
<li>Knowledgeable tour guide throughout</li>
<li>Guided visit of Ortigia and boat trip with snacks and wine</li>
<li>Guided visit to Piazza Armerina followed by lunch at an estate</li>
<li>Guided tour of the Valley of the Temples</li>
<li>Full day visit to Palermo and Moreale</li>
<li>Free time in Cefalu and Taormina</li>
<li>Visit to Mount Etna</li>
<li>All entrance fees</li>
<li>Hotel city tax</li>
</ul>
<p><span></span><strong>Your holiday excludes:</strong></p>
<ul>
<li>Personal expenses and drinks unless specified in the itinerary</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Tour highlights">[Back to top]</a></p>
<h2><a name="Hotels"></a><span class="geolocation-title">Hotels</span></h2>
<p><strong>★★★★ Grand Hotel Villa Politi, Syracuse (2 nights, Jun departures)</strong></p>
<p>The Grand Hotel Syracuse is a beautifully restored 19th century hotel. It is set in an idyllic location on the waterfront, with impressive views of the Mediterranean and just a short walk from the historical centre of Syracuse. Rooms are elegantly decorated in a Liberty style offering a spacious retreat for guests to relax after a day of exploring. The hotel’s outdoor swimming pool is surrounded by greenery and has a lovely terrace where guests can enjoy a cool drink from the poolside bar.</p>
<p><strong>or</strong></p>
<p><strong>★★★★ Parco Delle Fontane, Syracuse (2 nights, Sep departures)</strong></p>
<p>This is a lovely base to get settled for your first few nights of the tour. It has great facilities including a swimming pool and sun terrace and lovely gardens, so you'll definitely be able to find a nice relaxing spot after your day seeing the sights. The rooms are really comfortable too. They have a luxurious feel, decorated in warm pinks, golds and greys. The restaurant is a lovely bright space where you'll enjoy tasty breakfasts and you'll have the chance to try some Sicilian specialities during your evening meal. </p>
<p><strong>★★★★ Grand Hotel Mosè, Agrigento (1 night)</strong></p>
<p>Located in the centre of Agrigento, the Grand Hotel Mosè is a striking building made entirely of volcanic tuff stone. The hotel is surrounded by a Mediterranean garden and has a swimming pool to cool off in after a day spent exploring the surrounding area. Just a short drive from Agrigento’s Valley of the Temples, the hotel is perfectly located for taking in the sights. The rooms have traditional tiled floors and are furnished in an elegant style.</p>
<p><strong>★★★★ Hotel Garibaldi, Palermo (2 nights, Jun departures)</strong></p>
<p>The Hotel Garibaldi is in a fantastic central position in Palermo, making it a great base for your stay in the city. It's a design hotel so the decor is ultra sleek and modern and the rooms a fresh and comfortable. In the breakfast room each morning the staff prepare a lovely buffet with a wide variety - so full up before your day out exploring. </p>
<p><strong>or </strong></p>
<p><strong>★★★★ Hotel Palazzo Sitano, Palermo (2 nights, Sep departures)</strong></p>
<p>The Hotel Palazzo Sitano is located close to the historic centre of Palermo, making it a great base to explore the city and its beautiful sights. The buildings original architecture has been retained and combined with modern interior design. The rooms have a contemporary feel with warm furnishings. A buffet breakfast is served each morning offering a wide variety of foods to get you ready for a day spent exploring the area.</p>
<p><strong>★★★★ Santa Tecla Palace, Acireale (2 nights)</strong></p>
<p>The Santa Tecla Palace is set in the Timpa Natural reserve right on the rocky shoreline of Acireale. The infinity pool overlooks the turquoise blue ocean (open seasonally). Relax here admiring views of Mount Etna. The hotel has a choice of restaurants serving traditional Sicilian cuisine as well as international options. The comfortable rooms come with a private balcony and provide a relaxing retreat for guests.</p>
<p> </p>
<h2><a name="Departure dates"></a><span class="geolocation-title">Departure dates<a></a></span></h2>
<ul>
<li>12 September 2021</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/grand-tour-of-sicily-escorted-tour#Tour highlights">[Back to top]</a></p>
<p><em>Our tours are subject to minimum numbers and with that in mind the tours and their itineraries may be subject to change. Where this becomes necessary, and where practicable, we will take the steps as outlined in clause 5 of our <a href="https://d2ysej9jnfdoyq.cloudfront.net/media/13073810/hotelplan-booking-conditions-2019_schedule-2-info.pdf">terms and conditions</a>.</em></p>]]></description>
  <descriptionCharacterLimit>10000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This small group escorted tour will take you on a journey around the island, through Sicily's ancient towns, stunning archaeological sites and Europe’s largest volcano, Mount Etna.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/869e8dbfb8cc422da3896ac93b6915f9]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[Maximum Group Size: 30]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Explore the highlights of Sicily on a small group escorted tour. Book your escorted tour of Sicily today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Grand Tour of Sicily | Italy Escorted Tours 2021 | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Italy: Grand Tour of Sicily - Escorted Tour]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITXS3003]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ea233839b0584030b226a2679c5a63d2]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>