<?xml version="1.0" encoding="utf-8"?>
<homePageFeatureCarouselCard guid="482a74e7-1ebc-44e8-9b4c-1d833cacb78a" id="48474" nodeName="Ski Holidays" isDoc="" updated="2022-07-07T17:21:57.2800000Z" parentGUID="8268d3a1-2f0e-465a-816b-51b0fc2db453" nodeTypeAlias="homePageFeatureCarouselCard" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <cTALink><![CDATA[[
  {
    "name": "Ski Holidays",
    "udi": "umb://document/25e767db044444389ae09383681f982e"
  }
]]]></cTALink>
  <image><![CDATA[umb://media/68e42fcd02244aa983184fb5c228b576]]></image>
  <primaryStrapline><![CDATA[Every slope's an adventure]]></primaryStrapline>
  <secondaryStrapline><![CDATA[Explore our ski holidays to Europe and Canada]]></secondaryStrapline>
  <straplineFontColour><![CDATA[{"label":"003155","value":"003155"}]]></straplineFontColour>
  <tabStrapline><![CDATA[Ski Holidays]]></tabStrapline>
</homePageFeatureCarouselCard>