<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="c70b0588-1378-4b36-b49a-05f37739d196" id="71727" nodeName="Deals Under £800pp" isDoc="" updated="2024-09-19T17:26:42.6570000Z" parentGUID="1d819838-93c3-4d04-ab38-ec13ce6a4e4d" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Weekly Walking Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/c878566e78884de9b38fab06e9275ac4",
    "externalLink": "",
    "linkName": "Deals Under £800pp",
    "linkTitle": "Deals Under £800pp",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>