<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="92403526-3b4e-4640-b28f-0ab60cb4ed47" id="23460" nodeName="Hotel Ladinia - Pozza" isDoc="" updated="2024-04-30T12:25:37.8470000Z" parentGUID="4b1a446c-e590-4ac5-9974-83a5477c9c8c" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="11" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,6,9,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Hot and cold breakfast buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Buffet breakfast</li>
<li>4 course evening meals with salad buffet</li>
<li>Christmas and New Year dinners included</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>A warm welcome awaits you at the stylish and comfortable Hotel Ladinia where sisters Alessandra and Annelise will promise you a pleasent stay. This cosy Alpine style hotel is full of character and offers excellent cuisine and high standard of service. A free shuttle bus service is provided to the Alloch, Buffaure and Catinaccio lifts. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Dinner consists of 4 serviced courses plus salad buffet</p>]]></dinner>
  <distanceToCityCentre>80</distanceToCityCentre>
  <distanceToLift>700</distanceToLift>
  <distanceToNurserySlopes>900</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>900</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart casual</p>]]></dressCode>
  <facilities><![CDATA[umb://document/3040d3c9313a4189913e1c86729ade2c,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/36ebccaf6fef4fffb28746645e3e6793,umb://document/269de525a30f43249daa18279ac7cbde,umb://document/d25cf89fbba845989d548de8683936a5]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Elegant bar</li>
<li>Lounge with panoramic views</li>
<li>Restaurant</li>
<li>TV room</li>
<li>Indoor pool</li>
<li>Modern spa centre</li>
<li>Free Wi-Fi in public areas</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Exclusive to Inghams</strong></li>
<li><strong>Early Booking Offer Save</strong> up to £80 per couple for W17/18 (book by 30th June)</li>
<li><strong>Free </strong>daily après-ski snacks 3:30-6pm (drinks excluded)</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.430108]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A warm welcome awaits you at the stylish and comfortable Hotel Ladinia where sisters Alessandra and Annelise will promise you a pleasent stay. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/7e363690795948d0868fb83ddd4d76c1]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Local tourist tax payable directly to hotel</p>]]></localFees>
  <locationDescription><![CDATA[<p>1 minute’s walk to the centre of Pozza and 7 minutes (700m) to the nearest lift. A free shuttle bus service is provided to the Alloch, Buffaure and Catinaccio lifts.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.685263]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Ladinia - Pozza, Val di Fassa in The Dolomites Ski Area, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Ladinia, Val di Fassa Canazei-Pozza Italy, Ski | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Buffare, Alloch &amp; Catinaccio</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>40</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCN0112]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>All rooms have shower, satellite-tv, telephone, minibar, hairdryer, safe and balcony.</li>
<li>Larger superior rooms are available at a supplement.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Location: 1 minute’s walk to the centre of Pozza and 7 minutes (700m) to the nearest lift. A free shuttle bus service is provided to the Alloch, Buffaure and Catinaccio lifts.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/4b1a446ce5904ac5997483a5477c9c8c]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>