<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="b1c236bf-7d18-4e8b-955b-b865ad29a200" id="27693" nodeName="Family Self Drive Holidays" isDoc="" updated="2022-02-10T16:50:52.6570000Z" parentGUID="7dbdfaaa-8cb8-44fa-b907-811da9fe4079" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="0" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow">
<p><img src="/media/13066794/family-self-drive-temp.jpg" alt="Family Self Drive Summer Holidays" data-udi="umb://media/776059b52d5940e3ad6f4b33c6aae8ec" /></p>
<span class="geolocation-title">Here is a selection of Family self-drive holidays we have on offer. Prices are based on 7 nights. Other durations are available, please call <strong>01483 79 11 11</strong> for details. Prices shown include ferry and accommodation, can be booked as accommodation only for the same price or Eurotunnel is available at a supplement.</span></div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Travel to the Lakes and Mountains at your own pace with an Inghams self-drive holiday, ideal for your next family summer holiday.]]></metaDescription>
  <metaTitle><![CDATA[Family Self Drive Holidays | Inghams Lakes & Mountains]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Family Self-Drive Holidays]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Travel to the Lakes and Mountains at your own pace with an Inghams self-drive holiday, ideal for your next family summer holiday.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/fbd9a24bad6d4899acacef2bd69b28ad]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/7dbdfaaa8cb844fab907811da9fe4079]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>