<?xml version="1.0" encoding="utf-8"?>
<resortSkiPage guid="dfb2b58d-1095-4164-b8bb-9c3b64b202f0" id="24903" nodeName="Scheffau" isDoc="" updated="2021-12-31T13:55:11.5600000Z" parentGUID="eef469a5-7cd5-4e63-9d59-763edbf38397" nodeTypeAlias="resortSkiPage" templateAlias="ResortSkiPageResponsive" sortOrder="4" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <area>279</area>
  <beginners><![CDATA[4]]></beginners>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <crossCountry><![CDATA[4]]></crossCountry>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/85812e8a1d0149a58c8737f14c5c36ef]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Right in the centre of the huge SkiWelt region, with plenty of village charm.</p>
<p class="p1">With two high-speed gondolas straight into the heart of Austria’s biggest lift-linked ski area, Scheffau is an excellent choice. The charming Tyrolean village centre lies just above the valley, and as you see from our photo above, Hotel Leitenhof enjoys a breathtakingly beautiful location here. Its free shuttle service makes light of the short ride to and from the lifts, ensuring easy access to the top of the Brandstadl peak, with onward connections to all eight resorts covered by your lift-pass.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursionInformation></excursionInformation>
  <experienceMore></experienceMore>
  <experts><![CDATA[4]]></experts>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <festivals></festivals>
  <fullSnowReport><![CDATA[[]]]></fullSnowReport>
  <generalInformation><![CDATA[<p class="p1"><strong>Beginners<br /></strong>Scheffau is a great choice for those new to skiing, as beginners’ lifts and easy slopes are located at the top of the local Brandstadl area, so you’re right in the centre of things from day one.</p>
<p class="p1"><strong>Intermediates<br /></strong>The ski area is one of the most central in the SkiWelt, meaning that ski safaris to the outer limits of the area are easily possible. The most challenging terrain is the Hohe Salve region, which is readily accessed from Scheffau.</p>
<p class="p1"><strong>Advanced</strong><br />Some good off-piste and a couple of black runs are secondary to the fun of exploring from village to village around the area.</p>
<p class="p1"><strong>Snowboarding</strong><br />Three snowparks are situated in the SkiWelt area: one in each Ellmau, Söll and Westendorf. </p>]]></generalInformation>
  <generalInformationSubTabs></generalInformationSubTabs>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips><![CDATA[[
  {
    "name": "Pretty and traditional village",
    "ncContentTypeAlias": "nC_InsiderTips",
    "insiderTip": "Pretty and traditional village"
  },
  {
    "name": "Short transfers from Salzburg Airport",
    "ncContentTypeAlias": "nC_InsiderTips",
    "insiderTip": "Short transfers from Salzburg Airport"
  },
  {
    "name": "Excellent snow record and ski area access",
    "ncContentTypeAlias": "nC_InsiderTips",
    "insiderTip": "Excellent snow record and ski area access"
  }
]]]></insiderTips>
  <intermediates><![CDATA[5]]></intermediates>
  <language><![CDATA[German/English]]></language>
  <latestDeals></latestDeals>
  <latitude></latitude>
  <lifts></lifts>
  <liftsBabydrags>15</liftsBabydrags>
  <liftsBabyLiftsInResort>0</liftsBabyLiftsInResort>
  <liftsCablecars></liftsCablecars>
  <liftsChairlifts>36</liftsChairlifts>
  <liftsDayshoursOfOperationOfLifts></liftsDayshoursOfOperationOfLifts>
  <liftsDraglifts>24</liftsDraglifts>
  <liftsFunicular></liftsFunicular>
  <liftsGondolas>14</liftsGondolas>
  <liftsMagicCarpets></liftsMagicCarpets>
  <liftsNightSkiingIncludedInLiftPass>0</liftsNightSkiingIncludedInLiftPass>
  <liftsRackRailway></liftsRackRailway>
  <liftsSkiLockersAtLifts>0</liftsSkiLockersAtLifts>
  <liftsTBar></liftsTBar>
  <liftsTotalNoOfSkiLiftsLocalPass></liftsTotalNoOfSkiLiftsLocalPass>
  <liftsTotalNoOfSkiLiftsLocalPassContent></liftsTotalNoOfSkiLiftsLocalPassContent>
  <liftsTotalNoOfSkiLiftsWholeAreaPass></liftsTotalNoOfSkiLiftsWholeAreaPass>
  <listingDescription><![CDATA[<p><span>With two high-speed gondolas straight into the heart of Austria’s biggest lift-linked ski area, Scheffau is an excellent choice.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/efee3cd3300c44fc9567243e2d72a941]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude></longitude>
  <meetThePistes>0</meetThePistes>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Ski Scheffau to enjoy stunning scenery and excellent skiing! Book your skiing holidays in Scheffau with ski experts Inghams right now.]]></metaDescription>
  <metaTitle><![CDATA[Ski Scheffau 2015 2016 - Book Skiing Holidays in Scheffau | Inghams]]></metaTitle>
  <mountainHost></mountainHost>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <notesUnderMeetThePistes></notesUnderMeetThePistes>
  <numberOfGlaciers></numberOfGlaciers>
  <numberOfMountainRestaurants>77</numberOfMountainRestaurants>
  <numberOfSnowCannons>1000</numberOfSnowCannons>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>0</parking>
  <percentageOfResortCoveredBySnowCannons>60</percentageOfResortCoveredBySnowCannons>
  <pisteMapImage></pisteMapImage>
  <promotionItems></promotionItems>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortAltitude></resortAltitude>
  <resortCode><![CDATA[ATSC]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortSkiBusAvailable>0</resortSkiBusAvailable>
  <resortTransport></resortTransport>
  <runsAdditionalInformationOnCrossCountryTrails></runsAdditionalInformationOnCrossCountryTrails>
  <runsAdditionalInformationOnNightSki></runsAdditionalInformationOnNightSki>
  <runsFurtherInfoOnNumberOfRuns></runsFurtherInfoOnNumberOfRuns>
  <runsLengthOfBlack></runsLengthOfBlack>
  <runsLengthOfBlue></runsLengthOfBlue>
  <runsLengthOfGreen></runsLengthOfGreen>
  <runsLengthOfRed></runsLengthOfRed>
  <runsLongestRun></runsLongestRun>
  <runsNoOfBlack>17</runsNoOfBlack>
  <runsNoOfBlue>134</runsNoOfBlue>
  <runsNoOfFloodlitRuns></runsNoOfFloodlitRuns>
  <runsNoOfGreen></runsNoOfGreen>
  <runsNoOfRed>129</runsNoOfRed>
  <runsPosibilitiesOfOffPisteSkiing>0</runsPosibilitiesOfOffPisteSkiing>
  <runsPositionOfNurserySlopes></runsPositionOfNurserySlopes>
  <runsRestrictionsAffectingOffPisteSkiing></runsRestrictionsAffectingOffPisteSkiing>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showExcursionInAccommodation></showExcursionInAccommodation>
  <showExcursions>0</showExcursions>
  <showFAQs></showFAQs>
  <showGeneralInformationInAccommodation></showGeneralInformationInAccommodation>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showInAndAround>1</showInAndAround>
  <showInformation>1</showInformation>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>0</showInsidersGuide>
  <showPisteMaps></showPisteMaps>
  <showSearchPanel>1</showSearchPanel>
  <showSkiExtras>1</showSkiExtras>
  <showSkiExtrasDescriptionInAccommodation></showSkiExtrasDescriptionInAccommodation>
  <showSkiExtrasInAccommodationSubTabs></showSkiExtrasInAccommodationSubTabs>
  <showSkiSnowboard>0</showSkiSnowboard>
  <showSkiSnowboardInAccommodationGeneralInformation></showSkiSnowboardInAccommodationGeneralInformation>
  <showSkiSnowboardInAccommodationMeetThePistes></showSkiSnowboardInAccommodationMeetThePistes>
  <showSkiSnowboardInAccommodationMountainHost></showSkiSnowboardInAccommodationMountainHost>
  <showSkiSnowboardInAccommodationSubTabs></showSkiSnowboardInAccommodationSubTabs>
  <showSpecialOffers>1</showSpecialOffers>
  <showThingsToDoInAccommodationExperienceMoreDescription></showThingsToDoInAccommodationExperienceMoreDescription>
  <showThingsToDoInAccommodationFestivalsDescription></showThingsToDoInAccommodationFestivalsDescription>
  <showThingsToDoInAccommodationResortFacilitiesInformation></showThingsToDoInAccommodationResortFacilitiesInformation>
  <showThingsToDoInAccommodationSubTabs></showThingsToDoInAccommodationSubTabs>
  <showThingsToDoInAccommodationThingsToDo></showThingsToDoInAccommodationThingsToDo>
  <showThingsToDoInAccommodationTransportFacilitiesInformation></showThingsToDoInAccommodationTransportFacilitiesInformation>
  <showWeatherFeed></showWeatherFeed>
  <skiAndSnowboardSubTabs></skiAndSnowboardSubTabs>
  <skiArea></skiArea>
  <skiBusInformation></skiBusInformation>
  <skiExtras><![CDATA[<p><strong>Please book locally.</strong></p>]]></skiExtras>
  <skiExtrasSubTabs></skiExtrasSubTabs>
  <skiingAltitudeFrom></skiingAltitudeFrom>
  <skiingAltitudeTo></skiingAltitudeTo>
  <slopeDirection><![CDATA[0,2,4,6]]></slopeDirection>
  <snowboarding><![CDATA[4]]></snowboarding>
  <snowparkAdditionalInformation><![CDATA[<p>Three snowparks are situated in the SkiWelt area: one in each Ellmau, Söll and Westendorf.</p>]]></snowparkAdditionalInformation>
  <snowWidgetDescription></snowWidgetDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <subTabTitleSkiAndSnowboardInformation></subTabTitleSkiAndSnowboardInformation>
  <subTabTitleSkiExtras></subTabTitleSkiExtras>
  <subTabTitleSpecialOffers></subTabTitleSpecialOffers>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleSkiAndSnowboard></tabTitleSkiAndSnowboard>
  <tabTitleSkiExtras></tabTitleSkiExtras>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tagline><![CDATA[Right in the centre of the huge SkiWelt region, with plenty of village charm]]></tagline>
  <thingsToDo></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT +1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/eef469a57cd54e639d59763edbf38397]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <weather></weather>
  <weatherResortId><![CDATA[]]></weatherResortId>
  <weSay></weSay>
  <winterWalking>250</winterWalking>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortSkiPage>