<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="28f6f89f-059d-41c5-8417-c75bd6636553" id="56934" nodeName="Hotel Byron" isDoc="" updated="2024-12-17T14:24:53.0800000Z" parentGUID="79a94ac2-7eda-4c2e-a223-bc0fe7fd99b6" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<ul>
<li>Accessible rooms are available on request, please call to book.</li>
</ul>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "08222c50-7e3d-4c35-985f-9289dfb96a53",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for arrivals between 01 May-04 Jul & 13 Sep - 31 Oct 25 (book by 31 Mar 25)",
    "addedValueStart": "2023-11-21T16:39:06",
    "addedValueEnd": "2025-03-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "676a3d8d-e97b-4809-93eb-760d05ca7a06",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Hotel discount available for summer 25 arrivals between 01 May-06 Jun & 20 Sept-31 Oct 25 (min 4 night stay)",
    "addedValueStart": "2024-12-16T14:22:48",
    "addedValueEnd": "2025-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/b0375c4dac3f48da93a04a4d3fe868b2,umb://media/38898a41887c408c8222ad1bf7893989,umb://media/1f509844061a4863974d08ffb47ed232,umb://media/719e9326b0bf4dfca11e62be79bd9068,umb://media/c8fe04aecacd412aa4f4a559584776bc,umb://media/126ddb0a397247e494e2005e40bbf245,umb://media/fc1fc3754da94a9ea5071543632e81c0,umb://media/861e4caa11bd48f78871bfa2b0cf2f82,umb://media/b629da69e83742ebb01f1786f170c907,umb://media/6705c4ed82de4fe2a5d3b1e70d3dd05d,umb://media/e040acd5634445af8a9e67bbb8c1b2ea,umb://media/0330e1924c7849feae7163ecfbf7291e,umb://media/fc56f1cedea7491f8031c8d055ad3756]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>For breakfast each morning you can enjoy a big buffet breakfast with various options and for dinner you'll have a three course meal with choices, as well as a salad buffet.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Byron has a really fresh and stylish look. It's brand new, so has everything you need for a comfortable stay and the fantastic views of the Ligurian Riviera will make your summer holiday incredibly memorable!</p>
<h2>Near the beach and the centre of Lerici</h2>
<p>The location's fantastic, within five minutes walk from the centre of town, so you'll be able to check out the local bars, restaurants and shops easily. The beach is just opposite the hotel and in high season hotel guests get a special rate on beach services, including the use of sunbeds and umbrellas (payable locally).</p>
<h2>Great for active holidays</h2>
<p>This hotel's a great choice if you want an activity filled holiday. Not only will you have easy access to walking trails, but you'll also be just a stones throw away from tennis, golf, cycling and sailing spots (payable locally). This is a really fun place for a holiday, and you can't beat those sea views!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Spa with sauna, whirlpool and Turkish bath (approx. €15 per person per use, payable locally, must be booked in one hour time slots)</li>
<li>Massages and beauty treatments (payable locally)</li>
<li>Beach services available at special rates for hotel guests (May - September, payable locally)</li>
<li>Bar</li>
<li>Parking (€20 a night, payable locally, subject to availability)</li>
<li>Free Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "e705c2bc-d289-4210-9d05-bb02b74bf9c9",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"30a38229-eead-458b-ac14-96d496e21f14\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Byron's a newly renovated hotel in a fantastic seaside location just five minutes walk from the centre of Lerici. If you're looking for an action-packed holiday with easy access to walking trails and activities such as tennis, golf and sailing, then this is the perfect hotel for you. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b0375c4dac3f48da93a04a4d3fe868b2]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 2 hours from Pisa airport</li>
<li>700 metres to Lerici town centre, approx. 10 minute walk</li>
<li>200 metres to the nearest bus stop</li>
<li>50 metres to the beach</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at the Hotel Byron today with Inghams. A stylish and modern hotel, ideal if you're looking for an activity filled holiday near the centre of Lerici.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Byron | Holidays in Liguria | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>30</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Byron (Lerici)]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITLR0121]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Comfort Rooms </strong>sleep up to three people (third bed is available on request, please call to book).</p>
<p><strong>Deluxe Rooms </strong>sleep two people and have a balcony, with a side sea view.</p>
<p><strong>Junior Suites</strong> are more spacious and sleep up to three people. They have a balcony and a side sea view. These rooms are available on request, please call to book.</p>
<p><strong>Deluxe Rooms for sole use</strong> are available on request, please call to book.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air-conditioning</li>
<li>Shower</li>
<li>Hairdryer</li>
<li>TV</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p>Cots are available on request.</p>
<p><strong>Local fees and ta</strong><strong>xes:</strong></p>
<p>A tourist tax of €1.50 per person per night is payable locally (max. 5 night stay, not applicable to children under 12 years old).</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[529595]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>