<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="21988198-ef4c-48fd-91b8-a3e0ce5c119a" id="62887" nodeName="Madeira" isDoc="" updated="2024-06-12T16:06:10.4900000Z" parentGUID="c9869bf0-e4e9-431d-98d0-277c1db49284" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="62" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Embrace the beauty of the great outdoors in Madeira with our latest walking holiday deals. Flights, transfers and accommodation included.]]></description>
  <filterByRegion>1</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Embrace the beauty of the great outdoors in Madeira with our latest walking holiday deals. Flights, transfers and accommodation included.]]></metaDescription>
  <metaTitle><![CDATA[Madeira Walking Deals 2024 | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-WALKING-MADIERA-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-WALKING-MADIERA-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Madeira Walking Deals 2024]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Looking for our latest deals in Madeira?]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>