<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="b0ff4661-6ac5-4935-94a2-7f41626f0fdc" id="24726" nodeName="Insurance" isDoc="" updated="2022-11-03T15:54:33.6000000Z" parentGUID="28e2fede-9a2c-4622-9a94-65fdf711cc89" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="6" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h3>Travel Insurance - Essential for Complete Peace of Mind on Holiday</h3>
<p><strong>Inghams has partnered with Fogg Travel to offer great travel insurance cover for UK residents.</strong></p>
<p>Whether you're walking, cycling, sightseeing or just kicking back and relaxing, our travel insurance offers policies amongst the best in the market. And for all your ski insurance needs you are in good hands as Fogg insure the British Ski Teams - from Alpine to Freestyle - so not surprisingly, our Winter Sports policies all cover skiing off-piste*.</p>
<h4><strong>Purchasing travel insurance with your holiday booking.</strong></h4>
<p><strong>When booking your holiday, </strong><strong>we strongly recommend you</strong><strong> add travel insurance during the booking process</strong><strong>. </strong><br />You can also be able to view the policy details and the insurance policy.  If you purchase insurance with your holiday booking, you will receive your insurance policy with your booking confirmation.</p>
<h4><strong>Purchasing travel insurance online</strong></h4>
<p>You can arrange cover at any time directly with our partners Fogg.  Booking is simple and secure - just click the link below and choose the policy you require from the selection shown for an instant quote. Please note, Inghams acts only as agent for the Provider in respect of all “Fogg Insurance” services. This link will open in a new window:</p>
<table border="0" align="center">
<tbody>
<tr>
<td>
<h3><strong>&gt; Click here for </strong><strong><a rel="nofollow noopener noreferrer" href="http://www.fogginsure.co.uk/Inghams/" target="_blank">Fogg Travel Insurance from Inghams &gt;</a>  </strong></h3>
</td>
</tr>
</tbody>
</table>
<p><strong>Fogg Travel Insurance Services Limited</strong> with TokioMarine Europe Insurance Ltd and Union Reiseversicherung AG (URV) are authorised and regulated by the <a rel="nofollow" href="http://www.fsa.gov.uk/">Financial Conduct Authority</a> (FCA). We are an Appointed Representative of Fogg enabling us to arrange your insurance.We have many years of experience and believe that the cover arranged is well suited to your needs. For our Winter Sports policies you will receive a Fogg Travel ‘Medi-card’ which gives immediate confirmation of cover to doctors and rescue services. Once accepted, all you will have to pay is the policy excess amount. The policy is designed only for permanent residents of the UK and Republic of Ireland.<strong><br /></strong></p>
<p>*Off-piste cover is included provided you act reasonably and do not ski in a closed or avalanche risk area, and if not skiing with a Guide or Instructor, always check that the area is suitable for a skier at your level.</p>
<h3>Cover available for guests 65+</h3>
<p>We offer one of the best travel insurances available, arranged through Fogg Travel Insurance Services Ltd with Tokio Marine Insurance and/ or Reiseversicherung AG (URV) who are authorised and regulated by the Financial Services Authority (FSA). We have many years of experience and that the cover arranged is well suited to your needs.</p>
<h3>Summary of Cover</h3>
<table border="0">
<tbody>
<tr>
<td> </td>
<td>
<p><strong>Limit                                                </strong></p>
</td>
</tr>
<tr>
<td>Cancellation or Curtailment</td>
<td>Invoice cost</td>
</tr>
<tr>
<td>
<p>Emergency medical &amp; other expenses</p>
<p>inc 24 hour Emergency Service</p>
</td>
<td>£5 million</td>
</tr>
<tr>
<td>Hospital Benefit at £15 per day</td>
<td>£600</td>
</tr>
<tr>
<td>Personal Accident</td>
<td>£15,000</td>
</tr>
<tr>
<td>Travel Delay</td>
<td>£100</td>
</tr>
<tr>
<td>Missed Departure</td>
<td>£800</td>
</tr>
<tr>
<td>Personal Pocessions</td>
<td>£2,000</td>
</tr>
<tr>
<td>Delayed Baggage</td>
<td>£250</td>
</tr>
<tr>
<td>Passport Idemnity</td>
<td>£250</td>
</tr>
<tr>
<td>Personal Money</td>
<td>£500* (£250 cash limit)</td>
</tr>
<tr>
<td>Personal Liability</td>
<td>£2 million</td>
</tr>
<tr>
<td>Legal Expenses</td>
<td>£50,000</td>
</tr>
<tr>
<td>Homecare Cover</td>
<td>£250</td>
</tr>
<tr>
<td>Excesses £50 applicable to certain sections</td>
<td> </td>
</tr>
</tbody>
</table>
<h3>Other General Conditions</h3>
<p>The cover is subject to the conditions and exclusions of the policy and we strongly recommend that you read the full policy wording, which can be viewed at <strong><a rel="noopener noreferrer" href="/{localLink:5cb334e1-de5f-4f0e-8e6d-bbea38484c68}" target="_blank" title="Insurance">HERE</a></strong> The policy is designed only for permanent residents of the UK and Republic of Ireland. The age limit for this policy is under 85 years at the date of departure (under 65 for annual multi-trip). If you have any medical condition including anyone on whom the travel plans depend please refer to the <strong>Health</strong> section under <strong>Important Notes</strong> listed below. These details are not a substitute for your insurance policy. <strong>Please read your insurance policy carefully.</strong></p>
<h3>How to Book</h3>
<p>The Fogg travel insurance policy is only available by clicking on the insurance link <a rel="noopener noreferrer" href="/{localLink:5cb334e1-de5f-4f0e-8e6d-bbea38484c68}" target="_blank" title="Insurance"><strong>HERE</strong></a> Premiums are payable direct to Fogg and your insurance contract is with them and not Inghams. Your insurance bpolicy will be issued by Fogg.</p>
<h2>Premiums</h2>
<p><strong>FREE</strong> Insurance* for Children and from just £39.95 for Adults</p>
<p>*With a family of 2 adults purchasing insurance, all children up to the age of 18 living at the same address receive <strong>FREE</strong> insurance</p>
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<td><strong>Europe</strong></td>
<td><strong>Up to 10 days</strong></td>
<td><strong>Up to 17 days</strong></td>
</tr>
<tr>
<td>Adult 18-64 years</td>
<td>£39.95</td>
<td>£45</td>
</tr>
<tr>
<td>Senior 65-84 years</td>
<td>£79</td>
<td>£89</td>
</tr>
<tr>
<td>Child 3-17 years*</td>
<td>£29</td>
<td>£35</td>
</tr>
</tbody>
</table>
<p> </p>
<table border="0">
<tbody>
<tr>
<td><strong>USA &amp; Canada </strong></td>
<td><strong>Up to 10 days</strong></td>
<td><strong>Up to 17 days</strong></td>
</tr>
<tr>
<td>Adult 18-64 years</td>
<td>£79</td>
<td>£89</td>
</tr>
<tr>
<td>Senior 65-84 years</td>
<td>£159</td>
<td>£179</td>
</tr>
<tr>
<td>Child 3-17 years*</td>
<td>£45</td>
<td>£49</td>
</tr>
</tbody>
</table>
</div>
<p> </p>
<p>Claims and queries – Should you have any queries regarding these insurances (including claims) they should be referred to Fogg Travel Insurance Services Ltd, Crow Hill Drive, Mansfield, NG19 7AE. Tel: 01623 63 13 31 Email: <a href="mailto:info@foggtravelinsurance.com">info@foggtravelinsurance.com</a>. Our FSA Reg reference is 307304. This can be checked at <a rel="noopener noreferrer" href="http://www.fsa.gov.uk/fsaregister" target="_blank">http://www.fsa.gov.uk/fsaregister</a>.</p>
<p><strong>Important Notes</strong></p>
<p><strong>Health</strong> - You must inform Fogg Travel of any pre-existing illnesses/ infirmities in the last 12 months relating to all persons on whom the journey or trip plans depend. Insurers reserve the right to either refuse insurance cover or apply restrictions. Simply telephone the Referral Helpline on 01623 63 59 58 during normal working hours. Your enquiry will be handled confidentially and you will be advised of the extent of cover that can be provided. You will be given a Helpline reference, and confirmation will be sent/faxed to you.</p>
<p><strong>Hazardous activities</strong> - Normal summer holiday activities are covered by the policy but there will be activities which will be excluded - for example paragliding. Before booking or undertaking any activity which may be regarded by the Insurers as hazardous, we recommend that you contact Fogg Travel or your own travel insurer before you travel for advice for cover.</p>
<p><strong>Conditions, exclusions, warranties</strong> - Conditions and exclusions apply to individual sections of your policy, while general conditions, exclusions and warranties will apply to the whole of your policy.</p>
<p><strong>Policy excesses</strong> - Under most sections of the policy claims will be subject to an excess. This means you will be responsible for paying the first part of the claim. The amount you have to pay is the excess.</p>
<p><strong>Property claims</strong> - These claims are paid based on the value of the goods at the time you lose them and not on a new for old or replacement cost basis, unless otherwise stated in your policy.</p>
<p><strong>Policy limits</strong> - Most sections of the policy have limits on the amount the insurer will pay under that section. Some sections also include other specific limits eg: for any one item, or for valuables in total. You are advised to check your policy if you intend taking expensive items with you.</p>
<p><strong>Reasonable care</strong> - You need to take all reasonable care to protect yourself and your property.</p>
<p><strong>Complaints</strong> - Your insurance policy has in it a Complaints Procedure which tells you what steps you can take if you wish to make a complaint.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Travel Insurance - Your essential guide for peace of mind on your holiday]]></metaDescription>
  <metaTitle><![CDATA[Insurance | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Insurance]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/f23e975fc8744711878cf462dc128400]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>