<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="303eb3db-4b61-42a3-817c-87434704d248" id="30774" nodeName="Hotel Tigullio Et De Milan" isDoc="" updated="2022-01-31T14:21:36.5900000Z" parentGUID="d38bc824-3905-4499-92eb-d4c842e35e10" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="4" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "e43a83b6-8e2b-4ff3-b91e-eb5858098007",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free Night Offer: Stay 7 nights and pay for 6 nights or stay 14 nights and pay for 12 nights for holidays between 01 Apr - 31 Jul 19 and 01 Sep - 18 Oct 19.",
    "addedValueStart": "2019-05-21T10:48:24",
    "addedValueEnd": "2019-10-18T10:48:26",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[7,9]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/40302b5a28304b0aa1c58738355d297f,umb://media/30ffd0d213184893a56810bf29f5c798,umb://media/132b2a497bd04981a67292028203f4f2,umb://media/a87aa8ecc3444b89a6ce70555115b013,umb://media/f8f1b5e3f11e41f2a7c5a99f17efea80,umb://media/dc11bc5943f0434cb7088424480ef537,umb://media/796886de73d748c69f1d5c0009621b65,umb://media/9efc948fe3534bfb8c7e8593dd33eaf7]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Board Description – Extended buffet breakfast with hot options, fresh breads, Pastries, cereals and fruit.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>A well located hotel only a short walk from the from the sea and all the offerings of <a data-udi="umb://document/a2efda6a9a1e4affa8c542627565b55e" href="/{localLink:umb://document/a2efda6a9a1e4affa8c542627565b55e}" title="Santa Margherita">Santa Margherita</a>, the hotel is decorated in a light and fresh tones. Guests can relax in the lounge enjoying wines from the wine cellar or head onto the roof top garden.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge</li>
<li>Roof top garden</li>
<li>WIFI</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Set on a tree lined avenue close to the centre of Santa Margherita, the Hotel Tigullio has a welcoming, bright and fresh ambience.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/9efc948fe3534bfb8c7e8593dd33eaf7]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[115 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Tigullio has a welcoming, bright and fresh ambience, close to the centre of Santa Margherita. Book online today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Tigullio et de Milan, Liguria – Italy | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>115</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITLR0113]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>Standard double rooms are approximately 14m2 have a queen sized double or twin beds, air conditioning, WIFI, TV and mini bar. Larger superior rooms and suites are available at a supplement</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers><![CDATA[<p><strong>Free Night Offer: </strong>Stay 7 nights and pay for 6 nights or stay 14 nights and pay for 12 nights for holidays between 01 Apr - 31 Jul 19 and 01 Sep - 18 Oct 19.</p>]]></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[237280]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/d38bc8243905449992ebd4c842e35e10]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>