<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="a1afa31f-aaf1-4280-a961-bba40a1a2317" id="21707" nodeName="Hotel Schloss Lebenberg" isDoc="" updated="2024-09-12T11:32:05.7970000Z" parentGUID="0424394c-50b5-4ef4-8487-22ee185d0739" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "7ba06e5d-39c1-48b4-b015-5f3163f8d4b4",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (book by 31 Mar - excludes stays from 6 Jul - 24 Aug, not combinable with free night(s) offer)",
    "addedValueStart": "2019-09-01T16:14:27",
    "addedValueEnd": "2099-04-27T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "0ecee297-27df-490b-bc51-5f62fb324c14",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night(s) available (min stay 7 nights, excludes stays between 6 Jul - 24 Aug, discount automatically applied)",
    "addedValueStart": "2023-11-29T11:24:35",
    "addedValueEnd": "2024-10-31T11:24:37",
    "hideAddedValue": "0"
  },
  {
    "key": "04c61965-68bc-4f08-8038-47635963c02d",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free shuttle bus to centre (on request, 9am - 5pm)",
    "addedValueStart": "2019-05-21T09:50:51",
    "addedValueEnd": "2099-10-31T09:50:53",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/e626c2be860b4f9eac453a88e582df1a,umb://media/28bd4d4abb5b43109e16c3fc20c9535b,umb://media/484b5b7d0a3d4bfdafeda31fd591dc06,umb://media/926c978f635c4450adb213fd3363aba7,umb://media/9018d6f3d0a648b6945a6704fb56315a,umb://media/a7930daa9974479088803d0af54a27de,umb://media/b0e3e5d6d36f4d76856f3573f22ad5ab,umb://media/4c60cb7e5a61474b808a526776d1dc3a,umb://media/8540b21be7dd4198871d64ac3923a224,umb://media/7c8c96366c944b609575706b7d396ead,umb://media/2e253f1e9e6d4dc48cde77c211f9c118,umb://media/ec220ee665d940c9bd15a259d853d6d1,umb://media/3e451117c527423299082754fae3e321]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Enjoy delicious buffet-style breakfasts, with a range of hot and cold dishes on offer.</p>
<p>Packed lunches can be organised and purchased from the hotel directly for approx. €25 per person per day.</p>
<p>Half board dinner is a three course evening meal with a choice of main dish.</p>
<p>In the evening, the stylish à la carte restaurant offers regional and international specialities crafted using seasonal ingredients.</p>
<p>In the cocktail and wine bar, there are over 150 wines from all over the world, an exciting cocktail menu, and bar snacks if you're peckish. Panoramic windows, comfortable seating and stunning décor create a wonderful atmosphere.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Schloss Lebenberg is a shining example that older hotels can be fashionable. This once aristocratic castle retains a historical charm, with 21st Century furnishings and style. Once inside, it is hard to believe it has been the pride of <a data-udi="umb://document/0424394c50b54ef4848722ee185d0739" href="/{localLink:umb://document/0424394c50b54ef4848722ee185d0739}" title="Kitzbuhel">Kitzbühel</a> for nearly 300 years.</p>
<h2>Rooftop pool and spa</h2>
<p>The panoramic rooftop pool provides stunning views, and the spa area is equally amazing, with Finnish and herbal saunas, steam room and relaxation area. The cocktail and wine bar with live music, lounge and classy restaurant all add to the ambience of this charming retreat.</p>
<p>After a day of adventure, you will certainly feel deserving of the indulgent cuisine on offer in the à la carte restaurant. Recently awarded the Austrian Eco-Label, sustainability is important here, and you'll enjoy regional and international dishes, made with local and seasonal produce, all expertly cooked and served in the stylish restaurant.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>46 metre rooftop indoor pool with panoramic views</li>
<li>Relaxation area</li>
<li>Finnish sauna</li>
<li>Herbal sauna</li>
<li>Infrared cabin</li>
<li>Steam room</li>
<li>Spa and massage treatments (payable locally)</li>
<li>Fitness room</li>
<li>Yoga classes on request (subject to availability, payable locally)</li>
<li>Pool towels</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Free Wi-Fi</li>
<li>Garden</li>
<li>Parking</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots, linen, and highchairs available</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "04a4f4db-eccb-421d-a31a-34943ec5a116",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f895c17e-b2f7-4fb1-81d9-d06f986e4492\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <latitude><![CDATA[47.4540759]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Schloss Lebenberg is designed for indulgence and relaxation. It offers a combination of historic charm, and modern fittings and design. Proponents of sustainable luxury, the hotel was recently awarded the Austrian eco-label for sustainability. Enjoy panoramic alpine views from the rooftop pool, live music nights, and excellent food.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e626c2be860b4f9eac453a88e582df1a]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time approx. 1 hour 30 mins from Salzburg airport or 2 hours from Innsbruck airport</li>
<li>1.2km from the town centre</li>
<li>800m to the nearest bus stop</li>
<li>1.2km to the nearest supermarket</li>
<li>1.5km to the nearest lift</li>
<li>1.5km to the train station</li>
</ul>
<p>The hotel provides a free, shuttle service to the town centre between 9am-5pm every hour on the hour. Please check with the hotel for the return journey.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.379758]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[150 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Schloss Lebenberg today with Inghams. A historic building with rooftop indoor pool and a focus on sustainable luxury.]]></metaDescription>
  <metaTitle><![CDATA[Schlosshotel Lebenberg | Holidays in Kitzbühel | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>150</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4.5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/3e07fe007d264967aab8a0d7dd824619",
    "promotionBannerMobile": "umb://media/2edb510819744c1f821cef9d88ed161c",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Summer Sale\",\r\n    \"udi\": \"umb://document/b5d0cc549f6848f3abf28bad26a9f75e\"\r\n  }\r\n]",
    "promotionStartDate": "2018-12-26T00:00:00",
    "promotionEndDate": "2019-04-01T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[ATKZ0116]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Castle Austrian Twin Rooms</strong> are around 27m² and sleep two people. They are beautifully furnished with antiques, and are the only rooms located in the old wing of the hotel, which is not accessible by lift. These rooms have an ensuite with bath.</p>
<p><strong>Waldblick Austrian Twin Rooms</strong> are between 25-28m² and can sleep up to three people (extra bed is a single bed). These rooms have an ensuite with bath, and are available for sole occupancy.</p>
<p><strong>Lebenburg Austrian Twin Rooms</strong> are around 30m² and can also sleep up to three people (extra is a single bed). These rooms have an ensuite wit bath, mountain views, and are also available for sole occupancy.</p>
<p><strong>Junior Suites</strong> offer the most space at around 42m² and can sleep up to four people (extra bed is a double sofa bed in lounge area). These rooms have an ensuite with bath or shower.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Minibar</li>
<li>Safe</li>
<li>Bathrobes</li>
<li>Seating area</li>
<li>Hairdryer</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>3pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. €3.50 per person per night is payable locally. Children under the age of 15yrs are exempt.</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property: <strong>0</strong></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know of any dietary requirements at the time of booking.</p>
<p>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>
<p> </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_SpecialOfferItem",
    "offerText": "Free welcome drink",
    "additionalInformation": "",
    "offerLink": "[\r\n  {\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/a1afa31faaf14280a961bba40a1a2317\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"\",\r\n    \"linkTitle\": \"\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "offerAdventStartDate": "2018-12-27T00:00:00",
    "offerAdventEndDate": "2019-03-01T00:00:00",
    "showOnChildNodes": "0"
  }
]]]></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[206662]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>