<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="e2c27285-7d94-4b5a-9348-673c32d32c0b" id="40707" nodeName="Puglia &amp; Amalfi Coast Self-Drive" isDoc="" updated="2022-03-01T13:37:08.1970000Z" parentGUID="ea233839-b058-4030-b226-a2679c5a63d2" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="24" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/b154a65bcb204feeab94a1bc7c05f267,umb://media/64aad29976c34780be4a1e91ba66f3bd,umb://media/db7fc6c2a08f4d8bbed85a31ce7db8c1,umb://media/dd10867c0cb6420f8c40ea11f3fda629,umb://media/dddf12a88162411eb5e7b03e53965dc1,umb://media/a8030ebac3f9463682883133355a862c,umb://media/79c2191dc2b643098d091eef5b18655b,umb://media/1f9ef9ff4158462d9a849aab3b830b1b,umb://media/1c9ff58c4f124f8682e0a7aa13a13642,umb://media/c343b53347c14c8c920e337a7688ed58,umb://media/05fa1782917c44a68315a596f9134d85,umb://media/8b682f9ed1304d698e4cb049717a5632,umb://media/adc91bdb09474beaaace8703240e800c,umb://media/19e66f1d7ced495c9c8949a1ff9b4a8d,umb://media/27c8954bb57b43bdad2f9417ca56a282,umb://media/b59ead212dac42cf8866828d48362296,umb://media/72e29691a89743e28db5bd088c2f7fae,umb://media/7fa9d536edf84a9291a29c94fe9dab36]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Take a road trip from Puglia to the Amalfi Coast. Driving gives you this amazing sense of freedom – you can go where you want, when you want. It’s even better when the routes planned for you though….and that’s exactly what we’ve done. Begin your self-drive tour in sun kissed <a data-udi="umb://document/d0c28188245b40a396dd64fb346dffcd" href="/{localLink:umb://document/d0c28188245b40a396dd64fb346dffcd}" title="Puglia">Puglia</a> and finish up in the UNESCO protected fishing villages of the <a data-udi="umb://document/f13578bcd0ea422bb13fbbbc34693d47" href="https://www.inghams.co.uk/destinations/italy/neapolitan-riviera/amalfi-coast" title="Amalfi Coast">Amalfi Coast</a> – you’ll drive through groves of olives, see dramatic cliff edged coastlines and crystal-clear seas, visit medieval villages and buzzing towns and cities along the way.</p>
<div>
<h2 style="text-align: center;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Tour highlights">Tour highlights</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Itinerary">Itinerary</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Your holiday includes">Your holiday includes</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Hotels">Hotels</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Departure dates">Departure dates</a></h2>
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">2021 Departures on sale now!</td>
</tr>
</tbody>
</table>
</div>
</div>
<h2><a name="Tour highlights"></a><span class="geolocation-title">Tour highlights</span></h2>
<ul>
<li>Spend 11 days exploring the southern Italy’s sunning regions of Puglia, Basilicata and Campania, at your own pace</li>
<li>You'll stay in well-located four-star hotels with breakfast and dinner included</li>
<li>Receive detailed maps with driving directions and suggested places to visit on route</li>
<li>Explore the stunning towns of Puglia including Alberbello, Otranto and Lecce</li>
<li>Spend time in the cultural capital of Basilicata, Matera</li>
<li>Visit some of the most beautiful towns of the Amalfi Coast</li>
<li>Spend some time in Sorrento and hop across to the island of Capri</li>
<li>Discover the ancient city of Pompeii</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Tour highlights">[Back to top]</a></p>
<h2><a name="Itinerary"></a><span class="geolocation-title">Itinerary</span></h2>
<p><strong>Day 1: UK to Puglia</strong></p>
<p>After arriving at Bari or Brindisi airport, collect your hire car and then head to your hotel in Puglia for your first night.</p>
<p>Approximate distance travelled: Bari airport to hotel 60km / 1 hour</p>
<p>Meals included: (Dinner if choosing half board)</p>
<p><strong>Day 2: Alberobello, Locorotondo and Martina Franca</strong></p>
<p>On your first full day, we’ve mapped out a route for you through Itria Valley. Begin in the the UNESCO World Heritage Site of Alberobello - famed for its Trulli, picturesque, white-washed huts topped by conical roofs. Further down the road you’ll find the pretty hilltop town of Locorotondo. The beautiful pedestrianised town centre has a laid-back vibe, perfect for a leisurely stroll through its circular web of streets – it’s one of the ‘Borghi più belli d’Italia’, Italy’s most beautiful villages. Your final stop is Martina Franca, where beautiful baroque architecture dominates the town.  On the drive you’ll have noticed the ancient olive groves that characterise the Puglian landscape – we’ve included a visit to a local producer, so you can try the pure freshly pressed olive oil for yourself.</p>
<p>Approximate distance travelled: Your hotel to Alberobello 20km / 20 mins; Alberobello to Locorotondo 10 km / 10 mins; Locorotondo to  Martina Franca 7km - 15 mins; Martina Frnace to your hotel 17km / 30 mins</p>
<p>Meals included: Breakfast, Olive oil tasting, (Dinner if choosing half board)</p>
<p><strong>Day 3: Andria and Trani</strong></p>
<p>Start today's road trip in the town of Andria - you’ll see the beautiful limestone Castel del Monte at the top of a rocky outcrop. Emperor Frederick II built the unique octagonal castle in the 13<sup>th</sup> century – so there’s so much history here. After, make your way to the sea port town, Trani. Head straight for the harbour side – we could’ve spent hours here eating at one of the local trattorias and watching the boats in the harbour. But it’s worth taring yourself away to visit the Romanesque Cathedral of San Nicolás – you’ll spot it from its 60-metre-tall bell tower.</p>
<p>Approximate distance travelled: Your hotel to Andria 120km / 1 hour 40 mins; Andria to Trani 35km / 40 mins; Trani to your hotel 110km / 1 hour 25 mins</p>
<p>Meals included: Breakfast, (Dinner if choosing half board)</p>
<p><strong>Day 4: Lecce and Gallipoli</strong></p>
<p>Check out of your hotel, because tonight you’ll be staying in the <a data-udi="umb://document/3e930c14f9c54b6e9b4e0c6354960c61" href="/{localLink:umb://document/3e930c14f9c54b6e9b4e0c6354960c61}" title="Salento">Salento</a> area. On route stop in another of Puglia’s Baroque cities, Lecce. It has a fascinating Roman history too. Visit the ancient Roman Theatre, which was discovered as recently as 1929 – excavations have brought its former glory to light. In the afternoon drive to the coastal town of Gallipoli. It’s a fortified town on a limestone island, connected to the mainland by a bridge. While you’re here visit the Baroque Cathedral, built in the local Lecce limestone and head up to the city walls to find a spot in a café or bar to enjoy the views. Drive on to your new accommodation in the Salento area.</p>
<p>Approximate distance travelled: Your hotel to Lecce 160km / 1 hour 45 mins; Lecce to Gallipoli 40km / 40 mins; Gallipoli to your hotel 40km / 40 mins</p>
<p>Meals included: Breakfast, (Dinner if choosing half board)</p>
<p><strong>Day 5: </strong><strong>Santa Maria di Leuca</strong> <strong>and Otranto</strong></p>
<p>Santa Maria di Leuca’s right at the southern tip of Italy’s heel – the lighthouse here marks the meeting point of the Adriatic and Ionian Sea. Make sure you’ve brought your camera today – you’ll have the most amazing panoramic views from here. Continue on, driving along the beautiful Adriatic Coast to Santa Cesarea Terme – it’s in the Costa Otranto National Park. The town has an up-market feel, lined with 18<sup>th</sup> Century summer villas and palazzi. Later, make your way to Otranto. The Castello Aragonese has been transformed into an art space – if you’re into art, check out what’s on here, they’ve exhibited the likes of Warhol, as well as local artists. The Cathedral’s a pretty special spot too – inside an intricate mosaic that dates back to 1103 and spans the entire floor.</p>
<p>Approximate distance travelled: Your hotel to Santa Cesarea Terme 35km / 45 mins; Santa Cesarea Terme to Otranto 26km / 16 mins; Otranto to your hotel 60km / 60 mins</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 6: Altamura, Gravina and Matera</strong></p>
<p>Today you'll head for your next hotel in Matera, so pack up and hit the road. On the way visit Altamura – there’s another beautiful Cathedral to see. Take a break for lunch – we’d recommend trying the regions course-grain oven baked focaccia with mozzarella and juicy sun ripened tomatoes. Next, stop in Gravina where you’ll find fascinating churches and buildings carved into the rocks. When you approach Matera, you’ll see it stacked on top of the rocky ravine. The UNESCO protected Sassi district makes up the ancient part of the city. You’ll find yourself amidst a beautiful web of lanes and staircases, with plenty of lookout points where you can stop to take in the views.</p>
<p>Approximate distance travelled: Your hotel to Altamura 250km / 3 hours; Altamura to Gravina 14km / 20 mins; Gravina to Matera 25km / 30 mins; Matera to your hotel 20km / 25 mins</p>
<p>Meals included: Breakfast, (Dinner if choosing half board)</p>
<p><strong>Day 7: Salerno and Vietri Sul Mare</strong></p>
<p>Move on to the Amalfi Coast. Start your exploration in Salerno, a buzzing port city. From the towns Lombard Castle of Arechi, you’ll have amazing panoramic views. If you’re interested, head for the Minerva Botanical Gardens – they’re part of the oldest university of medicine in the world dating back to the 14th Century. After exploring the palazzo lined streets and strolling along Trieste Lungomare promenade beside the Gulf of Salerno, hop back in the car and drive further up the coast to Vietri Dul Mare. The town marks the beginning of Amalfi's coastal road and is famous for its ceramics. The pottery production here dates back to the Roman times, but today you’ll see how it’s still being made – it makes for a great souvenir.</p>
<p>Approximate distance travelled: Your hotel to Salerno 200km / 2 hours 20 mins; Salerno to Vietri Sul Mare 6km / 15 mins; Vietri Sul Mare to your hotel 25km / 1 hour</p>
<p>Meals included: Breakfast, (Dinner if choosing half board)</p>
<p><strong>Day 8: Amalfi, Ravello and Positano</strong></p>
<p>Wake up to explore the stunning UNESCO fishing villages of the Amalfi Coast. Begin in Amalfi - Piazza del Duomo’s the hub of town, where you’ll see the impressive Arab Norman Caherdral. Hop across to galmerous Positano – the village clings to the mountainside in a hue of pastel buildings. Weave through the streets of smart fashion boutiques and eateries to find a terrace bar, where you can watch the yachts cruise by. Your final stop is Ravello. Known as the jewel of the coastal crown, the tiny town takes pride of place, positioned on the cliffs high above sea level, with spectacular views across the bay. The cascading gardens of Villa Rufolo and the views’s from Villa Cimbrone, are a must see while you’re here.</p>
<p>Approximate distance travelled: Your hotel to Amalfi 4km / 10 mins; Amalfi to Positano 15km / 45 mins; Positano to Ravello 23km / 1 hour; Ravello to your hotel 8km / 20 mins</p>
<p>Meals included: Breakfast, (Dinner if choosing half board)</p>
<p><strong>Day 9:  Sorrento and Capri</strong></p>
<p>Set out for <a data-udi="umb://document/1b38a4293ff04cc8b2dd360a57a538d8" href="/{localLink:umb://document/1b38a4293ff04cc8b2dd360a57a538d8}" title="Sorrento">Sorrento</a>. Make your way straight to the lively hub that is Piazza Tasso. The main square’s lined by small cafes and narrow streets sprawl out from it with shops selling trinkets and souvenirs – from here you can explore all the main sights. Next, get a feel for la dolce vita on the chic Italian island of <a data-udi="umb://document/7883a5ede77b4681ac9221e4d68f0771" href="/{localLink:umb://document/7883a5ede77b4681ac9221e4d68f0771}" title="Island of Capri">Capri</a>. Cross from the mainland by boat. Explore Capri Town and Anacapri where you can take the one-man chair lift up to, Monte Solaro, the highest point on the island.</p>
<p>Approximate distance travelled: Your hotel to Sorrento 35km / 1 hour 25 mins; Sorrento to your hotel 35km / 1 hour 25 mins</p>
<p>Meals included: Breakfast, (Dinner if choosing half board)</p>
<p><strong>Day 10: Pompeii and Mount Vesuvius</strong></p>
<p>This morning check out from your hotel and begin your drive to the ancient Roman city of Pompeii. The volcanic eruption of Mount Vesuvius in 79AD wiped out the entire city. See the buildings, ancient pots and even frescoes, that were astonishingly well preserved by the volcanic ash. In the afternoon continue on to the Mount Vesuvius National Park. If your feeling adventurous, park in the car park and take the shuttle service up to 1,050 metres, from which you can take the four kilometre trail (there and back) to the crater.</p>
<p>Approximate distance travelled: Your hotel to Pompeii 35km / 1 hour; Pompeii to your hotel 30km / 40 mins</p>
<p>Meals included: Breakfast, (Dinner if choosing half board)</p>
<p><strong>Day 11: Naples to UK</strong></p>
<p>If you have time on your final morning, visit the coastal city of <a data-udi="umb://document/3f78d09ffda249fe84dca900e9fedde9" href="/{localLink:umb://document/3f78d09ffda249fe84dca900e9fedde9}" title="Naples">Naples</a> and its stunning architecture and try some delicious local cuisine – we’ve organised for you to try Sfogliatella, local pastry. Then say your farewells to Italy and drive to Naples Airport to return your hire car and catch your flight home.</p>
<p>Approximate distance travelled: Your hotel to Naples airport 10km / 20 mins</p>
<p>Meals included: Breakfast</p>
<p> </p>
<p>Please note that this itinerary may not be suitable for guests with walking difficulties due to the steep pavements and steps in some cities and towns. Driving around the Amalfi Coast may get very busy at times, especially during peak season therefore we would recommend this itinerary for confident drivers. It is possible to use public transport including buses and boats when on the Amalfi Coast to visit the more popular towns.</p>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Tour highlights">[Back to top]</a></p>
<h2><a name="Your holiday includes"></a><span class="geolocation-title">Your holiday includes</span></h2>
<ul>
<li>Car hire with unlimited mileage</li>
<li>10 nights’ accommodation on a bed and breakfast basis (optional half board supplement)</li>
<li>Detailed driving instructions, maps and suggested itineraries</li>
<li>Olive oil tasting with a small gift in Puglia</li>
<li>Sfogliatella tasting in Naples (if visited)</li>
</ul>
<p><strong>Your holiday excludes:</strong></p>
<ul>
<li>Any extras, drinks and personal expenses</li>
<li>Parking costs (where applicable) </li>
<li>Hotel city tax</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Tour highlights">[Back to top]</a></p>
<h2><a name="Hotels"></a><span class="geolocation-title">Hotels</span></h2>
<p>Please note that these hotels are subject to availability at the time of booking. If these are not available, they will be changed to hotels of a similar standard and location.</p>
<p><strong>★★★★ UNA Hotel Regina, near Bari (</strong><strong>3 nights)</strong></p>
<p><strong>★★★★ Hotel Montecallini, near Salento (2 nights)</strong></p>
<p><strong>★★★★ Fuori le Mura, Altamura (1 Night)</strong></p>
<p><strong>★★★★ Hotel Villa Romana, Minori (3 nights)</strong></p>
<p><strong>★★★★ Hotel San Francesco al Monte, Naples (1 night)</strong></p>
<p> </p>
<h2><a name="Departure dates"></a><span class="geolocation-title">Departure dates<a></a></span></h2>
<p>Flexible daily departures from May to October</p>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/puglia-amalfi-coast-self-drive#Tour highlights">[Back to top]</a></p>]]></description>
  <descriptionCharacterLimit>15000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[0]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This self-drive tour of <a data-udi="umb://document/d0c28188245b40a396dd64fb346dffcd" href="/{localLink:umb://document/d0c28188245b40a396dd64fb346dffcd}" title="Puglia">Puglia</a> and the <a data-udi="umb://document/1b38a4293ff04cc8b2dd360a57a538d8" href="/{localLink:umb://document/1b38a4293ff04cc8b2dd360a57a538d8}" title="Sorrento">Amalfi Coast</a>, is a great way of seeing the best that these regions have to offer. Start out in Puglia, with its ancient landscapes of olive groves and castles, dotted with trulli houses and then head up the Amalfi Coast, to explore the UNESCO villages, Sorrento, the Island of Capri and buzzing Naples. We've got it all planned out for you, so you just need to come along and enjoy the drive. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/05fa1782917c44a68315a596f9134d85]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Enjoy an eleven day self-drive tour through the sun kissed landscapes of southern Italy. Drive from Puglia to the Amalfi Coast exploring the beautiful towns and villages and sampling the local cuisine as you go. Book your self-drive tour of Puglia and the Amalfi Coast today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Puglia & Amalfi Coast | Italy Self-Drive | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Italy: Puglia & Amalfi Coast Self-Drive]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITXP3004]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/b97673ffe21c4dddb421af4c884e381d]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>