<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="b7e96b05-e0b2-4a60-99c4-64be772e9269" id="32496" nodeName="Hotel La Perla" isDoc="" updated="2024-05-31T14:43:55.2870000Z" parentGUID="70752406-55bf-40a1-9a9c-77b24d8c5082" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "62798598-7f04-4949-98bf-2b5d16220d1f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night available for arrivals between 10 June - 12 July & 31 Aug - 27 Sep 24  (min 14 night stay)",
    "addedValueStart": "2023-01-19T18:19:26",
    "addedValueEnd": "2024-09-27T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "c7bca385-1da8-4a96-a7a2-0c0032463d8f",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night available for arrivals between 12 Jun - 28 Jul 24 (min 7 night stay)",
    "addedValueStart": "2024-05-30T14:43:22",
    "addedValueEnd": "2024-07-28T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "a4f4ce95-0557-44d8-9c19-4a835eec5a74",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Discounted rates at Checkpoint Activity Company",
    "addedValueStart": "2020-07-21T18:21:04",
    "addedValueEnd": "2024-12-30T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "cab0f30c-0064-4c3f-a793-06c72c9033ee",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Single Saver: no single supplement",
    "addedValueStart": "2021-09-12T17:59:37",
    "addedValueEnd": "2024-12-29T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "cbbf6fdc-10cf-4905-b1af-9c012a23aa91",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Daily afternoon tea between 3.30-5.30pm (excludes drinks)",
    "addedValueStart": "2024-02-06T10:38:19",
    "addedValueEnd": "2024-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/794b3e235f8646f1a21dac982d5fe5c2,umb://media/30fea3e004224d788e1e1de07020d29b,umb://media/2154e7ca0c284adc9057045882bd9f46,umb://media/5fb03630e4b34a01a59afca488703dee,umb://media/ffce74819ab34b29934a1e48fd6fb09e,umb://media/c02d02d8dc774b8c84ce98e86ddcfd7f,umb://media/8eec87867e644cda8fef8d439c10818b,umb://media/76888103d0c24116a52aeff4d759ce76,umb://media/b382e5aa847d4919ab62b802a3bda15e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The hotel offers a buffet breakfast with cold meats, cheeses, fresh fruit and with hot options. The evening meal is four courses, with a set menu with choices. The restaurant uses quality local produce to create modern dishes based on traditional South Tyrolean food.</p>
<p>From 3.30pm to 5.30pm, the hotel offers a delicious afternoon buffet with savoury and sweet options to be enjoyed.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><span>Hotel La Perla has one of the best locations in <a data-udi="umb://document/7075240655bf40a19a9c77b24d8c5082" href="/{localLink:umb://document/7075240655bf40a19a9c77b24d8c5082}" title="Canazei">Canazei</a>. </span>The hotel’s run by the Derbertol family whose warmth and passion for both the hotel and the area is evident as soon as you arrive.</p>
<h2>Great location for walkers</h2>
<p>It’s right in the centre close to the Belvedere cable car. Use this as your gateway to incredible mountain walks and bike rides. Stop off on your walk at a traditional rifugio or mountain hut for a bite to eat and a cold drink. This is a great way to immerse yourself in the Ladin and Tyrolean culture.</p>
<h2><span>Cosy and relaxed atmosphere</span></h2>
<p><span>You’ll find traditional interiors throughout the hotel with typical alpine features and cosy bedrooms to collapse into at the end of the day. It’s a great place to come back to after an activity-packed day. Kick back with a drink on the lovely sun terrace or head to the spa area where there’s an indoor pool, whirlpool and saunas.<br /></span></p>
<h2><span>Delicious food &amp; drink</span></h2>
<p><span>Our favourite thing about the hotel is the food. The family has a lot of experience with catering and they personally take care of the cuisine in the hotel. You can look forward to fantastic local cuisine that fuses traditional recipes with a modern touch. Make sure you check out the Tyrolean style tavern too for some traditional beers and delicious wines from the Veneto region.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Spa with indoor heated pool, sauna, whirlpool, ice grotto, steam room and relaxation area (massages, the solarium and beauty treatments are payable locally). </li>
<li>Pool towels are available free of charge</li>
<li>Fitness room</li>
<li>Sun terraces with mountain views</li>
<li>Free Wi-Fi</li>
<li>Parking</li>
<li>Garage</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "8b87d0c5-1b68-45fb-97e0-96357445a374",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"fced2463-7133-469d-aacf-366b4fa15651\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel La Perla is run by the friendly and welcoming Debertol family. It's in the centre of Canazei and close to the Belvedere lift, making it the ideal spot for walkers. This property has been a firm favourite of summer holiday makers since it first opened its doors in 2011. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/794b3e235f8646f1a21dac982d5fe5c2]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li><span>Airport transfer time: approx. 2 hours 30 mins by coach from Verona airport</span></li>
<li>Central location in Canazei</li>
<li>50 metres to the nearest bus stop</li>
<li>100 metres to the nearest walking lift</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[52 rooms ]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at Hotel La Perla today with Inghams. It has a great location in the centre of Canazei with easy access to walking trails.]]></metaDescription>
  <metaTitle><![CDATA[Hotel La Perla | Holidays in Canazei | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>49</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel La Perla]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCN0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Rooms </strong>sleep two people. They're decorated in a traditional style with classic pine furniture and a walk-in shower.</p>
<p><strong>Junior Suites</strong> sleep up to four people (extra bed is a double sofa bed). They have a shower or bath.</p>
<p><strong>Single Rooms</strong> are available without a single supplement and have a shower.</p>
<p><strong>Classic Rooms for sole use</strong> are also available.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Balcony</li>
<li>TV</li>
<li>Hairdryer</li>
<li>Safe</li>
<li>Minibar</li>
</ul>
<p>Cots are available for €30 per day, bookable &amp; payable locally. </p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €2.50 per person per night is payable locally (for guests aged 13 years and over for a maximum of 10 nights).</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1136559]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>