<?xml version="1.0" encoding="utf-8"?>
<homePageFeaturedItem guid="b4d93057-a343-4ae3-8f16-25e9f48160ea" id="33536" nodeName="Summer Sale" isDoc="" updated="2019-12-23T09:42:50.6630000Z" parentGUID="e408c497-7de3-4637-a422-217eeca437a3" nodeTypeAlias="homePageFeaturedItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <featuredItemFontColour><![CDATA[013760]]></featuredItemFontColour>
  <featuredItemImage><![CDATA[umb://media/95db8858fc3e4eadb24fbd0b3d43870e]]></featuredItemImage>
  <featuredItemMobileImage></featuredItemMobileImage>
  <linkType><![CDATA[0]]></linkType>
  <offerLink><![CDATA[[
  {
    "name": "Summer Sale",
    "udi": "umb://document/b5d0cc549f6848f3abf28bad26a9f75e"
  }
]]]></offerLink>
  <offerSearchLink></offerSearchLink>
  <primaryStrapline></primaryStrapline>
  <secondaryStrapline></secondaryStrapline>
</homePageFeaturedItem>