<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="a53f8553-7179-4e9a-b27d-b5def8fc9571" id="71596" nodeName="Airport Security &amp; Airline Travel" isDoc="" updated="2024-05-21T17:20:28.1270000Z" parentGUID="1f4b4a82-93e7-4f3b-8d86-e6fa96b7a4ff" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="6" published="true" isBlueprint="false">
  <answer><![CDATA[<p>For important advice about airport security and airline travel, take a look at the <a href="https://www.gov.uk/government/publications/air-passenger-travel-guide/air-passenger-travel-guide">Air passenger travel guidance</a> and make yourself aware of the <a href="https://www.gov.uk/hand-luggage-restrictions/liquids">hand luggage restrictions</a>.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[Can I have advice about airport security and airline travel?]]></question>
</fAQItem>