<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="461d05ef-886b-4423-9552-1cb041914dfe" id="66835" nodeName="Next Winter Ski Deals" isDoc="" updated="2024-04-04T14:25:40.9870000Z" parentGUID="a65ea176-952f-43a6-8fe1-42e14b43dc93" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Easter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/500f33ac6e5a40b7900b12234eb39470",
    "externalLink": "",
    "linkName": "Next Winter Ski Deals",
    "linkTitle": "Next Winter Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>