<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="232f3586-0a20-4ab0-a00d-32f669cff511" id="73829" nodeName="TEST PAGE - CH (1)" isDoc="" updated="2024-09-20T10:19:26.7530000Z" parentGUID="1e437ab1-de9c-402a-bf63-da580ffe1715" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="17" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<p><img src="/media/13107191/our-service_inghams-1.jpg" alt="InghamsService" data-udi="umb://media/cc0311774ed54af0887c8fc2f2e2c97a" /></p>
<div class="g12">
<div class="white_box_shadow">
<h2>The story of Inghams - We know how, then and now</h2>
<p><a style="font-weight: 400;" data-udi="umb://document/b49585f93afa4fa9bb0bf506c7aa71da" href="https://www.inghams.co.uk/" title="Home">Inghams</a> was founded by Walter Ingham in 1934, and has now been running for 90 years, hosting holidays that all celebrate our love for the great outdoors.</p>
<p>Walter was passionate about sharing all that our amazing planet has to offer with others from around Britain, be it cruising down a slope on skis, chasing the Northern lights on a sleigh or walking to the best view points across Europe.</p>
<p>We aim to carry on that sense of adventure in all our holidays to this day. </p>
<p style="text-align: center;"><a style="font-weight: 400;" data-udi="umb://document/25e767db044444389ae09383681f982e" href="/{localLink:umb://document/25e767db044444389ae09383681f982e}" class="c-btn">Skiing holidays</a> <a style="font-weight: 400;" data-udi="umb://document/96a3e4d143704d3e93793368e4fc0416" href="/{localLink:umb://document/96a3e4d143704d3e93793368e4fc0416}" class="c-btn">Walking holidays</a>  <a style="font-weight: 400;" data-udi="umb://document/a4a479e8266449e18b6b9e98eafdfcb0" href="/{localLink:umb://document/a4a479e8266449e18b6b9e98eafdfcb0}" class="c-btn">Lapland holidays</a></p>
<p> </p>
</div>
</div>
<div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1934</h3>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13107269/1-1935-400.jpg" alt="1935History" data-udi="umb://media/6ce6b0ec526e4fc1a8d8de9cafca09ea" /></p>
<p>Walter Ingham began advertising his private ski party to the Austrian Tyrol in national newspapers at a cost of 12 guineas for 14 nights! The <strong>first group</strong> travelled out over the <a data-udi="umb://document/94e3f609bee24db59a4918a0c66f8dee" href="/{localLink:umb://document/94e3f609bee24db59a4918a0c66f8dee}" title="Christmas Skiing">Christmas holiday</a>. That same winter he organised four or five more trips to Austria.</p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1936</h3>
<p style="text-align: center;"><img src="/media/13107616/inghams-old-photo.png" alt="Summer1930s" data-udi="umb://media/5779896079754b38af2a017acfb744dc" /></p>
<p>Walter extended operations into the <strong>French Alps</strong> in winter and French seaside resorts in Summer.</p>
<p> </p>
<p> </p>
</div>
</div>
<p> </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1939</h3>
<p style="text-align: center;"><img style="width: 297px; height: 281px;" src="/media/13107299/3-1939-200-new.jpg?width=297&amp;height=281" alt="1939History" data-udi="umb://media/f2fa6e0c077a46e58816501a4adb558b" /></p>
<p>When the war broke out, <strong>Walter joined the army</strong>, serving until 1948. Walter later re-started his travel business in New Bond Street. Copy right - <a rel="noopener" href="https://alchetron.com/Walter-Ingham" target="_blank" title="Walter Ingham">https://alchetron.com/Walter-Ingham</a> </p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1948</h3>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13107272/4-1948-400.jpg" alt="1948History" data-udi="umb://media/a1e84d5a54d148fe8fd8808b6c84db17" /></p>
<p>Christmas that year, it was time for celebration! The first <strong>post war ski party</strong> in the Dortmund Chalet of the Austrian Alpine Clun in Kuethai, Tyrol.</p>
<p> </p>
</div>
</div>
<p> </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1950</h3>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13107273/5-1942-400.jpg" alt="1942History" data-udi="umb://media/3f1f9a1b7a8d4896a72ed20bda9685b1" /></p>
<p>The<strong> First snow trains</strong> to the Alps began and introduced 'dancing cars' in which customers would party the night away as they rattled across the continent.</p>
<p> </p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1962</h3>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13107274/7-1963-400.jpg" alt="1963History" data-udi="umb://media/6944f0ac7e6f4a3eae0f91632983ebc3" /></p>
<p>Walter sold the business to Hotelplan Ltd so he could get out from behind the desk and get back onto the slopes in the winter and sailing on his boat in the summer. By this point he was sending <strong>14,000 people skiing</strong> per year.</p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1971</h3>
<p style="text-align: center;"><img src="/media/13107298/8-1971-400-new.jpg" alt="1971History" data-udi="umb://media/781ab6771f84403eb159e0d69a799244" /></p>
<p>Inghams started to focus its attention on <a data-udi="umb://document/7cc7c659d5214aa9b4d7bed936a721bb" href="/{localLink:umb://document/7cc7c659d5214aa9b4d7bed936a721bb}" title="Austria">Austria</a>, <a data-udi="umb://document/996aa9008def4ffe9a331c775cc97902" href="/{localLink:umb://document/996aa9008def4ffe9a331c775cc97902}" title="Italy">Italy</a> and <a data-udi="umb://document/52fab17731fa49639f8a0841e064a064" href="/{localLink:umb://document/52fab17731fa49639f8a0841e064a064}" title="Switzerland">Switzerland</a>, with prices from just £34-36 for eight days of skiing. Wouldn’t that be nice these days! <br />​</p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1977</h3>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13107276/9-1977-400.jpg" alt="1977History" data-udi="umb://media/aa655e3dde0749f8824dede90f6a755c" /></p>
<p><strong>Business was booming</strong> from Inghams Head office in Putney</p>
</div>
</div>
<p> </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1980</h3>
<p><img src="/media/13107617/old-inghams-brochure.jpg" alt="Summer1980s" data-udi="umb://media/ae08a76a2415425f9972448e08f56c1a" /></p>
<p>By the early 80's Inghams was carrying <strong>52,000 passengers</strong> per year, of which 25,000 passengers were for summer.</p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1984</h3>
<p style="text-align: center;"><img src="/media/13107690/1984-skier.jpg" alt="1984Skier" data-udi="umb://media/4d7fa599c4df4306a631f616b899ebaa" /></p>
<p>The golden year, Inghams celebrates their <strong>50th Anniversary</strong>! Carrying 27,000 passengers for winter holidays. </p>
</div>
</div>
<p> </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1988</h3>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13107278/11-1980-400.jpg" alt="1980History" data-udi="umb://media/bb5b567ac87d46f98c940ccf3f430796" /></p>
<p>Between 1988-1993, Inghams voted <strong>Best Winter Sports Operator</strong> by Travel Agents</p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1990</h3>
<p style="text-align: center;"><img style="width: 500px; height: 500px;" src="/media/13095231/inghams-lapland-893-adobestock_413147056.jpg?width=500&amp;height=500" alt="LaplandHolidays" data-udi="umb://media/fed9c95745ed4372bd85e0f95a894a9d" /></p>
<p>At the start of the early 90's, Inghams launched their holidays to <strong>Lapland</strong>, offering customers a unique travel experience. </p>
<p> </p>
</div>
</div>
<p> </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">1999</h3>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13107279/11-1990-400.jpg" alt="1990History" data-udi="umb://media/71046175b99e449d90f0d27fc0510d69" /></p>
<p>Ahead of the game, Inghams was the first UK ski company to take <strong>bookings online</strong>.</p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">2008</h3>
<p><img style="width: 500px; height: 117.28395061728395px;" src="/media/13107281/inntravel-2008-200.jpg?width=500&amp;height=117.28395061728395" alt="InnTravel2008" data-udi="umb://media/8c5a52c127d240f683ef0bbc72edbce4" /></p>
<p><strong>2008</strong> - Hotelplan purchased the award-winning walking holiday specialist, Inntravel, who are the UK's leading provider of self-guided walking.</p>
<p><img style="width: 500px; height: 62.955599734923794px;" src="/media/13107282/santas-lapland-2010-190.jpg?width=500&amp;height=62.955599734923794" alt="SantasLapland2010" data-udi="umb://media/fff35d2e51a4436eb47726d1c8c4716c" /></p>
<p><strong>2010</strong>- Hotelplan acquired the Enigma Travel Group, comprising of Santa’s Lapland.</p>
<p><img style="width: 500px; height: 166.08391608391608px;" src="/media/13107283/explore-2014-190.jpg?width=500&amp;height=166.08391608391608" alt="Explore2014" data-udi="umb://media/767125b4ae4342f38cddd990587f899c" /></p>
<p><strong>2014</strong> - Inghams celebrated its 80th anniversary, and by <strong>2015</strong> Hotelplan took acquisition of Explore Worldwide.</p>
<p> </p>
</div>
</div>
<p> </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">2023</h3>
<p style="text-align: center;"><img style="width: 500px; height: 232px;" src="/media/13107284/inghams2023.jpg?width=500&amp;height=232" alt="Inghams2023" data-udi="umb://media/e7ad46cef47740cea3094a6a6545be14" /></p>
<p>Inghams rebranded with a renewed celebration of their <strong>passion for the great outdoors</strong> to encourage their guests to ski the slopes, walk the walks and explore the Lapland wilderness with a new feel and look to the brand.</p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic-grey c-card--generic-shadow">
<h3 style="text-align: center;">2024</h3>
<p style="text-align: center;"><img style="width: 500px; height: 131.11111111111111px;" src="/media/13107264/90yearslogo-900x200.jpg?width=500&amp;height=131.11111111111111" alt="90Years" data-udi="umb://media/2d2378506aac4c4ea11ea2204d59670c" /></p>
<p>Today, we have <strong>90 years of experience</strong> in providing specialist holidays to a global market. We aim to celebrate out past, but also our commitment to the future, with sustainability initiatives that measure our impact, reduce our carbon footprint and mitigate negative impacts. We hope to be operating holidays in the great outdoors, for many more years to come!</p>
<p> </p>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your holiday. Flights, hotel and transport? We’ve got you covered. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[TEST PAGE - CH]]></metaDescription>
  <metaTitle><![CDATA[TEST PAGE - CH]]></metaTitle>
  <pageTheme></pageTheme>
  <pageTitle><![CDATA[TEST PAGE - CH]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>