<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="a4426d38-260d-4a70-a70b-d758c0de83bf" id="69699" nodeName="Last Minute Ski Deals" isDoc="" updated="2024-10-17T11:33:49.3700000Z" parentGUID="f37f9782-7628-491f-bbe2-fbf57f63325b" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Next Winter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aada1eeaff944fecb99bf1e42e6176b6",
    "externalLink": "",
    "linkName": "Last Minute Ski Deals",
    "linkTitle": "Last Minute Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>