<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="181781c0-1adf-4e58-81d2-6bde3c0b007d" id="50109" nodeName="Holiday Supplements" isDoc="" updated="2021-07-06T10:39:29.0870000Z" parentGUID="ab811c00-f762-411b-8bbb-0eb3edf0b6cc" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <answer><![CDATA[<p>Our holidays are priced using the lowest-cost room type on our programme which is at a zero supplement as the cost for this is factored into the base price.</p>
<p>Where it costs more to have certain room facilities such as a balcony or lake view, over and above the zero supplement, a supplement is applied. In addition, prices are based on two people sharing so if there is a single traveller or additional person travelling, there may be a supplement such as "single use supplement" or "occupancy supplement".</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[A reference to a "supplement" is made on my holiday invoice, what does this mean?]]></question>
</fAQItem>