<?xml version="1.0" encoding="utf-8"?>
<reskinProductLaplandThingsToDoItem guid="986da823-74b5-4b72-ac87-e1894f0b812c" id="60848" nodeName="Reindeer Excursion" isDoc="" updated="2023-06-19T15:33:17.6530000Z" parentGUID="f3f7299b-e039-4217-a8b2-ec9b986fcc39" nodeTypeAlias="reskinProductLaplandThingsToDoItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <thingsToDoItemContent><![CDATA[<p>Time with the reindeers is certainly special. A peaceful way to see Lapland is to take a sleigh-ride with these magical creatures.</p>]]></thingsToDoItemContent>
  <thingsToDoItemImage><![CDATA[umb://media/abb8931a28f64d7ea1ae828c438dfbe2]]></thingsToDoItemImage>
  <thingsToDoItemTagline><![CDATA[For all the family]]></thingsToDoItemTagline>
  <thingsToDoItemTitle><![CDATA[[
  {
    "name": "Reindeer Rides",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/588530ae17cd46a6ad7121ad9991d719",
    "externalLink": "",
    "linkName": "Reindeer Excursion",
    "linkTitle": "Reindeer Excursion"
  }
]]]></thingsToDoItemTitle>
</reskinProductLaplandThingsToDoItem>