<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="8b37cb2b-fc35-4628-b321-751c199d4032" id="21706" nodeName="Cadenabbia" isDoc="" updated="2023-11-02T15:45:18.4130000Z" parentGUID="7d421e04-a790-44ba-bf8c-afda30e31d4a" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="1" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "7c0820b4-f514-4253-90af-cb2f0a0e0079",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Inghams rep based in resort",
    "addedValueStart": "2023-04-02T23:59:59",
    "addedValueEnd": "2030-10-30T13:29:18",
    "hideAddedValue": "0"
  },
  {
    "key": "34057d90-05b9-4a53-a157-20139cf3f78e",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Flights and airport transfers included",
    "addedValueStart": "2023-08-22T08:37:00",
    "addedValueEnd": "2030-12-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/c70015d584d945da99859bca7b29e573]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Cadenabbia has been a retreat for composers, writers, popes and royalty for centuries. That’s largely down to its sheltered spot on the western shore of Lake Como. Here, between the water’s edge and Monte Crocione, it offers a sliver of cypress trees, palatial villas and hotels, one of the oldest Anglican churches in Italy, and ancient walking paths. Peace and quiet reigns in Cadenabbia – but there’s always the promise of livelier times on the horizon. Tremezzo and <a data-udi="umb://document/80beb49bbb7f416ba46131e7c79367b5" href="/{localLink:umb://document/80beb49bbb7f416ba46131e7c79367b5}" title="Menaggio">Menaggio</a> are next door – and that clutch of lemon and rose villas across the water? That’s the beautiful village of <a data-udi="umb://document/d3611d3782e0494ead59e534458bcdd6" href="/{localLink:umb://document/d3611d3782e0494ead59e534458bcdd6}" title="Bellagio">Bellagio</a>.</p>
<h3>Antica Strada Regina: following the royal road</h3>
<p>One of the loveliest walks on Lake Como starts from Cadenabbia – the Antica Strada Regina. Once upon a time, Roman soldiers, traders and pilgrims trod the route, which connected Milan and Lake Como with the northerly alpine regions. A three-hour waterside hike north delivers you to churches and tangled fishing villages. Or follow the road south for an easy ramble past Villa Carlotta, through Tremezzo and on to Colonno along the Lake Como Greenway. Cyclists can skim along the lakeside paths too.</p>
<h3>The villas of Cadenabbia</h3>
<p>Villa Carlotta is a 10-minute walk south along the promenade. It’s one of the most popular villas on the shores of Lake Como, thanks to the romantic Italian gardens – but it’s also just one of many historic houses in town. Cadenabbia has been a health resort since Victorian times. In fact, Queen Victoria herself sought relaxation here, along with Mary Shelley and Verdi, who is rumoured to have composed some of his operas at Villa Margherita Ricordi.</p>
<h3>Monte Crocione and San Martino</h3>
<p>Cadenabbia might take a meditative approach to life, but the scenery around is all about the drama. A few steps from the waterfront, leafy streets and staircases climb past villas and churches built on the foundations of medieval watchtowers and Roman temples. Monte Crocione sits right behind the town – or you can hike up the steep stone steps to the 16<sup>th</sup>-century San Martino Church. It’s a peaceful picnicking place that comes with some of the best views on Lake Como.  </p>
<h3>Day trips by ferry and train</h3>
<p>The ferries that zip around Lake Como are an excellent excuse to give your legs a break. Bellagio is a 10-minute ferry ride away; Como Town is 30 minutes aboard a speedy hydrofoil. Hop-on-hop-off tours are also a great way to while away the day. And thanks to Cadenabbia’s central setting, the rest of the Italian Lakes, Milan and even the spectacularly scenic Swiss mountain railway of the Bernina Express all make easy day trips.</p>
<h2>Why book a summer holiday in Cadenabbia with Inghams?</h2>
<p><span>At Inghams, we do walking holidays differently. With no fixed itinerary, you have more time in your destination and the freedom to walk as much or as little as you like, discovering some of Cadenabbia's best activities at your own pace.</span></p>
<p><span>With over 85 years of outdoor travel experience, our holiday packages to Cadenabbia include flights, transfers, and accommodation, so you can relax and leave the small details to us. Our experts can help you choose the best holiday for you, and our team in resort can give you the inside scoop on how to spend your time away with us.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<h3>Pre-book your excursions online or give us a call</h3>
<p style="color: #00533a;"><strong>St. Moritz &amp; the Bernina Express from £68 per person (full day)</strong></p>
<p>Leave Lake Como and travel by coach into the majestic Val Valtellina before boarding the Bernina Express. This spectacular railway journey travels past glaciers and over dramatic gorges before arriving in St. Moritz. You’ll have some free time to explore and enjoy a spot of lunch (payable locally). The return to Lake Como by coach is just as scenic and follows the road through the Maloja pass, stopping in the historic town of Chiavenna.</p>
<p>Departs: Mondays and Wednesdays</p>
<p style="color: #00533a;"><strong>Milan from £60 per person (full day)</strong></p>
<p>An expert guide will show you Milan’s highlights starting with Sforzesco Castle. Once you reach La Scala, Milan’s famous opera house, you’ll continue on foot through the historic centre to see the Duomo and Galleria Vittorio Emanuele – the world’s first shopping mall! The afternoon is at leisure exploring <a data-udi="umb://document/2575554a5b50446eb00d5bf533f317cd" href="/{localLink:umb://document/2575554a5b50446eb00d5bf533f317cd}" title="Milan">Milan</a> at your own pace.</p>
<p>Departs: Tuesdays</p>
<p style="color: #00533a;"><strong>Lake Orta &amp; Stresa from £68 per person (full day)</strong></p>
<p>Lake Orta is one of Italy’s prettiest lakes and oozes romance. Its picturesque cobbled streets are too narrow for cars, which makes it a pleasure to wander around. Discover local shops, charming cafés and lovely lake views. Later on you’ll head to <a data-udi="umb://document/476c8caf3fe84faab565f2d0f2e99f48" href="/{localLink:umb://document/476c8caf3fe84faab565f2d0f2e99f48}" title="Lake Maggiore">Lake Maggiore</a> and the lakefront resort of Stresa. A private boat will take you across the lake to the Borromean Islands where you can visit the botanical gardens of Isola Bella.</p>
<p>Departs: Fridays. Entrance fee to Isola Bella is payable locally.</p>
<p style="color: #00533a;"><strong>Villa Balbianello from £59 per person (half day)</strong></p>
<p>No visit to Lake Como would be complete without seeing its most beautiful villas and spectacular gardens. Built at the end of the 18th century, the villa now belongs to the FIA, Italy’s version of the National Trust. Wander through the villa and admire exquisitely-furnished interiors and a vast art collection. The manicured gardens are a delight to walk through – there’s lots of spots where you can admire the stunning lake views.</p>
<p>Departs: Sundays - discounted tickets for National Trust members are also available. </p>
<p style="color: #00533a;"><strong>Como &amp; Lake Lugano from £60 per person (full day)</strong></p>
<p>Start your day in the charming town of Como where you can admire its lakefront piazza and stunning cathedral. Continue by coach to Lugano, one of <a data-udi="umb://document/92803bd348ec48c1b64d53e77931172d" href="/{localLink:umb://document/92803bd348ec48c1b64d53e77931172d}" title="Switzerland">Switzerland</a>'s most elegant towns. Visit the wonderful Via Nassa and the square of Riforma with their striking buildings and exclusive shops or choose to spend time in the town's pretty park. You'll get to enjoy a one hour cruise from Lugano to Cassarate where you can see the villages and crotti (typical restaurants) that are only accessible by lake.</p>
<p>Departs: Fridays</p>
<p><em>We act at all times as a selling agent for our suppliers. All excursions require minimum numbers to run and are subject to change. Some excursions may not be available to pre-book in low season but may be available to book locally subject to numbers. Prices will be confirmed at the time of booking. See <a data-udi="umb://document/b703ff07ccec43baad41fffcfcc61821" href="/{localLink:umb://document/b703ff07ccec43baad41fffcfcc61821}" title="Terms &amp; Conditions">terms &amp; conditions</a>.</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Inghams Saver Plus: Save £50 per couple </strong>for Summer 2019 departures - whilst stocks last!  </li>
<li><strong>Excursion Savings </strong>- see Excursions tab</li>
<li><strong>Early Booking Offers </strong>at selected hotels</li>
<li><strong>Inghams Rep </strong>based in resort</li>
</ul>]]></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li>Buy a central lake day ticket to explore the towns from Bellano to Lenno on any passenger or car ferries</li>
<li>Visit Villa Carlotta and discover the magnificent botanical gardens enjoying unrivalled views over the lake across to Bellagio</li>
<li>One of the first hotels to open its doors to guests on Lake Como was the Grand Hotel Cadenabbia, once called Grand Hotel Bellevue</li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[Italian]]></language>
  <latestDeals></latestDeals>
  <latitude></latitude>
  <listingDescription><![CDATA[<p>This little town is on the west shores of the lake, making it a great base to visit the nearby towns. It’s got a lovely laid back feel with a handful of shops, bars and restaurants.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/c70015d584d945da99859bca7b29e573]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Book Cadenabbia, Lake Como for an amazing summer holiday in Italy. Lakes and walking holidays in Cadenabbia with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Cadenabbia Holidays | Walking Holidays in Lake Como 2024 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Cadenabbia]]></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ITCA]]></resortCode>
  <resortCombinations><![CDATA[<p>You can combine Cadenabbia with any resort on <a data-udi="umb://document/7d421e04a79044babf8cafda30e31d4a" href="/{localLink:umb://document/7d421e04a79044babf8cafda30e31d4a}" title="Lake Como">Lake Como</a> or <a data-udi="umb://document/476c8caf3fe84faab565f2d0f2e99f48" href="/{localLink:umb://document/476c8caf3fe84faab565f2d0f2e99f48}" title="Lake Maggiore">Lake Maggiore</a>.</p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking>0</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Hidden between the lake and mountains, pine-shrouded Cadenabbia reveals a history that spans from pre-Roman roads to Romantic retreats]]></tagline>
  <thingsToDo><![CDATA[<p>With glorious lakes and mountain scenery around you it’s tempting to laze around and do very little, but if you feel energetic and fancy exploring there is a delightful (if steep) walk up to the 16th century church of San Martino. There is nearby Griante to explore, the famous Villa Carlotta botanical gardens are on the way to nearby Tremezzo and, of course, everyone on a holiday to Lake Como is bound to take a boat trip - or three!</p>
<ul>
<li>18 hole golf course at Menaggio</li>
<li>Hiking around Monte Grona (above Menaggio)</li>
<li>Mountain biking trails around lake</li>
<li>Trips to well-known Villas of Balbianello (Lenno), Carlotta (Tremezzo) and Monastero (Varenna)</li>
<li>Como Town - 30 minutes away by hydrofoil</li>
</ul>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td>Wednesday/Saturday <br />Wednesday/Saturday <br />Wednesday/Saturday <br />Wednesday<br />Wednesday/Saturday <br />Wednesday/Saturday <br />Wednesday/Saturday</td>
<td><strong>Milan</strong></td>
<td>Gatwick <br />Heathrow <br />Luton <br />Cambridge<br />Birmingham <br />Manchester<br />Edinburgh</td>
<td>Nil/£19<br />Nil/£19<br />Nil/£19<br />£19<br />£49/£69<br />£89/£59<br />£39/£69</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer time: approx. 2 hours by coach.</p>
<p>Supplements: are based on 7 nights departures.</p>
<p>Self drive is available</p>
<p><strong>For guests opting to fly into Verona the transfer time is approx. 3hrs by coach</strong></p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p><span><strong>The Green Way</strong> | Easy | Approx 4 hrs (return by bus) |<br />This walk takes you through some of the most charming villages on Lake Como; Sala Comacina, Ossuccio, Lenno, Mezzegra, Tremezzo and Cadenabbia before arriving at the village of Griante. A great opportunity to get to know the area around Tremezzo and Cadenabbia before exploring further.</span></p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>