<?xml version="1.0" encoding="utf-8"?>
<geographySantaPage guid="99539a40-48b6-4a8c-90cd-4160ef179133" id="29312" nodeName="Resorts" isDoc="" updated="2024-01-23T09:42:52.1170000Z" parentGUID="f83de191-792e-4f76-a2b6-2b60cd414e3a" nodeTypeAlias="geographySantaPage" templateAlias="GeographySantaPageResponsive" sortOrder="10" published="true" isBlueprint="false">
  <bannerImage></bannerImage>
  <canonicalUrl></canonicalUrl>
  <defaultProgram><![CDATA[umb://document/1d3d2a60ac084909a81d575670ccfe9f]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <fAQsWidget></fAQsWidget>
  <feefoPrefix><![CDATA[santa]]></feefoPrefix>
  <heroImage><![CDATA[umb://media/ba44034e62c64c91a865f6ffbb230f1a]]></heroImage>
  <heroVideo></heroVideo>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <introductionText></introductionText>
  <metaDescription><![CDATA[Our extra special Santa Breaks let your children meet Santa and his elves. We offer Santa breaks at the following resorts: Lapland/Finland, Yllas, and Levi.]]></metaDescription>
  <metaTitle><![CDATA[Santa Breaks 2024/25 | Visit Santa with Inghams]]></metaTitle>
  <pageTheme><![CDATA[2]]></pageTheme>
  <pageTitle><![CDATA[Santa Break Resorts]]></pageTitle>
  <productBannerImage><![CDATA[umb://media/4b0da65261be4cafbaf0fdec65d98e0d]]></productBannerImage>
  <program><![CDATA[umb://document/1d3d2a60ac084909a81d575670ccfe9f]]></program>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showFAQs></showFAQs>
  <showSearchPanel>1</showSearchPanel>
  <umbracoPermanentRedirect><![CDATA[umb://document/63d3751ab6044b7c82e72f82f4d64e39]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</geographySantaPage>