<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="71c9f065-2625-4f03-a4a3-d53e17d19b41" id="23059" nodeName="Hotel Park" isDoc="" updated="2024-06-11T11:26:50.1070000Z" parentGUID="f1003f9f-d15e-4187-b023-98fa5c12dc50" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "ba1209ae-ed70-42ef-bbb6-6a7ca0247bc3",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Oct)",
    "addedValueStart": "2019-08-14T10:34:47",
    "addedValueEnd": "2099-10-31T10:34:49",
    "hideAddedValue": "0"
  },
  {
    "key": "a8bd6634-7794-490d-9ef0-9356a895488f",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free shuttle service to and from the lifts on first and last day of skiing",
    "addedValueStart": "2019-08-14T10:35:14",
    "addedValueEnd": "2099-08-15T10:35:16",
    "hideAddedValue": "0"
  },
  {
    "key": "622c13e8-ae81-4eb0-801e-ae584fdc42c0",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free ski storage with boot heating at ski school meeting place",
    "addedValueStart": "2019-08-14T10:35:25",
    "addedValueEnd": "2099-08-15T10:35:27",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/1d87eed7fdb9499384a50a6cd6dacfdf,umb://media/bd49a2dce79248d2b0d4240d1af81c12,umb://media/427a8a69fda44892a10dcbbd79e5f634,umb://media/2aa0c5a1c90841a5a3081da9a2876bb9,umb://media/1a27b475868446a1a810a6d16418454a,umb://media/3d73a3be4d664eaf95007561fa563146,umb://media/0598ae4aa6804b479cd9f229c152ee3d,umb://media/9b6c164eaa2641c0a64a63877cfcd560,umb://media/7e4479c5c0644606ae1ce757b02c3e19,umb://media/a0b689b39c984ff5a1d699bb07f20747]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Hotel Park is offered on a half board basis with breakfast and dinner taken in the hotels restaurant.</p>
<p>Breakfast consists of a continental buffet with hot and cold options.</p>
<p>Dinner includes a 4 course evening menu served five evenings a week. The hotel restaurant is closed on Wednesday and Thursday evenings.</p>
<p>There is a weekly fondue and local speciality evening.</p>
<p>A Christmas and New Year gala dinner is included.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>This charming award-winning family-run hotel enjoys a quiet yet central location and is only a short walk to the Alpin Express lift. The friendly owners Jutta and Patrick Rossi-Bumann look forward to welcoming you.</p>
<h2>Traditional Swiss stay</h2>
<p>The Hotel Park is a great option for those of you wanting to experience a stay in the mountains that is traditionally Swiss. This Hotel is an excellent good-value base with comfortable rooms, good food and a friendly atmosphere and the hotel promotes it's importance of quality, authenticity and closeness to nature. </p>
<h2>Food and drink</h2>
<p><span>During your stay you can expect to enjoy Swiss cuisine with influences from French and Italian dishes. The hotel provides a four course evening meal six nights a week occasionally featuring local specialities from the Valais region. On Thursday evenings you will need to make your own arrangements, but this won't be a problem as the hotel is located in the heart of resort so you'll find a range of restaurants and bars available on your doorstep.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Bright lobby with sitting area</li>
<li>Cosy TV room</li>
<li>Attractive breakfast room and separate restaurant</li>
<li>Small adjoining bar</li>
<li>Wi-Fi throughout (Free)</li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Children’s playroom (unsupervised)</li>
<li>Cots are available free of charge</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "c31a183e-c019-4906-9fb3-03e8a9c093ba",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"2e205cf0-f0e1-4873-a95b-305760b54a94\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.1094556]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This charming award-winning family-run hotel enjoys a quiet yet central location and is only a short walk to the Alpin Express lift. The Hotel Park is an excellent good-value base with comfortable rooms, good food on a half board basis and a friendly atmosphere.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/1d87eed7fdb9499384a50a6cd6dacfdf]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Tourist tax:</p>
<ul>
<li>4.50 CHF (16 - 99 years)</li>
<li>2.25 CHf (6 - 15 years)</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p>In an excellent central location close to resort amenities and only 5 minutes’ walk (500 metres) to the Alpin Express lift.</p>
<p>The nursery slopes and Felskinn are approx. 5 minutes’ (500 metres) away.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.928621]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[16 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This charming award-winning family-run hotel enjoys a quiet yet central location and is only a short walk to the Alpin Express lift. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Park, Saas Fee - Switzerland - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Alpine express</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>16</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Park, Saas Fee]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHSA0114]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard twins</strong> are around 16<span>m² and have a shower. These well equipped rooms sleep two adults and have a west facing balcony.</span></p>
<p><strong>Standard south facing</strong> <strong>twins</strong> have a bath or shower and can sleep a third guest using an extra bed. These rooms have south facing balconies and enjoy lovely views over the village and towards the mountains.</p>
<p><strong>Single rooms</strong> are available on requets so please call us to book.</p>
<p><strong>Room facilities:</strong></p>
<ul>
<li>Cable/satellite TV</li>
<li>Safe </li>
<li>Hair dryer</li>
<li>Wi-Fi</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please advise of any special dietary requirements at the time of booking. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[199008]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>