<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="3d66f2c2-7cee-48e7-bd39-0ad1a2c7eb43" id="69709" nodeName="Christmas Ski Deals" isDoc="" updated="2024-04-04T14:18:54.8270000Z" parentGUID="714c3e7e-76a6-476e-81e3-cdd8e274abcf" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="4" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Christmas 2024 Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/960b373c69434d9ea227fe18b1770f8d",
    "externalLink": "",
    "linkName": "Christmas Ski Deals",
    "linkTitle": "Christmas Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>