<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="f8ff2a32-fb63-40c8-b8b7-70749ac5b27e" id="22568" nodeName="Cristal de Jade Residence" isDoc="" updated="2024-05-15T16:49:02.4130000Z" parentGUID="2735e238-9f7c-411c-b306-1226ce7548d1" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p><span>Adapted apartments are available on request, please call to book.</span></p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "8dc10c63-bd93-4ce0-8fa7-576405be1d86",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 April 24, min 7 night stays, date exclusions apply)",
    "addedValueStart": "2024-02-04T14:09:59",
    "addedValueEnd": "2024-04-30T14:10:02",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[6]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/cbf5f3af35064c519483a17c8d7115f2,umb://media/3691f1c7a748455f8e5535af315b77dd,umb://media/c16212bb74664fdfaf8cc46d383970f0,umb://media/11e8a874315c4024842be82e53ee327e,umb://media/3e0674adc9804f37980faa7e5ae3a7b4,umb://media/919e7d1a6b23417ab5d369175272183f,umb://media/a261daf7fdd14afeb7ca695d27c75a40,umb://media/9a27d0e787a0434a8a0a2fecff0a3600,umb://media/24836b09825249d9b88bddf2e1966ac4,umb://media/c9dea8c805a34a2f9f474e07db08b4b8,umb://media/3082c7d0aae84950a9d8e4e17cccd335,umb://media/4a671273261a40d8975c43e588a9679d,umb://media/c283135087e44201924e54db4b0aedb8,umb://media/fbbb0ac9602e4fb1abea17a26dad918a,umb://media/446390b3768a4c6e9df91012fdcf2924]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Cristal de Jade is a self-catering residence.  </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Cristal de Jade is an impressive modern residence with fantastic facilities. It offers the ultimate luxury and relaxation for those keen to have the flexibility of a self-catered property. The interiors are tastefully furnished and the apartments are spacious and very well equipped.</p>
<p>Relax in the fabulous Pure Altitude Spa, with its large indoor swimming pool, leading to the lovely terrace for sunny days. It is located next to the Aiguille du Midi lift for easy access to see the breath-taking Mont Blanc and surrounding glaciers and also fantastic hiking along the Grand Balcon Nord from the lift's mid-station. Just a short walk from the resort centre means dining out is very easy and the shops and resort activities are only a stone's throw away.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Indoor swimming pool and children's pool which opens out onto garden with sun loungers</li>
<li>Spa with whirlpool, steam room, sauna (payable locally)</li>
<li>Massages and beauty treatments available (bookable and payable locally)</li>
<li>Fitness room </li>
<li>Terrace with sun beds</li>
<li>Lounge area with fireplace</li>
<li>Raclette/fondue/crepe machines available to rent (bookable and payable locally)</li>
<li>Grocery and bakery delivery service (bookable and payable locally)</li>
<li>Washing and drying facilities in residence (payable locally)</li>
<li>Bike storage with cleaning facilities</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "3000f952-e4f2-48c6-bf4e-45b48fe79fe7",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"fc07015c-2821-492f-8d28-47352b35be8c\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;This modern hotel close to the centre of Chamonix is a great place to relax with its indoor pool and spa facilities.&quot;}" data-sheets-userformat="{&quot;2&quot;:13057,&quot;3&quot;:{&quot;1&quot;:0},&quot;11&quot;:4,&quot;12&quot;:0,&quot;15&quot;:&quot;Calibri, sans-serif&quot;,&quot;16&quot;:11}">This modern residence close to the centre of Chamonix is a great place to relax with its indoor pool and spa facilities.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/3691f1c7a748455f8e5535af315b77dd]]></listingImage>
  <localFees><![CDATA[<ul>
<li>Resort tax €3.30 per person, per day (under 18s free of charge) paid locally</li>
<li>Refundable deposit €500 required on arrival (credit cards accepted)</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 1hour 15 minutes from Geneva airport</li>
<li>Located in the centre of the resort </li>
<li>Adjacent to the Aiguille du Midi chairlift </li>
<li>Bus stop is 2 minutes from the residence </li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[60 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The Cristal de Jade offers the ultimate in luxury and relaxation for those keen to have the flexibility of a self-catered property. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Cristal de Jade Residence | Holidays in Chamonix | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>50</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCH0124]]></propertyCode>
  <propertyType><![CDATA[0]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>The apartments are the height of luxury, with tasteful furnishings, well-equipped kitchens (including wine fridge, espresso machine, coffee maker, kettle, toaster, induction hob, fridge/freezer and dishwasher) and a balcony. Bathrooms have a bath with overhead shower, bathrobes and toiletries. There's also a large flat-screen TV in the lounge area and master bedroom with English channels, telephone, hairdryer and a safe.</p>
<ul>
<li><span>Two room apartment (A4): sleeps 2-4 people (40m²). Double bedroom and a sofa bed in the lounge area</span></li>
<li><span>Three room apartment (B6): sleeps 3-6 people (60m²). One twin and one double bedroom and a sofa bed in the lounge area, with an additional shower room and WC. </span></li>
<li><span>Four room apartment (C8): sleeps 4-8 people (80m²). One double and two twin bedrooms, a sofa bed in the lounge area, with an additional shower room and WC. </span></li>
</ul>
<p>Baby kit available including cot, highchair, changing mat, baby bath &amp; push chair are on request (pay locally).</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[12080757]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>