<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="445b4c9e-0a51-4bbc-96e0-e376b23385ad" id="24059" nodeName="Early Booking Offers" isDoc="" updated="2022-05-25T13:33:21.0430000Z" parentGUID="e65cbae5-17c8-4dcc-a98e-cbd6e7154c59" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="27" published="false" isBlueprint="false">
  <bodyText><![CDATA[<p>In addition to our other Inghams Plus savings, here are <strong>early booking discounts</strong> on selected partner hotels. Below are the savings you could make. You will need to make your booking at your preferred hotel, by the book by date below to avoid disappointment in missing out on further savings when booking your holiday for<strong> Summer 2017.</strong> Click to view offers in <a data-udi="umb://document/c9325d9a77054a3c8190f3ab0da21760" href="/{localLink:umb://document/c9325d9a77054a3c8190f3ab0da21760}" title="Austria">Austria</a> &amp; <a data-udi="umb://document/a1a80922d88a43f8ba80b182c72e8904" href="/{localLink:umb://document/a1a80922d88a43f8ba80b182c72e8904}" title="Italy">Italy</a>.</p>
<div class="data-grid">
<table border="0">
<tbody>
<tr align="center">
<th>Country</th>
<th>Resort</th>
<th>Hotel Name</th>
<th>Star Rating</th>
<th>Book by</th>
<th>Saving up to per couple*</th>
</tr>
<tr align="center">
<td rowspan="4" style="vertical-align: middle;"><a data-udi="umb://document/c9325d9a77054a3c8190f3ab0da21760" href="/{localLink:umb://document/c9325d9a77054a3c8190f3ab0da21760}" title="Austria">Austria</a></td>
<td style="vertical-align: middle;"><a name="austria"></a><a data-udi="umb://document/8a5520d3a21245df8f64bd961141f33f" href="/{localLink:umb://document/8a5520d3a21245df8f64bd961141f33f}" title="Bad Kleinkirchheim">Bad Kleinkirchheim</a></td>
<td><a data-udi="umb://document/93c19ff2334c4fe1b45a06266a81da6e" href="/{localLink:umb://document/93c19ff2334c4fe1b45a06266a81da6e}" title="Hotel Trattlerhof">Hotel Trattlerhof</a></td>
<td>4*</td>
<td>31st May 2017</td>
<td>£180</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/0424394c50b54ef4848722ee185d0739" href="/{localLink:umb://document/0424394c50b54ef4848722ee185d0739}" title="Kitzbuhel">Kitzbühel</a></td>
<td><a data-udi="umb://document/cefc24393dca4d93b79b506101b7e361" href="/{localLink:umb://document/cefc24393dca4d93b79b506101b7e361}" title="Garden-Spa Hotel Erika">Garden-Spa Hotel Erika</a></td>
<td>4.5*</td>
<td>31st May 2017</td>
<td>£120</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/5b2012f465d44823b6f9ba4c3b40fd4b" href="/{localLink:umb://document/5b2012f465d44823b6f9ba4c3b40fd4b}" title="Obergurgl">Obergurgl</a></td>
<td><a data-udi="umb://document/90a014d465a94223bcd6646ce8448db6" href="/{localLink:umb://document/90a014d465a94223bcd6646ce8448db6}" title="Hotel Jenewein">Hotel Jenewein</a></td>
<td>4*</td>
<td>31st May 2017</td>
<td>£100</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/7f056630899e45e8b8e0eef21334f8ef" href="/{localLink:umb://document/7f056630899e45e8b8e0eef21334f8ef}" title="St. Anton">St. Anton</a></td>
<td><a data-udi="umb://document/6a0fb11cd45843a3a302d169c5b46384" href="/{localLink:umb://document/6a0fb11cd45843a3a302d169c5b46384}" title="Hotel Alte Post">Hotel Alte Post</a></td>
<td>4.5*</td>
<td>31st May 2017</td>
<td>£180</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/a1a80922d88a43f8ba80b182c72e8904" href="/{localLink:umb://document/a1a80922d88a43f8ba80b182c72e8904}" title="Italy">Italy</a></td>
<td style="vertical-align: middle;"><a data-udi="umb://document/61e4585563734f578afffffeebe8e43d" href="/{localLink:umb://document/61e4585563734f578afffffeebe8e43d}" title="Lazise">Lazise</a></td>
<td><a data-udi="umb://document/61e4585563734f578afffffeebe8e43d" href="/{localLink:umb://document/61e4585563734f578afffffeebe8e43d}" title="Lazise">Hotel Bella Lazise</a></td>
<td>3*</td>
<td>31st May 2017</td>
<td>£180</td>
</tr>
</tbody>
</table>
</div>
<p><strong>Important:<br />*</strong>The maximum discount has been displayed as more than one discount can sometimes apply for each property, the amount of which is subject to the duration booked. Follow the online booking process to see final prices with all applicable discounts included.</p>
<p><strong>General Terms and Conditions:</strong> All prices, offers and availability are correct at time of publishing, are subject to change &amp; availability and can be withdrawn at any time. All offers are for 14 nights unless otherwise stated. All prices are per person based on maximum occupancy of a room or apartment and on the lowest priced departure point, supplements for other flights/airports may apply.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[You’ll find many savings across our 2018 Lakes & Mountains programme, when you book early with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Inghams Lakes & Mountains 2018 Early Booking Offers]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>In addition to our other Inghams Plus savings, here are early booking discounts specific to their individual properties.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/cc3ca07009194963b46fd7ba3d06ea94]]></thumbnail>
  <title><![CDATA[Early Booking Offers]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/e65cbae517c84dcca98ecbd6e7154c59]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>