<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="ef550954-a305-4d42-b623-f292f79d8fea" id="23204" nodeName="Hotel Helga" isDoc="" updated="2024-11-25T15:29:48.8200000Z" parentGUID="ed82c0b9-0e2d-48e3-84f4-fc0638e8018a" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="1" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "b5ea23bd-432f-4f23-9d6e-f3909978d3fe",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 Sep)",
    "addedValueStart": "2019-08-07T14:20:00",
    "addedValueEnd": "2021-09-30T23:59:00",
    "hideAddedValue": "1"
  },
  {
    "key": "06ab7797-cac9-4222-9802-12d95662d4d0",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free cross-country ski track entry pass per person",
    "addedValueStart": "2019-08-07T14:20:48",
    "addedValueEnd": "2099-08-08T14:20:50",
    "hideAddedValue": "0"
  },
  {
    "key": "7affd9f0-520b-4e07-b3cf-606d4586de49",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Reductions at Olympia swimming pool (Mon-Fri)",
    "addedValueStart": "2019-08-07T14:21:22",
    "addedValueEnd": "2099-08-08T14:21:24",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/a86e985968f943d4a8a5bcc576f47d88,umb://media/2ad2f793a9f54c19aed68ffbc1e4d5d6,umb://media/c62d7938c3944c5ab3e1d2d1de4c021e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is a hot &amp; cold buffet</p>
<p>On Tuesdays the hotel offers a schnitzel evening for guests to try this traditional Austrian dish</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><span>One of <a rel="noopener" data-udi="umb://document/ed82c0b90e2d48e384f4fc0638e8018a" href="/{localLink:umb://document/ed82c0b90e2d48e384f4fc0638e8018a}" target="_blank" title="Seefeld">Seefeld’s</a> best loved hotels, the small and exclusive Hotel Helga is just a short walk from the village centre and offers personal service in comfortable surroundings.</span></p>
<h2><span>Top quality service</span></h2>
<p><span>The hotel surpasses its superior three star rating by offering </span><span>superb personal </span><span>service and quality.</span> Lovingly run by the Kratzer family, nothing is too much trouble for Helga and her husband Franz and their humour and hospitality will make you feel very welcome.</p>
<h2>Hearty breakfast</h2>
<p>Great for lovers of good food, the hotel offers an excellent home-cooked breakfast featuring organic produce.</p>
<p>Hotel Helga is available on bed &amp; breakfast basis. The centre of Seefeld has lots of great restaurants and bars to explore.</p>
<p>On Tuesdays the hotel offers a schnitzel evening for guests to try this traditional Austrian dish.</p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We have an exclusive agreement with Hotel Helga the only UK tour operator to package and sell holidays here - all the more reason to book with Inghams today!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Elegant lounge with bar</li>
<li>Rustic farmhouse stube</li>
<li>Residents' restaurant</li>
<li>Wellness area with sauna and infrared cabin </li>
<li>Solarium (pay locally)</li>
<li>Wi-Fi </li>
<li>Lift (stops in between floors, so access to the rooms is either up or down 6 steps)</li>
</ul>
<p><strong>Family Facilities</strong></p>
<ul>
<li>Family friendly hotel</li>
<li>Children's menu and early meals available on request </li>
<li>Cots &amp; linen</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "a38788fd-6d84-4fd5-b9df-26d5f8be1a7c",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"d9efe745-9fbc-4f69-b540-dc364d2f4bf8\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.3333]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>One of Seefeld’s best loved hotels, the small and exclusive Hotel Helga is just a short walk from the village centre and surpasses its superior three star rating by offering superb personal service and quality.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/a86e985968f943d4a8a5bcc576f47d88]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €3.50 per person per night to be paid directly to the hotel.</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Six minutes' walk from the centre</li>
<li>Ski bus stop 100 metres away</li>
<li>Nearest station 800 metres away</li>
<li>Geigenbuhel lift 600 metres away </li>
<li><span>Transfer time: approx. 30 mins by coach from Innsbruck airport</span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.1916]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[13 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Cosy, family-run Hotel Helga in Seefeld is perfect for a ski holiday near the village centre. Reserve with Inghams now.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Helga | Seefeld Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>13</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Helga]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATSE0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Austrian Twin Rooms </strong>are around 20m² and have bath or shower. Some rooms have a balcony.</p>
<p><strong>Superior Austrian Twin Rooms</strong> offer the most space at around 30<span>m². These rooms have a shower, seating area and balcony.</span></p>
<p><strong>Single Rooms</strong> are on request, so please call us to book.</p>
<p><strong>Bedroom Facilities </strong></p>
<ul>
<li>Cable / satellite TV</li>
<li>Wi-Fi</li>
<li>Safe</li>
<li>Bathrobes</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel Helga can cater for vegetarians. Other dietary requirements are not available. <span>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>6</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[676222]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>