<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="0b206a6a-0833-49f6-b9ab-cd52c3f631b1" id="40014" nodeName="Bathrooms" isDoc="" updated="2019-09-24T09:11:23.9900000Z" parentGUID="6e4450c9-0e55-4ddd-bb6c-fdc835e3dfde" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="6" published="true" isBlueprint="false">
  <answer><![CDATA[<p>The bathrooms can be located on either side of each carriage.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Where are the bathrooms on the train?]]></question>
</fAQItem>