<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="da0badfd-4702-4bad-9d0d-0d4a24d6de5d" id="22393" nodeName="Hotel-Garni Silvester (Hinterglemm)" isDoc="" updated="2022-01-27T13:29:03.3870000Z" parentGUID="ab49d597-7a79-4ec7-952d-a3e3d5adf48b" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="9" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "c4bd7b80-eccc-4154-acc2-80a24a2eb7d3",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams",
    "addedValueStart": "2019-11-27T09:22:04",
    "addedValueEnd": "2099-11-28T09:22:06",
    "hideAddedValue": "0"
  },
  {
    "key": "277139e5-3c13-4ca8-ad59-539a3950df2e",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily packed lunch ",
    "addedValueStart": "2019-11-27T09:22:16",
    "addedValueEnd": "2099-11-28T09:22:18",
    "hideAddedValue": "0"
  },
  {
    "key": "e0511544-0374-456b-bb46-e71294b551b3",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily afternoon cake & snacks (drinks payable)",
    "addedValueStart": "2019-11-27T09:22:26",
    "addedValueEnd": "2099-11-28T09:22:32",
    "hideAddedValue": "0"
  },
  {
    "key": "fadc50dc-f737-4b93-889c-624b631a82e9",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free guided walks & sports activity programme (Mon-Fri)",
    "addedValueStart": "2019-11-27T09:22:41",
    "addedValueEnd": "2099-11-28T09:22:42",
    "hideAddedValue": "0"
  },
  {
    "key": "3151593a-597f-417e-9436-c84e3fe6ba2f",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free walking poles & rucksack hire",
    "addedValueStart": "2019-11-27T09:22:53",
    "addedValueEnd": "2099-11-28T09:22:55",
    "hideAddedValue": "0"
  },
  {
    "key": "41d749c0-c991-420b-8416-7c89787eaabe",
    "name": "Item 6",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "2x weekly bike tour (bike hire extra) ",
    "addedValueStart": "2019-11-27T09:23:05",
    "addedValueEnd": "2099-11-28T09:23:06",
    "hideAddedValue": "0"
  },
  {
    "key": "997cef0a-f458-407c-9d62-f739b701df99",
    "name": "Item 7",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free child supervision including lunch & drinks (3-12 yrs, Mon-Fri 9:30am-4pm, Mon-Fri - Only in school holidays) ",
    "addedValueStart": "2019-11-27T09:23:26",
    "addedValueEnd": "2099-11-28T09:23:28",
    "hideAddedValue": "0"
  },
  {
    "key": "d9a67d9e-6b3b-4d25-bde1-b745b6184b3b",
    "name": "Item 8",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free entrance to Saalbach pool ",
    "addedValueStart": "2020-02-12T10:01:29",
    "addedValueEnd": "2099-02-14T10:01:30",
    "hideAddedValue": "0"
  },
  {
    "key": "0b78267b-c666-4223-8051-fc9832005ca2",
    "name": "Item 9",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of local indoor tennis courts ",
    "addedValueStart": "2020-02-12T10:01:48",
    "addedValueEnd": "2099-02-14T10:01:50",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/71217e1bc49343b3ae1dcba78e212703,umb://media/2001e4883c9b440cadccf4154f27d4c3,umb://media/ffb3b4c2af664d33b11f9590665023bf,umb://media/582a90e450b54002ae9aeeacf64fb721,umb://media/86f99151e8eb47c8b4beadabf573956c,umb://media/ba57e1b816954fc4b92504a5f6ad8a59,umb://media/58edf38eb3a64ded9df17df307a9c32b,umb://media/6dd73f65614846eabc8d2b9facffd946,umb://media/f2d5e57f44574e65afb1c2f7b0c25dbf,umb://media/d386048b5f044827904341e6a9bd1657,umb://media/04cf0b384587422dbd6a1b6de6fa20be,umb://media/56184d458d52448c80320c41bdd041f0,umb://media/8578bfe48b4842a09dd9a0c0d5cb4d74]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast</li>
<li>3 course evening meal with choice of main dish plus salad buffet</li>
<li>Weekly speciality dinners and dessert buffet</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Hotel-Garni Silvester is a short stroll from <a data-udi="umb://document/ab49d5977a794ec7952da3e3d5adf48b" href="/{localLink:umb://document/ab49d5977a794ec7952da3e3d5adf48b}" title="Saalbach &amp; Hinterglemm">Hinterglemm’s</a> charming streets lined with traditional bakeries, cafes and bars.</p>
<p>Explore the areas attractive hiking trails. Use of the resort lifts and several guided walks are included with your free hotel Joker card.</p>
<p>The comfortable Garni-Silvester bedrooms sit behind the main Hotel Glemmtalerhof where you'll have use of the hotel's facilities. The showpiece is the front of house area featuring a charming reception, bar, café and sun terrace – perfect for watching the world go by.</p>
<p>The spa area includes an indoor pool, sauna, steam room and fitness centre. Enjoy beautiful mountain views from the pool, panorama sun terrace and tranquillity room. </p>
<p>At meal times, you are spoilt for choice. There is an extensive breakfast with live cooking station and an opportunity to grab items for a packed lunch. In the evenings enjoy a large salad buffet before your evening meal. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Served</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart / casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Use of all facilities at adjoining <a rel="noopener noreferrer" href="/{localLink:81c4ed2d-50aa-43a8-b0a7-703bd9077ad2}" target="_blank" title="Hotel Glemmtalerhof (Hinterglemm)">Hotel Glemmtalerhof</a>:</li>
<li>Lounge and bar</li>
<li>Library </li>
<li>Residents' restaurant</li>
<li>Modern and stylish leisure area including indoor pool, steam room, sauna and gym</li>
<li>Massage and beauty treatments payable locally</li>
<li>Wi-Fi (Free)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude><![CDATA[47.3932304]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This little gem is conveniently set in the centre of the village with easy access to all Hinterglemm has to offer including numerous hiking trails. This three star Hotel-Garni provides comfortable rooms with access to four star superior service and facilities at the adjoining Hotel Glemmtalerhof, which combined with the free 'Joker Card' makes the Garni Silvester great value for money.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/71217e1bc49343b3ae1dcba78e212703]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.6414587]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[20 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel-Garni Silvester, Hinterglemm in Saalbach & Hinterglemm, Book Summer Lakes & Mountains Holidays with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel-Garni Silvester, Hinterglemm Austria - Lakes | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>20</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATHI0109]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>18-20m² Austrian twins have bath or shower, TV, safe and radio</li>
<li>10m² single rooms have bath or shower, TV, safe and radio</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ab49d5977a794ec7952da3e3d5adf48b]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>