<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="d9f0f4c1-6ec6-4d81-87f5-460c3e89e649" id="24596" nodeName="Swiss Fly Rail" isDoc="" updated="2022-04-21T09:04:27.7970000Z" parentGUID="d0385128-4509-48c5-8c5c-325746670082" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="15" published="true" isBlueprint="false">
  <answer><![CDATA[<p>We will need to post these to you (or your Travel Agent) as they are documents issued by the Swiss Rail System and are accountable documents. You can expect to receive these around 10 days before you depart. There will be detailed instructions on how to use the ‘Fly rail luggage labels’ with your documentation.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[I have booked Swiss fly rail luggage. What happens with this?]]></question>
</fAQItem>