<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="82e5328d-ff24-4d96-87fd-5c353daa1b39" id="24655" nodeName="What is the best thing to wear in Lapland?" isDoc="" updated="2021-07-06T10:47:59.0130000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="20" published="true" isBlueprint="false">
  <answer><![CDATA[<p>Both Levi and Ylläs are above the Arctic Circle, so it is essential to bring the right clothing to make sure that you and your children are kept warm and happy throughout your visit. All guests will receive thermal suits and boots free of charge, but please make sure you bring cosy woollen socks, gloves, thermal underclothes, hats and a scarf or balaclava to cover your face if necessary with you!</p>
<p>We also recommend you also bring some additional mittens or gloves (ideally waterproof ones for children’s snow play) to be worn next to the skin.</p>
<p>Layers are the key to keeping warm here and are far more effective than one or two thick items, so the thermals, a shirt or roll-neck fleece and a jacket/anorak under your suit when outdoors is recommended.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What is the best thing to pack for our Lapland holiday?]]></question>
</fAQItem>