<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="e569ccd3-6fe8-4058-8106-7d7e45c44cc5" id="53722" nodeName="Sale" isDoc="" updated="2022-09-30T09:29:11.0630000Z" parentGUID="ed0bcafa-8542-4c78-b632-5c16c70223f6" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="48" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Enjoy incredible savings with our Jubilee summer holiday deals for 2022. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Jubilee Weekend Summer Deals | Lakes & Mountains 2022 | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SUMMER-JUBILEE-DEALS-22",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-SUMMER-JUBILEE-DEALS-22",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Jubilee Weekend Summer Deals]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/41449909e2494fffb38dfed21a92c3e0",
    "promotionBannerMobile": "umb://media/0f0bca69ba3b4d5da18c850d04fd0f2d",
    "promotionLink": "[]",
    "promotionStartDate": "2022-06-14T00:00:00",
    "promotionEndDate": "2022-10-01T00:00:00"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/95601cae0f484969b3228afc8a20335a",
    "promotionBannerMobile": "umb://media/89784bfe5ac240ba801ba49417be2a0f",
    "promotionLink": "[]",
    "promotionStartDate": "2022-05-30T00:00:00",
    "promotionEndDate": "2022-06-13T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Make the most of the long weekend in June and discover stunning landscapes in some of Europe's most beautiful destinations. Don't miss out on incredible savings with our limited time sale. Flights, transfers and accommodation included. ]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>