<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="56e44fcb-530f-414c-8ddd-70dc00734421" id="30785" nodeName="Hotel Syrene" isDoc="" updated="2021-11-23T09:53:12.0470000Z" parentGUID="7883a5ed-e77b-4681-ac92-21e4d68f0771" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "4717c6bc-968b-448f-b49c-cf09a2e076d7",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free nights available between 06 Sep - 18 Oct 20, 15 Apr - 31 May 21 and 07 Sep - 22 Oct 21 (min stay 7 nights)",
    "addedValueStart": "2019-05-20T12:48:18",
    "addedValueEnd": "2020-10-19T12:48:48",
    "hideAddedValue": "0"
  },
  {
    "key": "658288c4-1cce-4cf3-b841-49abbf188607",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 2021 (ends 31 Mar 21, not combinable)",
    "addedValueStart": "2019-07-10T16:32:53",
    "addedValueEnd": "2021-04-01T16:32:54",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/b661f8d535114aa9b1dfd7ebcff26dd2,umb://media/f65b264e757d451f956cece18c7570fa,umb://media/b83b30961b9947709bdf557e6de6882c,umb://media/b0f8330f302b45e9b021e8e676fcd018,umb://media/5985ffcc11204186b7b435071d18464e,umb://media/48499a5cba3344d2a7adf31099b72517]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>A breakfast buffet is served from 7.30am to 10.30am and offers international cuisine as well as typical Neapolitan food like Torta Caprese (Capri chocolate cake), Torta Anacaprese (Capri lemon cake) and Sfogliatelle Ricce e Frolla (typical Neapolitan pastries)</p>
<p><strong>La Limonaia Restaurant </strong>is open between 12pm and 4pm from June to September and serves traditional dishes using fresh ingredients. It's large terrace is located near the pool and sheltered by lemon groves.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Hotel Syrene has a great location in Capri Town – the island’s most glamourous address. It’s less than five minutes’ walk from the piazza and tucked away on a street that’s home to designer brands like Dolce &amp; Gabbana and Moschino. Staying here is a real ‘la dolce vita’ experience. It gets even better in the evenings when most of the day-trippers have left and you get to explore without the crowds.</p>
<p>The hotel offers good value for money in what is normally an expensive resort but it doesn’t skimp on quality. You can expect a warm welcome from the friendly staff the moment you arrive. The rooms are simply furnished in a typical Neapolitan style – we love the traditional vietri tiles and light colours that give a sense of space. There’s a lovely swimming pool (normally open from mid May to October) where you can relax next to the lemon groves and a restaurant that serves local cuisine that you can enjoy al fresco on the large terrace.</p>
<p>Transfer time: approx. 2 hours by private car and hydrofoil/ferry from Naples airport.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><span style="text-decoration: underline;"><strong>Pools</strong></span></p>
<p>Hotel Syrene's freshwater pool is well equipped with sun loungers and umbrellas. It's normally open from mid May to October between 9.30am and 6.30pm (children are not allowed from 1.30pm - 3.30pm).</p>
<p><span style="text-decoration: underline;"><strong>Wellness</strong></span></p>
<p>The hotel has a small wellness corner where you can enjoy treatments including reflexology and massages (payable locally)</p>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[40.5499317]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Syrene offers great value for money in the centre of Capri Town. It's a very just a short walk from the piazza and countless designer boutiques. We love doing a bit of window shopping and strolling through the quieter streets in the evenings when the day-trippers have left. The hotel is nice and simple with comfy rooms and a warm welcome. There's a nice outdoor pool too for when you want to chill out.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b661f8d535114aa9b1dfd7ebcff26dd2]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[14.2435069]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[32 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Syrene offers good value in Capri Town, just minute's from the designer boutiques. Book your stay today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Syrene | Capri | Italy Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>32</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCI0106]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms </strong>are finished in a Mediterranean style and have a double bed or twin beds, air conditioning, minibar, TV, WiFi and a safe. Garden View Rooms and Sea View Rooms are available for a supplement. They can sleep up to three adults.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers><![CDATA[<p> </p>
<p> </p>]]></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[202930]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/7e6d84fc86844d12b8c73851f2035fb1]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>