<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="666b19fc-ba50-4983-80a7-1d6b04491a62" id="22598" nodeName="Hotel Cubo" isDoc="" updated="2024-08-21T12:55:05.5270000Z" parentGUID="5cfd5f91-c1d0-4191-8579-2bc414ff7721" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="6" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "95418cdc-431c-454f-a116-65cf0138e95a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (book by 31 Mar)",
    "addedValueStart": "2020-11-11T10:41:01",
    "addedValueEnd": "2099-03-31T10:41:03",
    "hideAddedValue": "1"
  },
  {
    "key": "5e7295de-251a-47d5-a209-14daec5a0d79",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of hotel's bikes",
    "addedValueStart": "2020-11-11T10:41:26",
    "addedValueEnd": "2099-11-12T10:41:28",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/1221ddb850aa4a5ea4c5635460d761c4,umb://media/954e8b2b570f4d3a86fcde9d0cf119f5,umb://media/fb901d97c1564a19830921b1e3e199bc,umb://media/014c1e62210e4efc9f8417ad97b88cf5,umb://media/b636d39ca9664849a3b696591a8076ba,umb://media/7352fcfab9b34f20972f61dba44a64bf]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Enjoy a delicious daily buffet breakfast, with a range of dishes from around the world.</p>
<p>The hotel is bookable on a B&amp;B basis, allowing you to enjoy Ljubljana's excellent restaurant scene. After dinner head to the Lobby Bar to relax with a coffee or enjoy a glass of fine wine.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Cubo is well positioned to enjoy the city of <a data-udi="umb://document/5cfd5f91c1d0419185792bc414ff7721" href="/{localLink:umb://document/5cfd5f91c1d0419185792bc414ff7721}" title="Ljubljana">Ljubljana</a> as everything is about 15 minutes away. Cubo is unique hotel with young friendly and knowledgeable staff that will make your stay pleasureable. Cubo is only a 26 room hotel and all rooms are individually furnished recently to high quality with superior amenities.</p>
<p>Handsome Hotel Cubo is a haven of contemporary elegance in the historic centre of beautiful Llubljana. Its central location means there's plenty to see and do on the doorstep - explore nearby city treasures, from the iconic Ljubljana Castle to the nearby Triple Bridge, Preseren Square, and the vibrant Ljubljana Central Market. The excellent public transport network includes buses, trains, trams, and the chance to explore further afield.</p>
<h2>A boutique city experience</h2>
<p>Hotel Cubo offers a boutique feel in the centre of the city. A small hotel with just 22 rooms, enjoy a warm and welcoming atmosphere and sleek, minimalist interior design. The exceptional staff are always on hand to ensure you make the most of your time in the city. Rooms are spacious, modern, and comfortably furnished, providing everything you need for a relaxing stay.</p>
<p>The hotel is bookable on a B&amp;B basis, allowing you to enjoy Ljubljana's excellent restaurant scene. After dinner head to the Lobby Bar to relax with a coffee or enjoy a glass of fine wine to round off the day.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free Wi-Fi</li>
<li>Free use of hotel's bikes</li>
<li>Parking (payable locally)</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen available on request</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "3196c048-ff10-445f-be53-2ce887398974",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"86229eac-7aa5-4968-9b25-e349cb5527c7\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[46.049163]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A handsome hotel in the historic centre of Ljubljana. Hotel Cubo offers a boutique city experience, with many attractions within easy walking distance. Enjoy sleek and minimalist design and modern, spacious rooms. Bookable on B&amp;B, but with an in-house restaurant if you want to enjoy quiet nights in.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/954e8b2b570f4d3a86fcde9d0cf119f5]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time: approx. 1hr hour by coach from Ljubljana airport and approx. 3hr-4hr hour by coach from Salzburg airport with 30min stop on the way</li>
<li>300 metres from the city centre</li>
<li>1 kilometre from the nearest train station</li>
<li>10 metres to the nearest bus stop</li>
<li>20 metres to the nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[14.5019664]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[26 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Cubo today with Inghams. A sleek boutique hotel in the historic centre of Ljubljana.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Cubo | Holidays in Ljubljana | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>26</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[SILJ0105]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Double Rooms</strong> are around 34m² and sleep up to three people (extra bed is a single sofa bed).</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air conditioning</li>
<li>TV</li>
<li>Tea &amp; coffee making facilities</li>
<li>Safe</li>
<li>Bath or shower</li>
<li>Hairdryer</li>
<li>Bathrobes</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in:<strong> 3pm</strong></li>
<li>Check-out: <strong>12pm</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. €3.13 per person per night is payable locally. Children aged 7-17 years pay a discounted rate of approx. €1.57 per night, and children aged 6 and under are exempt.</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property:<strong> Yes</strong></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know of any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[2235422]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>