<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="2218cc3c-e919-45b6-b141-f3017faa72c0" id="26862" nodeName="How well do you know Italy" isDoc="" updated="2022-02-21T10:52:20.5870000Z" parentGUID="ee1e679c-2b9d-48e1-a3c4-906d2ed065fc" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="2" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="white_box_shadow">
<p class="geolocation-title"><img src="https://d2jqsc5zfka9k6.cloudfront.net/media/13164847/italy-quiz.jpg" alt="Italy Quiz" /></p>
<p class="geolocation-title">Everyone loves Italy, but how well does everyone know Italy? We've uncovered 10 weird and/or fascinating facts about this amazing country. Do you know the answers?</p>
</div>
<div> </div>
<div class="white_box_shadow">
<div id="woobox-root"></div>
<div class="woobox-offer" data-offer="9h6dxa"></div>
</div>
<div> </div>
<div class="white_box_shadow" style="clear: both; display: block; overflow: hidden;">
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 26px; width: 256px;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #ff9900; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 14px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;"><a style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" onclick="document.getElementById('light1').style.display='block';document.getElementById('fade1').style.display='block'">Answers to Italy Quiz</a>
<div id="light1" style="display: none; position: fixed; top: 5%; left: 25%; width: 50%; height: 80%; padding: 16px; border: 16px solid white; background-color: white; z-index: 1002; overflow: auto; text-align: center;"><a onclick="document.getElementById('light1').style.display='none';document.getElementById('fade1').style.display='none'">Close</a><br /><img src="/media/13064701/italy-answers.jpg" alt="" width="100%" height="auto" rel="650,450" /></div>
<div id="fade1" style="display: none; position: fixed; top: 0%; center: 0%; width: 100%; height: 100%; background-color: black; z-index: 1001; -moz-opacity: 0.8; opacity: .80; filter: alpha(opacity=80);"></div>
</td>
</tr>
</tbody>
</table>
<p><a href="/{localLink:cee50545-2508-431e-ac56-7dad32f3ccb0}" title="Italy"><strong>Find out more about Italy &gt;</strong></a></p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Everyone loves Italy, but how well does everyone know Italy? We've uncovered 10 weird and/or fascinating facts about this amazing country. Do you know the answers?]]></metaDescription>
  <metaTitle><![CDATA[How well do you know Italy | Lakes and Mountains Quiz]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[ How well do you know Italy]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><span>Everyone loves Italy, but how well does everyone know Italy? We've uncovered 10 weird and/or fascinating facts about this amazing country. Do you know the answers?</span></p>]]></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/889518d3ce0e4393bd297a6f4b894e66]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>