<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="2fe0b675-5368-4d82-8125-46698e80993a" id="22804" nodeName="Chalet Ariondaz (1650)" isDoc="" updated="2023-12-06T12:16:38.6470000Z" parentGUID="9e7d0f01-e796-4af0-b7ee-7c501cb0e893" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="15" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<p><strong><a href="/ski-holidays/accommodation-options/chalet#2017-18">See here for details of Winter 2017/18 Chalet cuisine</a></strong></p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>Sleeps: 8 Guests.</strong></p>
<p>Chalet Ariondaz is a bright apartment chalet, superbly located for the shops and slopes of Courchevel 1650.</p>
<p>Located in the Chalets de la Mouria Résidence, it offers quality accommodation and easy access to the fantastic 1650 and 3 Valleys ski area with the 3 Vallées chairlift, about 6 minutes’ walk away. The chalet has a comfortable lounge and dining area with a log fire, perfect for relaxing in front of after a good day on the slopes. For those who want to explore the 1650 après-ski then it is just 2 minutes’ walk to the resort centre. The complex has a shared wellness area with a sauna and hot tub and sessions can be reserved locally (pay locally).</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/6129d2e9c59b48e5b0cde91d9a269c41]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>High quality apartment style chalets</li>
<li>Great central location in Courchevel 1650</li>
<li>Comfortable lounge with log fire in each chalet</li>
<li>Well decorated throughout</li>
<li>Excellent choice for small groups of friends</li>
<li><strong>Free</strong> Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li><strong>Free</strong> child places</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>A spacious and bright apartment chalet, superbly located for the shops and slopes of Courchevel 1650.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e23d41f670f54494b4cb583194747903]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Ariondaz in Moriond 1650, Courchevel, has easy access to the fantastic 1650 and 3 Valleys ski area. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Chalet Ariondaz 1650 Courchevel France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>0</nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>0</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCR0121]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation Summary</strong></p>
<p><strong>Ground Floor</strong><strong><br />Room 1:</strong> Twin with en suite shower.<strong><br />Room 2:</strong> Double with en suite shower.<br />Shared wc.</p>
<p><img src="/media/13057964/france_three-valleys-ski-area_courchevel_chalet-ariondaz_interior_ground-floor.jpg" alt="Chalet Ariondaz Ground Floor Floorplan" align="absmiddle" /></p>
<p><strong>First Floor<br /></strong>Lounge and dining area with log fire and balcony.</p>
<p><img src="/media/13057963/france_three-valleys-ski-area_courchevel_chalet-ariondaz_interior_first-floor.jpg" alt="Chalet Ariondaz First Floor Floorplan" align="absmiddle" /></p>
<p><strong>Second Floor</strong><strong><br />Room 3:</strong> Twin with private bath/wc (not en suite)<strong><br />Room 4:</strong> Twin with en suite shower/wc</p>
<p>N.B.: Floor plans are for guidance only and are not to scale.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Great central location in Courchevel 1650</li>
<li>Excellent choice for small groups of friends</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/9e7d0f01e7964af0b7ee7c501cb0e893]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo><![CDATA[gMrUUUHera8]]></youtubeVideo>
</accommodationSki>