<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="9179639c-0d6a-49ac-85fd-eaf838270c6a" id="26032" nodeName="August" isDoc="" updated="2024-06-12T14:48:54.3430000Z" parentGUID="c9869bf0-e4e9-431d-98d0-277c1db49284" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="4" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Discover our latest August 2024 walking holiday deals and embrace the beauty of the great outdoors. Flights, transfers and accommodation included.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Embrace the beauty of the great outdoors in August with an Inghams walking holiday. Flights, transfers and accommodation included. Book early with a deposit of just £150pp.]]></metaDescription>
  <metaTitle><![CDATA[August 2024 Walking Holiday Deals | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-LAKES-AUG-LATE-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-LAKES-AUG-LATE-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[August 2024 Walking Holiday Deals]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/1433c5c94c624223ac5522264d77e639",
    "promotionBannerMobile": "umb://media/6744b62769d24cbdb122971c1eb18a3c",
    "promotionLink": "[]",
    "promotionStartDate": "2023-01-05T00:00:00",
    "promotionEndDate": "2023-02-06T00:00:00"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/cc57098e7ae241fd919a2f436b767c82",
    "promotionBannerMobile": "umb://media/8139439e8daa4489bd6ce8e6f814b272",
    "promotionLink": "[]",
    "promotionStartDate": "2022-05-30T00:00:00",
    "promotionEndDate": "2023-04-03T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Looking to get away on a summer holiday in August?]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>