<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="64dded09-cc93-4f77-ac6e-55b244216eb4" id="75004" nodeName="Villa Caroline" isDoc="" updated="2024-12-04T12:46:05.1400000Z" parentGUID="59d85c36-07bf-4fc5-a291-361000fe9db0" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="5" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/0e3dbb005e9a464c9520732ea46805d0,umb://media/f382bbd23a3f4292a94e3bf614eddd55,umb://media/34b5c372cba3481a870d2fe481ae2bbf,umb://media/43a24b36f1ec4079b542c35b49445985,umb://media/e5f0c5c341d64ee29ebe23e212093286,umb://media/33d6b6bcd79e4161a3311ed481e2c1b5,umb://media/ff73d3a5c0224dd2ae66aa93b7443d59,umb://media/4a46b97a2311476ba41bc769fea69d45,umb://media/aca65c5ed08f431cbe9323e6c2e7ec86,umb://media/90e7c9a1929c4c488b3375835d2dbb47,umb://media/e7a1e56c40f046478401da14ec7238ee,umb://media/3836663c5b8943e0a02b8d4ea203c0bb,umb://media/3cea16830e6b4e1f94ff452343c74e58,umb://media/d565a38bcd2a4bc9901e3dd339240189,umb://media/b545b68c7347412bb95b5c24f398da92]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Villa Caroline can be booked on bed and breakfast or half board. There is a breakfast buffet to tuck into in the morning and for those who choose to upgrade to half board, for dinner you can enjoy a two-course evening meal (evening meals are starter and main or main and dessert).</p>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed on this page cannot be catered for. All allergies and intolerances, even if listed here, are subject to confirmation by the accommodation.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Positioned on the shores of the charming lake side village of Duingt, around 11 kilometers from Annecy City, the Villa Caroline makes for a wonderful retreat in a beautiful setting.</p>
<h2>Take some time to relax on holiday</h2>
<p>The hotel’s tasteful decor with it's neutral tones and modern design elements coupled with it's serene setting makes for a peaceful stay. If you're looking to unwind then the hotel has a relaxation area with a sauna and hammam to enjoy. The garden is also beautifully positioned by the lake, so why not head out to the garden, sit by the waters edge and listen to the gentle lapping of the water. </p>
<h2>Enjoy walking and biking the local area</h2>
<p>The hotel is well positioned for those wanting to get out and explore the lake and the local trails on offer. From Duingt, there are a few circuits for walkers to try that cater to different walking abilities, there are also a couple of challenging walks available for experienced hikers. For cyclists, the 43 kilometre cycle path around the lake is a great way to get out and see the different parts of the lake.</p>
<h2>Summer activities by the lake</h2>
<p>Get outside and enjoy the lake-side setting with a bit of friendly competition, try your hand at the traditional French game - pétanque which is great fun for all. The hotel also has a well-equipped yoga room and fitness area with a treadmill, bicycle and hydraulic rowing machine with views looking out towards the garden.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Relaxation area with sauna and hammam</li>
<li>Well-equipped yoga room</li>
<li>Fitness Room that overlooks the garden</li>
<li>Lounge area</li>
<li>Bike storage</li>
<li>Garden</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "58385d27-048c-4882-b7a8-a3b9642b6989",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"b6838545-fbd1-461e-8a4e-0d5ee8de8834\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Villa Caroline is a lovely hotel that sits on the serene shores of Lake Annecy. Its positioned in the small village of Duingt around 11 kilometres from Annecy City. The hotel is a peaceful retreat away from the busier areas of the lake.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/34b5c372cba3481a870d2fe481ae2bbf]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time from Geneva airport: Approx. 1 hour by shared transfer</li>
<li>Approx. 11 kilometres to Annecy City</li>
<li>Approx. 300 metres to the nearest supermarket</li>
<li>The lake is situated at the bottom of the garden</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at the Villa Caroline in Duingt village on Lake Annecy with Inghams today. Enjoy this beautiful lake side setting.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Villa Caroline | Holidays in Lake Annecy | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>19</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Villa Caroline (Duingt)]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRAN0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Double Garden View Rooms</strong> are approx. 25m², sleep two people and they have a shower. Twin beds are available on request.</p>
<p><strong>Double Lake View Rooms</strong> are approx. 25m², sleep two people and they have a bath or shower. Twin beds are available on request.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>A balcony or terrace</li>
<li>TV</li>
<li>Tea &amp; coffee making facilities</li>
<li>Hair dryer</li>
</ul>
<p><strong>Local fees &amp; taxes</strong></p>
<ul>
<li>There is €300 deposit payable on check in</li>
<li>A resort tax of approx. €1.45 per person per day is payable locally</li>
</ul>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[23654029]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>