<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="bf8458a1-c231-475e-b343-75ace9854773" id="23187" nodeName="Chalet Anita (Klein Matterhorn)" isDoc="" updated="2024-01-11T11:52:17.8470000Z" parentGUID="4abc3d93-67fc-4903-a52b-296414b05ef1" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="24" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<p><strong><img src="/media/3386949/wine_33x44.jpg" alt="" width="33" height="44" align="absmiddle" /><img src="/media/3386949/wine_33x44.jpg" alt="" width="33" height="44" align="absmiddle" />"Free wine included worth over €100".</strong></p>
<ul>
<li>Skiers' Breakfast is included 7 days per week†</li>
<li>Afternoon tea and coffee with a selection of cakes†</li>
<li>4-course dinners, including pre-dinner apèritif, choice of complimentary wines with dinner followed by tea/coffee &amp; chocolates†</li>
<li>Special celebratory dinners on Christmas Day and New Year's Eve</li>
<li>For more info on Chalet cuisine <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalet">click here</a></li>
</ul>
<p>†Breakfast hot option, afternoon tea and dinner is 6 days per week, due to chalet staff's day off.</p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>Sleeps 8-11 Guests</strong></p>
<p>This attractive traditional building lies in a quiet off-road location on the Winkelmatten side of the resort. Chalet Anita, part of 4 chalets on offer, is located on the ground floor. It has a comfortable lounge opening onto a sunny balcony or terrace with fabulous views of the iconic Matterhorn. Access to the skiing could not be easier with the Matterhorn Glacier Paradise gondola only 3 minutes’ walk away. The resort centre is an easy picturesque walk along the river (approx 15-20 minutes) or alternatively, take the free ‘Elektro-bus’ from the Matterhorn Glacier Paradise lift station.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>1500</distanceToCityCentre>
  <distanceToLift>300</distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/a06e823407de466ba7bdc5a87a7971f6,umb://document/16284a13e92e48da930cf7b935c2613d,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Comfortable living areas, all with open fireplace, TV/DVD-player and terrace or balcony</li>
<li>Private outdoor hot tub with Matterhorn views</li>
<li>Shared sauna, shower and ski &amp; boot room</li>
<li><strong>Free</strong> Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This attractive traditional building lies in a quiet off-road location on the Winkelmatten side of the resort.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/11a0985c9a3545509a0de75f83b8e1a6]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Included</p>]]></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Anita - Klein Matterhorn in Zermatt, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Chalet Anita, Zermatt - Switzerland - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Matterhorn Glacier Paradise</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>4</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHZE0135]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li><strong>Accommodation Summary</strong></li>
</ul>
<ul>
<li><strong>Ground Floor</strong></li>
<li>Open-plan kitchen/lounge/dining area with fireplace, TV/DVD player. Terrace with hot tub and views to the Matterhorn. Shared shower/wc.</li>
<li><strong>Room 1 </strong>- Twin bunks.</li>
<li><strong>Room 2</strong> - Twin with doors onto terrace.</li>
<li><strong>Room 3 (2-3 occ.)</strong>- Twin with private shower/wc. Extra bed possible for child up to 11 yrs incl. and if chalet is booked for exclusive use.</li>
<li><strong>Room 4 </strong>- Twin with shower/wc (separate entrance besides Anita’s front door).</li>
</ul>
<p align="center"><img src="/media/3337077/anita-floor-plan.png" alt="Chalet Anita floor plan" /></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Only300m downhill walk to the Matterhorn Glacier Paradise gondola.</li>
<li>Elevated position with stunning views of the majestic Matterhorn</li>
<li>Comfortable, well-appointed chalets in an excellent location</li>
<li>Free Wi-Fi</li>
<li>Shared sauna</li>
<li>Chalet Anita has a private outdoor hot tub with Matterhorn Views</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/4abc3d9367fc4903a52b296414b05ef1]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>