<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="fabcb112-13fe-47b0-b91d-89408e5613b1" id="22313" nodeName="Igls" isDoc="" updated="2022-10-21T17:39:58.6630000Z" parentGUID="c9325d9a-7705-4a3c-8190-f3ab0da21760" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="5" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "b44196f4-c7c5-404c-b40c-ece286e7de6d",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free 24hr Innsbruck Card one per person per duration of your holiday included for Inghams guests",
    "addedValueStart": "2019-08-14T15:58:12",
    "addedValueEnd": "2099-08-15T15:58:14",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/89ea2f3c88154f1ebf003215af6a1b04]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/85812e8a1d0149a58c8737f14c5c36ef]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>This delightful village has a special location, lying on a sunny plateau above <em>Innsbruck</em>. On your doorstep are meadows, forests, and a huge range of walking opportunities yet historic Innsbruck is only a 15 minute scenic bus ride away. Innsbruck has endless sightseeing opportunities including the <em>Hofburg Palace</em> and the <em>Golden Roof</em>. The free ‘Valley Explorer’ walking programme is hugely popular with Inghams guests, and due to its central location Igls is also an ideal base for many excursions.</p>
<p>The village has a handful of quaint shops and cafes, and the Patcherkofel cable-car for magnificent alpine panoramas. In the evenings Innsbruck is easily accessible, and several concerts and a folklore evening are arranged in Igls itself each week. All guests receive a free 24hr Innsbruck Card.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<h3 style="color: #00533a;">PRE-BOOKABLE</h3>
<p style="color: #00533a;"><strong>Neuschwanstein Castle &amp; Oberammergau from £45 per person (full day)</strong></p>
<p>Visit King Ludwig of Bavaria’s famous fairytale castle of Neuschwanstein used as the inspiration by Walt Disney for his Cinderella castle in his theme parks. On the way we stop to visit the historic Passion Play village of Oberammergau. Price includes castle entrance fee.</p>
<p>(A good level of fitness is required to climb the steps at Neuschwanstein Castle).</p>
<p> </p>
<p><em>We act at all times as a selling agent for the suppliers. All excursions require minimum numbers to run and are subject to change. Some excursions may not be available to pre-book but may be available to book locally subject to numbers. Prices will be confirmed at the time of booking. Please see our <a data-udi="umb://document/b703ff07ccec43baad41fffcfcc61821" href="https://www.inghams.co.uk/legal/terms-conditions" title="Terms &amp; Conditions">terms &amp; conditions</a>.</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore><![CDATA[<h2>Nordic Walking</h2>
<p>Enjoy Nordic Walking taster with a professional trainer and Nordic Walking instructor. Available from mid June, Mondays, 1-1½hrs, book at Igls Tourist Office.</p>]]></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[2]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li><strong>Free Innsbruck 24hr card</strong> gives you free unlimited travel to Innsbruck, use of operating lifts, entrances to sights, palaces, museums and discount on sports equipment hire (valid for 24 hours only) </li>
<li>Experience the thrill of high speed descent at the bobsleigh centre from the 1976 Olympics </li>
<li>Take the Patscherkofelbahn lift and explore one of the largest pine forests in Europe </li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[German/English]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[47.230949]]></latitude>
  <listingDescription><![CDATA[<p>This delightful village has a special location, lying on a sunny plateau above Innsbruck. 0n your doorstep are meadows, forests, and a huge range of walking opportunities yet historic Innsbruck is only a 15 minute scenic bus ride away.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/89ea2f3c88154f1ebf003215af6a1b04]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[11.404980]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Igls for an amazing summer holiday in Austria. Mountain and walking holidays in Igls with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Igls, Austria - Lakes & Mountains Holidays 2022 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ATIG]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>Two Centres</strong> | Combine your stay in Igls with 3, 4 or 7 nights in another resort in <a data-udi="umb://document/c9325d9a77054a3c8190f3ab0da21760" href="/{localLink:umb://document/c9325d9a77054a3c8190f3ab0da21760}" title="Austria">Austria</a>.</p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>1</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[2]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline></tagline>
  <thingsToDo><![CDATA[<p><strong>In &amp; Around Igls</strong></p>
<ul>
<li>Village cable-car with views over Innsbruck</li>
<li>Excellent walking trails</li>
<li>Scenic tram ride to Innsbruck (every hour from approx. 08 July - end of August)</li>
<li>Botanical alpine garden on the Patscherkofel (open from end May)</li>
<li>Swimming lake</li>
<li>3 golf courses incl. driving range</li>
<li>Indoor and outdoor tennis courts</li>
<li>Mini-golf</li>
<li>Horse riding</li>
<li>Olympic bobsleigh track (open July/Aug)</li>
<li>Tyrolean evening</li>
<li>Several concerts weekly (Jun-Aug)</li>
</ul>
<p> </p>
<p><strong>Innsbruck Card - FREE to all guests 24hrs card</strong></p>
<p>This great value card is valid for 24hrs and gives you:</p>
<ul>
<li>FREE unlimited travel between Igls and Innsbruck</li>
<li>FREE return ride on any of the 7 lifts in the area</li>
<li>FREE entrance to Innsbruck’s sights, museums and palaces</li>
<li>FREE unlimited public transport in and around Innsbruck , including the ‘Sightseer Bus’</li>
<li>DISCOUNTED RATES on local attractions including bobsleigh, E-bike hire, bathing lake, golf, ice-skating and Folklore evenings.</li>
</ul>
<p>Card is given out on arrival. Other durations available to purchase locally.</p>
<p> </p>
<p><strong>Lift and cable-car approx. opening times</strong></p>
<p><strong>Patscherkofel:</strong><span> Approx. 25 May to 27 October.</span></p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<h3>Summer 2022</h3>
<div style="overflow-x: auto;">
<div style="display: flex; align-items: center;">
<table border="0">
<tbody>
<tr>
<th>Flying from/to:</th>
<th>Innsbruck</th>
</tr>
<tr>
<td style="text-align: left;">Birmingham</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday</td>
</tr>
<tr>
<td style="text-align: left;">Bristol</td>
</tr>
<tr>
<td style="text-align: left;">Gatwick</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday/Wednesday</td>
</tr>
<tr>
<td style="text-align: left;">Manchester</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>Innsbruck transfer approx. 15min by coach.</p>
<div style="overflow-x: auto;">
<div style="display: flex; align-items: center;">
<table border="0">
<tbody>
<tr>
<th>Flying from/to:</th>
<th>Salzburg</th>
</tr>
<tr>
<td style="text-align: left;">Glasgow</td>
<td rowspan="3" style="vertical-align: middle; text-align: left;">Saturday</td>
</tr>
<tr>
<td style="text-align: left;">Newcastle</td>
</tr>
<tr>
<td style="text-align: left;">Stansted</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>Salzburg transfer approx. 2hr 45min by coach.</p>
<p>Self drive is available.</p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p>Igls is a great starting point for many walks into the valleys surrounding Innsbruck and the Valley Explorer Walking programme is ideal for those looking for a full programme of daily guided walks across the area. In Igls village the local Patscherkofel cable-car gives access to a number of panoramic walks including the popular Zirbenweg. There are also lovely lake walks around Lanersee and the Seerosenweiher, and up to the Lanserkopf for great views over Innsbruck.</p>
<p><strong>The ‘Valley Explorer’ Walking Programme - Free</strong></p>
<p>Igls Tourist Office runs a fantastic programme of daily FREE guided walks, including transport and tour booklet, which is very popular with Inghams guests. Staying in your comfortable base in Igls, each day you can explore the lush pastures, dense woodland and higher trails of a different unspoilt valley surrounding Innsbruck.</p>
<p>Walks are led by a professional English speaking guide and there is often a choice of two walks a day to suit different abilities. Shuttles to and from the start of the walks are included, as are a tour booklet and hiking medals</p>
<p><strong>Popular walks include:</strong></p>
<p>Patscherkofel/Viggarspitze I A local walk starting with a ride up the cable car in Igls to the top of the Patscherkofel, from where there are superb 360° views of the surrounding mountains. Famous for its 7km pine forest walk, the Patscherkofel is popular with locals and visitors alike.</p>
<p>Sellrain Valley I A bus will take you over to the Sellrain valley and the high alpine village of Kühtai today. At a height of 2,000m Kühtai is surrounded by dramatic peaks and pine forests and is an ideal starting point for both gentle and challenging walks. It is also well known for its alpine roses in June/July.</p>
<p>Mieminger Plateau I On the opposite side of the Inn valley at a height of 1,000m lies the Mieminger Plateau which is covered with larch forests and meadows and is criss-crossed with a network of both biking and walking trails. There are many red deer on the plateau which you might be lucky enough to see.</p>
<p>The Wipp Valley and its side valleys I The Wipp Valley is the valley leading up to the Brenner Pass and over into Italy and whilst the Wipp Valley itself with its main rail line and motorway is very busy, it has some beautiful, quiet, unspoilt side valleys, such as the Navis and the well-known Stubai valleys. With a variety of lakes, glaciers, waterfalls and alp huts as well as fantastic views, they all provide excellent walking possibilities.</p>
<p>NB. Walks may vary from those shown. No previous mountaineering experience is necessary but participants should have good physical fitness and suitable footwear with ankle support.</p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[3]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>