<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="297aabc6-5868-4d4c-90bf-a97692839d82" id="24094" nodeName="French Sable Breton" isDoc="" updated="2021-12-15T11:12:55.7300000Z" parentGUID="381312e3-a4ec-4bb3-94af-e28c1ee1135a" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="9" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="white_box_shadow">
<p><img src="/media/13051318/french-sable-breton.jpg" alt="French Sable Breton" width="858" height="410" rel="858,410" /></p>
<p>Originating in Brittany, France, sable Breton is a popular sweet treat for breakfast or as a snack. Often filled with fruit or chocolate, the biscuit-cake hybrid gets its name from the sandy, crumbly texture of the final baked product.</p>
<p>Chonnie of <a rel="nofollow noopener noreferrer" href="http://www.bakedtoimperfection.co.uk/2017/03/08/sable-breton-with-a-twist" target="_blank">Baked to Imperfection</a> was inspired by her skiing trip in France where she and her friends indulged in these delicious treats every morning.</p>
<p> </p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span style="font-size: 16px; font-weight: bold; color: #7ea537;">Ingredients</span></p>
<ul>
<li>- 130g plain flour</li>
<li>- ½ tbsp. baking powder</li>
<li>- 115g unsalted butter, softened</li>
<li>- 85g sugar</li>
<li>- ½ tsp. salt</li>
<li>- 3 medium egg yolks</li>
<li>- 6 tsp. raspberry jam</li>
<li>- 6 tsp. Nutella </li>
</ul>
<p> </p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span id="1" style="font-size: 16px; font-weight: bold; color: #7ea537;">Method</span></p>
<p>Preheat the oven to 165°C, and grease a muffin tin.</p>
<p>Sift the flour and baking powder into a bowl, and in another bowl, cream together the butter and sugar until light and fluffy. Add the egg yolks and salt to the butter mixture and combine.</p>
<p>Fold the dry ingredients into the wet, until you’re left with a light dough.</p>
<p>Take a marble-sized piece of dough and shape it into the bottom of the tin. Add half a teaspoon of jam or Nutella into the middle. Cover with another marble sized piece of dough, moulding to the shape of the tin.</p>
<p>Bake for around 14–16 minutes, or until golden brown. Turn out onto a cooling rack, until cool enough to serve.</p>
<p>You can <a rel="noopener noreferrer" href="http://cdn-inghams.hotelplan.co.uk/media/13033365/inghams-foodie-finds-web-download.pdf?utm_source=blogs&amp;utm_medium=PDF&amp;utm_campaign=foodie_finds_alpine_recipes" target="_blank" title="Inghams Foodie Finds Alpine-Inspired Recipe Book">download a PDF version</a> of our <strong> Foodie Finds recipe book</strong>, which includes this recipe and other<strong> 'Alpine-Inspired' recipes</strong>.</p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Originating in Brittany, sable Breton is a popular sweet treat. Often filled with fruit or chocolate, the Breton gets its name from its crumbly texture.]]></metaDescription>
  <metaTitle><![CDATA[French Sable Breton - Inghams Foodie Finds Cookbook]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[French Sablé Breton]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/a058f4d2c7794bff8bf1b592081ee0ec]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>