<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="c362082a-edf6-4f41-8f58-3f3248f3cdc7" id="38506" nodeName="Tokyo 4★ &amp; Hakuba 4★ &amp; Kyoto 4★ (7 nights)" isDoc="" updated="2021-12-23T12:16:36.0800000Z" parentGUID="2bdbf008-b0b1-4a6c-a306-3d783be6cf4d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="5" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "a1ce4647-6c81-4182-bdbc-e6b90a5ce229",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Lift Pass Included",
    "addedValueStart": "2019-06-25T15:46:50",
    "addedValueEnd": "2021-06-26T15:46:53",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/d31ff8816cee4eed92e45a1e611964dc,umb://media/7f25ba585e204f84a20c21d1678feda1,umb://media/4c6199f36b1244668c71a43919526a7d,umb://media/b1b740cdf90844e7bc52bdfbaa45b939,umb://media/6cc13eaf76d549c19a8aff70668f796b,umb://media/bd4b719237b941529b1cf1c69d10fcd1]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>See all the highlights of <a data-udi="umb://document/1c75c362696e43cfabf9211c412d2cd1" href="/{localLink:umb://document/1c75c362696e43cfabf9211c412d2cd1}" title="Japan">Japan</a> by combining city with ski- spend your first two nights in Tokyo, head to Hakuba and spend your final two nights in Kyoto.</p>
<p> </p>
<table border="0" cellspacing="0" cellpadding="0" width="901" class="tablet-button" style="height: 42px; margin-left: auto; margin-right: auto;">
<tbody>
<tr style="height: 47px;">
<td height="20" align="center" valign="middle" style="background-color: #023761; border-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px; height: 47px;">Want to spend more time in Japan? Check out our <a data-udi="umb://document/28c03b10e2884acba8a7c072e390f07a" href="/{localLink:umb://document/28c03b10e2884acba8a7c072e390f07a}" title="Japan Ski Holidays">Japan Ski Holidays page</a> for more itineraries! </td>
</tr>
</tbody>
</table>
<p> </p>
<h2>Itinerary</h2>
<p><strong>Day 1:</strong> Depart the UK for Japan. </p>
<p><strong>Day 2:</strong> Arrive in Tokyo where you'll be met at the airport by our Meet &amp; Greet Guide. They will see you off onto the coach transfer direct to the <a data-udi="umb://document/2f3bbf85b582413e8f1d590e23f53fbf" href="/{localLink:umb://document/2f3bbf85b582413e8f1d590e23f53fbf}" title="Keio Plaza Hotel">Keio Plaza Hotel</a>. With a base in the Shinjuku district, spend the day exploring all the wonderful sights of Tokyo.</p>
<p><strong>Day 3:</strong> After a good nights sleep, enjoy full day in Tokyo. Discover temples, go shopping or grab a coffee in one of the 100's of unique cafes. </p>
<p><strong>Day 4: </strong>Transfer by coach (departs from your hotel) to <a data-udi="umb://document/2bdbf008b0b14a6ca3063d783be6cf4d" href="/{localLink:umb://document/2bdbf008b0b14a6ca3063d783be6cf4d}" title="Hakuba">Hakuba</a>, Happo One. Arrive at the central bus station- either hotel shuttle or ski bus shuttle to the <a data-udi="umb://document/a44e864317364f70b098fda7840e6725" href="/{localLink:umb://document/a44e864317364f70b098fda7840e6725}" title="Hotel Mominoki">Hotel Mominoki</a>. Afternoon free to ski!</p>
<p><strong>Day 5 &amp; 6: </strong>Use your included lift pass to explore the slopes on offer, the bus stop is right outside your hotel.</p>
<p><strong>Day 7:</strong> Enjoy a final morning on the slopes (if not used on the afternoon of day 3, extra hours payable locally), then take the coach to Nagano train station and take the bullet train to <a data-udi="umb://document/25c2fbfd78524b50b0b912ebb152521c" href="/{localLink:umb://document/25c2fbfd78524b50b0b912ebb152521c}" title="Kyoto">Kyoto</a>. You will need to change at Tokyo but a free same day porterage service is available from Nagano train station direct to the <a data-udi="umb://document/9d843d8579d94ef6b2c58dc6541c436e" href="/{localLink:umb://document/9d843d8579d94ef6b2c58dc6541c436e}" title="Miyako Hotel Kyoto Hachijo">Miyako Hotel Kyoto Hachijo.</a></p>
<p><strong>Day 8:</strong> A full day to enjoy all the amazing sights of Kyoto, take a photo at the Golden Temple and find a yummy restaurant for dinner in the old red light district.</p>
<p><strong>Day 9:</strong> Meet your Guide at your hotel for a final goodbye, before transferring by coach back to the airport. Fly home.</p>
<p><strong>Day 10: </strong>Arrive back in the UK.</p>
<p><em>Please note: The Guide will meet you at the airport and see you off from your hotel on the last night. If you require their services during your stay a telephone number will be provided before you leave the UK.</em></p>
<p> </p>
<p style="font-size: 21px;"><strong>What’s included</strong></p>
<ul>
<li>Return flights</li>
<li>All airport transfers</li>
<li>8 days total</li>
<li>Accommodation with ensuite facilities, mix of 3 and 4 stars</li>
<li>6 breakfasts (no breakfast on day 4)</li>
<li>Option to upgrade to half board in Hakuba</li>
<li>3 day lift pass</li>
</ul>
<p> </p>
<p style="font-size: 21px;"><strong>Your Hotels</strong></p>
<ul>
<li><strong>Tokyo </strong> <a data-udi="umb://document/2f3bbf85b582413e8f1d590e23f53fbf" href="/{localLink:umb://document/2f3bbf85b582413e8f1d590e23f53fbf}" title="Keio Plaza Hotel">Keio Plaza Hotel</a> ★★★★</li>
<li><strong>Hakuba</strong> <a data-udi="umb://document/a44e864317364f70b098fda7840e6725" href="/{localLink:umb://document/a44e864317364f70b098fda7840e6725}" title="Hotel Mominoki">Hotel Mominoki</a> ★★★★</li>
<li><strong>Kyoto</strong> <a data-udi="umb://document/9d843d8579d94ef6b2c58dc6541c436e" href="/{localLink:umb://document/9d843d8579d94ef6b2c58dc6541c436e}" title="Miyako Hotel Kyoto Hachijo">Miyako Hotel Kyoto Hachijo</a> ★★★★</li>
</ul>
<p> </p>
<p style="font-size: 21px;"><strong>Departure Flights to Tokyo</strong></p>
<p>Direct flights are available from:</p>
<ul>
<li>London Heathrow to Haneda or Narita</li>
<li>Customers finishing in Kyoto will fly home from Kansai International Airport (direct to London Heathrow)</li>
</ul>
<p>Pick our preferred supplier, Japan Airlines, and receive 2 pieces of checked in luggage (one can be used as ski carriage)!</p>
<p>Looking for an airport closer to home? Please call our Reservations Team and we will be happy to source in-direct flying for you.</p>]]></description>
  <descriptionCharacterLimit>10000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>See all the highlights of Japan by combining city with ski- spend your first two nights in Tokyo, head to Hakuba and spend your final two nights in Kyoto. With an upgrade to the Keio Plaza Hotel in Tokyo.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/6c49156bfa5540429faaf9d714c56b5c]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Explore the full, day-to-day itinerary and for our Tokyo 4★ & Hakuba 4★ & Kyoto 4★ (7 nights) Ski Holidays here and book with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Tokyo 4★ & Hakuba 4★ & Kyoto 4★ (7 nights) Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Japan - Tokyo 4★ & Hakuba 4★ & Kyoto 4★ (7 nights)]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[JPHK3022]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>See our <a data-udi="umb://document/2f3bbf85b582413e8f1d590e23f53fbf" href="/{localLink:umb://document/2f3bbf85b582413e8f1d590e23f53fbf}" title="Keio Plaza Hotel">Keio Plaza,</a> <a data-udi="umb://document/a44e864317364f70b098fda7840e6725" href="/{localLink:umb://document/a44e864317364f70b098fda7840e6725}" title="Hotel Mominoki">Hotel Mominoki</a> and <a data-udi="umb://document/9d843d8579d94ef6b2c58dc6541c436e" href="/{localLink:umb://document/9d843d8579d94ef6b2c58dc6541c436e}" title="Miyako Hotel Kyoto Hachijo">Miyako Hotel Kyoto Hachijo</a> pages to learn more about the hotels.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/25e767db044444389ae09383681f982e]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>