<?xml version="1.0" encoding="utf-8"?>
<responsiveTab guid="5ebdfa0c-ab30-4454-a902-bf8c6b15e02a" id="28752" nodeName="Ski Essentials" isDoc="" updated="2020-01-24T10:18:03.8500000Z" parentGUID="c52e58e5-b71d-4382-95e4-700ae2d0472a" nodeTypeAlias="responsiveTab" templateAlias="" sortOrder="3" published="true" isBlueprint="false">
  <promotedImage><![CDATA[umb://media/535a68ef0026423ea62ac75b7026e602]]></promotedImage>
  <promotedImageLocation><![CDATA[0]]></promotedImageLocation>
  <showContentInternalLink>1</showContentInternalLink>
  <showImageInternalLink>1</showImageInternalLink>
  <showOnTab>1</showOnTab>
  <subTabUrlPicker><![CDATA[umb://document/f2b52517b61c41e7b454e6aa0302b2c1,umb://document/522d9129581d445ea8665cd6f5ca130d,umb://document/88813b4c856349a88af3cf6c8780d098,umb://document/e4565aae9d704cf59edeca5aba507d16,umb://document/b57ac8b3882a4272800bf5cc83195689,umb://document/f23e975fc8744711878cf462dc128400]]></subTabUrlPicker>
  <tabContent><![CDATA[<p>We believe your holiday begins the moment you leave home. So, we have done everything we possibly can to make your trip as smooth as possible. Whether you need travel advice or gear hire our advisors can help. Having the right gear goes a long way towards staying safe on a ski holiday. Whether you just need to borrow some boots or your whole travel group’s gear we can help.</p>]]></tabContent>
  <tabHeading></tabHeading>
  <tabShortTitle><![CDATA[Ski Essentials]]></tabShortTitle>
</responsiveTab>