<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="c21c53cc-624d-4a97-98ee-df89a7c135d8" id="70774" nodeName="Next Winter Ski Deals" isDoc="" updated="2024-04-24T12:56:38.7570000Z" parentGUID="3f15f0e3-fa08-4c47-8d89-ed97708c23f6" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Half Term Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/500f33ac6e5a40b7900b12234eb39470",
    "externalLink": "",
    "linkName": "Next Winter Ski Deals",
    "linkTitle": "Next Winter Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>