<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="a36e4dd1-abe6-4129-8883-eb447ab9128a" id="75017" nodeName="Walking in Austria" isDoc="" updated="2024-11-14T14:26:17.1900000Z" parentGUID="bb316482-8646-4d62-833b-7128724ae080" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>Read our guide to walking in Austria and discover our favourite spots for scenic strolls and unforgettable moments.</p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/d11f5b179854446f8de1a9b2ce540f7d]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[walking]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Walking in Austria",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/3d69090ac5714abb914063b47d753d06",
    "externalLink": "",
    "linkName": "Walking in Austria",
    "linkTitle": "Walking in Austria",
    "linkTitleColor": ""
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>