<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksContainer guid="721961b0-d6f8-433e-aa42-a36ac168a023" id="71674" nodeName="Can't find the walking deal you're looking for? Try these..." isDoc="" updated="2024-05-23T11:49:21.8530000Z" parentGUID="2146c02a-a336-4cbe-b1c0-ef9561bc4426" nodeTypeAlias="reskinOfferLinksContainer" templateAlias="" sortOrder="26" published="true" isBlueprint="false">
  <availableOffersDescription></availableOffersDescription>
  <listName></listName>
</reskinOfferLinksContainer>