<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="4bae9551-ebe7-46ca-a8f8-ba1069ee66a4" id="22919" nodeName="Bad Reichenhall" isDoc="" updated="2021-12-29T13:35:58.8500000Z" parentGUID="baf439b4-f300-4bcd-bcf2-3a91adb08ac5" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="8" published="false" isBlueprint="false">
  <activityInformation><![CDATA[<ul>
<li>Plenty of shops and cafés</li>
<li>Lake Königssee (15 minutes by free bus)</li>
<li>Visit to Salt Mines</li>
<li>240 km of marked walking paths</li>
<li>Extensivebiking routes</li>
<li>Paragliding, rowing, kayaking, white water rafting &amp; canyoning</li>
<li>Gorges, canyons and dams</li>
<li>Summer tobogganing</li>
<li>Bathing lakes (Hintersee, Thumsee)</li>
<li>Watzmann Thermal Spa</li>
<li>Golf course at Obersalzberg</li>
<li>Castles, churches &amp; monasteries</li>
<li>Schnapps distillery</li>
<li>Bus to Salzburg (¾ hr) and Bad Reichenhall (20 minutes)</li>
</ul>
<p><strong>In Lake Königssee</strong>: This stunning emerald green fjord-like lake in the heart of Berchtesgaden National Park is Germany’s cleanest and deepest lake. Surrounded by impressive rock cliffs and Bavaria’s second highest mountain, the Watzmann (2,713m), it is best explored by boat. Board the electric boat in pretty Schönau and listen to the echo of the famous trumpet solo played by the tour guide. Stop off at St. Bartolomä chapel with an optional lunch at a typically Bavarian beer garden. A selection of scenic hikes, varying in difficulty, start at Lake Königssee.</p>
<p><strong>The Eagle’s Nest</strong> is a historic viewpoint at the summit of the Kehlstein mountain (1,834m). Once Hitler’s retreat, it now is a restaurant with a spectacular 360º view of the Alps.</p>
<p>Resort Card</p>
<p>The Free Berchtesgaden Resort Card is provided by your hotel upon arrival and gives you:</p>
<ul>
<li>Free use of local buses in the Berchtesgadener Land*</li>
<li>Free guided walks led by the tourist office</li>
</ul>
<p>Discounted rates for:</p>
<ul>
<li>Watzmann Thermal Spa</li>
<li>2 Outdoor pools</li>
<li>Cable-cars (i.e. Obersalzbergbahn, Hirscheckbahn)</li>
<li>Almbach gorge</li>
<li>Plus many more discounts for various attractions and activities in the area</li>
</ul>
<p>Guests staying at the Alpina Ros Hotel also receive the FREE 3 day Oberbayern card on arrival.</p>]]></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/b5151f20d7d14ac4a9f17d0ebd171f86]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>The clean air and salt springs have made Bad Reichenhall a world famous spa resort. A full range of spa treatments, massages and beauty treatments is available. Well worth a visit is the Rupertus Thermal Spa where natural Alpine saline with a high mineral content flows directly into the spa’s pools and steam rooms. The Berchtesgadener Land is popular for hiking and mountain biking, but also has a fascinating history which attracts many visitors each year. Hitler’s Eagle’s Nest and the World War II Centre on the Obersalzberg Mountain are popular local excursions.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p>Excursions available to <strong>book locally</strong> may include: <strong>Berchtesgadener</strong><br /><strong>Land Tour, Tauern Tour, Salzburg.</strong></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals><![CDATA[<p> </p>
<table border="0" cellspacing="0" cellpadding="5" align="left" style="width: 312px;">
<tbody>
<tr>
<td align="center" valign="top"><img src="/media/3053357/Oktoberfest.JPG" alt="Oktoberfest" width="322" height="234" rel="322,234" /></td>
</tr>
</tbody>
</table>
<p> </p>
<h2>Oktoberfest, Bavaria</h2>
<p>Oktoberfest (from 20 September) is one of the world’s largest and best known festivals held annually in Munich, Bavaria. It’s a 15 day event running from 20th September and the Schottenhamel tent is the place to be to catch the official opening ceremonies. At noon the Mayor of Munich will have the honour of tapping the first keg of Oktoberfest beer. Drink it by the litre, eat traditional Bavarian food including the famous Bratwurst.</p>
<p> </p>]]></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li>Visit is the Rupertus Thermal Spa</li>
<li>Berchtesgadener Land is popular for hiking and mountain biking</li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[English/German]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[47.63018]]></latitude>
  <listingDescription><![CDATA[<p>The clean air and salt springs have made Bad Reichenhall a world famous spa resort. A full range of spa treatments, massages and beauty treatments is available. Well worth a visit is the Rupertus Thermal Spa where natural Alpine saline with a high mineral content flows directly into the spa’s pools and steam rooms. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ef3bb8647c344b8aac4e5cb53cd3937f]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[13.000074]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Bad Reichenhall for an amazing summer holiday in Germany. Lakes and mountain holidays in Bad Reichenhall with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Bad Reichenhall Germany, Lakes & Mountains Hols 2016 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[DEBG]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>Twin centres</strong> | You can combine your holidays in Bad Reichenhall with a stay in any resort or city in <a rel="noopener noreferrer" href="/{localLink:e0ef1ac2-0952-43d7-9b08-6183c41fc451}" target="_blank" title="Austria">Austria</a>. We recommend the city of <a rel="noopener noreferrer" href="/{localLink:157b47bd-4264-4428-9890-a5fd76a84bd8}" target="_blank" title="Salzburg">Salzburg</a> for a cultural experience or one of the charming lakeside resorts in the Salzkammergut Lake District (<a rel="noopener noreferrer" href="/{localLink:ecb2430b-4b69-4812-ab9e-d16ca290785a}" target="_blank" title="Fuschl">Fuschl</a>, <a rel="noopener noreferrer" href="/{localLink:bf1363cb-e16d-49a5-b3a3-1e54e2ca6e8e}" target="_blank" title="St. Gilgen">St. Gilgen</a> or <a rel="noopener noreferrer" href="/{localLink:65b84ec0-c686-4470-82db-c0d1c7867784}" target="_blank" title="St. Wolfgang">St. Wolfgang</a>).</p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>0</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[3]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[An alpine jewel with a fascinating history]]></tagline>
  <thingsToDo><![CDATA[<ul>
<li>Golf</li>
<li>Paragliding</li>
<li>Shopping</li>
<li>Walking</li>
<li>Watersports</li>
<li>Canyoning</li>
<li>Rafting</li>
</ul>
<p>Hitler’s Eagle’s Nest and the World War II Centre on the Obersalzberg mountain are popular local excursions. The narrow streets in Berchtesgaden’s pretty pedestrian zone are lined with pastel-coloured listed buildings in alpine style and filled with restaurants, cafés and souvenir shops. The locals are proud to preserve their Bavarian traditions and customs, and showcase typical Bavarian music and dancing at weekly events in the town centre. Beautiful Lake Königssee with its boat excursions, lakeside restaurants and walks is just 15 minutes away by free local bus.</p>
<ul>
<li>Plenty of shops and cafés</li>
<li>Lake Königssee (15 minutes by free bus)</li>
<li>Visit to Salt Mines</li>
<li>240 km of marked walking paths</li>
<li>Extensivebiking routes</li>
<li>Paragliding, rowing, kayaking, white water rafting &amp; canyoning</li>
<li>Gorges, canyons and dams</li>
<li>Summer tobogganing</li>
<li>Bathing lakes (Hintersee, Thumsee)</li>
<li>Watzmann Thermal Spa</li>
<li>Golf course at Obersalzberg</li>
<li>Castles, churches &amp; monasteries</li>
<li>Schnapps distillery</li>
<li>Bus to Salzburg (¾ hr) and Bad Reichenhall (20 minutes)</li>
</ul>
<p><strong>In Lake Königssee</strong>: This stunning emerald green fjord-like lake in the heart of Berchtesgaden National Park is Germany’s cleanest and deepest lake. Surrounded by impressive rock cliffs and Bavaria’s second highest mountain, the Watzmann (2,713m), it is best explored by boat. Board the electric boat in pretty Schönau and listen to the echo of the famous trumpet solo played by the tour guide. Stop off at St. Bartolomä chapel with an optional lunch at a typically Bavarian beer garden. A selection of scenic hikes, varying in difficulty, start at Lake Königssee.</p>
<p><strong>The Eagle’s Nest</strong> is a historic viewpoint at the summit of the Kehlstein mountain (1,834m). Once Hitler’s retreat, it now is a restaurant with a spectacular 360º view of the Alps.</p>
<p>Resort Card</p>
<p>The Free Berchtesgaden Resort Card is provided by your hotel upon arrival and gives you:</p>
<ul>
<li>Free use of local buses in the Berchtesgadener Land*</li>
<li>Free guided walks led by the tourist office</li>
</ul>
<p>Discounted rates for:</p>
<ul>
<li>Watzmann Thermal Spa</li>
<li>2 Outdoor pools</li>
<li>Cable-cars (i.e. Obersalzbergbahn, Hirscheckbahn)</li>
<li>Almbach gorge</li>
<li>Plus many more discounts for various attractions and activities in the area</li>
</ul>
<p>Guests staying at the Alpina Ros Hotel also receive the FREE 3 day Oberbayern card on arrival.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td>Wednesday/Saturday <br />Saturday<br />Wednesday/Saturday <br />Wednesday <br />Saturday</td>
<td><strong>Salzburg</strong></td>
<td>Gatwick <br />Birmingham <br />Manchester <br />Newcastle <br />Glasgow</td>
<td>Nil/£29<br />£49<br />£69<br />£79<br />£79</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer Approx. 45mins by coach.</p>
<p>Supplements: are based on 7 nights departures.</p>]]></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<ul>
<li>The impressive Berchtesgaden National Park (210km2) stretches along three parallel valleys and offers visitors an abundance of well-marked hiking trails suitable for all levels of fitness. There is gentle walking along lush meadows as well as steeper mountain paths on the Jenner or the Obersalzberg mountain. The Jenner summit at 1,874m offers impressive views of Lake Königssee and over one hundred German and Austrian mountain tops. The local Obersalzberg cable-car gives access to a number of easier and harder panoramic walks.</li>
</ul>
<ul>
<li>The impressive Berchtesgaden National Park (210km2) stretches along three parallel valleys and offers visitors an abundance of well-marked hiking trails suitable for all levels of fitness. There is gentle walking along lush meadows as well as steeper mountain paths on the Jenner or the Obersalzberg mountain. The Jenner summit at 1,874m offers impressive views of Lake Königssee and over one hundred German and Austrian mountain tops. The local Obersalzberg cable-car gives access to a number of easier and harder panoramic walks.</li>
</ul>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[3]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>