<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="7b443111-1e01-4f54-a2e4-8eb0a22b968e" id="70792" nodeName="Last Minute Ski Deals" isDoc="" updated="2024-10-17T11:39:12.3330000Z" parentGUID="495b3c6b-eb4c-41fb-bd70-4a9673d40b59" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Next Winter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aada1eeaff944fecb99bf1e42e6176b6",
    "externalLink": "",
    "linkName": "Last Minute Ski Deals",
    "linkTitle": "Last Minute Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>