<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="19122580-07e7-4bdc-b0c3-ada9f1a21791" id="23498" nodeName="Hotel Le Royal Ours Blanc" isDoc="" updated="2024-03-27T13:49:57.0800000Z" parentGUID="acff50eb-9ad8-4862-a464-f68b551bc497" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="10" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The hotel is suitable for wheelchair access, the lift goes to all floors and there are adapted Superior Rooms available on request. Please give our Reservations team a call to book an adapted room, so we can ensure it is the right property for you.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "64b45616-c279-40a2-8dc2-949330d7c7a9",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 Sept 23)",
    "addedValueStart": "2018-12-01T15:59:12",
    "addedValueEnd": "2023-09-30T23:00:00",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/abe99b2b853643ce999d6778cef9b043,umb://media/55253d0373cb4cf5bf6ce8572b730c29,umb://media/6cf476bd2c344b70bd2e0171e8a96035,umb://media/b0675f78f05549f5a7ca92acacd60d10,umb://media/f5ee7c2ab94541f28b87c777d136bf8f,umb://media/e0e5bef279e74c3193b4f047cb6ad988,umb://media/556cf1f947144b319fe777a6bce00d09,umb://media/99033cfc84bb42f8b8e032e8ce5d5027,umb://media/9a63440710fe43edb3d94c92b2519320,umb://media/2c50d2fe1aae499eac5bed126543f4c1,umb://media/dd916f5a456a43aea657ef1ff228ce32,umb://media/99b54b11fd4b498fb88e4b92691e0390,umb://media/8993563c3d084817a52890e125b5a767,umb://media/f6488624ae274be582a43982a5a7f126,umb://media/5a97486867d1402cb4eb9a2e5a125eb6,umb://media/ea9af834cc83435d9cc91946fc3e3c03,umb://media/e39c814ecfd5456194a96f322790361a]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel Le Royal Ours Blanc is on a bed and breakfast board basis.</p>
<p>Fuel up for a day on the mountains at the continental buffet breakfast which has a range of sweet and savoury options, additional hot options are also available. Breakfast is served each day between 7 - 10.30 am (subject to change).</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Royal Ours Blanc is a modern hotel with a quirky interior inspired by its architecture. <a data-udi="umb://document/acff50eb9ad84862a464f68b551bc497" href="/{localLink:umb://document/acff50eb9ad84862a464f68b551bc497}" title="Alpe d'Huez">Alpe d'Huez</a> resort centre amenities are on the doorstep including the ice rink and a great selection of shops and bars. </p>
<h2>Comfortable accommodation</h2>
<p>The rooms at the Royal Ours Blanc are bright and welcoming, and they provide a comfortable place for you to stay in this wonderful ski resort. All of the rooms at the Royal Ours Blanc have a contemporary and fresh feel to them. Each room features a satellite TV, complimentary Wi-Fi access, a safe, and a hair dryer.</p>
<h2>Unwind and relax</h2>
<p>If its too snowy to go skiing or you just want to relax at the end of the day, the hotel has a large indoor pool and spa area with a sauna and whirlpool that may be used for a small cost. Make a reservation at the reception desk, and take some time to unwind and rest. In order to completely rejuvenate indulge in a relaxing massage or treatment performed by one of the hotel's in-house beauticians.</p>
<h2>Lounge and bar</h2>
<p>If you don't want to relax in the spa, there is also a bright and lively lounge and bar area where you can have a drink or two after skiing or spend a peaceful evening in front of the fire.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Sun terrace</li>
<li>Spa and wellness facilities including a heated indoor swimming pool, sauna and whirlpool (pay locally)</li>
<li>Fitness room</li>
<li>Massages and beauty treatments available (pay locally)</li>
<li>Relaxation room</li>
<li>Bar</li>
<li>Lounge with fireplace</li>
<li>Games room with pool table </li>
<li>Free Wi-Fi</li>
<li>Private car parking (pay locally)</li>
<li>Heated ski equipment storage room</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Board games on request</li>
<li>Puzzles are available from reception</li>
<li>Baby cots are available on request <strong>(Free)</strong> for children under 2 years </li>
<li>Children's play room </li>
<li>Babysitting and child care services are available on request (book and pay locally)</li>
<li>Earlier meal times for children are available </li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "1953b805-620e-4c24-ac53-f197f5d9f949",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f63eafa5-de30-4583-8019-548f845abfb5\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>7</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>16</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.0914629]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Offered on a bed and breakfast board basis, the Hotel Royal Ours Blanc is in a wonderful location for accessing the pistes and enjoying the activities on offer in this sunny resort.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/4fcf9681c7cf4c07aa3660181b32d808]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax: €0.80 per person, per day (under 18s free of charge)</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Situated in the centre of resort with shops, restaurants, bars and ice rink on the doorstep</li>
<li>300 metres to the ski lifts</li>
<li>Free local bus stop just outside the hotel</li>
<li>800 metres to the nursery slopes and ski school meeting point </li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.0679037]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[46 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The Hotel Royal Ours Blanc is in a wonderful location for accessing the pistes and enjoying the activities on offer in this sunny resort. Book now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Le Royal Ours Blanc Alpe d'Huez France, Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>46</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Le Royal Ours Blanc]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRAD0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>24 Hour front desk</li>
<li>Check in: 4pm</li>
<li>Check out: 11am </li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>2</restaurants>
  <roomsDescription><![CDATA[<p><strong>Superior Double Rooms</strong> are around 25m² and sleep two people. These rooms are also available for sole occupancy on request</p>
<p><strong>Family Rooms</strong> are around 30m² and sleep up to four people including three adults or two adults and two children under 12 years old. The rooms are made up as one double bed or two single beds, and an additional double sofa bed. </p>
<p><strong>Room facilities</strong></p>
<ul>
<li>Twin or double beds (please specify preference when booking)</li>
<li>Bath with shower head attachment or shower room</li>
<li>WC</li>
<li>Free Wi-Fi</li>
<li>Satellite TV</li>
<li>Balcony with outdoor furniture and mountain views</li>
<li>Tea and coffee making facilities</li>
<li>Wake up service (on request)</li>
<li>Linen and towels</li>
<li>Bathrobes </li>
<li>Slippers</li>
<li>Toiletries</li>
<li>Mini bar</li>
<li>Safe</li>
<li>Telephone</li>
<li>Hairdryer</li>
<li>Desk</li>
<li>Daily cleaning is included</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1747798]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>