<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="69c56dc3-f918-4551-a5ed-2082eb903d71" id="69914" nodeName="Next Winter Deals" isDoc="" updated="2024-04-05T12:15:29.0630000Z" parentGUID="bc0fae72-34ad-4a38-8410-64f84760305b" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "December Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/ce29c59d3ed74155a321f244a0a3d693",
    "externalLink": "",
    "linkName": "Next Winter Deals",
    "linkTitle": "Next Winter Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>