<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="59448330-4a5f-4b47-844b-444df2c9d975" id="21732" nodeName="Mayrhofen" isDoc="" updated="2024-06-21T14:22:23.1130000Z" parentGUID="80846e21-c0a3-4040-822c-680876e3b910" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="5" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "f4e7d07e-6635-4b40-b77d-f6e27206319b",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Inghams Guided Walks included from 27 May - 13 Sep 24 and from 26 May - 12 Sep 25 (subject to availability)",
    "addedValueStart": "2023-01-04T16:13:43",
    "addedValueEnd": "2099-01-05T16:13:41",
    "hideAddedValue": "0"
  },
  {
    "key": "15032da1-0ae1-4408-9e92-51a668c3661a",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "24/7 support & tailored advice in person or over the phone from our local resort team",
    "addedValueStart": "2022-12-15T16:12:12",
    "addedValueEnd": "2099-12-15T16:12:14",
    "hideAddedValue": "0"
  },
  {
    "key": "530a28b1-33f6-4f7f-9eb5-9c21b0fa7906",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "All holidays include flights from the UK and transfers",
    "addedValueStart": "2022-12-16T11:44:00",
    "addedValueEnd": "2099-12-16T11:44:01",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/5ce83b2057c64f5c8f64c3efce294397,umb://media/f088f422b70248f4a451e298cdb4db28,umb://media/b337fb292dc54a7699c03e16808acbd7,umb://media/1c9e949d2ac94ad1806ad9ad4ad31ecf,umb://media/9963fdf1d220438e94209d950e30cb9b,umb://media/718556198c314ea49ba4163c26c57400,umb://media/f7bf0686a9844d7ab165e8f6bda6bc1d,umb://media/600cc0b1351c46f9837a244a11b2d42c,umb://media/4356e1e499bf4af5a854e4e58f1da046,umb://media/fb84900465924a67a051297498c169aa,umb://media/c42e4eee2805427a8a79f50897424a1d,umb://media/c1c02a028d534d91a34a5d8235e5d8ad,umb://media/c0725224990a4907a64dab5eb6b55427,umb://media/978565dad3de46d7907ad9dd3687f761,umb://media/06f27bfa7dd04fd8a5ceea45c209b22b,umb://media/82479e620cd54bd29be86f2eaae916ff,umb://media/a421adcd59614bb2800a59e2516ca131,umb://media/141464725f9f40d886c18b43e0cac46d,umb://media/cae4dc3ccfac445ba395c78869cecd89,umb://media/6733de2483ea4ccdaae5ee16c04b7fb0]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/85812e8a1d0149a58c8737f14c5c36ef]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Known for its lively atmosphere, Mayrhofen town is alive with visitors and sportspeople come summer. The fresh mountain air and peaceful scenery make it perfect for some R&amp;R, but if you’re looking for action, shops for bike rental or adventure activities line the streets in town, countless walking routes head out from the centre, and there are two lifts running from the town to boost you up 1,800 metres or so in altitude, effort-free.</p>
<p><a data-udi="umb://document/ed6a7f99b73d494099a1efe3f5d4e6c4" href="/{localLink:umb://document/ed6a7f99b73d494099a1efe3f5d4e6c4}" title="Mayrhofen" class="c-btn"><strong>View all Mayrhofen walking deals</strong></a></p>
<h3>Themed walks and educational trails in Mayrhofen</h3>
<p>Who doesn’t love a walk with a purpose? From the ‘Art River’ walk past local sculptures, to the Brandberg dairy farm loop - with a stop-off to try its local cheese - and the Ahorn Leisure Trail with its bird watching stations and viewing platforms (a route suitable for buggies), there’s no shortage of themed walks around Mayrhofen. For peace and quiet, best head to the Stilluptal Valley, famous for its many waterfalls and striking blue reservoir.</p>
<h3>An Austrian mountain hut crawl</h3>
<p>Whether hard-core hiking, low-key biking or just heading out to enjoy the view, most people out on the mountain will probably have the same goal: to end up at a Tyrolean Mountain hut to refuel. There are more than enough of them around, all serving local dishes on sun-drenched terraces. The Olpererhütte is a deservedly popular spot for its views over the Schlegeis reservoir and south-facing position, for soaking up the sun all-day long.</p>
<h3>Activity-filled days in and around Mayrhofen</h3>
<p>The Zillertal Activcard is an all-in-one ticket to activities in summer, allowing one cable card trip a day (there are 10 in the region) to give easy access to many of the region’s walking trails, entry to all six outdoor swimming pools in the valley, free travel on most public transport and discounts around the area.</p>
<h3>Biking in the Zillertal</h3>
<p>With 1,300 kilometres of routes, the Zillertal is heaven for biking, whether on gravel, bumpy single-track trails or quiet mountain roads. The Penken Mountain’s FunSportStation is made for young thrill-seekers. There’s a bike park with mini electric motorcycles to play around on. If the children are into scooters, here’s where you can step it up a level by trying out the ‘mountain scooter’ that handles trickier terrain more like a mountain bike. The whole family can head out onto the trails on mountain scooters (once everyone’s got to grips with it).</p>
<h3>The Zillertalbahn Steam Train</h3>
<p>This little steam train chugs through the Zillertal Valley and is fun for the whole family. There’s an open-top carriage, a beer carriage and dining car, the crystal wagon (encrusted with Swarovski crystals, because why not?) and the kids’ carriage where little ones can hang out.</p>
<h2>Why book a summer holiday in Mayrhofen with Inghams?</h2>
<p>At Inghams, we do walking holidays differently. With no fixed itinerary, you have more time in your destination and the freedom to walk as much or as little as you like, discovering some of Mayrhofen’s best walking routes and activities at your own pace.</p>
<p>Plus, we've included two optional guided walks every week in Mayrhofen. Join a professional walking guide and really get to know the area (see more details in the ‘walking’ tab below).</p>
<p>With over 85 years of outdoor travel experience, our holiday packages to Mayrhofen include flights, transfers, and accommodation, so you can relax and leave the small details to us. Our experts can help you choose the best holiday for you, and our team in resort can give you the inside scoop on how to spend your time away with us.</p>]]></description>
  <descriptionCharacterLimit>1200</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile>800</descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p>If you're planning to use the lifts and public transport a lot during your ]holiday it's worth buying a <a rel="noopener" href="https://www.zillertal.at/en/summer/holiday/zillertal-activcard.html" target="_blank">Zillertal Activcard</a>, which will give you:</p>
<ul>
<li>One return cable car trip per day on any of the ten cable cars</li>
<li>Free entry to all six outdoor swimming pools (one visit per day)</li>
<li>Free travel on most of the region's public transport</li>
<li>Discounts at various partners around the Zillertal</li>
</ul>
<p>The cards are available for 3, 6, 9 or 12 consecutive days.</p>
<p>The lifts included in the Zillertal Activcard are:</p>
<ul>
<li>Ahornbahn, Mayrhofen (normally open 15 Jun to 31 Oct)</li>
<li>Penkenbahn and Kombibahn Penken, Mayrhofen (normally open 18 May to 6 Oct)</li>
<li>Finkenberger Almbahnen, Finkenberg (normally open 30 May to 27 Oct)</li>
<li>Eggalmbahnen, Lanersbach (normally open 15 Jun to 13 Oct)</li>
<li>Hintertuxer Glacier, Hintertux (normally open all year - Zillertal Activcard covers the lifts up to the Sommerbergalm at 2,100m, pay locally to get up higher)</li>
<li>Rosenalmbahn, Zell am Ziller (normally open 30 May to 6 Oct)</li>
<li>Gerlossteinbahn, Hainzenberg (normally open 30 May to 20 Oct)</li>
<li>Isskogelbahn, Gerlos (normally open 15 Jun to 6 Oct)</li>
<li>Königsleiten Dorfbahn, Königsleiten (normally open 15 Jun to 6 Oct)</li>
<li>Spieljochbahn, Fugen (normally open 18 May to 27 Oct)</li>
</ul>
<p>You can purchase the card from the lift pass offices at the Penkenbahn or Ahornbahn, or at the train station.</p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore><![CDATA[<h2>Mayrhofen Excursions</h2>
<h3>Krimml Waterfalls - bookable locally</h3>
<p>Marvel at the natural wonder of Krimml waterfalls set amidst the stunning Hohe Tauern National Park. Follow the path right next to the falls for fantastic photo opportunities of the 380 metre falls that cascade over three levels. A small National Park fee may be payable locally. This excursion is a half-day trip.</p>
<p><em>We act at all times as a selling agent for the suppliers. All excursions require minimum numbers to run and are subject to change. Some excursions may not be available to pre-book but may be available to book locally subject to numbers. Prices will be confirmed at the time of booking. Please see our <a rel="noopener" href="https://www.inghams.co.uk/legal/terms-conditions" target="_blank">terms &amp; conditions.</a></em></p>]]></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "ba00df3a-9c4a-41d6-8efa-80eb2a5ce128",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "Mayrhofen Holiday FAQs",
    "fAQsItem": "umb://document/84d8426836b34d5bb0bd907f9d8030aa,umb://document/ebc2174fb5284073a666257c600e03c2,umb://document/4fffc5dec15e41618db9f5ffefcf1216,umb://document/c4ee517a8bc641c39a6f00b85115baf9,umb://document/eb66a83189e8408f95a41029d0b2e2f7",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"86a6e873-28ee-4ff7-84b6-6ec6d2611ed8\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"Ask more...\",\r\n    \"internalLink\": \"umb://document/e5b8abf94a554299a3960566b88e9193\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals><![CDATA[<h2>Family Activities in Mayrhofen</h2>
<h3>Playgrounds and adventure parks in Zillertal</h3>
<p>There’s playparks and adventure spots at all over the place in Mayrhofen and the Zillertal, which is great news for families with active young explorers. In the forest around Waldfestplatz there’s various wooden play areas and you can try crazy golf. Then head up into the mountains for more family adventures.</p>
<h3>Family mountain – Ahorn</h3>
<p>Stride the stepping stones, dip your feet into the Ahornsee lake and wander the family-friendly leisure trail on the Ahorn mountain. Most of the paths on this mountain are pushchair-friendly, and there’s plenty of spots to relax and enjoy the view while the children splash, climb and play. Young adventurers can also tick off their first summit at the Filzenkogel, which is around one hour from the top of the Ahorn lift.</p>
<h3>Action mountain – Penken</h3>
<p>As well as all the family-friendly walking trails you’ll find on the Penken mountain (many of which are pushchair-friendly) you can take bikes on the lift, and there’s plenty of trails to explore. You can also try mountain scooting or discover one of the mountain play areas – one of them at Penkenjoch has an eight-metre-tall wooden bear.</p>
<h3>Swimming in Mayrhofen</h3>
<p>At the adventure pool in Mayrhofen, there’s heaps of indoor and outdoor fun to be had, with slides, a crazy river, and multiple pools to enjoy, plus plenty of space for relaxing. It's the perfect activity on a summer holiday! A pleasant walk down the valley, following the river path will get you to the outdoor pool at Hippach, which is great fun for little ones with slides, a large pool, children’s pool, and plenty of space to run around.</p>
<h3>High ropes and watersports</h3>
<p>The River Ziller flows the length of the Zillertal, and provides plenty of opportunities for fun, whether it’s a family rafting trip on the calmer sections, or jumping in pools and abseiling waterfalls on a canyon trip. If you prefer to stay dry, try the high ropes course to test your head for heights and balance.</p>
<h3>Family fun in the Zillertal</h3>
<p>The family activities continue throughout the valleys and mountain tops a little further away from Mayrhofen too. At the bottom of the Rosenalm lift in Zell am Ziller, there’s a big playground and summer toboggan, and at the top a huge wooden castle and adventure park. Visit the Ice Palace at Hintertux and while you’re there try snowtubing on the glacier, and the wooden marble run at Sommerberg.</p>]]></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround><![CDATA[<p>Mayrhofen and the Zillertal has a great network of public transport and lifts that make getting around the area really easy. </p>
<h4>Lifts</h4>
<p>There are 10 lifts open in the Zillertal during the summer, normally from the end of May/beginning of June until October. Round trips start from about €23 so if you're planning to use them a lot during your stay it may be worth buying a <a rel="noopener" href="https://www.zillertal.at/en/summer/holiday/zillertal-activcard.html" target="_blank">Zillertal Activcard</a> - see the Cards &amp; Passes tab for more details. The lifts open in the summer are:</p>
<ul>
<li>Ahornbahn, Mayrhofen (normally open 15 Jun to 31 Oct)</li>
<li>Penkenbahn and Kombibahn Penken, Mayrhofen (normally open 18 May to 6 Oct)</li>
<li>Finkenberger Almbahnen, Finkenberg (normally open 30 May to 27 Oct)</li>
<li>Eggalmbahnen, Lanersbach (normally open 15 Jun to 13 Oct)</li>
<li>Hintertuxer Glacier, Hintertux (normally open all year - Zillertal Activcard covers the lifts up to the Sommerbergalm at 2,100m, pay locally to get up higher)</li>
<li>Rosenalmbahn, Zell am Ziller (normally open 30 May to 6 Oct)</li>
<li>Gerlossteinbahn, Hainzenberg (normally open 30 May to 20 Oct)</li>
<li>Isskogelbahn, Gerlos (normally open 15 Jun to 6 Oct)</li>
<li>Königsleiten Dorfbahn, Königsleiten (normally open 15 Jun to 6 Oct)</li>
<li>Spieljochbahn, Fugen (normally open 18 May to 27 Oct)</li>
</ul>
<p><em>Subject to change.</em></p>
<h4>Train</h4>
<p>The Zillertalbahn is a narrow gauge railway that runs the length of the Ziller Valley, starting in Mayrhofen and finishing in Jenbach. It stops at many of the villages throughout the valley on route. From Jenbach you can connect to the mainline trains to reach places such as Innsbruck, Salzburg or Munich.</p>
<h4>Buses</h4>
<p>The Zillertal is well-serviced by its public bus network which connects you to the surrounding valleys. You can catch public buses to Hintertux Glacier, Schlegeis Reservoir, Zillergrund Reservoir and many of the nearby lifts. Sometimes, a toll payment is required (in cash) in addition to the bus fare. Most buses run from the train station and timetables are available locally.</p>
<p>A private bus runs to the Stillup Valley, which is privately owned and so not serviced by public buses - it runs from the Europahaus Tourist Information.</p>]]></gettingAround>
  <gettingAroundTitle><![CDATA[Getting around Mayrhofen & the Zillertal]]></gettingAroundTitle>
  <guidedWalks><![CDATA[<h3>Inghams Guided Walks are included on your holiday in Mayrhofen</h3>
<p>We’ve included two full-day walks per week in Mayrhofen, just for Inghams guests. Join a small group and be led by a professional walking guide on some of their favourite trails. It’s a great way to get to know the area. The walks in Mayrhofen are run by Actionclub Zillertal.</p>
<p>In Summer 24, walks are available from 27 May - 13 Sep and in Summer 25 from 26 May - 12 Sep. There are eight walks to choose from each week, and each walk has a limited number of spaces. There's one walk on a Monday and Tuesday, and two walks on Wednesday, Thursday and Friday and you can choose up to two per person, per week. Most walks require the use of public buses and/or mountain lifts which are payable locally. You can add the walks onto your holiday by calling us.</p>
<h3>Bichlalm and Schleierwasserfall</h3>
<p>This walk is all about chasing waterfalls and great views. You’ll walk to the Bichlalm hut first, and then the impressive Schleier waterfall. Along the way you’re treated to exceptional views of the Hintertux glacier and surrounding mountains, interesting paths and an off-the-beaten-track feel. If you want an easier option for this route, you can opt to walk only as far as the Bichlalm and not the waterfall.</p>
<ul>
<li><strong>Grade:</strong> easy - moderate (good fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 9km</li>
<li><strong>Walking time:</strong> approx. 3.5 hours</li>
<li><strong>Ascent/descent:</strong> 555m ascent and descent</li>
<li><strong>Terrain:</strong> Mainly rocky single-track, forest trail or gravel road (can be quite uneven, steep and narrow in places)</li>
<li><strong>Useful information:</strong> There will be a lunch stop at the Bichlalm (payable locally) and the public bus is required at the start and end of the walk (payable locally).</li>
</ul>
<p>This walk will run: every Monday</p>
<h3>Höllenstein – Grieralm</h3>
<p><span><span class="ui-provider ee bss bst bsu bsv bsw bsx bsy bsz bta btb btc btd bte btf btg bth bti btj btk btl btm btn bto btp btq btr bts btt btu btv btw btx bty btz">The walk to Grieralm is equal parts challenging and rewarding. The path goes through thick forests, with incredible mountain views through the trees and plenty of birds and wildlife to spot. The scenery changes along the way to more open spaces and valleys, before finishing at Grieralm and a pretty, isolated lake where you can sit and enjoy the stillness.</span></span></p>
<ul>
<li><strong>Grade:</strong> moderate - challenging (good fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 11km</li>
<li><strong>Walking time:</strong> approx. 5 hours</li>
<li><strong>Ascent/descent:</strong> 650m ascent and descent</li>
<li><strong>Terrain:</strong> mainly rocky single-track footpath, gravel roads or forest track (can be quite uneven in places)</li>
<li><strong>Useful information:</strong> there will be a lunch stop at the Höllenstein hut or the Grieralm (payable locally) and the public bus is required at the start and end of the walk (payable locally).</li>
</ul>
<p>This walk will run: every Tuesday</p>
<h3>Little Tibet</h3>
<p>Enjoy an easier walk through magnificent scenery along the edge of the Zillergrund reservoir. This area of the Zillertal Alps has a bit of a Himalayan feel to it, especially at the end of the reservoir when you reach the Little Tibet hut where you’ll enjoy a lunch break (payable locally). They use only products from their remote mountain farm where chickens are running around, and pigs, cows and donkeys are never far away.</p>
<ul>
<li><strong>Grade:</strong> easy - moderate (basic fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 10km</li>
<li><strong>Walking time:</strong> approx. 3 hours</li>
<li><strong>Ascent/descent:</strong> 320m ascent and descent</li>
<li><strong>Terrain:</strong> mainly rocky single-track footpath (can be quite uneven in places)</li>
<li><strong>Useful information:</strong> There will be a lunch stop at the Little Tibet hut (payable locally) and the public bus is required at the start and end of the walk (payable locally).</li>
</ul>
<p>This walk will run: every Wednesday</p>
<h3>Plauener Hütte</h3>
<p>The mountains of the Zillergrund valley have a bit of a Himalayan feel to them and the scenery is spectacular. On this hike, we start at the dam wall of the reservoir, and walk up to the Plauener Hütte for a fantastic view over the water and to the surrounding mountains.</p>
<ul>
<li><strong>Grade:</strong> moderate – challenging (good fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 9km</li>
<li><strong>Walking time:</strong> approx. 4.5 hours</li>
<li><strong>Ascent/descent:</strong> 700m ascent and descent</li>
<li><strong>Terrain:</strong> mainly rocky single-track, forest track or gravel road (can be quite uneven, steep and narrow in places)</li>
<li><strong>Useful information:</strong> there will be a lunch stop at the Plauenerhuette (payable locally) and the public bus is required at the start and end of the walk (payable locally).</li>
</ul>
<p>This walk will run: every Wednesday</p>
<h3>Edelhütte</h3>
<p>Get the high Alpine feeling on this picturesque walk to the Edelhütte at 2,338m. The Ahornbahn lift does a lot of the uphill for you, so you can enjoy an easier walk with maximum views. The Ahorn mountain is the tallest of Mayrhofen’s three “home mountains” and you’re seemingly within touching distance of its rocky peak. Look out for marmots and wildflowers along the route.</p>
<ul>
<li><strong>Grade:</strong> easy - moderate (good fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 6km</li>
<li><strong>Walking time:</strong> approx. 4 hours</li>
<li><strong>Ascent/descent:</strong> 400m ascent and descent</li>
<li><strong>Terrain:</strong> mainly rocky single-track footpath (can be quite uneven in places)</li>
<li><strong>Useful information:</strong> there will be a lunch stop at the Edelhütte (payable locally) and the Ahornbahn lift is required at the start and end of the walk (payable locally).</li>
</ul>
<p>This walk will run: every Thursday (from 20 Jun)</p>
<h3>Maxhütte</h3>
<p>This walk starts in the small village of Ginzling, a short bus ride from Mayrhofen. The path rises through dense forests to the picturesque Gungl Valley with views of alpine meadows, a river and rugged mountain peaks in the distance - think quintessential Austrian Alps scenes. You'll follow the trail to the rustic Maxhütte mountain hut where you can buy lunch before heading back down.</p>
<ul>
<li><strong>Grade:</strong> moderate - challenging (good fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 6km</li>
<li><strong>Walking time:</strong> approx. 3.5 hours</li>
<li><strong>Ascent/descent:</strong> 500m ascent and descent</li>
<li><strong>Terrain:</strong> forest trails and meadow paths on a single-track footpath (can be quite uneven and steep in places)</li>
<li><strong>Useful information:</strong> there will be a lunch stop at the Maxhütte (payable locally) and a public bus is required to and from Ginzling (payable locally).</li>
</ul>
<p>This walk will run: every Thursday</p>
<h3>Gerlosstein – Karlalm – Brandberg</h3>
<p>This beautiful walk traverses the Ziller valley from the top of the Gerlosstein lift via the rustic Karlalm hut to the remote mountain village of Brandberg. Along the way, you’ll have beautiful views and quiet walking trails through picturesque meadows and forests.</p>
<ul>
<li><strong>Grade:</strong> easy - moderate (reasonable fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 8km</li>
<li><strong>Walking time:</strong> approx. 4 hours</li>
<li><strong>Ascent/descent:</strong> 400m ascent and 880m descent</li>
<li><strong>Terrain:</strong> mainly single-track footpath through forests and meadows (can be quite uneven rocky/rooty in places)</li>
<li><strong>Useful information:</strong> there will be a lunch stop at the Karlalm hut (payable locally) and the public bus is required at the start and end of the walk, plus the Gerlossteinbahn lift at the start of the walk (all payable locally).</li>
</ul>
<p>This walk will run: every Friday</p>
<h3>Grübelspitz – Stoankasern</h3>
<p>For a large part of this walk, you’ll enjoy mountain panoramas and views of the Hintertux glacier. It follows a well-signposted path from the top of the Eggalm lift to the peak of the Grübelspitz where the view is magnificent. Walk through Alpine meadows where there’s often wildflowers and marmots, to the Stoankasern Alpine cheese dairy.</p>
<ul>
<li><strong>Grade:</strong> moderate – challenging (good fitness and sure-footedness required)</li>
<li><strong>Distance:</strong> 13km</li>
<li><strong>Walking time:</strong> approx. 5 hours</li>
<li><strong>Ascent/descent:</strong> 562m ascent and 1,300m descent</li>
<li><strong>Terrain:</strong> mainly rocky single-track path, forest trails and meadow paths (can be quite uneven, steep and narrow in places)</li>
<li><strong>Useful information:</strong> there will be a lunch stop at the Stoankasern (payable locally) and the Eggalm lift is required at the start of the walk as well as the public bus to and from the Eggalm lift (all payable locally).</li>
</ul>
<p>This walk will run: every Friday (from 21 Jun)</p>
<p><strong>For every walk you will need: </strong>suitable walking shoes with good grip, appropriate walking clothing, sun cream, insect repellent, sunglasses, rain jacket, a warmer layer, rucksack, at least a litre of water, a snack, cash for mountain huts/transport and your Zillertal Activcard if you purchased one. You may find walking poles useful.</p>
<p><em>Early booking is strongly recommended as spaces are limited. All walks are subject to availability of local guides, weather conditions and maximum numbers. Planned routes are subject to change. Any distances and ascents/descents stated are approximate. Full details of the walks with the meeting points and routes will be provided to you on arrival. In some instances there may be a small charge for local transport that is payable locally. In resorts where the walks run over more than two days, the day of the walk will be allocated to you by your Rep in your welcome meeting. Where we cannot confirm your preferred option in resort, we will endeavour to offer an alternative subject to the above conditions.</em></p>
<p><em>Please ensure you are comfortable with the grade of walk, planned distance covered and terrain before booking. The decision of the guide on the suitability of the walk for you is final and no compensation will be paid where the guide believes, in their professional opinion, that it is not suitable. Please ensure you are well-equipped for the walk have suitable clothing and footwear. Walks are not recommended for guests under 12 years. Any guests under 18 years will need to be accompanied by an adult.</em></p>]]></guidedWalks>
  <guidedWalksTitle><![CDATA[Inghams Guided Walks in Mayrhofen]]></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems><![CDATA[[
  {
    "key": "5f760ac7-4ee6-4550-b7d7-432cbbcf26a1",
    "name": "Item 1",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/e0b11dcbc4074640853f2b5eaea86ea0",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/02cab7f76bca4f6f88c4ac82f79ab9b6\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Traditional Austrian Food\",\r\n    \"linkTitle\": \"Traditional Austrian Food\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>From world-renowned Wiener Schnitzel to sweet Kaiserschmarrn, our guide will lead you through Austria's diverse culinary landscape.</p>"
  },
  {
    "key": "a9850c35-3cb9-4503-9da2-b05892b94592",
    "name": "Item 2",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/6f8f00799b414638857811291353ec13",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Walking in Austria\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/3d69090ac5714abb914063b47d753d06\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Walking in Austria\",\r\n    \"linkTitle\": \"Walking in Austria\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>We've handpicked the best walking routes in Austria, each promising its own unique charm and unforgettable experiences.</p>"
  }
]]]></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold; text-align: center;">Good to know</p>
<p><strong>Walking trails:</strong> 1,400km of walking trails and easy access to neighbouring valleys and lifts</p>
<p><strong>Terrain:</strong> Diverse terrain from flat valley floors to towering 3,000m peaks of the Zillertal Alps</p>
<p><strong>Best time to go:</strong> Summer holidays in Mayrhofen start from the end of May to the start of October.</p>
<p><strong>Best for: </strong>Walkers of all abilities, families, nature, activities</p>
<p><strong>Fly into:</strong> Innsbruck (approx. 2 hours)</p>
<p><strong>Transfer time:</strong> approx. 1 hour 30 mins by coach</p>
<p><strong>24/7 Support and advice: </strong>In person or over the phone from our local resort team based in Mayrhofen</p>
<p><strong>Inghams Guided Walks included</strong></p>]]></insidersGuide>
  <insidersGuidesButton><![CDATA[[
  {
    "name": "Inspire Me",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/889518d3ce0e4393bd297a6f4b894e66",
    "externalLink": "",
    "linkName": "Inspire Me",
    "linkTitle": "Inspire Me",
    "linkTitleColor": ""
  }
]]]></insidersGuidesButton>
  <insidersGuidesContent><![CDATA[<p><span class="first-token">Dreaming of Alpine peaks and strudel?</span><span> Check out our expert travel advice and gather inspiration for your next Austrian adventure.</span></p>]]></insidersGuidesContent>
  <insidersGuidesTitle><![CDATA[Discover Austria]]></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[German/English]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[47.167067]]></latitude>
  <listingDescription><![CDATA[<p>Explore the valleys of the Zillertal and hike amongst giant 3,000 metre peaks on your summer holiday to Mayrhofen. Wander through pretty valley villages and along the banks of reservoirs, or head up high and enjoy the view with a fantastic lift network.</p>
<p><strong>Best for:</strong> challenging, moderate and easy walks; family holidays; solo travellers</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/f088f422b70248f4a451e298cdb4db28]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[11.862428]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Walking holidays done differently. Discover the best hiking trails and mountain activities in Mayrhofen, Austria. With no fixed itinerary, you can do as much or little as you want.]]></metaDescription>
  <metaTitle><![CDATA[Mayrhofen Holidays | Summer Holidays in Mayrhofen 2024/2025 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Mayrhofen]]></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes><![CDATA[<p>The walking in Mayrhofen and the surrounding valleys is so good that every route could be classed as a favourite, but here are just a few routes that we really love:</p>
<h4>Stilluptal</h4>
<ul>
<li>Easy, valley floor walk</li>
<li>No set route length</li>
</ul>
<p>The Stilluptal is the shortest of Mayrhofen's subsidiary valleys and is privately owned with just a few farms and mountain huts. The steep U-shaped valley has waterfalls cascading down the valley sides and the glacier at the end gives the reservoir a bright turquoise colour. The Grüne-Wand-Hütte is at the end of the valley and is the last stop on the private bus. From here you can walk eight kilometres back to the reservoir or use the bus.  </p>
<h4>Penken Panoramaweg</h4>
<ul>
<li>Easy walk</li>
<li>Great for families</li>
<li>8.1km with 331m height gain</li>
<li>The walk takes around two and a half to three hours but it's easy to extend or shorten</li>
</ul>
<p>The clue is in the name for this walk - there are panoramic views in every direction as you wander the gravel tracks that lead from around the top of the Penken and Kombibahn Penken area. See if you can identify the Ahornspitze or Tristner, two striking mountains on the other side of the valley - if you have keen eyes you'll also be able to spot the Stillup Reservoir. Along the route, you'll find lots of activities for families including mountain scooters, adventure playgrounds and the opportunity to walk-on-water inside a giant zorb ball.</p>
<h4>Olperhütte and Friesenberghaus</h4>
<ul>
<li>Moderate to challenging hike</li>
<li>16km with 965m height gain</li>
<li>Expect to take around five to seven hours</li>
<li>Visit the famous Olperer bridge with views over the Schlegeis Reservoir</li>
</ul>
<p>Take the public bus to the Schlegeis Reservoir. Don't get too distracted by the stunning blue waters, you've got a steep climb ahead and it's quite rocky underfoot. Make sure you've packed your camera though, this walk will make your inner photographer very happy. Follow the route markings up to the Olpererhütte where you'll find delicious food - we recommend the Kaiserschmarrn. From the hut, head out past the Olperer bridge (photo stop compulsory) and follow the signs for the Friesenberghaus. Then it's downhill all the way back to the car park for the bus back to Mayrhofen.</p>
<h4>Ahornspitze</h4>
<ul>
<li>Challenging summit hike</li>
<li>12km with 1,016m height gain</li>
<li>Expect to take around five to seven hours</li>
<li>Summit the highest peak near Mayrhofen at 2,970m</li>
</ul>
<p>Starting at the top of the Ahornbahn and heading out past the Edelhütte and onto the summit, this is an out and back hike that will be a fun challenge. There are spectacular views the whole way and it's a bit of a scramble towards the top so sure-footedness and a good head for heights is essential. You'll definitely feel the reward when you get to the top!</p>
<h4>Berlinerhütte and Schwarzsee</h4>
<ul>
<li>Challenging hike</li>
<li>25km with 1,250m height gain</li>
<li>Expect to take around nine to ten hours</li>
<li>Visit the most famous alpine hut in the Zillertal</li>
</ul>
<p>From the Gasthof Breitlahner this hike weaves up the Zemmgrund through pastures and alpine meadows, past waterfalls and remote mountain huts before eventually arriving at the spectacular Berlinerhütte, an architectural masterpiece. You have to go inside, not only to try to food, but to see the unique interior. Head uphill a little further to the Schwarzsee lake where the views are best on the far side. The return walk is back the way you came - if you want to make the route shorter, turn back after lunch in the hut.</p>
<h4>More great walking route inspiration</h4>
<p>You can view lots more recommended routes and view tour maps from <a rel="noopener" href="https://maps.zillertal.at/v2/en/gdi_summer/2d/-1/category/11/47.21280541429848/11.74369812011719/18304/-1/" target="_blank">Zillertal Tourism</a>.</p>]]></popularWalkingRoutes>
  <popularWalkingRoutesTitle><![CDATA[Our favourite walks in Mayrhofen]]></popularWalkingRoutesTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/a37f93c536f14f4bae36e97fa65f9d9a",
    "promotionBannerMobile": "umb://media/a4447356b8af455f91199516a4e92c2f",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Mayrhofen Latest Deals\",\r\n    \"udi\": \"umb://document/ed6a7f99b73d494099a1efe3f5d4e6c4\"\r\n  }\r\n]",
    "promotionStartDate": "2022-06-14T00:00:00",
    "promotionEndDate": "2022-06-05T00:00:00"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/e5078da0426645fe80102b2343a5ae00",
    "promotionBannerMobile": "umb://media/8cb7375d3c434f77b027914b13d5c12e",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Mayrhofen\",\r\n    \"udi\": \"umb://document/ed6a7f99b73d494099a1efe3f5d4e6c4\"\r\n  }\r\n]",
    "promotionStartDate": "2023-03-01T00:00:00",
    "promotionEndDate": "2023-03-27T00:00:00"
  }
]]]></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline><![CDATA[Hotels in Mayrhofen]]></resortAccomodationTagline>
  <resortCode><![CDATA[ATMA]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs>1</showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide>1</showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps>0</showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking>1</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions><![CDATA[Zillertal Activcard (buy locally)]]></subTabTitleExcursions>
  <subTabTitleExperienceMore><![CDATA[Mayrhofen excursions]]></subTabTitleExperienceMore>
  <subTabTitleFestivals><![CDATA[Family activities in Mayrhofen]]></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo><![CDATA[Things to do in Mayrhofen]]></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking><![CDATA[Walking in and around Mayrhofen]]></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions><![CDATA[Cards & Passes]]></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Create your own outdoor adventure and explore the expanse of the Zillertal on a summer holiday in Mayrhofen]]></tagline>
  <thingsToDo><![CDATA[<h2>Things to do in Mayrhofen</h2>
<h3>Lively village life</h3>
<p>There's always fun to be found on a summer holiday in Mayrhofen, whether it's a brass band concert, a traditional Zillertal band playing at the dairy or a sports match on TV at Mike's Sportsbar. Festivals like the Village Festival in Hollenzen (15th September 2024) are worth a visit for a glimpse into local Zillertal traditions and values - it usually revolves around food, schnapps and a good time.</p>
<h3>Exciting water adventures in and around Mayrhofen</h3>
<p>Get kitted out with a wetsuit and boots and hit the water on a family rafting adventure on the River Ziller, or try out river-tubing. Our favourite river adventure is canyoning. Explore than Zemmgrund canyon from within, abseil waterfalls, jump into pools and slide down the rocks - teenagers will love this action-packed activity.</p>
<h3>Test out your climbing skills on a via ferrata</h3>
<p>Our favourite is the via ferrata to the Zimmereben. There are different routes to suit all ability levels and some are a real challenge. You'll be rewarded with incredible views on your climb and you can tuck into a strudel and a coffee or beer at the hut when you reach the top. If the Zimmereben routes whet your appetite and you're keen for more, the route on the Gerlosteinwand is longer and lots of fun, with equally spectacular views - remember to take your own treats for the top though.</p>
<h3>Discover thrilling bike trails for the very best views of Mayrhofen</h3>
<p>Hop on a bike in the Zillertal and you're in for a treat - cycling in the area is second to none. Hire an e-bike and ride up into the Stilluptal to enjoy this picture-perfect private valley, or head to the more challenging single-track trails for some adrenaline-packed downhill action. With 1,300 kilometres of trails, there's something to delight all bike enthusiasts.</p>
<h3>Outdoor pools and bathing lakes</h3>
<p>Water enthusiasts of all ages will love the Zillertal with its six outdoor pools and adventure bathing lakes throughout the mountains. Slides and splash pools at the Mayrhofen and nearby Hippach pools will delight families with young children, as will the Ahornsee bathing lake at the top of the Ahornbahn lift. There's plenty of space to splash and play or relax and take in the view.</p>
<h3>Visit Hintertux Glacier</h3>
<p>At 3,250 metres this is the highest point you can get to on the lifts and, as you can imagine, the views are amazing from up here. The Nature's Ice Palace is a fascinating day out, exploring the depths of the Hintertux Glacier from within the ice where you'll find sparkling ice crystals, stalactites and even a glacial lake.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<h3>Summer 2022</h3>
<div style="overflow-x: auto;">
<div style="display: flex; align-items: center;">
<table border="0">
<tbody>
<tr>
<th>Flying from/to:</th>
<th>Innsbruck</th>
</tr>
<tr>
<td style="text-align: left;">Birmingham</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday</td>
</tr>
<tr>
<td style="text-align: left;">Bristol</td>
</tr>
<tr>
<td style="text-align: left;">Gatwick</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday/Wednesday</td>
</tr>
<tr>
<td style="text-align: left;">Manchester</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>Innsbruck transfer approx. 1hr 30 by coach.</p>
<div style="overflow-x: auto;">
<div style="display: flex; align-items: center;">
<table border="0">
<tbody>
<tr>
<th>Flying from/to:</th>
<th>Salzburg</th>
</tr>
<tr>
<td style="text-align: left;">Glasgow</td>
<td rowspan="3" style="vertical-align: middle; text-align: left;">Saturday</td>
</tr>
<tr>
<td style="text-align: left;">Newcastle</td>
</tr>
<tr>
<td style="text-align: left;">Stansted</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>Salzburg transfer approx. 3hr by coach.</p>
<p>Self drive is available.</p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation><![CDATA[<h4>Recommended equipment</h4>
<p>Comfy walking boots, sun cream, insect repellent, waterproofs, rucksacks and walking poles are useful for hiking around Mayrhofen and the Zillertal. There are plenty of places in Mayrhofen to buy walking equipment or the <a data-udi="umb://document/0e3acebd773c41129a5137bcda17e19c" href="/{localLink:umb://document/0e3acebd773c41129a5137bcda17e19c}" title="Alpenhotel Kramerwirt">Hotel Kramerwirt</a> offers guests staying there rucksacks and walking poles to borrow.</p>
<h4>Walking maps</h4>
<p>We recommend Kompass Map 37 or Mayr Map 310 for the Zillertal, which have a scale of 1:25,000 or 1:50,000. The maps show the walking routes which are numbered and match the yellow signposts around the area. They will have a key which will help you understand the nature of the hiking trail before you set out on your walk.</p>
<h4>Walking guidelines</h4>
<p>The mountains are a natural paradise, with lots to explore and discover. To help it stay that way, and remain an enjoyable and safe place for everyone, we recommend following our little list of do's and don'ts:</p>
<ul>
<li>Plan your route well and don't overestimate yourself</li>
<li>Check the weather forecast</li>
<li>Tell someone where you're planning to walk and what time you're expecting to be back</li>
<li>Take all the recommended equipment</li>
<li>Make a note of emergency numbers:
<ul>
<li>Austrian Emergency Services: 112</li>
<li>Mountain Rescue: 140</li>
</ul>
</li>
<li>Don't leave the marked trails or go onto a glacier without a guide</li>
<li>Let nature stay wild by not picking alpine flowers (it's illegal in some places) or getting close to/making contact with wild animals</li>
<li>Always leave gates as you found them</li>
<li>Leave no trace</li>
</ul>]]></usefulInformation>
  <usefulInformationTitle><![CDATA[Useful information & guidelines]]></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription><![CDATA[<p>On an Inghams walking holiday, you have the freedom to explore the area at your own pace. Each day, a new adventure, with as much or as little walking as you like.</p>
<h4>Why we love walking holidays in Mayrhofen</h4>
<p>With over 1,400 kilometres of marked walking trails in the area that cater to all abilities, there is so much to explore. You can walk to bucket-list viewpoints, or take a leisurely stroll to a gourmet mountain hut for lunch with a view, make memories with the family or take on an athletic challenge in nature.</p>
<p>Our favourite thing about walking in Mayrhofen is definitely the views. The four valleys that branch away from the Zillertal are all stunning in their own right, from dazzling mountain reservoirs to the Hintertux Glacier, each valley is worth exploring, and the vastness of the area will keep you coming back year after year.</p>
<h4>Guided walks</h4>
<p>Don't forget, you have the option to join two included Inghams guided walks per week, with a local, professional guide. Get to know our favourite walking trails with insider knowledge and the company of other guests. Pre-booking is essential - scroll down for more information.</p>]]></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>