<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="ff55ca5d-d8af-49a8-b6e1-6db9d0309101" id="24167" nodeName="What to pack for skiing" isDoc="" updated="2019-07-05T17:20:19.9430000Z" parentGUID="6d336d62-7fb3-4bec-960e-3b7bc041f7e1" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="8" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="white_box_shadow"><img src="/media/13050660/cover.jpg" alt="Cover" rel="840,401" />
<p>Nothing beats escaping the winter blues back home like jetting off to colder climes, where the snow is welcome and your only dilemma is which slope to hit. However, packing for a ski trip can be a bit of a challenge, especially if your trip involves a flight. With only 15-23kg of luggage allowance to play with, you need to be scarce and pack your suitcase with ninja-like precision. </p>
Before you jet off, it’s important to make sure that you’ve informed your bank that you’re travelling abroad, and you’ve checked out the overseas rates with your mobile phone provider (and perhaps turn off data roaming if you don’t fancy racking up charges). Make sure that there are no liquids (including cosmetics, foodstuffs, drinks and other) in your hand luggage over 100ml as well, for these will be confiscated with most airlines. Pack all bigger items carefully into your suitcase, and wear your ski jacket (make sure the pockets are empty for the flight) and every day walking boots on the plane with you to save space.
<p>Casual attire is best kept to a minimum; pack your favourite jeans, some comfortable lounge clothing, a couple of t-shirts and shirts for those après ski sessions, but leave the sparkly camisoles and smart jackets at home for this trip. This will leave you plenty of room to pack the items that matter the most... but we’ll get to that in a moment!</p>
So with all of this in mind, let’s start packing!
<p> </p>
</div>
<p> </p>
<div class="white_box_shadow">
<p id="1" style="font-size: 16px; font-weight: bold; font-style: italic; color: #023761;"><span id="1" style="font-size: 18px; font-weight: bold; font-style: italic; color: #023761;">For your backpack/handbag</span></p>
<ul>
<li>Passport</li>
<li>Photocopy of passport</li>
<li>Boarding pass and tickets</li>
<li>Hotel reservation print off</li>
<li>Itinerary</li>
<li>Documents for lift pass/ equipment if pre-paid</li>
<li>Currency and travellers cheques</li>
<li>Insurance documents</li>
<li>EHIC form (for EU countries only)</li>
<li>Essential numbers/ addresses</li>
<li>Debit/ credit cards</li>
<li>Mobile phone</li>
<li>Mobile phone charger</li>
<li>GoPro camera (and accessories)</li>
<li>Spare memory card</li>
<li>Plug adaptor(s)</li>
<li>A good book</li>
</ul>
<p> </p>
</div>
<p> </p>
<div class="white_box_shadow"><img src="/media/13050667/skis.jpg" alt="Skis" rel="840,401" />
<p id="1" style="font-size: 16px; font-weight: bold; font-style: italic; color: #023761;"><span id="1" style="font-size: 18px; font-weight: bold; font-style: italic; color: #023761;">Gear/ Equipment</span></p>
<p>If you’re a beginner skier, we do not recommend that you purchase your own equipment. You can rent equipment in the resort for a fraction of the price of buying a brand new set, and it lifts the hassle of transporting your own equipment to and from the resort. But, if you already have your own gear then you might want to consider the following:</p>
<ul>
<li>Skis</li>
<li>Ski poles</li>
<li>Ski boots</li>
<li>Ski skins (if you are going backcountry skiing)</li>
<li>Ski holder strap</li>
</ul>
<p>-or-</p>
<ul>
<li>Snowboard</li>
<li>Snowboard boots</li>
</ul>
<p> </p>
<p>If you’re an avid skier/ snowboarder you might want to consider the following...</p>
<ul>
<li>Walkie-talkies</li>
<li>Camelback </li>
<li>Back protector</li>
<li>Tuning tools (screwdriver, wax, metal file etc.) </li>
<li>Avalanche kit (if you are going off-piste) (transceivers, shovel, probe, ABS pack)</li>
</ul>
<p> </p>
</div>
<p> </p>
<div class="white_box_shadow"><img src="/media/13050664/goggles.jpg" alt="Goggles" rel="840,401" />
<p id="1" style="font-size: 16px; font-weight: bold; font-style: italic; color: #023761;"><span id="1" style="font-size: 18px; font-weight: bold; font-style: italic; color: #023761;">Ski clothing and accessories</span></p>
<p>You can read all about the fundamentals of dressing for cold weather with our handy <a data-udi="umb://document/58e77a234056413da253b6cdafad6660" href="/{localLink:umb://document/58e77a234056413da253b6cdafad6660}" title="What to wear for skiing">Quick Guide: What to wear for skiing</a>.</p>
<ul>
<li>Helmet (unless you’ve opted to rent one)</li>
<li>Ski gloves</li>
<li>Ski jacket</li>
<li>Ski trousers (aka salopettes)</li>
<li>Fleece</li>
<li>Thermal tops</li>
<li>Thermal underwear</li>
<li>T-shirts (ideally cotton t-shirts to wear between your thermal layers and fleece)</li>
<li>Ski socks</li>
<li>Neck warmer</li>
<li>Sunglasses</li>
</ul>
<p> </p>
</div>
<p> </p>
<div class="white_box_shadow"><img src="/media/13050666/shirts.jpg" alt="Shirts" rel="840,401" />
<p id="1" style="font-size: 16px; font-weight: bold; font-style: italic; color: #023761;"><span id="1" style="font-size: 18px; font-weight: bold; font-style: italic; color: #023761;">Casual clothing and accessories</span></p>
<ul>
<li>Jeans</li>
<li>T-shirts</li>
<li>Shirts/blouses</li>
<li>Jumpers and hoodies</li>
<li>Underwear</li>
<li>Socks (several pairs of these, you will want to wear a pair under your thermal ski socks too!)</li>
<li>Gloves</li>
<li>Scarves</li>
<li>Hat/ beanie/ headband</li>
<li>Swimming costume/ swimming trunks (if your chalet has a hot tub!)</li>
<li>Pyjamas</li>
</ul>
<p> </p>
</div>
<p> </p>
<div class="white_box_shadow"><img src="/media/13050669/toiletries.jpg" alt="Toiletries" rel="840,401" />
<p id="1" style="font-size: 16px; font-weight: bold; font-style: italic; color: #023761;"><span id="1" style="font-size: 18px; font-weight: bold; font-style: italic; color: #023761;">Cosmetics and toiletries</span></p>
<ul>
<li>High factor sun cream</li>
<li>Lip balm</li>
<li>After sun moisturiser/ lotion</li>
<li>Shower gel/soap</li>
<li>Shampoo and conditioner</li>
<li>Tooth brush and tooth paste</li>
<li>Contact lense solution</li>
<li>Plasters</li>
<li>General personal First Aid kit (pain killers/ allergy tablets/ Savlon/ Deep Heat rub/ multivitamins/ )</li>
<li>Deodorant</li>
<li>Make-up</li>
<li>Razor</li>
</ul>
<p> </p>
</div>
<p> </p>
<div class="white_box_shadow">
<p id="1" style="font-size: 16px; font-weight: bold; font-style: italic; color: #023761;"><span id="1" style="font-size: 18px; font-weight: bold; font-style: italic; color: #023761;">For your pockets</span></p>
<p>You might do a double take as you read this, but thanks to the modern day ski jacket, we can all now carry with us plenty of necessary items around the mountain during the day without the worry of a handbag or back pack! Before your first day of skiing pack your pockets carefully (do not carry these items in your pockets as you board the plane)- certain valuables are best left in the hotel safe, and there are one or two items that you might overlook, but would dramatically impact on your enjoyment of the trip.</p>
<ul>
<li>Piste/trail map</li>
<li>Fully charged mobile phone (keep this in the zip-up pocket)</li>
<li>Small tube of high-factor sun cream</li>
<li>Lip balm</li>
<li>1 side of A4 paper with insurance details printed on (have two copies just in case- fold down and keep in a dry pocket)</li>
<li>Tissues</li>
<li>Cash (no more than 30€ is advisable for one person per day)</li>
<li>Bank card (keep this in the zip-up pocket)</li>
<li>Identity (preferably not your passport)</li>
<li>Glasses/ ski goggle lense wipe</li>
<li>Lift pass (most ski jackets these days have a custom pocket hidden in the sleeves so you can use the magnetic chip within the lift pass card to ‘swipe’ on the ski lift barriers through your clothes)</li>
<li>Snacks (nothing warms the belly like a piece of chocolate on the ski lift!)</li>
</ul>
<p> </p>
</div>
<p> </p>
<div class="white_box_shadow"><img src="/media/13050665/helmets.jpg" alt="Helmets" rel="840,401" />
<p id="1" style="font-size: 16px; font-weight: bold; font-style: italic; color: #023761;"><span id="1" style="font-size: 18px; font-weight: bold; font-style: italic; color: #023761;">Super handy packing tips:</span></p>
<p>Last, but not the least, with all of the above laid out before you, you might suddenly realise that getting it into one case might lead to a bit of head scratching and humm-ing! You don't need to be a master Tetris expert to niftily pack lots of things into a small space, so here is some handy packing advice... </p>
<p class="geolocation-title">1. Roll your clothes up.</p>
<p>Lay all of your light items of clothes on top of each other and roll them into a bundle rather than folding them and you will quickly realise that they take up much less space in your suitcase and they stay relatively crinkle-free for the journey.</p>
<p class="geolocation-title">2. Put fragile items in your helmet</p>
<p>If you’re sensibly bringing your own helmet, then take the opportunity to pop your goggles, camera, and other fragile items into it before packing it into the suitcase.</p>
<p><span class="geolocation-title">3. Carry plastic bags</span> </p>
<p>Whether it’s on the outward journey, or the home bound one- at some point, you may realise that certain items in your suitcase might need waterproofing. You will definitely want to wrap up your shampoo bottles and other toiletries to prevent the worst happening en route, but you might also want to keep any soggy items from your last day of skiing separate from the clean, dry items.</p>
<p><span class="geolocation-title">4. Don’t worry about the ‘just in case’ things.</span> </p>
<p>Space will be scarce in your suitcase, so leave your going out shoes at home (you probably won't get a chance to wear them anyway- nothing will beat the comfort of your waterproof walking boots!), and if you’re not going out every night, you will favour your comfortable clothes over tight skinny jeans at the end of the day.</p>
<p><span class="geolocation-title">5. But remember plenty of socks and underwear!</span> </p>
<p>You’ll be exercising during the day so the chances of your feet getting a bit sweaty are quite high! Pack a few pairs of comfortable, breathable socks and wear these under your thermal, wicking ski socks. Change these socks every day and your feet will stay fresh and comfortable (and you won't stink out the chalet while drying to dry them on the radiator!).</p>
<p> </p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[With only 15-23kg of luggage allowance to play with, you need to be scarce and pack your suitcase with ninja-like precision.]]></metaDescription>
  <metaTitle><![CDATA[What to Pack for Skiing | Insider Guides | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Quick Guide: What to pack for skiing ]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/058e8b2944de4e1a8849a452722087dd]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>