<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="10a426b6-9047-4738-9ec4-4f38cf697934" id="65329" nodeName="Walking holidays by train" isDoc="" updated="2024-11-25T14:00:29.7370000Z" parentGUID="9ccf4d09-6687-4637-9a21-9a2e315011b4" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="0" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h2>Holiday by train to the great outdoors</h2>
<p><span>From tracks to trails, step off and step into Europe's great outdoors with our holidays by rail.</span></p>
<p><img src="/media/13108595/swiss-rail-3.jpg" alt="holidays by train" data-udi="umb://media/57573c1596614cedba1da98c5648982f" /></p>
<h3>Travel in comfort, book with ease &amp; enjoy flexible travel</h3>
<p>All aboard for your next walking holiday - we've got your ticket to a hassle-free journey.</p>
<p>Forget the queues and waiting, simply hop on, stretch out, and enjoy the scenery. With more legroom, every mile covered is a relaxing experience. And with panoramic views right at your seat, your holiday experience begins the moment you board.</p>
<p>It's full steam ahead to scenic views and memorable trails. <span>This is travel in its truest form - no complications, just you and the boundless beauty of the great outdoors.</span></p>
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow">
<h2 style="text-align: center;">How to book</h2>
<div class="c-card__content">
<p style="text-align: center;">To book your holiday by train, select 'London St Pancras' from the departure field within our search bar above, or if you'd prefer to speak to a member of our team, simply give us a call.</p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a>   <a data-udi="umb://document/a9115a2739cb46c78aadd0f622ae84e9" href="/{localLink:umb://document/a9115a2739cb46c78aadd0f622ae84e9}" title="From London St. Pancras" class="InfinityNumber c-btn">All train travel deals</a></p>
</div>
</div>
<p> </p>
<h2 style="text-align: center;">Our walking holidays by rail</h2>
<p style="text-align: center;">Next stop? A walking holiday of a lifetime. Experience an effortless journey when you travel by train to these popular destinations and resorts.</p>
<p style="text-align: center;"><a href="#italy" data-anchor="#italy">Italy</a> | <a href="#switzerland" data-anchor="#switzerland">Switzerland</a> | <a href="#austria" data-anchor="#austria">Austria</a> | <a href="#france" data-anchor="#france">France</a></p>
<p style="text-align: center;"> </p>
<div class="row">
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2 id="italy" style="text-align: centre;">Italy</h2>
<div class="c-card__content">
<p><img src="/media/13100434/bellagio_ferry_point.jpg" alt="holiday by train" data-udi="umb://media/af1a6176bdd34f258f59f21597ca1334" /></p>
<div class="c-card__content">
<p><span>Getting to <a data-udi="umb://document/d3611d3782e0494ead59e534458bcdd6" href="/{localLink:umb://document/d3611d3782e0494ead59e534458bcdd6}" title="Bellagio">Bellagio</a>, <a data-udi="umb://document/164b7f39f6d74033a2991f5799ebdfa7" href="/{localLink:umb://document/164b7f39f6d74033a2991f5799ebdfa7}" title="Lenno">Lenno</a>, <a data-udi="umb://document/44b05c95e1264c56b51016621b99f80b" href="/{localLink:umb://document/44b05c95e1264c56b51016621b99f80b}" title="Stresa">Stresa</a>, <a data-udi="umb://document/40af41087b6c40cd950bbe672939b005" href="/{localLink:umb://document/40af41087b6c40cd950bbe672939b005}" title="Baveno">Baveno</a> and <a data-udi="umb://document/80beb49bbb7f416ba46131e7c79367b5" href="/{localLink:umb://document/80beb49bbb7f416ba46131e7c79367b5}" title="Menaggio">Menaggio</a>, by train isn't just travel - it's a front row seat to Italy's rolling landscapes and outstanding natural beauty.</span></p>
</div>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/e54c8a308333481cb8a7e3889e192001" href="/{localLink:umb://document/e54c8a308333481cb8a7e3889e192001}" title="Italy walking holidays by rail" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Find Out More</a></div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2 id="switzerland" style="text-align: centre;">Switzerland</h2>
<div class="c-card__header"><img src="/media/13100456/lake-lucerne-weggis-2.jpg?width=364&amp;height=196&amp;mode=max" alt="holiday by rail" width="364" height="196" data-udi="umb://media/5438b0f54e3d4f308d069d1f6bbe040e" /></div>
<div class="c-card__content">
<p><span>Take the train to Switzerland resorts like <a data-udi="umb://document/0fe9200934b24cd49d20e1cea080f5da" href="/{localLink:umb://document/0fe9200934b24cd49d20e1cea080f5da}" title="Grindelwald">Grindelwald</a>, <a data-udi="umb://document/7456bae57241449a84a68959b62b2aba" href="/{localLink:umb://document/7456bae57241449a84a68959b62b2aba}" title="Interlaken">Interlaken</a>, and <a data-udi="umb://document/56819e7662924ccf91baa56999b5cbef" href="/{localLink:umb://document/56819e7662924ccf91baa56999b5cbef}" title="Lucerne">Lucerne</a>, enjoying breathtaking views. </span></p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/3164d1a0160c426f8c41e35a0f42804d" href="/{localLink:umb://document/3164d1a0160c426f8c41e35a0f42804d}" title="Switzerland walking holidays by rail" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Find Out More</a></div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2 id="austria" style="text-align: centre;">Austria</h2>
<div class="c-card__content">
<p><img src="/media/13100440/adobestock_113491790.jpg" alt="travel to austria by train" data-udi="umb://media/bfb86ab740cc463ea080dc4fc7d248c0" /></p>
<p>Take the train to <a data-udi="umb://document/7f056630899e45e8b8e0eef21334f8ef" href="/{localLink:umb://document/7f056630899e45e8b8e0eef21334f8ef}" title="St. Anton">St Anton</a> and be captivated by its sweeping valleys and charming villages. It's your invitation to sit-back, relax and enjoy the view.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/8dd7db4ffff042fab7580a0653090e46" href="/{localLink:umb://document/8dd7db4ffff042fab7580a0653090e46}" title="Austria walking holidays by rail" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Find Out More</a></div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h2 id="france" style="text-align: centre;">France</h2>
<div class="c-card__content">
<p><img src="/media/13102940/adobestock_242759422-2.jpg" alt="travel to france by train" data-udi="umb://media/0ee96b60fbba48208eb6ebbb9d915ec5" /></p>
<p>Take the train to France and enjoy the scenic ride to the charming resorts of <a data-udi="umb://document/7cb79dd08b1944be915c6b815ba4120d" href="/{localLink:umb://document/7cb79dd08b1944be915c6b815ba4120d}" title="La Clusaz">La Clusaz</a> and <a data-udi="umb://document/59d85c3607bf4fc5a291361000fe9db0" href="/{localLink:umb://document/59d85c3607bf4fc5a291361000fe9db0}" title="Lake Annecy">Lake Annecy</a> It’s a picture-perfect start to your getaway.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/fabf207405a54f4caa33725a208f5f8d" href="/{localLink:umb://document/fabf207405a54f4caa33725a208f5f8d}" title="France walking holidays by rail" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Find Out More</a></div>
</div>
</div>
</div>
<p> </p>
<h2>Be part of the change</h2>
<p><img src="/media/13099193/eurostar-snow-6-838x300.jpg" alt="holiday by rail" data-udi="umb://media/757d05a8878648b6bff47483a20636cc" /></p>
<p>The places you visit as part of your Inghams holiday are special, and it’s our responsibility to keep them that way, long into the future. </p>
<p>To help make your travel as green as the landscapes you’re exploring, we're excited to offer rail travel to 4 of our top walking destinations in Europe.</p>
<p>Swapping the plane for the train can significantly reduce your carbon footprint, plus you get to relax and soak up some stunning landscapes as you go.</p>
<p>Join us in embracing sustainable travel and become part of the change.</p>
<p><a data-udi="umb://document/67e40dbb55ff45098496ea2e7eee1f72" href="/{localLink:umb://document/67e40dbb55ff45098496ea2e7eee1f72}" title="Sustainability" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Follow our sustainability journey</a></p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Travel by rail to your walking holiday and experience a hassle-free journey, flexible luggage allowance and plenty of space to relax.]]></metaDescription>
  <metaTitle><![CDATA[Rail Holidays Europe | Train Holidays | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Holiday by Rail]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Travel by rail to your Inghams walking holiday and experience a hassle-free journey, flexible luggage allowance and plenty of space to relax.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/a63e24200f094160bdf882ef1849db20]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>