<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="1bcc03fa-55a4-4f64-97ad-641e042450ee" id="41499" nodeName="Hotel Beauregard" isDoc="" updated="2024-01-03T16:47:41.5530000Z" parentGUID="7cb79dd0-8b19-44be-915c-6b815ba4120d" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<ul>
<li><span>Adapted rooms are available (on request)</span></li>
</ul>]]></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "73211e0b-1f9a-4833-80e0-d63828df009f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early Booking Offer - Save up to £120 per couple (ends 30 Jan 23) for all departures from 24 Jun to 9 Sept 23",
    "addedValueStart": "2022-08-02T17:02:42",
    "addedValueEnd": "2023-01-30T23:00:00",
    "hideAddedValue": "0"
  },
  {
    "key": "ae174cd2-a03e-44c8-ab2b-1f8c3c6534da",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily packed lunches ",
    "addedValueStart": "2019-10-08T11:27:26",
    "addedValueEnd": "2023-10-31T23:55:55",
    "hideAddedValue": "0"
  },
  {
    "key": "6a9cb786-6b30-43e3-992a-c668a8863fdf",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for stays of 7 nights or more booked before 30 Apr 23 (not combinable with other offers) ",
    "addedValueStart": "2023-03-16T12:24:07",
    "addedValueEnd": "2023-04-29T12:24:11",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/6a2e365c2c6e4e479e5b55fe8aba0e97,umb://media/48f98682d3404fb9bd285c64357e481e,umb://media/8715b73ae6934683aaf675f9b1ee0d46,umb://media/ea9db43a871e48d3b89a8c54bf3ee0ff,umb://media/ed8c09826ccc4b35859bc9f62059f9b6,umb://media/83b8a875d7be42bfae5d037c7fd23a4f,umb://media/e3c5efd14caf4570a4d6f1a297bda47a,umb://media/b51d387c90914bf5ba07c13d65bf40ee,umb://media/6242c6dd356745bd92cc284340b93572,umb://media/81264459944647aabb860d2b4ba691cb]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>For breakfast there is a delicious continental buffet with hot and cold options. You can also enjoy a daily packed lunch which includes a ham or cheese sandwich, yoghurt, small bag of crisps and small bottle of water.</p>
<p>For dinner there is a tasty three-course meal with choice from the à la Carte menu at the hotel's restaurant which is known for its delicious, seasonal dishes and friendly service.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><span>The Hotel Beauregard is in a fantastic location at the foot of the mountains and only a short walk into the centre of </span><a data-udi="umb://document/597c2d8b93354bef8c187c100894c3f9" href="https://www.inghams.co.uk/ski-holidays/ski-resorts/france/la-clusaz" title="La Clusaz">La Clusaz</a> where you'll find all the shops and restaurants. You're also not far from the summer lifts (open during certain dates) - we love exploring the area on foot with some wonderful hiking trails to discover.<span> </span></p>
<h4 style="color: #00533a;">Views across the Valley</h4>
<p><span>The views in La Clusaz will take your breath away with its position in the Aravis Valley you're surrounded by mountains. The best way to enjoy these views is from your hotel room, all rooms offer balcony's so you can make the most of those mountain views. </span></p>
<h4 style="color: #00533a;">Take some time to relax</h4>
<p><span>You can't head to the mountains without enjoying some relaxation time. With a small wellness area on site you can unwind in the sauna or whirlpool, even take a dip in the indoor swimming pool. The lounge area is also a great spot to relax or enjoy an evening aperitif, with cosy armchairs and chalet-style décor. </span></p>
<p><span><strong>Transfer time:</strong> approx. 1 hour 15 mins from Geneva airport.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li><span>Wellness area including heated indoor swimming pool, whirlpool, sauna and relaxation area</span></li>
<li>Lounge with fire place </li>
<li>Sun terrace with mountain views and loungers </li>
<li>Restaurant serving French and European cuisine</li>
<li>Breakfast room service available (at a supplement, payable locally)</li>
<li>Secure bike storage</li>
<li>Bar</li>
<li>Free Wi-Fi</li>
<li>Car parking (€18 per day - pre book and pay locally)</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Cots available on request at a rate of €18 per night, pre-book</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[45.9052565]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>The Hotel Beauregard has a prime position at the foot of the mountains and is a very short walk from La Clusaz centre, with a variety of shops and cafes, making this a great choice for any couple, family or group.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b51d387c90914bf5ba07c13d65bf40ee]]></listingImage>
  <localFees><![CDATA[<ul>
<li>Resort tax of €2.40 per person, per day payable locally (under 18s free of charge)</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>200 metres to the centre of resort</li>
<li>Located at the foot of the mountain</li>
<li><span>Many shops and restaurants are located within walking distance</span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.4313532]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[95 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The Hotel Beauregard is located at the foot of the mountains and is a short distance from La Clusaz centre with a variety of cafes, shops and restaurants. Book with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Beauregard, La Clusaz - France | Inghams Summer]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>95</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCL0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in time 5pm</li>
<li>Check out time 10am</li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>All rooms have twin or double beds (please specify preference when booking), bath with shower head attachment, bathrobes, tea &amp; coffee making facilities, TV, mini-fridge, hairdryer, safe and a balcony with mountain views. </p>
<p><strong>Classic rooms</strong> are approx. 20<span>m²</span> and can sleep 2-3 people. The additional single bed is suitable for a child up to 12 years. This room is also available for sole occupancy on request, at a supplement.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Special dietary requirements are available on request, please advise at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[314158]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>