<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelListing guid="d2cbbde3-8d47-4665-a86d-3d65dfe2ece6" id="42150" nodeName="Featured Panel" isDoc="" updated="2023-04-17T19:15:34.1500000Z" parentGUID="731184fa-7b97-42f0-a969-771e90773289" nodeTypeAlias="productFeaturePanelListing" templateAlias="" sortOrder="34" published="true" isBlueprint="false">
  <componentTitle><![CDATA[Experience our tours and multi centre holidays]]></componentTitle>
</productFeaturePanelListing>