<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="46aff986-3221-4737-96f2-49552172e49f" id="22184" nodeName="Hotel Billroth" isDoc="" updated="2022-01-26T12:52:44.9930000Z" parentGUID="95ff1fe2-e712-4275-9843-cc1f6b11ccdc" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Too far out of the town, built on a hillside running from a high road to the lake.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Varied buffet breakfast</li>
<li>4-course dinner with choice of main dish including vegetarian option</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Providing one of the best views of the lake from the terrace, this stylish former Imperial Villa retains its original grandeur and much of its original antique furniture. Set admidst its own extensive gardens which lead down to a private lakeside lido, the Billroth's historic character is lovingly preserved and the heart of St Gilgen is 15 minutes' walk away, along the lake.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities><![CDATA[umb://document/d5db5aaf3bbf4af08dbd82ca5f8c6e57,umb://document/84c75c7aca8b4054874c29d25dde5dbc,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/0ed86260858943e4a9c058d4e64b6b1b,umb://document/f58fe9fcad7048ec8dce2dd49261db83,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/e1d8fc456f7f40bcbaf1c8a70429a8f9]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Comfortable mahogany-panelled lounge containing paintings and family antiques</li>
<li>Cosy bar</li>
<li>Tastefully furnished residents' and à la carte restaurants with views</li>
<li>Table tennis</li>
<li>Large terrace and gardens with stunning views of the lake and surrounding mountains</li>
<li>Private lido and bathing deck with sunloungers</li>
<li>Sauna and steam room</li>
<li>Free use of tennis court</li>
<li><strong>Free</strong> Wi-Fi</li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>6</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Early Booking Offer: Save up to £240 per couple</strong> for Summer 2019 departures - whilst stocks last! (Prices include flights, transfers, the relevant nights' accommodation and meals as indicated. Prices shown online are after deducting any applicable Early Booking Offer)</li>
<li><strong>Free</strong> daily packed lunch</li>
<li>Welcome drink</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[47.771468]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Providing one of the best views of the lake from the terrace, this stylish former Imperial Villa retains its original grandeur and much of its original antique furniture.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/d257ad7f34844f4ba8ee88c7b7ec5f6a]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[13.370819]]></longitude>
  <lunch><![CDATA[<p>Buffet</p>]]></lunch>
  <maxPeopleSleepingText><![CDATA[50 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Billroth, St. Gilgen in The Salzkammergut, Book Summer Lakes & Mountains Holidays with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Billroth St. Gilgen - Austria - Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>50</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATGI0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Superior Austrian twins with shower and balcony have mountain view, those with bath have balcony and partial or full lake view</li>
<li>Singles with shower are available on request</li>
<li>All rooms have cable TV, safe, telephone, radio and hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>5</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/95ff1fe2e71242759843cc1f6b11ccdc]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>