<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="9b1716e4-e5c4-43a4-ac01-26d87aa77d33" id="60806" nodeName="Best ski resorts for intermediates" isDoc="" updated="2024-12-10T11:24:13.3500000Z" parentGUID="9cda25a1-77d6-49ab-a8cd-8d73a1d9c82e" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="9" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>You often hear about the best resorts for when you are new to skiing or if you are at an advanced level. However, our guide helps advise you on where to visit if you are at a good, intermediate level.</p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/e97194a6b32d4f5f8cb3abf4aff379ad]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[Where to ski as you improve]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[ski]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Best intermediate ski resorts",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/ff0b58c00a714f769494f987108454f5",
    "externalLink": "",
    "linkName": "Best intermediate ski resorts",
    "linkTitle": "Best intermediate ski resorts"
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>