<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="5d046f91-4c8b-495a-a666-ae323b066688" id="62316" nodeName="Skiing in Lapland, Finland" isDoc="" updated="2024-02-15T14:44:44.7270000Z" parentGUID="a0c9b207-560c-40c8-b8b1-df7a27f801ff" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>With an average of 200 days of fresh snowfall each year between November and May, Finland ski holidays have some of the best snow-sure resorts due to their location in the Arctic Circle.</p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/68fd0f38f2244e0883c94314b41a71a5]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[Once in a life time]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[lapland]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Skiing in Lapland",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/5c4dcb32caa44c5096ed1fc9494f0b29",
    "externalLink": "",
    "linkName": "Skiing in Lapland",
    "linkTitle": "Skiing in Lapland"
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>