<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="4586c7cf-64f7-4bbd-ba8f-a8f226a957d6" id="55693" nodeName="Lake Garda" isDoc="" updated="2024-12-03T11:55:51.1030000Z" parentGUID="2146c02a-a336-4cbe-b1c0-ef9561bc4426" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="9" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy></departurePointSortBy>
  <departurePointSortOrder></departurePointSortOrder>
  <description><![CDATA[Get ready to embark on a Inghams Walking holiday to Lake Garda in 2025 and embrace the beauty of the great outdoors. Travel, transfers and accommodation included. Book your holiday with no deposit when you choose to pay monthly with our new direct debit option. T&Cs apply.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Book your Lake Garda walking holiday for summer 2025 with Inghams. Embrace the beauty of the great outdoors and secure your perfect holiday package to Lake Garda.]]></metaDescription>
  <metaTitle><![CDATA[Lake Garda Walking Holidays 2025 | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SUMMER-2023-LAKE-GARDA",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-SUMMER-2023-LAKE-GARDA",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Lake Garda 2025 Walking Deals]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Looking to explore Lake Garda in 2025?]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p><span>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</span></p>]]></zeroResultsText>
</offersPage>