<?xml version="1.0" encoding="utf-8"?>
<reskinProductResortItem guid="8e5ca352-5ee9-4b24-90fb-ba972cf7a8e2" id="60791" nodeName="Saas Fee, Switzerland" isDoc="" updated="2024-02-29T13:23:03.7500000Z" parentGUID="81d70fd9-fd30-4db8-8857-f8bbbb9e6660" nodeTypeAlias="reskinProductResortItem" templateAlias="" sortOrder="3" published="true" isBlueprint="false">
  <resortDescription><![CDATA[<p><span>Picturesque, high-altitude village full of traditional Swiss charm.<br /></span></p>]]></resortDescription>
  <resortImage><![CDATA[umb://media/7bfabfbc05fe402d916147cee7dcdd86]]></resortImage>
  <resortLocation><![CDATA[umb://document/04c9e86c18f042f1832f37efeaeefcad]]></resortLocation>
  <resortMicroCardTitle><![CDATA[High-altitude skiing]]></resortMicroCardTitle>
  <resortName><![CDATA[[
  {
    "name": "Val Thorens",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/f1003f9fd15e4187b02398fa5c12dc50",
    "externalLink": "",
    "linkName": "Saas Fee",
    "linkTitle": "Saas Fee",
    "linkTitleColor": ""
  }
]]]></resortName>
</reskinProductResortItem>