<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="cffe2667-9660-4c0b-afe4-80490de7b519" id="22215" nodeName="Adler Spa Resort Dolomiti" isDoc="" updated="2024-12-10T10:55:45.8530000Z" parentGUID="a7a8ad52-3380-4c39-b1e0-2e8dd02cc1fc" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="4" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>The hotel is at the top of a pedestrianised street and accessing it involves walking up an incline. </p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "1d07170c-3e2e-4087-82af-900add318e63",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of e-bikes all season with free guided e-bike tours offered from Mon-Sat",
    "addedValueStart": "2019-11-18T13:48:43",
    "addedValueEnd": "2024-10-22T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "ce5a5e32-1a25-42f4-b2d9-735f73de9192",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free hotel guided walks six times a week",
    "addedValueStart": "2022-01-05T10:13:38",
    "addedValueEnd": "2024-10-22T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "f6e0bfe7-cf34-4a4b-9b37-6101ba8c2817",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free Nordic walking 2 or 3 times a week",
    "addedValueStart": "2019-11-18T13:52:02",
    "addedValueEnd": "2024-10-22T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "7454792f-392d-4902-b5ad-d5b68fdc45fc",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free Mobil Card with free use of local & Alto Adige public transport",
    "addedValueStart": "2019-11-18T13:53:45",
    "addedValueEnd": "2024-10-22T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "598d0461-5c1e-4bdd-82fb-5a7d8c92b2e6",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "€50 (min 4 night stay) or €100 (min 8 night stay) free spa credit per person redeemable against spa treatments & massages booked locally ",
    "addedValueStart": "2022-01-05T10:16:25",
    "addedValueEnd": "2024-10-22T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>3</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/cd27ce96fe9d47b082514a9321ab6d1c,umb://media/b74cc141728d4ab58ab7a30a3d5c670c,umb://media/ac57dd076ea74786a6c868fa63acef86,umb://media/2af902e635ca4a8790b44041a76620f5,umb://media/76b1151da418482a8f956eea36daf4e4,umb://media/67bc8a8f7b0c43a08b95b86fcc9a8651,umb://media/516066477c2743808b43ce6acd07088c,umb://media/96c74f44351f4d8fb14ffa25c8622004,umb://media/2d9f98667bf1479f81104c44d9622096,umb://media/1c3d9329fba44c6faf22f15273f466e8,umb://media/fbd8f0fecfa1484fad4506ee1c3b750e,umb://media/9fed711812e840f8989f19d16243ca5d,umb://media/1c3f53bae9034d6d8e63b5e2876a1f0e,umb://media/efb8e6469494426a9ad561d5bc3b6cc2,umb://media/139417910b694b44affa51d6214f5030,umb://media/cb5ee4638486486e9f63e012bde5c6a0,umb://media/e5dd90d917f24d9782b08c91c69d09ae,umb://media/c5b6c2f6fc1548b4a0fb413c0a280b0c]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Each morning a generous breakfast will be on offer, including juices, pastries, and hot options too. In the evening you will enjoy a five-course meal with a starter buffet, the menu is comprised of local and Mediterranean cuisine. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Adler Spa Resort Dolomiti is luxurious in every sense of the word. Everyone here will go out of their way to make sure you have the most enjoyable stay possible. The spa is out of this world. </p>
<h2>Easy access to Dolomite activities</h2>
<p>This is the place to be if you want to get out and explore the <a data-udi="umb://document/f7e065ba2a3d40d7893ad1b116880496" href="/{localLink:umb://document/f7e065ba2a3d40d7893ad1b116880496}" title="The Dolomites">Dolomites</a>. You’ve got access to the hotel’s e-bikes for free so grab one and set off up the mountain. You could also join a free guided tour with an e-bike from Monday to Saturday. You’ll be with an experienced guide and get to see some of the best trails in the area. There are guided hikes too, which run every day except Sunday, and Nordic hikes a couple of times a week. If you’re travelling with your family, the kids club is great. It's run by experienced staff and has plenty to keep children entertained all day. It’s free to use but you might need to pre-book.</p>
<h2>Explore Ortisei, right on the doorstep </h2>
<p>We love exploring the village of <a data-udi="umb://document/a7a8ad5233804c39b1e02e8dd02cc1fc" href="/{localLink:umb://document/a7a8ad5233804c39b1e02e8dd02cc1fc}" title="Ortisei">Ortisei</a>, it’s got a real alpine charm about it. The hotel’s right in the centre so head out for a quick walk before dinner if you can. It might be hard to tear yourself away from the hotel though – the gardens are incredibly relaxing with lots of space to spread out and fantastic views. Lots of people head to the hotel just for its spa and it’s not hard to see why. We challenge anyone to come away from here and not feel like a brand new person.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Fantastic spa facilities</strong></p>
<p>The 3,500m² spa at the Adler Spa Resort is a must visit during your stay, facilities here include: </p>
<ul>
<li>Heated outdoor pool with whirlpool with spectacular mountain views</li>
<li>Spa area with heated indoor pool, sauna area and relaxation area with loungers and water beds</li>
<li>Massages and treatments (payable locally)</li>
</ul>
<p><strong>Hotel facilities</strong></p>
<ul>
<li>Free guided hikes Monday-Saturday and Nordic walking two or three times a week</li>
<li>Free e-bike hire</li>
<li>Free e-bike tours Monday - Saturday</li>
<li>Free daily programme of fitness and yoga classes</li>
<li>Piano bar five times a week and live music twice a week</li>
<li>Free Wi-Fi</li>
<li>Fitness Room </li>
<li>Garden</li>
<li>Garage and parking (free)<span style="text-decoration: underline;"></span></li>
<li>Kids Club for children aged 4-10 years old operating at set times all season</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "354ad79f-830c-4f89-a90c-ec42866ade88",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"15e7268e-ff52-4d03-8e42-08f47c05e949\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Adler Spa Resort Dolomiti is one of the best hotels in the <a data-udi="umb://document/f7e065ba2a3d40d7893ad1b116880496" href="/{localLink:umb://document/f7e065ba2a3d40d7893ad1b116880496}" title="The Dolomites">Dolomites</a> and has fantastic service and cuisine. Enjoy lots of free daily activities, fantastic food and an enormous spa that overlooks beautiful grounds.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b74cc141728d4ab58ab7a30a3d5c670c]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 3 hours by coach from Verona airport (please note, <span>transfers may take longer during peak summer months, particularly when arriving into Verona, late afternoon)</span></li>
<li>Resort centre location</li>
<li>200 metres to nearest walking lift</li>
<li>50 metres to bus stop </li>
<li>50 metres to the nearest supermarket </li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Adler Spa Resort Dolomiti today with Inghams. This luxury hotel is one of the best in the Dolomites and perfect for explorers with free walking and biking tours.]]></metaDescription>
  <metaTitle><![CDATA[Adler Spa Resort Dolomiti | Holidays in the Dolomites | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>108</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Adler Spa Resort Dolomiti]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITOT0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Superior Rooms</strong> sleep up to three people and offer a cosy space finished in warm colours and a mix of traditional and modern furnishings. Rooms have a bathroom with shower, and also have a balcony. </p>
<p><strong>Superior Single Rooms </strong>are a great choice for solo travellers. They have a bath with an overhead shower. </p>
<p><strong>Family Suites</strong> can sleep up to four people and offer plenty of space for the whole family. They have a double bedroom which leads through to the second bedroom with twin beds. Rooms are available on request, please call to book.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Tea &amp; Coffee making facilities</li>
<li>TV</li>
<li>Hairdryer</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p>Cots are available on request for approx. €40 per day, payable locally. </p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>Resort tourist tax of approx. €3.90 per person per day is payable locally (not applicable to children under 13 years old).</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>5</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[269037]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>