<?xml version="1.0" encoding="utf-8"?>
<homePageFeatureCarouselCard guid="fe59ce61-2820-49b5-ae32-74d027c1f7e9" id="45277" nodeName="The Santa Experience" isDoc="" updated="2022-02-07T16:56:23.8130000Z" parentGUID="8268d3a1-2f0e-465a-816b-51b0fc2db453" nodeTypeAlias="homePageFeatureCarouselCard" templateAlias="" sortOrder="9" published="false" isBlueprint="false">
  <cTALink><![CDATA[[
  {
    "name": "The Santa Experience",
    "udi": "umb://document/a1ca0b20e1a04656bafe955ac5ee88c6"
  }
]]]></cTALink>
  <image><![CDATA[umb://media/7bd57527f60340a1b5dccbcbccd5d9cf]]></image>
  <primaryStrapline><![CDATA[Enjoy great value]]></primaryStrapline>
  <secondaryStrapline><![CDATA[The ultimate festive add-on to your Lapland holiday]]></secondaryStrapline>
  <straplineFontColour><![CDATA[{"value":"ffffff","label":"ffffff"}]]></straplineFontColour>
  <tabStrapline><![CDATA[The Santa Experience]]></tabStrapline>
</homePageFeatureCarouselCard>