<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="67f10726-a24d-4125-9ca8-73c43fce42a6" id="23690" nodeName="Lake Louise" isDoc="" updated="2021-12-17T09:44:56.6230000Z" parentGUID="647228e2-d9c3-499b-baf6-75b9b7273c03" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="4" published="false" isBlueprint="false">
  <activityInformation><![CDATA[<p><strong>Other things to do in and around Lake Louise<br /></strong></p>
<p> </p>
<ul>
<li>Canoeing on Moraine Lake</li>
<li>Hiking </li>
<li>White water rafting </li>
<li>Mountain biking</li>
</ul>
<p> </p>]]></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[1]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Magical Lake Louise is the single most recognised icon of natural beauty in the Canadian Rockies. The image of its placid emerald waters, reflecting an amphitheatre of towering peaks and the mighty Victoria Glacier, is unforgettable. Half the size, but even more sublime, is nearby Moraine Lake set amidst the grandeur of the Valley of the Ten Peaks. Walkers will be in their element strolling along the Plain of the Six Glaciers or up to Lake Agnes Tea House, or hiking into the dazzling scenery of the Larch and Paradise Valleys. There is riding and canoeing, mountain gondola rides, excursions to beautiful Yoho National Park or trips along the stunning Icefields Parkway. Located 58 kms to the north of Banff townsite, Lake Louise village is much quieter and makes an ideal destination in which to unwind and enjoy the great outdoors.</p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hikes><![CDATA[3]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[English]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[51.426239]]></latitude>
  <listingDescription><![CDATA[<p>Magical Lake Louise is the single most recognised icon of natural beauty in the Canadian Rockies. The image of its placid emerald waters, reflecting an amphitheatre of towering peaks and the mighty Victoria Glacier, is unforgettable.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b983b787cb8a4f9cbc38c79a43ba7226]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[-116.177971]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Book your Alberta holiday with Inghams, enjoy walking, sports or relax in our Lake Louise hotels. Alberta packages to suit all tastes and budgets. Visit Lake Louise for an amazing summer holiday in Canada. Mountain and walking holidays in Alberta from Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Alberta Summer Holidays 2015 - Book Holidays In Lake Louise | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[CALO]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>Two Centres | </strong>Many guests like to combine their stay in Lake Louise with another resort. We recommend <a href="/{localLink:1616b395-87e8-4747-82e9-046ad78b629b}" title="Jasper">Jasper</a> or <a href="/{localLink:dfa97055-585a-4080-80bd-3c829c91955e}" title="Banff">Banff</a>.</p>
<p> </p>
<p><strong>Multi-centre Tours | </strong>Visit Lake Louise as part of the <a href="/{localLink:5388ae22-bf37-4b2e-9f46-a1243f002a06}" title="Canadian Rockies Explorer">Canadian Rockies Explorer</a> tour</p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType><![CDATA[1]]></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>0</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>0</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[3]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[The most romantic resort in the Rockies]]></tagline>
  <thingsToDo><![CDATA[<ul>
<li>Bird-watching</li>
<li>Cycling</li>
<li>Golf</li>
<li>Horse-riding</li>
<li>Walking</li>
<li>Watersports</li>
<li>Cannouing</li>
</ul>
<p>A day trip to Yoho National Park, Moraine Lake and Takakkaw Falls is not to be missed. Other activities include horse riding, canoeing and riding the mountain gondola.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT-5]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td>Saturday <br />Saturday<br />Sunday</td>
<td><strong>Calgary</strong></td>
<td>Gatwick <br />Heathrow<br />Manchester</td>
<td>Nil<br />£119<br />Nil</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer Approx. 1hr 30mins by coach.</p>]]></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/0efad561e0054d7a8a2defc127d5ff59]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p>The Canadian Rockies are renowned as a destination for hikers. The backcountry scenery from the network of more than 4,000km of marked trails is remarkable, giving you first hand views of sparkling lakes and glaciers, waterfalls and ancient forests. Wherever you stay there is a multitude of hiking options on your doorstep. The Bow Summit &amp; Lake, The Plain of Six Glaciers, Moraine Lake and Lake Agnes are popular walks from Lake Louise.</p>
<p> </p>
<p> </p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap><![CDATA[<p>The Canadian Rockies are renowned as a destination for hikers. The backcountry scenery from the network of more than 4,000km of marked trails is remarkable, giving you first hand views of sparkling lakes and glaciers, waterfalls and ancient forests. Wherever you stay there is a multitude of hiking options on your doorstep. The Bow Summit &amp; Lake, The Plain of Six Glaciers, Moraine Lake and Lake Agnes are popular walks from Lake Louise.</p>
<p> </p>
<p><strong>Guided Interpretive Hikes | £50 (daily)</strong></p>
<p>Full programme of walks with professional guides. Includes transport, deluxe packed lunch, use of hiking poles and binoculars.</p>
<p>Can be booked locally in resort. Price shown for guidance only.</p>
<p> </p>]]></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[3]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>