<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="c20a32ab-f7fd-4e03-a849-88f6f28f6bfc" id="28902" nodeName="Hotel Masseria Torre Coccaro" isDoc="" updated="2022-01-31T15:39:34.0200000Z" parentGUID="132bbc13-184f-485f-9037-f52f70a4dc70" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="16" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>
<p>Bed &amp; Breakfast</p>
</li>
</ul>
<p>For those taking the half board upgrade, there are 4 restaurants all with the philosophy of serving local, seasonal products where possible. The menu of the Egnathia Restaurant, located in the main hotel, concentrates on traditional Pugliese dishes. The Ristorante Le Palme, at next door Masseria Maizza, offers creative cuisine. Then there's the restaurant at the Coccaro Beach Club that specialises in pizza, sushi and seafood and finally La Cabana at the poolside for lighter meals.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Considered by many to be <strong>one of the best beach hotels</strong> in the Mediterranean, the 5* Masseria Torre Coccaro offers true luxury in a beautiful, rural setting. It lies just 5km from the seaside town of Savelletri and the hotel provides a shuttle to the lovely sandy beach just 5 minutes' drive away. It is still a working estate producing its own olive oil, jams and vegetables, that are used in the hotel’s excellent restaurants.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Outdoor heated pool with whirlpool section</li>
<li>Poolside bar and restaurant</li>
<li>Small indoor pool and steam room</li>
<li>Aveda Spa offering a range of treatments and massages (local charge)</li>
<li>Fitness room</li>
<li>The Coccaro Beach Club is reached by shuttle bus in just 5 minutes and offers sunbeds and umbrellas, a gourmet restaurant, lounge area with decking and gazebos, children's miniclub, beach volley, canoes.</li>
<li>Other activities that can be arranged include yoga, pilates, Tai Chi, horse riding, tennis, windsurfing and sailing (local charge).</li>
<li>9-hole Coccaro Golf Club and 4 18-hole courses nearby (local charge).</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers><![CDATA[<h3>SPECIAL OFFER save up to £60 per couple</h3>
<p>for minimum 7 night stays. Valid 1 March - 27 April &amp; 1 October - 31 October 2018. The discount has automatically been included in the price shown.</p>
<h3>Free dinner for honeymoons and silver wedding anniversaries</h3>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>Considered by many to be </span><strong>one of the best beach hotels</strong><span> in the Mediterranean, the 5* Masseria Torre Coccaro offers true luxury in a beautiful, rural setting.</span></p>]]></listingDescription>
  <listingImage></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Considered by many to be one of the best beach hotels in the Mediterranean, the 5* Masseria Torre Coccaro offers true luxury in a beautiful, rural setting.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Masseria Torre Coccaro | Puglia Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITPG0101]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p class="sub-heading">Superior rooms with small terrace. All rooms have private bath or shower, air conditioning, television, minibar, safe and hairdryer.</p>
<p>The hotel consists of several buildings and bedrooms can be located in different parts of the estate.</p>
<p>Upgrades available at a supplement:</p>
<ul>
<li>Deluxe with Terrace</li>
<li>Junior Suite</li>
<li>Deluxe Junior Suite</li>
<li>Suite</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/132bbc13184f485f9037f52f70a4dc70]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>