<?xml version="1.0" encoding="utf-8"?>
<newsItemPage guid="76f7b898-17ef-47e7-bf48-72da363a5b62" id="24735" nodeName="Book Lapland for 2016/17" isDoc="" updated="2021-01-19T11:11:39.5070000Z" parentGUID="a52d898f-48b3-42eb-8fbd-1cd0d2e7c7a3" nodeTypeAlias="newsItemPage" templateAlias="NewsItemPage" sortOrder="1" published="false" isBlueprint="false">
  <bodyText><![CDATA[<p>Inghams are quick off the mark and all set for winter 2016/17. <a data-udi="umb://document/63d3751ab6044b7c82e72f82f4d64e39" href="/{localLink:umb://document/63d3751ab6044b7c82e72f82f4d64e39}" title="Lapland/Finland">Lapland</a> went on sale on Thursday 3rd December with departures available from Bristol, Gatwick and Manchester to Kittilä. Inghams are offering holidays in <strong>Saariselkä, Ylläs</strong> and <strong>Levi</strong> as well as magical <strong>Santa Breaks.</strong> For seasonal trips, departures on 18th December will be for 8 nights and Monday 26th December departures will be for 6 nights to avoid travelling on Christmas Day and New Year’s Eve.</p>
<p><br />Whether you want a<strong> husky ride</strong>, <strong>skiing</strong>, <strong>snow mobiling,</strong> to view the <strong>Northern Lights</strong> or give your wish list to <strong>Santa</strong> yourself, it’s all possible with <strong>Inghams</strong>!</p>
<p><br />Enjoy a Santa Breaks at the <a data-udi="umb://document/9eb97263e6404b4c8876c7345aeda1d3" href="/{localLink:umb://document/9eb97263e6404b4c8876c7345aeda1d3}" title="Crazy Reindeer Hotel">3.5* Crazy Reindeer Hotel,</a> Levi Lapland from £678 per person departing 4th December 2016 (3 nights) with return flights from London Gatwick to Kittilä. Price includes return flights from London Gatwick and resort transfers. For more information or to book visit <a href="https://www.inghams.co.uk">www.inghams.co.uk</a> or call 01483 791 114.</p>
<p><br />Enjoy a magical week in Lapland at the <a data-udi="umb://document/3f5398805f5841a28e1f5829945f8748" href="/{localLink:umb://document/3f5398805f5841a28e1f5829945f8748}" title="Tunturi Hotel / Gielas Hotel">4.5* Tunturi Hotel/ Gielas Hotel,</a> Saariselkä, Lapland from £649 per person departing 22nd January 2017. Price includes return flights from London Gatwick to Kittilä and resort transfers. For more information or to book visit <a href="https://www.inghams.co.uk">www.inghams.co.uk</a> or call 01483 791 114.</p>
<p><br />Visit <a href="https://www.inghams.co.uk">www.inghams.co.uk </a>or call 01483 791 114 for more information.</p>
<p><br /><strong>For press enquiries please contact</strong><br />PR Executive, Rachel Gaston, Inghams on 01483 79 10 45 / <a href="mailto:rachel.gaston@inghams.co.uk">rachel.gaston@inghams.co.uk</a><br />Senior PR Account Manager, Daniela Resenterra, 020 7593 1771/<a href="mailto:danielaR@hillsbalfour.com">danielaR@hillsbalfour.com</a><br />Senior PR Account Executive, Josie Self on 0207 593 1758/ <a href="mailto:JosieS@hillsbalfour.com">JosieS@hillsbalfour.com</a></p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Inghams are quick off the mark and all set for winter 2016/17. Lapland went on sale on Thursday 3rd December with departures available from Bristol, Gatwick and Manchester to Kittilä. Inghams are offering holidays in Saariselkä, Ylläs and Levi as well as magical Santa Breaks.]]></metaDescription>
  <metaTitle></metaTitle>
  <newsItemDate>2015-12-14T00:00:00</newsItemDate>
  <pageTheme><![CDATA[2]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <thumbnail></thumbnail>
  <title><![CDATA[Book Lapland for 2016/17 with Inghams.]]></title>
  <umbracoPermanentRedirect><![CDATA[umb://document/a52d898f48b342eb8fbd1cd0d2e7c7a3]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsItemPage>