<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="c3efc7ea-0a33-4229-a271-e1adad896046" id="69715" nodeName="April Ski Deals" isDoc="" updated="2024-04-04T14:22:22.9500000Z" parentGUID="9e478a6b-5133-411f-ba83-75188f1d30e0" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "April 2024 Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/6497964be5a14103b72d3aea482a5dd5",
    "externalLink": "",
    "linkName": "April Ski Deals",
    "linkTitle": "April Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>