<?xml version="1.0" encoding="utf-8"?>
<productPageCarouselItem guid="010c9c06-1c54-4011-bd10-f6cdd7a5450f" id="27072" nodeName="Lapland" isDoc="" updated="2018-06-27T17:08:38.0530000Z" parentGUID="a861f3d1-cc3d-45ee-8f92-25d522f46ec7" nodeTypeAlias="productPageCarouselItem" templateAlias="" sortOrder="7" published="false" isBlueprint="false">
  <buttonText><![CDATA[View offers]]></buttonText>
  <carouselItemLink><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_ContentLinker",
    "linkType": "0",
    "content": "[\r\n  {\r\n    \"name\": \"Lapland Ski Late Deals\",\r\n    \"udi\": \"umb://document/a27f3282507e476d884df133c28e5d30\"\r\n  }\r\n]",
    "offer": "",
    "search": ""
  }
]]]></carouselItemLink>
  <countdownTo></countdownTo>
  <cTAColour><![CDATA[013760]]></cTAColour>
  <cTATextColour><![CDATA[ffffff]]></cTATextColour>
  <fromColour><![CDATA[ffffff]]></fromColour>
  <image><![CDATA[umb://media/11eb993911334b83821a31671d35bfbf]]></image>
  <overlayImage><![CDATA[umb://media/1568185c09834c17959bd97451a23354]]></overlayImage>
  <priceColour><![CDATA[ffffff]]></priceColour>
  <primaryStrapline><![CDATA[Last chance to visit]]></primaryStrapline>
  <primaryStraplineColour><![CDATA[ffffff]]></primaryStraplineColour>
  <saveColour><![CDATA[ffffff]]></saveColour>
  <secondaryStrapline><![CDATA[Lapland this season]]></secondaryStrapline>
  <secondaryStraplineColour><![CDATA[ffffff]]></secondaryStraplineColour>
  <showCountdown>0</showCountdown>
  <text><![CDATA[Great offers still available departing from Manchester, Gatwick & Bristol]]></text>
  <textColour><![CDATA[ffffff]]></textColour>
  <wasColour><![CDATA[ff9503]]></wasColour>
</productPageCarouselItem>