<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="e4d461de-63a6-4a97-93c5-9e417f5c5eb2" id="70851" nodeName="Kids Fly Free" isDoc="" updated="2024-06-13T13:52:55.2030000Z" parentGUID="e65cbae5-17c8-4dcc-a98e-cbd6e7154c59" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="41" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h2 id="andorra">Kids Fly Free on selected holidays!</h2>
<p>Stroll, hike, or stride around the most beautiful lakes and mountains of Europe for less this Summer. Enjoy free child places* on selected holiday packages to Austria and Italy, landing in Innsbruck, Salzburg, or Verona.</p>
<p>The offer applies to children up to the age of 17 years old, with one free child place eligible for every full-paying adult passenger over 18 years of age. We've made it super easy to see the savings – all prices on our website are already discounted, so you can focus on picking the perfect holiday.</p>
<p>Browse deals below or call us to book you family summer holiday.</p>
<p><a href="tel:01483791111" class="InfinityNumber c-btn">Call Us to Book Today</a></p>
<p> </p>
<h2 id="austria">Holidays to Austria</h2>
<p><img src="/media/13097367/cycling-in-kitzbuhel-shutterstock.jpg" alt="Holiday Deals in Austria" data-udi="umb://media/53b77b4d6b8a46ca881092715cae23a9" /></p>
<div class="c-tabs-beta__content-table--row-wrapper">
<table border="0" class="c-tabs-beta__content-table c-tabs-beta__content-table--row" style="height: 247px;">
<thead>
<tr style="height: 21px;">
<th style="height: 21px; text-align: center;">Resort</th>
<th style="height: 21px; text-align: center;">From Birmingham</th>
<th style="height: 21px; text-align: center;">From Edinburgh</th>
<th style="height: 21px; text-align: center;">From Manchester</th>
<th style="height: 21px; text-align: center;">From Gatwick</th>
</tr>
</thead>
<tbody>
<tr style="height: 16px;">
<td style="height: 16px; text-align: center;">Alpbach</td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[1324]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[1324]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[1324]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[1324]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[1324]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[1324]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 16px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Ischgl</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21684]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21684]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21684]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21684]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21684]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21684]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Mayrhofen</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21732]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21732]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21732]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21732]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21732]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21732]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Neustift</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21864]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21864]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21864]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21864]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21864]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21864]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Obergurgl</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22342]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22342]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22342]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22342]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22342]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22342]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Pertisau</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22122]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22122]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22122]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22122]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22122]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22122]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Seefeld</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21900]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21900]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21900]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21900]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[21900]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[21900]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Lech</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22325]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22325]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22325]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22325]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22325]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22325]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Corvara</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Kronplatz</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">San Cassiano</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 16px;">
<td style="height: 16px; text-align: center;">Salzburg</td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22397]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22397]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 16px; text-align: center;">N/A</td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22397]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22397]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22397]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22397]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Filzmoos</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22284]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22284]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22284]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22284]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22284]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22284]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Saalbach &amp; Hinterglemm</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22364]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22364]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22364]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22364]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22364]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22364]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Zell am See</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22446]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22446]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22446]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22446]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22446]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22446]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Fuschl</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22212]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22212]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22212]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22212]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22212]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22212]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">St Gilgen</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22181]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22181]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22181]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22181]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[22181]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[AT]&amp;resort=[22181]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
</tbody>
</table>
</div>
<div class="c-tabs-beta__content-table--row-wrapper"></div>
<div class="c-tabs-beta__content-table--row-wrapper"></div>
<div class="c-tabs-beta__content-table--row-wrapper">Click <a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[AT]&amp;resort=[]&amp;when=24/05/2025&amp;nights=7&amp;from=LGW,MAN,BHX,BRS,EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=0&amp;self=true" data-anchor="?to=[AT]&amp;resort=[]&amp;when=24/05/2025&amp;nights=7&amp;from=LGW,MAN,BHX,BRS,EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=0&amp;self=true"><strong>here</strong></a> to find half term deals departing to Austria!</div>
<div class="c-tabs-beta__content-table--row-wrapper"></div>
<div class="c-tabs-beta__content-table--row-wrapper">
<h2>Holidays to Italy</h2>
<p><img src="/media/13102791/limone-sul-garda.jpeg" alt="Holiday Deals in Italy" data-udi="umb://media/605702dac8894ce198178155e04fcead" /></p>
<div class="c-tabs-beta__content-table--row-wrapper">
<table border="0" class="c-tabs-beta__content-table c-tabs-beta__content-table--row" style="height: 226px;">
<thead>
<tr style="height: 21px;">
<th style="height: 21px; text-align: center;">Resort</th>
<th style="height: 21px; text-align: center;">From Edinburgh</th>
<th style="height: 21px; text-align: center;">From Birmingham</th>
<th style="height: 21px; text-align: center;">From Manchester</th>
<th style="height: 21px; text-align: center;">From Bristol</th>
</tr>
</thead>
<tbody>
<tr style="height: 16px;">
<td style="height: 16px; text-align: center;">Canazei</td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[32443]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[32443]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 16px; text-align: center;">N/A</td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[32443]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[32443]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 16px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[32443]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[32443]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Merano</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A<a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=LGW&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true"></a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22130]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Ortisei</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22213]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22213]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22213]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22213]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22213]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22213]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Selva</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22137]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22137]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22137]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22137]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22137]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22137]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Lake Garda</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[21746,21868,21909,21931,21952,21991,22007,22011]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[21746,21868,21909,21931,21952,21991,22007,22011]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[21746,21868,21909,21931,21952,21991,22007,22011]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[21746,21868,21909,21931,21952,21991,22007,22011]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[21746,21868,21909,21931,21952,21991,22007,22011]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[21746,21868,21909,21931,21952,21991,22007,22011]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Lake Iseo</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22042]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22042]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22042]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22042]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22042]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22042]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Lake Ledro</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22053]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22053]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22053]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22053]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22053]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22053]&amp;when=31/07/2024&amp;nights=7&amp;from=BRS&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; text-align: center;">Corvara</td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="height: 21px; text-align: center;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="text-align: center; height: 21px;">Kronplatz</td>
<td style="text-align: center; height: 21px;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[22118]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="text-align: center; height: 21px;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="text-align: center; height: 21px;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[48132]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="text-align: center; height: 21px;">N/A</td>
</tr>
<tr style="height: 21px;">
<td style="text-align: center; height: 21px;">San Cassiano</td>
<td style="text-align: center; height: 21px;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="text-align: center; height: 21px;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=BHX&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="text-align: center; height: 21px;"><a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true" data-anchor="?to=[IT]&amp;resort=[24281]&amp;when=31/07/2024&amp;nights=7&amp;from=MAN&amp;adults=2&amp;children=5,8&amp;flexibleDate=30&amp;self=true">Deals</a></td>
<td style="text-align: center; height: 21px;">N/A</td>
</tr>
</tbody>
</table>
<p> </p>
<p>Click <a href="https://www.inghams.co.uk/walking-holidays/search-results?to=[IT]&amp;resort=[]&amp;when=24/05/2025&amp;nights=7&amp;from=LGW,MAN,BHX,BRS,EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=0&amp;self=true" data-anchor="?to=[IT]&amp;resort=[]&amp;when=24/05/2025&amp;nights=7&amp;from=LGW,MAN,BHX,BRS,EDI&amp;adults=2&amp;children=5,8&amp;flexibleDate=0&amp;self=true"><strong>here</strong></a> to find half term deals departing to Italy!</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h3 style="text-align: center;">Family Holidays With Us</h3>
<div class="g4">
<div class="white_box_shadow">
<h3>Family Adventures</h3>
<p><img src="/media/13090580/italy-lake-family-board-walk314x193.jpg" alt="Summer family holiday Europe" data-udi="umb://media/9e293f511adc405ba219e42c63f8a0f7" /></p>
Say goodbye to screens and hello to the great outdoors – scale walls, pedal trails, and make waves with watersports.</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3>Family Friendly Walks</h3>
<p><img style="width: 100%; height: auto;" src="/media/13094641/adobestock_573084073.jpg?width=314&amp;height=193" alt="family friendly walks" data-udi="umb://media/da27d6c6041442d68c5044360fef9958" /></p>
<p><span>Explore family-friendly walks with wildlife spotting, mountain adventure parks, and playgrounds to keep everyone happy.</span></p>
</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3>Choice Always Included</h3>
<p><img src="/media/13089976/amalfi-coast-314x193.jpg" alt="Amalfi Coast" data-udi="umb://media/9ec30b529208452ab62dd884a16a0c63" /></p>
<p>Pick from a huge range of family friendly places to stay across handpicked destinations, with plane or train travel options to boot.</p>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to Book</h2>
<p style="text-align: center;">Book your perfect trip online or by phone. Our travel experts are here to provide advice and help you book.</p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call Us to Book Today</a></p>
</div>
</div>
</div>
</div>
<h2>Travel With Confidence</h2>
<p>When you book with us you can travel with confidence. We've got you covered from the moment you step out of your front door to the moment you return with incredible memories. <a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands">You're in safe hands.</a></p>
<p><img style="width: 100%; height: auto;" src="/media/13095389/inghams-in-safe-hands-charcoal.png?width=500&amp;height=126.45687645687646" alt="in safe hands" data-udi="umb://media/afba17a916e84fcc848acce5dda4f9c4" /></p>
<p><strong>The offer applies to children up to the age of 17 years old, with one free child place eligible for every full paying adult passenger over 18 years of age​. *T&amp;Cs apply.</strong></p>
<p><strong>*Terms and Conditions</strong></p>
<ul>
<li data-charcodes="8226" data-font="Arial,Sans-Serif" data-buautonum="8" data-margin="450" data-aria-posinset="1" data-aria-level="1"><span data-usefontface="true" data-contrast="none"><span>Valid on departures in July and August 2024 and 2025 and on 24 May 2025 departures. Applicable on selected routes only:</span></span><span>​<br /></span>- Birmingham, Edinburgh and Manchester to Innsbruck ​<br />- Birmingham, London Gatwick and Manchester to Salzburg​<br />- Bristol (Wednesdays only), Edinburgh and Manchester (Saturdays Only) to Verona​</li>
<li>One free child place eligible for every full paying adult passenger over 18 years of age​</li>
<li>Applies to children up to the age of 17 years old​</li>
<li>Offer can be combined with other offers including child reductions​</li>
<li>Offer applies to new bookings only​</li>
<li>This offer is subject to availability and can be withdrawn or amended at any time without notice</li>
</ul>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Enjoy free child places on selected routes to Austria and Italy in 2024 and 2025, flying into Innsbruck, Salzburg or Verona airport.]]></metaDescription>
  <metaTitle><![CDATA[Kids Fly Free | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Kids Fly Free]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/332198cc7a28454ea0f9e0edcb761a57]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>