<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="3cb3d76c-1146-4772-a650-625260ba60ef" id="23580" nodeName="Chalet Valeriane" isDoc="" updated="2021-12-31T12:40:45.7570000Z" parentGUID="262a5c71-b4ac-481a-b594-5575f798913c" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li><span>For information on our Chalet cuisine</span> <a href="/{localLink:a48c84d8-fa41-41ec-b220-11067ce4f415}" title="Chalet">click here</a></li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>Sleeps 8-10</strong></p>
<p>You can ski right to the terrace of our new chalet in Valmorel. With an excellent location in the Hameau La Fôret the apartment chalet is just 200m from the main Lanchettes lift and 4 minutes’ walk from the bustling main street of Valmorel with its many shops, bars and restaurants. An added advantage for families is the dedicated slope for sledging right in front of the chalet.</p>
<p>The chalet is set over the ground floor with south and east-facing terraces, perfect for enjoying the sunshine. Each bedroom is comfortably furnished and has its own bathroom. Room 5 is suitable for children and available when one group books the chalet exclusively.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/5fcdfcfed83a4ec2915c4635921da665]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Comfortably furnished modern apartment</li>
<li>Flat screen TV in the living area</li>
<li>Free Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>You can ski right to the terrace of our new chalet in Valmorel. With an excellent location in the Hameau La Fôret the apartment chalet is just 200m from the main Lanchettes lift and 4 minutes’ walk from the bustling main street of Valmorel with its many shops, bars and restaurants.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/1359c12760f74d42ba9d6c760c6499fc]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Valeriane in Valmorel, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Chalet Valeriane, Valmorel - France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>0</nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRVM0101]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>New to Inghams this year</li>
<li>Unbeatable location close to the village centre and lifts, yet in a quiet area</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>