<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="c5a8431a-4b9c-4e3f-b820-365f26d278bb" id="23206" nodeName="Banff Inn Hotel" isDoc="" updated="2024-05-09T10:46:33.8630000Z" parentGUID="3f77e79e-ea2d-4582-a9ac-b3c89406dc88" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Flat, located on Banff Avenue</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "1424167a-e08c-4685-a775-c10ce880c04b",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 Nov)",
    "addedValueStart": "2019-07-08T10:45:41",
    "addedValueEnd": "2099-11-30T23:45:43",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[5]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/493ed269121c4cbaa4529d9c623ea542,umb://media/b8524042004646539a921887e27931d9,umb://media/7050a6192a3e4d4ebb0a47ab2c70c68d,umb://media/75076b4967c847cf9a598c0d1a92a66b,umb://media/8c3c99d41e8a4df79e8547f16210d8bd,umb://media/f0ea31657d884dd497c367d7e94af0c3]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Available on Room Only basis</p>
<p>On site restaurant Carlito's Pizzeria is open for dinner with classic Italian food. </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Banff Inn is a popular and friendly hotel located on Banff Avenue just a few minutes walk from downtown Banff.</p>
<h2>Charming Inn</h2>
<p>The hotel has friendly, accommodating staff and a bar with wide screen TVs and lobby area. The Italian dishes at the in-house Carlito's Pizzeria are a must.</p>
<h2>Comfort &amp; Convenience</h2>
<p>Located on Banff Avenue you are just a ten minute walk from downtown Banff with plenty of restaurants, cafes, shopping and vibrant nightlife.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Reception area with fireplace</li>
<li>Wellness area with whirlpool, sauna, steam room, spa with range of treatments (pay locally)</li>
<li>Carlitos Pizzeria</li>
<li>Sports bar</li>
<li>Ski storage room</li>
<li>Wi-Fi</li>
<li>Family friendly hotel</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "cfdb1d70-5b1a-494f-b6f1-83e45f69c004",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"47af5144-bad0-4c1d-8bb0-171c48339da5\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>6</interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[51.17517]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Banff Inn is a popular and friendly hotel located on Banff Avenue and only minutes from the restaurants, shopping and vibrant nightlife.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/493ed269121c4cbaa4529d9c623ea542]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>10 minutes' walk to downtown</li>
<li>Ski bus stops at the hotel for all areas</li>
<li>Transfer time: approx. 2 hour by coach from Calgary International Airport</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[-115.57257]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[99 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The Banff Inn is a popular and friendly hotel located on Banff Avenue only minutes from the restaurants, shopping and vibrant nightlife. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Banff Inn Hotel | Banff Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>99</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Banff Inn Hotel]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CABF0116]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard room (A4)</strong> and <strong>Premium room (B4) </strong>have two queen size beds.</p>
<p><strong>Loft suites (C5) </strong>feature two queen beds on the lower level and stairs leading to an open loft with one queen size bed. These rooms sleep 2 to 6 and are available on request. Please call to book.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Bath and shower</li>
<li>Most rooms have a balcony</li>
<li>Air conditioning</li>
<li>WiFi</li>
<li>Hairdryer</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[185662]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>