<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="b78bf6e4-e283-4cb0-8414-fe96bb82b115" id="46809" nodeName="Ski Trivia - Do you know your way around the Alps?" isDoc="" updated="2024-03-26T13:01:42.9330000Z" parentGUID="08f2c95a-400f-49b1-87fe-bb5058955b5b" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="27" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="white_box_shadow">
<p><img src="/media/13092613/mountain-restaurant-people-cheers-858x408.jpg" alt="triviahero" data-udi="umb://media/7daf6a1082c8465ab6683cba92d296fe" /></p>
<p>We’ve pulled together some fun ski facts, that may just blow your mind. Read on to discover the highs, lows, ins and outs of the Alps. And feel free to steal for your next virtual quiz!</p>
</div>
<div class="white_box_shadow">
<h2><strong>1:</strong></h2>
<h3>The ski scene from Bridget Jones: Edge of Reason was filmed in Lech, Austria</h3>
<p>Who could forget the iconic scene when Bridget falls off the ski lift - it's happened to us all, right?</p>
</div>
<div class="white_box_shadow">
<h2><strong>2:</strong></h2>
<h3>The British romantic comedy ‘Chalet Girl’ was filmed in St. Anton, Austria</h3>
<p>You can ski straight passed the actual chalet, look out for it on your way back from Krazy Kangaroo après.</p>
</div>
<div class="white_box_shadow">
<h2><strong>3:</strong></h2>
<h3>The first ever Winter Olympics was in 1924 and was held in Chamonix, France</h3>
<p>Since then, it has been held in France a further 2 times, Grenoble in 1968 and Albertville in 1992. Val d’Isere featured in the latest 1992 Olympics. La Face black run, was chosen for the flagship event in – the Men’s downhill. Millions remember one of the most impressive downhill races of any Winter Olympics where just 0.1 second separated the top three places.</p>
</div>
<div class="white_box_shadow">
<h2><strong>4:</strong></h2>
<h3>The longest black run in Europe is 16km long</h3>
<p>The Sarenne black run is 16km long and can be found in Alpe d’Huez. The descent is completely on-piste and descends more than 2,000 vertical metres. It's especially challenging in parts with glaciated slopes at the top. Can you feel the burn?</p>
</div>
<div class="white_box_shadow">
<h2><strong>5:</strong></h2>
<h3>James bond frequently finds himself on the slopes, there are in fact 007 films and counting where Bond hits the pow.</h3>
<p>George Lazenby in On Her Majesty’s Secret Service (1969)<br />Roger Moore in The Spy Who Loved Me (1977)<br />Roger Moore in For Your Eyes Only (1981)<br />Roger Moore in A View to A Kill (1985)<br />Timothy Dalton in The Living Daylights (1987)<br />Pierce Brosnan in The World is Not Enough (1999)<br />Daniel Craig in Spectre (2015)</p>
</div>
<div class="white_box_shadow">
<h2><strong>6:</strong></h2>
<h3>The ‘OK’ piste in Val d’Isere is named after 2 Olympic champions</h3>
<p>The 'OK' piste was named after Jean Claude Killy and Henri Oreiller. Although neither was born in Val d'Isere, they were brought up and based there. Killy won three gold medals at the Grenoble Olympics of 1968, while Oreiller won two golds at St Moritz 20 years previously.</p>
</div>
<div class="white_box_shadow">
<h2><strong>7:</strong></h2>
<h3>The world’s steepest groomed ski run has an average incline of 78%, that’s not too far from vertical!</h3>
<p>This run can be found in Mayrhofen in Austria. The name of the run is Harakiri – named after the Japanese ritual of suicide by samurai. Would you dare?</p>
</div>
<div class="white_box_shadow">
<h2><strong>8:</strong></h2>
<h3>Austria has the most ski resorts in Europe</h3>
<p>Austria has 275 ski resorts, which works out as 1 ski resort per 28000 people.</p>
</div>
<div class="white_box_shadow">
<h2><strong>9:</strong></h2>
<h3>The highest ski resort in Europe reaches heights of 3899m</h3>
<p>Zermatt is the highest resort in Europe and ranked 4<sup>th</sup> worldwide. The highest resort in the world is Jade Dragon Snow Mountain in China, the entire resort is located between 4,500 and 4,700 metres!</p>
</div>
<div class="white_box_shadow">
<h2><strong>10:</strong></h2>
<h3>Snowboarding only made its Olympic debut in 1998</h3>
<p>Before 1998 snowboarding was not included in the Olympic games, whereas Cross-country skiing has been part of the Winter Olympics every year since the competition began, in 1924 and downhill skiing became an Olympic sport in 1936.</p>
</div>
<div class="white_box_shadow">
<h2><strong>11:</strong></h2>
<h3>The word 'Ski' is derived from the Norwegian word 'skíð' which means a split piece of wood</h3>
<p>The history of skiing is uncertain, but it is thought that the ancient origins of skiing can be traced back to prehistoric times in Russia, Finland, Sweden and Norway, where skis were used practically to cross wetlands and marshes in the winter when they froze over.</p>
</div>
<div class="white_box_shadow">
<h2><strong>12: </strong></h2>
<h3>Walter Ingham was one of the pioneers of the modern ski holiday - famed as 'the man who took Britian skiing'</h3>
<p>Back in 1934, inspired by his passion for the mountains, he put an advert in the Times for people to join him on a group trip to Austria to go skiing. Over 85 have passed and we are still carrying on his good work...</p>
</div>
<p><iframe src="https://qz.app.do/embed/do-you-know-your-way-around-the-alps" height="320" loading="lazy" style="display: block; width: 100%; max-width: 810px; margin: auto; border: 3px solid #003261; border-radius: 6px;"></iframe></p>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your holiday. Flights, hotel and transport? We’ve got you covered. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Do you know your way around the Alps?
We’ve pulled together some fun ski facts for you to share with your ski pals.]]></metaDescription>
  <metaTitle><![CDATA[Ski Trivia - Do you know your way around the Alps? | Insider Guides | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ski Trivia - Do you know your way around the Alps?]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<div id="page" class="site">
<div class="site-content-contain">
<div id="content" class="site-content">
<div class="wrap">
<div id="primary" class="content-area">
<div class="entry-content">
<p>Do you know your way around the Alps?<br />We’ve pulled together some fun ski trivia for you to share with your ski pals.</p>
</div>
</div>
</div>
</div>
</div>
</div>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/84b1f98807434ca1b3cc56d28f88ead6]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>