<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="54d29fe5-1449-4fe3-9947-c9e70f10a08e" id="74543" nodeName="New Year Ski Deals" isDoc="" updated="2024-10-17T11:11:15.8130000Z" parentGUID="96931181-d9cc-4e4e-b629-033584fa3b0f" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "New Year 2024 Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aea32888d03e4f5499689d39abf2ea36",
    "externalLink": "",
    "linkName": "New Year Ski Deals",
    "linkTitle": "New Year Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>