<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="03d0ee37-81eb-4d01-a20c-e5d3dec187cd" id="54094" nodeName="Hotel Ily" isDoc="" updated="2024-10-03T16:18:17.4970000Z" parentGUID="4c93b881-bd49-4483-8716-97b278b37899" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Hotel Ily has adapted rooms available on request. Please give our Reservations team a call to book.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "1c59c85e-ca0d-4f92-a19d-703d9ca9bd61",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early Booking Offer available (ends 30 Sept 23)",
    "addedValueStart": "2022-05-25T01:00:00",
    "addedValueEnd": "2023-09-30T23:55:55",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/7b1b589200ce422c93745c73b31b62f6,umb://media/629edfee59aa4e52a9dc9d207b3b4d53,umb://media/adabf23b0bea4711be64e78c6d2b8d87,umb://media/2a1bbd10782441ccbced5de40069cb75,umb://media/a37c655b9904450b9d161e261964b286,umb://media/39f8b4b1628c4947b6e564fa7fed0f61,umb://media/745b7b9c8de24a84b7f510eed1336fc0,umb://media/72a2bcf8f2d54e60a64bd19fe73e83b9,umb://media/ac589ee9d9f8491591ddbec75cf2f589,umb://media/611c853b64dc4caa8b0c5597f2d9ba83,umb://media/723340444f2043c5a67b08ccea982ce3,umb://media/aceae76e05084f50abe52a6a680af85b,umb://media/eeb896af239c42b5bdf0bc1399bfe355]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Offered on a half board basis, the Hotel Ily has breakfast and dinner included. </p>
<p>Fuel up for a day of adventures at the lovely breakfast buffet which includes a classic continental breakfast offering and a range of additional hot options. </p>
<p>A three course evening meal is served in the hotels restaurant, Le Bonami. The menu varies, however fresh and local produce is used to create hearty winter dishes.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The House of Happiness - the Hotel Ily is a modern hotel set in the Eucherts area of <a data-udi="umb://document/4c93b881bd494483871697b278b37899" href="/{localLink:umb://document/4c93b881bd494483871697b278b37899}" title="La Rosiere">La Rosiere</a>. The warm wood and stylish decor combined with a luxury spa, hearty food and amazing views of the valley certainly ticks all the boxes for a relaxing ski holiday in France. </p>
<p>The rooms all feature natural and bright decor, with most of the rooms having balconies to take in the view and pure mountain air. There are generous sized Family Suites and some interconnecting rooms, making the hotel a good choice for families and groups.</p>
<h2>Food and drink</h2>
<p>The large bar and lounge area is a perfect spot to relax after a full day on the slopes. C<span>hoose from sitting on the sunny south-facing terrace and soak up the sunshine or admire the sunset, or </span>cosy up in front of the warm fireplace  - If you fancy a sweet treat after skiing, ''The Break'' serves delicious hot chocolate and cake until 5pm. When its dinner time, you can enjoy a varied three course evening meal often including comforting winter dishes made with local produce.</p>
<h2>Wellness and rejuvenation</h2>
<p>After a day on the slopes make the most of the luxury spa, it has gorgeous views of the mountains and is the perfect place to relax. The spa area features an indoor swimming pool, an outdoor hot tub and two indoor hot tubs, sauna, relaxation area and steam room. And new for this winter there is a well equipped fitness room with NOHRD brand equipment including bikes, mats, benches, dumbbells and rowing machines. </p>
<h2>Family friendly </h2>
<p>Hotel Ily has a kids club during school holidays for the little ones between four and twelve, letting you make full use of the spa and bar areas. The club runs in the evening, and includes games, film screenings and a kids playroom.</p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Wellness area with heated indoor swimming pool, three hot tubs (one outdoor), sauna, and steam room</li>
<li>Massages and beauty treatments (book and pay locally)</li>
<li>Yoga and fitness classes</li>
<li>Fitness room</li>
<li>Lounge area</li>
<li>Free Wi-Fi</li>
<li>Bar</li>
<li>Restaurant </li>
<li>Outdoor terrace</li>
<li>The Snack Break (open between 2<span> to 5pm)</span></li>
<li>Heated boot room</li>
<li>Parking available (pay locally)</li>
</ul>
<p><strong>Family Facilities</strong></p>
<ul>
<li>Free kids club (Selected dates only) for 4 - 12 year old. This is Sunday to Friday from 5pm to 10.30pm</li>
<li>Play area</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "91c74bfd-c5e7-48a7-a5b8-bf480fb7fa67",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"aa47e0fa-ee74-4eea-a274-1321c2dac3aa\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Ily is modern and stylish hotel in the Eucherts area of La Rosiere. This half board hotel features a bar with a south facing terrace area and a luxury spa which has an indoor swimming pool, an outdoor hot tub and two indoor hot tubs, sauna and steam room.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/7b1b589200ce422c93745c73b31b62f6]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax €2.86 per person per day and paid locally (under 18s free of charge)</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p> </p>
<ul>
<li>400 metres to Eucherts Express</li>
<li>400 metres to the ski school meeting place</li>
<li>Ski hire shop inside the hotel</li>
<li>50 metres to the bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Ily is located just 400m from the lifts in La Rosiere and features a beautiful spa.  Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Ily – La Rosiere, France, Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>69</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Ily]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRRO0129]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Superior Mountain View Rooms</strong> can sleep up to two people and are around 25-29<span>m². These rooms can be made up as a twin or double, and have a balcony with great views of the Alps.</span><span> These rooms are also available for sole occupancy, please call our Reservations team a call to book.</span></p>
<p><span><strong>Family Suites</strong> can sleep up to six people and are around 58m². These rooms have </span><span>two bedrooms, one with a double bed and the second with bunk beds. There is a lounge area with a sofa bed when needed,  suitable for two children or one adult, and two bathrooms.</span><span></span><span></span></p>
<p>Interconnecting rooms are available.</p>
<p><strong>Room facilities</strong></p>
<ul>
<li><span>All bedrooms can be made up as a twin or double bed (please specify your preference when booking)</span></li>
<li><span>Satellite TV</span></li>
<li><span>Wi-Fi</span></li>
<li><span>Tea and coffee facilities</span></li>
<li><span>Bathrobe and slippers</span></li>
<li><span>Mini-fridge </span></li>
<li><span>Safe</span></li>
<li><span>Bath with shower head attachment</span></li>
<li>Underfloor<span> heating</span></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel Ily can cater for special dietary requirements (vegetarians, gluten free and dairy free). Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[23676695]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>