<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="ecc76c05-01fa-4785-94f2-1b6ca05b9d44" id="72406" nodeName="Hotel Ski Lodge" isDoc="" updated="2024-10-09T09:41:39.6030000Z" parentGUID="16c56b28-3bca-4ae2-b2ad-a820a5d3a03d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="12" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Ski Lodge is accessible for guests with reduced mobility there is an accessible ramp available and the lift goes to all floors except floor 4. Adapted rooms are available on request. Please give our Reservations team a call to book.</p>]]></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/1a1e9c33c2824e4aa47b51f89c3582fa,umb://media/cdc4c0740659488383ceb69b2cc65226,umb://media/6a798bfeda704407aa4b4f9a6ab0f416,umb://media/d20430c5cb6b49dbb21b525f3bc1ffcf,umb://media/39bd31a493c540b1b9d307db1430ca83,umb://media/63525ac21c014cd8a97331a8dc8065f2,umb://media/031853c456e44b42918f3fa90c8c31b1,umb://media/297524a2b12c480482c17ef8e7ba4f29,umb://media/bf6b0cef1f044a2889b665cee71b9080,umb://media/9e26c7fe5085442e9efa438e79daeed1,umb://media/661a3ff0e6c54c14a029813014c6a47f]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel Ski Lodge is on a half board basis. The hotels restaurant is located in the inner courtyard of Chalet Skadi.</p>
<p>Each morning you can enjoy a varied buffet breakfast with a classic continental offering, as well hot options such as eggs, bacon and pancakes. </p>
<p>A four-course evening meal is served each evening with a choice of starter, main, desserts and a cheese selection to finish. Once a week you can sample some of the regional dishes at the Savoyard evening, you'll have a choice of fondue, raclette, tartiflette or pierrade - all served with accompanying sides. </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The traditional alpine style Hotel Ski Lodge is set back from the main street of <a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isere</a>, enjoying a quiet location away from the hustle and bustle. Getting onto the slopes couldn't be easier hop on the free ski bus which stops near to the hotel, if you do fancy walking into the centre it's just a ten-minute walk where you can find plenty of bars, cafes and shops.</p>
<h2>Alpine hotel</h2>
<p>Furnished in a typical Savoyard style, the Ski Lodge has a warm and inviting feel to it. Once you step inside, you'll find rustic woods, stone walls, alongside furs and alpine style decorations. Each of the bedrooms are beautifully furnished with the same alpine style, with wood panelling, fur throws and homey furnishings. The hotel has a cosy bar and lounge where you can snuggle up for a night in in front of the fireplace with a glass of wine.</p>
<h2>Food and drink</h2>
<p>Each evening you can enjoy a tasty four course evening meal with a choice of starter, main, dessert and cheese plate. Once a week you can try regional Savoyard specialties - if you're feeling cheesy, try the fondue, raclette or tartiflette. Pierrade is also available, a form of barbeque, where meats are cooked over hot stone. </p>
<p>When you return from a day on the slopes, warm up in front of the fireplace with a hot chocolate or enjoy an aperitif before dinner at the daily happy hour. If you are fancying a snack, a range of cheese and charcuterie boards are available from the bar for a local fee.</p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Sauna and hammam</li>
<li>Bar and lounge with fireplace</li>
<li>Free Wi-Fi</li>
<li>Heated boot room</li>
<li>Luggage storage</li>
<li>Covered parking (pay locally)</li>
<li>Laundry services (pay locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "f2ec3048-fe41-4e4d-a373-adb78c90febc",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"61da8bce-bfaa-4919-bd28-19a896d51b7a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.44755307190617]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The traditional Savoyard style Hotel Ski Lodge is set back from the main street of Val d'Isere. You'll be close enough to the vibrant resort centre and ski slopes but can still enjoy the peaceful mountain surroundings from the comfort of your cosy bedroom.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/78d803eb84d84e45828e937923bd6f15]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li style="text-align: justify;"><strong>Resort tax:</strong> €1.87 per person, per night. Under 18s free of charge. Pay locally. </li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Three minutes (20 meters) to the nearest bus stop</li>
<li>500 metres to the centre of Val d'Isere</li>
<li>The Solaise Express and Olympique gondolas are about a ten-minute walk away</li>
</ul>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.9864331189230615]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[A cosy and traditional style hotel, the Hotel Ski Lodge enjoys a peaceful location, set back from the main street of Val d'Isere.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Ski Lodge, Val d'Isere | France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>41</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Ski Lodge]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRVD0161]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in: 4pm</li>
<li>Check out: 11am</li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Double Rooms</strong> are around 17㎡ and sleep two people.</p>
<p><strong>Triple Rooms</strong> are around 22㎡ and sleep three people with a double bed and a single bed.  </p>
<p> </p>
<p><strong>Room Facilities</strong></p>
<ul>
<li>Double or twin beds. Please specify at the time of booking</li>
<li>Rooms have a balcony with resort and/or mountain views</li>
<li>Satellite TV</li>
<li>Telephone</li>
<li>Bathroom with shower</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Ski Lodge can cater for special dietary requirements (vegetarians, gluten free and dairy free diets) on request. Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[3674466]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>