<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="c9435167-f04e-44fd-ad89-bdfe9545e909" id="41368" nodeName="Highlights of Calabria" isDoc="" updated="2022-03-01T13:37:07.9770000Z" parentGUID="ea233839-b058-4030-b226-a2679c5a63d2" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="20" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/514af973581644dc8e572cb34acef1d5,umb://media/a468b0b8ae844b8fadfcab3c793b66f2,umb://media/1158e0629ba34023981a220983104feb,umb://media/dd6cbf35cd494fe599ab58231061bb8f,umb://media/0f35561889b84acca1eb05b7f95f4210]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Holidays to <a data-udi="umb://document/c84fdc759cf240cb87b1070d34b08b4e" href="/{localLink:umb://document/c84fdc759cf240cb87b1070d34b08b4e}" title="Calabria">Calabria</a> are packed full of culture and involve lots of beautiful beaches – so you’re in for a treat! We’ve planned a self-guided itinerary that takes you off the beaten track to the regions hidden gems, as well as making sure you visit the must see places. You’ll get to explore the stunning clifftop towns and villages, laze on pristine sandy beaches, try the fresh local produce at a rural farm and visit ancient buildings as you venture through this relatively undiscovered part of Italy.</p>
<div>
<h2 style="text-align: center;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Tour highlights">Tour highlights</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Itinerary&quot;">Itinerary</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Your holiday includes">Your holiday includes</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Hotels">Hotels</a>| <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Departure dates">Departure dates</a></h2>
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">2021 Departures on sale now!</td>
</tr>
</tbody>
</table>
</div>
</div>
<h2><a name="Tour highlights"></a><span class="geolocation-title">Tour highlights</span></h2>
<ul>
<li>You'll get to see the best of Calabria on this 8-day tour</li>
<li>Stay in a four-star hotel with excursions included</li>
<li>Visit the clifftop town of Tropea and admire the stunning coastline of Capo Vaticano</li>
<li>Explore the scenic village of Pizzo and try Calabria's famous tartufo ice cream</li>
<li>Head inland to discover the region's rich history</li>
<li>Visit a family-run farm and taste local produce</li>
<li>Visit the very tip of Italy's toe and look out over where the Ionian and Tyrrhenian Seas meet</li>
<li>Add an optional excursion to the nearby Aeolian Islands (weather dependent)</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Tour highlights">[Back to top]</a></p>
<h2><a name="Itinerary"></a><span class="geolocation-title">Itinerary</span></h2>
<p><strong>Day 1: UK to Calabria</strong></p>
<p>Arrive at Lamezia Terme airport and transfer to your hotel.</p>
<p>Meals included: Dinner</p>
<p><strong>Day 2: Tropea and Capo Vaticano</strong></p>
<p>You’re first full day’s all about settling in and getting to know the area. We’ve included a half day excursion to visit Tropea and Capo Vaticano. They’re known as the jewels of Calabria’s Tyrrhenian coast - you’ll understand why when you’re there. Tropea’s pretty unique, the old town’s positioned right on top of the cliffs above some of the clearest sea we’ve ever seen. Its most famous landmark is Santa Maria dell’Isola. The church is built on a rock formation that juts out into the sea – you can climb right to the top for the best views. After, head to Capo Vaticano – the towns on a promontory of white granite. Around it there are some of the most stunning beaches and coves – so don’t forget your swimming gear.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 3: Pizzo Calabro</strong></p>
<p>Today's you’ll visit the fishing village of Pizzo Calabro – the pastel-painted buildings all look like their perched precariously on the cliff's edge. Spend the morning winding your way through the narrow streets and pretty piazzas. The Piedigrotta, is a must see while you’re here – it’s an ancient church built into the rocks. You’ll find it hard to miss the Aragonese Castle, the huge structure is the symbol of the city. We’ve also included a visit to a local gelateria, where you'll get to taste the towns famous tartufo ice cream – a delicious meld of chocolate and hazelnut coated in coco powder.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 4: Day at Leisure or Aeolian Islands (optional excursion)</strong></p>
<p>Today you'll be able to relax at your hotel and take advantage of the beach club. Alternatively, you can opt to take an excursion to the volcanic archipelago of the <a data-udi="umb://document/c2a0cfb0af8146d18a45e08bc4c22d42" href="https://www.inghams.co.uk/destinations/italy/sicily/aeolian-islands" title="Aeolian Islands">Aeolian Islands</a> (weather dependant and payable locally, approx. €45 per person). The boat trip will take you to Stromboli where you can see the active volcano, Lipari and Vulcano where you'll have time to explore the therapeutic mud baths.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 5: Scilla and Reggio Calabria</strong></p>
<p>Scilla’s another impressive coastal town built on the cliff edge. As you approach the town, you’ll stop of in the picture-perfect fishing village of Chinalea – we enjoyed watching the colourful boats bob along the coast as fishermen bring in their catch. You can’t miss Castello Ruffo high up on the rocks – it dates back to the 5<sup>th</sup> century BC and has stood for centuries as a safe sanctuary and protective stronghold. After you’ll head to the region’s largest city, Reggio Calabria. While you’re here visit the archaeological museum, where you can see the Riace Bronzes - life size statues of Greek warriors were cast around 460–450 BC. The town has a beautiful waterfront promenade that you’ll have time to stroll along before visiting the Roman Baths, Greek walls and the Cathedral.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 6: Zungri </strong></p>
<p>On todays excursion you’ll head into Calabria’s forested, mountainous hinterland. Zungri’s an ancient agricultural village – here you’ll see the archaeological site of Sbariati, a well-preserved rock settlement of caves carved into the mountainside. They were inhabited by Basillian monks, who arrived there in the 12<sup>th</sup> century. Learn about this ancient social model and way of life. Later, we’ve organised a visit to a small family farm, where they grow onions, produce nudja (typical Calabrian salami), wine, cheese and vegetables. You’ll have the chance to taste this traditional Calabrian produce and the opportunity to take some home with you. Before heading back you’ll visit the Church of Our Lady of the Snow.</p>
<p>Meals included: Breakfast, Small Food &amp; Wine Tasting, Dinner</p>
<p><strong>Day 7: Lamezia Terme</strong></p>
<p>Once you arrive in Lamezia Terme, head into the old town district of Nicastro - explore the Veterans Church, and learn about its fascinating history. According to folk traditions, the church dates back to 1200 and was built on the ruins of an ancient Basilican Monastery. The town is full of fascinating historic buildings such as the Norman castle and the beautiful Duomo di Nicastro, built in the Byzantine era. In the afternoon, continue to the small village of Tiriolo located 690 metres above sea level with views spectacular views – look out to the Ionian Sea to one side and the Tyrrhenian Sea on the other.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 8: Calabria to UK</strong></p>
<p>After breakfast, depart to the airport for your flight home.</p>
<p>Meals included: Breakfast</p>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Tour highlights">[Back to top]</a></p>
<h2><a name="Your holiday includes"></a><span class="geolocation-title">Your holiday includes</span></h2>
<ul>
<li>7 nights accommodation on a half board basis</li>
<li>Airport transfers</li>
<li>Half day excursion to Tropea &amp; Capo Vaticano</li>
<li>Half day excursion to Pizzo with a tasting of tartufo ice cream</li>
<li>Half day excursion to Zungri and a visit to a local farm with tastings of typical products</li>
<li>Full day excursion to Nicastro &amp; Tiriolo</li>
</ul>
<p><span></span><strong>Your holiday excludes:</strong></p>
<ul>
<li>Optional excursion to the Aeolian Islands</li>
<li>Entrance tickets to museums/archaeological sites</li>
<li>Extras, drinks and personal expenses</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Tour highlights">[Back to top]</a></p>
<h2><a name="Hotels"></a><span class="geolocation-title">Hotels</span></h2>
<p>You will be in one of the below three hotels (to be confirmed when booked). If you would like to stay in a specific hotel, please call to book.</p>
<p><strong>★★★★ Hotel Cannamele Resort, Parghelia </strong></p>
<p>The hotel is located about four kilometres outside of Tropea and just one kilometre from the centre of Parghelia, providing a prime position for exploring the area. Enjoy the great facilities that include a heated outdoor swimming pool and a wellness area with steam baths and treatments (payable locally). The café bar is a great spot for a refreshing drink after visiting the beautiful region that surrounds the hotel. Each morning a buffet breakfast is served on the panoramic terrace overlooking the sea. Guest rooms are simply furnished and provide a fresh and bright space.</p>
<p><strong>★★★★ Villaggio Baia d'Ercole, Capo Vaticano </strong></p>
<p>Set in the heart of Capo Vaticano and about 15 kilometres from the centre of Tropea, this hotel is in an excellent location for seeing the nearby sights. Surrounded by lush gardens and Mediterranean vegetation. Facilities include an elegant restaurant that overlooks the long beach, a central bar, two swimming pools close to the sea, a tennis court and a beach and sun terrace equipped with sun loungers. The rooms are decorated in fresh light tones.</p>
<p><strong>★★★★ Costa Degli Dei Resort, Capo Vaticano</strong></p>
<p>Set on the beautiful sandy promontory of Capo Vaticano the Costa Degli Dei Resort is immersed in beautiful natural surroundings. The hotel's private white sandy beach has been awarded a Blue Flag status and can be reached by a shuttle bus. A pool area is equipped with loungers and a bar service providing a great place to relax. The hotel's guest rooms echo the colours and tones of the nearby fishing villages and are decorated with cool tile floors and wooden furnishings. </p>
<p> </p>
<h2><a name="Departure dates"></a><span class="geolocation-title">Departure dates<a></a></span></h2>
<ul>
<li>Every Saturday from May to October. Other arrival days are possible, please call if you would like to book these.</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-italy/highlights-of-calabria#Tour highlights">[Back to top]</a></p>]]></description>
  <descriptionCharacterLimit>10000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[0]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This self-guided tour itinerary will lead you to see some of Calabria's top sights. Spend your days exploring ancient towns and villages, strolling beside beautiful coast lines and tasting the culinary delights the region has to offer. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/514af973581644dc8e572cb34acef1d5]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Explore some of Calabria's most beautiful coastlines and its striking clifftop towns and villages on this self-guided tour. Book your self-guided tour of Calabria today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Highlights of Calabria Self-Guided Tour | Italy Tours | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Italy: Highlights of Calabria]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITXL3002]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/b97673ffe21c4dddb421af4c884e381d]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>