<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="d79c905b-d54e-4c9e-8d65-0cfeb6513fd7" id="24632" nodeName="Passport Checks" isDoc="" updated="2018-12-03T13:08:15.9700000Z" parentGUID="cb83a9a1-356e-49e1-bc92-5d872fa80d91" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="6" published="true" isBlueprint="false">
  <answer><![CDATA[<p><span>You must have a FULL and VALID passport to visit the destinations we feature and you should also have 6 months left on the validity of your passport. Please ensure that the names and initials on your flight tickets are the same as shown on your passport.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What should I check with regards to my passport?]]></question>
</fAQItem>