<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="a78cf8d2-ae0b-4c6a-93b3-fa2d93384974" id="22913" nodeName="Lindau" isDoc="" updated="2021-12-29T13:46:49.7030000Z" parentGUID="352137bb-bdf4-4ec4-ac78-57b5a613deb4" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="3" published="false" isBlueprint="false">
  <activityInformation><![CDATA[<p>Great Value Travel passes<br />Purchase a travel pass and only pay one inclusive price for your trips.</p>
<p>Lake Constance ‘Seebären’ regional pass (pre-bookable)<br />£59, 3 days £76, 7 days</p>
<p>This excellent value ‘all-inclusive’ regional pass is recommended for guests staying in Constance, Lochau and Bregenz. With unlimited FREE travel on the fleet of passenger boats, as well as FREE entrance to many of the regions attractions, it is the perfect way to get to know the area!</p>
<ul>
<li>Free unlimited travel on the ‘White Fleet’ passenger boats around the lake including to Constance, Lindau, Bregenz, Meersburg, Mainau, Friedrichshafen, Stein am Rhein, Überlingen and Schaffhausen for the Rhine Falls</li>
</ul>
<ul>
<li>Free entrance to 170 attractions in the region including Friedrichshafen Zeppelin museum, Meersburg castles, Salem castle, Unteruhldingen ‘Village on Stilts’ and Sea Life Konstanz</li>
</ul>
<ul>
<li>Free travel on Pfänder cable-car near Bregenz, and Säntis cable-car in Switzerland</li>
</ul>
<ul>
<li>Free entrance to many village, art and culture museum</li>
</ul>
<p>Subject to change. Travel on catamaran and car ferry services not included.</p>
<p>Things to do in Lindau</p>
<ul>
<li>‘Bregenzer Festspiele’ opera takes place in nearby Bregenz on the lake stage mid July – mid August</li>
<li>Pfänder cable-car near Bregenz for hill walking, museum, falconry shows and panoramic views of the lake (10 mins by train)</li>
<li>Good local bus service and excellent railway links to surrounding area</li>
<li>Regular performances by the famous ‘Lindau Puppet Opera’ with intricate hand-made puppets</li>
<li>Several lakeside cafés and restaurants</li>
<li>Lindau town festival with live music takes place approx. mid-July</li>
<li>Municipal museum in old town with changing art and culture exhibitions</li>
<li>Excellent network of cycle paths around the lake</li>
</ul>]]></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/b5151f20d7d14ac4a9f17d0ebd171f86]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Situated on its own island in the southern part of the lake, Lindau is a delightful bustling Bavarian town, popular for its charming cobbled streets, historic buildings and fabulous panoramic views across the lake and to the mountains beyond. The harbour with the lighthouse and 19th century Bavarian lion standing guard, watching the regular passenger boat services pass by, is one of the region's most famous and photographed views. The old town is rich in history, with many interesting sights including St. Stephen's church and the 'Mangturm' medieval tower, several picturesque market squares and beautifully-frescoed buildings to discover. The lakeside promenade is lined with bustling cafés and restaurants to relax and take in the views.</p>
<p> </p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p>Book Locally | Prices are shown for guidance only. Don’t miss these recommended trips….</p>
<p><strong>Meersburg Castle</strong> £10 (entrance only)<br />Visit Germany’s oldest castle in this romantic wine-village (full day trip from Lindau)</p>
<p><strong>Friedrichshafen and Zeppelin airship museum </strong>£7 (museum entrance only)<br />Visit the birthplace of the Zeppelin airship and the museum dedicated to its history. (approx. ½ hr by train from Lindau).</p>
<p><strong>‘Village on Stilts’ at Unteruhldingen</strong> £7 (entrance only)<br />Learn the history of the ancient lake dwellers at this interesting village re-built on stilts (full day trip by boat/rail from Lindau)</p>
<p><strong>Pfänder cable-car and park £10</strong> (return cable-car journey only)<br />Reach the summit at 1064m of the local mountain near Bregenz, for great panorama and hiking opportunities. Or enjoy the bird of prey falconry<br />show (¼ hr by rail from Lindau)</p>
<p><strong>Great Value</strong> Entrance and boat travel to the above destinations is included from all resorts with the purchase of a Lake Constance ‘Seebären’ regional pass.</p>
<p><strong>Beautiful Flower island of Mainau £15</strong> (garden entrance only)<br />Wonderful floral displays, Italian rose garden, butterfly house, palm house with tropical flora as well as church, palace and several cafés. from Lindau (full day trip by boat/rail).</p>
<p>Many more excursions available through your Representative</p>
<p><em>Please note that we act at all times as selling agent for the suppliers of activities &amp; excursions.</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals><![CDATA[<p> </p>
<table border="0" cellspacing="0" cellpadding="5" align="left" style="width: 312px;">
<tbody>
<tr>
<td align="center" valign="top"><img src="/media/3053350/Bregenz-Opera-on-the-Lake.JPG" alt="Bregenz Opera On The Lake" width="325" height="234" rel="325,234" /></td>
</tr>
</tbody>
</table>
<p> </p>
<h2>Bregenz Opera On The Lake</h2>
<p>Sit back and enjoy the spectacle of Mozart’s The Magic Flute being performed in Bregenz, on the world’s largest lake stage as part of the famous ‘Bregenzer Festspiele’ We can arrange tickets as part of our inclusive holiday programmes to Lindau and nearby Lochau but early booking is recommended.</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<table border="0" cellspacing="0" cellpadding="5" align="left" style="width: 312px;">
<tbody>
<tr>
<td align="center" valign="top"><img src="/media/3053357/Oktoberfest.JPG" alt="Oktoberfest" width="322" height="234" rel="322,234" /></td>
</tr>
</tbody>
</table>
<p> </p>
<h2>Oktoberfest, Bavaria</h2>
<p>Oktoberfest (from 20 September) is one of the world’s largest and best known festivals held annually in Munich, Bavaria. It’s a 15 day event running from 20th September and the Schottenhamel tent is the place to be to catch the official opening ceremonies. At noon the Mayor of Munich will have the honour of tapping the first keg of Oktoberfest beer. Drink it by the litre, eat traditional Bavarian food including the famous Bratwurst.</p>
<p> </p>]]></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hikes><![CDATA[1]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[German]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[47.5500000]]></latitude>
  <listingDescription><![CDATA[<p>Situated on its own island in the southern part of the lake, Lindau is a delightful bustling Bavarian town, popular for its charming cobbled streets, historic buildings and fabulous panoramic views across the lake and to the mountains beyond.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/cb80070d27d645309adea696d5242071]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[9.6833300]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Lindau, Lake Constance for an amazing summer holiday in Germany. Lakes and walking holidays in Lindau with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Lindau Lake Constance Germany, Lakes & Mountains 2016 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[DELD]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>Multi-Centres | </strong>Combine your stay in Lindau with any one or more resorts of your choice in Switzerland. We recommend <a rel="noopener noreferrer" href="/{localLink:299794f0-978a-4293-afdb-4548abb07e6e}" target="_blank" title="Lake Lucerne">Lake Lucerne</a>. Flexible durations available. Transfers between resorts via the Swiss transport network are included. Or try our recommended independent ‘cruise and stay’ holiday that also features Lake Constance: <a rel="noopener noreferrer" href="/{localLink:b1efe134-c579-4d8c-a952-d2083128d41d}" target="_blank" title="Classic Lakes &amp; Mountains Combinations">‘Classical Rhine Cruise’</a>.</p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>0</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>0</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[3]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Delightful bustling Bavarian town]]></tagline>
  <thingsToDo><![CDATA[<ul>
<li>Cinema</li>
<li>Cycling</li>
<li>Sailing</li>
<li>Shopping</li>
<li>Tennis</li>
<li>Walking</li>
</ul>
<p>‘Bregenzer Festspiele’ opera takes place in nearby Bregenz on the lake stage mid July – mid August. Pfänder cable-car near Bregenz for hill walking, museum, falconry shows and panoramic views of the lake is 10 minutes by train. Good local bus service and excellent railway links to surrounding area. Regular performances by the famous ‘Lindau Puppet Opera’ with intricate hand-made puppets. Several lakeside cafés and restaurants. The town festival with live music takes place approximately mid-July. The municipal museum in old town with changing art and culture exhibitions. Excellent network of cycle paths around the lake.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td>Wednesday/Saturday</td>
<td><strong>Zurich</strong></td>
<td>Gatwick <br />Heathrow<br />London City<br />Luton<br />Birmingham <br />Manchester <br />Edinburgh</td>
<td>Nil/£19<br />Nil/£19<br />Nil/£19<br />Nil/£19<br />£49/£69<br />£49/£69<br />£49/£69</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer Approx. 2hrs 30mins by rail.</p>
<p>Supplements: are based on 7 nights departures.</p>
<p>Self drive is available</p>]]></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p>There is some wonderful lakeside walking in and around Lindau, which is mostly on the flat and great for enjoying the region’s mild climate and great scenery. Guests in Lindau, the 130km network of signposted Nordic walking paths take you through the hilly surrounding areas as well as along the lake shores. Hillwalkers can head to the nearby Appenzell or Pfänder cable-cars.</p>
<p>There is some wonderful lakeside walking in and around Lindau, which is mostly on the flat and great for enjoying the region’s mild climate and great scenery. Guests in Lindau, the 130km network of signposted Nordic walking paths take you through the hilly surrounding areas as well as along the lake shores. Hillwalkers can head to the nearby Appenzell or Pfänder cable-cars.</p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walks><![CDATA[2]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>