<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="56c84ff5-896f-41c1-ad51-bb9551ed27bf" id="24638" nodeName="What are the flights like?" isDoc="" updated="2021-07-06T10:40:25.0530000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="2" published="false" isBlueprint="false">
  <answer><![CDATA[<p>Flying out to Lapland could not be easier with our convenient non-stop flights from London Gatwick, Manchester, East Midlands, Newcastle and Bristol to Kittilä.  Our flights are exclusive to Inghams. Flying time to Lapland is approx. 3½ hours.</p>
<p> </p>
<p><strong>In-flight catering:</strong> all our flights, both outbound and return, include a buy-on–board service with drinks and snacks etc. All flight details and timings are provisional and subject to change until confirmed with your e-tickets</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What are the flights like?]]></question>
</fAQItem>