<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="3731959b-4269-4745-aea7-3fe134733a8d" id="56422" nodeName="UK Inghams Rep" isDoc="" updated="2022-10-26T12:32:04.6400000Z" parentGUID="c38f1dc8-bb1e-4a20-986a-f7ee6215dcf8" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="5" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>Generally there are representatives present at our UK departure airports.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Will there be an Inghams Rep at my UK departure airport?]]></question>
</fAQItem>