<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="084cd4cf-3372-4db4-8d22-6bc785ba26b0" id="22839" nodeName="Hotel Les Flocons (1550)" isDoc="" updated="2024-09-09T14:58:27.1500000Z" parentGUID="9e7d0f01-e796-4af0-b7ee-7c501cb0e893" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<ul>
<li>The hotel is not suitable for wheelchair access</li>
</ul>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "95c69a50-e146-41af-a451-1c10f7cb996a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams",
    "addedValueStart": "2019-02-18T15:31:51",
    "addedValueEnd": "2020-04-19T15:31:55",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/170313f1c2b44eff8785eec03f45d8f2,umb://media/b5587e2e36b14c5e840eb9b1d6d0165b,umb://media/5dafd0129ab54872920c62790bf2b1eb,umb://media/71f8a5d0c7bc448c871be967d66b84a2,umb://media/d0f64a39260f4afc892f3a63e566218f,umb://media/1db167231a7b4024a0d7bb03012c0704,umb://media/68927e6969934f22807e153935ba0d4a,umb://media/84234a3b28744b5b929276cce983a3b0,umb://media/b31ef7228fdb439bb5e4980ef8bfc463,umb://media/7e947b649ed142058c4d453915fe90d9,umb://media/6054a15ecd87489eba928528b22326e3,umb://media/23fe75cf7f064bed947d0cb9a2ba54a6]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The hotel is on a half board basis with meals taken in the hotels restaurant where you can enjoy typical Savoyard dishes.</p>
<p><span>A varied continental breakfast buffet with freshly baked pastries, regional products and fresh fruit is served each day. </span></p>
<p>Dinner consists of a three course menu with a choice, you can enjoy traditional cooking whilst admiring mountain views. Served between 7:30 - 9:30pm.</p>
<p>Christmas and New Year gala dinners included.</p>
<p>There's also an a la restaurant open for lunch and dinner, which is not included with the hotel half board basis.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Family run since 1967, the staff at the Hotel Les Flocons will be sure to make you feel welcome. With an excellent location at the foot of the pistes in 1550, getting on and off the mountain couldn't be easier, and when you return tasty evening meals and a wellness area awaits you.</p>
<h2>Great location</h2>
<p>Sitting at the foot of the pistes in the village of <a data-udi="umb://document/9e7d0f01e7964af0b7ee7c501cb0e893" href="/{localLink:umb://document/9e7d0f01e7964af0b7ee7c501cb0e893}" title="Courchevel">Courchevel</a> 1550, this lovely hotel is in an enviable position. With the benefit of a village atmosphere, yet with easy access to the more lively Courchevel 1850, this hotel is perfect for having the best of both worlds. The hotel is located next to the piste and is a short walk away from the <span>Tovets chairlift which gives you excellent access to the world class ski area.</span></p>
<h2>Family owned</h2>
<p>The Hotel Les Flocons has been proudly run by the Obert family since 1967 and is known for its friendly staff and excellent food. The family have consistently improved the accommodation, with the bedrooms being furnished in a warm Savoyard style, boasting incredible views over the valley.</p>
<h2>Unwind and relax</h2>
<p>After a day on the slopes make the most of the wellness area in the hotel. Give your achy ski legs a break in the sauna or steam room or relax in the <span>hotels resident's bar  which has a fabulous south-facing terrace to soak up the winter sun.</span></p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We have an exclusive agreement with The Hotel Les Flocons making us the only UK tour operator to package and sell holidays here - all the more reason to book with Inghams today!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Sauna and steam room</li>
<li>Bar</li>
<li>Lounge</li>
<li>Free Wi-Fi </li>
<li>Sun terrace with mountain views and sun loungers</li>
<li>Heated ski equipment storage room</li>
<li>Games room</li>
<li>Restaurant</li>
<li>Car parking (pay locally)</li>
</ul>
<p> </p>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "e143ae54-fe0f-4b92-8d75-3c004f4d673a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"824b64a0-4702-43d5-8ed9-e5f24d994981\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.424266]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Sitting at the foot of the pistes in the village of Courchevel 1550, this family run hotel offers comfortable bedrooms and excellent cuisine. This hotel is offered on a half board basis and is exclusive to Inghams.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/170313f1c2b44eff8785eec03f45d8f2]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax: €1.76 per person, per day. Under 18s free of charge.</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Central location in Courchevel 1550</li>
<li>Fantastic location at the foot of the slopes</li>
<li>Tovets 6-man chairlift is approximately 50 metres or a minute walk away</li>
<li>50 metres to the ski school meeting place </li>
<li>In house partner ski hire shop</li>
</ul>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[ 6.6406828]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[30 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Les Flocons is set in Village 1550 but with easy access to Courchevel 1850 in the Three Valleys Ski Area, Book Now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Les Flocons, Courchevel | France Ski Holidays | Book now with Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>30</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Les Flocons, Courchevel 1550]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCR0128]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in: 5pm</li>
<li>Check out: 12pm</li>
<li>Secure luggage storage is available in the reception.</li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Double Rooms</strong> sleep two people and are around 17m². These rooms overlook the mountains.</p>
<p><strong>South-Facing Double Rooms</strong> sleep two to three people and are around 20m². These rooms have a south facing balcony. Some rooms have an additional single bed for the third person.</p>
<p>Rooms for sole occupancy are available upon request, please call to book.</p>
<p>Twin rooms are available, just request when booking.</p>
<p><strong>Room facilities</strong></p>
<ul>
<li>Mountain views</li>
<li>Satellite TV with English speaking channels</li>
<li>Alarm clock</li>
<li>Free Wi-Fi</li>
<li>Separate WC</li>
<li>Bathroom with shower attachment</li>
<li>Hairdryer</li>
<li>Baby cots are available on request. Free for children under 2 years.</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Special dietary requirements can be catered for on request. Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[265102]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>