<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="dc33486f-5c1d-45c1-a91c-fe29d928d4b7" id="30700" nodeName="Is there a charge for using a credit card?" isDoc="" updated="2018-12-03T13:07:58.9700000Z" parentGUID="427aa7d9-4bd2-47ff-972c-7733f32dda75" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <answer><![CDATA[<p>No, there are no charges for using credit or debit cards.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[Is there a charge for using a credit card?]]></question>
</fAQItem>