<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="9ea54b69-5fcd-48cd-a62e-b9d994c1fab0" id="24574" nodeName="View booking online" isDoc="" updated="2019-06-20T13:28:21.5970000Z" parentGUID="d408e3b0-c21d-42a8-a765-34d4d3c618b1" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="20" published="true" isBlueprint="false">
  <answer><![CDATA[<p><span>Unfortunately not yet, all your holiday details will be available on your confirmation email which will be emailed to you just after you have made your booking.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[I have booked my holiday online; can I view my booking online?]]></question>
</fAQItem>