<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="af925afd-234d-4275-8270-655eedd47e3f" id="69229" nodeName="Traditional Slovenian Food" isDoc="" updated="2024-04-02T17:28:14.3730000Z" parentGUID="889518d3-ce0e-4393-bd29-7a6f4b894e66" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="83" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h2>Your Guide to Traditional Slovenian Food &amp; Drink</h2>
<p><img src="/media/13103942/adobestock_440577041.jpg" alt="Traditional slovenian food" data-udi="umb://media/15406e1996dc4df89083427da949b13f" /></p>
<p>Step into Slovenia’s kitchen, where the country’s beautiful landscape serves as the unforgettable seasonings flavouring every dish.</p>
<p>Whether you’re dining lakeside at <a data-udi="umb://document/e0872feec9b24b8db1b30d83108b172e" href="/{localLink:umb://document/e0872feec9b24b8db1b30d83108b172e}" title="Lake Bled">Lake Bled</a>, indulging in alpine treats in <a data-udi="umb://document/9b6cf6eac79541f5850e141e41a071ab" href="/{localLink:umb://document/9b6cf6eac79541f5850e141e41a071ab}" title="Kranjska Gora">Kranjska Gora</a>, or exploring the street food in <a data-udi="umb://document/5cfd5f91c1d0419185792bc414ff7721" href="/{localLink:umb://document/5cfd5f91c1d0419185792bc414ff7721}" title="Ljubljana">Ljubljana</a>, each meal will serve up unforgettable memories that go far beyond the plate.</p>
<p>Plus, you get to sample Slovenia's culinary stars, with the official stamp of approval from the European Union.</p>
<p>We're talking about the famous <a href="#kran" data-anchor="#kran">Kranjska Klobasa sausage</a>, the delightful little <a href="#idri" data-anchor="#idri">Idrijski Žlikrof dumplings</a>, and the magnificent, multi-layered <a href="#pre" data-anchor="#pre">Prekmurska Gibanica cake</a>.</p>
<p> </p>
<h2>Traditional Food in Slovenia</h2>
<p><img src="/media/13103943/adobestock_423130363.jpg" alt="traditional slovenian food buckwheat" data-udi="umb://media/ad89639bc53e40e48a1c58b8b06b1ab2" /></p>
<p><a data-udi="umb://document/eb90f98d70e84089a8cb145d8e46e049" href="/{localLink:umb://document/eb90f98d70e84089a8cb145d8e46e049}" title="Slovenia">Slovenia</a> food isn’t fussy but it sure satisfies. It's all about the basics: meat, veggies like turnips and cabbage, and grains like buckwheat.</p>
<p>Slovenian cuisine mirrors its history by drawing on its close ties with neighbouring countries. Even today, we can see the lasting impact of these influences in the adoption of traditional dishes.</p>
<p>The golden rule of Slovenian gastronomy: keep it local, keep it fresh, all while giving a respectful nod to tradition. Many chefs take inspiration from their grandmothers' recipes, putting a modern spin on them for a fresh, original taste.</p>
<p>From Hungarian-inspired goulash to winter-ready sour cabbage, it's a feast fit for a king (or a hungry traveller).</p>
<p>As you head south, pasta dishes start to pop up, a nod to the Italian influence. And at coastal resorts you can expect fish with a Mediterranean influence.</p>
<p><img src="/media/13103945/adobestock_204002057.jpg" alt="Ljubljana street food" data-udi="umb://media/513da01e16ba43c58e2dc9265ca97a98" /></p>
<p><a data-udi="umb://document/5cfd5f91c1d0419185792bc414ff7721" href="/{localLink:umb://document/5cfd5f91c1d0419185792bc414ff7721}" title="Ljubljana">Ljubljana</a> is a food lover's paradise with abundant street food and restaurants. In the Slovenian Alps, dairy reigns supreme, with milk crafting the foundation for an array of cheeses, some even boasting fancy labels.</p>
<p>These creamy delights pair perfectly with hearty dishes like žganci. And in the picturesque meadows and forests, Carniolan grey bees work their magic, producing honey so good that even Winnie The Pooh would be buzzing.</p>
<h3>Typical Slovenian Meals</h3>
<p>A typical Slovenian meal unfolds in three courses. Soups are often simple, like clear broths made with beef or chicken.</p>
<p>Next comes the main course, typically a meat dish like pork cutlets, sausage, or goulash, accompanied by potatoes, vegetables, and sometimes a salad.</p>
<p>Lamb and game are also commonly used meats. Italian influences peek through in the popularity of various pastas and ravioli.</p>
<h4>From Garden to Plate</h4>
<p>Sure, Slovenia shares a border with Italy, and a plate of pasta might make an appearance. But when it comes to vegetables, Slovenians look no further than their own gardens.</p>
<p><img src="/media/13103944/adobestock_499586414.jpg" alt="traditional slovenian food dandelion salad" data-udi="umb://media/abefe40aaf2a4b0198d15b7704ad2d0a" /></p>
<p>Dandelion salads have been a hit for centuries, harvested from fields when the snow melts, usually around March or April. But once they start flowering, they’re no longer on their plates.</p>
<p>So next time you see a dandelion, don't reach for the weedkiller.</p>
<p> </p>
<h2>Slovenian National Dishes You Must Try</h2>
<p><a href="#idri" data-anchor="#idri">Idrijski Žlikrofi</a> | <a href="#aj" data-anchor="#aj">Ajdovi Žganci</a> | <a href="#obara" data-anchor="#obara">Obara</a> |<a href="#go" data-anchor="#go"> Golaž</a> | <a href="#kran" data-anchor="#kran">Kranjska Klobasa</a> | <a href="#gob" data-anchor="#gob">Gobova juha</a> | <a href="#kra" data-anchor="#kra">Kraški Pršut</a> | <a href="#jota" data-anchor="#jota">Jota</a> | <a href="#pre" data-anchor="#pre">Prežganka</a></p>
<p><a href="#stef" data-anchor="#stef">Štefani Pečenka</a> | <a href="#krem" data-anchor="#krem">Kremna Rezina</a> | <a href="#ble" data-anchor="#ble">Blejska Grmada</a> | <a href="#stru" data-anchor="#stru">Štruklji </a> | <a href="#potica" data-anchor="#potica">Potica</a> | <a href="#pre" data-anchor="#pre">Prekmurska Gibanica</a> | <a href="#krofi" data-anchor="#krofi">Krofi </a></p>
<p> </p>
<h3>Popular Slovenian Drinks</h3>
<p><a href="#wine" data-anchor="#wine">Slovenian Wine</a> | <a href="#beer" data-anchor="#beer">Slovenian Beer</a> | <a href="#schnapps" data-anchor="#schnapps">Schnapps</a></p>
<p> </p>
<h3 id="idri" style="text-align: left;">Idrijski Žlikrofi</h3>
<p><img src="/media/13103853/idrijski-žlikrofi.jpg" alt="traditional slovenian food" data-udi="umb://media/4daf4f0fcf8f4d6c8f41cf72e1ecc713" /></p>
<p>Ever heard of a dumpling so good it needs EU protection? Well, put aside your napkin and meet Idrijski Žlikrof, a much loved pasta from the Slovenian mining town of Idrija.</p>
<p>Žlikrofi consist of pasta dough, flattened and stuffed with a seasoned potato filling combined with sautéed onions.</p>
<p>These dumplings are then shaped into the classic hat form and boiled in hot water.</p>
<p>Whether you enjoy them as a starter, a main course, or, ahem, both, these bite-sized wonders are sure to leave you wanting more.</p>
<p> </p>
<h3 id="aj" style="text-align: left;">Ajdovi Žganci</h3>
<p><img src="/media/13103854/ajdovi-žganci.jpg" alt="Ajdovi Žganci traditional slovenian food" data-udi="umb://media/3792f6b4e8324dee89f85dc099d1f506" /></p>
<p>Ajdovi Žganci, or buckwheat spoon bread, holds a special place in Slovenian cuisine as a national favourite.</p>
<p>Alongside buckwheat flour, this dish can also feature potato or wheat flour.</p>
<p> </p>
<h3 id="obara" style="text-align: left;">Obara</h3>
<p><img src="/media/13103946/adobestock_361716652.jpg" alt="Obara typical slovenian dish" data-udi="umb://media/0aa6d2de3f784329b730c9b8e2cd6a4c" /></p>
<p>Obara is a hearty meat and vegetable soup from Slovenia's Štajerska region. Unlike other stews, like barley stew or goulash, it's packed with a variety of veggies and meats.</p>
<p>Typically named after the meat used, such as chicken or beef, it's loaded with carrots, turnips, beans, peas, and onions.</p>
<p>Originally a festive treat, it's now a common dish found in Slovenian eateries, often served with buckwheat or potato žganci for extra heartiness.</p>
<p> </p>
<h3 id="go" style="text-align: left;">Golaž</h3>
<p><img src="/media/13103855/goulash.jpg" alt="Golaž traditional slovenian food" data-udi="umb://media/9e760110e5d84923b572c033d981f55f" /></p>
<p>Golaž, or goulash, is a Slovenian meat stew with roots in Hungary and Austria.</p>
<p>It features diced onions and beef flank chunks, with tomato paste and paprika for colour and flavour.</p>
<p>The onions are sautéed until soft before adding the goulash spices like marjoram, caraway seed, paprika, and bay leaves, which are essential for that authentic taste.</p>
<p>After frying the spices, beef chunks are added and braised in tomato sauce and red wine. The longer it simmers, the richer and thicker it gets—some say it's even better the next day.</p>
<p> </p>
<h3 id="kran" style="text-align: left;">Kranjska Klobasa (Carniolan Sausage)</h3>
<p><img src="/media/13103856/carniolan-sausage.jpg" alt="Kranjska Klobasa slovenian food" data-udi="umb://media/3c1b2bcb2e284e8e8ccc9ebc16480eeb" /></p>
<p>Kranjska Klobasa is a cherished Slovenian sausage with EU protection, named after the historic region of Kranjska or Carniola.</p>
<p>This sausage, perhaps Slovenia's most renowned culinary treasure, earned its name "kranjska" in 1896 and achieved protected status in 2015.</p>
<p>Originally hailing from the Gorenjska region, it has since spread throughout Slovenia.</p>
<p>With its distinct smoky flavor, this cherished Slovenian delicacy must consist of at least 68% pork, 12% beef, and no more than 20% bacon.</p>
<p> </p>
<h3 id="gob" style="text-align: left;">Gobova Juha</h3>
<p><img src="/media/13103947/adobestock_620909774.jpg" alt="mushroom soup typical slovenian food" data-udi="umb://media/8a4ae48fbdcf4bd8ba070ced4f85a71b" /></p>
<p>Gobova juha, a classic Slovenian mushroom soup, comes in various renditions. Typically, it features a medley of wild mushrooms, onions, garlic, butter, flour, potatoes, white wine or wine vinegar, bay leaves, marjoram, salt, and pepper.</p>
<p>To prepare, onions are gently sautéed in butter before being combined with flour and garlic. Chunks of mushrooms are then added to the pot along with water, marjoram, bay leaves, potatoes, salt, and black pepper.</p>
<p>The soup simmers over low heat until the potatoes reach a tender consistency.</p>
<p> </p>
<h3 id="kra" style="text-align: left;">Krašk Pršut</h3>
<p><img src="/media/13103857/kraški-pršut.jpg" alt="traditional slovenian food" data-udi="umb://media/cd3aaebb8edc405c8072959db313ee9f" /></p>
<p>The Slovenian Kraški pršut, also called Karst prosciutto or Karst ham, is the top choice for Slovenian cured meats.</p>
<p>It's a dry-cured ham, not smoked, with a tradition over a hundred years old.</p>
<p>Its unique taste comes from the ideal climate in the Karst region, which affects how it dries and ages.</p>
<p> </p>
<h3 id="jota" style="text-align: left;">Jota</h3>
<p><img src="/media/13103858/jota.jpg" alt="Jota traditional slovenian food" data-udi="umb://media/4da84f54e69845e98623efa7de437a41" /></p>
<p>Jota, or Istrian stew, is a hearty soup from the Primorska region near the Adriatic Sea, popular in the northern Adriatic areas.</p>
<p>It's made with beans, sauerkraut or sour turnip (kisla ripa), potatoes, bacon, and spare ribs.</p>
<p>Bread and potatoes are staple foods in Slovenia and are key ingredients in this comforting dish.</p>
<p>Jota has a unique sweet-sour flavor, common in Eastern European cuisine. Serving it with crusty bread makes a perfect meal to warm up and lift spirits.</p>
<p> </p>
<h3 id="pre" style="text-align: left;">Prežganka</h3>
<p><img src="/media/13103859/prežganka.jpg" alt="Prežganka traditional slovenian food" data-udi="umb://media/ff49ac4b96a74813936be11a07ebba37" /></p>
<p>Prežganka, also known as "Prežgana župa," is a cherished Slovenian soup celebrated for its distinct and comforting flavour.</p>
<p>This humble yet culturally significant dish is made by roasting or browning flour, imparting a delightful nuttiness to the soup.</p>
<p>Traditionally crafted with simple ingredients like wheat, water, and salt, Prežganka earns its popularity for its soothing properties.</p>
<p>Some recipes also include a boiled egg, broken to resemble a poached egg, and cumin seeds, making it an excellent choice for calming an upset stomach.</p>
<p> </p>
<h3 id="stef" style="text-align: left;">Štefani Pečenka</h3>
<p><img src="/media/13103860/štefani-pečenka.jpg" alt="Štefani Pečenka traditional slovenian food" data-udi="umb://media/be3d3895a83b49f088831efa4a47a6a6" /></p>
<p>Štefani Pečenka is a traditional Slovenian meatloaf known for its savoury taste and eye-catching appearance, featuring hard-boiled eggs at its centre.</p>
<p>This dish is famous for its delicious flavor and is particularly popular during holiday celebrations like Easter, often gracing Slovenian family tables.</p>
<p> </p>
<h3 id="krem" style="text-align: left;">Kremna Rezina</h3>
<p><img src="/media/13103861/kremna-rezina.jpg" alt="Kremna rezina traditional slovenian food" data-udi="umb://media/6688f492efef4e259a202402aec7dfca" /></p>
<p>Kremna rezina, also known as Bled cream cake, is a famous dessert from the <a data-udi="umb://document/e0872feec9b24b8db1b30d83108b172e" href="/{localLink:umb://document/e0872feec9b24b8db1b30d83108b172e}" title="Lake Bled">Lake Bled</a> area in Slovenia.</p>
<p>It features a crispy, buttery pastry base topped with vanilla custard and whipped cream, finished with a thin layer of dough.</p>
<p>The cake is usually dusted with icing sugar and served in cube slices.</p>
<p>This delightful cake was introduced in 1953 by chef Ištvan Lukačević at Bled's Park Hotel, who improved a Hungarian cream cake recipe by adding whipped cream in perfect proportions, making it a beloved treat.</p>
<p> </p>
<h3 id="ble" style="text-align: left;">Blejska Grmada</h3>
<p>Blejska grmada is another traditional Slovenian dessert from the <a data-udi="umb://document/e0872feec9b24b8db1b30d83108b172e" href="/{localLink:umb://document/e0872feec9b24b8db1b30d83108b172e}" title="Lake Bled">Bled</a> region. It features a base made from eggs, sugar, flour, baking powder, and cocoa.</p>
<p>The dessert is topped with a sweet mixture of milk, eggs, sugar, flour, vanilla sugar, heavy cream, walnuts, chocolate, and fruit like berries.</p>
<p> </p>
<h3 id="stru " style="text-align: left;">Štruklji</h3>
<p><img src="/media/13103948/štruklji.jpg" alt="Štruklji traditional slovenian dessert" data-udi="umb://media/d3eb055e3ddc411581036ce57c4c2de1" /></p>
<p>Štruklji is a standout dish in Slovenia, known for its versatility and presence across all Slovenian regions.</p>
<p>Traditionally a celebratory food, it's served during holidays and significant events, showcasing its importance in Slovenian culture.</p>
<p>The dish is hard to define as it adopts various forms throughout the country. Made with a special kind of bread dough that's thicker than what's used in baklava, or sometimes leavened or pasta dough, štruklji can be filled with either sweet or savoury ingredients.</p>
<p>This makes it adaptable for any meal - be it a main dish, a side, or a dessert. Common fillings include beloved Slovenian flavours like apples, cottage cheese, walnuts, and tarragon, offering a taste of Slovenia with every bite.</p>
<p>These treats are distinct from baklava as the pastry is cooked in boiling water instead of being baked.</p>
<p> </p>
<h3 id="potica" style="text-align: left;">Potica</h3>
<p><img src="/media/13103949/adobestock_63939600.jpg" alt="Potica slovenian dessert" data-udi="umb://media/0448948c1c194428bf864f04f4de9174" /></p>
<p>Potica is the crown jewel of Slovenian baking, proudly made in nearly every Slovenian kitchen for big celebrations like Christmas and Easter.</p>
<p>Tracing back to 1575, this roll-up cake moved from the fancy tables of the elite to become a nationwide treasure.</p>
<p>Potica offers a flavour for everyone with its 60 different varieties, featuring fillings from walnuts to honey, poppy seeds, and even tarragon.</p>
<p>Tarragon Potica is known for its herbal taste, while Walnut Potica is loved for its sweet nuttiness, often with a hint of cinnamon.</p>
<p>Cracknels Potica offers something different with its savoury pork fat filling, contrasting the sweetness of the dough.</p>
<p>Poppy Seed Potica is sweet and nutty, with the crunch of poppy seeds mixed with sugar, and sometimes honey.</p>
<p> </p>
<h3 id="pre" style="text-align: left;">Prekmurska Gibanica</h3>
<p><img src="/media/13103950/adobestock_304944688.jpg" alt="Prekmurska Gibanica cake" data-udi="umb://media/ed5c039d57f14118b5765c407fe5bfb4" /></p>
<p>This special Slovenian layer cake has a protected status in the EU, meaning it must follow strict guidelines for its ingredients and structure, even specifying the cake's height.</p>
<p>It starts with a base of shortcrust dough topped by filo pastry. The fillings are precisely layered in order: poppy seeds, cottage cheese, walnuts, and apples.</p>
<p>To be considered authentic Prekmurska Gibanica, the cake must have eight filling layers, featuring two layers of each filling.</p>
<p> </p>
<h3 id="krofi" style="text-align: left;">Krofi</h3>
<p><img src="/media/13103951/adobestock_486303248.jpg" alt="Krofi Slovenian traditional dessert" data-udi="umb://media/553dde9f081c44d7aad851641c05b36f" /></p>
<p>Krofi are Slovenia's delicious contribution to the world of sweet fried dough, akin to the filled doughnuts found in Austrian, German, Portuguese, and Bosnian cuisines.</p>
<p>Made from a rich, leavened dough that's rolled out, cut into rounds, fried, and then filled, these treats offer a taste of Slovenia's take on a beloved classic.</p>
<p> </p>
<h2>Drink Like a Slovenian</h2>
<p> </p>
<h3 id="wine" style="text-align: left;">Slovenian Wine</h3>
<p><img src="/media/13103952/adobestock_159517368.jpg" alt="slovenia drinks" data-udi="umb://media/0186772f3184413694122a557d2ba762" /></p>
<p>Slovenia's wine scene is a hidden gem, boasting selections from three wine-growing regions and nine districts that stand shoulder to shoulder with the world's finest.</p>
<p>Thanks to unique soils, climates, and aging techniques, each region pours its own distinctive character into every bottle.</p>
<p>The perfect blend of climate and soil here allows Slovenia to offer a rich tapestry of wines.</p>
<p>With an impressive roster of 52 vine varieties flourishing across the country, Slovenia's wine diversity is truly something to toast to.</p>
<h3 id="beer" style="text-align: left;">Slovenian Beer</h3>
<p><img src="/media/13103953/adobestock_457518061.jpg" alt="slovenian beer" data-udi="umb://media/8844ff72a68b4505bff2e62d09f4aa7e" /></p>
<p>In Slovenia, Union and Laško are the beer giants, with Laško toasting to its 190th birthday back in 2015.</p>
<p>Both brands, now under the Heineken umbrella, pretty much run the show in Slovenia's beer scene.</p>
<p>Their go-to brews? Plain lagers, with Union and Laško/Zlatorog leading the pack. But <a rel="noopener" href="https://www.slovenia.info/en/stories/discover-the-diverse-flavours-and-experiences-of-slovenian-beer" target="_blank" title="Slovenian beer">Slovenia's beer</a> landscape isn't just about the big players.</p>
<p>There's a thriving craft beer scene too. With hop-growing regions in the east and freshwater sources aplenty, small breweries are sprouting up like mushrooms after rain.</p>
<h3 id="schnapps" style="text-align: left;">Schnapps</h3>
<p><img src="/media/13103954/adobestock_352430998.jpg" alt="schnapps slovenia drink" data-udi="umb://media/aa68a0d311b94e939eceec9e7e742e67" /></p>
<p>In Slovenia, beer and wine might get the party started, but schnapps holds the title of the national drink.</p>
<p>Known as ‘Zganje’ in Slovenian, this spirit is served in every bar across the country, with a choice of delicious flavours such as pear, peach, lemon and blueberry.</p>
<p>The secret to the best schnapps? It's brewed at home, with recipes passed down through generations of Slovenian families, each adding a personal touch.</p>
<p> </p>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to Book Your Slovenia Holiday</h2>
<p style="text-align: center;">Book your perfect trip online or by phone. Our travel experts are here to provide advice and help you book.</p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call Us to Book Today</a></p>
<p style="text-align: center;"><a data-udi="umb://document/a3c4877767844f3d89ad8e5165020482" href="/{localLink:umb://document/a3c4877767844f3d89ad8e5165020482}" title="Slovenia" class="c-btn c-btn--secondary c-btn c-btn--mid c-btn--secondary-hollow c-btn--wide u-text-center">View all Slovenia Deals</a></p>
</div>
</div>
</div>
</div>
<p> </p>
<h2 style="text-align: center;">Get Inspired</h2>
<div>
<div class="g6">
<div class="white_box_shadow">
<h3><a data-udi="umb://document/07830ab1ba234ffd808ba9882fdd1f0f" href="/{localLink:umb://document/07830ab1ba234ffd808ba9882fdd1f0f}" title="Walking in Slovenia">Walking in Slovenia</a></h3>
<p><img src="/media/13099698/microsoftteams-image-4-png.jpg" alt="slovenia walking" data-udi="umb://media/7d894f8f91c443b195075fba23c91ca2" /></p>
<p>Check out our Slovenia walking guide to find the best places for beautiful walks.</p>
<p><a data-udi="umb://document/07830ab1ba234ffd808ba9882fdd1f0f" href="/{localLink:umb://document/07830ab1ba234ffd808ba9882fdd1f0f}" title="Walking in Slovenia" class="c-btn">Walking in Slovenia</a></p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h3><a data-udi="umb://document/a3c4877767844f3d89ad8e5165020482" href="/{localLink:umb://document/a3c4877767844f3d89ad8e5165020482}" title="Slovenia">Slovenia Holiday Deals</a></h3>
<p><img src="/media/13099693/lake-bled-slovenia-2.jpg" alt="slovenia holiday deals" data-udi="umb://media/e65717d15b53466b92b9d90d0d39b94b" /></p>
<p>Discover Slovenia holiday deals and set off on a walking adventure. Plan your perfect escape today and get ready for unforgettable views and experiences.</p>
<p><a data-udi="umb://document/a3c4877767844f3d89ad8e5165020482" href="/{localLink:umb://document/a3c4877767844f3d89ad8e5165020482}" title="Slovenia" class="c-btn">View All Slovenia Holiday Deals</a></p>
</div>
<div></div>
</div>
<div></div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Get a taste of Slovenia & discover the traditional Slovenian food and drink you'll find on the menu.]]></metaDescription>
  <metaTitle><![CDATA[Traditional Slovenian Food & Drink Guide | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Traditional Slovenian Food & Drink]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/15406e1996dc4df89083427da949b13f]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>