<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="599491ab-41f4-4d11-a3c4-cd9f7ef48bf5" id="63979" nodeName="Ski holidays by train" isDoc="" updated="2024-11-21T16:39:49.0200000Z" parentGUID="4c1720e3-4220-4977-8f9e-68516eb48336" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="0" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><img src="/media/13099593/jungfraubahn-ski-train.jpg" alt="Ski Train" data-udi="umb://media/e4dbc89ec44546d3bea78bddbbbb6946" /></p>
<h2>Reach resort by rail</h2>
<p>Thinking of travelling by train this winter to some of Europe's best loved resorts? Then jump on board with an Inghams ski holiday by train.</p>
<p>From train tracks to ski tracks, step off and ski on. Enjoy stress-free travel, flexible luggage allowance and room to stretch out. Leave the planning to us and enjoy the journey.</p>
<p><strong>Why travel by train? </strong></p>
<ul>
<li>Stress free travel</li>
<li>Shorter check in times - 90 mins prior to departure</li>
<li>Whilst on board - freedom to move around, more space</li>
<li>Luggage allowance - more allowance than flying at no extra charge</li>
<li>Beautiful scenery along the way</li>
<li>Doing your bit for the planet by travelling by train instead of plane</li>
</ul>
<p><a data-udi="umb://document/5e51e91275d64f7d9c63753bbf5ae0d3" href="/{localLink:umb://document/5e51e91275d64f7d9c63753bbf5ae0d3}" title="From London St. Pancras" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-anchor="">All train travel deals</a></p>
<p style="text-align: center;"> </p>
<h2 style="text-align: left;">Our ski holidays by train</h2>
<p>Next stop? A ski holiday of a lifetime. Experience an effortless journey when you travel by train to these popular ski resorts. See all the countries and their resorts that you can reach by train for your winter holiday below.</p>
<p>All trains will depart from St Pancras train station in London and will get you as close to your resort as possible via train, we will then arrange either coach or car hire to get you to your resort, all included in the package price.</p>
<div class="row">
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow " style="text-align: center;">
<h3 style="text-align: center;">Switzerland</h3>
<p style="text-align: left;"><img src="/media/13108573/switzerland-train-travel-600x340.jpg" alt="SwissTrainTravel" data-udi="umb://media/79a62ca41d8d409f9c7669c2f150e35a" /></p>
<p style="text-align: left;">Trains to multiple favourite resorts throughout Switzerland, offering destinations for all ski abilities. Opt for a short trip or weekend break when visiting Switzerland or a week long stay at the peak of skiing destinations. </p>
<p style="text-align: left;"><span>Trains arriving at - </span></p>
<ul style="text-align: left;">
<li style="text-align: left;"><span><a data-udi="umb://document/a95de5322c984f85bcf0f013c457e8df" href="/{localLink:umb://document/a95de5322c984f85bcf0f013c457e8df}" title="Davos">Davos</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/b23ef1df250240c5a3657f721fdb96d0" href="/{localLink:umb://document/b23ef1df250240c5a3657f721fdb96d0}" title="Klosters">Klosters</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/cc17fe79ccd1491a92608658d3af9d55" href="/{localLink:umb://document/cc17fe79ccd1491a92608658d3af9d55}" title="St. Moritz">St Moritz</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/f6cb1f0178b7447488bbf36b5f109fbc" href="/{localLink:umb://document/f6cb1f0178b7447488bbf36b5f109fbc}" title="Grindelwald">Grindelwald</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/c494e0deab1140028dfcdd140d9451cc" href="/{localLink:umb://document/c494e0deab1140028dfcdd140d9451cc}" title="Murren">Murren</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/7e163ac5c9114f0dae9f3f8d222fa730" href="/{localLink:umb://document/7e163ac5c9114f0dae9f3f8d222fa730}" title="Wengen">Wengen</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/f1003f9fd15e4187b02398fa5c12dc50" href="/{localLink:umb://document/f1003f9fd15e4187b02398fa5c12dc50}" title="Saas Fee">Saas Fee</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/4abc3d9367fc4903a52b296414b05ef1" href="/{localLink:umb://document/4abc3d9367fc4903a52b296414b05ef1}" title="Zermatt">Zermatt</a>​</span></li>
</ul>
<a data-udi="umb://document/9a4893790e284022a021ce9605e91638" href="/{localLink:umb://document/9a4893790e284022a021ce9605e91638}?to=[CH]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="" data-anchor="?to=[CH]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true">Swiss train holidays</a></div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow " style="text-align: center;">
<h3 style="text-align: center;">France</h3>
<p style="text-align: left;"><img src="/media/13108571/france-train-travel-600x340.jpg" alt="FranceTrainTravel" data-udi="umb://media/8897f35bfde84f1facf6da1a1731a2d9" /></p>
<p style="text-align: left;"><span>Reaching many favourite French resorts - </span></p>
<ul>
<li style="text-align: left;"><span><a data-udi="umb://document/9e7d0f01e7964af0b7ee7c501cb0e893" href="/{localLink:umb://document/9e7d0f01e7964af0b7ee7c501cb0e893}" title="Courchevel">Courchevel</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/4eae720ba8984d83a83f530983b4b6f8" href="/{localLink:umb://document/4eae720ba8984d83a83f530983b4b6f8}" title="Les Menuires">Les Menuires</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/870730cefeb2441dab9ccfec19c2fe88" href="/{localLink:umb://document/870730cefeb2441dab9ccfec19c2fe88}" title="Meribel">Meribel</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/50690c0f70c74050930d18799cab6fa8" href="/{localLink:umb://document/50690c0f70c74050930d18799cab6fa8}" title="Val Thorens">Val Thorens</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/c155a29773fd476189963f3b4e3b57e4" href="/{localLink:umb://document/c155a29773fd476189963f3b4e3b57e4}" title="La Plagne">La Plagne</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isère</a> &amp; <a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes">Tignes</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs">Les Arcs</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/4c93b881bd494483871697b278b37899" href="/{localLink:umb://document/4c93b881bd494483871697b278b37899}" title="La Rosière">La Rosiere</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/b7e31f4645514434bec76a3728e974c0" href="/{localLink:umb://document/b7e31f4645514434bec76a3728e974c0}" title="Serre Chevalier">Serre Chevalier​</a><br /></span></li>
<li style="text-align: left;"><span><a data-udi="umb://document/4355b275387942f08b2416ccd4bee606" href="/{localLink:umb://document/4355b275387942f08b2416ccd4bee606}" title="Montgenèvre">Montgenevre</a></span></li>
<li style="text-align: left;"><a data-udi="umb://document/957b02edc6d846dfb4b2a1b2d1a3222d" href="/{localLink:umb://document/957b02edc6d846dfb4b2a1b2d1a3222d}" title="Morzine"><span>Morzine </span></a></li>
<li style="text-align: left;"><span><a data-udi="umb://document/799f63184c52477c94171a057c16e540" href="/{localLink:umb://document/799f63184c52477c94171a057c16e540}" title="Avoriaz">Avoriaz</a>​ </span></li>
</ul>
<a data-udi="umb://document/9a4893790e284022a021ce9605e91638" href="/{localLink:umb://document/9a4893790e284022a021ce9605e91638}?to=[FR]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="" data-anchor="?to=[FR]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true">France train holidays</a></div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow " style="text-align: center;">
<h3 style="text-align: center;">Austria</h3>
<p style="text-align: left;"><img src="/media/13108570/austria-train-travel-600x340.jpg" alt="AustriaTrainTravel" data-udi="umb://media/62d6ab58f10845f3a14c36c8afc11f6e" /></p>
<p style="text-align: left;"><span>Avid skiers and snowboarders are always keen to tackle the slopes of </span>St Anton in Austria as it's known for putting advanced skiers to the test. </p>
<p style="text-align: left;"><span>Sit back, stretch out your legs and un-wind on the train as you make your way home from a busy week's skiing at this popular yet challenging resort. </span></p>
<p style="text-align: left;"><span>Trains arriving at - </span></p>
<ul>
<li style="text-align: left;"><span><a data-udi="umb://document/eb8a4e065fbc4a0fa6a0e0e273886855" href="https://www.inghams.co.uk/ski-holidays/ski-resorts/austria/arlberg-ski-area/st-anton" title="St Anton">St Anton</a></span></li>
</ul>
<a data-udi="umb://document/9a4893790e284022a021ce9605e91638" href="/{localLink:umb://document/9a4893790e284022a021ce9605e91638}?to=[AT]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="" data-anchor="?to=[AT]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true">Austria train holidays</a></div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow " style="text-align: center;">
<h3 style="text-align: center;">Italy</h3>
<p style="text-align: left;"><img src="/media/13108572/italy-train-travel-600x340.jpg" alt="ItalyTrainTravel" data-udi="umb://media/20351fa7677548c7967e66b80e452694" /></p>
<p style="text-align: left;"><span>Italy is a firm favourite amongst skiers for its good weather, wholesome food and great slopes. </span></p>
<p style="text-align: left;"><span>Reach Italy 2 of Italy's best loved ski resorts this season by train. </span></p>
<p style="text-align: left;"><span>Trains arriving at - </span></p>
<ul>
<li style="text-align: left;"><a data-udi="umb://document/50e23ca4eed84c0d9e0681e29aebcaea" href="/{localLink:umb://document/50e23ca4eed84c0d9e0681e29aebcaea}" title="Sestriere">Sestriere</a></li>
<li style="text-align: left;"><a data-udi="umb://document/a0b1d3c577424320a9af2e1af08b6887" href="/{localLink:umb://document/a0b1d3c577424320a9af2e1af08b6887}" title="Sauze d'Oulx">Sauze d'Oulx</a></li>
</ul>
<a data-udi="umb://document/9a4893790e284022a021ce9605e91638" href="/{localLink:umb://document/9a4893790e284022a021ce9605e91638}?to=[IT]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="" data-anchor="?to=[IT]&amp;resort=[]&amp;when=01/12/2024&amp;nights=7&amp;from=QQS&amp;adults=2&amp;children=&amp;flexibleDate=35&amp;self=true">Italy train holidays</a></div>
</div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2>Eurostar snow train package to France</h2>
<p>The Eurostar snow train is back again for winter 2024/25, taking passengers from London St Pancras International Station on to French resorts - Val D ’Isere, Tignes and Les Arcs. With both Standard and Premier Classes on the Eurostar, comfort and choice are guaranteed all the way.</p>
<p><strong>The Eurostar snow train</strong></p>
<ul>
<li>Running from the 21st December 2024 to the 22nd February 2025</li>
<li>Outbound: Saturdays from St Pancras - Bourg St Maurice at 09:01-17:45</li>
<li>Inbound: Sundays from Bourg St Maurice - London St Pancras at 08:09 - 15:57</li>
<li>Includes just one stop in Lille, France.</li>
</ul>
<p> </p>
<p><strong>Why book the Inghams Eurostar snow train package –</strong></p>
<ul>
<li>You get an extra day of skiing – The Eurostar snow train departs London on Saturdays and returns on the following Sunday, meaning you have 7 full days on the slopes.</li>
<li>We give you 7 days for the price of 6 - an extra night of accommodation is provided in Bourg St Maurice on the Saturday evening before return train journey, plus when you buy a 6 day lift pass and ski hire, we will cover the cost for your 7th day.</li>
<li>Our packages include train travel, transfers and your choice of accommodation in the popular resorts of <a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val D ’Isere</a>, <a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes">Tignes</a> and <a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs">Les Arcs</a>.</li>
<li>On average, the train is around 3 hours quicker than usual train options due to only one platform change in Lille.</li>
<li>On the Eurostar you can stay connected with free Wi-Fi.</li>
<li>Indulge in onboard refreshments.</li>
<li>Make the most of the generous luggage allowance.</li>
</ul>
<p>Read more about the Eurostar Snow Train - <a data-udi="umb://document/2bf29261e6e747a98423e8b40c1d21ea" href="/{localLink:umb://document/2bf29261e6e747a98423e8b40c1d21ea}" title="Eurostar Snow Train">view our Guide</a></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">No Snow? S'no problem!</h2>
<p style="text-align: center;"><em>Inghams Ski holidays are all covered by our Snow Guarantee</em></p>
<p style="text-align: center;"><span>Read more here:</span></p>
<p style="text-align: center;"><a data-udi="umb://document/f4ae07b2d50a4681918f9b4a3d6500c6" href="/{localLink:umb://document/f4ae07b2d50a4681918f9b4a3d6500c6}" title="Snow Guarantee" class="InfinityNumber c-btn">Snow Guarantee</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow">
<h2><img style="font-size: 14px; font-weight: 400; display: block; margin-left: auto; margin-right: auto;" src="/media/13099193/eurostar-snow-6-838x300.jpg" alt="traintravel" data-udi="umb://media/757d05a8878648b6bff47483a20636cc" /></h2>
<h2>Be part of the change:</h2>
<p>The places you visit as part of your Inghams holiday are special, and it’s our responsibility to keep them that way, long into the future. Switching the plane for a train can reduce the carbon footprint of your holiday considerably. We want to make it as easy as possible for our customers to take the train, so we are offering rail travel to 3 countries across Europe. </p>
<ul>
<li>We’ve committed to reducing our carbon by 50% by 2030 - 59% of holiday currently comes from flights.</li>
<li>Flying is the fastest growing source of greenhouse gas emissions in Europe.</li>
<li>By traveling by rail our customers can connect with the changing landscapes as they travel to their destination</li>
</ul>
<p><a data-udi="umb://document/67e40dbb55ff45098496ea2e7eee1f72" href="/{localLink:umb://document/67e40dbb55ff45098496ea2e7eee1f72}" class="c-btn">Sustainability with Inghams</a></p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Get in touch to book your holiday - train travel, hotel and transfers? We’ve got you covered.</span></p>
<p style="text-align: center;"><span>Eurostar snow train: </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
<p style="text-align: center;"><span>Europe train travel: </span></p>
<p style="text-align: center;"><a data-udi="umb://document/5e51e91275d64f7d9c63753bbf5ae0d3" href="/{localLink:umb://document/5e51e91275d64f7d9c63753bbf5ae0d3}" title="From London St. Pancras" class="InfinityNumber c-btn" data-anchor="">Book online today</a></p>
</div>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Travel by rail for your ski holiday this winter, with plenty of routes to chose from to multiple resorts across Europe.]]></metaDescription>
  <metaTitle><![CDATA[Ski Holidays by Train | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ski holidays by train]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Travel by rail this winter for your Inghams ski holiday. See the routes and destinations reached via rail travel. </p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/01f29be7ff014293a7a11a2560125aac]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>