<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelItem guid="41c51fbd-541b-4932-b059-d06f67b7679f" id="42152" nodeName="Discover the Julian Alps" isDoc="" updated="2023-04-17T19:15:34.2370000Z" parentGUID="d2cbbde3-8d47-4665-a86d-3d65dfe2ece6" nodeTypeAlias="productFeaturePanelItem" templateAlias="" sortOrder="28" published="false" isBlueprint="false">
  <contentLink><![CDATA[[
  {
    "name": "Discover the Julian Alps",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/a0191268612e4a3389b47a26550db553",
    "externalLink": "",
    "linkName": "Discover the Julian Alps",
    "linkTitle": ""
  }
]]]></contentLink>
  <imageUrl><![CDATA[umb://media/e5d9942645304daf8c00aecf535db319]]></imageUrl>
  <isPriceVisible>0</isPriceVisible>
  <isTitleVisible>1</isTitleVisible>
  <isVisible>1</isVisible>
  <itemPosition>2</itemPosition>
  <linkType><![CDATA[0]]></linkType>
  <offerSettings></offerSettings>
  <price></price>
  <title><![CDATA[Discover the Julian Alps Tour]]></title>
</productFeaturePanelItem>