<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="c21c53cc-624d-4a97-98ee-df89a7c135d8" id="70774" nodeName="Last Minute Ski Deals" isDoc="" updated="2024-10-17T11:38:33.8230000Z" parentGUID="3f15f0e3-fa08-4c47-8d89-ed97708c23f6" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Next Winter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aada1eeaff944fecb99bf1e42e6176b6",
    "externalLink": "",
    "linkName": "Last Minute Ski Deals",
    "linkTitle": "Last Minute Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>