<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="0c2f3320-dcb3-43e2-8b15-bf9e0f94f28d" id="22221" nodeName="Landhotel Schutzenhof" isDoc="" updated="2022-01-26T09:56:46.1530000Z" parentGUID="d2df326f-d2d5-44f2-b9d4-699c3cf10233" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "a5a3d965-af74-478e-bab7-4c3634fa4aa2",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams",
    "addedValueStart": "2019-11-26T15:45:00",
    "addedValueEnd": "2099-11-27T15:45:02",
    "hideAddedValue": "0"
  },
  {
    "key": "bbc1a849-56ee-4fc0-a423-011b46003bf8",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "No single supplement ",
    "addedValueStart": "2019-11-26T15:45:10",
    "addedValueEnd": "2099-11-27T15:45:12",
    "hideAddedValue": "0"
  },
  {
    "key": "55aa5ac8-e1fb-4bc1-8cd8-590f17c214c2",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free private lakeside lido and free entrance to Fuschl lido",
    "addedValueStart": "2019-11-26T15:45:21",
    "addedValueEnd": "2099-11-27T15:45:23",
    "hideAddedValue": "0"
  },
  {
    "key": "948f1207-8ec8-4682-bd2e-ac9bb07968c1",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free rental of rucksacks and walking poles ",
    "addedValueStart": "2019-11-26T15:45:36",
    "addedValueEnd": "2099-11-27T15:45:37",
    "hideAddedValue": "0"
  },
  {
    "key": "30fa9642-8ed5-4d44-a26f-b4d7ba8d504e",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free bike rental (city and mountain bikes)",
    "addedValueStart": "2019-11-26T15:45:45",
    "addedValueEnd": "2099-11-27T15:45:48",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[1,2,6,8,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/06f2556443924586a9b59318f999a25e,umb://media/6e698044626349d5b2c80aa95dfd2abc,umb://media/8049cab4a817496d85aedc10b07d881a,umb://media/0b6b0da5211d4b2fac239c0309fade03,umb://media/3399adf48f7b4d32be415f75afa69b9b,umb://media/cefa95020557460b85dea9b9e555fd12,umb://media/30ab1054876b4ae1bf83b39a0a7085a6,umb://media/11e09fd0703f49c7b5f2df741310d05f,umb://media/abf9e5fcbf14457a82070337f175df81,umb://media/4538d82a49fb4d0381d05022e7812a0d]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast</li>
<li>4 course evening meal with main dish choices and salad buffet</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Beautifully furnished and decorated in Alpine style with many little homely features, the Schützenhof enjoys a prime position directly beside the lake and close to <a data-udi="umb://document/d2df326fd2d544f2b9d4699c3cf10233" href="/{localLink:umb://document/d2df326fd2d544f2b9d4699c3cf10233}" title="Fuschl am See">Fuschl am See</a> centre. The hotel has a lovely lakeside terrace with outstanding views of Lake Fuschl where guests can enjoy breakfast and dinner.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities><![CDATA[umb://document/d5db5aaf3bbf4af08dbd82ca5f8c6e57,umb://document/a1114b4b3a6f48fbaf10c6d3b6f46330,umb://document/68637ff4f9c2492e8abdae246b41cff4,umb://document/84c75c7aca8b4054874c29d25dde5dbc,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/55cfae6bffbd43b4b2a0ebcf052c0ffc,umb://document/6129d2e9c59b48e5b0cde91d9a269c41]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Comfortable lounge and bar</li>
<li>Charming restaurant with lake views</li>
<li>Lakeside terrace/café</li>
<li>Conservatory</li>
<li>Saunas, jacuzzi and gym</li>
<li>Wi-Fi (<strong>Free</strong>)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>1</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[47.797037]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Beautifully furnished and decorated in Alpine style with many little homely features.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/06f2556443924586a9b59318f999a25e]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<p>flat area next to lake, close to village centre.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[13.299002]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[44 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Landhotel Schutzenhof, Fuschl am See in The Salzkammergut, Book Summer Lakes & Mountains Holidays with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Landhotel Schutzenhof, Fuschl am See Austria - Lakes | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>44</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/3e07fe007d264967aab8a0d7dd824619",
    "promotionBannerMobile": "umb://media/2edb510819744c1f821cef9d88ed161c",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Summer Sale\",\r\n    \"udi\": \"umb://document/b5d0cc549f6848f3abf28bad26a9f75e\"\r\n  }\r\n]",
    "promotionStartDate": "2018-12-26T00:00:00",
    "promotionEndDate": "2019-02-01T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[ATFU0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Austrian twins type 'Schutzen' with side lake view have shower</li>
<li>Spacious type 'Kaiserschutzen' Austrian twins with shower and balcony</li>
<li>Austrian twins type 'Festungsschutzen' with full lake view have bath and balcony.</li>
<li>Singles at no supplement have a shower</li>
<li>All rooms have cable free Wi-Fi, cable TV, telephone, radio, safe, bathrobes and hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[500788]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/d2df326fd2d544f2b9d4699c3cf10233]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>