<?xml version="1.0" encoding="utf-8"?>
<genericListingPage guid="83c10c40-d8a6-463d-bd97-a2edb87ff168" id="24443" nodeName="Lapland Holidays" isDoc="" updated="2021-12-13T18:16:32.9000000Z" parentGUID="99bd1d5d-9976-478a-8dd0-10121fc85958" nodeTypeAlias="genericListingPage" templateAlias="GenericListingPage" sortOrder="7" published="false" isBlueprint="false">
  <bodyText><![CDATA[<h2>Welcome to Lapland</h2>
<p>The first things that strike you about Lapland in winter are the peace and quiet, the seemingly endless wilderness and sense of space, and the glorious variations in the scenery, with the ever-changing colours of the light. <br /><br />Against this tranquil background however, there is also huge excitement to be had in Lapland, and the best of these adventures work hand in hand with the scenery. <br /><br />From winter walks, cross-country skiing and snowshoeing to longer safaris by reindeer sleigh, husky-sled or snowmobile, there are so many ways to explore the wilderness and National Park scenery surrounding our resorts.</p>
<div class="g12">
<div class="white_box_shadow" style="clear: both; display: block; overflow: hidden;">
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 20px; width: 250px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="auto" height="20" align="center" valign="middle" style="background-color: #ff9900; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 14px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;"><a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" title="Lapland/Finland"><strong style="color: #ffffff; text-decoration: none;">Search Inghams Lapland Holidays</strong></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<p> </p>
<div class="g12">
<div class="white_box_shadow" style="text-align: center;"><iframe src="https://www.youtube.com/embed/T7uDhX6jyy0" allowfullscreen="" height="480" frameborder="0" width="854"></iframe></div>
</div>
<div> </div>
<p> </p>
<p style="text-align: left; font-size: 18px; color: #023761; font-weight: bold; font-style: italic;">Snow Adventures above the Arctic Circle</p>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13052888/lapland-meet-the-experts-cover-hero.jpg" alt="Northern Lights - The Greatest show on Earth" rel="840,401" /><br /><span style="color: #023761; font-weight: bold;">Northern Lights - The Greatest show on Earth</span><br />Waves of colour dance and spiral across the sky like a choreographed light show. Then look no further.<br /> • One of the greatest natural wonders of the world<br />• At their best between November and April<br />• Stay in a Glass Igloo for the ultimate view<br />• An absolute must-do experience</p>
<p> </p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13050675/husky-holiday-type.jpg" alt="Husky Safaris - Call of the wild" rel="858,410" /><br /><span style="color: #023761; font-weight: bold;">Husky Safaris - Call of the wild</span><br />Imagine the great journeys of the past, when husky-drawn sleds were the only means of exploring.<br /> • Mush through Lapland’s mystical wilderness<br /> • Discover the beautiful natural landscape<br /> • Safaris for all ages and abilities<br /> • Meet Siberian and Alaskan huskies</p>
</div>
</div>
<div> </div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13055595/finland_lapland_levi_snowmobiling.jpg" alt="Snowmobile Safaris - Wilderness riders" rel="840,401" /><br /><span style="color: #023761; font-weight: bold;">Snowmobile Safaris - Wilderness riders</span><br />The vast untouched expanse of snow is waiting for you twist the throttle to start the adventure.<br /> • Join exhilarating rides or a fun family day out<br />• Leave civilisation behind for snowy wilderness<br /> • Breathtaking scenery<br /> • We’ll kit you out with the appropriate attire</p>
<p> </p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13052904/reindeer-safari.jpg" alt="Reindeer Sleigh Rides &amp; Farm Visits - Dashing through the snow" rel="840,401" /><br /><span style="color: #023761; font-weight: bold;">Reindeer Sleigh Rides &amp; Farm Visits - Dashing through the snow</span><br />Elegant and majestic, the reindeer epitomises Lapland in winter.<br /> • Meet the reindeer up close<br /> • Ride in a reindeer sleigh through snowy fells and forests<br /> • For local tradition visit a reindeer farm<br /> • There are more reindeer than people in Lapland</p>
</div>
</div>
<div> </div>
<div> </div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13055952/finland_lapland_pyhae_skier-in-yellow-small.jpg" alt="Downhill Skiing - An enchanted journey" rel="838,360" /><br /><span style="color: #023761; font-weight: bold;">Downhill Skiing - An enchanted journey</span><br />Skiing on Lapland’s Arctic fells is a very different experience to being in the ski resorts of the Alps.<br /> • Well-groomed, wide open pistes<br /> • Uncrowded scenic runs<br /> • Snow sculpted treeline runs<br /> • Magnificent views from the highest elevations</p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13055708/finland_lapland_saariselka_skiers.jpg" alt="Cross Country Skiing - The sound of silence" rel="838,360" /><br /><span style="color: #023761; font-weight: bold;">Cross Country Skiing - The sound of silence</span><br />There is no better way to explore the beauty of Lapland than by cross-country skiing – a way of life here.<br /> • Hundreds of kilometres of marked trails<br /> • Scenic circular routes, connecting views and points of interest<br />• Suitable for all levels of fitness and experience<br /> • Look for local wildlife along the way</p>
</div>
</div>
<div> </div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13048817/glass_igloo.jpg" alt="Glass Igloo &amp; Snow Hotel - A night to remember" rel="840,401" /><br /><span style="color: #023761; font-weight: bold;">Glass Igloo &amp; Snow Hotel - A night to remember</span><br />These unforgettable bucket-list experiences are uniquely Lapland.<br /> • Glass igloos with 360-degree views into the night skies<br /> • Snowhotel with ice restaurant and ice bars<br /> • Snow village with walls made entirely of snow<br /> • Each Lapland resort offers one of these special experiences</p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13052905/sami-reindeers.jpg" alt="Sami &amp; Lapland Culture - Meet the locals" rel="840,401" /><br /><span style="color: #023761; font-weight: bold;">Sami &amp; Lapland Culture - Meet the locals</span><br />Learn about the Sami traditions and folklore that remain a part of their life today.<br /> • Reindeer sleighs and farming<br /> • Husky mushing<br /> • Visit a Sami museum and village<br /> • Stories and legends surrounding the Northern Lights</p>
</div>
</div>
<div> </div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13050676/lapland-families.jpg" alt="Families - Building shared memories" rel="858,410" /><br /><span style="color: #023761; font-weight: bold;">Families - Building shared memories</span><br />Lapland at its best. Every new adventure shared has a story that goes in to the family archive.<br /> • Tobogganing, snowman-building and snowball fights<br /> • Kick-sledding, skiing and snowboarding<br /> • Reindeer sleigh or husky sled<br /> • Drive a snowmobile pulling a heated buggy for the kids</p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13049093/santa_01.jpg" alt="Santa Breaks - Where dreams come true" rel="840,401" /><br /><span style="color: #023761; font-weight: bold;">Santa Breaks - Where dreams come true</span><br />It may be a bit cliché but this really is a holiday children will remember and cherish forever.<br /> • Meet the ‘real’ Santa Claus in Lapland<br /> • Visit Santa’s workshop<br /> • Make gingerbread with the elves<br /> • Meet Santa’s reindeer</p>
</div>
</div>
<div class="g12">
<div class="white_box_shadow" style="clear: both; display: block; overflow: hidden;">
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 20px; width: 250px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="auto" height="20" align="center" valign="middle" style="background-color: #ff9900; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 14px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;"><a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" title="Lapland/Finland"><strong style="color: #ffffff; text-decoration: none;">Search Inghams Lapland Holidays</strong></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<p> </p>
<div class="g12">
<h2>Stay in touch</h2>
Keep up to date with the latest Lapland stories and special offers. <a href="https://www.inghams.co.uk/stay-in-touch/subscribe/">Register for email news and offers</a> and follow us on <a rel="noopener noreferrer" href="https://www.facebook.com/inghams/" target="_blank">Facebook</a>, <a rel="noopener noreferrer" href="https://twitter.com/InghamsHolidays" target="_blank">Twitter</a> and <a rel="noopener noreferrer" href="https://www.instagram.com/inghamsholidays/" target="_blank">Instagram</a>.</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Lapland in winter is a magical experience, a scenic winter wonderland located deep inside the Arctic Circle and blanketed in snow from December to May.]]></metaDescription>
  <metaTitle><![CDATA[Lapland Holidays with Inghams - 2017/18 | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Experience the magic of a Lapland holiday]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>The first things that strike you about Lapland in winter are the peace and quiet, the seemingly endless wilderness and sense of space, and the glorious variations in the scenery, with the ever-changing colours of the light.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/46ccdc5e3dbc470fb70b156f98ce20a8]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/a4a479e8266449e18b6b9e98eafdfcb0]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericListingPage>