<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="37c974a0-e942-4337-82b7-f7c66871db2b" id="23212" nodeName="Brewster Mountain Lodge" isDoc="" updated="2023-11-30T09:42:14.5030000Z" parentGUID="3f77e79e-ea2d-4582-a9ac-b3c89406dc88" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="7" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>Breakfast room is accessible by wheelchair users</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "3064b3cc-2d61-4fe3-b059-fff738cc1b08",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 15 Dec 22)",
    "addedValueStart": "2019-07-08T11:04:15",
    "addedValueEnd": "2022-12-15T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "92969d97-076e-4cc1-9990-237a4c5c3f9d",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Dec 22)",
    "addedValueStart": "2021-12-15T09:35:21",
    "addedValueEnd": "2022-12-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/0b80da8ea16b4a399d6102def34a1059,umb://media/83bf59c6d375459fb4d4f1043450fc98,umb://media/284f8aa23a6c4544981365aa4938e72a,umb://media/407136be302443d78db271324bed0cc7,umb://media/5653152225994ec9b20dc9f2e9674bad,umb://media/15c3feff3a664893aa824a67e37915d1,umb://media/b4dc702e0d3141f487816dc5c536beda]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The hotel provides a complimentary continental breakfast for all guests</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Brewster Mountain Lodge offers a traditional Canadian lodge style accommodation with great facilities and location. <span>The Brewster Family is proud to honour over a century of western traditions by providing guests with accommodation in the heart of downtown <a rel="noopener" data-udi="umb://document/3f77e79eea2d4582a9acb3c89406dc88" href="/{localLink:umb://document/3f77e79eea2d4582a9acb3c89406dc88}" target="_blank" title="Banff">Banff</a>. </span></p>
<h2><span>Canadian Lodge</span></h2>
<p><span>Offering log furnishings and western décor, historic photos from the Brewster family define the interior of the lodge. </span>All rooms are decorated with handcrafted custom-made log furnishings.</p>
<h2><span>Location</span></h2>
<p><span>You will be situated just one block from the Banff Avenue and central downtown, the hotel is just steps away from excellent dining, shopping and nightlife.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Fitness room</li>
<li>Sauna</li>
<li>Wi-Fi</li>
<li>Family friendly property</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[51.17667]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>Located just one block from the Banff Avenue, the hotel is just steps away from Banff downtown's excellent restaurants, shopping, and </span><span>nightlife. The hotel is decorated in a traditional lodge style, and all rooms have handcrafted custom-made log furnishings.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/0b80da8ea16b4a399d6102def34a1059]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Centrally located in Banff downtown</li>
<li>Ski bus stops near the hotel</li>
<li><span>Transfer time: approx. 2 hour by coach from Calgary International Airport</span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[-115.57231]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[77 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[A cosy western style hotel, the Brewster Mountain Lodge is popular with Inghams guests looking for home comforts. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Brewster Mountain Lodge | Banff Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>77</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Brewster Mountain Lodge]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CABF0106]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms</strong> sleeps up to four people. Rooms have two queen size beds, bath and shower.</p>
<p><strong>Deluxe King Rooms</strong> sleep up to two people. Rooms have a king bed, jetted bath tub and shower.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>TV</li>
<li>Tea &amp; coffee making facilities</li>
<li>Wi-Fi</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[185655]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>