<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="7afce7e8-46e5-47cc-8e0b-9a07ff2c523f" id="58340" nodeName="About us" isDoc="" updated="2023-04-18T14:24:23.8330000Z" parentGUID="1e437ab1-de9c-402a-bf63-da580ffe1715" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="8" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow">
<p><img src="/media/13095224/new-logo.jpg" alt="" data-udi="umb://media/924de8c148644b2fb509239c2688a962" /><br /><a data-udi="umb://document/28065bb55a59404e9ddf4257a7dbaf0b" href="/{localLink:umb://document/28065bb55a59404e9ddf4257a7dbaf0b}" title="Lapland Excursion Offer"></a></p>
<p>Discover all that Inghams have to offer. We are a leading specialist tour operator, dedicated to helping you make the most of the great outdoors. Learn about our history, and our founder, Walter Ingham, and understand how his legacy has led us to be the award-winning holiday provider we are today.</p>
<p><span>As of 2023, Inghams launched a renewed celebration of their passion for the great outdoors to encourage their guests to ski the slopes, walk the walks and explore the Lapland wilderness with a new feel and look to the brand. </span></p>
<p>Find out more:</p>
<ul>
<li>Our rich and interesting history from our founder Walter Ingham to where we are today</li>
<li>Our sustainability journey and all we are striving to achieve for our planet</li>
<li>Our service, and how we are here for you every step of the way and how proud we are of the service we offer</li>
<li>Our partnerships and how they align with our sustainability and service commitments</li>
<li>Why you are in safe hands when travelling with us.</li>
</ul>
</div>
</div>
<div></div>
<div></div>
<div class="g6">
<div class="white_box_shadow">
<h2>Our History</h2>
<p><img src="/media/13048477/home-walter.jpeg" alt="historywalter" data-udi="umb://media/a8868da898e44dda92bc770242dc2166" /></p>
<p>Our founder, Walter Ingham, took British people on their first skiing trip abroad. From there he grew the UK skiing industry helped shaped what it is today. Find out more about our 85 years of skiing history and our growing knowledge of walking, skiing and Lapland holidays. Walter loved the great outdoors, and now you can to. Learn more about Walter and the history of how Inghams became what it is today: </p>
<div style="overflow-x: auto; float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 41px; width: 307px; background-color: #ffffff; border-color: #f26419; float: left;">
<tbody>
<tr style="height: 22px;">
<td width="auto" height="16" align="center" valign="center" style="background-color: #f26419; border-radius: 4px; background-clip: padding-box; padding-left: 14px; padding-right: 14px; height: 22px; width: 203px; text-align: center;"><a style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" data-udi="umb://document/82a77c25f84a48e383e2c0435488ddd8" href="/{localLink:umb://document/82a77c25f84a48e383e2c0435488ddd8}" title="History" data-anchor="#"><strong>View our story &amp; history</strong></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h2>Sustainability</h2>
<p><img src="/media/13085193/mayrhofen-green-fields.jpg" alt="sustainimage" data-udi="umb://media/ec08904dc5824310a5307914c7c0fe22" /></p>
<p>We have embarked on our own sustainable journey. Though we are at the start of our mission to make a better future and save what we consider to be the great outdoors, we are determined to take steps to ensure the beauty of our planet remains and therefore your holidays can to. We have recently undertaken a Sustainability Audit to help us map out our future plans. Join us and find out more about everything we are doing and implementing to make a difference:</p>
<div style="overflow-x: auto; float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 49px; width: 273px; background-color: #ffffff; border-color: #f26419; float: left;">
<tbody>
<tr style="height: 22px;">
<td width="auto" height="16" align="center" valign="center" style="background-color: #f26419; border-radius: 4px; background-clip: padding-box; padding-left: 14px; padding-right: 14px; text-align: center; height: 22px; width: 203px;"><a style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" data-udi="umb://document/3e9ff485193444c285658301f788b7b0" href="/{localLink:umb://document/3e9ff485193444c285658301f788b7b0}" title="Sustainability" data-anchor="#"><strong>View our sustainability journey</strong></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h2>Service offering</h2>
<p><img src="/media/13049785/img_8680-_1_.jpg" alt="teampic" data-udi="umb://media/b666a52e2966414f8cd513711efab8ae" /></p>
<p>We pride ourselves in our experience and expertise when it comes to our service offering - ensuring we are with you every step of the way on your holiday. No matter whether you are joining us on the slopes for a skiing getaway, out on the mountains on a walking holiday to discover unbeatable views or venturing out to the arctic circle in Lapland to star gaze and search for the Northern Lights, we are here when needed. Whatever may be your perfect outdoor holiday, we are here to make sure you have the most memorable experience possible. Find out more about how Inghams makes your holiday extra special:</p>
<div style="overflow-x: auto; float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 49px; width: 273px; background-color: #ffffff; border-color: #f26419; float: left;">
<tbody>
<tr style="height: 22px;">
<td width="auto" height="16" align="center" valign="center" style="background-color: #f26419; border-radius: 4px; background-clip: padding-box; padding-left: 14px; padding-right: 14px; text-align: center; height: 22px; width: 203px;"><a style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" data-udi="umb://document/ee2a0a82ac4d4783b3f7df808fd9c834" href="/{localLink:umb://document/ee2a0a82ac4d4783b3f7df808fd9c834}" title="Service" data-anchor="#"><strong>View our service offering</strong></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h2>Partnerships</h2>
<p><img src="/media/13070860/expert_team_m19.jpg" alt="ourpartners" data-udi="umb://media/3b2caa3d546d4924af0bcff0067243b1" /></p>
<p>We believe in strong partnerships, so we choose to work with other like-minded businesses. From businesses that can help us succeed in our sustainability journey and have a positive impact on our future, to businesses who see the future in our younger generation and want to help them succeed through training, opportunities and encouragement. We are always striving to be and do better when it comes to planet and people, and with our partners that can be achieved. Find out more about our selected partners: </p>
<div style="overflow-x: auto; float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 49px; width: 273px; background-color: #ffffff; border-color: #f26419; float: left;">
<tbody>
<tr style="height: 22px;">
<td width="auto" height="16" align="center" valign="center" style="background-color: #f26419; border-radius: 4px; background-clip: padding-box; padding-left: 14px; padding-right: 14px; text-align: center; height: 22px; width: 203px;"><a style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" data-udi="umb://document/791fa5aa176246cbbaa02331f3c763ef" href="/{localLink:umb://document/791fa5aa176246cbbaa02331f3c763ef}" title="Partnerships" data-anchor="#"><strong>View our partnerships</strong></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="g12">
<div class="white_box_shadow"><img style="width: 500px; height: 413.043px; display: block; margin-left: auto; margin-right: auto;" src="/media/13086594/summer-in-safe-hands-plp.jpg?width=500&amp;height=413.04347826086956" alt="safe hands" data-udi="umb://media/4f77aafd592d4659ac02fd37f5e8fe3b" />
<p style="text-align: center;">Travel with confidence and learn more about everything we do to ensure you are <a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands"><strong>in safe hands</strong></a> during your skiing, walking or Lapland holiday.</p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Thrilling activities in Finland/Lapland including reindeer, husky and snowmobile safaris, plus shorts breaks to visit Santa and his elves!]]></metaDescription>
  <metaTitle><![CDATA[Safaris & Excursions | Lapland Ski Holidays 2023/24 | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[About Inghams]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>