<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="dfc0110f-77e5-4b7d-b1a5-9b991fef0fca" id="24573" nodeName="Changes to booking" isDoc="" updated="2019-06-20T13:28:21.4000000Z" parentGUID="d408e3b0-c21d-42a8-a765-34d4d3c618b1" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <answer><![CDATA[<p><span>Yes, but in line with our booking conditions. In many cases admin fees and charges will apply. Within 10 weeks of departure, cancellation charges will come into effect. Holidays utilising scheduled and low cost flights will usually attract additional change and/or cancellation fees.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Once my holiday is booked can I make changes?]]></question>
</fAQItem>