<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="d6800121-e322-43d7-9634-217525724b1e" id="24663" nodeName="Resort - What is the food like?" isDoc="" updated="2021-07-06T10:49:22.0530000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="28" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>All our hotel partners serve an extensive buffet breakfast with both hot and cold options. Dinner in the hotels is also buffet-style, and mostly offers a choice of international cuisine, some Lappish specialities and standard children’s options. There is always a vegetarian option available for evening meals. Guests staying in cabins or apartments can choose between self-catering or optional half board, pre-booked at a supplement and taken in a nearby hotel. Lunch is not included in our prices but the hotels also offer lunch buffets, which guests may pay for locally.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Resort - What is the food like?]]></question>
</fAQItem>