<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="2ed457f2-9301-45f2-abce-0b2f2a0f3970" id="24451" nodeName="Insurance" isDoc="" updated="2024-05-08T11:17:54.3400000Z" parentGUID="63141e98-36a7-4665-9067-85a12b4806f4" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="7" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Santa Breaks]]></bannerDropdown>
  <bodyText><![CDATA[<p><span>Winter sports travel insurance can be a bit head scratching at the best of times, and if you’re new to skiing and snowboarding and want to know the inside scoop to purchasing the right kind of insurance, then we suggest that you read our guide: </span><a data-udi="umb://document/9996b0289322463dbb4239af3db02ee9" href="/{localLink:umb://document/9996b0289322463dbb4239af3db02ee9}" title="Ski insurance explained"><strong>Ski Travel Insurance: Explained</strong>.</a></p>
<p><span data-sheets-formula-bar-text-style="font-size:13px;color:#000000;font-weight:normal;text-decoration:none;font-family:'Arial';font-style:normal;text-decoration-skip-ink:none;">If you haven’t already booked travel insurance, we strongly recommend you do so now. Your insurance policy should cover for any unforeseen circumstances between booking and departing on holiday as well as while on holiday. Our insurance partner Campbell Irvine offer travel insurance with additional comprehensive Covid-19 cover and will be happy to give you a quote. To contact them, please visit <a href="http://www.campbellirvine.com/InghamsWinter">http://www.campbellirvine.com/InghamsWinter</a></span></p>
<p>Campbell Irvine are now also offering Covid Cancellation insurance:</p>
<ul>
<li>For clients with existing travel insurance with no COVID cancellation cover, no need to take out a new travel insurance policy, just our new COVID Holiday Cancellation only insurance for travel anywhere in the world</li>
<li>Covers UK based staycations too – without the need to purchase separate travel insurance</li>
<li>Up to £3,500pp of holiday cancellation</li>
<li>Available to persons under 75 years of age</li>
<li>Premiums from just £19.00 per person inclusive of tax</li>
</ul>
<p><strong>Inghams is an Unregulated Introducer of Campbell Irvine Ltd who are authorised and regulated by the <a rel="noopener" href="https://www.fca.org.uk/" target="_blank" title="FCA">Financial Conduct Authority</a>.</strong></p>
<p>(Please note: Inghams acts only as agent for the provider in respect of all Campbell Irvines' services and premiums are paid direct to them. Cover<span>cards and other documentation will be issued by Campbell Irvine)</span></p>
<p><strong>Health</strong></p>
<p>Please note: During the purchasing process, you will be asked a set of questions regarding your health, if you answer yes to any, then you can either complete a full screening form supplied by the system, or you can purchase the insurance with that condition excluded.</p>
<p><strong>Health</strong></p>
<p>Please note: During the purchasing process, you will be asked a set of questions regarding your health, if you answer yes to any, then you can either complete a full screening form supplied by the system, or you can purchase the insurance with that condition excluded.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[2]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1d3d2a60ac084909a81d575670ccfe9f]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Before you head out on your Lapland holiday with Inghams, we thoroughly suggest that you take a moment to look over our fantastic winter sports insurance deals, and consider buying your insurance with us through our partner, Campbell Irvine.]]></metaDescription>
  <metaTitle><![CDATA[Winter Sports Insurance With Campbell Irvine | Inghams]]></metaTitle>
  <pageTheme><![CDATA[2]]></pageTheme>
  <pageTitle><![CDATA[Santa Short Breaks Insurance]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><span>Winter sports travel insurance is critical and you must be insured before you travel. We would also highly recommend that you take out additional Covid-19 cover. Should you still require insurance, we suggest Campbell Irvine who offer top ski and specialist travel insurance that also offers comprehensive Covid-19 cover. You can find out more and buy online at <a href="http://www.campbellirvine.com/InghamsWinter">http://www.campbellirvine.com/InghamsWinter</a></span></p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/4f7b080ebff34254b73006812f16c270]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>