<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="1a21830a-a671-44a6-8bb6-b0d8876ca2d0" id="24711" nodeName="Who do I call if I have a problem?" isDoc="" updated="2018-12-03T13:08:39.2200000Z" parentGUID="4faa6272-3a9a-40b5-9b4a-df1281cee8aa" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="32" published="true" isBlueprint="false">
  <answer><![CDATA[<p><span>If you have any queries about your booking or journey before departing the UK, please contact our Before You Travel team on 01483 79 11 22. If you have any issues on your journey to Switzerland, a contact number for your resort rep and our overseas operating office are both provided for you on your rail itinerary.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Who do I call if I have a problem?]]></question>
</fAQItem>