<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="3566c3c4-f302-4dac-8793-ab30719f7066" id="21995" nodeName="Hotel Du Lac Et Du Parc" isDoc="" updated="2024-12-13T17:03:29.6770000Z" parentGUID="8bac09b5-ee37-405a-9498-e1494235fa01" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "ce5f3023-0640-49be-bad8-aee00b20565b",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 25 (book by 01 Mar 25)",
    "addedValueStart": "2024-12-12T16:58:46",
    "addedValueEnd": "2025-03-01T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "863c6d56-2429-4fa2-9658-0fbf4b3e0138",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Honeymoon Offer: free bottle of sparkling wine and flowers (summer 25)",
    "addedValueStart": "2021-08-03T10:16:34",
    "addedValueEnd": "2025-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "15f58a13-742a-4037-a447-abb64f73eb26",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free children's mini club from 10am - 6pm",
    "addedValueStart": "2021-08-03T10:18:02",
    "addedValueEnd": "2025-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "c2406f88-897b-40f6-a9b1-acebdbb81573",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly activity programme including yoga and aqua gym (Summer 25)",
    "addedValueStart": "2022-08-17T15:41:25",
    "addedValueEnd": "2025-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "ba021cac-20ee-4740-aa36-35d965604fab",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Trentino Guest Card app",
    "addedValueStart": "2024-06-03T16:42:47",
    "addedValueEnd": "2030-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>3</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/c9a02f2ce8054f0fa1f79de9c5935268,umb://media/8071f2a07ec849dba29a3ed50cee2995,umb://media/55e456ffad9545e4be01bfcceb17b07d,umb://media/23040f24c8db483ca28f963c048807a8,umb://media/784b6f94959f42988c412e7e2fa6c6c6,umb://media/d2b0c9cb2c7f490cab1a90f81031b5d5,umb://media/25b271e8aec3468cabe043d01653b26d,umb://media/2bcce255944241669e0cb286bc5d2aa4,umb://media/2d88d558fa9a403ca1ec668c7ed5963e,umb://media/6e38561c0639447abb35aeb479cb2734,umb://media/2be9a663381a474db55ceb029ae37518,umb://media/c51a46394e2744da89a5c046e9a46bff,umb://media/67c1cd7e6d6f45a6b88aa3a4adae11f7,umb://media/ae8713ed381d4c488627ecd489d0d386,umb://media/0fbc042806134935ae6c05533741eca9]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Wake up to a breakfast buffet of <span>cereal, fruit, bread, pastries, sweet treats and crêpes. The chef will cook eggs as you like them and there's a fresh juice bar.</span></p>
<p>If you're on half board for dinner you'll have a choice of national and international dishes including fresh pasta, meat and fish. </p>
<p><strong>Aria</strong> <strong>Restaurant</strong> is where you'll have your half board meals. Dinner is served between 7pm and 9.30pm.</p>
<p><strong>Molo44 </strong>is a trendy lounge bar and bistro in the hotel's gardens. It serves delicious food with dishes like truffle infused risotto with a pea veloute and Chateaubriand, alongside an long list of cocktails and mocktails. </p>
<p><strong>Capannina </strong>is one of the more relaxed restaurants at the hotel. This poolside bar and terrace offers lunch and dinner just a stone's' throw from the beach with stone-baked pizza and grilled fish and meat on the menu.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel du Lac et du Parc is one of our favourite hotels in Riva. It's incredibly spacious with fresh modern interiors, lush gardens and a fantastic location by the lake. You're slightly out of the centre of town, so it feels like a really exclusive place to stay, with it's own private gate leading onto the lakeside promenade.</p>
<h2>The prettiest gardens on Lake Garda</h2>
<p>The hotel has some of the best gardens on <a data-udi="umb://document/ae52b40037474a3eadb1c0692c464473" href="/{localLink:umb://document/ae52b40037474a3eadb1c0692c464473}" title="Lake Garda">Lake Garda</a>. When you walk out of the main building you’re transported to a peaceful park with paths winding around the pools and tall trees providing shade. It leads all the way down to the lakefront. As you can imagine, there are plenty of places to sit back and relax with a book – either by one of the two pools, on a secluded bench under a tree or next to the lake.</p>
<h2>Fantastic for families</h2>
<p>The hotel caters well for almost everybody. Families are more than welcome here and there’s a dedicated children’s pool for little ones to splash about in plus a playground and mini club. If you like staying active on holiday, you’ll love the tennis courts and water sports centre where you can organise surfing, kayaking and sailing (all are payable locally). Don’t forget to try out some of the walking and cycling trails around <a data-udi="umb://document/8bac09b5ee37405a9498e1494235fa01" href="/{localLink:umb://document/8bac09b5ee37405a9498e1494235fa01}" title="Riva">Riva</a>, too. For the days when you need to relax, there’s the spa – we love chilling in the indoor pool and enjoying the views of the garden.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Two outdoor pools in the gardens with children's pools</li>
<li>Public beach at the end of the hotel's gardens</li>
<li>Pool towels are provided</li>
<li>Spa with indoor pool, tropical showers, whirlpool, sauna, solarium and Turkish bath</li>
<li>Massage and Beauty Treatments (payable locally)</li>
<li>Large Technogym</li>
<li>Tennis, sailing and windsurfing school (payable locally)</li>
<li>Free children's mini club all season (open from 10am-6pm)</li>
<li>Piano bar, 2-3 times a week</li>
<li>Bar</li>
<li>Free Wi-Fi</li>
<li>Free parking</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "73e35171-e487-4cbf-9d97-cc20f6aba164",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"602b7721-c973-4903-9232-bf2b5e807f07\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools>1</indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>50</interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Du Lac et Du Parc has something for everyone. If you want to relax there's the beautiful park with winding pathways that lead down to the lakefront and an excellent spa. For adventurists there's a water sports centre and easy access to the walking and cycling trails around Riva. And for families, there's a children's pool, mini club and playground - not to mention lots of room for little ones to run around.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8bb389d0204d4be18dc6c291a177088a]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 1 hour 45 mins by coach from Verona airport.</li>
<li>500 metres to the lakeside promenade</li>
<li>80 metres to the nearest bus stop</li>
<li>1 kilometre to the centre of Riva</li>
<li>1.5 kilometres to Riva's ferry point</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at Hotel Du Lac Et Du Parc today with Inghams. Riva’s leading hotel set in a beautiful private park.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Du Lac Et Du Parc | Holidays in Riva | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>153</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4.5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Du Lac Et Du Parc]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITRI0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Park View Rooms </strong>are about 23m² and can sleep up to three people (third bed is a singe sofa bed). They have a balcony with views over the park. Please request double or twin beds at the time of booking.</p>
<p><strong>Park View Rooms for sole use</strong> are available on request, please call to book.</p>
<p><em>Park View rooms are located in the hotel's out-buildings</em></p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air-conditioning</li>
<li>Tea &amp; coffee making facilities</li>
<li>TV</li>
<li>Bath with overhead shower</li>
<li>Hairdryer</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p>Cots are available on request.</p>
<p><strong>General Information</strong></p>
<p><strong>Check-in: </strong>2pm</p>
<p><strong>Check-out: </strong>10am</p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €2.50 per person per day is payable locally</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers><![CDATA[<p> </p>
<p> </p>
<p> </p>]]></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[233469]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>