<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="461093c6-34c1-4ffd-8b8b-ed6bc32bf58b" id="56833" nodeName="Health &amp; Safety in resort" isDoc="" updated="2024-04-29T16:12:22.9830000Z" parentGUID="07103f76-2dbc-49e9-897a-444ad4103338" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="16" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h3>Travel Advice</h3>
<p>Most visits are trouble-free however, countries and regions have changing requirements in regard to health and welfare including Coronavirus. Please make sure you check the latest advice before travelling to your destination.</p>
<p>Our partners have introduced measures to meet country and local guidance and we work with very carefully chosen partners. If you feel unwell, please contact your hotel immediately, along with your Representative, and your insurance provide.</p>
<p>Prior to travelling, we advise that you sign up for specific Foreign Office email alerts. This can be done on the link below and by selecting the country you are travelling to. By signing up, you will ensure you are provided with all the latest FCDO Travel guidance.</p>
<p><a rel="noopener" href="https://www.gov.uk/foreign-travel-advice" target="_blank" title="Foreign Travel Advice">CLICK HERE to sign up for specific destination FCDO email alerts</a></p>
<p><strong>Balcony and Glass Safety</strong></p>
<p>Please do not lean over or sit on the balcony railings. Ensure children are supervised at all times on balconies. Keep balcony furniture away from the railings so that children are not encouraged to climb up. Please take particular care when walking through patio doors – in bright sunlight, it can be difficult to tell if they’re closed. </p>
<p><strong>Fire Safety</strong></p>
<p>Different countries have different fire regulations and procedures. You should bear in mind that, in some resorts, local regulations designed to preserve the historic nature or aesthetic beauty of a property may prevent the hotelier from providing the level of fire precautions that you’re accustomed to in the UK. When you first arrive at your hotel, please familiarise yourself with the escape routes and the fire assembly point. In the unlikely event of a fire breaking out, please observe the following:</p>
<ul>
<li>Close doors behind you to stop the fire from spreading</li>
<li>Do not stop to pick up personal belongings</li>
<li>Leave the building using the nearest exit</li>
<li>When leaving the building, move away from the doorway to allow others to exit</li>
<li>Do not use the lift – use the stairs</li>
<li>Do not go back into the building for any reason until you have been advised that it is safe to do so</li>
</ul>
<p><strong>Personal Belongings </strong></p>
<p>Your valuables, such as passports, flight tickets, credit cards and cash should be either kept in the room safe or in the reception safe.</p>
<p><strong>Activities, Walking and Excursions </strong></p>
<p>In many resorts, there is a range of sporting activities available to enhance your holiday experience. If you are considering taking part in any activities, you are strongly recommended to check that you are adequately insured with your insurer before taking part. We cannot accept any liability for any activities you book directly with other companies that have not been arranged through us. If you do have an accident or need medical attention do tell your Representative as we can advise you about insurance procedures.</p>
<p>Walks and excursions take place in a natural environment therefore you should expect varying trails, walking surfaces, path types, possible steep ascents and descents throughout the experiences. Although the Guides and Representatives are experienced in managing differing abilities within a group, if you have concerns about your ability to complete the activities please contact your Representative before taking part. When taking part in an activity please wear suitable, comfortable shoes and clothing, carry plenty of water, snacks and drinks, and don’t forget any equipment you need, always watch your step, take extra care when crossing roads and stay with your guide.</p>
<p>When self-guiding please take care, use designated paths and consider your own safety at all times whilst enjoying the beautiful surroundings and views.</p>
<p>If you are going to swim in lakes and venues please remember the water could be colder than you are used to. Gradually enter the water and stay in depth until you are comfortable with the temperature and your ability to swim and enjoy the surroundings.</p>
<p>The sun's strength and temperatures are often elevated in comparison to the UK. Consider using sunscreen and mosquito protection as some types are active during the day and at night.</p>
<p>Summer: <a rel="noopener" href="https://www.abta.com/tips-and-advice/staying-safe-on-holiday/safe-and-healthy-holidays-sun" target="_blank" title="safe and healthy holidays">Have a safe and healthy holiday in the sun | ABTA </a></p>
<p>Winter: <a rel="noopener" href="https://www.abta.com/tips-and-advice/staying-safe-on-holiday/safe-and-healthy-holidays-snow" target="_blank" title="safe and healthy holidays in the snow">ABTA Safe and healthy holidays in the snow </a></p>
<p>If you are skiing, snowboarding or taking part in various other winter sports in Italy, you must have third-party liability insurance. This insurance covers claims against you for injury or damage that you have caused to another person or their property.</p>
<p>We recommend you visit the local tourist information or website to discover if there are any cultural, farming, or rural activities taking place in the area you are visiting.</p>
<p>If you do have an accident or need medical attention do tell your Representative as we can advise you about insurance procedures. Don’t try and sort everything out yourself! We are here to help where we can. Ensure you keep your insurance details from your chosen insurer in a safe place and make sure someone else knows where these details are.</p>
<p>Should you require the services of a doctor whilst in resort, you will find details in the Resort Section. In some instances, you may only be required to pay an excess to the doctor or clinic who will claim direct from the insurance company.</p>
<p>However, in many instances you will need to pay for all treatment received and claim when you return to the UK. Please remember to keep all your receipts including any costs such as taxis, telephone calls etc. If you have been hospitalised for an illness or injury, it is essential that you obtain a “Fit to Fly” Certificate from the doctor treating you. Both the insurance company and the airline will need to have a copy of these documents before authorisation is given for you to fly home.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Staying Safe on Holiday is important so we have shared some information on this for you.]]></metaDescription>
  <metaTitle><![CDATA[Staying Safe on Holidays | Health and Safety in Resort]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Health & Safety in resort]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><span style="font-weight: 400;">Health &amp; Safety in resort</span></p>]]></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>