<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="cde0a03d-cbb4-433f-9fca-1f8afbfb26fa" id="37966" nodeName="Hotel Lyskamm" isDoc="" updated="2024-05-01T14:53:10.4300000Z" parentGUID="bfccaf52-eb4c-47f0-9ae3-657298234fda" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="9" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>Adapted rooms are available on request.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/76e31243b18e42e8a37fa29f07a5732b,umb://media/23b49d9960b840daa9291605d460f8c0,umb://media/22fed3571d254e94ab7c1222c86a7779,umb://media/c33e4a96e0d9401e864791a64452f814,umb://media/c746822784c5457a8e1792384372b539,umb://media/31fadacd52b54aa48124567e4d618cab,umb://media/8a09e03d93a94c7d8c80d7cc1f700378,umb://media/4b3f1a62860a4256a4f3bd1d5b750ebd]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Enjoy a buffet breakfast with hot options every day. In the evening you'll get a three-course dinner with choices.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Lyskamm has lots of comfort and a rustic mountain style, but the best thing about it is the location. It's opposite the Campetto and Cretaz chairlifts and you can ski back to about 20 metres from the door. That's if you don't stop at one of the ski bars on your way to the boot room. It's in the centre of town just beside <a data-udi="umb://document/bfccaf52eb4c47f09ae3657298234fda" href="/{localLink:umb://document/bfccaf52eb4c47f09ae3657298234fda}" title="Cervinia">Cervinia's</a> main high street, so you won't need to walk far to find a nice restaurant for dinner.</p>
<p>The spa facilities here are payable locally, but they're worth it to relax after being out on the mountains all day. We love sitting outside in the whirlpool on the terrace with a glass of red in hand, watching the late skiers doing their last run. Out here there's also a wood-stove heated sauna that looks out towards the Matterhorn. </p>
<p>Transfer time: approx. 1 hour 45 mins by coach from Turin airport.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/5dbc12a410254b5a863fa6c88dc6efd9]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Outdoor whirlpool and sauna (payable locally, approx. €20 per person, per day)</li>
<li>Heated boot room</li>
<li>Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.937123]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Lyskamm has a blend of modern and traditional style and a great location by pistes and the chairlifts. You can ski back to within 20 metres of the hotel. It's in the centre of town and surrounded by bars and restaurants.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/09dec1279e2546ce927701ab7f4fa2ca]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Tourist tax payable locally of €1 per person per night.</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Located in the centre of Cervinia</li>
<li>20 metres to ski lifts &amp; ski school meeting point</li>
<li>Bus stop 100 metres</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.630501]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[18 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your ski holiday at Hotel Lyskamm today with Inghams. This central hotel is just 20 metres away from the pistes.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Lyskamm | Cervinia Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>18</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCE0125]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms </strong>sleep up to two people (rooms sleeping up to three people are available on request) and have a TV, tea &amp; coffee making facilities, safe, bath or shower and hairdryer. Some rooms have a balcony but this is not gauranteed.</p>
<p><strong>Superior Rooms </strong>sleep up to three people and have a balcony. They are available on request, please call to book.</p>
<p><strong>Standard or Superior Rooms for Single Use</strong> are available on request, please call to book.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know of any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>1</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1034394]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>