<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="0c4dc188-b9d4-4740-90ab-326f44ae9caf" id="26415" nodeName="Chalet Larissa" isDoc="" updated="2024-06-24T10:27:53.5930000Z" parentGUID="eb8a4e06-5fbc-4a0f-a6a0-e0e273886855" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="18" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes><![CDATA[<p>N/A</p>]]></annexes>
  <bedroomFacilities><![CDATA[0]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/2867c58c81e14cc4bc1b1c8ab1a77bfa,umb://media/ea1896a607464d70bb9aaa2c2fb9096b,umb://media/27e9b8bd63c04393af8cc1b3c024d08a,umb://media/4b68fdbc11b44c379f90037c9835b4a7,umb://media/cc4813bfa86e45c8b350eea13465d387,umb://media/464c1efa5ba54e5b9b7e359a1019fb16,umb://media/788bcd19ef6a4e6289a001ac45d3e6c5]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Continental buffet breakfast for 7 mornings with the hot option provided on 5 mornings per week†</li>
<li>Afternoon tea and coffee with cake on 5 days†</li>
<li>3-course evening set menu served 5 days, including a pre-dinner glass of prosecco with a choice of complimentary wine &amp; tea/coffee†</li>
<li>Special celebration menus on Christmas Day &amp; New Year's Eve</li>
</ul>
<p>†(Breakfast hot option, afternoon tea &amp; dinner is 5 days per week due to chalet staff's days off)</p>
<p><strong>More information about <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalet">Chalet cuisine</a> catering</strong></p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>Sleeps 8 guests.</strong></p>
<p>The Mountainstar chalets were built exclusively for our guests in 2010.</p>
<p>The emphasis is on style, comfort and attention to detail and the chalet Larissa is proving to be one of our most popular in <a href="https://www.skitotal.com/resorts/st-anton/">St Anton</a>.</p>
<p>The location is on an elevated area close to the Nasserein gondola offering quick access to the skiing in the mornings and fine views of the valley from many of the rooms.</p>
<p>The chalet has its own wellness area with ‘4 person jacuzzi style bath’, sauna, relaxation and shower/wc, perfect for relaxing those aching muscles at the end of the day.</p>
<p>The open plan lounge/dining area in the chalet has a fireplace, flat screen TV and a balcony. The ski and boot room is on the lower ground floor and shared with the <a href="https://www.skitotal.com/chalets/chalet-charon/">Charon</a><span>, </span><a href="https://www.skitotal.com/chalets/chalet-thebe/">Thebe</a><span> and </span><a href="https://www.skitotal.com/chalets/chalet-janus/">Janus</a><span> chalets.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift>300</distanceToLift>
  <distanceToNurserySlopes>400</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>300</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul class="column-list">
<li class="even">Wellness area with luxury spa bath and sauna</li>
<li>Spacious lounge and dining-room with log fireplace, TV &amp; balcony</li>
<li class="even"><span>The ski and boot room is on the lower ground floor and shared with the </span><a href="https://www.skitotal.com/chalets/chalet-charon/">Charon</a><span>, </span><a href="https://www.skitotal.com/chalets/chalet-thebe/">Thebe</a><span> and </span><a href="https://www.skitotal.com/chalets/chalet-janus/">Janus</a><span> chalets.</span></li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul class="column-list">
<li>Chalet built to our specifications</li>
<li class="even">3 minutes' walk (300m) to the main Nasserein gondola</li>
<li>Approx. 10 minutes' walk to the centre of St Anton</li>
<li class="even">Wellness area with luxury spa bath and sauna</li>
<li>Spacious lounge and dining-room with log fireplace &amp; TV and balcony</li>
<li class="even">Chalet catering with wine included</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Mountainstar chalets were built exclusively for our guests in 2010. The emphasis is on style, comfort and attention to detail and the chalet Larissa is proving to be one of our most popular in <a href="https://www.skitotal.com/resorts/st-anton/">St Anton</a>. The location is on an elevated area close to the Nasserein gondola offering quick access to the skiing in the mornings and fine views of the valley from many of the rooms.</p>
<p> </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e833c2d20a1a4cda844b276ccb2322ba]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p><span>The location is on an elevated area close to the Nasserein gondola offering quick access to the skiing in the mornings.</span></p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[Sleeps 8 guests]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Larissa has its own wellness area with a 4 person jacuzzi bath and is close to the Nasserein gondola. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Chalet Larissa St. Anton Alberg Ski Austria Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>400</nearestBusStop>
  <nearestLift><![CDATA[<p>300m</p>]]></nearestLift>
  <nearestRestaurant><![CDATA[<p>3 minutes' walk</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>4</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATAN0151]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<div class="subtitle active-floor">
<h3>First Floor Sleeps 8</h3>
</div>
<ul class="box-list active">
<li>Entrance to chalet, Open-plan living/dining-room with fireplace, wellness area.</li>
<li><span class="alignleft">Room 1</span><br /><span class="item-text">Continental twin with shower/wc and balcony</span></li>
<li><span class="alignleft">Room 2</span><br /><span class="item-text">Continental twin with shower/wc and balcony</span></li>
<li><span class="alignleft">Room 3</span><br /><span class="item-text">Continental twin with shower/wc and balcony</span></li>
<li><span class="alignleft">Room 4</span><br /><span class="item-text">Continental twin with shower/wc and balcony</span><span class="item-text"><img src="https://www.skitotal.com/wp-content/uploads/2013/11/Larissa-first-floor.jpg" alt="floorplan" /></span></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>1</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/eb8a4e065fbc4a0fa6a0e0e273886855]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>