<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="889518d3-ce0e-4393-bd29-7a6f4b894e66" id="22964" nodeName="Insider Guides" isDoc="" updated="2024-10-24T16:16:18.1600000Z" parentGUID="96a3e4d1-4370-4d3e-9379-3368e4fc0416" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="19" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<h2>Get Inspired For Your Next Holiday</h2>
<p><img src="/media/13098010/walking-holidays-1-page-header.jpg" alt="Walking Insider Guides" data-udi="umb://media/453248d43c5248dbaf4a37f27f24a9c1" /></p>
<p>Lace up your boots, fellow wanderers and prepare to dive into the wonders of Europe like never before. We've got the inside track on the most breath-taking walks, restaurants, sights and sounds so you can make every step count.</p>
<p>Whether you’re looking for a casual stroll in <a data-udi="umb://document/92803bd348ec48c1b64d53e77931172d" href="/{localLink:umb://document/92803bd348ec48c1b64d53e77931172d}" title="Switzerland">Switzerland</a>, a romantic getaway in <a data-udi="umb://document/eb90f98d70e84089a8cb145d8e46e049" href="/{localLink:umb://document/eb90f98d70e84089a8cb145d8e46e049}" title="Slovenia">Slovenia</a> or an interesting tale to bring home from <a data-udi="umb://document/a1a80922d88a43f8ba80b182c72e8904" href="/{localLink:umb://document/a1a80922d88a43f8ba80b182c72e8904}" title="Italy">Italy</a>, we'll have you leaving with a suitcase full of incredible memories.</p>
<p> </p>
<h2 style="text-align: center;">Your Path To New Discoveries Starts Here </h2>
<p style="text-align: center;"><a href="#latest" data-anchor="#latest">Latest Posts</a> | <a href="#activities" data-anchor="#activities">Activities</a> | <a href="#walking" data-anchor="#walking">Walking in Europe</a> | <a href="#food" data-anchor="#food">Food &amp; Drink</a> | <a href="#events" data-anchor="#events">Events &amp; Festivals</a> | <a href="#sights" data-anchor="#sights">Sights</a> | <a href="#where" data-anchor="#where">Where To Go </a></p>
<p><a name="Latest"></a></p>
<h3 id="latest" style="text-align: center;">Read Our Latest Posts</h3>
<p> </p>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13105983/adobestock_119269595.jpg" alt="things to do in saalbach" data-udi="umb://media/25cfbafa4b494e5ba5aa0f1411ffbc7c" /></div>
<h4>Thing to Do in Saalbach Hinterglemm</h4>
<div class="c-card__content">
<p>Travelling to Saalbach Hinterglemm? Discover all the fun things you can do on your holiday.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/b43309cddfb24798911d72860c0976f6" href="/{localLink:umb://document/b43309cddfb24798911d72860c0976f6}" title="Things to Do in Saalbach Hinterglemm" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13105993/adobestock_276858133.jpg" alt="what type of walker are you" data-udi="umb://media/3e0df89ed92f458ab10442464a57502b" /></div>
<h4>What Type of Walker Are You?</h4>
<div class="c-card__content">
<p>Whether you're a fast-paced explorer, a leisurely wanderer, or a mountain conqueror, we have the ideal walking holiday for you. </p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/6ced4ce2dd2149ac95c7cff483390ea3" href="/{localLink:umb://document/6ced4ce2dd2149ac95c7cff483390ea3}" title="What Type of Walker Are You" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13108415/traditional-norwegian-food.jpg" alt="norway food" data-udi="umb://media/79b50a2ab00a441d8ad735bff4159187" /></div>
<h4>Traditional Norwegian Food and Drink Guide</h4>
<p>Curious about traditional Norwegian food? Discover the flavours that make Norway.</p>
<div class="c-card__content">
<p><span><a data-udi="umb://document/d36a77d9e94a4f0d928f1971937800a5" href="/{localLink:umb://document/d36a77d9e94a4f0d928f1971937800a5}" title="Traditional Norwegian food" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
<p> </p>
<p> </p>
<h3 id="activities" style="text-align: center;">Activities</h3>
<p> </p>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13097967/limone-sul-garda-2-274x147.jpg" alt="things to do in lake garda" data-udi="umb://media/dbf81c7a65974ecea2e5c0013cb1fdcc" /></div>
<h4>Things To Do in Lake Garda</h4>
<div class="c-card__content">
<p>Discover our favourite things to do in <a href="https://www.inghams.co.uk/walking-holidays/insider-guides/top-9-things-to-do-in-lake-garda" title="Lake Garda">Lake Garda</a>.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/6c247f7108ac4a65a8e24e3b8ccd90a9" href="/{localLink:umb://document/6c247f7108ac4a65a8e24e3b8ccd90a9}" title="Things to Do in Lake Garda" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13099692/adobestock_183315975.jpg" alt="" data-udi="umb://media/30d455ce7c0c43d48c11f3255dd158d0" /></div>
<h4>18 Things To Do In Lake Bled</h4>
<p><span>Discover the best things to do in Lake Bled, Slovenia.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/fc4f8a7fc87348ea93ffd511e0542a81" href="/{localLink:umb://document/fc4f8a7fc87348ea93ffd511e0542a81}" title="Things To Do in Lake Bled" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13100599/img_0853.jpg" alt="things to do in andorra" data-udi="umb://media/708625f9f9ea4585a9c427587931bff6" /></div>
<h4>Things To Do in Andorra</h4>
<div class="c-card__content">
<p><span>Discover our top things to do in Andorra.</span></p>
<p><span><a data-udi="umb://document/af3f5ab9771f4e29a2ff1ad5ab6f52d5" href="/{localLink:umb://document/af3f5ab9771f4e29a2ff1ad5ab6f52d5}" title="Things To Do in Andorra" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13105983/adobestock_119269595.jpg" alt="things to do in saalbach" data-udi="umb://media/25cfbafa4b494e5ba5aa0f1411ffbc7c" /></div>
<h4>Things To Do in Saalbach Hinterglemm</h4>
<div class="c-card__content">
<p>Discover the best things to do on your holiday in Saalbach Hinterglemm.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/b43309cddfb24798911d72860c0976f6" href="/{localLink:umb://document/b43309cddfb24798911d72860c0976f6}" title="Things to Do in Saalbach Hinterglemm" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13105923/zell-am-see_austria_adobestock_194550572.jpg" alt="zell am see" data-udi="umb://media/305f7289f62e41f68448e197fa2cf6e8" /></div>
<h4>Things to Do in Zell am See</h4>
<p><span>Read our guide to discover the top things to do in Zell am See.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/d6eee458478e4eebbe8e05a9b1b23623" href="/{localLink:umb://document/d6eee458478e4eebbe8e05a9b1b23623}" title="Things to Do in Zell am See" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103075/adobestock_286827358.jpg" alt="things to do in samoens" data-udi="umb://media/bbd1e2e56c4a4f968adf8e0433d008dc" /></div>
<h4>Things To Do in Samoëns<span> </span></h4>
<div class="c-card__content">
<p><span>Going to </span>Samoëns? Read our guide to discover the top things to do.</p>
<p><span><a data-udi="umb://document/f57f0562977e4122a793b063be706c61" href="/{localLink:umb://document/f57f0562977e4122a793b063be706c61}" title="Things to do in Samoëns" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
<p> </p>
<p> </p>
<p><a name="Walking"></a></p>
<h3 id="walking" style="text-align: center;">Walking in Europe</h3>
<p> </p>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13104166/adobestock_614128535.jpg" alt="what to pack" data-udi="umb://media/827f83bd312a493992f0e2867bd80a05" /></div>
<h4>What to Pack For a Walking Holiday</h4>
<div class="c-card__content">
<p><span>What do you pack for a walking holiday? Read our guide to find out and be rambling ready.</span></p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/4f704c3d91b84ab0a6e713d5b416a5d5" href="/{localLink:umb://document/4f704c3d91b84ab0a6e713d5b416a5d5}" title="What to Pack For a Walking Holiday" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13094852/selva-walking.jpg?width=274&amp;height=147&amp;mode=max" alt="easy walking holidays" data-udi="umb://media/e4f8e0461a8e4e10b8e76e85f55c3abf" /></div>
<h4>Easy Walking Holidays</h4>
<p><span>Check out Europe's top easy walking destinations for a relaxing getaway.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/eb20a59ac0f74d589318b06808732aca" href="/{localLink:umb://document/eb20a59ac0f74d589318b06808732aca}" title="Easy walking holidays" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097970/adobestock_490680628-274x147.jpg?width=274&amp;height=147" alt="walking in italy" data-udi="umb://media/b81d8302843b4bd4854c683ab7e70a2a" /></div>
<h4>Walking in Italy</h4>
<div class="c-card__content">
<p>Our walking experts have selected their favourite walks in <a data-udi="umb://document/a1a80922d88a43f8ba80b182c72e8904" href="https://www.inghams.co.uk/destinations/italy" title="Italy">Italy</a>, handpicked with amore just for you.</p>
<p><span><a data-udi="umb://document/7f4620da7b6b476c96484e1d403801cc" href="/{localLink:umb://document/7f4620da7b6b476c96484e1d403801cc}" title="Walking in Italy" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097974/national-walking-month-1-274x147.jpg?width=274&amp;height=147" alt="national walking month" data-udi="umb://media/e4f1f141527147e39ea7014ab3dd6162" /></div>
<h4>Grab Your Boots For National Walking Month</h4>
<div class="c-card__content">
<p><span>Read our guide to some of the best walks in Europe and see where the path takes you. </span></p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/7bc0a18c4c2742478fcc168b36655637" href="/{localLink:umb://document/7bc0a18c4c2742478fcc168b36655637}" title="Grab your boots for National Walking Month" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097973/challenging-hero_adobestock_350626554-274x147.jpg?width=274&amp;height=147" alt="challenging walking holidays" data-udi="umb://media/4e9761d5aac144ea9cab24d5932bddcc" /></div>
<h4>Challenging Walking Holidays</h4>
<p>Take your hiking game to new heights and check out our best resorts for challenging walks.</p>
<div class="c-card__cta-list"><a data-udi="umb://document/8c45b975de13426a85cdef691e47e445" href="/{localLink:umb://document/8c45b975de13426a85cdef691e47e445}" title="Challenging walking holidays" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13105149/adobestock_119941632.jpg" alt="walking in austria" data-udi="umb://media/6f8f00799b414638857811291353ec13" /></div>
<h4>Walking in Austria</h4>
<div class="c-card__content">
<p>Read our guide to discover Austria's sole-stirring walks.</p>
<p><a data-udi="umb://document/3d69090ac5714abb914063b47d753d06" href="/{localLink:umb://document/3d69090ac5714abb914063b47d753d06}" title="Walking in Austria" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13100860/adobestock_295679754.jpg" alt="best walks in andorra" data-udi="umb://media/9d3e8334fac04a3a9670c6d51753e0cb" /></div>
<h4>The Best Walks in Andorra</h4>
<div class="c-card__content">
<p><span>Discover the best walks and hikes in Andorra. View our top walking trails - we’ve done the legwork so you can save yours for the trails.</span></p>
<p><a data-udi="umb://document/948dfb151e23431689e7f0f2950c67c1" href="/{localLink:umb://document/948dfb151e23431689e7f0f2950c67c1}" title="Best Walks in Andorra" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13098494/adobestock_283271959.jpg" alt="best walks madeira" data-udi="umb://media/4e2b015bbad947d895f98e1e2f9cb43f" /></div>
<h4>The Best Walks in Madeira</h4>
<p>Discover the best walks in Madeira with these guided walks and excursions.</p>
<div class="c-card__cta-list"><a data-udi="umb://document/77e0c1cfbfab47c8ada5501971455eaf" href="/{localLink:umb://document/77e0c1cfbfab47c8ada5501971455eaf}" title="The Best Walks in Madeira" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13094136/kandersteg.jpg" alt="walking in switzerland" data-udi="umb://media/af7db8f10c384b19bb97ad6e23b45ce4" /></div>
<h4>Walking in Switzerland</h4>
<div class="c-card__content">
<p>Discover the magnificent alpine trails, picturesque villages, and hidden gems that make Switzerland a walking paradise.</p>
<p><a data-udi="umb://document/c92e399271ce40fdadbd79019fd5bf01" href="/{localLink:umb://document/c92e399271ce40fdadbd79019fd5bf01}" title="Walking in Switzerland" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103364/adobestock_392954200.jpg" alt="walking in france" data-udi="umb://media/6356e0e0686f42ca8674ed3906df54a1" /></div>
<h4>Walking in France</h4>
<div class="c-card__content">
<p><span>Discover local culture, savour delicious food and wines, and get to know the breath-taking beauty of the French countryside.</span></p>
<p><a data-udi="umb://document/3af7f8dde05d46ecbb22bda488d94639" href="/{localLink:umb://document/3af7f8dde05d46ecbb22bda488d94639}" title="Walking in France" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103366/adobestock_309730727.jpg" alt="walking in slovenia" data-udi="umb://media/3a505b87991441fcb4611b1a54eaeccc" /></div>
<h4>Walking in Slovenia</h4>
<p><span>Step into Slovenia's stride with our guide to the top walking trails.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/07830ab1ba234ffd808ba9882fdd1f0f" href="/{localLink:umb://document/07830ab1ba234ffd808ba9882fdd1f0f}" title="Walking in Slovenia" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103370/adobestock_164536033.jpg" alt="guided walks" data-udi="umb://media/30460e139c3c4c4b8b0b174f3e29c56b" /></div>
<h4>Our Guided Walks</h4>
<div class="c-card__content">
<p>Discover the resorts that offer two exclusive Inghams guided day walks, led by a professional guide.</p>
<p><a data-udi="umb://document/419dea98f6194619b18de27172090063" href="/{localLink:umb://document/419dea98f6194619b18de27172090063}" title="Guided Walks" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13099492/walking-report-header-1.jpg" alt="walking report" data-udi="umb://media/c9be0aac684b42cc805abb31d5b32615" /></div>
<h4>The Walking Etiquette Report 2023</h4>
<div class="c-card__content">
<p><span>Check out our guide for the best spots to explore and the trail etiquette to keep in mind. </span></p>
<p><a data-udi="umb://document/9782078bc1f04fc2a12a84f09219e1af" href="/{localLink:umb://document/9782078bc1f04fc2a12a84f09219e1af}" title="The Walking Etiquette Report 2023" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103552/carpathian-mountains-1.jpg" alt="Happiest walks" data-udi="umb://media/ba7ebe1dfbfe46e1ade492e05d1701a6" /></div>
<h4>The World's Happiest Walks</h4>
<p>Our latest study reveals the trails guaranteed to stretch your smiles as much as your strides.</p>
<div class="c-card__cta-list"><a data-udi="umb://document/9ff38ede45674227bb92f9911c6bec7d" href="/{localLink:umb://document/9ff38ede45674227bb92f9911c6bec7d}" title="Happiest Walks" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13102984/valdifunes-dolomites_italy_adobestock_132740502.jpg" alt="best walks dolomites" data-udi="umb://media/c23f9b294cbd4917924fbb2f42925bdb" /></div>
<h4>8 Best Walks in The Dolomites</h4>
<div class="c-card__content">
<p>Read our guide to the best walks in the Dolomites, where the scenery is so mesmerising, you'll think you walked straight into a postcard.</p>
<p><a data-udi="umb://document/120ea85db4174f78805cea247b3a367e" href="/{localLink:umb://document/120ea85db4174f78805cea247b3a367e}" title="Best Walks in The Dolomites" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
</div>
<p> </p>
<p><a name="Food"></a></p>
<h3 id="food" style="text-align: center;">Food &amp; Drink</h3>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097976/adobestock_486563799-1-274x147.jpg?width=274&amp;height=147" alt="dining with a view" data-udi="umb://media/a3f196de71364736a852fe7ed89b68f9" /></div>
<h4>Dining With a View</h4>
<div class="c-card__content">
<p>You'll want to check out these restaurants with amazing views on your next holiday to Europe.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/e98b179705c049bfb1012725938113fa" href="/{localLink:umb://document/e98b179705c049bfb1012725938113fa}" title="Dining with a View" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097975/adobestock_286515112-1-274x147.jpg?width=274&amp;height=147" alt="wine tours" data-udi="umb://media/a4412715939f4b22bb206bac6ad0cd92" /></div>
<h4>7 Irresistible Wine Tours</h4>
<p><span>You'll be grapeful for this guide to some of the best wine tours around Europe.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/c5f09770f5494ce5a6d22b197dec6b7c" href="/{localLink:umb://document/c5f09770f5494ce5a6d22b197dec6b7c}" title="7 irresistible wine tours" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103191/adobestock_256312017-1.jpg" alt="italian ice cream" data-udi="umb://media/1ddf0888d2cf482b86efc6164a58bf5b" /></div>
<h4>Your Guide to Italian Ice Cream</h4>
<div class="c-card__content">
<p>Get the inside scoop on italian ice creams to try on your next holiday.</p>
<p><span><a data-udi="umb://document/c6a634daf1fe4f7b8869437410bff198" href="/{localLink:umb://document/c6a634daf1fe4f7b8869437410bff198}" title="Italian Ice Cream" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13101331/adobestock_426439016.jpg" alt="traditional switzerland food and drink" data-udi="umb://media/63c85d8b96cc41c090da76f6ef428c72" /></div>
<h4>Switzerland Food &amp; Drink Guide</h4>
<div class="c-card__content">
<p><span>Read our guide to food and drink to explore all the tasty treats it has to offer. </span>.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/6da74271753c414eb0c5a5bc0c6d41d7" href="/{localLink:umb://document/6da74271753c414eb0c5a5bc0c6d41d7}" title="Switzerland Food and Drink Guide" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13098543/adobestock_205298079.jpg" alt="madeira food and drink" data-udi="umb://media/2f20de5fc4ac4726a73fb27ce7755b8f" /></div>
<h4>Madeira Food &amp; Drink Guide</h4>
<p><span>Get a taste of Madeira with our Food and Drink guide. Discover the island's must try dishes, drinks &amp; desserts.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/daf4ce3b9ab34437a03c329d8491297f" href="/{localLink:umb://document/daf4ce3b9ab34437a03c329d8491297f}" title="Madeira Food and Drink Guide" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13100766/adobestock_395788760.jpg" alt="andorra food and drink" data-udi="umb://media/44388518ddd34b87bf37e074270bbc00" /></div>
<h4>Andorra Food &amp; Drink Guide</h4>
<div class="c-card__content">
<p>Get the inside scoop on the best ice creams to try on your next holiday.</p>
<p><span><a data-udi="umb://document/909104c3daea48d292188d11229a511c" href="/{localLink:umb://document/909104c3daea48d292188d11229a511c}" title="Andorra Food and Drink Guide" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103769/adobestock_89911041.jpg" alt="traditional austrian food" data-udi="umb://media/e0b11dcbc4074640853f2b5eaea86ea0" /></div>
<h4>Austria Food &amp; Drink Guide</h4>
<div class="c-card__content">
<p><span>Read our traditional austrian food and drink guide to discover what treats are waiting for you in the land of Strudel.</span></p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/02cab7f76bca4f6f88c4ac82f79ab9b6" href="/{localLink:umb://document/02cab7f76bca4f6f88c4ac82f79ab9b6}" title="Traditional Austrian Food" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103942/adobestock_440577041.jpg" alt="slovenian food" data-udi="umb://media/15406e1996dc4df89083427da949b13f" /></div>
<h4>Traditional Slovenian Food</h4>
<p><span>Grab a forkful of Slovenia with our guide to its traditional food and drink. Discover Slovenia's must try dishes, drinks &amp; desserts.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/af925afd234d42758270655eedd47e3f" href="/{localLink:umb://document/af925afd234d42758270655eedd47e3f}" title="Traditional Slovenian Food" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13103608/food-and-drink-france.jpg" alt="france food" data-udi="umb://media/a78b873e2d624ebdb9c51418ad7093ba" /></div>
<h4>France Food &amp; Drink Guide</h4>
<div class="c-card__content">
<p>Get a taste of France with our guide to the country's traditional food and drink. <span>Bon Appétit.</span></p>
<p><span><a data-udi="umb://document/49d0f5368ffd4ff2ad0ace883f496b55" href="/{localLink:umb://document/49d0f5368ffd4ff2ad0ace883f496b55}" title="France Food and Drink Guide" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13102252/adobestock_633884976.jpg" alt="Italy food and drink guide" data-udi="umb://media/f46a9814850343d196d5e8a7bb91d9b2" /></div>
<h4>Italy Food &amp; Drink Guide</h4>
<div class="c-card__content">
<p><span>Looking for a spoonful of Italy? Read our Italy food and drink guide.</span></p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/9c4ae7d997544ce383da2eccd67cf7d7" href="/{localLink:umb://document/9c4ae7d997544ce383da2eccd67cf7d7}" title="Italy Food and Drink Guide" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13064689/cake.jpg" alt="our favourite cakes" data-udi="umb://media/7f40404436554d3db4a459c0fe317f46" /></div>
<h4>Our Favourite Cakes of The Lakes</h4>
<p>These baked treats will have you planning your next lake holiday.</p>
<div class="c-card__cta-list"><a data-udi="umb://document/564c0d44ebea422bafad48b61332137e" href="/{localLink:umb://document/564c0d44ebea422bafad48b61332137e}" title="Our favourite cakes of the lakes" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13084361/adobestock_328016056-1.jpeg" alt="local european dishes to try at home" data-udi="umb://media/ce4c1074c48142b1a164f1de32d0efbc" /></div>
<h4>Local European Dishes to Try at Home</h4>
<div class="c-card__content">
<p>Love to cook? Grab your apron for these must try dishes.</p>
<p><span><a data-udi="umb://document/997b8456c3c1443e873619941055d7a4" href="/{localLink:umb://document/997b8456c3c1443e873619941055d7a4}" title="Local European dishes to try at home" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
</div>
<p> </p>
<p> </p>
<h3 id="events" style="text-align: center;">Events &amp; Festivals in Europe</h3>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097995/almabtrieb-274x147.jpg?width=274&amp;height=147" alt="summer festivals europe" data-udi="umb://media/573538c72b67437aad974df5ce5752ae" /></div>
<h4>7 Unforgettable Summer Festivals</h4>
<div class="c-card__content">
<p>Check out our guide to the most interesting summer festivals in Europe.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/0ea1849803d0403f8412633174b08e07" href="/{localLink:umb://document/0ea1849803d0403f8412633174b08e07}" title="7 unforgettable summer festivals" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097996/adobestock_269599295-1-274x147.jpg?width=274&amp;height=147" alt="2023 july events" data-udi="umb://media/ced49187f079491080ec2d2d27f5e3d1" /></div>
<h4>2024 July Events in Europe</h4>
<p><span>Planning a trip to Europe this July? Check out the fantastic line up of summer events.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/42c6c10de14a44b796b1ca74a785b597" href="/{localLink:umb://document/42c6c10de14a44b796b1ca74a785b597}" title="July Events in Europe" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097997/lake-annecy-fireworks-274x147.jpg?width=274&amp;height=147" alt="2023 august events" data-udi="umb://media/b89d9340721940b4a32603c14bb60821" /></div>
<h4>2024 August Events in Europe</h4>
<div class="c-card__content">
<p>August is the height of festivals and events in Europe. Don't miss these amazing summer events.</p>
<p><span><a data-udi="umb://document/1cfaf6ef108c405aab0193d615011648" href="/{localLink:umb://document/1cfaf6ef108c405aab0193d615011648}" title="August Events in Europe" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097998/adobestock_454185035-274x147.jpg?width=274&amp;height=147" alt="september events europe" data-udi="umb://media/7aafb1123f294971b950e9e46713ac07" /></div>
<h4>2024 September Events in Europe</h4>
<div class="c-card__content">
<p><span>Visiting Europe in September? Grab your passport and start planning your itinerary with these exciting events. </span></p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/f07e3ba69a6e463388e9ca8ff2984a0f" href="/{localLink:umb://document/f07e3ba69a6e463388e9ca8ff2984a0f}" title="September Events in Europe" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13097993/adobestock_105544430-274x147.jpg?width=274&amp;height=147" alt="Easter in europe" data-udi="umb://media/f29dbb1f689c49cf899c4e152401530d" /></div>
<h4>Easter in Europe</h4>
<p>Discover unique Easter traditions in this guide to Europe's traditional customs.</p>
<div class="c-card__cta-list"><a data-udi="umb://document/138e19ca51924a0292c915e55fb18ed6" href="/{localLink:umb://document/138e19ca51924a0292c915e55fb18ed6}" title="Easter in Europe - all things bright and beautiful" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 284px; height: 152px;" src="/media/13098685/adobestock_249532053.jpg?width=284&amp;height=152&amp;mode=max" alt="madeira flower festival" data-udi="umb://media/3a40dd9abd5e4cb9bc5ccdfdbfcb4a38" /></div>
<h4>Madeira Flower Festival</h4>
<div class="c-card__content">
<p>Love flowers? Visit Madeira in Spring for the ultimate flower fiesta.</p>
<p><a data-udi="umb://document/bb11590b52e64f5db7cd87dcacc09865" href="/{localLink:umb://document/bb11590b52e64f5db7cd87dcacc09865}" title="Madeira Flower Festival" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
</div>
<p> </p>
<h3 id="sights" style="text-align: center;">Sights of Europe</h3>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098000/adobestock_245130248-274x147.jpg?width=274&amp;height=147" alt="world heritage sites in europe" data-udi="umb://media/39f3415514c14ed980806e237e23dc52" /></div>
<h4>UNESCO World Heritage Sites in Europe</h4>
<div class="c-card__content">
<p>Amazing World Heritage sites in Europe you won't want to miss.</p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/02a2048260ef46528296c2656720caf2" href="/{localLink:umb://document/02a2048260ef46528296c2656720caf2}" title="UNESCO World Heritage Sites In Europe" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098001/lake-annecy-castle-270x147.jpg?width=274&amp;height=147" alt="historic towns" data-udi="umb://media/5f00a9a86334403bb1a2be26f488562a" /></div>
<h4>Our Favourite Historic Towns</h4>
<p><span>Europe is full of beautiful historic towns each offering compelling settings, ripe for exploring and serious sightseeing.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/d7b56e82ed3d4c3d8eb4122099ce0212" href="/{localLink:umb://document/d7b56e82ed3d4c3d8eb4122099ce0212}" title="Our favourite historic towns" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098002/adobestock_237482599-274x147.jpg?width=274&amp;height=147" alt="glorious gardens" data-udi="umb://media/bbf240af722f47b4988334fe668c1bd2" /></div>
<h4>Glorious Gardens</h4>
<div class="c-card__content">
<p>We take a look at all things bright and beautiful. Take a look at some of the most impressive gardens in Europe.</p>
<p><span><a data-udi="umb://document/69bede6e3c744e9aae8cee594b080949" href="/{localLink:umb://document/69bede6e3c744e9aae8cee594b080949}" title="Glorious Gardens" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></span></p>
</div>
</div>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098003/adobestock_316828804-274x147.jpg?width=274&amp;height=147" alt="fauna of the lakes and mountains" data-udi="umb://media/262e0931882145ec83eeb6f75a2bd8cf" /></div>
<h4>Fauna of The Lakes &amp; Mountains</h4>
<div class="c-card__content">From the cute and the cuddly to ferocious predators, keep an eye out for these incredible animals.</div>
<div class="c-card__cta-list"><a data-udi="umb://document/116ee3c6f6dd464a91c1a1b2a7aa0cbf" href="/{localLink:umb://document/116ee3c6f6dd464a91c1a1b2a7aa0cbf}" title="Fauna of the Lakes and Mountains" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098004/italy-1-274x147.jpg?width=274&amp;height=147" alt="castles and palaces" data-udi="umb://media/7ee1132b0d9e445d83172a7fba674078" /></div>
<h4>8 Real Life Fairytale Castles &amp; Palaces</h4>
<p>These majestic buildings display incredible architecture and they have some amazing stories to tell.</p>
<div class="c-card__cta-list"><a data-udi="umb://document/987151ad8a9041518fbedb2f907f7a4c" href="/{localLink:umb://document/987151ad8a9041518fbedb2f907f7a4c}" title="Castles and Palaces" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098006/adobestock_169425219_switzerland_zermatt_grindjisee-lake_matterhorn-274x147.jpg?width=274&amp;height=147" alt="flora of the lakes and mountains" data-udi="umb://media/75dcd3725aa04967a663cb55e3997f57" /></div>
<h4>Flora of The Lakes &amp; Mountains</h4>
<div class="c-card__content">
<p>You may be surprised at the variety of unique plant life that can be found in the gorgeous environments of the lakes and mountains.</p>
<p><a data-udi="umb://document/c338997d02ac4262bdc85ebb0c4b63f2" href="/{localLink:umb://document/c338997d02ac4262bdc85ebb0c4b63f2}" title="Flora of the Lakes and Mountains" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
</div>
<p> </p>
<h3 id="where" style="text-align: center;">Where to Go</h3>
<p> </p>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098007/adobestock_421806957-274x147.jpg?width=274&amp;height=147" alt="top 15 romantic resorts" data-udi="umb://media/659ac87b3899416686fd445a6dcbea5d" /></div>
<h4>Top 15 Romantic Resorts</h4>
<div class="c-card__content">
<p><span>Love is in the air… view our top summer resorts for a romantic break for two.</span></p>
</div>
<div class="c-card__cta-list"><a data-udi="umb://document/d91cad37cb574642b3c25605261c2b4e" href="/{localLink:umb://document/d91cad37cb574642b3c25605261c2b4e}" title="Top 15 Romantic Resorts" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img style="width: 274px; height: 147px;" src="/media/13098008/austria-1-cycle-274x147.jpg?width=274&amp;height=147" alt="most scenic cycling resorts" data-udi="umb://media/a1dc3bb34c3f4623b13ea2bbd80494b7" /></div>
<h4>The Most Scenic Cycling Resorts</h4>
<p><span>With gentle lakeside pathways and chllenging mountain trails, you can go to so many places to cycle.</span></p>
<div class="c-card__cta-list"><a data-udi="umb://document/d57ca9b6c9cf4880ab9088ecb08d9476" href="/{localLink:umb://document/d57ca9b6c9cf4880ab9088ecb08d9476}" title="The most scenic cycling resorts" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="c-card__img"><img src="/media/13102030/adobestock_91095439_lac_de_montriond.jpg" alt="best places for families" data-udi="umb://media/f6ec5483bac14c1a9b41153ad9fccaf0" /></div>
<h4>Best Places for Family Holidays</h4>
<div class="c-card__content">
<p>We’ve found the best places for family holidays in Europe. This is your chance to swap stress and screens for trees and streams.</p>
<p><a data-udi="umb://document/7a48e0d5da3a42569c225919f61d92d3" href="/{localLink:umb://document/7a48e0d5da3a42569c225919f61d92d3}" title="Best Places For Family Holidays in Europe" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center">Read More</a></p>
</div>
</div>
</div>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Nothing tops the insider knowledge of our experts here over at Inghams HQ. Whether you’re looking for a casual summer stroll in Switzerland, a romantic getaway in Slovenia or an interesting tale to bring home from Italy, we have our finger on the pulse of what’s happening.]]></metaDescription>
  <metaTitle><![CDATA[Insiders Guides | Inghams Summer Holidays]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Walking Insider Guides]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>