<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksContainer guid="07e9f9e5-7333-4ac4-b645-ceb5e235c2bd" id="69740" nodeName="Can't find the ski deal you're looking for? Try these..." isDoc="" updated="2024-04-04T14:36:34.0900000Z" parentGUID="4e712db8-5df0-4efb-8097-192316f0e0bb" nodeTypeAlias="reskinOfferLinksContainer" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <availableOffersDescription></availableOffersDescription>
  <listName></listName>
</reskinOfferLinksContainer>