<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="2d1776fe-af4d-4776-a395-eb9ad8e798ef" id="23713" nodeName="Sawridge Hotel" isDoc="" updated="2021-12-16T16:55:06.4430000Z" parentGUID="25dd4a6d-3963-4551-97b6-439cb590a8e1" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="4" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>flat land, the back parking lot is located slightly down a hill</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes><![CDATA[<p>n/a</p>]]></annexes>
  <bedroomFacilities><![CDATA[1,2,6,9]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[5]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Waiter</p>]]></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Room Only</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Sawridge is a well run elegant hotel with high standards of accomodation and service. Built around a sky atrium,you can relax amid exotic plants or just enjoy the many hotel facilities and the warm welcome of the friendly staff.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Buffet</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>casual</p>]]></dressCode>
  <facilities><![CDATA[umb://document/36ebccaf6fef4fffb28746645e3e6793,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/68637ff4f9c2492e8abdae246b41cff4,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/a06e823407de466ba7bdc5a87a7971f6,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/7c2a85ae100a49f497c238abb3f03d16,umb://document/7043c62124714d3383bfaedb65ded521]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Walter’s restaurant</li>
<li>Hearthstone lounge</li>
<li>Sports bar</li>
<li>Indoor pool, 2 hot tubs, sauna, fitness room</li>
<li>Spa treatments (pay locally)</li>
<li>Cash-point machine</li>
<li>Coin-op laundry</li>
<li>Gift shop</li>
<li>Parking (<strong>Free</strong>)</li>
<li>Wi-Fi access (<strong>Free</strong>)</li>
<li>Lifts</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>6</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[52.889537]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Sawridge is a well run elegant hotel with high standards of accomodation and service. Built around a sky atrium,you can relax amid exotic plants or just enjoy the many hotel facilities and the warm welcome of the friendly staff.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/551889cdb87c4b93891df6d78a01cd39]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[-118.077133]]></longitude>
  <lunch><![CDATA[<p>Waiter</p>]]></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Sawridge Hotel in Jasper, Canada. Book A Summer Holiday At The Sawridge Hotel In Jasper With Inghams Lakes & Mountains Holidays.]]></metaDescription>
  <metaTitle><![CDATA[Sawridge Hotel Jasper - Canada - Summer Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>153</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>1-4</p>]]></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CAJA0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>2</restaurants>
  <roomsDescription><![CDATA[<ul>
<li>153. All our beautiful balcony rooms have 2 queen beds, down duvets, bath, shower, TV (pay movies), telephone, hairdryer, fridge, coffee/tea maker, iron and board, bathrobes.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/0efad561e0054d7a8a2defc127d5ff59]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>