<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="278ab897-f755-4686-92d4-f3cbc72ac7c1" id="31231" nodeName="Hotel Gatto Bianco" isDoc="" updated="2021-11-23T09:52:40.6970000Z" parentGUID="7883a5ed-e77b-4681-ac92-21e4d68f0771" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "3c0f3f6e-9572-4ce0-8cd1-fd681307fb01",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save up to 12% on the hotel price for holidays booked by 29 Feb 20",
    "addedValueStart": "2019-10-09T11:20:50",
    "addedValueEnd": "2020-03-01T11:20:52",
    "hideAddedValue": "0"
  },
  {
    "key": "a18ead21-8f86-4aac-8a8c-a6e8bbe2251e",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save 8% on the hotel price for holidays booked by 30 Apr 20",
    "addedValueStart": "2020-02-29T09:17:26",
    "addedValueEnd": "2020-05-01T09:17:30",
    "hideAddedValue": "0"
  },
  {
    "key": "4af20b16-86d8-4abc-8dff-1e2f78816f35",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Stay 4 nights and pay for 3 nights between 27 Mar - 09 Aug 20 and 24 Aug - 09 Nov 20 (not combinable)",
    "addedValueStart": "2019-10-09T09:17:51",
    "addedValueEnd": "2020-11-01T09:17:53",
    "hideAddedValue": "0"
  },
  {
    "key": "42f3e88c-3e1b-4dfa-9896-0248ece55e40",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save up to 10% on the hotel price for holidays between 24 Aug - 09 Nov 20 booked by 30 Jun 20",
    "addedValueStart": "2020-04-30T17:00:00",
    "addedValueEnd": "2020-07-01T17:00:39",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/312301d0a1364234a950d134dc6c6be2,umb://media/cf2360df29734a1e9a7e8602a6167154,umb://media/8ea466d2e3e54585af33681ed9057614,umb://media/68eb90073cd74548a2d3f4c25d41fc3a,umb://media/ad228225ded74f79a301614d2c633949,umb://media/11a58858988d43b89f6a8fda6966ead7,umb://media/d6c9dc9939e24460ba225cb38709ec3f]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is served in the charming courtyard of the hotel and includes freshly-baked bread, homemade cakes, meats and cheeses. Gluten free and vegetarian breakfasts are available but you’ll need to request this in advance.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Gatto Bianco buries itself right in the heart of Capri Town, just a couple of minutes’ walk away from Piazza Umberto I and the designer boutiques of Via Camerelle</p>
<p>This boutique hotel has been run by the Esposito family since the 1950s and has welcomed a long list of jet-setting guests from Audrey Hepburn and Brigitte Bardot to Sofia Loren and Jackie Kennedy Onassis. Retaining its original charm and character from <a data-udi="umb://document/7883a5ede77b4681ac9221e4d68f0771" href="/{localLink:umb://document/7883a5ede77b4681ac9221e4d68f0771}" title="Island of Capri">Capri</a>’s illustrious Belle Époque period, this hotel remains an integral part of the island and its popularity has not waned.</p>
<p>When you’re not busy exploring the island, you can spend your days here reliving la dolce vita while lounging in the bar with a limoncello, or having a Mediterranean herb massage at the small wellness centre. Or, you could just retreat to your classic Capri room, which comes with views over the lemon grove gardens, Capri rooftops or breakfast courtyard.</p>
<p>Transfer time: approx. 2 hours by private car and hydrofoil/ferry from Naples Airport</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/269de525a30f43249daa18279ac7cbde]]></facilities>
  <facilityDescription><![CDATA[<p><span style="text-decoration: underline;"><strong>Restaurants &amp; Bars</strong></span></p>
<p>A stylish bar in the lobby is the perfect spot to enjoy a drink before heading out to one of the many restaurants within a short walk away in Capri Town. The hotel has a small breakfast room with a lovely terrace where tables and chairs are set up during the summer months.</p>
<p><span style="text-decoration: underline;"><strong>Spa</strong></span></p>
<p>A small wellness centre has a sauna, Turkish bath and a range of pampering beauty treatments (payable locally)</p>
<p><span style="text-decoration: underline;"><strong>Practical Facilities</strong></span></p>
<ul>
<li>Free wifi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude><![CDATA[40.5502687]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This utterly charming boutique hotel is in the heart of Capri Town, just metres from the piazza and within touching distance of the island’s designer boutiques. An old-school glamour and a warm welcome promise to make for a memorable stay on this glamorous island.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/312301d0a1364234a950d134dc6c6be2]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[14.2414324]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[40 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This boutique hotel sits in the heart of Capri Town and has welcomed a host of celebrities over the years. Book your stay with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Gatto Bianco | Capri Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>40</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCI0107]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms</strong> are tastefully decorated with vietri floor tiles and modern amenities including air conditioning, minibar, safe, satellite TV, free wifi and a hairdryer. They have a window facing the pretty internal courtyard and can sleep up to two adults.</p>
<p><strong>Superior Rooms</strong> have been finished in soft, pastel tones and have patio doors opening out onto a terrace that looks out over Capri Town. They can sleep up to two adults and are available on request, please call to book.</p>
<p><strong>Deluxe Rooms</strong> have been recently renovated to create a bright, fresh space. These rooms have a terrace. They can sleep up to two adults and are available on request, please call to book.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[235942]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/7e6d84fc86844d12b8c73851f2035fb1]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>