<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="5615f708-949e-4f4e-ad2a-9dacf2ecc39f" id="26047" nodeName="Portugal &amp; Madeira Late Deals" isDoc="" updated="2022-02-10T18:22:12.7000000Z" parentGUID="ed0bcafa-8542-4c78-b632-5c16c70223f6" nodeTypeAlias="offersPage" templateAlias="OffersPage" sortOrder="44" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy></departurePointSortBy>
  <departurePointSortOrder></departurePointSortOrder>
  <description></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great late deal on a lakes and mountains holiday in Portugal & Madeira with Inghams. Here are our latest deals. Book your holiday today, at a great price.]]></metaDescription>
  <metaTitle><![CDATA[Portugal & Madeira Lakes & Mountains Late Deals - Book Holidays | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-LAKES-PORTUGAL-LATE-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-LAKES-PORTUGAL-LATE-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Portugal & Madeira Lakes & Mountains Deals]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[
  {
    "name": "Lakes & Mountains Late Deals",
    "udi": "umb://document/ed0bcafa85424c78b6325c16c70223f6"
  }
]]]></refinePanelLink>
  <refinePanelTagline><![CDATA[Lakes Deals Page]]></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle></subTitle>
  <umbracoPermanentRedirect><![CDATA[umb://document/ed0bcafa85424c78b6325c16c70223f6]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>