<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="badef60c-48c8-4cc7-bcc5-2cb12d1f032b" id="59597" nodeName="Obertauern" isDoc="" updated="2024-09-12T16:45:50.5330000Z" parentGUID="c9325d9a-7705-4a3c-8190-f3ab0da21760" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="18" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/ac16a8cd650547cfbb5b0f873140e98d,umb://media/ad31b4e4d1ad4360b58ba39523b5de1b,umb://media/5ff4afae952a4eca8c11d83ec92b1fff,umb://media/fb24a93e06084985b2dd6d527ac4a3eb,umb://media/79e8dd9f0a8642918d766a91694eb153,umb://media/bb8d4745433740afaa9c22d9bf3ea504,umb://media/47344e8f6b62427c84999589053f19b4,umb://media/cb73914dc8204d7b85402812920869ba,umb://media/b1b1ff1a9d9f46a1bf307f92da894075,umb://media/5d0f88b5c7744eb2b6d48c18a6c6d23b,umb://media/d61d28857d2b4fb889019591d2963659,umb://media/1f19c050937f40ab81939df2f89bb06e,umb://media/f58dd4aa90f5460eb068359e06041302]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Obertauern is a walking paradise, perfect for a summer holiday spent getting back to nature with alpine meadows and mountain lakes framed by the dramatic peaks of the Hohe Tauern mountains. </p>
<p>At an altitude of 1,740 metres, the temperatures tend to be pleasant all summer and other than buzzing bees or cow-bells jingling, the mountains are very peaceful.</p>
<h3>Summer cable cars</h3>
<p>The altitude of Obertauern already does some of the leg work for you as you start your walks from a higher point, but with the help of the two summer lifts, accessing the best view points and walks is even easier. The Grünwaldkopf and Hochalmbahn lifts quickly whisk you high into the mountains plus bikes, dogs and pushchairs are carried free of charge (tickets required for adults and children which are payable locally). </p>
<h3>Family walks, leisurely strolls or summit views</h3>
<p>There's more than 280 kilometres of walking to explore on holiday in Obertauern - trails lead you to beautiful alpine lakes and meadows, or all the way to the peaks if you're up for a challenge - the views are a big reward. Stop off to refuel at one of the many rustic mountain huts and tuck into a regional delicacies like a traditional Bretteljausen (a meat, cheese and pickle platter).</p>
<p>Family walking trails like the Alles Alm will keep the younger ones entertained - there's picnic spots and play areas along the way, and interesting facts about nature, wildlife and history.</p>
<h3>Mountain lakes and waterfalls</h3>
<p>There's some beautiful mountain lakes to discover nearby - you can swim in Lake Grünwald and there are pedal boats and rowing boats are available free of charge. At Lake Krummschnabel children can cross the water on a raft and stand-up paddlers can take boards onto the lake.</p>
<p>One of the most spectacular sights to walk to, is the Johannes Waterfall, which is just over five kilometres from Obertauern and is definitely worth the walk. Extend the walk up to the Wildsee Lake for diverse scenery and amazing views.</p>
<h2>Why book a summer holiday in Obertauern with Inghams?</h2>
<p>At Inghams, we do walking holidays differently. With no fixed itinerary, you have more time in your destination and the freedom to walk as much or as little as you like, discovering some of Obertauern’s best walking routes and activities at your own pace.</p>
<p>With over 85 years of outdoor travel experience, our holiday packages to Obertauern include flights, transfers, and accommodation, so you can relax and leave the small details to us. Our experts can help you choose the best holiday for you, and our team in resort can give you the inside scoop on how to spend your time away with us.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>1</eveningResortBusService>
  <excursions><![CDATA[<p>The <a rel="noopener" href="https://www.obertauern.com/en/summer-holiday/salzburger-land-card.html" target="_blank">Salzburgerland Card</a> is a tourist card available from the Obertauern Tourist Office, for around €90 for six days. It includes around 190 attractions in the Salzburgerland region, some of which are nearby:</p>
<ul>
<li>Unlimited ascents and descents on the Grünwaldkopf and Hochalm lifts in Obertauern</li>
<li>Entry to the local history museum in Altenmarkt</li>
<li>Entry to Mauterndorf Castle</li>
<li>Use of the Mauterndorf Cable Car</li>
<li>Entry to the outdoor swimming pools in Radstadt and Mauterndorf</li>
<li>Mini-golf in Radstadt and Mauterndorf</li>
<li>and more...</li>
</ul>
<p><em>Inclusions subject to change.</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "045a6dc8-1498-4a48-aa2c-dcd52288a88c",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f3416ca3-9a6a-4d62-9db8-d9cec451324e\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals><![CDATA[<h3>Alles Alm family trail</h3>
<p>An exciting trail for all the family, the Alles Alm is an idyllic, gentle plateau with a relatively flat trail that children will love. There are ten themed stations with interesting facts about wildlife, nature and history, rest stops perfect for picnic lunches and play areas with swings and slides, puzzle games and a large water playground.</p>
<h3>Bobby's park</h3>
<p>Bobby is the children's mascot of the region, and around the Grünwald and Krummschnabel Lakes there are lots of things for children to discover. Take the raft across Lake Krummschnabel or try the stilt course. There's a 100 metre wooden marble run and an underground marmot burrow to explore, plus rowing and pedal boats at Lake Grünwald.</p>
<h3>High ropes course</h3>
<p>Enjoy the view from up high - older children and teens will love the high ropes - where you'll learn how to use climbing equipment to swing high in the tree tops and complete several fun challenges. The high ropes is located on the walking trail between the Felseralm Hut and the Johannes Waterfall - around a 30 minute walk from the bottom of the Grünwaldkopf lift - so it's well located to be an afternoon stop-off after a morning walk.</p>
<h3>Mountain Skyver</h3>
<p>A Mountain Skyver could be described as a cross between a scooter and a mountain bike - and they're great fun. Make the descent from the mountain a little more exciting by renting one of these fun two-wheelers. </p>]]></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround><![CDATA[<p>Obertauern has two mountain lifts and a good network of buses that help you get around the area.</p>
<h3>Mountain lifts</h3>
<p>There are <a rel="noopener" href="https://www.obertauern.com/en/summer-holiday/cable-car-hiking.html" target="_blank">two lifts</a> open in the summer time:</p>
<ul>
<li>Grünwaldkopf (normally open 29 Jun - 22 Sept, 9am-5pm)</li>
<li>Hochalmbahn (normally open 29 Jun - 22 Sept, 9am-4pm)</li>
</ul>
<p>Lift tickets are payable locally - mountain bikes, pushchairs and dogs are carried free of charge.</p>
<h3>Buses</h3>
<p>It's easy to use the buses from Obertauern to the nearby villages of Mauterndorf, Tweng, Untertauern, Radstadt and Altenmarkt. Tickets can be bought from your hotel reception and normally cost around €1-2 per trip.</p>]]></gettingAround>
  <gettingAroundTitle><![CDATA[Getting Around Obertauern]]></gettingAroundTitle>
  <guidedWalks><![CDATA[<p>From the end of June to the middle of September, the Obertauern Tourist Office has a <a rel="noopener" href="https://www.obertauern.com/en/summer-holiday/summer-programme.html" target="_blank">summer program</a>, which brings everyone closer to nature.</p>
<p>It's run by the Northern Alps Collective and activities normally include guided walks, mountain yoga, insights into life in the mountain pastures and more. </p>
<p>Registration for each activity is required by 6pm the day before - you can register directly with the Northern Alps Collective or through your hotel reception.</p>]]></guidedWalks>
  <guidedWalksTitle><![CDATA[Guided Walks - Obertauern Summer Program]]></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems><![CDATA[[
  {
    "key": "e19c7a7b-cc98-4c58-bc5e-2d3d43f1a2c7",
    "name": "Item 1",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/e0b11dcbc4074640853f2b5eaea86ea0",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/02cab7f76bca4f6f88c4ac82f79ab9b6\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Traditional Austrian Food\",\r\n    \"linkTitle\": \"Traditional Austrian Food\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>From world-renowned Wiener Schnitzel to sweet Kaiserschmarrn, our guide will lead you through Austria's diverse culinary landscape.</p>"
  },
  {
    "key": "f7e43680-6386-4c26-a1a3-a67720e47041",
    "name": "Item 2",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/6f8f00799b414638857811291353ec13",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Walking in Austria\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/3d69090ac5714abb914063b47d753d06\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Walking in Austria\",\r\n    \"linkTitle\": \"Walking in Austria\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>We've handpicked the best walking routes in Austria, each promising its own unique charm and unforgettable experiences.</p>"
  }
]]]></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold; text-align: center;">Good to know</p>
<p><strong>Walking trails:</strong> 280km of walking trails and easy access to lifts</p>
<p><strong>Terrain:</strong> Diverse terrain from deep shady forests to lush green pastures and mountain ridges</p>
<p><strong>Best time to go:</strong> start of July to end of September</p>
<p><strong>Recommended for:</strong> Walkers of all abilities, families with kids, nature</p>
<p><strong>Fly into:</strong> Salzburg (approx. 2 hours)</p>
<p><strong>Transfer time:</strong> approx. 1 hour 30 mins by coach</p>
<p><strong>Rep service: </strong>Telephone</p>]]></insidersGuide>
  <insidersGuidesButton><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/889518d3ce0e4393bd297a6f4b894e66",
    "externalLink": "",
    "linkName": "",
    "linkTitle": "",
    "linkTitleColor": ""
  }
]]]></insidersGuidesButton>
  <insidersGuidesContent><![CDATA[<p><span class="first-token">Dreaming of Alpine peaks and strudel?</span><span> Check out our expert travel advice and gather inspiration for your next Austrian adventure.</span></p>]]></insidersGuidesContent>
  <insidersGuidesTitle><![CDATA[Discover Austria]]></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language></language>
  <latestDeals></latestDeals>
  <latitude></latitude>
  <listingDescription><![CDATA[<p>Located at 1,740 metres, Obertauern is a pretty village surrounded by mountain peaks and alpine pastures. There's 280 kilometres of walking trails, picturesque mountain lakes, plenty of family friendly activities and two cable cars to make accessing the mountains easy.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/03c2036cec344b7c8bc7cc8a5f5bee75]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Discover the best walking trails and mountain activities on an Inghams holiday to Obertauern this summer.]]></metaDescription>
  <metaTitle><![CDATA[Obertauern Walking Holidays 2024 | Holidays to Austria  | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>1</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Obertauern]]></pageTitle>
  <parking>1</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes><![CDATA[<h3>Three lakes walk</h3>
<ul>
<li>Easy walk</li>
<li>6.1km with 370m height gain</li>
<li>Expect to take around three to three and a half hours</li>
</ul>
<p>You'll get some amazing views on this walk which starts by taking the Grünwaldkopf lift up the mountain from Obertauern. You then pass the Grünwald lake, Krummschnabel lake and the Hundsfeldsee lake, all while enjoying the panorama of the surrounding mountains and view down over the town. You can make it a bit more of a challenge by walking up instead of taking the lift.</p>
<h3>Twenger Alm Circuit</h3>
<ul>
<li>Moderate walk</li>
<li>13.1km with 530m height gain</li>
<li>Expect to take around five hours</li>
</ul>
<p>Don't forget your camera on this scenic walk. It follows a gentle walking trail from Obertauern, first to the Hundsfeldsee lake and over the Edelweissalm, passing alpine meadows along the way. The scenery is beautiful the whole way, and you can stop for refreshments at the Twenger Alm Hut before returning to Obertauern.</p>
<h3>Johannes Waterfall</h3>
<ul>
<li>Moderate walk</li>
<li>12.6km with 380m height gain</li>
<li>Expect to take around four and a half hours</li>
</ul>
<p>This is a really unique walk to the natural spectacle of the Johannes Waterfall, which is around 60 metres high. From Obertauern, you first follow the path along the river's edge and then continue to the Felseralm Hut and on to the waterfall. You can do a loop at the furthest point, past old trees and beautiful viewpoints before turning back and returning to Obertauern.</p>
<h3>More great walking inspiration</h3>
<p>There's no shortage of great walks in the area, from easy strolls to more challenging summits. The <a rel="noopener" href="https://www.obertauern.com/en/summer-holiday/hiking.html#filter=r-fullyTranslatedLangus-&amp;zc=11,13.55009,47.24556" target="_blank" data-anchor="#filter=r-fullyTranslatedLangus-&amp;zc=11,13.55009,47.24556">Obertauern Tourist Office</a> has detailed route maps of some fantastic options, including elevation profiles and timings, plus you can download route pdf's to take with you.</p>]]></popularWalkingRoutes>
  <popularWalkingRoutesTitle><![CDATA[Our Favourite Walks]]></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline><![CDATA[Hotels in Obertauern]]></resortAccomodationTagline>
  <resortCode><![CDATA[ATOT]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs>0</showFAQs>
  <showFromYourRep>1</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide>1</showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps>0</showPisteMaps>
  <showResortCombinations>1</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking>1</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions><![CDATA[Salzburgerland Card - payable locally]]></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals><![CDATA[Family Activities]]></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking><![CDATA[Walking in and around Obertauern]]></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions><![CDATA[Cards & Passes]]></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Summer holidays in Obertauern are all about getting out into nature and enjoying the great outdoors, with spectacular views at every turn]]></tagline>
  <thingsToDo><![CDATA[<h3>Visit the Johannes Waterfall</h3>
<p>The Johannes Waterfall is a natural spectacle and is one of the more popular destinations in the area - for good reason. The waterfalls are around 60 metres high, with a huge overhanging cliff so you can see behind the falls. </p>
<h3>Mountain-biking</h3>
<p>There's lots of fun to be had on bikes around Obertauern, and they can be taken on the lifts with you, free of charge (you need a ticket, which is payable locally). Head up the Grünwaldkopf and cycle round the three lakes of Grünwaldsee, Lake Krummschnabel and the Hundsfeldsee, discover rustic mountain huts like the Tauernkarleitenalm or cycle to the Johannes Waterfall.</p>
<h3>Stand-up paddling and swimming</h3>
<p>Lake Krummschnabel is a heaven for water lovers, with stand-up paddling and swimming, and a special area where children can play on a raft. At Lake Grünwald you can rent pedal and rowing boats free of charge, and over the August Full Moon, they normally have a special full moon event, with night time wild swimming and live music at the Hochalm Hut.</p>
<h3>Adventurous activities</h3>
<p>Test your head for heights on the Alpine High Ropes and swing from high up in the trees, completing fun challenges along the way, or opt of an exciting mountain descent on a Mountain Skyver - a cross between a scooter and a mountain bike, these fun two-wheelers are an adventurous way to get back down the mountain after a walk. </p>
<h3>Obertauern Summer Program</h3>
<p>The Tourist Office runs a <a rel="noopener" href="https://www.obertauern.com/en/summer-holiday/summer-programme.html" target="_blank">summer program</a> with Northern Alps Collective with activities running Monday to Friday including guided walks, bike lessons, mountain yoga and more.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation><![CDATA[<h3>Recommended equipment</h3>
<p>Comfy walking boots, sun cream, insect repellent, waterproofs, a rucksack and walking poles are useful for walking around Obertauern. There are a few sports shops to buy walking equipment in the village if you don't have things to take with you.</p>
<h3>Walking maps</h3>
<p>We recommend purchasing a walking map from the tourist office in Obertauern. There are also individual maps of specific walking routes with elevation profiles and distances available to download from the <a rel="noopener" href="https://www.obertauern.com/en/summer-holiday/hiking.html#filter=r-fullyTranslatedLangus-&amp;zc=11,13.55009,47.24556" target="_blank" data-anchor="#filter=r-fullyTranslatedLangus-&amp;zc=11,13.55009,47.24556">Obertauern Tourist Office</a>.</p>
<h3>Walking guidelines</h3>
<p>The mountains are a natural paradise, with lots to explore and discover. To help it stay that way, and remain an enjoyable and safe place for everyone, we recommend following our little list of do's and don'ts:</p>
<ul>
<li>Plan your route well and don't overestimate yourself</li>
<li>Check the weather forecast</li>
<li>Tell someone where you're planning to walk and what time you're expecting to be back</li>
<li>Take all the recommended equipment</li>
<li>Make a note of emergency numbers:
<ul>
<li>Austrian Emergency Services: 112</li>
<li>Mountain Rescue: 140</li>
</ul>
</li>
<li>Don't leave the marked trails or go onto a glacier without a guide</li>
<li>Let nature stay wild by not picking alpine flowers (it's illegal in some places) or getting close to/making contact with wild animals</li>
<li>Always leave gates as you found them</li>
<li>Leave no trace</li>
</ul>]]></usefulInformation>
  <usefulInformationTitle><![CDATA[Useful Information & Guidelines]]></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription><![CDATA[<p>On an Inghams walking holiday, you have the freedom to explore the area at your own pace. Each day, a new adventure, with as much or as little walking as you like. </p>
<h3>Why we love walking in Obertauern</h3>
<p>With around 280 kilometres of marked walking trails and routes that cater for all abilities, there's a lot to explore and the scenery is superb. If you don't fancy walking all the way up, getting to the best viewpoints is easy, with two mountain lifts to take the hard work out of the uphill. </p>
<p>In your down time, there's plenty of other activities to enjoy too, plus the Hotel Steiner has a fantastic spa, perfect for rest and rejuvenation.</p>]]></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle><![CDATA[Walking in and around Obertauern]]></walkingTitle>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>