<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="e65cbd0b-0c07-4ae1-84f2-e8f5053d9d24" id="24852" nodeName="Bagsahead" isDoc="" updated="2023-01-12T15:37:55.5730000Z" parentGUID="07103f76-2dbc-49e9-897a-444ad4103338" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="2" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img src="/media/13072550/bagsahead.jpg" alt="Bagsahead" rel="858,355" /></div>
<div> </div>
<div class="white_box_shadow">
<p>If you would like your luggage collected direct from your home or if your Swiss resort is no longer served by the Fly-Rail luggage service, we have partnered with <a rel="noopener noreferrer" href="https://www.bagsahead.com/?code=inghams" target="_blank" title="Inghams Bagsahead"><strong>Bagsahead</strong></a> to offer our clients the value added service of door to door luggage delivery. Plus with using our personal voucher code of 'Inghams' you can enjoy a 5% discount off their online pricing. Just enter it into the voucher code box when making your booking if it is not there automatically.</p>
<h3>So, what to Bagsahead do?</h3>
<p>Well, they collect your collect your luggage from your home or work and deliver it to your destination in advance of your arrival so you don't have to wait around at carousels and check-in desks.</p>
<p>It means you can have a much easier journey to your destination and back home again. It’s not just your skis and snowboards either, they can transfer your standard luggage as well and with a higher weight allowance there is plenty of room for your ski boots and thermals.</p>
<p>Find out a little more about the service <a rel="noopener noreferrer" href="https://www.bagsahead.com/door-to-door-luggage-shipping/" target="_blank" title="Inghams Bagsahead door-to-door luggage shipping service">here</a> or get in touch, they are very helpful.</p>
<p>You can also call them for a quotation on 0333 444 8000 or email <a href="mailto:hello@bagsahead.com"><strong>hello@bagsahead.com</strong></a>.</p>
<p>Please note: Your contract will be with Bagsahead, not with Inghams.</p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[If you would like your luggage collected direct from your home or if your Swiss resort is no longer served by the Fly-Rail luggage service, we recommend Bagsahead.]]></metaDescription>
  <metaTitle><![CDATA[Bagsahead | Travel Advice & Information | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Bagsahead]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>