<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="18b94b9d-5f4d-4510-a6c2-3eecf8a70de1" id="73685" nodeName="Flam &amp; Aurland" isDoc="" updated="2024-10-25T15:39:07.6930000Z" parentGUID="286d71b6-bae9-4f84-a7ac-63448c015f54" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="11" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "de7894cb-83f4-4915-b75c-4fc20d4e8cd0",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "24/7 Support and advice: Over the phone from our local resort team",
    "addedValueStart": "2024-10-16T11:36:43",
    "addedValueEnd": "2030-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "b1a5d2e0-df81-4279-a204-64c8f2ea9fc8",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "All holidays include flights from the UK and transfers",
    "addedValueStart": "2024-10-16T11:37:36",
    "addedValueEnd": "2030-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/314c8a6d938e48768b653b879faa9973,umb://media/a4b33b5ac60946839230dc9d58f0f481,umb://media/8ff33f0f044340629a16e9416eccf222,umb://media/50dad2462eaa4f39963e5a7955d3859c,umb://media/f00107872cd443219f28358c3570bdfb,umb://media/5c9deaaa58a44177bb47f9e718ea8b6a,umb://media/3c85d1676f014cba8fe3638bab26fe73,umb://media/6a8fe3c297244286bd70c8b914ce3828,umb://media/2819876e076f42959472a38cf96e583e,umb://media/fc3803761ab749bd95ef95a79ed2ab2e]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Follow Norway’s biggest fjord east, and you’ll eventually come to Aurlandsfjord – home to the villages of Flam and Aurland. Both have Viking heritage, when members of the powerful Aurland lived in the river delta. But these days, they offer different views of the fjord. Thanks to the spectacular (and spectacularly popular) railway, Flam is a magnet for day-trippers and cruise ships. Aurland, meanwhile, admires the hustle and bustle from a more relaxed spot a 20 minute bus ride away. Whichever village you choose, our Flam and Aurland holidays open up sights that day-trippers often miss – including a network of fjord and mountain walks.</p>
<h3>The famous Flam Railway</h3>
<p>Flam is the starting point of the Flam Railway. From the village, it clambers up the vertiginous Flam Valley to the mountain station of Myrdal. And all via 20 tunnels, thundering Kjosfossen falls, and some of the most dramatic scenery in West Norway. Many people step out at Myrdal for the Bergen Line or to take a sip of mountain air before making the return trip back down. Adventurous souls can also choose to walk or cycle back; part of the journey is even covered by a zip line. Stop by the Flam Railway Museum for more on the story of one of the steepest railways in the world.</p>
<h3>Walking the wild west</h3>
<p>Many footpaths start from Flam and Aurland’s doorsteps. Hike to Brekkefossen waterfall and Flam Church, with its fading paintings of roses, hares and foxes. There are also challenging routes and plenty of viewpoints, the Stegastein viewpoint gives generous views over the fjord and can be booked as an excursion. Fancy exploring further afield? Buses and ferries connect walkers to even more trails, including Aurlandsdalen – a valley with treks to snowy glaciers and lakes. See our excursions for more details.</p>
<h3>Viking villages</h3>
<p>Aurlandsfjord pops up in ancient sagas as the home of the Aurlands – a wealthy Viking clan that farmed and fished the river delta. Curious about what life was like back then? Catch the ferry to Gudvangen in neighbouring Nærøyfjord for a ramble around the replica Viking village. It’s also a great spot for kayaking and walking – from mountain marches to fjordside strolls.</p>
<h3>Organic food, micro-breweries and long summer evenings</h3>
<p>Most cruise ships and day-trippers drift out of Flam and Aurland by dinnertime – so you’ll get to enjoy the long, light evenings of summer in peace. The sun doesn’t set until 10.30pm in summer, leaving time for luxuriously relaxed waterside dinners. Organic food drawn from the fjords is a speciality around these parts – salmon and cod, venison, goats cheese and berry desserts. Bakeries shift from serving cinnamon rolls and coffee to snacks like pizza in the evening. Meanwhile, the brewpub in Flam goes above and beyond tastings and tours. Pull up a chair for food and beer pairings in surroundings inspired by Norse legend. Skål!</p>
<h2>Why book a summer holiday in Flam &amp; Aurland with Inghams?</h2>
<p>With over 85 years of outdoor travel experience, our holiday packages to Flam and Aurland include flights, transfers, and accommodation, so you can relax and leave the small details to us. Our experts can help you choose the best holiday for you, and our team in resort can give you the inside scoop on how to spend your time away with us.</p>
<p>At Inghams, we do walking holidays differently. With no fixed itinerary, you have more time in your destination and the freedom to walk as much or as little as you like, discovering some of Norway's best walking routes and activities at your own pace.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>1</eveningResortBusService>
  <excursions></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "a6da5e7e-d204-427c-8620-cc2130f29e45",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"7b71fbec-8f53-4283-9e8e-f7609ca0ccad\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals><![CDATA[<h3>To pre-book your activities and excursions give us a call</h3>
<h3>Nærøyfjord cruise and Viking Village from £88 per person (01 May-30 Sept) from £85 per person (01-31 Oct)</h3>
<p>Experience a cruise on the West Norwegian Fjords - Nærøyfjord and Geirangerfjord have been on the UNESCO World Heritage List since 2005. According to UNESCO, the two fjords are archetypal fjord landscapes which have been left more or less untouched.</p>
<p>For the second half of the day visit the village of Njardarheimr where you'll get to experience an authentic Viking village that shows how the Vikings lived 1,000 years ago, when Gudvangen got its name. The locals in this village are not actors in costume, but people who have adopted the old Viking culture as a lifestyle. They really know their history and have unique knowledge about how the Vikings lived and live, which they would love to share with you!</p>
<p><em>Departs Daily, available from Flåm and Aurland. Tickets for entry to the Viking Village and the return cruise journey are included in the cost of the excursion.</em></p>
<h3>Nærøyfjord cruise from £58 per person (01 May-30 Sept) from £56 per person (01-31 Oct)</h3>
<p>Experience a cruise on the West Norwegian Fjords; Nærøyfjord and Geirangerfjord have been on the UNESCO World Heritage List since 2005. According to UNESCO, the two fjords are archetypal fjord landscapes which have been left more or less untouched.</p>
<p><em>Departs Daily, available from Flåm and Aurland. Tickets for the shuttle bus back to Flam at the end of the day are included.</em></p>
<h3>Lærdal &amp; Stegastein Viewpoint from £60 per person</h3>
<p>This roundtrip will take you through some spectacular mountain scenery over the popular "Snow-road", and through the world's longest tunnel across the Aurland Mountain, and onto the charming old village of Lærdal. In Lærdal your guide will tell you all about the town's prominent history and take you to the <span>National Wild Salmon Centre where you'll hear all about the </span>significance of the area's wild salmon population. The route back to Flam and Aurland heads across <span>Mt. Aurlandsfjellet, famous for it's fantastic view points, and you'll have the chance to stop at the Stegastein Viewpoint for some fantastic views of the Aurlansfjord. </span></p>
<p><em>Departs Daily, available from Flåm and Aurland. Audio guides are also available.</em></p>
<h3>Bus to the Aurlandsdalen Valley from £30 per person</h3>
<p>The bus to the Aurlandsdalen Valley is great if you want to hike the beautiful Aurlandsdalen as it runs a regular service to <span>Østerbø, where the walking trail down the valley starts and back from Vassbygdi, where the route ends</span>. The schedule is adjusted to the average time that is needed to walk the valley, so you won't need to worry about missing you bus back to Flåm or Aurland. This is a beautiful, well sign-posted route through the Aurlandsdalen valley, mainly downhill but challenging in it rocky terrain. For the keen hiker it's really worth experiencing the route and immersing yourself in the dramatic Norwegian valley landscape.</p>
<p><span><strong>Route details:</strong> Difficulty: Challenging; Distance: 20km; Walking Duration: approx. 8 hours; Equipment: walking poles recommended.</span></p>
<p><em>Departs Daily, available from Flåm and Aurland</em></p>
<h3>Bus to Mountain Prest (return) from £34 per person (01 Jun-31 Aug) &amp; from £31 per person (01 Sept-31 Oct)</h3>
<p>The bus service to Prest is very handy for getting you to the starting point of the Mount Prest hiking trail, and back to Flåm or Aurland at the end. This is one of the most popular and stunning hikes in Aurland and leads up to a viewpoint 1363 metres above sea level where you can enjoy breath-taking views of the Aurlandsfjord from above.</p>
<p><span><strong>Route details: </strong>Difficulty: Challenging; Distance: 6km (round-trip); Ascent: approx. 500 metres; Walking Duration: approx. 3 hours; Equipment: walking poles recommended.</span></p>
<p><em>Departs Daily available from Flåm and Aurland</em></p>
<h3>Waterfall Hike &amp; Stegastein Viewpoint from £62 per person</h3>
<p>Join a morning hike to one of the area's hidden gems, the Turlifossen waterfall. The walk starts at Aurland's unique Organic farming school, the only one of its kind in Norway and passes through forested trails up to the Turlifossen waterfall (prepare yourself for a refreshing waterfall shower!). From the waterfall you'll head up to the stunning Stegastein Viewpoint, where you can enjoy incredible views of the Aurlandsfjord landscape from 650 metres above!</p>
<p><span><strong>Route details: </strong>Difficulty: Moderate; Distance: 5km; Walking Duration: approx. 3 hours; Equipment: walking poles recommended.</span></p>
<p><em>Departs Daily, available from Flåm and Aurland</em></p>
<h3>Flåm Railway from £38 per person (one way) or from £55 per person (return) (01 May-30 Sept) from £33 per person or from £47 per person (return) (01-31 Oct)</h3>
<p>The Flåm Railway has been described by many as one of the most beautiful train journeys in the world. The train runs from the end of Aurlandsfjord, a tributary of the Sognefjord, up to the high mountains at Myrdal station and passes through some of the most striking scenery of Western Norway. You can choose to do the return trip on the train, alternatively you can choose to walk or cycle back to Flåm or Aurland from Myrdal.</p>
<p>Departs Daily, available from Flåm and Aurland. In the colder months of the year there may be snow in Myrdal, so walking or cycling back to Flåm or Aurland may not be possible.</p>
<h3>Flåm railway, zip lining &amp; biking from £127 per person (01 May-30 Sept) &amp; from £122 per person (01-12 Oct)</h3>
<p>Hop on the Flåm Railway which has been described by many as one of the most beautiful train journeys in the world. The train runs from the end of Aurlandsfjord, a tributary of the Sognefjord, up to the high mountains at Myrdal station and passes through some of the most striking scenery of Western Norway.</p>
<p>Flåm Zipline is located at Vatnahalsen, 820 metres above sea level, where the Flåm railway meets the Bergen railway line. Arriving at Vatnahalsen train station, follow the signs to Flåm Zipline where you'll be met by a wonderful view of the spectacular Flåm valley. The zipline ends at Kårdal summer farm, where you can jump on a bike and ride the 18 kilometres downhill back to Flåm.</p>
<p><em>Departs Daily, available from Flåm and Aurland</em></p>
<h3>Flåm railway &amp; zip lining from £99 per person (01 May-30 Sept) &amp; from £93 per person (01-12 Oct)</h3>
<p>Hop on the Flåm Railway which has been described by many as one of the most beautiful train journeys in the world. The train runs from the end of Aurlandsfjord, a tributary of the Sognefjord, up to the high mountains at Myrdal station and passes through some of the most striking scenery of Western Norway.</p>
<p>Flåm Zipline is located at Vatnahalsen, 820 metres above sea level, where the Flåm railway meets the Bergen railway line. Arriving at Vatnahalsen train station, follow the signs to Flåm Zipline where you'll be met by a wonderful view of the spectacular Flåm valley. The zipline ends at Kårdal summer farm, where you can walk the 18 kilometres back down to Flåm.</p>
<p><em>Departs Daily, available from Flåm and Aurland</em></p>
<h3>Flåm bike &amp; e-bike rental (full day) from £34 per person (manual bike) or from £75 per person (e-bike)</h3>
<p>Flåm is an ideal starting point for a biking or e-biking in stunning surroundings. Hire a bike for the day and explore the area at leisure. Whether you choose to cycle along Aurlandsfjord or explore the Flåm's old town centre, the routes are pretty flat and suitable for most abilities.</p>
<p><em>Departs Daily, available from Flåm only</em></p>
<p><em>We act at all times as a selling agent for the suppliers. All excursions require minimum numbers to run and are subject to change. Some excursions may not be available to pre-book in low season but may be available to book locally subject to numbers. Prices will be confirmed at the time of booking. Please see our<span> </span><a data-udi="umb://document/b703ff07ccec43baad41fffcfcc61821" href="https://www.inghams.co.uk/legal/terms-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a>.</em></p>]]></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround><![CDATA[<h3>Buses</h3>
<p>Flam and Aurland offer a small number of bus routes and the best way to plan your route is via Skyss which operate the local services in this area. There are numerous bus stops around so make sure you go to the correct one depending on where you’re travelling to. The bus between Aurland and Flam takes around 20 minutes.</p>
<h3>Boats</h3>
<p>Boats travelling in this area often don't offer regular departures and some only operate one-way journeys so make sure you plan your route carefully as you may need to look at alternative ways to return. Boats can journey to scenic villages like Gudvangen.</p>
<h3>Trains</h3>
<p>The only train that departs from Flam is the Flam railway which goes to Myrdal station. It’s a beautiful train ride through the Flam valley, often described as one of the most beautiful journeys in the world. Once in Myrdal you can then connect to other destinations such as Voss or Bergen. The Flam Railway is incredibly popular and tickets often sell out far in advance, you'll therefore need to make sure you book tickets in advance.</p>]]></gettingAround>
  <gettingAroundTitle><![CDATA[Getting around Flam & Aurland]]></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="text-align: center;"><strong>Good to know</strong></p>
<p><strong>Flam or Aurland are only bookable as part of a multi-centre. Please call to book.</strong></p>
<p><strong>Walking trails:</strong> Over 60 kilometers of walking trails</p>
<p><strong>Terrain</strong>: Mainly mountain climbs on varied terrain</p>
<p><strong>Best time to go</strong>: Each month brings it's own delights in Flam &amp; Aurland, enjoy longer daylight hours in June and early July as well as warmer temperatures. Or, opt for cooler temperatures and less crowds in the months of May and October.</p>
<p><strong>Best for:</strong> Challenging hikes, couples, families with teens, nature</p>
<p><strong>Arrive into:</strong> Bergen Airport</p>
<p><strong>Travel from:</strong> London Gatwick, London Heathrow, Manchester, Newcastle and Aberdeen</p>
<p><strong>Transfer time:</strong> Flam or Aurland can be booked as part of a multi-centre. Depending on which multi-centre you choose and journey times vary depending on which destination you're travelling from.</p>
<p><strong>24/7 Support and advice:</strong> Over the phone from our local resort team</p>
<p> </p>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language></language>
  <latestDeals></latestDeals>
  <latitude></latitude>
  <listingDescription><![CDATA[<p><span>Aurlandsfjord – home to the villages of Flam and Aurland. They may offer their own unique views of the fjord but what they both have in common is that they are the perfect spot for a summer walking holiday. </span></p>
<p><strong>Best for:</strong> Challenging hikes, couples, families with teens, nature</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e7d88a05fc604bd1a3bd7e84836323f2]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Flam and Aurland for an incredible walking holiday in Norway this summer. summer. Book with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[Flam and Aurland Holidays | Summer holidays in Flam and Aurland 2025 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Flam & Aurland]]></pageTitle>
  <parking>1</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes><![CDATA[<h3>Brekkefossen Waterfall Hike</h3>
<ul>
<li>Distance: Approx. 5 kilometres</li>
<li>Difficulty: Moderate</li>
<li>Ascent: Approx 155 metres</li>
</ul>
<p>The walk begins with a gentle walk from the centre where you’ll pass by the Flam river. You’ll then begin to climb and the trail becomes steeper as you near the Brekke Waterfall. Once you clear the tree line, you’ll see Flam in the distance and beautiful views.</p>
<h3>Hike or Bike the Flam Valley</h3>
<ul>
<li>Distance: Approx. 20 kilometres</li>
<li>Difficulty: Moderate</li>
</ul>
<p>It’s an ambitious hike and very long, 20 kilometres one way, so you’ll probably want to catch the Flam railway to Myrdal and then walk back to Flam (if you want to catch the flam train one way then you'll need to book in advance as tickets can sell out quickly). Although the walk has it’s challenges many say it’s one of the best ways to see the Flam valley. You get to admire it at a slower pace and really take in all the sights. There is also the option of hiring bikes for this route if you're not up to walking 20 kilometres.</p>]]></popularWalkingRoutes>
  <popularWalkingRoutesTitle><![CDATA[Our Favourite Walks]]></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[NOFL]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs>0</showFAQs>
  <showFromYourRep>1</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide>0</showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps>0</showPisteMaps>
  <showResortCombinations>1</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking>1</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals><![CDATA[Excursions]]></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo><![CDATA[Things to do in Flam & Aurland]]></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions><![CDATA[Cards & Passes]]></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking><![CDATA[Walking]]></tabTitleWalking>
  <tagline><![CDATA[Flam and Aurland are neighbouring villages with very different views of one of the most popular fjords in Norway, offering a picture-perfect summer holiday]]></tagline>
  <thingsToDo><![CDATA[<h3>Flam Railway</h3>
<p>Whether you’re a rail enthusiast or not, the Flam railway is a must-see for anyone visiting this area. Ride the train and pass through the beautiful Flam Valley on this 20 kilometre track where you’ll pass-by waterfalls, mountains and meadows. Not only are people drawn to the railway because of the scenery but it also has an impressive engineering history, climbing at a gradient of just over 5% for almost 80% of the journey and passing through 20 tunnels, 18 of which were carved out by hand - it’s no wonder it took 20 years to build.</p>
<h3>Visit other local villages</h3>
<p>Sitting at the entrance to the Nærøyfjord, Gudvangen offers spectacular views of the fjord and can be reached by boat from Flam which takes approximately 1.5 hours to get there and gives fantastic views of this UNESCO listed fjord.</p>
<p>It's a small village that is mainly visited for its scenery, what makes this village so unique though is its Viking heritage which has led to a reconstruction of a Viking settlement, called The Viking Village – there are often exhibits with workshops and sometimes performances taking place. There are also a few small cafes and restaurants in Gudvangen and make sure you keep your eyes peeled for the Kjelfossen waterfall which is just outside the centre. If you're wanting to visit The Viking Village you may wish to buy tickets in advance as they can sell out during peak seasons (see excursions listed in the section below).</p>
<h3>Aurlandsdalen Valley</h3>
<p>The Aurlandsdalen Valley is inland of Aurland and is a beautiful area that’s a paradise for hikers and the scenery is breath-taking, some even call it “Norway’s Grand Canyon” because of its dramatic views.</p>
<p>During selected summer months you can book onto a hiking bus that operates a route between Flåm, via Aurland, Vassbygdi and Østerbø. Most people depart the bus at Østerbø and walk to Vassbygdi which is around 20 kilometres of hiking where they’ll catch the return bus. This is a challenging hike for those with hiking experience as it requires you to reach Vassbygdi with enough time to catch the return bus, you’ll therefore need to plan your day carefully and make sure you have plenty of supplies as there’s only a selected number of buses and no where to purchase food or drink. (see excursions listed in the section below).</p>
<h3>Stegastein viewpoint</h3>
<p>Perched 650 metres above Aurland, the Stegastein viewpoint is fantastic for taking in those fjord views. Take a look at our excursion section below to see different day trips on offer that include the Stegastein viewpoint.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation><![CDATA[<h3>Recommended Equipment</h3>
<p>Comfy walking boots, sun cream, insect repellent, waterproofs, rucksacks and walking poles are useful for hiking around Flam &amp; Aurland.</p>
<h3>Walking Guidelines</h3>
<p>The mountains, lakes and fjords are a natural paradise, with lots to explore and discover. To help them stay that way, and remain enjoyable and safe places for everyone, we recommend following our little list of do's and don'ts:</p>
<ul>
<li>Plan your route well and don't overestimate your self</li>
<li>Check the weather forecast</li>
<li>Tell someone where you're planning to walk and what time you're expecting to be back</li>
<li>Take all the recommended equipment</li>
<li>Make a note of emergency numbers</li>
<li>Don't leave the marked trails without a guide</li>
<li>Let nature stay wild by not picking flowers (it's illegal in some places) or getting close to/making contact with wild animals</li>
<li>Always leave gates as you found them and don't climb over fences</li>
<li>Leave no trace</li>
</ul>
<p>Check out our Responsible Walking insider guide if you want more tips for your summer walking holiday.</p>]]></usefulInformation>
  <usefulInformationTitle><![CDATA[Useful Information & Guidelines]]></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription><![CDATA[<p><span>On an Inghams walking holiday, you have the freedom to explore the area at your own pace. Make each day a new adventure, with as much or as little walking as you like.</span></p>
<p><strong>Why we love walking in Flam &amp; Aurland</strong></p>
<p>Positioned on the water of one of the branches of the Sognefjord the views don’t get much better than this and what better way to appreciate them than on foot. Flam and Aurland are just a short distance apart so you can explore the trails across both. Find routes that take you past the fjords, or venture inland and climb some of the local mountains to see those spectacular views from above. The scenery is what really sets walking apart here.</p>]]></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle><![CDATA[Walking in and around Flam & Aurland]]></walkingTitle>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>