<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="4b262246-a76d-4c5b-8b66-ec67cceeeafb" id="30493" nodeName="The Venice Times Hotel" isDoc="" updated="2022-09-26T17:30:34.9170000Z" parentGUID="20189306-3f65-4963-84a9-bd17846543a7" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="7" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "a2f65ba4-281c-4fc6-9f08-c96d676b5918",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Hotel discount available between 01 Sep 20 - 01 Jan 21",
    "addedValueStart": "2019-08-22T10:41:09",
    "addedValueEnd": "2021-01-03T10:41:30",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/9f79ccd97c0c48368e74293eb44975cd,umb://media/77f5304c476147b895a063a4a2ed13aa,umb://media/d05fa09138f34d888e1ea1a4142ab199,umb://media/4c7e97d4fcc949bb8d7f555c7e5f5d87]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>A rich and varied buffet breakfast is served each morning with both continental and hot options. During the warmer spring and summer months, breakfast can be taken in the courtyard outside. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>We love the Venice Times Hotel’s modern design. There’s a real welcoming atmosphere and contemporary furnishings with well-thought out finishing touches like Renaissance artworks on the walls and Murano glass. Rooms are warm and inviting with lots of space, comfy beds and lovely furnishings. Our favourite feature is the stone courtyard where you can pull up a chair and take a break from exploring the city with a nice cocktail or glass of prosecco. Some of Venice’s best restaurants are on the doorstep including the fabulous Ca'Eolia Italian tapas bar and for fine dining Michelin starred Le Glam. When you want to get out and explore the sights, walk the short distance to the Grand Canal where you can use the vaporetti to get around easily. As it’s quite a compact city, you can also walk pretty much everywhere. The Rialto Bridge is about 20 minutes’ away and St. Mark’s Square is about half an hour’s walk.</p>
<p>Transfer time: approx. 50 mins by water taxi from Venice Marco Polo airport.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Breakfast room </li>
<li>Outdoor courtyard and seating area</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[45.4422785]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A true hidden gem in the very heart of Venice, the Venice Times Hotel is the epitome of modernity and elegance in this ancient city. Just steps from the Santa Lucia station and famed Casino, this property offers one of the best locations for sight seeing Venezia has to offer. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/d05fa09138f34d888e1ea1a4142ab199]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.3213988]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[30 rooms ]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Tucked away in the cobbled streets of Venice, just steps from the Grand Canal, is the contemporary Venice Times Hotel. Book your stay online today.]]></metaDescription>
  <metaTitle><![CDATA[Venice Times Hotel | Venice | Italy Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>30</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITVE0127]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>In each room at the Venice Times Hotel you’ll find a modern style with typical Venetian accents, a comfortable double bed and facilities including air conditioning, TV, tea and coffee making facilities, minibar and free wifi.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[239006]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>