<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="ed60d8e6-28ed-4f31-85b6-011a3f8e5ccb" id="69644" nodeName="National Walking Month 2024" isDoc="" updated="2024-11-14T14:26:17.3030000Z" parentGUID="bb316482-8646-4d62-833b-7128724ae080" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="9" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>We're celebrating National Walking Month in May by<span> giving you the inside scoop on some of the best walks in Europe.</span></p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/41c29b3c5b084b85af5047681ced2495]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[National Walking Month 2024]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[walking]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "National Walking Month 2024",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/7bc0a18c4c2742478fcc168b36655637",
    "externalLink": "",
    "linkName": "National Walking Month 2024",
    "linkTitle": "National Walking Month 2024",
    "linkTitleColor": ""
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>