<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="302e5e22-7c94-4622-a695-d8fd3b12fa86" id="74109" nodeName="Clarion Collection Hotel Havnekontoret" isDoc="" updated="2024-11-21T14:19:03.0870000Z" parentGUID="d517b2c2-1fa9-4eb0-96a3-bcb6b7e933c5" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="8" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/5e79c34b4ebc4b20a0b26b8656be1526,umb://media/6d9aa031698b416ebeb9202ebce90e3f,umb://media/5ae7fa68466b44ed98a8aebff1b015d0]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Each morning from 6.30am - 9.30am (Monday to Friday) and 7.30am - 10.30am (Saturday and Sunday) a breakfast buffet is served. Here you will find a delicious array of  eggs, cereals, bread, meats, fruit and juices. There is a good selection of organic products too. </p>
<p>From 3pm to 5pm each day the hotel servic tea, coffee and a sweat treat, usually pancakes or waffles. This is known as Fika and is almost a must in Scandinavian culture, seen as a perfect time to sit down with friends or family and enjoy a warm drink and a bite to eat.  </p>
<p>The hotel do also offer soup, salads and hot dishes in the evenings. from 6pm to 10pm. Evening meals are bookable and payable locally. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Clarion Collection Hotel Havnekontoret is located in central Bergen. What makes this hotel so special is the building itself. Located on the beautiful street of Slottsgaten with glorious architecture like baroque and rococo, the street and surrounding area of this hotel, really is very special. Once in the hotel building you will be met by beautiful furnishings and rooms, and relaxing facilities. </p>
<h2>Wonderfully located </h2>
<p>If you're looking for a fantastic hotel with a central location, look no further than the Clarion Collection Hotel Havnekontaret. You will reach the city station in 10 minutes where you will find buses and trains, where you can hop on and get exploring further afield. Or, you can of course step out the door of the hotel and you will be in the centre of Bergen, ready for a day of exploring the beautiful city. </p>
<h2>Views of the city </h2>
<p>Due to the hotels central location it benefits from incredible 360-degree views of central Bergen. The hotel has a tower where you can take in the views, make sure to have your camera at the ready! </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Sauna </li>
<li>Steam Room</li>
<li>Lounge</li>
<li>Roof Top Terrace</li>
<li>Fitness Room</li>
<li>Free Wi-Fi</li>
<li>Parking</li>
<li>Garage (paid locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "4b0bfe45-7957-4cef-9fb7-5f7a9a28a3d8",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"fbbdcc07-c003-429a-bd2d-7f038ed08fde\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>1</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Clarion Collection Hotel Havnekontaret is a fantastic hotel located in the centre of Bergen, making it perfect for exploring Bergen. You are only a 10 minute walk from the city station too, making it easy to explore further afield too. Back at the hotel, you can enjoy the spa and lounge to sit back and relax after a day walking the city. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/5e79c34b4ebc4b20a0b26b8656be1526]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: Approx. 50 minutes via light rail (tram).</li>
<li>Centrally located</li>
<li>10 minute walk to the city station for buses and trains </li>
<li>100m from the nearest supermarket </li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay with Inghams Walking at the Clarion Collection Hotel Havnekontaret today. Located in central Bergen, perfect for accessing walks and exploring the city of Bergen on your summer holiday.]]></metaDescription>
  <metaTitle><![CDATA[Clarion Collection Hotel Havnekontaret | Norway Walking Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>113</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Clarion Collection Hotel Havnekontoret]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOBE0122]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Double/Twins Rooms</strong> are approx. 18<span>m² and sleep up to two guests. These rooms are on request, please call to book.</span></p>
<p><strong>Superior Double/Twins Rooms</strong> are approx. 23<span>m² and sleep up to two guests. These rooms are on request, please call to book.</span></p>
<p><strong>Single Rooms</strong> are also available on request, please call to book. </p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Bath or shower</li>
<li>TV </li>
<li>Safe</li>
<li>Minibar</li>
<li>Hairdryers </li>
</ul>
<p><strong>General information </strong></p>
<ul>
<li>Check in: 3pm</li>
<li>Check out: 11am</li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>From autumn 2024 Norway may be introducing a tourist tax to pay locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[603845]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>