<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="9074ca01-d636-4736-9b16-df513c83cbbc" id="24085" nodeName="Hungarian Braised Beef Goulash with Pilaf Rice and Braised Red Cabbage" isDoc="" updated="2021-12-15T11:24:01.2270000Z" parentGUID="381312e3-a4ec-4bb3-94af-e28c1ee1135a" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="0" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="white_box_shadow">
<p><img src="/media/13051324/hungarian-braised-beef.jpg" alt="Hungarian Braised Beeg Goulash" width="839" height="401" rel="858,410" /></p>
<p>Originating from Hungary, goulash is a staple across Europe and can be found in restaurants in the Netherlands all the way across to Eastern Europe. Smokey and sweet, goulash began as a hearty and warming meal for Hungarian shepherds, who stored the stew in bags made from sheep stomachs.</p>
<p>The Inghams Catering Team provides a spin on this classic dish and serves it with authentic pilaf rice and deliciously rich braised red cabbage, for a hearty meal that’ll leave you feeling satisfied.</p>
<p> </p>
<p style="font-size: 16px; font-weight: bold; font-style: italic; color: #7ea537;"><span style="font-size: 24px; font-weight: bold; font-style: italic; color: #7ea537;">For the beef goulash:</span></p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span style="font-size: 16px; font-weight: bold; color: #7ea537;">Ingredients</span></p>
<ul>
<li>- 200g braising steak (ideally chuck steak)</li>
<li>- ½ tbsp. sunflower oil</li>
<li>- 2 medium white onions, cut into 8 wedges</li>
<li>- 2 crushed garlic cloves</li>
<li>- 2 tsp. hot smoked paprika</li>
<li>- 2 tbsp. paprika</li>
<li>- 1 beef stock cube</li>
<li>- 500ml cold water</li>
<li>- 200g chopped tomatoes</li>
<li>- 2 tbsp. tomato puree</li>
<li>- 2 bay leaves</li>
<li>- ½ red pepper</li>
<li>- ½ green pepper</li>
<li>- Salt and pepper to taste</li>
</ul>
<p> </p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span id="1" style="font-size: 16px; font-weight: bold; color: #7ea537;">Method</span></p>
<p>Preheat the oven to 170°C.</p>
<p>Trim any hard fat from the beef, and cut the meat into roughly 4cm chunks. Season well with salt and black pepper.</p>
<p>Heat the oil in a large saucepan. Add the beef and fry over a high heat until browned all over, turning regularly. Tip the onions into the pan and cook with the beef for 5 minutes. Add the garlic and cook for a further minute, stirring regularly.</p>
<p>Sprinkle the paprika and crumble the stock cube on top of the beef. Add the water, tomatoes, tomato puree and bay leaves, and season with salt and pepper. Stir well and bring to a simmer. Cover the pan with a lid and transfer to the oven.</p>
<p>Cook the stew for around 1½ hours.</p>
<p>Meanwhile, remove the seeds and core from the peppers. Cut each pepper into chunks of around 3cm. Once the beef is cooked through, remove from the oven and stir in the peppers. Add the lid once again, and return to the oven for an additional hour.</p>
<p> </p>
<p style="font-size: 16px; font-weight: bold; font-style: italic; color: #7ea537;"><span style="font-size: 24px; font-weight: bold; font-style: italic; color: #7ea537;">For the pilaf rice:</span></p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span style="font-size: 16px; font-weight: bold; color: #7ea537;">Ingredients</span></p>
<ul>
<li>- 300g long grain rice</li>
<li>- 700ml vegetable or chicken stock</li>
<li>- 1 white onion, finely diced</li>
<li>- 10ml oil</li>
<li>- Sprinkle salt and pepper</li>
<li>- Chopped herbs to finish</li>
</ul>
<p> </p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span id="1" style="font-size: 16px; font-weight: bold; color: #7ea537;">Method</span></p>
<p>Place the pan on a high heat. Mix the stock, using a stock cube and boiling water. Add the oil to the pan and fry the onion on a medium heat until it becomes translucent. Add the rice and stir, incorporating all the onion.</p>
<p>Add the stock and simmer for 15–20 minutes, until soft and fluffy. Remove from the heat and add salt, pepper and herbs to taste.</p>
<p> </p>
<p style="font-size: 16px; font-weight: bold; font-style: italic; color: #7ea537;"><span style="font-size: 24px; font-weight: bold; font-style: italic; color: #7ea537;">For the braised red cabbage:</span></p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span style="font-size: 16px; font-weight: bold; color: #7ea537;">Ingredients</span></p>
<ul>
<li>- 50g butter</li>
<li>- 1 white onion, finely sliced</li>
<li>- 2 dessert apples, peeled, cored and sliced</li>
<li>- 1kg red cabbage, finely sliced</li>
<li>- 100g raisins</li>
<li>- 200ml sherry vinegar</li>
<li>- 50g dark brown sugar</li>
<li>- 1 tsp. ground mixed spice</li>
<li>- 1 cinnamon stick</li>
<li>- Salt and pepper to taste</li>
</ul>
<p> </p>
<p style="font-size: 14px; font-weight: bold; color: #7ea537;"><span id="1" style="font-size: 16px; font-weight: bold; color: #7ea537;">Method</span></p>
<p>Heat the oven to 170°C.</p>
<p>Melt the butter in an oven-proof casserole dish, and add the cinnamon and mixed spice. Fry the onion for a few minutes, and add the apple, sugar and a sprinkle of salt and pepper. Continue to heat until the sugar caramelises.</p>
<p>Add the sherry vinegar, raisins and red cabbage, and stir until the cabbage is well coated.</p>
<p>Place the dish in the oven and cook for around 50 minutes, or until the liquid has evaporated.</p>
<p>You can <a rel="noopener noreferrer" href="http://cdn-inghams.hotelplan.co.uk/media/13033365/inghams-foodie-finds-web-download.pdf?utm_source=blogs&amp;utm_medium=PDF&amp;utm_campaign=foodie_finds_alpine_recipes" target="_blank" title="Inghams Foodie Finds Alpine-Inspired Recipe Book">download a PDF version</a> of our <strong> Foodie Finds recipe book</strong>, which includes this recipe and other<strong> 'Alpine-Inspired' recipes</strong>.</p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Originating from Hungary, goulash is a staple across Europe and can be found in restaurants in the Netherlands all the way across to Eastern Europe]]></metaDescription>
  <metaTitle><![CDATA[Hungarian Braised Beef Goulash Recipe - Inghams Foodie Finds Cookbook]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hungarian Braised Beef Goulash with Pilaf Rice and Braised Red Cabbage]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<div class="white_box_shadow">
<p> </p>
</div>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/ac8e74c90c034a2f881ed189d17b6c71]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>