<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="6f75e6fe-e9f1-4e83-89c6-dc1712c94626" id="39013" nodeName="Group Discount T&amp;C's" isDoc="" updated="2022-10-03T13:06:24.4130000Z" parentGUID="b703ff07-ccec-43ba-ad41-fffcfcc61821" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="0" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><strong>General Terms and Conditions:</strong></p>
<ul>
<li>​Group Discounts are for early bookings only</li>
<li>Date restrictions and percentages may vary at any time and are subject to availability</li>
<li>Group Discounts cannot be combined with any other discount e.g. free kids do not count towards your group size</li>
<li>Discounts for November and December departures to Lapland do not apply</li>
</ul>
<p>*Not valid within 10 weeks of departure.</p>
<p>**Free name changes only available on charter or allocation flights, please check at time of booking.</p>
<p>Group holidays are bound by Inghams' full <a data-udi="umb://document/b703ff07ccec43baad41fffcfcc61821" href="/{localLink:umb://document/b703ff07ccec43baad41fffcfcc61821}" title="Terms &amp; Conditions">terms &amp; conditions</a>.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Our terms & conditions are for Ski. Here are our Group Discount terms and conditions.]]></metaDescription>
  <metaTitle><![CDATA[Group Discount Terms and Conditions | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Group Discount Terms & Conditions]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>