<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="f331f7c6-b1b2-4229-b97d-e983585d3390" id="49514" nodeName="Insider's Guide: Ski Touring" isDoc="" updated="2024-12-10T11:57:11.4500000Z" parentGUID="08f2c95a-400f-49b1-87fe-bb5058955b5b" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="36" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><img src="/media/13048545/skiing.jpg" alt="Ski Touring" data-udi="umb://media/ce6dcb60b09a4bcf8416e83a621fec7a" /></p>
<p>With the trend of ski touring finally making its way over the Atlantic, mainland Europe is starting to witness an increase in the number of skiers looking to make their next holiday that little more…<span> </span><em>exciting</em>.</p>
<p>While not exactly a new sport, the art of touring hadn’t really caught on before Winter 2014/15. With a solid amount of backcountry skiing to be had across the Alps, who really wants to spend all day climbing the mountain when you could simply catch the next chairlift or throw yourself down a <em>big</em> mountain after riding up in a chopper? Now, however, there are more and more people turning up to hire shops and enquiring about ski touring. But what is it, exactly?</p>
<p>Ski Touring is a nuance of traditional pisted skiing, is something that advanced skiers tend to prefer once they have exhausted the traditional downhill skiing. Ideal when you need to get higher than the highest lift will allow and popular this season more than ever, partially down to the severe lack of snow the Alps experienced I guess, this sport is spot-on for when there is ‘sufficient’ snow. While the Alps tend to be the main convergence point for most UK-based ski-tourers, Scotland (and even the Lake District) could be a potential place for training.</p>
<p><img src="/media/13048642/verbier.jpg" alt="Verbier" data-udi="umb://media/a7084f1e6eb14ed792d2dd0d8a904ef0" /></p>
<p>But how does it all work? Well, as anyone who’s anyone can tell you, whenever you point the skis downhill (whether you face that way or not) you tend to get a bit of speed away from the top of the mountain. By using specialist ‘skins’ on your skis, you gain the ability to climb the mountain in a way that even Spiderman would be envious of. Just think, fresh and untouched powder is always in your line of sight and now you can actually get to it.</p>
<p>Not only that, but you can also get to the dizzying heights that epic photos are made from. Think GoPro photo of the day style.</p>
<p>Skiing down, however, is where you need to pay heed. On peaks like this, the getting down bit is often the hardest. It is worth pointing out, of course, that your ski level should be relatively advanced and, as I will volunteer as tribute, if your off-piste skiing is more akin to tumbling down a hill with skis attached, it is maybe best to undertake an introduction to off-piste skiing prior to starting out on a touring adventure.</p>
<p>Still with me? Ace. Let’s see what you need to be good to go.</p>
<h3>Equipment</h3>
<h4>Normal skiing equipment (helmet, poles, ski goggles etc.)</h4>
<p>Most of you will be familiar with this bit, but your general skiing apparatus would likely consist of:</p>
<div>
<ul>
<li>Helmet</li>
<li>Poles</li>
<li>Base-layer</li>
<li>Goggles</li>
<li>Mid-layer</li>
<li>Waterproof gloves</li>
<li>Ski Jacket</li>
<li>Hat</li>
<li>Ski Trousers</li>
</ul>
<h4>Ski touring boots</h4>
<p>Ski touring boots are an adapted ski boot. For those who already own downhill skis and boots, it is possible to buy an adaptor to use your current setup for ski touring; however I would not recommend using it all the time. It is, though, an inexpensive manner of taking up ski touring.</p>
<p>The main difference between touring boots and standard downhill ski boots is that touring boots have traditional soles with grips to provide extra comfort and security. Additionally, the boots have different method of attaching to the bindings than usual. The connection point is a dual pin attachment in the toe-end of the boot to provide a pivot system allowing comfort and a wider range of movement to the user whilst hiking uphill.</p>
<h4>Skis with touring bindings</h4>
<p>Touring bindings operate in conjunction with touring boots. The dual pivot system on the bindings locks the toe of the boot into place, whilst the standard back end of the bindings fit the heel and hold that steady whilst skiing downhill. During the climb, however, they unlock and allow free movement of the heel to allow the user to slide the skis uphill and maintain a ‘walking’ movement for greater comfort.</p>
<p><strong>Skins</strong></p>
<p>Skins attach to the bottom of your skis via traditional ‘glue-like’ substances often cut and shaped to specific skis, or via the more recent ‘clip-on’ method which allows for a speedy attachment and greater flexibility in terms of saving money when looking to buy a new pair of skis.</p>
<h4>Skiing safely</h4>
<p>I don’t want to disrupt your fun, nor do I want to talk about this overmuch. All skiers know the risks, but please be extra aware if you decide to try out ski touring. Ask your Resort Representatives for information about guided sessions in-resort with qualified members of the local ski school partner; or alternatively use your Resort Representatives’ contacts to book onto an Introduction to Off-Piste if you’ve never been before. That way, you can maximise your enjoyment, but be safe at the same time.</p>
<p>If you are tempted to ski off-piste, it may be worth investing in some of the more technical equipment out there. The<span> </span>Black Diamond Halo JetForce<span> </span>rucksack range is specially designed for you bunch of extreme skiers and boarders.<span> </span><a rel="noopener" href="https://www.ellis-brigham.com/factfinder/result/?type=search&amp;query=black-diamond-halo-28l-jetforce-rucksack-298481" target="_blank" data-anchor="?type=search&amp;query=black-diamond-halo-28l-jetforce-rucksack-298481">Check it out</a>!</p>
<p><strong>Happy skiing!</strong></p>
</div>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Travel, accommodation and transfers? We’ve got you covered. Book your holiday online or give us a call. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[The trend of ski touring made its way over the Atlantic, Europe is starting to see an increase in the number of skiers looking to make their holiday exciting.]]></metaDescription>
  <metaTitle><![CDATA[Ski Touring | Insider Guides | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ski Touring]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<div id="page" class="site">
<div class="site-content-contain">
<div id="content" class="site-content">
<div class="wrap">
<div id="primary" class="content-area">
<div class="entry-content">
<p><span>With the trend of ski touring finally making its way over the Atlantic, mainland Europe is starting to witness an increase in the number of skiers looking to make their next holiday that little more… </span><em>exciting</em><span>.</span></p>
</div>
</div>
</div>
</div>
</div>
</div>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/ce6dcb60b09a4bcf8416e83a621fec7a]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>