<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="6d6b5cdd-ca2a-43d0-be3b-4747c24852d3" id="23696" nodeName="Hotel Lion Noir" isDoc="" updated="2021-11-26T16:48:45.4930000Z" parentGUID="2ba21872-90e7-4f20-b7ab-286abc006544" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/7ae8c8909883435ebe2a3f673bc842c1,umb://media/a4e66a7fd4574ecfbad048c05d0a50ff,umb://media/d12b0055d9d546079c06f32c7fb605ee,umb://media/61b2c8b8582e412e997a00c2fdba6a46,umb://media/c02be048220f46bca9198d6fee464a93,umb://media/4abd25ffbe4648c1aee7ed901e166466,umb://media/5106199c10d346d692001670ff1c2997]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Buffet breakfast with hot option</li>
<li>3 course evening meal with choice</li>
<li>Christmas and New Year gala dinners included</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>In an ideal location, Lion Noir enjoys a ski in/out position with resort amenities within easy reach. The hotel’s elevated position allows for glorious views over the Aosta valley and surrounding mountains which can be enjoyed from the spacious lounge or sun terrace. Renovated in warm Alpine style, guests can look forward to a laid back atmosphere at this charming hotel. The leisure area is equipped with an indoor pool and sauna.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift>100</distanceToLift>
  <distanceToNurserySlopes>100</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>100</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities><![CDATA[umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/5dbc12a410254b5a863fa6c88dc6efd9,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/36ebccaf6fef4fffb28746645e3e6793]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge</li>
<li>Bar</li>
<li>Sun terrace</li>
<li>Indoor pool</li>
<li>Sauna (over 16yrs)</li>
<li><strong>free</strong> Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li>Mini-club available with Evolution ski school</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.688303]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Enjoy doorstep skiing with this renovated hotel in an ideal location. Moments from the lifts and resort centre, The Lion Noir also boasts an indoor pool. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/7ae8c8909883435ebe2a3f673bc842c1]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Tourist tax payable locally directly to hotel</p>]]></localFees>
  <locationDescription><![CDATA[<p>Ski in/out position, moments from the lifts and resort centre</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.311840]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Lion Noir enjoys a ski in/out position with resort amenities within easy reach. The hotel’s elevated position allows for glorious views over the Aosta valley.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Lion Noir, Pila & Aosta - Italy - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Pila Gorraz</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITPI0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1737600]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/996aa9008def4ffe9a331c775cc97902]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>