<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="78a638bd-a429-4fa9-95a1-6ade0878af15" id="67129" nodeName="Hotelplan Privacy Policy" isDoc="" updated="2023-11-22T14:52:26.7930000Z" parentGUID="199e5c9f-3b7a-4300-bf5f-84fd30438ca0" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="7" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h3>What is this privacy notice about?</h3>
<p>The Hotelplan Group is a business division of the Migros group. The processing of personal data in relation with the Hotelplan Group is set out in the General Privacy Notice of the Migros group, which you can read <a rel="noopener" href="https://privacy.migros.ch/en.html" target="_blank" title="Migros Privacy Policy">here.</a></p>
<p>This supplementary privacy notice contains additional information on data processing in relation with the Hotelplan Group. It is to be read in addition to the General Privacy Notice.</p>
<h3>Who is the controller for data processing?</h3>
<p>In principle, a Hotelplan Group company («we» or «us») is primarily responsible, under data protection law, for data processing in accordance with this privacy notice. As a rule, the controller is the company with which you are in direct contact and which has referred you to this privacy notice. For data processing in connection with the Hotelplan Group, this is often the following company:</p>
<p><span>MTCH AG <br />Sägereistrasse 20 <br />8152 Glattbrugg<br />CHE-103.628.247</span></p>
<p>The Hotelplan Group includes the following business units, each of which combines several companies and brands:</p>
<ul>
<li><span>Hotelplan Suisse;</span></li>
<li><span>Hotelplan UK;</span></li>
<li>Volume Tour Operating (including the brands Migros Ferien and vtours);</li>
<li><span>Interhome Group;</span></li>
<li><span>bta first travel;</span></li>
<li><span>Finass Travel. </span></li>
</ul>
<p>In addition to this privacy notice, you should read any privacy provisions of the relevant company, which can usually be found on its website.</p>
<p>In some cases, a company outside the Hotelplan Group may be a controller solely or jointly with us. In these cases, please read any privacy provisions of that company as well, which you can usually find on its website.</p>
<p>If you have any questions about the processing of your personal data in connection with the Hotelplan Group or would like to exercise any of your data protection rights, please feel free to contact us as follows: <span><a href="mailto:customerservices@hotelplan.ch">customerservices@hotelplan.ch</a> </span><span></span></p>
<h3><span>What personal data do we process?</span></h3>
<p>As a tour operator, we process data in particular in relation with the organization and arrangement of travel services and vacation offers. This includes, for example:</p>
<ul>
<li>Personal details about you, your fellow travellers or substitutes, such as gender, date of birth, marital status, nationality, identification data per your passport or identity card, contact details including mobile phone number;</li>
<li>Information about planned or booked travel, events, or transportation services, such as dates of travel, date of booking or ticketing, flight number, loyalty and frequent flyer program data, baggage information;</li>
<li>Information on participation in target group-specific travel offers;</li>
<li>Information about insurance taken out in connection with the travel services, such as travel insurance;</li>
<li>Information about special medical needs, such as dietary requests or intolerances;</li>
<li>Information about physical impairments, such as in the context of adapted transportation services or barrier-free accommodations;</li>
<li>Information about illnesses, accidents or claims during travel.</li>
</ul>
<p>This may include sensitive personal data, which, for example, may allow conclusions to be drawn about your health or your privacy . Further information on how we process sensitive personal data can be found in <a rel="noopener" href="https://privacy.migros.ch/en.html#10" target="_blank" data-anchor="#10"><span>section 10 of the General Privacy Notice</span></a>.</p>
<p>We may also process other master data, contract data, communication data, behavioural and transactional data, preference data, technical data, image and sound recordings and other categories of personal data. You can find more information about this in <span><a rel="noopener" href="https://privacy.migros.ch/en.html#4" target="_blank" data-anchor="#4">section 4 of the General Privacy Notice</a></span>.</p>
<h3>For what purposes do we process personal data?</h3>
<p>In connection with Hotelplan, we process personal data in particular in order to be able to provide our services. This includes, for example:</p>
<ul>
<li>Organization and arrangement of travel and related services such as transportation, accommodation (vacation homes and apartments), leisure events, car rental booking, insurance services, childcare, arrangement of sports equipment (e.g. ski passes, ski equipment);</li>
<li>Organization and arrangement of incentive-event trips and other business trips as well as congresses, meetings and other business events ;</li>
<li>Services and support for companies in planning, handling and optimizing business travel;</li>
<li>Information in advance, for example about travel changes;</li>
<li>Carrying out rebookings and cancellations;</li>
<li>Assistance with visa and passport issues and with applications for entry documents ;</li>
<li>Information and support in case of difficulties on site;</li>
<li>Protect your vital interests, for example, to provide emergency responders with an evacuation list in emergency situations;</li>
<li>Assist in applying for a subsidy or reimbursement for services to insurance companies.</li>
</ul>
<p>We may also process personal data for other purposes, in particular communication, contract management, information and marketing, market research and product development, security and prevention, compliance with legal requirements, law enforcement, and internal group administration and support. You will find further information on this in <span><a rel="noopener" href="https://privacy.migros.ch/en.html#6" target="_blank" data-anchor="#6">section 6 of the General Privacy Notice</a></span>.</p>
<p><strong>What else should be considered?</strong></p>
<p>Under certain circumstances, we share your personal data with other companies in the Hotelplan Group and with other third parties in Switzerland and abroad so that these recipients can process personal data for their own purposes (i.e. not on our behalf). In such cases, the recipient of the data is usually considered its own controller under data protection law. This applies, for example, to the following cases:</p>
<ul>
<li>When you book travel with us, depending on the subject of the booking, we share personal data with transportation companies (for example, train, bus, ship, airlines), accommodation providers (for example, hotels, guesthouses, vacation apartments), local organizers (for example, concert halls, city guides) and other service providers (for example, car rental companies).</li>
<li>When we arrange a trip, we pass on personal data to the respective tour operator.</li>
<li>If we arrange insurance, we pass on personal data to the respective insurance provider.</li>
<li>At the request of the authorities of certain countries and depending on the travel route, certain personal data and travel details are passed on to these authorities for security reasons. This relates in particular to passenger name record data. This includes information such as the name of the passenger, contact details, travel route, seat numbers, baggage details, data on loyalty and frequent flyer programs and means of payment used.</li>
<li>It may also be necessary to share personal data with local authorities and emergency responders in the context of emergencies or disasters.</li>
</ul>
<p>Further information on the disclosure of personal data to third parties can be found in <span><a rel="noopener" href="https://privacy.migros.ch/en.html#8" target="_blank" data-anchor="#8">section 8 of the General Privacy Notice</a></span>. Additional information on the disclosure of personal data abroad can be found in <span><a rel="noopener" href="https://privacy.migros.ch/en.html#9" target="_blank" data-anchor="#9">section 9 of the General Privacy Notice</a></span>.</p>
<h3>More information</h3>
<p>You can find further information on data protection in the <span><a rel="noopener" href="https://privacy.migros.ch/en.html" target="_blank">General Privacy Notice</a></span>, including:</p>
<ul>
<li>How you can benefit from Migros’ data processing;</li>
<li>From which sources the personal data we process originate;</li>
<li>The legitimate interests we have in the data processing and on which other legal grounds our processing is based;</li>
<li>How we use personal data within Migros group and under which circumstances we may share personal data with companies outside Migros group;</li>
<li>How we transfer personal data abroad and what precautions we take to ensure appropriate data protection;</li>
<li>How and for what purpose we use profiling and whether we make material decisions on a fully automated basis;</li>
<li>What measures we take to ensure an appropriate level of security of personal data;</li>
<li>How long we generally process and store personal data;</li>
<li>How we use cookies and similar technologies when you visit our websites and mobile apps;</li>
<li>What rights you have in connection with the processing of your personal data and how you can exercise them;</li>
<li>How to contact the Migros group data protection officer or the representation in the European Union or the European Economic Area.</li>
</ul>
<h3>Changes to this privacy notice</h3>
<p>This supplementary privacy notice may be adapted over time, in particular if we change our data processing or if new legislation becomes applicable. We will inform persons whose con-tact details are registered with us of such changes in the event of significant changes, if this is possible without disproportionate effort. In general, the privacy notice in the version current at the start of the processing in question applies to data processing in each case.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[This supplementary privacy notice contains additional information on data processing in relation with the Hotelplan Group which Inghams sits within.]]></metaDescription>
  <metaTitle><![CDATA[Privacy Policy Hotelplan | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Supplementary Privacy Notice for Hotelplan Group]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>