<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="42457df9-84be-4209-bdeb-d41f86fdc67e" id="32656" nodeName="Le Dune Suite Hotel" isDoc="" updated="2022-01-31T15:10:47.6670000Z" parentGUID="3e930c14-f9c5-4b6e-9b4e-0c6354960c61" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="3" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The hotel has some rooms that are accessible. These rooms are available on request, please call to book to ensure that these rooms meet your requirements.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/194a96d16bbe48a1bd35f87863c98892,umb://media/6f325bac4b144deb8131638fdcc3bf3d,umb://media/bb812b8b2d024c1dbbb7605a1b7ecd39,umb://media/9619678865f747c1925e82b3edfb3ccf,umb://media/dce8eaec4037417390dc39de34fed0ad,umb://media/3d2892a44e344d5da3e04e297aca1000,umb://media/8d92eb43bca3459ca79b36de70f7e08b,umb://media/a572da75057448eab59a34a8c65760a4]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>An extensive breakfast buffet made with local ingredients and including pastries, fruits, cold meats, cheeses, jams and a 'make your own' omelette station</li>
<li>Dinner is a 4 course table service with choice of mains or you can purchase from the a la carte menu for a local charge </li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Boasting a great location in front of <a data-udi="umb://document/d0c28188245b40a396dd64fb346dffcd" href="/{localLink:umb://document/d0c28188245b40a396dd64fb346dffcd}" title="Puglia &amp; Basilicata">Puglia’s</a> white-sand coastline, Le Dune Suite Resort strives to offer its guests a memorable experience.</p>
<p>With just 47 guest rooms, this boutique resort hotel caters to all with a host of facilities. A stylish pool area is equipped with an elegant bar where you can sip on refreshing cocktails during the day and enjoy an aperitivo while watching the sun set in the evening. Just in front of the hotel, a private beach is equipped with sun loungers and umbrellas (payable locally) and the soft sands and shallow waters make it ideal for younger guests. Those looking to relax will appreciate the hotel’s wellness area where you’ll find a Finnish sauna and Turkish bath along with a large choice of massages and beauty treatments.</p>
<p>The rooms at Le Dune Suite hotel have been finished in a modern style to provide a comfortable stay. Those dining at the hotel will be treated to traditional Apulian cuisine that uses fresh ingredients like local seafood and complements each dish with an extensive list of local and Italian wines.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Restaurants &amp; Bars</strong></p>
<p><strong>Le Dune Suite Hotel Restaurant</strong> celebrates fresh, Mediterranean cuisine with seasonal vegetables and freshly-caught seafood.</p>
<p><strong>Aqua Restaurant</strong> boasts a sea view terrace and a menu of light dishes that are perfectly complemented by some of the best Apulian wines.</p>
<p><strong>American Bar</strong> provides a large choice of international spirits, local wines and aperitifs at sunset.</p>
<p><strong>Pools &amp; Beach</strong></p>
<p>The hotel’s pool overlooks the sea and has the bar situated close by for refreshing cocktails during the day and a comfortable spot to watch the sunset in the evening.</p>
<p>The hotel’s wide sandy beach is located just in front of the hotel and is equipped with sun loungers and umbrellas (payable locally and subject to availability).</p>
<p><strong>Spa</strong></p>
<p>The BeautyLife Spa has a Finnish sauna, Jacuzzi and Turkish bath, as well as a choice of massages and beauty treatments.</p>
<p><strong>General Facilities</strong></p>
<ul>
<li>Children’s club</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>1</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[40.2728682]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This boutique seaside resorts offers modern rooms, a chic poolside scene and a private beach with soft white sands. It's the perfect base for exploring Salento and the gems of Porto Cesareo.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/194a96d16bbe48a1bd35f87863c98892]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[17.8798532]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[48 rooms ]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Le Dune Suite Hotel is a boutique beachfront property in Puglia's Salento region. Book today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Le Dune Suite Hotel | Puglia Holidays 2019 | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>48</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITPG0133]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Superior Rooms</strong> are sleek and elegant with king-size beds and modern facilities including a built in wardrobe with digital safe, flat screen TV, large en suite bathroom with rain shower and hairdryer. These rooms have a private terrace and can sleep up to four adults.</p>
<p><strong>Deluxe Rooms</strong> are cosy and relaxing with a small terrace and side sea view. They can sleep up to three adults and are available on request, please call to book.</p>
<p><strong>Suites</strong> are the most modern rooms with elegant furniture and design. A separate living room with sofa and armchairs sits off the large bedroom with king-size bed and en suite bathroom with a Jacuzzi bath tub. All suites also have L-shaped terraces. They can accommodate up to four adults and are available on request, please call to book.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[3291292]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/3e930c14f9c54b6e9b4e0c6354960c61]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>