<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="74e4b037-a258-4c80-bab9-11a955b2bb16" id="31739" nodeName="Chia Laguna Resort" isDoc="" updated="2022-01-28T13:46:43.0370000Z" parentGUID="cc3361d2-d7a9-45d3-8852-da5e20516d75" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="8" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "7ac098b1-cceb-4f23-96d4-0395c5a8f6d0",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Honeymoon Offer: Free sparkling wine and strawberries on arrival, bouquet of flowers, spa treatment and early check-in and late check-out upon availability. Terms and conditions apply.",
    "addedValueStart": "2019-03-01T09:16:32",
    "addedValueEnd": "2019-10-31T09:16:34",
    "hideAddedValue": "0"
  },
  {
    "key": "3c66fc18-8a6b-4d48-9991-5abdff4583f5",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save 15% on the hotel price for holidays between 16 - 29 Sep 19 at Hotel Laguna and 16 – 21 Sep 19 & 30 Sep – 05 Oct at Hotel Baia",
    "addedValueStart": "2019-09-16T14:45:45",
    "addedValueEnd": "2019-10-12T14:45:57",
    "hideAddedValue": "0"
  },
  {
    "key": "404b4de8-8eb3-4ada-bf07-55f29d9f70e7",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save 25% on the hotel price for holidays between 30 Sep – 12 Oct 19 at Hotel Laguna, 16 Sep – 12 Oct 19 at Hotel Spazio Oasi & Hotel Village and 22 – 29 Sep at Hotel Baia",
    "addedValueStart": "2019-09-16T14:47:28",
    "addedValueEnd": "2019-10-12T14:47:30",
    "hideAddedValue": "0"
  },
  {
    "key": "c3f57ef7-2a7c-4605-8874-d0b6925a03fa",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Stay 7 nights and pay for 6 nights on stays of between 16 Sep - 05 Oct 19 at Hotel Baia and 16 Sep – 12 Oct 19 at all other Chia Laguna Hotels",
    "addedValueStart": "2019-09-16T14:50:26",
    "addedValueEnd": "2019-10-12T14:50:33",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/87f81620cab0416baacd70d6a963e11a,umb://media/43335e17448248c1a7acd28c0556dc44,umb://media/219610b3b41740e490f45210550b9a67,umb://media/6b540d20cef14d399bd9559472f57b69,umb://media/d2cb9ec1ea154b4e9f1d617e0fbc0bd6,umb://media/ece68ffda47d4ce3af363aef3811e1f9,umb://media/e03e09f780fd4c7a87126d686ed376cb,umb://media/467868dfeb3b426eb898ad7fca9c082f,umb://media/bbd9e813772a40cab3d1f9d8ae30cff0,umb://media/621c76a73c8d48139f5a7848b1d05dee,umb://media/ab5837044fc24de5aa64f58fa5853973,umb://media/fc8a7c4907ad49569e33e49564fc6cb5]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>There are nine restaurants at Chia Laguna Resort, each using fresh, local ingredients to create recipes inspired by traditional Sardinian cuisine. For a supplement, you can upgrade to the Dine Around programme, allowing you to try a different restaurant each evening.</p>
<p><strong>Le Dune Restaurant</strong> is located next to Campana Beach and has a relaxed, authentic feel. Dishes like grilled fish, fresh pasta and pizzas cooked in a wood-fired oven are served during lunch and dinner.</p>
<p><strong>Bioaquam Restaurant</strong> is exclusive to guests of the resort and offers healthier food while boasting views over the bay.</p>
<p><strong>La Terrazza Restaurant</strong> is a fine dining restaurant featuring delicious Italian specialities that can be enjoyed on the elegant terrace that looks out over the sea.</p>
<p><strong>Club House Restaurant</strong> is set next to the resort’s main pool and serves traditional Sardinian fare in a contemporary environment.</p>
<p><strong>Bouganville Restaurant</strong> offers themed buffets with the finest ingredients on the island. Expect locally-grown organic vegetables and main courses that are prepared by the chef’s in their live cooking shows.</p>
<p><strong>La Pergola Restaurant</strong> is a casual restaurant with a modern feel. It offers traditional Sardinian and Mediterranean food.</p>
<p><strong>Whiteluna Restaurant</strong> has a more intimate atmosphere with a fine selection of Mediterranean dishes served alongside an extensive wine list.</p>
<p><strong>The Pizzeria</strong> is located in the Piazza Ulivi and has a traditional wood-fired oven to create fresh pizzas that can be enjoyed al fresco while soaking up the square’s energetic atmosphere.</p>
<p><strong>Panino </strong>offers simple yet delicious snacks. Enjoy sandwiches made from freshly-baked bread and fresh ingredients. You can even enjoy them on the beach with a dedicated delivery service.</p>
<p><strong>Bimbi Restaurant</strong> is a fun restaurant exclusively for children. Healthy and tasty dishes are served for lunch and dinner with buffet stations and tables designed just for kids.</p>
<p>Some restaurants may be open seasonally.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Chia Laguna Resort is a perfect choice for both couples and families. With four hotels set within an expansive resort, you can be sure of a wonderful holiday with something for everyone. The resort sits at the foot of the mountains in <a data-udi="umb://document/cc3361d2d7a945d38852da5e20516d75" href="/{localLink:umb://document/cc3361d2d7a945d38852da5e20516d75}" title="Southern Sardinia">South Sardinia</a>, close to some of the most picturesque beaches on the island, where a seemingly-endless stretch of white sand leads to crystal-clear waters.</p>
<p>Those who want to stay active will appreciate the numerous activities on offer here, including sports courts and academies for football and dance, watersports and bicycles for rent. And when it’s time to relax there’s a fantastic spa with a large choice of treatments as well as several swimming pools. After a busy day, you’ll be spoilt for choice with nine restaurants offering delicious cuisine and bars including the champagne bar with views of the ocean.</p>
<p>Children are well-catered for with fun clubs for ages three up to 17. There’s also a nursery for babies and the resort offers amenities like prams, changing mats and baby baths for its youngest guests.</p>
<p>Car hire is recommended for this hotel. Chia Laguna Resort is approx. 1 hour from Cagliari airport.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/316d233024e54f53beac12863e649aba,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/9ce90d55cd5d41dcae31fac865a2b343]]></facilities>
  <facilityDescription><![CDATA[<p><span style="text-decoration: underline;"><strong>SWIMMING POOLS</strong></span></p>
<p><em>There’s five pools at Chia Laguna Resort, including one that’s perfect for families and some dedicated to guests of certain hotels, so you’re sure to find your perfect poolside spot.</em></p>
<p><strong>Club House Pool</strong> is the largest and is located in the heart of Chia Laguna Resort. You’ll find plenty of sunloungers and umbrellas, as well as the Club House Restaurant for light lunches and refreshments during the day.</p>
<p><strong>Baia Pool</strong> is one of the newest additions to Chia’s pool scene and is reserved for guests of Hotel Baia. It’s surrounded by Mediterranean vegetation and has a 25 metre long freshwater pool with a shallow area dedicated to children.</p>
<p><strong>Bioaquam Pool</strong> is exclusively for guests staying at the five-star Hotel Laguna and has splendid views over the sea and bay of Chia. A spacious sun deck has comfortable loungers and there’s a pool bar on hand for light snacks and drinks.</p>
<p><strong>Oasi Pool</strong> offers a tranquil space, surrounded by lush gardens. Guests at Hotel Oasi will have this lovely pool right on their doorstep.</p>
<p><strong>Bambini Pool</strong> is ideal for young children with shallow waters and plenty of games to keep them entertained during the day.</p>
<p><span style="text-decoration: underline;"><strong>BEACHES</strong></span></p>
<p>Chia Laguna’s position means it’s close to some of the most beautiful beaches in Sardinia. Picture-perfect white sands lead to impossibly clear waters making it the ideal resort for beach lovers. Chia Beach is a protected natural landscape and boasts beautiful sand dunes as well as a flock of resident flamingos, it’s reached by Chia’s train that runs to and from the resort. The hotel also has reserved areas at Dunes di Campana, a stunning stretch of coastline surrounded dunes and wildflowers, and Cogoni beach, which is set in a bay and accessed by a path through the rocks.</p>
<p>Sunbeds are available at these beaches and the position of the beds depends on which hotel you are staying at.</p>
<p>There are also several other nearby beaches to choose from, try Su Giudeu for secluded white sands or Piscinni Beach that has small inlets and rock formations making it perfect for snorkelling.</p>
<p><span style="text-decoration: underline;"><strong>CHIA NATURAL SPA</strong></span></p>
<p>The spa at Chia Laguna Resort offers an array of treatments and facilities, and is the perfect place to spend a relaxing day. You’ll find three hydro-massage pools outside on a panoramic terrace with sea views. The interior is equipped with Turkish baths, saunas and energising showers. Choose to indulge in a facial or a massage, or sign up to a programme to experience a range of complementary treatments.</p>
<p>Entry to the spa and treatments are payable locally.</p>
<p><span style="text-decoration: underline;"><strong>BARS &amp; NIGHTLIFE</strong></span></p>
<p>Evenings at Chia Laguna Resort can be as lively or relaxed as you wish. The vibrant Piazza degli Ulivi puts on fantastic cabaret shows and live music, with restaurants and bars on hand for relaxed family dinners. For a more sophisticated affair, Whiteluna Lounge Bar plays live music in a refined and stylish setting. There’s six other bars to choose from too, including the romantic champagne bar on the terrace of Hotel Laguna.</p>
<p><span style="text-decoration: underline;"><strong>ACTIVITIES</strong></span></p>
<p>The more active will appreciate the huge range of sports and activities available at Chia Laguna Resort. There’s two red clay tennis courts with lessons available and mountain bikes are available to hire with plenty of stunning trails easily accessible from the resort that are also ideal for hiking or running. You can do these alone or join an organised group.</p>
<p>Other activities include horse riding along the beach, a nearby golf course and watersports like windsurfing and kayaking.</p>
<p>Activities are payable locally.</p>]]></facilityDescription>
  <familyDescription><![CDATA[<p>Families are well catered for at Chia Laguna Resort with activities and entertainment for children of all ages. Expect dedicated kids' restaurants and pools, and facilities that will ensure you won't need to worry about a thing on your family holiday.</p>
<p><span style="text-decoration: underline;"><strong>CHIA BABY WELCOME</strong></span></p>
<p>Parents travelling with babies and toddlers aged 0-35 months can reserve Baby Welcome Kits that include a pram, in-room changing table, baby bath and bottle warmer. The kits are free of charge but there are a limited number available so they will need to be requested at the time of booking.</p>
<p><span style="text-decoration: underline;"><strong>CHILDREN’S CLUBS</strong></span></p>
<p><strong>The Nursery</strong> is a relaxing space designed for babies aged 0-2 years. Babysitting is also available for a charge.</p>
<p><strong>The Mini Club</strong> is for ages 3-6 years and has plenty of activities for your little ones to join in with. They organise painting, cooking and games in a safe and fun environment.</p>
<p><strong>The Cadet Club</strong> is for ages 7-10 years and organises sports activities throughout the resort with regular tournaments that are sure to make energetic children want to get involved.</p>
<p><strong>The Junior Club</strong> for ages 11-13 years is a place where they can play sports like football and beach volleyball.</p>
<p><strong>The Adventure Club</strong> is designed for teenagers from 14-17 years with group sports and a dedicated space where they can chill out.</p>
<p>The clubs are free of charge but some activities may be payable locally and may only operate during the summer season, subject to minimum numbers.</p>
<p><span style="text-decoration: underline;"><strong>SPORTS ACADEMIES</strong></span></p>
<p><strong>Chia Laguna Football Academies</strong> take place throughout the summer, led by ex-premiership players or official coaches of top-end teams. It’s teaches children invaluable skills while having fun.</p>
<p><strong>The Campioni Dance Academy</strong> specialises in commercial, hip hop and street dancing with professional instructors creating fun routines in an energetic atmosphere.</p>
<p>Academies are payable and pre-booking is necessary.</p>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude><![CDATA[38.8955053]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This fantastic resort is located next to some of Sardinia's most beautiful beaches and is perfect for couples and families with seemingly endless facilities.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/87f81620cab0416baacd70d6a963e11a]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[8.8581943]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[425 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chia Laguna Resort is a perfect choice for both couples and families. Book your stay today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Chia Laguna Resort | Southern Sardinia Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>425</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4.5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/3e07fe007d264967aab8a0d7dd824619",
    "promotionBannerMobile": "umb://media/2edb510819744c1f821cef9d88ed161c",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Summer Sale\",\r\n    \"udi\": \"umb://document/b5d0cc549f6848f3abf28bad26a9f75e\"\r\n  }\r\n]",
    "promotionStartDate": "2018-12-26T00:00:00",
    "promotionEndDate": "2019-02-01T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[ITVI0106]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><span style="text-decoration: underline;"></span>Choose from four hotels with Chia Laguna Resort, ranging from four to five stars and each offering a unique style. Facilities for all rooms include air conditioning, satellite TV, free wifi, minibar, safe and hairdryers.</p>
<p><span style="text-decoration: underline;"><strong>HOTEL VILLAGE – 4*</strong></span> (240 rooms)</p>
<p><em>The Hotel Village has a central location in the resort, and the spacious rooms and proximity to the children’s clubs makes it a great choice for families.</em></p>
<p><strong>Classic Cottages</strong> measure 22m² and are set amongst the verdant Mediterranean gardens. Most are on the upper floor and have a window overlooking the village (it’s possible to upgrade to a room with a balcony for a supplement).</p>
<p><strong>Garden Cottages</strong> are set on the ground floor and come with a small, private garden that’s furnished with a table and chairs. They measure 22m².</p>
<p><strong>Superior Cottages</strong> offer a bright, sunny space with large patio doors leading onto a private garden. They have a bit more space at 25m².</p>
<p><strong>Family Classic Cottages</strong> sleep up to four people with two separate bedrooms. Family Garden Cottages and Family Superior Cottages have a mezzanine floor for the second bedroom and private furnished gardens – the Superior cottages also come with a second bathroom. They start from 40m².</p>
<p><span style="text-decoration: underline;"><strong>HOTEL LAGUNA – 5*</strong></span> (74 rooms)</p>
<p><em>Hotel Laguna enjoys sea views from its elevated terraces close to the edge of the resort. It’s a perfect choice for couples, with a more exclusive feel.</em></p>
<p><strong>Superior Rooms</strong> have been finished in pastel colours and enjoy a terrace or balcony with partial sea views.</p>
<p><strong>Deluxe Rooms</strong> offer plenty of space and captivating sea views from their furnished terrace or garden.<br />Junior Suites offer an open-plan living room and a large terrace with fantastic sea views.</p>
<p><span style="text-decoration: underline;"><strong>HOTEL SPAZIO OASI - 5*</strong></span> (34 rooms)</p>
<p><em>This boutique hotel within Chia Laguna Resort boasts newly renovated rooms and excellent outdoor areas looking out over the resort's Mediterranean gardens.</em></p>
<p><strong>Oasi Garden Rooms </strong>are located on the ground floor with elegant furnishings and large windows with garden views. You're just steps away from the hotel's exclusive pool, too.</p>
<p><strong>Oasi Family Rooms </strong>are on the upper floors and have two separate bedrooms, sleeping up to four people.</p>
<p><strong>Oasi Superior Rooms </strong>offer plenty of space and sleep up to four people. They're located on the first floor of the hotel.</p>
<p><strong>Oasi Deluxe Rooms </strong>have a balcony with superb views over the bay of Chia, as well as a lovely sitting area. These rooms are also available with a private garden and separate living room (the garden rooms will not have sea views).</p>
<p><strong><span style="text-decoration: underline;">HOTEL BAIA - 4*</span> </strong>(77 rooms)</p>
<p><em>The newest hotel at Chia Laguna Resort, Hotel Baia is nestled among the gardens that lead down towards the beach.</em></p>
<p><strong>Presitge Parco Rooms </strong>have been finished in a modern style with light colours and exposed beams.</p>
<p><strong>Prestige Laguna Rooms </strong>enjoy a furnished patio with views over the lagoon, and plenty of space inside with <span>26m².</span></p>
<p><strong>Prestige Mare Rooms</strong> enjoy unforgettable sea views. </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers><![CDATA[<p><strong>Booking discount:</strong> Save 15% on the hotel price of all Chia Laguna hotels for holidays between 01 Jul - 31 Aug 19.</p>
<p><span style="text-decoration: underline;"><strong>Hotel Village</strong></span></p>
<p><strong>Early booking offer: </strong>Save 25% on the hotel price for bookings made between 01 Apr – 30 Apr 19.</p>
<p>Combinable with free night offers according to dates of stay.</p>
<p><strong>Free night:</strong> Stay 7 nights and pay for 6 for holidays between 18 Apr – 19 Jul 19 and 07 Sept – 12 Oct 19 for bookings made by 30 Apr 19.</p>
<p>Stay 10 nights and pay for 9 for holidays between the 20 Jul - 16 Aug 19 and 24 Aug – 06 Sep 19 for bookings made by 30 Apr 19.</p>
<p>Combinable with April early booking offer.</p>
<p><strong>Connecting room offer: </strong>Save 50% on a connecting room when booking two rooms, one occupied by two adults and one occupied by a minimum of two children up to <strong>16 years old</strong>; the room occupied by the children benefits of a special 50% reduction, booked by 30 Apr 19.</p>
<p>Offer excludes stays from 17 Aug - 23 Aug 19. </p>
<p><strong>Children under 16 go free: </strong>When booking triple and family rooms children under 16 years old stay for free, booked by 30 Aug 19.</p>
<p>Offer excludes stays from 17th Aug - 23rd Aug 19. </p>
<p> </p>
<p><span style="text-decoration: underline;"><strong>Hotel Spazio Oasi</strong></span></p>
<p><strong>Early booking offer:</strong> Save 25% on the hotel price for bookings made between 01 Apr – 30 Apr 19.</p>
<p>Combinable with free night offers according to dates of stay.</p>
<p><strong>Free night:</strong> Stay 7 nights and pay for 6 for holidays between 18 Apr – 19 Jul 19 and 07 Sept – 12 Oct 19 for bookings made by 30 Apr 19.</p>
<p>Stay 10 nights and pay for 9 for holidays between the 20 Jul - 16 Aug 19 and 24 Aug – 06 Sep 19 for bookings made by 30 Apr 19.</p>
<p>Combinable with April early booking offer.</p>
<p><span style="text-decoration: underline;"><strong>Hotel Laguna</strong></span></p>
<p><strong>Early booking offer:</strong> Save 25% on the hotel price for holidays between 18th Apr – 30 Jun 19 and 01 Sep – 12 Oct 19 for bookings made by 30 Apr 19.</p>
<p>Save 20% on the hotel price for holidays between 01 Jul – 31 Aug 19 for bookings made by 30 Apr 19.</p>
<p>Combinable with free night offers according to dates of stay.</p>
<p><strong>Free night:</strong> Stay 7 nights and pay for 6 for holidays between 18 Apr – 19 Jul 19 and 07 Sept – 12 Oct 19 for bookings made by 30 Apr 19.</p>
<p>Stay 10 nights and pay for 9 for holidays between the 20 Jul - 16 Aug 19 and 24 Aug – 06 Sep 19 for bookings made by 30 Apr 19.</p>
<p>Combinable with April early booking offer.</p>
<p><span style="text-decoration: underline;"><strong>Hotel Baia</strong></span></p>
<p><strong>Early booking offers:</strong> Save 25% on the hotel price for holidays between 18th Apr – 31 May 19 and 14 Sep – 12 Oct 19 for bookings made by 30 Apr 19.</p>
<p>Save 20% on the hotel price for holidays between 01 Jul – 30 Jun 19 for bookings made by 30 Apr 19.</p>
<p>Save 15% on the hotel price for holidays between 01 Jul - 16 Aug 19 and 27 Aug – 31 Aug 19 for bookings made by 30 Apr 19.</p>
<p>Combinable with free night offers according to dates of stay.</p>
<p><strong>Free night:</strong> Stay 7 nights and pay for 6 for holidays between 18 Apr – 19 Jul 19 and 14 Sept – 12 Oct 19 for bookings made by 30 Apr 19.</p>
<p>Stay 10 nights and pay for 9 for holidays between the 20 Jul - 09 Aug 19 for bookings made by 30 Apr 19. (offer excludes suites).</p>
<p>Combinable with April early booking offer.</p>]]></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1457967]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/a1a80922d88a43f8ba80b182c72e8904]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>