<?xml version="1.0" encoding="utf-8"?>
<productPageTickSection guid="17f15760-8b09-4ba7-b660-b463aca9ab4d" id="31958" nodeName="Why Inghams Italy" isDoc="" updated="2021-12-29T16:21:43.3200000Z" parentGUID="4483b219-b175-4b70-910d-3f01f05be9be" nodeTypeAlias="productPageTickSection" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <heading><![CDATA[Why Inghams Italy]]></heading>
</productPageTickSection>