<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="334626cd-290b-473f-8ff5-b356601cdd8c" id="22467" nodeName="Scheffau" isDoc="" updated="2022-01-20T12:31:58.6000000Z" parentGUID="c9325d9a-7705-4a3c-8190-f3ab0da21760" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="17" published="false" isBlueprint="false">
  <activityInformation><![CDATA[<p><strong>IN AND AROUND SCHEFFAU</strong></p>
<ul>
<li>Over 700km of marked walking paths</li>
<li>Swimming at the Kaiserbad local pool</li>
<li>Lake Hintersteinersee bathing lake</li>
<li>Cycling and mountain biking and E-Bike hire</li>
<li>Golf (27 hole golf course in Ellmau)</li>
<li>Mini-golf</li>
<li>Tennis</li>
<li>Horse riding</li>
<li>Horse-drawn buggy rides</li>
<li>Museum</li>
<li>Schnapps distillery</li>
<li>Ellmi’s Zauberwelt adventure playground</li>
<li>Wine tasting</li>
</ul>
<p> </p>
<p><strong>FESTIVALS &amp; EVENTS</strong></p>
<p>Ellmau hosts a variety of events each week including the ‘Summer Nights’ Festival (Tuesdays) with arts &amp; crafts, food stalls and live music, brass band concerts at the music pavilion (Wednesdays) plus various festivals &amp; events throughout the summer</p>]]></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Located in the heart of Tyrol, and close to <a href="https://www.inghams.co.uk/lakes-mountains-holidays/resorts/austria/ellmau" title="ellmau">Ellmau</a>, Scheffau enjoys panoramic views of the Wilder Kaiser Mountains and the extensive Kitzbuheler Alps.</p>
<p>https://www.inghams.co.uk</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p>SPECIAL OFFER</p>
<p>Book 2 full day excursions and receive a third half-price (discount will be applied to the cheapest excursion).</p>
<p><br />PRE-BOOKABLE</p>
<p>Grossglockner £33, Tuesday, full day<br />Berchtesgaden £28, Monday, full day with Eagles Nest option (pay locally)<br />Salzburg £28, Friday, full day with optional Sound of Music walk (pay locally)<br />Lake Achensee £22, Thursday, half day</p>
<p><br />BOOK LOCALLY</p>
<p>Herrenchiemsee €42, Wednesday, full day</p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hikes><![CDATA[3]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[German/English]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[47.5444]]></latitude>
  <listingDescription><![CDATA[<p>Located in the heart of Tyrol, and close to <a href="https://www.inghams.co.ukk/lakes-mountains-holidays/resorts/austria/ellmau" title="ellmau">Ellmau</a>, Scheffau enjoys panoramic views of the Wilder Kaiser Mountains and the extensive Kitzbuheler Alps.</p>
<p>https://www.inghams.co.uk</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/27de9b0f88d14966a72b0570bff505e5]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[12.2375]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Scheffau for an amazing summer holiday in Austria. Mountain and walking holidays in Scheffau with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Scheffau, Austria - Lakes & Mountains Holidays 2016 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ATSC]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>TWO CENTRES</strong></p>
<p>Combine your stay in Scheffau with 3, 4 or 7 nights in another Austrian resort or city. We recommend the city of Salzburg for a cultural experience or Zell am See for a relaxing lakeside holiday.</p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>1</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>1</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>0</showInsidersGuide>
  <showLocation>1</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>1</showResortCombinations>
  <showSearchPanel>0</showSearchPanel>
  <showSpecialOffers>1</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[2]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline></tagline>
  <thingsToDo></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td rowspan="5" style="vertical-align: middle;">Wednesday/Saturday</td>
<td rowspan="6" style="vertical-align: middle;"><strong>Salzburg</strong></td>
<td>Gatwick</td>
<td>Nil/£29</td>
</tr>
<tr>
<td>Stanstead</td>
<td>Nil/£29</td>
</tr>
<tr>
<td>Birmingham</td>
<td>£49</td>
</tr>
<tr>
<td>Manchester</td>
<td>£69</td>
</tr>
<tr>
<td>Newcastle</td>
<td>£79</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer 1¾ hr by coach</p>
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td rowspan="3" style="vertical-align: middle;">Wednesday/Saturday</td>
<td rowspan="3" style="vertical-align: middle;"><strong>Innsbruck</strong></td>
</tr>
<tr>
<td>Gatwick</td>
<td>Nil/£19</td>
</tr>
<tr>
<td>Bristol</td>
<td>Nil/£69</td>
</tr>
<tr>
<td>Birmingham</td>
<td>£49</td>
</tr>
<tr>
<td>Manchester</td>
<td>£49</td>
</tr>
<tr>
<td>Leeds-Bradford</td>
<td>£59</td>
</tr>
<tr>
<td>Edinburgh</td>
<td>£69</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer 1¾ hr by coach</p>
<p>Flight supplements may apply.<br />Private transfers and Self drive are available.</p>]]></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/c9325d9a77054a3c8190f3ab0da21760]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p>820-1,830m<br />One of the prettiest areas of the Tyrol with an expansive network of over 700km of marked<br />paths, through meadows and valleys up to higher ridges and past stunning lakes and mountain alms. The four villages of Ellmau, Söll, Going and Scheffau are well connected and there are also walks over the back and down into Brixen and Westendorf.</p>
<p> </p>
<p>GETTING AROUND</p>
<ul>
<li>Twelve lifts operate during the summer around the Bergwelt area, taking you to the start of many scenic walks and the Hartkaiserbahn cable railway is open from late May to October.</li>
<li>The Kaiserjet bus (free with your hotel guest card) transports walkers between the villages of Söll, Scheffau, Ellmau and Going making it easy to explore other areas as well.</li>
<li>The post bus between these villages is also free of charge.</li>
</ul>
<p><br />WALKERS’ LIFT PASS I £44 - 6 days I £32 - 3 days I</p>
<ul>
<li>The pre-bookable Bergwelt Wander Pass is available from late May to end of season and includes all 12 lifts in the Bergwelt region.</li>
<li>The pass also gives access to six children’s play areas at the tops of the mountains and it includes the use of the ‘Kaiserjet’ bus which runsn between Going, Ellmau, Scheffau and Söll.</li>
<li>Consecutive days only.</li>
<li>Other durations are available locally.</li>
</ul>
<p>Inghams recommends sollwalks.co.uk for an excellent selection of easy, moderate and difficult walks in the Bergwelt.</p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[3]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>