<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="7cc8e453-2075-4ead-8a9f-026b9de3f1ad" id="22693" nodeName="Bovec" isDoc="" updated="2024-05-24T11:31:22.4700000Z" parentGUID="eb90f98d-70e8-4089-a8cb-145d8e46e049" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="4" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "a28e0a8f-4e27-4c64-9092-f3e3e16fa576",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "24/7 support & tailored advice over the phone from our local resort team",
    "addedValueStart": "2024-04-12T16:25:18",
    "addedValueEnd": "2099-04-12T16:25:19",
    "hideAddedValue": "0"
  },
  {
    "key": "cd5c5cf2-26d3-4917-988d-4849fdb3c4a1",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "All holidays include flights from the UK and transfers",
    "addedValueStart": "2024-04-12T16:25:47",
    "addedValueEnd": "2099-04-12T16:25:48",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/dba953cc81b94b8c8243676aeb765a37,umb://media/9f55f507f7954b3487ec4265b7e54b9f,umb://media/c7a5d48edf67473f85153d5ec8be91a3,umb://media/c8ca5849def140dea13a7faca1a22a33,umb://media/9792e10434cb453695813e1f015e889d,umb://media/5a769630168643f98137dca6357d56c9,umb://media/ad197db361d34251b08a4fd0d9929136]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/3cad74f84bf64a1c9816e82bd8192382]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>The picturesque village of Bovec lies between the mountains and rivers of the Julian Alps on the doorstep of the Triglav National Park, which covers four percent of Slovenia. It’s a mecca for nature lovers, cyclists, canoeists and walkers of all levels. You’ll recognise the beautiful River Soca (pictured above) as the location for many of the scenes in the 2008 film the Chronicles of Narnia: Prince Caspian -  it's so blue it could pass as a tropical sea. The three crystal-clear lakes of Kriz, high above the valley, are a must to visit. Here you can often see herds of ibex which seem to be able to climb almost vertical rocks! Or just stroll along through the village, see the World War I monuments, and admire the Gothic churches and traditional local houses. There is so much to see and do in this undiscovered part of Slovenia.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p>Local excursions bookable through the hotel front desk </p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "9ee16d76-82b5-42ae-81c9-f01860a67886",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"bd655d40-d37f-402f-a616-323cfde2166d\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems><![CDATA[[
  {
    "key": "9d95f748-2b40-49fa-8b18-4df43de18191",
    "name": "Item 1",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/30460e139c3c4c4b8b0b174f3e29c56b",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Walking in Slovenia\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/07830ab1ba234ffd808ba9882fdd1f0f\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Walking in Slovenia\",\r\n    \"linkTitle\": \"Walking in Slovenia\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p><span>Step into Slovenia's stride with our guide to the top walking trails.</span></p>"
  },
  {
    "key": "11b48397-a4b7-4036-965e-eaaa6154cbad",
    "name": "Item 2",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/15406e1996dc4df89083427da949b13f",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Traditional Slovenian Food\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/af925afd234d42758270655eedd47e3f\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Traditional Slovenian Food\",\r\n    \"linkTitle\": \"Traditional Slovenian Food\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p><span>Read our guide to traditional Slovenian food to get a taste of what's waiting for you on your next holiday.</span></p>"
  }
]]]></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold; text-align: center;">Good to know</p>
<p><strong>Walking trails:</strong> Around 100km of marked walking trails in the area</p>
<p><strong>Terrain:</strong> varied mountainous terrain with rugged mountains, forested valleys, gorges and rivers</p>
<p><strong>Best time to go:</strong> end of May to mid October the climate can be warm and fresh, great for hiking</p>
<p><strong>Recommended for:</strong> challenging walking, nature, activities</p>
<p><strong>Fly into:</strong> Ljubljana</p>
<p><strong>Transfer time:</strong> Bovec is bookable only as part of the <a data-udi="umb://document/a0191268612e4a3389b47a26550db553" href="/{localLink:umb://document/a0191268612e4a3389b47a26550db553}" title="Discover the Julian Alps">Discover the Julian Alps multi-centre</a> holiday which includes <a data-udi="umb://document/b56bdaf2399f46828fa1f01256cae753" href="/{localLink:umb://document/b56bdaf2399f46828fa1f01256cae753}" title="Lake Bohinj">Lake Bohinj</a> - Bovec - <a data-udi="umb://document/9b6cf6eac79541f5850e141e41a071ab" href="/{localLink:umb://document/9b6cf6eac79541f5850e141e41a071ab}" title="Kranjska Gora">Kranjska Gora</a>. Journey times are approx. 2 hours 30 mins by train and taxi from Bohinj to Bovec, and 1 hour 30 mins by taxi from Bovec to Kranjska Gora</p>
<p><strong>24/7 Support and advice:</strong> Over the phone from our local resort team</p>]]></insidersGuide>
  <insidersGuidesButton><![CDATA[[
  {
    "name": "Inspire Me",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/889518d3ce0e4393bd297a6f4b894e66",
    "externalLink": "",
    "linkName": "Inspire Me",
    "linkTitle": "Inspire Me",
    "linkTitleColor": ""
  }
]]]></insidersGuidesButton>
  <insidersGuidesContent><![CDATA[<p>Slovenia bound? Read our expert travel tips and get inspired for your next holiday.</p>]]></insidersGuidesContent>
  <insidersGuidesTitle><![CDATA[Discover Slovenia]]></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[Slovene]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[46.337982]]></latitude>
  <listingDescription><![CDATA[<p>The picturesque village of Bovec lies between the mountains and rivers of the Julian Alps on the doorstep of the Triglav National Park. It’s a mecca for nature lovers, cyclists, anglers, canoeists and walkers of all levels.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/dba953cc81b94b8c8243676aeb765a37]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[13.55245]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Walking holidays done differently. The Julian Alps' most dramatic scenery is in Bovec and the Soča Valley. Book your summer holiday in Bovec with Inghams today]]></metaDescription>
  <metaTitle><![CDATA[Bovec Holidays | Summer Holidays in Bovec 2024/2025 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Bovec]]></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline><![CDATA[Hotels in Bovec]]></resortAccomodationTagline>
  <resortCode><![CDATA[SIBV]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>Discovery Julian Alps| </strong>Combine your stay in Bovec with 3 nights with resorts of Kranjska Gora and Bohinj</p>
<p> </p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs>0</showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide>1</showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps>0</showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking>0</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo><![CDATA[Things to do in Bovec]]></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo><![CDATA[Things to do]]></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Traditional village with lovely scenery on all sides]]></tagline>
  <thingsToDo><![CDATA[<div id="categoryTree_444" class="webfx-tree-item">
<h2>Things to do in Bovec</h2>
<h3>Walking</h3>
<p>Walking in Bovec is for everyone from a casual stroller to an intense trekker. Simply make your way around the seven-kilometre Bovec loop in your own time, or complete more challenging routes with steep inclines, like the Mount Svinjak summit hike – reaching spectacular viewpoints, with a chance of seeing some friendly wild mountain goats along the way.</p>
<h3>Cycling</h3>
<p>Enjoy a leisurely ride through the village, or take to the mountain passes for more of a challenge. You can put your leg muscles to the test on a mountain bike, or ease your way on an e-bike. For a scenic ride, the 21 kilometres trail covering the villages of Kal-Koritnica and Čezsoča, will also have you ascending and descending Mt. Javoršček for a view of Bovec from above.</p>
<h3>Triglav National Park</h3>
<p>Bovec is a fantastic hub for exploring the great outdoors. You will be located just on the boarder of the Triglav National Park, a mountain paradise. Discover gorges one day, nature reserves the next.</p>
<h3>River Soča</h3>
<p>Bovec is situated along the River Soča, known as the emerald river, renowned for its stunning colour and fast flow, ideal for watersport activities like white-water rafting. You can also find calmer areas, great for paddle-boarding and canoeing. This river is perfect for gentle strolls alongside, which may even take you across tension bridges or down rocky paths.</p>
<h3>Paragliding</h3>
<p>Soar over Bovec with the once in a lifetime tandem skydiving experience. Starting in Bovec, you can then descend from either Kanin where you can see the Adriatic sea on a clear day, Kobariški Stol which is the longest mountain ridge in Slovenia, Mangart which is Slovenia's third highest mountain or Kuk, the highest of the Kolovrat mountains.</p>
<h3><span>Kluže</span> fortress</h3>
<p><span>This majestic fort above the Koritnica gorge is one of the most visited cultural sights in the Soča valley. It is an important monument to the defence against Turkish invasions, Napoleon's army and attacks during World War I.</span></p>
<h3>Kobarid Museum </h3>
<p>Represents the heritage of the Isonzo Front on Slovenian, European and on a global scale. Unique demonstrations of fights and the life during the war, the exhibits, the rich photo material and the multi-vision display tell the touching story of hard and bloody days next to the River Soča, which were also described by the famous Ernest Hemingway and Erwin Rommel.</p>
<h3>Juliana Trail – a walk around the Kingdom of the Golden horn</h3>
<p>The Juliana Trail, a 270 kilometre-long circular long-distance trail, offers an exciting opportunity to explore the area at the doorway to the Julian Alps, leading you under the high peaks and inviting you to explore them. The trail is divided into 16 sections, with each of them roughly 17.5 kilometres in length. The sections are designed so that, at the completion of each, hikers can take a break and regain their strength to continue their journey. The trail covers a total of 7,163 metres of altitude difference, but its terrain is generally quite gentle, which makes it great for family outings.</p>
<p>Stage 13: Kobarid - Bovec is 20.4km long, easy and takes approx. six hours</p>
<p>Stage 14: Bovec - Log pod Mangartom is 11.3km long, moderate and takes approx. three hours</p>
<p><span>After completing several kilometres of the trail, your stomach will start to rumble. Treat it to something delicious and local. Try some of the typical dishes from the towns and villages around the Julian Alps.</span></p>
</div>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div style="overflow-x: auto;">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th>To</th>
<th>Depart from</th>
</tr>
<tr>
<td>Wed/Sat </td>
<td><strong>Ljubljana</strong></td>
<td>Stansted</td>
</tr>
</tbody>
</table>
</div>
<p>Transfers are included in your holiday From Ljubljana airport.</p>
<p>Transfer: Approx. 3 hr 30 min by coach/minibus.</p>
<p>Supplements may apply on some flights.</p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p>Bovec is a walkers' paradise with around 100 kilometres of trails. The area surrounding Bovec forms part of the beautiful Triglav National Park.</p>
<p>Bovec – Plajerjeva Skala - Visna<br />Moderate | 2-3 hrs | 420-750m<br />A relaxing walk around Bovec passing by farmsteads and small mountain churches.</p>
<p>Bovec to Moznica<br />Easy | 2½ hrs | 400-650m<br />A walk into history, via Kluze Fortress, and the footpaths and tunnels of the 1st World War.</p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>