<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="e9f249c1-4be0-4863-b81b-d415c07062aa" id="21884" nodeName="Hotel Berghof" isDoc="" updated="2022-01-25T15:30:08.5700000Z" parentGUID="f172dae3-6024-4d6b-8c3d-139aef4e83b5" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="3" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>The lift does not serve all floors</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "8abab172-8b6d-4856-b1cf-bdbde99aec9e",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily packed lunch ",
    "addedValueStart": "2019-08-20T10:09:00",
    "addedValueEnd": "2099-08-21T10:09:01",
    "hideAddedValue": "0"
  },
  {
    "key": "3d455bbc-dd02-4a4c-ad88-dfa6e5757018",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily afternoon cake buffet (drinks extra)",
    "addedValueStart": "2019-08-20T10:09:19",
    "addedValueEnd": "2099-08-21T10:09:21",
    "hideAddedValue": "0"
  },
  {
    "key": "60d7fe0e-c2bc-4e77-b7af-36e5bf8b704d",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free bike hire",
    "addedValueStart": "2019-08-20T10:09:28",
    "addedValueEnd": "2099-08-21T10:09:30",
    "hideAddedValue": "0"
  },
  {
    "key": "01e5bb28-1d30-456b-955f-89e86fed4b34",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "No single supplement",
    "addedValueStart": "2019-08-20T10:09:37",
    "addedValueEnd": "2099-08-21T10:09:39",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/a37fe3bcc6db490aae11df595d0378fd,umb://media/bdf39a9795f64df691dff1f7c16536ae,umb://media/1fc471bd0df04eb7ac5cac29dfe1d2ca]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast</li>
<li>4-course evening meal with 3 choices of main dish including vegetarian option, plus salad buffet</li>
<li>Weekly Austrian and international specialities</li>
<li>Special dietary requirements will need to be requested in advance </li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>At Hotel Berghof you are in a convenient setting next to the <a data-udi="umb://document/f172dae360244d6b8c3d139aef4e83b5" href="/{localLink:umb://document/f172dae360244d6b8c3d139aef4e83b5}" title="Neustift">Neustift’s</a> Elfer gondola, the Berghof is a small and friendly hotel with great access to walks and the village centre just 5 minutes away.</p>
<p>Run by the Pfurtscheller family, it has a relaxed atmosphere and lovely gardens which offer a great spot to watch the paragliders at the top of the Elfer gondola. You'll have a leisure and wellness area with an indoor pool, sauna and steam bath.</p>
<p>The bedrooms offer homely comforts and attractive modern design.</p>
<p><span>Transfer time: approx. 45 mins from Innsbruck airport or 2 hours 45 mins from Salzburg airport.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities><![CDATA[umb://document/d5db5aaf3bbf4af08dbd82ca5f8c6e57,umb://document/84c75c7aca8b4054874c29d25dde5dbc,umb://document/6d1dbd2405774a64a1e3d0c0855316d7,umb://document/0ed86260858943e4a9c058d4e64b6b1b,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/f58fe9fcad7048ec8dce2dd49261db83,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/9f1a12c8a6b5498a873fb679fd519a04,umb://document/78aac535416c409898d780b15d538654,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/e1d8fc456f7f40bcbaf1c8a70429a8f9]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Homely lounge</li>
<li>Restaurant</li>
<li>Indoor pool</li>
<li>Steam room and sauna</li>
<li>Lovely gardens with sun loungers</li>
<li>Wi-Fi (<strong>Free</strong>)</li>
<li>NB. The lift does not serve all floors</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/42c590f7fff648c3a836ee14e843bf5a,umb://document/0806ff4686ee489981e049648eed9b34,umb://document/702e73b639754be48af6164cd5c31d32,umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>2</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[47.11195]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>You'll have a convenient location opposite Neustift’s Elfer gondola, the Berghof is friendly hotel with great access to walks and the village centre.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/a37fe3bcc6db490aae11df595d0378fd]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.312711]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[34 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Berghof is a small and friendly hotel with great access to walks that enjoys a panoramic setting opposite Neustift’s Elfer gondola. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Berghof, Neustift - Austria - Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>34</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATNE0108]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<ul>
<li>20m2 Standard Austrian twins type ‘Habicht’ have bath or shower and balcony.</li>
<li>28m2 ‘Elfer’ Austrian twins are larger with lounge area and balcony and can be requested for single use.</li>
<li>18m2 Recently refubished single rooms in the eaves have bath or shower and are available with no supplement.</li>
<li>All rooms have cable TV, telephone, safe, radio and hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Hotel meals not appropriate for a vegan diet</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[500448]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/f172dae360244d6b8c3d139aef4e83b5]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>