<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="9cb6bb97-496b-46c4-bc15-94cf3dedf6dc" id="72082" nodeName="Hotel Resch" isDoc="" updated="2024-11-13T14:26:25.2030000Z" parentGUID="daebb810-f1b9-48b9-acb0-b1555405cdac" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/9cf6b56b59534682bf68068e79e45838,umb://media/2b6254ad4e644a00a258e770f07d07fa,umb://media/73ed9e2a6782418bbd9ee3368f284ad8,umb://media/3193f92e82e04090ace75655c49d21d2,umb://media/d5f5272f786c4de7b61a66eca8136270,umb://media/41bb512f833a47f99088660afd0f8cb6,umb://media/799509d6c12d463097d9c2db24dbf0f6,umb://media/62b224bc7157449fa7ca45298bc50b73,umb://media/bd850b1f168d4c78bd424960648de0a9,umb://media/9442c2f343d54067b5b5ad4507529fca]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Available on bed &amp; breakfast, the Hotel Resch offers a hot and cold breakfast buffet</p>
<p>Guests can upgrade to half board locally with the hotel</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Exploring Kitzbuhel is easy at the Hotel Resch, with the town centre and main gondola right on your doorstep. The family-run service is incredible here and keeps guests coming back year after year.</p>
<h2>Central location</h2>
<p>Located in the centre of <a data-udi="umb://document/daebb810f1b948b9acb0b1555405cdac" href="/{localLink:umb://document/daebb810f1b948b9acb0b1555405cdac}" title="Kitzbuhel">Kitzbuhel</a>, it is an easy walk to the main Hahnenkammbahn gondola with access to the huge Kitzski area.</p>
<p>Hotel Resch has a heated boot and ski room so you can easily drop off your kit before exploring the centre of Kitzbuhel.</p>
<h2>Family run</h2>
<p>The reason guests come back year after year to the Hotel Resch is the friendly, welcoming atmosphere that the Resch family provide. The family have worked in hospitality in Kitzbuhel for over 150 years and you can expect excellent service throughout your stay here.</p>
<h2>Hearty breakfast</h2>
<p>Available on bed &amp; breakfast basis, the Hotel Resch offers a hearty start for your day on the slopes. The hot and cold buffet offers a range of breads, fresh pastries, fruit, eggs, cereals, meats and cheeses. It is possible to upgrade to half board basis locally with the hotel. </p>
<p>The hotel's central location means you can easily explore the large range of cafes, bars and restaurants Kitzbuhel has to offer.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Small wellness area with sauna, relaxation room and infrared cabin</li>
<li>Bar &amp; lounge</li>
<li>Restaurant</li>
<li>Ski room</li>
<li>Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "7177c10b-9859-4852-824d-84b88299ff2b",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"b204e3b4-4032-4a0c-ab19-9b35ea524d4c\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.44588]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This small family run hotel has an excellent location in the centre of Kitzbuhel just a few minutes walk from the main gondola. Available on bed &amp; breakfast basis, you can expect a hearty start to your day here and a relaxing afternoon in the small wellness area.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/799509d6c12d463097d9c2db24dbf0f6]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Ideal location in the centre of Kitzbuhel</li>
<li>6 minute walk to Hahnenkammbahn gondola</li>
<li>In good conditions you can ski back 30 metres from the hotel</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.38855]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[21 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Enjoy your ski holiday in Kitzbuhel at the small family run Hotel Resch. Book today with Inghams,]]></metaDescription>
  <metaTitle><![CDATA[Hotel Resch | Kitzbuhel Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>21</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Resch]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATKZ0108]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Twin Rooms</strong> are 20-25m² with a balcony and bath or shower. These rooms can sleep up to three using a single sofa bed</p>
<p> </p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>TV</li>
<li>Safe</li>
<li>Minibar</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please inform us of any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[229697]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>