<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="9a85b8fd-fb3d-4b5f-8a01-315b5d53fa1c" id="50117" nodeName="Cancelling your holiday" isDoc="" updated="2021-07-06T11:23:38.3270000Z" parentGUID="602aaa64-c5d9-4707-ba4f-c05cec249b57" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <answer><![CDATA[<p>We really hope that you don’t have reason to cancel your holiday arrangements with us, but if you do, we ask that you let us, or your travel agent know immediately.</p>
<p>If you have booked directly with Inghams, please call Reservations on <strong>01486 791111</strong>. Please note that if you have booked via a travel agency, you must cancel with them directly.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[I need to cancel my holiday, what do I need to do?]]></question>
</fAQItem>