<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="2e0965a9-33de-4db3-8581-b2be029f20d6" id="22090" nodeName="Lake Orta" isDoc="" updated="2023-02-09T17:18:21.8930000Z" parentGUID="a1a80922-d88a-43f8-ba80-b182c72e8904" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="20" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/57bfdb8eae214368a642b9dd4cf7de8f,umb://media/1f257de94c3446d3a84833277b177c86,umb://media/b89b76fae64e4a0eaddc0ceaa4080800,umb://media/db77d0fef2854842985496fb8fc7a177,umb://media/401833c24bd34e8c99c7f3ba1d9bc36d]]></carouselMediaPicker>
  <contentCarouselImage><![CDATA[umb://media/00d02d784f404330acb9ce1f312e70a2]]></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Join the likes of Lord Byron and the countless writers and poets who’ve come here, to Lake Orta, to enjoy its peace and tranquillity in the foothills of the snow covered Alps. The poet, Robert Browning, described Orta as being where ‘the Alps meet heaven’ and we’d have to agree. Hazy horizons and shady shores make it the best place for a relaxing retreat, where you can enjoy the slow pace of life.</p>
<p>The lake may be lesser known than its larger counterpart, <a data-udi="umb://document/476c8caf3fe84faab565f2d0f2e99f48" href="/{localLink:umb://document/476c8caf3fe84faab565f2d0f2e99f48}" title="Lake Maggiore">Lake Maggiore</a> to the east, but we see that as a real bonus! The main town of Orta San Giulio is built on the slopes of a peninsula that juts out into the lake opposite the idyllic Isola San Gulio – you can catch a boat across to it from the square to see for yourself. But back in town enjoy the romantic atmosphere, quiet cobblestone streets, picturesque little squares and pastel palazzi that overlook the lake. The local trattorias and cafés are something quite special too – where you’ll find all the home-made cakes and mouth-watering food that you’d hope for when you come to Italy – they have a really authentic feel.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p><strong>BOOK LOCALLY</strong></p>
<ul>
<li>Stresa from £38, Monday, full day - Visit the elegant resort of Stresa on Lake Maggiore</li>
<li>Milan from £46, Friday, full day - Visit the Sforza Castle, the spectacular Galleria and Gothic Duomo (cathedral). City guide included. Free time for shopping or La Scala visit</li>
<li>Macugnaga from £34, Saturday, half day - Mountain village visit and optional cable-car</li>
<li>Ascona and Cannobbio from £34, Thursday, half day - Combines Swiss Ascona and lakeside Cannobio</li>
</ul>
<p>All excursions (except Stresa) start from Stresa and above prices do not include taxi transfer from Lake Orta (approx €20 to €50 per person).</p>
<p><em>Prices shown are for guidance only. Please note we act at all times as selling agent for </em><em>the suppliers of activities &amp; excursions. See</em> <a href="/{localLink:66d6dfd2-b127-48e8-b6d8-228d6e59ea65}" title="Terms &amp; Conditions"><em>terms &amp; conditions.</em></a></p>
<p> </p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hikes><![CDATA[1]]></hikes>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Early Booking Offers </strong>at selected hotels</li>
<li>Visiting<strong> Inghams Rep </strong>service for summer 2019</li>
<li><strong>Telephone Rep</strong> service for summer 2020</li>
</ul>]]></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li>Take a mini-cruise of the central lake to soak up the breath-taking views</li>
<li>The picturesque San Giulio island in the centre of the lake is named after the local saint dating back to the 4<sup>th</sup> century</li>
<li>Many writers and painters have been inspired by Lake Orta due to its outstanding natural beauty. Every year they host a festival called “Poetry on the Lake”</li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[40.3435662]]></latitude>
  <listingDescription><![CDATA[<p>Lake Orta is one of Italy’s lesser known lakes and lies to the west of <a data-udi="umb://document/476c8caf3fe84faab565f2d0f2e99f48" href="/{localLink:umb://document/476c8caf3fe84faab565f2d0f2e99f48}" title="Lake Maggiore">Lake Maggiore</a>. The poet, Robert Browning, described Orta as being where ‘the Alps meet heaven’.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/db77d0fef2854842985496fb8fc7a177]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[16.336842]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Lake Orta for an amazing summer holiday in Italy. Lakes and walking holidays in Lake Orta with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Lake Orta Holidays 2021 | Lake Orta Package Holidays | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ITLO]]></resortCode>
  <resortCombinations><![CDATA[<p>For a unique lakes and mountains experience you can combine your stay on Lake Orta with our mountain resort of <a href="/{localLink:f0fbe6df-bbdb-4f69-a307-4d4a14eaf760}" title="Champoluc">Champoluc</a>, set in the heart of Monte Rosa Mountains.</p>
<p> </p>
<p>TWO CENTRES</p>
<p>You can also combine your stay in Lake Orta with any resort on Lake Maggiore or Lake Como so you can compare the two lakes.</p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>1</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>1</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>1</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking>0</showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[3]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline></tagline>
  <thingsToDo><![CDATA[<p><strong>Feast of San Vito (August - various dates)</strong></p>
<p>Known as the patron saint of the music and arts, San Vito (St Vitus) is celebrated throughout the month of August in various locations around the beautiful Lake Orta. From orchestral performances on the waterfront to artisan food stalls and bars offering both local and Sicilian inspired dishes to honour the origins of San Vito. </p>
<p><strong>The Way of Silence Walk (Available throughout the season)</strong></p>
<p>On the small Isola San Guilio (Island of St Julius) is an unassuming but truly one of a kind experience - The Walk of Silence. A former pilgrimage route for Monks, this is a wonderful opportunity to see the hidden treasures of the island as well as finding focus and peace and quiet in its stunning surroundings. You're lead through the alleys of San Guilio by signs instructing you to listen out for particular sounds. More than just a historical walk, the route was pioneered by acoustic ecologists as a means of understanding the island by way of the landscape. As the trail loops around the whole island, be aware that it is rather long however if you tire and wish to return, you can follow the signs back the way you came and marvel at different sounds just as a result of changing direction. </p>
<p> </p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GTM +1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Departure day</th>
<th><strong>To</strong></th>
<th><strong>Depart from</strong></th>
<th><strong>Supplement</strong></th>
</tr>
<tr>
<td rowspan="7" style="vertical-align: middle;">Wednesday/Saturday</td>
<td rowspan="7" style="vertical-align: middle;"><strong>Milan</strong></td>
<td>Gatwick</td>
<td>£19/Nil</td>
</tr>
<tr>
<td>Heathrow</td>
<td>Nil/£19</td>
</tr>
<tr>
<td>Luton</td>
<td>Nil/£19</td>
</tr>
<tr>
<td>Southampton</td>
<td>Nil/£19</td>
</tr>
<tr>
<td>Birmingham</td>
<td>£49/£69</td>
</tr>
<tr>
<td>Manchester</td>
<td>£49/£69</td>
</tr>
<tr>
<td>Edinburgh</td>
<td>£39/£69</td>
</tr>
</tbody>
</table>
</div>
<p>Transfer time: approx. 1 hour 30 mins by coach.</p>]]></travelInformation>
  <umbracoPermanentRedirect><![CDATA[umb://document/a1a80922d88a43f8ba80b182c72e8904]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription><![CDATA[<p>POPULAR WALKS include:</p>
<p><strong>Pettenasco Walk</strong> / 2 hrs / Easy</p>
<p>The Pettenasco walk is dedicated to Peter Benson, creator and founder of Amnesty International in 1961. A relaxing lake view walk close to the water along the path starting from the Hotel Approdo for about 1km. Alongside the path there are four little free beaches with wonderful views and benches to stop and relax.</p>
<p><br /><strong>Peninsula of Orta San Giulio</strong> / 2 hrs (approx) / Moderate</p>
<p>From Piazza Motta, follow a path that skirts the lake and gently follows the curve of the peninsula of Orta until you reach the tip of the peninsula, Punta Movero, where you can stop and enjoy a wonderful view over the lake and the island. Follow the path flanked by the lake on one side and past woods and farms on the right, until the end of the peninsula, where you will begin the climb that leads to the Sacro Monte. Here you walk through a natural reserve, visiting the 21 ancient chapels that describe the life of St Francis of Assisi. At the northern end is a Franciscan Monastery from where stunning views of the lake and the Island of San Giulio can be enjoyed. You descend on the opposite side of the Sacro Monte all the way back to Orta San Giulio and Piazza Motta.</p>
<p><br /><strong>Orta - Vacciago - Corconio</strong> / 3 hrs / Easy</p>
<p>Start the walk from the village of Orta San Giulio on the way to Legro, better known as ‘the Painted Village’ due to the fact that many houses there have an external wall decorated with painted scenes from films shot on Lake Orta. Continue uphill passing local houses and fields before getting to the small village of Vacciago, where you will walk through elegant old houses and buildings and will discover the old church of St. Antonio. You will then leave Vacciago walking down to the gorgeous hamlet of Corconio, known as the baroque part of Orta San Giulio, where you find the beautiful Villa Bonola as well as the the tiny baroque church of Santo Stefano erected in the 17th century. Corconio, in a clear day, offers superb views of Mount Rosa (15,200 feet high), an imposing peak of the Alps which hides behind Lake Orta. Walk back to Orta San Giulio.</p>]]></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walks><![CDATA[1]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>