<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="2aff26fd-861e-4a76-973c-64f251081920" id="22237" nodeName="Hotel Alpenrose" isDoc="" updated="2021-12-30T17:08:15.5800000Z" parentGUID="01a44a65-274b-461e-a524-82a089f2f76c" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "616355be-67be-4515-9d32-33e4ee502586",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early Booking Offer Winter 2020/21: Save up to £80 per couple (ends 30 Oct 2020) ",
    "addedValueStart": "2019-10-20T16:36:31",
    "addedValueEnd": "2020-10-30T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "543179c8-85cf-498d-84d6-7c2776035511",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams",
    "addedValueStart": "2019-10-20T16:36:49",
    "addedValueEnd": "2099-10-21T16:36:51",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,6,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/5855c0166d4347fe8df7a3422070d3c2,umb://media/1d8a624bf35847f1a1f2acddb0e9793c,umb://media/450bd811bbf14eeab8da68406833d121,umb://media/9915a3fa643442eb8ac66cf4792bf906,umb://media/fe7233aa20d042ff8e53d3ce66a4b7e0,umb://media/be913438ed914f4f9e01d5cbd2c5ee35,umb://media/ab5136ad3a394c6a98a7cc1c6cb427ca,umb://media/385c70048e35479a8f2035c367076538,umb://media/29deef94bd464f2c8350f5b85c759629,umb://media/04e84097e37e4be69aa14abfb362ecec,umb://media/890822a875704d3bab22120d80359fc4,umb://media/18dddb10982246888f4871ef1fa1016b,umb://media/9576b43d68164089b1a733d9bfc919ec,umb://media/90f1090f617b4bb28497317837531b13,umb://media/dc36f585da2f4e58916b66f05e67a68a,umb://media/c15528eb16074fe8940225e884c5885a,umb://media/a4f37a2d735240929cd33cd3679da838]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast</li>
<li>4 course buffet style evening meal plus salad buffet</li>
<li>Fondue evening on request (a unique mountain hut experience served at 2,423m) </li>
<li>Christmas and New Year gala dinner included</li>
<li>One vegetarian choice available </li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Hotel Alpenrose is overlooked by beautiful snowy mountains. The interior is slick and stylish and there is a warm traditional feel. Owned by the friendly Gerber family, you are in a superb location next to the two main lifts, just 500m from the resort centre.</p>
<p>The panoramic sun terrace, right next to the piste, is a popular après-ski meeting place. Additional facilities include a large rustic bar, lounge, traditional Austrian stube, immaculately designed spa complex including a pool with piste views, steam room, sauna and small gym. Plus a heated boot room.</p>
<p>The kitchen serves traditional local delicacies and international cuisine. From homemade pizza to the daily salad buffet and hearty desserts, there is always plenty of options available. Bedrooms are incredibly comfortable and furnished in a modern alpine style.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/36ebccaf6fef4fffb28746645e3e6793,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/269de525a30f43249daa18279ac7cbde,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/973ee086e03c469faf177a069c61226b,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Large rustic lounge and bar area, spacious restaurant, traditional wood-panelled stube, sun terrace &amp; bar</li>
<li>Leisure area with indoor pool (with view of the pistes), sauna and steam room (<strong>Free</strong>)</li>
<li>Free Wi-Fi throughout</li>
<li>Lift</li>
<li>Weekly live music</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Children's playroom</li>
</ul>]]></familyDescription>
  <familyFacilities><![CDATA[umb://document/567a268ddf014965ac70ad6a473cbee9]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.2104788]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Modern and stylish yet traditionally Austrian in design, the four star Hotel Alpenrose is owned by the friendly Gerber family and set in a superb location next to two main lifts.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/1d8a624bf35847f1a1f2acddb0e9793c]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Located next to the Hohemut lift and opposite the Kaiserjet lift</li>
<li>500 metres from the resort centre</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.0159452]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[80 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Modern and stylish yet traditionally Austrian in design, the four star Hotel Alpenrose is set in a superb location next to two main lifts. Book now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Alpenrose Kuhtai - Austria - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>0</nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>80</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATKU0105]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Austrian twins sleep 2-3 and have shower,some with larger seating area </li>
<li>All rooms have cable TV, telephone, safe, radio and hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li><strong>Location:</strong> Located next to the Hohemut lift and opposite the Kaiserjet lift, 500m from the resort centre.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1993226]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/7cc7c659d5214aa9b4d7bed936a721bb]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>