<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="514b4c72-e902-4984-b3fa-b80e8545d9bb" id="24640" nodeName="Can I take a pushchair?" isDoc="" updated="2021-07-06T10:40:36.0030000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="4" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>A collapsible pushchair/buggy can normally be kept with you until you board the flight. It will then be stowed in the hold and retrieved with your other checked-in baggage on arrival.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Can I take a pushchair?]]></question>
</fAQItem>