<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="04fd4ed0-2f46-44f8-a75c-e51f7f700da5" id="21703" nodeName="Hotel Metropole" isDoc="" updated="2022-12-16T15:35:14.5570000Z" parentGUID="d3611d37-82e0-494e-ad59-e534458bcdd6" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "dfab0337-b0c9-4674-8ff9-38a8dca8b27f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Honeymoon & Silver Wedding Anniversary Offer: Free bottle of sparkling wine",
    "addedValueStart": "2019-05-13T16:52:41",
    "addedValueEnd": "2022-10-23T23:59:42",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/770782042a7d46fc81a4b6b906bedbc5,umb://media/d8921fab6b014ac6b748cae272afd107,umb://media/a7680091dc424fc1b57f354e9d99c2a2,umb://media/22f4975a2eaf475587627bf87a9265fa,umb://media/8a88a009c7e041a7b67a77c6fdd6e050,umb://media/03323f372eca47bd8d2e73d0284f8327,umb://media/e3a724e3181d48d3ae62ec922c6222a1]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>A full buffet breakfast is on offer each morning with cereal, cold meats, yogurts, bread, homemade pastries and eggs.</p>
<p>La Terrazza Metropole Restaurant has an ideal lakeside setting and serves up Italian and international cuisine alongside a full wine list. The a la carte menu is payable locally. </p>
<p>There's a small bar with a good cocktail and wine list, and snacks throughout the day including hot sandwiches, salads and gelato.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><a data-udi="umb://document/d3611d3782e0494ead59e534458bcdd6" href="/{localLink:umb://document/d3611d3782e0494ead59e534458bcdd6}" title="Bellagio">Bellagio</a> is one of the most popular towns on <a data-udi="umb://document/7d421e04a79044babf8cafda30e31d4a" href="/{localLink:umb://document/7d421e04a79044babf8cafda30e31d4a}" title="Lake Como">Lake Como</a> and Hotel Metropole is right in the centre. The location’s perfect – step out of the doors and you’ll be on the pretty cobbled streets with the shops and cafés within touching distance. The ferry port’s close by too so days out are very easy to do. The ferries are regular and go all over the lake – we love exploring all the glamorous villas and gardens.</p>
<p>There’s lots to like about this hotel. We spent most of our time on the roof terrace where views of the lake are out of this world. There’s an ice cream parlour onsite so grab a couple of scoops to enjoy as you relax with the views. The terrace is also a great place for a sundowner, they’ve got some great Aperol cocktails to try. The rooms are classic with a traditional design. They’ve all got some views of the lake but for the best views book a room with a balcony at the front of the hotel. When it comes to dinner there’s lots of options in Bellagio but we prefer the hotel’s restaurant. It’s on the edge of the lake and has some great local dishes on the menu. Order a bottle of Franciacorta and you’ve got a pretty perfect evening.</p>
<p>Transfer time: approx. 2 hours by coach from Milan Malpensa airport.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li><span style="text-decoration: underline;"></span>Free Wi-Fi</li>
<li>Roof terrace with sunbeds and parasols</li>
<li>Public parking (200 metres away, payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude><![CDATA[45.98751]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Locations don't get much better than Hotel Metropole. It's in the centre of Bellagio so the shops, bars and restaurants are a very short walk away. It's also a stone's throw from the ferry port and right next to the lake.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/d8921fab6b014ac6b748cae272afd107]]></listingImage>
  <localFees><![CDATA[<p><span>A tourist tax of approx. €2 per person per night is payable locally.</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Centrally located in Bellagio</li>
<li>Lakefront position </li>
<li>20 metres to the ferry point</li>
<li>50 metres to the nearest bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[9.260831]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[42 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Metropole today with Inghams. The hotel's on the edge of Lake Como and is less than 50 metres from Bellagio's centre and ferry port.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Metropole | Lake Como Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>42</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Metropole]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITBE0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms</strong> are about 15m² have a traditional décor. They can sleep up to two people and have side lake views, air conditioning, TV, free Wi-Fi, tea &amp; coffee making facilities (on request), minibar, safe, hairdryer and bathtub or shower. Rooms with a balcony and lake view are available for a supplement.</p>
<p><strong>Suites</strong> sleep up to three people. They're made up of a standard side lake view room and a single room, with a shared bathroom. These rooms are available on request, please call to book.</p>
<p><strong>Standard Terrace Rooms</strong> sleep up to two people and have lake views. The terrace has deckchairs and a table. They have a bath with a showerhead attachment. These rooms are available on request, please call to book.</p>
<p><strong>Double Rooms for Single Use</strong> are available on request, please call to book. </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please advise of any special dietary requirements at the time of booking. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>2</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline><![CDATA[Bellagio]]></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[314141]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>