<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksContainer guid="9040a459-1170-46fb-aae7-61e49e6d3b7e" id="69731" nodeName="Can't find the ski deal you're looking for? Try these..." isDoc="" updated="2024-04-04T14:34:50.2970000Z" parentGUID="d5bc14d7-4d55-48e3-92ab-5dadb7fc45d1" nodeTypeAlias="reskinOfferLinksContainer" templateAlias="" sortOrder="12" published="true" isBlueprint="false">
  <availableOffersDescription></availableOffersDescription>
  <listName></listName>
</reskinOfferLinksContainer>