<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="5c5457d1-69e6-48ba-9555-c97ea156c216" id="30614" nodeName="Fonteverde Resort &amp; Spa" isDoc="" updated="2021-12-09T13:41:51.5630000Z" parentGUID="8502468f-e6eb-499f-aab1-6739425f51ec" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="10" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "0e4ea7ed-6553-4974-8664-6f0881aa8140",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Children up to 12 years go free with kids’ menu when sharing rooms with two adults",
    "addedValueStart": "2019-11-28T11:32:12",
    "addedValueEnd": "2020-11-01T11:32:15",
    "hideAddedValue": "0"
  },
  {
    "key": "7e7c5d77-c4cd-42d5-91c9-266b7d728a80",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save up to 25% on the hotel price for holidays booked by 31 Jan 20",
    "addedValueStart": "2019-11-28T11:32:30",
    "addedValueEnd": "2020-02-01T11:32:32",
    "hideAddedValue": "0"
  },
  {
    "key": "3b06b9f5-4ab6-4b50-b486-afbf8547582d",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save up to 20% on the hotel price for holidays booked by 30 Apr 20",
    "addedValueStart": "2020-01-31T11:32:54",
    "addedValueEnd": "2020-05-01T11:33:17",
    "hideAddedValue": "0"
  },
  {
    "key": "eb54c3e4-6ce6-45ff-bc9d-778577d0a641",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Stay 4 nights and pay for 3 nights on holidays between 01 May – 07 Aug 20 & 23 Aug – 29 Oct 20",
    "addedValueStart": "2019-11-28T11:33:41",
    "addedValueEnd": "2020-10-30T11:33:50",
    "hideAddedValue": "0"
  },
  {
    "key": "eecda933-430d-4cd0-a0a0-6693532561e9",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Stay 5 nights and pay for 4 nights on holidays between 10 May – 07 Aug 20 & 23 Aug – 31 Oct 20",
    "addedValueStart": "2019-11-28T11:34:15",
    "addedValueEnd": "2020-10-31T11:34:18",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/dcfd371749cc4785a380b8ceb690f658,umb://media/12a2a876dde24287af06e5875e0619de,umb://media/a4a9c87e06154aecacd1e53c9577fe0f,umb://media/e8c5be9ee3b04d2f86e95ea0d7b862ee,umb://media/57264abe01724d908434f4772697271d]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Bed &amp; Breakfast</li>
</ul>
<p>5* breakfast with an extensive buffet of fresh delicacies, pastries, breads and fruit as well as hot dishes made to order</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Part of The Leading Hotels of the World, the incredible Fonteverde is nestled in <a data-udi="umb://document/58d85ec0faa548b2ab580143fdc9b722" href="/{localLink:umb://document/58d85ec0faa548b2ab580143fdc9b722}" title="Tuscany &amp; Umbria">Tuscan</a> Countryside in a San Casciano dei Bagni, a Medieval village long known for is rich thermal waters. The location has inspired the hotel’s spa, which uses the natural thermal water to develop a range of tailored programmes for its guests; from natural treatments to physiotherapy and detox, the spa draws visitors from around the world to relax and rejuvenate in stunning surroundings. We’d recommend taking a dip in the hot spring pools where you can admire the rolling vineyard views.</p>
<p>Throughout the hotel you’ll find elegant rooms and fantastic amenities. Two restaurants serve up Tuscan cuisine while the terrace of il Falconiere Bar is the perfect spot for a pre-dinner drink. Guestrooms are welcoming and decorated in a typical Tuscan style, designed to make you feel completely relaxed on your Tuscan escape.</p>
<p>Car hire is recommended for this hotel. Fonteverde Resort &amp; Spa is approx. 2 hour 5 mins from Rome Airport or 2 hours 35 mins from Pisa Airport</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Ferdinando Restaurant</li>
<li>La Corte Restaurant</li>
<li>Il Falconiere bar with terrace</li>
<li>Café serving snacks</li>
<li>Wine cellar</li>
<li>Wellness spa with thermal pools and health packages</li>
<li>Fitness area</li>
<li>Swimming pool</li>
<li>WiFi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>One of the best luxury spa hotels in Italy with stunning views across the majestic rolling hills of Val D’Orcia.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/12a2a876dde24287af06e5875e0619de]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[78 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Fonteverde Resort & Spa is one of the best luxury spa hotels in Italy with stunning views across the majestic rolling hills of Val D’Orcia. Book today.]]></metaDescription>
  <metaTitle><![CDATA[Fonteverde Resort & Spa | Siena & Chianti, Tuscany & Umbria | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>78</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITTU0145]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Queen Rooms</strong> with a cosy double or twin beds and sleep two people. They are decorated in warm, natural tones and have a travertine marble bathroom with shower. Air conditioning, bathrobes, TV, Minibar, safe &amp; hair dryer.</p>
<p>Privilege<strong> Rooms </strong>encompass luxury and style and sleep two people.</p>
<p>Privilege<strong> Valley View </strong>rooms are spacious with elegant furnishings and lovely views over the Val d'Orcia hills. </p>
<p>Deluxe rooms and Suites and Suites are available on request, please call to book. </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[278276]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/58d85ec0faa548b2ab580143fdc9b722]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>