<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="bba4d0db-171d-4667-afd9-bcb6b7bc0b7a" id="71685" nodeName="June Walking Deals" isDoc="" updated="2024-05-23T11:52:01.3300000Z" parentGUID="8badb33d-3f80-43ab-a58e-6c0e76b11bd0" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "October Walking Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/837dc6c4d79940a4a832327806bc382a",
    "externalLink": "",
    "linkName": "June Walking Deals",
    "linkTitle": "June Walking Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>