<?xml version="1.0" encoding="utf-8"?>
<newsListingYear guid="8b622ba8-6041-46f7-9e7f-2fcf97165f1f" id="48951" nodeName="2021" isDoc="" updated="2021-12-21T16:57:58.9530000Z" parentGUID="576ca055-4583-4f82-a7f2-81be4cf3cd0f" nodeTypeAlias="newsListingYear" templateAlias="NewsListingYear" sortOrder="1" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[All of Inghams latest news and press releases are available below from 2021. Please contact the Inghams Press Team who will be happy to help.]]></metaDescription>
  <metaTitle><![CDATA[Inghams 2021 Press Releases - Latest News | Inghams]]></metaTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <title><![CDATA[2021 Press Releases]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsListingYear>