<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="bb34d7a4-d586-48d4-ab82-b5f388d5ad13" id="23209" nodeName="Banff Ptarmigan Inn" isDoc="" updated="2024-03-01T12:25:40.0030000Z" parentGUID="3f77e79e-ea2d-4582-a9ac-b3c89406dc88" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="6" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "ba60c35d-d796-4b74-a3c4-a25b4794300c",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 Sep 21)",
    "addedValueStart": "2019-07-08T10:54:16",
    "addedValueEnd": "2021-09-30T23:54:18",
    "hideAddedValue": "0"
  },
  {
    "key": "8f9d0054-623f-46a7-9df1-d77d5120cbf3",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Oct 22)",
    "addedValueStart": "2021-10-01T09:30:49",
    "addedValueEnd": "2022-10-31T23:30:56",
    "hideAddedValue": "0"
  },
  {
    "key": "3c446c90-5c2a-4d4d-933c-af948ad4e29c",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 Nov 22)",
    "addedValueStart": "2021-10-31T09:31:23",
    "addedValueEnd": "2022-11-30T23:31:31",
    "hideAddedValue": "0"
  },
  {
    "key": "47993297-a30f-42d9-817d-0c0463297f7c",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Stay 8+ nights in a Superior Room and receive a $100 CAD food & beverage credit per room (Book by 30 Nov 23, excludes stays between 22 Dec - 06 Jan)",
    "addedValueStart": "2019-05-15T11:25:25",
    "addedValueEnd": "2023-11-30T23:25:27",
    "hideAddedValue": "0"
  },
  {
    "key": "5244ef7e-0bf6-4f74-affb-fd9d9a34a1a4",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Complimentary daily buffet breakfast included",
    "addedValueStart": "2019-07-08T10:56:32",
    "addedValueEnd": "2025-07-08T10:56:34",
    "hideAddedValue": "1"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,5]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/74da3a8359d848f6808c4303d7a075d4,umb://media/2faeb3b847a3413398954aea198a7054,umb://media/03df675be42046c88d81c63c69ca3174,umb://media/6f87f604c11242f18636f084d2faa1a6,umb://media/5ff530f606f24e0ab03edd9b73830dd6,umb://media/f4d3bfbe848c4ad7b73e970eb8bd8042,umb://media/e0bb0305e8964fae93d58af5b568ce0d,umb://media/18dde03cecb54637b7f26906ac4dbe2b,umb://media/0bd86a90cb264254b44f7a5385b3a13c,umb://media/907e87e1897f464383fbcda6b489795c,umb://media/3c489844f54147fbb56b594b725715ed,umb://media/cb75c835798f40e988a0b24b6878b15e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Banff Ptarmigan Inn is offered on a room only or a bed and breakfast board basis.</p>
<p>Breakfast consists of a buffet.</p>
<p>On site Meatball Pizza and Pasta restaurant is open for dinner. </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>With an excellent location and cosy surroundings, the Banff Ptarmigan Inn is a great spot for those looking to explore all Banff has to offer.</p>
<h2>Location</h2>
<p>Ptarmigan Inn is located on Banff Avenue and within walking distance of many of <a rel="noopener" data-udi="umb://document/3f77e79eea2d4582a9acb3c89406dc88" href="/{localLink:umb://document/3f77e79eea2d4582a9acb3c89406dc88}" target="_blank" title="Banff">Banff's</a> attractions like Bow Falls and Banff upper hot springs. Explore the area with a complimentary Roam bus pass to enjoy Banff.</p>
<h2>Classic Inn</h2>
<p>The hotel has a classic ski lodge feel. Rooms are nicely decorated and <span>equipped with all the amenities you will need for your stay.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Wellness area with indoor hot pools, sauna, steam room and fitness equipment.</li>
<li>Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "07c1e36a-4b10-447f-822a-01741ed91784",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"c3876635-d7a7-44d8-9567-8e07c94841bb\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[51.18027]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Located just moments away from Banff Downtown, the Banff Ptarmigan Inn has great restaurants, cafes, shopping, and nightlife right on the doorstep. The hotel has recently been refurbished and is offered on a room only or bed and breakfast board basis.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/74da3a8359d848f6808c4303d7a075d4]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Located in central downtown Banff</li>
<li>Transfer time: approx. 2 hour by coach from Calgary International Airport</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[-115.57027]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[134 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The hotel is located in central Banff on Banff Avenue within easy walking distance of restaurants, shops and nightlife. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Banff Ptarmigan Inn | Banff Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>134</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Banff Ptarmigan Inn]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CABF0108]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard</strong> <strong>'Interior' Rooms</strong> have one king or two queen beds. They have interior views of the atrium or lobby. </p>
<p><strong>Superior</strong> <strong>Rooms</strong> have one king or two queen beds and have an exterior view.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Shower or bath</li>
<li>Cable TV</li>
<li>Minibar</li>
<li>Safe</li>
<li>WiFi</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[182217]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>