<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="4a1ee469-ec62-46a7-8364-4d6fcf714cb4" id="49022" nodeName="Hotel &amp; Apartment Sonnleiten (Saalbach)" isDoc="" updated="2022-05-31T13:38:33.9030000Z" parentGUID="ab49d597-7a79-4ec7-952d-a3e3d5adf48b" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="6" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "a346b032-5fd3-44c0-8082-d5d2665e4121",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free Saalbach & Hinterglemm 'Joker Card' included (resort card)",
    "addedValueStart": "2021-07-22T11:45:34",
    "addedValueEnd": "2099-07-23T11:45:37",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker><![CDATA[umb://document/d08338a1c04a4d87928e02104ae723a8,umb://document/4c37f23190154d83aa49582af97d7db2,umb://document/55cfae6bffbd43b4b2a0ebcf052c0ffc,umb://document/5272f081ba6e49a49ece3c434a124ad2,umb://document/393e7bd5874f487790ba20e4d21dd881]]></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,6]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/1efe2dd5014f4933b63dcfdb3c5e94d6,umb://media/a1c75c72fa954b2caeddf5c1f3c93f93,umb://media/58246fe762044b8bbfeb03a07112af12,umb://media/f352488e33cc435da4639aafb5f7788b,umb://media/cb3a5bb094334d839acf6fdfba1543c0,umb://media/4e9fdab547b149e7bb7dbefc2636a9f7,umb://media/f1a5ec1c02b64f3a9e47a6858ff58dca,umb://media/ca1f5cace86c411e8cd6ced4bef93f75,umb://media/b357e3d0d93b4af79654d4fe8d0dc71a,umb://media/6b8c4f801bfd4b71b533c9f66d0aeeab,umb://media/5235e101ed494069b9944692e90c0af8,umb://media/07a1fb72f9a04b6c870e4fdcd95ec8d0,umb://media/8c872a4c8f8f4c6fa7995a782d8966e2,umb://media/f1e54d731c2043d686ee8ed9ef524b72,umb://media/cabd40914ede458d9f46428e8580def5]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Self Catering apartments with an optional buffet breakfast available to pre-book.</p>
<p>In-house <span>à</span> la carte Troadkasten Restaurant or many other local restaurants for evening meal options.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel &amp; Apartment Sonnleiten is a new complex of studios and apartments so you can expect modern and comfortable rooms built to a high standard. It's a ten minute walk to the centre of <a data-udi="umb://document/ab49d5977a794ec7952da3e3d5adf48b" href="/{localLink:umb://document/ab49d5977a794ec7952da3e3d5adf48b}" title="Saalbach &amp; Hinterglemm">Saalbach</a> so you're within easy walking distance of everything the town has to offer. Based a bit higher up the mountain, you'll enjoy nice views of the valley and if you enjoy cycling the location is perfect as it's right next to an abundance of bike trails that open up the region. <span>There are also many hiking trails in the area as far as the eye can see.</span></p>
<p><span>The a la carte Troadkastn restaurant offers a convenient spot to dine in house, and the beautiful mountain scenery can be enjoyed from the outdoor pool. The rooms are all equipped with full kitchens and some even have have the additional luxury of a private sauna in the rooms.</span></p>
<p><span>Transfer time: approx 2 hrs by coach from Salzburg Airport.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/316d233024e54f53beac12863e649aba,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/1fc21703812a407abc54bd62ba1d84cd,umb://document/269de525a30f43249daa18279ac7cbde,umb://document/6129d2e9c59b48e5b0cde91d9a269c41]]></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[47.3954794]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Luxurious and modern self catering apartments ten minute's walk to the centre of Saalbach town. The outdoor pool offers lovely mountain views and there are lots of hiking and biking routes on the doorstep.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ca1f5cace86c411e8cd6ced4bef93f75]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>500 metres to the resort centre</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.6353011]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[36 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday to Saalbach in Austria with Inghams and stay at the new hotel complex complex which includes a restaurant, bar & lounge & outdoor pool.]]></metaDescription>
  <metaTitle><![CDATA[Hotel & Apartment Sonnleiten | Saalbach | Austria | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>36</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel & Apartment Sonnleiten (Saalbach)]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATSA0116]]></propertyCode>
  <propertyType><![CDATA[0]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Alpine Studios</strong> are around 46m² and sleep up to four (twin beds in main bedroom and double sofa bed in living area). These rooms have a fully equipped kitchen, shower, lounge area and balcony.</p>
<p><strong>Alpine Spa Studios</strong> have the additional luxury of a private sauna in the rooms.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[500782]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ab49d5977a794ec7952da3e3d5adf48b]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>