<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="664c1eac-d0c3-4e03-906e-a91b586e5ada" id="24864" nodeName="Sporthotel Ellmau" isDoc="" updated="2022-08-23T16:40:02.4630000Z" parentGUID="6abfdfbd-dfac-4db4-86ca-19f683f38de7" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker><![CDATA[umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/5272f081ba6e49a49ece3c434a124ad2,umb://document/d08338a1c04a4d87928e02104ae723a8,umb://document/55cfae6bffbd43b4b2a0ebcf052c0ffc,umb://document/51b5ba3c97614d7b8364e2b8a50eb6dc]]></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>2</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/324e8c8a9c5443cf9d9be9e210cce3e9,umb://media/a4996ef6c8fc4090b8e9bca8d3f78e8f,umb://media/fd337486c58949c6a887874f9d043ccb,umb://media/20c1bd9f985b440b847d408c700283a1,umb://media/9665ae2a8af34d38a3514ff5198eea44,umb://media/c8990f2518944594a041e34b0632a318,umb://media/521f584818e24b7fab5a7a2ac8d0babc,umb://media/c560cd21b558453a88fcc0c40682d4f1,umb://media/e0fa55847bb84623a768234364d143ee,umb://media/2671302b94944fd4a8972a7ca9dec023]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast</li>
<li>Four course evening meal with choice of four main dishes plus daily salad and dessert buffets.</li>
<li><span>Weekly themed evenings </span></li>
<li><span>Christmas and New Year gala dinners included</span></li>
</ul>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><span>We are pleased to welcome back Sporthotel Ellmau to our winter programme due to loyal demand from our Inghams guests. This traditionally Tyrolean hotel has first class spa facilities, service and cuisine, combined to make it one of Ellmau’s finest. </span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart/Casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Spacious lounge and bar with open fireplace</li>
<li>Non-smoking residents’ restaurants</li>
<li>Traditional stube</li>
<li>Large ‘Kaiserspa’ leisure area with indoor pool, various saunas, steam rooms, jacuzzi and relaxation room (pay locally), swimming pool and sauna (FREE),</li>
<li>‘Maria Galland’ beauty salon and massage (payable locally)</li>
<li>Sun terrace</li>
<li>Free Wi-Fi internet access</li>
<li>Lift.</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.514084]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>The Sporthotel Ellmau is a superior, traditionally Tyrolean hotel with first class spa facilities, and one of Ellmau’s finest.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/324e8c8a9c5443cf9d9be9e210cce3e9]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>100 metres from the nursery slopes and lifts</li>
<li>200 metres to the ski school and village centre</li>
<li>Ski bus stop 50 metres from the front of hotel</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.307813]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[140 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This traditionally Tyrolean hotel has first class spa facilities, service and cuisine, combined to make it one of Ellmau’s finest. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Sporthotel Ellmau, Ellmau Ski Welt Austria Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>140</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATEL0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Ellmau Double Rooms </strong>are around 28m² and sleep up to three (main Austrian twin bed and additional sofa bed). These rooms have a bath, balcony and lounge area.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p><span>Special dietary requirements (vegan, gluten free) will need to be requested in advance.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[674062]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>