<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="efb3f075-9758-4946-a407-6a5668be2dab" id="47961" nodeName="Ullrhaus" isDoc="" updated="2024-11-27T13:05:21.7030000Z" parentGUID="eb8a4e06-5fbc-4a0f-a6a0-e0e273886855" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="10" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "bdb0e3ac-ffa5-499a-8c61-1590fe9d8df5",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 October)",
    "addedValueStart": "2022-09-06T16:55:56",
    "addedValueEnd": "2024-10-31T16:55:58",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/84ced60ec16240c48adf41fdaf1228d7,umb://media/3454a17d2a4244c5b551686a191ff23b,umb://media/1ba955e50ca54db69ebaaaa5f060f2c5,umb://media/0cb8b9bf0cf94c3ba0f999a6b00d1750,umb://media/95a5329a7b0f4edab9c897c16575fcc2,umb://media/a5011fcf228b4023a65fb861034f81b6,umb://media/ea4c841e2df146d2b0a9edd7bc9ba8b3,umb://media/3fb2afdf251a41e1b9599bcc5fb18511,umb://media/31ded458fb8f4de9be4a6775eb4cc4cd,umb://media/b5703822f8f147c5a90adce7af7264de,umb://media/02e2d101d1f9453a88c00987709b09fc,umb://media/4fc92900f27d4825982ca671a54e8d33,umb://media/1e6ad3689d4c4a73b60ce1e24619e9ad,umb://media/780edff1c0d548b081775c6b04c2d27b,umb://media/ff89690711ce4c8bade9cd1407e7018f,umb://media/9b12dc30b3d54765abda54dbdcd85838,umb://media/76e02e7d456b4ff2926ec488cb7539fa,umb://media/aeee1c2787b74372a4e8535fdf6e000c,umb://media/998a1dbdf2194b9dbc248ef22c5ce65e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Enjoy an included full breakfast buffet each morning with fresh and local products from the region in the Ullr casual dining room.</p>
<p>Half board evening meals are three courses with choice in each course.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>This unique hotel opened its doors to guests for the first time in December 2020, and is a great choice if you’re looking for something a little bit special. Simple and luxurious are not words often found together, but we’ll make an exception here - the Ullrhaus focuses on the essentials, and highlights their qualities.</p>
<h2>Scandi-chic</h2>
<p>The unique design and interior combines Scandinavian chic with exciting alpine influences and the attention to detail follows throughout. It therefore might not surprise you that the Ullrhaus is one of the first CO2-free hotels in <a data-udi="umb://document/eb8a4e065fbc4a0fa6a0e0e273886855" href="/{localLink:umb://document/eb8a4e065fbc4a0fa6a0e0e273886855}" title="St Anton">St. Anton</a>.</p>
<h2>Prime location</h2>
<p>One of its best features is also its location - the Ullrhaus sits between the Galzig and Rendl cable cars, and neither is more than a minute or two stroll away. You’ll also be just a few minutes from the centre of the resort too so there’s plenty of bars and shops within easy walking distance.</p>
<h2>Wellness area</h2>
<p>After an afternoon on the mountain, be sure to head back and relax in the spa and wellness area. Whether that’s taking a dip in the 17m long indoor pool, unwinding in the sauna after a refreshing natural juice or simply lounging in the relaxation room. We recommend you do them all! There’s also two massage rooms in house, if you want to really treat yourself.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>17m indoor swimming pool</li>
<li>Finnish sauna</li>
<li>Bio sauna (60°)</li>
<li>Steam bath</li>
<li>Relaxation room</li>
<li>Massage rooms</li>
<li>Gym</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Restaurant with regional and international dishes</li>
<li>Bar with lounge area</li>
<li>Wi-Fi</li>
</ul>
<div class="contentbox second">
<div class="textobj  bigtext"></div>
</div>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "a3436b41-8983-4bc0-8474-4483b9d6541f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"1efce40c-a1d2-466a-a01c-fe169bfe9932\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>8</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.127413]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>In a prime position between the Galzig and Rendl cable cars, the Ullrhaus is an sophisticated hotel with excellent wellness facilities. Stay here if you’re looking for something a little bit special - the unique design and interior is exciting and the Ullrhaus is one of the first CO2-free hotels in St. Anton</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/84ced60ec16240c48adf41fdaf1228d7]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €5 per person per night to be paid directly to the hotel.</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>150 metres to the resort centre </li>
<li>100 metres to both the Galzig and Rendl cable cars</li>
<li>Ski hire shop located at the bottom of the gondola</li>
<li>Transfer time: approx. 1 hour 30 mins by coach from Innsbruck airport</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[10.262956]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[40 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[In a fantastic position between the Galzig and Rendl cable cars in St Anton, the Ullrhaus is unique hotel with a warm atmosphere and great spa facilities.]]></metaDescription>
  <metaTitle><![CDATA[Ullrhaus | St. Anton Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>40</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ullrhaus]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATAN0167]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Superior Double Rooms</strong> are spacious at around 30m² and have modern and natural furnishings. All rooms have a balcony and shower.</p>
<p><strong>Family Suites</strong> are 48m² with two double bedrooms and a bathrooms with shower. These rooms are located on the first and second floor and some have a balcony. They can sleep up to four.</p>
<p><strong>Superior Suites</strong> offer the most space at 50m². They have a shower and balcony and can sleep three people using a single sofa bed in the lounge area.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Smart TV</li>
<li><span>Coffee machine</span></li>
<li>Minibar</li>
<li>Wi-Fi</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[21163777]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>