<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="1de1d812-41e3-469f-8b30-346a82c00993" id="42813" nodeName="Chalet L'Ancolie" isDoc="" updated="2024-06-17T09:57:08.3870000Z" parentGUID="870730ce-feb2-441d-ab9c-cfec19c2fe88" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="1" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "3a5b402d-dbaa-45da-b410-37cdf6d66e6c",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "A selection of wine is included with chalet evening meals ",
    "addedValueStart": "2024-03-04T15:44:24",
    "addedValueEnd": "2025-04-30T23:30:06",
    "hideAddedValue": "0"
  },
  {
    "key": "a6c187fa-07b2-4e5d-9035-200fa8439d86",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Family discounts available, please see the family facilities section below",
    "addedValueStart": "2024-05-01T15:12:12",
    "addedValueEnd": "2025-04-23T23:55:55",
    "hideAddedValue": "0"
  },
  {
    "key": "1f167884-9b89-45f3-8c8b-f3d1f8b2325e",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save £100 per person on all Inghams' Choice holidays when you pre-book your lift pass and ski hire/carriage",
    "addedValueStart": "2024-06-13T01:00:00",
    "addedValueEnd": "2024-10-31T16:44:18",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/94eccbc146954597947b9f8f80bce609,umb://media/e889af208dfb4094897362a97e469d98,umb://media/7c30a3b70c2d4e1491dbd68f60ed5de6,umb://media/3ce328da7ddd4a3981a5b7d9ecab2260,umb://media/a2a8ec9a595b4e4da2c186a700687171,umb://media/709b730e36d84f6bb97666f2bf6cc6e7,umb://media/8612080f43384321abeb5b7133c29bee,umb://media/0c055f1c90a249de81c18acdb8b39954,umb://media/8a6245e2e24b4ec8a9f7066b32257693,umb://media/e68ed8c11d3b4637b10745eff2aef852,umb://media/25a07ec958484c419bc8d2d87bba21f3,umb://media/de0b53a7c28d4832af8e894e8094a974,umb://media/24185a1853ef4fc48dcd830048cbe131,umb://media/035e13def3da4b97890cf84abd40223f,umb://media/3a46375b68ac49dc8b4d32da8e3b5bc9,umb://media/903d9960ea4b4f79ac698ac57d580f09,umb://media/6b642594a1ad451cabf0a183e1356faf,umb://media/88f30119dd8c41b6811189d83f8f3590]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Our catered chalets mean there is no need to worry about a shopping trip whilst on holiday, as you will be looked after by us from arrival right to departure.</p>
<p><strong>Breakfast </strong></p>
<p>A continental buffet breakfast is available on 7 mornings of your holiday. There’ll be a selection of cereals, bread and pastries from a local bakery, jams and spreads, local cheeses and charcuterie, yogurts and fresh fruits. We have Nespresso coffee machines in each chalet, along with teas, infusions, hot chocolates and fruit juices.</p>
<p>For 6 mornings of your holiday there’s a classic full cooked breakfast available, starting from 8am. Your hosts will take an order from you and get it prepared ahead of your big day on the slopes. Options include free range eggs, sausages, bacon, halloumi, mushrooms and tomatoes.</p>
<p><strong>Afternoon Tea </strong></p>
<p>A fresh cake will be baked and ready for your return from the slopes, 6 days of the week. Perfect to pair with the selection of teas, hot chocolate and Nespresso coffee, that’re in your chalet for you whenever you fancy.</p>
<p><strong>Evening Meal </strong></p>
<p>A 4-course set menu will be cooked and served by your chalet hosts on 6 evenings of your holiday. You’ll start your evening with an Aperitif and nibbles, where we have a choice of Aperol Spritz, two Italian Proseccos from the Veneto region, one of which is a 0% alcohol option, beer and soft drinks.</p>
<p>The evening set menu has been designed to incorporate a variety of different cuisines, including classic French, Asian, Italian, Austrian and British dishes. One evening the menu will be a delicious regional dish, from the area you are staying in.</p>
<p>After each homemade dessert there’s a selection of cheeses with fresh bread, crackers and chutney, along with coffee, tea or infusions.</p>
<p>There will be special celebration menus on Christmas Day and New Year's Eve.</p>
<p><strong>Wine and Drinks </strong></p>
<p>During your evening meal guests can indulge in our carefully selected complimentary wine, which consists of a choice of 3 red, 3 white and 2 rosé. All of the wines have been carefully chosen so that there is a great variety and offer something to cater for all tastes and that pairs well with the menu.</p>
<p>For those guests that don’t drink wine, there is a selection of beer (both with and without alcohol), sparkling mineral water and soft drinks.</p>
<p style="text-align: center;"><strong>Sample Menu </strong></p>
<p style="text-align: center;"><strong>Aperitif </strong></p>
<p style="text-align: center;">Prosecco, Aperol Spritz, beer or soft drinks</p>
<p style="text-align: center;"><strong>Starter </strong></p>
<p style="text-align: center;">Sweet potato and coconut soup</p>
<p style="text-align: center;"><strong>Choice of Main Course </strong></p>
<p style="text-align: center;">Chicken chasseur</p>
<p style="text-align: center;"><em>or </em></p>
<p style="text-align: center;">Baked aubergine and mushroom chasseur</p>
<p style="text-align: center;"><strong>Sides </strong></p>
<p style="text-align: center;">Chive mash potato and green beans</p>
<p style="text-align: center;"><strong>Dessert </strong></p>
<p style="text-align: center;">Lemon posset with shortbreads</p>
<p style="text-align: center;">Selection of French cheeses with fresh bread and chutney</p>
<p><strong>Please note </strong></p>
<p>Breakfast hot option, afternoon tea &amp; dinner is 6 days per week due to chalet staff's day off. Our representatives are there to recommend and book a local restaurant in resort for the free evening.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Chalet L'Ancolie is a traditional and characterful property set in a quiet location back from the main street. The owner is an expert carpenter and he has done most of the interior wood panelling himself, ensuring a high attention to detail with many delightful features. Chalet L'Ancolie <span><span class="ui-provider a b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak">is available to book exclusively as well as room by room.</span></span></p>
<h2>Savoyard style</h2>
<p>Set over three floors and decorated in a traditional Savoyard style with c<span>osy, warm and welcoming furnishings you have all the comforts of home. Th</span>e chalet has five bedrooms with wood panelling which really adds to the Alpine feel of the chalet, all bedrooms have en-suite facilities and a balcony or terrace with amazing views across the Meribel Valley. </p>
<p>After a day of exploring the <a data-udi="umb://document/72a5198213b1400d8c891f49fe57b578" href="/{localLink:umb://document/72a5198213b1400d8c891f49fe57b578}" title="Three Valleys Ski Area">Three Valleys</a> relax in front of the fireplace with a coffee and some cake, where the comfy seating provides a haven to unwind. There's also a sauna on the ground floor so you can revitalise after a day on the mountain. The chalet also has a heated ski and boot room and a table football.</p>
<h2>Good location</h2>
<p>As the chalet is set back from the main street, you benefit from being in a peaceful and quiet location. A walk to the resort centre takes around ten minutes, if you fancy a stroll before or after dinner, where you can find a variety of shops, bars and restaurants to keep you entertained. </p>
<p>Access to the slopes is easy, the bus stop for the free ski bus is just one minute's walk away (50m) and the bus runs throughout the day with additional services at peak times.</p>
<h2>Chalet catering</h2>
<p>Throughout your holiday, your chalet hosts are on hand to help you with anything you might need. On six of the seven days of the week, the chalet hosts prepare delicious homemade food, including a cooked breakfast, afternoon tea snacks, and a four-course dinner with wine, beer and soft drinks. On staff day off the hosts will leave a continental breakfast out and you are free to spend the evening however you'd like in resort.</p>
<h3>Why is this is an Inghams' Choice property?</h3>
<p><strong>Chalet hosts -</strong> Our chalet hosts are on hand to make your stay enjoyable, look forward to freshly prepared meals six days a week and relax knowing the tidying up is done for you - after all you are on holiday.</p>
<p><strong>Ideal for groups</strong> - As the chalet sleeps up to ten to eleven people it is the perfect place for a group of friends or a family who want to spend time together.</p>
<p><strong>Close to resort</strong><span> - Benefiting from being set back more the main street means the chalet is slightly more secluded, however it is only a short walk to the resort centre where you can find plenty of shops, restaurants and bars.</span></p>
<h3><span>Our chalets are going greener, so our mountains don't</span></h3>
<p><span>This season, our menu is changing for the better. In all of our chalets we're giving you more choice, with both meat-free and meat options on offer throughout your stay. This is driven as part of our commitment to reduce our </span><a rel="noopener" data-udi="umb://document/67e40dbb55ff45098496ea2e7eee1f72" href="/{localLink:umb://document/67e40dbb55ff45098496ea2e7eee1f72}" target="_blank" title="Sustainability">carbon footprint</a><span>.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Sun terrace</li>
<li>Mountain views</li>
<li>Bedrooms have en suite facilities including toiletries and hair dryers</li>
<li>Bedrooms have a balcony</li>
<li>Heated ski and boot room</li>
<li>Sauna</li>
<li>Lounge with fireplace</li>
<li>Free Wi-Fi</li>
<li>L'Occitane toiletries </li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<p>Children<span> </span><strong>11 years and under</strong><span> </span>are welcome in the chalet on any date where one group books the entire chalet for their exclusive use. Otherwise children are allowed on peak dates only. Please see our <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalets">chalet page</a> for more information. For Winter 2024/25 these dates are:</p>
<ul>
<li class="x_MsoListParagraph"><span>14, 21 and 28 Dec</span></li>
<li class="x_MsoListParagraph"><span>15 and 22 Feb</span></li>
<li class="x_MsoListParagraph"><span>29 March, 5 and 12 April</span></li>
</ul>
<p> </p>
<h2>Family discount offers</h2>
<p>Book your next family ski holiday for winter 2024/25 and enjoy discounts when booking this family friendly hotel:</p>
<p><img style="width: 723px; height: 311px;" src="/media/13105090/discount-child-places-838.jpg?width=723&amp;height=311&amp;mode=max" alt="" data-udi="umb://media/ee7f5ed172be4092ab5d33b79e1ca7ff" /></p>
<p>For more information on family ski holidays, and these discounts, please click <a data-udi="umb://document/a543e1407c404a978d9b4539252fc875" href="/{localLink:umb://document/a543e1407c404a978d9b4539252fc875}" title="Family Ski Holidays">here</a>.</p>
<p> </p>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "2ccfe6f0-c4ef-4400-9c21-171e3804cd02",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"36809d2e-290a-4daa-8ce9-c5622b7f1e5e\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.431938]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This superb chalet was built in traditional Savoyard style, in a quiet location and set back and slightly above the main road. The free ski bus stops just by the chalet which has five bedrooms all with en-suite facilities and a balcony or terrace. The chalet also has a sauna and heated ski and boot room and is ideal for a small family or group of friends. Offered on a chalet catering board basis, you'll enjoy breakfast, afternoon tea and cakes, dinner and wine included with your stay. This chalet sleeps 10-11 people and can be booked for sole occupancy.</p>
<p><strong>Save £100pp when you pre-book your ski pass and lift hire/carriage.</strong></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/94eccbc146954597947b9f8f80bce609]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Free ski bus stop is 50 metres from the chalet making it easy to reach the slopes. The buses run throughout the day with additional services as the lifts open and when they close.</li>
<li>The ski school meeting place is at the Chaudanne, which is on the ski bus route</li>
<li>10 minutes walk to the resort centre</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.556018]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[Sleeps 10-11]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Beautifully fitted and furnished throughout, the Chalet L'Ancolie is one of our most popular chalets in Méribel!]]></metaDescription>
  <metaTitle><![CDATA[Chalet L'Ancolie, Meribel | France Ski Holidays | Book now with Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>5</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>10-11</p>]]></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Chalet L'Ancolie]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/d3093fae013b466ebb76617bff84aeda",
    "promotionBannerMobile": "umb://media/86737c6970ec40da8fe631ff4a43f2ac",
    "promotionLink": "[]",
    "promotionStartDate": "2020-06-28T00:00:00",
    "promotionEndDate": "2022-05-02T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[FRME0137]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Ground Floor</strong></p>
<ul>
<li>Entrance via terrace</li>
<li>Sauna and shower</li>
<li>Heated ski and boot room</li>
<li>Table football</li>
<li>Drying room</li>
</ul>
<p>Room 1 - Twin beds, a shower, WC and balcony</p>
<p>Room 2 - Twin beds, an additional single bed, shower, WC and balcony</p>
<p> </p>
<p><img src="/media/13080883/lancolie-ground-floor-for-web.jpg" alt="Chalet L'Ancolie Ground Floor Plan" data-udi="umb://media/b89bc932fc974c5180ded1b3e6c9e6e8" /></p>
<p> </p>
<p><strong>First Floor</strong></p>
<ul>
<li>Kitchen and dining room</li>
<li>Balcony with mountain views</li>
<li>Lounge with fireplace</li>
<li>TV area</li>
</ul>
<p> </p>
<p><img src="/media/13080882/lancolie-first-floor-for-web.jpg" alt="Chalet L'Ancolie First Floor Plan" data-udi="umb://media/a5d3e095fa5f4099a3583fe5490d4173" /></p>
<p> </p>
<p><strong>Second Floor</strong></p>
<p>Room 3, 4 &amp; 5 - Twin beds, shower, WC and balcony</p>
<p><img src="/media/13086640/chalet-lancolie-2nd-floor.jpg" alt="Chalet L'Ancolie Second Floor Plan" data-udi="umb://media/35cde863b91c417fbb2971662c686c2f" /></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>1</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know of any dietary requirements before your holiday, so we can be as prepared as possible.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>