<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="3551b454-2859-41e9-8100-23182aac6f45" id="23670" nodeName="Banff Inn Hotel" isDoc="" updated="2021-12-17T13:11:58.3930000Z" parentGUID="16b1943b-417e-475f-a8b2-4195c34e6425" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="3" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>On the flat, located on Banff Avenue.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription><![CDATA[<ul>
<li><strong>Free </strong>breakfast that includes bagels, cereal, fruit, toast, muffins, pastries, juices, tea and coffee.</li>
</ul>]]></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>An excellent value, beautifully furnished modern lodge-style hotel, centrally located on Banff Avenue, a short walk from the downtown restaurants, shops and nightlife. The Banff Inn has an attractive bar with a lobby area.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/2a5cc4fcb8a64105a535f273f498beb5,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/973ee086e03c469faf177a069c61226b,umb://document/7043c62124714d3383bfaedb65ded521,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Attractive bar with widescreen TV</li>
<li>Wi-Fi throughout the Hotel (<strong>Free</strong>)</li>
<li>Sauna</li>
<li>Steam room</li>
<li>Large Jacuzzi</li>
<li>Lift</li>
<li>Underground parking (<strong>Free</strong>)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/74523406ccc44767839256039fdf94d3]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>1</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude><![CDATA[51.175176]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>An excellent value, beautifully furnished modern lodge-style hotel, centrally located on Banff Avenue, a short walk from the downtown restaurants, shops and nightlife. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/4dcc77747b684e7591e5d64ab9055296]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[-115.572571]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Banff Inn Hotel in Banff, Canada. Book A Summer Holiday At The Banff Inn Hotel In Banff With Inghams Lakes & Mountains Holidays.]]></metaDescription>
  <metaTitle><![CDATA[Banff Inn Hotel Banff - Canada - Summer Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>99</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>1-5</p>]]></occupancy>
  <officialRating><![CDATA[3.5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CABF0116]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>99. All brightly furnished rooms have bath, shower, cable TV, telephone, hairdryer, coffee-maker.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/0efad561e0054d7a8a2defc127d5ff59]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>