<?xml version="1.0" encoding="utf-8"?>
<fAQCategory guid="ab811c00-f762-411b-8bbb-0eb3edf0b6cc" id="50081" nodeName="Understanding Your Documents" isDoc="" updated="2021-07-06T10:54:19.5500000Z" parentGUID="2978da0e-d64c-4c85-a52a-04c0bf4a34eb" nodeTypeAlias="fAQCategory" templateAlias="FAQCategory" sortOrder="24" published="true" isBlueprint="false">
  <bodyText></bodyText>
  <canonicalUrl></canonicalUrl>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Our Understanding Your Documents FAQs are a helpful guide to many questions our customers ask. We will endeavour to update the information as / if it changes.]]></metaDescription>
  <metaTitle><![CDATA[Understanding Your Documents | FAQs | Inghams]]></metaTitle>
  <pageTheme></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showSearchPanel>1</showSearchPanel>
</fAQCategory>