<?xml version="1.0" encoding="utf-8"?>
<newsListingYear guid="3bd48542-bb1d-4e28-9c9e-1ee903365d07" id="1522" nodeName="2017" isDoc="" updated="2024-07-27T22:43:56.9730000Z" parentGUID="576ca055-4583-4f82-a7f2-81be4cf3cd0f" nodeTypeAlias="newsListingYear" templateAlias="NewsListingYear" sortOrder="5" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[All of Inghams latest news and press releases are available below from 2017. Please contact the Inghams Press Team who will be happy to help.]]></metaDescription>
  <metaTitle><![CDATA[Inghams 2017 Press Releases - Latest News | Inghams]]></metaTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <title><![CDATA[2017 Press Releases]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsListingYear>