<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="2b331f0f-0af5-424d-ad7f-592a8ee834f1" id="71856" nodeName="Things to Do in Lake Garda" isDoc="" updated="2024-10-14T16:34:04.2800000Z" parentGUID="eb9be254-5e64-4dc9-880b-5afaa1699370" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="10" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<div class="avatar-gutter ng-tns-c4073736394-61 ng-star-inserted">
<div class="resize-observable">When you've had your fill of food and lakeside lounging, there are plenty more activities to explore and discover in beautiful Lake Garda.</div>
</div>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/a3f9836fed3648caba1c643ab664aaa0]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[walking]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Things to Do in Lake Garda",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/6c247f7108ac4a65a8e24e3b8ccd90a9",
    "externalLink": "",
    "linkName": "Things to Do in Lake Garda",
    "linkTitle": "Things to Do in Lake Garda",
    "linkTitleColor": ""
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>