<?xml version="1.0" encoding="utf-8"?>
<newsItemPage guid="1dcf2431-f440-446f-91ae-27134541bbfd" id="24793" nodeName="Inghams Launches Ski 17/18 Main Edition Brochure" isDoc="" updated="2021-07-09T11:12:54.1030000Z" parentGUID="d7ee5c20-8a34-473f-8536-4c9736767141" nodeTypeAlias="newsItemPage" templateAlias="NewsItemPage" sortOrder="1" published="true" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13052373/inghams_ski-snowboarding_2017-18_brochure-cover.png" alt="Ski &amp; Snowboarding 2017-18" rel="486,453" /></div>
<div style="height: 15px; font-size: x-small; text-align: center;">New Inghams Ski &amp; Snowboarding Main Edition 2017/18 brochure.</div>
<div></div>
<div class="g12">
<div class="white_box_shadow">
<p>This month, Inghams has launched its Ski 17/18 main edition brochure with FOUR NEW RESORTS and a range of MONEY SAVING DEALS, including a £40 discount per couple on all holidays.</p>
<p>The new brochure, which features 91 resorts across eight countries and departures from 21 UK airports, offers plenty of choice for the coming winter season. Holiday options are flexible, with an extended programme of short ski breaks to selected resorts in Switzerland, France and Austria available, as well as inclusive ski holidays from £759 per person to Kühtai in Austria, Flaine, Montgenèvre, Morzine and Les Menuires in France, and Arinsal in Andorra.</p>
<p><span style="text-decoration: underline;">What’s New?</span> <br />For the Winter 17/18 season, Inghams has expanded its ski programme in Italy and France with the introduction of four new resorts:</p>
<ul>
<li>Claviere, Italy: which is a delightful village linked to the fantastic Milky Way ski area<br /><br /></li>
<li>Livigno, Italy: with low resort prices and high altitude skiing<br /><br /></li>
<li>Pila, Italy: which is one of the most snow-sure destinations in the Alps and boasts stunning views towards Mont Blanc<br /><br /></li>
<li>Les Menuires, France: which boasts convenient doorstep skiing at the foot of La Masse, one of the most overlooked yet unforgettable areas of the vast Three Valleys ski region</li>
</ul>
<p class="wordsection1">Inghams has also added a range of new partner hotels across its ski programme, including in Tignes (France), Selva (Italy), Saas Fee (Switzerland), and Zell am See (Austria). New for the 17/18 ski season, Chalet Linda in Kitzbühel, Austria, will join Inghams’ popular chalet programme. Sleeping 28 – 37 guests, Chalet Linda is located just five minutes' walk from the Hahnenkamm Gondola and ski school meeting point in the world-renowned resort of Kitzbühel, which boasts an excellent range of skiing for all to enjoy.</p>
<p class="wordsection1">Inghams is offering a seven night holiday on a catered board basis (including buffet breakfasts, afternoon tea and cake, and three-course evening meals with complimentary wine for six days) at the three-diamond Chalet Linda in Kitzbühel, Austria, from £695 per person, based on two sharing. Price includes return flights from London Gatwick to Innsbruck and airport transfers. The package is valid for travel departing on 6<sup>th</sup> January 2018. To book, visit www.inghams.co.uk/ski-holidays or call 01483 791 114.</p>
<p><span style="text-decoration: underline;">Money Saving Deals </span> <span style="text-decoration: underline;"><br /></span>The Ski 17/18 main edition brochure continues to feature Inghams’ added value offers and money saving deals, which include:</p>
<ul>
<li><span style="text-decoration: underline;">Inghams Saver Plus</span> <span style="text-decoration: underline;"><br /></span>£40 discount per couple on all holidays to all resorts and all accommodation on all dates<br /><br /><span style="text-decoration: underline;"></span></li>
<li><span style="text-decoration: underline;">Early Booking Offers</span> <span style="text-decoration: underline;"><br /></span>Many hotels offer Inghams guests special early booking discounts<br /><br /><span style="text-decoration: underline;"></span></li>
<li><span style="text-decoration: underline;">Inghams Plus Offers</span> <span style="text-decoration: underline;"><br /></span>Great value offers from many partner hotels, often exclusive to Inghams guests. These range from complimentary drinks with dinner, free room upgrades and après-ski snacks, to free activities such as sleigh rides and tobogganing, discounted hotel spa vouchers, and free child supervision/children’s clubs<br /><br /><span style="text-decoration: underline;"></span></li>
<li><span style="text-decoration: underline;">‘2-for-1’ Ski/Board and Boot Hire when a Lift Pass is pre-booked</span> <span style="text-decoration: underline;"><br /></span>This continued offer now applies to all properties in Europe on all dates (while stocks last)<br /><br /><span style="text-decoration: underline;"> </span></li>
<li><span style="text-decoration: underline;">Group Reductions<br /></span>Including up to one in six go free and free name changes up to four weeks prior to the group’s date of departure</li>
</ul>
<ul>
<li><span style="text-decoration: underline;">FREE Child Places</span> <span style="text-decoration: underline;"><br /></span>On many Inghams charter and committed scheduled flights to Europe for children aged 2 – 11</li>
</ul>
<p>In addition to the above unbeatable offers, Inghams’ cast iron Lift Pass price guarantee remains, meaning guests who pre-book their lift passes in the UK will not lose out.</p>
</div>
<p><strong>ENDS.</strong></p>
<p>For bookings, please visit <strong>www.inghams.co.uk, </strong>call <strong>01483 791 116.</strong></p>
<p>For PR enquiries, please contact Frankie Gibson, PR Executive, on frankie.gibson@inghams.co.uk or call <strong>01483 791 045</strong>.</p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>0</deactivateThisPage>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Inghams Launches Ski 17/18 Main Edition Brochure]]></metaDescription>
  <metaTitle><![CDATA[Inghams Launches Ski 17/18 Main Edition Brochure]]></metaTitle>
  <newsItemDate>2017-07-26T00:00:00</newsItemDate>
  <pageTheme><![CDATA[0]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <thumbnail></thumbnail>
  <title><![CDATA[Inghams Launches Ski 17/18 Main Edition Brochure]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsItemPage>