<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="d08d57e8-78eb-4b19-8ee2-2f182f507657" id="70762" nodeName="January Ski Deals" isDoc="" updated="2024-04-24T12:47:22.3870000Z" parentGUID="b9185666-6810-481b-a7b2-54adf12dbe71" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="3" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Ski Holidays by Train",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/481bd9f2dd35417f901b665fc15d462d",
    "externalLink": "",
    "linkName": "January Ski Deals",
    "linkTitle": "January Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>