<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="b9e13874-a251-4a8c-a31d-66b502a1e9b9" id="22795" nodeName="Chalet Côte d'Arlin" isDoc="" updated="2024-07-29T14:52:08.6200000Z" parentGUID="870730ce-feb2-441d-ab9c-cfec19c2fe88" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="16" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li><span>For information on our Chalet cuisine</span> <a href="/{localLink:a48c84d8-fa41-41ec-b220-11067ce4f415}" title="Chalet">click here</a></li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>This chalet offers comfortable accommodation with an attractive pine-clad living/dining area with a log fire and comfy sofa ensuring a warm and cosy atmosphere.</p>
<p>There is a choice of twin, double or triple bedrooms, all with their own bath or shower rooms and most also have a balcony. The Côte d’Arlin enjoys an excellent location in the Mussillon area of Méribel which is just a 10-15 minutes’ walk (800m) to the piste that runs down to the main Chaudanne lifts. There is a regular bus service but to make life even easier we offer a complimentary minibus service to and from the lifts in the morning and afternoon. Méribel’s famous nightlife is within easy reach, with the nearest bar just a few minutes’ walk away.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/16284a13e92e48da930cf7b935c2613d,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Traditional Savoyard chalet</li>
<li>Spacious sun terrace</li>
<li>Attractive lounge with log fire</li>
<li>All bedrooms with private or en suite facilities</li>
<li>Complimentary minibus service to and from the ski lifts</li>
<li>Ski room with heated boot-rack</li>
<li><strong>Free</strong> transfer to the ski hire shop for fitting and return of equipment</li>
<li><strong>Free</strong> Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>This chalet offers comfortable accommodation with an attractive pine-clad living/dining area with a log fire and comfy sofa ensuring a warm and cosy atmosphere</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/6de5baa7d49d4e06a868a611d2de7802]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Cote d'Arlin, Meribel in the Three Valleys Ski Area, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Chalet Cote d'Arlin Meribel - France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>0</nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>6</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRME0121]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation Summary</strong></p>
<p><strong>Ground Floor</strong></p>
<p>Entrance and ski room. Lounge/dining area with TV, fireplace and terrace</p>
<p><img src="/media/5635957/Cote-dArlin_Ground-floor.jpg" alt="" align="absmiddle" /></p>
<p><strong>First Floor<br />Room 1:</strong> Double with shower/wc/balcony.<br /><strong>Room 2:</strong> Twin with bath/wc/balcony.<br /><strong>Room 3:</strong> Twin with bath/wc/balcony.<br /><strong>Room 4:</strong> 'L' shaped twin with shower/wc.</p>
<p><img src="/media/5635956/Cote-dArlin_First-floor.jpg" alt="" align="absmiddle" /></p>
<p><strong>Second Floor<br />Room 5:</strong> Triple (sleeps 2-3) with 3 single beds and balcony. Private bath/wc (not en suite).<br /><strong>Room 6:</strong> Triple (sleeps 2-3) with 3 single beds and balcony. Private bath &amp; separate wc just outside room.</p>
<p><img src="/media/5635958/Cote-dArlin_Second-floor.jpg" alt="" align="absmiddle" /></p>
<p>N.B.: Floor plans are for guidance only and are not to scale.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Traditional Savoyard chalet</li>
<li>Spacious sun terrace</li>
<li>Attractive lounge with log fire</li>
<li>All bedrooms with private or en suite facilities</li>
<li><strong>Free</strong> Wi-Fi</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/870730cefeb2441dab9ccfec19c2fe88]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>