<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelItem guid="c3ddb227-6455-4f1a-a354-2c1b8b39eed7" id="29420" nodeName="December 2023 Lapland Deals" isDoc="" updated="2023-02-22T20:30:07.0530000Z" parentGUID="dbe837eb-8ee1-4394-ac22-a8f48c815c07" nodeTypeAlias="productFeaturePanelItem" templateAlias="" sortOrder="6" published="true" isBlueprint="false">
  <contentLink><![CDATA[[
  {
    "name": "Lapland Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/25851216a21f4fddaee986c799f732cd",
    "externalLink": "",
    "linkName": "Lapland Deals",
    "linkTitle": "Lapland Deals"
  }
]]]></contentLink>
  <imageUrl><![CDATA[umb://media/68e81e373dd54cee9a2d50fda2a6dc3f]]></imageUrl>
  <isPriceVisible>0</isPriceVisible>
  <isTitleVisible>1</isTitleVisible>
  <isVisible>1</isVisible>
  <itemPosition>5</itemPosition>
  <linkType><![CDATA[0]]></linkType>
  <offerSettings></offerSettings>
  <price></price>
  <title><![CDATA[Lapland Deals]]></title>
</productFeaturePanelItem>