<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="bc71e26b-7bca-4782-8a01-a7195bbb16ae" id="30705" nodeName="Will I get a reminder when payments are due?" isDoc="" updated="2018-12-03T13:08:19.5170000Z" parentGUID="427aa7d9-4bd2-47ff-972c-7733f32dda75" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <answer><![CDATA[<p>Yes, an email reminder will be sent out approximately 12 weeks before departure. We strongly recommend you do not rely on this service and you note down when your final balance is due.</p>
<p> </p>
<p>We do offer a service that you can opt into, where the remainder of your holiday balance is automatically debited from the payment card initially used, please let us know if this a service you would like to use.</p>
<p> </p>
<p>Please note that Inghams do not store your card details. These card details are retained by a separate financial company, regulated by the Financial Services Authority who ensure stringent data protection controls are in place.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[Will I get a reminder when payments are due?]]></question>
</fAQItem>