<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="55045b9f-5318-44ca-a7ed-44385b70584a" id="74153" nodeName="Comfort Hotel Bergen" isDoc="" updated="2024-10-16T14:43:55.8400000Z" parentGUID="d517b2c2-1fa9-4eb0-96a3-bcb6b7e933c5" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="12" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/25cae173585f4a7ea0a6cf427c987d0a,umb://media/73ea439e417c448b961e653002856d32,umb://media/32408dc89d97401c8491c0e78b68078e,umb://media/d0d4eda603cb460694fdcac9847301cb,umb://media/aa0689b97b9548599ca7516db23fb77c]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Each morning from 6.30am - 9.30am (Monday to Friday), 7.30am - 11am (Saturday and Sunday) a breakfast buffet is served. There's a great choice for breakfast which includes breads, cheeses, meats, eggs, yogurts, juices and coffee. An added bonus too is that you'll find a great selection of organic produce at the breakfast buffet. </p>
<p>The hotel also has a 24/7 Barception where you can purchase refreshments and baguettes. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>On the Strandgarden, one of the oldest pedestrianised streets in Bergen, you will find the Comfort Hotel Bergen. A recently refurbished hotel, with everything you need for a stay in Bergen, you're sure to have a great stay. </p>
<h2>Central Bergen</h2>
<p>If you're looking for a modern hotel in the centre of the city, then look no further than the Comfort Hotel Bergen. Here you will find a comfortable hotel with a good buffet breakfast, which is perfect to set you up for a day exploring fjords and wandering the cobbled streets of Bergen. </p>
<h2>Relax with friends and family </h2>
<p>The hotel has a warm welcoming atmosphere and the hotel lounge is the perfect spot to relax with friends and family after a day walking in Bergen on your summer holiday. Head to the Barception where you can grab a bit to eat and drink, then come back to the lounge to relax. The lounge also has a TV and table tennis for guests to enjoy. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge</li>
<li>Roof Terrace </li>
<li>CrossFit gym</li>
<li>Free Wi-Fi</li>
<li>Parking</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "4676533d-7581-4499-9853-c2488cf07797",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f2177f1b-c100-4ba4-85ea-b99dced54fde\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Comfort Hotel Bergen is the perfect mix of modern and traditional. A modern hotel located on one of the oldest pedestrianised streets in Bergen, Strandgarden. At the hotel you'll find some great facilities too like the roof terrace, lounge and gym. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/25cae173585f4a7ea0a6cf427c987d0a]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: Approx. 50 minutes via light rail (tram).</li>
<li>Centrally located</li>
<li>5 minute walk to the nearest bus stop (Torget) </li>
<li>15 minute walk to Bergen train station</li>
<li>100m from the nearest supermarket </li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at the Comfort Hotel Bergen with Inghams today. Enjoy a modern hotel with central location.]]></metaDescription>
  <metaTitle><![CDATA[Comfort Hotel Bergen | Norway Walking Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>159</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Comfort Hotel Bergen]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOBE0111]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Double/Twins Rooms</strong> are approx. 15<span>m² and sleep up to two guests. These rooms are on request, please call to book.</span></p>
<p><strong>Superior Double/Twins Rooms</strong> are approx. 14<span>m² and sleep up to two guests. These rooms are on request, please call to book.</span></p>
<p><strong>Single Rooms</strong> are approx. 10<span>m²</span> and are available on request, please call to book. </p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Bath or shower</li>
<li>TV </li>
<li>Safe</li>
<li>Minibar</li>
<li>Hairdryers </li>
</ul>
<p><strong>General information </strong></p>
<ul>
<li>Check in: 3pm</li>
<li>Check out: 12pm</li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>From autumn 2024 Norway may be introducing a tourist tax to pay locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[206360]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>