<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="80c734d6-b2f1-45ac-bbf8-d5f077de3eec" id="17003" nodeName="Thermal Spa Hotel Pulverer" isDoc="" updated="2021-12-30T18:03:33.8730000Z" parentGUID="94b552a3-be27-475a-96f3-83a176d11ac1" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "f6170f52-2f45-46f3-a41d-aa33b44cf19a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams",
    "addedValueStart": "2019-08-08T09:37:48",
    "addedValueEnd": "2099-08-08T09:37:50",
    "hideAddedValue": "0"
  },
  {
    "key": "02948b74-0857-40f5-9797-df4abbddab62",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily après-ski snacks (drinks payable)",
    "addedValueStart": "2019-08-08T09:38:11",
    "addedValueEnd": "2099-08-08T09:38:13",
    "hideAddedValue": "0"
  },
  {
    "key": "cf8dcfcb-6c06-4fea-90b8-632957d8f7ef",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "No single supplement ",
    "addedValueStart": "2019-08-08T09:38:31",
    "addedValueEnd": "2099-08-08T09:38:33",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[1,6,9,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/0fb76fe604864fd18b06f1a21f15ecca,umb://media/24078908d4724d639913c7db49149567,umb://media/2323b13559ae4b4582acbd9432eec5ca,umb://media/0cf8ff96f661424db1eb865fcb363e35,umb://media/550b36336869452a831d7ae81b68724f,umb://media/8000d43210f1493883e779eed2d9859e,umb://media/cc2b0aeca46f42a890ee4254c99d4133,umb://media/247ae00b50ef4a0f99a4dd838d0bf4a4,umb://media/98f344032c2047ef946b51ddb048039c,umb://media/9c128c80b7a24be59b7772e9520ee60c,umb://media/70f860f4b5554f3da408d8c7563eecfd,umb://media/7375ba690a7640ae88c9d6164434353e,umb://media/582a89991cd84e27becbc32b51eeb361,umb://media/12e0d08184e84e7f89bba18dd56c027e,umb://media/a67922a5bf5c4cd3a517fc98b5e2aeb5]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Award-winning cuisine using local produce.</li>
<li>Hot and cold buffet breakfast</li>
<li>5 course evening meal with choice of main course.</li>
<li>Christmas and New Year’s gala dinner included.</li>
<li>Special diets catered for.</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>This luxury spa hotel is lovingly run by the friendly Pulverer family who pride themselves on their hospitality as well as the home-from-home atmosphere they have created in their superior hotel. The hotel has a large wellness area with its own thermal spring,  thermal indoor and outdoor pools, thermal jacuzzis as well as 10 different saunas and a wide range of massage and beauty treatments. Free daily après-ski snacks and cakes are included for all guests.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre>200</distanceToCityCentre>
  <distanceToLift>200</distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/269de525a30f43249daa18279ac7cbde,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/6c17c206ef6249ae9e5146c2bc96e638]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Residents &amp; a la carte restaurants</li>
<li>Large leisure area with thermal water indoor pool, outdoor pool, indoor and outdoor jacuzzis, various saunas:,</li>
<li>The Troadkast’n Sauna (90 °C), a rusty hot air bath, which strengthens your immune system</li>
<li>Finish Swiss Pine Sauna (85 °C), the immune system will be strengthened and your blood circulation will be stimulated.</li>
<li>Tibetan Salt Rock Tepidarium (35-38 °C), because of the temperature and of the salt rock this sauna has an especially good effect on your airways.</li>
<li>Sea Salt Steam Bath (40-45 °C), perfect for skin and cleanses the airways.</li>
<li>Infrared Sauna, the combination of low temperature, infrared and lava sand technology creates a healthy deep warmth without stressing the heart or the blood circulation.</li>
<li>Herbal and Aroma Grotto (45 °C), aromatic essences and the mild humidity will cleanse the skin and airways</li>
<li>Rock-Crystal-Tepidarium (35-38 °C) the Rock Crystal Tepidarium offers a meditation rock and is therefore perfect for meditations.</li>
<li>Herbal Sauna, a health-enhancing and relaxing hot air bath that stimulates the blood circulation and enhances the immune system.</li>
<li>Steam room, relaxation room, tea &amp; fruit bar <strong>(Free)</strong></li>
<li>Massage &amp; beauty treatments (pay locally)</li>
<li>Large conference room</li>
<li>Wine Cellar (regular wine tastings, pay locally)</li>
<li>Wi-Fi internet access <strong>(Free)</strong></li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/567a268ddf014965ac70ad6a473cbee9]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This luxury spa hotel is lovingly run by the friendly Pulverer family who pride themselves on their hospitality and home-from-home atmosphere. It benefits from a great position just 300m from the Maibrunn lift with a ski bus stop outside. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/cc2b0aeca46f42a890ee4254c99d4133]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li><strong>Location:</strong> 100m to the centre, and 200m from the Sonnwiesen lift.</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[98 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Thermal Spa Hotel Pulverer, in The Carinthia Ski Area, is a luxury spa hotel with 10 saunas and its own thermal spring. Book Now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Thermal Spa Hotel Pulverer Bad Kleinkirchheim, Ski | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Sonnwiesen</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>98</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[5]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATBK0106]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Spacious Junior Suites sleep up to 4 and have bath, separate shower and lounge area</li>
<li>Luxury Apartments are larger still and have bath or shower and separate bedroom.</li>
<li>Singles with bath are available at no supplement (sofa bed for child available).</li>
<li>All rooms have balcony, free Wi-Fi, TV, telephone, bathrobes, slippers, minibar, safe and hairdryers.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li><strong>Location:</strong> 100m to the centre, and 200m from the Sonnwiesen lift.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1222982]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/7cc7c659d5214aa9b4d7bed936a721bb]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>