<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="c3937c76-de6f-4274-b989-ede8796983dd" id="41451" nodeName="Hotel Le Kern" isDoc="" updated="2024-07-24T14:19:53.6870000Z" parentGUID="16c56b28-3bca-4ae2-b2ad-a820a5d3a03d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="14" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>There is no lift in the hotel.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "7489bca7-5865-4ff2-bcbd-6ccb62324308",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early Booking Offer: Save up to £tbc per couple (ends 31 Oct)",
    "addedValueStart": "2019-10-01T15:40:40",
    "addedValueEnd": "2019-10-31T15:40:53",
    "hideAddedValue": "0"
  },
  {
    "key": "394b55a8-3604-4fad-9cb9-b08b48dfad82",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Oct 22)",
    "addedValueStart": "2022-04-20T09:00:00",
    "addedValueEnd": "2022-10-31T23:55:55",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/41e205d5233440e781e2b30cbffdfd5f,umb://media/7e0582826d4447c2993ae2ea4d3a7661,umb://media/443209aea2e448fe9bfdd94b706d0f2d,umb://media/a4eb392aa9fa4891bf56b4938ae8b4a6,umb://media/132d9a0172344e07898bb524332593d0,umb://media/49c2c6be7f5b443fb259ed2aa277d273,umb://media/b7a6c49ee39246f6971417c72412cb45]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Continental buffet breakfast, with additional hot options is served in the relaxed restaurant</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Le Kern is in a location that can't be beaten with all of the delights of <a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isere</a> on the doorstep, and in close walking distance to the ski lifts. The hotel is run on a bed &amp; breakfast basis, allowing you the freedom to enjoy the array of local restaurants.</p>
<p>Le Kern is a good value hotel in a prime resort. There is a cosy and welcoming atmosphere, which is seen right through to the simple and lovely bedrooms.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge with fireplace</li>
<li>Bar</li>
<li>Superb central location on the main street of the resort</li>
<li>Free WiFi throughout </li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Cots are available on request</li>
</ul>]]></familyDescription>
  <familyFacilities><![CDATA[umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[2.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.449323]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Le Kern is a delightful addition to our programme, offering good value accommodation in this prime resort! Its central location cannot be beaten, with all the delights of <a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isere</a> on its doorstep and within close walking distance to the ski lifts.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/41e205d5233440e781e2b30cbffdfd5f]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax €1 per person, per day (under 18s free of charge) paid locally</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p> </p>
<ul>
<li>Resort centre location</li>
<li>50 metres to the nearest ski bus stop</li>
<li>200 metres to the ski lifts</li>
<li>200 metres to the ski school meeting point and nursery slopes</li>
<li>100 metres to the supermarket</li>
<li>Ski hire shop is next door</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.978356]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[17 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Le Kern is a delightful new addition to our programme for Winter 19/20, offering good value accommodation in this prime resort.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Le Kern Val d'Isère - France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>17</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[2]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/5113bdd1a0164e7faff649d6862842ec",
    "promotionBannerMobile": "umb://media/13415eba27fd4d17990d3d4e92e92297",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Tignes-Val d’Isère Half Price Lift Pass Offer\",\r\n    \"udi\": \"umb://document/f72f52b947094429a1a17a67b5ea9a51\"\r\n  }\r\n]",
    "promotionStartDate": "2021-08-20T00:00:00",
    "promotionEndDate": "2022-04-03T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[FRVD0118]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>All rooms have twin or double beds (please specify preference when booking), WiFi, TV with international channels and hairdryer.</p>
<ul>
<li>Standard rooms will sleep 2 people and are around 15m². All standard rooms will have a shower</li>
<li>Larger rooms will sleep 2 people and are around 20m², and all will have a bath with shower head attachment</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[314088]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>