<?xml version="1.0" encoding="utf-8"?>
<homePageHeroCarouselItem guid="79247c76-3925-424d-9adc-d954ca66500e" id="27471" nodeName="Lakes and Mountains 2020" isDoc="" updated="2019-12-27T09:32:28.1800000Z" parentGUID="c79fe667-b034-4936-b5d2-ba74cfe5e8b0" nodeTypeAlias="homePageHeroCarouselItem" templateAlias="" sortOrder="4" published="false" isBlueprint="false">
  <cTALink><![CDATA[[
  {
    "name": "Lakes & Mountains Holidays",
    "udi": "umb://document/96a3e4d143704d3e93793368e4fc0416"
  }
]]]></cTALink>
  <image><![CDATA[umb://media/319d7f15c284444b98996231b5c5bd3b]]></image>
  <primaryStrapline><![CDATA[Lakes & Mountains 2020]]></primaryStrapline>
  <secondaryStrapline><![CDATA[The finest scenic holidays, walking & tours]]></secondaryStrapline>
  <straplineFontColour><![CDATA[ffffff]]></straplineFontColour>
  <tabStrapline></tabStrapline>
</homePageHeroCarouselItem>