<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="f63da55f-5ec4-4f25-9138-0b1686e956dc" id="24815" nodeName="Hotel Sonnschein" isDoc="" updated="2024-11-25T15:44:13.6270000Z" parentGUID="3c1c4e11-9772-493f-a932-ed5a06912edf" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Step free. In a flat area away from the village which is slightly uphill.</p>]]></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Sonnschein has about 25 disabled friendly double and single rooms. Some new wing rooms complete with bathrooms suitable for wheelchair users.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "1e53f6de-f4c2-447d-8cdb-7145d7e56ad4",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 30 Sep)",
    "addedValueStart": "2019-08-07T15:36:49",
    "addedValueEnd": "2099-09-30T23:59:00",
    "hideAddedValue": "1"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/ee853647cb21453ca9235361427cf3eb,umb://media/0761134f191a4b6ab838c480866bf8fb,umb://media/452c5c998b574c3e853dcc2a3ba0dc58,umb://media/bff8294104724b048592354fab8f8aaf,umb://media/efdc1cf9f529400d8e90aacf75d0e3d3,umb://media/5ed7842b18cb4bb1acf81e0ae8d1cd2d,umb://media/e3196478a0524ecabf69e59efa243c02,umb://media/9eb81bb123da4faf9aa141700c7d2deb,umb://media/e4bb998b51b4439b81fa91248269c9b9,umb://media/d26432b4b20f456aaec937e7436b4757,umb://media/149bbb1fe0a24029ad547dd61761b5c3,umb://media/14ce1a2f398c47a5a4400989fe2779b0,umb://media/80a970addd9d4a2d9f2e8946a21b0ce1,umb://media/8536da48bd684391b61e0d80f78818d2,umb://media/e15c97a936994a3cbbd41750a055e68d,umb://media/b0279335af6b477c9f73550fb8b47860,umb://media/dab48abaf8a2426f905906c0f1f43fb1,umb://media/ebb6d9308a76495bb590a084999a1c2d,umb://media/5ee881d648f847808698c2f312e34e05]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Hot and cold buffet breakfast</p>
<p>Four course evening meal with three choices of main dish plus daily salad buffet</p>
<p>Christmas and New Year special dinners included</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>A warm welcome is provided by the team at the Hotel Sonnschein. The hotel has room types to suit everyone and leisure facilities including two indoor pools.</p>
<h2>Rooms</h2>
<p>The hotel has a relaxed and informal atmosphere. The main hotel building is the original building, which houses the reception, dining room and some guest bedrooms. Two newer wings are connected to the main building, one is decorated in a traditional Tyrolean style and the other has a more modern style.</p>
<p>Ideal for families, with a variety of room types including spacious family rooms. There is also a great variety of twin and single rooms available.</p>
<h2>Wellness World</h2>
<p>The Hotel Sonnschein has upgraded their leisure facilities for this winter which includes two swimming pools and plenty of places to relax.</p>
<p>Chill out in the family area with indoor pool with whirlpool corner, or head to the adults only area with a Mediterranean indoor pool with underwater massage loungers. The adults only spa area also has infrared cabin, multiple saunas and steam rooms and a waterfall room.</p>
<h2>Facilities</h2>
<p>If you are looking for somewhere to relax after a day on the slopes, head to the game room with table tennis and pool table. There is also a children's playroom for the little ones.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge with open fireplace</li>
<li>Bar</li>
<li>Residents' restaurant</li>
<li>Two indoor pools, saunas (swimsuits permitted), steam room, infrared cabin and fitness room</li>
<li>Solarium (pay locally)</li>
<li>Ski and boot room</li>
<li>Ski storage available at sister Hotel Harfenwirt (opposite the Tennladen lift)</li>
<li>Wi-Fi access in lobby</li>
<li>Washing machine and dryer (pay locally)</li>
<li>Lift</li>
</ul>
<p><strong>Family Facilities</strong></p>
<ul>
<li>Family friendly hotel</li>
<li>Games room with table tennis and pool table</li>
<li>Play room</li>
<li>Children's menu</li>
<li>Cots &amp; linen</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "8b037c24-628e-4022-bf84-d6465ad25949",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"5b774142-1df7-4b08-a6e9-e5b9c7bf3f52\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.44997]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A warm welcome is provided at the Hotel Sonnschein. Ideal for families, with a variety of room types including spacious family rooms. The Sonnschein also has leisure facilities including two swimming pools, wellness facilities and a children's playroom.</p>
<p> </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ee853647cb21453ca9235361427cf3eb]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €3.50 per person per night to be paid directly to the hotel.</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Eight minutes' walk to the centre and ski bus stop</li>
<li>Ten minutes to the lifts, ski school meeting place and nursery slopes</li>
<li><span>Transfer time: approx. 1 hour 15 mins by coach from Innsbruck airport and 2 hour 30 mins by coach from Salzburg airport</span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.09666]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[142 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Family-friendly Hotel Sonnschein in Niederau is a perfect base for Ski Juwel adventures. Book your holiday with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Sonnschein | Niederau Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>142</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Sonnschein]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATNI0101]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Austrian Twin </strong>rooms have a bath. Some of these rooms have balconies and can sleep two adults and one child up to 13 years using a pull-out bed.</p>
<p><strong>Family Room Superiors </strong>can sleep three to four - one room with Austrian twins beds and separate room with lounge area with a double sofa bed and a put up bed. These rooms have a bath and a balcony.</p>
<p><strong>Twin Room Superiors </strong>can sleep two guests and have a bath, lounge area and balcony.</p>
<p><strong>Single Superior </strong>rooms have a shower and a balcony.</p>
<p><span>The main hotel building is the original building, which houses the reception, dining room and some guest bedrooms. Two newer wings are connected to the main building, one is decorated in a traditional Tyrolean style and the other has a more modern style. Location of newer wing rooms can be requested at the time of booking but not guaranteed.</span></p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Cable / satellite TV</li>
<li>Minibar / fridge</li>
<li>Safe</li>
<li>Kettle (Tea and coffee not supplied but guests can purchase themselves or purchase from reception)</li>
<li>Wi-Fi</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p><span>The Hotel Sonnschein can only cater for vegetarians, with one choice being offered daily. Other dietary requirements (including vegans) cannot be catered for. Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[500780]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>