<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="e263cb42-e973-47a9-a74e-679325815132" id="22204" nodeName="Hotel Italia" isDoc="" updated="2024-12-10T10:50:37.3270000Z" parentGUID="41229767-036d-47f2-8a27-ac846e23458b" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "17f39ec4-2c56-40c4-b7c0-913b03c064fd",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 25 (ends up to 45 days prior to arrival) (min 3 night stay)",
    "addedValueStart": "2022-09-06T12:11:30",
    "addedValueEnd": "2026-01-02T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "cfd82c35-f86f-4e5e-ae9c-227c5c6ac20c",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Honeymoon & Silver Wedding Anniversary Offer: free bottle of wine (pre-advise at time of booking)",
    "addedValueStart": "2020-03-19T13:50:46",
    "addedValueEnd": "2025-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "74954aca-928a-4a8f-a2e4-2734a966f0ee",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of hotel's city bikes",
    "addedValueStart": "2020-03-19T13:51:35",
    "addedValueEnd": "2025-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/fb7a9fccd8ee4a23bd90fcb5cc7d2a3b,umb://media/4fa87a77931e46b3b402e3996b62941e,umb://media/a98b316664b441139fd8d0f2f7470c80,umb://media/931c53400aa8401c83d7d3d9620b6938,umb://media/560ed35e7d0f4beaba87aba843042347,umb://media/18b6af4d1bea4c3993f1df0b782cc9e1,umb://media/fd155ba152764346ae6347a5bccffbaf,umb://media/441f4a340fb8451d96f2b59efaa9f07d,umb://media/e35e77064e62423c8bdac96c789af23a,umb://media/7099ce15fc994bdfb39804b23da6cda9,umb://media/4feafe0f93cc4429a9db48b07c8c404b,umb://media/b1dbb0f7e3a6445fa844a5a476d33d5f,umb://media/1845fe91581e43f9a4db36fe499cc85f,umb://media/0df5d98448864d0a8709a60bc661c4cd,umb://media/c8a63419191743619f4a09b7e211989b]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>A buffet breakfast is served each day in the hotel's breakfast room with a delicious selection of hot and cold options.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Italia has a very welcoming atmosphere, with a sleek modern feel to it.</p>
<h2>Great location near central Verona</h2>
<p>The hotel's not far from the historic centre of <a data-udi="umb://document/41229767036d47f28a27ac846e23458b" href="/{localLink:umb://document/41229767036d47f28a27ac846e23458b}" title="Verona">Verona.</a> It's about a twenty minute walk from the hotel to the main sights such as the stunning Verona Arena, that hosts the world-famous opera and other concerts. If you fancy breaking up your stroll through the city, stop at for an espresso at Piazza delle Erbe, with its buzzing cafés and beautiful baroque buildings.</p>
<h2>Relax in the spa or with an aperitivo</h2>
<p>After exploring the city come back and relax in the hotel's small wellness centre and unwind in the sauna or whirlpool. Once you are fully relaxed grab a pre-dinner aperitif from the bar whilst enjoying the terrace garden. There are loads of great restaurants tucked away in Verona, so head into town and see what you can find for dinner.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Small spa area with a whirlpool, sauna and fitness room (approx. €25 per hour, payable locally. This charge includes spa towels)</li>
<li>Spa towels</li>
<li>Terrace with bar service</li>
<li>Free Wi-Fi</li>
<li>Garage (payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "a38057ec-3339-49c0-927c-5f2574cd6f5f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"06791329-c7fb-45d8-87d2-8bb50f7ab16a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Italia's just a twenty minute walk from Verona's historic city centre. Expect modern décor, as well as a small wellness centre, perfect for relaxing.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/fb7a9fccd8ee4a23bd90fcb5cc7d2a3b]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 20 mins by taxi from Verona airport.</li>
<li>50 metres to the nearest bus stop</li>
<li>1 kilometre to the historic centre of Verona</li>
<li>1.8 kilometres to the Arena di Verona</li>
<li>3 kilometres to Verona Porta Nuova train station</li>
<li>10 minute walk from Piazza delle Erbe &amp; Juliet's Balcony</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday to Hotel Italia today with Inghams. Just a twenty minute walk from Verona's historic centre and Arena.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Italia | Holidays in Verona | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>55</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Italia]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITVR0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms</strong> are about 20m² and sleep two people. Standard rooms that sleep up to three people (extra bed is a single sofa bed) are available for a supplement. </p>
<p><strong>Superior Rooms </strong>are more spacious at about 30m² and sleep up to three people (extra bed is a single sofa bed). They have tea &amp; coffee making facilities, bathrobes and slippers.</p>
<p><strong>Family Rooms </strong>are about 40m² and sleep up to four people (extra beds are two single beds).</p>
<p><strong>Standard Rooms for sole use </strong>are about 20m² and have a single or French bed.</p>
<p>Balconies are available on request for a supplement of €10 per person per night (not applicable to Family Rooms)</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air-conditioning</li>
<li>Shower</li>
<li>Hairdryer</li>
<li>TV</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p>Cots are available on request.</p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A tourist tax of approx. €4.50 per person per night (for first five nights only) is payable locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[233907]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>