<?xml version="1.0" encoding="utf-8"?>
<reskinProductGoodToKnowItem guid="a4d69f7f-f499-406c-af5e-9d00df456c26" id="60828" nodeName="Getting to Resort" isDoc="" updated="2024-02-06T09:57:31.0000000Z" parentGUID="9806fa98-334d-42c4-8619-91a4f557d559" nodeTypeAlias="reskinProductGoodToKnowItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <goodToKnowIcon><![CDATA[flights-transfers-accommodation]]></goodToKnowIcon>
  <goodToKnowItemDescription><![CDATA[<p><span>Explore a world of travel options - by plane, train, or car, offering the perfect flexibility for your next walking holiday.</span></p>]]></goodToKnowItemDescription>
  <goodToKnowItemTitle><![CDATA[[
  {
    "name": "Getting to Resort",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/9ccf4d09668746379a219a2e315011b4",
    "externalLink": "",
    "linkName": "Getting to Resort",
    "linkTitle": "Getting to Resort",
    "linkTitleColor": ""
  }
]]]></goodToKnowItemTitle>
</reskinProductGoodToKnowItem>