<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="4a37a00f-d53d-48e9-91bf-bde27ce6fa0f" id="23385" nodeName="Hotel Sun Valley" isDoc="" updated="2023-10-26T12:30:25.7070000Z" parentGUID="37d9070a-8d4e-4a60-9b9c-192e453f0f97" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="16" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,6,9]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>2</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Buffet breakfast</li>
<li>4 course evening meal</li>
<li>Christmas and New Years dinners included</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>The superior Hotel Sun Valley enjoys the perfect position in the centre of the resort and 250m from the Ciampinoi lift. The ski bus stops outside the hotel. It offers excellent cuisine, elegant interiors and attractive spa centre, the best place to relax after a long day skiing. Facilities include bar and lounge area, dining room, spa and wellness centre with heated indoor pool and whirlpool, two saunas, steam room, ice fountain and relaxation room with water beds.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Buffet &amp; waiter service</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift>350</distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>300</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Bar and lounge area</li>
<li>Spa and wellness centre</li>
<li>Indoor heated pool</li>
<li>Whirlpool</li>
<li>Steam room</li>
<li>Massages/beauty treatments (pay locally)</li>
<li>Small children's playroom</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/567a268ddf014965ac70ad6a473cbee9]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Exclusive to Inghams</strong></li>
<li>Free afternoon cake daily 3-5pm</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.553750]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The superior Hotel Sun Valley enjoys the perfect position in the centre of the resort and 250m from the Ciampinoi lift.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/a568182a47054e4d9bd949371a453a6c]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Local tourist tax payable directly to hotel</p>]]></localFees>
  <locationDescription><![CDATA[<p>In the centre of Selva, 4 minutes’ walk (350m) to the Ciampinoi gondola</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.763678]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Sun Valley, Selva in The Dolomites Ski Area, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Sun Valley, Selva Dolomites Italy - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Ciampinoi gondola</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>27</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITSV0121]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<ul>
<li>All rooms have bath or shower, bathrobes and slippers, hairdryer, satellite TV, telephone, minibar and balcony.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Location: In the centre of Selva, 3 minutes’ walk (250m) to the Ciampinoi gondola. Wellness centre with indoor pool, sauna, steam room, whirlpool and relaxation area</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/37d9070a8d4e4a609b9c192e453f0f97]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>