<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksContainer guid="d45880bc-297c-4e71-b0d5-48089a2450dd" id="67057" nodeName="Can't find the ski deal you're looking for? Try these..." isDoc="" updated="2023-11-21T10:39:36.5600000Z" parentGUID="481bd9f2-dd35-417f-901b-665fc15d462d" nodeTypeAlias="reskinOfferLinksContainer" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <availableOffersDescription></availableOffersDescription>
  <listName></listName>
</reskinOfferLinksContainer>