<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="c266281b-26b3-48c6-9c37-c2233b4a3ebe" id="24586" nodeName="Add insurance" isDoc="" updated="2021-07-06T09:51:25.4270000Z" parentGUID="5c826db5-6a59-4928-9e20-182bd23f3962" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="1" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>Unfortunately, we are not able to add insurance to your booking after you have booked. However, you can purchase Inghams insurance direct with FOGG, by contacting them on 01623 631331. Alternatively, you are able to book online at </span><a rel="noopener noreferrer" href="http://www.fogginsure.co.uk/Inghams" target="_blank">www.fogginsure.co.uk/Inghams</a><span>.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[I have already booked my holiday. How can I now add insurance?]]></question>
</fAQItem>