<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="2b3fd5bd-5c94-4c0b-9c2e-be31451f1f49" id="23118" nodeName="Ulvik Hotel" isDoc="" updated="2021-12-30T12:39:37.4130000Z" parentGUID="5cc2f02c-69b8-4f1d-aac6-b84a0a98c6d2" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>This hotel is not suitable for guests using a wheelchair or have walking difficulties. Wheelchair is not possible.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes><![CDATA[<p>N/A</p>]]></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Extensive cold buffet breakfast.</li>
<li>Good 3 course evening meal taken from a buffet most evenings.</li>
<li>Occasional set menu </li>
<li>Free daily packed lunch </li>
<li>Free after dinner tea/coffee </li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>This friendly and informal hotel enjoys a convenient central village location with panoramic fjord views from its balcony rooms and fjordside terrace. Guests may use all facilities of the <a href="/{localLink:28ce439a-c2ac-40b6-b179-4d03076f1904}" title="Brakanes Hotel">Brakanes Hotel</a> 4 minutes (400 metres) away.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Buffet</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>100</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities><![CDATA[umb://document/269de525a30f43249daa18279ac7cbde,umb://document/8b2f642eb4794e909eb1185b50629f45,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Restaurant</li>
<li>Café</li>
<li>Pub with billiards and darts,</li>
<li>Comfortable lounge</li>
<li>Wi-fi (Free)</li>
<li>Guest computer</li>
<li>Scenic fjordside terrace.</li>
<li>Use of all facilities at <a href="https://www.inghams.co.uk/lakes-mountains-holidays/hotels/item91987/brakanes-hotel-i7921/">Brakanes Hotel</a></li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<p>With the use of the facilities in the Brakanes hotel it's a good hotel for families.</p>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>1</interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude><![CDATA[60.568689]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This friendly and informal hotel enjoys a convenient central village location with panoramic fjord views from its balcony rooms and fjordside terrace. Guests may use all facilities of the <a href="/{localLink:28ce439a-c2ac-40b6-b179-4d03076f1904}" title="Brakanes Hotel">Brakanes Hotel</a> 4 minutes (400 metres) away.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/7314a6715b314f4cb46fae93a05566bb]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.919026]]></longitude>
  <lunch><![CDATA[<p>Not included</p>]]></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Ulvik Hotel in Ulvik, Book Summer Lakes & Mountains Holidays with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Ulvik Hotel, Ulvik Norway - Lakes & Mountains Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>56</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOUL0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<ul>
<li>56. All our scenic twin rooms have fjord view balconies, bath or shower, telephone, hairdryer. No balconies in single rooms or triple family rooms. No single occupancy supplement 14 Aug-14 Sep.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[535577]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>