<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="1faffa53-d671-42b5-b39a-7d5028011bc7" id="33255" nodeName="VOI Alimini Resort" isDoc="" updated="2022-01-31T14:57:56.4900000Z" parentGUID="3e930c14-f9c5-4b6e-9b4e-0c6354960c61" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="5" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The hotel has some rooms with adapted bathrooms. These rooms are available on request, please call to book to ensure that these rooms meet your requirements.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "9fcae343-7bc4-42f4-8e54-7cb0211c2155",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save 20% on the hotel price for holidays booked by 31 Mar 19",
    "addedValueStart": "2019-03-14T16:35:01",
    "addedValueEnd": "2019-04-01T16:35:03",
    "hideAddedValue": "0"
  },
  {
    "key": "a85987df-1722-413d-8258-963c2dc210e5",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": " Save 10% on the hotel price for holidays between 08 Sep - 21 Sep booked by 31 Jul 19",
    "addedValueStart": "2019-06-28T09:17:11",
    "addedValueEnd": "2019-08-01T09:17:14",
    "hideAddedValue": "0"
  },
  {
    "key": "fca2231e-49f0-4432-b747-9fb0bce15d5c",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save 10% on the hotel price for holidays between 08 Sep – 21 Sep 19 booked by 31 Aug 19",
    "addedValueStart": "2019-07-31T09:57:27",
    "addedValueEnd": "2019-08-01T09:57:35",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/2a6b93d03f064391939aba0f279b2a2d,umb://media/443ddc50da7f4ea0b8470dda1f059e7f,umb://media/069c4df2ab104071a68ade1d93b652a4,umb://media/025af0490d2f416dbc05703a5999c3f3,umb://media/23faadedb4d649338f1ad5d90b1343da,umb://media/433b89dc3db94a03b8026e7c3aacd706,umb://media/5a31e8a11c584a1cadbeb37cdf355b5c,umb://media/3d78085d6afc4d49b0e8de15b9041698,umb://media/22349925b37c4ef3a5b83029fe7f469e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast and dinner are served buffet style and offer a variety of local dishes and children's menus.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>VOI Alimini Resort is a great family-friendly property on the shores of Southern <a data-udi="umb://document/d0c28188245b40a396dd64fb346dffcd" href="/{localLink:umb://document/d0c28188245b40a396dd64fb346dffcd}" title="Puglia &amp; Basilicata">Puglia</a>. With 308 rooms spread over large grounds and countless facilities, couples and families of all ages are sure to have a great time away here.</p>
<p>The three-star hotel has comfortable and spacious rooms as well as three restaurants serving delicious Apulian cuisine, plus one exclusively for children. A large freshwater pool has plenty of sun beds on which to relax and the wide sandy beach is just a short walk away through the hotel grounds. Its gently sloping sands and clear waters make it a popular choice for those with younger children.</p>
<p>If you like to keep active, you’ll be spoilt for choice here with sports ranging from golf to football and tennis. There’s a spa for when you’d like to relax and in the evenings there’s entertainment for the whole family with professional shows. Children are well catered for with kids’ club for up to 17 years.</p>
<p>The hotel’s location makes it easy to explore the lovely coastal towns in <a data-udi="umb://document/3e930c14f9c54b6e9b4e0c6354960c61" href="/{localLink:umb://document/3e930c14f9c54b6e9b4e0c6354960c61}" title="Salento"><em>Salento</em></a>. Otranto is about 20 minutes away by can and the stunning baroque town of <em>Lecce</em> is around a 45-minute drive away.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><span style="text-decoration: underline;"><strong>Restaurants &amp; Bars</strong></span></p>
<p><strong>Central Restaurant</strong> is conveniently located in the resort with a lovely terrace overlooking the pool. It offers typical Apulian cuisine in and guests can eat dinner here as part of the half board package.</p>
<p><strong>Beach Restaurant</strong> is positioned directly on the beach and offers a rich buffet of barbecued meat, fish and pizza. Special menus for children are available.</p>
<p><strong>Osteria Salentina</strong> is open for dinner and serves specialities from the Salento region. Children’s menus are available here.</p>
<p><span style="text-decoration: underline;"><strong>Pools &amp; Beaches</strong></span></p>
<p>There’s a large freshwater pool at the hotel with plenty of sun loungers and umbrellas for guests. A short walk through the hotel’s grounds will take you to the stunning sandy beach. It’s gently sloping banks make it great for families.</p>
<p><span style="text-decoration: underline;"><strong>Spa</strong></span></p>
<p>A wellness centre is available for a charge and has a Jacuzzi, relaxation area, sauna and treatments.</p>
<p><span style="text-decoration: underline;"><strong>Activities</strong></span></p>
<p>There’s plenty to keep you active at this resort with two football pitches (one 5-a-side), golf pitch &amp; putt, beach volley court, tennis courts, table tennis, bowls and a fitness room with a weights area.</p>]]></facilityDescription>
  <familyDescription><![CDATA[<p><strong>Voila Baby Club</strong> is a dedicated club for babies aged up to two years. It has all you need for your baby with bottle warmers, blenders, microwaves and fridges. You’re also able to reserve a baby kit for your arrival which has a stroller, high chair, baby bath and potty.</p>
<p><strong>Voila Kids</strong> has clubs for ages 3-6 yeas, 7-9 years and 10-12 years and included lunch and dinner. There are plenty of activities to enjoy like nature experiences, a kite lab and sport tournaments.</p>
<p><strong>Young Club</strong> caters for teenagers from 13-17 years and organises activities such as being an entertainer for a day, digital photo lab and drone experience. They’ll also be able to do watersports and enjoy video games in a dedicated area.</p>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude><![CDATA[40.2241541]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This lovely family-friendly property is on the shores of Southern Puglia, set amongst lovely pine forests and with countless activities for guests of all ages.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/2a6b93d03f064391939aba0f279b2a2d]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[18.4591462]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[308 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This family-friendly property sits on the white sands of Puglia near Otranto. Book your stay with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[VOI Alimini Resort, Puglia - Italy I Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>308</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITPG0138]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Rooms</strong> are tucked away in the gardens and some look out over the pool. Facilities include air conditioning, TV, minibar and hairdryer. Most have a patio or small furnished terrace.</p>
<p><strong>Superior Rooms</strong> have sea views, complimentary minibar, tea &amp; coffee making facilities and two sun beds and an umbrella reserved on the first row of the beach.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1799967]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/3e930c14f9c54b6e9b4e0c6354960c61]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>