<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="49be7318-eb66-4194-9ed2-8f9c779c8aab" id="17271" nodeName="Hotel Kolmhof" isDoc="" updated="2021-11-22T13:24:43.6230000Z" parentGUID="94b552a3-be27-475a-96f3-83a176d11ac1" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="3" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[1,2,6]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast</li>
<li>4 course evening meal with 3 choices of main course </li>
<li>Twice weekly gala dinner; weekly starter, dessert and salad buffet</li>
<li>Christmas and New Year’s gala dinner included</li>
<li>Children up to 14 years receive a children's menu</li>
</ul>
<p>Here is a sample of the <strong><a rel="noopener noreferrer" data-udi="umb://media/2747b58e0e844e5b8cb6393e096b0a1c" href="/media/13052111/menu-mittwoch-engl.pdf" target="_blank" title="Menü-Mittwoch-engl.pdf">menu available</a></strong> at the <strong>Hotel Kolmhof</strong>.</p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Conveniently located opposite the St. Kathrein Thermal Spa and only 100m from the Maibrunn lift, the family-run Kolmhof is lovingly run by the Lienert family and team and offers a large leisure area including a heated outdoor pool and various saunas as well as comfortable bedrooms.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/269de525a30f43249daa18279ac7cbde,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/973ee086e03c469faf177a069c61226b,umb://document/2a5cc4fcb8a64105a535f273f498beb5,umb://document/c8cd915b99e8478a91f70607a63460b4,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/6c17c206ef6249ae9e5146c2bc96e638,umb://document/59838f493c5c41ff94c1b89d8989c8db]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Residents and a la carte restaurant</li>
<li>Bar</li>
<li>Stube</li>
<li>Large leisure area with heated outdoor pool (accessible from the indoor area), various saunas, steam room, infrared cabin, jacuzzi, relaxation room, tea &amp; fruit bar <strong>(Free)</strong></li>
<li>Massage and beauty treatments (pay locally)</li>
<li>Small gym</li>
<li>Wi-Fi internet access in lobby <strong>(Free)</strong></li>
<li>Lift.</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Exclusive to Inghams</strong></li>
<li><strong>Free</strong> après-ski snacks 3 times per week (from 6 Jan)</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Conveniently located opposite the St. Kathrein Thermal Spa and only 100m from the Maibrunn lift, the family-run Kolmhof offers a large leisure area including a heated outdoor pool and various saunas as well as comfortable bedrooms.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/920eaf68c98841df966ca85bd7ca09d6]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[59 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Kolmhof, Bad Kleinkirchheim in The Carinthia Ski Area, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Kolmhof Bad Kleinkirchheim, Austria Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>59</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATBK0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Nockalm Austrian twins have shower, are at the front of the building and furnished in modern style</li>
<li>More spacious and traditionally furnished Kärnten Austrian twins have bath or shower and balcony and sleep up to 3.</li>
<li>Spacious and traditionally furnished Maibrunn Junior Suites have mountain view, sleep up to 4 and have a separate lounge area, bath and balcony</li>
<li>Sonnblick singles have bath or shower and are at the front of the building.</li>
<li>All rooms have TV, telephone, bathrobes and hairdryers.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li><strong>Location:</strong> Centrally located in the heart of Bad Kleinkirchheim, 150m from the Maibrunn chairlift and opposite the St. Kathrein thermal spa.  The cross country trail, the curling lane and many winter-walking trails are very close by.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/7cc7c659d5214aa9b4d7bed936a721bb]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>