<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="f329a02e-d604-46b1-afc9-76427bcceb5a" id="74547" nodeName="February Ski Deals" isDoc="" updated="2024-10-17T11:11:16.5870000Z" parentGUID="96931181-d9cc-4e4e-b629-033584fa3b0f" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "February 2025 Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/f49f348f00d949d7a66118ce474ea12e",
    "externalLink": "",
    "linkName": "February Ski Deals",
    "linkTitle": "February Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>