<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="77ac2268-b493-4cad-acb7-ace62a591e56" id="74151" nodeName="Thon Hotel Rosenkrantz Bergen" isDoc="" updated="2024-11-18T15:50:01.1270000Z" parentGUID="d517b2c2-1fa9-4eb0-96a3-bcb6b7e933c5" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="10" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/a8286275864c40519076616c95b6b431,umb://media/c25204ac018d464daf0ad0749cfd7689,umb://media/cceb4e91cf884ac49a6a74efbd5e4981,umb://media/de3f5a6e8e634f1d80190293b20c1087,umb://media/919fae88e279439895412826592a7533,umb://media/e714e6d6c8604352bb8fccb685af548c,umb://media/740768646ae6426f8370929fb8ffb777,umb://media/6d92d470f24949dc933e6c63e5310041,umb://media/763e4ca0678541d2bb66618e9c3f5493,umb://media/6f45cac56dca448288d8af17d367b8aa,umb://media/96beea9163854838a0b483e3f13e4370,umb://media/15fcc88954a64b4d8106b84e136f3230]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>For breakfast tuck into a delicious buffet with cooked and continental options. Breakfast is available Monday to Friday 6.30am to 9.30am, Saturday and Sunday 07.00 to 11.00am. </p>
<p>Complimentary coffee available in the lobby.</p>
<p>If you're wishing to enjoy an evening meal at the hotel then the restaurant is bookable and payable locally.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>With modern décor and an enviable position, the Thon Hotel Rosenkrantz makes a great base for city seekers and walking wanderers.</p>
<h2>Positioned in the heart of historic Bergen </h2>
<p>The popular Bryggen wharf with its multicoloured houses is right on your doorstep so it’s easy to get out and explore this UNESCO world heritage site. Or, walk 10 minutes and you’ll reach the Funicular station, you can buy tickets at the bottom then be carried up to Mount Floyen. At the top you can enjoy fantastic views of Bergen, take a wander on the walking paths, or, take a seat and enjoy some tasty treats at the café at the top. </p>
<h2>A modern hotel in a traditional setting</h2>
<p>The hotel might be in a historic location but the inside tells a different story with contemporary decor and furnishings with pops of colour and modern facilities to go with it. The staff here are always friendly, and the breakfast is served buffet style with a range of continental and cooked options.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Fitness area</li>
<li>Bar/lounge area</li>
<li>Free Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "76205a37-8033-4be5-b36d-9b0b0bbbbf68",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"d9b7fbdc-159b-42a1-87e7-11bea99ede4b\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>With a central location and fresh, contemporary furnishings the Thon Hotel Rosenkrantz Bergen makes a great choice for those wanting to be in the heart of the action.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b45cc5ce296f4457936b1819b5e57438]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport Transfer Time: Approx. 50 minutes from Bergen airport by light rail (tram). Then there is approx. 15 minutes walk from the light rail station to the hotel.</li>
<li>Centrally located in Bergen</li>
<li>Approx. 100 metres to the supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at the Thon Hotel Rosenkrantz Bergen today with Inghams. Enjoy a central location right by Bryggen Wharf.]]></metaDescription>
  <metaTitle><![CDATA[Thon Hotel Rosenkrantz Bergen | Holidays in Bergen | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>157</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Thon Hotel Rosenkrantz Bergen]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOBE0107]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin Rooms</strong> are approx. 15m<span class="TextRun SCXW172339405 BCX8" data-contrast="auto"><span class="NormalTextRun SCXW172339405 BCX8">²</span></span> and sleep two people in two single beds. Rooms are on request, please call to book. </p>
<p><strong>Single Rooms</strong> are approx. 8m<span class="TextRun SCXW172339405 BCX8" data-contrast="auto"><span class="NormalTextRun SCXW172339405 BCX8">²</span></span>, have a single bed and are cosy with tasteful décor. Rooms are on request, please call to book. </p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Shower or bath</li>
<li>TV</li>
<li>Minibar</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>
<p><strong>General Information</strong></p>
<ul>
<li>Check-in: 3pm</li>
<li>Check-out: 12pm</li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>From autumn 2024 Norway may be introducing a tourist tax to pay locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li><span class="TextRun SCXW201353704 BCX8" data-contrast="auto"><span class="NormalTextRun SCXW201353704 BCX8">Dairy Free</span></span></li>
</ul>
<p><span class="TextRun SCXW201353704 BCX8" data-contrast="auto"><span class="NormalTextRun SCXW201353704 BCX8">Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation</span><span class="NormalTextRun SCXW201353704 BCX8">.  </span></span><span class="EOP SCXW201353704 BCX8" data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}"> </span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[229285]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>