<?xml version="1.0" encoding="utf-8"?>
<newsListingMonth guid="dad4875b-33f9-4218-9d15-c753df344b8b" id="28760" nodeName="July" isDoc="" updated="2024-07-27T22:22:09.6800000Z" parentGUID="b5e2d4cc-2ceb-4647-82aa-f7f1302428be" nodeTypeAlias="newsListingMonth" templateAlias="NewsListingMonth" sortOrder="2" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[All of Inghams latest news and press releases are available below from July 2018. Please contact the Inghams Press Team who will be happy to help.]]></metaDescription>
  <metaTitle><![CDATA[Press Releases from July 2018 | Inghams]]></metaTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <title><![CDATA[July]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsListingMonth>