<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="322cb810-44ae-469b-a7b9-acea40f201be" id="35915" nodeName="Geysers, Glaciers &amp; Waterfalls – Self Drive Tour" isDoc="" updated="2021-12-29T18:15:26.8530000Z" parentGUID="3a7ecab4-3abc-43fe-81d3-76c4e0338b00" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "88473d8a-bd87-4099-a254-740237fad480",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Car Hire Included ",
    "addedValueStart": "2019-07-01T16:52:45",
    "addedValueEnd": "2020-12-01T16:52:48",
    "hideAddedValue": "0"
  },
  {
    "key": "3f32108c-7e5b-4cb7-83db-09f9a8db5c9a",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Tablet with Iceland Travel Companion App ",
    "addedValueStart": "2019-07-01T16:54:10",
    "addedValueEnd": "2020-11-01T16:54:13",
    "hideAddedValue": "0"
  },
  {
    "key": "222f2b16-d49b-4e86-b5b7-6a0ab87a0cd0",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free Parking at each Hotel",
    "addedValueStart": "2019-07-01T16:54:50",
    "addedValueEnd": "2020-11-30T16:54:52",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/cccb3ae0234342c8b6f578f00b6b066c,umb://media/37205c5c12964669a0dd58af0e0bdeca,umb://media/28aa1e0f9f5445e7930cfd80e1e23a1a,umb://media/8d07f634352a4ab3ab3928976b5e1264,umb://media/ccb004de135e4fed8d4792ec3993b667,umb://media/f0a0edf01ae14af8b55117a0ca01614b,umb://media/899524a832dd4ca3a62c3e116943c0e1,umb://media/8fbffc8e56cb452e8a37882a78059c80,umb://media/0a5faeb1db8444e688190f9d24e2a2e0]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>A self-drive tour that lets you visit all the main natural attractions that an <a data-udi="umb://document/034b02ad431f4de8b15f328605d821cb" href="https://www.inghams.co.uk/destinations/iceland" title="Iceland">Iceland holiday</a> has on offer, mainly located in the South and West of the country. You will experience driving through Iceland’s main roads, including Route 1 the ‘Ring Road’. A self-drive tour gives you the great flexibility of being able to stay at attractions for as long, or short, as you like and you can always take a break during your drive to really appreciate the picture perfect scenery.</p>
<div>
<h2 style="text-align: center;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Tour highlights">Tour highlights</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Itinerary">Itinerary</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Your holiday includes">Your holiday includes</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Hotels">Hotels</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Departure dates">Departure dates</a></h2>
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">2021 Departures on sale now!</td>
</tr>
</tbody>
</table>
</div>
</div>
<h2><a name="Tour highlights"></a><span class="geolocation-title">Tour highlights</span></h2>
<ul>
<li>This wonderful self-drive itinerary enables you to see the best of Iceland</li>
<li>Visit the 'Hot Spring Town' of Hveragerdi</li>
<li>Discover some of the country's beautiful waterfalls</li>
<li>Explore two incredible National Parks: Skaftafell and Thingvellir</li>
<li>Venture to Diamond Beach and Blue Lagoon: two world-renowned sites of natural beauty</li>
<li>Optional activities such as boat tours, nature baths or horse riding</li>
<li>Tablet with Iceland Travel Companion App (with hotel reservations, charger, map, highlights for each day of the tour)</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Tour highlights">[Back to top]</a></p>
<h2><a name="Itinerary"></a><span class="geolocation-title">Itinerary</span></h2>
<p><strong>Day 1: UK to Hveragerdi</strong></p>
<p>Fly into Keflavik Airport and pick up the car straight away to start your journey. We recommend the drive towards the village of Hveragerdi, along the Reykjanes peninsula. Hveragerdi is a charming village and is one of few that is located directly on a geothermal area.</p>
<p>Approx. distance travelled: 53 miles</p>
<p><strong>Day 2: Hveragerdi to Dyrholaey</strong></p>
<p>Starting the day with a trip to the golden Gullfoss waterfall which is one of the most iconic in the country, before visiting the hot spring area of Geysir where Strokkur is likely to erupt for you. The next visits of the day are to the grand Seljalandsfoss waterfall where the water drops a tall 60 meters and it is possible for you to walk behind the water. This is not the last waterfall of the day as you travel to the Skogafoss which is situated on the Skógá River at the cliffs of the former coastline. The last stop of the day is at Dyrholaey, the famous black lava arch is here as well as many puffins (closed during nesting season, mid-May to late June).</p>
<p>Meals included: Breakfast</p>
<p>Approx. distance travelled: 85 miles</p>
<p><strong>Day 3: Skaftafell National Park</strong></p>
<p>Today will be spend exploring Skaftafell National Park. This national park has a unique location between two glaciers, Skaftafellsjökull and Svínafellsjökull. There are many hiking, walking and picture opportunities here. Continuing on to the glistening Jökulsárlón Glacial Lagoon, where icebergs have broken off and float around. Next to the lagoon is the magical ‘Diamond Beach’ where the icebergs have washed onto the black sanded shore.</p>
<p>Meals included: Breakfast</p>
<p>Approx. distance travelled: 100 miles</p>
<p><strong>Day 4: Thingvellir National Park</strong></p>
<p>Take a beautifully scenic drive to Thingvellir National Park and UNESCO World Heritage Site to see the site of ancient Icelandic parliament and is famous for its serene natural beauty. Continuing to drive along the Borgarfjordur fjord to visit the historical Reykholt. In this area there is the 900 metre wide waterfall of Hraunfossar where the water flows over a lava field and the serene Barnafossar waterfall. After visiting these waterfalls there is the highest flowing hot spring in Europe called Deildartunguhver to explore.</p>
<p>Meals included: Breakfast</p>
<p>Approx. distance travelled: 197 miles</p>
<p><strong>Day 5: Snaefellsnes Peninsula</strong> </p>
<p>Drive around the Snaefellsnes peninsula and take the ever changing dramatic scenery. Explore the many natural wonders that the National Park has to offer, as well as the varied birdlife at the Arnarstapi sea cliffs and then step onto a black lava pearl beach at the fishing bay of Djupalonssandur. Drive to Stykkisholmur for a boat tour, approx. 2 hours, where you can admire birdlife along with the sea life. There will be the opportunity to view and taste the fresh shellfish and sea life on the boat, including scallops, crabs, starfish, sea cucumbers, sea urchins and many more.</p>
<p>Meals included: Breakfast</p>
<p>Approx. distance travelled: 105 miles</p>
<p><strong>Day 6: Reykjanes Peninsula</strong></p>
<p>Travelling to the southern part of Reykjanes peninsula to reach Lake Kleifarvatn and Krysuvik Geothermal Area, with mud pools, hot springs and sulphur deposits around the green, yellow and red coloured banks. Spend the rest of the afternoon relaxing in the world renowned Blue Lagoon, treating the skin to the geothermal and mineral rich waters.</p>
<p>Meals included: Breakfast</p>
<p>Approx. distance travelled: 135 miles</p>
<p><strong>Day 7: Reykjavík to UK</strong></p>
<p>Today you will have the opportunity to explore the city until making your way to the airport to drop off the car.</p>
<p>Meals included: Breakfast</p>
<p>Approx. distance travelled: 43 miles</p>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Tour highlights">[Back to top]</a></p>
<h2><a name="Your holiday includes"></a><span class="geolocation-title">Your holiday includes</span></h2>
<ul>
<li>Return flights</li>
<li>Accommodation with private facilities throughout</li>
<li>Free parking at each hotel</li>
<li>Car pick up/drop off at Keflavik International Airport</li>
<li>Rental car for 6 days with CDW, theft protection, unlimited mileage, VAT (21 years+)</li>
<li>GPS system in car</li>
<li>No charges for additional driver, airport service charge and fuel discount card</li>
<li>Tablet with Iceland Travel Companion App (with hotel reservations, charger, map, highlights for each day of the tour)</li>
<li>Activities bookable on the tablet</li>
<li>24 hour emergency phone line</li>
<li>6 breakfasts</li>
</ul>
<p><strong>Your holiday excludes:</strong></p>
<ul>
<li>Any extras, lunches, drinks and personal expenses</li>
<li>Parking costs (where applicable) </li>
<li>Entrance to museums and archaeological sites</li>
</ul>
<p><strong>Optional Excursions (book via the App on arrival):</strong></p>
<ul>
<li>Lava Tunnel Tour</li>
<li>Horse Riding Tour </li>
<li>Boat Tour on Fjallsarlon Ice Lagoon</li>
<li>Krauma Nature Baths</li>
<li>Puffin Tour</li>
<li>Whale Watching</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Tour highlights">[Back to top]</a></p>
<h2><a name="Hotels"></a><span class="geolocation-title">Hotels</span></h2>
<p><strong>★★★ Örk Hotel </strong>-Superior<strong>, Selfoss Hotel, Icelandair Hotel Flúðir or Fosshotel Hekla, </strong><strong>Hveragerdi area<span> </span>(1 night) </strong></p>
<p><strong>★★★ </strong><strong>Hotel Kría, Vík Icelandair Hotel, Stracta Hotel Hella, </strong><strong>Vik area (2 nights) </strong></p>
<p><strong>★★★ </strong><strong>Reykholt Fosshotel </strong>-Superior, <strong>Húsafell Hotel or Icelandair Hotel Hamar, </strong><strong>West Iceland (2 nights) </strong></p>
<p><strong> </strong><strong>★★★★ </strong><strong>Skuggi Hotel, <span>Reykjavík</span></strong><strong> (1 night)</strong></p>
<p> </p>
<h2><span class="geolocation-title">Car Choices</span></h2>
<p>Toyota Auris or Similar (Manual or Automatic)</p>
<p>Skoda Octavia or Similar (Manual or Automatic)</p>
<p>Toyota Land Cruiser (Automatic)</p>
<p><strong>Please note: </strong></p>
<ul>
<li>Minimum age for driving a rental car in Iceland is 21 years or 23 years for a 4 wheeled drive. </li>
<li>A valid driver's licence must be presented when collecting the rental (An<span> </span>IDP is not currently required<span> unless the UK leaves the EU without a deal)</span></li>
<li>A credit card with the lead driver's name is required when collecting the rental (accepted credit cards are American Express, Visa or Mastercard).</li>
<li>Route 1 (the “Ring Road”), which runs around the island, is mostly paved except for a stretch of gravel between Lake Mývatn and Egilsstaðir in the north-eastern part of Iceland. Many smaller roads are also gravel surfaced, but in the summertime they should be fairly easy to drive at a slow speed.</li>
</ul>
<h2><a name="Departure dates"></a><span class="geolocation-title">Departure dates<a></a></span></h2>
<ul>
<li>Flexible daily departures May-September</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-iceland/geysers-glaciers-waterfalls-self-drive-tour#Tour highlights">[Back to top]</a></p>]]></description>
  <descriptionCharacterLimit>10000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A self-drive tour that lets you visit all the main natural attractions that Iceland has on offer, mainly located in the South and West of the country. You will experience driving through Iceland’s main roads, including Route 1 the ‘Ring Road’. A self-drive tour gives you the great flexibility of being able to stay at attractions for as long, or short, as you like and you can always take a break during your drive to really appreciate the picture perfect scenery.  </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/cccb3ae0234342c8b6f578f00b6b066c]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[A self-drive tour that lets you visit all the main natural attractions that Iceland has on offer, mainly located in the South and West of the country. View the full itinerary and dates here. Book now or call 01483 79 11 11.]]></metaDescription>
  <metaTitle><![CDATA[Iceland: Geysers, Glaciers and Waterfalls Self Drive Tour | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Iceland: Geysers, Glaciers & Waterfalls – Self Drive Tour]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ISXX3004]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/b97673ffe21c4dddb421af4c884e381d]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>