<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="7a5feb93-3596-4216-9036-26cc462210ba" id="63682" nodeName="Luxury Deals" isDoc="" updated="2024-12-03T11:58:34.6070000Z" parentGUID="c9869bf0-e4e9-431d-98d0-277c1db49284" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="64" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Discover our array of luxury holiday deals and find the perfect place to stay, featuring top-tier hotels that provide an effortless, indulgent escape, combining adventure with the comfort and elegance of premium amenities and exceptional service. Travel, transfers and accommodation included. Book your holiday with no deposit when you choose to pay monthly with our new direct debit option. T&Cs apply.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Discover our array of luxury holiday deals for 2024 and find the perfect place to stay next summer, featuring top-tier hotels that provide an effortless, indulgent escape. Prices include flights, transfers and accommodation.]]></metaDescription>
  <metaTitle><![CDATA[Luxury Holiday Deals | Inghams Walking]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-WALKING-LUXURY-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-WALKING-LUXURY-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Luxury Holiday Deals]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Our latest luxury holiday deals]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>