<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="df24de71-29a5-46e3-8737-2c2a30878d58" id="24672" nodeName="ABTA’s approved Alternative Dispute Resolution (ADR) scheme" isDoc="" updated="2018-12-03T13:07:58.6900000Z" parentGUID="326c1b49-ffe1-437c-851f-02c295685226" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <answer><![CDATA[<p><em>If we can’t resolve your complaint, go to <strong><a rel="noopener noreferrer" href="http://www.abta.com/" target="_blank" title="ABTA">ABTA</a></strong> to use ABTA’s simple procedure. Further information on the Code and ABTA’s assistance in resolving disputes can be found on their website. You can also access the <a rel="noopener noreferrer" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&amp;lng=EN" target="_blank">European Commission Online Dispute (ODR) Resolution platform</a>. This ODR platform is a means of registering your complaint with us; it will not determine how your complaint should be resolved.</em></p>
<p>The <strong>Association of British Travel Agents (ABTA)</strong> Information Department offer advice on travel related subjects and can verify ABTA membership details. Calls are charged at 50p per minute between 9am and 5.30pm: <strong>0901 201 50 50 </strong>(UK Callers Only). ABTA’s main aims are to maintain high standards of trading practice for the benefit of its Members, the travel industry at large, and the consumers that they serve.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What if you had a problem with your holiday, and we were unable to resolve it amicably?]]></question>
</fAQItem>