<?xml version="1.0" encoding="utf-8"?>
<newsListingMonth guid="0e118bd4-df52-475d-af1a-1a11cf0af19c" id="1524" nodeName="March" isDoc="" updated="2018-12-03T13:07:58.9070000Z" parentGUID="3bd48542-bb1d-4e28-9c9e-1ee903365d07" nodeTypeAlias="newsListingMonth" templateAlias="NewsListingMonth" sortOrder="2" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[All of Inghams latest news and press releases are available below from March 2017. Please contact the Inghams Press Team who will be happy to help.]]></metaDescription>
  <metaTitle><![CDATA[Press Releases from March 2017 | Inghams]]></metaTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <title></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsListingMonth>