<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="2005c2b4-d265-4ebd-a225-434b5898485a" id="71614" nodeName="August Walking Deals" isDoc="" updated="2024-05-23T11:20:33.9170000Z" parentGUID="19553c16-3320-407a-8484-273e250e83ea" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "March Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/9179639c0d6a49ac85fdeaf838270c6a",
    "externalLink": "",
    "linkName": "August Walking Deals",
    "linkTitle": "August Walking Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>