<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="28f46da7-7e36-4697-a857-ceffdf53f684" id="23376" nodeName="Post Seefeld Hotel &amp; Spa" isDoc="" updated="2023-10-26T12:25:27.2570000Z" parentGUID="ed82c0b9-0e2d-48e3-84f4-fc0638e8018a" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="5" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "07de05bc-fe91-4319-bf4f-b15a0d97d6c4",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily activity programme including guided winter walks",
    "addedValueStart": "2019-08-07T14:25:12",
    "addedValueEnd": "2099-08-08T14:25:14",
    "hideAddedValue": "0"
  },
  {
    "key": "6e28a219-67e3-496c-8472-3e774debfcbc",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free afternoon après-ski snack",
    "addedValueStart": "2019-08-07T14:25:27",
    "addedValueEnd": "2099-08-08T14:25:29",
    "hideAddedValue": "0"
  },
  {
    "key": "fd4395e3-6a79-4240-ab5f-f756591a713b",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free twice daily private shuttle to and from the ski lifts",
    "addedValueStart": "2019-08-07T14:25:41",
    "addedValueEnd": "2099-08-08T14:25:43",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/f046fbe3cbee4a3b8cfa174ace6c450b,umb://media/2fa4dcff3e4e4851890954599358a029,umb://media/596c9ff0c2e04851ab8628124e9f3aab,umb://media/121586f91f7345c6af04e6fd9c1e3cb7,umb://media/90d3f51a12b142cabf6a2fc7bb820da9,umb://media/8d411157c9294f37aa8d7c6e541954c7,umb://media/1bf6453f3de44aa8b64adcf2db3ef08e,umb://media/d9f4b38224cd46ccbb5ae6a836aa0d62,umb://media/9b62c4bb7ab0497f8cb02e6e6fd96b00,umb://media/1db4a95a4a6442e295b419d6c8579196,umb://media/61354479308a4bf58b633e9f873bc3c5,umb://media/c049ef7650d64b10be67ac690660ede5,umb://media/9bef0255467d452088faec9a1fd73925,umb://media/00bea6b8b73c4805a55c62e5fe1f2f90,umb://media/34c5cc0fca054ad8869bcd23fab748d1,umb://media/1b6c4695f0c7476cbb0ee11eb8bc2d98,umb://media/9b052a00fc874f79a214f41b36ad9c3f]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Hot and cold buffet breakfast</p>
<p>Excellent five course evening meal with choice of main course</p>
<p>Weekly gala dinner</p>
<p>Christmas and New Year gala dinners included</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Set in the heart of the village square, Post Seefeld Hotel &amp; Spa offers a great base for alpine skiing, cross-country and winter walking enthusiasts. The hotel has a reputation for first-rate service, comfortable rooms and excellent cuisine.</p>
<h2>Location</h2>
<p>You are located in the centre of <a rel="noopener" data-udi="umb://document/ed82c0b90e2d48e384f4fc0638e8018a" href="/{localLink:umb://document/ed82c0b90e2d48e384f4fc0638e8018a}" target="_blank" title="Seefeld">Seefeld</a>, and with a twice daily private shuttle service to the ski lifts, you can explore the town and slopes with ease.</p>
<h2>Top Service</h2>
<p>The hotel has a reputation for first-rate service and a welcoming atmosphere. In the kitchen, expect a fusion of the freshest local ingredients. Be sure to try some of the lovingly prepared Mediterranean dishes.</p>
<p>Bedrooms are comfortable and well-equipped with a modern Alpine flair.</p>
<h2>Wellness Area</h2>
<p>With an extensive adult only spa area set over four floors, wellness is a high priority at this hotel. The panoramic indoor pool offers wonderful views of the surrounding mountains, you can enjoy Finnish and bio saunas, herbal steam baths and several relaxation areas.</p>
<p>The daily wellness programme features several daily activities including guided and Nordic walking, water aerobics and gym classes.</p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We have an exclusive agreement with Post Seefeld Hotel &amp; Spa the only UK tour operator to package and sell holidays here - all the more reason to book with Inghams today!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Newly refurbished lounge and reception area and bar</li>
<li>Bar</li>
<li>Residents’ restaurant</li>
<li>Extensive 2,200m² spa area with panoramic indoor pool, saunas and steam room, infrared cabin, two relaxation rooms with mountain or village views, and modern gym (ages 16+) </li>
<li>Massage and beauty treatments (pay locally)</li>
<li>Wi-Fi</li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.328784]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Set in the heart of the village square offering a great base for alpine skiing, cross-country and winter walking enthusiasts, Post Seefeld Hotel &amp; Spa has a reputation for first-rate service, comfortable rooms and excellent cuisine.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/f046fbe3cbee4a3b8cfa174ace6c450b]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €3.50 per person per night to be paid directly to the hotel.</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Centrally located with a ski bus stop two minutes' walk (200 metres) from the hotel</li>
<li>500 metres to the ski lifts</li>
<li>150 metres to the ski school and nursery slopes</li>
<li><span>Transfer time: approx. 30 mins from Innsbruck airport</span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.187678]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[70 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[With a reputation for first-rate service, comfortable rooms, and excellent cuisine, the Post Seefeld Hotel & Spa is the perfect spot for your winter holiday. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Post Seefeld Hotel & Spa | Seefeld Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>70</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Post Seefeld Hotel & Spa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATSE0131]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Deluxe A</strong><strong>ustrian Twin Rooms</strong> are around 24m² and have a lounge area and east facing views. They have a bath with showerhead.</p>
<p><strong>Sonnjoch Austrian Twin Rooms </strong>are larger at 27m² and have north facing balconies. These rooms have a shower, lounge area and are decorated in a more traditional style.</p>
<p><strong>Rosshuette Austrian Twin Rooms</strong> have a lounge area, balcony and a bath or shower.</p>
<p><strong>Junior Suites </strong>are spacious at 44m² and can sleep up to four using the double sofa bed in the lounge area. These rooms have west facing balconies and a bath with showerhead.</p>
<p>Standard Deluxe rooms are available  for single use on request, please call to book.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Cable / satellite TV</li>
<li>Minibar</li>
<li>Wi-Fi</li>
<li>Bathrobes &amp; slippers</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[1,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p><span>Special dietary requirements (vegan, gluten free) will need to be requested in advance.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[278247]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>