<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="dc6ffff7-4676-4cf8-86b2-79f5a52f3c41" id="30757" nodeName="VOI Donna Camilla Savelli" isDoc="" updated="2022-03-09T15:57:43.9870000Z" parentGUID="57bc5f34-b707-4843-b7f1-9f3fc6cb7ac4" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="9" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The hotel has four accessible rooms for people using a wheelchair or with walking difficulties. These rooms are accessible by lift. They are available on request, please call to book. </p>
<p> </p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>2</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/89fbe9912207403ba6377c562199ec46,umb://media/eadc080cf3ee4300808165dfdfef8473,umb://media/0ce6cbee02a241d78bbcc043c1431067,umb://media/7815ac7cc77c4c328609d47095d240fe,umb://media/b3b0589f36904f68aae63b109ee1c096,umb://media/40a4f0a375ee4a929c0a74569fcd029c,umb://media/4a0d6b31407f49c19bf5a64f91d4e94f,umb://media/d713e3a51e6545ec9211ded9ade4a78e,umb://media/4068e45c2fd64c05b99438f445b4c4db,umb://media/0924738713c04c52a99f9a5ad5967987,umb://media/d19c4a1080f74a9da613aabf6c8f8b98]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is served between 7.00am – 10am offering a selection of fresh breads, pastries, fruits and cereals as well as hot options. In the summer months breakfast can be enjoyed in the hotel garden.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Originally designed as a convent at the end of the 17<sup>th</sup> century by the famous architect Francesco Borromini, VOI Donna Camilla Savelli Hotel has been lovingly converted into a beautiful hotel without changing its original features. The vaulted frescoed ceilings, winding travertine stairwells, chequered flagstone floors, huge windows and the Baroque church on the hotel's site are some of these features, making this calm oasis in the heart of Rome such a magical place. The building is furnished with antiques and oil paintings, some of which date back to the 17th and 18th centuries.</p>
<p>The hotel is located in charming neighbourhood of Trastevere on the west bank of the <em>River Tiber.</em> This authentic area of Rome sits just south of <em>Vatican City</em> and is filled with bustling bars and local restaurants. With a bus stop just outside and a tram stop five minutes away it is easy to explore the city's main attractions. The <em>Sistine Chapel</em> is only two kilometers away and the <em>Colosseum</em> is three kilometers from the hotel. The roof terrace has superb panoramic views over the city that can be enjoyed while sipping on a glass of wine or a cocktail. Enjoy peaceful walks in the hotel's beautiful garden that houses a baroque fountain, a small oasis amidst this chic district of <a data-udi="umb://document/57bc5f34b7074843b7f19f3fc6cb7ac4" href="/{localLink:umb://document/57bc5f34b7074843b7f19f3fc6cb7ac4}" title="Rome">Rome</a>.</p>
<p>Transfer time: approx. 45 mins by private car from Rome Fiumicino Airport or approx. 40 mins from Rome Ciampino Airport.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><span style="text-decoration: underline;"><strong>Bars and Restaurants</strong></span></p>
<p><strong>Il Ferro e il Fuoco</strong> <strong>Restaurant</strong> serves an à la carte menu of traditional Italian cuisine in a warm and intimate setting. Try the Renaissance tasting menu for an authentic culinary experience. </p>
<p><strong>Bar Bistrot </strong>serves breakfast, a wide selection of light snacks such as sandwiches and salads as well as evening meals. The restaurant is open from 12.00am - 3.00pm and from 19.00 - 10.00pm. The bar is open from 11.00am - 12.00pm. </p>
<p><span style="text-decoration: underline;"><strong>General </strong></span><strong><u>Facilities</u></strong></p>
<ul>
<li>Garden</li>
<li>Roof terrace</li>
<li>Free wifi</li>
<li>Laundry service (payable locally)</li>
<li>Babysitter (on request)</li>
<li>Lifestyle lounge</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A 17<sup>th</sup> century converted convent offering a peaceful stay in the bustling capital of Italy.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/89fbe9912207403ba6377c562199ec46]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[99 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The hotel is located in Trastevere, on the west bank of Tiber, a short walk from the bars, restaurants and shops but also the main attractions. Book today.]]></metaDescription>
  <metaTitle><![CDATA[VOI Donna Camilla Savelli| Rome City Breaks | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>99</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITRM0119]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Rooms</strong> are housed in the new wing of the convent and have a four poster bed offering pure comfort.</p>
<p><strong>Superior Rooms</strong> that were once used by the nuns of the convent and offer a peaceful stay. The rooms have been decorated in rich warm tones such as ivory, green and brown and use elegant Italian fabrics. The rooms have one double or two twin beds.</p>
<p><strong>Executive Rooms  </strong>are also located in the original convent building with beautiful views over the courtyard garden or the rooftops of Trastevere. The fresh light decor is embellished with exposed wooden beams and period furniture, creating a unique relaxing environment.</p>
<p>All rooms are fully air conditioned, LCD satellite TV, telephone, minibar, free wifi and a safe. The Classic rooms have showers whereas the Superior and Executive rooms have a bath or shower.</p>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1024807]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/57bc5f34b7074843b7f19f3fc6cb7ac4]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>