<?xml version="1.0" encoding="utf-8"?>
<genericCachelessPage guid="ea588978-885c-4203-b4e3-5f12af49054c" id="45568" nodeName="Coronavirus" isDoc="" updated="2022-10-26T13:08:54.9800000Z" parentGUID="07103f76-2dbc-49e9-897a-444ad4103338" nodeTypeAlias="genericCachelessPage" templateAlias="GenericCachelessPageResponsive" sortOrder="4" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h3 style="color: #003155;">Find the COVID-19 information that’s relevant for you and your next trip with Inghams.</h3>
<div class="g6">
<p><a data-udi="umb://document/102583bcb28e4f5cab9feab03098d4a8" href="/{localLink:umb://document/102583bcb28e4f5cab9feab03098d4a8}" title="Ski Hub"><img src="/media/13088423/inghams-ski.jpg" alt="Inghams Ski" data-udi="umb://media/91cc048462f34c9a94e89f3e5b5840c5" /></a></p>
<p style="color: #003155;"><a data-udi="umb://document/102583bcb28e4f5cab9feab03098d4a8" href="/{localLink:umb://document/102583bcb28e4f5cab9feab03098d4a8}" title="Ski Hub"><strong>Visit Our Ski Hub</strong></a></p>
<p>Find out everything you need to know about your ski holiday with Inghams this winter, including resort specific information on how to buy a lift pass, whether you'll have to wear a face mask on ski lifts, where your nearest test centre will be, and much more.</p>
</div>
<div class="g6">
<p><a data-udi="umb://document/2f46f1a421fe4203a3502584fa80d1c0" href="/{localLink:umb://document/2f46f1a421fe4203a3502584fa80d1c0}" title="Summer Hub"><img style="width: 397px; height: 217px;" src="/media/13079243/swiss-ebo-web.png?width=397&amp;height=217&amp;mode=max" alt="" data-udi="umb://media/c369a4279d1d4c40a8482376cbf484a4" /></a></p>
<p style="color: #69182f;"><a data-udi="umb://document/2f46f1a421fe4203a3502584fa80d1c0" href="/{localLink:umb://document/2f46f1a421fe4203a3502584fa80d1c0}" title="Summer Hub"><strong>Visit Our Summer Hub</strong></a></p>
<p>Visit our Summer Hub to find out everything you need to know about your holiday with Inghams this summer such as whether you'll have to wear a face mask, whether restaurants, bars and cafes will be operating as usual, and much more.</p>
</div>
<div> </div>
<div class="g6">
<p><a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands"><img src="/media/13088434/ish_838x450.jpg" alt="In Safe Hands" data-udi="umb://media/a6947407f14346cb9f3ad42a0f6218ad" /></a></p>
<p style="color: #003155;"><a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands"><strong>In Safe Hands</strong></a></p>
<p>Learn how we're giving you extra peace of mind for your next holiday with Inghams.</p>
</div>
<div class="g6">
<p><a data-udi="umb://document/c295927f9a464140b51df5bbb73fba47" href="/{localLink:umb://document/c295927f9a464140b51df5bbb73fba47}" title="Frequently Asked Questions" data-anchor="#"><img src="/media/13088430/covid-faqs.jpeg" alt="COVID-19 FAQs" data-udi="umb://media/f32cb3a20939493884f6e3604171160a" /></a></p>
<p style="color: #003155;"><a data-udi="umb://document/c295927f9a464140b51df5bbb73fba47" href="/{localLink:umb://document/c295927f9a464140b51df5bbb73fba47}" title="Frequently Asked Questions" data-anchor="#"><strong>All COVID-19 FAQs</strong></a></p>
<p>For all UK customers travelling on a Ski, Lapland or Summer holiday with us, including information refunds, our policies, and what to do if your holiday with us can’t take place.</p>
</div>
<div> </div>
<div class="g6">
<p><a data-udi="umb://document/504132b8d7ab4765a76479fc557c5cb4" href="/{localLink:umb://document/504132b8d7ab4765a76479fc557c5cb4}" title="Entry Requirements"><img src="/media/13088428/travel-requirements.jpg" alt="Travel Requirements" data-udi="umb://media/9a2a2327fa7e4579958798d3f8e76cae" /></a></p>
<p style="color: #003155;"><a data-udi="umb://document/504132b8d7ab4765a76479fc557c5cb4" href="/{localLink:umb://document/504132b8d7ab4765a76479fc557c5cb4}" title="Requirements"><strong>Entry Requirements for Travel</strong></a></p>
<p>Use this interactive tool to find out what you need to do to prepare to head to your holiday destination.</p>
</div>
<div class="g6">
<p><a data-udi="umb://document/c1c07b9d6b17437e91448fbb52482a7f" href="/{localLink:umb://document/c1c07b9d6b17437e91448fbb52482a7f}" title="Testing Packages"><img src="/media/13088429/testing-packages.jpeg" alt="Testing Packages" data-udi="umb://media/55aef682d9d9488e961d1b8cc0a2c209" /></a></p>
<p style="color: #003155;"><a data-udi="umb://document/c1c07b9d6b17437e91448fbb52482a7f" href="/{localLink:umb://document/c1c07b9d6b17437e91448fbb52482a7f}" title="Testing Packages"><strong>Testing Packages</strong></a></p>
<p>Information on our testing partners, including discounted packages.</p>
</div>
<div> </div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[blue]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Coronavirus updates for our guests. All the information you'll need for your next trip with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[COVID-19 Hub | Travel advice & information | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Inghams COVID-19 Hub]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <showTravelRestrictions>0</showTravelRestrictions>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericCachelessPage>