<?xml version="1.0" encoding="utf-8"?>
<regionSkiPage guid="cd224c7e-0dd0-48d9-bf01-141d900a327a" id="1332" nodeName="The Ski Juwel Area" isDoc="" updated="2024-05-08T10:19:17.2800000Z" parentGUID="7cc7c659-d521-4aa9-b4d7-bed936a721bb" nodeTypeAlias="regionSkiPage" templateAlias="RegionSkiPageResponsive" sortOrder="11" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <area>109</area>
  <beginners><![CDATA[4]]></beginners>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/06a4325ddbb84cebb91c9bdd2a6d0add,umb://media/dbd2fed88d1c4b5388465ea24038cfc4,umb://media/4dd7a5031b984c759bbed359a7282c38,umb://media/6302bffede3d4259a51a9df4ef7b1452,umb://media/30d1b96d1efa41edbb7f2b0210a5afdb,umb://media/3b14c0b0e2324bc9894675365cf46695,umb://media/e91f5288faf541b0b8ea736c972fa42d,umb://media/a4d9f7af28c14b09bb4c09e7fea78b7f,umb://media/44aa9ef4c50149558b6b5a27c3c86269,umb://media/7d60750d0f6044d1a39d307c72025f3e,umb://media/22bbf2bcbb9743a5aa9b876fed7ed8d1,umb://media/34205b1e97a743509f4e94756ff3bc02,umb://media/611bee47cb7f4967a853de5019afdaf2,umb://media/f285bea4b73a444c86d63d22442dd6e1,umb://media/64ba1a2991424248823832ba369239a0,umb://media/3f73a258a05e428a951d3e3a4d199610,umb://media/d866c046aed8434aa6f41dc05a82f7b7]]></carouselMediaPicker>
  <contentCarousel></contentCarousel>
  <contentCarouselImage></contentCarouselImage>
  <crossCountry><![CDATA[1]]></crossCountry>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/85812e8a1d0149a58c8737f14c5c36ef]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Ski Juwel Alpbachertal Wildschonau is a region of great winter accolade. The area is charming, full of character and has uncrowded slopes, a huge selection of activities and a very caring ski school making it perfect for beginners and families.</p>
<h2>Ski holidays in The Ski Juwel Area</h2>
<p>46 lifts will take you up to 109 km of piste of various grading and all with magnificent views of Rofen Range, <a data-udi="umb://document/4005f3bba52b43b997a6530c870938dc" href="/{localLink:umb://document/4005f3bba52b43b997a6530c870938dc}" title="Kitzbuhel Alps">Kitzbühel Alps</a> and Brandenberg Alps from all angles.</p>
<p>From <a data-udi="umb://document/7cdd4ba75e0044478e4b0e871b159997" href="/{localLink:umb://document/7cdd4ba75e0044478e4b0e871b159997}" title="Alpbach">Alpbach</a> there are 250km of paths and trails for hours of walking adventures incorporating 19 circling the village ‘round hike’ routes. In addition to this, there are 14 cross country trails and four snowshoe walking routes.</p>
<p>Small villages strewn with wooden chalets and traditional farm buildings offer tranquillity by day, and evenings in these rustic villages are relaxed and informal.</p>
<p>You will find few cosy stüberls and bars that sometimes offer live music. There are 100 farms still operating in the area supplying ingredients for culinary delights served to winter enthusiasts. This is where you can really experience a thrill of activities, on and off slopes.</p>
<h2>Why book a ski holiday in The Ski Juwel Area with Inghams?</h2>
<p>Inghams has over 85 years of experience providing winter enthusiasts their ski and snowboarding holidays - We can assure that your holiday is <span> </span><a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands">in safe hands</a>.</p>
<p>We provide support on your holiday from start to finish - With access to our team in the office as well as in resort representation, your questions can be answered at any stage of your winter holiday.</p>
<p><a data-udi="umb://document/7cc7c659d5214aa9b4d7bed936a721bb" href="/{localLink:umb://document/7cc7c659d5214aa9b4d7bed936a721bb}" title="Austria">Discover more Austria ski holidays</a></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <experts><![CDATA[2]]></experts>
  <fAQsWidget><![CDATA[[
  {
    "key": "1871f357-6e64-41ba-a867-fa1952fa4f8a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"cfa8ea3c-876b-4740-879f-17b8503617d0\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <generalInformation><![CDATA[<p>Please see individual resort pages for more resort specific information:</p>
<p>More info on <strong><a href="/{localLink:f96249da-a447-4b8c-a367-c2d064dc82f3}" title="Niederau">Niederau</a></strong>.</p>
<p>More info on <strong><a href="/{localLink:645323d8-eb14-4c8a-8d6d-e13d01599d85}" title="Oberau">Oberau</a></strong>.</p>
<p>More info on <strong><a href="/{localLink:87b9fe6d-4e65-4dc0-a0ce-c3ea54c37cb0}" title="Alpbach">Alpbach</a></strong>.</p>]]></generalInformation>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <insiderTips></insiderTips>
  <intermediates><![CDATA[4]]></intermediates>
  <latestDeals></latestDeals>
  <lifts></lifts>
  <liftsBabydrags>29</liftsBabydrags>
  <liftsBabyLiftsInResort>0</liftsBabyLiftsInResort>
  <liftsCablecars>9</liftsCablecars>
  <liftsChairlifts>7</liftsChairlifts>
  <liftsDayshoursOfOperationOfLifts></liftsDayshoursOfOperationOfLifts>
  <liftsDraglifts>22</liftsDraglifts>
  <liftsGondolas>12</liftsGondolas>
  <liftsMagicCarpets></liftsMagicCarpets>
  <liftsNightSkiingIncludedInLiftPass>0</liftsNightSkiingIncludedInLiftPass>
  <liftsRackRailway></liftsRackRailway>
  <liftsSkiLockersAtLifts>0</liftsSkiLockersAtLifts>
  <liftsTBar></liftsTBar>
  <liftsTotalNoOfSkiLiftsLocalPass></liftsTotalNoOfSkiLiftsLocalPass>
  <liftsTotalNoOfSkiLiftsWholeAreaPass>47</liftsTotalNoOfSkiLiftsWholeAreaPass>
  <listingDescription><![CDATA[<p>The beautiful Alpbach and Wildschönau/Ski Juwel ski areas combined give a total of 109km of pistes. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/34205b1e97a743509f4e94756ff3bc02]]></listingImage>
  <listingTitle></listingTitle>
  <locationMap></locationMap>
  <metaDescription><![CDATA[The Wildschönau/Ski Juwel ski area has some of the world’s most stunning scenery and skiing! Book ski holidays in the Wildschönau/Ski Juwel ski area with Inghams’ ski experts now.]]></metaDescription>
  <metaTitle><![CDATA[Ski Juwel Area 2024/2025 | Ski Juwel Skiing Holidays | Inghams]]></metaTitle>
  <new>0</new>
  <numberOfGlaciers></numberOfGlaciers>
  <numberOfMountainRestaurants>23</numberOfMountainRestaurants>
  <numberOfSnowCannons></numberOfSnowCannons>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[The Ski Juwel Area]]></pageTitle>
  <percentageOfResortCoveredBySnowCannons></percentageOfResortCoveredBySnowCannons>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/d527ba74cb6843f982136f9f685c84be",
    "promotionBannerMobile": "umb://media/c241730a38fb47c08c56f7b5bc80718e",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"January Short Ski Break Sale\",\r\n    \"udi\": \"umb://document/6fea7ba4e17e4d4fab5f682916111a30\"\r\n  }\r\n]",
    "promotionStartDate": "2021-03-26T00:00:00",
    "promotionEndDate": "2021-10-04T00:00:00"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/5b9216ce97b040c982c5e30fd26cd91c",
    "promotionBannerMobile": "umb://media/cec38333c88048b3a493b6f04289d80f",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"January Short Ski Break Sale\",\r\n    \"udi\": \"umb://document/6fea7ba4e17e4d4fab5f682916111a30\"\r\n  }\r\n]",
    "promotionStartDate": "2021-10-04T00:00:00",
    "promotionEndDate": "2021-10-20T00:00:00"
  }
]]]></promotionItems>
  <regionTagline><![CDATA[Ski resorts in the Ski Juwel Area]]></regionTagline>
  <resortAltitude>1000</resortAltitude>
  <resortSkiBusAvailable>0</resortSkiBusAvailable>
  <runsAdditionalInformationOnCrossCountryTrails><![CDATA[<p>55km Wildschonau, 22km Alpbach.</p>]]></runsAdditionalInformationOnCrossCountryTrails>
  <runsAdditionalInformationOnNightSki><![CDATA[<p>in Oberau</p>]]></runsAdditionalInformationOnNightSki>
  <runsFurtherInfoOnNumberOfRuns><![CDATA[<p>Draglifts and babylifts 44.</p>]]></runsFurtherInfoOnNumberOfRuns>
  <runsLengthOfBlack></runsLengthOfBlack>
  <runsLengthOfBlue></runsLengthOfBlue>
  <runsLengthOfGreen></runsLengthOfGreen>
  <runsLengthOfRed></runsLengthOfRed>
  <runsLongestRun></runsLongestRun>
  <runsNoOfBlack></runsNoOfBlack>
  <runsNoOfBlue></runsNoOfBlue>
  <runsNoOfFloodlitRuns></runsNoOfFloodlitRuns>
  <runsNoOfGreen></runsNoOfGreen>
  <runsNoOfRed></runsNoOfRed>
  <runsPosibilitiesOfOffPisteSkiing>0</runsPosibilitiesOfOffPisteSkiing>
  <runsPositionOfNurserySlopes></runsPositionOfNurserySlopes>
  <runsRestrictionsAffectingOffPisteSkiing></runsRestrictionsAffectingOffPisteSkiing>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showActivities>0</showActivities>
  <showDealsPanel>0</showDealsPanel>
  <showFAQs>0</showFAQs>
  <showGeneralInformation>0</showGeneralInformation>
  <showSearchPanel>1</showSearchPanel>
  <showSkiing>0</showSkiing>
  <showSpecialOfferItems>0</showSpecialOfferItems>
  <showThingsToDo>0</showThingsToDo>
  <skiBusInformation></skiBusInformation>
  <skiingAltitudeFrom>830</skiingAltitudeFrom>
  <skiingAltitudeTo>2100</skiingAltitudeTo>
  <slopeDirection></slopeDirection>
  <snowboarding><![CDATA[3]]></snowboarding>
  <snowparkAdditionalInformation><![CDATA[<p>3, 1 in Aplbach, 2 in the Wildschonau</p>]]></snowparkAdditionalInformation>
  <specialOfferItems></specialOfferItems>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tagline><![CDATA[Some of the most scenic skiing in Austria]]></tagline>
  <thingsToDo><![CDATA[<ul>
<li>Cross country tracks</li>
<li>Sleigh rides</li>
<li>Snow shoeing</li>
<li>Snowpark</li>
<li>Toboganning</li>
<li>Horse-drawn sleigh rides</li>
<li>Day excursion to Salzburg </li>
<li>Guided winter walks</li>
<li>Ski kindergarten</li>
<li>Local museum and art gallery</li>
<li>Indoor swimming pool</li>
<li>Ski and snowboard shows</li>
<li>Fondues</li>
<li>Resort bus free with lift pass in Alpbach and free with guest card in Wildschonau.</li>
</ul>
<p>Please see resort specific information for <a href="https://www.inghams.co.uk/ski-holidays/resorts/activities/item404462/niederau-oberau-auffach/"></a><strong><a href="/{localLink:f96249da-a447-4b8c-a367-c2d064dc82f3}" title="Niederau">Niederau</a></strong>, <a href="https://www.inghams.co.uk/ski-holidays/resorts/activities/item404462/niederau-oberau-auffach/"></a><strong><a href="/{localLink:645323d8-eb14-4c8a-8d6d-e13d01599d85}" title="Oberau">Oberau</a></strong> and <strong><a href="/{localLink:87b9fe6d-4e65-4dc0-a0ce-c3ea54c37cb0}" title="Alpbach">Alpbach</a></strong>.</p>]]></thingsToDo>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <travelCard></travelCard>
  <travelInformation><![CDATA[<p><strong>Flights</strong> <br /><br /><strong>To</strong> Salzburg Saturday <br /><strong>From</strong> Gatwick, Heathrow, Manchester <br />Stansted, Edinburgh, Liverpool,<br />Bristol, Luton, Leeds-Bradford,  <br />Birmingham, East Midlands<br /><strong>Transfer 2hrs 30mins</strong> <br /><strong>To</strong> Innsbruck Saturday <br /><strong>From</strong> Gatwick, Heathrow, Manchester<br />Stansted, Edinburgh, Bristol<br />Birmingham <br /><strong>Transfer 1hr - 1hr 15mins</strong> <br />Flight supplements may apply</p>
<p>Private Transfers and Self-drive are available</p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <weSay><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_WeSayWidget",
    "review": "<p>Ride the 'Alpbachtaler Lasuer-Sauser' Alpine roller coaster which reaches speeds of up to 42km per hour on its 134m descent.</p>",
    "author": ""
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_WeSayWidget",
    "review": "<p>The regular ski buses make it easy to get between the different villages to explore the whole area.</p>",
    "author": ""
  }
]]]></weSay>
  <winterWalking>80</winterWalking>
  <youSay><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_YouSayWidget",
    "review": "<p>1st time skiing – Inghams made everything run smoothly and Alpbach was the perfect resort. We will definitely return.</p>",
    "author": "Alpbach, Conrad D"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_YouSayWidget",
    "review": "<p>The Alpbacherhof is an excellent hotel with outstanding facilities, friendly and attentive staff and delicious food. It is conveniently located near the village centre and around 200 metres from the ski bus stop.</p>",
    "author": "Alpbach, Kevin D"
  }
]]]></youSay>
  <youTubeVideoReference></youTubeVideoReference>
</regionSkiPage>