<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="ea1b7954-de66-40fd-8c0c-2c42a5d5b755" id="55420" nodeName="Best France Deals" isDoc="" updated="2022-08-26T15:26:29.0870000Z" parentGUID="4c4effbc-f4b6-46e1-b2cf-773c28fc9ff7" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="8" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description></description>
  <filterByRegion>1</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Discover incredible savings on our Summer 2023 France holidays. Book your holiday today and take advantage of our fantastic offers with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Best France Holidays Summer 2023 - Book Holidays | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SUMMER-FRANCE-23-BEST-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-SUMMER-FRANCE-23-BEST-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Top France Summer 2023 Deals]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[We’ve handpicked our very best offers for France in 2023. Don’t miss out, book early to secure our best savings. Flights, transfers, and accommodation included. ]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p><span>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</span></p>]]></zeroResultsText>
</offersPage>