<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="b45d1b8f-f3f3-4afc-bc79-6dddb419f3e8" id="70976" nodeName="Where are the best viewpoints in Madeira?" isDoc="" updated="2024-04-29T15:59:40.2700000Z" parentGUID="b30febbd-17c1-4f16-8756-0c26d376cdad" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="29" published="true" isBlueprint="false">
  <answer><![CDATA[<div class="c-page-content">
<p>For some head spinning heights and spectacular ocean views, visit Cabo Girão cliff which sits at an impressive 580 metres high. Or, for the best view in Funchal, hop on the Funchal cable car and ascend to the beautiful botanical gardens where you can delight in breathtaking scenery. Prefer to explore on foot? Then join our <a data-udi="umb://document/419dea98f6194619b18de27172090063" href="/{localLink:umb://document/419dea98f6194619b18de27172090063}" title="Guided Walks">included guided walk</a> to Caldeirão Verde - you’ll pass by dramatic peaks, distant ocean views and tropical wanders and waterfalls.</p>
</div>]]></answer>
  <popular>1</popular>
  <question><![CDATA[Where are the best viewpoints in Madeira?]]></question>
</fAQItem>