<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="86e11792-186d-4b5c-865a-85d960fa0084" id="24841" nodeName="Hotel Tirolerhof" isDoc="" updated="2024-05-08T17:27:59.2200000Z" parentGUID="41d9aafa-0f29-4702-ba9d-5658d85d5583" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>All facilities can be accessed by wheelchair users</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "147ad91f-1892-4920-a099-78ef4efefce8",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Jul)",
    "addedValueStart": "2019-12-17T10:40:26",
    "addedValueEnd": "2099-07-31T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "0adb9bd2-31c1-4de5-9c53-ffd9899746f9",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Weekly live music",
    "addedValueStart": "2019-08-07T15:40:05",
    "addedValueEnd": "2099-08-08T15:40:06",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/e2b3ebcf9b8d49fd8424a8cdc12907c8,umb://media/2cf3c09d6b6d4f8aba34eefef0a6ce9e,umb://media/cbe9eb079b2544f385393bffd6d6662a,umb://media/27977eea3fd14fdf95e2b6fbbfabd72e,umb://media/60cbd50dc7414a1382d2c91f3fb6dd29,umb://media/15adaf2c60254103abdf07c2c450c624,umb://media/05ba736555c3472c8796cb3898cfc9e1,umb://media/b8e74a2d609742b1a0254587624b8049,umb://media/a181af64bc4b4d2c862132ff389c550e,umb://media/4dbbafe7c9d94ccbaa2d404661ab1130,umb://media/c75bcee66b1e49f39c42a0b2b5c99761,umb://media/bb3156264dcd4d1f904e8bfc4fa32d53,umb://media/9e2c09deef4b44688bf556bc62a7b789,umb://media/c6463f4ad36a4da18b84c6567a6577c0,umb://media/6729d40489434e67b34c294ef9498f4d]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Buffet breakfast</p>
<p>Three course evening meal with three choices of main dish plus salad buffet</p>
<p>Weekly barbeque buffet</p>
<p>Weekly Tyrolean buffet</p>
<p>Christmas and New Year dinners included</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><span>The Hotel Tirolerhof is a </span>traditional, family-run, hotel with excellent facilities, a popular après-ski bar and an unbeatable location in <a rel="noopener" data-udi="umb://document/41d9aafa0f294702ba9d5658d85d5583" href="/{localLink:umb://document/41d9aafa0f294702ba9d5658d85d5583}" target="_blank" title="Oberau">Oberau</a>. <span>Irma and Martin Erharter and their family will welcome you to their hotel and their personal service will ensure you have an enjoyable stay.</span></p>
<h2><span>Family-Run</span></h2>
<p>The personal service of the Erharter family has attracted guests from all over Europe and the hotel has been popular with Inghams' guests for a long time, with lots returning year after year.</p>
<p>The hotel has a reputation for hearty food and the kitchen proudly serves dishes dedicated to the region.</p>
<p>Bedrooms are neatly furnished and bright with rustic pine furnishings and balconies to enjoy the view.</p>
<h2><span>Location</span></h2>
<p>The traditional and homely Hotel Tirolerhof is in a quiet location in central Oberau with beautiful views. The hotel has great access to the slopes. You will be located right next to Schießhüttllift, nursery slopes, and ski school.</p>
<h2>Relaxation</h2>
<p>The indoor swimming pool and spa area is the perfect place to relax. The pool has counter-current system, a fountain and massage jets and there's a sauna, steam room and aroma cabin which are very welcome after a days skiing.</p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We have an exclusive agreement with Hotel Tirolerhof making us the only UK tour operator to package and sell holidays here - all the more reason to book with Inghams today!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Comfortable lounge/bar</li>
<li>Residents' and à la carte restaurants</li>
<li>Sun terrace with après-ski bar 'Stadl' (may close during low season)</li>
<li>Large indoor pool, steam room and sauna</li>
<li>Massage treatments (pay locally)</li>
<li>Wi-Fi</li>
<li>Lift</li>
</ul>
<p><strong>Family Facilities</strong></p>
<ul>
<li>Family friendly hotel</li>
<li>Early meals and children's menu available</li>
<li>Cots &amp; linen</li>
</ul>
<p> </p>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "d25590bb-ceea-4785-9bbf-56d087f44d16",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"9fed2170-4284-4f85-ae6d-8c02b66d465c\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.44316]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>With excellent facilities and a popular après-ski bar, the Hotel Tirolerhof has an unbeatable location in Oberau. The traditional hotel is family-run and the <span>Erharter family aim to make you feel like you are in a home from home.</span>  </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e2b3ebcf9b8d49fd8424a8cdc12907c8]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €3.50 per person per night to be paid directly to the hotel.</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Nearest bus stop 100 metres away</li>
<li>Next to the lift, nursery slopes and ski school</li>
<li><span>Transfer time: approx. 1 hour 15 mins by coach from Innsbruck airport and 2 hour 30 mins by coach from Salzburg airport</span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.05008]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[59 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The family-run Hotel Tirolerhof has excellent facilities, a popular après-ski bar, and an unbeatable location for skiers. Book today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Tirolerhof | Oberau Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>59</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Tirolerhof]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATOB0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Comfort </strong>Austrian twins are around 22m² and sleep up to three (single sofa bed). These rooms have a shower and west facing balcony.</p>
<p><strong>Deluxe Morgensonne </strong>Austrian twins are around 30m² and sleep up to four. These rooms have an east facing balcony, giving the bright room its name 'Morning sun'.</p>
<p><strong>Single </strong>rooms with balcony and shower are around 16m².</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Cable / satellite TV</li>
<li>Fridge</li>
<li>Safe</li>
<li>Wi-Fi</li>
<li>Hairdryer</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[623671]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>