<?xml version="1.0" encoding="utf-8"?>
<newsItemPage guid="67c3c24c-b6de-430c-894c-94554cf1ee14" id="24801" nodeName="Inghams Launches Summer 2018 Brochure" isDoc="" updated="2024-07-27T22:28:04.4200000Z" parentGUID="d6a918e0-d7d5-47f2-82d3-1766f6b44a6a" nodeTypeAlias="newsItemPage" templateAlias="NewsItemPage" sortOrder="0" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13065539/lakes-2018.png" alt="Lakes &amp; Mountains 2018" rel="486,453" /></div>
<div style="height: 15px; font-size: x-small; text-align: center;">New Inghams Lakes &amp; Mountains Main Edition 2018 brochure.</div>
<div></div>
<div class="g12">
<div class="white_box_shadow">
<p align="center"><span style="text-decoration: underline;">Inghams Launches NEW Lakes &amp; Mountains Summer 2018 Main Edition Brochure </span><span style="text-decoration: underline;">With 14 NEW Resorts And Multi-Centre Holidays And A Brand NEW Programme In Portugal </span></p>
<p align="center"> </p>
<p>Specialist tour operator Inghams has launched its Lakes &amp; Mountains Summer 2018 main edition brochure, with a vastly extended programme. NEW additions include seven resorts in Italy, Austria and Norway, seven NEW multi-centre holidays combining destinations in Italy, Norway, Slovenia, Austria and Switzerland.</p>
<p>Paul Carter, CEO, says: “We’re especially excited to welcome Portugal to our Lakes &amp; Mountains programme and we invite guests to make the most of this beautiful destination through our range of FREE excursions. Value for money is very important to our guests, and whilst exchange rates aren’t currently where we’d like them to be, we’ve worked very hard to source new holiday options and ensure value is added to our guests’ holiday spending. We’re delighted to be able to offer a much wider choice and more flexibility for our guests in Summer 2018, whilst our long-standing relationships with existing hotel partners means we can continue to provide our range of Inghams PLUS offers and pre-bookable extras. We look forward to seeing our many regular guests again next summer, and extend a warm welcome to those who are travelling with Inghams for the first time.”</p>
<p><span style="text-decoration: underline;">What’s New for Summer 2018: Multi-centre holiday options</span></p>
<p>Inghams has also extended its range of multi-centre holiday options to include NEW escorted group tours and unescorted two-centre holidays. In Italy, guests can discover the highlights and delights of two of Italy’s most stunning lakes on the Maggiore &amp; Como Medley and Lake Como Highlights two-centre holidays (with included excursions). In Norway, guests can combine fantastic fjords and staggering scenery with urban culture on the Journey to the Fjords escorted group tour, or the Coastal Cities and Glaciers &amp; Coast multi-centre options.</p>
<p>The 10-night Journey to the Fjords escorted group tour starts from £1,549 per person including three and four-star accommodation on a bed and breakfast or half board basis in Oslo, Ulvik, Bergen and Stavanger, as well as return flights, airport transfers, a scenic rail transfer on the Bergen Railway from Oslo to Voss (with reserved seating and a light lunch served), a guided walk with the Inghams guide in Ulvik, and a scenic coastal ferry cruise transfer from Bergen to Stavanger (with buffet dinner included on board). For more information, visit www.inghams.co.uk or call 01483 791116.</p>
<p>Another eagerly-anticipated product for Summer 2018 is a two-country holiday to Slovenia and Austria: guests can visit Slovenia’s charming mountain resort of Kranjska Gora, its stunning Lake Bled or tranquil Lake Bohinj, followed by one of Austria’s popular resorts served by Salzburg flights (for example, Kitzbühel, Zell am See or Saalbach &amp; Hinterglemm). The 10-night two-country holiday starts from £1,119 per person including flights to Salzburg and airport transfers. For more information, visit www.inghams.co.uk or call 01483 791116.</p>
<p>Guests can also experience a new two-country holiday combination on the beautiful Lake Maggiore: stay in Locarno or Ascona on the Swiss side of the lake in colourful Ticino, followed by a visit to stylish Stresa in Italy. The 14-night two-country holiday starts from £1,788 per person including flights to Milan and airport transfers. For more information, visit www.inghams.co.uk or call 01483 791116.</p>
<p><span style="text-decoration: underline;">What’s New for Summer 2018: Resorts in Norway, Italy and Austria</span></p>
<p><span style="text-decoration: underline;">Norway</span>:<span style="text-decoration: underline;"></span></p>
<ul>
<li>Ulvik<br />Lying in a sheltered bay of the spectacular Hardangerfjord, known as the Orchard of Norway due to its plentiful fruit trees, Ulvik boasts breath-taking mountain scenery and offers a great choice for walkers. Visit with Inghams from £1,099 per person for seven nights, including flights and transfers.</li>
</ul>
<p><span style="text-decoration: underline;">Italy</span>:</p>
<ul>
<li>Corvara &amp; Colfosco <br />These two villages lie just 2km from one another in the heart of the Dolomites and offer a paradise land for walkers and e-bike lovers. A programme of guided walks organised by the Inghams Representative is available to book locally. Visit with Inghams from £879 per person for seven nights, including flights and transfers.</li>
<li>San Cassiano <span style="text-decoration: underline;"><br /></span>San Cassiano neighbours Inghams’ tranquil resort of La Villa in the Alta Badia region of the Dolomites. Top quality hotels, restaurants, lift systems and walks invite guests to discover this beautiful part of the world. Excursions available locally include a full-day WWI Trenches and Cortina trip, to discover the role this area played in WWI. Visit with Inghams from £799 per person for seven nights, including flights and transfers.</li>
<li>Folgaria &amp; Lake Lavarone <br />At the base of the Dolomites, these towns lie at a lower altitude with smaller peaks, making for some very accessible walking for all abilities. The use of lifts and public transport is FREE with the Trentino Guest Card. Inghams also offers plenty of excursions to help guests explore nearby highlights. Visit with Inghams from £729 per person for seven nights, including flights and transfers.</li>
</ul>
<p><span style="text-decoration: underline;">Austria</span>:</p>
<ul>
<li>Bad Kleinkirchheim <span style="text-decoration: underline;"><br /></span>A mountain wellness resort in Carinthia, Bad Kleinkirchheim is best known for its healing springs and the Alpine valerian plant, used for many of the available spa treatments. The Carinthia Card offers FREE entrance to local attractions and a FREE boat trip on Lake Millstätter. Visit with Inghams from £759 per person for seven nights, including flights and transfers.</li>
<li><span style="text-decoration: underline;">Jochberg and Mittersill</span> <span style="text-decoration: underline;"><br /></span>Inghams is introducing new high-end partner hotels in the Kitzbüheler Alpen region: the four-and-a-half-star <span style="text-decoration: underline;">Schloss Mittersill</span> in Mittersill will be exclusive to Inghams and occupies a beautiful 12<sup>th</sup> century castle with sweeping views. Enjoy a seven-night stay in the Kempinski Hotel Das Tirol or Schloss Mittersill from £1,179 per person with Inghams, including flights and transfers.</li>
</ul>
<p><span style="text-decoration: underline;">What’s New for Summer 2018: New activities in Chamonix, France</span></p>
<p>For Summer 2018, Inghams will offer a range of NEW adrenaline-fuelled excursions in Chamonix, appealing to those who seek a non-stop mountain holiday experience. These include:</p>
<ul>
<li>Overnight Glacier Experience <br />Spend an unforgettable night in the newly renovated Refuge du Montenvers</li>
<li>Mountain Magic <br />Experience an exhilarating introduction through three half-day excursions to some of the exciting local activities on offer, including white water rafting and guided biking</li>
<li>Ice, Air &amp; Rapids <br />This two-and-a-half day opportunity offers big thrills such as tandem paragliding and a guided Mer de Glace glacier hiking excursion</li>
</ul>
<p>Stay in Inghams’ Chalet Hotel Sapinière in Chamonix from £569 per person for seven nights, including flights and transfers as well as buffet breakfasts, afternoon tea and cake and five-course evening meals with complimentary wine. Excursions can be pre-booked from £105 per person. For more information, visit www.inghams.co.uk or call 01483 791116.</p>
<p><span style="text-decoration: underline;">Added Value</span></p>
<p>The new brochure also caters to those guests wanting to make their holiday budget go further, with an extensive range of complimentary extras included in the price of many holidays, meaning couples can save up to £800. These include:</p>
<ul>
<li>FREE excursions in Portugal</li>
<li>FREE guided walks in selected resorts</li>
<li>FREE bike hire in many hotels</li>
<li>FREE packed lunches and afternoon tea and cake in all chalets, Chalet Hotels and many partner hotels</li>
<li>HALF PRICE travel throughout Switzerland</li>
<li>FREE use of cable-cars, chairlifts and public transport in many resorts in Austria, Italy, France and Switzerland</li>
<li>FREE pocket guidebooks for Lisbon, Vienna, Salzburg, Venice and Verona</li>
<li>NO single supplement at selected hotels</li>
<li>15% discount at Cotswold Outdoor</li>
</ul>
<p align="center"><strong>For more information, visit </strong>www.inghams.co.uk<strong>, call 01483 791116 or follow @inghamssummer.</strong></p>
<p align="center"><strong>-ENDS-</strong></p>
</div>
<div class="g12">
<div class="white_box_shadow">
<p>For media enquiries, please contact:</p>
<p>Frankie Gibson, PR Executive<br />01483 791 045 / Frankie.gibson@inghams.co.uk / Twitter: @Fr4nkie_90</p>
</div>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>0</deactivateThisPage>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Inghams Summer 2018 Brochure]]></metaDescription>
  <metaTitle><![CDATA[Inghams Launches Lakes & Mountains Summer 2018 Brochure]]></metaTitle>
  <newsItemDate>2017-11-09T00:00:00</newsItemDate>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <thumbnail><![CDATA[umb://media/e397cfb54d4f44b78131e64ce5c1c2af]]></thumbnail>
  <title><![CDATA[Inghams Launches NEW Lakes & Mountains Summer 2018 Main Edition Brochure With 14 NEW Resorts And Multi-Centre Holidays And A Brand NEW Programme In Portugal ]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsItemPage>