<?xml version="1.0" encoding="utf-8"?>
<fAQCategory guid="0cad61f0-3d8e-42c4-8799-cf871523f282" id="30896" nodeName="Lapland" isDoc="" updated="2024-04-29T13:24:31.2430000Z" parentGUID="2978da0e-d64c-4c85-a52a-04c0bf4a34eb" nodeTypeAlias="fAQCategory" templateAlias="FAQCategory" sortOrder="20" published="true" isBlueprint="false">
  <bodyText><![CDATA[<p class="p1">FAQs for our 7 night Lapland programme.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <defaultProgram><![CDATA[umb://document/c99dcb3794324b5d86cc95eac3d2d9ab]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <metaDescription><![CDATA[Discover frequently asked questions about Lapland with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Lapland FAQs | Inghams]]></metaTitle>
  <pageTheme><![CDATA[2]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showSearchPanel>1</showSearchPanel>
</fAQCategory>