<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="fa286f1e-d7bd-443e-8172-7130e652afff" id="71461" nodeName="How can I explore the UNESCO World Heritage sites of the Dolomites ?" isDoc="" updated="2024-05-17T11:44:15.7030000Z" parentGUID="b30febbd-17c1-4f16-8756-0c26d376cdad" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="71" published="true" isBlueprint="false">
  <answer><![CDATA[<div class="c-page-content">
<p>To explore the UNESCO World Heritage sites of the <a data-udi="umb://document/f7e065ba2a3d40d7893ad1b116880496" href="/{localLink:umb://document/f7e065ba2a3d40d7893ad1b116880496}" title="The Dolomites">Dolomites</a>, you can visit the astonishing peaks within Nature Parks such as Three Peaks, Fanes-Sennes-Braies, Sciliar-Rosengarten, Puez-Odle, and GeoParc Bletterbach. You can choose between self-guided walks, which allow you to explore at your own pace, or opt for our <a data-udi="umb://document/419dea98f6194619b18de27172090063" href="/{localLink:umb://document/419dea98f6194619b18de27172090063}" title="Guided Walks">included guided walks</a> led by professional local guides.</p>
</div>]]></answer>
  <popular>1</popular>
  <question><![CDATA[How can I explore the UNESCO World Heritage sites of the Dolomites ?]]></question>
</fAQItem>