<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="45eb7a7f-a1e5-43fd-a7d1-ac4ddecafb79" id="68697" nodeName="Ski lift pass offers" isDoc="" updated="2024-04-30T09:58:14.9600000Z" parentGUID="2a1f7479-153b-4da5-8b87-7c9ce6a2d712" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="53" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="white_box_shadow"><img src="/media/13064400/switzerland_verbier_skiers-chairlift.jpg" alt="LiftPassHero" data-udi="umb://media/9777f8ade4c243ce9395b6d64efe1ee3" /><br />
<h2>Skiing lift pass offers</h2>
<p>Pre-book your lift pass with us to gain one of the below deals on your next skiing or snowboarding holiday.</p>
<h3 style="text-align: center;"><strong><em>Ski season 2024/25 new lift pass offers coming soon</em></strong></h3>
<p style="text-align: center;"><a data-udi="umb://document/500f33ac6e5a40b7900b12234eb39470" href="/{localLink:umb://document/500f33ac6e5a40b7900b12234eb39470}" title="Next Winter" class="c-btn">Next season deals</a></p>
</div>
<h2>Buy one get one half price lift pass offers:</h2>
<p> </p>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Flaine</h4>
<p><img src="/media/13095303/inghams-ski-adobestock_132188331-278x278.jpeg" alt="valdiserelink" data-udi="umb://media/4c8acd8872e3459a992d28d630bc1995" /></p>
<p>Buy one get one half price on all 6 day lift passes for 16, 23 &amp; 30 March and 6 April 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/5f7cf8fdbd684bd5bba7644eede878ac" href="/{localLink:umb://document/5f7cf8fdbd684bd5bba7644eede878ac}" title="Flaine" class="c-btn">Flaine - France</a></p>
</div>
</div>
<div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Montgenevre</h4>
<p><img src="/media/13103408/lift-pass-1.jpg" alt="LiftPass1" data-udi="umb://media/b28599f193444ad2a847f460456a9cb2" /></p>
<p>Buy one get one half price on all 6 day lift passes for 16, 23, 30 March 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/4355b275387942f08b2416ccd4bee606" href="/{localLink:umb://document/4355b275387942f08b2416ccd4bee606}" title="Montgenèvre" class="c-btn">Montgenevre - France</a></p>
</div>
</div>
<div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Val d'Isere</h4>
<p><img src="/media/13103409/lift-pass-2.jpg" alt="LiftPass2" data-udi="umb://media/7c860e0287d74e1586b4c76ea1b0293b" /></p>
<p>Buy one get one half price on all 6 day lift passes for 9 and 30 March 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere" class="c-btn">Val d'Isere - France</a></p>
</div>
</div>
<div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Tignes</h4>
<p><img src="/media/13103410/lift-pass-3.jpg" alt="LiftPass3" data-udi="umb://media/1cae6a9603d54bef8f06e41c764e4f9e" /></p>
<p>Buy one get one half price on all 6 day lift passes for 9, 16 and 30 March 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes" class="c-btn">Tignes - France</a></p>
</div>
</div>
<div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">La Clusaz</h4>
<p><img src="/media/13103411/lift-pass-4.jpg" alt="LiftPass4" data-udi="umb://media/687b32140e1049da93779fdfbd50d99c" /></p>
<p>Buy One Get One Half price on 6 day adult Local and Full Area Lift Passes for 16 March 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/597c2d8b93354bef8c187c100894c3f9" href="/{localLink:umb://document/597c2d8b93354bef8c187c100894c3f9}" title="La Clusaz" class="c-btn">La Clusaz - France</a></p>
</div>
</div>
<div> 
<h2>Buy one get one free lift pass offers:</h2>
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Grindelwald</h4>
<p><img src="/media/13049142/241_lift_pass.jpg" alt="GrindelwaldOffer" data-udi="umb://media/c0b9c92a2fc844e9be7279cead402f5a" /></p>
<p>Buy one get one free lift pass offer.<br />Applicable to Grindelwald only.<br />Valid for arrivals 2nd / 9th / 16th March (7 night bookings).<br />Valid for whole area - 6 day lift pass (Adult, Youth, Child and Senior).<br />New 2024 bookings only.<br />Pre-bookings only.</p>
<p style="text-align: center;"><a data-udi="umb://document/f6cb1f0178b7447488bbf36b5f109fbc" href="/{localLink:umb://document/f6cb1f0178b7447488bbf36b5f109fbc}" title="Grindelwald" class="c-btn">Gindelwald - Switzerland</a></p>
</div>
</div>
<div>
<h2>Paradiski upgrades &amp; lift pass offers:</h2>
<p> </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">La Plagne</h4>
<p><img src="/media/13095300/inghams-ski-adobestock_99925831-278x278.jpeg" alt="tigneslink" data-udi="umb://media/4fa0f1a1b1ef4c439413a33257cab688" /></p>
<p>Free upgrade from Local Classic Pass to Full Area Paradiski Lift Pass (adult, child &amp; seniors only) - 16 March 2024. 20% off the Paradiski Essential Lift Pass (adult, child &amp; seniors only) - 23 March 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/c155a29773fd476189963f3b4e3b57e4" href="/{localLink:umb://document/c155a29773fd476189963f3b4e3b57e4}" title="La Plagne" class="c-btn">La Plagne - France</a></p>
</div>
</div>
<div></div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Les Arcs</h4>
<p><img src="/media/13103413/lift-pass-6.jpg" alt="LiftPass6" data-udi="umb://media/e348b1d5c40643a990174fedaf4cdc6a" /></p>
<p>Free upgrade from Local Classic Pass to Full Area Paradiski Lift Pass (adult, child &amp; seniors only) - 16 March 2024. 20% off the Paradiski Essential Lift Pass (adult, child &amp; seniors only) - 23 March 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs" class="c-btn">Les Arcs - France</a></p>
</div>
</div>
<div></div>
</div>
</div>
</div>
</div>
</div>
<h2>Free child lift pass offers:</h2>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Avoriaz</h4>
<p><img src="/media/13103414/lift-pass-7.jpg" alt="LiftPass7" data-udi="umb://media/11487c0387e743bfaba7675d75497961" /></p>
<p>One free child, under 12 years, Portes du Soleil Lift Pass with each Adult Portes du Soleil Lift Pass that is pre-booked (departing from 30 March 2024)</p>
<p style="text-align: center;"><a data-udi="umb://document/799f63184c52477c94171a057c16e540" href="/{localLink:umb://document/799f63184c52477c94171a057c16e540}" title="Avoriaz" class="c-btn">Avoriaz - France</a></p>
</div>
</div>
<div></div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">La Plagne</h4>
<p><img src="/media/13103415/lift-pass-8.jpg" alt="LiftPass8" data-udi="umb://media/eb752aa702f24f86830c040c3692c55d" /></p>
<p>One free child Paradiski Lift Pass (5-12yrs) when 2 adults pre-book Full Area Paradiski Lift Pass - 6 &amp; 13 April 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/c155a29773fd476189963f3b4e3b57e4" href="/{localLink:umb://document/c155a29773fd476189963f3b4e3b57e4}" title="La Plagne" class="c-btn">La Plagne - France</a></p>
</div>
</div>
<div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Les Arcs</h4>
<p><img src="/media/13103416/lift-pass-9.jpg" alt="LiftPass9" data-udi="umb://media/4d3f87beb16a40579bb7be3e96d15079" /></p>
<p>One free child Paradiski Lift Pass (5-12yrs) when 2 adults pre-book Full Area Paradiski Lift Pass - 13 April 2024</p>
<p style="text-align: center;"><a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs" class="c-btn">Les Arcs - France</a></p>
</div>
</div>
<div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Andorra</h4>
<p><img src="/media/13103417/lift-pass-10.jpg" alt="LiftPass10" data-udi="umb://media/5436889c63b3450790f32809645352ad" /></p>
<p>Free lift pass for all children under 12 years old all season (not available locally) in Arinsal, Pas de la Casa Soldeu</p>
<p style="text-align: center;"><a data-udi="umb://document/043e5aa9497c411db243e21ed0a5049b" href="/{localLink:umb://document/043e5aa9497c411db243e21ed0a5049b}" title="Andorra" class="c-btn">View Andorra</a></p>
</div>
</div>
<div></div>
</div>
</div>
<h2>Free included lift pass offers:</h2>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Engelberg</h4>
<p><img src="/media/13103418/lift-pass-11.jpg" alt="LiftPass11" data-udi="umb://media/6695313657cb4707aea5e77021c51600" /></p>
<p>Free lift pass all season at Hotel Terrace</p>
<p style="text-align: center;"><a data-udi="umb://document/313f2f0348a742b4989db3458bb4a71a" href="/{localLink:umb://document/313f2f0348a742b4989db3458bb4a71a}" title="Engelberg" class="c-btn">Engelberg - Switzerland</a></p>
</div>
</div>
<div></div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h4 style="text-align: center;">Davos</h4>
<p><img src="/media/13103419/lift-pass-12.jpg" alt="LiftPass12" data-udi="umb://media/35a2ffd0fda542b4a0e6f6addcff1b73" /></p>
<p>Free lift pass all season at Club Hotel Davos</p>
<p style="text-align: center;"><a data-udi="umb://document/a95de5322c984f85bcf0f013c457e8df" href="/{localLink:umb://document/a95de5322c984f85bcf0f013c457e8df}" title="Davos" class="c-btn">Davos - Switzerland</a></p>
</div>
</div>
<div></div>
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<div class="g6">
<div class="white_box_shadow"><br /><br /><br />
<h2 style="text-align: left;"><strong>How do I redeem these offers?</strong></h2>
<ul>
<li style="text-align: left;">Create your new ski holiday booking</li>
<li style="text-align: left;">Simply select (individually) your lift pass offer</li>
<li style="text-align: left;">The discount will be automatically applied</li>
<li style="text-align: left;">You can also use our Live Chat or call our Reservations Team on <strong>01483 791 111</strong>. </li>
</ul>
</div>
</div>
<div style="font-size: small;">
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13097943/booking-process.jpg" alt="" data-udi="umb://media/77fd365a93ea400f806344b49a5ee21b" /></p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your holiday. Flights, hotel and transport? We’ve got you covered. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Pre-book your lift pass with us to make the most of our lift pass offers.]]></metaDescription>
  <metaTitle><![CDATA[Ski lift pass offers – Ski Holidays 2024/25| Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ski lift pass offers]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Lots of seasonal lift pass offers for every year. </p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/6b0bcd26823347a2bdd989c0c8eaad90]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>