<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="076bd92c-4cb4-413e-ad20-a6e7dd5518c3" id="23565" nodeName="Hotel Arboisie Suites" isDoc="" updated="2021-12-31T12:49:28.4070000Z" parentGUID="fef6eb64-097d-455b-a6b4-f99a64030d6d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="5" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Room only</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>This impressive chalet style hotel has an excellent position in the chic and much sought after Mont Arbois area of Megève. It has recently undergone a complete renovation and offers high standard accommodation and magnificent spa facilities. The views over the village and the valley are breathtaking and the hotel offers a shuttle service to the lifts and the village all day.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>State-of-the-art spa centre with indoor pool, sauna, whirlpool and steam room (FREE); variety of beauty and health treatments (local charge)</li>
<li>Lounge bar with fireplace</li>
<li>Garage (€16 per day)</li>
<li><strong>Free</strong> Wi-Fi throughout the hotel.</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>W18/19 Early Booking Offers: Save up to £xxx</strong> per couple for departures xx (book by 30 Jun).</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This impressive chalet style hotel has an excellent position in the chic and much sought after Mont Arbois area of Megève.</p>]]></listingDescription>
  <listingImage></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li><strong>Free</strong> ski shuttle service to and from the lifts, pistes and village centre all day between 8.30am and 7pm</li>
<li>20 minutes' walk to the village centre</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Arboisie Suites in Megeve, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Arboisie Suites, Megeve France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>69</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>Colline Suite (20m²) - sleeps 2-3<br />Megève Suites (35m²) - sleeps 2-3<br />Evasion Suite (55m²) - sleeps 4-5</p>]]></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRMG0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>All suites have bath and shower attachment, satellite TV, safe, balcony or terrace, kitchenette with ceramic hob, microwave and dishwasher (pay locally for kitchenette use, €30 per day for Colline Suite and Megève Suite and €50 per day for Evasion Suite). Colline Suite (20m²) - sleeps 2-3 Lounge area with sofa bed for a child and separate twin or double bedroom. Megève Suites (35m²) - sleeps 2-3 are slightly larger than Colline Suites and with have a better view. Evasion Suite (55m²) - sleeps 4-5 Lounge area with sofa bed for a child, two separate twin or double bedrooms and additional shower room.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>