<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="252faf12-fb23-46bd-85b7-178063c54931" id="69120" nodeName="What activities and excursions are available in Muonio?" isDoc="" updated="2024-05-17T10:31:21.9800000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="46" published="true" isBlueprint="false">
  <answer><![CDATA[<div class="c-page-content">
<p><a data-udi="umb://document/f17d8b77f99a42a9b62f797a2af5648a" href="/{localLink:umb://document/f17d8b77f99a42a9b62f797a2af5648a}" title="Excursion Information">Exciting excursions</a> are included as part of your Santa Breaks package to <a data-udi="umb://document/e503cfe5221245848fdc35484972181c" href="/{localLink:umb://document/e503cfe5221245848fdc35484972181c}" title="Santa Breaks in Muonio">Muonio</a>. You'll have the opportunity to go snowmobiling, husky sledding, take a reindeer sleigh ride and have a private meeting with Santa.</p>
</div>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What activities and excursions are available in Muonio?]]></question>
</fAQItem>