<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="593372d4-6b49-4271-b596-1e7eee5fdd70" id="64633" nodeName="Hotel Princesa Parc &amp; Spa" isDoc="" updated="2024-11-12T11:52:16.1800000Z" parentGUID="8eccec3a-0de7-4863-832b-485ee830396a" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="5" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "deb3aed8-8413-40bd-bbd8-22383b97ce18",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer (min 7 night stay, book by 1st May 25)",
    "addedValueStart": "2024-10-29T16:59:38",
    "addedValueEnd": "2025-04-30T16:59:41",
    "hideAddedValue": "0"
  },
  {
    "key": "a22551f1-d25c-4080-b096-d329c603f14a",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free welcome drink",
    "addedValueStart": "2024-10-29T17:00:36",
    "addedValueEnd": "2025-09-30T17:00:38",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[3,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>5</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/18052d6d59844b02b8d15d3177d68da1,umb://media/6ade6bb88445462d8c8ead6e61613035,umb://media/db5e87fce675455f852dd42a49dedbcc,umb://media/fa596551a1c546e7b46a9d897a6719f9,umb://media/61564ff01889402c99faee2c5e1af00c,umb://media/ca9bdd0f598143a18427849bf1ac2a85,umb://media/494782df007741619d13c9cc2de70584,umb://media/3114fd7a805d46969ff8c9e066549f88,umb://media/fbe4671437e94bfdaced89af307a6481]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Enjoy a buffet breakfast each morning of your holiday from 7.30am to 9.30am. </p>
<p>Come evening, dinner is a four-course buffet with show cooking and plentiful choice ranging from international, Mediterranean and mountain cuisine - delicious! </p>
<p>Guests can book the standard <strong>half board</strong> that includes breakfast and dinner. Or, from July - early September, for a supplement guests can book onto the <strong>full board with drinks package</strong> which includes a buffet breakfast, buffet lunch, and buffet dinner, as well as drinks during dinner (wine, beer and soft drinks) and included drinks at the bar as per the selected club menu, plus one hour per day free access to the spa. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel Princesa Parc &amp; Spa is perfect for those looking for a majestic hotel in the mountains. Situated in Arinsal you’re in easy reach of the village but onsite you’ll find plenty of facilities to enjoy.</p>
<h2>Great facilities for a family summer holiday</h2>
<p>For those travelling with families, the surrounding area is great to explore on foot, or, make use of the public transport that will take you to further towns and trails. If you’re looking to make the most of your hotel though then the kids will love the on-site ten-pin bowling and games room (payable locally). You’ll also find an outdoor pool which is usually open from the end of June - 11th of September (opening is subject to weather conditions). There are also dedicated times in the spa for children (payable locally), there are plenty of ways to keep the kids entertained.</p>
<h2>Enjoy the spa after a day of walking</h2>
<p>The spa and wellness area is seriously impressive at the Princesa Parc. There is a local charge to access the spa and wellness area but if you opt for the full board including drinks package (only available during certain months and selected drinks only) then the spa is free to access for one hour per day. There are numerous facilities to try out, saunas, whirlpools, waterjets as well as an ice fountain – talk about total relaxation.</p>
<h2>Food and Drink</h2>
<p>The hotel has a couple of options when it comes to food and drink so you have greater choice and flexibility. You can opt for the standard half-board with breakfast and dinner, or, the full board option has breakfast, lunch, dinner and also includes a drinks package (selected drinks included during dinner and from selected club menu at the bar) as well as free spa access for one hour per day. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Wellness</strong></p>
<p>The spa and wellness area offers two saunas, a steam room, two whirlpools, a small hydromassage pool, relaxation room and marble Caldarium with ice fountain. The spa is accessible for people over 13 years old and there is an entrance fee of €15 per person per hour, payable locally unless you have booked the full board with drinks package then you can access the spa for one hour free per day. Children must be accompanied by an adult and are only permitted between 3pm - 6pm Monday to Saturday (times are subject to change).</p>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Bar and lounge</li>
<li>Garden</li>
<li>Ten-pin bowling and arcade (payable locally)</li>
<li>Outdoor swimming pool (usually open from the end of June - 11th of September, opening is subject to weather conditions)</li>
<li>Games room (payable locally)</li>
<li>Bike storage</li>
<li>Fitness room</li>
<li>Parking approx. €10 per day (payable &amp; bookable locally)</li>
<li>Free Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "c8cec48f-be90-4d8d-9ce5-f68c337c3018",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"79c3e9fb-d8b0-42f9-8f4d-f0e5efa35de4\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude><![CDATA[42.5748]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Hotel Princesa Parc &amp; Spa offers a majestic hotel in the mountains. With plentiful facilities on offer including an extensive spa (payable locally) and fantastic family facilities. </p>
<p> </p>
<p> </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/18052d6d59844b02b8d15d3177d68da1]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time, approx. 4 hours from Barcelona airport. Transfers are a public shared shuttle that runs every 2 hours at set times from Barcelona airport to Arinsal, with scheduled stops. Guests will change at Andorra La Villa for a shuttle up to Arinsal to their hotel.</li>
<li>200 metres from the centre of Arinsal </li>
<li>150 metres to the bus stop </li>
<li>300 metres to the supermarket </li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[1.4818]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Enjoy all the fantastic facilities Hotel Princesa Parc & Spa has to offer, all whilst being within easy reach of the centre of Arinsal. Book your walking holiday with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Princesa Parc & Spa, Arinsal | Andorra Walking Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>150</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Princesa Parc & Spa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ADAR0114]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin or Double Rooms </strong>are approx. 21m² and sleep two people. These rooms have a bath or shower. This room type is also available for sole use at a supplement and on request, please call to book.</p>
<p><strong>Twin or Double Rooms with balcony</strong> are approx. 23m² and sleep two people. These rooms have a a balcony and bath or shower. </p>
<p><strong>Triple Family rooms</strong> are approx. 44m² and sleep two to three people. The extra bed is a single bed and they have a bath with showerhead. This room type is available on request, please call to book.</p>
<p><strong>Quadruple Rooms</strong> are approx. 47m² and sleep two - four people. There is a double bed and two single beds. This room type is available on request, please call to book.</p>
<p><span>The Princesa Parc and Princesa Parc Excellence Hotels are a joint complex made up of 5 buildings which are all interconnected by closed walkways to the main reception and restaurant area. </span></p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Tea &amp; Coffee making facilities </li>
<li>Safe </li>
<li>Minibar (payable locally)</li>
<li>Hairdryer </li>
</ul>
<p><strong>Local fees and taxes</strong><br />A tourist tax of approx. €2.90 per person per day is payable locally for guests age 16 years and over. </p>
<p><strong>Accessibility</strong></p>
<p>The hotel does have adapted rooms available on request, please call to book.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[265413]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>