<?xml version="1.0" encoding="utf-8"?>
<reskinProductGoodToKnowItem guid="1ffc16ee-2ac1-43ee-8fa2-32f4049ebcfc" id="60866" nodeName="Lapland 2024/25" isDoc="" updated="2024-06-12T09:18:57.3930000Z" parentGUID="4cf70ee7-e4d3-49b2-8dac-53875f0c38b6" nodeTypeAlias="reskinProductGoodToKnowItem" templateAlias="" sortOrder="4" published="true" isBlueprint="false">
  <goodToKnowIcon><![CDATA[flights-transfers-accommodation]]></goodToKnowIcon>
  <goodToKnowItemDescription><![CDATA[<p>A once in a lifetime adventure at the arctic circle awaits. </p>]]></goodToKnowItemDescription>
  <goodToKnowItemTitle><![CDATA[[
  {
    "name": "Lapland Deals for 2024/25",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/ce29c59d3ed74155a321f244a0a3d693",
    "externalLink": "",
    "linkName": "Lapland Deals for 2024/25",
    "linkTitle": "Lapland Deals for 2024/25",
    "linkTitleColor": ""
  }
]]]></goodToKnowItemTitle>
</reskinProductGoodToKnowItem>