<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="db005086-c4b3-4c8a-9fd2-03cba2f1c0a7" id="21957" nodeName="Hotel Val Sinestra" isDoc="" updated="2024-11-25T15:32:14.7100000Z" parentGUID="3c3783ff-0696-436c-b752-c8195e705dec" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/8d05bdba8f4b4acfa654340e77b899bc,umb://media/d8e9d014f1a9405d9be72b15d7a5e4d1,umb://media/1cc09b89591744adb459cc6dd454e303,umb://media/827dc72acc054f2088143c63feed9fc9,umb://media/1dda573ce17f4869aff160886302a979,umb://media/9e376cae8d2f419cbd6972981e1c0c02]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Buffet breakfast</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Located just below the piste a<span>t the upper edge of the village, where the sun shines longest, t</span>he Hotel Val Sinestra is a small hotel with a unique homely and authentic Austrian atmosphere.</p>
<h2>Traditional Austrian hotel</h2>
<p>The charming and traditional Val Sinestra is ideal for guests who prefer a small hotel with a homely and personal atmosphere. The hotel is very traditional and is a German-speaking hotel.</p>
<h2>Ski back location</h2>
<p>Located just below the piste it is possible to ski back to the hotel door in good conditions</p>
<p>The hotel has a prime position with great views over Ischgl and the main Fimbabahn and Silvretta gondola stations are close by. </p>
<p><span><a data-udi="umb://document/3c3783ff0696436cb752c8195e705dec" href="/{localLink:umb://document/3c3783ff0696436cb752c8195e705dec}" title="Ischgl">Ischgl's</a> resort centre and its many shops, bars and restaurants are also within </span>easy reach.</p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We have an exclusive agreement with Hotel Val Sinestra making us the only UK tour operator to package and sell holidays here - all the more reason to book with Inghams today!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Snug lounge area</li>
<li>Rustic breakfast room</li>
<li>Ski &amp; boot room</li>
<li>Wi-Fi </li>
<li>This hotel does not have a lift</li>
<li>Cots are not available, this hotel is for ages 2+</li>
<li>The hotel is German-speaking hotel</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "e0e993e8-959f-48bf-ac8c-ca21450f553c",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f9744561-4e5a-457a-b730-d1608a63c3df\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.009577]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Val Sinestra is a small and hearty establishment with a unique homely and authentic Austrian atmosphere. Located just below the piste it is possible to ski back to the hotel door in good conditions.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8d05bdba8f4b4acfa654340e77b899bc]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €4 per person per night to be paid directly to the hotel.</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>In an elevated position just below the piste from where intermediate skiers can take a track back to the hotel</li>
<li>150 metres from the hotel there is a lift down to the moving walkway which connects with the Fimbabahn gondola</li>
<li>Nursery slopes at the top of the Fimbabahn gondola</li>
<li>400 metres to the village centre</li>
<li>Transfer time:<span> </span><span>approx. 1 hour 30 mins by coach from Innsbruck airport</span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[10.291257]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[12 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Charming Hotel Val Sinestra offers a cosy, homely vibe in Ischgl. Book your stay with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Val Sinestra | Ischgl Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>0</nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>12</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Val Sinestra]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATIS0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Austrian twins </strong>are simply furnished and around 25<span>m². These rooms have a bath, seating area and a balcony. Some rooms can sleep up to three using a double sofa bed.</span></p>
<p><strong>Single</strong> rooms are around 18m<span>² and have a shower and balcony.</span></p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li><span>Cable / satellite TV</span></li>
<li><span>Wi-Fi</span></li>
<li><span>Hairdryer</span></li>
<li><span>Safe</span></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li><strong>Location</strong> In an elevated position just below the piste from where intermediate skiers can take a track back to the hotel.</li>
<li>150m from the hotel there is a lift down to the moving walkway which connects with the Fimbabahn gondola</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1017992]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>