<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="13f581d4-8ab5-40af-80b7-e9f149ab1508" id="61915" nodeName="Quinta Splendida" isDoc="" updated="2024-08-28T11:48:53.6800000Z" parentGUID="f6d745a0-efdf-44b5-b28b-cd4bee55dbb1" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>The hotel has two accessible rooms that are available on request</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "68624dbc-29fb-4014-96a7-5d03db7717f9",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for stays from Dec 24 to April 25 (book by 30th Sept) ",
    "addedValueStart": "2024-08-21T11:39:33",
    "addedValueEnd": "2024-09-30T11:39:36",
    "hideAddedValue": "0"
  },
  {
    "key": "7bae9bdc-bae9-4b1a-91fc-2eefd2d0089c",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for stays from July 25 to Oct 25 (book by 28th Feb) ",
    "addedValueStart": "2024-08-21T11:40:49",
    "addedValueEnd": "2025-02-28T11:41:00",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/70919130841f4814a43050907982f2ff,umb://media/f54e64d27d3f44c794b18fbfee29f3e2,umb://media/f6c8a0f85b4647edbeb5ee385125ce24,umb://media/c442994b83ab457386ac646226110912,umb://media/5a6ef1976416499d969498ec158fcb42,umb://media/043d57850b5c4eae90754386757fc630,umb://media/7ca6e309aa0941729894289865f331c2,umb://media/5981811c658a4acc86add7ee8abc17a7,umb://media/077e4017a1c3499992c7ca9b55cfed38,umb://media/ed5dc0b9d39549498ae6fdc5d260c7d6,umb://media/ecd7fa5d24294b87b86dfe2e8c23b352,umb://media/d747367e72dd496a9bc02eca69f2b229,umb://media/30b4b22e81b946e2958300846dbba23c,umb://media/a707716904c840b88d8febd1746ba4df,umb://media/4406c93eeed44f2ab3b295c0cfca0067,umb://media/43137136c6c54973b1e3830fcdc777cd,umb://media/a47f72b7531d48859789d263b89e34f1,umb://media/4ce695cb4f044a6bacf10fa84f2dbe37]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>This property is available to book on bed and breakfast or half-board. For breakfast you can look forward to a tasty buffet from 7.30am – 10:30am. For those on half-board you can enjoy a delicious evening buffet in the Galeria Restaurant.</p>
<p><strong>Galeria Restaurant</strong></p>
<p>For those booked onto half-board, for dinner, you can tuck into a Mediterranean buffet in a contemporary setting with views looking out towards the sea or dine on the large terrace. There is a variety of food on offer and most of the fruit and vegetables served at the hotel are grown on the property - its hard to get fresher than that.</p>
<p><strong>Thai Lounge</strong></p>
<p>Enjoy delicious and nutritious Thai cuisine featuring organic herbs and spices and great atmosphere (bookable and payable locally). </p>
<p><strong>Historic Wine Cellar</strong></p>
<p>The property still has its original wine cellar and offers a weekly Madeiran wine tasting – great for immersing yourself in the history of this property (bookable and payable locally, approx. €6 per person, subject to availability).</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Quinta Splendida is a wonderfully-restored 19<sup>th</sup> century mansion in a tranquil oasis of 30,000m² of breath-taking botanical gardens. It’s only a short distance from the small town of <a data-udi="umb://document/f6d745a0efdf44b5b28bcd4bee55dbb1" href="/{localLink:umb://document/f6d745a0efdf44b5b28bcd4bee55dbb1}" title="Caniço" data-anchor="#">Caniço</a> but with everything you need onsite, you’ll want to stay and enjoy this botanical paradise.</p>
<h2>Beautiful botanic gardens</h2>
<p>Is there anything more serene than an afternoon stroll in the Madeiran sun surrounded by beautiful flowers, vibrant colours and the sweet scent of tropical flora? We don’t think so and that’s why we love the Quinta Splendida. Its extensive and truly unique gardens have been a passion project for the owner for over 30 years and are classed as Botanical Gardens; a title bestowed by the Madeiran Government in recognition of the hard work and dedication gone into them. Try to spot the different species of plants; there are over a thousand varieties to see in this tropical paradise.</p>
<h2>Delicious dining experiences</h2>
<p>The hotel offers a great variety of restaurants and bars on-site (payable locally). We love to head to the Siddhartha bar on sunny days and grab a drink and a small bite to eat next to the outdoor swimming pool, it’s the perfect spot to enjoy the sea views. In the evening, head to the Globe bar and treat yourself to a drink from its extensive cocktail menu – there's live music to enjoy three times a week and more in summer. To dine, you’ll find a Thai restaurant with a variety of Asian flavours on offer as well as the Galeria restaurant which has a range of Mediterranean inspired dishes. </p>
<h2>Relax in one of the largest Spas on the island</h2>
<p>Treat tired legs after a day of walking the Madeiran trails and indulge in a little TLC by heading to the hotel spa and wellness centre (available at a daily supplement for some room types). You can enjoy a variety of treatments and massages (bookable and payable locally) or take a dip in the indoor pool. There is also a whirlpool, relaxation area and our recommendation - head for the outdoor terrace and soak up those magnificent sea views.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Quinta Splendida Design Spa</strong></p>
<p>The hotels spa is one of the largest on the island with plenty of space to relax and unwind. (Please note that for some room types there is a charge to use the spa, payable locally) You’ll find an indoor swimming pool, relaxation and leisure areas as well as Haman treatment bed, ten treatment rooms and whirlpool. (Massages and treatments are an additional charge and are bookable and payable locally).</p>
<p><strong>Botanical Gardens</strong></p>
<p>The hotel has 30,000 m² of beautiful botanical gardens with over 1,000 different varieties of plants and flowers – once a week you can enjoy a guided tour of these extensive gardens (bookable and payable locally, approx. €5 per person, subject to change). You’ll find plants from all over the world here including the Dombeya from Madagascar with its beautiful pink flowers set against its evergreen leaves. Head to the sun terrace next to the Galeria restaurant to find Strelitzia, this majestic flower often nick named the bird of paradise plant is a joy to see.</p>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Large freshwater outdoor swimming pool (open 8am – 8pm)</li>
<li>Cardio fitness room near the outdoor swimming pool</li>
<li>Sun terrace</li>
<li>Table tennis</li>
<li>Pool table</li>
<li>5 hole putting green</li>
<li>Golf services (payable and bookable locally, own transport may be required)</li>
<li>Two bars</li>
<li>Small art gallery</li>
<li>Pool towel service</li>
<li>Parking (bookable and payable locally)</li>
<li>Free Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "c0321492-88ba-4c29-b279-fa02ff10b054",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"c25f8e9a-13e4-4b34-984e-ada24673dc35\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[32.650435]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A beautifully-restored 19th Century mansion nestled in the Quinta Splendida Botanical Gardens. The hotel offers a tranquil escape, with restaurants, bars, and a swimming pool on-site, as well as the 30,000 sqm gardens to explore. Within easy walking distance (and accessible via public transport) you can enjoy the small steeply-terraced town of Canico, pebbled beaches, and crystal clear waters.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/70919130841f4814a43050907982f2ff]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: Approx. 15 minutes from Madeira airport </li>
<li>5 minute walk from centre of Caniço</li>
<li>Pebble beach (Praia dos Reis Magos) is approx. 2.5 kilometres away</li>
<li>7 kilometres to Funchal</li>
<li>20 metres to bus stop</li>
<li>25 metres to nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[-16.8390943]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[166 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Quinta Splendida today with Inghams. A beautifully-restored 19th Century mansion set in the Quinta Splendida Botanical Gardens.]]></metaDescription>
  <metaTitle><![CDATA[Quinta Splendida, Canico | Walking Holidays in Madeira | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>166</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[PTCN0101]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>All rooms are integrated into the botanical garden. Rooms are designed in a typical Mediterranean style and also have use of the outdoor pool, fitness room and table tennis areas. The spa is available at a supplement of approx. €22.50 per person per day for all room types but if you treat yourself to a massage (bookable and payable locally) then you can also enjoy the spa facilities for the day. Those staying in the Spa Sea View Suite have spa access included (massages and treatments are an extra charge, bookable and payable locally).</p>
<p><strong>Twin Garden View Rooms</strong> are approx. 20m² and have a balcony or terrace. These rooms sleep two people. </p>
<p><strong>Garden View Studios</strong> are approx. 29m² with views of the beautiful gardens, a kitchenette, balcony or terrace. These rooms sleep two people. </p>
<p><strong>Side Sea View Studios</strong> are approx. 29m² and offer a kitchenette as well as a balcony or terrace. These rooms sleep two people. </p>
<p><strong>One Bedroom Apartments</strong> offer side sea views and are approx. 55m². They offer a well-equipped kitchenette as well as a balcony or terrace. These rooms sleep up to four people. </p>
<p><strong>Spa Sea View Suites</strong> offer a double bed and are approx. 85 – 115 m²  and offer wonderful sea views. Enjoy access to the spa as well as use of the indoor pool. These suites offer a balcony, bathrobes, tea &amp; coffee making facilities and minibar. These rooms sleep two people. </p>
<p>Single Garden Rooms, Single Studio Garden View rooms and Single Studio Side Sea View rooms are available on request, please call to book. </p>
<p>Please note that no rooms have air conditioning. </p>
<p><strong>Bedroom facilities:</strong></p>
<ul>
<li>Bath or shower</li>
<li>Tea &amp; coffee making facilities</li>
<li>Hairdryer</li>
<li>Safe (payable locally, free in spa suites)</li>
<li>TV</li>
</ul>
<p>Cots are available on request.</p>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>2pm</strong></li>
<li>Check-out: <strong>12pm</strong></li>
</ul>
<p><strong>Local fees and taxes</strong><br />A tourist tax of approx. €2.00 per person per night is payable locally for guests age 13 years and over (subject to change).</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The hotel may be able to cater for gluten-free, dairy-free, and vegan diets on request. Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[320754]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>