<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="db03040b-91a3-4a5c-9efd-c1d724335bf4" id="68787" nodeName="Hotel Lykke" isDoc="" updated="2024-12-04T09:58:37.6500000Z" parentGUID="2735e238-9f7c-411c-b306-1226ce7548d1" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="18" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/55baee30d9ba4e61aebd2ca29c378301,umb://media/faf42b90203749fd810845ffe6e04651,umb://media/90dbe2400bf046a085e4647fdc5e715f,umb://media/d60ba02855b64b17bbec6f2e977914c8,umb://media/6089ed8af52049bdb3f6fa9ad3e00a06,umb://media/756f1764ffa1456a8db0ecdca1915758,umb://media/6d42c0311c1f4a31979157e497393812,umb://media/4040ea76f1cd417bb8beaae89e80b11c]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The hotel restaurant Kaffe &amp; Kro is where you’ll enjoy breakfast and dinner on half-board (please note that from the 2nd of September - 16th of October 2024 the hotel is only available on bed and breakfast).</p>
<p>Breakfast offers a delicious sweet and savory buffet with hot and cold options including waffles, pancakes, pastries, fresh fruit and regional cold meats and dairy products. For those dining on half-board, you can enjoy a delicious buffet for dinner. </p>
<p>If you want a change of scenery one evening there's an option to have dinner in one of the Hotel Lykke's sister hotels (once per week instead of a meal at Hotel Lykke). Choose between the Chalet Hotel Le Prieure and Spa or Brasserie L'M. This is a great opportunity to branch out and try a variety of local food. (only available for guests dining on half-board).</p>
<p>Child meal times are available to arrange locally.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel Lykke, situated in the beautiful town of <a data-udi="umb://document/2735e2389f7c411cb3061226ce7548d1" href="/{localLink:umb://document/2735e2389f7c411cb3061226ce7548d1}" title="Chamonix">Chamonix</a> is a calming hotel surrounded by woodland themed décor and soft green accent walls. With a recent renovation to some parts of the hotel and the hotels name even translating to “happiness” in Danish we’re sure you’ll love your stay here.</p>
<h2>Appetite for Walking</h2>
<p>After a day of walking in the Chamonix mountains, the Hotel Lykke will feel like a welcome retreat, enjoy the spa (open from 15th of July 2024) or in the evening you can head to the hotel restaurant for a tasty meal. The restaurant also takes influence from nature offering atmospheric décor.</p>
<h2>Relaxation Holiday</h2>
<p>Those looking for relaxation are in for a treat, the hotels new spa opens on the 15th of July 2024 and will offer a sauna, hammam, indoor swimming pool and fitness room.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Small garden</li>
<li>Lounge area</li>
<li>Bar</li>
<li>Free Wi-Fi</li>
<li>Parking, bookable and payable locally</li>
<li>New spa and wellness area opening on the 15th of July 2024 and will include a sauna, hammam, indoor swimming pool and fitness room. The spa area including the indoor pool will be limited to a maximum of 40 people at a time.</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "7e1ef40f-13a7-48b9-b88c-ff8a8f766e74",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"afc99d26-80f4-4f12-a77e-f62781667974\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Hotel Lykke offers a great position near the centre of Chamonix. The hotel has a welcoming, peaceful feel and from the 15th of July 2024 will have a new spa area.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/90dbe2400bf046a085e4647fdc5e715f]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 1 hour 15 minutes by shared transfer from Geneva airport</li>
<li>Located near the centre of Chamonix</li>
<li>50 metres to nearest bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Enjoy a stay at the Hotel Lykke in Chamonix with a lovely spa, nature inspired décor and a central location. Book your stay with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Lykke | Holidays in Chamonix | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>132</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Lykke]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCH0129]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin Standard Rooms</strong> sleep two people, are approx. 23m², have a shower stall and can be made up as twin beds or a double bed (please specify preference when booking). This room type is also available for sole use on request and at a supplement, sole use rooms can either have a bath with showerhead or a shower stall, please call to book.</p>
<p><strong>Twin Superior Rooms</strong> sleep two people, are approx. 32m² and have a bath with showerhead. This room type is also available as a triple, quad or sole use room on request and at a supplement.</p>
<p><strong>Triple Superior Rooms</strong> sleep three people, are approx. 32m² and have a bath with showerhead. Beds can either be made up as twin beds or a double bed (please specify preference when booking) the extra bed is a single sofa bed.</p>
<p><strong>Quad Superior Rooms</strong> sleep four people, are approx. 32m² and have a bath with showerhead. There is a main bed which can either be made up as twin beds or a double bed (please specify preference when booking) the extra bed is a double sofa bed.</p>
<p>Cots free for children up to two years (on request and subject to availability).</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Balcony with mountain views</li>
<li>Tea &amp; coffee making facilities (available on each floor of the hotel)</li>
<li>TV</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>There is a resort tax of approx. €2.50 per person, per day payable locally (under 18s free of charge).</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[233335]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>