<?xml version="1.0" encoding="utf-8"?>
<homePageFeaturedItem guid="18b2d274-6189-44ff-9173-7829af4cd1cb" id="36019" nodeName="Summer 2020" isDoc="" updated="2019-12-23T09:42:50.6870000Z" parentGUID="e408c497-7de3-4637-a422-217eeca437a3" nodeTypeAlias="homePageFeaturedItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <featuredItemFontColour></featuredItemFontColour>
  <featuredItemImage><![CDATA[umb://media/12a4abd7f76444978e310148aca4891c]]></featuredItemImage>
  <featuredItemMobileImage></featuredItemMobileImage>
  <linkType><![CDATA[0]]></linkType>
  <offerLink><![CDATA[[
  {
    "name": "Lakes & Mountains Holidays",
    "udi": "umb://document/96a3e4d143704d3e93793368e4fc0416"
  }
]]]></offerLink>
  <offerSearchLink></offerSearchLink>
  <primaryStrapline></primaryStrapline>
  <secondaryStrapline></secondaryStrapline>
</homePageFeaturedItem>