<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="e9ab41aa-1c0c-4603-9a2b-fc2827b52d09" id="48355" nodeName="Campo Regio Relais" isDoc="" updated="2021-12-09T16:47:26.8270000Z" parentGUID="8502468f-e6eb-499f-aab1-6739425f51ec" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/8a62b1f4fe224d1f953a3e64a413f8cd,umb://media/6eaa69aabe97476d81815daa53ad5a31,umb://media/6571a44eba544fd8911633dfc4c7c45f,umb://media/ba695957edb64aef892b401dc25c299b,umb://media/ec0d452dc95f4b62b1b1a2d3e669bb9b,umb://media/3c057a1326264e52a829bde68c4618e4,umb://media/69d4e4ddb1634413842116b6452d3ec6,umb://media/8e2097153dd5456fa7099a9be4a4bcd1,umb://media/b4b22606d08f4d5f9096a857891b738b,umb://media/deb670895ced4691911e1b3dffc07f86,umb://media/12a57f96fbc24eb38b96e4f2f150b5f8]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Enjoy breakfast out on the terrace overlooking Siena's beautiful Duomo. The buffet includes <span>cereals, cakes, croissants, bread, toasts, jams, honey, fresh fruits, yogurt, cheese, sliced cold meats and eggs. To drink you'll have a choice of tea, cappuccino, espresso, American coffee and fruit juices. If you'd like to have breakfast in brought to your room, you can pay a supplement locally. </span></p>
<p><span>Breakfast is served from 8 - 10:30am</span></p>
<p>There's a nice lounge area where there's an honesty bar for those evenings when you fancy a nightcap. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Stacked amongst the peach coloured medieval houses you'll find Campo Regio Relais, a beautiful, individual hotel in the heart of <a data-udi="umb://document/8502468fe6eb499faab16739425f51ec" href="/{localLink:umb://document/8502468fe6eb499faab16739425f51ec}" title="Siena &amp; Chianti">Siena's</a> old town. Interesting pieces of antique furniture and artworks will catch your eye as soon as you walk in. The staff here go out of their way to help with anything you might need and instantly make you feel welcome. The six bedrooms are all individually decorated and furnished in an elegant way, in keeping with the entire building. In the morning you'll be hard pushed to find a more idyllic breakfast spot than out on the terrace looking out at the Duomo di Siena. Staying here you get to enjoy this stunning view every day.</p>
<p>The location is ideal for exploring Siena as you'll be steps away from the city's most famous sights like the <span>Fontebranda, Piazza del Campo, Duomo di Siena and the Publico Palace. For venturing further afield the bus and train stations aren't far either - where you'll find connections to places like Florence, Montalcino, Rapolano Terme and San Gimignano, all reachable in an hour or so. </span></p>
<p><span>Car hire is recommended for this hotel. Campo Regio Relais is approx. 1 hour 45 mins from Pisa Airport. </span></p>
<p><span>Please note that the hotel is located within the city walls where cars are not permitted, but there is public parking near to the property (payable locally).</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><span style="text-decoration: underline;"><strong>Activities</strong></span></p>
<p>The hotel offers a concierge service and are very happy to advise and help you book tickets for nearby attractions or reserve a table at a restaurant for you. They can organise various other activities, tours and excursions that are all payable locally. If you fancy a go at Italian cooking, they even offer cooking classes in the property as well as wine and olive oil tastings. They can arrange walking tours with a private guide and excursions to the countryside with a private car and guide.</p>
<p><span>Siena is famous the Palio horse race and one of our favourite tours that the hotel can organise for you is to the Contrada Museum. Siena has seventeen contrade (districts) and each is like a small village and has its own church, museum and painted banners for every time their club has won the Palio. They'll organise a trip for you to see the banners painted by famous artists. </span></p>
<p><span style="text-decoration: underline;"><strong>Parking</strong></span></p>
<p>The hotel is located in a limited traffic zone (ZTL), so if you're arriving by car please look out for the limited traffic areas. You can arrive directly to the hotel to unload luggage only and then you'll need to leave the area to park as the hotel does not have its own parking. <span>Please remember when looking for public parking; parking in the white lines is free, in the blue lines requires payment, the orange lines are reserved for disabled parking and the ARU-Areas are only for residents. Please pay close attention to the signs on the streets. There are temporary restrictions on certain days for street cleaning.</span></p>
<ul>
<li><span>Public parking near the property (payable locally)</span></li>
<li><span>Garage service, available on request (payable locally)</span></li>
</ul>
<p><span style="text-decoration: underline;"><strong>General Facilities</strong></span></p>
<ul>
<li>Free Wi-Fi</li>
<li>Laundry service (payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude><![CDATA[43.3204123]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Campo Regio Relais is a small hotel located in the historic centre of Siena, so you'll be close to all the main attractions, bars and restaurants. With individual and elegant décor throughout and comfortable rooms, it's the perfect base for your stay in Siena.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8e2097153dd5456fa7099a9be4a4bcd1]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Central Siena location</li>
<li>300 metres to <span>Viale Curtatone bus stop</span></li>
<li>2 kilometres to Siena train station</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.3284103]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[6 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Campo Regio Relais is a lovely little hotel in the historic centre of Siena, with fantastic views across to the Duomo. You'll be within walking distance of the city's most famous sights.]]></metaDescription>
  <metaTitle><![CDATA[Campo Regio Relais | Siena | Tuscany & Umbria Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>6</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITTU0152]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms</strong> are about 14<span>m²</span> and sleep up to two people. All of the rooms are individually furnished and elegantly decorated. Facilities include air conditioning, h<span>air dryer, mini bar, safe, TV, telephone, slippers, shoeshine kit, bathrobe, welcome basket with shampoo, soap, lotion, bath foam, cotton balls, and a sewing set. Cots are available on request. </span></p>
<p><strong>Superior Rooms</strong> about 24<span>m² and </span>sleep up to three people. These rooms are available on request, please call to book.</p>
<p><strong>Deluxe Rooms</strong> are spacious sleep up to three people. These rooms are available on request, please call to book.</p>
<p><strong>Standard Rooms for single use</strong> are available on request, please call to book. </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[585222]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/58d85ec0faa548b2ab580143fdc9b722]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>