<?xml version="1.0" encoding="utf-8"?>
<errorPage guid="2261cb99-24c4-4ccd-9598-9e6b028e66db" id="1528" nodeName="400 Error" isDoc="" updated="2023-10-09T18:02:48.1170000Z" parentGUID="b49585f9-3afa-4fa9-bb0b-f506c7aa71da" nodeTypeAlias="errorPage" templateAlias="ErrorPageResponsive" sortOrder="26" published="true" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow">
<p><strong>We’re sorry, the page you are looking for cannot be found because of a problem with the URL / web address. Please check the website address is spelt correctly and try again. If you continue to experience problems with the website, please contact us and we will be pleased to help you, alternatively type your query into the search box, top right or visit one of our popular pages below.</strong></p>
</div>
</div>
<div> </div>
<div class="g3">
<div class="white_box_shadow"><a href="https://www.inghams.co.uk/ski-holidays/" title="Inghams Ski Holidays"><img src="/media/13048482/ski404.jpg" alt="Inghams Ski &amp; Snowboarding Holidays" width="500" height="484" rel="640,620" /></a>
<p style="text-align: center;"><a href="https://www.inghams.co.uk/ski-holidays/" title="Inghams Ski Holidays">Ski Holidays</a></p>
</div>
</div>
<div class="g1"></div>
<div class="g3">
<div class="white_box_shadow"><a href="https://www.inghams.co.uk/lakes-mountains-holidays/" title="Inghams Lakes &amp; Mountains Holidays"><img src="/media/13048480/lakes404.jpg" alt="Inghams Lakes &amp; Mountains Holidays" width="500" height="484" rel="640,620" /></a>
<p style="text-align: center;"><a href="https://www.inghams.co.uk/lakes-mountains-holidays/" title="Inghams Lakes &amp; Mountains Holidays">Lakes &amp; Mountains</a></p>
</div>
</div>
<div class="g1"></div>
<div class="g3">
<div class="white_box_shadow"><a href="https://www.inghams.co.uk/italy-holidays/" title="Italy Holidays"><img src="/media/13072553/italy404.jpg" alt="Inghams Italy Holidays" width="500" height="484" rel="640,620" /></a>
<p style="text-align: center;"><a href="https://www.inghams.co.uk/italy-holidays/" title="Inghams Italy Holidays">Italy Holidays</a></p>
</div>
</div>
<div class="g1"></div>
<div class="g3">
<div class="white_box_shadow"><a href="https://www.inghams.co.uk/lapland-holidays/" title="Lapland"><img src="/media/13072554/lapland404.jpg" alt="Inghams Lapland Holidays" width="500" height="484" rel="640,620" /></a>
<p style="text-align: center;"><a href="https://www.inghams.co.uk/lapland-holidays/" title="Inghams Lapland Holidays">Lapland Holidays</a></p>
</div>
</div>
<div class="g1"></div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <linkHeading><![CDATA[Please try these helpful links:]]></linkHeading>
  <links><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/b49585f93afa4fa9bb0bf506c7aa71da"
  },
  {
    "name": "Ski Holidays",
    "udi": "umb://document/25e767db044444389ae09383681f982e"
  },
  {
    "name": "Summer Holidays",
    "udi": "umb://document/96a3e4d143704d3e93793368e4fc0416"
  },
  {
    "name": "Lapland Holidays",
    "udi": "umb://document/a4a479e8266449e18b6b9e98eafdfcb0"
  },
  {
    "name": "Santa Breaks",
    "udi": "umb://document/63d3751ab6044b7c82e72f82f4d64e39"
  }
]]]></links>
  <metaDescription><![CDATA[We are sorry, the page you are looking for cannot be found because of a problem with the URL / web address. Please check the website address is spelt correctly and try again. If you continue to experience problems with the website, please contact us and we will be pleased to help you.]]></metaDescription>
  <metaTitle><![CDATA[400 Error | Inghams]]></metaTitle>
  <responsiveBodyText><![CDATA[We are sorry but the page you are looking for cannot be found because of a problem with the URL or web address.]]></responsiveBodyText>
  <responsiveTitle><![CDATA[Ooops...]]></responsiveTitle>
  <searchButtonLink><![CDATA[umb://document/25e767db044444389ae09383681f982e]]></searchButtonLink>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <statusCode><![CDATA[400]]></statusCode>
  <telephoneNumber><![CDATA[01483 791 111]]></telephoneNumber>
  <textAfterNumber><![CDATA[who will be more than happy to assist you.]]></textAfterNumber>
  <textBeforeNumber><![CDATA[Alternatively, you can call our Reservations team on]]></textBeforeNumber>
  <title><![CDATA[400 Error]]></title>
</errorPage>