<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="fade91e3-0e1d-4657-9020-335ff9dc3ed1" id="57476" nodeName="Hotel Punta Maquignaz" isDoc="" updated="2023-12-08T19:29:51.0630000Z" parentGUID="de185d9a-e756-4822-95e4-f069ba3a7aaf" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Please let us know about any accessibility requirements at the time of booking.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "f77faac3-9a0f-42a9-9de0-dc641d7deb43",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night available for arrivals between 01 Jul - 05 Aug 23 (min 14 night stay)",
    "addedValueStart": "2023-01-08T10:11:11",
    "addedValueEnd": "2023-09-09T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "a9522b72-e2a7-42c0-826f-0413d9b65abe",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Inghams guests receive discounts in local restaurants - Royaume du Cervin, La Salette, Mon Amour",
    "addedValueStart": "2023-01-08T10:20:40",
    "addedValueEnd": "2023-09-09T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "1b0b5e23-d172-4df4-b8a7-684bce70c4d8",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Single Saver",
    "addedValueStart": "2023-01-08T10:21:38",
    "addedValueEnd": "2023-09-09T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/c558647639894f40b1d50e1a5e2200e3,umb://media/c2e12ba074034e5ca02970dde97b25bf,umb://media/08a3ee26992743b2b95e47a24ff80d0b,umb://media/cd8835ef090d41b39ff427a794a3ff3b,umb://media/92b6cdc83bf044dc85a2b635cedf2647,umb://media/e24f9a0607bc41ca8274b93e0d8a9a3e,umb://media/5d9d74b5a4364a66bff9748a8e036dd4,umb://media/67794769e1594ab382927377b4da13da,umb://media/75b10872a3574278971743623cdf3076,umb://media/062d4b203bbd4a6d95ca04f7390ba5f4]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>You'll have a buffet breakfast with hot and cold options and if you choose to upgrade to half board, dinner is a delicious four courses with various options. To start you'll have a salad buffet and to finish a dessert buffet and a cheese trolley. The food here is typical Italian with lots of pasta and pizza!</p>
<p><strong>Mon Amour </strong>is the hotels' bar which is also open to the public. This is a great place to enjoy your aperitivo at the end of the day.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel Punta Maquignaz is owned by the Maquignaz family. Gabriele Maquignaz is an artist, so expect artistic interiors and individually decorated rooms. The Maquignaz family are also mountain guides so they're the best people to ask if you want tips on your next walking excursion.</p>
<h2>In the centre of Cervinia</h2>
<p>With easy access to the Campetto Cretaz lift this is the ideal starting point for a variety of walks. The hotel's just a five minute walk away from the lifts so you can hop on the gondola and make your way up to some stunning view points. While you're up there try out the <a rel="noopener" href="https://www.hotelbaitacretaz.com/restaurant" target="_blank">Baita Cretaz restaurant</a>, they do delicious alpine food using locally sourced products and you can eat on the terrace which has fantastic views over Cervinia (make sure you book in advance).</p>
<h2>Boutique  <span class="hvr">décor</span></h2>
<p>The hotel was built in the 50's but renovated in the late 90's by the Maquignaz family who always put their own stamp on their hotels. You'll find eclectic art everywhere you look and each room has unique pieces of furniture. What we love about this hotel is its cosy alpine atmosphere and its traditional Italian meets 'quirky-boutique' style.</p>
<p><strong>Transfer time:</strong> Approx. 2 hours from Milan airport</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Wellness area with sauna, steam room and relax area</li>
<li>Massages and beauty treatments (payable locally)</li>
<li>Lounge with open fire</li>
<li>Free Wi-Fi</li>
<li>Parking garage (payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Babysitting is available on request</li>
<li>Cots are available for approx. €10 a day (payable locally)</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>1</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[45.9372044]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Punta Maquignaz has a really cosy and eclectic style, with vintage Italian furniture adorning the rooms and various pieces of art to admire. The hotel owners are extremely knowledgeable about the area and the best people to ask if you want some local walking tips.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/c2e12ba074034e5ca02970dde97b25bf]]></listingImage>
  <localFees><![CDATA[<p>A local tourist tax of approx. €1.60 per person per day is payable locally.</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>In centre of Cervinia</li>
<li>100 metres to the ski lifts</li>
<li>200 metres to the nearest bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.6273077]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your walking holiday to the Hotel Punta Maquignaz today with Inghams. This quirky alpine hotel is in a fantastic position right in the centre of Cervinia and just a short walk away from the lifts.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Punta Maquignaz| Cervinia Walking Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>25</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Punta Maquignaz]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCE0107]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Twin Rooms </strong>sleep two people. They have a bath or shower, hairdryer, TV, minibar and safe.</p>
<p><strong>Superior Twin Rooms </strong>sleep up to three people and have a balcony.</p>
<p><strong>Single Rooms </strong>have a French bed and a shower. These rooms have a low single supplement.</p>
<p><strong>Standard Twin Rooms</strong> for sole use are available on request, please call to book.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>15</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[293147]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>