<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="a7f0d8c3-1611-44c2-b590-2e01cd4ee0e0" id="64546" nodeName="Future trends: Splitboarding" isDoc="" updated="2024-01-24T16:20:58.2570000Z" parentGUID="9cda25a1-77d6-49ab-a8cd-8d73a1d9c82e" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="12" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>Winter sports and equipment are always developing. The trend coming for this season is Splitboarding - the combination of skis and snowboards for easily moving between terrains. </p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/8efc247784424bb6a9d86b28461cc824]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[Future of winter sport]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[ski]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Future trends: Splitboarding",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/a6713a0f2ec8465097df97bd3d59b36b",
    "externalLink": "",
    "linkName": "Future trends: Splitboarding",
    "linkTitle": "Future trends: Splitboarding"
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>