<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="da9bfa6e-0d30-4326-95d3-98b769d23bba" id="24079" nodeName="Sound of Music Excursion Offers" isDoc="" updated="2022-05-25T13:33:20.8370000Z" parentGUID="e65cbae5-17c8-4dcc-a98e-cbd6e7154c59" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="19" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img src="/media/13058423/salzkammergut_big.jpg" alt="Excursion Offers" rel="858,410" /></div>
<div> </div>
<p>Planning to head to Austria this summer to celebrate the 50th anniversary of The Sound Of Music? Book with Inghams and we'll ensure easy access to events. </p>
<p>See below the brilliant excursion offers we can provide to help you find that Sound of Music spirit and atmosphere! All you have to do is add them on at the time of booking, whether online or other the phone!</p>
<p> </p>
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<td colspan="2" align="center"><strong>Sound of Music Excursion Offers!</strong></td>
</tr>
<tr>
<td><a data-udi="umb://document/594483304a5f4b47844b444df2c9d975" href="/{localLink:umb://document/594483304a5f4b47844b444df2c9d975}" title="Mayrhofen">Mayrhofen</a></td>
<td>Free full day trip to Salzburg on a Monday, worth £28pp. Optional Sound of Music walk in Salzburg payable locally.</td>
</tr>
<tr>
<td><a data-udi="umb://document/b4b80bb5361b479c9ffa0028dc2843c4" href="/{localLink:umb://document/b4b80bb5361b479c9ffa0028dc2843c4}" title="Niederau">Niederau</a>, <a data-udi="umb://document/ec4187b633e74038a9fc8a2e090eac5d" href="/{localLink:umb://document/ec4187b633e74038a9fc8a2e090eac5d}" title="Oberau">Oberau</a> &amp; <a data-udi="umb://document/0153caa05afa4a3081418675af584293" href="/{localLink:umb://document/0153caa05afa4a3081418675af584293}" title="Westendorf">Westendorf</a></td>
<td>Free full day trip to Salzburg on a Friday worth £28pp. Optional Sound of Music walk in Salzburg payable locally.</td>
</tr>
<tr>
<td><a data-udi="umb://document/085c5cbb87794e7c9ca8a69475a257df" href="/{localLink:umb://document/085c5cbb87794e7c9ca8a69475a257df}" title="Soll">Söll</a>, <a data-udi="umb://document/770717fcbb524fc8b57e0feef58fcce0" href="/{localLink:umb://document/770717fcbb524fc8b57e0feef58fcce0}" title="Ellmau">Ellmau</a>, <a data-udi="umb://document/334626cd290b473f8ff5b356601cdd8c" href="/{localLink:umb://document/334626cd290b473f8ff5b356601cdd8c}" title="Scheffau">Scheffau</a>, <a data-udi="umb://document/0424394c50b54ef4848722ee185d0739" href="/{localLink:umb://document/0424394c50b54ef4848722ee185d0739}" title="Kitzbuhel">Kitzbühel</a>, <a data-udi="umb://document/e2861bb9ee6b4ce199a3d2ed421a8a97" href="/{localLink:umb://document/e2861bb9ee6b4ce199a3d2ed421a8a97}" title="Kirchberg">Kirchberg</a> &amp; <a data-udi="umb://document/dcdb297ae60d4ba5acfcc5109ecb2385" href="/{localLink:umb://document/dcdb297ae60d4ba5acfcc5109ecb2385}" title="St. Johann">St Johann</a></td>
<td>Free full day trip to Salzburg on a Friday, worth £28pp. Optional Sound of Music walk in Salzburg payable locally.</td>
</tr>
<tr>
<td><a data-udi="umb://document/2631ac5f3f824554a6f8c73491b2efae" href="/{localLink:umb://document/2631ac5f3f824554a6f8c73491b2efae}" title="Zell am See">Zell am See</a> &amp; <a data-udi="umb://document/ed231b34c92342b1a4806b0aed9c5800" href="/{localLink:umb://document/ed231b34c92342b1a4806b0aed9c5800}" title="Kaprun">Kaprun</a></td>
<td>Free full day trip to Salzburg on a Tuesday, worth £31pp. Optional Sound of Music walk in Salzburg payable locally.</td>
</tr>
<tr>
<td><a data-udi="umb://document/ab49d5977a794ec7952da3e3d5adf48b" href="/{localLink:umb://document/ab49d5977a794ec7952da3e3d5adf48b}" title="Saalbach &amp; Hinterglemm">Saalbach</a> &amp; <a data-udi="umb://document/ab49d5977a794ec7952da3e3d5adf48b" href="/{localLink:umb://document/ab49d5977a794ec7952da3e3d5adf48b}" title="Saalbach &amp; Hinterglemm">Hinterglemm</a></td>
<td>Free full day trip to Salzburg on a Tuesday, worth £31pp. Optional Sound of Music walk in Salzburg payable locally.</td>
</tr>
<tr>
<td rowspan="2"><a data-udi="umb://document/0fa258c1078147e4be5f442c15be3088" name="Salz" href="/{localLink:umb://document/0fa258c1078147e4be5f442c15be3088}" title="St. Wolfgang">St Wolfgang</a>, <a data-udi="umb://document/95ff1fe2e71242759843cc1f6b11ccdc" href="/{localLink:umb://document/95ff1fe2e71242759843cc1f6b11ccdc}" title="St. Gilgen">St Gilgen</a> &amp; <a data-udi="umb://document/d2df326fd2d544f2b9d4699c3cf10233" href="/{localLink:umb://document/d2df326fd2d544f2b9d4699c3cf10233}" title="Fuschl am See">Fuschl am See</a></td>
<td>Free half-day excursion to Lake Mondsee, where the wedding scene from The Sound of Music was filmed, on a Thursday worth £27pp.<br />Free full day trip to Salzburg on a Tuesday, worth £31pp. Optional Sound of Music walk in Salzburg payable locally.</td>
</tr>
<tr>
<td>Free full day trip to Salzburg on a Friday, worth £32pp. Optional Sound of Music walk in Salzburg payable locally.</td>
</tr>
<tr>
<td><a data-udi="umb://document/31b86014d3b04c3da584cc56dca63c66" href="/{localLink:umb://document/31b86014d3b04c3da584cc56dca63c66}" title="Salzburg">Salzburg</a></td>
<td>Free Sound of Music Tour – 50th Anniversary. 4-hour tour on a Monday or Friday worth £35pp.</td>
</tr>
</tbody>
</table>
<p> </p>
<p>Valid on all new Summer 2015 bookings made between 27th May and 31<sup>st</sup> July 2015 for durations of 7 nights or longer, per person. Subject to availability. Offer can be withdrawn at any time.</p>
<p>Optional Sound of Music walk in Salzburg costs approximately 15 euros.</p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Sound of Music Excursion Offers with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Sound of Music Excursion Offers | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Planning to head to Austria this summer to celebrate the 50th anniversary of The Sound Of Music? Book with Inghams and we'll ensure easy access to events. </p>]]></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/fc4d71e8a0cb44ac987eb5cd323308e4]]></thumbnail>
  <title><![CDATA[Sound of Music 50th Anniversary - Excursions Offers!]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/c9325d9a77054a3c8190f3ab0da21760]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>