<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="770717fc-bb52-4fc8-b57e-0feef58fcce0" id="1325" nodeName="Ellmau" isDoc="" updated="2024-12-17T12:25:07.6400000Z" parentGUID="80846e21-c0a3-4040-822c-680876e3b910" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="1" published="true" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "25929970-f814-4e07-bbb7-23a9c95d164a",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save an extra £50pp on holidays departing on 24th and 31st May 2025",
    "addedValueStart": "2024-09-05T12:00:26",
    "addedValueEnd": "2025-05-31T12:40:31",
    "hideAddedValue": "0"
  },
  {
    "key": "daf352e4-eec5-433c-8bcb-227ee5655eb1",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of the Kaiserjet bus with guest card",
    "addedValueStart": "2019-08-14T15:10:05",
    "addedValueEnd": "2099-08-15T15:10:07",
    "hideAddedValue": "0"
  },
  {
    "key": "64e0fd41-8690-4e11-a9c6-a404c2dc3d74",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "All holidays include flights from the UK and transfers",
    "addedValueStart": "2024-04-12T15:55:49",
    "addedValueEnd": "2099-04-12T15:55:51",
    "hideAddedValue": "0"
  },
  {
    "key": "2a8955e5-129e-4298-a63f-9cee2a98f863",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "24/7 support & tailored advice in person or over the phone from our local resort team",
    "addedValueStart": "2024-04-12T15:56:01",
    "addedValueEnd": "2099-04-12T15:56:02",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>0</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/ced0767533c34692a083577c35b79228,umb://media/ac787d4acf8f4950bb6a270d3a914962,umb://media/8f9cdf132de64ef3807aa74b3b5de08c,umb://media/280a02c4252942ca946e89ff2efb55e5,umb://media/6beb4fe7da074235a9508a31eb8ed7bc,umb://media/22b6be0f2f4f45769c581a380d84a535,umb://media/30f5c165ee284063a83d668da6460bb1,umb://media/c0d56380a877465bbca16f820c060c97,umb://media/d2ca42592495435797c20e437f0d8c10,umb://media/40832edfe7f9431ab21d9129eecf850b,umb://media/a003556309c04e7cb43866c215cc41e0,umb://media/7f91da32e7bc4f5282140d09063e6eed,umb://media/cdf4a397df4141b689974d9de8ea084b,umb://media/676b3fd8638f4c3999b62090fca59c04]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/85812e8a1d0149a58c8737f14c5c36ef]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<ul>
<li>Walk in the dramatic Wilder Kaiser mountains</li>
<li>Take the lift up to Hartkaiser for spectacular views and panoramic walking trails</li>
<li>Enjoy live brass-band music and atmospheric village evenings</li>
</ul>
<p>Ellmau lies in the wide valley that separates the dramatic peaks of Wilder Kaiser mountains to the north and the gently rolling hills to the south. The views around here are straight out of a film set. Well, TV set, technically; this little Tyrolean village is the filming location of the popular German-Austrian TV show Der Bergdoktor (which translates to the mountain doctor). However, don’t be fooled by its bucolic setting, Ellmau is for those who want to get stuck into the action, with footpaths, cable cars, a golf course and mountain-view outdoor swimming pools. There’s also an excellent bus network that connects Ellmau with the other villages dotting the valley of the Wilder Kaiser, like nearby <a data-udi="umb://document/085c5cbb87794e7c9ca8a69475a257df" href="/{localLink:umb://document/085c5cbb87794e7c9ca8a69475a257df}" title="Soll">Söll</a>.</p>
<h2>Walking in Ellmau</h2>
<p>Discover short village circuits via river, forest and meadow footpaths, easy day walks exploring nearby Hintersteinersee (a glistening blue lake with mountain backdrop), or longer hikes complete with strategic refreshment stops at remote mountain huts.</p>
<p>Fancy taking things up a notch (and up 1,000 metres)? Hop in the cable car from Ellmau the Hartkaiser. At the top is a restaurant where you can pull up a chair and marvel at the mountains that stretch as far as the eye can see. Once you've refuelled with Tyrolean delicacies like schlutzkrapfen (half-moon stuffed pasta) and kaiserschmarr'n (sweet pancakes), head back to the cable car station – or out onto the panoramic mountain trails.</p>
<h3>Discover Ellmau</h3>
<p>Learn all about the folk history of Ellmau at Heimatmuseum, a grand 19th-century house built by a master carpenter. There's a lively weekly market and music evenings in July and August. Restaurants include one of the best pizzerias in the Wilder Kaiser, as well as alpine inns with roasted pork, dumplings, lake trout and sauerkraut on the specials boards. Walk to the Visitation Chapel for one of the most impressive views in town – a panorama with the Kaiser Mountains as a backdrop.</p>
<h3>Swimming with a mountain view</h3>
<p>The Kaiserbad offers swimming pools and saunas with mountain views. There are flow channels, turbo slides, a playground, an indoor climbing wall, and a reed-lined pond made for almost-wild swimming. Adults can enjoy the pine sauna and wellness area with herbal steam baths. In nearby Going, the Badesee swimming lake offers outdoor swimming and water slides, and Hintersteinersee is great for a refreshing dip or a bit of paddleboarding. Families with smaller children should keep the mountains in their sights too. The cable car in Ellmau leads to the enchanted forests of Ellmi’s Magic World.</p>
<h3>Visit Innsbruck and Salzburg</h3>
<p>The grand old post office is a reminder of Ellmau’s once-vital spot on the trade route between Innsbruck and <a data-udi="umb://document/31b86014d3b04c3da584cc56dca63c66" href="/{localLink:umb://document/31b86014d3b04c3da584cc56dca63c66}" title="Salzburg">Salzburg</a>. These days, the road sees more tourists than parcels, with buses transporting walkers between the villages of the Wilder Kaiser valleys. Söll is just a 15-minute journey west – the gateway to the footpath-packed Hohe Salve mountain – and the baroque town of <a data-udi="umb://document/dcdb297ae60d4ba5acfcc5109ecb2385" href="/{localLink:umb://document/dcdb297ae60d4ba5acfcc5109ecb2385}" title="St. Johann">St. Johann in Tirol</a> lies to the east. Or you could trundle to the medieval riverside town of Kufstein, where the Kaiserlift - a single-person chairlift - offers a different view of the Wilder Kaiser mountain range and Inn Valley - a real hidden gem.</p>
<h2>Why book a summer holiday in Ellmau with Inghams?</h2>
<p>At Inghams, we do walking holidays differently. With no fixed itinerary, you have more time in your destination and the freedom to walk as much or as little as you like, discovering some of Ellmau’s best walking routes and activities at your own pace.</p>
<p>With 90 years of outdoor travel experience, our holiday packages to Ellmau include flights, transfers, and accommodation, so you can relax and leave the small details to us. Our experts can help you choose the best holiday for you, and our team in resort can give you the inside scoop on how to spend your time away with us.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions><![CDATA[<p>The Wilder Kaiser Guest Card is available free of charge from your hotel upon arrival and is valid for a period of your stay.</p>
<p>It includes:</p>
<ul>
<li>Kaiserjet Bus which runs between the villages of Söll, Scheffau, Ellmau and Going</li>
<li>Hiker's bus to Hintersteinersee lake, Wochenbrunner Alm mountain hut and Hüttling</li>
<li>Public buses to Kufstein, Wörgl, Kitzbühel and St. Johann</li>
<li>Tourist Board activity programme</li>
<li>Discounts on summer cable car tickets, entry to attractions, pools and lakes, walking and biking maps in the tourist information and more</li>
</ul>
<p><em>Subject to change.</em></p>]]></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore><![CDATA[<h2>Pre-book your excursions online or give us a call</h2>
<h3>Berchtesgaden from £48/30 per adult/child (full day)</h3>
<p style="font-size: 14px; font-weight: 400;">There's a few options for you to choose from on this interesting trip to Berchtesgaden. Spend the day discovering the pretty Bavarian town of Berchtesgaden itself, or choose one of the optional extras that you can add on to your day (difference payable locally).</p>
<p style="font-size: 14px; font-weight: 400;">The most famous is the Kehlsteinhaus (Eagle's Nest). Explore the historic building and surrounding area, with spectacular views on a clear day over the King's Lake. The house is famous for being Nazi-constructed and was used for government and social meetings by Hitler and the Nazi Party. Alternatively, head underground to see the Salt Mines. A network of tunnels and slides take you on an underground adventure discovering this once very important industry (optional add-ons are payable locally - Eagle's Nest approx. €30.80 per person, Salt Mines approx. €22.50 per person).</p>
<p style="font-size: 14px; font-weight: 400;">Departs: Tuesdays</p>
<h3>Grossglockner from £54/36 per adult/child (full day)</h3>
<p>This spectacular journey takes you over the Grossglockner High Alpine Road, an incredible feat of engineering with stunning views. From the Franz-Josef's Höhe you'll see the Pasterze glacier and maybe catch a glimpse of 3,798-metre summit of the Grossglockner. Keep a look out for the wild marmots and Ibex too - they love the high alpine conditions. You can visit the free museums and exhibitions to learn about the National Park or enjoy a walk round the area and a tasty Austrian mountain meal.</p>
<p>Departs: Thursdays</p>
<h3>Salzburg from £42/26 per adult/child (full day)</h3>
<p>Salzburg is a city full of culture, history and music. Visit Mozart’s birthplace, enjoy the view from the Hohensalzburg Fortress, or wander the famous Getreidegasse shopping street. Immerse yourself in history as you explore the medieval Old Town, discover museums and Baroque churches or visit the Salzburg Residenz Palace - the DomQuartier. There is an optional guided walking tour which is a great way to see more of the city (payable locally, approx. €12 per person).</p>
<p>Departs: Fridays</p>
<h2>Bookable Locally</h2>
<h3>Hidden Treasures from approx. €45/25 per adult/child</h3>
<p>Discover some of the area's best kept secrets on this trip which combines three unique destinations. Our first 'treasure' is Kufstein, located on the banks of the River Inn. You'll have time to explore and admire this border town with its dominating Fortress. Next, you're off to the beautiful local Hechtsee lake, surrounded by forests and steeped in folklore. Our final destination is Rattenberg, rich in history and famous for Kisslinger glass - watch a glass-blowing demonstration and explore the picturesque streets of this tiny city.</p>
<p>Departs: Wednesdays</p>
<p><em>We act at all times as a selling agent for the suppliers. All excursions require minimum numbers to run and are subject to change. Some excursions may not be available to pre-book in low season but may be available to book locally subject to numbers. Prices will be confirmed at the time of booking. Please see our <a data-udi="umb://document/b703ff07ccec43baad41fffcfcc61821" href="https://www.inghams.co.uk/legal/terms-conditions" title="Terms &amp; Conditions">terms &amp; conditions</a>.</em></p>]]></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "b1df8cf2-3464-4a31-9f2b-300cd6edacd6",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"391be4ad-93cd-44ab-ae4c-b25111b298f3\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals><![CDATA[<h2>Family activities in Ellmau</h2>
<h3>Ellmi’s World of Magic</h3>
<p>Hartkaiser Mountain has a 4,000-square-metre magic mountain playground featuring a carving hut, climbing structures, a maze, tubing, marble runs, water features and a magical rain forest where kids can climb, explore, splash and play to their heart’s content.</p>
<p>Nature walks, Botanical Gardens and the Alpine Trail will keep children entertained, with plenty of educational signs about local wildlife. There is Bergkaiser Panorama Restaurant terrace to admire the incredible vistas of the mountains and enjoy a bite to eat. Your little explorer is sure to have a blast in this mountainous, magical land of activities.</p>
<h3>The Kaiserbad Ellmau</h3>
<p>The water area has a luxurious indoor pool as well as a flow channel outdoors; plus, its very own organic pond. The superb outdoor water play area will have children using cannons, getting drenched under the water mushroom fountain or whizzing down the slides. Those who want to get more active can put the tennis hall to good use, go for a game of squash or head to the climbing wall.</p>
<h3>Magical Witches’ Water</h3>
<p>Head over to the Hohe Salve mountain in Söll where the journey starts on a ride up the gondola. Once you have reached the top, you’ll enter the magical world of splashing fun. This sensory experience is excellent for everyone – even parents can get involved too. There are over 60 different water play features including water bridge challenges, so it's the perfect way to cool down on a hot summers' day.</p>
<h3>Hiking and cycling</h3>
<p>Take the kids on a bike ride to nearby villages and towns, such as Söll or Going, where more adventures await. The Wilder Kaiser is perfect for recreational cycling, mountain biking, cycle trails and more, with plenty of snack stations on route for refuelling. You’ll also have access to over 700 kilometres of walking paths ranging from wide pram-friendly options to more narrow-intertwined forest routes – great for all little explorer abilities.</p>
<h3>Adventures close by</h3>
<p>Make your way to nearby resorts we offer, such as <a data-udi="umb://document/085c5cbb87794e7c9ca8a69475a257df" href="/{localLink:umb://document/085c5cbb87794e7c9ca8a69475a257df}" title="Soll">Söll</a>, <a data-udi="umb://document/0153caa05afa4a3081418675af584293" href="/{localLink:umb://document/0153caa05afa4a3081418675af584293}" title="Westendorf">Westendorf</a>, <a data-udi="umb://document/0424394c50b54ef4848722ee185d0739" href="/{localLink:umb://document/0424394c50b54ef4848722ee185d0739}" title="Kitzbuhel">Kitzbühel</a>, or <a data-udi="umb://document/dcdb297ae60d4ba5acfcc5109ecb2385" href="/{localLink:umb://document/dcdb297ae60d4ba5acfcc5109ecb2385}" title="St. Johann">St. Johann</a> to unlock a new stack of attractions, adventures and inspiring days out. With excellent public buses and other transport network routes, accessing nearby towns and villages is easy. Where will you go to next?</p>]]></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround><![CDATA[<p>Ellmau has a great network of public transport and lifts that make getting around the area really easy.</p>
<h3>Lifts</h3>
<p>The lift system in this region is fantastic. You will have countless hiking paths to access, ranging from circular walks at the top of the lifts, to panoramic walks between peaks.</p>
<p>Some of the closest lifts include:</p>
<ul>
<li>Hartkaiserbahn in Ellmau (normally open from 9 May)</li>
<li>Astbergbahn in Going (normally open from 8 Jun)</li>
<li>Brandstadlbahn in Scheffau (normally open from 18 May)</li>
<li>Hochsöll, Hohe Salve and Keat in Söll (normally open from 9 May)</li>
<li>Hochbrixen and Zinsbergbahn in Brixen (normally open from 18 May)</li>
<li>Salvenbahn 1 and 2 in Hopfgarten (normally open from 18 May)</li>
<li>Alpenrosenbahn 1 and 2 in Westendorf (normally open from 18 May)</li>
<li>Kaiserlift in Kufstein (normally open from beginning May)</li>
<li>Salvistabahn in Itter (limited opening days throughout the season)</li>
</ul>
<p>See the “Cards &amp; passes” tab for further information.</p>
<h3>Buses</h3>
<p>The Kaiserjet bus (free with your Wilder Kaiser Guest Card) transports walkers between the villages of Söll, Scheffau, Ellmau and Going making it easy to explore other areas as well. The post bus is also free between these villages.</p>
<p>From mid-June to mid-September, the Kaiserjet Nightliner runs between Söll, Scheffau, Ellmau and Going from Tuesday to Friday night, enabling you to visit the weekly village evenings in neighbouring towns.</p>
<p>Public buses also operate to surrounding destinations including Kitzbühel and St. Johann, which are home to a variety of walking challenges and family-friendly strolls.</p>
<p>You can also use your included Wilder Kaiser Guest Card to reach walking hotspots such as Hintersteinersee lake and popular local mountain huts.</p>
<p>Timetables are available locally.</p>
<p><em>Subject to change.</em></p>]]></gettingAround>
  <gettingAroundTitle><![CDATA[Getting around Ellmau]]></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems><![CDATA[[
  {
    "key": "985720a6-82c2-4fc5-80c1-5ba35ad4084b",
    "name": "Item 1",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/6f8f00799b414638857811291353ec13",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/3d69090ac5714abb914063b47d753d06\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Walking in Austria\",\r\n    \"linkTitle\": \"Walking in Austria\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>We've handpicked the best walking routes in Austria, each promising its own unique charm and unforgettable experiences.</p>"
  },
  {
    "key": "dabed8fa-c0f1-4e92-97aa-f4038c17d857",
    "name": "Item 2",
    "ncContentTypeAlias": "reskinInsidersGuidesItem",
    "insidersGuidesItemImage": "umb://media/e0b11dcbc4074640853f2b5eaea86ea0",
    "insidersGuidesItemTagline": "",
    "insidersGuidesItemTaglineTheme": "walking",
    "insidersGuidesItemTitle": "[\r\n  {\r\n    \"name\": \"Traditional Austrian Food\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/af925afd234d42758270655eedd47e3f\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Traditional Austrian Food\",\r\n    \"linkTitle\": \"Traditional Austrian Food\",\r\n    \"linkTitleColor\": \"\"\r\n  }\r\n]",
    "insidersGuidesItemContent": "<p>From world-renowned Wiener Schnitzel to sweet Kaiserschmarrn, our guide will lead you through Austria's diverse culinary landscape.</p>"
  }
]]]></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold; text-align: center;">Good to know</p>
<p><strong>Walking trails:</strong> 700km of walking trails with great lift network</p>
<p><strong>Terrain:</strong> Diverse terrain from rolling hills to dramatic peaks</p>
<p><strong>Best time to go:</strong> end of May to end of September. It can get hot in July and August but a dip in a lake is a great way to cool off</p>
<p><strong>Recommended for:</strong> Walkers of all abilities, easy walks, challenging walks, families, nature, activities</p>
<p><strong>Fly into:</strong> Innsbruck or Salzburg (approx. 2 hours)</p>
<p><strong>Fly from: </strong>London Gatwick, Birmingham, Manchester and Edinburgh</p>
<p><strong>Transfer time:</strong> approx. 1 hour 30 mins from Innsbruck or 1 hour 45 mins from Salzburg by coach</p>
<p><strong>24/7 Support and advice: </strong>In person or over the phone from our local resort team</p>
<p><strong>Resort card: </strong>Wilder Kaiser guest card included for all hotels</p>]]></insidersGuide>
  <insidersGuidesButton><![CDATA[[
  {
    "name": "Inspire Me",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/889518d3ce0e4393bd297a6f4b894e66",
    "externalLink": "",
    "linkName": "Inspire Me",
    "linkTitle": "Inspire Me",
    "linkTitleColor": ""
  }
]]]></insidersGuidesButton>
  <insidersGuidesContent><![CDATA[<p><span class="first-token">Dreaming of Alpine peaks and strudel?</span><span> Check out our expert travel advice and gather inspiration for your next Austrian adventure.</span></p>]]></insidersGuidesContent>
  <insidersGuidesTitle><![CDATA[Discover Austria]]></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language><![CDATA[German/English]]></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[47.513598]]></latitude>
  <listingDescription><![CDATA[<p>Ellmau is a pretty village located between the rolling hills of the Kitzbüheler Alps and the craggy Wilder Kaiser mountains. With a strong farming history, it's still full of character and tradition.</p>
<p><strong>Great for: </strong>easy, moderate and challenging walks; families with kids, families with teens</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ced0767533c34692a083577c35b79228]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[12.304234]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Visit Ellmau for an amazing summer holiday in Austria. Mountain and walking holidays in Ellmau with Inghams. Book online now.]]></metaDescription>
  <metaTitle><![CDATA[Ellmau Holidays | Summer Holidays to Ellmau 2025 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Holidays in Ellmau]]></pageTitle>
  <parking>0</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes><![CDATA[<h3>Ellmau to Scheffau via the Kaiseralm</h3>
<ul>
<li>Moderate - challenging walk</li>
<li>15.6km</li>
<li>Expect to take all day</li>
</ul>
<p>Take to the Wilder Kaiser on this full day challenge. You will cover a wide range of walking terrain, from rambling over rocky stretches to pacing through wide open meadows. With a high incline and spectacular views from the Wilder Kaiser itself, you can treat yourself to some deserving local delicacies on route at the traditional Wochenbrunner Alm alpine hut.</p>
<h3>Hausberg trail</h3>
<ul>
<li>Moderate walk</li>
<li>3.5km</li>
<li>Expect to take around two hours</li>
</ul>
<p>Leading directly from the village centre in Ellmau, you can experience the unique forest route to the top of the Astbergbahn chairlift on the Hausberg mountain. On your ascent there are lots of sharp bends and roots to step over as you zig-zag your way up, making this route excellent for families with its fun characteristics.</p>
<h3>Hartkaiser circuit</h3>
<ul>
<li>Moderate walk</li>
<li>15.8km</li>
<li>Expect to take five to six hours</li>
</ul>
<p>This loop takes you from the village to the summit station, reaching heights of 1,530 metres. The hike is follows terrain, such as gravel paths, forest trail and paved roads. Along the way you’ll come across various discoveries, including the rustic Rübezahl-Alm mountain hut, the start of Austria's longest sculpture trail, a nature trail, refreshment stops and so much more – so get trekking.</p>]]></popularWalkingRoutes>
  <popularWalkingRoutesTitle><![CDATA[Our favourite walks in and around Ellmau]]></popularWalkingRoutesTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/42577a701c254fd09b25571ccad7c736",
    "promotionBannerMobile": "umb://media/04cf878bd10a4c8c85df97dab46789d6",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"2023 Holidays\",\r\n    \"udi\": \"umb://document/a6804a9d8b734b4aa6983fa44ceba70d\"\r\n  }\r\n]",
    "promotionStartDate": "2023-01-03T00:00:00",
    "promotionEndDate": "2023-02-06T00:00:00"
  }
]]]></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline><![CDATA[Hotels in Ellmau]]></resortAccomodationTagline>
  <resortCode><![CDATA[ATEL]]></resortCode>
  <resortCombinations><![CDATA[<p><strong>Mountain Experience Card - buy locally</strong> | from €94.00 - 6 days | from €69.00 - 3 days | please present your guest card for a reduced rate. </p>
<p>Consecutive days only. Other durations are available.</p>
<p>Includes up to 15 lifts in the Wilder Kaiser - Brixental region plus discounts on various bonus partners throughout the area.</p>
<ul>
<li>Hartkaiserbahn in Ellmau (normally open from 9 May)</li>
<li>Astbergbahn in Going (normally open from 8 Jun)</li>
<li>Brandstadlbahn in Scheffau (normally open from 18 May)</li>
<li>Hochsöll, Hohe Salve and Keat in Söll (normally open from 9 May)</li>
<li>Hochbrixen and Zinsbergbahn in Brixen (normally open from 18 May)</li>
<li>Salvenbahn 1 and 2 in Hopfgarten (normally open from 18 May)</li>
<li>Alpenrosenbahn 1 and 2 in Westendorf (normally open from 18 May)</li>
<li>Kaiserlift in Kufstein (normally open from beginning May)</li>
<li>Salvistabahn in Itter (limited opening days throughout the season)</li>
</ul>
<p><strong>Kitzbühel Alps Summer Card - buy locally</strong> | from €103.50 - 6 days | from €76.00 - 3 days | please present your guest card for a reduced rate.</p>
<p>Consecutive days only. Other durations are available.</p>
<p>Includes up to 38 lifts in the Kitzbühel Alps region plus discounts on various bonus partners throughout the area, so is ideal for people staying longer durations or wanting to explore further afield.</p>
<p>The lifts included are the 15 listed above, plus operating lifts in Kitzbühel, St Johann, Wildschönau, Alpbachtal, Fieberbrunn, Steinplatte Waidring, Pillersee and Lofer.</p>
<p><em>Lift pass prices and inclusions are subject to change.</em></p>]]></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType><![CDATA[1]]></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>1</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription>0</showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs>0</showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription>0</showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs>0</showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep>0</showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs>0</showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation>0</showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide>1</showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps>0</showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore>0</showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation>0</showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals>0</showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs>0</showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo>0</showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation>0</showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking>0</showThingsTodoInAccommodationWalking>
  <showTours>0</showTours>
  <showWalking>1</showWalking>
  <showWalkingInAccommodationGettingAroundDescription>0</showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription>0</showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription>0</showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription>0</showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription>0</showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs>0</showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions><![CDATA[Wilder Kaiser Guest Card - included]]></subTabTitleExcursions>
  <subTabTitleExperienceMore><![CDATA[Ellmau excursions]]></subTabTitleExperienceMore>
  <subTabTitleFestivals><![CDATA[Family activities in Ellmau]]></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination><![CDATA[Lift passes - buy locally]]></subTabTitleResortCombination>
  <subTabTitleThingsToDo><![CDATA[Things to do in Ellmau]]></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking><![CDATA[Walking in and around Ellmau]]></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions><![CDATA[Cards & passes]]></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking><![CDATA[Walking]]></tabTitleWalking>
  <tagline><![CDATA[A summer holiday in Ellmau combines a cinematic village setting with easy access to the surrounding - and spectacular - Wilder Kaiser region]]></tagline>
  <thingsToDo><![CDATA[<h2>Things to do in Ellmau</h2>
<p>Set mid-way between <strong>Innsbruck</strong> and <strong><a data-udi="umb://document/31b86014d3b04c3da584cc56dca63c66" href="/{localLink:umb://document/31b86014d3b04c3da584cc56dca63c66}" title="Salzburg">Salzburg</a></strong>, Ellmau is an ideal starting point for many excursions. Swimming is available at the fabulous Kaiserbad local pool or the bathing lake in nearby Going. Further activities such as mountain biking, golf, tennis and horse riding can also be enjoyed.</p>
<h3>Casual cycling, electric and mountain biking</h3>
<p>The Kitzbühel Alps and Wilder Kaiser mountains are part of the world's largest e-bike region. With 275 electrical bicycles and 75 rental or battery charge stations available, e-biking is incredible from Ellmau.</p>
<p>An extensive cycle network of over 350 kilometres of marked routes, away from the main traffic weaves throughout the region, stretching as far as Kufstein, the Wildschönau, the Hohe Salve, the Wilder Kaiser, the Brixen valley, Kitzbühel and St. Johann. With a mixture of tarmac cycling paths, gravel roads and mountain bike tracks in the area, any age or skill level rider will discover great fun, diversity and challenge.</p>
<h3>Incredible walking options</h3>
<p>It's time to tie those boot laces and set foot on one of many possible hikes. With over 700 kilometres of marked walking trails to discover, you will definitely come across mountain huts, plenty of wildlife and maybe some trickier paths to tackle too. We love the panoramic walk from the top of the Brandstadlbahn in Scheffau, to the top of the Hartkaiserbahn in Ellmau – a truly breathtaking experience with non-stop beautiful views, and certain to get those steps in too.</p>
<h3>Bathing at Hintersteinersee or Going</h3>
<p>Swimming in the lakes is one of our favourite things to do when staying in the mountains. Hidden behind nearby Scheffau and accesible by free bus, is Hintersteinersee – a picturesque lake with crystal-clear waters, known as one of the cleanest in the region. Or, head east of Ellmau to the Badesee bathing lake in Going, with warm waters, a small sand beach and great views of the Wilder Kaiser mountain range – there are even a few fun activities for families too like the 100-metre-long waterslide.</p>
<h3>Kaiserbad leisure centre</h3>
<p>Enjoy a refreshing dip in the natural pond, or swim in the outdoor pool. If you're wanting a day to unwind, then the indoor wellness area features infrared cabins, a solarium, saunas and steam baths – pure relaxation (but bare in mind that spas in Austria are often nude zones). Or, keep strong and active in the large indoor climbing or tennis hall.</p>
<h3>Golfing paradise</h3>
<p>If you're a keen golfer, then you're in for a treat. With 27 varied fairways split across three nine-hole courses, you're sure not to miss out. The stunning Wilder Kaiser backdrop makes this a unique experience – so grab your clubs and head to the green.</p>
<h3>Drink experiences</h3>
<p>Visit the “Aggstein Edelbrände” Schnapps distillery in St. Johann for a guided tour, taste and chance to purchase some locally made products. Or, go wine tasting held in some of the village's hotels and wine cellars – you won't be disappointed.</p>
<h3>Visit the history museum</h3>
<p>Head to “Beim Wegmacher,” the local history museum built in 1555 as a miner's house. Something special about this museum is the torchlight hike “Fire and Flame” - held on Mondays in July and August. During this family friendly experience you can enjoy folk music, as well as make mini purchases from their own stalls too – perfect for souvenirs.</p>
<h3>Festivals and events</h3>
<p>Ellmau hosts a variety of events each week including the weekly ‘Summer Nights’ Festival with arts &amp; crafts, food stalls and live music. The brass band concerts at the music pavilion create an unmatched Tyrolean atmosphere – a must-do during your stay to really indulge in the local culture.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT+1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation><![CDATA[<h3>Summer 2022</h3>
<div style="overflow-x: auto;">
<div style="display: flex; align-items: center;">
<table border="0">
<tbody>
<tr>
<th>Flying from/to:</th>
<th>Innsbruck</th>
</tr>
<tr>
<td style="text-align: left;">Birmingham</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday</td>
</tr>
<tr>
<td style="text-align: left;">Bristol</td>
</tr>
<tr>
<td style="text-align: left;">Gatwick</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday/Wednesday</td>
</tr>
<tr>
<td style="text-align: left;">Manchester</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>Innsbruck transfer approx. 1hr 30min by coach.</p>
<div style="overflow-x: auto;">
<div style="display: flex; align-items: center;">
<table border="0">
<tbody>
<tr>
<th>Flying from/to:</th>
<th>Salzburg</th>
</tr>
<tr>
<td style="text-align: left;">Birmingham</td>
<td rowspan="4" style="vertical-align: middle; text-align: left;">Saturday</td>
</tr>
<tr>
<td style="text-align: left;">Glasgow</td>
</tr>
<tr>
<td style="text-align: left;">Manchester</td>
</tr>
<tr>
<td style="text-align: left;">Newcastle</td>
</tr>
<tr>
<td style="text-align: left;">Gatwick</td>
<td rowspan="2" style="vertical-align: middle; text-align: left;">Saturday/Wednesday</td>
</tr>
<tr>
<td style="text-align: left;">Stanstead</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>Salzburg transfer approx. 1hr 45min by coach.</p>
<p>Self drive is available.</p>]]></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation><![CDATA[<h3>Recommended equipment</h3>
<p>Suitable walking shoes with good grip, appropriate clothing, rain jacket, sun cream, insect repellent, sun glasses, rucksack, at least a litre of water, a re-usable water bottle, a snack and cash. You may find walking poles useful. Or, if you stay at the Hotel Der Bär you can make use of the free rucksack and walking pole hire.</p>
<h3>Walking maps</h3>
<p>We recommend Mayr Map number 451, which has a scale of 1:25,000. The maps show the walking routes which are numbered and match the yellow signposts around the area. They will have a key which will help you understand the nature of the trail before you set out on your walk.</p>
<h3>Walking guidelines</h3>
<p>The mountains are a natural paradise, with lots to explore and discover. To help it stay that way, and remain an enjoyable and safe place for everyone, we recommend following our little list of do's and don'ts:</p>
<ul>
<li>Plan your route well and don't overestimate yourself</li>
<li>Check the weather forecast</li>
<li>Tell someone where you're planning to walk and what time you're expecting to be back</li>
<li>Take all the recommended equipment</li>
<li>Make a note of emergency numbers:
<ul>
<li>Austrian Emergency Services: 112</li>
<li>Mountain Rescue: 140</li>
</ul>
</li>
<li>Don't leave the marked trails or go onto a glacier without a guide</li>
<li>Let nature stay wild by not picking alpine flowers (it's illegal in some places) or getting close to/making contact with wild animals</li>
<li>Always leave gates as you found them</li>
<li>Leave no trace</li>
</ul>
<p>Check out our <a rel="noopener" href="https://www.inghams.co.uk/walking-holidays/insider-guides/responsible-walking" target="_blank">Responsible Walking</a> insider guide if you want more tips for your summer walking holiday.</p>]]></usefulInformation>
  <usefulInformationTitle><![CDATA[Useful information and guidelines]]></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription><![CDATA[<p>On an Inghams walking holiday, you have the freedom to explore the area at your own pace. Each day, a new adventure, with as much or as little walking as you like.</p>
<h3>Why we love walking holidays in Ellmau</h3>
<p>Ellmau is one of the prettiest areas of the Tyrol with an expansive network of over 700 kilometres of marked paths, through meadows and valleys up to higher ridges and past stunning lakes and mountain alms. Head up into the dramatic limestone mountains of the Wilder Kaiser where the terrain is rugged and wild. Or, stick to the green, rolling peaks of the southern side of the valley. The four villages of Ellmau, Söll, Going and Scheffau are well connected and there are also walks over into Brixen and Westendorf.</p>
<h3>Guided walks</h3>
<p>Ellmau <a rel="noopener" href="https://www.wilderkaiser.info/en/events/list-events.html" target="_blank">Tourist Office</a> offers regular guided walks and good maps of the local area. These walks may need to be booked in advance, directly with the tourist office.</p>
<p><em>Subject to change.</em></p>]]></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle><![CDATA[Walking in and around Ellmau]]></walkingTitle>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>