<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="03d43b79-955f-48b5-a6fa-536bb1836f71" id="69712" nodeName="Last Minute Ski Deals" isDoc="" updated="2024-10-17T11:34:29.5630000Z" parentGUID="714c3e7e-76a6-476e-81e3-cdd8e274abcf" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Next Winter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aada1eeaff944fecb99bf1e42e6176b6",
    "externalLink": "",
    "linkName": "Last Minute Ski Deals",
    "linkTitle": "Last Minute Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>