<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="bb8b11b9-1b98-43b4-b864-2740d3384218" id="23357" nodeName="Hotel Antares" isDoc="" updated="2024-05-20T15:08:52.6330000Z" parentGUID="37d9070a-8d4e-4a60-9b9c-192e453f0f97" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "e4800097-8045-48c6-bf00-ec2e92759021",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily snacks including soup, cold cuts and cakes (3pm-5pm)",
    "addedValueStart": "2022-04-09T12:04:01",
    "addedValueEnd": "2025-04-01T11:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "093e767d-a27a-4c95-8ebb-4f2fd532d9d1",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available Winter 24/25 (ends 30 Sep 24)",
    "addedValueStart": "2022-02-10T11:36:21",
    "addedValueEnd": "2024-09-30T11:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>2</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/8f549ec47e19456eb9ab7357b69d15cb,umb://media/01b0ae11281d4afabf708ffab5050cf1,umb://media/0ca9f88f92da48f99214bf4860ca024d,umb://media/481bff10fd524b79940b8ab95caeb423,umb://media/d0cba940ba3441479c2b3229758fc474,umb://media/82fd56fb150448c291db51abde4dc10e,umb://media/9f3cb19633684d238a57115b1c30fc1e,umb://media/e044514525bc444aaca2c3b03ca613c3,umb://media/63c230f3d33e4f43bfc3f85abb7a6021,umb://media/294fbdc6499e43269fc9c3e4b038df06,umb://media/1781b1afeda34fc1b34984609acb6b31,umb://media/a3fadd48ed3d43cdabf60cc886fced05,umb://media/3bcb33dd361a465abaa80660a67d727e,umb://media/d255060bd73e491192f2588f3fe3cc9e,umb://media/ada4279f97924a3683d2709372b13837]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel Antares is on a half board basis.</p>
<p>A hot and cold buffet breakfast is served every morning with lots of options to set you up for the day. </p>
<p>In the evening, indulge in a four-course meal with choices including an antipasto and salad buffet. There's a candlelit Tyrolean gala dinner every week, which is a great chance to try some local dishes.</p>
<p>Every afternoon between 3pm and 5pm, tuck into the free afternoon buffet where you'll be treated to goodies like soup, cold meats and cakes.</p>
<p>Christmas and New Year's Eve gala dinners included.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Antares has a great location in <a data-udi="umb://document/37d9070a8d4e4a609b9c192e453f0f97" href="/{localLink:umb://document/37d9070a8d4e4a609b9c192e453f0f97}" title="Selva">Selva</a> with the Ciampinoi lift being a stones throw away. After a day of exploring the <a data-udi="umb://document/47c7f0773b104efb87f3357e7314f393" href="/{localLink:umb://document/47c7f0773b104efb87f3357e7314f393}" title="The Dolomites Ski Area">Dolomites Ski Area</a> head back to the hotel and enjoy relaxing in the wellness area with an indoor pool. </p>
<h2>Cosy Atmosphere </h2>
<p>The spacious, comfortable rooms have a traditional alpine feel to them with warm wood and soft furnishings throughout. With rooms sleeping up to three people, this cosy hotel is a great option for families looking for central accommodation in Selva. </p>
<p>Each day you can fuel up for a day on the mountain at the breakfast buffet with sweet and savoury options available, and when you return for the day enjoy a delicious evening meal in the cosy and warm restaurant. There is often a weekly South Tyrol themed dinner, so you can sample some of the specialities from the area - whether its canederli, spätzle or apple strudel, you'll be in for a treat.</p>
<h2>Wellness</h2>
<p>When you return from a day of skiing, make the most of the swimming pool and wellness area. Have a dip in the pool, unwind in the saunas or revitalise in the chromotherapy showers- and for a little extra, book to use the outdoor jacuzzi with views of the resort. Pamper yourself and book in for a beauty treatment or massage with the in-house experts (pay locally). And for those who want to stay active, even off of the slopes, there is a fitness room with a range of equipment available for you to use. </p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We have an exclusive agreement with Hotel Antares the only UK tour operator to package and sell holidays here - all the more reason to book with Inghams today!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Alpine Oasi Wellness area with a sauna, bio sauna, steam bath, and a swimming pool with a waterfall.  Swimwear is not mandatory. Spa use is complimentary for hotel residents <span>over 14 years old. N</span>umber of users is limited and booking is required (60 min. sessions).</li>
<li>Jacuzzi and private outdoor sauna<span> (90 minute session. Pre-booking required. Pay locally).</span></li>
<li>Massages and treatments are payable locally</li>
<li>Fitness room</li>
<li>Heated ski boot room</li>
<li>Wi-Fi</li>
<li>Bar and lounge </li>
<li>Restaurant </li>
<li>Parking</li>
<li>Baby kits with a cot and highchairs are available</li>
<li>Games room</li>
<li>Children's menu</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "82546836-1e4f-48c1-aafb-8562fe577b5c",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f5e255c3-566a-4f02-b788-c0bde2514e4e\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>7</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.556309]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Antares has a superb location, offering half board accommodation with excellent facilities, making it a great place to stay. It's only 100 metres from the nearest lift and you'll have everything you need on your doorstep.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8f549ec47e19456eb9ab7357b69d15cb]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Local tourist tax of €3.20 payable locally directly to hotel.</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>In the centre of Selva</li>
<li>250 metres to Ciampinoi gondola</li>
<li>50 metres to ski hire shop</li>
<li>280 metres to nearest bus stop </li>
<li>400 metres to ski school shop</li>
<li>700 metres to ski school meeting point</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.755220]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[48 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your ski holiday at Hotel Antares today with Inghams. It offers superior standards, excellent facilities and easy access to the slopes.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Antares | Selva Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>48</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Antares]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITSV0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Twin Rooms</strong> around around 22<span>m</span><sup>2 </sup>sleeping up to three people. These rooms have a double bed, and an additional single sofa bed for the third person. Most rooms have a balcony but it's not guaranteed.</p>
<p>Rooms sleeping up to four people and rooms for sole use are available on request, please call to book.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>Bath or shower</li>
<li>TV</li>
<li>Minibar</li>
<li>Safe</li>
<li>Wi-Fi</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p><span>The Hotel Antares can cater for special dietary requirements (vegetarian, dairy free) on a request basis. Catering for dietary allergies will need to be checked before booking. Please inform us of any dietary requirements at the time of booking.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[314493]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>