<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="04bc7e2a-4399-414f-8e0b-2398e559c15c" id="58922" nodeName="Delete - Lapland Holidays" isDoc="" updated="2024-10-15T09:44:59.1300000Z" parentGUID="a4a479e8-2664-49e1-8b6b-9e98eafdfcb0" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="36" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lapland Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><img src="/media/13052888/lapland-meet-the-experts-cover-hero.jpg" alt="LaplandNorthernLightsHero" data-udi="umb://media/d8c07fb36c2242a69d8db6d12fc186ce" /></p>
<h2>Holidays in Lapland to see the Northern Lights</h2>
<h3>What are the Northern Lights:</h3>
<p>One of the most beautiful natural wonders in the world, the <em>Aurora Borealis</em> or <em>Northern Lights</em> are a mesmerising light show that dances across the night sky. Bursting colours that range from purple to green, sweep across the night sky. <br />The facts behind the Northern Lights are as follows: <br />The light show is created when energised particles from the sun collide into Earth's upper atmosphere at high speeds (up to 45 million mph), but the Earth's magnetic field protects the planet from these particles reaching any further.</p>
<p style="text-align: center;"><a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" class="c-btn">Book your holiday</a></p>
<h3>Where to see the Northern lights:</h3>
<p>It has to be <a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" title="Lapland/Finland">Lapland, Finland</a> - here you will discover the ultimate viewing location for the Northern Lights. The top 3 resorts of <a data-udi="umb://document/b8a6a8fa31c94e959dc5959c1881f2d5" href="/{localLink:umb://document/b8a6a8fa31c94e959dc5959c1881f2d5}" title="Saariselka">Saariselka</a>, <a data-udi="umb://document/1b2fbafe6b3546cbbcb8a26241bb809c" href="/{localLink:umb://document/1b2fbafe6b3546cbbcb8a26241bb809c}" title="Levi">Levi</a> &amp; <a data-udi="umb://document/cc68d9ee210a4063af0a51552472263c" href="/{localLink:umb://document/cc68d9ee210a4063af0a51552472263c}" title="Yllas">Yllas</a> are the ideal places to stay for your Lapland adventure. </p>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Saariselka</h4>
<p><img src="/media/13095235/inghams-lapland-adobestock_173927681.jpeg" alt="SaariselkaResort" data-udi="umb://media/be8e3877d6ca45cbbd9541fdb1dcb914" /></p>
<ul>
<li>Located within the Arctic Circle</li>
<li>Europe's northern ski resort</li>
<li>Uncommercialised, scenic resort</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/b8a6a8fa31c94e959dc5959c1881f2d5" href="/{localLink:umb://document/b8a6a8fa31c94e959dc5959c1881f2d5}" title="Saariselka" class="c-btn">View resort</a></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Yllas</h4>
<p><img src="/media/13095243/inghams-lapland-adobestock_290274561.jpeg" alt="YllasResort" data-udi="umb://media/0e6a75dca28a46749faeec7a69f2556e" /></p>
<ul>
<li>Excellent snow record </li>
<li>Unspoiled, natural scenery</li>
<li>Fell located resort</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/cc68d9ee210a4063af0a51552472263c" href="/{localLink:umb://document/cc68d9ee210a4063af0a51552472263c}" title="Yllas" class="c-btn">View resort</a></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Levi</h4>
<p><img src="/media/13095248/inghams-lapland-leviskiresort-winter.jpg" alt="LeviResort" data-udi="umb://media/c99da44f46424f75954dc4830d5112c2" /></p>
<ul>
<li>Forest and lake side views</li>
<li>Well equipped resort</li>
<li>Customer loved location</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/1b2fbafe6b3546cbbcb8a26241bb809c" href="/{localLink:umb://document/1b2fbafe6b3546cbbcb8a26241bb809c}" title="Levi" class="c-btn">View resort</a></p>
</div>
</div>
<h3 style="text-align: left;">When can you see the Northern Lights:</h3>
<p>The lights can be seen throughout the winter from November to April and are visible from any of our <a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" title="Lapland/Finland">Lapland resorts</a>, which all lie at the optimum latitude, north of the Arctic Circle. You are most likely to see the Northern Lights between 7pm and 2am, when the skies are dark and clear. Move away from brightly lit areas and sources of artificial light for the best views of the Northern Lights and the strongest colours. Great places to see the lights include the forests of Lapland.</p>
<p style="text-align: center;"><a data-udi="umb://document/9a05a35cb8d34ed5816618ba9aef347a" href="/{localLink:umb://document/9a05a35cb8d34ed5816618ba9aef347a}" title="Where to see the Northern Lights this winter" class="c-btn">View our guide</a></p>
<h3>Ways to see the Northern Lights:</h3>
<p>There are so many ways you can experience the Northern Lights whilst in Lapland, Finland. Here are just some of our favourite ways to see the magical light show during your stay, including some of our <a data-udi="umb://document/bda83b0ac78e4ae8aa3f5206e06059da" href="/{localLink:umb://document/bda83b0ac78e4ae8aa3f5206e06059da}" title="Lapland Excursions">Lapland excursions</a>. </p>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Snowmobiling</h4>
<p><img src="/media/13095228/inghams-lapland-adobestock_124523338.jpeg" alt="SnowmobileExcursions" data-udi="umb://media/572de64a3a8248c1adfe9a48f03b7920" /></p>
<ul>
<li>Chase down the Northern Lights across snowy forests &amp; lakes</li>
<li>Fun for all the family</li>
<li>Pre-book to select peak viewing times</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/345a78d93ecb4821a7eb5c47c0382ee6" href="/{localLink:umb://document/345a78d93ecb4821a7eb5c47c0382ee6}" title="Snowmobile Safari" class="c-btn">View Snowmobiling</a></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Skiing</h4>
<p><img src="/media/13095250/inghams-lapland-northern-lights-above-alpine-training-park-levi.jpg" alt="SkiingExcursion" data-udi="umb://media/2bd8093a96af4d6eb2a2db9c111f41f2" /></p>
<ul>
<li>Descend under the Northern Lights</li>
<li>Sit back on the lifts as you take in the night sky</li>
<li>Make a day of it</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/f0f31db66a7f488ea3b48ad27078e926" href="/{localLink:umb://document/f0f31db66a7f488ea3b48ad27078e926}" title="Ski Excursions" class="c-btn">View skiing</a></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Overnight stay</h4>
<p><img src="/media/13108020/lapland-guide-couples-7-500x500.jpg" alt="OvernightExcursions" data-udi="umb://media/faa5b8fb2222480288c604c36bb42024" /></p>
<ul>
<li>Don't miss a moment of the Northern Lights</li>
<li>A wake-up call when they appear</li>
<li>Glass roof for a panoramic experience</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/9933a896cd594899ac7150e009590145" href="/{localLink:umb://document/9933a896cd594899ac7150e009590145}" title="Northern Lights Adventures" class="c-btn">View Overnight stays</a></p>
</div>
</div>
<h3>Where to stay to watch the Northern Lights:</h3>
<p>There are plenty of options on where to stay whilst on holiday. From <a data-udi="umb://document/108d88b144c9423b877e6cdcd82f4a0c" href="/{localLink:umb://document/108d88b144c9423b877e6cdcd82f4a0c}" title="Lapland Apartments">self-catering apartments</a>, <a data-udi="umb://document/d8caa115ec114addac87ad898c99ee86" href="/{localLink:umb://document/d8caa115ec114addac87ad898c99ee86}" title="Lapland Cabins &amp; Lodges">cosy cabins</a> or <a data-udi="umb://document/bb37aaab17974bc6bc9238097f982c64" href="/{localLink:umb://document/bb37aaab17974bc6bc9238097f982c64}" title="Lapland Hotels">high-quality hotels</a>. Here is just a taster of your options from our <a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" title="Lapland/Finland">3 resorts</a> in Lapland. </p>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Saariselka</h4>
<p><img src="/media/13068520/finland_saariselka_stararctic_glasscabin.jpg" alt="StarArctic" data-udi="umb://media/b5da09c9ffbc48e98a79049f2d827f1a" /></p>
<ul>
<li>Panoramic window view of the sky</li>
<li>Private Sauna with your cabin</li>
<li>Dine at the Star Arctic Hotel</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/6dce0df99b4e4c64ada8985e9a365f77" href="/{localLink:umb://document/6dce0df99b4e4c64ada8985e9a365f77}" title="Star Arctic Hotel" class="c-btn">View Star Arctic</a></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Yllas</h4>
<p><img src="/media/13067043/yllas_yllaslogcabins_interior9.jpg" alt="YllasLogCabin" data-udi="umb://media/e457186f6b034e77a357471ecc42aff3" /></p>
<ul>
<li>Privately tucked away in the woodlands</li>
<li>Limited light pollution</li>
<li>High, quality and cosy cabins</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/a64717f77a214ef9a7be6f05c4ca8e4f" href="/{localLink:umb://document/a64717f77a214ef9a7be6f05c4ca8e4f}" title="Yllas Log Cabins" class="c-btn">View Yllas Cabins</a></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow ">
<h4 style="text-align: center;">Levi</h4>
<p><img src="/media/13055313/finland_lapland_levi_k5-cabin_exterior_northern-lights.jpg" alt="K5Cabins" data-udi="umb://media/87b9fe6d4e654dc0a0cec3ea54c37cb0" /></p>
<ul>
<li>Finished to a high standard &amp; well equipped</li>
<li>Hosted in a secluded area</li>
<li>Perfect for families or groups</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/61e8ec6078c94912a7db26af79ea0619" href="/{localLink:umb://document/61e8ec6078c94912a7db26af79ea0619}" title="K5 Cabins" class="c-btn">View k5 Cabins</a></p>
</div>
</div>
<p style="text-align: center;"><a data-udi="umb://document/b977658fa8a04f9c9903cffdc2c187c2" href="/{localLink:umb://document/b977658fa8a04f9c9903cffdc2c187c2}" title="Lapland accommodation options" class="c-btn">View accommodation options</a></p>
<p> </p>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your holiday. Flights, hotel and transport? We’ve got you covered. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
<p><br /><br /></p>
<h2 style="text-align: left;">Travel with confidence </h2>
<p style="text-align: left;">When you choose an Inghams holiday, you can travel with confidence. We’re here to take the stress out of travelling. We’ve put extra measures in place for your peace of mind. We’ll help keep both you and your money safe.</p>
<p><img src="/media/13095389/inghams-in-safe-hands-charcoal.png" alt="safehands" data-udi="umb://media/afba17a916e84fcc848acce5dda4f9c4" /></p>
<h3 id="Page Top"><a href="#WhyChoose" data-anchor="#WhyChoose">Back to top of page</a></h3>
<p> </p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Thrilling activities in Finland/Lapland including reindeer, husky and snowmobile safaris, plus shorts breaks to visit Santa and his elves!]]></metaDescription>
  <metaTitle><![CDATA[Safaris & Excursions | Winter activities on a Lapland Holiday  | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Lapland Holidays]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>A scenic winter wonderland blanketed in snow, we have over 20 years’ of experience in offering skiing holidays and snow holidays to this enchanting landscape, ideal for both families and adults.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/216025cd855347c9a977bc37bb22c5a0]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>