<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="76d1f788-30d4-420c-bd0b-9d3ddac866fa" id="22324" nodeName="Seehotel Kaiserstrand - Lochau" isDoc="" updated="2022-01-20T12:40:11.0770000Z" parentGUID="5feaf702-7f50-4319-8845-5e51b14fe3ba" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast served until late,</li>
<li>3 course evening meal.</li>
<li>Guests receive a small credit to dine à la carte if they wish.</li>
<li>Weekly barbecue buffet (weather permitting).</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Enjoying a wonderful lakeside location in the small town of Lochau, just outside Bregenz, the Seehotel am Kaiserstrand is an historic hotel with a beautiful modern interior and excellent facilities, including lakefront gardens and lido. The boat landing stage for some excursions is just in front of the hotel, whilst the railway station for quick access to Lindau and Bregenz is only 2 minutes’ walk away.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Excellent 900m² spa area including indoor pool</li>
<li>whirlpool</li>
<li>Finnish</li>
<li>sauna</li>
<li>steam room (all FREE)</li>
<li>spa, beauty and massage treatments (pay locally, booking recommended)</li>
<li>relaxation area with terrace café</li>
<li>lakeside lido (lockers and changing facilities by lakefront)</li>
<li>lakefront gardens with sun loungers</li>
<li>‘Wellenstein’ à la carte restaurant/dining room</li>
<li>sun terrace</li>
<li>‘Barista’ bar</li>
<li>bar with smokers’ lounge</li>
<li>2 Salon lounge areas with library</li>
<li>Wi-Fi throughout (FREE)</li>
<li>lift</li>
<li>Lindau and Bregenz 5 minutes’ away by train</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>102</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Enjoying a wonderful lakeside location in the small town of Lochau, just outside Bregenz, the Seehotel am Kaiserstrand is an historic hotel with a beautiful modern interior and excellent facilities, including lakefront gardens and lido.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/2a03a823981746459b6def32fb1446c4]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Seehotel Kaiserstrand, Lochau in Lake Constance, Book Summer Lakes & Mountains Holidays with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Seehotel Kaiserstrand Lochau Austria, Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATBR0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>All the well-furnished, twin and double rooms have bath or shower, cable TV, telephone, safe, radio, hairdryer, minibar and air conditioning.</li>
<li>Standard’ doubles, with queen-size bed, face towards the Pfänder Mountain, whilst ‘Comfort’ twins, which are larger, face the Pfänder or have lake view.</li>
<li>A superior twin, which can sleep up to 3 persons, is also available on request.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/c9325d9a77054a3c8190f3ab0da21760]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>