<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="3afc6199-15b1-4b20-a23b-8565b2c82dfa" id="33266" nodeName="Booking Offline" isDoc="" updated="2023-10-09T18:02:48.2830000Z" parentGUID="b49585f9-3afa-4fa9-bb0b-f506c7aa71da" nodeTypeAlias="genericPage" templateAlias="GenericPage" sortOrder="36" published="false" isBlueprint="false">
  <bannerDropdown></bannerDropdown>
  <bodyText><![CDATA[<h2>8pm Friday 30th November until Sunday 2nd December</h2>
<p> <iframe src="https://hotelplan.formstack.com/forms/bookingoffline_inghams_copy" title="BookingOffline_inghams no redirect" width="450" height="1300"></iframe></p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription></metaDescription>
  <metaTitle></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Booking Online Unavailable]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>