<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="558aaecd-b9aa-41ff-bc13-7c2658be2bd3" id="34476" nodeName="Incorrect title on my booking" isDoc="" updated="2021-07-06T09:55:22.5470000Z" parentGUID="5c826db5-6a59-4928-9e20-182bd23f3962" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="9" published="false" isBlueprint="false">
  <answer><![CDATA[<p>If your title (Mr, Mrs, Miss, Mstr, Ms, Dr) is incorrect on our paperwork, this will not affect your travel, as titles do not appear on passports. If you wish however for us to change your title please contact your travel agent, or our Pre-Departure Guest Services team on <strong>01483 79 11 22</strong> if you booked with us directly. Please note an admin fee will be charged to update your paperwork and any systems.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[My title is incorrect on my booking, is this an issue?]]></question>
</fAQItem>