<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="c7e9cc76-8f05-4b6d-a3dd-10b42998a9c8" id="29321" nodeName="Cefalu" isDoc="" updated="2022-12-30T11:31:28.9370000Z" parentGUID="b037a20c-14a3-421b-a33b-32859c9e3344" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="1" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/f5bf26df51a245c39873a4477f751705,umb://media/06f296ae0461470798a691019ac1321c,umb://media/4b48ae20dfdf45379e47c6b9806eee9d,umb://media/7328d02a54ce40809134d639280da9a5,umb://media/579aa47fc1b44b30bfee95c92f781972,umb://media/e043efd708154bfaad7e6a83d80e96dd,umb://media/b62e51243dcd4488b8e2145a1ace286d]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Cefalù is one of Sicily’s true delights; a charming historical town packed with places of interest and a fine, long sandy beach. Once a traditional fishing village, the medieval centre is a maze of narrow streets where you can now find plenty of shops, restaurants and bars where you can sip a glass of Sicilian wine in the shade of a palm tree.</p>
<p style="color: #00533a;"><strong>What to see on a Cefalù holiday</strong></p>
<p>Apart from the beach, the main attraction is the Norman cathedral, which dominates the town and is decorated with glistening Byzantine mosaics. Lots of little cafés sit at its base so pull up a chair and enjoy an espresso while you admire it from the outside. </p>
<p>You'll spot La Rocca in the distance, just outside the town. This magnificent hill is perfect for an energetic walk - head to top to see some ancient ruins and get amazing views over the sea.</p>
<p>Discover more things to see and do in <a data-udi="umb://document/b037a20c14a3421ba33b32859c9e3344" href="/{localLink:umb://document/b037a20c14a3421ba33b32859c9e3344}" title="Sicily">Sicily</a>.</p>
<p style="color: #00533a;"><strong>Why book a holiday in Cefalù with Inghams?</strong></p>
<p>We've got a great choice of hotels in and near Cefalù. Enjoy warm hospitality and fantastic Italian food with our hand-picked properties. Your holidays is <a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands">in safe hands</a> with Inghams.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li><span>Visit the Tempio di Diana and hike up the trail to La Rocca for beautiful views over the old town</span></li>
<li><span>Grab a table in the Piazza del Duomo and marvel at the Cathedral with its twin towers</span></li>
<li><span>Lay down a towel for free on the crescent sandy beach backed by the old town</span></li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language></language>
  <latestDeals></latestDeals>
  <latitude></latitude>
  <listingDescription><![CDATA[<p>This captivating town has a rich history, vibrant atmosphere and one of Sicily’s finest beaches. Postcard-worthy streets wind past little restaurants, bakeries and pretty churches. Cefalù’s masterpiece is its Duomo, which proudly sits in the town’s highest piazza.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/f5bf26df51a245c39873a4477f751705]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Find out why Cefalù is one of Sicily’s true delights with our holiday guide. Book today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Cefalu Holidays 2023| Holidays to Sicily | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Cefalù Holidays]]></pageTitle>
  <parking>1</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/f256de78a509497a889e04910c51fc9e",
    "promotionBannerMobile": "umb://media/241a9224da45404db7bd473ea3bfafe8",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Sicily Latest Deals\",\r\n    \"udi\": \"umb://document/1354a7bb9bdd446380983ef0d29f0d35\"\r\n  }\r\n]",
    "promotionStartDate": "2022-02-21T00:00:00",
    "promotionEndDate": "2022-04-30T00:00:00"
  }
]]]></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ITCF]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Explore a historic town and amazing monuments next to one of Sicily's finest beaches on a holiday to Cefalù]]></tagline>
  <thingsToDo><![CDATA[<p style="color: #00533a;"><strong>Things to see and do</strong></p>
<p>Whether you're looking to relax or explore, there's plenty to do on a holiday to Cefalù. We love heading for the beach - it's a sweeping stretch of soft sand lined by a lovely promenade where you can grab a drink. The old town has plenty of history to discover. Head for the Duomo to see a magnificent example of Norman architecture. There's lots of hidden gems to discover so get strolling through the cobbled streets to see if you can find them all.</p>
<p style="color: #00533a;"><strong>Food &amp; drink</strong></p>
<p>Cefalù is a fantastic place for authentic Italian cafés and restaurants. We can't get enough of Sicily's food while we're there! Street food is very popular so you can grab an arancini (fried rice ball) or slice of pizza to eat as you walk around. Try the local seafood and pasta dishes like pasta alla norma - a Sicilian favourite of fresh tomatoes, aubergines and salted ricotta cheese tossed in some home-made pasta. If you're looking for a relaxed place to eat, Mandralisca 16 is a small restaurant in the old town centre next to the Cathedral. It has a simple but charming atmosphere and serves typical Sicilian food.</p>
<p>Keep an eye out for the <strong><span style="font-weight: normal;">Tuma Persa</span></strong>, a local cheese made by Salvatore Passalaqua. The cheese comes from an ancient recipe which was discovered by chance. It's both crumbly and creamy at the same time, and the rind is coated in crushed peppercorns for that extra peppery flavour - try it with a good Sicilian wine like Malvasia Lipari. There are plenty of vineyards near Cefalù, where you can enjoy wine tastings. If you've hired a car, head inland to Relais Santa Anastasia to enjoy a few glasses with sea views from up in the hills.</p>
<p style="color: #00533a;"><strong>Activities</strong></p>
<p>Being a coastal town, there's plenty of water sports to try in Cefalù. Hire a pedal boat or hop on board a boat for a day to enjoy some fishing or just to admire the town from the water. Walking is another popular activity here. The most popular route is up La Rocca but we recommend heading a bit outside of the town too, to Parco delle Madonie. It's a nature reserve in the Sicilian countryside with plenty of uninterrupted walking to enjoy.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT +1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>