<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="555e0d51-8004-4a0c-a3f5-414efc176699" id="23171" nodeName="Ambassador Suites" isDoc="" updated="2024-01-11T11:52:17.2970000Z" parentGUID="4abc3d93-67fc-4903-a52b-296414b05ef1" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="14" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes><![CDATA[<p>All wings are interconnecting.</p>
<p> </p>]]></annexes>
  <bedroomFacilities><![CDATA[2,6,9,11,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet taken in Hotel Ambassador (adjoining) </p>]]></breakfast>
  <buildings>3</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/da3f6ce756bf4d9abb0d78df1a1d2f6b,umb://media/fc0ec3ccb518460eba769cac4db2cd17,umb://media/8251fb0117f64adca9f1c32f0fac461d,umb://media/11ffd3bc080a4c5482efc3936e5a788e,umb://media/232fc572774445df9192e6ff3fca84ba,umb://media/72bbacf151c14712a747b54af7a62b43,umb://media/3b5f3011bfdc482eb6bb7136b7567fd2]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Bed &amp; Breakfast included </li>
<li>Half board if pre-booked is a daily evening 4 course set menu with occassional themed buffet evening</li>
<li>When booking Bed &amp; Breakfast only, Christmas gala dinner is included and a supplement applies for the New Year gala dinner </li>
<li>When booking Half Board a CHF 25 credit towards the <span data-dobid="hdw">à la carte menu at hotel's restaurant Chi-ba-bou (Winter 2017/18) and CHF 15 credit (Winter 2018/19) is included</span></li>
<li>All meals taken at <a href="/{localLink:bc8dce77-0b96-4f77-97b6-8f8bd925d2a8}" title="Hotel Ambassador">Hotel Ambassador</a></li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Located in the <a data-udi="umb://document/a3dc19a519d54b058f439292419cb364" href="/{localLink:umb://document/a3dc19a519d54b058f439292419cb364}" title="Hotel Ambassador">Hotel Ambassador</a>, which has recently undergone a complete refurbishment, these stylish and spacious suites, sleep between 2 to 6 people and are ideal for families and groups. All our 2- and 3-roomed suites are both south-facing with Matterhorn views and balcony and have shower, TV, telephone, telephone, safe, radio, minibar, hairdryer and separate lounge area. 3-roomed suites with 2 twin bedrooms can sleep up to 6 people, with 2 extra beds, whilst 2-roomed suites have 1 twin bedroom and double sofa bed. Free Wi-Fi included.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter (if-prebooked) </p>]]></dinner>
  <distanceToCityCentre>300</distanceToCityCentre>
  <distanceToLift>200</distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>500</distanceToSkiSchool>
  <distanceToStation>280</distanceToStation>
  <dressCode><![CDATA[<p>Smart casual </p>]]></dressCode>
  <facilities><![CDATA[umb://document/36ebccaf6fef4fffb28746645e3e6793,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/59838f493c5c41ff94c1b89d8989c8db,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>All hotel facilities are available to apartment guests, including use of indoor pool and spa</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Early Booking Offer: Save</strong> up to £180 per couple (ends 30 Sept)</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.6072]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Situated in the Hotel Ambassador, and in the same style as the hotel rooms, these suites offer spacious accommodation with the added benefit of the hotel facilities.  Bed and breakfast is included. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/fc0ec3ccb518460eba769cac4db2cd17]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Included</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Great location, just 2 minutes' walk (200m) to the Gornergrat mountain railwayand ski bus</li>
<li>3 minutes (300m) to the centre of Zermatt</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.9218]]></longitude>
  <lunch><![CDATA[<p>Not included </p>]]></lunch>
  <maxPeopleSleepingText><![CDATA[85 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Located in the Hotel Ambassador, these stylish and spacious suites sleep between 2 to 6 people and are ideal for families and groups. Book now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Ambassador Suites, Zermatt - Switzerland - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Gornergrat</p>]]></nearestLift>
  <nearestRestaurant><![CDATA[<p>In hotel </p>]]></nearestRestaurant>
  <nearestStation><![CDATA[<p>Zermatt</p>]]></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>85</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>1-6</p>]]></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHZE0106]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p>Located within the Hotel Ambassador</p>
<ul>
<li><strong>Types of Suites </strong></li>
<li><strong>3-room suites (B6) - sleeps 2-6</strong> with 2 twin bedrooms can sleep up to 6 people, with 2 extra beds.</li>
<li><strong>2-room suites (A4) - sleeps 1-4</strong> have 1 twin bedroom and double sofa bed.</li>
<li>All suites are south-facing with Matterhorn view and balcony and have shower, TV, telephone, telephone, safe, radio, minibar, hairdryer and separate lounge area.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>1</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Great location, just 2 minutes' walk (200m) to the Gornergrat mountain railwayand ski bus</li>
<li>3 minutes (300m) to the centre of Zermatt</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[264700]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/a3dc19a519d54b058f439292419cb364]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>