<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="cf7ebae7-ef64-41e5-a575-fad401925524" id="71644" nodeName="Deals &amp; Offers" isDoc="" updated="2024-10-22T10:25:47.0670000Z" parentGUID="36208d2a-3326-4e67-a3d2-816ab306db3e" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Last Minute Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/c9869bf0e4e9431d98d0277c1db49284",
    "externalLink": "",
    "linkName": "Deals & Offers",
    "linkTitle": "Deals & Offers",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>