<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="14d10378-820a-4af3-a3b9-496a69967182" id="23362" nodeName="Hotel Magic Ski" isDoc="" updated="2024-10-08T09:31:51.2530000Z" parentGUID="07c4ee80-b2bd-4b5c-9640-b262a5748dd7" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Hotel Magic Ski has three adapted rooms available. Please give our Reservations team a call to book.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/cc0e738e3dcc4212939e0ffa652cb456,umb://media/ad389bb8b89746b2b250064819a02463,umb://media/d5ad2f708eb3462bab9fe71d10c3e466,umb://media/71bfdf62af1149038ab900403fc39bce,umb://media/01c599edcf664e2fbb35b3c3afe35495,umb://media/235b4b66cdcc431da006fa5fffc24ba9,umb://media/b3457dd5e4054a3f84dcd856d2f967b7,umb://media/c360935f680d44b485c6d792d23f50a1,umb://media/0e0a6444624140a7a284b36a19d5bf9a,umb://media/f2cb1f2ce517461886117c0246ea06b7,umb://media/a3b4c9dcdbd9452b8ba014545a86408c,umb://media/d458c4724db14ce7a88b5fd48598f5e9,umb://media/6934cf3f284d427a876039110b6cf934,umb://media/45620d1637c942bbb28bc45dfa027506,umb://media/d91b51c79af34d13826a2c403a4d6a15]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p class="p1">The Hotel Magic Ski is on a half board basis.</p>
<p class="p1">There is an extensive buffet breakfast to start the day and evening buffet meals with a wide variety of choice including show cooking or main courses cooked to order.</p>
<p class="p1">Christmas dinner and a special New Years Gala dinner with cava is included. </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Located in the La Massana area of Arinsal, Hotel Magic Ski is a great option for families looking for convenience and comfort. With its excellent location, attractive rooms and wellness facilities, this hotel offers excellent value for money.</p>
<h2>Ski and snowboard</h2>
<p>Getting onto the slopes from the Hotel Magic Ski couldn't be easier. Each room is allocated a storage locker in the heated ski and boot room free of charge so you won't have to worry about organising this yourself. Not only that, but the ski gondola is located directly behind the hotel and can be accessed via a set of stairs from the ski storage room. This means you'll be able to head straight up the mountain to the Pal ski area after breakfast, where you'll also find the ski school meeting points, and you'll have some great views on the way up too!</p>
<h2>Central location</h2>
<p>Hotel Magic Ski places you right in the centre of the village with a range of restaurants and bars all within walking distance. There are also a few souvenir and ski shops dotted around the town for you to explore. If you'd prefer a wider selection, there is a bus stop located a 4 minutes' walk from the property that takes you towards the capital city, Andorra La Vella, where the shopping selection is large and prices are duty-free! You can also jump on the bus and head over to the main village of Arinsal which is only a short ride away.</p>
<h2>Spa and wellness facilities</h2>
<p>Make the most of the relaxation facilities Hotel Magic Ski has to offer. There is a wellness area including indoor heated swimming pool, a sauna, a steam room, a whirlpool and a fitness room (local charges apply). After you're warmed up and relaxed, head over to the hotel bar for a drink and a game of pool to round the evening off. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Ski storage room with direct access to the gondola</li>
<li>Wellness area with small swimming pool with massage jets, sauna, whirlpool and gym. <strong>Local entrance charge applies.</strong> Please note that it is mandatory for a swimming cap and flip flops to be worn. Caps can be purchased from reception for €2.</li>
<li>Fitness room</li>
<li>Lounge and bar </li>
<li>Free Wi-Fi</li>
<li>Children's area</li>
<li>Laundry service (pay locally)</li>
<li>Private parking (pay locally)</li>
<li>Electric car charging points</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "b368735d-9f9f-45e6-bf25-2e24cacbcc27",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"d7cf271d-f217-4cfb-8a3c-68838dab37bf\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[42.547226]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Located in the La Massana area of Arinsal, the Magic Ski has a fantastic location - plus getting onto the slopes couldn't be easier, the La Massana gondola is just a snowballs throw away from the ski room. This hotel offers a lovely wellness area (pay locally), and great value for money with it's half board basis.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/cc0e738e3dcc4212939e0ffa652cb456]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p>Walk out from the ski room to the La Massana gondola giving direct access to the Vallnord ski area and ski school meeting place.</p>
<p>Hotel Magic Ski is in the town centre of La Massana.</p>
<p>There is a bus stop located up the road from the hotel (300 metres) that takes you towards the capital of Andorra La Vella.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[1.515275]]></longitude>
  <lunch><![CDATA[<p>Pre-book the Ski Inclusive Option which includes lift pass, ski and boots and also lunch vouchers which are used at several participating mountain restaurants and includes a sandwich, chips and a soft drink or beer each day.</p>]]></lunch>
  <maxPeopleSleepingText><![CDATA[84 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Magic Ski is just 100m to the gondola in La Massana and Après-ski is close on hand with the lively Irish pub! Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Magic Ski Arinsal - Andorra - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>La Massana gondola</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>84</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Magic Ski, Arinsal ]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ADAR0115]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Double Bedrooms</strong> sleep two to four people with twin beds, and sofa bed for the third person.</p>
<p>Quad and Single bedrooms are available on request. Please give our Reservations team a call to book.</p>
<p><strong>Bedroom facilities</strong></p>
<ul>
<li>TV</li>
<li>Wi-Fi</li>
<li>Safe</li>
<li>Telephone</li>
<li>Mini bar</li>
<li>Hairdryer</li>
<li>Toiletries </li>
<li>Private bath and WC</li>
<li>Cots are also available upon request free of charge.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Special dietary requirements (vegetarian, vegan, gluten free and dairy free) are available on request. Please inform us of any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[644472]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>