<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="fcbc0e27-fe26-42a8-88bd-6dd887029e28" id="24035" nodeName="Self Drive" isDoc="" updated="2023-10-09T18:18:16.6670000Z" parentGUID="68052bb1-1411-4bb1-b984-f9a6d2014d33" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="15" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img src="/media/13050564/family-self-drive-temp-thumb.jpg" alt="Lakes -chalet" rel="838,360" /></div>
</div>
<h3><strong>Here is a selection of Family self-drive we have on offer. <strong><strong><strong><strong>Prices are based on 7 nights. Other durations are available, <strong><strong><strong><strong>please call 01483 79 11 11 for details.</strong></strong></strong></strong> Prices shown include ferry and accommodation, can be booked as accommodation only for the same price or Eurotunnel is available at a supplement.</strong></strong></strong></strong> <strong><strong> <br /></strong></strong></strong></h3>
<p>Take your own car and drive to your holiday destination from the UK and travel at your own pace.</p>
<div class="data-grid">
<table border="0">
<tbody>
<tr align="center">
<th>Country</th>
<th>Resort</th>
<th>Accommodation</th>
<th>Departure Date</th>
<th>Passengers</th>
<th>Family Price</th>
</tr>
<tr align="center">
<td rowspan="6" style="vertical-align: middle;"><a data-udi="umb://document/a1a80922d88a43f8ba80b182c72e8904" href="/{localLink:umb://document/a1a80922d88a43f8ba80b182c72e8904}" title="Italy"><strong>Italy</strong></a></td>
<td style="vertical-align: middle;"><a data-udi="umb://document/0f9f33f516a448a2ab8bda68f2fba594" href="/{localLink:umb://document/0f9f33f516a448a2ab8bda68f2fba594}" title="Peschiera"><strong>Peschiera</strong></a></td>
<td style="vertical-align: middle;"><a data-udi="umb://document/dbb6092a157a4b7eaca7525ba4ab65ac" href="/{localLink:umb://document/dbb6092a157a4b7eaca7525ba4ab65ac}" title="Parc Hotel"><strong>Parc Hotel</strong></a></td>
<td rowspan="6" style="vertical-align: middle;"><strong>28th May 2016</strong></td>
<td style="vertical-align: middle;"><strong>2 adults<br />2 children</strong></td>
<td style="background-color: #f67200;" scope="col">
<h2><span style="color: #ffffff;"><strong><span style="color: #ffffff;">£1757</span></strong></span></h2>
</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><strong><a data-udi="umb://document/7c2039e31003455f9c5af8c11e6f0e11" href="/{localLink:umb://document/7c2039e31003455f9c5af8c11e6f0e11}" title="Gardone Riviera">Gardone Riviera</a><br /></strong></td>
<td style="vertical-align: middle;"><a data-udi="umb://document/491a1b2cb1de4690b19904e004c45c9a" href="/{localLink:umb://document/491a1b2cb1de4690b19904e004c45c9a}" title="Hotel Atelier Classic"><strong>Atelier Classic Hotel</strong></a></td>
<td style="vertical-align: middle;"><strong>2 adults<br />2 children</strong></td>
<td style="background-color: #f67200;" scope="col">
<h2><span style="color: #ffffff;"><strong><span style="color: #ffffff;">£2443</span></strong></span></h2>
</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/8b37cb2bfc354628b321751c199d4032" href="/{localLink:umb://document/8b37cb2bfc354628b321751c199d4032}" title="Cadenabbia"><strong>Lake Como - Cadenabbia</strong></a></td>
<td style="vertical-align: middle;"><a data-udi="umb://document/db2b21b0e989403093f91c70f5f98cd4" href="/{localLink:umb://document/db2b21b0e989403093f91c70f5f98cd4}" title="Grand Hotel Cadenabbia"><strong>Grand Hotel Cadenabbia</strong></a></td>
<td style="vertical-align: middle;"><strong>2 adults<br />2 children</strong></td>
<td style="background-color: #f67200;" scope="col">
<h2><span style="color: #ffffff;"><strong><span style="color: #ffffff;">£2477</span></strong></span></h2>
</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/59fcac55a66d4666ae4b0cca449364d1" href="/{localLink:umb://document/59fcac55a66d4666ae4b0cca449364d1}" title="Bardolino"><strong>Bardolino</strong></a></td>
<td style="vertical-align: middle;"><a data-udi="umb://document/73124ace0b2947a7b4cdd10c68fa00a5" href="/{localLink:umb://document/73124ace0b2947a7b4cdd10c68fa00a5}" title="San Pietro Hotel"><strong>Hotel San Pietro</strong></a></td>
<td style="vertical-align: middle;"><strong>2 adults<br />1 child</strong></td>
<td style="background-color: #f67200;" scope="col">
<h2><span style="color: #ffffff;"><strong><span style="color: #ffffff;">£2512</span></strong></span></h2>
</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/689f022eb7974a7087ccbecf4adbda43" href="/{localLink:umb://document/689f022eb7974a7087ccbecf4adbda43}" title="Garda"><strong>Garda</strong></a></td>
<td style="vertical-align: middle;"><strong><a data-udi="umb://document/6d0805d20fe346f6b4336fa02d6e7beb" href="/{localLink:umb://document/6d0805d20fe346f6b4336fa02d6e7beb}" title="Palme Hotel">Hotel Palme</a><br /></strong></td>
<td style="vertical-align: middle;"><strong>2 adults<br /><strong>1 child</strong><br /></strong></td>
<td style="background-color: #f67200;" scope="col">
<h2><span style="color: #ffffff;"><strong><span style="color: #ffffff;">£1486</span></strong></span></h2>
</td>
</tr>
<tr align="center">
<td style="vertical-align: middle;"><a data-udi="umb://document/604dbba59ac64320ab6e9f1e89231a4c" href="/{localLink:umb://document/604dbba59ac64320ab6e9f1e89231a4c}" title="Limone"><strong>Limone</strong></a></td>
<td style="vertical-align: middle;"><strong><a data-udi="umb://document/b404a82a6e314ed5aa488c6d16dcd436" href="/{localLink:umb://document/b404a82a6e314ed5aa488c6d16dcd436}" title="Hotel Du Lac">Hotel Du Lac</a><br /></strong></td>
<td style="vertical-align: middle;"><strong>2 adults<br /><strong>1 child</strong><br /></strong></td>
<td style="background-color: #f67200;" scope="col">
<h2><span style="color: #ffffff;"><strong><span style="color: #ffffff;">£2053</span></strong></span></h2>
</td>
</tr>
</tbody>
</table>
</div>
<h3><strong>Please call 01483 79 11 11 to book your Family self-drive holiday.</strong></h3>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Family Self Drive Late Deals by short ferry crossing to Austria, France, Italy & Switzerland]]></metaDescription>
  <metaTitle><![CDATA[Family Self Drive Lakes & Mountains Holidays | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Here is a selection of Family self-drive we have on offer. Prices are based on 7 nights. Other durations are available, please call 01483 79 11 11 for details. Prices shown include ferry and accommodation, can be booked as accommodation only for the same price or Eurotunnel is available at a supplement.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <title><![CDATA[Family self-drive]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/b1c236bf7d184e8b955bb865ad29a200]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>