<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="9022fc6c-fa6d-4582-bd27-be9d80c7d2c8" id="22666" nodeName="Hotel Les 5 Freres" isDoc="" updated="2023-10-04T16:24:25.7830000Z" parentGUID="16c56b28-3bca-4ae2-b2ad-a820a5d3a03d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="16" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<ul>
<li>Adapted rooms are available in the hotel (on request)</li>
<li>Lift serves all floors in the main hotel, however there is no lift in the annexe</li>
<li>Please note the bathrooms in the hotel are not suitable for wheelchair access</li>
</ul>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "62b590db-f5eb-4913-8dee-ec2f31e76749",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams  ",
    "addedValueStart": "2019-02-18T14:55:49",
    "addedValueEnd": "2020-04-19T14:55:50",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes><![CDATA[<ul>
<li>Yes</li>
<li>10m from the hotel</li>
</ul>]]></annexes>
  <bedroomFacilities><![CDATA[0,1,2,5,6,7,8,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<ul>
<li>Continental buffet breakfast with additional hot options</li>
<li>Served between 7.30 - 9.30 am</li>
</ul>]]></breakfast>
  <buildings>2</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/381a0fde584f468b8ae8d63f620e2607,umb://media/deaa721229dd4d0290dca992fc9df88b,umb://media/271abc26bf6147cca32bd0242ff55d3c,umb://media/2070471478094b10baf6c3194c7580b8,umb://media/671fad2437fa49048325676f594e225d,umb://media/ed3e8ea8ca7145a6bb3409a0c21276cb]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Continental buffet breakfast with additional hot options</li>
<li>3 course à la carte evening meal with choice of menu</li>
<li>Evening meals have choice of soup for starter, meat or fish for main course and selection of desserts</li>
<li>Special dietary requirements (vegetarian etc.) are available (on request)</li>
<li>Earlier meal times for children are available from 7 pm</li>
<li>Christmas and New Year gala dinners are included</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><strong>Exclusive to Inghams</strong></p>
<p>The essence of this hotel is a welcoming and relaxed family atmosphere with its comfortable lounge area and individually furnished bedrooms. Formerly the Hotel Bellevue, this property has been lovingly re-built by it's owners, the Mattis family and re-named after the five brothers.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<ul>
<li>4 Course a la carte evening meals with a choice of menu</li>
<li>Evening meals have choice of soup for starter, meat or fish for main course and selection of desserts</li>
<li>Served between 7.15 - 9 pm</li>
</ul>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<ul>
<li>Informal</li>
</ul>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Mountain views</li>
<li>Sun terrace</li>
<li>Heated ski equipment storage room</li>
<li>Bus stop outside hotel (50 m)</li>
<li>Lounge</li>
<li>Bar </li>
<li>WiFi <strong>Free</strong></li>
<li>In the heart of the old village</li>
<li>Next to a large variety of shops, bars and restaurants</li>
<li>Luggage storage </li>
<li>Restaurant</li>
<li>Lift (in the hotel)</li>
<li>Attractively furnished rooms</li>
<li>Close to slopes and ski lifts (50 m)</li>
<li>Reception</li>
<li>Car parking (pre book and pay locally)</li>
</ul>
<p> </p>
<ul>
<li>Check in 4 pm</li>
<li>Check out 10 am</li>
<li>Secure luggage storage is available in the reception </li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Baby cots are available (on request) for children under 2 years</li>
<li>Earlier meal times are available for children from 7 pm </li>
</ul>]]></familyDescription>
  <familyFacilities><![CDATA[umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/c0e11185f51f4f4cb5a972b8e46cac58,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.448252]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Formerly the Hotel Bellevue, one of the first hotels in Val d'Isère, the essence of this hotel is a welcoming and relaxed family atmosphere.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/5fed5c5331724c0e8cba719d9eff8598]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax €1.65 per person, per day (under 18s <strong>Free</strong> of charge) paid locally</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p>50m to the nearest bus stop </p>
<p>100m to the ski school meeting point </p>
<p>50m to the ski lifts </p>
<p>100m to the nursery slopes </p>
<p>50m to the resort centre </p>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.981048]]></longitude>
  <lunch><![CDATA[<ul>
<li>Not included</li>
<li>Local shops and restaurants</li>
</ul>]]></lunch>
  <maxPeopleSleepingText><![CDATA[22 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The essence of this hotel is a welcoming & relaxed family atmosphere with its comfortable lounge area and individually furnished bedrooms. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Les 5 Freres Val d'Isere, France Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Solaise Express</p>]]></nearestLift>
  <nearestRestaurant><![CDATA[<ul>
<li>On site (hotel) </li>
<li>10 m from the Annexe </li>
</ul>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>22</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Les 5 Frères]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/5113bdd1a0164e7faff649d6862842ec",
    "promotionBannerMobile": "umb://media/13415eba27fd4d17990d3d4e92e92297",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Tignes-Val d’Isère Half Price Lift Pass Offer\",\r\n    \"udi\": \"umb://document/f72f52b947094429a1a17a67b5ea9a51\"\r\n  }\r\n]",
    "promotionStartDate": "2021-08-20T00:00:00",
    "promotionEndDate": "2022-04-03T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[FRVD0128]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in 4pm</li>
<li>Check out 10am</li>
<li>Secure luggage storage is available in the reception </li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Annexe</strong> rooms are smaller and simply furnished. The annexe is situated (10m) opposite the hotel, but still includes use of the restaurant and facilities in the hotel. </p>
<p>All rooms have twin or double beds (please specify your preference when booking), bath with shower head attachment, WC, balcony, WiFi, cable/satellite TV with English speaking channels, bath robes (on request), hair dryer and a balcony with mountain or village views.</p>
<ul>
<li><strong>Twin</strong> room (C2) sleeps 2 people (18m²), also available for sole occupancy (on request)</li>
</ul>
<p><strong>Hotel</strong> rooms are larger and more stylishly decorated.</p>
<p>All rooms have twin or double beds (please specify your preference when booking), bath with shower head attachment or shower room, WiFi, WC, cable / satellite TV with English speaking channels, bath robes (on request), safe, hair dryer and a balcony with mountain or village views.</p>
<ul>
<li><strong>Twin</strong> room (A2): sleeps 2 people (21m²) on request</li>
<li><strong>Superior Twin</strong> room (D2): sleeps 2 people (26m²) is slightly larger with additional bath (on request)</li>
<li><strong>Family</strong> room (B4): sleeps 4 people (35m²) on request. Additional sofa bed (suitable for 1 adult or 2 children under 12 years)</li>
</ul>
<p>Beds are made on arrival and house keeping is included.</p>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[6428773]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>