<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="4378ec97-f0e1-4827-b554-0f9b981647b7" id="67063" nodeName="New Year Ski Deals" isDoc="" updated="2024-04-04T14:17:43.3300000Z" parentGUID="d45880bc-297c-4e71-b0d5-48089a2450dd" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "New Year 2024 Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/aea32888d03e4f5499689d39abf2ea36",
    "externalLink": "",
    "linkName": "New Year Ski Deals",
    "linkTitle": "New Year Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>