<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="27738df8-1c6e-4c3b-b327-9f6bcd0054c6" id="57992" nodeName="Hotel Monte Paraccia" isDoc="" updated="2024-06-24T11:15:05.8500000Z" parentGUID="bffd76f3-b273-4cdb-b2a6-6c10b923aaef" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<ul>
<li>Accessible rooms are available on request, please call to book.</li>
<li>Please be advised that only the first two floors of the hotel are accessible by the lift.</li>
</ul>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "65ae6da6-0b4b-4e37-bd81-0c0f54a4e312",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Mobilcard included with free use of public transport in the Alto Adige region",
    "addedValueStart": "2023-02-12T10:56:23",
    "addedValueEnd": "2024-09-30T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "0fe7e695-605a-47b7-a580-ed30672a28b3",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Two free guided walks a week run by the hotel",
    "addedValueStart": "2023-02-12T10:57:30",
    "addedValueEnd": "2024-09-30T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "f911f97e-cdef-462b-9373-feff04d9b956",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Discounts or free access to selected tourist office and resort events for stays between 08 - 30 Sep 23",
    "addedValueStart": "2023-09-08T23:59:59",
    "addedValueEnd": "2024-09-30T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/d2a48f6e655f4d76ae1bb71ac3e860d9,umb://media/0eb782f6181049e099efc674c414d16b,umb://media/f39e44594e2a46ce924ee9a59854550e,umb://media/1402b66115824b97b9f60f3205488a16,umb://media/1f23d2ebaa734a799979fd272938874a,umb://media/8b21db55475a4f9a84a4349d89235f2f,umb://media/87703b74b7f8402f87a3c68fc84149e3,umb://media/aa6ed2a46dc94c73aaece9fef90daffe,umb://media/a6ac32284a90434cb2442bdf82fca2ef,umb://media/a5e87096a2e34f46ae1e411b3ad68adc,umb://media/71d689289771420f8f91794351e2cd3b,umb://media/a2986f1bc9a44cf98efdbaebd5c3cdc9,umb://media/fc28a5181a2c43b98b68361bbdaa7917,umb://media/2353960afbed4561b37ae3c1cb224780,umb://media/af8392a2d4794f7d8b9d26ec5bbb8b05,umb://media/bfb4fc2cb3954634b31e3605cbeee7fb,umb://media/89ebef2f42454b288a94482751563c84,umb://media/2837b8ee3c2445f6ad24b1b1160699b2]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>For breakfast you'll have a buffet with a wide range of hot and cold food to choose from. For dinner you'll have a delicious three-course dinner as well as a salad and starter buffet. Once a week the hotel host a dinner where they serve local specialities and traditional food.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Monte Paraccia's welcoming atmosphere and fresh mountain style make it such a fantastic place to stay.</p>
<h2>Walking trails on the doorstep</h2>
<p>It's easy to find rewarding walking trails and cosy wooded areas nearby. You can walk out the door in the morning and get straight onto some paths. The hotel staff really want you to make the most out of your time in Kronplatz and are extremely keen for you to get to know the area. They host two guided walks a week, which is great way to discover hidden gems in the Dolomite landscape.</p>
<h2>Relaxing in the spa</h2>
<p>We love relaxing in the hotel's spa before dinner, the steam room is perfect for relaxing your muscles after you've been out and about. Wind down in one of the relaxation rooms with a hot cup of herbal tea from the tisana corner.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Wellness area with three saunas, steam room, kneipp bath, two relaxation rooms and a tisana corner</li>
<li>Two free guided walks run by the hotel</li>
<li>One hotel run e-bike excursion per week (bike hire is payable locally for approx. €45 per bike)</li>
<li>Bathrobes and spa towels included</li>
<li>Outdoor Terrace</li>
<li>Lounge and bar area</li>
<li>Free Wi-Fi</li>
<li>Parking garage</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "d5d261ff-24e2-4881-a7a1-6bca96574c80",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"777cc303-7565-4d6b-b3df-62f240c7e539\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Monte Paraccia's in a fantastic location for walking out the door in the morning and heading straight into the mountains. There are some woodland areas nearby and you're not far from the Piz de Plaies gondola, which will take you to some stunning Dolomite viewpoints.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/d2a48f6e655f4d76ae1bb71ac3e860d9]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 2 hours 30 mins from Innsbruck, 3 hours 45 mins from Venice, 3 hours 15 mins from Verona</li>
<li>600 metres to Kronplatz town centre</li>
<li>700 metres to the Piz de Plaies gondola (open from the end of June)</li>
<li>20 metres to the bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday to the Hotel Monte Paraccia with Inghams today. You'll be in a fantastic location for getting straight out onto some wooded walking trails.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Monte Paraccia | Holidays in Kronplatz | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>20</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Monte Paraccia]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITKR0107]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin Rooms </strong>are around 25<span>m²</span> and sleep two people.</p>
<p><strong>Superior Twin Rooms </strong>are around 35<span>m²</span> and sleep up to four people (extra bed is a sofa bed or two twin beds).</p>
<p><strong>Suites </strong>are around 45<span>m²</span> and sleep up to four people (extra bed is a double sofa bed). These rooms have a double bedroom and a separate lounge area with a large shared bathroom. </p>
<p><strong>Single Rooms </strong>are also available and are around 17<span>m²</span>.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Balcony</li>
<li>TV</li>
<li>Shower</li>
<li>Hairdryer</li>
<li>Safe</li>
</ul>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €3.20 per person per night is payable locally (applies to guests aged 14 years and above)</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any special dietary requirements at the time of booking.</p>
<p>This hotel is not suitable for guests with severe allergies. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1879185]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>