<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="e8557eec-82d9-47e8-9e7a-a9047035cce1" id="22146" nodeName="Hotel Mignon" isDoc="" updated="2024-12-11T17:29:42.5330000Z" parentGUID="4c9fc092-41f1-4e3c-80ac-b89b5c9226dd" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Please note, the hotel is located on a slight hill. </p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "9ac510c4-ddcd-4b62-93d4-fccc307f7836",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 25 (book by 31 Jan 25)",
    "addedValueStart": "2023-10-01T12:52:13",
    "addedValueEnd": "2025-01-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "14e1b391-d82e-4f56-a024-5997abe2c594",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Anniversary Offer: free bottle of sparkling wine",
    "addedValueStart": "2022-09-05T13:42:19",
    "addedValueEnd": "2025-09-30T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/755c25b94c164fbdb3e7edd6d3ae365e,umb://media/72492f7656274cf2a4011d991fc20a00,umb://media/49e7a2a2536b44e48d93adafca437755,umb://media/4ece9191e49d46febc2f66347b01d9bf,umb://media/5338df745b4249658169333b6945016a,umb://media/35a3b98008ec4088a69cec8c37299928,umb://media/fc1c0ccd295a4c8f827d991f5369f821,umb://media/f6eff53783e24368b23ee3cf54526e17,umb://media/8b41e66aa2fe4798853af7671b85bf1c,umb://media/d24461ee6d7b4608a27eb4aed4c105b7,umb://media/9a5d5c9ab61f4672a7ff9bbe55f877e4,umb://media/136887bd13c3450e930ee3a3c7aac77a,umb://media/c7b336b654f342b1ba594d03edc8e8bf,umb://media/5719fca3acc64007b9e98adb9bee10bd,umb://media/8be1ad065b384f2ba420903cc49075fc,umb://media/fd149246e8c94e5fba79e11327e00c48,umb://media/06034e4c5819496686123aa0c09e2d71,umb://media/f0f2c4ada94b4fa68573bb280c2dd9f8,umb://media/00e21e4655154938a7bf145d88498b71]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The dining room is open for breakfast and dinner and has a lovely menu that showcases the region’s delicious cuisine. The hotel uses locally-sourced products and meals are complemented with some lovely wines. Breakfast is served buffet style with a choice of hot and cold options and for dinner you'll have a choice of four-courses including a salad and vegetable buffet. Once a week there's a Tyrolean themed Gala dinner.</p>
<p>The hotel requests that no shorts or flip-flops be worn at dinner, the dress code is smart-casual.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Hotel Mignon's on a hillside in the pedestrianised centre of <a data-udi="umb://document/4c9fc09241f14e3c80acb89b5c9226dd" href="/{localLink:umb://document/4c9fc09241f14e3c80acb89b5c9226dd}" title="Selva">Selva</a>. The hotel's ideal location means exploring the town or venturing off into the mountains couldn't be easier. Selva has lots to offer and being a World Heritage Site, the views come as standard. Head into the mountains where there are walking routes for everyone to enjoy.</p>
<h2>Family run with local food &amp; drink</h2>
<p>Owners Giorgio and Enrica have paid great attention to detail to create a comfortable and stylish atmosphere at this hotel. The cosy dining room serves up traditional cuisine that uses locally sourced produce and the bar is the perfect place to relax while trying some of the fantastic wine labels from hotel's cellar. Each room has a balcony which means you can enjoy views of the town, valley or mountains from the comfort of your own room.</p>
<h2>Relax &amp; unwind in the mountains</h2>
<p>If relaxation is more on your mind, make sure you take advantage of the state-of-the-art spa where you’ll find a heated indoor pool and saunas. The hotel interiors are sophisticated and there are plenty of spots to unwind after a busy day exploring, including the garden where you can sit back and relax with a drink.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Val Gardena Active Programme partner accommodation</strong></p>
<p>Hotel Mignon is an affiliate of the <a rel="noopener" href="https://www.valgardena-active.com/en/summer" target="_blank">Val Gardena Active</a> programme so you can join free or discounted activities every day of the week (activities are bookable and payable locally).</p>
<p><strong>Hotel facilities</strong></p>
<ul>
<li>State-of-the-art spa and wellness area with heated indoor pool, sauna, steam bath, whirlpool, fitness room and a relaxation room</li>
<li>Massages, solarium &amp; beauty treatments (payable locally)</li>
<li>Spa and pool towels are provided</li>
<li>South-facing garden</li>
<li>Free Wi-Fi</li>
<li>Parking garage (payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "ec4caee2-c5c7-49bd-b5e5-70a4b1a1eac0",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"8e842fae-b8b3-41c0-9585-85c540be3925\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Hotel Mignon offers friendly hospitality and stylish interiors with comfortable guest rooms, a wonderful restaurant and state-of-the-art spa.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b4eed35890114e4999728e80faad8a7e]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time: approx. 3 hours by coach from Verona airport (please note, <span>transfers may take longer during peak summer months, particularly when arriving into Verona, late afternoon)</span></li>
<li>Central location in Selva</li>
<li>350 metres to the Ciampinoi gondola </li>
<li>100 metres to the nearest bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Mignon today with Inghams. A popular hotel with views over the valley and in the centre of Selva.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Mignon | Holidays in Selva | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>31</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Mignon]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/3e07fe007d264967aab8a0d7dd824619",
    "promotionBannerMobile": "umb://media/2edb510819744c1f821cef9d88ed161c",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Summer Sale\",\r\n    \"udi\": \"umb://document/b5d0cc549f6848f3abf28bad26a9f75e\"\r\n  }\r\n]",
    "promotionStartDate": "2018-12-26T00:00:00",
    "promotionEndDate": "2019-03-01T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[ITSV0120]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms </strong>are about 25<span>m² and sleep two people. They are decorated in either a contemporary style with hardwood floors, solid oak furniture and minimalist design, or in a traditional style with wooden beams, carpets and warm colours.</span></p>
<p><strong>Comfort Rooms</strong> are about 27m² and can sleep up to two people. </p>
<p><strong>Premium Rooms</strong> are about 35m² and sleep up to three people (extra bed is a single sofa bed). These rooms have high quality furnishings and views over the village.</p>
<p><strong>Superior Rooms</strong> are about 40m² and can sleep up to four people (extra bed is a double sofa bed). Each room is individually decorated with special touches such as traditional wood stoves and stylish wooden walls. </p>
<p><strong>Single Rooms</strong> are 20m² and are a great choice for solo travellers.</p>
<p><span><strong>Standard Rooms for Sole Use</strong> are available on request, please call to book. </span></p>
<p>Most rooms have twin beds, please pre-advise if you would prefer a double. </p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Balcony</li>
<li>Shower</li>
<li>Hairdryer</li>
<li>Bathrobes &amp; slippers</li>
<li>TV</li>
<li>Safe</li>
</ul>
<p>Cots are available on request for approx. €45 per day, payable locally. </p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €3.40 per person per day is payable locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[1827663]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>