<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="1aa61a2f-97f5-4ac7-89d1-6b0e0b01a95c" id="60854" nodeName="Where to see the lights" isDoc="" updated="2023-12-08T09:34:17.4900000Z" parentGUID="a0c9b207-560c-40c8-b8b1-df7a27f801ff" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="3" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>There is nothing quite as spectacular as the Northern Lights. We can help you catch a glimpse of this infamous light show in the sky.</p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/fed9c95745ed4372bd85e0f95a894a9d]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[The best viewing knowledge]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[lapland]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Where to see the Northern Lights",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/9a05a35cb8d34ed5816618ba9aef347a",
    "externalLink": "",
    "linkName": "Where to see the Northern Lights",
    "linkTitle": "Where to see the Northern Lights"
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>