<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="e32768ff-8a75-42a9-8a43-75a16f0a737c" id="24683" nodeName="Swiss Fly-Rail: Bags delayed by several days" isDoc="" updated="2018-12-03T13:08:38.5800000Z" parentGUID="875b2e28-78b1-4a17-a10f-6f63bc9d00b9" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="26" published="true" isBlueprint="false">
  <answer><![CDATA[<p>In the unlikely event your luggage does not arrive in resort by the advertised time, you can claim for expenses and claim under SBB terms and conditions. Please see your Inghams Representative who will keep in contact with the resort train station, airport train station and airport baggage handling agents to locate your bags.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Swiss Fly-Rail: Bags delayed by several days]]></question>
</fAQItem>