<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="63fdf14c-11cc-4e13-bb9c-80029763bf09" id="23133" nodeName="Fleischers Hotel" isDoc="" updated="2024-11-18T16:41:10.3300000Z" parentGUID="3bff04d1-8816-48b5-a616-3cdd11cfb562" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/21a64b7d59784e839138dd4e71297c20,umb://media/e22bef40728442f9926806abcb7dde22,umb://media/b86c0ffbddc04bd6bf111905ae082e1e,umb://media/454bfec236d448e9a252e590f5d86bfa,umb://media/bb005fa841ea4950880f4a7cb8bb6db4,umb://media/07864965f6a54586b17af19b8e7b04d2,umb://media/c166da4530394327ba705ed37aeaeab6,umb://media/1ee0ffa91c904414bf6d1711b86dd26e,umb://media/fe3dc0c5115b4aff839e0c98dd5e1742]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is a delicious buffet with cooked and continental options. Dinner is either a tasty buffet or a three-course set meal (type of service is dependent on the number of guests staying in the hotel)</p>
<p>Packed lunches can be arranged locally for an additional supplement. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Dating back to 1864, the Fleischer's Hotel looks like something out of a fairytale with its impressive architecture.</p>
<h2>Enjoy relaxing facilities</h2>
<p>Being in Voss, you’re not short on local activities or day trips but if you’re looking for some down time then the hotel has some great facilities. For some relaxation there’s a sauna and whirlpool or, if you’re looking to do some laps then head to the indoor swimming pool.</p>
<h2>Old-world charm</h2>
<p>The hotel offers a sense of grandeur with it’s impressive building, large dining and common areas as well as traditional décor. It’s a large property and in a great position, right by the train station so it’s easy to get out and about. It’s also just across from the lake so you can enjoy some great views, best enjoyed from the outdoor terrace.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Heated indoor swimming pool</li>
<li>Sauna</li>
<li>Whirlpool</li>
<li>Fitness area</li>
<li>Terrace</li>
<li>Bar</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "244c32da-e55e-4af9-86b9-f8a04d2a0d7f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"7c2ef9f5-10a8-46bf-9e41-29c5cb27849c\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Fleischers Hotel in Voss offers a fantastic lakeside location and is just across from the local train station. With its grand building and traditional décor as well as great facilities including and indoor swimming pool, it makes for a comfortable stay.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/21a64b7d59784e839138dd4e71297c20]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: Approx. 2.5 hours from Bergen airport by lightrail (tram) and train. From the airport, you journey to central Bergen by lightrail (tram), it is then approx. a 5 minute walk to Bergen station where you will get on the train to Voss.</li>
<li>Located in the centre of Voss</li>
<li>Next door to the train station</li>
<li>100 metres to the supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at the Fleischer’s Hotel today with Inghams this summer. Enjoy this grand historic building with a great, lakeside location.]]></metaDescription>
  <metaTitle><![CDATA[Fleischer’s Hotel | Holidays in Voss | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms>110</numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Fleischers Hotel]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOVO0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin Standard Railway Rooms</strong> sleep two people and are located in the Voss station building which is connected to the hotel via a walkway. </p>
<p><strong>Twin Standard Lake View Rooms</strong> sleep two to three people, with the extra bed being a single sofa bed. These rooms have views out to the lake. </p>
<p><strong>Single Railway Rooms</strong> are available on request, please call to book.</p>
<p><strong>Historic Wing Rooms</strong> sleep two to three people, with the extra bed being a single sofa bed. This rooms has views out to the lake. This room type is available on request, please call to book.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Bath or shower</li>
<li>TV</li>
<li>Hairdryer</li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>From autumn 2024 Norway may be introducing a tourist tax to pay locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[248499]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>