<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="eb8791f0-3747-4c8d-a722-271bfd6bb21e" id="23148" nodeName="Hotel les Balcons" isDoc="" updated="2024-09-12T15:47:31.3470000Z" parentGUID="c155a297-73fd-4761-8996-3f3b4e3b57e4" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Hotel les Balcons has accessible Classic Rooms available on request. Please give our Reservations team a call to book.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "6d18dcaa-63eb-4deb-af00-ea39aeb7df05",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 15 July 24)",
    "addedValueStart": "",
    "addedValueEnd": "2024-07-15T23:55:55",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/c33ff19047044bcfae4ca2ee2f908fa2,umb://media/78b86bee846b4ca5ad9909dabf03ddf0,umb://media/e5768d21cbc94f56a4e5265f2419d326,umb://media/a853b2155e4d4aac8275cc6b6e8b9f5f,umb://media/e9ff3336b3414aed9773db489ed9c773,umb://media/6c21873a92fd4668a0d64e02279e0f5c,umb://media/8d479a5277b84a6caf9cddeef15ed603,umb://media/03589b7e490a4b99a94b432408ab6ce2,umb://media/f39346ac5f244998a31494f695260fc2,umb://media/452abc97175b49e6a3ee1d8a2ded2356,umb://media/243051bcecbe47dab6fb66296da9c81c,umb://media/2cb4b2957044474dbe5771b99a077678,umb://media/a14b4a38b3184b89a6ac7d690c8f72c8,umb://media/40a4fea436e04c7a9e4dd5016266677d,umb://media/401232636e6547228d649174985413ea,umb://media/39c2013b2b044e9aa1d928b94fe0d83e,umb://media/351df1d5961541e1aa53250d4d8a5a5a]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel les Balcons is on a half board basis.</p>
<p>Each morning you can fuel up for a day on the slopes, and enjoy a varied continental breakfast buffet </p>
<p>When you return from a day on the mountains you can enjoy a three course evening meal. Please note that there are two sittings: 6:30pm or 8:30pm</p>
<p>Christmas and New Years gala dinners included</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Built in a traditional and rustic chalet style, the Hotel Les Balcons has convenient access to the slopes and lifts in Belle Plagne. The hotel has a great range of facilities including a spa and wellness area, bar and restaurants - there is even a whirlpool-bath in each hotel bathroom for perfect relaxation after a day on the slopes.</p>
<h2>Central location</h2>
<p>This hotel has a great as location, it is less than 100 metres to the resort centre, where you can find plenty of shops, bars and restaurants. Located only a short walk away from ski lifts and slopes you have great access to the Paradiski Ski Area which includes <a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs">Les Arcs</a> and Peisey Vallandry. </p>
<h2>Food and drink</h2>
<p>You can enjoy half board meals at the Les Balcons with local products of the Savoie used. Each morning you can fuel up for the day at the varied breakfast buffet and return to a three course evening meal where the menu is often influenced by the regions flavours. </p>
<h2>Unwind and relax</h2>
<p>After a day of exploring the slopes of the <a data-udi="umb://document/37e8bc9846b74cf1a001f969874ce05b" href="/{localLink:umb://document/37e8bc9846b74cf1a001f969874ce05b}" title="Paradiski Ski Area">Paradiski</a>, the hotel offers multiple leisure facilities to choose from. Have a dip in the heated indoor pool, soothe any achy ski legs in the whirlpool, or unwind in the steam room, sauna or solarium. For the more active guests, there is a fitness room with a range of equipment.  Massages and treatments are available for a local fee. There is also a lovely lounge and bar with a fireplace, it is the perfect spot to catch up with friends and family over a glass of wine.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Access to spa facilities including indoor heated swimming pool, whirlpool, steam room and sauna (<strong>Free </strong>- Open between 10am-12pm, and 3pm-8pm. Located 50 metres away at the Residences Les Balcons de Belle Plagne)</li>
<li>Fitness Room</li>
<li>Massage and beauty treatments (book and pay locally)</li>
<li>Bar and lounge area</li>
<li>Free Wi-Fi</li>
<li>Restaurant</li>
<li>Indoor covered car parking (approx €77 per week. Pay locally)</li>
<li>Ski lockers </li>
</ul>
<p><strong>Family Facilities</strong></p>
<ul>
<li>Babysitting services are available (book and pay locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "0f2561f7-ce5d-4aac-aaab-d2aea26ed8d9",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"93ec1c2d-2a40-459a-80bc-42972316be1c\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>6</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.507148]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Built in a traditional and rustic chalet style, this half board hotel offers genuine ski-in/ski-out convenience and a comfortable base for your stay in Belle Plagne with excellent leisure facilities, restaurants and bars and an on-site mini supermarket.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/559bc29785774df2a26d54f5de9fa906]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Resort tax €2.75 per person, per day (under 18s <strong>Free</strong> of charge) paid locally</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Ski hire shop situated in residence next door to the hotel</li>
<li>100 meters to the resort center</li>
<li>50 meters to the ski lifts</li>
<li>100 meters to the nursery slopes and ski school meeting point </li>
</ul>
<p> </p>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.676315]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[41 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel les Balcons in Belle Plagne offers genuine ski-in/ski-out convenience and a comfortable base for your stay. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel les Balcons La Plagne | La Plagne Paradiski, France | Book now with Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>41</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel les Balcons (Belle Plagne)]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRLA0105]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in time 5pm</li>
<li>Check out time 10am </li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Bedrooms</strong> around around 21m² sleeping two people. These rooms are also available for sole occupancy on request, pease give our Reservations team a call to book.</p>
<p><strong>Family Rooms</strong> are around 26m² sleeping three to four people. Family rooms have a double bed and bunk beds, suitable for children. These rooms are on request, please call our Reservations team to book.</p>
<p>Interconnecting Classic Rooms are available on request, subject to availability.</p>
<p><strong>Bedroom facilities</strong></p>
<ul>
<li>Twin or double beds, please specify your preference when booking</li>
<li>Most rooms have a balcony with mountain views</li>
<li>Satellite TV</li>
<li>Telephone</li>
<li>Wi-Fi</li>
<li>Mini fridge</li>
<li>Bathroom with bathtub and WC</li>
<li>Hairdryers are available on request</li>
<li>Baby cots are available (on request, for a supplement)</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel les Balcons can cater for special dietary requirements (vegetarian, gluten free and dairy free) on request. Please inform us of any special dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1191653]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>