<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="6a7527e4-5b42-45b7-8497-8ff84bf83994" id="42876" nodeName="Chalet Aiglon" isDoc="" updated="2024-05-30T14:52:24.8430000Z" parentGUID="204ce8e4-cf8c-4ab0-9205-501e16cb7565" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="40" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[8,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast><![CDATA[<ul>
<li>Buffet</li>
<li>Served from 8 am</li>
</ul>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/303b01e304444162aeec1656565d0225,umb://media/836669bb07284e01ae0f1944178f8bae,umb://media/4f9eebd07cc9449ba671f50f1c8266ac]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Continental buffet breakfast for 7 mornings with hot option provided on 6 mornings per week†</li>
<li>Afternoon tea and coffee with cake on 6 days†</li>
<li>3 course evening set menu served 6 days, including pre-dinner glass of prosecco with a choice of complimentary wine &amp; tea/coffee†</li>
<li>Special celebration menus on Christmas Day &amp; New Year's Eve</li>
</ul>
<p>†(Breakfast hot option, afternoon tea &amp; dinner is 6 days per week due to chalet staff's day off)</p>
<p><strong>More information about <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalet">Chalet cuisine</a> catering</strong></p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>We're proud to say that the Chalet Aiglon is one of our properties run by our sister company Ski Total. Offering an authentic chalet experience in the Alps and with Sunday flying, we’re able to give you a greater choice and quality of chalets in <a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes">Tignes</a>.</strong></p>
<p>Situated in the same building as the Chalet Chamois, the Chalet Aiglon is a high quality chalet located a short distance from the centre of Tignes (5 minutes' walk). The Chalet's four bedrooms all have en suite facilities and access to the balcony. </p>
<p><span>The attractive open plan living and dining area is comfortable and furnished in a contemporary style with large windows, and a sun terrace opening off them, allowing guests to make the most of the incredible mountain views.</span></p>
<p>Relax after a day on the slopes with a glass of wine with friends in the comfortable lounge area or alternatively spend some time in the chalet's sauna. </p>
<p>Only 3 minutes' walk away from the slopes and ski lifts, guests can enjoy quick and easy access onto the <a data-udi="umb://document/3f107aa9435442a892636b72e6e40b03" href="/{localLink:umb://document/3f107aa9435442a892636b72e6e40b03}" title="Tignes-Val d’Isere Ski Area">Tignes-Val d'Isere Ski Area</a>.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<ul>
<li>3 Course evening set menu</li>
<li>Served from 7.30 pm</li>
</ul>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<ul>
<li>Informal</li>
</ul>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Sun terrace</li>
<li>Mountain views</li>
<li>Bus stop outside</li>
<li>Private sauna</li>
<li>Spa treatments available (book and pay locally)</li>
<li>All rooms have en suite shower facilities</li>
<li>Short distance to slopes and ski lifts (3 minutes')</li>
<li>Lounge</li>
<li>TV / entertainment area</li>
<li>Heated ski and boot room with lockers</li>
<li>Close to resort centre </li>
<li><strong>Free</strong> WiFi </li>
<li>Clothes washing and drying facilities</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/74523406ccc44767839256039fdf94d3,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/c0e11185f51f4f4cb5a972b8e46cac58]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>1</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>1</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>We're proud to say that the Chalet Aiglon is one of our properties run by our sister company Ski Total. Offering an authentic chalet experience in the Alps and with Sunday flying, we’re able to give you a greater choice and quality of chalets in <a data-udi="umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5" href="/{localLink:umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5}" title="France">France</a>. The chalet is a high quality residence with a large balcony for guests to enjoy the picturesque mountain views across Tignes.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/7d2a9b5fff0f483996ee59be5b9ee7f6]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p>300m to the ski lifts and pistes </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch><![CDATA[<ul>
<li>Afternoon Tea</li>
<li>Served from 4 pm</li>
</ul>]]></lunch>
  <maxPeopleSleepingText><![CDATA[Sleeps 8]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Aiglon is a high quality property, situated only a short distance away from the ski lifts, slopes and the centre of Tignes.]]></metaDescription>
  <metaTitle><![CDATA[Chalet Aiglon, Tignes - France Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>4</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>8</p>]]></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/069bd23f20c44b8a9a04f5433fefeb1e",
    "promotionBannerMobile": "umb://media/c3b306e7b57146f38484d782ae812222",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Chalets\",\r\n    \"udi\": \"umb://document/1839b76c30ed4fa08d4b2056caa1b257\"\r\n  }\r\n]",
    "promotionStartDate": "2019-11-26T00:00:00",
    "promotionEndDate": "2020-12-30T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[FRTI0142]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation Summary</strong></p>
<p><strong>Ground Floor</strong></p>
<ul>
<li>Main entrance</li>
<li>Heated ski and boot room with lockers</li>
</ul>
<p> </p>
<p><img style="width: 680px; height: 510px;" src="/media/13080938/aiglon-ground-floor-for-web.jpg" alt="Chalet Aiglon Ground Floor Plan" data-udi="umb://media/a9c7539057a04fa1bd309d5c29f73f64" /></p>
<p> </p>
<p><strong>First Floor</strong></p>
<ul>
<li>Chalet entrance</li>
<li>Kitchen, living and dining room</li>
<li>Sun terrace with mountain views</li>
<li>Sauna</li>
<li>Shower</li>
</ul>
<p>Room 1 - Twin beds, shower, WC and balcony</p>
<p>Room 2 - Twin beds, shower, WC and balcony </p>
<p>Room 3 - Twin beds, shower, WC and balcony</p>
<p>Room 4 - Twin beds, shower, WC and balcony</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1769280]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/204ce8e4cf8c4ab09205501e16cb7565]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>