<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="17d0d3d9-2747-49f2-9e96-b322574b1236" id="23868" nodeName="Glacier Express" isDoc="" updated="2021-12-30T10:57:30.8470000Z" parentGUID="80b066a1-3357-4701-aa72-6feb0c2834b6" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="1" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12"><img src="/media/13066973/switzerland_glacier-express-tour.jpg" alt="Swiss Glacier Express tour" rel="879,452" /></div>
<div> </div>
<div class="g12">
<div class="white_box_shadow">
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">For more information or to book our Twin Centre Holidays &amp; Tours please call 01483 79 11 11</td>
</tr>
</tbody>
</table>
<p>Combining stays in three contrasting areas of Switzerland, this 3 centre independent rail holiday gives you a fantastic overview of Switzerland’s varied scenery and also includes a journey on one of the most famous train lines in the world – the dramatic ‘Glacier Express’. Passing icy glaciers, snow-dusted peaks, rushing rivers and rural hamlets, the journey from Zermatt to Davos/Klosters is an unforgettable holiday experience. You can sit back, relax and admire the spectacular scenery - The panoramic carriages ensure you do not miss a thing! On board, you can choose to have lunch (must be requested at the time of booking) or plan your own picnic. A minibar service for drinks and snacks is also available on the train. Your Inghams Representatives are on hand in each resort to help you make the most of your stay.</p>
</div>
</div>
</div>
<div> </div>
<div class="white_box_shadow">
<h2>Itinerary</h2>
<p><strong>DAY 1 (Wednesdays or Saturdays)</strong><br />Arrive on your chosen flight into Switzerland and take the scenic rail transfer from the airport to Interlaken (approx. 2 ½ hours from Zurich or approx. 3 hours from Geneva). Check into your hotel and meet your Inghams Representative.</p>
<p><strong>DAY 2 (Thursday or Sunday)<br /></strong>Interlaken sets you up for many options of adventure and sightseeing as you’re based in the heart of the Bernese Oberland with its impressive snow-capped mountains as a stage backdrop for your stay. Take an optional boat cruise on Lakes Thun or Brienz and visit the nearby Giessbach waterfalls and historic Thun with its striking castle featuring 900 years of history and permanent exhibition showcasing centuries-old town development.</p>
<p><strong>DAY 3 (Friday or Monday)<br /></strong>Today head into the mountains of the Jungfrau massif and experience this spectacular landscape. Home to the Jungfraujoch with unique views of the Mittelland up to the Vosges and across to the UNESCO Aletsch glacier, the longest in the Alps at 23km. There will be a time in the afternoon to enjoy an optional visit to the pretty mountain village Mürren and journey up the Allmendhubel funicular and enjoy a gentle stroll back to the village past scenic meadows before travelling by train back to Interlaken.</p>
<p><strong>DAY 4 (Saturday or Tuesday)<br /></strong>Guests staying 10 nights travel to Zermatt (approx. 2 ½ hours) otherwise continue your stay for one extra night in Interlaken. Staying local today take a journey up the Harder Kulm to experience the best views of Interlaken and step on the ‘Two-lake Footbridge’ inaugurated in October 2011, with panoramic views of the Eiger, Mönch and Jungfrau as well as Lakes Thun and Brienz</p>
<p><strong>DAY 5 (Sunday or Wednesday)<br /></strong>Guests staying 11 nights travel to Zermatt for their three-night stay. Zermatt’s hiking area is opened up by the 21 mountain lifts and choose from hundreds of route options, the Peak Pass (3 days from £113) gives access to all and opens up this vast walking area above this world-famous village. There is plenty to see and a must trip is a journey on the Gornergrat railway – you will be amazed by the stunning views of the glaciers and the Matterhorn. Back in the village, treat yourself to a delicious hot chocolate or cream cake in one of the many charming cafés along the main street.</p>
<p><strong>DAY 6 (Monday or Thursday)<br /></strong>Staying local today, perhaps take a ramble along the Matterhorn trail which starts at Schwarzsee and goes through meadows down to Staffelalp a sheep rearing farming hamlet through the shaded woods down to the Grand Dixence Dam which is a stunning sight with its turquoise waters. Catch the gondola down from Furi and spend the afternoon at Zermatt’s museum, known for its insight into the first ascent of the Matterhorn.</p>
<p><strong>DAY 7 (Tuesday or Friday)<br /></strong>Join our optional full day excursion to visit Saas-Fee (Fridays) and its quaint car-free village with various walking trails that start at resort level. Alternatively, stay local in Zermatt and take an optional journey up the Matterhorn Glacier Paradise for breath-taking views from the observation platform.</p>
<p><strong>DAY 8 (Wednesday or Saturday)<br /></strong>The crowning highlight of your holiday, a full day excursion on board the famous ‘Glacier Express’ train for your journey to either Davos or Klosters for a 3 or 4-night stay (approx. 8 hours, change of train required). This journey on the ‘slowest express train in the world’ takes you past glaciers, over bridges and viaducts, and through unspoilt mountain forests to the charming canton of Graubünden.</p>
<p><strong>DAY 9 (Thursday or Sunday)<br /></strong>Spend the morning relaxing in the hotel’s spa and explore the village. Switzerland is famous for its chocolate and this afternoon learn about the manufacturing process of Schneider’s chocolate with a guided tour through the Confiserie Schneider and produce your own chocolate bar (day of operation subject to change). Alternatively, visit Schatzalp's own Alpine garden and follow the trail back to resort.</p>
<p><strong>DAY 10 (Friday or Monday)<br /></strong>Full day trip to Schlappin valley surrounded by meadows with a traditional mountain hut Berghaus Erika set within the small hamlet boasting the best views of the valley from its terrace. Take a stroll beside the stream and spot Alpine flowers in the most peaceful of surroundings.</p>
<p><strong>DAY 11 (Saturday or Tuesday)<br /></strong>Guests staying 10 nights depart to Zurich airport (approx. 2 ½ hours) for your flight home. Guests staying 11 nights can enjoy a guided tour of Davos including the Town Hall and church of St. Johann. Otherwise visit Zügenschlucht Gorge - once the route taken by coaches travelling to Davos, now home to impressive waterfalls and the Graubünden Mining Museum (day of operation subject to change).</p>
<p><strong>DAY 12 (Sunday or Wednesday)<br /></strong> Guests staying 11 nights transfer to Zurich airport (approx. 2 ½ hours) for your flight home.</p>
</div>
<div> </div>
<div class="white_box_shadow">
<h2><img src="/media/13048905/inghams_plus.png" alt="Inghams Plus" rel="200,33" /></h2>
<p><strong>FREE</strong> Glacier Express souvenir strap N.B. provided upon arrival in Zermatt, one per booking <br /><strong>EARLY BOOKING OFFER SAVE</strong> up to £200 per couple (ends 31 Dec)* This discount has automatically been included in the price shown.<br />* Based on 4-star holiday.</p>
<h2>What’s included</h2>
<p><strong>• Discount Travel Card - worth £100</strong><br /><strong> • Scheduled return flights from the UK to Switzerland</strong><br /><strong> • 2nd class rail transfers within Switzerland (some change of trains required, 1st class upgrade possible)</strong><br /><strong> • Services of Inghams Representatives in each resort</strong><br /><strong> • Full day excursion on the famous Glacier Express train</strong><br /><strong> • Accommodation with breakfast and dinner daily. All rooms with private facilities</strong><br /><strong> • Walking opportunities in Davos or Klosters with unlimited use of the lifts and buses</strong></p>
<p>Please note: This is an independent rail holiday and guests are free to choose their own itinerary in each resort. The above is only a suggested itinerary and excursions marked ‘optional’ are not included in the price of your holiday. An Inghams Representative is based in each resort and will provide advice and offer optional excursions and walking passes.</p>
<h2>OPTIONAL UPGRADES</h2>
<p>• <strong>Upgrade to 1st class</strong> on all four of your scenic rail transfers within Switzerland for just £72 (pre-bookable)<br />• <strong>Enjoy lunch on the Glacier Express</strong> with a simple 3 course set menu (approx. Sfr43, payable locally, please request at time of booking)<br />NB. Places are limited and cannot be guaranteed. Special diets, including vegetarian, cannot be catered for.</p>
</div>
<div> </div>
<div class="g6">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<h2>Accommodation</h2>
<p>Interlaken <a data-udi="umb://document/2dfd55e7bef34499b5605cb47148d0c9" href="/{localLink:umb://document/2dfd55e7bef34499b5605cb47148d0c9}" title="Hotel Oberland">City Oberland</a> ***<br />Zermatt <a data-udi="umb://document/b20ac1e5b1d5486daa562a99e8870f50" href="/{localLink:umb://document/b20ac1e5b1d5486daa562a99e8870f50}" title="Hotel Perren">Perren</a> ***+<br />Klosters <a data-udi="umb://document/7b417118fea44c10adfbc86459d48d31" href="/{localLink:umb://document/7b417118fea44c10adfbc86459d48d31}" title="Hotel Sport">Sport</a> *** or</p>
<p><br />Interlaken <a data-udi="umb://document/8a732f156c174b128f8f1da58ac0b10c" href="/{localLink:umb://document/8a732f156c174b128f8f1da58ac0b10c}" title="Hotel Metropole">Metropole</a> ****<br />Zermatt <a data-udi="umb://document/7b472ab866b14527be25caad79fb5068" href="/{localLink:umb://document/7b472ab866b14527be25caad79fb5068}" title="Hotel Mirabeau">Mirabeau</a> ****+<br />Davos <a data-udi="umb://document/67ba36a931fc4fac83b977d22cb30b13" href="/{localLink:umb://document/67ba36a931fc4fac83b977d22cb30b13}" title="Hotel Seehof">Seehof</a> *****</p>
<p><strong>10 night holiday</strong><br />3 nights in Interlaken <br />4 nights in Zermatt<br />3 nights in Klosters or Davos<br /><strong>11 night holiday</strong><br />4 nights in Interlaken<br />3 nights in Zermatt<br />4 nights in Klosters or Davos</p>
</div>
</div>
</div>
<div class="g6">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th colspan="3">Transfers</th>
</tr>
<tr>
<td colspan="3" align="center"><strong>To INTERLAKEN</strong><br /><span>from ZURICH: 2½ hrs by rail</span><br /><span>from GENEVA: 3 hrs by rail</span><br /><span></span></td>
</tr>
<tr>
<th colspan="3" align="center">Flights</th>
</tr>
<tr>
<td colspan="1" align="center">
<p>Gatwick<br />Heathrow<br />London City</p>
</td>
<td colspan="1" align="center">
<p>Luton<br />Birmingham<br />Manchester</p>
</td>
<td colspan="1" align="center">
<p><span>Liverpool</span><br />Edinburgh<br />Bristol*</p>
</td>
</tr>
<tr>
<th colspan="3" align="center">Rail from the UK</th>
</tr>
<tr>
<td colspan="3" align="center">Travel from St Pancras, Ashford or Ebbsfleet</td>
</tr>
</tbody>
</table>
<p>* KLM flights via Amsterdam to Zurich from Aberdeen, Bristol, Cardiff, Glasgow, Humberside, Leeds-Bradford, Newcastle, Norwich, Teesside</p>
</div>
</div>
</div>
<div> </div>
<div class="g12">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th scope="col">Prices per person from (£)</th>
<th colspan="4" scope="col">GLORIOUS GLACIER EXPRESS</th>
</tr>
<tr>
<td> <strong class="location-text geolocation-title">2019</strong></td>
<td colspan="2" align="center">Interlaken/Zermatt/Klosters</td>
<td colspan="2" align="center">Interlaken/Zermatt/Davos</td>
</tr>
<tr>
<td> </td>
<td colspan="2" align="center">3 Star Hotels</td>
<td colspan="2" align="center">4 Star Hotels</td>
</tr>
<tr>
<td>Holiday Code</td>
<td align="center">CHXX3010</td>
<td align="center">CHXX3011</td>
<td align="center">CHXX3012</td>
<td align="center">CHXX3013</td>
</tr>
<tr>
<td>Depart</td>
<td colspan="2" align="center">Half Board</td>
<td colspan="2" align="center">Half Board</td>
</tr>
<tr>
<td>No. of nights</td>
<td align="center">10</td>
<td align="center">11</td>
<td align="center">10</td>
<td align="center">11</td>
</tr>
<tr>
<td>Departures</td>
<td align="center">Wednesday</td>
<td align="center">Saturday</td>
<td align="center">Wednesday</td>
<td align="center">Saturday</td>
</tr>
<tr>
<td>
<p>Jun</p>
<p>Jul</p>
<p>Aug</p>
<p>Sep</p>
</td>
<td align="center">
<p>£1,329</p>
<p>£1,339</p>
<p>£1,289</p>
<p>£1,299</p>
</td>
<td align="center">
<p>£1,399</p>
<p>£1,419</p>
<p>£1,359</p>
<p>£1,369</p>
</td>
<td align="center">
<p>£1,499</p>
<p>£1,559</p>
<p>£1,529</p>
<p>£1,539</p>
</td>
<td align="center">
<p>£1,599</p>
<p>£1,679</p>
<p>£1,639</p>
<p>£1,629</p>
</td>
</tr>
<tr>
<td>Supplements per person per holiday from</td>
<td colspan="2">
<p style="font-size: 80%;">PB or PS WC incl.</p>
<p style="font-size: 80%;">PB (Interlaken); Balc SF (Zermatt) 10nts <strong>£40</strong> 11nts <strong>£22</strong></p>
<p style="font-size: 80%;">Sgl PB or PS WC 10nts<strong> £120</strong> 11nts <strong>£132</strong></p>
</td>
<td colspan="2">
<p style="font-size: 80%;">PB or PS WC incl.</p>
<p style="font-size: 80%;">Deluxe (Interlaken), Balc Matterhorn View (Zermatt); Executive Room (Davos) 10nts <strong>£140 </strong>11nts <strong>£176</strong></p>
<p style="font-size: 80%;">Sgl PB or PS WC 10nts <strong>£80</strong> 11nt <strong>£110</strong></p>
</td>
</tr>
<tr>
<td colspan="5">
<p style="font-size: 80%;">Sgl=Single, PB=Bath, PS=Shower, Balc=Balcony, incl=included</p>
</td>
</tr>
<tr>
<td colspan="5">
<p style="font-size: 80%;">Prices include flights, resort transfers, accommodation and services of Inghams Rep. Prices and supplements are correct at time of going to print but may vary up or down; correct prices will be advised at the time of booking.</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div> </div>
<div class="white_box_shadow">
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">To book the Glacier Express Tour, please call our reservations team on 01483 79 11 11</td>
</tr>
</tbody>
</table>
<p><strong>General Terms and Conditions:</strong> All prices, offers and availability are correct at time of publishing, are subject to change &amp; availability and can be withdrawn at any time. All offers are for 7 nights unless otherwise stated. All prices are per person based on maximum occupancy of a room or apartment and on the lowest priced departure point, supplements for other flights/airports may apply. </p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/04c9e86c18f042f1832f37efeaeefcad]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Join our Glorious Glacier Express Tour for an unforgettable Swiss lakes holiday! View the full itinerary and departure dates here. Call 01483 79 11 11 to book.]]></metaDescription>
  <metaTitle><![CDATA[Switzerland Tours Summer 2019 - Glacier Express Tour | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Combining stays in three contrasting areas of Switzerland, this 3 centre independent rail holiday gives you a fantastic overview of Switzerland’s varied scenery and also includes a journey on one of the most famous train lines in the world – the dramatic ‘Glacier Express’.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/97b4e48bbdf1418484786e6e7207676a]]></thumbnail>
  <title><![CDATA[Glorious Glacier Express]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ae29f8328e454cb08ae9ecf28f7078f4]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>