<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="08298c58-e8f4-41c1-95b7-94cd215e39d6" id="24881" nodeName="Chalet Bichler" isDoc="" updated="2024-03-25T15:45:56.8930000Z" parentGUID="4fb215d0-c5bf-48a0-9eae-325fb09985f3" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="5" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<p><strong><img src="/media/3386949/wine_33x44.jpg" alt="" width="33" height="44" align="absmiddle" />"Free wine included worth over €100".</strong></p>
<ul>
<li>Skiers' Breakfast is included 7 days per week†</li>
<li>Afternoon tea and coffee and freshly baked cake†</li>
<li>4-course dinners, including pre-dinner apèritif, choice of complimentary wines with dinner followed by tea/coffee &amp; chocolates†</li>
<li>Special celebratory dinners on Christmas Day and New Year's Eve</li>
<li>For more info on Chalet cuisine <a href="/{localLink:a48c84d8-fa41-41ec-b220-11067ce4f415}" title="Chalet">click here</a></li>
</ul>
<p>†Breakfast hot option, afternoon tea and dinner is 6 days per week, due to chalet staff's day off.</p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>Sleeps: 11-15 guests.</strong></p>
<p>The Bichler is a charming Austrian chalet with a warm and welcoming atmosphere, ideally situated in a quiet location with lovely mountain views and conveniently close to Söll’s lively village centre.</p>
<p>It offers cheerful, traditionally styled accommodation throughout and facilities include a dining room, comfortable lounge and ski &amp; boot storage. The ski bus stops just 50m away.</p>
<p><em> </em></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal.</p>]]></dressCode>
  <facilities><![CDATA[umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Attractive, traditionally furnished chalet</li>
<li>All bedrooms with private or ensuite shower/wc, many with balcony</li>
<li>Village centre approximately 800m</li>
<li><strong>Free </strong>Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>See <a href="https://www.inghams.co.uk/ski-holidays/accommodation-options/chalet-hotel/#children-in-chalets">here</a> for more information on<strong> "Children in Chalets" </strong></li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>1</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>The Bichler is a charming Austrian chalet with a warm and welcoming atmosphere, ideally situated in a quiet location with lovely mountain views and conveniently close to Söll’s lively village centre.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/4f8055fae8a84330b05a215c1617cb03]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Bichler, Soll in the Ski Welt Ski Area, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Chalet Bichler Soll, Ski Welt Area Austria Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<p>8 minutes' walk to nearest restaurant.</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>6</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>Sleeps: 11-15 guests</p>]]></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATSO0108]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation Summary</strong></p>
<p><strong>Basement</strong><br />Boot room and ski storage.</p>
<p><strong>Ground Floor</strong><br />Dining room, lounge.<br /><strong>Room 0:</strong> Apartment with Austrian twin* and bunk beds. Private shower/wc adjacent.</p>
<p><strong>First Floor</strong><br /><strong>Rooms 1 &amp; 2:</strong> Austrian twin* with single sofa bed, shower/wc/balcony.<br /><strong>Room 3:</strong> Austrian twin* with shower/wc/balcony.<br /><strong>Room 4:</strong> Austrian twin* with shower/wc/balcony.<br /><strong>Room 5:</strong> Single room, private shower and wc adjacent.</p>
<p>*In certain locations, a twin is commonly accepted as referring to two separate mattresses and duvets contained in one large frame. Most hotels have rooms that will take an extra bed if required. These extra beds may be bunk beds, fold-away beds or sofa beds, but the suitability of these beds may depend on each individual. Where an extra bed is added this may limit the space available. Rooms with extra beds are still bookable for two person occupancy although, in this case, the hotelier may allocate a standard-sized twin bedded room without extra beds. Single rooms do not always match up either in size or facilities to twin bedded rooms, even when a supplement is paid.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Ski bus stop 50m</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/4fb215d0c5bf48a09eae325fb09985f3]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>