<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="c4b3ccd1-56a0-4fee-be97-37ec15b2ccd9" id="56425" nodeName="Baggage Allowance Additional Baggage" isDoc="" updated="2022-10-26T12:32:04.6930000Z" parentGUID="c38f1dc8-bb1e-4a20-986a-f7ee6215dcf8" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="8" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>In all cases, you will need to contact the airline directly to add on any additional items, except in the instance of ski carriage.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[I need to carry additional baggage with me, what do I need to do?]]></question>
</fAQItem>