<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="5625f8dc-2a21-43d3-97d5-86791e7669b5" id="26405" nodeName="Chalet Charon" isDoc="" updated="2024-06-24T10:27:53.5530000Z" parentGUID="eb8a4e06-5fbc-4a0f-a6a0-e0e273886855" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="17" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes><![CDATA[<p>N/A</p>]]></annexes>
  <bedroomFacilities><![CDATA[0]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/5b746e189a384f6088806c851f0a619f,umb://media/0db4491686eb4483841ac8c359a112e1,umb://media/c2e2dc7889d04cf4af3ffd9b7e90b9fb,umb://media/c426811af8d74300816f43605ebc8a48,umb://media/e5c94b499f39467dae52df30dc512e66,umb://media/86610d7276074b91a557477bd9e13337,umb://media/f6c8465cc97a4f17af3854e922066ab6]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Continental buffet breakfast for 7 mornings with the hot option provided on 5 mornings per week†</li>
<li>Afternoon tea and coffee with cake on 5 days†</li>
<li>3-course evening set menu served 5 days, including a pre-dinner glass of prosecco with a choice of complimentary wine &amp; tea/coffee†</li>
<li>Special celebration menus on Christmas Day &amp; New Year's Eve</li>
</ul>
<p>†(Breakfast hot option, afternoon tea &amp; dinner is 5 days per week due to chalet staff's days off)</p>
<p><strong>More information about <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalet">Chalet cuisine</a> catering</strong></p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>The Mountainstar chalets were built exclusively for our guests in 2010.</p>
<p>The emphasis is on style, comfort and attention to detail and the chalet Charon is proving to be one of our most popular in St Anton.</p>
<p>The location is on an elevated area close to the Nasserein gondola offering quick access to the skiing in the mornings and fine views of the valley from many of the rooms.</p>
<p>The chalet has its own wellness area with ‘4 person jacuzzi style bath’, sauna, relaxation and shower/wc, perfect for relaxing those aching muscles at the end of the day.</p>
<p>The open plan lounge/dining area in the chalet has a fireplace, flat screen TV/DVD and a terrace. The ski and boot room is on the lower ground floor and shared with the Larissa, Thebe and Janus chalets.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes>400</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>300</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul class="column-list">
<li class="even">Wellness area with luxury spa bath and sauna</li>
<li>Spacious lounge and dining-room with log fireplace &amp; TV/DVD and terrace</li>
<li class="even"><span>Ski and boot room is on the lower ground floor and shared with the Larissa, Thebe and Janus chalets.</span></li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul class="column-list">
<li>Chalet built to our specifications</li>
<li class="even">3 minutes' walk (300m) to the main Nasserein gondola</li>
<li>Approx. 10 minutes' walk to the centre of St Anton</li>
<li class="even">Wellness area with luxury spa bath and sauna</li>
<li>Spacious lounge and dining-room with log fireplace &amp; TV and terrace</li>
<li class="even">Chalet catering with wine included</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Mountainstar chalets were built exclusively for our guests in 2010. The emphasis is on style, comfort and attention to detail and the chalet Charon is proving to be one of our most popular in St Anton. The location is on an elevated area close to the Nasserein gondola offering quick access to the skiing in the mornings and fine views of the valley from many of the rooms.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e833c2d20a1a4cda844b276ccb2322ba]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p><span>The location is on an elevated area close to the Nasserein gondola offering quick access to the skiing in the mornings.</span></p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[Sleeps 6-8 guests]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Charon has its own wellness area with a 4 person jacuzzi bath and is close to the Nasserein gondola. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Chalet Charon St. Anton Alberg Ski Austria Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>400</nearestBusStop>
  <nearestLift><![CDATA[<p>300m</p>]]></nearestLift>
  <nearestRestaurant><![CDATA[<p>3 minutes' walk</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>3</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>6-8</p>]]></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATAN0150]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul class="box-list active">
<li>
<div class="subtitle active-floor">
<h3>Ground Floor sleep 6-8</h3>
</div>
<ul class="box-list active">
<li>Open plan living/dining-room with fireplace, Stairs leading down to wellness area on lower ground floor.</li>
<li><span class="alignleft">Room 1</span><br /><span class="item-text">Continental twin with shower/wc</span></li>
<li><span class="alignleft">Room 2</span><br /><span class="item-text">Continental twin with shower/wc</span></li>
<li><span class="alignleft">Room 3</span><br /><span class="item-text">Continental twin plus child bunk beds with shower/wc (max 2 adults)</span>
<div class="subtitle active-floor"></div>
</li>
<li><span class="item-text"><img src="https://www.skitotal.com/wp-content/uploads/2013/11/Charon-ground-floor.jpg" alt="floorplan" /></span></li>
</ul>
</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>1</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/eb8a4e065fbc4a0fa6a0e0e273886855]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>