<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="468781d4-a926-464c-9118-0e786295779e" id="23184" nodeName="Hotel Monte Rosa" isDoc="" updated="2024-01-11T11:52:17.6870000Z" parentGUID="4abc3d93-67fc-4903-a52b-296414b05ef1" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="21" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[1,2,6,9,11,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Excellent buffet breakfast</li>
<li>5 course evening meal with choice of most courses</li>
<li>Twice weekly buffet</li>
<li>Weekly candelight dinner</li>
<li>Guests receive a credit voucher towards their meal if they wish to dine in partner Seiler Hotel restaurants (extra supplement payable for 5 star hotels). Available most evenings from 4 Jan.</li>
<li>Christmas and New Year gala dinners included (jacket required)</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>The Monte Rosa is a beautifully refurbished historic hotel, full of character and with a warm and cosy atmosphere, located on Zermatt’s main traffic-free street. Guests appreciate the attentive service offered by hotel staff, and the attention to detail.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>480</distanceToCityCentre>
  <distanceToLift>500</distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/bfabd41b4d3f4d5eafb8883517b122dd,umb://document/3040d3c9313a4189913e1c86729ade2c,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/6c17c206ef6249ae9e5146c2bc96e638,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Use of pools, whirlpool, Turkish bath, sauna and gym in the spa of the nearby 5 star Mont Cervin Palace (<strong>free</strong>), spa and beauty treatments (pay locally)</li>
<li>Atmospheric lounges and bar</li>
<li>Ski storage with boot heating facility</li>
<li>Wi-Fi throughout (<strong>free</strong>)</li>
<li>Occasional pianist</li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li>Welcome drink</li>
<li><strong>Free</strong> daily afternoon tea and cake in lounge</li>
<li><strong>Free</strong> selection of soft drinks in minibar replenished daily</li>
<li><strong>Free</strong> use of pools and spa facilities at the Hotel Mont Cervin</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.6072]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Monte Rosa is a beautifully refurbished historic hotel, full of character and with a warm and cosy atmosphere, located on Zermatt’s main traffic-free street.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/18263034cf3e45689f01b8666a712140]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Included</p>]]></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.9218]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Monte Rosa in Zermatt, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Monte Rosa, Zermatt - Switzerland - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Gornergrat</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation><![CDATA[<p>Zermatt</p>]]></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>41</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHZE0119]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Bedrooms: 41</li>
<li>All have bath, cable TV, telephone, safe, radio, minibar, hairdryer, bathrobes and slippers.</li>
<li>'Superior' twins are east-facing</li>
<li>'Classic'-style two-roomed suites, which have a bedroom and separate lounge, are south-facing with balcony and Matterhorn views.</li>
<li>Twins 'Alpenrose' (no view) for single occupancy are available on request.</li>
<li>Coffee-making facilities in suites only.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Right in the centre of Zermatt, on the main 'street'</li>
<li>Approximately 5 minutes' walk (500m) to the Gornergrat mountain railway and ski bus</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/4abc3d9367fc4903a52b296414b05ef1]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>