<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelItem guid="d53426bd-05c0-45a8-ac6f-b6c0b43c0f74" id="28920" nodeName="Glass Igloo &amp; Aurora Cabin Excursion" isDoc="" updated="2023-04-14T10:41:31.2530000Z" parentGUID="dbe837eb-8ee1-4394-ac22-a8f48c815c07" nodeTypeAlias="productFeaturePanelItem" templateAlias="" sortOrder="4" published="true" isBlueprint="false">
  <contentLink><![CDATA[[
  {
    "name": "Glass Igloo & Aurora Cabin Excursion",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/9933a896cd594899ac7150e009590145",
    "externalLink": "",
    "linkName": "Glass Igloo & Aurora Cabin Excursion",
    "linkTitle": ""
  }
]]]></contentLink>
  <imageUrl><![CDATA[umb://media/1ba07bf0eace4ff5a258d3c585c0a499]]></imageUrl>
  <isPriceVisible>0</isPriceVisible>
  <isTitleVisible>1</isTitleVisible>
  <isVisible>1</isVisible>
  <itemPosition>4</itemPosition>
  <linkType><![CDATA[0]]></linkType>
  <offerSettings></offerSettings>
  <price></price>
  <title><![CDATA[Glass Igloo & Aurora Cabin Excursion]]></title>
</productFeaturePanelItem>