<?xml version="1.0" encoding="utf-8"?>
<newsListingMonth guid="6e3cec7f-a2e4-418a-93eb-334faa40d607" id="24794" nodeName="August" isDoc="" updated="2024-07-27T22:30:46.4870000Z" parentGUID="3bd48542-bb1d-4e28-9c9e-1ee903365d07" nodeTypeAlias="newsListingMonth" templateAlias="NewsListingMonth" sortOrder="7" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[All of Inghams latest news and press releases are available below from August 2017. Please contact the Inghams Press Team who will be happy to help.]]></metaDescription>
  <metaTitle><![CDATA[Press Releases from August 2017 | Inghams]]></metaTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <title></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsListingMonth>