<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="1145fae4-cef2-4c49-ba15-2d6d7be5ccb5" id="56423" nodeName="At The Airport Special Assistance" isDoc="" updated="2022-10-26T12:32:04.6570000Z" parentGUID="c38f1dc8-bb1e-4a20-986a-f7ee6215dcf8" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="6" published="false" isBlueprint="false">
  <answer><![CDATA[<p><span>You need to make yourself known to the staff at the Check-In desk for your flight. They will then arrange all the necessary assistance needed.</span></p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[I have pre-booked special assistance at the airport. What do I do?]]></question>
</fAQItem>