<?xml version="1.0" encoding="utf-8"?>
<portalPage guid="2faf3434-4957-426f-ba2c-cc34ffbaa668" id="34777" nodeName="Special Offers" isDoc="" updated="2023-06-08T15:18:54.6970000Z" parentGUID="a4a479e8-2664-49e1-8b6b-9e98eafdfcb0" nodeTypeAlias="portalPage" templateAlias="PortalPageResponsive" sortOrder="15" published="true" isBlueprint="false">
  <bodyText><![CDATA[<p><span>Discover the latest special offers for Lapland and get a great deal on your holiday today.</span></p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <defaultProgram><![CDATA[umb://document/c99dcb3794324b5d86cc95eac3d2d9ab]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <fAQsWidget></fAQsWidget>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Discover all the latest special offers for Lapland. Get a great deal on your Lapland holiday today. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Special Offers | Lapland Holiday Offers & Deals | Inghams]]></metaTitle>
  <pageTheme><![CDATA[2]]></pageTheme>
  <pageTitle></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showFAQs></showFAQs>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <title></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</portalPage>