<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="68cda1ca-1e73-4391-b2a7-3d69c5e2cf99" id="55808" nodeName="Switzerland" isDoc="" updated="2024-04-15T13:19:55.1300000Z" parentGUID="d5bc14d7-4d55-48e3-92ab-5dadb7fc45d1" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="11" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Discover our range of last minute ski deals in Switzerland with Inghams. Book early to secure your place on the slopes and know that we also offer a snow guarantee for those in need of reassurance when booking. Flights, transfers and accommodation are included in the price.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great deal on a last minute ski holiday to Switzerland with Inghams. Find your next ski adventure for less. Flights, transfers and accommodation included. Book today.]]></metaDescription>
  <metaTitle><![CDATA[Last Minute Switzerland Ski Deals | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SKI-SWITZERLAND-2223-HOLIDAYS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/01afedc7491a48ac97e518333002b425",
    "offerCode": "ING-SKI-SWITZERLAND-2223-HOLIDAYS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Last Minute Switzerland Ski Deals]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Looking for last minute ski offers in Switzerland?]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>