<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="111ec8e0-21f2-424b-903c-4064fa0f81a1" id="22596" nodeName="City Hotel" isDoc="" updated="2023-05-10T15:35:12.0500000Z" parentGUID="5cfd5f91-c1d0-4191-8579-2bc414ff7721" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="5" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,6,10,11,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet served 7-10am</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/1e36c930dc8543e4803f603336828e6d,umb://media/3ba5f414a2e84ab9b0e864698e267d13,umb://media/e358c1ed7529422d8318e3dbe2ac8eab,umb://media/0c948c3cae21418280d5864ab4415354,umb://media/fcacfc4d2b9a4a04a047be3b2255cfc8,umb://media/8a893610215b4cb49c14802039f2b971,umb://media/bd9cf4be5a0645bf80a008885552ebb8,umb://media/1b1c37d6a02a46148e76b3894afdba93,umb://media/65d597e3e25d45d99cbeff6271c19ca6,umb://media/6a12102b782d4f6686b18c5b5f827e54,umb://media/5ec3abd6ab284f0ab8650d5d8470f9c4,umb://media/5efec267f11a4487b7e803c68a487aea,umb://media/6470878b987142ccb59daecbfb3132cd,umb://media/19b98a1bb8844481b4c045b54a543553,umb://media/244ac11890ea47c7ace2716eb19ca763,umb://media/d9930263c3014331b4ec0f87b0de909a]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast included</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Set in the historic centre of Ljubljana and just a few minutes from the castle, The City Hotel is a short walk to the river and the charming cobblestone lanes that host an array of cafes and bars. The hotel is popular with its own restaurant offering good food at very reasonable prices.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities><![CDATA[umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/0ed86260858943e4a9c058d4e64b6b1b,umb://document/55cfae6bffbd43b4b2a0ebcf052c0ffc,umb://document/8b2f642eb4794e909eb1185b50629f45,umb://document/73dbda3ec8784d47bba85415cecbbea9]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free strong internet in the whole hotel</li>
<li>Lovely lounge and restaurant terrace</li>
<li>Restaurant</li>
<li>Free Fitness room</li>
<li>Lifts to all floors</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude><![CDATA[46.053691]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The City Hotel is set in the old historic centre of Ljubljana and just a few minutes walk to main square and the river.Recently refurbished to good standard.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/d9930263c3014331b4ec0f87b0de909a]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[14.508121]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[200 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Set in the centre of Ljubljana, The City Hotel is a short walk to the river and the charming cobblestone lanes. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[City Hotel Ljubljana - Slovenia - Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<p>At the Hotel or in the old town approx 300m away</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>200</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[SILJ0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>'Standard' twin or double (18-21 m2) and 'Comfort' twin or double (25-30 m2) rooms with bath or shower, hairdryer, telephone, cable TV and air-conditioning. Pillow menu available. Mini bar is available in comfort rooms.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[290747]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>