<?xml version="1.0" encoding="utf-8"?>
<helpMeWith guid="0d5a13c4-0127-47a4-93b2-e731c575a2ae" id="44948" nodeName="Existing bookings" isDoc="" updated="2024-04-02T09:19:32.1570000Z" parentGUID="e5b8abf9-4a55-4299-a396-0566b88e9193" nodeTypeAlias="helpMeWith" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <answerContent><![CDATA[<h3>To amend your booking over the phone</h3>
<p>If you need to change or cancel your booking please contact our Administration Department on: <span class="InfinityNumber">01483 791 122</span>, email <a href="mailto:beforeyoutravel@inghams.co.uk">beforeyoutravel@inghams.co.uk</a> or you can complete our customer contact form below and select the 'Before You Go' option.</p>
<h3>Opening hours:</h3>
<p style="padding-left: 30px;"><strong>Monday - Friday: </strong>9am – 6:00pm</p>
<p style="padding-left: 30px;"><strong>Saturday</strong>: 9am – 5:30pm</p>
<p style="padding-left: 30px;"><strong>Sunday</strong>: Closed</p>
<h3>Whilst on holiday</h3>
<p><strong>Who do I contact if a problem occurs during my holiday?</strong></p>
<p>If you have a problem or accident on your holiday you should be able to find your representative’s contact number in your welcome pack. If you have an Inghams welcome board or book in your accommodation, your representative’s contact number will also be available here. Alternatively, if you can’t get hold of your rep you can speak to your chalet or hotel staff who should be able to contact the representative for you. Our experienced team in your resort are there to ensure you have an enjoyable holiday with us so please don’t hesitate to contact them should you need anything.</p>]]></answerContent>
  <questionText><![CDATA[Existing bookings]]></questionText>
  <showContactButton>0</showContactButton>
</helpMeWith>