<?xml version="1.0" encoding="utf-8"?>
<homePageTestimonial guid="32df3994-27ee-4e6b-990e-85f7acbc6746" id="43741" nodeName="Ski - France review Chalet Isabelle - December 2019" isDoc="" updated="2020-01-03T17:15:15.2370000Z" parentGUID="0ba27fd2-47a8-457d-a422-2417bb2cbfb0" nodeTypeAlias="homePageTestimonial" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <customer><![CDATA[Sally, Chalet Isabelle, December 2019]]></customer>
  <description><![CDATA[We stayed in Chalet Isabelle in Tignes. I cannot fault Inghams - every member of staff we met was cheerful, friendly and helpful . They all wanted to make sure we had a good experience. Our chalet host and resort manager in particular were fantastic. I would thoroughly recommend Inghams.]]></description>
</homePageTestimonial>