<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="d24fdf0d-7917-44cc-bd2e-963fb631efd0" id="67232" nodeName="Save £100pp 2024/25" isDoc="" updated="2024-08-13T09:26:14.6800000Z" parentGUID="2a1f7479-153b-4da5-8b87-7c9ce6a2d712" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="52" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><a data-udi="/media/13102087/site-masthead-838x450-px-1.jpg" href="/{localLink:umb://media/bdf2917c481f4372b937f81544edfbbb}" title="Best Ski Package Holiday Deals"><img src="/media/13105506/100-offer.jpg" alt="£100Offer" data-udi="umb://media/9e8ed38f644f4ce6ac27314311872663" /></a></p>
<h2 style="text-align: left;">Save £100pp on your lift pass &amp; ski hire</h2>
<p><strong>Save £100pp*</strong> on your <a data-udi="umb://document/500f33ac6e5a40b7900b12234eb39470" href="/{localLink:umb://document/500f33ac6e5a40b7900b12234eb39470}" title="Next Winter">2024/25 ski holiday</a> when you pre-buy your lift pass and equipment hire/carriage.</p>
<p>The offer is valid across all European destinations (excluding holidays to Canada and Lapland) and is valid on all departure dates between 1st December 2024 and 30th April 2025. The offer ends on the Monday 3rd June 2024.</p>
<p>Buy any lift pass (<em>found within the 'Extras' tab on checkout</em>) and add either ski/snowboard hire or ski/snowboard carriage at the same time, for the same person to receive the discount.</p>
<p> </p>
<h2>Most Popular Ski Dates 2024/25</h2>
<div class="g4">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/960b373c69434d9ea227fe18b1770f8d" href="/{localLink:umb://document/960b373c69434d9ea227fe18b1770f8d}" title="Christmas">Christmas Ski Deals</a></h3>
<p style="text-align: center;"><a data-udi="umb://document/960b373c69434d9ea227fe18b1770f8d" href="/{localLink:umb://document/960b373c69434d9ea227fe18b1770f8d}" title="Christmas"><img style="width: 314px; height: 155px;" src="/media/13092326/christmas-trees-lights-314x193.jpg?width=314&amp;height=193" alt="" data-udi="umb://media/80e9b712803247e9b3f6d419a3d44b73" /></a></p>
<p style="text-align: center;"><span>Embark on a magical <a data-udi="umb://document/960b373c69434d9ea227fe18b1770f8d" href="/{localLink:umb://document/960b373c69434d9ea227fe18b1770f8d}" title="Christmas">Christmas</a> ski holiday you won't forget with Inghams!</span></p>
</div>
</div>
<div class="g4" style="text-align: center;">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/aea32888d03e4f5499689d39abf2ea36" href="/{localLink:umb://document/aea32888d03e4f5499689d39abf2ea36}" title="New Year">New Year Ski Deals</a></h3>
<p><a data-udi="umb://document/aea32888d03e4f5499689d39abf2ea36" href="/{localLink:umb://document/aea32888d03e4f5499689d39abf2ea36}" title="New Year"><img style="width: 314px; height: 155px;" src="/media/13056352/france_thumbnails_chamonix-th.jpg?width=314&amp;height=193" alt="" data-udi="umb://media/1857fab063ea4a35b679bbd8dcd728b8" /></a></p>
<p><span>Celebrate the <a data-udi="umb://document/aea32888d03e4f5499689d39abf2ea36" href="/{localLink:umb://document/aea32888d03e4f5499689d39abf2ea36}" title="New Year">New Year</a> by navigating the slopes on an Inghams ski holiday.</span></p>
</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/4e712db85df04efb8097192316f0e0bb" href="/{localLink:umb://document/4e712db85df04efb8097192316f0e0bb}" title="Half Term">Half Term Ski Deals</a></h3>
<p style="text-align: center;"><a data-udi="umb://document/4e712db85df04efb8097192316f0e0bb" href="/{localLink:umb://document/4e712db85df04efb8097192316f0e0bb}" title="Half Term"><img style="width: 314px; height: 155px;" src="/media/13103272/half-term-hero.jpg?width=314&amp;height=193" alt="" data-udi="umb://media/9c140ee9b3344ab7b2217693a021dffb" /></a></p>
<p style="text-align: center;"><span>Experience the ultimate <a data-udi="umb://document/4e712db85df04efb8097192316f0e0bb" href="/{localLink:umb://document/4e712db85df04efb8097192316f0e0bb}" title="Half Term">half-term</a> family ski holiday for February 2025!</span></p>
</div>
</div>
<p><a name="popular-dates"></a></p>
<p> </p>
<h2>Ski Deals By Country 2024/25</h2>
<div class="g4">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/37ec3f1bce9b421b85d76cbaf4779794" href="/{localLink:umb://document/37ec3f1bce9b421b85d76cbaf4779794}" title="Andorra">Andorra Deals 2024/25</a></h3>
<p style="text-align: center;"><img style="width: 314px; height: 155px;" src="/media/13101888/andorra-ski-resort-mountain-original.jpg?width=314&amp;height=193" alt="" data-udi="umb://media/af4b09951ff044449dd8ed37ee433162" /></p>
<p style="text-align: center;">Discover all of our 2024/25 ski holidays to <a data-udi="umb://document/37ec3f1bce9b421b85d76cbaf4779794" href="/{localLink:umb://document/37ec3f1bce9b421b85d76cbaf4779794}" title="Andorra">Andorra</a>.</p>
</div>
</div>
<div class="g4" style="text-align: center;">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/e399027b644b447d8d1f2a65baa334ce" href="/{localLink:umb://document/e399027b644b447d8d1f2a65baa334ce}" title="Austria">Austria Deals 2024/25</a></h3>
<p><img style="width: 314px; height: 155px;" src="/media/13101886/1-obergurgl.jpg?width=314&amp;height=193" alt="" data-udi="umb://media/a7245e7bd1d64f67aacf1c42ba33eadd" /></p>
<p>Discover all of our 2024/25 ski holidays to <a data-udi="umb://document/e399027b644b447d8d1f2a65baa334ce" href="/{localLink:umb://document/e399027b644b447d8d1f2a65baa334ce}" title="Austria">Austria</a>.</p>
</div>
</div>
<div class="g4" style="text-align: center;">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/4d60df8b62e04a9a9fe0caeacb88ff0f" href="/{localLink:umb://document/4d60df8b62e04a9a9fe0caeacb88ff0f}" title="Canada">Canada Deals 2024/25</a></h3>
<p><img style="width: 314px; height: 155px;" src="/media/13101889/78454-master.jpg?width=314&amp;height=193" alt="" data-udi="umb://media/97d7a8953d9b4381a738cf60b61dda83" /></p>
<p>Discover all of our 2024/25 ski holidays to <a data-udi="umb://document/4d60df8b62e04a9a9fe0caeacb88ff0f" href="/{localLink:umb://document/4d60df8b62e04a9a9fe0caeacb88ff0f}" title="Canada">Canada</a>.</p>
</div>
</div>
<div class="g4" style="text-align: center;">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/cd58e6606e0340e1ad3b63636e28e6c0" href="/{localLink:umb://document/cd58e6606e0340e1ad3b63636e28e6c0}" title="France">France Deals 2024/25</a></h3>
<p><img style="width: 314px; height: 155px;" src="/media/13101891/adobestock_78058143.jpeg?width=314&amp;height=193" alt="" data-udi="umb://media/cba5016bc03b427eb652560c682bfd21" /></p>
<p>Discover all of our 2024/25 ski holidays to <a data-udi="umb://document/cd58e6606e0340e1ad3b63636e28e6c0" href="/{localLink:umb://document/cd58e6606e0340e1ad3b63636e28e6c0}" title="France">France</a>.</p>
</div>
</div>
<div class="g4" style="text-align: center;">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/a5beb429ab5945bdbe7bfceb80be74f0" href="/{localLink:umb://document/a5beb429ab5945bdbe7bfceb80be74f0}" title="Italy">Italy Deals 2024/25</a></h3>
<p><img style="width: 314px; height: 155px;" src="/media/13101895/switzerland.jpeg?width=314&amp;height=193" alt="" data-udi="umb://media/22ef2ca87ed546c4a554c6107059c318" /></p>
<p>Discover all of our 2024/25 ski holidays to <a data-udi="umb://document/a5beb429ab5945bdbe7bfceb80be74f0" href="/{localLink:umb://document/a5beb429ab5945bdbe7bfceb80be74f0}" title="Italy">Italy</a>.</p>
</div>
</div>
<div class="g4">
<div class="white_box_shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/cad1b99ce3254ae3b5194df54c7875b8" href="/{localLink:umb://document/cad1b99ce3254ae3b5194df54c7875b8}" title="Switzerland">Swiss Deals 2024/25</a></h3>
<p style="text-align: center;"><img style="width: 314px; height: 155px;" src="/media/13101896/zermatt_adobestock_168917711.jpeg?width=314&amp;height=193" alt="" data-udi="umb://media/19d65d2d52f0428886b92576e8b69a31" /></p>
<p style="text-align: center;">Discover all of our 2024/25 ski holidays to <a data-udi="umb://document/cad1b99ce3254ae3b5194df54c7875b8" href="/{localLink:umb://document/cad1b99ce3254ae3b5194df54c7875b8}" title="Switzerland">Switzerland</a>.</p>
<p style="text-align: center;"> </p>
</div>
</div>
<p> </p>
<div class="g12">
<div class="white_box_shadow">
<h2>Travel with confidence</h2>
<p>We make booking your ski or snowboarding trip straight forward - All of our ski holidays <strong>include your flights, transfers and accommodation</strong>. Our holidays are also <strong>ABTA/ATOL protected</strong> and with over <strong>85 years of experience</strong>, you can trust us to deliver your perfect holiday.</p>
<p><img src="/media/13095389/inghams-in-safe-hands-charcoal.png" alt="safehands" data-udi="umb://media/afba17a916e84fcc848acce5dda4f9c4" /></p>
<h2>Terms &amp; conditions</h2>
<ul>
<li>Buy any lift pass and add either ski/snowboard hire or ski/snowboard carriage at the same time and for the same person to receive the discount.</li>
<li>To add on ski/snowboard carriage and claim £100 discount, you must call our reservations team to book. This will not automatically apply on our website.</li>
<li>Valid on all destinations, excluding Canada and Lapland.</li>
<li>Valid on all departure dates between 1st December 2024 and 30th April 2025.</li>
<li>The offer can be added at any time during the offer period, as long as both items are added together.</li>
<li>The offer will be available to select during the booking process – select the items you require, and the discount will automatically apply if eligible.</li>
<li>This offer can also be added post booking, via MyBooking or by calling our reservations team.</li>
<li>This offer can be used in conjunction with other offers, except where offers/packages/bundles also contain a lift pass.</li>
</ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your holiday. Flights, hotel and transport? We’ve got you covered. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Save £100pp on your 2024/25 skiing holiday when you buy your lift pass and equipment hire/carriage.]]></metaDescription>
  <metaTitle><![CDATA[Save £100pp On Your Ski Holiday 2024/25 | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Save £100pp 2024/25]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>£100 off offer</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/03b0534dea7341ebac49d602d422a0c6]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>