<?xml version="1.0" encoding="utf-8"?>
<newsItemPage guid="26e52311-926f-4c7f-b24f-146fcf898020" id="39037" nodeName="Inghams Launches Brand New Ski And Lapland Brochures For Winter 2019/20 Season" isDoc="" updated="2024-07-27T22:08:43.2030000Z" parentGUID="cc8143da-0b72-4d97-9666-75d3fbaf62a4" nodeTypeAlias="newsItemPage" templateAlias="NewsItemPage" sortOrder="1" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/13077494/ski-lapland_2019-20_brochures.png" alt="New Inghams Ski &amp; Lapland brochures for W2019/20" rel="972,453" /></div>
<div style="height: 15px; font-size: x-small; text-align: center;">New Inghams Ski &amp; Lapland brochures for W2019/20.</div>
<div> </div>
<div class="g12"><strong><u>Inghams Launches Brand New Ski And Lapland Brochures For Winter 2019/20 Season</u></strong></div>
<div>
<p> </p>
<p>One of the best known ski tour operators, Inghams, which this year celebrates its 85<sup>th</sup> birthday, has launched a fresh, new version of its Ski main edition brochure, alongside its specialist Lapland brochure for Winter 2019/20.</p>
<p>The new brochures showcase some of the most fantastic ski destinations in the world, and invite guests to discover what truly magical experiences are on offer on one of Inghams’ many winter holidays. With a range of exciting new additions to the programmes, top highlights include:</p>
<ul>
<li><strong><u>New Inghams Destination: <span>Japan!</span> </u></strong></li>
</ul>
<p>Inghams is excited to announce the launch of Japan for the 2019/20 ski season. Japan sits on many skiers’ bucket lists for its incredible snow and skiing possibilities, blended with fascinating ancient culture, wonderful sights and mouth-watering cuisine.</p>
<p>Ski resorts include:</p>
<p>The Hakuba Valley offers superb off-piste opportunities and spans across 10 diverse ski areas, all included in one lift pass. Inghams guests will be able to stay in the main resort of Happo-One, with easy bus links accessing the other resorts. Put on the map after the 1998 Nagano Olympics, the Japanese Alps provide abundant snow and pristine powder conditions for skiers and snowboarders of all abilities to enjoy, making them the envy of their European skier counterparts.</p>
<p>Nozawa Onsen is a delightful resort, which started life as a hot spring village for resting travellers, with the first onsen (traditional Japanese bath house) constructed in the 16th century. Today, the onsens are still managed by the local people and are very much part of their culture. They’re a perfect remedy to aching muscles after hitting the slopes all day! Skiing in Nozawa was introduced by the Austrians in the early 1900’s. There is varied terrain, long runs and a great section of tree-lined off-piste skiing, plus the area has a reputation for the heaviest snowfall in the Nagano district.  </p>
<p>Accommodation in these resorts range from more Western in style to traditional Japanese-style hotels with communal onsens, offering a choice for all who seek convenience, comfort and an authentic, cultural stay.</p>
<p>This forever-evolving, vibrant country offers plenty to discover beyond the ski runs: guests can lose themselves in fascinating experiences such as getting sucked into the bright lights of <span>Tokyo</span> or the tranquillity of the temples in <span>Kyoto</span>, paying their respects in Hiroshima, and spotting the Snow Monkeys at t Jigokudani. This is why Inghams ski holidays to Japan also encompass an immersive city break. Combinations and durations are flexible, with the option to ski in either one of Inghams’ resorts and add on Kyoto, which was the Imperial Capital of Japan for over a thousand years. All trips start with at least one night in Tokyo.</p>
<p><strong>Sample package: Inghams offers a five-night trip to Tokyo and Hakuba from £1,869 per person based on two sharing. Price includes return flights (direct from London Heathrow), coach transfers, accommodation with ensuite facilities, five breakfasts and <u>the Hakuba lift pass</u>. The package is valid for travel departing on 14<sup>th</sup> December 2019, 29<sup>th</sup> February 2019, and 7<sup>th</sup> and 14<sup>th</sup> March 2019. To book, visit <span>www.inghams.co.uk/ski-holidays</span> or call 01483 938 047.</strong></p>
<ul>
<li><strong><u>Back To <span>Six Nights Catering</span> </u></strong></li>
</ul>
<p>Inghams is also delighted to announce that six nights catering in all Chalets and Chalet Hotels is back! The catering will include seven continental breakfasts with six mornings of cooked breakfast options, afternoon tea and cake on six days, a varied evening menu available on six nights with a pre-dinner glass of prosecco and complimentary wine during dinner, and children’s high tea provided at 5:30pm for children under 11 years old. Inghams is also re-introducing canapes in its Chalet Hotels and, for the coming winter season, will now offer wine upgrade options, advance purchase beer packages, plus pre-bookable HUSKI meals on the staff night off.</p>
<ul>
<li><strong><u>Inghams Introduces Brand New Five-Star Hotel To Lapland Programme</u></strong></li>
</ul>
<p>Inghams is the expert in Finnish Lapland and is proud to expand its popular programme for next winter with the introduction of a brand new five-star hotel: <span>Design Hotel Levi</span>. Sister to the four-star <u>Levi Hotel Spa</u>, Inghams’ flagship property in the resort of Levi, the Design Hotel is located within the same complex as its sister, less than a five-minute walk away from the village centre, and will open its doors to the public for the first time in November 2019. The boutique hotel will feature 77 Deluxe rooms, which will combine traditional Lappish style with a chic design, and will also share three on-site restaurants with the Levi Hotel Spa, which offer Lappish and Finnish specialities. Guests will be able to make use of the facilities at the Levi Hotel Spa ‘Spa Water World’, which are expansive and include multiple indoor and outdoor pools, hot tubs, saunas and steam rooms (there is a local charge to use the gym, for massages and spa treatments).</p>
<p><strong>Inghams offers a seven-night winter holiday on a bed &amp; breakfast basis at the five-star <u>Design Hotel Levi</u> in Levi, Finnish Lapland, from £1,789 per person based on two sharing in January 2020. Price includes return flights from London Gatwick, Manchester or Bristol to Kittilä and airport transfers. There is also the option to upgrade to half board. To book, visit <u>www.inghams.co.uk/lapland-holidays</u> or call 01483 938 047.</strong></p>
<p>To add to the excitement of the launch, Inghams has added extra dates to its <span>‘Big Three’ Excursion Bundle</span> to Lapland. In celebration of its 85<sup>th</sup> birthday this year, the bundle offers £85 off per person (or pay just £85 for children aged four - 12 years) when a Husky Safari, Reindeer Safari and Snowmobile Safari are pre-booked through Inghams on holidays to Levi, Ylläs and Saariselkä. The offer applies to new bookings for seven-night holidays departing in January and February, and now - newly added - on 1<sup>st</sup> December and 8<sup>th</sup> December 2019. Subject to availability, while stocks last.</p>
<ul>
<li><strong><u>Thirty-Six New Hotels Across Europe And Beyond </u></strong></li>
</ul>
<p>Inghams has further extended its popular ski programme with the addition of 36 new properties across Austria, Canada, Finland, France, Italy, Japan and Switzerland. These range from the brand new, modern, four-star <span>Montivas Lodge</span> in Livigno, Italy, which occupies a prime slope-side position and whose ethos is centred around sustainability and green thinking, to the three-star superior, traditional <span>Derby Swiss Quality Hotel</span> in Grindelwald, Switzerland, which prides itself on its superb quality and warm service, and excellent cuisine including hearty four-course evening meals.</p>
<ul>
<li><strong><u>This Season’s Big Discounts Include:</u></strong></li>
</ul>
<p>Ski Bundle Offer – Pre-book your lift pass with Inghams and get 50% off equipment hire or ski carriage. Valid on holidays to France, Austria, Italy, Switzerland and Slovenia only (must be booked at least six weeks’ prior to departure date).</p>
<p>Group Offers – including: up to one in six goes free; FREE list pass for the group leader (of 15 guests or more, when all guests pre-book their lift passes); exclusive private resort transfers for groups of 25 guests or more.      <br /><br />Family Offers – including: FREE child places (for children aged two - five travelling on charter flights and staying in an Inghams Chalet or Chalet Hotel; subject to availability), family lift pass deals and other great discounts</p>
<p>Paul Carter, Chief Executive Officer, says: “We’re so excited to not only again be bringing our guests extended choice with our new range of ski and snowboard holidays, but to showcase these in fresh-style brochures which have a new look and feel. The brochures are full to the brim with inspiring snow adventures and itineraries to ignite our guests’ excitement for the coming winter! There is lots to shout about, my favourite being Japan, which is a highlight I‘m sure many skiers and snowboarders are dying to explore, due to its outstanding reputation for incredible snow. We remain committed to offering our guests great value for money, going the extra mile for groups, families and individuals who pre-book their lift passes and ski / board and boot hire early, thus benefitting from big savings. We can’t wait for winter and we look forward to welcoming our guests out on the slopes!”</p>
</div>
<div>
<p><strong>For more information, or to receive copies of the new brochures, <br />visit </strong><span><strong>www.inghams.co.uk</strong></span><strong>, or call </strong><strong>01483 938 047.</strong></p>
</div>
<p><strong>-ENDS-</strong></p>
<p><strong>For media enquiries, please contact Frankie Gibson, PR Manager, on 01483 791 045 / </strong><span><strong>Frankie.gibson@hotelplan.co.uk</strong></span><strong> / Twitter: @Fr4nkie_90</strong></p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>0</deactivateThisPage>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Inghams launches brand new Ski & Lapland brochures for its winter 2019/20 programme.]]></metaDescription>
  <metaTitle><![CDATA[New Ski And Lapland Brochures For Winter 2019/20 Season | Inghams]]></metaTitle>
  <newsItemDate>2019-07-08T00:00:00</newsItemDate>
  <pageTheme><![CDATA[0]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>One of the best known ski tour operators, Inghams, which this year celebrates its 85<sup>th</sup> birthday, has launched a fresh, new version of its Ski main edition brochure, alongside its specialist Lapland brochure for Winter 2019/20. New additions and top highlights include Japan, a brand new five-star hotel in Lapland and superb offers! </p>]]></shortDescription>
  <thumbnail><![CDATA[umb://media/752eb06b871f441fbae1ba66f967a483]]></thumbnail>
  <title><![CDATA[Inghams Launches Brand New Ski And Lapland Brochures For Winter 2019/20 Season]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsItemPage>