<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="1d1bc5d2-8665-43b3-a551-71f02a75d6b4" id="23605" nodeName="Hotel Kompas" isDoc="" updated="2021-12-23T08:51:32.0430000Z" parentGUID="71c7bd57-3f21-4a32-ada6-ee90c9f2d269" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "7e362f8e-24eb-4e91-b3ee-9c269e849cf8",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free entrance to the swimming pool at the Ramada Resort Hotel (ex Larix)",
    "addedValueStart": "2019-08-14T11:28:20",
    "addedValueEnd": "2099-08-15T11:28:21",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/4ce64af2f72b4c2c875607b5ff154b90,umb://media/dfba63ae2ad946de95979adeac9b0271,umb://media/98d00c6db6124c80966c96ce97d5435b,umb://media/b3708e1f5a4142c998f3c2eaa698c781,umb://media/be8fbc7b71d942398194a357f56603c7,umb://media/b319320e6266499b8eec6f40ccb5ac9f,umb://media/c13719ac092645af9882abfa6304583f,umb://media/5ae988f41fbf4becbd58fc6a3fd52f06,umb://media/31a0e567ea3c400783d922dd3d3f7470]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Buffet breakfast and 4 course buffet-style evening meal.</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>This popular family friendly hotel is centrally located and offers a wide range of leisure and children’s facilities. It is located close to the slopes and resort centre.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/36ebccaf6fef4fffb28746645e3e6793,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/6c17c206ef6249ae9e5146c2bc96e638]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge area with fireplace</li>
<li>Lift.</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/0806ff4686ee489981e049648eed9b34,umb://document/c0e11185f51f4f4cb5a972b8e46cac58,umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/505c8512913d4d2db80856510b0c5d50,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3,umb://document/567a268ddf014965ac70ad6a473cbee9]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.4860]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This popular family friendly hotel is centrally located and offers a wide range of leisure and children’s facilities. It is located close to the slopes and resort centre.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/4ce64af2f72b4c2c875607b5ff154b90]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Location 2 minutes’ walk (200m) from the slopes and a short 3 minute (300m) walk to the resort centre.</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[13.7898]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[136 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This popular family friendly hotel is centrally located & offers a range of leisure & children’s facilities. It is located close to the slopes & resort centre.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Kompas Kranjska Gora - Slovenia - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>136</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[SIKR0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Standard doubles have bath or shower, twins and family rooms are slightly larger and also have balcony.</li>
<li>All rooms have TV with satellite and English channels and telephone.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Location 2 minutes’ walk (200m) from the slopes and a short 3 minute (300m) walk to the resort centre.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[287773]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/25e767db044444389ae09383681f982e]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>