<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="36b26de5-0137-4549-afc2-9e12165cbcbd" id="70803" nodeName="Christmas Ski Deals" isDoc="" updated="2024-04-24T12:57:14.0630000Z" parentGUID="95fd002b-173c-42f8-864e-f4987f493412" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Next Winter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/960b373c69434d9ea227fe18b1770f8d",
    "externalLink": "",
    "linkName": "Christmas Ski Deals",
    "linkTitle": "Christmas Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>