<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="d2428f84-4e75-4895-b994-5f06b9c8568c" id="72133" nodeName="Altitude Festival 2025" isDoc="" updated="2024-11-21T16:43:09.6470000Z" parentGUID="25e767db-0444-4438-9ae0-9383681f982e" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="30" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><img src="/media/13106573/altitude-festival-25.jpg" alt="AltitudeHero" data-udi="umb://media/ce7f0966b2f24ea89dde1a92f7745f24" /></p>
<h2 style="text-align: center;">Half-price tickets to Altitude Comedy Festival: 24th - 28th March 2025</h2>
<p style="text-align: left;">Crowned BEST OVERSEAS FESTIVAL at the UK Festival Awards, Altitude is headed back to Mayrhofen, Austria from the 24th-28th March 2025. Founded in 2007, the Altitude Comedy festival takes over the Austrian Alps every year. Hosting big names, including Dara O'Briain and Maisie Adam last ski season.</p>
<p style="text-align: left;">All hosted at the world-renowned resort of <a data-udi="umb://document/f9068cb62c4d4b2299a0ef29fd676ed5" href="/{localLink:umb://document/f9068cb62c4d4b2299a0ef29fd676ed5}" title="Mayrhofen">Mayrhofen</a> in Austria, where you can find some of the best European ski slopes. Offering a range of comedy talent &amp; entertainment, from intimate après-ski shows, huge gala line-ups and late-night performances.</p>
<p style="text-align: left;"><em>"We had such a great time at Altitude Festival, I'm counting the days until the next one!" - </em>The Times</p>
<p style="text-align: left;"><em>“There can be few nicer places to watch comedy than at the Altitude festival” - </em>Daily Telegraph</p>
<p style="text-align: left;"> </p>
<p style="text-align: center;"><a rel="noopener" href="https://www.altitudefestival.com/" target="_blank" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">View Festival</a></p>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<p style="text-align: center;"><strong>Half-price ALTITUDE COMEDY FESTIVAL TICKETS</strong></p>
<p style="text-align: center;">This year, Inghams have partnered with Altitude Comedy Festival to offer <strong>half-price Altitude Comedy Festival tickets</strong>* to guests who book a ski holiday to Mayrhofen departing on the 22<sup>nd</sup> March 2025. All Inghams ski holidays to Mayrhofen include flights, transfers and accommodation with catering. </p>
<p style="text-align: center;">*When you book a holiday to Mayrhofen on the same week as the Comedy Festival, you can select your half-price ticket on the extras tab at checkout. Tickets cannot be added to guests aged 15 and under.</p>
</div>
</div>
</div>
<h3>Where to stay in Mayrhofen:</h3>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h3 style="text-align: center;">Hotel Strolz</h3>
<p><img src="/media/13051951/austria_mayrhofen_hotel_strolz_side-exterior.jpg" alt="HotelStrolz" data-udi="umb://media/2a747965c5534f4382adaca741f789df" /></p>
<ul>
<li style="text-align: left;">Traditional style hotel</li>
<li style="text-align: left;">Short walk to ski bus stop</li>
<li style="text-align: left;">Half-board basis</li>
<li style="text-align: left;">Single room options</li>
<li style="text-align: left;">3 star rating</li>
</ul>
<p style="text-align: center;"><span><a data-udi="umb://document/477493ef4c1a4fd4be5bd9770f8528c6" href="/{localLink:umb://document/477493ef4c1a4fd4be5bd9770f8528c6}" title="Hotel Strolz" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">From £779pp</a></span></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h3 style="text-align: center;">Hotel Strass</h3>
<p><img src="/media/13051972/strass-1.jpg" alt="HotelStrass" data-udi="umb://media/f3feb0808a7048eebed360eaaf3be675" /></p>
<ul>
<li style="text-align: left;">Next to the main Penkenbahn lift</li>
<li style="text-align: left;">Collection of lively in-house bars</li>
<li style="text-align: left;">Extensive spa area</li>
<li style="text-align: left;">Suite room options</li>
<li style="text-align: left;">4 star rating</li>
</ul>
<p style="text-align: center;"><span><a data-udi="umb://document/9e190cb8fa094e56a0b4bb5617cbfff6" href="/{localLink:umb://document/9e190cb8fa094e56a0b4bb5617cbfff6}" title="Hotel Strass" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">From £999pp</a></span></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h3 style="text-align: center;">Hotel Elisabeth</h3>
<p><img src="/media/13052022/01-elisabeth.jpg" alt="HotelElizabeth" data-udi="umb://media/5a1a791e442c477cba2ca671abf9f9b0" /></p>
<ul>
<li style="text-align: left;">Adult only hotel</li>
<li style="text-align: left;">Renowned for gourmet cuisine </li>
<li style="text-align: left;">Excellent wellness area</li>
<li style="text-align: left;">Premium rooms</li>
<li style="text-align: left;">5 star rating</li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/bf54e59898724ee8a39040ed6d33d01b" href="/{localLink:umb://document/bf54e59898724ee8a39040ed6d33d01b}" title="Elisabeth Hotel" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">From £1,289pp</a></p>
</div>
</div>
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<p style="text-align: center;"><strong>Book your skiing holiday to Austria with Inghams - including your flights, transfers and accommodation. </strong></p>
<p><img style="width: 125px; height: 37px; display: block; margin-left: auto; margin-right: auto;" src="/media/13090915/whats-included-icons-125x37.png?width=125&amp;height=37" alt="WhatsIncluded" data-udi="umb://media/24fe54a35be145d781fdd6aa109bd1d9" /></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h3 style="text-align: center;">Austria skiing</h3>
<p><img src="/media/13095285/inghams-ski-adobestock_232841876.jpeg" alt="ShareWithUs" data-udi="umb://media/31d9a0a644454702b23da49cc1973481" /></p>
<p style="text-align: center;"><span>Find out more about the ski resorts in Austria and all Austria has to offer as your next destination.</span></p>
<p style="text-align: center;"><span><a data-udi="umb://document/7cc7c659d5214aa9b4d7bed936a721bb" href="/{localLink:umb://document/7cc7c659d5214aa9b4d7bed936a721bb}" title="Austria" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">Find Out More</a></span></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h3 style="text-align: center;">Mayrhofen resort</h3>
<p><img src="/media/13095282/inghams-ski-adobestock_226238086.jpeg" alt="ForTheLoveOfSki" data-udi="umb://media/bc61d0b1095f424a836024fcc4f6cf16" /></p>
<p style="text-align: center;">Find out more about the resort location for the festival and where you can stay and ski.</p>
<p style="text-align: center;"><span><a data-udi="umb://document/f9068cb62c4d4b2299a0ef29fd676ed5" href="/{localLink:umb://document/f9068cb62c4d4b2299a0ef29fd676ed5}" title="Mayrhofen" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">Find Out More</a></span></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h3 style="text-align: center;">Book your tickets</h3>
<p><img src="/media/13095296/inghams-ski-main-header-image.jpg" alt="SkiSeasonDeals" data-udi="umb://media/586c0954153c473fa559d1ab2a9fd4c5" /></p>
<p style="text-align: center;">Already booked your holiday and want to add Altitude tickets? Do so in your booking portal 'My Booking'. </p>
<p style="text-align: center;"><a data-udi="umb://document/1e6f5e817a4f4af3b851984b9c3fa71c" href="/{localLink:umb://document/1e6f5e817a4f4af3b851984b9c3fa71c}" title="Deals" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">Find Out More</a></p>
</div>
</div>
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<h3 style="text-align: center;">Winter Festivals</h3>
<p><img style="width: 0px; height: 0px;" src="/media/13048785/altitude.jpg?width=0&amp;height=0" alt="FestivalsGuide" data-udi="umb://media/a168dee9b39146bcb9eef16095313733" /><img style="width: 500px; height: 333.703px; display: block; margin-left: auto; margin-right: auto;" src="/media/13048785/altitude.jpg?width=500&amp;height=333.7028824833703" alt="FesitvalsGuide" data-udi="umb://media/a168dee9b39146bcb9eef16095313733" /></p>
<p style="text-align: center;">Feeling inspired? Want to party on the slopes? Enjoy the life of ski and music / comedy? Have a read of our Winter Festivals Guides and pick your next adventure. </p>
<p style="text-align: center;"><a data-udi="umb://document/d4475de1efce42b68ec9a9457877a290" href="/{localLink:umb://document/d4475de1efce42b68ec9a9457877a290}" title="Insider’s Guide: Our top 6 springtime ski festivals" class="c-btn c-btn--secondary c-btn--mid c-btn--wide u-text-center" data-="">Find Out More</a></p>
</div>
</div>
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow">
<p><img src="/media/13048547/altitude.jpg" alt="AltitudeFestival24" data-udi="umb://media/875fcc74f9164486bf3c534e9fd206dc" /></p>
<p><em>*Age Restrictions - We recommend 16+ as there is adult material and adult themes in all the shows. It is down to Parent or Guardian for anyone younger.</em></p>
<p><strong>Free ticket offer T&amp;Cs</strong></p>
<ul>
<li>Half-price Altitude ticket is given to each person within your booking (16+ recommended shows).</li>
<li>Half-price Altitude tickets will give you access to the comedy festival from 24th-28th March 2025.</li>
<li>Only valid for 22nd March 2025 departures to Mayrhofen.</li>
<li>Offer can be claimed by either booking over the phone or on our website</li>
<li>Offer is only valid on booking to Mayrhofen with flights</li>
<li>Altitude wristband tickets will be issued in resort by an Inghams rep.</li>
<li>Offer is valid from 1st August 2024</li>
<li>Offer is subject to availability and may be amended or withdrawn at any time without notice.</li>
<li>Inghams is a brand of Hotelplan Limited, “part of the Hotelplan UK Group” © 2024. All Rights Reserved. Registered in England and Wales as Hotelplan Ltd. Registered No 350786. ATOL 0025. ABTA V4871. VAT No: GB 217 4698 42. Registered office address: Nelson House, 55 Victoria Road, Farnborough, Hampshire, GU14 7PA.</li>
</ul>
</div>
</div>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Travel, accommodation and transfers? We’ve got you covered. Book your holiday online or give us a call. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Book your ticket for the greatest festival on snow - Altitude Festival 2025.]]></metaDescription>
  <metaTitle><![CDATA[Altitude Festival 2025 | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Altitude Festival 2025]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Book your ticket for the greatest festival on snow - Altitude Festival 2024/25.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/a168dee9b39146bcb9eef16095313733]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>