<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="3fb32d33-4896-46ce-a5a7-66abedde1827" id="70853" nodeName="Hotel Trieste" isDoc="" updated="2024-05-10T10:56:05.7970000Z" parentGUID="2dcb1a32-92da-4217-80aa-165d449493a9" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="4" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Hotel Trieste has one accessible room. The lift goes to all floors and is wheelchair accessible. Please give our Reservations team a call to book.</p>]]></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/88f907aa30334f2292f376eb5f680cb3,umb://media/79bce746ff21402095e3dc308699d2f8]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel Trieste is on a half board basis. Drinks are not included.</p>
<p>Each morning you can fuel up for the day at the breakfast buffet with a tasty variety of sweet and savory options. Served between 7:30-10:00am.</p>
<p>For dinner you'll have a three-course menu with choice. Served between 7:30-8:30pm.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The warm and welcoming Hotel Trieste, has been family run by the Ruatti family since 1948.</p>
<h2>Central location</h2>
<p>Located in the centre of <a data-udi="umb://document/2dcb1a3292da421780aa165d449493a9" href="/{localLink:umb://document/2dcb1a3292da421780aa165d449493a9}" title="Cortina D’Ampezzo">Cortina D'Ampezzo</a>, you are just a short walk from the charming resort centre full of historic buildings, high end boutiques and an array of bars and cafes serving tasty Italian treats.</p>
<p>Getting onto the slopes couldn't be easier, it is about a five minute walk to the Tofana cable car or a slightly longer walk to the Faloria cable car. If you don't feel like walking just hop on the resort bus which stops at both lift stations.</p>
<h2>Exploring Cortina ski area</h2>
<p>If you are looking to ski some unique areas, Cortina is the perfect base - head over to the Cinque Torri to feel like a film star for a day.</p>
<p>You can make your way to the highest point at the top of the Marmolada glacier, or ski down one of the best slopes in the <a data-udi="umb://document/47c7f0773b104efb87f3357e7314f393" href="/{localLink:umb://document/47c7f0773b104efb87f3357e7314f393}" title="The Dolomites Ski Area">Dolomites</a> - the Armentarola where you'll have unforgettable views. The ski track ends with a horse-drawn tow where you can venture towards <a data-udi="umb://document/f5a15898b6694ef6a1c755346a0e1ba8" href="/{localLink:umb://document/f5a15898b6694ef6a1c755346a0e1ba8}" title="Corvara &amp; Colfosco">Alta Badia</a> or returning to the Falzarego Pass ski area by taxibus.</p>
<h2>Facilities</h2>
<p>When you return from a day on the slopes you can pay a small fee to use the traditional style sauna and jacuzzi - it is the ideal spot to relax in peace. Before dinner catch up with friends and family in the cosy bar area with a drink before heading to dinner where you'll enjoy a three course traditional style meal.</p>
<h3>Exclusive to Inghams</h3>
<p>As a ski specialist tour operator we carefully select the very best accommodation in our resorts and package them with flights and transfers, so that you can make the most of your holiday. We are the only UK tour operator working with the Hotel Trieste - all the more reason to book with Inghams today!</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free Wi-Fi</li>
<li>Bar &amp; Lounge</li>
<li>Wellness area with sauna and hot tub (pay locally)</li>
<li>Heated ski storage room</li>
<li>Parking</li>
<li>Cots are available for approx. €50 per day</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "f5a7180c-c929-4141-893c-db498c0e9b4e",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"b623c10e-0206-402e-a001-e3d072cdd347\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.54479227116692]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The family run Hotel Trieste has a great location in the centre of Cortina. The Tofana cable car is just a short walk away so you have convenient access to the Dolomites Ski Area. The rustic style rooms, tasty food and warm hospitality from the Ruatti family will make you feel right at home.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/08f93192fba64f84a5f4b590bc6e40ed]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €3.50 per person per night to be paid directly to the hotel</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>500 metres to the centre of Cortina</li>
<li>Five minutes walk (300 metres) to the Tofana cable car</li>
<li>The Faloria cable car is about a ten minute walk (900 metres) or can be accessed via the resort bus</li>
<li>The bus stop is just outside the hotel</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.136517645969361]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[30 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The Hotel Trieste has a peaceful location a short walk to the pedestrianised Corso Italia, both ski lifts are within easy reach. Book now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Trieste | Cortina Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>30</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3.5]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Trieste]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITCT0112]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Rooms</strong> sleep two to three people.  These rooms are furnished in a typical mountain style, and can be made up as a twin or triple room.</p>
<p><strong>Family Rooms</strong> sleep three to four people. These rooms are furnished in a typical mountain style and can be made up as a double or a twin, with up to two additional beds.</p>
<p>Single occupancy rooms are available on request, for a supplement. Please give our Reservations team a call to book.</p>
<p> </p>
<p><strong>Room facilities</strong></p>
<ul>
<li>Wi-Fi</li>
<li>Satellite TV</li>
<li>Telephone</li>
<li>Safe</li>
<li>Hairdryer</li>
<li>Bathtub or shower</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel Trieste can cater for special dietary requirements (vegetarians, vegan, gluten free and dairy free diets) if know in advance. Please inform us of any special dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[2226422]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>