<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="6d0805d2-0fe3-46f6-b433-6fa02d6e7beb" id="21896" nodeName="Hotel Palme" isDoc="" updated="2024-12-11T15:34:19.3470000Z" parentGUID="689f022e-b797-4a70-87cc-becf4adbda43" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="7" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "4057014e-1732-49c6-a0fc-93dbe5751fee",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 25 (book by 28 Feb 25)",
    "addedValueStart": "2023-11-05T17:02:00",
    "addedValueEnd": "2025-02-28T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/64060e98e3ea49179b70f5f16586c69f,umb://media/15ab60f70d8b421281929d8e7ea973e6,umb://media/30bbcad631a94b4a9019f814fae6795d,umb://media/dc808c7357f847efb50506da6e7c399a,umb://media/d10940da167f4404886c86566d515faa,umb://media/21c38bf7986e405d8e5309a12df12c19,umb://media/5a5911d64b2047f09319766d07fa8074,umb://media/c6a21d9bd94748f9afe411725dc4953e,umb://media/3a1a4071f18945cdb71098adbe46aebb,umb://media/408ba56d046041bebe7c7d1fdd5024a2,umb://media/8ebd8b4894274b839dc093b35d3ef1dd,umb://media/56dc9c2cb8894326a60b963b30bc54f3,umb://media/aed354a14b7443ae9548858b24cabd2f]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The hotel's restaurant is open for breakfast and dinner. You'll have a continental buffet breakfast with freshly baked pastries, breads, cold cuts and cheeses. Omelettes can be made to order, too. Dinner is three courses with a choice of mains and a salad buffet.</p>
<p>The bar is open throughout the day and serves snacks and drinks; it's a great place to grab a cocktail or some wine. The lounge, is perfect for winding down in the evening and enjoying the garden views.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel Palme's fantastic value for money. It has a simple and traditional style but still has everything you need for a comfortable stay in <a data-udi="umb://document/ae52b40037474a3eadb1c0692c464473" href="/{localLink:umb://document/ae52b40037474a3eadb1c0692c464473}" title="Lake Garda">Lake Garda</a>. This hotel is also a great choice if you're planning a family summer holiday.</p>
<h2>Central location in Garda</h2>
<p>The hotel's a great base for exploring Lake Garda. Being close to the centre of <a data-udi="umb://document/689f022eb7974a7087ccbecf4adbda43" href="/{localLink:umb://document/689f022eb7974a7087ccbecf4adbda43}" title="Garda">Garda</a> makes it easy to hop on a ferry to nearby towns. You could even take the bus to nearby cities like <a data-udi="umb://document/41229767036d47f28a27ac846e23458b" href="/{localLink:umb://document/41229767036d47f28a27ac846e23458b}" title="Verona">Verona</a>. The resort centre's around five minutes walk away and there are plenty of bars, shops and restaurants to enjoy. Make sure you walk along the stunning lakeside promenade that stretches for miles. It's perfect for evening strolls, or for walking over to <a data-udi="umb://document/59fcac55a66d4666ae4b0cca449364d1" href="/{localLink:umb://document/59fcac55a66d4666ae4b0cca449364d1}" title="Bardolino">Bardolino</a> and Lasize.</p>
<h2>Great for families: swimming pools for all ages &amp; live music</h2>
<p>There are two pools in the garden and a pool bar serving drinks and light snacks. If you're on a family holiday, this hotel's great for young ones because it has a children's paddling pool, so you can keep an eye on the children while you relax in the sun. If you're visiting in July and August, make sure you scope out the live music that takes place once a week, it's a great atmosphere and everyone's welcome to go along; from families and friends to couples.</p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Two outdoor pools</li>
<li>Children's paddling pool (open 8am - 8pm)</li>
<li>Live music once a week in July and August</li>
<li>Free Wi-Fi in lobby</li>
<li>Parking</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "2fc64ac4-659c-49c1-b69a-9b5ec8d885fb",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"0995bc83-e78a-4a46-b690-44feeb3433ce\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Hotel Palme's a great value hotel in the centre of Garda and a good choice for families. The lake's just a two minute walk away and you can reach the town centre in around five minutes. The hotel's two swimming pools and a children's paddling pool; perfect for cooling down after a long day of sightseeing and walking around Lake Garda.</p>
<p> </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/64060e98e3ea49179b70f5f16586c69f]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 45 mins by coach from Verona airport</li>
<li>300 metres to the centre of Garda</li>
<li>400 metres to the lake</li>
<li>400 metres to the ferry point</li>
<li>100 metres to the nearest bus stop</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at Hotel Palme today with Inghams. A family-friendly hotel, in a fantastic location near the centre of Garda.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Palme | Holidays in Garda | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>178</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Palme]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITGA0110]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Twin/Triple Rooms</strong> are around 16-19m² and sleep up to three people (the extra bed is a single sofa bed). They have a traditional style with a balcony or terrace.</p>
<p><strong>Single Rooms</strong> are around 12m² and have a shared terrace.</p>
<p>Standard Rooms sleeping two adults and two children (up to 10 years old) are available on request, please call to book.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air-conditioning (approx. mid Jun-mid Sept, turned on at the management's discretion)</li>
<li>TV</li>
<li>Shower stall</li>
<li>Hairdryer</li>
<li>Safe</li>
</ul>
<p>Cots are available on request for approx. €10 per day, payable locally.</p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €2.50 per person per night is payable locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[266524]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>