<?xml version="1.0" encoding="utf-8"?>
<genericListingPage guid="5ae8c1cd-62fc-4f8b-84b0-a5d589f22287" id="24331" nodeName="Winter Breaks in Northern Norway" isDoc="" updated="2021-12-13T18:25:22.5870000Z" parentGUID="99bd1d5d-9976-478a-8dd0-10121fc85958" nodeTypeAlias="genericListingPage" templateAlias="GenericListingPage" sortOrder="1" published="false" isBlueprint="false">
  <bodyText></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/33f1e87ee2c245cd8a2ecec753ce8df9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Winter Breaks in Northern Norway. Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Winter Breaks in Northern Norway 2017 - Short Break | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Winter Short Breaks in Northern Fjord Norway]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Brand new and exclusive to Inghams, our snow adventures are set north of the Arctic Circle and based on Norway's spectacular fjord coastline.</p>
<p> </p>
<p>All our 3 and 4 night holidays offer a wide range of unforgettable experiences included in the price. Our unique itineraries will introduce you to this wonderful region and its stunning scenery, such as boat trips on the fjords to visit authentic Sami camps, opportunities to spot the local wildlife plus a special guided evening excursion into the wilderness to find the best Northern Lights viewing spots.</p>
<p> </p>
<h2>There are the itineraries to choose from:</h2>
<div class="data-grid">
<table border="0">
<tbody>
<tr align="center">
<th>
<p>Polar Express Adventure - Narvik</p>
<p>3 nights (Depart Sun)<br />19 Feb 2017<br />from £979</p>
<p>4 nights (Depart Wed)<br />15, 22 Feb 2017<br />from £1,119</p>
<p> </p>
<p><a data-udi="umb://document/229b219729a54801a3d3e6affe22b40b" href="/{localLink:umb://document/229b219729a54801a3d3e6affe22b40b}" title="Narvik - Polar Express Adventure">More information &gt;</a></p>
</th>
<th>
<p>Wildlife Adventure - Vesterålen</p>
<p>3 nights (Depart Sun)<br />19 Feb 2017<br />from £989</p>
<p>4 nights (Depart Wed)<br />15, 22 Feb 2017<br />from £1,169</p>
<p> </p>
<p><a data-udi="umb://document/94fb0f2659f34e2e927f5d59d009f0f4" href="/{localLink:umb://document/94fb0f2659f34e2e927f5d59d009f0f4}" title="Vesteralen - Wildlife Adventure">More information &gt;</a></p>
</th>
</tr>
<tr align="left">
<td>• Direct non-stop return flights from Gatwick to Evenes</td>
<td>• Direct non-stop return flights from Gatwick to Evenes</td>
</tr>
<tr align="left">
<td>• Return coach transfers</td>
<td>• Return coach transfers</td>
</tr>
<tr align="left">
<td>• 4-star half-board hotel</td>
<td>• 3-star superior half-board hotel</td>
</tr>
<tr align="left">
<td>• Welcome Walk’ tour of Narvik</td>
<td>• Welcome Walk’ tour of Sortland</td>
</tr>
<tr align="left">
<td>• Northern Lights excursion</td>
<td>• Northern Lights excursion</td>
</tr>
<tr align="left">
<td>• Day-trip on the ‘Polar Express’ railway</td>
<td>• Whale watching trip off the coast of Åndenes</td>
</tr>
<tr align="left">
<td>• Husky-sledding</td>
<td>• Guided scenic coastal drive back from Åndenes along the National Tourist Route</td>
</tr>
<tr align="left">
<td>• Visit to the ‘Polar Wildlife Park’ to see foxes, wolves and other Arctic wildlife</td>
<td>• Visit to a working reindeer farm for authentic Sámi 'Lavvu' experience</td>
</tr>
<tr align="left">
<td>• Buffet lunch on excursion days</td>
<td>• Buffet lunch on excursion days</td>
</tr>
<tr align="left">
<td>PLUS ON THE 4-NIGHT BREAK:</td>
<td>• 2x guided 'In Search of the Northern Lights' excursions</td>
</tr>
<tr align="left">
<td>• Scenic Tour of Narvik, including trip to Narvik mountain for skiing and toboganning.</td>
<td>• Discover one of Norway's most important industries at Blokken salmon farm with a fresh fish lunch included.</td>
</tr>
<tr align="left">
<td>• Visit to the War Museum.</td>
<td>PLUS ON THE 4-NIGHT BREAK:</td>
</tr>
<tr align="left">
<td>• Sami farewell dinner.</td>
<td>• Guided scenic round trip from Sortland to the traditional fishing village of Nyksund.</td>
</tr>
<tr align="left">
<td> </td>
<td>• Live classical concert and farewell dinner in the coastal town of Melbu.</td>
</tr>
<tr align="left">
<td><a data-udi="umb://document/229b219729a54801a3d3e6affe22b40b" href="/{localLink:umb://document/229b219729a54801a3d3e6affe22b40b}" title="Narvik - Polar Express Adventure">More information &gt;</a></td>
<td><a data-udi="umb://document/229b219729a54801a3d3e6affe22b40b" href="/{localLink:umb://document/229b219729a54801a3d3e6affe22b40b}" title="Narvik - Polar Express Adventure">More information &gt;</a></td>
</tr>
</tbody>
</table>
</div>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/b49585f93afa4fa9bb0bf506c7aa71da]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericListingPage>