<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="6209486f-b4dc-4a7c-9c89-4019408ec2b4" id="34477" nodeName="Incorrect date of birth" isDoc="" updated="2021-07-06T09:55:14.0270000Z" parentGUID="5c826db5-6a59-4928-9e20-182bd23f3962" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="8" published="false" isBlueprint="false">
  <answer><![CDATA[<p>If your date of birth is incorrect on your confirmation invoice, we will need to amend this, and there may be an admin charge of £25 as a result. Please be aware that changing your date of birth may affect the cost of your holiday, or any extras that you may have pre-booked, due to child and senior discounts.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[My date of birth is incorrect, do I need to update it?]]></question>
</fAQItem>