<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="fc716e98-e20b-49ba-bfd7-7ee48dcb6769" id="26043" nodeName="Norway Late Deals" isDoc="" updated="2022-02-10T18:22:12.6830000Z" parentGUID="ed0bcafa-8542-4c78-b632-5c16c70223f6" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="43" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great on a lakes and mountains holiday in Norway. Book your summer 2022 holiday today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Norway Lakes & Mountains Late Deals - Book Holidays | Inghams]]></metaTitle>
  <offerCode></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Norway Lakes & Mountains Deals]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle></subTitle>
  <umbracoPermanentRedirect><![CDATA[umb://document/ed0bcafa85424c78b6325c16c70223f6]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>