<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="c657eae7-a4a1-4567-a425-b648e962eff4" id="22302" nodeName="Hotel Seiler au Lac" isDoc="" updated="2024-05-02T15:11:08.0630000Z" parentGUID="7456bae5-7241-449a-84a6-8959b62b2aba" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="3" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "0ee784e7-07fb-443e-aa9c-2dcc05f1ce70",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (book by 28 Feb): Free room upgrade to next category (n/a to Mini Suites, and all subject to availability)",
    "addedValueStart": "2019-09-09T16:58:24",
    "addedValueEnd": "2099-02-28T23:58:28",
    "hideAddedValue": "0"
  },
  {
    "key": "9d7cb424-0c10-47c0-8da4-07a2b03a6f3a",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Duration discount available (min stay 7 nights, discount automatically applied, not combinable with with free night offer, enhanced discount on stays from 18 May - 30 May and from 17 Sep - end of season)",
    "addedValueStart": "2023-11-30T14:43:54",
    "addedValueEnd": "2024-10-31T14:43:56",
    "hideAddedValue": "0"
  },
  {
    "key": "ebb1686e-affa-4703-b393-d397a6b54147",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night(s) offer available (min stay 10 nights, discount automatically applied, not combinable with duration discount)",
    "addedValueStart": "2023-11-30T14:44:57",
    "addedValueEnd": "2024-10-31T14:44:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/57144ebedf3442c28d1e0e5dfb507378,umb://media/ce0094cddcf04f87bb7f250f3c095924,umb://media/296a1c9706044eb99ddbcdf1328cb784,umb://media/aaf2d22e31c343d7836805b2fd1649de,umb://media/763934ea949d412a850cadffc72fd75b,umb://media/f3c8282c59f448c2b861756a721094fe,umb://media/6fa7ccee0f30476a900b0e88dadf3d25]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The daily buffet breakfast is served in the main restaurant which offers beautiful lake views.</p>
<p>Half board is offered six evenings a week. A four-course set menu is served in restaurant <strong>La Gare</strong> five nights of the week - Wednesday to Sunday. On Mondays and Tuesdays, La Gare is closed. On Tuesday you have half board included and this is taken in the in-house pizzeria which has a selection of pizza's, pasta's and meat dishes on the menu. On Monday, half board isn't included - the in-house pizzeria is open if you'd like to eat there à la carte, or you can head into the village and try one of the great local restaurants.</p>
<p>Throughout the week, if you prefer to choose from the à la carte menu instead of your half board meal, you'll receive a CHF25 per person credit. This offer can be used in the La Gare restaurant or the in-house pizzeria on Tuesday.</p>
<p>When weather permits you can enjoy your meals on the lakeside terrace.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel Seiler au Lac sits at the western tip of Lake Brienz in the village of Bönigen. Watch the boats and paddle streamers pass by from the large lakeside terrace, or head on a relaxing lakeside walk or boat trip - at the Seiler au Lac, it's all about enjoying life at the water's edge.</p>
<h2>Lakeside location</h2>
<p>The hotel is ten minutes by bus to central Interlaken, and the ferry port is just 80 metres away. From <a data-udi="umb://document/7456bae57241449a84a68959b62b2aba" href="/{localLink:umb://document/7456bae57241449a84a68959b62b2aba}" title="Interlaken">Interlaken</a> you can take the train to nearby <a data-udi="umb://document/0fe9200934b24cd49d20e1cea080f5da" href="/{localLink:umb://document/0fe9200934b24cd49d20e1cea080f5da}" title="Grindelwald">Grindelwald</a> from where you can head up to the Eigergletscher or Kleine Scheidegg, or on to the smaller mountain resorts of Wengen and Mürren.</p>
<h2>Enjoy the spectacular lake views from your balcony</h2>
<p>The hotel is homely throughout and there's a comfortable lounge, pizzeria and the Lake Restaurant La Gare where you can enjoy breakfast with a view.</p>
<p>All of the bedrooms are comfortably furnished and have a balcony - you can choose from either a garden view which gets the afternoon sun or upgrade to a lake view room for spectacular views.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free Wi-Fi</li>
<li>Lakefront terrace</li>
<li>Garden with sun loungers</li>
<li>Parking</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen available at a cost of CHF 15 per stay</li>
<li>Early children's meals available (from 6pm)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "1a97852b-c3b0-43bf-a10b-d4242fbdb10c",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"d02c11fd-5a05-45f7-ad02-a95d4049120a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[46.6887058]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p class="p1">Set on the edge of Lake Brienz in front of the boat landing stage and with a bus stop to nearby providing easy access to Interlaken. This traditional hotel enjoys a stunning lakeside location - make the most of the views and enjoy al fresco meals on the terrace.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ce0094cddcf04f87bb7f250f3c095924]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time: approx. 2hrs 30 mins by rail from Zurich airport or 3hrs by rail from Geneva airport. Your journey involves one or two changes of train. On arrival/departure a taxi/porter service is provided to transfer you from/to Interlaken Ost station.</li>
<li>300 metres from Bönigen village centre</li>
<li>60 metres to the nearest bus stop</li>
<li>600 metres to the nearest supermarket</li>
<li>80 metres to the boat station</li>
<li>3.4 kilometres from Interlaken town centre</li>
<li>2.4 kilometres from Interlaken Ost train station</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.8975563]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[42 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Seiler au Lac today with Inghams. Set in quiet location on the shores of Lake Brienz. Enjoy spectacular lake views and lake-front dining.]]></metaDescription>
  <metaTitle><![CDATA[Seiler au Lac | Holidays in Interlaken | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>35</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHIN0118]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>2</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Garden View Twins</strong> are around 20m² and sleep two people. They have a bath (with showerhead), and are west-facing with views of the garden and towards Niesen Mountain. These rooms are available on request - please call us to book.</p>
<p><strong>Superior Garden View Twins</strong> are more spacious than the Standard Garden View rooms.</p>
<p><strong>Superior Lake View Twins</strong> are around 29m² and sleep two to three (extra bed is a single sofa bed). They have a lake view, balcony and bath or shower. A double bed is possible in these rooms on request - please call us to book.</p>
<p><strong>Mini Lake Suites</strong> are around 29-35m² and can sleep two to four (extra beds are single sofa beds). They have a lake view, balcony, lounge area and bath (with showerhead). These rooms are on request - please call us to book.</p>
<p><strong>Single Garden View Rooms</strong> are around 14m² and have a bath or shower. They are on request - please call us to book.</p>
<p><strong>Single Lake View</strong> <strong>Rooms</strong> have a balcony and bath or shower.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Minibar fridge</li>
<li>Tea/coffee making facilities</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>
<p><strong>General Information</strong></p>
<ul>
<li>Check-in: <strong>4pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. CHF 2.80 per person per night is payable locally. Children aged 15 years and under are exempt.</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property: <strong>3</strong></li>
<li>Adapted rooms: <strong>0</strong></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Gluten-free, dairy-free, and vegan meals can also be provided on request.</p>
<p>Please let us know of any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[236365]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>