<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="1739e3e2-895a-4f21-be9e-40bd65a3679d" id="65505" nodeName="Chalet Ferme D'Elisa -Chalet Dahlia" isDoc="" updated="2024-04-15T17:24:53.5670000Z" parentGUID="4c93b881-bd49-4483-8716-97b278b37899" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="10" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/be4e3f3aebbe4e4daaf1bbc60d35d3eb,umb://media/c0dc6bdf6c824b21b49742fbea1eb316,umb://media/0fcc4a2f34284ea38d23f07956b961b4,umb://media/213ffb33413849c58cb2f0d8138eb4ab,umb://media/66b66f775ab3471d84b619bb0b99334a,umb://media/bfda559b89d740a2b279659905b91cb6,umb://media/2a0e07653e0e4de5ac1d9c2e66b900a1,umb://media/158c843ec4d147df88a38e3c5b7fd8fb,umb://media/3b2ef5a7ac1342b494a57dd9dedf976a,umb://media/4145865e734a4f70bad85163d0555cfd]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p><span>We set high standards for our cuisine, and train our staff extensively before the season starts, to ensure that Esprit guests will enjoy every meal with us. Our chalets includes a skiers' buffet breakfast to start your day, afternoon tea to welcome you 'home', and evening meals with a starter, main and dessert, plus wine and coffee to complete the evening.</span></p>
<ul>
<li>Continental buffet breakfast for 7 mornings with hot option provided on 6 mornings per week, served from 8am</li>
<li>Afternoon tea and coffee with cake on 6 days, served from 4pm</li>
<li>Prosecco<span> </span><span>apéritif before dinner on 6 days</span></li>
<li>3 course evening set menu, including a special regional menu on 1 night, is served 6 days and served from 7:30pm</li>
<li>Unlimited wine during dinner and tea/coffee </li>
<li>Special celebration menus on Christmas Day &amp; New Year's Eve</li>
</ul>
<p>(Breakfast hot option, afternoon tea &amp; dinner is 6 days per week due to chalet staff's day off)</p>
<p><strong>Our chalets are going greener, so our mountains don't.</strong></p>
<p><span>Our menu is changing for the better. In all of our chalets w</span><span>e're giving you more choice, with both meat-free and meat options on offer throughout your stay. This is driven as part of our commitment to reduce our carbon footprint.</span></p>
<p><span><strong>More information about <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="https://www.inghams.co.uk/ski-holidays/accommodation-options/chalets" title="Chalet">Chalet cuisine</a> catering.</strong></span></p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Chalet Dahlia is an attractive chalet apartment on the edge of the piste, sleeping up to twelve people - it is ideal for a group of family and friends travelling to<span> </span><a data-udi="umb://document/4c93b881bd494483871697b278b37899" href="/{localLink:umb://document/4c93b881bd494483871697b278b37899}" title="La Rosière">La Rosiere</a>. The chalet has its own host, who will look after you throughout the week, you can enjoy six days of chalet catering including a skiers breakfast, afternoon tea and delicious evening meals with wine included. Chalet Dahlia is shared with our sister company Esprit Ski who specialise in family ski holidays and childcare.<span></span></p>
<h2>Perfect location</h2>
<p>If you like hitting the slopes as early as possible and getting back in time for the après ski, you'll benefit choosing this catered ski chalet. Located 150 metres from the ski lifts, the chalet is a great choice for the keen skiers and boarders - plus the centre of resort is only a short walk away so you can make the most of the bars La Rosiere has to offer.</p>
<h2>Family friendly</h2>
<p><span>Chalet Dahlia is perfect for families, it is shared with our sister company Esprit Ski who specialise in family skiing holidays and childcare. La Rosiere is one of Esprit's main hubs for childcare, which can include infant care, Snow Club, Xtra lessons and Mountain Academy. Children booked into Esprit children’s ski lessons will be collected by our Esprit Rangers from the chalet and taken to the ski school meeting place. When booking this chalet with Inghams you can book your children into our Esprit childcare, just give our Reservations team a call to book.</span></p>
<h2>Ideal for sole occupancy groups </h2>
<p>With attractive bedrooms and the possibility to accommodate up to 12 people, invite your family and your friends to spend a week in this cosy chalet. The warm and welcoming lounge is a great spot to catch up with your family and friends with a bit of cake and a coffee after a day on the slopes. There is also a shared sauna downstairs for guests staying in the Ferme D'Elisa chalets.</p>
<h3><span>Our chalets are going greener, so our mountains don't</span></h3>
<p>Our menu is changing for the better. In all of our chalets we're giving you more choice, with both meat-free and meat options on offer throughout your stay. This is driven as part of our commitment to reduce our <a rel="noopener" data-udi="umb://document/67e40dbb55ff45098496ea2e7eee1f72" href="https://www.inghams.co.uk/about-us/sustainability" target="_blank" title="Sustainability">carbon footprint</a>.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge with fireplace</li>
<li>Shared heated ski and boot room</li>
<li>Unsupervised childrens snug</li>
<li>Shared sauna</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "d7714e0e-4b3c-4146-a11d-6799d4caa5b5",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"9cf5ddc3-d05f-4132-ab3c-3887fc245dcb\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>1</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Chalet Dahlia is an attractive chalet apartment in the Ferme d'Elisa building - situated just 150 metres from the ski lifts, this property is a great choice for families looking for a catered ski chalet in La Rosiere. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/be4e3f3aebbe4e4daaf1bbc60d35d3eb]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p> </p>
<ul>
<li>150 metres from the ski lift</li>
<li>Great location in La Rosiere</li>
<li>150 metres from the ski school meet point</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Dahlia sleeps twelve people in a comfortable chalet apartment, situated close to the ski lifts, this property is a good choice for families and friends looking for a catered ski chalet in France.]]></metaDescription>
  <metaTitle><![CDATA[Chalet Dahlia, La Rosiere - France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>3</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>12</p>]]></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Chalet Dahlia]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRRO0107]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation summary</strong></p>
<p><strong>Ground floor</strong></p>
<p>The shared sauna, ski and boot room and Esprit Snow Club room are location on the ground floor.</p>
<p><strong>Third floor</strong></p>
<p>The chalet entrance, dining area, living room with fireplace and stairs to Room Three are located on the third floor. Once you go up the internal stairs from the lounge, Room Three is a quad room with a double bed and bunk beds.                                                 </p>
<p><strong>Fourth floor</strong></p>
<p>The fourth floor has Suite 1 &amp; 2 - both rooms have a double and twin bedroom, plus a bathroom. The children's snug area is at the top of the stairs.</p>
<p> </p>
<p><strong>Room description</strong></p>
<ul>
<li>Room 3 sleeps four. Quad room with double and twin bunks in two inter connecting sleeping areas with shower and WC.</li>
<li><span>Suite 1 sleeps four. Twin room and double room with balcony, separated by central bath, shower, WC room and short open passage way.</span></li>
<li><span>Suite 2 sleeps 4. Twin room and double room with balcony, separated by central bath, shower, WC room and short open passage way.</span></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>1</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Chalet Dahlia can cater for special dietary requirements (vegetarian, vegan, gluten free and dairy free diets). Please inform us of any dietary requirements you may have at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1743008]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>