<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="c863546e-d7ff-4b3c-934c-6fef2477543d" id="65334" nodeName="Self Drive" isDoc="" updated="2024-01-30T10:37:06.8500000Z" parentGUID="9ccf4d09-6687-4637-9a21-9a2e315011b4" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="1" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<h2>Self-Drive Holidays 2024/2025</h2>
<p>Travel at your own speed and opts for self-drive. We'll help recommend the best route and sort your ferry or Channel Tunnel tickets, so you can enjoy the comfort of your own car and set your own pace to resort.</p>
<p><img src="/media/13100457/fotolia_4627553_l_1_-1.jpg" alt="selfdrive" data-udi="umb://media/1112c2c12dc142bf91023cdc26e2003d" /></p>
<h2>Step into the driver's seat of your next adventure</h2>
<p>Fly in, pick up your car, and start exploring. We’ve mapped out some great itineraries to ensure every twist and turn is a visual treat, and every pit stop, a memorable moment.</p>
<h3>How to book</h3>
<p>To book your self-drive holiday, simply give us a call on <a href="tel:01483791111" class="InfinityNumber">01483 791111. </a>Or <a data-udi="umb://document/e5b8abf94a554299a3960566b88e9193" href="/{localLink:umb://document/e5b8abf94a554299a3960566b88e9193}" title="Contact Us">contact us</a> online to find out more.</p>
<p> </p>
<div class="white_box_shadow">
<h3>Self-drive Holiday FAQs</h3>
<p><strong>How do I book? - </strong>To book self-drive, you must call to book on <a href="tel:01483791111" class="InfinityNumber">01483 791111. </a></p>
<p><strong>How much can I save? - </strong>It depends on which date you travel and the type and time of your channel crossing.</p>
<p><strong>Is the ferry crossing included in the price of my holiday? - </strong>Yes, the ferry crossing from Dover to Calais is included and we can arrange a Le Shuttle (formerly known as Eurotunnel) crossing as well. The m<span>ajority of our guests will choose to drive to </span><a data-udi="umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5" href="/ski-holidays/ski-resorts/france" title="France">France</a><span> due to it's close proximity to England. However for example, if you are living in </span><a data-udi="umb://document/7cc7c659d5214aa9b4d7bed936a721bb" href="/ski-holidays/ski-resorts/austria" title="Austria">Austria</a><span> and want to head to </span><a data-udi="umb://document/996aa9008def4ffe9a331c775cc97902" href="/ski-holidays/ski-resorts/italy" title="Italy">Italy</a><span> for your winter holiday, we can make that happen.</span></p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Self-Drive Holidays - save when you travel to resort by car with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Self-drive | Walking Holidays by car | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Self-Drive]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Travel to resort by car - how? why? how much can I save?</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/1112c2c12dc142bf91023cdc26e2003d]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>