<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="3a72c53e-fef8-4bdc-a717-7a682f169be0" id="55691" nodeName="Zermatt" isDoc="" updated="2024-12-03T11:56:07.4700000Z" parentGUID="2146c02a-a336-4cbe-b1c0-ef9561bc4426" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="11" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy></departurePointSortBy>
  <departurePointSortOrder></departurePointSortOrder>
  <description><![CDATA[Get ready to embark on a Inghams Walking holiday to Zermatt in 2025 and embrace the beauty of the great outdoors. Travel, transfers and accommodation included. Book your holiday with no deposit when you choose to pay monthly with our new direct debit option. T&Cs apply.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Book your Zermatt walking holiday for summer 2025 with Inghams. Embrace the beauty of the great outdoors and secure your perfect holiday package to Zermatt.]]></metaDescription>
  <metaTitle><![CDATA[Zermatt Walking Deals 2025 | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SUMMER-2023-ZERMATT",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-SUMMER-2023-ZERMATT",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Zermatt 2025 Walking Deals]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/c250ae04984d4f0d9f1131b1732fe244",
    "promotionBannerMobile": "umb://media/a47a42f867d7461d946b42c6fe9f84c3",
    "promotionLink": "[]",
    "promotionStartDate": "2023-03-14T00:00:00",
    "promotionEndDate": "2023-04-02T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Looking to explore Zermatt in 2025?]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p><span>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</span></p>]]></zeroResultsText>
</offersPage>