<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="8734888d-0897-4cd7-b81b-abb75642ddbc" id="55711" nodeName="Neapolitan Riviera" isDoc="" updated="2023-12-08T21:05:46.5400000Z" parentGUID="c9869bf0-e4e9-431d-98d0-277c1db49284" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="52" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Looking for walking deals in Neapolitan Riviera? Browse our latest offers. Flights, transfers and accommodation are included in the price.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great late deal on a Neapolitan Riviera holiday in Italy with Inghams. Here are our current deals. Book your holiday today, at a great price.]]></metaDescription>
  <metaTitle><![CDATA[Neapolitan Riviera Deals | Italy Latest Deals | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-ITALY-NEAPOLITAN-LATE-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-ITALY-NEAPOLITAN-LATE-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Neapolitan Riviera Summer Deals]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/cc57098e7ae241fd919a2f436b767c82",
    "promotionBannerMobile": "umb://media/8139439e8daa4489bd6ce8e6f814b272",
    "promotionLink": "[]",
    "promotionStartDate": "2023-02-13T00:00:00",
    "promotionEndDate": "2023-04-03T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Our latest Neapolitan Riviera walking offers for 2024]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>
<h3><a data-udi="umb://document/6513a747ea8a46b899cfd4357ca2743b" href="/{localLink:umb://document/6513a747ea8a46b899cfd4357ca2743b}" title="Italy"><span>Alternatively, view our other Italy deals &gt;&gt;</span></a></h3>]]></zeroResultsText>
</offersPage>