<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="27382cfb-f322-480c-a177-d2eb66efdc9c" id="69732" nodeName="Christmas Ski Deals" isDoc="" updated="2024-04-04T14:35:25.0830000Z" parentGUID="9040a459-1170-46fb-aae7-61e49e6d3b7e" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="0" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Next Winter Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/960b373c69434d9ea227fe18b1770f8d",
    "externalLink": "",
    "linkName": "Christmas Ski Deals",
    "linkTitle": "Christmas Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>