<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="cf98628a-15f8-4ce1-8c3a-1a26e667dac6" id="30931" nodeName="Are vouchers issued for excursions?" isDoc="" updated="2018-09-19T15:53:09.3130000Z" parentGUID="0cad61f0-3d8e-42c4-8799-cf871523f282" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="23" published="false" isBlueprint="false">
  <answer><![CDATA[<p>For guests who have pre-booked one of our other exciting activities vouchers for these will be issued in your welcome information pack provided on arrival at Kittilä Airport. Activities can also be booked locally, subject to availability, but we recommend you pre-book in advance to guarantee your place.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Are vouchers issued for excursions?]]></question>
</fAQItem>