<?xml version="1.0" encoding="utf-8"?>
<reskinProductGoodToKnowSectionContainer guid="45a0350b-5420-4222-a6af-c0b7ffdae677" id="60812" nodeName="Good to know Section" isDoc="" updated="2023-10-25T17:17:06.9830000Z" parentGUID="25e767db-0444-4438-9ae0-9383681f982e" nodeTypeAlias="reskinProductGoodToKnowSectionContainer" templateAlias="" sortOrder="6" published="true" isBlueprint="false">
  <goodToKnowDescription><![CDATA[<p>For everything you need to make your ski holiday this winter, look no further. Whether you need to book your lift pass, are interested in hiring some eco friendly ski gear, or want to find out more about how we're making ski holidays with Inghams more sustainable, you'll find it here. </p>]]></goodToKnowDescription>
  <goodToKnowTitle><![CDATA[Good to know]]></goodToKnowTitle>
</reskinProductGoodToKnowSectionContainer>