<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="644794b7-e834-4a42-904b-b2bf6195bbb6" id="69739" nodeName="April Ski Deals" isDoc="" updated="2024-04-04T14:34:57.2730000Z" parentGUID="9040a459-1170-46fb-aae7-61e49e6d3b7e" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Half Term Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/6497964be5a14103b72d3aea482a5dd5",
    "externalLink": "",
    "linkName": "April Ski Deals",
    "linkTitle": "April Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>