<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="d6a5b04b-c704-4b2f-aaf1-e005d8d9bc7c" id="23570" nodeName="Yllas Saaga Apartments" isDoc="" updated="2024-04-25T17:49:23.5800000Z" parentGUID="cc68d9ee-210a-4063-af0a-51552472263c" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="6" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription><![CDATA[Check out our great offers available for Ylläs Saaga Apartments]]></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4,6]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/9e4b62111bca47e5bea4cc5ffa450ae5,umb://media/10ebd7e242164e4496448a3ca5bbc35d,umb://media/9cf5c0d421ef45f59a68ca5f08e1c0e6,umb://media/a613fc24cb6f4ac2b5a28d2a435a8655,umb://media/24a304e2302d41f0933b7f0b44f608cb,umb://media/88abf4dc91254e95b2f06c5d62c44c8e,umb://media/aedcd06f31b641cdb64d4a19fe750321,umb://media/b2b4ef6c72b34807bf80aede547aab40,umb://media/1ebec5e9c3064d629838f239d8d083da,umb://media/4b3599a2d52c4cc3bc4bf1f3b1cdf7dc]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Yllas Saaga Apartments are self-catering apartments within walking distance of the local mini-market. All apartments are equipped with a small kitchenette, giving you the option to dine in or check out the local restaurants in the village</p>
<p>Optional pre-bookable half board option is also available in the <a data-udi="umb://document/3afff877d41a4e3db0dd313844ee3446" href="/{localLink:umb://document/3afff877d41a4e3db0dd313844ee3446}" title="Yllas Saaga Spa Hotel">Ylläs Saaga Hotel</a> (up to a 300 metre walk). The breakfast is buffet style with hot and cold options, served from 7am - 10am. Dinner is three courses with a choice of main, available from 6pm - 7.30pm. </p>
<p>Guests can receive a 30% discount for the <span>à la carte restaurant. Please inform the reception by 6pm the day before. Please note that the à la carte restaurant is not guaranteed to be open all season.</span></p>
<p>Festive Feast included for all guests during December, for a Christmas celebration, games. </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Ylläs Saaga Apartments have a convenience slope side location, making these apartments virtually ski in, ski out. Plus there are wonderful views as far as the eye can see. admire the <span>fell or the snow covered horizon.</span> The apartments are on the Ylläsjarvi side of the fell, a short bus ride from the <a data-udi="umb://document/cc68d9ee210a4063af0a51552472263c" href="/{localLink:umb://document/cc68d9ee210a4063af0a51552472263c}" title="Yllas">Akaslompolo</a> centre, plus the ski lifts, ski school meeting place and ski hire shop are just next door.</p>
<h2>Slope side apartments</h2>
<p>Located on the Ylläsjarvi side of the fell, the Saaga Apartments are ideal for keen skiers and boarders, as the slopes and ski lifts are a snowballs throw away - making it incredibly easy to get on and off the piste each day. An added benefit being the ski school meeting point and ski hire shop are conveniently located next door. Lapland offers a unique skiing experience as the slopes are floodlit, allowing you to ski on the gentle slopes from sunrise to sunset - even when there are limited daylight hours. </p>
<h2>Modern and spacious</h2>
<p>The apartments are modern and spacious, furnished in a contemporary Nordic style, with all the features needed for a week in Lapland including a TV, kitchen, drying cabinet and a sauna. The Saaga apartments are set out across different blocks, with one block being connected to the hotel and another block being around 300 metres from the hotel.</p>
<p>The apartments form part of the resort with the <a data-udi="umb://document/3afff877d41a4e3db0dd313844ee3446" href="/{localLink:umb://document/3afff877d41a4e3db0dd313844ee3446}" title="Yllas Saaga Spa Hotel">Ylläs Saaga Hotel</a>. Pre-book the optional 'Spa Package' where you can enjoy the excellent spa facilities,<span> including an indoor swimming pool, sauna, steam room and hot tub for the duration of your stay (pre-book or pay locally). </span></p>
<h2>Eat in or dine out</h2>
<p>The apartments are on a self-catering basis, with a equipped kitchen it is easy to cook tasty meals from the comfort of your apartment. In addition to cafes, shops, and restaurants, there is a well-stocked supermarket in the village centre. There is also the option to upgrade to half board in the <a data-udi="umb://document/3afff877d41a4e3db0dd313844ee3446" href="/{localLink:umb://document/3afff877d41a4e3db0dd313844ee3446}" title="Yllas Saaga Spa Hotel">Ylläs Saaga Hotel</a> (approx. 150 metre walk), you can enjoy a breakfast buffet with hot and cold options, and a three course dinner each day.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>All Facilities are situated in the Ylläs Saaga Hotel</strong></p>
<ul>
<li>Spa Package - 7 days entry to the Saaga Spa (pre-bookable or payable locally) </li>
<li>Spa with large indoor pool, children's pool &amp; play area, saunas, hot tubs and steam room (pre book or pay locally)</li>
<li>Fitness room (pay locally)</li>
<li>Spa treatments and massages (pay locally)</li>
<li>Lounge</li>
<li>Café</li>
<li>A la carte restaurant </li>
<li>Fireplace Bar</li>
<li>Wi-Fi</li>
<li>Parking </li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "4d8eea21-76a0-4038-8f04-621e07f0e725",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"a246f66a-2bbc-4259-a0ee-7a23d19c9512\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[67.551603]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Modern self-catering apartments forming part of the <a data-udi="umb://document/3afff877d41a4e3db0dd313844ee3446" href="/{localLink:umb://document/3afff877d41a4e3db0dd313844ee3446}" title="Yllas Saaga Spa Hotel">Ylläs Saaga Hotel</a> Resort with its excellent spa facilities (pre-bookable or payable locally). The slope-side property offers great convenience with panoramic views over the surrounding Lappish countryside and the Ylläsjarvi side of the fell. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/9e4b62111bca47e5bea4cc5ffa450ae5]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p> </p>
<ul>
<li>Virtually ski in/ ski out </li>
<li>Gondola runs next to the hotel</li>
<li>Ski school and ski hire shop next door</li>
<li>Ylläsjärvi side of the fell</li>
<li>Apartments may be up to 300 metres from the hotel</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[24.252600]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[120 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[A modern slope side self-catering apartments interconnected with the Ylläs Saaga Hotel. Book today!]]></metaDescription>
  <metaTitle><![CDATA[Yllas Saaga Apartments, Yllas Lapland-Finland, Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>120</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ylläs Saaga Apartments]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FIYL0106]]></propertyCode>
  <propertyType><![CDATA[0]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>2</restaurants>
  <roomsDescription><![CDATA[<p><strong>One Bedroom Apartments </strong>are around 43m², sleeping one to four people. The apartments have one twin bedroom and a double sofa bed in the open plan living room and kitchen.</p>
<p><strong>Two Bedroom Apartment</strong> are around 62m², sleeping two to six people. The apartments have two twin bedrooms and a double sofa bed in the open plan living room and kitchen.</p>
<p>There is a mid-week clean with towel and linen change. End of stay cleaning is included.</p>
<p><strong>Apartment facilities</strong></p>
<ul>
<li>Balcony or terrace</li>
<li>Sauna</li>
<li>Drying closet</li>
<li>TV </li>
<li>Radio</li>
<li>Fully equipped kitchen with oven, microwave, dishwasher, coffee-maker, grill and toaster</li>
<li>Shower and WC</li>
<li>One linen and towel set included, per person per week</li>
<li>Final clean included </li>
<li>Free Wi-Fi access in the hotel reception</li>
<li>Apartments which are not connected to the main building have Wi-Fi. Apartments connected to the hotel access have internet access via a cable suitable for laptops (free Wi-Fi in the lobby).</li>
</ul>
<p>The Saaga Apartments will always try to situate our guests in the block connected to the hotel, however guests may also be located in nearby apartment blocks which are not directly connected to the hotel and are up to a 300 metre walk away.</p>
<p>For hotel rooms check out the <a data-udi="umb://document/cc68d9ee210a4063af0a51552472263c" href="/{localLink:umb://document/cc68d9ee210a4063af0a51552472263c}" title="Yllas">Ylläs Saaga Hotel</a>. </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The <a data-udi="umb://document/3afff877d41a4e3db0dd313844ee3446" href="/{localLink:umb://document/3afff877d41a4e3db0dd313844ee3446}" title="Yllas Saaga Spa Hotel">Saaga Hotel</a> can cater to special dietary requirements including vegetarian, vegan, gluten free and dairy free meal on request. <span>Please advise of any specific dietary requirements at the time of booking</span> and make the hotel staff aware on arrival.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[1168390]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>