<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelItem guid="42f93920-2386-4f0a-b900-c32270749efd" id="28769" nodeName="Summer 2023 Holidays" isDoc="" updated="2023-04-14T16:52:27.9900000Z" parentGUID="599bf25b-1acf-4f80-aabb-b59b3b52a76e" nodeTypeAlias="productFeaturePanelItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <contentLink><![CDATA[[
  {
    "name": "2023 Holidays",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/a6804a9d8b734b4aa6983fa44ceba70d",
    "externalLink": "",
    "linkName": "2023 Holidays",
    "linkTitle": "2023 Holidays"
  }
]]]></contentLink>
  <imageUrl><![CDATA[umb://media/435be7c5912c47589ad3867330999ae6]]></imageUrl>
  <isPriceVisible>0</isPriceVisible>
  <isTitleVisible>1</isTitleVisible>
  <isVisible>1</isVisible>
  <itemPosition>0</itemPosition>
  <linkType><![CDATA[0]]></linkType>
  <offerSettings></offerSettings>
  <price></price>
  <title><![CDATA[Summer 2023 Holidays]]></title>
</productFeaturePanelItem>