<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="3eb6b2a0-6368-4fc4-90b9-a2899500fcbe" id="67418" nodeName="Best snowfall" isDoc="" updated="2024-01-24T16:20:46.3200000Z" parentGUID="9cda25a1-77d6-49ab-a8cd-8d73a1d9c82e" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="1" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>We know the importance of fresh powder on the slopes to our customers, so we have done the research for you and taken a look back at some of the ski resorts with the most snow from previous years.</p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/773e36f0e41d4625b7518a431bb72ec0]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[Historic snow info]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[ski]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Ski resorts with the best snowfall",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/483ca58e4e3540a08787e9ad469808f3",
    "externalLink": "",
    "linkName": "Ski resorts with the best snowfall",
    "linkTitle": "Ski resorts with the best snowfall",
    "linkTitleColor": ""
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>