<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="a08d174e-43a9-42aa-a8f3-1009f02fd24a" id="23880" nodeName="Mont Blanc Discovery" isDoc="" updated="2021-12-29T12:22:46.7030000Z" parentGUID="1de37eee-48bd-4c47-808b-cb5768adc9b9" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="39" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12"><img src="/media/13054386/monte-bianco-discovery.jpg" alt="Mont Blanc Express" rel="879,452" /></div>
<div> </div>
<!--start left column-->
<div class="g7">
<div class="white_box_shadow">
<p style="text-align: center; font-size: 20px; font-weight: bold;">For more information or to book our Twin Centre Holidays &amp; Tours please call 01483 79 11 11</p>
<p>Experience the beauty of Europe’s two highest mountains, Mont Blanc and Monte Rosa, on this 14-night holiday linking Chamonix in France with Champoluc in Italy. For your travelling convenience, we have arranged flights outbound into Geneva and back to your home UK airport from Milan, whilst accommodation is in two of our comfortable Chalet Hotels, professionally run by friendly and knowledgeable Inghams staff.</p>
<h2>Itinerary</h2>
<p><strong>Days 1-7</strong><br />Arrive via Geneva, and spend 7 nights in <a data-udi="umb://document/2735e2389f7c411cb3061226ce7548d1" href="/{localLink:umb://document/2735e2389f7c411cb3061226ce7548d1}" title="Chamonix">Chamonix</a>, staying in our exclusive <a data-udi="umb://document/98e5917964c04bbf9caa7f5e69e9874e" href="/{localLink:umb://document/98e5917964c04bbf9caa7f5e69e9874e}" title="Chalet Hotel Sapinière">Chalet Hotel Sapinière</a>.</p>
<p><strong>Day 8</strong><br />The journey to Champoluc (approx. 2 hours driving time), is as much an excursion as a ‘transfer’! Travelling by coach from the foothills of <strong>Mont Blanc</strong> to the glorious scenery of the <strong>Monte Rosa</strong> region is a highlight of the holiday. After crossing the border via the engineering wonder that is the Mont Blanc Tunnel, we break the journey halfway with a visit to the historic Italian town of Aosta. We spend about an hour or so in the town, then it’s time for a delicious home-grown and home-cooked 2-course lunch at a traditional 'Agriturismo' restaurant, Maison Rosset. The lunch includes wine, mineral water and herbal teas. We then include a tour of the farm as an introduction to the agriturismo concept, then complete our journey to Champoluc. (And of course, your luggage will be securely looked after during the stop.)</p>
<p><strong>Days 8-14 </strong><br />Your second week is at <a data-udi="umb://document/1acfb0941e8143a4bb0dd17fcbf238ee" href="/{localLink:umb://document/1acfb0941e8143a4bb0dd17fcbf238ee}" title="Chalet Hotel Breithorn">Chalet Hotel Breithorn</a>, in <a data-udi="umb://document/b45a359445114107972cbb2b00be85ae" href="/{localLink:umb://document/b45a359445114107972cbb2b00be85ae}" title="Champoluc">Champoluc</a>.</p>
<p><strong>Day 15<br /></strong>Transfer to Milan (Malpensa) for your return flight to the UK.</p>
<p>Please refer to relevant resort pages for descriptions of all hotels and resorts. All optional excursions in <a data-udi="umb://document/2735e2389f7c411cb3061226ce7548d1" href="/{localLink:umb://document/2735e2389f7c411cb3061226ce7548d1}" title="Chamonix">Chamonix</a> and <a data-udi="umb://document/b45a359445114107972cbb2b00be85ae" href="/{localLink:umb://document/b45a359445114107972cbb2b00be85ae}" title="Champoluc">Champoluc</a> are bookable locally via your Representatives.</p>
<h2>Accommodation</h2>
<p><strong>Chamonix</strong><br /><a data-udi="umb://document/98e5917964c04bbf9caa7f5e69e9874e" href="/{localLink:umb://document/98e5917964c04bbf9caa7f5e69e9874e}" title="Chalet Hotel Sapinière">Chalet Hotel Sapinière</a></p>
<p><strong>Champoluc</strong><br /><a data-udi="umb://document/1acfb0941e8143a4bb0dd17fcbf238ee" href="/{localLink:umb://document/1acfb0941e8143a4bb0dd17fcbf238ee}" title="Chalet Hotel Breithorn">Chalet Hotel Breithorn</a></p>
<br />
<h2>Inghams Plus Offers</h2>
<ul>
<li>Exclusive border crossing excursion including a short visit to Aosta and a fantastic homemade lunch with wine in Aosta at the Maison Rosset, followed by a tour of the restaurant's organic farm</li>
<li>Free packed lunches throughout your stay</li>
<li>Free use of local bus and train travel in Chamonix</li>
<li>Inghams Rep based in both resorts </li>
</ul>
<br />
<h2>What's Included</h2>
<ul>
<li>Return flights from the UK into Geneva and departing from Milan</li>
<li>All transfers including the journey between Chamonix and Champoluc</li>
<li>Accommodation with private bath or shower in each Chalet Hotel plus a balcony in Chamonix</li>
<li>Half board meals, packed lunch, afternoon tea and cake, wine with dinner and tea and coffee all day</li>
</ul>
</div>
</div>
<div>
<div class="g5">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th colspan="2" scope="col">Prices per person (£)</th>
<th scope="col">Monte Blanc Discovery <br />Twin Centre Holiday</th>
</tr>
<tr>
<td colspan="2">Holiday Code</td>
<td align="center">FRXX3006</td>
</tr>
<tr>
<td colspan="2">Depart</td>
<td align="center">Half Board Plus</td>
</tr>
<tr>
<td colspan="2">No. of nights</td>
<td align="center">14</td>
</tr>
<tr>
<td colspan="2">Depart</td>
<td align="center">Wednesday</td>
</tr>
<tr>
<td colspan="2">
<p>Jun 13</p>
<p>      20</p>
<p>      27</p>
<p>Jul  4</p>
<p>      11</p>
<p>      18</p>
<p>      25</p>
<p>Aug 1</p>
<p>       8</p>
<p>      15</p>
</td>
<td align="center">
<p>£1,159</p>
<p>£1,179</p>
<p>£1,179</p>
<p>£1,179</p>
<p>£1,179</p>
<p>£1,199</p>
<p>£1,199</p>
<p>£1,199</p>
<p>£1,189</p>
<p>£1,179</p>
</td>
</tr>
<tr>
<td colspan="2">Supplements and reductions per person per week</td>
<td>
<p style="font-size: 80%;"><strong>Chamonix</strong> Room upgrades from £21 to £64. Rooms for Sole Occ. from £0 to £119.</p>
<p style="font-size: 80%;"><strong>Champoluc</strong> Room upgrades from £14 to £59.50</p>
</td>
</tr>
<tr>
<td colspan="3">
<p style="font-size: 80%;">Prices include flights, resort transfers, accommodation and services of Inghams Rep. Prices and supplements are correct at time of going to print but may vary up or down; correct prices will be advised at the time of booking.</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="g5">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th colspan="2">Transfers</th>
</tr>
<tr>
<td colspan="2" align="center"><strong>Geneva to Chamonix: </strong>1¼ hrs by coach<strong><br />Milan to Champoluc: </strong>1¾ hrs by coach<strong><br /></strong></td>
</tr>
<tr>
<th colspan="2" align="center">Flights (Depart Wednesday)</th>
</tr>
<tr>
<td colspan="1" align="center">Gatwick<br />Heathrow<br />Luton<br /> Manchester<br />Edinburgh</td>
<td colspan="1" align="center">NIL<br />NIL<br />NIL<br /> £49<br />£69</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div> </div>
<div class="g12">
<div class="white_box_shadow">
<h2>Please call our reservations team on 01483 79 11 11 to book this holiday</h2>
<p><strong>General Terms and Conditions:</strong> All prices, offers and availability are correct at time of publishing, are subject to change &amp; availability and can be withdrawn at any time. All prices are per person based on maximum occupancy of a room or apartment and on the lowest priced departure point, supplements for other flights/airports may apply.</p>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Mont Blanc Discovery with Inghams -14 nights holiday to Chamonix and Champoluc. View the full itinerary and dates here. Call 01483 79 11 11 to book now.]]></metaDescription>
  <metaTitle><![CDATA[Monte Blanc Discovery Summer 2018 - France & Italy | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Experience the beauty of Europe’s two highest mountains, Mont Blanc and Monte Rosa, on this 14-night holiday linking Chamonix in France with Champoluc in Italy.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/9b6c2d9535bc43e7add3138c06748175]]></thumbnail>
  <title><![CDATA[Mont Blanc Discovery - Twin Centre Chamonix & Champoluc]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/1de37eee48bd4c47808bcb5768adc9b9]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>