<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="b829224f-1cd5-450d-89a6-2e83da08b96d" id="24304" nodeName="Grand Hotel Vittoria" isDoc="" updated="2024-05-21T11:14:23.6430000Z" parentGUID="ddef5c7c-9bdb-4757-92ae-27614a6308b8" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Accessible rooms are available on request, please call to book.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "9ca7e257-ff89-4915-8583-40809d041cda",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 24 (bookings made up until 90 days prior to arrival in resort)",
    "addedValueStart": "2023-11-05T15:34:35",
    "addedValueEnd": "2024-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "ad62a30c-f535-4f2c-a5dc-c653ec9a2809",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free nights available for summer 24 (min 8 night stay)",
    "addedValueStart": "2023-11-05T15:35:37",
    "addedValueEnd": "2024-10-31T15:35:40",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/d09efe78530a4a84bc36936e98dfb66e,umb://media/2c0e0e9ad8e1494c89e88e9718bf4a57,umb://media/2f6fa1ae2b4d410db82f68c86a32f8c3,umb://media/3fd6496ea08f4fcdafedb02d8ba1bbb0,umb://media/7a1fb4f6b1e64bfb934483abef6b8b88,umb://media/c8d6514c9e8743bba44f48271e00e6cd,umb://media/70090d3229cc420296823e107c5a69ce,umb://media/8c74a785da404fa3a026dbc7130c7736]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Each morning you can enjoy an extensive buffet breakfast with hot options. If you upgrade to half board, you'll have a delicious four-course meal in the main restaurant.</p>
<p><strong>Hall of Crystals </strong>is the hotel's main dining room. The chef makes Tuscan food with and some of the ingredients used are sourced from within zero kilometres of the hotel.</p>
<p><strong>Restaurant 911 </strong>serves creative and refined dishes and has a smart casual dress code. </p>
<p><strong>Liberty Bar </strong>is on the ground floor of the restaurant and is a great spot for enjoying an espresso or even a cocktail in the evening. </p>
<p>Early meals for children are available 30 minutes before the dinner service. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Grand Hotel Vittoria dates all the way back to 1900 and has an excellent quality throughout. It has quiet surroundings and the gardens and pool are the perfect place to get away from it all. The terrace is one of our favourite places to enjoy a peaceful glass of prosecco after a day walking around Montecatini and the Tuscan countryside.</p>
<h2>Relaxing in the Liberty Spa</h2>
<p>The Liberty Spa is the perfect place to relax and make use of their sauna, steam room and whirlpool (payable locally). There are two restaurants that serve authentic Tuscan cuisine made using locally sourced produce. Take a seat in the Liberty bar and enjoy a cocktail or a soft drink before or after dinner. </p>
<h2>A stone's throw from central Montecatini</h2>
<p>Staying here you'll be within walking distance of the Parco Terme and the thermal baths. In town you'll find shops and lots of restaurants to choose from. Borrow one of the hotel bikes to explore the local area, or even hire an e-bike (payable locally). The close proximity to the train station means that you can easily take day trips to other Tuscan towns like Lucca and <a data-udi="umb://document/8b79e45930f145f6b156a9152415fa9b" href="/{localLink:umb://document/8b79e45930f145f6b156a9152415fa9b}" title="Florence">Florence</a>.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Pool &amp; Spa facilities</strong></p>
<ul>
<li>Outdoor swimming pool</li>
<li>Massages and beauty treatments -20% discount available for hotel guests</li>
<li>Pool towels are available free of charge</li>
<li>Pool bar serving drinks and snack throughout the day</li>
<li>Liberty Spa with whirlpool, steam room, sauna and treatments (approx. €25 per use, payable locally)</li>
</ul>
<p><strong>Hotel facilities</strong></p>
<ul>
<li>Free Wi-Fi</li>
<li>Garden terrace</li>
<li>Free bike hire </li>
<li>Fitness room</li>
<li>E-bike hire (payable locally)</li>
<li>Free parking</li>
<li>Garage (payable locally)</li>
<li>Tuscan cooking classes (on request, payable locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "8911693c-34d9-4a61-8118-8a5db72f8ee0",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"cce2a0db-ad42-446d-8b7e-48d05dd84493\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>3</interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Grand Hotel Vittoria is within walking distance of Montecatini's best sights, and the train station for trips further afield. There's an air of luxury here thanks to the historic building and excellent quality throughout - make sure you stay for dinner for some great local food.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/2c0e0e9ad8e1494c89e88e9718bf4a57]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 50 mins by shared transfer from Pisa airport</li>
<li>300 metres to the centre of Montecatini</li>
<li>200 metres to the Parco Terme</li>
<li>400 metres to the nearest bus stop</li>
<li>850 metres to Montecatini train station</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at the Grand Hotel Vittoria today with Inghams. It's in a peaceful location in the spa town of Montecatini Terme.]]></metaDescription>
  <metaTitle><![CDATA[Grand Hotel Vittoria | Holidays in Montecatini  | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>81</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4.5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Grand Hotel Vittoria]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITMT0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Rooms</strong> are about 16 - 18m² and sleep up to two people. They have wooden floors, comfortable beds and are fresh and bright.</p>
<p><strong>Superior Rooms</strong> are about 16 - 18m² and sleep up to two people. They have a small balcony with a table and two chairs and bathrobes.</p>
<p><strong>Deluxe Rooms</strong> are more spacious at about 20m² and sleep up to two people. These rooms have tea and coffee making facilities and bathrobes are provided.</p>
<p><strong>Junior Suites</strong> are about 35m² and can sleep up to four people. They have tea and coffee making facilities and bathrobes are provided. These rooms are available on request, please call to book. </p>
<p><strong>Suites </strong>are the largest rooms in the hotel at about 55m² and sleep up to four people and bathrobes are provided. Guests staying in these rooms will have access to the outdoor whirlpool. These rooms are available on request, please call to book. </p>
<p><strong>Classic Rooms for sole use</strong> are about 16m² and available on request, please call to book. </p>
<p>Interconnecting rooms are located on the first, second and third floor of the hotel and are available on request, please call to book.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air-conditioning (turned on at the managers discretion during high summer (approx. Jun - early Sept)</li>
<li>Shower (Suites have a bath or a shower)</li>
<li>TV</li>
<li>Hairdryer</li>
<li>Minibar</li>
<li>Safe</li>
</ul>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €1.40 per person per night is payable locally.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers><![CDATA[<p> </p>
<p> </p>]]></specialOffers>
  <stars></stars>
  <steps>20</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[13093309]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>