<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="9856a705-6d74-4062-8a72-107218b5ac77" id="49719" nodeName="Summer 2022" isDoc="" updated="2023-04-17T19:15:34.8530000Z" parentGUID="731184fa-7b97-42f0-a969-771e90773289" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="37" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <metaDescription><![CDATA[Book your next tour & multi-centre holiday and take advantage of our early booking offers on selected summer holidays for 2022 with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Summer Tours & Multi-centre Holidays 2022 | Inghams]]></metaTitle>
  <offerCode></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Tours & Multi-centre 2022 holidays]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle></subTitle>
  <umbracoPermanentRedirect><![CDATA[umb://document/731184fa7b9742f0a969771e90773289]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p><span>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</span></p>]]></zeroResultsText>
</offersPage>