<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="0389a68a-c7a0-4108-9c66-109643b30e41" id="68884" nodeName="National Outdoor Expo Competition" isDoc="" updated="2024-03-24T11:00:10.9670000Z" parentGUID="b49585f9-3afa-4fa9-bb0b-f506c7aa71da" nodeTypeAlias="genericPage" templateAlias="GenericV2Responsive" sortOrder="52" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Generic]]></bannerDropdown>
  <bodyText><![CDATA[<h2><img style="width: 100%; height: auto;" src="/media/13103569/microsoftteams-image-1-png.jpg?width=500&amp;height=268.49642004773267" alt="national outdoor expo competition" data-udi="umb://media/df6dae65a419467fb7e94d018399371f"></h2>
<h2>Explorers Welcome!</h2>
<p><strong>Enter for your chance to win a holiday for Inghams worth up to £3000.</strong></p>
<p>The voucher can be used towards any Inghams holiday. Whether you want to ski the slopes, walk the walks or discover the ultimate Lapland experience – the choice is yours!</p>
<p>However you enjoy spending your time in the great outdoors, there are plenty of opportunities with Inghams.</p>
<p><a href="#terms" data-anchor="#terms">*Terms and Conditions apply.</a></p>
<div class="c-card c-card--generic c-card--generic-shadow">
<?UMBRACO_MACRO macroAlias="Typeform" WidgetId="U0YcA3Y9" Height="600px" />
</div>
<p>*Please note – the competition opens on 23rd March 2024 and closes on 25th March 2024.</p>
<p>  </p>
<p id="terms"><strong>*National Outdoor Expo - £3000 holiday competition Terms and Conditions</strong></p>
<p><strong>The promoter is: Inghams (Company No. 350786) whose registered office is Nelson House, 55 Victoria Road, Farnborough, Hampshire, GU14 7PA</strong></p>
<p><strong>1. WHO CAN ENTER </strong></p>
<p>1.1 This competition is open, subject to any other qualifications in these terms and conditions, to all residents of the United Kingdom (excluding Northern Ireland) who are aged 18 years or over with a valid email address, except for employees of the Promoter, its associated companies, agents, third parties or anyone else professionally connected with this competition. Proof of age may be required.</p>
<p>1.2 By submitting a competition entry, you are agreeing to be bound by these terms and conditions. The instructions provided at the point of entry form part of the terms and conditions of this competition. In the event of a conflict, these terms and conditions take precedence.</p>
<p>1.3 There is no entry fee and no purchase necessary to enter this competition.</p>
<p><strong>2 DEADLINE FOR ENTRIES</strong></p>
<p>2.1 Entries must be received between 00:01 on [23<sup>rd </sup>March 2024] and 23:59 on [25<sup>th</sup> March 2024] (the “<strong>Closing Date</strong>”). Entries received after the Closing Date will not be accepted.</p>
<p><strong>3 HOW TO ENTER</strong></p>
<p>3.1 To enter, simply go to [inghams.co.uk/<span>National-Outdoor-Expo-Competition]</span>follow the competition instructions at the top of the page and submit your details and other required information using the online form provided.</p>
<p>3.2 Multiple entries submitted directly or with the use of any automated systems will not be entered into the draw.</p>
<p>3.3 No responsibility will be accepted for entries that are lost, delayed, mislaid or damaged in transit, regardless of the cause, including, for example, as a result of any equipment failure, technical malfunction, systems, network, server, computer hardware or software failure of any kind.</p>
<p>3.4 Those entries not in accordance with the rules will be void and will entitle the Promoter to exclude the entry from the competition; any entry containing false, incomplete or misleading information will be void and will entitle the Promoter to exclude the entry from the competition.</p>
<p><strong>4 THE PRIZE</strong></p>
<p>4.1 The prize is a £3000 holiday voucher to used on any Inghams holiday - Inghams Ski, Inghams Walking or Inghams Lapland.</p>
<p>4.2 Flights are included from a limited range of regional airports and are subject to availability. Supplements for other flight routes or types will apply.</p>
<p>4.3 The prize is subject to availability, and we reserve the right to substitute any prize with another of equivalent value without giving notice. Date restrictions also apply, and the holiday must be taken between 1st May 2024 - 30th April 2025.</p>
<p>4.4 The prize is as stated, and no cash or other alternatives will be offered. The competition prize is not transferable. The prize can be redeemed on one booking only. It cannot be split across separate bookings. If the winner chooses to book a holiday at a higher value than the voucher, they may do so and pay the difference. If they choose a holiday at a lower value, the remaining balance cannot be transferred to another holiday, nor refunded to the winner.</p>
<p>4.5 Travel to the airport is not included, and any costs of travel to and from the airport in the UK, travel insurance, parking, food, and drink outside of the hotel meal plan, spending money, and any other incidental travel expenses are not included in the prize.</p>
<p>4.6 The holiday prize winner must confirm their dates of travel with Inghams before 31<sup>st</sup> May 2024 so Inghams may ensure availability and confirm the booking of the prize.</p>
<p>4.7 Inghams booking conditions apply and can be found online; <a href="https://www.inghams.co.uk/legal/terms-conditions/booking-conditions">https://www.inghams.co.uk/legal/terms-conditions/booking-conditions</a>.</p>
<p>4.8 Any travel expenses, or any other expenses in the general use of and enjoyment of the prize, that the winners or their guests incur are the sole responsibility of the winners or their guests.</p>
<p>4.9 Prizes are subject to availability. They are non-transferable, non-refundable and, unless stated, there are no cash alternatives. In the event that the prize is out of stock or if circumstances beyond the Promoter’s control make it necessary to do so, the Promoter reserves the right to substitute another item, in its sole discretion, of equal or higher value.</p>
<p><strong>5  WINNER SELECTION</strong></p>
<p>5.1 All valid and, if applicable, correct entries received by the Closing Date will be entered into a prize draw, and the winners will be picked at random using a random number generator.</p>
<p><strong>6 WINNER NOTIFICATION</strong></p>
<p>6.1 Winners will be notified by email, text or phone call as soon as practicable after the prize draw, using the contact details provided with the competition entry. The winner of the main holiday prize will be contacted via email before 1st May 2024.</p>
<p>6.2 The winners will be required to respond 7 days of notification (unless otherwise stated) confirming their acceptance of the prize. In the event winners do not respond to communications within this period or if any prize is declined, the Promoter reserves the right to disqualify that winner and draw another winner.</p>
<p>6.3 The promotor accepts no responsibility if the winner cannot be contacted or does not claim the prize within 7 days of notification. We reserve the right to withdraw the prize from the winner and pick a replacement winner.</p>
<p><strong>7 DATA PROTECTION</strong></p>
<p>7.1 We will treat all of your personal data as confidential. We will keep it on a secure server and fully comply with all applicable privacy regulations and consumer legislation. If you would like to read more on how we collect, where we collect or how we use your personal information, please see our Privacy Notice here: <a href="http://www.inghams.co.uk/legal/privacy-policy">inghams.co.uk/legal/privacy-policy</a></p>
<p>7.2 Inghams shall use and take care of any personal information you supply to it as described in its privacy policy, and in accordance with data protection legislation.</p>
<p>7.3 The winner agrees to the use of his/her name and image in any publicity material around the competition, as well as their entry. Any personal data relating to the winner or any other entrants will be used solely in accordance with current UK data protection legislation and will not be disclosed to a third party without the entrant’s prior consent</p>
<p><strong>8 LIMITATION OF LIABILITY</strong></p>
<p>8.1 The Promoter and its associated agencies, companies and distributors will not be liable for any loss (including, without limitation, indirect, special or consequential loss or loss of profits), expense or damage which is suffered or sustained (whether or not arising from any person’s negligence) in connection with this competition or accepting or using the prize, except for any liability which cannot be excluded by law (including liability for fraud or death or personal injury arising from negligence) in which case that liability is limited to the minimum allowable by law. Your statutory rights are not affected.</p>
<p>8.2 If you have opted-in to receive further information or marketing from any of the Promoter’s agents or suppliers involved in the administration of this competition, you understand and accept that the relevant third party will be solely responsible for any processing of your personal data for these purposes, that such processing will be governed by terms of that third party’s privacy policy and that the Promoter accepts no responsibility or liability in association with any such data processing for these purposes.</p>
<p>8.3 The Promoter reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, this competition with or without prior notice due to reasons outside its control (including, without limitation, in the case or anticipation of, suspected or actual fraud). The decision of Inghams in all matters under its control is final and binding and no correspondence will be entered into.</p>
<p>8.4 The Promoter shall not be liable for any failure to comply with its obligations where the failure is caused by something outside of its reasonable control. Such circumstances shall include, but not be limited to, weather conditions, fire, flood, hurricane, strike, industrial dispute, war, hostilities, political unrest, riots, civil commotion, inevitable accidents, supervening legislation or any other circumstances amounting to force majeure.</p>
<p><strong>9 GENERAL</strong></p>
<p>9.1 If there is any reason to believe that there has been a breach of these terms and conditions or if the Promoter believes that your conduct may be unlawful or otherwise bring the competition into disrepute, the Promoter may, at its sole discretion, reserve the right to make your entry void and will entitle the Promoter to exclude you from participating in the competition.</p>
<p>9.2 This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook, Twitter or any other Social Network. You are providing your information to Inghams and not to any other party.</p>
<p>9.3 The decision of the Promoter regarding any aspect of the competition is final and binding and no correspondence will be entered into.</p>
<p>9.4 The Promoter reserves the right to suspend, cancel, or amend the prize competition where it becomes necessary to do so, with no liability to any entrants or third parties.</p>
<p>9.5 The Promoter shall have the right, at its sole discretion and at any time, to change or modify these terms and conditions. Such change shall be effective immediately upon posting to this webpage.</p>
<p>9.6 This competition and all issues arising out of it shall be governed in accordance with English Law and are subject to the exclusive jurisdiction of the English courts.</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[2]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Enter now for a chance to win a £3000 voucher towards your next walking, ski or lapland holiday.]]></metaDescription>
  <metaTitle><![CDATA[Win a £3000 Inghams Holiday Voucher | Inghams]]></metaTitle>
  <pageTheme></pageTheme>
  <pageTitle><![CDATA[Win an Inghams holiday worth up to £3000]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Enter our competition now for the chance to win £3000 toward your next Inghams holiday.</p>]]></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/94f5b23948fd48e4ba1296b20b4066c6]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>