<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="5784780f-43e7-4246-875c-22fee8f770e2" id="22760" nodeName="Chalet Victoria" isDoc="" updated="2024-07-29T14:52:08.8300000Z" parentGUID="870730ce-feb2-441d-ab9c-cfec19c2fe88" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="21" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<p><strong><a href="/ski-holidays/accommodation-options/chalet#2017-18">See here for details of Winter 2017/18 Chalet cuisine</a></strong></p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>Sleeps: 13-15 guests.</strong></p>
<p>Conveniently located next door to <span>Chalets </span><a data-udi="umb://document/e7a5eb105e904a5aabe06d054e4026bc" href="/{localLink:umb://document/e7a5eb105e904a5aabe06d054e4026bc}" title="Chalet Camelia">Camelia</a><span> and in front of </span><a data-udi="umb://document/341a80e90ff04d6db0a4d5e3d1f8d4ac" href="/{localLink:umb://document/341a80e90ff04d6db0a4d5e3d1f8d4ac}" title="Chalet Camarine">Camarine</a>, the Victoria is an attractive and welcoming chalet, with pine walls and exposed beams.</p>
<p>The living area is on the first floor and is light and spacious with comfy sofas, a warming fire and a large south-facing terrace with spectacular views over the Méribel valley and surrounding mountains. The bedrooms are traditionally furnished and all have an en suite bath and wc. The Victoria is well located with 10 minutes’ walk of Méribel’s famous night spots or just a hop on the ski bus which stops close to the chalet. For access to the ski lifts, there is a local bus service stopping outside the chalet, running until 11pm, with increased services during peak times. </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/d25cf89fbba845989d548de8683936a5,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Attractive detached chalet</li>
<li>All bedrooms with en suite bath and wc</li>
<li>Comfortable living area with fireplace</li>
<li>Traditional chalet with lots of character</li>
<li>Large south-facing sun terrace</li>
<li><strong>Free </strong>transport to ski hire shop for fitting and return of equipment</li>
<li><strong>Free</strong> Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li><strong>Free</strong> child places and also on the 21st March.</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>1</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>Conveniently located next door to Chalets </span><a data-udi="umb://document/e7a5eb105e904a5aabe06d054e4026bc" href="/{localLink:umb://document/e7a5eb105e904a5aabe06d054e4026bc}" title="Chalet Camelia">Camelia</a><span> and in front of </span><a data-udi="umb://document/341a80e90ff04d6db0a4d5e3d1f8d4ac" href="/{localLink:umb://document/341a80e90ff04d6db0a4d5e3d1f8d4ac}" title="Chalet Camarine">Camarine</a><span>, the Victoria is an attractive and welcoming chalet, with pine walls and exposed beams.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/4506b0ea4abc4d008bf07473ab123531]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Victoria, Meribel in the Three Valleys Ski Area, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Chalet Victoria, Meribel - France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>7</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRME0118]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation Summary</strong></p>
<p>En suite of private facilities throughout.</p>
<p><strong>Ground Floor</strong></p>
<p>Entrance, ski &amp; boot room, wc.</p>
<p><strong>Room 1:</strong> Double with bath/wc.</p>
<p><strong>Room 2:</strong> Single or small/'L shaped' twin with bath/wc.</p>
<p><strong>Room 3:</strong> Twin with bath/wc.</p>
<p><strong>Room 4:</strong> Twin with bath/wc.</p>
<p><img src="/media/13058054/france_three-valleys_meribel_chalet-victoria_ground-floor.jpg" alt="Chalet Victoria Ground Floor Plan" align="absmiddle" /></p>
<p><strong>First Floor</strong></p>
<p>Open-plan lounge/dining area, fireplace, DVD player &amp; terrace with separate wc.</p>
<p><img src="/media/13058053/france_three-valleys_meribel_chalet-victoria_first-floor.jpg" alt="Chalet Victoria First Floor Plan" align="absmiddle" /></p>
<p><strong>Second Floor<br /></strong></p>
<p><strong>Room 5:</strong> Twin with bath/wc, under eaves</p>
<p><strong>Room 6:</strong> Twin with bath/wc, under eaves</p>
<p><strong>Room 7:</strong> Triple, sleeps 2-3 with bath/wc, under eaves.</p>
<p><img src="/media/13058055/france_three-valleys_meribel_chalet-victoria_second-floor.jpg" alt="Chalet Victoria Second Floor Plan" align="absmiddle" /></p>
<p>N.B.: Floor plans are for guidance only and are not to scale.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li><strong>Free</strong> transport to ski hire shop for fitting and return of equipment</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/870730cefeb2441dab9ccfec19c2fe88]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>