<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="c681bbaa-ca1c-49ce-a09b-cdd1c6256642" id="69880" nodeName="February Deals" isDoc="" updated="2024-04-05T12:10:22.2600000Z" parentGUID="6efb5852-a8a7-4f90-8c97-432d9636c133" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="3" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "February Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/e61771fd02654018b433c11f2f79f779",
    "externalLink": "",
    "linkName": "February Deals",
    "linkTitle": "February Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>