<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="51a8a454-8550-4add-82c0-fd0bde0a83c9" id="64366" nodeName="Residence Les Balcons de Bellevarde" isDoc="" updated="2024-11-05T15:43:34.7430000Z" parentGUID="16c56b28-3bca-4ae2-b2ad-a820a5d3a03d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="11" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Residence Les Balcons de Bellevarde has accessible apartments with a spacious bathroom with a higher level toilet and support rails, available on request. Please give our Reservations team a call to book.</p>]]></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[6]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/f822d84931714eca9fd19a9e8e4b1493,umb://media/d66645c3f223429e9c5dc7789a2bcf9d,umb://media/3101e51c71814210bb46d23ff29422ed,umb://media/290f0c663dca404da1cf12ec7d99460d,umb://media/16a0fe5963224587adf76025dc622b94]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Residence Les Balcons de Bellevarde are self catering apartments.</p>
<p><span>There is a mini-market opposite the residence (100 m away) and the resort amenities including the supermarket, shops, bars and restaurants are in the resort centre.</span></p>
<p>The residence offers its own bakery, breakfast and meal delivery service which can be arranged locally for an additional cost. </p>
<p>Alternatively, we've partnered up with Huski who provide premium oven ready meals across the French Alps. Huski will deliver your meals directly to your accommodation in time for your arrival, all you'll have to do is cook. If you'd like to know more, please click <a rel="noopener" href="https://www.inghams.co.uk/ski-holidays/special-offers/huski-food-drink-delivery-service" target="_blank">here</a> for further details.</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><span>Les Balcons de Bellevarde residence is located in the La Daille district in<a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere"> Val d'Isere</a>. The warm and comfortable residence has easy and convenient access to the <a data-udi="umb://document/3f107aa9435442a892636b72e6e40b03" href="/{localLink:umb://document/3f107aa9435442a892636b72e6e40b03}" title="Tignes-Val d’Isere Ski Area">Tignes-Val d'Isere Ski Area</a>, shopping arcade and resort amenities. </span></p>
<h2>Convenient access to the ski area</h2>
<p><span>The residence has a great location in the La Daille district, set back from the main centre of Val d'Isere. The apartments are at the foot of the ski slopes, just a short walk away from the ski lifts including the Funival funicular, giving you easy access to over 300 kilometres of slopes in the <a data-udi="umb://document/3f107aa9435442a892636b72e6e40b03" href="/{localLink:umb://document/3f107aa9435442a892636b72e6e40b03}" title="Tignes-Val d’Isere Ski Area">Tignes-Val d'Isere Ski Area.</a></span><span></span></p>
<p><span>At the end of your ski day, there are various slopes you can take to get back to the residence. You can take either the Triffolet or Coupe de Monde red runs to the bottom of the gondola, or either the Diebold blue run or Verte green route to the bottom of the funicular. There are a few restaurants and shops in La Daille, but most of the shops, bars, restaurants are located farther down the road in Val d'Isère - there's a free shuttle bus which serves the whole resort and runs regularly, making it super easy if you're wanting to get to and from the centre.</span></p>
<h2><span>Furnished ski apartments </span></h2>
<p><span>Each apartment is decorated in a cosy alpine style, with wood and warm colours throughout. The balcony and large windows overlook the sunny slopes or of the <a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isere</a> valley, a perfect spot to enjoy the winter sun. With an open plan living room and fully equipped kitchenette, these apartments are a great choice for those looking comfortable self catering apartments set back from the hustle and bustle of Val d'Isere. <span class="pv-textTruncateMobileHidden"></span></span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Basic Wi-Fi Access</li>
<li>Bed linen</li>
<li>Towels</li>
<li>Additional housekeeping</li>
<li>Welcome cleaning kit</li>
<li>Ski lockers</li>
<li>Kids' area</li>
<li>Hairdryers, irons ect (on request, subject to availability)</li>
<li>Loan of games (on request, subject to availability)</li>
<li>Shuttle service </li>
<li>Famileat breakfast delivery service</li>
<li>Bread and pastries delivery</li>
<li>Famileat meal delivery</li>
<li>Car parking (pay locally)</li>
</ul>
<p> </p>
<p><strong>Family Facilities</strong></p>
<ul>
<li>Kids Area</li>
<li>Optional Baby Kit including cot, cot sheet, high chair and baby changing mat €45 per week (pre-booking recommended)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "56576601-723d-4524-a2c4-0f12c39aea57",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"3dfecca5-a51b-4a86-8a8b-5da613cba4aa\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.458562]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>Set in the La Daille distrcit of Val d'Isere, the self catered Residence Les Balcons de Bellevarde offers warm and comfortable apartments with convenient access to the <a data-udi="umb://document/3f107aa9435442a892636b72e6e40b03" href="/{localLink:umb://document/3f107aa9435442a892636b72e6e40b03}" title="Tignes-Val d’Isere Ski Area">Tignes-Val d'Isere Ski Area.</a></span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/f822d84931714eca9fd19a9e8e4b1493]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<div class="productInfo-item">
<div class="productInfo-content">
<ul>
<li><strong>Tourist tax:</strong> €2.53 per person per day. Free for under 18s</li>
<li><strong>Deposit</strong>: €200 deposit required on check in (bank preauthorisation)</li>
</ul>
</div>
</div>]]></localFees>
  <locationDescription><![CDATA[<p> </p>
<p><strong>Located in the La Daille district of Val d'Isere</strong></p>
<p><span><span class="pv-textTruncateMobileHidden"><span class="js-toggle-target u-Hidden js-toggle--visible">The nearest shops are 100 metres walk</span></span></span></p>
<p><span class="">200 metre (two minutes) walk to the funicular and ski lifts</span><span></span><span></span><span></span></p>
<p><span class="">Approximately 100 metres to the nearest restaurants </span></p>
<p><span class=""><span><span class="pv-textTruncateMobileHidden"><span class="js-toggle-target u-Hidden js-toggle--visible">Children's Village is 2 kilometres from the residence</span></span></span></span></p>
<p> </p>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.9712346]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[These cosy self catering ski apartments offer comfortable accommodation with great access onto the Three Valleys. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Residence Les Balcons de Bellevarde , Val d'Isere France, Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments>54</numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Les Balcons de Bellevarde ]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRVD0160]]></propertyCode>
  <propertyType><![CDATA[0]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li><strong>Check in: </strong>5pm</li>
<li><strong>Check out: </strong>10am</li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>South Facing One Bedroom Apartments</strong> are approximately 32 m² and sleep two to four people. These apartments have one twin bedroom and have a double sofa bed in the open plan living area and kitchenette. </p>
<p>Housekeeping is included at the end of your stay (excludes kitchenette)</p>
<p><strong>Apartment facilities</strong></p>
<ul>
<li>Open plan living room</li>
<li>Fully equipped kitchenette with coffee machine, fridge, oven, toaster and dishwasher</li>
<li>Balcony with South or South East facing view</li>
<li>Bathroom with bath with shower head attachment or shower room </li>
<li>WC</li>
<li>Vacuum cleaner</li>
<li>Balcony,</li>
<li>Satellite TV</li>
<li>Basic Access Wi-Fi</li>
<li>Bed linen</li>
<li>Towels</li>
<li>Welcome cleaning kit</li>
<li>Optional Baby Kit including cot, cot sheet, high chair and baby changing mat €45 per week (pre-booking recommended)</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please inform us of any special dietary requirements at time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[625259]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>