<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="95fced73-dcf6-425e-847e-71134457044c" id="22846" nodeName="Hotel Olympic (1850)" isDoc="" updated="2024-04-11T15:52:07.4430000Z" parentGUID="9e7d0f01-e796-4af0-b7ee-7c501cb0e893" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="5" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>The hotel does not have lift to access the bedrooms.  </p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "e8ecb76f-e0cb-4913-b54e-3c00328c81cd",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free lunch one day per week served at Hotel Mottaret, Meribel",
    "addedValueStart": "2023-06-30T10:18:31",
    "addedValueEnd": "2024-04-13T00:00:00",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/14451ac364a143b9ba691b9fd3d2d264,umb://media/3e14f9a340574da08555be99d0a8bf7f,umb://media/a5f4d52aefea4e5f9bf6723ada28d208,umb://media/fc8eb5f6e91c45609c172149ef1e14f9,umb://media/2849a4268a6b4a25ba7cfd130d7ea9a0,umb://media/0300c6cee53445649fcadc76dcec87bd,umb://media/e86388c1f7b34db1b98d3aa9ed0941b1,umb://media/d84de4603ed747df93e2b388eb03c7e1,umb://media/3b8ee697a5484d5eac07d615f23e2997,umb://media/535707b0b2134a8ca9d4bc09f9effa2b,umb://media/c39cfcd8d9094cd18a15edb8aa3388b2]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>This hotel is offered on either a bed and breakfast or half board basis.</p>
<p>Both half board and bed and breakfast guests will receive a simple continental breakfast buffet with a selection of cold meats, cheese, pastries and cereal is served in the bar area each day. </p>
<p>For guests on a half board basis, a three course evening meal will be served in restaurants close to the hotel. </p>
<p>Guests can have lunch chosen off the 'Green Menu' at the Hotel Mottaret, Meribel free of charge <strong>one day</strong> per week. (Per person, per week. Any additions not on the specified menu will be payable locally)</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Hotel Olympic offers good value accommodation in one of the world renowned ski areas, although the rooms are relatively simple they have everything needed for a week in the Alps. Situated close to the lifts, getting on and off the slopes couldn't be easier, plus the vibrant resort centre is just  a short stroll away.</p>
<h2>Good value</h2>
<p>If you are looking for a good value accommodation in 1850 then this is the hotel for you. Fuel up for a day on the mountain with the continental breakfast taken in the bar area and then head out to the renowned <a data-udi="umb://document/72a5198213b1400d8c891f49fe57b578" href="/{localLink:umb://document/72a5198213b1400d8c891f49fe57b578}" title="Three Valleys Ski Area">Three Valleys Ski Area</a> which is just a five minute walk from the hotel. </p>
<p>The rooms are relatively simple but have been refurbished in recent years, so they have all the facilities you need for a comfortable stay, with the majority of rooms offering balconies with views over the resort. After a day of skiing sit back with a beer at the comfortable bar with an open fireplace or play a game of pool in the lounge.</p>
<h2>Great location</h2>
<p>This hotel has a fantastic location in <a data-udi="umb://document/9e7d0f01e7964af0b7ee7c501cb0e893" href="/{localLink:umb://document/9e7d0f01e7964af0b7ee7c501cb0e893}" title="Courchevel">Courchevel</a>, close to the Croisette ski lifts giving you excellent access to over 600km of pistes to explore. This hotel is just a short walk to the resort centre where you can find a number of shops, restaurants serving Savoyard specialities and bars for a well earned drink.</p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Mountain views</li>
<li>Bar</li>
<li>TV area</li>
<li>Lounge with open fire place</li>
<li>Pool table</li>
<li>Free Wi-Fi in public areas</li>
<li>Heated ski equipment storage room</li>
<li>Private car parking (Pay locally)</li>
</ul>
<p> </p>
<p> </p>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Baby cots are available for free, on request</li>
</ul>]]></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "f4581e12-4b3e-4408-ba1d-e0a7f4c7fe55",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"5201609f-5282-4562-b679-df26fc24573a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>2</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[2]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[45.416527]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This hotel has a fantastic location in Courchevel, close to the Croisette ski lifts and the resort centre plus a free lunch each day available from the Hotel Le Mottaret! Available on either a bed or breakfast board basis or half board basis. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/27a6b256fe064c27b132bb93468acc8a]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax: €0.99 per person, per day. Under 18s free of charge</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>50 metres to the ski lifts</li>
<li>200 metres to the resort centre</li>
<li>50 metres to the ski school meeting point </li>
<li>In Courchevel 1850 resort centre with local shops, bars and restaurants</li>
</ul>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.634154]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[27 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This hotel has a fantastic location in Courchevel, close to the Croisette ski lifts and the resort centre. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Olympic, Courchevel | France Ski Holidays | Book now with Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>27</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[2]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Olympic, Courchevel 1850]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRCR0124]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in: 5pm</li>
<li>Check out: 10am</li>
<li>Luggage storage available in reception </li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Double room </strong>sleeps two people and are around 11m². These rooms are also available for sole occupancy on request. </p>
<p><strong>Superior Double room </strong>sleeps two people and are slightly larger at around 15m². These rooms also have the added facilities of a Nespresso machine and iPod dock.</p>
<p><strong>Superior Triple room </strong>sleeps three people and are around 15m². These rooms also have the added facilities of a Nespresso machine and iPod dock.</p>
<p><strong>Room facilities</strong></p>
<ul>
<li>All rooms have twin or double beds (please specify when booking)</li>
<li>Most rooms have a balcony</li>
<li>A resort or mountain view</li>
<li>Walk in shower</li>
<li>Satellite TV</li>
<li>Towels and bed linen</li>
<li>Toiletries</li>
<li>Hairdryer </li>
<li>Daily housekeeping</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Special dietary requirements (vegetarian, vegan and gluten free) are available on request.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[265110]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo><![CDATA[0apWRH16ReE]]></youtubeVideo>
</accommodationSki>