<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksContainer guid="7490046e-9d4b-42b1-8602-3dcabb68d60d" id="66548" nodeName="Can't find the ski deal you're looking for? Try these..." isDoc="" updated="2023-11-14T15:51:13.7700000Z" parentGUID="500f33ac-6e5a-40b7-900b-12234eb39470" nodeTypeAlias="reskinOfferLinksContainer" templateAlias="" sortOrder="6" published="true" isBlueprint="false">
  <availableOffersDescription></availableOffersDescription>
  <listName></listName>
</reskinOfferLinksContainer>