<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="38ffc113-ddba-4af9-8f83-e65fee94bdd5" id="71664" nodeName="Deals Under £800pp" isDoc="" updated="2024-09-19T17:22:47.2970000Z" parentGUID="64fcbe70-f358-490b-968d-94bcb43c31ab" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Weekly Walking Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/c878566e78884de9b38fab06e9275ac4",
    "externalLink": "",
    "linkName": "Deals Under £800pp",
    "linkTitle": "Deals Under £800pp",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>