<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="95333cb4-9a2b-4f6a-9e15-2a22a297f9e5" id="22017" nodeName="Hotel Olivi &amp; Natural Spa" isDoc="" updated="2024-11-28T16:47:52.5470000Z" parentGUID="93a0ea3c-d033-4ca0-88ea-f788bad0faba" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="4" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>This hotel may not be suitable for guests with walking difficulties due to its location on a hill.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "f11dd336-2625-4570-b1b7-839ee18e0a9f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for summer 24 (book by 31 Jan 24)",
    "addedValueStart": "2023-09-27T15:59:05",
    "addedValueEnd": "2024-01-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "5383bbab-1b87-4aba-adcd-5ec694c26536",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free nights available for summer 24 arrivals between 01 - 24 May & 28 Sep - 30 Oct 24",
    "addedValueStart": "2023-09-27T16:00:26",
    "addedValueEnd": "2024-10-30T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "f5846767-2698-4271-a38a-aa4428fc1521",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free nights available for Summer 23 arrivals between 01 Apr - 25 May & 28 Sep - 30 Oct 23 (min 10 night stay)",
    "addedValueStart": "2022-08-30T16:42:14",
    "addedValueEnd": "2023-10-30T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "a382dafe-5c74-488c-8df1-8df5dee0c816",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "€50 hotel credit per room to be used against bar, restaurant & spa extras between 01 - 28 May 23 (min 5 night stay)",
    "addedValueStart": "2021-08-26T13:40:57",
    "addedValueEnd": "2023-05-28T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "170eb903-d1bb-4654-a879-565ec3284669",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free afternoon tea and biscuits daily between 4.30pm and 5.30pm",
    "addedValueStart": "2019-05-16T16:41:30",
    "addedValueEnd": "2024-10-31T23:59:59",
    "hideAddedValue": "0"
  },
  {
    "key": "c77f7d10-377e-4386-8cb1-6a9c56946e29",
    "name": "Item 6",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Honeymoon & Anniversary Offer: free bottle of sparkling wine (celebrated during stay)",
    "addedValueStart": "2019-05-16T16:41:40",
    "addedValueEnd": "2024-10-31T23:59:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/f1b235a0920e439680988563e9f5a4db,umb://media/a48bd25c89af4cd883dead112820e237,umb://media/d7a70196569b478e8490cfe7abb7affa,umb://media/77aa9d48ce9a4d8ab02ce82260a40a97,umb://media/af0e3fb3f1064c48b7b4a2d2dc1f2269,umb://media/ac09ec5224d94d12bd24538d92701820,umb://media/9be9b1b15d944416b0723f8735b6888a,umb://media/6aa904bc889544e3be43eb281afe6d0a,umb://media/7d31cecd4e13425faef785ade87bcd16,umb://media/e0595794822e4069b87b27979e0f6035,umb://media/d57549350c52404ba7dcc60f6fa7220b,umb://media/deffc314185142e59ede72b44e22f45d,umb://media/69a0ebecda744af897ab2b3a9763136c]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>A rich breakfast buffet offers continental choices between 7.30am and 10.30am that can be enjoyed on the terrace during the summer. For dinner you'll have a choice of three courses from the weekly menu.</p>
<p><strong>Restaurant Degli Olivi</strong> is is a buffet restaurant offering classic Italian and Mediterranean dishes. They also have a great selection of local and national wines. It's open from 12.30pm - 1.30pm and 7.45pm - 9.45pm. </p>
<p><strong>La Limonaia Terrace</strong> is an extension of the Degli Olivi Restaurant. It's open for breakfast in the summer and each evening from 7.45pm until 10pm. It's the perfect place to enjoy a romantic dinner by candlelight, sat amongst the olive trees. </p>
<p><strong>La Bissa</strong> is the hotel's casual poolside snack bar and restaurant. They serve tasty Italian cuisine like fresh salads, pasta and creamy gelato. Cocktails and refreshing drinks can be enjoyed while you relax beside the pool. </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>At the Hotel Olivi and Natural Spa you'll feel at home as soon as you step into the lobby and meet the welcoming staff.</p>
<h2>Relaxing location in central Sirmione</h2>
<p>The hotel sits at the end of <a data-udi="umb://document/93a0ea3cd0334ca088eaf788bad0faba" href="/{localLink:umb://document/93a0ea3cd0334ca088eaf788bad0faba}" title="Sirmione">Sirmione’s</a> peninsula, which means it’s within easy walking distance of the historic centre but still feels nice and peaceful. The fragrant olive and cypress trees that surround the hotel add to the tranquil feel. Grab a lounger under the shade of an olive tree and enjoy a relaxing day next to the saltwater pool. There’s a poolside restaurant to keep you refreshed and full all day. If you’re after even more relaxation, treat yourself to a day in the spa. They have sensory showers, a Turkish bath and an indoor pool. End the day in the bar which serves up some great cocktails, before you heading for dinner.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li><span style="text-decoration: underline;"></span>Heated outdoor salt water pool with built in whirlpool and panoramic views</li>
<li>Sunbathing terrace and garden area</li>
<li>Free entry to the spa with an indoor salt water pool, saunas and steam rooms for Inghams guests</li>
<li>Beauty treatments and massages are payable locally</li>
<li>Pool towels are provided</li>
<li>Free Wi-Fi</li>
<li>Garage (payable locally for approx. €15 a day, license plate number to be sent to hotel prior to arrival)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "c528ed70-404b-4b10-a19e-f3307c747b1e",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"1c48f020-56e5-4895-bc20-8a8bcad1a3fb\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>4</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Olivi &amp; Natural Spa is at the end of Sirmione’s peninsula and an easy walk from the historic centre. Spend time in the pools or the stylish bar and look forward to some Italian food and drink each night for dinner.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/f1b235a0920e439680988563e9f5a4db]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: approx. 45 mins by coach from Verona airport.</li>
<li>Panoramic position on the Sirmione peninsula</li>
<li>200 metres to the centre of Sirmione</li>
<li>400 metres to the ferry point</li>
<li>600 metres to the nearest bus stop</li>
<li>3km to the supermarket </li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your summer holiday at the Hotel Olivi & Natural Spa with Inghams. This little oasis is an easy walk to central Sirmione.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Olivi & Natural Spa | Holidays in Sirmione | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>55</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Hotel Olivi & Natural Spa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITSI0108]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>King Rooms</strong> are about 24m² and sleep up to two people. These rooms have a shower. </p>
<p><strong>Superior Rooms</strong> are about 20m² and sleep up to two people. These rooms have a shower, balcony and lake view. </p>
<p><strong>Premier Deluxe Rooms</strong> are about 24m² and sleep up to two people. There is a separate bath and shower, and a spiral staircase leading to a small sitting area. These rooms also enjoy a balcony with lake view.</p>
<p><strong>King Rooms for sole use</strong> are available on request, please call to book. King Rooms for sole use have a bath or shower.</p>
<p>Please request twin or double beds at the time of booking.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Air conditioning</li>
<li>Tea &amp; coffee making facilities</li>
<li>TV</li>
<li>Safe</li>
<li>Minibar </li>
<li>Hairdryer</li>
</ul>
<p>Cots are available on request for approx. €50 per night, payable locally.</p>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A resort tax of approx. €2.30 per person per day is payable locally</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know about any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation. </p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>7</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[238458]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>