<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="e33105ce-aa15-45a9-a58a-6daa2223f538" id="30927" nodeName="Can I stay at the SnowHotel with Inghams?" isDoc="" updated="2018-09-19T15:35:09.6830000Z" parentGUID="0cad61f0-3d8e-42c4-8799-cf871523f282" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="20" published="false" isBlueprint="false">
  <answer><![CDATA[<p>Yes! We can organise this for you at the Lainio Snow Village if staying in Levi or Ylläs. The exact night of your stay will be confirmed approximately 3 days after booking. Our prices include return transfers from your accommodation, which leave after your half board evening meal on the night of your stay.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Can I stay at the SnowHotel with Inghams?]]></question>
</fAQItem>