<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="3249fa3b-8a2b-43fc-89bc-cc6939f23138" id="23390" nodeName="Chalet Coeur" isDoc="" updated="2022-01-19T12:05:43.6270000Z" parentGUID="957b02ed-c6d8-46df-b4b2-a1b2d1a3222d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="7" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li><span>For information on our Chalet cuisine</span> <a href="/{localLink:a48c84d8-fa41-41ec-b220-11067ce4f415}" title="Chalet">click here</a></li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>Sleeps 10 guests</strong></p>
<p>Known locally as part of Chez Les 2 Soeurs, this attractive and traditional chalet is one of two which are side by side and share a hot tub between them. The Chalet Coeur is catered independently but larger groups may wish to take both chalets as they are so close to each other.</p>
<p>The Chalet Coeur which sleeps 10 with 5 guest bedrooms. The quickest way to the slopes is by ski bus that goes directly to the resort centre and the Super Morzine and Pleney lifts. Buses depart every 15 minutes during the day but we also offer a complimentary minibus service to and from the slopes at the start and end of the skiing day.</p>
<p>The chalet is modern and welcoming inside but retain the traditional decor and workmanship in wood and stone, creating the atmosphere of a perfect Alpine get-away and ideal for a family or group of friends. It has a comfortable lounge/dining room with patio windows and wonderful views. The large dining room table will host the culinary highlight of the day, your chalet 4 course evening meals with complimentary wine. All bedrooms have en suite facilities and there is a shared ski room and sauna.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/0d87d5cbf0bd4804b5197efa54d0d3e5,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Outdoor Hot tub</li>
<li>Sauna</li>
<li>Lounge/dining area with wood burning stove or log fire</li>
<li>All bedrooms with en suite facilities</li>
<li><strong>Free</strong> Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Known locally as part of Chez Les 2 Soeurs, this attractive and traditional chalet is one of two which are side by side and share a hot tub between them. The Chalet Coeur is catered independently but larger groups may wish to take both chalets as they are so close to each other.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/5c09b38016dd4d0080668a2ee1212654]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Chalet Couer, Morzine in the Portes du Soleil Ski Area, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Chalet Couer, Morzine - France - Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRMR0110]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation summary<br />Ground Floor</strong></p>
<ul>
<li>Lounge/dining area with wood burning stove and flat screen TV. Separate wc</li>
<li><strong>Room 1:</strong> Double with bath/wc</li>
</ul>
<p><strong>First Floor</strong></p>
<ul>
<li><strong>Room 2:</strong> Twin with shower/wc/balcony</li>
<li><strong>Room 3: </strong>Twin with shower/wc/balcony</li>
<li><strong>Room 4:</strong> Twin with shower/wc/balcony</li>
<li><strong>Room 5:</strong> Double with shower/wc/balcony</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Ski shuttle bus stops just outside</li>
<li>5 minutes' ride to the ski lifts</li>
<li>Complimentary minibus service to and from the lifts</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/957b02edc6d846dfb4b2a1b2d1a3222d]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>