<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="f4498269-6b6c-42a3-ba7f-4e09187985d8" id="22647" nodeName="Austria Gourmet &amp; Wine Hotel" isDoc="" updated="2024-05-08T17:02:47.4800000Z" parentGUID="6063ab81-3f38-4ab7-95dc-6aa1d337f576" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="5" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "5483219c-c159-4ce4-9a42-6e55b1688de8",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night available for 4th Jan & 11th Jan 2025 departures",
    "addedValueStart": "2024-04-15T11:43:22",
    "addedValueEnd": "2025-01-11T11:43:23",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/38385eaa93c8402780f9ebc9a2abbaed,umb://media/8cf48804d9ba4b2ebcb97dfcf51fbeba,umb://media/8491b6d10a8041d2adc4455dcc4c4681,umb://media/739b7445d594461fa1b469af48b262f6,umb://media/4e682b3efdc24cb98805b51e6362c79f,umb://media/c08ae1ddd5ce4141829682425d005116,umb://media/1a6ea279c26149b595e2eb7b8e7e1f39,umb://media/ac410a77d80741949f9ad84bef05c755,umb://media/c162f7818fee4f449d9186930bea9371,umb://media/6df7d396662b402eb7835e79cfcd9a5d,umb://media/2d959d23c789414b820bab6d50a24192,umb://media/7cfccb2706a9498aa61208cb7abe3f5c,umb://media/1f32d561dbfa40ecb74efdff8821e6c9,umb://media/6a5e7e1f60994429800fc73822f79ffe,umb://media/7e3e38eb55bb459ab160edd4fb096afb,umb://media/f6eb2917cb0d49fdb4ae335c75e83c6a,umb://media/3e5db3588db64ce0a8757659df00728a]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Extensive hot and cold buffet breakfast</p>
<p>Five course gourmet evening meal with 3 choices of main dish</p>
<p>Daily après snack and cake buffet</p>
<p>Smart casual wear required at meal times</p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Austria Gourmet &amp; Wine Hotel more than lives up to its name. The hotel has a strong focus on gourmet dining and the wine cellar offerings are second to none. Owned and run by the friendly Steiner family, the impeccable service and<span> incredible facilities keep guests coming back year after year.</span></p>
<h2>Doorstep skiing</h2>
<p>Located just steps away from Blue run number 6, the Austria Gourmet &amp; Wine Hotel has an unbeatable location. You are an eight minute walk downhill to the main <span class="">Rosskarbahn gondola and Hohe Mut 1 gondola. </span></p>
<p>Linked by underground corridor to the sister hotel <a data-udi="umb://document/0e86ba998418476eb4fbc95f5a146c0b" href="/{localLink:umb://document/0e86ba998418476eb4fbc95f5a146c0b}" title="Hotel Bellevue">Hotel Bellevue,</a> both hotels are have ideal locations to explore the Diamond of the Alps and share some of the same facilities.</p>
<h2><span>World class dining</span></h2>
<p><span>The hotel's highly trained chefs are constantly on the lookout for new gourmet trends and specialties from all over the world. You can look forward to an extensive breakfast buffet and a five course gourmet dinner. Plates are beautifully presented with perfectly balanced flavours that showcase the best of Austrian dining.</span></p>
<h2><span>On site wine tasting</span></h2>
<p>Every Tuesday the hotel hosts the <span><em>Best of Austria Wine Tasting,</em> a celebration of the country's finest vintages. This prebookable experience is hosted by your experienced sommelier Maximillian, son of the hotel owner and winner of Austria's wine sommelier of the year 2023. The tasting features eight wines from the Tyrol region, typically four red and four white wines to try. The tasting also includes AMAX, Maximillian’s own wine which he created with his sister Anna. Book this experience in advance with Inghams, a<em>pprox. £82 per person.</em></span></p>
<h2>Free child supervision</h2>
<p>You can hit the slopes knowing the kids are in safe hands. Child supervision is available Sunday to Friday 9:30am - 4:30pm and 7-8:30pm (from 3 years). The hotel's new children's play area is a great retreat for kids and the ice skating rink opposite the hotel is fun for all the family.</p>
<h2>Panoramic outdoor pool</h2>
<p>Unwind in the hotel's large spa area and enjoy views from the heated outdoor pool with panoramic views. The spa also features an indoor pool, multiple saunas and steam rooms, relaxation room with waterbeds and fitness room.</p>
<p>Bedrooms are large and many of the balconies offer incredible views over <a data-udi="umb://document/6063ab813f384ab795dc6aa1d337f576" href="/{localLink:umb://document/6063ab813f384ab795dc6aa1d337f576}" title="Obergurgl">Obergurgl</a>. After a day of carving through powder, enjoy sipping hot chocolate by the crackling fire in the hotel lounge.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>Indoor pool</li>
<li>Heated outdoor pool with panoramic views</li>
<li>Finnish sauna</li>
<li>Organic sauna</li>
<li>Steam bath</li>
<li>Brine steam bath</li>
<li>Relaxation room with waterbeds</li>
<li>Beauty treatments, massage and solarium (payable locally)</li>
<li>Fitness room</li>
<li>Shared facilities with sister Hotel Bellevue connected by an underground passage</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Cosy bar and lounge area with open fireplace</li>
<li>Residents’ and à la carte restaurants</li>
<li>Sun terrace</li>
<li>Ski &amp; boot room</li>
<li>Parking</li>
<li>Wi-Fi</li>
</ul>
<p><strong>Family Facilities</strong></p>
<ul>
<li>Child supervision Sunday to Friday 9:30am - 4:30pm and 7-8:30pm (from 3 years)</li>
<li>Children's play area</li>
<li>Baby sitting on request</li>
<li>Early meals for children</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "253c8090-19af-4095-aadd-ecb09fd5e0f5",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"139533cf-a0de-496a-9718-4289e363d412\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers><![CDATA[<ul>
<li>Welcome cocktail</li>
<li><strong>Free </strong>daily après-ski snacks or cake buffet</li>
<li><strong>Free</strong> child supervision Sun-Fri 9.30am-4.30pm &amp; 7-9pm (from 2 yrs)</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.8714096]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>In a great location close to the piste, Austria Gourmet &amp; Wine Hotel is one of the top hotels in Obergurgl. With a focus on wine and gourmet food, the hotel's food is top-notch and a wine tasting in the wine cellar is not to be missed. Owned by the friendly Steiner family, the impeccable service and<span> rustic charm keeps guests coming back year after year.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8cf48804d9ba4b2ebcb97dfcf51fbeba]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><span>Resort fees of €4 per person per night to be paid directly to the hotel</span></p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li class="lists__listItem 
                 SkiLocationFeatures__skiUspIcon  
                 " aria-label=""><span class="">Hotel is located on a hill and a five minute walk downhill to the centre of Obergurgl</span></li>
<li class="lists__listItem 
                 SkiLocationFeatures__skiUspIcon  
                 " aria-label=""><span class="">Number 6 Blue run is located just over the road</span><span></span></li>
<li class="lists__listItem 
                 SkiLocationFeatures__skiUspIcon  
                 " aria-label=""><span></span><span class="">Eight minute walk to the main Rosskarbahn gondola and Hohe Mut 1 gondola</span><span></span></li>
<li class="lists__listItem 
                 SkiLocationFeatures__skiUspIcon  
                 " aria-label=""><span></span><span class="">Three minute walk to the ski bus stop</span><span></span><span></span></li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.0238258]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[45 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Offering some of the best wine and gourmet food in Obergurgl, the Austria Gourmet & Wine Hotel is a hugely popular choice in this snow-sure resort. Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Austria Gourmet & Wine Hotel | Obergurgl Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop>0</nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>45</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4.5]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Austria Gourmet & Wine Hotel]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATOG0119]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Austrian Twin A3 Rooms</strong> are a great size at 30m² and have a balcony. They have a bath or shower and can sleep up to three using a single sofa bed.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>TV</li>
<li>Safe</li>
<li>Wi-Fi</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please note any dietary requirements at time of booking</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[500372]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>