<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="027cf21d-b4ba-4778-a0bc-a73899aa0de7" id="49727" nodeName="Austria Latest Ski Deals" isDoc="" updated="2022-11-07T15:56:54.4300000Z" parentGUID="960b373c-6943-4d9e-a227-fe18b1770f8d" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="5" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great offer on a Christmas ski holiday with Inghams. Here are our current holiday offers to Austria for next Christmas 2022/23 ski season.]]></metaDescription>
  <metaTitle><![CDATA[Christmas Ski Holidays 2022/23 | Skiing in Austria | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SKI-AT-CHRISTMAS-LATE-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/01afedc7491a48ac97e518333002b425",
    "offerCode": "ING-SKI-AT-CHRISTMAS-LATE-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Christmas 2022/23 Austria Ski Holidays]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/f2b82e329c1743ad803a39a3cb795855",
    "promotionBannerMobile": "umb://media/24c624b1d6e54dc581cbbcfb597e8411",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Christmas Ski Holidays\",\r\n    \"udi\": \"umb://document/960b373c69434d9ea227fe18b1770f8d\"\r\n  }\r\n]",
    "promotionStartDate": "2021-05-21T00:00:00",
    "promotionEndDate": "2021-12-20T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>