<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="786a2b31-b7fe-4bbf-a7bf-ccdfb5aac390" id="22314" nodeName="Sporthotel Igls" isDoc="" updated="2022-10-21T17:31:48.3270000Z" parentGUID="fabcb112-13fe-47b0-b91d-89408e5613b1" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "eb460333-6a2e-48c2-9f82-14e1951eda69",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early Booking Offer Summer 2020: Save up to £80 per couple (ends 31 Jan 2020) ",
    "addedValueStart": "2019-11-05T17:05:11",
    "addedValueEnd": "2020-11-06T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "902c7a0e-04ef-414f-983c-472d488be2c6",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily packed lunch",
    "addedValueStart": "2019-11-05T17:06:09",
    "addedValueEnd": "2099-11-06T17:06:11",
    "hideAddedValue": "0"
  },
  {
    "key": "4c9803ae-2232-4ad6-b504-6542fe91a26b",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams",
    "addedValueStart": "2019-11-05T17:05:51",
    "addedValueEnd": "2099-11-06T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "def9f204-ffb8-4542-89e8-f2239953beac",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free bottle of wine and fruit bowl in the room on arrival",
    "addedValueStart": "2019-11-05T17:06:21",
    "addedValueEnd": "2099-11-06T17:06:23",
    "hideAddedValue": "0"
  },
  {
    "key": "00f8308f-be4c-467c-9b66-c7dd16588baa",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Anniversary offer: Free bottle of sparkling wine, special dinner and room upgrade on arrival (subject to availability)",
    "addedValueStart": "2019-11-05T17:06:32",
    "addedValueEnd": "2099-11-06T17:06:34",
    "hideAddedValue": "0"
  },
  {
    "key": "74d6394d-e4dc-4895-92aa-81b185e5c6e7",
    "name": "Item 6",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "No single supplement ",
    "addedValueStart": "2019-11-05T17:06:41",
    "addedValueEnd": "2099-11-06T17:06:42",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/0caf936666474068be7b1baf31ae59e2,umb://media/2e8bf490e19e4a2786ff87e4d0b50ac2,umb://media/4f5eef505e3648df94687ab126e555a9,umb://media/b71e75bf2f204e39bce82a701c38cabd,umb://media/b22840d670174eb3bad04bf9fea89d3a,umb://media/0efe6a2f29484b179bfd1b03112b93dd,umb://media/6f10993b750c4d7d9e01eaf7e915448b,umb://media/85ea6317103d4cfc82d4e828d71dd22a,umb://media/00bf4f4544ad4211b829ae96f91a7f2c,umb://media/fdda1e19b3424d04bec3a89c255c9599,umb://media/609ffbe12b4440e89c2325b2719b6492,umb://media/2005560bf0304260b5cb72ad8fbcfa87,umb://media/571d36ac9b264477a23d379cba7a6169,umb://media/7372ccacb0b445a79e552e10cb906879]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast and 4-course evening meal with three main dish choices plus salad buffet and cheese selection</li>
<li>Twice weekly Austrian speciality buffet and weekly 5 course gala dinner</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p><span>Sporthotel Igls has country house character and a homely ambience in a typical Tyrolean setting. The hotel sits in the heart of <a data-udi="umb://document/fabcb11213fe47b0b91d89408e5613b1" href="/{localLink:umb://document/fabcb11213fe47b0b91d89408e5613b1}" title="Igls">Igls</a> village and is a 15-minute journey to Innsbruck using the adjacent bus stop. Relax in the front of house dining area, comfortable lounge, sun terrace or resident’s restaurant and bar.  The hotel is a popular base for exploring the surrounding walking area. </span></p>
<p><span>The large indoor pool opens out onto expansive gardens with a large lounging area and magnificent mountain views. Enjoy use of the spa with Finnish sauna, aroma steam bath, infrared cabin, heated whirlpool, relaxation area, hairdresser, treatment rooms and fitness centre.  </span></p>
<p><span>The kitchen proudly uses regional ingredients. Guests return satisfied with the attentive service here. All bedrooms are neatly furnished and spacious.</span></p>
<p><span>Transfer time: approx. 15 mins from Innsbruck airport or 2 hours 30 mins from Salzburg airport.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Comfortable lounge, residents' restaurant and bar</li>
<li>Leisure spa with large indoor pool, sauna, jacuzzi, steam room, gym and infrared cabin (<strong>Free</strong>)</li>
<li>Beauty treatments, massages (pay locally)</li>
<li>Private garden with loungers</li>
<li>Wi-Fi internet access (<strong>Free</strong>)</li>
<li>Occasional piano music on the terrace</li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools>1</indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude><![CDATA[47.23093]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This lovely country-house style hotel sits right in the heart of the village and has been welcoming Inghams guests for years, many of whom return annually for its first class service and excellent cuisine.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/0caf936666474068be7b1baf31ae59e2]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Located in the village centre</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.410661]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[72 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Sporthotel Igls sits in the heart of Igls and has been welcoming our guests for years, who return for its service and cuisine. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Sporthotel Igls, Igls - Austria - Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>72</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/3e07fe007d264967aab8a0d7dd824619",
    "promotionBannerMobile": "umb://media/2edb510819744c1f821cef9d88ed161c",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Summer Sale\",\r\n    \"udi\": \"umb://document/b5d0cc549f6848f3abf28bad26a9f75e\"\r\n  }\r\n]",
    "promotionStartDate": "2018-12-26T00:00:00",
    "promotionEndDate": "2019-03-01T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[ATIG0105]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>20m² 'Standard' Austrian twins sleep 2-3 and have bath with showerhead (the extra bed is a single sofa bed) </li>
<li>25m² 'Comfort' Austrian twins sleep 2-3 with bath, lounge area and balcony (the extra bed is a single sofa bed)  </li>
<li>18m² 'Standard' singles have bath with showerhead and are available at at no supplement </li>
<li>22m² 'Comfort' singles have bath with showerhead, seating area and balcony</li>
<li>30m² Junior suites sleep 2-4 and have bath with showerhead, lounge area and balcony (the extra bed is a double sofa bed) </li>
<li>40m² Suites sleep 2-4 and are two roomed, with bath or shower and balcony (the extra bed is a double sofa bed) </li>
<li>All rooms have TV with English speaking channels, telephone, safe, radio, FREE Wi-Fi, minibar and hairdryer</li>
</ul>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_SpecialOfferItem",
    "offerText": "£55 off per full paying person ",
    "additionalInformation": "<p>(minimum 7 night stay)</p>",
    "offerLink": "[\r\n  {\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"\",\r\n    \"linkTitle\": \"\"\r\n  }\r\n]",
    "offerAdventStartDate": "2018-12-27T00:00:00",
    "offerAdventEndDate": "2019-02-28T00:00:00",
    "showOnChildNodes": "0"
  }
]]]></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[230433]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>