<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="0bc0abb7-c9b7-44b3-971d-f27928afa3af" id="34480" nodeName="Cancellation Charges" isDoc="" updated="2021-03-11T17:26:51.4600000Z" parentGUID="e4cc834e-9ec7-4372-964d-f84824d7a0e0" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="6" published="true" isBlueprint="false">
  <answer><![CDATA[<p>Your holiday deposit is non-refundable. If you cancel prior to the scheduled date of departure, you will be liable to pay the cancellation charges set out in the table on our Terms and Conditions section 4, bracket B. The term “total holiday cost” in the table means the total holiday cost for all persons cancelling and shown on our invoice and includes extras.</p>
<p>Click <a data-udi="umb://document/b703ff07ccec43baad41fffcfcc61821" href="/{localLink:umb://document/b703ff07ccec43baad41fffcfcc61821}" title="Terms &amp; Conditions">here</a> for <em>Terms and conditions</em></p>
<p>Please be aware that if one member of your party wishes to cancel, this may mean that the accommodation booked is under-occupied and result in the other members of the party having to pay any additional applicable supplements or child discount changes to retain the booking.</p>
<p>A cancellation invoice will be sent to you within 7 days.</p>
<p> </p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[Is there a charge to cancel my holiday?]]></question>
</fAQItem>