<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="0fe00aa6-f857-47c7-885d-526f68871331" id="21891" nodeName="Hotel Du Parc" isDoc="" updated="2021-12-07T10:31:49.2630000Z" parentGUID="689f022e-b797-4a70-87cc-becf4adbda43" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="8" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>The lift serves the main building only.</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "e42f1a36-760f-498d-953b-8531e637664f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save 5% on holidays of all durations when booked before 31 Jan 20 ",
    "addedValueStart": "2019-08-06T10:11:09",
    "addedValueEnd": "2020-01-30T10:11:12",
    "hideAddedValue": "1"
  }
]]]></addedValueOffers>
  <annexes><![CDATA[<p>Located 50 meters from the main building </p>]]></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>2</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/87313299eb3a4b038fb2170d4d6c6f42,umb://media/1543a39f0bed475abfe8500c36384bb0,umb://media/e0f0b4032cb9451ea48e53e7840a7167,umb://media/43b70111d67a4f8a943de812b2325924,umb://media/fe8d23594dda4151a5d4f83a07da2011]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is buffet style and you can enjoy it out on the terrace in the warmer weather, where you'll have lovely views of the lake. </p>
<p> </p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Hotel Du Parc certainly lives up to its name. The gardens here are beautiful, lake front, well-established and vast – they make having a relaxing holiday extremely easy. Find a seat or simply lay a blanket on the grass to enjoy a secluded afternoon admiring the views over the lake. When you’re ready to cool off, head for the pool and take a dip – you can still enjoy the lake views while you swim.</p>
<p>The hotel itself is a beautiful 19th century villa. Inside there’s a traditional Italian décor that may not be as grand as the outside but offers plenty of comfort. Head out onto the terrace for panoramic views of the lake, best enjoyed with a glass of wine form the bar. </p>
<p>The hotel is in a lovely, quiet location and the centre of <a data-udi="umb://document/689f022eb7974a7087ccbecf4adbda43" href="/{localLink:umb://document/689f022eb7974a7087ccbecf4adbda43}" title="Garda">Garda</a> is only 100 metres away. It’s perfect for when you want to get out and explore. Take a leisurely walk along the promenade and enjoy the bustle of the resort or hop on a ferry to explore further afield.</p>
<p>Transfer time: approx. 45 mins by coach from Verona airport.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/d5db5aaf3bbf4af08dbd82ca5f8c6e57,umb://document/316d233024e54f53beac12863e649aba]]></facilities>
  <facilityDescription><![CDATA[<p><strong><span style="text-decoration: underline;">Pool</span></strong></p>
<p>The large pool and whirlpool overlook the lake and has fantastic panoramic views of the bay of Garda. The hotel offers a pool towel service (payable locally).</p>
<p><span style="text-decoration: underline;"><strong>General Facilities</strong></span></p>
<ul>
<li>Free WiFi in public areas</li>
<li>Parking</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude><![CDATA[45.5776321]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Du Parc is surrounded by beautiful gardens with incredible <a data-udi="umb://document/ae52b40037474a3eadb1c0692c464473" href="/{localLink:umb://document/ae52b40037474a3eadb1c0692c464473}" title="Lake Garda">lake</a> views. There's plenty of secluded places to relax and admire the views. Inside is more traditional. Expect a laid-back comfort and simply-decorated rooms. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/87313299eb3a4b038fb2170d4d6c6f42]]></listingImage>
  <localFees><![CDATA[<p>Baby cots are available on request for €8 per day, payable locally. </p>]]></localFees>
  <locationDescription><![CDATA[<p>Perfect position to explore the lake. The restaurants and bars of the resort centre are just 5 minutes' walk along the lakeside promenade.</p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[10.6959425]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[28 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Du Parc surrounded by gardens, with a large outdoor pool and is in a fantastic position right on the lake front. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Du Parc, Garda Italy - Lakes & Mountains Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>28</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ITGA0120]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin Rooms</strong> can sleep up to two people and are decorated in a traditional style. These rooms are located at the rear of the property facing the road and have air conditioning (July and August), TV, safe, minibar, hairdryer and shower.</p>
<p><strong>Park View Rooms</strong> are located in the gardens and and have a small patio. They can sleep up to three people and the additional bed is a single sofa bed.  </p>
<p><strong>Twin Rooms for Sole Occupancy </strong>are available on request, please call to book. </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please advise of any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[644636]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/689f022eb7974a7087ccbecf4adbda43]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>