<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="96f04262-5a64-48b5-9dce-1e37078fec25" id="64845" nodeName="Train Travel" isDoc="" updated="2023-10-02T11:54:46.4200000Z" parentGUID="286307aa-794e-41ca-a5ab-2231aedd7d1b" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="0" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><img src="/media/13065220/norway_tasteofnorway_train.jpg" alt="trainhero" data-udi="umb://media/ac39579027ea4d5f874c9f52cad869a1" /></p>
<p>Our staff and customers love nature and the great outdoors. The places you visit as part of your Inghams holiday are special, and it’s our responsibility to keep them that way, long into the future.</p>
<p>Each year at Inghams, we measure the carbon footprint of our holidays. The largest component of our footprint is air travel.</p>
<p>We looked at what we could do about making a change in the way we and our customers travel to our holidays and knew that reaching destinations by train has a much lower carbon footprint than flying.</p>
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<p><img src="/media/13068109/flomsbanen-sverrehjornevik-25088-2858763.jpg" alt="trainviews" data-udi="umb://media/6e1d869b7cfb46dda6d9dbb4761b15fd" /></p>
<p style="text-align: left;">We want to make it as easy as possible for our customers to take the train, so from September 2023 our customers can now book train travel to Inghams holidays to 19 resorts across 4 countries.</p>
<p style="text-align: left;">There are also some great perks to train travel that you don’t find with flying or driving:</p>
<ul>
<li style="text-align: left;">You can move about and enjoy the catering carriage, where you can sit and enjoy food and drinks</li>
<li style="text-align: left;">You can take drinks and food with no restrictions on board with you.</li>
<li style="text-align: left;">There is far more legroom than a plane and the option of table seats.</li>
<li style="text-align: left;">You have the option to move about the train more freely as opposed to being sat in a car or limited to a plane aisle.</li>
<li style="text-align: left;">The views as you travel through Europe are unbeatable.</li>
<li style="text-align: left;">It’s a chance to travel through and not over destinations so you can appreciate the journey.</li>
<li style="text-align: left;">Larger luggage allowance meaning you can pack more of what you want, not just what you need.</li>
<li style="text-align: left;">A must for most people these days is the free Wifi on-board trains.</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow u-text-center">
<p><img src="/media/13088839/switzerland-mountains-train-summer-838x450.jpg" alt="traingoals" data-udi="umb://media/40e6490c9ce5495a961f359d051e3763" /></p>
<p style="text-align: left;">We’ve set ourselves the goal of reducing our carbon emissions by 50% by 2030. We recognise this is just the beginning of our journey to a more sustainable future - but we are making tracks.</p>
</div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow">
<p><img src="/media/13099804/sus-journey-420x330.jpg" alt="ourjourney" data-udi="umb://media/2ce690bb236843168475094d30a5f407" /></p>
<p style="text-align: center;"><a data-udi="umb://document/67e40dbb55ff45098496ea2e7eee1f72" href="/{localLink:umb://document/67e40dbb55ff45098496ea2e7eee1f72}" class="c-btn">Our Sustainability journey</a></p>
</div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow">
<p><img src="/media/13099803/sus-getting-420x330.jpg" alt="gettingthere" data-udi="umb://media/8ee60ca1cb464a5983c89a9581d18703" /></p>
<p style="text-align: center;"><a data-udi="umb://document/599491ab41f44d11a3c4cd9f7ef48bf5" href="/{localLink:umb://document/599491ab41f44d11a3c4cd9f7ef48bf5}" class="c-btn">Getting to Resort by Train</a></p>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow">
<p><img src="/media/13099802/sus-euro-420x330.jpg" alt="eurostar" data-udi="umb://media/7e6e6f23462343eb98b533df3e1739dc" /></p>
<p style="text-align: center;"><a data-udi="umb://document/2bf29261e6e747a98423e8b40c1d21ea" href="/{localLink:umb://document/2bf29261e6e747a98423e8b40c1d21ea}" class="c-btn">Travel by Eurostar</a></p>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Travelling by train for the future of our planet.]]></metaDescription>
  <metaTitle><![CDATA[Train travel | Sustainability | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Train Travel]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Sustainability meets rail travel.</p>]]></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/ac39579027ea4d5f874c9f52cad869a1]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>