<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="af0d66f2-f668-4c16-af88-9ab8a901f30c" id="69517" nodeName="Hotel Alpenpanorama" isDoc="" updated="2024-06-17T14:52:27.0130000Z" parentGUID="4fb215d0-c5bf-48a0-9eae-325fb09985f3" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="1" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/ae0fcb76e21147c383e66e04d9280b4e,umb://media/1f90ab04273848feb729c2d57b50169c,umb://media/9b1d45c969024093a601a4c60e301791,umb://media/77f4be3017454668b5cea50b1e680c7b,umb://media/822c5a45dc284d2ca84d2cb8ff0ccc9e,umb://media/d0ff95f27e5a401d8bee5cbdfa8b3881,umb://media/6357b4e76470422597166307d44cb57f,umb://media/bbdddba48abf476aa78b29ff9478ee7c,umb://media/56ddd26059ab4c20810fc6e29effb354,umb://media/b872d73d4fce4569860e1645ec3a3824,umb://media/5f01b45743f2400e89ae2f2d48b16be6,umb://media/4ffa65eb09b14edea35c5a3876e2b965,umb://media/3fc7939eff0140a997744b979c395c53,umb://media/e5aadec68d03463298f2c490900830f1,umb://media/fe792524ec78428a886bc3c8568709ca]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Breakfast is a generous buffet with hot &amp; cold options </p>
<p>For dinner you can enjoy a four course meal with choice of main</p>
<p>Once a week the hotel showcases the best of the Austrian Alps with a farmers' buffet</p>
<p>Half board is offered six days a week. On Wednesdays no evening meal is included. </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>If panoramic views and an on-site patisserie isn't enough to make you want to stay at the Hotel Alpenpanorama, then the excellent service and local food will put this hotel at the top of your must-visit list. The hotel offers the perfect combination of a quiet, peaceful location in the lively resort of Soll.</p>
<h2>Mountain views</h2>
<p>The hotel is positioned on a hill and offers prime views of the Polven, Hohe Salve and <a data-udi="umb://document/eef469a57cd54e639d59763edbf38397" href="/{localLink:umb://document/eef469a57cd54e639d59763edbf38397}" title="SkiWelt Wilder Kaiser-Brixental Area">Wilder Kaiser</a> mountains. Sit and enjoy a morning cup of coffee on your balcony with stunning views of the surrounding nature, or take in the views from the first floor lounge.</p>
<h2>Quiet location in a lively resort</h2>
<p>Set beside a forest, the peaceful location of the Hotel Alpenpanorama is an eight minute walk into the centre of <a data-udi="umb://document/4fb215d0c5bf48a09eae325fb09985f3" href="/{localLink:umb://document/4fb215d0c5bf48a09eae325fb09985f3}" title="Soll">Soll</a>.</p>
<p>The ski bus stops just opposite the hotel for easy access to the Hochsoll gondola and centre of resort.</p>
<h2>Locally sourced food</h2>
<p>The hotel put emphasis on sourcing local and fresh ingredients from Tyrolean farmers. Once a week the hotel showcases the best of the Austrian Alps with a special farmers' buffet.</p>
<p>A stay at the Hotel Alpenpanorama wouldn't be complete without visiting the hotel's very own Cafe &amp; Patisserie which serves up cakes, breads and desserts baked freshly on the premises.</p>
<p>Half board is offered six days a week. On Wednesdays no evening meal is included, giving you the chance to explore the great variety of restaurants and bars Soll has to offer.</p>
<h2>Relaxation</h2>
<p>Take time to relax in the hotel's small but comfortable wellness area. It has everything you need to warm up after a day on the slopes, complete with sauna, infrared cabin, steam bath, kneipp basin, and fitness room. Massages and beauty treatments are also available, payable locally.</p>
<h3>Why is this an Inghams' Choice property?</h3>
<p><strong>Excellent views</strong> - The Hotel Alpenpanorama's position on a hill means you can appreciate the amazing Wilder Kaiser mountains in all their glory.</p>
<p><strong>Local food</strong> - There's nothing better than trying some authentic Austrian food on your holiday and the onsite café offers incredible home-baked treats.</p>
<p><strong>Welcoming hotel team</strong> - The friendly hotel team are on hand to make your holiday enjoyable and restful. Throughout the week you can enjoy home cooked comforts - just sit back, relax and enjoy the fabulous skiing.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lounge area</li>
<li>On site café &amp; patisserie</li>
<li>Wellness area with sauna, infrared cabin, steam bath, kneipp basin, and fitness room</li>
<li>Massages and beauty treatments are payable locally</li>
<li>Cots are available</li>
<li>Wi-Fi</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "75427d60-1c8b-49e6-9c1e-54c89727c5e2",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"99d6ed7f-a0b5-4ef3-92cc-89e5709a182e\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[47.50872]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>With panoramic views and an on-site patisserie, it's hard not to love the Hotel Alpenpanorama. You can enjoy views of the surrounding Polven, Hohe Salve and Wilder Kaiser mountains from your balcony. Don't forget to visit the hotel's very own Cafe &amp; Patisserie, serving up cakes, breads and desserts daily.</p>
<div class="c-card__row c-page-content">
<p><strong>Save £100pp when you pre-book your ski pass and lift hire/carriage.</strong></p>
</div>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ae0fcb76e21147c383e66e04d9280b4e]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Eight minute walk downhill to the centre of resort</li>
<li>1.7km to Hochsoll gondola</li>
<li>Ski bus stop opposite hotel</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.19485]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[25 Rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Set in a peaceful location with easy access to the ski bus, the Hotel Alpenpanorama offers incredible views of the Wilder Kaiser mountains in Soll. Book with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Alpenpanorama | Soll Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>25</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Alpenpanorama]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATSO0112]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Panorama Rooms</strong> are around 28m² with Austrian twin beds and a bath or shower. They have a seating area and balcony with mountain views. They can sleep up to three using a single sofa bed.</p>
<p><strong>Bedroom Facilities</strong></p>
<ul>
<li>TV</li>
<li>Tea/coffee making facilities</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Special dietary requirements (gluten free, dairy free, vegan) are on request basis only</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[500539]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>