<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="45293e82-b1a6-4547-83e4-ddb7b4de0719" id="23015" nodeName="Grand Hotel Terminus" isDoc="" updated="2021-12-30T13:08:46.4370000Z" parentGUID="d517b2c2-1fa9-4eb0-96a3-bcb6b7e933c5" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "1efecc90-850a-462d-8612-6b9e18aa2fbf",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of hotel bikes (subject to availability) ",
    "addedValueStart": "2019-10-01T12:41:19",
    "addedValueEnd": "2022-10-01T12:41:21",
    "hideAddedValue": "0"
  },
  {
    "key": "7fbaae1e-1d86-4bae-bdd0-20ef9b8b788c",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free tea and coffee in lobby throughout the day",
    "addedValueStart": "2019-10-01T12:42:05",
    "addedValueEnd": "2022-10-01T12:42:07",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes><![CDATA[<p>Yes, of 18 rooms</p>]]></annexes>
  <bedroomFacilities><![CDATA[2,6,9]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Full hot and cold buffet breakfast (Mon-Fri: 06:45-10:00, Sat &amp; Sun: 06:45-10:30)</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/ebfa4df87b63459295b2c474c4091694,umb://media/9cd5bd2cba9c45c6ab6fc37d99976d3d,umb://media/268f062669654c128743e932c75732e3,umb://media/3ef08d884fa043febbe98a59f9f5c3d4,umb://media/45efd1ba2a67430cb03e6bfff9e02cbe,umb://media/536eac546185496ca67d39965a4fd6a1,umb://media/69d21fb170b5489cbd27c47ca1435a3e,umb://media/c6665d2fea46433490101c30ddf45745,umb://media/1e7eeceae82049099e7db50845c65821,umb://media/0732bbdd26454a33b773a84d62455ef6]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>The Grand Hotel Terminus combines classic architecture with an elegantly renovated interior that makes a fittingly swish first impression. This hotel provides a great base from which to explore the exciting city of <a data-udi="umb://document/d517b2c21fa94eb096a3bcb6b7e933c5" href="/{localLink:umb://document/d517b2c21fa94eb096a3bcb6b7e933c5}" title="Bergen">Bergen</a>. Located in a peaceful spot, just a few steps away from Bergen station and around a 10 minute walk to Bergen centre, harbour and the infamous fish market.</p>
<p>The Grand Terminus features a characteristic Whisky Bar, which has high ceilings and oak walls, with a gorgeous open fire. Guests have an extensive selection of whiskey to choose from, making it a great place to start and end your evening in Bergen. There is also a generous buffet breakfast for guests to enjoy each morning, before making use of the wellness centre, with gym, and the free bicycle rental that the hotel has to offer.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<ul>
<li>The hotel has a popular and historical 'Whisky' bar and restaurant serving a small snack menu into the evening</li>
<li>Alternatively, Bergen centre for a selection of international restaurants is a pleasant 8 minute walk away &amp; Torgallmenningen Square just 5 minutes' walk away</li>
</ul>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities><![CDATA[umb://document/d25cf89fbba845989d548de8683936a5,umb://document/269de525a30f43249daa18279ac7cbde,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/84c75c7aca8b4054874c29d25dde5dbc]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Lobby with fireplace</li>
<li>Small courtyard</li>
<li>Lift to all floors</li>
<li>The hotel's Whisky-bar was recently voted Bergen's best hotel bar, offers over 1000 whiskies and serves a light food menu in the evenings</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>7</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools>0</indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>2</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[60.3906762]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p class="p1">In a quiet location away from the hustle and bustle of the city centre, the Grand Hotel Terminus combines classic architecture with an elegantly renovated interior that makes a fittingly swish first impression. This hotel provides a great base from which to explore the exciting city of Bergen. Located in a peaceful spot, just a few steps away from Bergen station and around a 10 minute walk to Bergen centre, harbour and the infamous fish market.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ebfa4df87b63459295b2c474c4091694]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[5.3343569]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[131 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[In a quiet location away from the hustle and bustle of the city centre, the Grand Terminus combines classic architecture with a renovated interior, and provides a good base from which to explore. Book your stay online today.]]></metaDescription>
  <metaTitle><![CDATA[Grand Hotel Terminus Bergen - Norway - Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<p>In hotel</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>131</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOBE0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>Standard bedrooms in the Grand Hotel Terminus have bath or shower, TV, telephone, minibar and hairdryer.</p>
<ul>
<li>Standard Twin (A4) sleeping 2 people and is as described above</li>
<li>Superior Twin (B4) sleeping 2-4 people is larger than the standard rooms, with comfortable seating and en-suite with shower/bathtub </li>
<li>Standard Single (F1) has facilities as described above</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,1,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[248500]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>