<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="a5a47938-8776-4bbf-8797-5e09ac23eedc" id="24645" nodeName="When will I receive my tickets?" isDoc="" updated="2021-07-06T10:48:27.7530000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="10" published="true" isBlueprint="false">
  <answer><![CDATA[<p>We aim to send out your pre-departure information pack 4-6 weeks before travel. Included in the information pack will be an informative “Santa Breaks” booklet with more information about Lapland and what will happen when you are in resort. The pack will also include luggage labels and blank letters for the children to write on, so they can hand them to Santa at the Santa’s workshop activity morning / afternoon.</p>
<p>Your e-ticket will follow by email approx. 2 weeks before travel. Please ensure that the names on the travel documentation match your passports exactly and call us for advice if there are any differences. All times shown on your e-ticket are local.</p>
<p>If you have booked via a travel agent, all information will be sent via your agent. Please contact them if you have queries.</p>
<p>Further information including a more detailed itinerary will be provided on arrival at Kittilä Airport.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[When will I receive my tickets?]]></question>
</fAQItem>