<?xml version="1.0" encoding="utf-8"?>
<productFeaturePanelItem guid="0952fe45-cc70-447f-8e0d-8795ef6cbd5e" id="31972" nodeName="Summer 2023" isDoc="" updated="2022-08-29T19:23:54.7270000Z" parentGUID="f5086477-0f61-497e-8300-e823876ade68" nodeTypeAlias="productFeaturePanelItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <contentLink><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/a6804a9d8b734b4aa6983fa44ceba70d",
    "externalLink": "",
    "linkName": "",
    "linkTitle": ""
  }
]]]></contentLink>
  <imageUrl><![CDATA[umb://media/535dccb224304712911736f99942956a]]></imageUrl>
  <isPriceVisible>0</isPriceVisible>
  <isTitleVisible>0</isTitleVisible>
  <isVisible>1</isVisible>
  <itemPosition>0</itemPosition>
  <linkType><![CDATA[0]]></linkType>
  <offerSettings></offerSettings>
  <price></price>
  <title><![CDATA[Summer 2023 now on sale]]></title>
</productFeaturePanelItem>