<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="c3acb8aa-78f9-437a-acfc-8c90230aa1a2" id="70807" nodeName="February Ski Deals" isDoc="" updated="2024-04-24T12:57:14.9270000Z" parentGUID="95fd002b-173c-42f8-864e-f4987f493412" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="4" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "All Inclusive Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/f49f348f00d949d7a66118ce474ea12e",
    "externalLink": "",
    "linkName": "February Ski Deals",
    "linkTitle": "February Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>