<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="3f6a0772-6094-4e05-bb02-f9af7357e40c" id="71716" nodeName="Last Minute Deals" isDoc="" updated="2024-05-23T11:57:36.6500000Z" parentGUID="26fec183-1930-4688-8de0-d058cdb12113" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "This Summer Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/ed2ae11375e3429fbce5db15ca48b2d5",
    "externalLink": "",
    "linkName": "Last Minute Deals",
    "linkTitle": "Last Minute Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>