<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="efe74222-1205-49c5-b025-f4ba83015108" id="22600" nodeName="Hotel Park" isDoc="" updated="2022-01-31T18:51:47.7430000Z" parentGUID="5cfd5f91-c1d0-4191-8579-2bc414ff7721" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="8" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes><![CDATA[<p>no</p>]]></annexes>
  <bedroomFacilities><![CDATA[2,6,7,9]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet served 7-10am</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast.</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Hotel Park Ljubljana is situated in the heart of the city, under the Ljubljana Castle and very close to the city market and the famous Dragon bridge and the main square with all the fashionable stores and restaurants. The hotel is also a perfect  gateway to the old part of the city. Park Hotel has peaceful surrondings with a very warm welcome from the friendly staff.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Spark Bar</li>
<li>Lounge</li>
<li>Internet access</li>
<li>Summer terrace</li>
<li>Restaurant</li>
<li>Lifts</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>12</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>Early Booking Offer: Save up to £40</strong> per couple for Summer 2019 departures - whilst stocks last !</li>
</ul>
<p><strong> </strong></p>
<p><strong> </strong></p>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <latitude><![CDATA[46.053626]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Hotel Park Ljubljana is situated in the heart of the city, under the Ljubljana Castle and very close to the city market and the famous Dragon bridge and the main square with all the fashionable stores and restaurants.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/4c5e52048b84465194ede9c90f7c8d40]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[14.514679]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[192 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Visit Ljubljana for an amazing summer holiday in Slovenia. Hotel Park Ljubljana is situated in the heart of the city, under the Ljubljana Castle and very close to the city market and the famous Dragon bridge. Book your lakes and mountains holidays in Ljubljana with Inghams today.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Park Ljubljana - Slovenia - Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<p>0</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>192</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[SILJ0103]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>All twin or double rooms with shower, hairdryer, telephone, cable TV, Wi-Fi, minibar and air-conditioning. Safe is available at reception.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/5cfd5f91c1d0419185792bc414ff7721]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>