<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="b0d2f3fd-d629-478b-ae1a-dc5e138bfc81" id="74566" nodeName="Deals &amp; Offers" isDoc="" updated="2024-10-22T10:33:07.4630000Z" parentGUID="e59bcd52-9e6a-4ab5-bb44-bdc04ec60420" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="false" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Last Minute Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/c9869bf0e4e9431d98d0277c1db49284",
    "externalLink": "",
    "linkName": "Deals & Offers",
    "linkTitle": "Deals & Offers",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>