<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="0f6d70ed-ed97-44a2-8e8b-afc570cf87d0" id="22307" nodeName="Seiler's Vintage Hotel (Alfa Soleil)" isDoc="" updated="2024-08-22T16:17:48.9700000Z" parentGUID="08db8202-4652-4b63-b3bf-adde3a69e4f2" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="1" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "1362665c-5919-400d-8985-0ad568085cec",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for Summer 25 (book by 30 Mar 25)",
    "addedValueStart": "2019-08-27T14:50:41",
    "addedValueEnd": "2025-03-30T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "ec65f5c5-4ac6-4651-84e2-239615fac0cc",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night(s) offer available for Summer 25 (min stay 7 nights, valid on stays before 2 Jul 25, discount automatically applied, not combinable with early booking offer)",
    "addedValueStart": "2023-11-30T14:48:58",
    "addedValueEnd": "2025-07-02T14:50:00",
    "hideAddedValue": "0"
  },
  {
    "key": "c52d2a6f-99df-4b16-b8d7-62e51a627dfe",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "No single supplement on single rooms",
    "addedValueStart": "2019-08-27T14:34:24",
    "addedValueEnd": "2099-08-28T14:34:28",
    "hideAddedValue": "0"
  },
  {
    "key": "6a72943f-6f9c-4c1a-bed3-1adadfbb1530",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily afternoon tea and cake in the lounge (from 4-5pm), or ice cream on hot days in the garden",
    "addedValueStart": "2019-09-11T14:38:16",
    "addedValueEnd": "2099-09-12T14:38:18",
    "hideAddedValue": "0"
  },
  {
    "key": "1a8a209d-4a01-4491-a9fc-3d39399c26b5",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily packed lunch",
    "addedValueStart": "2019-08-27T14:34:08",
    "addedValueEnd": "2099-08-28T14:34:11",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/44beafdf83e54dd58f5f6f2a91db51ee,umb://media/4214c9dc39cd4ec48019cbd2bdb8c961,umb://media/ac76e4c18510433d97cb15a87c793504,umb://media/0f4d235dfcf042a09a23d58222218188,umb://media/e5dd29745d354c33b912e17bd602baae,umb://media/7d4566d9bb564c12813e403dfebbc961,umb://media/aefe677e898841d9a6d78dee1184b820,umb://media/afe355967dee4203a586db22726ab94e,umb://media/4e94a13ea8f94386b93f67577f5dff70,umb://media/0a6965c5565a495d8a75dd479bba3e18,umb://media/5e2c2078c47b4157800f17cf56561d15,umb://media/28700940dc734b78baa2e1319ba982f7,umb://media/ef632f9fb0fc463ab960719033cfaf52,umb://media/a9d8b17d84b24065826ac899ffa923dd,umb://media/505f6cce9a484a1cb03c5596a962eb4e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The hotel provides an excellent Swiss-style buffet breakfast each day which includes a range of regional produce.</p>
<p>Packed lunches are included as part of the holiday price for Inghams guests, keeping you fuelled until afternoon tea time when you can enjoy complimentary tea/coffee and cake (or ice cream on hot days) between 4-5pm.</p>
<p>In the evenings a delicious four-course meal is served in <strong>Nico's Restaurant</strong>. Dishes are a combination of regional specialities and European cuisine, created where possible with locally-sourced ingredients. A choice of three main courses (meat, fish, and vegetarian) is offered to ensure there's something to suit everyone's tastes.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The family-run Seiler's Vintage Hotel (ex Alfa Soleil) is a traditional building close to the center of <a data-udi="umb://document/08db820246524b63b3bfadde3a69e4f2" href="/{localLink:umb://document/08db820246524b63b3bfadde3a69e4f2}" title="Kandersteg">Kandersteg</a> village. There's a huge variety of walking trails on the doorstep, and with the railway station just a five-minute walk away you'll have easy public transport access to the wider region too.</p>
<h2>Great for families</h2>
<p>The hotel is loved by guests for its relaxed atmosphere and guest-house feel. Each of the 30 bedrooms is individually styled and has a unique personality. Balcony rooms have spectacular mountain views, and some can fit additional bunk beds - a great option for families. There's a cosy piano lounge that's great for quiet evenings in, billiards, and a play area too.</p>
<h2>Pretty gardens, and a relaxing pool &amp; spa</h2>
<p>The hotel is surrounded by beautiful mountain scenery and lovely gardens. The mini wellness center has an indoor swimming pool that's perfect for a refreshing dip at the end of a day in the mountains. There's also a steam room, mountain water showers, a Finnish sauna, and a relaxation area.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>Indoor swimming pool</li>
<li>Sauna</li>
<li>Steam room</li>
<li>Mountain water showers</li>
<li>Relaxation area</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Free Wi-Fi</li>
<li>Garden/terrace with sun loungers</li>
<li>Lounge</li>
<li>Table tennis and billiards</li>
<li>Parking</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen</li>
<li>Early meals for children on request</li>
<li>Children’s play corner (unsupervised)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "887bbfa4-1107-4ae0-9599-d2efc1467f6f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"f914774b-c60c-45e9-a591-cb302613994a\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude><![CDATA[46.500511]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This family-run hotel offers an at-home atmosphere and is a great option for families. Each carefully-decorated room has a unique character, and the pretty gardens, small spa, and indoor pool are perfect for relaxing after a day exploring this beautiful region.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/44beafdf83e54dd58f5f6f2a91db51ee]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time: Approx. 2hrs 45 mins by rail from Zurich airport or 3hrs by rail from Geneva airport. The journey involves one change of trains. On arrival/departure a porter service is available to transfer you from/to the station (porter service is available between 7.30am and 10pm).</li>
<li>750 metres from the village centre</li>
<li>900 metres from the train station</li>
<li>Less than 100 metres to the nearest bus stop</li>
<li>950 metres to the Oeschinensee lift</li>
<li>350 metres to the nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.6743751]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[30 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at  Seiler's vintage Hotel (Alfa Soleil) today with Inghams. An excellent family-friendly choice with a lovely spa and close to the Oeschinensee lift.]]></metaDescription>
  <metaTitle><![CDATA[Seiler's Vintage Hotel | Holidays in Kandersteg | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>30</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHKA0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Twin Rooms</strong> are around 20m² sleep two people. These rooms have a shower, and are available for sole occupancy for a supplement.</p>
<p><strong>Twin Rooms With Balcony</strong> are around 22m² and sleep two to four (with either a single or bunk bed as the extra bed, depending on occupancy - extra beds suitable for children aged 12 and under). These rooms have a bath with showerhead.</p>
<p><strong>Junior Suites</strong> are around 28m² and sleep two to three (extra bed is a single sofa bed). These rooms have a balcony and bath with showerhead.</p>
<p><strong>Two Room Suites</strong> are around 34m² and sleep two to four people (extra beds are single beds). These suites have two rooms with an interconnecting door, a balcony and a shared bathroom (with bath and showerhead).</p>
<p><strong>Single Rooms</strong> are around 15m² and have a shower. These rooms are under the eaves.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Hairdryer</li>
<li>Bathrobes</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>2pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. CHF3.60 per person per night is payable locally (children aged 6-15 years pay a reduced rate of CHF2.50 per person per night, and guests aged 5 and under are exempt)</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property:<strong> 0</strong></li>
<li>Adapted rooms: <strong>1</strong> (room has walk-in shower but no other adaptations)</li>
<li>All public areas are on the flat</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Vegan, gluten-free and dairy-free diets are subject to a supplement of CHF3 per day (payable locally).</p>
<p>Please let us know of any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps>0</steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[267303]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>