<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="faae145c-8560-48ac-824e-20055b45fefe" id="1500" nodeName="Meals included" isDoc="" updated="2019-12-03T09:32:20.1800000Z" parentGUID="d408e3b0-c21d-42a8-a765-34d4d3c618b1" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="11" published="true" isBlueprint="false">
  <answer><![CDATA[<p>Your holiday will be based on one of the following board basis for your meals</p>
<p><strong>Room Only / Self-Catering</strong> - No meals will be included in the price of your holiday.</p>
<p><strong>Bed and Breakfast </strong>- Breakfast only will be included in the price of your holiday.</p>
<p><strong>Catered Chalet</strong> - Daily continental breakfast, afternoon tea/coffee &amp; cake, 3 course set menu evening meal including a special regional menu on one night (<strong>6</strong> nights a week) with a Prosecco apéritif before dinner, choice of complimentary quality wines. Vegetarian meals available (request at time of booking).</p>
<p><strong>Catered Chalet Hotel </strong>- Daily buffet breakfast, afternoon tea/coffee &amp; cake, 4 or 5 course evening meals (<strong>6</strong> nights a week) with an apéritif, choice of complimentary quality wines, tea/coffee &amp; chocolates.</p>
<p><strong>Half Board</strong> - Your breakfast and evening meal will be included in the price of your holiday. In some cases you can choose to have lunch instead of dinner but the hotel will confirm this upon your arrival.</p>
<p><strong>Half Board Plus</strong> - Enhanced meal arrangements, with breakfast, packed lunch, afternoon tea, and dinner with wine included.</p>
<p><strong>Full Board</strong> - Your breakfast, lunch and evening meal will be included in the price of your holiday.</p>
<p>Some of our hotels may also offer an "All-Inclusive" package exclusive to the Inghams' Programme. There is no universal definition of "all-inclusive" so it is important that you check over all the details that are included before booking this type of service.</p>]]></answer>
  <popular>1</popular>
  <question><![CDATA[What meals are included in the price of my holiday?]]></question>
</fAQItem>