<?xml version="1.0" encoding="utf-8"?>
<resortLakesPage guid="c2a0cfb0-af81-46d1-8a45-e08bc4c22d42" id="29320" nodeName="Aeolian Islands" isDoc="" updated="2022-12-30T13:44:02.4030000Z" parentGUID="b037a20c-14a3-421b-a33b-32859c9e3344" nodeTypeAlias="resortLakesPage" templateAlias="ResortLakesPageResponsive" sortOrder="0" published="false" isBlueprint="false">
  <activityInformation></activityInformation>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <canonicalUrl></canonicalUrl>
  <carHireAvailable>1</carHireAvailable>
  <carouselMediaPicker><![CDATA[umb://media/7037416fe0cc45d5b355435a36934c9d,umb://media/88d6a303227f4eec8cfc6cd553a0c1de,umb://media/102dca9516fb4d73b2c99e1f794e25f0,umb://media/e963937c507c4fa98c07d498a3f2ecb3,umb://media/24af488f84414202adbfb737cb4e174c,umb://media/8b90add6af86466398b558a8365eb33f]]></carouselMediaPicker>
  <contentCarouselImage></contentCarouselImage>
  <currency><![CDATA[0]]></currency>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/a37c9ec1a68c4680974e91da1e8f69e9]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>The Aeolian Islands are Sicily's best-kept secret. These seven volcanic islands are missed off most people's itineraries but they're one of our favourite places to visit. Despite their small size there's endless things to do here form hiking up a volcano to sipping wine on the hills of Salina. The clear waters are perfect for swimmers and divers and the great ferry connections between the islands means you can spend every day of your holiday exploring somewhere new.</p>
<p style="color: #00533a;"><strong>What to see on an Aeolian Islands holiday</strong></p>
<p>Each of these seven islands has a character of their own so we'd recommend spending a day on each of them if you can. Lipari is the largest and comes with a lovely tight-knit old town and bustling harbour. Salina is a treat for food and wine lovers, thanks to the seafood restaurants and Malvasia vineyards. Whitewashed churches perch on the cliffs on pocket-sized Panarea and there's some great people watching to be done on the harbour - keep your eyes peeled for the mega yachts that moor in the summer. If you're feeling adventurous, join a guide and trek up the smoking volcano in Stromboli.</p>
<p>Discover more things to see and do <a data-udi="umb://document/b037a20c14a3421ba33b32859c9e3344" href="/{localLink:umb://document/b037a20c14a3421ba33b32859c9e3344}" title="Sicily">Sicily</a>.</p>
<p style="color: #00533a;"><strong>Why book an Aeolian Islands holiday with Inghams?</strong></p>
<p>Take the hassle out of your holiday planning by booking with Inghams. We'll sort out your airport and ferry transfers to the islands and have hand-picked the best hotels. All you have to do is enjoy. Your holiday is in <a data-udi="umb://document/fa72be9e45bc442089252c6a18a0d2ae" href="/{localLink:umb://document/fa72be9e45bc442089252c6a18a0d2ae}" title="In Safe Hands">safe hands</a> with Inghams.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <eveningResortBusService>0</eveningResortBusService>
  <excursions></excursions>
  <excursionsSubTabs></excursionsSubTabs>
  <excursionsUsefulInformation></excursionsUsefulInformation>
  <experienceMore></experienceMore>
  <facilities></facilities>
  <facilityInformation></facilityInformation>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <favouriteDestination></favouriteDestination>
  <festivals></festivals>
  <funFacts></funFacts>
  <generalInformationSubTabs></generalInformationSubTabs>
  <gettingAround></gettingAround>
  <gettingAroundTitle></gettingAroundTitle>
  <guidedWalks></guidedWalks>
  <guidedWalksTitle></guidedWalksTitle>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hikes><![CDATA[0]]></hikes>
  <inghamsPlusOffers></inghamsPlusOffers>
  <insiderItems></insiderItems>
  <insidersGuide><![CDATA[<p style="font-size: 18px; font-weight: bold;">Good to know</p>
<ul>
<li><span>Ferries/hydrofoils run regularly from Malazzo Port on the mainland to Vulcano and Lipari. You can also hop by boat between the Islands</span></li>
<li><span>Hike up to the Gran Cratere on Vulcano to see the steaming volcano and brilliant views of the Aeolian Islands</span><span></span></li>
<li><span>Visit the Aeolian Archaeological Museum on Lipari, the largest and most populous of the island chain</span><span></span></li>
</ul>]]></insidersGuide>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <insiderTips></insiderTips>
  <language></language>
  <latestDeals></latestDeals>
  <latitude><![CDATA[38.5846744]]></latitude>
  <listingDescription><![CDATA[<p><span>This unique volcanic archipelago of seven islands sits just off the north east coast of Sicily and offers breathtaking scenery, plenty of activities and a place to get away from the crowds.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ee8fedc20dc74c79a2a1c984f38412a5]]></listingImage>
  <localBusServices></localBusServices>
  <locationMap></locationMap>
  <longitude><![CDATA[14.6506079]]></longitude>
  <meetYourRep></meetYourRep>
  <metaDescription><![CDATA[Discover why the Aeolian Islands are Sicily's best kept secret and perfect for an active holiday with our guide. Book today with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Aeolian Island Holidays | Holidays to Sicily 2023 | Inghams]]></metaTitle>
  <nearestRailStation></nearestRailStation>
  <new>0</new>
  <noOfSeasons></noOfSeasons>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Aeolian Islands Holidays]]></pageTitle>
  <parking>1</parking>
  <pisteMapImage></pisteMapImage>
  <popularWalkingRoutes></popularWalkingRoutes>
  <popularWalkingRoutesTitle></popularWalkingRoutesTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/f256de78a509497a889e04910c51fc9e",
    "promotionBannerMobile": "umb://media/241a9224da45404db7bd473ea3bfafe8",
    "promotionLink": "[\r\n  {\r\n    \"name\": \"Sicily Latest Deals\",\r\n    \"udi\": \"umb://document/1354a7bb9bdd446380983ef0d29f0d35\"\r\n  }\r\n]",
    "promotionStartDate": "2022-02-21T00:00:00",
    "promotionEndDate": "2022-04-30T00:00:00"
  }
]]]></promotionItems>
  <repBio></repBio>
  <repImage></repImage>
  <repsName></repsName>
  <repYouTube></repYouTube>
  <resortAccomodationTagline></resortAccomodationTagline>
  <resortCode><![CDATA[ITAI]]></resortCode>
  <resortCombinations></resortCombinations>
  <resortMulticentreTagline></resortMulticentreTagline>
  <resortTransport></resortTransport>
  <resortType></resortType>
  <resortWidgetComment></resortWidgetComment>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showExcursions>0</showExcursions>
  <showExcursionsInAccommodationExcursionsDescription></showExcursionsInAccommodationExcursionsDescription>
  <showExcursionsInAccommodationExcursionsSubTabs></showExcursionsInAccommodationExcursionsSubTabs>
  <showExcursionsInAccommodationResortCombinationsDescription></showExcursionsInAccommodationResortCombinationsDescription>
  <showFAQs></showFAQs>
  <showFromYourRep>0</showFromYourRep>
  <showGeneralInformationInAccommodationMeetYourRep></showGeneralInformationInAccommodationMeetYourRep>
  <showGeneralInformationInAccommodationSubTabs></showGeneralInformationInAccommodationSubTabs>
  <showGeneralInformationInAccommodationTravelInformation></showGeneralInformationInAccommodationTravelInformation>
  <showInAndAround>1</showInAndAround>
  <showInsiderGuide></showInsiderGuide>
  <showInsidersGuide>1</showInsidersGuide>
  <showLocation>0</showLocation>
  <showPisteMaps></showPisteMaps>
  <showResortCombinations>0</showResortCombinations>
  <showSearchPanel>1</showSearchPanel>
  <showSpecialOffers>0</showSpecialOffers>
  <showThingsTodoInAccommodationExperienceMore></showThingsTodoInAccommodationExperienceMore>
  <showThingsTodoInAccommodationFacilitiesInformation></showThingsTodoInAccommodationFacilitiesInformation>
  <showThingsTodoInAccommodationFestivals></showThingsTodoInAccommodationFestivals>
  <showThingsTodoInAccommodationSubTabs></showThingsTodoInAccommodationSubTabs>
  <showThingsTodoInAccommodationThingsToDo></showThingsTodoInAccommodationThingsToDo>
  <showThingsTodoInAccommodationTransportFacilitiesInformation></showThingsTodoInAccommodationTransportFacilitiesInformation>
  <showThingsTodoInAccommodationWalking></showThingsTodoInAccommodationWalking>
  <showTours>1</showTours>
  <showWalking></showWalking>
  <showWalkingInAccommodationGettingAroundDescription></showWalkingInAccommodationGettingAroundDescription>
  <showWalkingInAccommodationGuidedWalksDescription></showWalkingInAccommodationGuidedWalksDescription>
  <showWalkingInAccommodationPopularWalkingRoutesDescription></showWalkingInAccommodationPopularWalkingRoutesDescription>
  <showWalkingInAccommodationUsefulInformationDescription></showWalkingInAccommodationUsefulInformationDescription>
  <showWalkingInAccommodationWalkingGeneralDescription></showWalkingInAccommodationWalkingGeneralDescription>
  <showWalkingInAccommodationWalkingSubTabs></showWalkingInAccommodationWalkingSubTabs>
  <snowWidgetDescription></snowWidgetDescription>
  <spareTime></spareTime>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <strolls><![CDATA[0]]></strolls>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleExperienceMore></subTabTitleExperienceMore>
  <subTabTitleFestivals></subTabTitleFestivals>
  <subTabTitleMeetYourRep></subTabTitleMeetYourRep>
  <subTabTitleResortCombination></subTabTitleResortCombination>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <subTabTitleTravelAndTransportation></subTabTitleTravelAndTransportation>
  <subTabTitleUsefulInformation></subTabTitleUsefulInformation>
  <subTabTitleWalking></subTabTitleWalking>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleExcursions></tabTitleExcursions>
  <tabTitleGeneralInformation></tabTitleGeneralInformation>
  <tabTitleMultiCenters></tabTitleMultiCenters>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tabTitleThingsToDo></tabTitleThingsToDo>
  <tabTitleWalking></tabTitleWalking>
  <tagline><![CDATA[Discover unexplored trails, dramatic scenery and inviting waters on a holiday to the Aeolian Islands]]></tagline>
  <thingsToDo><![CDATA[<p style="color: #00533a;"><strong>Things to see and do</strong></p>
<p>Be as active as you want on a holiday on the Aeolian Islands. They've got something for everyone whether you want to relax in a thermal spring, trek up a volcano or head to the water. Here's some of our top things to do on each island:</p>
<p><em>Lipari:</em> Spend time in the port and try out some of the great seafood restaurants here. They're perfect for fuelling up before heading up the hills for some great views over the islands and sea.</p>
<p><em>Vulcano:</em> Vulcano is famous for it's mud springs so bring your costume and set some time aside to relax. You can climb to the crater on the island's inactive volcano or head for one of the black-sand beaches. </p>
<p><em>Salina:</em> This is one of the prettiest islands thanks to it's fertile lands. Head up the hills and explore little villages - there's some great sea view terraces to be found. If you're a keen hiker we can recommend some of the island's trails to walk.</p>
<p><em>Panarea:</em> This is one of the smallest islands but that doesn't take anything away from it. It's a haven for mega yachts in the summer and with this comes chic seaside bars and restaurants to enjoy. Take a boat tour from here to discover the islets just next to the main island.</p>
<p><em>Stromboli:</em> You'll spot Stromboli from the other islands thanks to it's stream of lava that puts on a great show at night. For a once-in-a-lifetime experience, join an expert guide and hike to the top.</p>
<p><em>Filicudi:</em> This a great spot for diving with ancient shipwrecks to explore.</p>
<p><em>Alicudi:</em> Step back in time to Alicudi. This tiny island is untouched and you won't even find cars here - the easiest way to get around is by donkey!</p>
<p style="color: #00533a;"><strong>Food &amp; drink</strong></p>
<p>We love the fresh food in the Aeolian Islands. Unsurprisingly, seafood is the star of the show so sit back and enjoy the catch of the day in one of the many coastal restaurants. The islands also produce food like capers, tomatoes, honey and goats cheese. </p>
<p>Malvasia wine is made on the hills of Salina. It's a light red that's best enjoyed from one of the sea view terraces.</p>]]></thingsToDo>
  <thingsToDoSubTabs></thingsToDoSubTabs>
  <timeDifference><![CDATA[GMT +1]]></timeDifference>
  <titleWeSay></titleWeSay>
  <titleYouSay></titleYouSay>
  <transportFacilities></transportFacilities>
  <transportFacilitiesInformation></transportFacilitiesInformation>
  <travelInformation></travelInformation>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <usefulInformation></usefulInformation>
  <usefulInformationTitle></usefulInformationTitle>
  <walkingDescription></walkingDescription>
  <walkingGeneralDescription></walkingGeneralDescription>
  <walkingMap></walkingMap>
  <walkingSubTabs></walkingSubTabs>
  <walkingTitle></walkingTitle>
  <walks><![CDATA[0]]></walks>
  <weSay></weSay>
  <whyFavourite></whyFavourite>
  <youSay></youSay>
  <youTubePlaylist></youTubePlaylist>
  <youTubeVideoReference></youTubeVideoReference>
</resortLakesPage>