<?xml version="1.0" encoding="utf-8"?>
<newsItemPage guid="d7bcb624-fff1-480e-bb2e-53fbf0e275f0" id="39441" nodeName="Inghams Nominated For Two 2019 British Travel Awards" isDoc="" updated="2019-07-15T17:10:14.7630000Z" parentGUID="cc8143da-0b72-4d97-9666-75d3fbaf62a4" nodeTypeAlias="newsItemPage" templateAlias="NewsItemPage" sortOrder="2" published="true" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img src="/media/13077876/vote-for-inghams-in-the-british-travel-awards-2019.jpg" alt="Inghams Nominated For Two 2019 British Travel Awards" rel="642,347" /></div>
<div style="height: 15px; font-size: x-small; text-align: center;">Inghams nominated for two 2019 British Travel Awards.</div>
<div> </div>
<div>
<p><strong><u>Inghams Nominated For Two 2019 British Travel Awards</u></strong></p>
<p><a href="https://www.inghams.co.uk/">Inghams</a>, one of the UK’s largest ski tour operators and one of the longest established, is a proud nominee for the categories of:</p>
<ul>
<li><strong><em>Best Ski &amp; Winter Sports Holiday Company</em></strong></li>
</ul>
<p>and</p>
<ul>
<li><strong><em>Best Chalet/Winter Sports Accommodation Provider</em> </strong></li>
</ul>
<p>in the <a href="https://www.britishtravelawards.com/">British Travel Awards 2019</a>.</p>
<p>The winners will be determined by the consumer, who has <strong>until 30 September 2019</strong> to cast their vote. The BTA Gala Awards Ceremony - when the winners of each category are announced - will take place in London on 27<sup>th</sup> November 2019.</p>
<p>This year, Inghams is also celebrating its 85<sup>th</sup> birthday. Founded in 1934 by Walter Ingham, born out of his enduring passion for ski, mountaineering and walking, the brand continues to pride itself on being one of the UK's leading, most experienced specialist tour operators, best-known for its excellent service and great choice of holidays.</p>
<p>What’s more, Inghams has just launched its Ski 19/20 main edition brochure, announcing the further expansion of its winter programme in Europe and beyond, including - NEW for the next ski season - <u><a href="https://www.inghams.co.uk/ski-holidays/ski-resorts/japan">Japan</a></u>!</p>
<p>The prestigious British Travel Awards honour the very best companies in Travel. Over 80 categories cover the services used by the public when planning and purchasing their holiday experiences, making the BTAs one of the largest surveys of consumer opinion.</p>
<p><a rel="noopener" href="https://www.britishtravelawards.com/btaform.php?nomLink=227" target="_blank" data-anchor="?nomLink=227">Click here</a> to vote for Inghams<span></span></p>
<p><strong>-ENDS-</strong></p>
<p><strong>For media enquiries, please contact Frankie Gibson, PR Manager, on</strong><strong><u><a href="mailto:Frankie.gibson@hotelplan.co.uk"> Frankie.gibson@hotelplan.co.uk</a></u></strong></p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>0</deactivateThisPage>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Inghams Nominated For Two 2019 British Travel Awards]]></metaDescription>
  <metaTitle><![CDATA[British Travel Awards 2019 | Inghams]]></metaTitle>
  <newsItemDate>2019-07-15T00:00:00</newsItemDate>
  <pageTheme><![CDATA[0]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><a href="https://www.inghams.co.uk/">Inghams</a>, one of the UK’s largest ski tour operators and one of the longest established, is a proud nominee for the categories of:</p>
<ul>
<li><strong><em>Best Ski &amp; Winter Sports Holiday Company</em></strong></li>
</ul>
<p>and</p>
<ul>
<li><strong><em>Best Chalet/Winter Sports Accommodation Provider</em> </strong></li>
</ul>
<p>in the <a href="https://www.britishtravelawards.com/">British Travel Awards 2019</a>.</p>]]></shortDescription>
  <thumbnail><![CDATA[umb://media/1015510545224c6abab9eb7130b90314]]></thumbnail>
  <title><![CDATA[Inghams Nominated For Two 2019 British Travel Awards]]></title>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
</newsItemPage>