<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="37df6195-e21a-4246-8f1a-b993f9b5e4fd" id="42928" nodeName="Chalet Bonneval" isDoc="" updated="2024-07-24T14:19:54.0800000Z" parentGUID="16c56b28-3bca-4ae2-b2ad-a820a5d3a03d" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="20" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[0,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[2]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>
<p>8am</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/af02867ad2fa4af5a9f2e54fa872b29c,umb://media/25a301d0bb5e42cd8a33380e94861837,umb://media/95d47f3d8c9d4f02955ab647c55d407e]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Continental buffet breakfast for 7 mornings with hot option provided on 6 mornings per week†</li>
<li>Afternoon tea and coffee with cake on 6 days†</li>
<li>3 course evening set menu served 6 days, including pre-dinner glass of prosecco with a choice of complimentary wine &amp; tea/coffee†</li>
<li>Special celebration menus on Christmas Day &amp; New Year's Eve</li>
</ul>
<p>†(Breakfast hot option, afternoon tea &amp; dinner is 6 days per week due to chalet staff's day off)</p>
<p><strong>More information about <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalet">Chalet cuisine</a> catering</strong></p>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><strong>We're proud to say that the Chalet Bonneval is one of our properties run by our sister company Ski Total. Offering an authentic chalet experience in the Alps and giving you a greater choice and quality of chalets in <a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isère</a>.</strong></p>
<p>This charming chalet is based in Le Fornet, one of Val d’Isère’s most picturesque accommodation areas. Located only four minutes walk from the main Le Fornet cable car, which leads directly into the Espace Killy ski area, access to the pistes could not be much easier. It is also a short bus ride from the centre of Val d'Isère (running until midnight or 2am during high season) or a taxi ride is approx. 10 Euros each way. For experienced skiers, there is also an unpisted track if you wish to ski directly back to the door.</p>
<p>Set over three levels, the chalet is comfortable and attractive, featuring a good-sized living-room with log burner, comfy sofas, TV/DVD and CD player. Recent renovations have increased the size of this room, not shown in our photographs.</p>
<p>The chalet shares an entrance hall with adjoining<span> </span>Chalet Bonneval<span> </span>and can be combined to sleep 15/18 persons if one party books the whole of both chalets together.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Three course evening meal at 7.30pm</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>High quality chalet apartments</li>
<li>All bedrooms with private facilities </li>
<li>Comfortable lounge and dining area with log burning stove and TV/DVD player</li>
<li><strong>Free</strong> WiFi</li>
<li>Ski equipment storage room</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/c0e11185f51f4f4cb5a972b8e46cac58,umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/8186950faaac4be2bb6ec23c245cf12c]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>1</isSkiTotal>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>We're proud to say that the Chalet Bonneval is one of our properties run by our sister company Ski Total. Offering an authentic chalet experience in the Alps and with Sunday flying, we’re able to give you a greater choice and quality of chalets in <a data-udi="umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5" href="/{localLink:umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5}" title="France">France</a>. The charming stone chalet is located in the village of Le Fornet, close to the cable-car and ski back to the door via an unpisted track.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/3b179cf4eb7d48ff86d50663801a35f0]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription><![CDATA[<p>Located in Le Fornet, four minutes walk from the main cable car in Le Fornet</p>
<p>50m to the nearest bus stop </p>
<p>400m to the ski lifts </p>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch><![CDATA[<p>Afternoon tea is served at 4pm</p>]]></lunch>
  <maxPeopleSleepingText><![CDATA[Sleeps 10]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[A comfortable chalet based in Le Fornet, just a 4 minute walk from the Le Fornet cable car. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Chalet Bonneval Val d'Isère, France Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift><![CDATA[<p>Le Fornet télépherique</p>]]></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>4</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy><![CDATA[<p>8-10</p>]]></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/d3093fae013b466ebb76617bff84aeda",
    "promotionBannerMobile": "umb://media/86737c6970ec40da8fe631ff4a43f2ac",
    "promotionLink": "[]",
    "promotionStartDate": "2020-06-28T00:00:00",
    "promotionEndDate": "2021-05-03T00:00:00"
  }
]]]></promotionItems>
  <propertyCode><![CDATA[FRVD0150]]></propertyCode>
  <propertyType><![CDATA[1]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Accommodation Summary</strong></p>
<p><strong>Ground Floor</strong></p>
<p>Entrance, ski store and heated boot rack in garage</p>
<p>Room 1</p>
<p>Double with shower and separate wc opposite</p>
<p>Room 2</p>
<p>Twin with shower/wc</p>
<p> </p>
<p><img style="width: 680px; height: 510px;" src="/media/13080944/bonnevie-ground-floor-v2.jpg" alt="Chalet Bonneval Ground Floor Plan" data-udi="umb://media/34173ccf1e0c49e4990aa2881c91d055" /></p>
<p> </p>
<p><strong>First Floor</strong></p>
<p>Lounge/dining area with comfy seating, log burner, CD player, TV/DVD and balcony</p>
<p> </p>
<p><img style="width: 680px; height: 510px;" src="/media/13080944/bonnevie-ground-floor-v2.jpg" alt="Chalet Bonneval First Floor Plan" data-udi="umb://media/34173ccf1e0c49e4990aa2881c91d055" /></p>
<p> </p>
<p><strong>Second Floor</strong></p>
<p>Room 3</p>
<p>Twin/triple with bath/shower/wc. Please note that the 3rd bed is on a raised platform, accessed by a steep ladder and not suitable for children under 12 years old.</p>
<p>Room 4</p>
<p>Twin/triple with shower/wc and balcony. Please note that the 3rd bed is on a raised platform, accessed by a steep ladder and not suitable for children under 12 years old.</p>
<p> </p>
<p><img style="width: 680px; height: 510px;" src="/media/13080944/bonnevie-ground-floor-v2.jpg" alt="Chalet Bonneval Second Floor Plan" data-udi="umb://media/34173ccf1e0c49e4990aa2881c91d055" /></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/16c56b283bca4ae2b2ada820a5d3a03d]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>