<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="43c9ec64-9681-43c9-ae70-deb820d7a152" id="27455" nodeName="No1 Lounges Terms &amp; Conditions" isDoc="" updated="2022-02-04T07:51:35.6570000Z" parentGUID="b703ff07-ccec-43ba-ad41-fffcfcc61821" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="11" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lakes Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><strong><u>Free Lounge Pass worth up to £64 per couple</u></strong></p>
<p>Book any holiday to Austria departing in Summer 2018 and receive a free lounge pass for NO1 Lounges at;</p>
<p>Birmingham, Edinburgh, Gatwick, *Manchester or *Stansted for all your party.</p>
<p>Or **Heathrow with Lounge Pass</p>
<p>Please quote 'NO1 Lounges' at the time of booking in order to claim your pass.</p>
<p> <strong><u>Terms &amp; conditions</u></strong></p>
<ul>
<li>New bookings only, made from 23<sup>rd</sup> April – 30<sup>th</sup> June 2018</li>
<li>Lounge Pass <strong>must be added</strong> <strong>at the time of booking </strong>and cannot be added one booking is confirmed</li>
<li>Lounge pass <strong>cannot</strong> be added to late bookings made within 7 days of departure</li>
<li>This offer is <strong>not</strong> transferable and there is <strong>no</strong> cash alternative</li>
<li>See <a href="https://no1lounges.com/terms">https://no1lounges.com/terms</a> &amp; <a href="https://www.loungepass.com/index.cfm?fuseaction=information.tandc">https://www.loungepass.com/index.cfm?fuseaction=information.tandc</a> for providers terms and conditions</li>
<li>Please bring along your Inghams confirmation which shows your No1 Lounges pass booking and present that at the Reception of the Lounge you are entering</li>
<li>For Aspire Lounge by Lounge Pass at Heathrow, you will be sent a pass prior to departure and this must be presented at reception.</li>
</ul>
<p>*At <strong>Manchester</strong> and <strong>Stansted</strong> the lounge offered is <strong>Escape Lounges</strong> (a partner of No1 Lounges)  **At Heathrow the lounge offered is <strong>Aspire</strong>, by <strong>Lounge Pass</strong></p>
<p><strong>LOUNGE DIRECTIONS AND OPENING TIMES</strong></p>
<p class="larger"><strong>ASPIRE, BY LOUNGE PASS</strong></p>
<p class="larger"><strong>Location:</strong></p>
<p class="larger">Terminal 5. Airside - after Passport Control and Immigration, the lounge is located to the left of Gate A18 in the Main Departure Terminal. Passengers departing from the Satellites will need to access the lounge before proceeding to the Satellite Gates.</p>
<div class="row">
<div class="col-sm-5">
<p class="larger"><strong>Open:</strong><br /><br />05:00 - 22:30 Wednesday<br />05:00 - 22:30 Saturday</p>
</div>
</div>
<p><strong>Directions to No1 and Escape lounges: </strong></p>
<p><strong>No1 Gatwick - North Terminal</strong> is located in the lounge pavilion, on the same level as the International Departure Lounge. After passing through security follow the signs for "Airport Lounges" Once you have passed through the glass double doors the lounge is directly ahead. <strong>Lounge opening times: 04:00-22:00</strong></p>
<p> <strong>No1 Gatwick - South Terminal</strong> is after security, on the mezzanine level. Follow signs for Clubrooms and No1 Lounges, the lounge can be accessed via the corridor between Dixons and JD sports. <strong>Lounge opening times: 04:00-22:00</strong> </p>
<p><strong>No.1 Edinburgh</strong> is located in departures after security. <strong>Lounge opening times: 04:30-21:00</strong> </p>
<p><strong>No.1 Birmingham</strong> is located beyond security. Once you have passed through World Duty Free and into the main departure lounge, the entrance to the lounge is directly ahead, between WHSmith and Next. <strong>Lounge opening times: 04:30-21:00</strong><strong> </strong></p>
<p><strong>Manchester Escape Terminal 1: </strong>After clearing airport security, proceed through the Biza Duty Free store to the Departure Lounge. Then take your first left, where you will see signage to the Escape Lounge. <strong>Lounge opening times: 05:00 - 20.30 </strong><strong> </strong></p>
<p><strong>Manchester Escape Terminal 2:</strong>  After clearing airport security, proceed through the Biza Duty Free store to the Departure Lounge. Turn left and walk past the shops and Food Village where you will find a staircase to the Escape Lounge. <strong>Lounge opening times: 05:00 - 18:00 </strong><strong> </strong></p>
<p><strong>Manchester Escape Terminal 3</strong>:  Once you have passed through security, take the first left and head down the escalator, following signs for Escape Lounge. <strong>Lounge opening times: 04:15 - 20:30</strong></p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Here are our terms & conditions for the free lounge pass worth up to £64 per couple offer.]]></metaDescription>
  <metaTitle><![CDATA[No1 Lounges Terms & Conditions | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Free Lounge Pass worth up to £64 per couple - Terms & Conditions]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>0</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/b703ff07ccec43baad41fffcfcc61821]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>