<?xml version="1.0" encoding="utf-8"?>
<productLakes guid="731184fa-7b97-42f0-a969-771e90773289" id="42119" nodeName="Tours and Multi-Centre Holidays" isDoc="" updated="2024-07-26T17:37:04.1170000Z" parentGUID="96a3e4d1-4370-4d3e-9379-3368e4fc0416" nodeTypeAlias="productLakes" templateAlias="ProductItalyResponsive" sortOrder="51" published="false" isBlueprint="false">
  <bannerImage><![CDATA[umb://media/289d383ad58b49b4baf3a1ae5849d71b]]></bannerImage>
  <bannerPrimaryStrapline><![CDATA[Discover More]]></bannerPrimaryStrapline>
  <bannerSecondaryStrapline><![CDATA[Self Guided & Multi-centre Tours within Europe]]></bannerSecondaryStrapline>
  <campaignOffersLink></campaignOffersLink>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[0]]></colorTheme>
  <contentCarousel><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_CarouselContent",
    "displayContent": "[\r\n  {\r\n    \"name\": \"France\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/4f0a3283135c495d937f772676e81919\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"France\",\r\n    \"linkTitle\": \"\"\r\n  }\r\n]"
  },
  {
    "name": "Item 2",
    "ncContentTypeAlias": "nC_CarouselContent",
    "displayContent": "[\r\n  {\r\n    \"name\": \"Italy\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/ea233839b0584030b226a2679c5a63d2\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Italy\",\r\n    \"linkTitle\": \"\"\r\n  }\r\n]"
  },
  {
    "name": "Item 3",
    "ncContentTypeAlias": "nC_CarouselContent",
    "displayContent": "[\r\n  {\r\n    \"name\": \"Slovenia\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/3d076e993e084681a60596409848607f\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Slovenia\",\r\n    \"linkTitle\": \"\"\r\n  }\r\n]"
  },
  {
    "name": "Item 4",
    "ncContentTypeAlias": "nC_CarouselContent",
    "displayContent": "[\r\n  {\r\n    \"name\": \"Switzerland\",\r\n    \"ncContentTypeAlias\": \"nC_LinkPicker\",\r\n    \"internalLink\": \"umb://document/b06b4e3dd1e94bc2bf7dd8b54dd52aee\",\r\n    \"externalLink\": \"\",\r\n    \"linkName\": \"Switzerland\",\r\n    \"linkTitle\": \"\"\r\n  }\r\n]"
  }
]]]></contentCarousel>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/2ab2234be671425a9cdbf920926aae24]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <facebook><![CDATA[https://www.facebook.com/InghamsSummer/]]></facebook>
  <feefoPrefix><![CDATA[Lakes]]></feefoPrefix>
  <googlePlus></googlePlus>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <introductionText><![CDATA[<p>Inghams have been providing summer adventures for over 85 years and over the years we have discovered a multitude of hidden gems. We offer a wide range of self-guided tours throughout Europe. Each of our tours has been carefully crafted to create itineraries that explore the very best these destinations have to offer.</p>
<h3>Self Guided Tours</h3>
<p>These tours give you the power to explore your chosen region at your own pace, we set you up with everything you need from flights, accommodation, excursions and transfers and you need to do is enjoy the ride! <a data-udi="umb://document/d1bcc0fc1aff4ad2aee24c0b94b27588" href="/{localLink:umb://document/d1bcc0fc1aff4ad2aee24c0b94b27588}" title="Self-Guided Tours">Learn more</a></p>
<h3>Multi-Centre Holidays</h3>
<p>Why go on holiday to one country or region, when you could visit two, or even three? Perhaps spend a week in the mountains before relaxing on a beach or exploring a city or even split your time between two countries! Our team is on hand to create a bespoke trip that’s perfect for you. <a data-udi="umb://document/75608f96f365422d89a1d50cd6c3339e" href="/{localLink:umb://document/75608f96f365422d89a1d50cd6c3339e}" title="Multi-Centre Holidays">Learn more</a></p>]]></introductionText>
  <introductionTitle><![CDATA[Discover more with Inghams]]></introductionTitle>
  <latestDeals></latestDeals>
  <latestDealsBackgroundImage></latestDealsBackgroundImage>
  <latestDealsText></latestDealsText>
  <metaDescription><![CDATA[Inghams summer programmes include a variety of exciting holidays including self guided tours, our iconic rail tours and multi-centre holidays.]]></metaDescription>
  <metaTitle><![CDATA[Tours and Multi-Centre Holidays in Europe 2023/24 | Inghams]]></metaTitle>
  <offers></offers>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Tours and Multi-Centre holidays]]></pageTitle>
  <pinterest></pinterest>
  <productType><![CDATA[1]]></productType>
  <program><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></program>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showBioSection>1</showBioSection>
  <showBrandReEnforcementModule>1</showBrandReEnforcementModule>
  <showCampaign>0</showCampaign>
  <showCampaignOffersLink>0</showCampaignOffersLink>
  <showContentCarousel>1</showContentCarousel>
  <showDealsPanel>0</showDealsPanel>
  <showExpertCardsSection>1</showExpertCardsSection>
  <showFavouriteSkiResortsSection>1</showFavouriteSkiResortsSection>
  <showFeaturedItemsPanel>1</showFeaturedItemsPanel>
  <showGoodToKnowSection>1</showGoodToKnowSection>
  <showHeroBanner>1</showHeroBanner>
  <showHeroCarousel>1</showHeroCarousel>
  <showInghamsExpertsContentSection>1</showInghamsExpertsContentSection>
  <showInSafeHandsSection>1</showInSafeHandsSection>
  <showInsidersGuidesSection>1</showInsidersGuidesSection>
  <showInspirationBanner>0</showInspirationBanner>
  <showMailingListSection>1</showMailingListSection>
  <showResponsiveTabs>0</showResponsiveTabs>
  <showSearchPanel>1</showSearchPanel>
  <showSkiDestinationsSection>1</showSkiDestinationsSection>
  <showStayPicksSection>1</showStayPicksSection>
  <showTickSection>1</showTickSection>
  <showTitleAndFeefoSection>1</showTitleAndFeefoSection>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <trustboxTemplateId></trustboxTemplateId>
  <twitter><![CDATA[https://twitter.com/InghamsSummer]]></twitter>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</productLakes>