<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="0dc506c2-0a05-408b-b514-ab25ad4f8aad" id="35012" nodeName="Highlights of the Fjords" isDoc="" updated="2021-12-30T12:20:03.2070000Z" parentGUID="babc2cf1-283a-49d6-be3d-e72fbdee560e" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "de83088d-5f97-4281-80d3-7335385d4c95",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save £100 per couple on the 22nd July 2019 Departure - last few remaining places!",
    "addedValueStart": "2019-04-17T13:20:40",
    "addedValueEnd": "2019-07-22T00:00:00",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[6]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/c6ae0859c7c445b7ae9962ac770ce2e7,umb://media/e37ba3634f354cf5b1ca585b99516ad1,umb://media/a31de23362364a09a0660612db9a4015,umb://media/56517e33c6554c9d8a9ae19cb142a8dd,umb://media/1016cc1b7c794721bf95d590c67522c8,umb://media/b1dd8e7e6e3f42d7a1b568ee4544b7fc,umb://media/13a93e8344ed43d5acb2160957e68050,umb://media/fd0d00c571fb4ec7a5dd07a25c2d657c]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p style="margin: 0cm; margin-bottom: .0001pt;"><strong>Breakfast:</strong> 11</p>
<p style="margin: 0cm; margin-bottom: .0001pt;"><strong>Packed Lunch:</strong> 4</p>
<p style="margin: 0cm; margin-bottom: .0001pt;"><strong>Dinner:</strong> 8</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><span>Enjoy the best of the Norwegian fjord’s glorious and diverse scenery in this exclusive 4-centre group tour, escorted by a knowledgeable guide throughout. Designed as an excellent introduction to Norway for those wishing to see the spectacular fjords, mountains, glaciers and lakes in four contrasting destinations - from the historic city of </span><a data-udi="umb://document/d517b2c21fa94eb096a3bcb6b7e933c5" href="https://www.inghams.co.uk/destinations/norway/bergen" title="Bergen">Bergen</a><span> to the serene Sognefjord, and from the glacier arms in Loen to the Atlantic coast in </span><a data-udi="umb://document/4796d8535a46439d92020f8a158e7c03" href="https://www.inghams.co.uk/destinations/norway/alesund" title="Alesund">Ålesund</a><span>. This tour gives you an insight into the ‘real’ Norway where even your transfers between resorts are spectacular scenic day trips.</span></p>
<div>
<p><strong>Maximum Group Size: </strong>30</p>
<h2 style="text-align: center;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#Tour highlights">Tour highlights</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#itinerary">Itinerary</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#Your holiday includes">Your holiday includes</a> | <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#Hotels">Hotels</a>| <a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#departure dates">Departure dates</a></h2>
<div class="data-grid">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">2021 &amp; 2022 Departures on sale now!</td>
</tr>
</tbody>
</table>
</div>
</div>
<h2><a name="Tour highlights"></a><span class="geolocation-title">Tour highlights</span></h2>
<ul>
<li>Experience the best of Norway's natural beauty on this tour of the fjords</li>
<li>Feel like you're in a fairy-tale exploring the charming city of Bergen </li>
<li>Travel the enchanting coastal route from Bergen to Balestrand by boat</li>
<li>Take one of the world's best train journeys along the Flåm Railway</li>
<li>Admire the breath taking views from the brand-new Loen Skylift</li>
<li>Enjoy a relaxing boat cruise to the Seven Sisters waterfall</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#tour highlights">[Back to top]</a></p>
<h2><a name="Itinerary"></a><span class="geolocation-title">Itinerary</span></h2>
<p><strong>Day 1: UK to Bergen</strong></p>
<p>Fly to Bergen. Transfer to the Hotel Augustin in Bergen centre, your base for the next 2 nights. </p>
<p>Meals included: Dinner</p>
<p><strong>Day 2: Bergen</strong></p>
<p>A day to explore Bergen, with optional guided tours of some of the sights available, including Fantoft Stave Church and the Rosenkrantz Tower before a free afternoon to discover Bergen at your own pace. We recommend guests purchase a Bergen Card as it is a great value way to take in the main attractions including the Fløiban funicular and most of the museums. The card also gives you discounts in selected local restaurants for your evening meals. Bergen Cards are available to purchase locally.</p>
<p>Meals included: Breakfast</p>
<p><strong>Day 3 - 5: Bergen to Balestrand</strong></p>
<p>After a buffet breakfast and morning exploring Bergen, enjoy a 4-hr afternoon express boat north along the coast to<span> </span><a data-udi="umb://document/a09d8dda0d4f48d68be229cdaeb2f377" href="https://www.inghams.co.uk/destinations/norway/balestrand" title="Balestrand">Balestrand</a>, arriving in time for a buffet dinner at Hotel Kviknes. From Balestrand, you will discover the Sognefjord with a fabulous day trip to experience the famous Flåm railway, included in the price of your holiday. For your day at leisure, options include a visit to the nearby village of Vik with its impressive Stave Church or trip deeper into the fjord to the Jøstedal glacier.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 6: Balestrand to Loen</strong></p>
<p>A scenic drive across the magical Gauler Mountains to the Hotel Alexandra in<span> </span><a data-udi="umb://document/14f6ab787ad2493ab23ce60aa9f14e6a" href="https://www.inghams.co.uk/destinations/norway/loen" title="Loen">Loen</a>, boasting an excellent pool and spa facilities, overlooking the fjord. There will be several photo stops along the way, including at the new Gaulerfjellet viewing platform, so make sure you keep your camera to hand. Arriving in Loen mid-afternoon, there is time to take a stroll around the village before your buffet dinner at the hotel.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Days 7 - 8: Loen</strong></p>
<p>Loen enjoys a spectacular location ‘where the fjords and glaciers meet’ so why not take one of the optional trips to the Kjenndal and Briksdal glaciers. There is also good walking here so we recommended bringing walking shoes, although both glaciers are easily accessible via gentle terrain. The views from the brand new Loen Skylift, the area’s newest attraction are spectacular and a network of walking trails at the summit allows guests to make a half-day trip of the cable-car ride.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Day 9: Loen to Ålesund</strong></p>
<p>Another scenic minibus transfer to the vibrant Art Nouveau city of<span> </span><a data-udi="umb://document/4796d8535a46439d92020f8a158e7c03" href="https://www.inghams.co.uk/destinations/norway/alesund" title="Alesund">Ålesund</a>. Your journey will take a full day as you will experience more of Norway's fjord favourites including a cruise on the Geirangerfjord to view the Seven Sisters waterfall.</p>
<p>Meals included: Breakfast, Dinner</p>
<p><strong>Days 10- 11: Ålesund </strong></p>
<p>Once in Ålesund, a varied selection of optional activities are available for the rest of your stay including visits to the local museums and ocean aquarium, plus a range of excursions to the surrounding islands and fishing communities as well as Alnes lighthouse. Don’t miss a trip to Aksla mountain at sunset for amazing views over the city.</p>
<p>Meals included: Breakfast</p>
<p><strong>Day 12: Ålesund to UK</strong></p>
<p>Return by shuttle to Ålesund airport for your flight back to the UK.</p>
<p>Meals included: Breakfast</p>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#Tour highlights">[Back to top]</a></p>
<h2><a name="Your holiday includes"></a><span class="geolocation-title">Your holiday includes</span></h2>
<ul>
<li>Return flights from the UK</li>
<li>Exclusive Inghams tour</li>
<li>Inter-resort transfers</li>
<li>Day trip on Flåm railway from Balestrand with packed lunch included</li>
<li>Experienced guide throughout</li>
</ul>
<p><span></span><strong>Your holiday excludes:</strong></p>
<ul>
<li>Any extras, drinks, gratuities and personal expenses</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#Tour highlights">[Back to top]</a></p>
<h2><a name="Hotels"></a><span class="geolocation-title">Hotels</span></h2>
<p><strong>★★★ <a data-udi="umb://document/0d46aba9adc646f2afb1eeefe50bbc3f" href="https://www.inghams.co.uk/destinations/norway/bergen/augustin-hotel" title="Augustin Hotel">Hotel Augustin</a>, Bergen (2 nights) </strong></p>
<p><strong>★★★★ <a data-udi="umb://document/d26dcba440054402b9ccfe7166c1ad56" href="https://www.inghams.co.uk/destinations/norway/balestrand/kviknes-hotel" title="Kviknes Hotel">Hotel Kviknes,</a> Balestrand (3 nights)</strong></p>
<p><strong>★★★★ <a href="https://www.inghams.co.uk/destinations/norway/loen/alexandra-hotel" title="Alexandra Hotel">Hotel Alexandra,</a> Loen (3 nights)</strong></p>
<p><strong>★★★★ <a data-udi="umb://document/89e354afa6824ae197da03b9604055e7" href="/{localLink:umb://document/89e354afa6824ae197da03b9604055e7}" title="First Hotel Atlantica">First Hotel Atlantica,</a> Ålesund (3 nights)</strong></p>
<h2><a name="Departure dates"></a><span class="geolocation-title">Departure dates<a></a></span></h2>
<ul>
<li>07 June 2021</li>
<li>21 June 2021</li>
<li>05 July 2021</li>
<li>19 July 2021</li>
<li>02 August 2021</li>
<li>20 June 2022</li>
<li>04 July 2022</li>
<li>01 August 2022</li>
</ul>
<p style="text-align: right;"><a href="https://www.inghams.co.uk/destinations/tours-multi-centres/tours-multi-centres-in-norway/highlights-of-the-fjords#Tour highlights">[Back to top]</a></p>
<p><em>Our tours are subject to minimum numbers and with that in mind the tours and their itineraries may be subject to change. Where this becomes necessary, and where practicable, we will take the steps as outlined in clause 5 of our<span> </span><a href="https://www.inghams.co.uk/legal/terms-conditions">terms and conditions</a>.</em></p>]]></description>
  <descriptionCharacterLimit>6000</descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>1</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>1</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[0]]></internalRating>
  <latitude></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Enjoy the best of the Norwegian fjord’s glorious and diverse scenery in this 4-centre group tour, escorted by a knowledgeable guide throughout. Designed as an excellent introduction to Norway for those wishing to see the spectacular fjords, mountains, glaciers and lakes in four contrasting destinations.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ff4cd8b8162a4216b62e0d8709744330]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[Maximum Group Size: 30]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Enjoy the best of the Norwegian fjord’s glorious and diverse scenery in this exclusive 4-centre group tour, escorted by a knowledgeable guide throughout.]]></metaDescription>
  <metaTitle><![CDATA[Highlights of the Fjords Norway Tours - Lakes 2021 2022 | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3.5]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Norway: Highlights of the Fjords - Escorted Group Tour]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOXC3021]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p style="margin: 0cm; margin-bottom: .0001pt;"><strong>Bergen</strong> (2 nights) <a data-udi="umb://document/0d46aba9adc646f2afb1eeefe50bbc3f" href="https://www.inghams.co.uk/destinations/norway/bergen/augustin-hotel" title="Augustin Hotel">Augustin</a> ★★★+ <span>A friendly family-run hotel, beautifully decorated with a welcoming atmosphere and many special touches. Centrally situated which makes the harbour, fish market and Bryggen Wharf approximately a 3-4 minute walk (350m). This hotel is a great choice to explore this fascinating city, conveniently located to shops and a good selection of international restaurants.</span></p>
<p style="margin: 0cm; margin-bottom: .0001pt;"><strong>Balestrand</strong> (3 nights) <a data-udi="umb://document/d26dcba440054402b9ccfe7166c1ad56" href="https://www.inghams.co.uk/destinations/norway/balestrand/kviknes-hotel" title="Kviknes Hotel">Kviknes</a> ★★★★<span>This wonderfully atmospheric historic dates back to 1752. Today with its modern amenities, main wing and attentive personal service it remains one of Fjord Norway’s best loved, family-run properties. The attractive original Swiss style wing radiates personality and soul, with an absolutely magnificent scenic fjord-side location and panoramic views across the Sognefjord.</span></p>
<p style="margin: 0cm; margin-bottom: .0001pt;"><strong>Loen</strong> (3 nights) <a data-udi="umb://document/fbdb2d63e0f24d7fb8fbb7a20fdd9578" href="https://www.inghams.co.uk/destinations/norway/loen/alexandra-hotel" title="Alexandra Hotel">Alexandra</a> ★★★★+ <span>Built in 1884 the Alexandra is an intimate and truly special fifth generation family-run hotel steeped in tradition and set in the heart of this breathtakingly beautiful region. As one of Norway’s very best hotels, and is a favourite in our programme, it combines genuine hospitality, exceptional cuisine, gardens and extensive pool and spa facilities.</span></p>
<p style="margin: 0cm; margin-bottom: .0001pt;"><strong>Ålesund</strong> (3 nights) <a data-udi="umb://document/399112bca5344a2e8d6d9e81b1c02f28" href="https://www.inghams.co.uk/destinations/norway/alesund/scandic-parken" title="Scandic Parken">Scandic Parken</a> ★★★★ <span>A classic city hotel located in the heart of Ålesund, just a few steps from the main street and 2 minutes' walk from the harbour. With a traditionally-decorated rooms, large public areas and light, pleasantly-decorated rooms, the Scandic is an excellent base in this Atlantic city. A buffet evening meal is included for tour guests on the first night of their stay, whilst a selection of traditional and international restaurants are on your doorstep for the rest of your stay - make sure you try the local bacalao!</span></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>0</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/b97673ffe21c4dddb421af4c884e381d]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>