<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="80a7b064-551f-462f-935c-31d4cae4f972" id="22649" nodeName="Ramada Hotel &amp; Suites" isDoc="" updated="2024-06-10T15:47:32.4000000Z" parentGUID="9b6cf6ea-c795-41f5-850e-141e41a071ab" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="2" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "fb3ce125-f704-4817-9bb4-1c1fd0301260",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (book by 31 Mar)",
    "addedValueStart": "2019-12-11T10:57:33",
    "addedValueEnd": "2099-03-31T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "2cca61db-ee30-4388-95c3-97f8b8edf1ac",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night(s) offer available (min stay 7 nights, excludes stays from 1 Jun - 13 Sep, not combinable with early booking offer, discount automatically applied)",
    "addedValueStart": "2023-11-29T10:52:04",
    "addedValueEnd": "2024-09-13T10:52:06",
    "hideAddedValue": "0"
  },
  {
    "key": "df1c64ca-8475-4453-b608-29c2d0cf8579",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Birthday and anniversary offer: free bottle of sparkling wine",
    "addedValueStart": "2019-12-11T10:58:03",
    "addedValueEnd": "2099-12-12T10:58:05",
    "hideAddedValue": "0"
  },
  {
    "key": "edb70123-cda2-4178-8a8f-00fe681635b2",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Unlimited use of swimming pools at Hotel Kompas and Ramada Hotels",
    "addedValueStart": "2020-11-11T10:37:40",
    "addedValueEnd": "2099-11-12T10:37:42",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/bd29f0e7139a4d489a805450850746a5,umb://media/84418ae080b248dcbfb92f8d2b19323d,umb://media/dea18a4866e8441ba4a74785fe49ee64]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Half-Board at the Ramada Hotel and Suites includes a buffet breakfast with a range of hot and cold items, and a buffet-style evening meal featuring both international dishes and regional specialities. Evening meals might be served in one of the nearby sister hotels. </p>
<p>If you fancy a coffee or a sweet treat then head to the hotel's <strong>Café Prisank</strong>, open from 8am-10pm.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The friendly and helpful staff offer a taste of welcoming Slovenian hospitality at the Ramada Hotel &amp; Suites. The hotel is located in the centre of <a data-udi="umb://document/9b6cf6eac79541f5850e141e41a071ab" href="/{localLink:umb://document/9b6cf6eac79541f5850e141e41a071ab}" title="Kranjska Gora">Kranjska Gora</a>, just a short walk from the old town with its traditional farmhouse-style buildings and 16th Century church. There are coffee shops and restaurants on the doorstep, and many walking and biking trails too.</p>
<h2>Excellent in-house bar and restaurants</h2>
<p>Enjoy a range of regional and international dishes at the hotel's buffet restaurant, or head to their 'Pizzeria Napoli' for an Italian night. The hotel also has a bar and a coffee house where you can try the moreish Sladka Julija (a flourless chocolate-pistachio cake) - a perfect afternoon treat.</p>
<h2>Spa and wellness facilities</h2>
<p>You're spoilt for choice when it comes to outdoor activities in and around Kranjska Gora, but for rainy days, rest days and quiet afternoons you'll also have access to the leisure facilities at the nearby sister hotels - the Hotel Ramada Resort and Hotel Kompas. Access to the swimming pools is unlimited and free, and both also have spa facilities that are payable locally.</p>
<h2>Spacious rooms with beautiful views</h2>
<p>The elegantly-designed interior of the hotel feels light and airy. The bedrooms are modern and spacious, with all the facilities you need for a comfortable stay. Choose a room with a village view, or upgrade to one with a balcony looking out towards the stunning Julian Alps.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p>Guests can enjoy free use of the pools, and discounted use of the spa facilities (payable locally) at the Hotel Ramada Resort and Hotel Kompas.</p>
<p><strong>Larix Wellness Centre at the Hotel Ramada Resort</strong></p>
<ul>
<li>400m² swimming pool complex with whirlpool and sun loungers for relaxing inside or out on the sun terrace</li>
<li>Sauna world (payable locally) with Finnish, Turkish and Infrared saunas, steam room, cooling pool and relaxation area</li>
<li>Massage treatments (payable locally)</li>
</ul>
<p><strong>Hotel Kompas spa &amp; wellness facilities</strong></p>
<ul>
<li>Indoor swimming pool opening onto the gardens, and children's pool with waterslide</li>
<li>Sauna area (payable locally) with Finnish and Turkish saunas, and Chromotherapy and crystal therapy</li>
<li>Fitness room</li>
</ul>
<p><strong>Other facilities</strong></p>
<ul>
<li>Garden terrace</li>
<li>Lounge area</li>
<li>Bar</li>
<li>Free Wi-Fi</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen (payable locally)</li>
<li>Highchairs</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "99647102-db5a-49b1-83e3-9132a15b7853",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"e6519a26-58b1-41db-a916-5da8a55f8ba0\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[46.4844549]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Located in the centre of Kranjska Gora, the Ramada Hotel and Suites is a great choice for an active holiday. You'll have unlimited access to the swimming pools at two sister hotels - Hotel Kompas, and Ramada Resort - and also benefit from discounted rates in their spas.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/bd29f0e7139a4d489a805450850746a5]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time: approx. 1 hour from Ljubljana airport or 3 - 4 hours (traffic dependant, including a stop) from Salzburg airport</li>
<li>Located in the village centre</li>
<li>50 metres to the nearest supermarket</li>
<li>500 metres to the bus and coach station</li>
<li>450 metres to the Tourist Information office</li>
<li>The nearest train station is in Jesenice</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[13.7775977]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[110 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at the Ramada Hotel & Suites today with Inghams. Enjoy excellent spa facilities, delicious buffet-style meals, and a great, central location.]]></metaDescription>
  <metaTitle><![CDATA[Ramada Hotel and Suites | Holidays in Kranjska Gora | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>110</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[SIKR0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Village View Standard Double Rooms</strong> sleep two and have a village view.</p>
<p><strong>Village View Large Double/Twin Rooms</strong> sleep two to four people and have a village view (the extra bed is a double sofa bed).</p>
<p><strong>Mountain View Large Double/Twin Rooms</strong> sleep two to four people and have a mountain view and a balcony (the extra bed is a double sofa bed).</p>
<p><strong>Single Rooms</strong> are available on request. These rooms have a balcony and mountain view.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Mini fridge</li>
<li>Safe</li>
<li>Shower</li>
<li>Wi-Fi</li>
<li>Hairdryer</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>2pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees &amp; taxes</strong></p>
<p>A local tourist tax of approx. €3.50 per person per night is payable locally (children aged 7-18 pay a reduced rate of approx. €1.75 per night and children aged 6 and under are exempt).</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property: <strong>0</strong></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please let us know of any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[581114]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>