<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="35c6c47d-5028-4083-846f-722827e8eae3" id="72491" nodeName="The Views Baia" isDoc="" updated="2024-08-21T11:52:01.4630000Z" parentGUID="cad35d37-f73d-4350-8704-1e35025d1da8" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="19" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>There is a steep slope leading up to the hotel.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "ae4399bb-4f4f-4d3a-a442-95f3b4d13713",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for stays from Nov 24 to Apr 25 (excluding 27th Dec to 2nd Jan, book by 30th Sept 24)",
    "addedValueStart": "2024-08-21T11:49:10",
    "addedValueEnd": "2024-09-30T11:49:12",
    "hideAddedValue": "0"
  },
  {
    "key": "cb79765b-d3cd-45c0-ae21-742c83eba22d",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for stays from 12th May to Oct 25 (book by 31st Mar 25) ",
    "addedValueStart": "2024-08-21T11:50:01",
    "addedValueEnd": "2025-03-31T11:50:03",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,3,4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/68f7bfb681d645478789df1d7ced6331,umb://media/b7277001e37d45b2a421d6c131a1b908,umb://media/073908654b5946edb2f5b49acfcb4711,umb://media/ba0266a865c54ad493fa67e0a89ee7bc,umb://media/01c25923800e41618a060b1fd9f2289f,umb://media/04aec73dc5a34fc097e01ea177a903a1,umb://media/62206e8377304d9c8bc0534f232c8173,umb://media/b9efcd0f76d8431d98d9624d3c670a1d,umb://media/996daf21693046fca9e388aa50d56c16,umb://media/342c2d5eb26f49539f1ca795771ba16d,umb://media/986ce1e96f74464d971876d1f0faf01c,umb://media/23b1c6dd42a6407fb3cc6111a5baad91]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p><strong>BayView Restaurant</strong> – is a lovely setting to enjoy breakfast and dinner, both are served buffet style. Breakfast can be taken from 7.30am to 10am, and dinner from 6.30pm to 9pm (selected meals are bookable and payable locally depending on board basis).</p>
<p><strong>Desarma Restaurant</strong> – a new addition to the hotel, this restaurant sits at the top of The Views Baia and offers delicious flavours mixed with traditional Madeiran ingredients (not included in the bed and breakfast, half-board and full-board basis).</p>
<p><strong>Pool Deck Bar</strong> – is situated right next to the outdoor pool - perfect for purchasing a cocktail and admiring those ocean views.</p>
<p><strong>Woogie Boogie cocktail Bar</strong> – open in the evenings, this elegant cocktail bar with floor to ceiling windows is a great spot for buying yourself a beverage.</p>
<p>Guests on half board or full board and staying on the 24th Dec 2024 and/or 31st Dec 2024 can enjoy a fantastic Christmas and/or New Years Eve Gala Dinner - these are included in the price of your holiday.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Views Baia hotel, is an adults-only escape with modern design and beautiful views.</p>
<h2>Cosmopolitan feel</h2>
<p>The hotel has a fantastic location. It’s set back from the sea but has an elevated position above Funchal Bay. You get to enjoy the natural amphitheatre of Funchal with mountains sweeping all around you and beautiful, distant views of the Atlantic Ocean ahead. You’re not too far from Funchal here so you can head into the centre and enjoy sightseeing, great food or wander the cobbled, historic streets.</p>
<h2>A pool with a view</h2>
<p>We love to hit the outdoor swimming pool on beautiful blue-sky days - the views are spectacular and it’s lovely to relax or take a dip in the pool. You’ll also find the Pool Deck Bar here where you can purchase a delicious beverage. As well as another bar, the hotel also has two restaurants (only one restaurant is included in the bed and breakfast, half-board and full-board basis).</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Outdoor swimming pool (usually open from 9:30am to 7pm)</li>
<li>Spa area with indoor swimming pool (payable locally)</li>
<li>Massages and treatments (bookable and payable locally)</li>
<li>Fitness area</li>
<li>Paddle tennis court</li>
<li>Games room</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "ddc1d5b6-241b-4ba3-bfd8-7795699c5d02",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"206b2372-d34a-465b-8ada-fd0c94a3c49d\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Views Baia is an adults-only property situated outside of Funchal's main centre with an elevated position with great views towards the Funchal Bay and ocean.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/b7277001e37d45b2a421d6c131a1b908]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Airport transfer time: Approx. 30 minutes from Madeira Airport.</li>
<li>Approx. 1.5 kilometres from Funchal centre (there is a steep slope leading from Funchal up to the hotel).</li>
<li>Bus stop just a short walk from the hotel (steep slope).</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at The Views Baia hotel today with Inghams. Enjoy this adults-only property with a lovely outdoor pool.]]></metaDescription>
  <metaTitle><![CDATA[The Views Baia | Holidays in Funchal | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>238</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[The Views Baia]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[PTFN0114]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Classic Room</strong> sleep two people and surrounding views can be enjoyed from the balcony.</p>
<p><strong>Classic Room Sea View</strong> sleep two people and offer lovely views towards Funchal and the sea.</p>
<p><strong>Superior Room Sea View</strong> sleep two people and have great views towards the harbour and sea.</p>
<p><strong>Deluxe Room</strong> sleep two people and are modern in design.</p>
<p><strong>Deluxe Room Sea View</strong> sleep two people and have great views that can be enjoyed from the balcony.</p>
<p><strong>Studio's</strong> sleep up to three people (extra bed is on request). They have a small kitchenette and dining area.</p>
<p><strong>Deluxe Junior Suite</strong> sleep two people and are spacious with a small kitchenette and living area. </p>
<p><strong>Deluxe Junior Suite Sea View</strong> sleep two people, offer a generous space with a small living area and kitchenette as well as sea views.</p>
<p><strong>General information </strong></p>
<ul>
<li>Check in: 3pm</li>
<li>Check out: 11am</li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A tourist tax of approx. €2.00 per person per night, for a maximum of 7 nights is payable locally for guests age 13 years and over (subject to change).</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[266651]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>