<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="c9ba7da0-63b3-4ad9-8ec7-fc4ac05db9d7" id="59675" nodeName="Austria Walking Holidays From Manchester" isDoc="" updated="2024-06-14T15:27:26.1900000Z" parentGUID="e7e1e0da-7bdb-46ef-b283-e1b73cd888cf" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="2" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Discover our latest walking deals to Austria that depart from Manchester. Flights, transfers and accommodation are included in the price.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great deal on walking holidays in Austria from Manchester airport. Book your holiday today with Inghams Walking.]]></metaDescription>
  <metaTitle><![CDATA[Austria Holiday Deals from Manchester | Inghams Walking]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-WALKING-AUSTRIA-MAN",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-WALKING-AUSTRIA-MAN",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Austria Walking Holidays from Manchester]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Looking to travel to Austria from Manchester airport?]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>