<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="2da3353e-7ba9-4206-b5c4-da2d9cfc4119" id="22816" nodeName="Hotel Grunberger" isDoc="" updated="2021-12-29T14:00:20.5530000Z" parentGUID="04e03f5c-842c-4827-9d84-06095eb78480" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="9" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,6,11,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet</p>]]></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Plentiful hot and cold buffet breakfast with a large variety available</li>
<li>3 course evening meals are delicious with choice of main dish.</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>We are pleased to introduce this lovely three star hotel to our programme which is a real gem in an idyllic location on the banks of the river Berchtesgadener Ache. With a short stroll into the centre of the village and close to Lake Königssee and other local attractions, this offers a great base for your holiday.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Waiter</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart/casual</p>]]></dressCode>
  <facilities><![CDATA[umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/269de525a30f43249daa18279ac7cbde,umb://document/36ebccaf6fef4fffb28746645e3e6793,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/84c75c7aca8b4054874c29d25dde5dbc]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Newly renovated leisure area with indoor pool and sauna. Riverside garden with sun loungers. Residents' restaurant and bar, lounge area.</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers><![CDATA[<ul>
<li><strong>PREVIEW 2017 EARLY BOOKING OFFER: SAVE £50 PER COUPLE OFF ALL HOLIDAYS</strong> (Prices include flights, transfers, the relevant nights' accommodation and meals as indicated. Prices shown online are after deducting any applicable Early Booking Offer)</li>
<li><strong>Exclusive to Inghams</strong></li>
<li><strong>Free </strong>laptop to borrow during stay</li>
<li><strong>Free</strong> daily newspapers</li>
</ul>]]></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3.5]]></internalRating>
  <latitude><![CDATA[47.626311]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>We are pleased to introduce this lovely three star hotel to our programme which is a real gem in an idyllic location on the banks of the river Berchtesgadener Ache.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/1d02983b08144b34881bcd60d752871b]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[13.001401]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Hotel Grunberger in Berchtesgaden, Book Summer Lakes & Mountains Holidays with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Hotel Grunberger Berchtesgaden Germany - Lakes Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>66</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[DEBG0106]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>Austrian twins have shower, lounge area, and balcony.</li>
<li>All rooms have cable TV, radio, safe, telephone and hairdryer.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Location: In an idyllic location on the banks of the river Berchtesgadener Ache, with a short stroll into the centre of the village. Situated a 10 minutes’ walk from the heart of Berchtesgaden with a bus stop nearby.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>