<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="3e0bf50f-f686-4ee7-addc-4df437eec812" id="23685" nodeName="Pyhätunturi Hotel" isDoc="" updated="2023-04-18T08:36:58.6230000Z" parentGUID="041226d3-66f1-4cf5-bf65-e7eaaffb4db4" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="7" published="false" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p>Not suitable for wheelchairs</p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast. 3 course evening meal (served or buffet style) or €12 credit towards à la carte.</li>
<li>New Year gala buffet with music, glass of sparkling wine and slopeside fireworks.</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p><span>An excellent recently remodelled and totally renovated modern hotel in a highly scenic and very convenient elevated ski-in/ski-out position. Its popular à la carte restaurant offers international and Lappish specialities, as well as simpler fare such as burgers and pizzas. The Glacier bar and lounge is a great place to relax at the end of the day and the Ski Bistro forms the hub of après-ski with DJ music, karaoke and occasional live music. Guests can pamper themselves in the hotel's Pyhä Klubi fitness room and sauna. The hotel is situated right next to the ski slopes, ski school and ski hire shop with panoramic views overlooking magnificent national park scenery.</span></p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre>0</distanceToCityCentre>
  <distanceToLift>0</distanceToLift>
  <distanceToNurserySlopes>0</distanceToNurserySlopes>
  <distanceToRestaurant>0</distanceToRestaurant>
  <distanceToSkiSchool>0</distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities><![CDATA[umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/2a5cc4fcb8a64105a535f273f498beb5,umb://document/6c17c206ef6249ae9e5146c2bc96e638,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Free entrance to 'Pyhä Klubi' with sauna and fitness room</li>
<li><strong>Free</strong> Wi-Fi throughout hotel</li>
<li>Gift shop</li>
<li>No lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>2</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[67.022377]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p><span>An excellent recently remodelled and totally renovated modern hotel in a highly scenic and very convenient elevated ski-in/ski-out position.</span></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/c532715eaab940de985e1156453c1e7c]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[27.239849]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[Pyhatunturi Hotel in Pyha, Book Now with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Pyhatunturi Hotel, Pyha Lapland/Finland | Ski Resort | Inghams]]></metaTitle>
  <nearestBusStop>0</nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<p>200m</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>51</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FIPY0101]]></propertyCode>
  <propertyType></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<ul>
<li>All our modern refurbished twin-bedded rooms have magnificent fell views, shower, wc, drying closet, hairdryer and flat-screen TV. No single occupancy supplement 8-21 Dec &amp; 5 Jan-2 Mar.</li>
<li>Spacious Family Rooms sleep a 3rd or 4th person on 2 single pull-out sofa beds, and have a fridge and tea/coffee making facilities in addition.</li>
<li><strong><a href="https://www.inghams.co.uk/ski-holidays/ski-resorts/laplandfinland/pyha/pyhae-ski-inn-suites/">Pyhä Ski-Inn Suites</a>:</strong> 48 Superior attractively priced suites located 75m from main hotel and ideal for couples or families. See separate description. <a href="https://www.inghams.co.uk/ski-holidays/ski-resorts/laplandfinland/pyha/pyhae-ski-inn-suites/">For full description see here</a>.</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>0</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<ul>
<li>Situated right next to the ski slopes, ski school and ski hire shop with panoramic views overlooking magnificent national park scenery.</li>
</ul>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/2da7ac9814d44a75af6718b02ca02250]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>