<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="104675d8-a38c-4bea-ac3c-4b4532d057f0" id="68072" nodeName="The climate in Lapland" isDoc="" updated="2024-12-10T12:42:07.6800000Z" parentGUID="f191be97-24dd-4f26-9ea3-c984f3d7fa9b" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="15" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Lapland Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><img src="/media/13088619/_dsc3693-edit-1.jpg" alt="Reindeer Safari" width="838" /></p>
<p style="text-align: left;"><strong>Lapland's crisp, dry type of cold is quite comfortable as long as good protective winter clothing is worn. </strong></p>
<p style="text-align: left;"><strong>This should include:</strong></p>
<ul>
<li>Warm ski suit or rented thermal overalls</li>
<li>Several light base layers</li>
<li>Long thermal underwear</li>
<li>Warm socks and roomy thermal boots</li>
<li>Warm hats and gloves or mittens</li>
<li>Balaclava/buff or scarf</li>
<li>Ski goggles and sunglasses</li>
</ul>
<p>Your base layers should be long sleeved tops and leggings/long johns. The key to keeping the cold out is layering, and we recommend lots of thin layers that can be added and removed to control body temperature. Merino wool is one of the best materials for insulating, and is naturally moisture wicking. Other suitable materials for base layers include polyester, nylon, cotton and silk.</p>
<p>One of the first things to get cold on your body are your extremities (hands and feet), so a good pair of liners and gloves go a long way. For your inner glove liners, we recommend a lightweight silk or wool blend, to keep your hands snug and well insulated.</p>
<h3>Thermal Suits and Boots</h3>
<p><strong>Santa breaks</strong> – Includes thermal suits and boots</p>
<p><strong>7 nights Lapland Holidays</strong> – Thermal suits and boots are not included unless:<br />- Adding on the Santa Experience (thermal suit &amp; boots included) <br />- Booking the Muotka 7 nights (thermal &amp; boots included)<br />- Booking the Muotka 2 centre (thermal suit &amp; boots included)</p>
<p><strong><strong>Daylight Hours &amp; Temperatures</strong></strong></p>
<p>Days are shortest from early December to mid January. This blue light period is called 'Kaamos' in Finnish and is when the sun no longer rises above the horizon. This atmospheric twilight period still has at least 5 hours of daylight, with magenta coloured skies reflecting light off the snow covered wilderness, and candles and lanterns add to the magic.</p>
<p>Early January to late February is a favourite time for many international visitors. Days pass in an evocative palette of prolonged rose-coloured dawns and dusks, and aptly named 'ghost' trees bow in bizarre snow-laden shapes. This is a time when resorts are still not at their busiest and visitors will have them largely to themselves.</p>
<p>By March and April daylight hours are already longer than in the UK and snow crystals sparkle in the bright sunlight, and nature is bathed in a surreal orange glow. This is a period popular with the Finns and cross-country ski enthusiasts.</p>
<p> </p>
<div style="overflow-x: auto;">
<table border="1">
<tbody>
<tr>
<th>
<p><strong>Month</strong></p>
</th>
<th>
<p><strong>Average<br />daylight hours<br /></strong></p>
</th>
<th>
<p><strong>Snow depth (cm)</strong></p>
</th>
<th>
<p><strong>Temperature ºC</strong></p>
<p><strong>high/low</strong></p>
</th>
</tr>
<tr>
<td>Nov</td>
<td>7</td>
<td>14</td>
<td>-3/-11</td>
</tr>
<tr>
<td>Dec</td>
<td>5</td>
<td>32</td>
<td>-5/-13</td>
</tr>
<tr>
<td>Jan</td>
<td>6</td>
<td>47</td>
<td>-11/-18</td>
</tr>
<tr>
<td>Feb</td>
<td>9</td>
<td>62</td>
<td>-2/-6</td>
</tr>
<tr>
<td>Mar</td>
<td>13</td>
<td>65</td>
<td>0/-9</td>
</tr>
<tr>
<td>Apr</td>
<td>18</td>
<td>54</td>
<td>4/-4</td>
</tr>
</tbody>
</table>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow" style="text-align: center;">
<h3 style="text-align: center;">Visit at Christmas time</h3>
<p><img src="/media/13098868/santa-and-sleigh-500x500.jpg" alt="SantainLapland" data-udi="umb://media/96bedb9caab8468d96fa1370bbac4297" /></p>
<a data-udi="umb://document/b4b8092e139d47a78e8440eb208f88f7" href="/{localLink:umb://document/b4b8092e139d47a78e8440eb208f88f7}" title="Santa Breaks" class="c-btn" data-="">View Santa Breaks</a></div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow" style="text-align: center;">
<h3 style="text-align: center;">Trips during the holidays</h3>
<p><img src="/media/13095231/inghams-lapland-893-adobestock_413147056.jpg" alt="NorthernLights" data-udi="umb://media/fed9c95745ed4372bd85e0f95a894a9d" /></p>
<a data-udi="umb://document/5d43a74b744d46078ab904e3e1c68f60" href="/{localLink:umb://document/5d43a74b744d46078ab904e3e1c68f60}" title="Half Term" class="c-btn" data-="">Half-Term deals</a></div>
</div>
<div class="col-xs-12 col-md-4">
<div class="c-card c-card--generic c-card--generic-shadow" style="text-align: center;">
<h3 style="text-align: center;">So much space to ski</h3>
<p><img src="/media/13095283/inghams-ski-adobestock_45598764.jpeg" alt="FamilyTravel" data-udi="umb://media/d0b7597ad549469abc169b65ed196b34" /></p>
<a data-udi="umb://document/f0f31db66a7f488ea3b48ad27078e926" href="/{localLink:umb://document/f0f31db66a7f488ea3b48ad27078e926}" title="Ski Excursions" class="c-btn" data-="">Skiing in Lapland</a></div>
</div>
<p> </p>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Travel, accommodation and transfers? We’ve got you covered. Book your holiday online or give us a call. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Lapland's crisp dry type cold is quite comfortable as long as good protective winter clothing is worn. This should include the following.]]></metaDescription>
  <metaTitle><![CDATA[Weather in Lapland | Climate and Snow in Lapland | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[The climate in Lapland]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>What is the weather like in Lapland and what sure you wear to stay warm - we have all the information.</p>
<p> </p>
<p> </p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/b43d919173e54de3bc50a8bd082e57f3]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>