<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="b8b5a6ba-0dbd-4b7b-bbd3-53ea7f8b9339" id="23064" nodeName="Clarion Collection Skagen Brygge" isDoc="" updated="2021-12-30T12:45:22.3830000Z" parentGUID="387b9a04-8e56-4a54-b4da-f68ada0e270f" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "f9b22c11-181a-4d49-9ffc-d317226e464f",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily afternoon 'sweets' (cakes, waffles or croissants) ",
    "addedValueStart": "2019-10-01T12:04:43",
    "addedValueEnd": "2022-10-01T12:04:44",
    "hideAddedValue": "0"
  },
  {
    "key": "e4150caa-5a95-4f48-849d-926052ff0181",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily light evening meal included (one main course, soup and salad)",
    "addedValueStart": "2019-10-01T12:05:01",
    "addedValueEnd": "2022-10-01T12:05:03",
    "hideAddedValue": "0"
  },
  {
    "key": "51cdb348-47e1-406d-a8ac-78518551b8ff",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free tea and coffee available in the lobby throughout the day",
    "addedValueStart": "2019-10-01T12:05:15",
    "addedValueEnd": "2022-10-01T12:05:17",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[1,4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Hot and cold buffet breakfast</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/0c8005cf771b4394b8a7e50065a3007d,umb://media/418364a65c7a49638c233012e3fa8ca6,umb://media/552d50cfc6b4484eb6e0fd52d7bdfba6,umb://media/6fb101dd7fe8434fa98f93bcf209612a,umb://media/dea480fcc27e4f8f886d68286940fb26,umb://media/085b96d4256d4703a60e25dbfe722187]]></carouselMediaPicker>
  <cateringDescription></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>Located on the pier in <a data-udi="umb://document/387b9a048e564a54b4daf68ada0e270f" href="/{localLink:umb://document/387b9a048e564a54b4daf68ada0e270f}" title="Stavanger">Stavanger</a>, and in one of the most recognisable historic buildings in the city, the Hotel Skagen Brygge has you right in the centre of Stavanger’s maritime history. Being able to enjoy lovely views across the harbour and Old Stavanger opposite really adds to a holiday in Stavanger. The white wooden houses of Old Stavanger are under ten minutes’ walk away, and many restaurants, bars, shops and the Valberg Tower are also close by.</p>
<p>This stylish hotel has been recently renovated throughout to a high standard in a modern-style, with plush furnishings and splashes of colour. The comfortable bedrooms all feature art by local artists and unspoiled views of the harbour or the Valberg Tower.</p>
<p>The hotel bar is a great place to enjoy a drink, either with an afternoon 'sweet' or alongside the light evening meal (both of whcih are included in your stay). Wi-Fi is available throughout the hotel, there’s also a gym on site to keep you on the move. Please note that the hotel, along with most of Norway, is cash free (all major debit and credit cards are accepted).</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Complimentary light buffet-style meal available from 6-9pm daily, and consists of one choice of main course, salad and dessert buffet and tea and coffee.</p>
<p>Alternatively, a selection of international restaurants are on your doorstep with the city centre and harbour just a few steps away.</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Casual</p>]]></dressCode>
  <facilities><![CDATA[umb://document/6c17c206ef6249ae9e5146c2bc96e638,umb://document/dea23f1b5f1f4e2a81135d7291a4a1e4,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/393e7bd5874f487790ba20e4d21dd881]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Stylish breakfast and dining room</li>
<li>Lobby</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>5</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[58.9720627]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Located on the pier in Stavanger, and in one of the most recognisable historic buildings in the city, this hotel has you right in the centre of Stavanger’s maritime history. Being able to enjoy lovely views across the harbour and Old Stavanger opposite really adds to a holiday in Stavanger.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/0c8005cf771b4394b8a7e50065a3007d]]></listingImage>
  <localFees><![CDATA[<p>Please note Stavanger is trying to become a "cash less city". This means card payments are widely accepted over cash. The Hotel Clarion Skagen Brygge only accepts card payments.</p>]]></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[5.7280153]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[116 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This stylish hotel has been newly-renovated throughout to a high standard in a modern-style and is one of the most recognisable buildings in Stavanger and enjoys lovely views across the harbour and old town opposite. Book your stay online today.]]></metaDescription>
  <metaTitle><![CDATA[Clarion Skagen Brygge Hotel Stavanger Norway - Lakes | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<p>In hotel</p>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>116</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[0]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[NOST0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p>These modern bedrooms have bath with shower head, flat screen TV, telephone, safe, minibar, hairdryer and tea/coffee-making facilities. Rooms <span>either have views to the harbour </span><span>or</span><span> Valberg Tower.</span></p>
<ul>
<li>Standard Double Room (A3) sleep up to 3 people, have facilities as listed above</li>
<li>Superior Double Room (B3) sleep up to 3 people in a larger room with facilities as above</li>
<li>Some rooms may also be booked for single occupancy</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[206878]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/96a3e4d143704d3e93793368e4fc0416]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>