<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="32a08500-7d7d-4c8b-9c44-1dc1d19320a4" id="22966" nodeName="Residence Bernerhof Apartments" isDoc="" updated="2024-11-06T09:26:38.7930000Z" parentGUID="7e163ac5-c911-4f0d-ae9f-3f8d222fa730" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="5" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Residence Bernerhof Apartments do not offer accessible or adapted apartments. Please give our Reservations team a call if you would like further details.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[6]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/0d7692e5a4584bfaa6ab09c9d52d9b2c,umb://media/e27e1ee1a599433abf37ce52fc4382cd,umb://media/a3d136e71c0f4656a122825ced086ea9,umb://media/f619afc51b984f21b54e8ccf629ad922,umb://media/92ba4506f2564edc9974c8ec79c02c2a,umb://media/4cf5e08c3cc44e86a2130a3a611ef092]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Residence Bernerhof Apartments are on a self-catered basis. Bed &amp; Breakfast is available for a supplement.</p>
<p>If you have upgraded to Bed &amp; Breakfast you can enjoy a buffet breakfast each morning including a selection of cheeses, cold cuts, muesli, cereals and up to ten different homemade jams and jellies.</p>
<p>If you dont feel like cooking, head to the Hotel Bernerhofs' own restaurant the 'Taverne' which offers typical Swiss specialties including fondue, röstis, raclette and homestyle dishes, as well as international cuisine. Pay locally.</p>
<p> </p>
<p> </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>Located on Wengens main street, the Residence Bernerhof Apartments give you excellent access to the incredible Jungfrau ski area. The comfortable studio apartments are a great choice if you are looking for self-catered apartment style accommodation in <a data-udi="umb://document/52fab17731fa49639f8a0841e064a064" href="/{localLink:umb://document/52fab17731fa49639f8a0841e064a064}" title="Switzerland">Switzerland</a>.</p>
<h2>Central location</h2>
<p>These studios and apartments offer comfortable accommodation in the charming centre of Wengen. The location couldn't be better, the apartments are just a four-minute walk the Männlichen gondola which gives you access to <a data-udi="umb://document/f6cb1f0178b7447488bbf36b5f109fbc" href="/{localLink:umb://document/f6cb1f0178b7447488bbf36b5f109fbc}" title="Grindelwald">Grindelwald</a> and the slopes of the Jungfrau Ski Region. The train station is about a four minute walk away where you can head up to the Top of Europe, or if you fancy a day off from skiing head down to the picturesque Lauterbrunnen. </p>
<h2>Self-catered apartments</h2>
<p>These self-catered apartments each have a well-equipped kitchenette, seating area and recently renovated bathrooms. You can also enjoy wonderful views over the valley towards Murren from your private balcony or terrace.</p>
<p>Take the fuss out of breakfast and upgrade your stay to Bed &amp; Breakfast. Each morning breakfast is served in the Hotel Bernerhof, you can get prepare for a day on the slopes at the breakfast buffet which includes a range of homemade jams and preserves, muesli, cereals, local cheeses and cold cuts. </p>
<p>If you don't feel like cooking, head to the Taverne at the Hotel Bernerhof for delicious Swiss specialties including cheese or meat fondue, röstis or raclette. If you are cheesed out, there is also a range of homestyle dishes.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Luxury apartments in Wengens centre</li>
<li>Wi-Fi in all apartments</li>
<li>Heated ski storage room</li>
<li>Buffet breakfast (for a supplement)</li>
<li>Taverne Restaurant at the Hotel Bernerhof (pay locally)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "a5e1f58d-0bc2-4751-aaea-ecc9ab3a32ce",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"0d4fa4e1-b714-4777-a644-b0a580dc0692\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[3]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.6071763]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>0</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The self-catered Residence Bernerhof Apartments offer comfortable studio apartments with a fantastic position in Wengen, just a short walk to the Mannlichen gondola and train station, you can easily get onto the Jungfrau Ski Area. </p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/0d7692e5a4584bfaa6ab09c9d52d9b2c]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p><strong>Tourist tax:</strong> Paid locally.</p>
<ul>
<li>CHF4.30 per adult, per day. </li>
<li>Under 16s pay a reduced rate of CHF1.80 per child, per day</li>
<li>Under 5s free of charge.</li>
</ul>
<p>Refundable deposit, per apartment payable on arrival.</p>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Central location in Wengen</li>
<li>170 metres from the Männlichen gondola</li>
<li>Five minutes to the railway station</li>
<li>50 metres to the ski school</li>
</ul>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.9217894]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText></maxPeopleSleepingText>
  <metaDescription><![CDATA[The comfortable Residence Bernerhof Apartments have an ideal location in Wengen a short walk to the gondola and train station - your gateway to the Jungfrau Ski Region. Book Now with Inghams!]]></metaDescription>
  <metaTitle><![CDATA[Residence Bernerhof Apartments, Wengen | Switzerland, Ski | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms></numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[3]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Residence Bernerhof Apartments]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHWG0107]]></propertyCode>
  <propertyType><![CDATA[0]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Check in: From 2pm - 6pm</li>
<li>Check out: 10:30am</li>
</ul>
<p> </p>]]></reception>
  <receptionHours></receptionHours>
  <restaurants></restaurants>
  <roomsDescription><![CDATA[<p><strong>Studio Apartments </strong>sleep one to two people in a double bed. These 20m² apartments are ideal for single guests or couples looking for a comfortable space to relax after a day on the slopes.</p>
<p><strong>Larger Studio Apartments </strong>sleep two to three people. These 25m² apartments have a double bed and a single bed, making them a good option for small families. </p>
<p> </p>
<p><strong>Apartment facilities</strong></p>
<ul>
<li>Balcony or terrace</li>
<li>TV</li>
<li>Nespresso machine</li>
<li>Equipped kitchenette with oven, fridge, kettle</li>
<li>Bath with showerhead attachment or shower stall</li>
<li>Hairdryer</li>
<li>Cots are available for CHF30 per stay</li>
</ul>
<p>Please note that these apartments are dog friendly.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>0</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>0</showTripAdvisor>
  <specialAttractionFacilityDescription><![CDATA[<p> </p>
<p> </p>]]></specialAttractionFacilityDescription>
  <specialDietaryRequirements></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Please inform us of any special dietary requirements at the time of booking. <span>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>