<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="e9d443cb-665d-4899-b74a-a61005c34869" id="58375" nodeName="Ice Activities" isDoc="" updated="2024-03-26T13:49:06.6930000Z" parentGUID="bda83b0a-c78e-4ae8-aa3f-5206e06059da" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="4" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow">
<h2>Ice Activities in Lapland</h2>
<p><img src="/media/13068461/finland_levi_snowshoeing.jpg" alt="snowshoehero" data-udi="umb://media/3ddb8ffa2bfa4a8580cca14020f48e18" /></p>
<p>There are so many fun things to do whilst on holiday in Lapland, whether you are staying as a group of friends or as a family with children of all ages. From giving show-shoeing a try so you can view the wilderness around you or perhaps a race around the course in an ice-karting competition. There is no doubt you will have a full and exhilarating week. </p>
<h3>Ice Activities winter excursion options available per resort:</h3>
<table border="2" width="485" height="346" class="demo" style="height: 103px;">
<tbody>
<tr style="height: 40px;">
<td style="width: 146px; height: 40px;"><strong>Activity</strong></td>
<td style="width: 74px; height: 40px;"><a data-udi="umb://document/1b2fbafe6b3546cbbcb8a26241bb809c" href="/{localLink:umb://document/1b2fbafe6b3546cbbcb8a26241bb809c}" title="Levi"><strong>Levi</strong></a></td>
<td style="width: 85px; height: 40px;"><a data-udi="umb://document/cc68d9ee210a4063af0a51552472263c" href="/{localLink:umb://document/cc68d9ee210a4063af0a51552472263c}" title="Yllas"><strong>Yllas</strong></a><a data-udi="umb://document/b8a6a8fa31c94e959dc5959c1881f2d5" href="/{localLink:umb://document/b8a6a8fa31c94e959dc5959c1881f2d5}" title="Saariselka"></a></td>
<td style="width: 125px; height: 40px;"><a data-udi="umb://document/b8a6a8fa31c94e959dc5959c1881f2d5" href="/{localLink:umb://document/b8a6a8fa31c94e959dc5959c1881f2d5}" title="Saariselka"><strong>Saariselka</strong></a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 146px; height: 21px;"><strong>Snowshoeing 2 hours</strong></td>
<td style="width: 74px; height: 21px;">Pre-bookable</td>
<td style="width: 85px; height: 21px;">Pre-bookable</td>
<td style="width: 125px; height: 21px;">Pre-bookable</td>
</tr>
<tr style="height: 21px;">
<td style="width: 146px; height: 21px;"><strong>Ice Karting 2x 15 minutes</strong></td>
<td style="width: 74px; height: 21px;">Pre-bookable</td>
<td style="width: 85px; height: 21px;"> </td>
<td style="width: 125px; height: 21px;">Book in resort</td>
</tr>
<tr>
<td style="width: 146px;"><strong>Snow Village day trip</strong><strong><br /></strong></td>
<td style="width: 74px;">Pre-bookable</td>
<td style="width: 85px;">Pre-bookable</td>
<td style="width: 125px;"> </td>
</tr>
</tbody>
</table>
<p> </p>
</div>
</div>
<div></div>
<div></div>
<div class="g6">
<div class="white_box_shadow"><img src="/media/13072998/vcs_montgenevre_hiver2018_web-crespeau_dsc1559.jpg" alt="snowshoeing" width="370" /><br />
<h3>What’s included in a Snowshoeing excursion: </h3>
<p>Take a gentle guided snow-shoe walk, immersing yourself in the stunning Arctic Circle scenery. Breathe in the fresh air as you reach some spectacular and untouched beauty spots. On your well deserved break you will take a seat ready for hot drinks and interesting stories about the night sky, Northern Lights and the Lappish culture.</p>
<p>Choose to take a daytime trip or an evening walk, searching for the magical show of the Northern Lights.</p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><img src="/media/13068459/finland_levi_ice-karting.jpg" alt="icekarting" data-udi="umb://media/b74c9067da4d47db9c7a3ae1b9d89097" /></p>
<h3>What’s included in an Ice Karting activity excursion: </h3>
<p>Get competitive and race your friends and family in this exciting ice-karting event, take your turn at rallying around the course and see who is your speediest team member. Ice-karts are easy to drive and similar to Go-Karts but on a snow-packed track.</p>
<p>This exciting event from Levi and Yllas includes driving instructions, helmets, <a data-udi="umb://document/6ff09c2de6f14a199dd428b99c3deb92" href="/{localLink:umb://document/6ff09c2de6f14a199dd428b99c3deb92}" title="What to pack">thermal suits</a>, boots and gloves. With warm up laps, heats and a final with prizes, you will be the Lewis Hamilton of the ice-karting world in no time.</p>
</div>
</div>
<div class="g12">
<div class="white_box_shadow">
<p><img src="/media/13076674/ice-bar.jpg" alt="icebar" data-udi="umb://media/14402016f0e8451d80c127eff728fd72" /></p>
<h3>What’s included in the Snow Village &amp; Bar excursion: </h3>
<p>The clever lighting of the snow, ice-sculptures and wall-carvings, and the way the lights glow through the solid ice 'furniture' creates a mystical feel to the Lainio Snow Village &amp; Bar.</p>
<p>Each winter it takes over 27,000 cubic metres of snow, chunks of river-ice up to a metre thick and weighing up to 3 tonnes, and a team of 50 people working flat out for 350 hours, to create its impressive 4,500 square metres of this village. Beautiful carvings decorate the rooms, courtyards, ice bar, restaurant and Ice Chapel.</p>
<p>From Levi and Ylläs, a day visit includes a tour around the Snow Village &amp; bar and a trip into the Ice Grotto where you can see ice sculptures and decorated snow suites on show.</p>
<p> </p>
</div>
</div>
<div class="g12">
<div class="white_box_shadow">
<p><img src="/media/13088263/snowshoeing_wildernesshotels.jpg" alt="snowshoebook" data-udi="umb://media/9c68516c5a10451884b425ea60680f3f" /></p>
<h3>How to book your Ice Activity excursion:<span style="font-weight: 400;"> </span></h3>
<p><span>You can add excursions to your holiday package via your '<a href="https://my.inghams.co.uk/login">My Booking</a>' portal or you can speak to a member of our UK based team on <span class="InfinityNumber">01483 791 111.</span></span></p>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h3>Lapland Excursions - <a data-udi="umb://document/c2bd76aba5e94e7d95f0525095d2c4ec" href="/{localLink:umb://document/c2bd76aba5e94e7d95f0525095d2c4ec}" title="Husky Rides">Husky Rides</a></h3>
<h3><img src="/media/13055695/finland_lapland_saariselka_husky-safari.jpg" alt="huskyride" data-udi="umb://media/16888aade22746e79756c0dbb03794ba" /></h3>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<h3>Lapland Excursions - <a data-udi="umb://document/588530ae17cd46a6ad7121ad9991d719" href="/{localLink:umb://document/588530ae17cd46a6ad7121ad9991d719}" title="Reindeer Rides">Reindeer Rides</a></h3>
<h3><img src="/media/13052266/reindeer-safari-big.jpg" alt="reindderride" data-udi="umb://media/ebc072b449304b9f9e0f467d7c232aba" /></h3>
</div>
</div>
<p> </p>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your holiday. Flights, hotel and transport? We’ve got you covered. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[There are so many fun things to do whilst on holiday in Lapland, including lots of ice activities from snowshoeing, ice-karting to visiting the ice hotel.]]></metaDescription>
  <metaTitle><![CDATA[Ice Activities | Things to do on a Lapland Holiday | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Ice Activities]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/216025cd855347c9a977bc37bb22c5a0]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>