<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="9b3756d6-56d9-40b6-a290-c68eb745504c" id="22953" nodeName="Hotel Caprice" isDoc="" updated="2024-11-06T09:26:39.0300000Z" parentGUID="7e163ac5-c911-4f0d-ae9f-3f8d222fa730" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="7" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<p>The Hotel Caprice does not have adapted rooms available. Please give our Reservations team a call if you would like further information on this property.</p>]]></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "c2316e7e-e336-459e-b5ed-033a4dab6502",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (ends 31 Oct)",
    "addedValueStart": "2019-12-18T10:13:23",
    "addedValueEnd": "2099-10-31T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "21f82162-4d3e-47a3-9b87-d84f5b8a1ac2",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free after dinner tea or coffee",
    "addedValueStart": "2020-01-26T14:36:24",
    "addedValueEnd": "2099-01-27T14:36:26",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/874f6d23b36545209f007633bc3d3c15,umb://media/a979c5ee43af4afdbe0fba716874c469,umb://media/d511aba2a6934b7e92dab4e2a4f124e6,umb://media/02942371e4194ab7ad657fd7422a94e0,umb://media/22399c874c624112b7f176acc295e034,umb://media/497a0d0007754cc08fad41f834c822a1,umb://media/bb698e467d6749feb3d63f3cdfdca3d7,umb://media/60a60de8d381457ea494ea8a6e8f2ab1,umb://media/3ccd35393f8f485b8abaef9aeff886ed,umb://media/580c39e65176425dbda982877648f0a7,umb://media/6c3015736eba452084e5c2e152796b54,umb://media/303514a2e1224f2faa3216e26b21d93e,umb://media/52d89d79e8d44fd9a5cb89fad8408baa]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Hotel Caprice is on a half board basis.</p>
<p>Each day a hot and cold buffet breakfast is available. A packaged breakfast is provided for early departures.</p>
<p>A three course gourmet evening meal with two different items for each course is served each evening. The menu is inspired by Italian cuisine, and includes local produce, as well as specialities from the region.</p>
<p>The Restaurant Caprice also has an à la carte menu, which includes Italian classics such as pasta, gnocchi and pizza (pay locally).</p>
<p>Christmas and New Year Gala dinners included (jacket and tie requested) </p>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>This small boutique hotel is a member of Small Luxury Hotels of the World and a favourite of those looking for modern and comfortable accommodation with a relaxed atmosphere and excellent cuisine. The terrace and most rooms have fabulous south-facing views of the <a data-udi="umb://document/1a5883a1530346a9ab78607d76c2e656" href="/{localLink:umb://document/1a5883a1530346a9ab78607d76c2e656}" title="Jungfrau Ski Region">Jungfrau</a> and Lauterbrunnen Valley. When the conditions are just right you can ski back to the hotel, weather permitting.</p>
<h2>Warm and welcoming accommodation</h2>
<p><span> The Caprice offers a range of comfortable rooms and suites, each decorated in a traditional Swiss Alpine style. Many rooms offer balconies with mountain or resort views - one of the highlights of staying at Hotel Caprice is definitely the breath-taking scenery surrounding it.</span></p>
<h2><span>Unwind and relax</span></h2>
<p><span>After a day of exploring Wengen and the <a data-udi="umb://document/1a5883a1530346a9ab78607d76c2e656" href="/{localLink:umb://document/1a5883a1530346a9ab78607d76c2e656}" title="Jungfrau Ski Region">Jungfrau Ski Area</a>, make the most of the spa and wellness centre. Relax in the infinity whirlpool with fantastic views of the Swiss Alps, unwind in the sauna or give your feet a rest in the kneipp - a cold hydrotherapy pool which massages your feet. Pamper yourself with a massage </span><span>or treatment with one of the in-house masseuses. For those who want to stay fit, there is also a fitness room with a range of machines, weights and benches.</span></p>
<h2><span>Bar and restaurant</span></h2>
<p><span>Each evening you can enjoy a freshly prepared menu, which is prepared with local produce and is inspired by the Italian cuisine. There is also an a la carte menu which features Italian specialities including pasta, gnocchi, pizza and tiramisu.  </span><span>When the sun is shining, the panoramic terrace is the perfect spot to enjoy a drink whilst admiring the Jungfrau and surrounding mountains. </span></p>
<h3>Small Luxury Hotels of the World</h3>
<p><span>The Hotel Caprice is a member of the 'Small Luxury Hotels of the World' - these hotels are small, unique properties offering the highest standards of luxury and guest experience, each one is distinctive in design and experience, and guest well being is a priority, so you know you will be well looked after here.</span></p>
<p> </p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Smart dining room with beautifully-furnished lounge with log fire and bar</li>
<li>Italian à la carte restaurant </li>
<li>Attractive sun terrace with stunning views</li>
<li>Gym and fitness room </li>
<li>Spa &amp; Wellness area 
<ul>
<li>Sauna</li>
<li>Solarium</li>
<li>Kneipp Walk Pool</li>
<li>Massage (pay locally)</li>
</ul>
</li>
<li>Outdoor whirlpool with fantastic views</li>
<li>Massages and treatments (pay locally)</li>
<li>Free Wi-Fi throughout </li>
<li>Lift</li>
<li>Member of 'Small Luxury Hotels of the World'</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "0e5dabb2-69b7-4487-9dc3-1bda05a370df",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"9cd96b36-d741-4c04-84b7-e3f090027ebc\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors>4</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect>0</interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.6071763]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>This small boutique hotel is a member of Small Luxury Hotels of the World and a favourite of those looking for modern and comfortable half board accommodation with a relaxed atmosphere and excellent cuisine.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/303514a2e1224f2faa3216e26b21d93e]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<p>Resort tax:</p>
<ul>
<li>Adults: €4.30 per person, per day (pay locally)</li>
<li>Children (6 - 15 years old): €1.80 per person, per day (pay locally)</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<ul>
<li>Central location in Wengen, close to the resort amenities</li>
<li>Just two minutes’ walk (200 metres) from the little mountain train, which provides access to the ‘Männlichen - Kleine Scheidegg’ ski area</li>
<li>Alternatively, the Männlichen cable-car is just 5 minutes’ walk away (500 metres) which provides access to Grindelwald</li>
<li>Ski back to the hotel, conditions permitting</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[7.9217894]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[20 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[This small boutique hotel is a favourite of those looking for modern and comfortable accommodation with a relaxed atmosphere and excellent cuisine. Book now]]></metaDescription>
  <metaTitle><![CDATA[Hotel Caprice Wengen Jungfrau Switzerland, Ski Holidays | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>20</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Hotel Caprice]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[CHWG0112]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Superior Twin or Double Rooms</strong> are around 25m² and can sleep up to three people. These rooms have twin or double beds, and an additional single bed. These rooms have South facing balconies overlooking the <span>Lauterbrunnen Valley </span>and a walk in shower.</p>
<p><strong>Single Occupancy Double Rooms </strong>are around 17m². These rooms have a double bed, a walk in shower and North facing village views.</p>
<p><strong>Two Bedroom Suites </strong>are around 50m² and can sleep up to four. These suites have two bedrooms, south facing balcony with mountain views and a bath. These rooms are on request so please call us to book.</p>
<p> </p>
<p><strong>Room facilities</strong></p>
<ul>
<li>Tea and coffee making facilities</li>
<li>Views across the valley or resort</li>
<li>TV </li>
<li>Safe</li>
<li>Mini-bar</li>
<li>Toiletries</li>
<li>Desk</li>
<li>Bath or shower stall</li>
</ul>
<p> </p>
<p> </p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>The Hotel Caprice can cater for special dietary requirements (vegetarians, gluten and dairy free). Vegan meals are not available. Please inform us of any dietary requirements at the time of booking. <span>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</span></p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[265326]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>