<?xml version="1.0" encoding="utf-8"?>
<countryLakesPage guid="4770458f-947b-4477-8e05-1efba30c7546" id="23659" nodeName="Canada" isDoc="" updated="2023-09-19T14:42:57.3230000Z" parentGUID="991245ba-65ff-4b36-a0ec-3d208715ed80" nodeTypeAlias="countryLakesPage" templateAlias="CountryLakesPageResponsive" sortOrder="8" published="false" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/13914883174a4cd0925d995a2af2fa14]]></carouselMediaPicker>
  <contentCarousel></contentCarousel>
  <contentCarouselImage><![CDATA[umb://media/bffbb7b30a50473eaee049f4eb9ff3e0]]></contentCarouselImage>
  <countryPicker><![CDATA[umb://document/11ddfbc3fa974e10aeeb3303a551d00a]]></countryPicker>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/11ddfbc3fa974e10aeeb3303a551d00a]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <description><![CDATA[<p>Few destinations in the world offer as many choices as Canada. Whether your interest is the breathtaking beauty of the mountains, glaciers, lakes and ancient forests, or the cosmopolitan cities and friendly people, our Canada tours will not disappoint. There is so much to discover in this beautiful and diverse country and the vast and spectacular wilderness is unparalleled worldwide. Nature is easily accessible to the casual walker and keen hiker alike in the immense National Parks.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <extendedDescription></extendedDescription>
  <facts></facts>
  <fAQsWidget></fAQsWidget>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <latestDeals></latestDeals>
  <listingDescription><![CDATA[<p>Few destinations in the world offer as many choices as Canada. Whether your interest is the breathtaking beauty of the mountains, glaciers, lakes and ancient forests, or the cosmopolitan cities and friendly people, our Canada tours will not disappoint. There is so much to discover in this beautiful and diverse country and the vast and spectacular wilderness is unparalleled worldwide. Nature is easily accessible to the casual walker and keen hiker alike in the immense National Parks.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/ca6f17b1c93a4c5883e1698bec954b54]]></listingImage>
  <locationMap></locationMap>
  <metaDescription><![CDATA[Book your Canada holiday with Inghams, enjoy walking, sports or relax in our Canada hotels. Canada packages to suit all tastes and budgets. Lakes and mountains holidays in Canada - Book a wonderful lakes and mountains holiday in Canada with Inghams here and now!]]></metaDescription>
  <metaTitle><![CDATA[Canada Holidays 2020 2021 - Book Lakes and Mountains with Inghams]]></metaTitle>
  <new>0</new>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <regionListingTitle><![CDATA[This vast and spectacular wilderness is unparalleled worldwide]]></regionListingTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showDealsPanel>0</showDealsPanel>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSearchPanel>1</showSearchPanel>
  <tagline><![CDATA[This vast and spectacular wilderness is unparalleled worldwide]]></tagline>
  <umbracoPermanentRedirect><![CDATA[umb://document/0efad561e0054d7a8a2defc127d5ff59]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <video></video>
</countryLakesPage>