<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="e3c734f2-5029-4416-a2a5-86cc171843da" id="69181" nodeName="test-form" isDoc="" updated="2024-03-13T13:54:10.7200000Z" parentGUID="25e767db-0444-4438-9ae0-9383681f982e" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="45" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><a href="#" onclick="javascript:window.open('https://link2.inghams.co.uk/u/register.php?CID=1061740181&amp;f=735', 'RegistrationForm', 'menubar=0,locationbar=0,status=0,scrollbars=1,resizable=1,width=600,height=400')">[Link]</a></p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[...]]></metaDescription>
  <metaTitle><![CDATA[...]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Test form page]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>