<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="0f190b2b-044c-4e71-a43d-1b1ca66a8ee9" id="24670" nodeName="Will we surcharge guests who have already booked?" isDoc="" updated="2018-12-03T13:07:58.9870000Z" parentGUID="33fb00fa-6fd6-4514-bb03-906237e16d35" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <answer><![CDATA[<p>On Sunday 11<sup>th</sup> December a national paper covered a story about another ski tour operator surcharging guests post-booking. </p>
<p>Furthermore a trade association was quoted as saying ‘other ski operators’ may follow suit, we wish to confirm our categoric and clear position on this subject. This refers to Hotelplan’s brands which include Esprit, Santa's Lapland, Ski Total and Inghams.</p>
<p><strong><span style="text-decoration: underline;">We will definitely not be surcharging as we guarantee no surcharges.</span></strong></p>
<p>Guests can confirm their bookings with our ski brands, safe in the knowledge that we will <strong><span style="text-decoration: underline;">NOT</span> </strong>recontact them to spend more on a confirmed booking.</p>
<p>We stand full square behind this important message, especially after the market turbulence following the EU referendum. We want to offer our guests surety and confidence. We seek to be trusted, open and honest. We are pleased to be able to do this because our Foreign Exchange (FX) teams in the UK and at our parent company in Zurich are fastidiously working on best rates at all times. We know how important the ‘no surcharges’ message is to skiers attempting to plan holiday budgets.</p>
<p>We have updated our communications to remind everyone that we do not surcharge, with reassurance messages on our websites.</p>
<p>Our travel agent partners have also been reassured that we will not surcharge. This has been welcomed with open arms. Award-winning agent Helen Furlong, Personal Travel Agents at Midcounties Co-operative Travel, said: ‘Now that’s worth shouting about.. been talking about it this morning!'</p>
<p> </p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Will we surcharge guests who have already booked?]]></question>
</fAQItem>