<?xml version="1.0" encoding="utf-8"?>
<accommodationSki guid="8bd09e1c-2529-4fa5-984a-1c2c79e18126" id="28543" nodeName="Hotel Neige et Roc" isDoc="" updated="2022-08-31T14:02:40.4600000Z" parentGUID="ad1f8de9-e2cd-4fc9-9e1b-6221882344d0" nodeTypeAlias="accommodationSki" templateAlias="AccommodationSkiResponsive" sortOrder="2" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms><![CDATA[<ul>
<li>Adapted rooms are available on request</li>
</ul>]]></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[0,1,2,6,9,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<ul>
<li>Continental buffet breakfast with additional hot options</li>
</ul>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/8f8f404e6c3a4569b470773dc1de3bc1,umb://media/060b1f2354aa4a828dff431b36183e04,umb://media/ecb728e55f14427a81eae10fc20882d3,umb://media/2831c42923aa41499e480f565db5125e,umb://media/96c2c09f12b044448989f5bfd2661fa0,umb://media/7430a6279bb84f7c89dc96dd50313ab3,umb://media/c6947ad527884da5bebd87a656961aff,umb://media/d25ad734704b436a94ec6570fcf5ad39,umb://media/a101c35f236143b1a9dcf19bf2e11e6c,umb://media/a183f0b4194e4cc28f4122dabe710c84,umb://media/a3c2210c48c14355899fb88aa60260b9]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Continental breakfast buffet with additional hot options</li>
<li>A la carte 4 course evening meal with choice of menu</li>
<li>Raclette Savoyarde evening once per week</li>
<li>Christmas and New Year gala dinners included</li>
<li>Earlier meal times for children are available on request</li>
<li>Special dietary requirements (vegetarian, gluten free etc.) are available on request</li>
</ul>]]></cateringDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The owners, Françoise &amp; Olivier Deffaugt look forward to welcoming our guests to their family-run property. The cuisine at the Neige et Roc is fabulous and has received recognition as a ‘Maitre Restauranteur’ for their use of fresh produce. Relax around the fireplace in the lounge with a drink from the bar or head to the pool for a swim and book a massage locally for ultimate indulgence. The resort centre and shops are a short walk away.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<ul>
<li>A la carte 4 course evening meal with choice of menu</li>
<li>Raclette Savoyarde evening once per week</li>
</ul>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToNurserySlopes></distanceToNurserySlopes>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToSkiSchool></distanceToSkiSchool>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<ul>
<li>Informal</li>
</ul>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Spa and wellness facilities including heated indoor swimming pool, sauna, whirlpool and steam room</li>
<li>Restaurant 'Neige et Roc' serving French cuisine</li>
<li>Small fitness room</li>
<li>Massage and beauty treatments (book and pay locally)</li>
<li>WiFi <strong>(Free)</strong></li>
<li>Games room with table tennis, billiiards and table football</li>
<li>Indoor covered car parking (book in advance - paid locally)</li>
<li>Heated ski equipment storage room</li>
<li>Wake up services (arrange locally)</li>
<li>Lounge with TV and pool table </li>
<li>Cozy bar with fireplace </li>
<li>Sun terrace with mountain views and sun loungers</li>
<li>Short walk away from the village centre and shops</li>
<li>Shuttle services </li>
<li>Ski lifts, ski school &amp; kindergarten accessed via ski bus</li>
<li>Ski hire shop 5 minute's walk</li>
<li>Ironing, dry cleaning and laundry services available (book and pay locally)</li>
<li>Coffee house </li>
<li>Private car parking <strong>(Free)</strong></li>
</ul>
<p> </p>
<ul>
<li>Concierge services</li>
<li>Luggage storage available in the reception</li>
<li>Currency exchange</li>
<li>Check in time 5 pm</li>
<li>Check out time 10 am </li>
</ul>
<p> </p>]]></facilityDescription>
  <familyDescription><![CDATA[<ul>
<li>Baby cots are available on request <strong>(Free) </strong>for children under 2 years </li>
<li>Earlier meal times for children are available (on request)</li>
<li>Water slides </li>
<li>Children's meals are available in reception</li>
<li>Strollers available (on request)</li>
<li>Children's TV networks / channels </li>
<li>Indoor play area for children </li>
<li>Books, DVDs and music available (on request)</li>
<li>Board games and puzzles in reception </li>
</ul>]]></familyDescription>
  <familyFacilities><![CDATA[umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3,umb://document/7c2572111ba34c1face52ed8a05d3e62,umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/c0e11185f51f4f4cb5a972b8e46cac58,umb://document/505c8512913d4d2db80856510b0c5d50]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>3</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <isSkiTotal>0</isSkiTotal>
  <latitude><![CDATA[46.084548]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The Hotel Neige et Roc it set in its own grounds and provides a wonderful, traditional stay in Samoëns. The resort centre and shops are a short walk away and the owners, Françoise &amp; Olivier Deffaugt look forward to welcoming our guests to their family-run property.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/8f8f404e6c3a4569b470773dc1de3bc1]]></listingImage>
  <listingMicroCardTitle></listingMicroCardTitle>
  <localFees><![CDATA[<ul>
<li>Resort tax €1.50 per person, per day (under 18s <strong>Free</strong> of charge) paid locally</li>
</ul>]]></localFees>
  <locationDescription><![CDATA[<p>Ski lifts and ski school meeting point accessed via ski bus</p>
<p>50m to the bus stop</p>
<p>500m to the resort centre</p>
<p> </p>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[6.7191914]]></longitude>
  <lunch><![CDATA[<ul>
<li>Not included</li>
</ul>]]></lunch>
  <maxPeopleSleepingText><![CDATA[30 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[The Hotel Neige et Roc provides a wonderful, traditional stay in Samoëns with the resort centre and shops a short walk away.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Neige et Roc, Samoens, France | Ski Resorts | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant><![CDATA[<ul>
<li>On site</li>
</ul>]]></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>1</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>30</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[FRSA0102]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception><![CDATA[<ul>
<li>Concierge services</li>
<li>Luggage storage available in the reception</li>
<li>Currency exchange</li>
<li>Check in time 5pm</li>
<li>Check out time 10am </li>
</ul>]]></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p>All rooms have WC, bath with shower head attachment or shower room, cable / satellite flat screen TV with English speaking channels, tea &amp; coffee making facilities, mini bar, telephone, towels, toiletries, bath robes, slippers, hairdryer, safe and a balcony with mountain views.</p>
<ul>
<li>Standard double room (A2): sleeps up to 2 people (18m²) in a double bed. Also available for sole occupancy</li>
<li>Superior twin room (B2): sleeps up to 2 people (22m²) in double/twin beds</li>
<li>Triple room (C3): sleeps up to 3 people (22m²) in a double bed and additional single bed suitable for child up to 12 years</li>
<li>Junior suite (D4): sleeps up to 4 people (33m²) in a double bedroom and twin bedroom, separated by a door</li>
<li>Deluxe suite (E4): sleeps up to 3 people (45m²) in double/twin beds with a sofa bed in the lounge area</li>
</ul>
<p>Interconnecting rooms are available on request. A2 rooms do not include tea &amp; coffee facilities or mini bar.</p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSkiExtras>1</showSkiExtras>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <tripadvisorLocation><![CDATA[290182]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationSki>