<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="f6de7019-097a-464c-90a8-d73414ffdd01" id="22395" nodeName="Alpinresort Sport &amp; Spa (Saalbach)" isDoc="" updated="2024-06-18T17:16:18.0300000Z" parentGUID="ab49d597-7a79-4ec7-952d-a3e3d5adf48b" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="4" published="true" isBlueprint="false">
  <accessibilityDescription><![CDATA[<p> </p>
<p> </p>]]></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>1</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "c5e5a902-f26f-4775-921a-7f7eb2e4cd52",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available (book at least 60 days before departure - enhanced early booking offer available if you book before 31 Dec)",
    "addedValueStart": "2021-09-14T15:15:19",
    "addedValueEnd": "2099-09-21T15:15:21",
    "hideAddedValue": "0"
  },
  {
    "key": "3d13d6e3-f1c0-4e4d-9b0e-b983d3903da4",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night available on stays of 14 nights (not combinable with early booking offers, discount is automatically applied)",
    "addedValueStart": "2023-11-29T09:42:36",
    "addedValueEnd": "2024-10-31T09:42:42",
    "hideAddedValue": "0"
  },
  {
    "key": "2590073e-e8e3-4298-9a0d-f80b31eba50b",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Wellness and sport programme with trainer (Mon-Fri)",
    "addedValueStart": "2021-09-08T15:15:53",
    "addedValueEnd": "2099-02-28T23:59:00",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[0]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/69e3b02eff45434ebcb32ac89e0efb86,umb://media/83a90d67a84c43f9aaf1a5b294a57a2d,umb://media/6a38f951754d4d3eba55b5e0b5eaa1cd,umb://media/a277027a4ce1422986e1639146a35aed,umb://media/e04b56dd76e74f9ca7dcbfd4993eaac6,umb://media/c356df95b9e642fb99024667496f9828,umb://media/c79e24171c244355827ddac3b1ad69b4,umb://media/f82eabacb15f452882a3994657840ded,umb://media/e27577c38da548978571f4cec87eb213,umb://media/4f5ddd5d7ca2428abbe76a9d16cf49f3,umb://media/7963f22871f0476eb04d603c8e362822,umb://media/90d63a33ebf54ad1b8ac56cc0e13253b,umb://media/3a52503fb8af40b88c199944ab5eef12,umb://media/ff471bc2c5d8434db8ef6407066d2163,umb://media/5903dac6b07d49c49877b459c65053eb]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>The Alpinresort offers all-inclusive luxury. With food and drink available throughout the day you can make meal times fit your schedule.</p>
<p>A buffet breakfast with a range of hot and cold items is served until 10am, followed by brunch until midday.</p>
<p>From midday until 5pm there's a lunch buffet, and then you can enjoy snacks at the bar.</p>
<p>The evening meal is four courses and includes daily salad, starter and dessert. Drinks are included from 8am to midnight (some high value drinks are available at a supplement).</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The Alpinresort &amp; Spa is a superb, all-inclusive hotel with extensive facilities. Conveniently located, the hotel is just a few minutes walk from the village centre and Schattberg X-press lift.</p>
<h2>All-inclusive luxury</h2>
<p>At the Alpinresort guests have complete flexibility when it comes to meals - eat &amp; drink when you want, with food available in the hotel restaurant from breakfast until dinner. Don’t plan your day around meals, plan your meals around your day.</p>
<p>With Premium All-Inclusive drinks are included from 8am to midnight each day. On the menu are beers, wines, spirits and soft drinks, plus sparkling wines and cocktails too.</p>
<p>Breakfast starts early and finishes late. After brunch, there's lunch, and then afternoon snacks. A four-course dinner in the evenings completes the day.</p>
<h2>Head-to-toe pampering in the AlpinSPA</h2>
<p>Whether it's a workout or relaxation that you're after, a visit to the huge AlpinSPA is perfect for a bit of self-care. Swim a few lengths of the 25-metre heated outdoor sports pool, or relax in the whirlpools. Take in the views from the Panorama Lawn, or soak in the silence of the relaxation room.<br />Find a remedy for tired muscles in the Sauna World. Finnish and organic saunas, an infrared cabin, a steam room, and an outdoor textile (swimsuits permitted) sauna will help ease the aches and have you ready to explore again tomorrow.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<h4><a rel="noopener" href="https://www.saalbach.com/en/summer/joker-card" target="_blank"></a><strong>Joker Card partner accommodation</strong></h4>
<p>When you book Alpinresort Sport and Spa, the <a rel="noopener" href="https://www.saalbach.com/en/summer/joker-card" target="_blank">Joker Card</a> is included in your holiday meaning you can enjoy unlimited use of up to six gondolas in Saalbach Hinterglemm, up to ten guided walks per week and much more.</p>
<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>Indoor swimming pool</li>
<li>Outdoor swimming pool</li>
<li>Two outdoor whirlpools</li>
<li>Finnish sauna</li>
<li>Organic sauna</li>
<li>Infrared sauna</li>
<li>Textile sauna cabin (suitable for families)</li>
<li>Brine steam room</li>
<li>Relaxation area</li>
<li>Gym</li>
<li>Spa &amp; massage treatments (payable locally)</li>
<li>Pool towels</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Free Wi-Fi</li>
<li>Sun terrace</li>
<li>Parking</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "6116f484-8ff5-49c8-b62f-9eb70d062b79",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"c7fe3f4f-74ce-48d9-a2d1-6f472be18d0b\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude><![CDATA[47.3901884]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>Offering top levels of comfort and excellent cuisine, the all-inclusive Alpinresort Sport &amp; Spa is great value for money. The hotel is situated in a quiet but central location, close to the Schattberg lift for easy access to the mountains.</p>
<p><strong>Inghams Guided Walks included</strong></p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/69e3b02eff45434ebcb32ac89e0efb86]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time: approx. two hours by coach from Salzburg airport.</li>
<li>50 metres to the resort centre</li>
<li>300 metres to the Schattberg X-press gondola</li>
</ul>
<p> </p>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[12.6372459]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[100 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Alpinresort Sport & Spa today with Inghams and enjoy an excellent all-inclusive hotel in a central location, close to the Schattberg lift.]]></metaDescription>
  <metaTitle><![CDATA[Alpinresort Sport & Spa | Holidays in Saalbach Hinterglemm | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>100</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Alpinresort Sport & Spa]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATSA0113]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Superior Double Rooms</strong> are around 31m² and sleep two to three using a single sofa bed or extra bed in the seating area (maximum two adults and one child up to 14 years). These modern-styled rooms also have a balcony. The box-spring beds can be separated.</p>
<p><strong>Junior Suites</strong> offer the most space at around 36m² and sleep two to four using a double sofa bed or extras beds (maximum three adults or two adults with two children). Also with a seating area and balcony. These rooms are on request - please call us to book.</p>
<p><strong>Mansarde Single Rooms</strong> are around 19m² and under the eaves. They sleep one adult or one adult and one child up to 14 years old. These three-star rated rooms have a bath or shower and a seating area, lower ceilings and are basically furnished making them a good value option for guests not worried too much about bedroom size and extra comforts. </p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Minibar</li>
<li>Bathrobes</li>
<li>Hairdryer.</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in:<strong> 4pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. €2.00 per person per night is payable locally. Children under the age of 15yrs are exempt.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Gluten Free, Dairy Free and Vegan meals are available on request only. </p>
<p>Please let us know of any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[482577]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>