<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="b7baf585-3290-4197-97d4-ec5f8745ef67" id="21894" nodeName="Alpenhotel Kindl, Neustift-Milders" isDoc="" updated="2022-01-25T15:32:37.0330000Z" parentGUID="f172dae3-6024-4d6b-8c3d-139aef4e83b5" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="6" published="false" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "a6487774-3202-4b46-8885-b6f67b0b550d",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early Booking Offer Summer 2020: Save up to £60 per couple (ends 31 Dec) ",
    "addedValueStart": "2019-11-07T09:23:51",
    "addedValueEnd": "2019-12-31T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "c4505799-9d6a-41db-b9b5-2dff0e1710a3",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Exclusive to Inghams",
    "addedValueStart": "2019-11-07T09:24:17",
    "addedValueEnd": "2099-11-08T09:24:18",
    "hideAddedValue": "0"
  },
  {
    "key": "ffaaed23-5155-4728-9c86-ec65bf254592",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free child supervision in Jul/Aug, (Sun-Fri, 9am - 9 pm, 5-15yrs) ",
    "addedValueStart": "2019-11-07T09:24:28",
    "addedValueEnd": "2099-11-08T09:24:30",
    "hideAddedValue": "0"
  },
  {
    "key": "bb74a1a9-7d68-4105-a376-ba2713b8d35c",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily packed lunch",
    "addedValueStart": "2019-11-07T09:24:41",
    "addedValueEnd": "2099-11-08T09:24:47",
    "hideAddedValue": "0"
  },
  {
    "key": "c4e02919-7b6a-4778-b29f-91f8f63a5bfb",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily afternoon tea & coffee with snacks & cake",
    "addedValueStart": "2019-11-07T09:24:59",
    "addedValueEnd": "2099-11-08T09:25:01",
    "hideAddedValue": "0"
  },
  {
    "key": "56ee9d28-1197-475a-808f-27d20b4ff00e",
    "name": "Item 6",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free mountain bike hire (subject to availability)",
    "addedValueStart": "2019-11-07T09:25:10",
    "addedValueEnd": "2099-11-08T09:25:12",
    "hideAddedValue": "0"
  },
  {
    "key": "cbb296ba-2349-4925-a071-0d0f5a3cd007",
    "name": "Item 7",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free guided walks twice a week",
    "addedValueStart": "2019-11-07T09:25:20",
    "addedValueEnd": "2099-11-08T09:25:21",
    "hideAddedValue": "0"
  },
  {
    "key": "b71fbfd4-1b36-40de-9460-3720a6f019ad",
    "name": "Item 8",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free rental of hiking poles / umbrellas",
    "addedValueStart": "2019-11-07T09:25:33",
    "addedValueEnd": "2099-11-08T09:25:34",
    "hideAddedValue": "0"
  },
  {
    "key": "e62eeefe-6c32-4565-82c5-2a7a16eeb114",
    "name": "Item 9",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of bathing lake 5 mins from hotel",
    "addedValueStart": "2019-11-07T09:25:42",
    "addedValueEnd": "2099-11-08T09:25:44",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities><![CDATA[2,6,12]]></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast><![CDATA[<p>Buffet including eggs, bacon, coffe, teas, hot chocolate and juices to order</p>]]></breakfast>
  <buildings>1</buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/8dc6cf8d87ff46c58e4a6f3ffd3b14e0,umb://media/c1ef7d8be11346b994398b54d012f417,umb://media/04e8460e11954d26be286f660eb7c208,umb://media/b73f501462d342358f30dc71e8462034,umb://media/65542de1309040a7a15e36f523e95ce5,umb://media/c6dbe28b8982433791e0c51485c38375,umb://media/965eeb62098b44ab9ebc41b39070c9a7,umb://media/373d543c6b2544c5adbd7cd909175a13,umb://media/f70fa7e1b10f48b3bb7e09e9aa633099,umb://media/744132c6b6ee4574bcab05466d61b7c7,umb://media/5ed0615317594ee78649d580be7bfc9f,umb://media/a450b9bb992748e9babdb0aed2768d99,umb://media/3119f5359e5748218486677d651d5e1a,umb://media/cad438b01ef347bf973bc72e856674bf]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<ul>
<li>Hot and cold buffet breakfast</li>
<li>4-course dinner with 3 choices of main dish plus salad buffet</li>
<li>Weekly dessert buffet</li>
</ul>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>1</deactivateThisPage>
  <description><![CDATA[<p>With a newly refurbished and extended leisure area and views of the surrounding countryside, the superior and comfortable Kindl provides guests with a high standard of service and cuisine. A perfect choice for guests who like walking, it occupies a scenic setting in Neustift-Milders and is located 2km from <a data-udi="umb://document/f172dae360244d6b8c3d139aef4e83b5" href="/{localLink:umb://document/f172dae360244d6b8c3d139aef4e83b5}" title="Neustift">Neustift</a> centre.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner><![CDATA[<p>Buffet</p>]]></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Informal</p>]]></dressCode>
  <facilities><![CDATA[umb://document/d5db5aaf3bbf4af08dbd82ca5f8c6e57,umb://document/84c75c7aca8b4054874c29d25dde5dbc,umb://document/6d1dbd2405774a64a1e3d0c0855316d7,umb://document/393e7bd5874f487790ba20e4d21dd881,umb://document/0ed86260858943e4a9c058d4e64b6b1b,umb://document/f58fe9fcad7048ec8dce2dd49261db83,umb://document/d25cf89fbba845989d548de8683936a5,umb://document/55cfae6bffbd43b4b2a0ebcf052c0ffc,umb://document/6129d2e9c59b48e5b0cde91d9a269c41,umb://document/e1d8fc456f7f40bcbaf1c8a70429a8f9,umb://document/9f1a12c8a6b5498a873fb679fd519a04]]></facilities>
  <facilityDescription><![CDATA[<ul>
<li>Homely lounge with bar</li>
<li>Tyrolean stube with conservatory area</li>
<li>Residents’ restaurant</li>
<li>Terrace/café</li>
<li>Newly refurbished and extended leisure area with indoor pool, indoor &amp; outdoor jacuzzi, steam room, sauna, relaxation room and fitness room(<strong>Free</strong>)</li>
<li>Table tennis table </li>
<li>Games room</li>
<li>Massages and beauty treatments (pay locally)</li>
<li>Pleasant garden with loungers</li>
<li>New children’s playroom and playground</li>
<li>Wi-Fi (free)</li>
<li>Lift</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities><![CDATA[umb://document/9b02bc659e1947e1a0f78c4cf3ece2f7,umb://document/8186950faaac4be2bb6ec23c245cf12c,umb://document/74523406ccc44767839256039fdf94d3,umb://document/567a268ddf014965ac70ad6a473cbee9]]></familyFacilities>
  <fAQsWidget></fAQsWidget>
  <floors>6</floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[47.100529]]></latitude>
  <liftAccessible>1</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>With a newly refurbished and extended leisure area and views of the surrounding countryside, the superior and comfortable Kindl provides guests with a high standard of service and cuisine.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/373d543c6b2544c5adbd7cd909175a13]]></listingImage>
  <localFees></localFees>
  <locationDescription></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.284656]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[74 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Alpenhotel Kindl - Neustift-Milders, Neustift in the Austrian Tyrol, Book Summer Lakes & Mountains Holidays with Inghams]]></metaDescription>
  <metaTitle><![CDATA[Alpenhotel Kindl, Neustift Austria - Lakes & Mountains | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>74</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATNE0106]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<ul>
<li>35m² 'Comfort' Austrian twins sleep 2-3 type and have bath or shower, seating area and balcony </li>
<li>40m² mountain view 'Deluxe Elfer' rooms sleep 2-4 and have bath with showerhead, separate shower, lounge area and balcony </li>
<li>All rooms have a balcony, cable TV, safe, telephone, radio and hairdryer</li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>1</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs></showFAQs>
  <showInsiderGuide></showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[0,2,3,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[500503]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/f172dae360244d6b8c3d139aef4e83b5]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>