<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="6a2cddfc-f79b-48ec-a304-6fe521b64547" id="55710" nodeName="Merano" isDoc="" updated="2024-12-03T11:57:30.9770000Z" parentGUID="c9869bf0-e4e9-431d-98d0-277c1db49284" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="51" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Looking for walking deals in Merano? Browse our latest offers. Travel, transfers and accommodation included. Book your holiday with no deposit when you choose to pay monthly with our new direct debit option. T&Cs apply.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great late deal on a holiday in Merano in the Dolomites with Inghams. Here are our current deals. Book your holiday today, at a great price.]]></metaDescription>
  <metaTitle><![CDATA[Merano Holiday Deals 2025 | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-ITMR-LAKES-LATE-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-ITMR-LAKES-LATE-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Merano Deals]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/0d966a4454224fe094224051d4e6f671",
    "promotionBannerMobile": "umb://media/5b1cd24e130144da831600f4cdff8a12",
    "promotionLink": "[]",
    "promotionStartDate": "2023-02-13T00:00:00",
    "promotionEndDate": "2023-03-31T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Our latest Merano walking offers for 2025]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>