<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="dab88ee5-83b5-442f-ba89-42f536a61eae" id="71626" nodeName="Last Minute Deals" isDoc="" updated="2024-05-23T11:27:51.3030000Z" parentGUID="8841df57-674a-4388-9d9e-c5f57a82807d" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Last Minute Walking Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/ed2ae11375e3429fbce5db15ca48b2d5",
    "externalLink": "",
    "linkName": "Last Minute Deals",
    "linkTitle": "Last Minute Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>