<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="af8fd783-f7ad-4f24-8910-6ee73e85112c" id="30973" nodeName="What is the food like?" isDoc="" updated="2018-09-19T16:49:16.0200000Z" parentGUID="0cad61f0-3d8e-42c4-8799-cf871523f282" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="35" published="false" isBlueprint="false">
  <answer><![CDATA[<p>All our hotel partners serve an extensive buffet breakfast with both hot and cold options. Dinner in the hotels is also buffet-style, and mostly offers a choice of international cuisine, some Lappish specialities and standard children’s options. There is always a vegetarian option available for evening meals. Guests staying in cabins or apartments can choose between self-catering or optional half board, pre-booked at a supplement and taken in a nearby hotel. Lunch is not included in our prices but the hotels also offer lunch buffets, which guests may pay for locally.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What is the food like?]]></question>
</fAQItem>