<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="0930db7f-66e5-4c33-ac2b-2f97306b8339" id="68723" nodeName="Madeira" isDoc="" updated="2024-06-12T14:49:36.4070000Z" parentGUID="9179639c-0d6a-49ac-85fd-eaf838270c6a" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="6" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Discover Madeira for less with our August 2024 holiday deals. Flights, transfers and accommodation are included in the price.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great deal on holidays to Madeira in August. Flights, transfers and accommodation included. Book with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Madeira Deals August 2024 | Summer Holidays in Madeira]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-WALKING-DEALS-AUG-MADEIRA",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/1cc98c64e63846cb923a4520c665687b",
    "offerCode": "ING-WALKING-DEALS-AUG-MADEIRA",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[August 2024 Madeira Deals]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Our latest Madeira walking offers for August 2024]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>