<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="bda83b0a-c78e-4ae8-aa3f-5206e06059da" id="24491" nodeName="Lapland Excursions" isDoc="" updated="2024-04-04T13:25:22.9230000Z" parentGUID="a4a479e8-2664-49e1-8b6b-9e98eafdfcb0" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="23" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Lapland Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p><img style="width: 100%; height: auto;" src="/media/13098198/banner.jpg" alt="Lapland Excursion Offer" data-udi="umb://media/beccc8b17a1543568b184f453e960947" /></p>
<p style="text-align: center;">See our special 3 for 2 offer on some of our favourite Lapland excursions. </p>
<p style="text-align: center;"><a data-udi="umb://document/28065bb55a59404e9ddf4257a7dbaf0b" href="/{localLink:umb://document/28065bb55a59404e9ddf4257a7dbaf0b}" class="c-btn">Find out more and book</a></p>
<h2>Lapland Winter Activities</h2>
<p>A <a name="Lapland"></a><a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" title="Lapland/Finland">Lapland</a> holiday is not complete without at least one winter activity – or preferably all of them! For <a data-udi="umb://document/82a77c25f84a48e383e2c0435488ddd8" href="/{localLink:umb://document/82a77c25f84a48e383e2c0435488ddd8}" title="History" data-anchor="#">over 20 years</a>, Inghams has worked closely with local tour operators to ensure our guests receive the best value winter excursions in Lapland.</p>
<p><a data-udi="umb://document/ce29c59d3ed74155a321f244a0a3d693" href="/{localLink:umb://document/ce29c59d3ed74155a321f244a0a3d693}" title="Next Winter" class="c-btn">Next Winter</a></p>
<h2>Choose your Lapland Break</h2>
<p>Deciding which resort to make the most of the exciting excursions on offer? </p>
<p><a data-udi="umb://document/2da7ac9814d44a75af6718b02ca02250" href="/{localLink:umb://document/2da7ac9814d44a75af6718b02ca02250}" title="Lapland/Finland" class="c-btn">Lapland resorts</a> <a data-udi="umb://document/25851216a21f4fddaee986c799f732cd" href="/{localLink:umb://document/25851216a21f4fddaee986c799f732cd}" title="Deals" class="c-btn">Lapland Deals</a></p>
<h2>Lapland Excursions</h2>
<p>With so many wonderful ways to create extra memories that will last a life-time, it's hard to decide which excursions to enjoy whilst on holiday in Lapland. </p>
<div></div>
<div></div>
<div class="g6">
<div class="white_box_shadow">
<h2 style="text-align: center;">Husky Excursion </h2>
<p style="text-align: center;"><img src="/media/13095462/husky-new-size.jpg" alt="huskyex" data-udi="umb://media/fb667b7f5d03488580fa2f67e7e909a7" /></p>
<p style="text-align: center;">Whizz around the snow on with the famous Huskies of Lapland.</p>
<p style="text-align: center;"><a data-udi="umb://document/c2bd76aba5e94e7d95f0525095d2c4ec" href="/{localLink:umb://document/c2bd76aba5e94e7d95f0525095d2c4ec}" class="c-btn">View Husky excursion</a></p>
<div style="overflow-x: auto; text-align: center;"></div>
</div>
</div>
<div class="g6" style="text-align: center;">
<div class="white_box_shadow">
<h2>Reindeer Excursion</h2>
<p><img src="/media/13095463/reindeer-new-size.jpg" alt="reindeerex" data-udi="umb://media/bbab307389b3483b8271f1db6b242f52" /></p>
<p>Meet the wonderful local reindeer and take a trip on a sleigh.</p>
<p><a data-udi="umb://document/588530ae17cd46a6ad7121ad9991d719" href="/{localLink:umb://document/588530ae17cd46a6ad7121ad9991d719}" title="Reindeer Rides" class="c-btn">View Reindeer excursion</a></p>
<div style="overflow-x: auto; float: center;"></div>
</div>
</div>
<div class="g6" style="text-align: center;">
<div class="white_box_shadow">
<h2>Snowmobile Safari</h2>
<p><img src="/media/13095464/snowmobile-new-size.jpg" alt="" data-udi="umb://media/eb8e7ac83f034f66be1b33a561c972bc" /></p>
<p>Speed through the forests along snow covered tracks on your snowmobile.</p>
<p><a data-udi="umb://document/345a78d93ecb4821a7eb5c47c0382ee6" href="/{localLink:umb://document/345a78d93ecb4821a7eb5c47c0382ee6}" title="Snowmobile Safari" class="c-btn">View Snowmobile excursion</a></p>
<div style="overflow-x: auto; float: center;"></div>
</div>
</div>
<div class="g6" style="text-align: center;">
<div class="white_box_shadow">
<h2>Ice Activities </h2>
<h2><img src="/media/13095465/ice-new-image.jpg" alt="" data-udi="umb://media/66869ec1114245ba9f1dc303a91383e4" /></h2>
<p>Enjoy activities like visiting the Snow village, Snowshoeing, Ice Karting.</p>
<p><a data-udi="umb://document/e9d443cb665d4899b74aa61005c34869" href="/{localLink:umb://document/e9d443cb665d4899b74aa61005c34869}" title="Ice Activities" class="c-btn">View Ice activity excursions</a></p>
<div style="overflow-x: auto; float: center;"></div>
</div>
</div>
<div class="g6" style="text-align: center;">
<div class="white_box_shadow">
<h2>Meet Santa</h2>
<p><img style="width: 370px; height: 250px;" src="/media/13095466/santa-new-size.jpg?width=370&amp;height=250" alt="" data-udi="umb://media/b63fe9307d0e4f93a34a74141ae366b0" /></p>
<p><span>Visit Santa and his helpers in this magical hideaway.</span></p>
<p><span><a data-udi="umb://document/05d3b1900a534df49444693b1f18fdb0" href="/{localLink:umb://document/05d3b1900a534df49444693b1f18fdb0}" title="Santa’s Elves Hideaway" class="c-btn">View Santa's hideaway excursion</a></span></p>
<div style="overflow-x: auto; float: center;"></div>
</div>
</div>
<div class="g6" style="text-align: center;">
<div class="white_box_shadow">
<h2>Horse-Riding Excursion</h2>
<p><img style="width: 370px; height: 250px;" src="/media/13095467/horses-new-size.jpg?width=370&amp;height=250" alt="" data-udi="umb://media/4f7883d202cb4dd786cfb07099db2b03" /></p>
<p>Gently meander through the landscape on horse-back. </p>
<p><span><a data-udi="umb://document/4c57ecacae374bcc89a1d5d6a5902af1" href="/{localLink:umb://document/4c57ecacae374bcc89a1d5d6a5902af1}" title="Horse Rides" class="c-btn">View Horse excursion</a></span></p>
<div style="overflow-x: auto; float: center;"></div>
</div>
</div>
<div class="g6" style="text-align: center;">
<div class="white_box_shadow">
<h2>Northern Lights Adventures</h2>
<p><img style="width: 381px; height: 250px;" src="/media/13095468/lights-new-size.jpg?width=381&amp;height=250" alt="" data-udi="umb://media/7ac73285eecc4e658fa0b169e4411a4b" /></p>
<p>Take an over night trip to our amazing Aurora Cabins, Glass Igloos or Glass cubes for a special night of wonder.</p>
<p><span><a data-udi="umb://document/9933a896cd594899ac7150e009590145" href="/{localLink:umb://document/9933a896cd594899ac7150e009590145}" title="Northern Lights Adventures" class="c-btn">View overnight excursions</a></span></p>
<div style="overflow-x: auto; float: center;"></div>
</div>
</div>
<div class="g6">
<div class="white_box_shadow" style="text-align: center;">
<h2>Skiing Excursions</h2>
<p><img style="width: 370px; height: 250px;" src="/media/13095469/skiing-new-size.jpg?width=370&amp;height=250" alt="" data-udi="umb://media/824fd5fcd75643618b04cbe99d161ae8" /></p>
<p>If you're a beginner, intermediate or advanced skier, Lapland has a run for you. </p>
<p><span><a data-udi="umb://document/f0f31db66a7f488ea3b48ad27078e926" href="/{localLink:umb://document/f0f31db66a7f488ea3b48ad27078e926}" title="Ski Excursions" class="c-btn">View skiing excursion</a></span></p>
</div>
<div style="overflow-x: auto; text-align: center;"></div>
<div style="overflow-x: auto; float: center;"></div>
</div>
<div class="g12">
<div class="white_box_shadow">
<h2><strong>How to book your Excursion</strong></h2>
<p><span>You can add excursions to your holiday package via your '<a href="https://my.inghams.co.uk/login">My Booking</a>' portal or you can speak to a member of our UK based team on <span class="InfinityNumber">01483 791 111.</span></span></p>
<p><span><span class="InfinityNumber">Also view our <a data-udi="umb://document/28065bb55a59404e9ddf4257a7dbaf0b" href="/{localLink:umb://document/28065bb55a59404e9ddf4257a7dbaf0b}" title="Lapland Excursion Offer">special offers page</a> for a step by step booking guide.</span></span></p>
<div style="overflow-x: auto; float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 49px; width: 273px; background-color: #ffffff; border-color: #f26419; float: left;">
<tbody>
<tr style="height: 22px;">
<td><a data-udi="umb://document/ce29c59d3ed74155a321f244a0a3d693" href="/{localLink:umb://document/ce29c59d3ed74155a321f244a0a3d693}" title="Next Winter" class="c-btn"><strong>View 2024/2025 Holidays</strong></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="g12">
<div class="white_box_shadow">
<h2 style="text-align: center;">Excursion special offer:</h2>
<p style="text-align: center;"><img src="/media/13103433/excursion-special-offer-838.jpg" alt="SantaEx" data-udi="umb://media/28ad0fea2b6a4717823cd875d67fe013" /></p>
<p style="text-align: center;"><span><a data-udi="umb://document/a1ca0b20e1a04656bafe955ac5ee88c6" href="/{localLink:umb://document/a1ca0b20e1a04656bafe955ac5ee88c6}" class="c-btn">View Santa Experience</a></span></p>
<div style="overflow-x: auto; text-align: center;"></div>
</div>
</div>
<p><em>Have our excursion made you excited for your adventure? Great! Now decide where to stay for your Lapland holiday - View our <a data-udi="umb://document/b977658fa8a04f9c9903cffdc2c187c2" href="/{localLink:umb://document/b977658fa8a04f9c9903cffdc2c187c2}" title="Lapland accommodation options">Lapland Accommodation Options</a> to help you decide between a luxury, relaxing hotel, or warm and cosy cabin or an home from home apartment.</em></p>
<h4>Terms and Conditions: </h4>
<ul>
<li>Buy 2 excursions and get 1 free</li>
<li>Save £92 in Saariselkä, £90 in Levi &amp; £90 in Ylläs (savings based on adult prices)</li>
<li>Valid on 7-night holidays to Lapland winter 2024/25 &amp; 25/26 while stocks last</li>
<li>Lowest cost excursion is free, which is always snowmobiles</li>
<li>Full discount does not apply to single drivers – they will receive £90 discount only</li>
<li>Offer not applicable to infants aged 0 - 3 years</li>
<li>Excursion experiences and durations vary between resorts and dependent on weather conditions.</li>
<li>Applicable to following excursions in:</li>
</ul>
<p>- Levi: 8km Husky Safari, Farm visit &amp; 3km Safari and 28km Snowmobile Safari</p>
<p>- Ylläs: 9km Husky Safari, Reindeer Farm visit &amp; Safari and 25km Snowmobile Safari</p>
<p>- Saariselkä: 5km Husky Safari, Reindeer Discovery and 10-15km Snowmobile</p>
<ul>
<li>Excursion days and times will be advised on arrival in resort</li>
<li>Offer is subject to availability and may be withdrawn at any time</li>
<li>Not valid on Santa Breaks</li>
</ul>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Thrilling activities in Finland/Lapland including reindeer, husky and snowmobile safaris, plus shorts breaks to visit Santa and his elves!]]></metaDescription>
  <metaTitle><![CDATA[Safaris & Excursions | Winter activities on a Lapland Holiday | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Lapland Safaris & Excursions]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>A Lapland holiday is not complete without at least one winter activity – and preferably all of them! For over 20 years, Inghams has worked closely with local tour operators to ensure our guests receive the best value winter safaris and excursions in Lapland.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/216025cd855347c9a977bc37bb22c5a0]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>