<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="69097ae8-a903-49dd-8a71-e0f3792d9406" id="70801" nodeName="Next Winter Ski Deals" isDoc="" updated="2024-04-24T12:57:06.9930000Z" parentGUID="ea3eb714-d059-4ccd-a44e-3128dceea71c" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="7" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Half Term Ski Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/500f33ac6e5a40b7900b12234eb39470",
    "externalLink": "",
    "linkName": "Next Winter Ski Deals",
    "linkTitle": "Next Winter Ski Deals",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>