<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="a419f585-ec52-4889-9434-7c852133ea5b" id="27531" nodeName="Lakes and Mountains Exclusive Benefits" isDoc="" updated="2022-05-25T13:33:20.8800000Z" parentGUID="e65cbae5-17c8-4dcc-a98e-cbd6e7154c59" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="21" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow">
<p><img src="/media/13067777/exclusive-discounts-with-inghams-lakes-and-mountains.jpg" alt="Exclusive Special Discounts" data-udi="umb://media/15ea0162a1bd45ccabd712f1d848a6c6" /></p>
<p>Book a <a data-udi="umb://document/96a3e4d143704d3e93793368e4fc0416" href="/{localLink:umb://document/96a3e4d143704d3e93793368e4fc0416}" title="Lakes &amp; Mountains Holidays">Lakes &amp; Mountains</a> holiday and you’ll not only get a great value summer holiday but you’ll also have access to fantastic discounts with some of our favourite brands. Receive discounted outdoor clothing and equipment with Cotswold Outdoors, special rates on Cicerone walking maps and guides, and discounted courier services.</p>
<p>Get these amazing benefits with your next Inghams Lakes &amp; Mountains holiday:</p>
<ul>
<li><strong>15% Discount at Cotswold Outdoor</strong></li>
<li><strong>Save 20% with Cicerone</strong></li>
<li><strong>15% Discount with Pecksniff's</strong></li>
</ul>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><span class="page-title"><strong>15% Discount* at Cotswold Outdoor</strong></span></p>
<p><strong><img src="/media/13067776/cotswold-outdoor-discount-with-inghams-lakes-and-mountains.jpg" alt="Exclusive Discount with Cotswolds" data-udi="umb://media/689e23c995874b8988fa92bfa1491d0e" /></strong></p>
<p>Cotswold Outdoor has over four decades of experience providing an extensive range of clothing, equipment and accessories to the UK’s outdoor enthusiasts.</p>
<p>From walking boots and waterproof jackets to sun hats and water bottles, Cotswold Outdoors is the ideal place to purchase the outdoor clothing and equipment you need for your Lakes &amp; Mountains holiday.</p>
<p>Book your summer holiday with Inghams today, and we’ll send you a voucher code to use in store and online.</p>
<p><a rel="noopener noreferrer" href="https://www.cotswoldoutdoor.com/" target="_blank" title="Cotswold Outdoor"><strong>Read more  &gt;</strong></a></p>
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 20px; width: 300px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="auto" height="20" align="center" valign="middle" style="background-color: #f26419; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; padding-left: 18px; padding-right: 18px;"><span style="font-size: 18px;"><strong><a style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" data-udi="umb://document/96a3e4d143704d3e93793368e4fc0416" href="/{localLink:umb://document/96a3e4d143704d3e93793368e4fc0416}" title="Lakes &amp; Mountains Holidays">Find your Inghams Summer holiday</a></strong></span></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="g6">
<div class="white_box_shadow">
<p><span class="page-title"><strong>Save 20% on Cicerone Guides</strong></span></p>
<p><img src="/media/13067778/cicerone-discount-with-inghams-lakes-and-mountains.jpg" alt="Inghams Discount with Cicerone" data-udi="umb://media/cabd60afa8d24220ad72ed4aefadd4c1" /></p>
<p>At Inghams, we’re big fans of Cicerone’s extensive range of walking guides, which have been helping us explore the Lakes &amp; Mountains for nearly 50 years.</p>
<p>Cicerone publish over 350 different walking guidebooks, many providing detailed information on some of our favourite Lakes &amp; Mountains destinations.</p>
<p>Book your summer holiday with Inghams today, and we’ll send you a voucher code to use.</p>
<p><br /><a rel="noopener noreferrer" href="https://www.cicerone.co.uk/" target="_blank" title="Cicerone Walking Guides"><strong>View full range of walking guides &gt;</strong></a></p>
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 20px; width: 300px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="auto" height="20" align="center" valign="middle" style="background-color: #f26419; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; padding-left: 18px; padding-right: 18px;"><span style="font-size: 18px;"><strong><a style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" data-udi="umb://document/96a3e4d143704d3e93793368e4fc0416" href="/{localLink:umb://document/96a3e4d143704d3e93793368e4fc0416}" title="Lakes &amp; Mountains Holidays">Find your Inghams Summer holiday</a></strong></span></td>
</tr>
</tbody>
</table>
</div>
</div>
<p> </p>
<div class="g12">
<div class="white_box_shadow">
<p><span class="page-title"><strong>15% Discount with Pecksniff’s</strong></span></p>
<p>Pecksniff’s have been creating inspiring products from their Brighton boutique for over 30 years. They are the official provider of toiletries to our Lakes &amp; Mountains Chalet Hotels. Pecksniff’s inspiring fragrances are created through a mixture of master perfumery skills and innovative cosmetic science.</p>
<p>Their bespoke collection of fragrances, body and hair care products for both men and women are now available to Inghams guests with an exclusive 15% discount.</p>
<p>Book your summer holiday with Inghams today, and we’ll send you a voucher code to use.</p>
<p><a rel="noopener noreferrer" href="http://www.pecksniffs.com/" target="_blank" title="Pecksniff's Fragrances"><strong>Read more &gt;</strong></a></p>
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 20px; width: 300px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="auto" height="20" align="center" valign="middle" style="background-color: #f26419; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; padding-left: 18px; padding-right: 18px;"><span style="font-size: 18px;"><strong><a style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" data-udi="umb://document/96a3e4d143704d3e93793368e4fc0416" href="/{localLink:umb://document/96a3e4d143704d3e93793368e4fc0416}" title="Lakes &amp; Mountains Holidays">Find your Inghams Summer holiday</a></strong></span></td>
</tr>
</tbody>
</table>
</div>
</div>
<p> </p>
<p>*Cotswold Outdoor discount is only valid for customers signed up to the free Explore More benefits scheme. Full T&amp;Cs apply. Not to be used in conjunction with any other oﬀer or discount. Selected lines are exempt. Maximum 10% discount on bikes. Only valid upon production of your booking confirmation in-store or use of valid discount code online. </p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Book your Inghams Lakes & Mountains holiday this year and receive these incredible benefits with some of our favourite brands.]]></metaDescription>
  <metaTitle><![CDATA[Exclusive Benefits & Discounts with Inghams Lakes & Mountains | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><span>Book with us</span><span> </span><span>and you’ll not only get a great value summer holiday but you’ll also have access to fantastic discounts with some of our favourite brands. </span></p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/b9a1c34246da47b6b49ec324ff39b715]]></thumbnail>
  <title><![CDATA[Lakes and Mountains Exclusive Benefits]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ebf6ece6f459413fa6f97f58745d7419]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>