<?xml version="1.0" encoding="utf-8"?>
<reskinOfferLinksItem guid="dab88ee5-83b5-442f-ba89-42f536a61eae" id="71626" nodeName="Deals &amp; Offers" isDoc="" updated="2024-10-22T10:25:20.3770000Z" parentGUID="8841df57-674a-4388-9d9e-c5f57a82807d" nodeTypeAlias="reskinOfferLinksItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <offersLink><![CDATA[[
  {
    "name": "Last Minute Deals",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/c9869bf0e4e9431d98d0277c1db49284",
    "externalLink": "",
    "linkName": "Deals & Offers",
    "linkTitle": "Deals & Offers",
    "linkTitleColor": ""
  }
]]]></offersLink>
</reskinOfferLinksItem>