<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="bccf2c2e-7260-4aea-bfe5-cad69f032bcc" id="21878" nodeName="Alpenhotel Fernau" isDoc="" updated="2024-10-02T09:44:41.0430000Z" parentGUID="f172dae3-6024-4d6b-8c3d-139aef4e83b5" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "63d01a0b-525e-4c31-8212-c65b49a8774e",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Early booking offer available for Summer 25 (book by 28 Feb 25)",
    "addedValueStart": "2019-08-20T16:21:51",
    "addedValueEnd": "2025-02-28T23:59:00",
    "hideAddedValue": "0"
  },
  {
    "key": "2057e682-a436-4194-9db6-513809d5a628",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free night(s) offer available (min stay 7 nights, excludes stays from 14 Jun - 30 Aug 25, discount automatically applied)",
    "addedValueStart": "2024-07-04T17:31:40",
    "addedValueEnd": "2025-09-27T17:31:42",
    "hideAddedValue": "0"
  },
  {
    "key": "02029f29-a7f2-4bac-8f82-7aed224d2cd0",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free weekly guided walk with a member of the family (Summer 24 only)",
    "addedValueStart": "2019-08-20T16:22:56",
    "addedValueEnd": "2024-09-21T16:22:58",
    "hideAddedValue": "0"
  },
  {
    "key": "8a6e3178-6856-429c-bb39-4d793cc272fb",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of hotel's bikes. E-bikes available (payable locally)",
    "addedValueStart": "2019-08-20T16:23:09",
    "addedValueEnd": "2099-08-21T16:23:12",
    "hideAddedValue": "0"
  },
  {
    "key": "69e8b5e0-fa89-4194-ba07-d9c9b6c41906",
    "name": "Item 5",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free afternoon cake buffet (tea/coffee payable locally)",
    "addedValueStart": "2020-08-10T16:33:58",
    "addedValueEnd": "2099-08-11T16:34:01",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/e27512d0edc142a499d5ee688f699826,umb://media/01e8f304c1f54cdbb4bb0eacebb97a85,umb://media/bc800071cbf8427aafa1cedcd79e1e10,umb://media/8d837ef3616848b3a7ecec25aff47abf,umb://media/97ed2e1d15944338b11b809a1b7e7ebc,umb://media/0bba3df2580b4c2288a50222313bbee5,umb://media/0bcd50a6ae0d482195406c1b4d4d94b3,umb://media/daca576275aa46e9aa13c99ddef42c11,umb://media/488ba23a016f407383fa1fd1bba77445,umb://media/76e4c366785a4ee9af1e82f001030b0b]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>Enjoy an excellent breakfast buffet with a range of hot and cold items.</p>
<p>Each afternoon you can enjoy the complimentary cake buffet (drinks payable locally) - great for refuelling after a day of activity.</p>
<p>The Half Board dinner is a four-course meal with three choices of main dish (including a vegetarian option) and a salad buffet. Once each week the week the hotel also hosts a gala dinner with aperitif, and often a BBQ on the terrace too.</p>
<p>After dinner, head to the traditional wood-panelled bar and stube for a nightcap.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The traditional Alpenhotel Fernau is in a peaceful area on the outskirts of the small village of Neustift. You'll enjoy alpine views and beautiful gardens and can expect personal service and a warm welcome from the Hofer family, who are proud to show you the most beautiful sides of the Stubai Valley.</p>
<h2>The perfect place for an active holiday</h2>
<p>The village centre and Panorama Elfer gondola are within walking distance and outside the hotel is also a bus stop, giving quick and easy access to both. From the top of the gondola, you'll have access to a range of activities, including walking and biking trails, via ferratas, and tandem paragliding flights.</p>
<p>Enjoy gala dinners and BBQ evenings, access to nearby tennis courts, and free rental of the hotel's bikes. You can also take part in the weekly activity programme offered by the Stubai Tourist Board.</p>
<h2>Large outdoor swimming pool</h2>
<p>When it's time to relax, the spa's the place to go. Complete with Finnish sauna, steam room, and whirlpool. There's also a large outdoor swimming pool and sun terrace - a popular spot on hot summer days.</p>
<p>Bedrooms are simple and traditional in style but offer all the comforts you'll need for your stay. Each of the rooms has a balcony with either garden or mountain views.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<h4 style="color: #00533a;"><strong>Stubai Supercard partner accommodation</strong></h4>
<p>When you book Hotel Fernau, the Stubai Supercard is included in your holiday meaning you can enjoy free use of the four cable cars in the Stubai Valley (one ascent and one descent per day), public transport in the valley and much more.</p>
<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>Outdoor swimming pool</li>
<li>Sauna</li>
<li>Steam room</li>
<li>Whirlpool</li>
<li>Infrared cabin</li>
<li>Gym</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Free Wi-Fi</li>
<li>Garden and sun terrace</li>
<li>Free use of hotel bikes</li>
<li>Free use of tennis courts</li>
<li>Table Tennis</li>
<li>Parking (approx. €5 per day, payable locally)</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen</li>
<li>Highchairs</li>
<li>Early meals available on request</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "f6cb04f9-f9ea-4e23-ba13-ab47eb58ae11",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"591474cc-edf7-4395-a694-e76af0488e87\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>0</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>0</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4]]></internalRating>
  <latitude><![CDATA[47.108163]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>A comfortable and traditional family-run hotel in a quiet location. Laze in the landscaped gardens and enjoy the beautiful Alpine views. Take a dip in the outdoor swimming pool and relax in the spa which has a sauna, steam room and infrared cabin.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/e27512d0edc142a499d5ee688f699826]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time approx. 45mins from Innsbruck airport.</li>
<li>650 metres from the village centre</li>
<li>1.3 kilometres to the Elfer gondola</li>
<li>Less than 50 metres to the nearest bus stop</li>
<li>900 metres to the nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[11.298048]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[41 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Fernau in Neustift today with Inghams. Enjoy the peaceful location and beautiful views from the landscaped gardens and outdoor pool.]]></metaDescription>
  <metaTitle><![CDATA[Alpenhotel Fernau | Holidays in Neustift | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>41</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle><![CDATA[Alpenhotel Fernau]]></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATNE0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Standard Austrian Twin Rooms</strong> are around 22m² and sleep two people. They are comfortably and individually furnished, and have a balcony and mountain views.</p>
<p><strong>Comfort Austrian Twin Rooms</strong> are around 26m² and sleep two to three people (extra bed is a single sofa bed). These rooms have a balcony with garden views.</p>
<p><strong>Superior Austrian Twin Rooms</strong> are spacious at 32m² and sleep two to three people (extra bed is a single sofa bed). These rooms have a balcony with mountain views.</p>
<p><strong>Standard Two Room Apartments</strong> are perfect for families and are around 32m², sleeping two to four people (extra bed is double sofa bed). They have a separate bedroom and living area with sofa bed, balcony with mountain views, and bath with overhead shower.</p>
<p><strong>Single Rooms</strong> are 18m² and have a balcony and mountain views and a shower.</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>Balcony</li>
<li>TV</li>
<li>Minibar</li>
<li>Safe</li>
<li>Bath or shower</li>
<li>Hairdryer</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>1pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. €4.80 per person per night is payable locally. Children under the age of 15 are exempt.</p>
<p><strong>Accessibility</strong></p>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<p>Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>
<p>Please let us know of any dietary requirements at the time of booking.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[500316]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>