<?xml version="1.0" encoding="utf-8"?>
<reskinInsidersGuidesItem guid="a9d4ec1a-e234-47e2-a268-f0258394d3ca" id="60853" nodeName="Lapland Folklore" isDoc="" updated="2024-02-15T14:44:47.3230000Z" parentGUID="a0c9b207-560c-40c8-b8b1-df7a27f801ff" nodeTypeAlias="reskinInsidersGuidesItem" templateAlias="" sortOrder="5" published="true" isBlueprint="false">
  <insidersGuidesItemContent><![CDATA[<p>There is so much to learn from the native people of Finland - from their rich culture to way of life. We explore all there is to know about the Sami culture of Lapland.</p>]]></insidersGuidesItemContent>
  <insidersGuidesItemImage><![CDATA[umb://media/c29a55aa5544482281a9152e3cfb6157]]></insidersGuidesItemImage>
  <insidersGuidesItemTagline><![CDATA[The stories from the Arctic]]></insidersGuidesItemTagline>
  <insidersGuidesItemTaglineTheme><![CDATA[lapland]]></insidersGuidesItemTaglineTheme>
  <insidersGuidesItemTitle><![CDATA[[
  {
    "name": "Lapland Folklore",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/a834c4c53a594cb2b8d5c4a2ac436000",
    "externalLink": "",
    "linkName": "Lapland Folklore",
    "linkTitle": "Lapland Folklore"
  }
]]]></insidersGuidesItemTitle>
</reskinInsidersGuidesItem>