<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="6241eba0-2bd9-4ff3-94fb-fd141d15a1f7" id="56109" nodeName="Short Breaks" isDoc="" updated="2023-09-06T13:36:46.4470000Z" parentGUID="b6b86190-431e-4d00-b8c3-d1ff789ee0b9" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="9" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Browse our short ski trips to Switzerland. Flights, transfers and accommodation included.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Book ski weekends & short breaks to Switzerland and save with Inghams. Flexible departures for 4 night stays. Book now with Inghams.]]></metaDescription>
  <metaTitle><![CDATA[Switzerland Ski Weekends & Short Breaks with Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SKI-CH-SHORTBREAKS-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/01afedc7491a48ac97e518333002b425",
    "offerCode": "ING-SKI-CH-SHORTBREAKS-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Switzerland Ski Weekends & Short Breaks]]></pageTitle>
  <promotionItems></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Our latest Switzerland short breaks ski offers for 2023/24]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>