<?xml version="1.0" encoding="utf-8"?>
<accommodationLakes guid="45dcc56a-1cf5-4ce9-89bc-c8c29bbbe672" id="22186" nodeName="Hotel Hollweger" isDoc="" updated="2024-10-16T13:43:02.7570000Z" parentGUID="95ff1fe2-e712-4275-9843-cc1f6b11ccdc" nodeTypeAlias="accommodationLakes" templateAlias="AccommodationLakesResponsive" sortOrder="0" published="true" isBlueprint="false">
  <accessibilityDescription></accessibilityDescription>
  <accessibleRooms></accessibleRooms>
  <accessRamp>0</accessRamp>
  <addedValueDescription></addedValueDescription>
  <addedValueOffers><![CDATA[[
  {
    "key": "fb000a5d-a2f2-41ef-9844-449e14638ffb",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Save an extra £50pp on holidays departing on 24th and 31st May 2025",
    "addedValueStart": "2024-09-05T12:00:33",
    "addedValueEnd": "2025-05-31T12:35:37",
    "hideAddedValue": "0"
  },
  {
    "key": "2b554e14-c4e1-4dfc-afca-e2f0485797a8",
    "name": "Item 2",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free daily afternoon cake buffet (drinks payable)",
    "addedValueStart": "2019-09-10T11:17:21",
    "addedValueEnd": "2099-09-11T11:17:23",
    "hideAddedValue": "0"
  },
  {
    "key": "e33166aa-0664-4601-8f4d-340c480a1629",
    "name": "Item 3",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Free use of private lakeside lido",
    "addedValueStart": "2019-09-10T11:17:32",
    "addedValueEnd": "2099-09-11T11:17:34",
    "hideAddedValue": "0"
  },
  {
    "key": "5bfdd370-e4cd-4eb9-a4d6-66fba889fa96",
    "name": "Item 4",
    "ncContentTypeAlias": "nC_AddedValue",
    "addedValueText": "Welcome drink on Sundays",
    "addedValueStart": "2022-11-15T14:08:32",
    "addedValueEnd": "2099-10-25T17:37:59",
    "hideAddedValue": "0"
  }
]]]></addedValueOffers>
  <annexes></annexes>
  <bedroomFacilities></bedroomFacilities>
  <bedroomFacilitiesPicker></bedroomFacilitiesPicker>
  <boardBasisOptions><![CDATA[4]]></boardBasisOptions>
  <breakfast></breakfast>
  <buildings></buildings>
  <canonicalUrl></canonicalUrl>
  <carouselMediaPicker><![CDATA[umb://media/7e8c373f741e45db911f18ad73f33ccb,umb://media/506530c6f3cf44d583cd7f10002202ab,umb://media/557d734675054116b45c3b7611cb5d1d,umb://media/a5484b06bb9e4d6694961783a371dd62,umb://media/5cf70c7fa2a940e9a2a7a5f5b90cb739,umb://media/1102ee801b4f42fb8ceecf37151b7e4d,umb://media/4b3f7cd3bec747f48aeb0945ba182e5d,umb://media/64f667b449124bf1b9198a4bd3093358]]></carouselMediaPicker>
  <cateringDescription><![CDATA[<p>As part of the half board package, enjoy an excellent buffet breakfast and delicious five-course buffet in the evening. The menu is a mixture of international and local cuisine, with a focus on regional and seasonal produce.</p>
<p>There's also a daily afternoon cake buffet (drinks payable locally) and a welcome drink on Sundays.</p>]]></cateringDescription>
  <cateringShortDescription></cateringShortDescription>
  <deactivateThisPage>0</deactivateThisPage>
  <description><![CDATA[<p>The elegant Hotel Hollweger sits in beautifully manicured gardens with views over the clear blue waters of Wolfgangsee. Settle in, feel at home, and enjoy a touch of luxury in this quiet and beautiful corner of the Salzkammergut. Guest rooms are located in either the traditional main building or the interconnected annexe, where rooms are spacious and bright with a modern feel.</p>
<h2>Private lido with beachside sauna</h2>
<p>There's also an indoor pool and spa area in a separate annexe within the hotel grounds, and the views from here are hard to beat - you can see <a data-udi="umb://document/95ff1fe2e71242759843cc1f6b11ccdc" href="/{localLink:umb://document/95ff1fe2e71242759843cc1f6b11ccdc}" title="St. Gilgen">St.Gilgen</a>, the Schafberg, Wolfgangsee and the Zwölferhorn without having to move a muscle. If you can tear yourself away from the hotel there's plenty to explore. A private footpath leads to the village and the lake, and there's even a private lido, with a beachside sauna, sun loungers and boats to hire.</p>]]></description>
  <descriptionCharacterLimit></descriptionCharacterLimit>
  <descriptionCharacterLimitMobile></descriptionCharacterLimitMobile>
  <dinner></dinner>
  <distanceToCityCentre></distanceToCityCentre>
  <distanceToLift></distanceToLift>
  <distanceToRestaurant></distanceToRestaurant>
  <distanceToStation></distanceToStation>
  <dressCode><![CDATA[<p>Smart casual</p>]]></dressCode>
  <facilities></facilities>
  <facilityDescription><![CDATA[<p><strong>Spa &amp; wellness facilities</strong></p>
<ul>
<li>Private lakeside lido with sauna and sun loungers</li>
<li>Heated indoor swimming pool</li>
<li>Finnish sauna</li>
<li>Bio sauna</li>
<li>Kneipp</li>
<li>Steam room</li>
<li>Infrared cabin</li>
<li>Spa and massage treatments (payable locally)</li>
<li>Fitness room</li>
<li>Pool towels</li>
</ul>
<p><strong>Additional facilities</strong></p>
<ul>
<li>Free Wi-Fi</li>
<li>Garden</li>
<li>Parking</li>
</ul>
<p><strong>Family facilities</strong></p>
<ul>
<li>Cots &amp; linen available available</li>
<li>Early meals available on request (from 6pm)</li>
</ul>]]></facilityDescription>
  <familyDescription></familyDescription>
  <familyFacilities></familyFacilities>
  <fAQsWidget><![CDATA[[
  {
    "key": "118950b0-a2b2-41cb-a8b3-94cf1171658d",
    "name": "Item 1",
    "ncContentTypeAlias": "nC_FAQsWidget",
    "fAQsWidgetTitle": "",
    "fAQsItem": "",
    "moreFAQs": "[\r\n  {\r\n    \"key\": \"545be696-b936-4913-b2a3-f87c23deab7e\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"nC_MultiLinkPicker\",\r\n    \"linkLabel\": \"\",\r\n    \"internalLink\": \"\",\r\n    \"externalLink\": \"\"\r\n  }\r\n]"
  }
]]]></fAQsWidget>
  <floors></floors>
  <freeKidsDescription></freeKidsDescription>
  <freeKidsSpaces>0</freeKidsSpaces>
  <height></height>
  <hideAccommodationTab>0</hideAccommodationTab>
  <hideAddedValue>1</hideAddedValue>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideResortTab>0</hideResortTab>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <imagesFolder></imagesFolder>
  <indoorPoolChildRestrictions></indoorPoolChildRestrictions>
  <indoorPools></indoorPools>
  <inghamsPlusOffers></inghamsPlusOffers>
  <inghamsSelect>1</inghamsSelect>
  <insiderItems></insiderItems>
  <insidersGuidesButton></insidersGuidesButton>
  <insidersGuidesContent></insidersGuidesContent>
  <insidersGuidesTitle></insidersGuidesTitle>
  <interconnect></interconnect>
  <internalRating><![CDATA[4.5]]></internalRating>
  <latitude><![CDATA[47.769522]]></latitude>
  <liftAccessible>0</liftAccessible>
  <liftServesAllFloors>1</liftServesAllFloors>
  <listingDescription><![CDATA[<p>The elegant Hotel Hollweger sits in beautifully manicured gardens with views over the clear blue waters of Wolfgangsee. Settle in, feel at home, and enjoy a touch of luxury in this quiet and beautiful corner of the Salzkammergut.</p>]]></listingDescription>
  <listingImage><![CDATA[umb://media/64f667b449124bf1b9198a4bd3093358]]></listingImage>
  <localFees></localFees>
  <locationDescription><![CDATA[<ul>
<li>Transfer time approx. 1 hour from Salzburg airport</li>
<li>650 metres from the village centre</li>
<li>900 metres from the lake front</li>
<li>100 metres to the nearest bus stop</li>
<li>130 metres to the nearest supermarket</li>
</ul>]]></locationDescription>
  <locationMap></locationMap>
  <longitude><![CDATA[13.360403]]></longitude>
  <lunch></lunch>
  <maxPeopleSleepingText><![CDATA[64 rooms]]></maxPeopleSleepingText>
  <metaDescription><![CDATA[Book your stay at Hotel Hollweger today with Inghams. A peaceful escape overlooking Wolfgangsee, with a private lakeside lido.]]></metaDescription>
  <metaTitle><![CDATA[Hotel Hollweger | Holidays in St Gilgen | Inghams]]></metaTitle>
  <nearestBusStop></nearestBusStop>
  <nearestLift></nearestLift>
  <nearestRestaurant></nearestRestaurant>
  <nearestStation></nearestStation>
  <new>0</new>
  <numberOfApartments></numberOfApartments>
  <numberOfBedrooms>64</numberOfBedrooms>
  <numberOfCabins></numberOfCabins>
  <numberOfHotelRooms></numberOfHotelRooms>
  <occupancy></occupancy>
  <officialRating><![CDATA[4]]></officialRating>
  <outdoorPoolChildRestrictions></outdoorPoolChildRestrictions>
  <outdoorPoolOpening></outdoorPoolOpening>
  <outdoorPoolSupervisedTimes></outdoorPoolSupervisedTimes>
  <pageTheme><![CDATA[1]]></pageTheme>
  <pageTitle></pageTitle>
  <promotionItems></promotionItems>
  <propertyCode><![CDATA[ATGI0104]]></propertyCode>
  <propertyType><![CDATA[3]]></propertyType>
  <publicFacilityDescription></publicFacilityDescription>
  <reception></reception>
  <receptionHours></receptionHours>
  <restaurants>1</restaurants>
  <roomsDescription><![CDATA[<p><strong>Austrian Twin Rooms</strong> are in the main building and are around 25m². They sleep two to three people (extra bed is a single sofa bed) and have a mountain view and an ensuite with bath (and overhead shower).</p>
<p><strong>Garden View Superior Rooms</strong> are located in the bright and modern annex, which is connected to the main building via a glass bridge. They are around 35m² and sleep two to three people (extra bed is a single sofa bed in the lounge area). These rooms have a balcony or terrace, garden view, and an ensuite with bath (and overhead shower)</p>
<p><strong>Lake View Superior Rooms</strong> are in the main building. They're around 35m² and sleep two to three people (extra bed is a single sofa bed). They have a balcony with lake view, and an ensuite with bath (and overhead shower)</p>
<p><strong>Single Rooms</strong> are around 18m² and have a mountain view and an ensuite with shower. These rooms can be in the main building or annex</p>
<p><strong>All rooms have:</strong></p>
<ul>
<li>TV</li>
<li>Safe</li>
<li>Hairdryer</li>
</ul>
<p><strong>General information</strong></p>
<ul>
<li>Check-in: <strong>2pm</strong></li>
<li>Check-out: <strong>11am</strong></li>
</ul>
<p><strong>Local fees and taxes</strong></p>
<p>A resort tourist tax of approx. €2.50 per person per night is payable locally. Children aged 14 and under are exempt.</p>
<p><strong>Accessibility</strong></p>
<ul>
<li>Steps into property: <strong>No</strong></li>
</ul>]]></roomsDescription>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <showCatering>1</showCatering>
  <showExcursions>0</showExcursions>
  <showFacilities>1</showFacilities>
  <showFAQs>0</showFAQs>
  <showInsiderGuide>0</showInsiderGuide>
  <showSpecialOffers>0</showSpecialOffers>
  <showTripAdvisor>1</showTripAdvisor>
  <specialAttractionFacilityDescription></specialAttractionFacilityDescription>
  <specialDietaryRequirements><![CDATA[2,4]]></specialDietaryRequirements>
  <specialDietaryRequirementsDescription><![CDATA[<ul>
<li>Dairy Free</li>
</ul>
<p>Please let us know of any dietary requirements at the time of booking. Allergies and intolerances not listed above cannot be catered for. All allergies and intolerances, even if listed above, are subject to confirmation by the accommodation.</p>]]></specialDietaryRequirementsDescription>
  <specialOfferItems></specialOfferItems>
  <specialOffers></specialOffers>
  <stars></stars>
  <steps></steps>
  <subTabTitleExcursions></subTabTitleExcursions>
  <subTabTitleFacilities></subTabTitleFacilities>
  <subTabTitleFamilyFacilities></subTabTitleFamilyFacilities>
  <subTabTitleMeals></subTabTitleMeals>
  <subTabTitleRooms></subTabTitleRooms>
  <subTabTitleThingsToDo></subTabTitleThingsToDo>
  <tabTitleAccommodation></tabTitleAccommodation>
  <tabTitleFacilities></tabTitleFacilities>
  <tabTitleFoodAndDrink></tabTitleFoodAndDrink>
  <tabTitleLocation></tabTitleLocation>
  <tabTitleResort></tabTitleResort>
  <tabTitleSpecialOffers></tabTitleSpecialOffers>
  <tagline></tagline>
  <tags></tags>
  <theme></theme>
  <titleAccommodation></titleAccommodation>
  <toursPicker></toursPicker>
  <tripadvisorLocation><![CDATA[500487]]></tripadvisorLocation>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <unitSize></unitSize>
  <width></width>
  <youtubeVideo></youtubeVideo>
</accommodationLakes>