<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="5b81c15e-5709-4492-90b3-c48db17f2411" id="69107" nodeName="What is a Santa Breaks holiday?" isDoc="" updated="2024-05-17T10:46:22.8500000Z" parentGUID="9c22fc72-a055-4579-a8c7-0d6788f2c76f" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="34" published="true" isBlueprint="false">
  <answer><![CDATA[<div class="c-page-content">
<p><a data-udi="umb://document/f83de191792e4f76a2b62b60cd414e3a" href="/{localLink:umb://document/f83de191792e4f76a2b62b60cd414e3a}" title="Santa Breaks">Santa Breaks</a> are magical, Christmas holidays to Finnish Lapland. Discover the secrets of Santa's workshop, meet his elvish helpers and experience the magic of the Arctic Circle over the period of a 3 or 4 night break. Guests staying on one of our 3 or 4 night breaks will receive flights, transfers, accommodation on either half board or self-catered basis and thermal suits and boots.</p>
</div>]]></answer>
  <popular>0</popular>
  <question><![CDATA[What is a Santa Breaks holiday?]]></question>
</fAQItem>