<?xml version="1.0" encoding="utf-8"?>
<holidayType guid="b5d61344-574d-447f-b9ca-5280d570ad84" id="23873" nodeName="Vienna to Budapest" isDoc="" updated="2021-12-30T11:01:34.8630000Z" parentGUID="33f376cf-bc00-4a4a-a144-26fc6b42e1f6" nodeTypeAlias="holidayType" templateAlias="HolidayType" sortOrder="1" published="false" isBlueprint="false">
  <bodyText><![CDATA[<div class="g12"><img src="/media/13067384/treasures-of-the-danube-vienna-to-budapest.jpg" alt="Vienna to Budapest" rel="879,452" /></div>
<div style="height: 15px; font-size: x-small;">    Budapest's Chain Bridge</div>
<div> </div>
<div class="white_box_shadow">
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">For more information or to book our Twin Centre Holidays &amp; Tours please call 01483 79 11 11</td>
</tr>
</tbody>
</table>
</div>
<h2>Unescorted Cycle Tour</h2>
<h3>8 days (extend your stay in Vienna and/or Budapest - optional)</h3>
<h4><a data-udi="umb://document/68449c4cf6264997983e6bb267a6d4ef" href="/{localLink:umb://document/68449c4cf6264997983e6bb267a6d4ef}" title="Passau to Vienna">See our other Unescorted Cycle Tour – Passau to Vienna</a></h4>
<p>Traces of the Roman Empire line the banks of the Danube from Vienna to Budapest. Indulge the senses as you encounter game-rich riverside forests, historic towns and medieval castles along the continuation of the Danube Bike Trail through Austria, Slovakia and into Hungary. Mostly following paved bicycle paths, your route follows the River Danube until you reach the city of Budapest.</p>
<div class="g12"><img src="/media/13054411/vienna-budapest-secondary_budapest_heldenplatz-mit-millenniumsdenkmal.jpg" alt="Millennium Monument at Heroes' Square, Budapest" rel="858,410" /></div>
<div style="height: 15px; font-size: x-small;">    Millennium Monument at Heroes' Square, Budapest</div>
<div> </div>
<div>
<p><em>"We would just like to say a massive thank you for what can only be described as a brilliant holiday experience. From the choice of hotels to the standard of the bikes and your friendly professionalism in all matters, it made this a holiday neither of us will ever forget and we will and are definitely going to travel again with you. We are off to Igls next month and are planning to do the Passau to Vienna cycle tour with you next year. </em><br /><em> Thanks again."</em></p>
<p style="text-align: right;"><strong><em>- Mr Crick</em></strong></p>
</div>
<h2>Itinerary</h2>
<p><strong>DAY 1</strong> | Fly to Vienna and transfer to your hotel by private taxi. Explore this Imperial city (optional extension possible).</p>
<p><strong>DAY 2</strong> | 66km Begin your cycle adventure (bike delivered to your hotel) from Austria’s beautiful capital city of Vienna and cross the Austrian/Slovakian border to the charming Slovak capital of Bratislava.</p>
<p><strong>DAY 3</strong> | 45km Cycle the short distance from Bratislava to the Hungarian border and on to the characterful old town of Mosonmagyaróvár passing floodplains and streams branching off from the main River Danube.</p>
<p><strong>DAY 4</strong> | 45km Pedal through the rural landscape past numerous small villages and cultural highlights until you reach the most important city of northwest Hungary, Gyor.</p>
<p><strong>DAY 5</strong> | 64km Explore the gently rolling scenery from Gyor to the old Roman town of Komárno, Slovakia's principal port on the Danube and home to the city’s three fortifications.</p>
<p><strong>DAY 6</strong> | 69km Cycle past many cultural gems on your journey to the small castle town of Visegrád set on the right bank of the Danube.</p>
<p><strong>DAY 7</strong> | 45km End the tour with a journey past the ‘knee’ of the Danube, the impressive Danube Bend, and on to Szentendre Island where you can leave your bike and travel by train to Budapest.</p>
<p><strong>DAY 8</strong> | Depart for Budapest airport in your private taxi or extend your stay in Budapest.</p>
<h2>Accommodation</h2>
<p><strong>Vienna</strong> NH Danube<br /><strong>Bratislava </strong>Hotel Austria Trend or Crowne Plaza<br /><strong>Mosonmagyaróvár </strong>Thermal Hotel<br /><strong>Gyor</strong> Hotel Famulus<br /><strong>Komárno </strong>Hotel Banderium<br /><strong>Visegrád</strong> Hotel Visegrád<br /><strong>Budapest</strong> Hotel Lions Garden</p>
<p style="font-size: 80%;">Hotels are subject to change and will always be of the same standard.</p>
</div>
<div> </div>
<div class="g8">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th scope="col">Prices per person from (£) 2019</th>
<th scope="col">Vienna to Budapest</th>
</tr>
<tr>
<td>Holiday Code</td>
<td align="center">ATXX3092</td>
</tr>
<tr>
<td>Board</td>
<td align="center">Bed &amp; Breakfast (half board upgrade possible)</td>
</tr>
<tr>
<td>No. of days</td>
<td align="center">8</td>
</tr>
<tr>
<td>May</td>
<td align="center">£849</td>
</tr>
<tr>
<td>June</td>
<td align="center">£899</td>
</tr>
<tr>
<td>July</td>
<td align="center">£929</td>
</tr>
<tr>
<td>August</td>
<td align="center">£919</td>
</tr>
<tr>
<td>Sept.</td>
<td align="center">£879</td>
</tr>
<tr>
<td>
<p>Supplements per person<br />per holiday</p>
</td>
<td>
<p style="font-size: 80%;">PS WC incl. /  Single from £203<br />Half board from £118</p>
<p style="font-size: 80%;">Extra nights in Vienna or Budapest possible<br />.</p>
</td>
</tr>
<tr>
<td colspan="2">
<p style="font-size: 80%;">Prices include flights, transfers, accommodation, bike hire, entrance fees and luggage service. Prices and supplements are correct at time of going on the site but may vary up or down; correct prices will be advised at the time of booking.</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="g4">
<div class="white_box_shadow" style="text-align: center;">
<div class="data-grid">
<table border="0">
<tbody>
<tr>
<th>Vienna to Budapest Transfers</th>
</tr>
<tr>
<td align="center"><strong>Flights to Vienna: </strong>Vienna Airport to city ½ hr by private taxi<strong> </strong><strong><br />Return from Budapest: </strong>Budapest city to airport ½ hr by private taxi</td>
</tr>
<tr>
<th align="center">Flights</th>
</tr>
<tr>
<td align="center">
<p><strong>Depart<br /></strong>Gatwick (Daily)<br />Heathrow (Daily)<br />Manchester (Daily)</p>
</td>
</tr>
<tr>
<td align="center">
<p style="font-size: 80%;">Please note: Supplements may apply on some flights.</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div> </div>
<div class="g12">
<div class="white_box_shadow">
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 50px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td height="20" align="center" valign="middle" style="background-color: #89aa4d; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 18px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;">Please call our reservations team on 01483 79 11 11 to book this Cycling Tour</td>
</tr>
</tbody>
</table>
</div>
<p><strong>General Terms and Conditions:</strong> All prices, offers and availability are correct at time of publishing, are subject to change &amp; availability and can be withdrawn at any time. All offers are for 7 nights unless otherwise stated. All prices are per person based on maximum occupancy of a room or apartment and on the lowest priced departure point, supplements for other flights/airports may apply. </p>
</div>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/1cc98c64e63846cb923a4520c665687b]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Join our Vienna to Budapest unescorted cycle tour for an unforgettable Austria lakes and mountains holiday! Call 01483 79 11 11 to book now.]]></metaDescription>
  <metaTitle><![CDATA[Austria Cycle Tours Summer 2019 - Vienna to Budapest | Inghams]]></metaTitle>
  <pageTheme><![CDATA[1]]></pageTheme>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Unescorted Cycle Tour – 8 days (an option to extend your stay in Vienna and/or Budapest).</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/990e85e142974cca9f9811d8c260e984]]></thumbnail>
  <title><![CDATA[Vienna to Budapest]]></title>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/ab736fb8754647c6bf9836c39723909f]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</holidayType>