<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="dcb078c2-1523-4a55-a875-1f98f4bb82b4" id="24710" nodeName="Do I need to validate my tickets?" isDoc="" updated="2018-12-03T13:08:39.1730000Z" parentGUID="4faa6272-3a9a-40b5-9b4a-df1281cee8aa" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="31" published="true" isBlueprint="false">
  <answer><![CDATA[<p><span>You will receive detailed instructions in your rail itinerary on how to complete your documentation and validate your tickets before your journey. Keep your ticket safe during your holiday – it is a return ticket and cannot be replaced.</span></p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Do I need to validate my tickets?]]></question>
</fAQItem>