<?xml version="1.0" encoding="utf-8"?>
<offersPage guid="2efc913e-4cd8-4ab3-85d8-6a35abdc35d3" id="59022" nodeName="La Plagne" isDoc="" updated="2024-11-06T17:03:10.9700000Z" parentGUID="1e6f5e81-7a4f-4af3-b851-984b9c3fa71c" nodeTypeAlias="offersPage" templateAlias="OffersPageResponsive" sortOrder="5" published="true" isBlueprint="false">
  <canonicalUrl></canonicalUrl>
  <dealsContent></dealsContent>
  <departurePointSortBy><![CDATA[Price]]></departurePointSortBy>
  <departurePointSortOrder><![CDATA[0]]></departurePointSortOrder>
  <description><![CDATA[Looking for the best ski deals in La Plagne? For extra peace of mind when booking, rest assured that we also offer a snow guarantee. Flights, transfers and accommodation included.]]></description>
  <filterByRegion>0</filterByRegion>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <metaDescription><![CDATA[Find a great deal on a ski holiday in La Plagne with Inghams. Here are our current France offers. Flights, transfers and accommodation included. Book today.]]></metaDescription>
  <metaTitle><![CDATA[La Plagne Ski Deals | Last Minute La Plagne Ski Holiday | Inghams]]></metaTitle>
  <offerCode><![CDATA[[
  {
    "name": "ING-SKI-LA-PLAGNE-DEALS",
    "ncContentTypeAlias": "nC_OfferWidget",
    "program": "umb://document/01afedc7491a48ac97e518333002b425",
    "offerCode": "ING-SKI-LA-PLAGNE-DEALS",
    "sortBy": "Price",
    "resultsSortOrder": "0",
    "groupBy": "",
    "resultLimit": ""
  }
]]]></offerCode>
  <offerPageLinks></offerPageLinks>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[La Plagne Ski Holiday Deals]]></pageTitle>
  <promotionItems><![CDATA[[
  {
    "name": "Item 1",
    "ncContentTypeAlias": "nC_PromotionItem",
    "promotionBanner": "umb://media/84073174881440ed94e3d13967aefb06",
    "promotionBannerMobile": "umb://media/e70d89349c6c44cc9a4ef93e33468827",
    "promotionLink": "[]",
    "promotionStartDate": "2024-10-04T00:00:00",
    "promotionEndDate": "2024-10-06T00:00:00"
  }
]]]></promotionItems>
  <refinePanelLink><![CDATA[[]]]></refinePanelLink>
  <refinePanelTagline></refinePanelTagline>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <subTitle><![CDATA[Our latest La Plagne ski holiday offers]]></subTitle>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <zeroResultsText><![CDATA[<p>Sorry, no deals have been found, please use the 'Refine these deals' filter on the left to perform another search or alternatively call us on the above number to speak to one of our consultants and talk through your requirements.</p>]]></zeroResultsText>
</offersPage>