<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="e559bf43-a524-4761-bcb4-448a11f4ef05" id="48608" nodeName="Santa Live From Lapland" isDoc="" updated="2021-12-29T17:09:06.3700000Z" parentGUID="2faf3434-4957-426f-ba2c-cc34ffbaa668" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="2" published="false" isBlueprint="false">
  <bannerDropdown><![CDATA[Lapland Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<div class="g12">
<div class="white_box_shadow"><img src="/media/13086163/santa-live-web.jpg" alt="Santa Live from Lapland video call" /></div>
<p><span class="geolocation-title"><strong>Book your own personalised, live family video call with the real Santa Claus this Christmas.</strong></span></p>
<p><em><span>Keep the magic of Christmas alive this December with an exclusive video call for your family from the real Santa – direct from his home in actual Lapland! </span></em></p>
<p><em><span>You will speak with Santa himself from his cabin in the Elves village, Lapland. This genuine Santa experience will allow your children (and the grown-ups!) to enjoy the magic of the real Lapland, all from the safety and comfort of your own home.</span></em></p>
<p><em><span>In order to make the magic happen this Christmas, we are working with our long term partner <strong>Elves Hideaway</strong>. Prices start from £85 per family and include a 10-minute video call experience that’s personalised for up to 4 children per call. </span></em></p>
<p><em><span>To make the call extra special, Santa has a few questions for you to answer about the children such as…name, age, hobbies, pets, favourite school subject and present wish list.</span></em></p>
<p><strong>Click below and quote 'Inghams' for access, be quick though - spaces are limited and they won't be around for long.</strong></p>
<div class="data-grid" style="float: center;">
<table border="0" cellspacing="0" cellpadding="0" class="tablet-button" style="height: 20px; width: 300px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td width="auto" height="20" align="center" valign="middle" style="background-color: #ff9900; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; background-clip: padding-box; font-size: 14px; font-family: arial, sans-serif; text-align: center; color: #ffffff; font-weight: bold; padding-left: 18px; padding-right: 18px;"><a style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;" rel="noopener" data-udi="umb://document/450205dca2a64a3b9eab56d5a9c42e55" href="https://elvesvillage.fi/en/santalive/" target="_blank" title="Elves Village">Book your call with Santa</a></td>
</tr>
</tbody>
</table>
</div>
<div class="data-grid" style="float: center;"></div>
<div class="data-grid" style="float: center;"><strong>Terms and Conditions</strong></div>
<p style="font-size: small;">Elves Hideaway will charge a cancellation fee of 100% if booking is cancelled 7 days or less before event.<br />Elves Hideaway will charge a cancellation fee of 50% if booking is cancelled 20 days or less before event.<br />Should Santa Claus not be able to reach you at the agreed time booked, the call cannot be postponed and is not refundable.<br />Santa Claus with the activity provider cannot take any responsibility of your internet speed and quality.</p>
<p style="font-size: small;">If you have any further questions, please contact <a href="mailto:sales@hulluporo.fi">sales@hulluporo.fi</a></p>
</div>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>1</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/c99dcb3794324b5d86cc95eac3d2d9ab]]></defaultProgram>
  <defaultSearchCountry><![CDATA[umb://document/1617505e7c304cf7a6a0943f826ac7df]]></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>1</hideFromSitemap>
  <hideFromXMLSitemap>1</hideFromXMLSitemap>
  <hideTrustPilotWidget>1</hideTrustPilotWidget>
  <metaDescription><![CDATA[Book your own personalised, live family video call with the real Santa Claus this Christmas.]]></metaDescription>
  <metaTitle><![CDATA[Lapland | Santa Video Call | Inghams]]></metaTitle>
  <pageTheme><![CDATA[2]]></pageTheme>
  <pageTitle><![CDATA[Santa Live From Lapland]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p><strong><em><span>Santa Live from Lapland video call      </span></em></strong></p>
<p><em><span>Book your own personalised, live family video call with the real Santa Claus this Christmas.</span></em></p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/4dc6431a76494a9990c2b39a65a2812d]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect><![CDATA[umb://document/2faf34344957426fba2ccc34ffbaa668]]></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>