<?xml version="1.0" encoding="utf-8"?>
<genericPage guid="828e4c33-a367-4f48-b935-8960a2eb57bb" id="1462" nodeName="Group Ski Holidays" isDoc="" updated="2024-11-21T16:27:53.3270000Z" parentGUID="7dec408f-2e7c-459a-b8c3-03a08bc1c68d" nodeTypeAlias="genericPage" templateAlias="GenericResponsive" sortOrder="10" published="true" isBlueprint="false">
  <bannerDropdown><![CDATA[Ski Holidays]]></bannerDropdown>
  <bodyText><![CDATA[<p style="position: relative; width: 100%; padding-bottom: 56.25%; height: 0; overflow: hidden;"><iframe src="https://www.youtube.com/embed/qZndcL_0XCQ?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="" title="Groups ski holidays" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;">
  </iframe></p>
<p>Group get together out on the slopes - Making time to spend with your friends couldn't be done in a better way than out on the slopes, cosy drinks around the fire, or fine-dining with views of the mountains. Inghams offer fantastic group skiing and snowboarding holidays to suit any size.</p>
<p>We’ll help you arrange your group holiday, so you can simply enjoy being with your friends. You’ll get a personal groups advisor who can help organise the individual needs of any group. Plus we’ve got lots of offers to ensure the best group ski holiday.</p>
<h2>Group skiing holiday offers</h2>
<p>We offer some great group holiday options for skiing and snowboarding, here are some highlights when booking with Inghams:</p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><strong>Group Discounts</strong></h3>
<p><img src="/media/13105232/group-discounts-500x260.jpg" alt="GroupDiscounts" data-udi="umb://media/54a9aa7b67e2493b9cc1acb8c5ac62fe" /></p>
<p><strong>Group discounts are available</strong> - We offer a 5% group discount on groups of 10 people or more, speak to our reservations team directly for more details. </p>
<a data-udi="umb://document/5f65c66796754d4296926388f4150dc9" href="/{localLink:umb://document/5f65c66796754d4296926388f4150dc9}" title="Hotel Mon Repos"></a></div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><strong>In-resort service</strong></h3>
<p><img src="/media/13105233/lift-pass-500x260.jpg" alt="InResortService" data-udi="umb://media/3e91143778d64dbda98d1756e366556c" /></p>
<p><strong>Resort service</strong> - In-resort reps are on hand to assist with your accommodation, lessons, local resort and slope knowledge throughout your holiday.</p>
<a data-udi="umb://document/5f65c66796754d4296926388f4150dc9" href="/{localLink:umb://document/5f65c66796754d4296926388f4150dc9}" title="Hotel Mon Repos"></a></div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><strong>Free lift pass</strong></h3>
<p><img src="/media/13105235/ski-extras-500x260.jpg" alt="FreeLiftPass" data-udi="umb://media/96f10c2b88774b4eb6535fbedf8b9a02" /></p>
<p><strong>Free lift pass</strong> - Receive 1 free lift pass for your organiser when you pre-book 15 lift passes or more. </p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><strong>Group Lessons</strong></h3>
<p><img src="/media/13105234/resort-service-500x260.jpg" alt="GroupLessons" data-udi="umb://media/467cf885fd064cb285c82e33f5b5d40a" /></p>
<p><strong>Group ski lessons -</strong><span> We can organise lift passes, ski hire and tuition so everything is ready for you in resort.</span></p>
</div>
</div>
<div></div>
<div class="row">
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Simply give us a call to book your holiday. Flights, hotel and transport? We’ve got you covered.</span></p>
<p style="text-align: center;"><span>Book an Inghams' Chalet for exclusive use. View our <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalets">Chalets</a> for more information</span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
</div>
<h2>Best group ski resorts</h2>
<p>Here are just some of our highlighted resorts that are known for being ideal for group ski holidays: </p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isere</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5" href="/{localLink:umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5}" title="France">France</a></h4>
<p><img src="/media/13082855/valdisere-00012767.jpg" alt="ValdIsere" data-udi="umb://media/a96439298b6248eaadffb075af08303b" /></p>
<ul>
<li><span> High-altitude resort</span></li>
<li><span>Ideal for intermediate to advanced skiers and boarders</span></li>
<li><span>Free in resort bus service </span></li>
<li><span>Linked with Tignes ski area</span></li>
<li><span>Stop off at the famous La Folie Douce après bar</span></li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere" class="c-btn">View Val d'Isere</a></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes">Tignes</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5" href="/{localLink:umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5}" title="France">France</a></h4>
<p><img src="/media/13082846/cande_stgm_mars018_4839.jpeg" alt="TignesResort" data-udi="umb://media/449304cf5b414279ab5c9e2d7ad3df3f" /></p>
<ul>
<li><span>High altitude resort, linked with Val d'Isere</span></li>
<li><span>Good for all abilities of skier and snowboarder</span></li>
<li><span>Accommodation options close to the slopes or resort centre</span></li>
<li><span>Lots of additional winter activities to enjoy</span></li>
<li><span>Free bus service in resort</span></li>
</ul>
<p style="text-align: center;"><span><a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes" class="c-btn">View Tignes</a></span></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/eb8a4e065fbc4a0fa6a0e0e273886855" href="/{localLink:umb://document/eb8a4e065fbc4a0fa6a0e0e273886855}" title="St Anton">St Anton</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/7cc7c659d5214aa9b4d7bed936a721bb" href="/{localLink:umb://document/7cc7c659d5214aa9b4d7bed936a721bb}" title="Austria">Austria</a></h4>
<p><img src="/media/13084957/st-anton-am-arlberg-13.jpg" alt="StAnton" data-udi="umb://media/be54e5e7c88a4a5ba13869668353eb4f" /></p>
<ul>
<li><span> Short transfer to high-altitude resort</span></li>
<li><span>Ideal for intermediate to advanced groups of skiers and boarders</span></li>
<li><span>Vast array of additional winter activities </span></li>
<li><span>Ski the whole Arlberg Ski area</span></li>
<li><span>Plenty of group accommodation options</span></li>
</ul>
<p style="text-align: center;"><a data-udi="umb://document/eb8a4e065fbc4a0fa6a0e0e273886855" href="/{localLink:umb://document/eb8a4e065fbc4a0fa6a0e0e273886855}" title="St Anton" class="c-btn">View St Anton</a></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/4b1a446ce5904ac5997483a5477c9c8c" href="/{localLink:umb://document/4b1a446ce5904ac5997483a5477c9c8c}" title="Val di Fassa (Canazei, Campitello, Alba &amp; Penia)">Canazei</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/996aa9008def4ffe9a331c775cc97902" href="/{localLink:umb://document/996aa9008def4ffe9a331c775cc97902}" title="Italy">Italy</a></h4>
<p><img src="/media/13084385/archivioimmaginiaptvaldifassa_marisa_montibeller_dsc08273.jpg" alt="ValdiFassa" data-udi="umb://media/d5bf0c84933a4b268f6328eeea354362" /></p>
<ul>
<li><span>Part of the Val di Faasa area in Italy</span></li>
<li><span>High altitude location</span></li>
<li><span>Ski the Dolomites Superski area</span></li>
<li><span>Great for ability levels of skier and boarders</span></li>
<li><span>Perfect all round resort, from spas, museums, shopping to nightlife</span></li>
</ul>
<p style="text-align: center;"><span><a data-udi="umb://document/4b1a446ce5904ac5997483a5477c9c8c" href="/{localLink:umb://document/4b1a446ce5904ac5997483a5477c9c8c}" title="Val di Fassa (Canazei, Campitello, Alba &amp; Penia)" class="c-btn">View Canazei</a></span></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs">Les Arcs</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5" href="/{localLink:umb://document/bd152c97eb204c59a0ae4a5b65e2c1e5}" title="France">France</a></h4>
<p><img src="/media/13082881/2_photosktfrarw1509feb16.jpg" alt="LesArcs" data-udi="umb://media/941b75967b8e4d4e92f25525850d8456" /></p>
<ul>
<li>High altitude and train travel optional</li>
<li><span>Large number of ski-in ski-out accommodation options</span></li>
<li><span>Skiing for all abilities but ideal for intermediates</span></li>
<li><span>Ski the Paradiski ski area</span></li>
<li><span>Social and welcoming bars, restaurants, cafés and clubs</span></li>
</ul>
<p style="text-align: center;"><span><a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs" class="c-btn">View Les Arcs</a></span></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/7bd0ea2aff2942389cbf8acdba0a0e77" href="/{localLink:umb://document/7bd0ea2aff2942389cbf8acdba0a0e77}" title="Soldeu">Soldeu</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/043e5aa9497c411db243e21ed0a5049b" href="/{localLink:umb://document/043e5aa9497c411db243e21ed0a5049b}" title="Andorra">Andorra</a><span style="color: #202124; font-family: arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;"></span></h4>
<p><img src="/media/13093207/ski-slopes-2-grandvalira-resorts-image.jpg" alt="SoldeuAndorra" data-udi="umb://media/5252bb61b5a6469a9a447c523644b08e" /></p>
<ul>
<li><span>Great for beginners and children with a top rated ski school </span></li>
<li><span>Part of the Grandvalira ski area</span></li>
<li><span>Popular location for cross-country skiing and snowshoeing</span></li>
<li><span>Duty-free shopping </span></li>
<li><span>Grat value for money ski holiday</span></li>
</ul>
<p style="text-align: center;"><span><a data-udi="umb://document/7bd0ea2aff2942389cbf8acdba0a0e77" href="/{localLink:umb://document/7bd0ea2aff2942389cbf8acdba0a0e77}" title="Soldeu" class="c-btn">View Soldeu</a></span></p>
</div>
</div>
<h2>Best group ski accommodation</h2>
<p>Based on the above resorts, here are some accommodation options for those destinations that are ideal for group booking, whether you are looking for a <a data-udi="umb://document/1839b76c30ed4fa08d4b2056caa1b257" href="/{localLink:umb://document/1839b76c30ed4fa08d4b2056caa1b257}" title="Chalets">catered chalet</a>, a <a data-udi="umb://document/31c3c6181bb642ffab4ba3d3f4762c55" href="/{localLink:umb://document/31c3c6181bb642ffab4ba3d3f4762c55}" title="Hotels">hotel with half-board</a> options or even <a data-udi="umb://document/97cadeaefe8d4029aa226520f176e71f" href="/{localLink:umb://document/97cadeaefe8d4029aa226520f176e71f}" title="Self Catering Apartments">self catered apartments</a>:</p>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"> <a data-udi="umb://document/b741a67aaee94a26bd6d0e0112846efc" href="/{localLink:umb://document/b741a67aaee94a26bd6d0e0112846efc}" title="Hotel &amp; Spa Le Savoie">Hotel &amp; Spa Le Savoie</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/16c56b283bca4ae2b2ada820a5d3a03d" href="/{localLink:umb://document/16c56b283bca4ae2b2ada820a5d3a03d}" title="Val d'Isere">Val d'Isere</a></h4>
<p><img src="/media/13102560/601-a.jpg" alt="LeSavoie" data-udi="umb://media/70a786bff7f54f65abb32afb93eb53a5" /></p>
<p>The hotel is in central Val d'Isere and just a short walk from the Solaise Express Lift. You can opt for half-board catering and enjoy the wellness area.</p>
<p style="text-align: center;"><a data-udi="umb://document/b741a67aaee94a26bd6d0e0112846efc" href="/{localLink:umb://document/b741a67aaee94a26bd6d0e0112846efc}" title="Hotel &amp; Spa Le Savoie" class="c-btn">Hotel Le Savoie</a></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/da86002e01f540c788f2ac845c8099a5" href="/{localLink:umb://document/da86002e01f540c788f2ac845c8099a5}" title="Village Montana Apartments">Village Montana Apartments</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/204ce8e4cf8c4ab09205501e16cb7565" href="/{localLink:umb://document/204ce8e4cf8c4ab09205501e16cb7565}" title="Tignes">Tignes</a></h4>
<p><img src="/media/13105474/village-montana-527x251.jpg" alt="VillageMontana" data-udi="umb://media/6031ba569326486292afe6a611aaf781" /></p>
<p>These self-catering (or half-board) apartments are based on a sunny slope side location. Equipped with all you need and use of the hotel spa.</p>
<p style="text-align: center;"><a data-udi="umb://document/da86002e01f540c788f2ac845c8099a5" href="/{localLink:umb://document/da86002e01f540c788f2ac845c8099a5}" title="Village Montana Apartments" class="c-btn">View Apartments</a></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/5418da4fce4d4595b128c12f64372bc9" href="/{localLink:umb://document/5418da4fce4d4595b128c12f64372bc9}" title="Chalet Albona (Mountain Lodge)">Mountain Lodge</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/eb8a4e065fbc4a0fa6a0e0e273886855" href="/{localLink:umb://document/eb8a4e065fbc4a0fa6a0e0e273886855}" title="St Anton">St Anton</a></h4>
<p><img src="/media/13102168/mountain-lodge-st-anton-chalet-valluga-lounge.jpg" alt="MountainLodge" data-udi="umb://media/939a323ec15548b68033c0050d424d8c" /></p>
<p>4 chalets are based at this location of Mountain Lodge. With full chalet service, wellness area and based in a quiet location.</p>
<p style="text-align: center;"><a data-udi="umb://document/6834caf5aba24361a80f3498280bd4f6" href="/{localLink:umb://document/6834caf5aba24361a80f3498280bd4f6}" title="Chalet Valluga (Mountain Lodge)" class="c-btn">View Mountain Lodge</a></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/ee47259454804c348beef384db88b492" href="/{localLink:umb://document/ee47259454804c348beef384db88b492}" title="Hotel Dolomiti - Canazei"><span>Hotel Dolomiti</span></a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/4b1a446ce5904ac5997483a5477c9c8c" href="/{localLink:umb://document/4b1a446ce5904ac5997483a5477c9c8c}" title="Val di Fassa (Canazei, Campitello, Alba &amp; Penia)">Canazei</a></h4>
<p><img src="/media/13091538/2-hotel-dolomiti-panorama-inverno.jpg" alt="HotelDolomiti" data-udi="umb://media/1c9dad39eecb42e8970e8ec0899770d6" /></p>
<p>Based in the centre of the resort, with the bus stop located just outside. Offering half-board basis catering, a wellness centre and heated boot-room.</p>
<p style="text-align: center;"><a data-udi="umb://document/ee47259454804c348beef384db88b492" href="/{localLink:umb://document/ee47259454804c348beef384db88b492}" title="Hotel Dolomiti - Canazei" class="c-btn">Hotel Dolomiti</a></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/ba0513b2f2464b95829473d60d25bc50" href="/{localLink:umb://document/ba0513b2f2464b95829473d60d25bc50}" title="Arc 1950 Le Village Apartments"><span>Arc 1950 Apartments</span></a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/1424e5dc124549bebe48ab72e02ec9cb" href="/{localLink:umb://document/1424e5dc124549bebe48ab72e02ec9cb}" title="Les Arcs">Les Arcs</a></h4>
<p><img src="/media/13103376/les-arcs-village-838x450.jpg" alt="Arc1950" data-udi="umb://media/ceab80f3d52345cab1528b3ac9ef4d13" /></p>
<p>Make yourself at home at these sought-after apartments. These apartments are close to the ski lifts and offer a wellness area.</p>
<p style="text-align: center;"><a data-udi="umb://document/ba0513b2f2464b95829473d60d25bc50" href="/{localLink:umb://document/ba0513b2f2464b95829473d60d25bc50}" title="Arc 1950 Le Village Apartments" class="c-btn">Arc 1950 apartments</a></p>
</div>
</div>
<div class="col-xs-12 col-md-6">
<div class="c-card c-card--generic c-card--generic-shadow">
<h3 style="text-align: center;"><a data-udi="umb://document/451f75c814d44c259542dec3c8bffb32" href="/{localLink:umb://document/451f75c814d44c259542dec3c8bffb32}" title="Soldeu-Maistre Hotel">Soldeu-Maistre Hotel</a></h3>
<h4 style="text-align: center;"><a data-udi="umb://document/7bd0ea2aff2942389cbf8acdba0a0e77" href="/{localLink:umb://document/7bd0ea2aff2942389cbf8acdba0a0e77}" title="Soldeu">Soldeu</a></h4>
<p><img src="/media/13105236/maistre-838x450.jpg" alt="HotelMaistre" data-udi="umb://media/88b24155d0e442c0ba468e91e3910711" /></p>
<p>A guest favourite, family run hotel. Only 100m from the main gondola lift and close to the resort centre. Sunny, south facing terrace. </p>
<p style="text-align: center;"><a data-udi="umb://document/451f75c814d44c259542dec3c8bffb32" href="/{localLink:umb://document/451f75c814d44c259542dec3c8bffb32}" title="Soldeu-Maistre Hotel" class="c-btn">Soldeu-Maistre Hotel</a></p>
</div>
</div>
<p> </p>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-shadow">
<h2>Group skiing FAQs </h2>
<p><strong>Do you offer discounts when booking as a group?</strong> - Yes, we offer 5% discount for groups of 10 or more. </p>
<p><strong>How do I book a group holiday?</strong> - For group numbers over 9, please contact our <a data-udi="umb://document/e5b8abf94a554299a3960566b88e9193" href="/{localLink:umb://document/e5b8abf94a554299a3960566b88e9193}" title="Contact Us">Reservations Team</a> directly. </p>
<p><strong>Can private group transfers be arranged?</strong> - <span>We can offer private transfers for guests booking a full package with flights and accommodation. You can book a private transfer up to 14 days before departure. Please see <a data-udi="umb://document/9b67579eaa2748aeae6357891f20ff01" href="/{localLink:umb://document/9b67579eaa2748aeae6357891f20ff01}" title="Transfers">here</a> for more details. </span></p>
<p><span><strong>Is a chalet, hotel or apartment better for a group ski holiday?</strong> - This will mainly be down to personal preference and what kind of time you are planning to spend together as a group. Chalets are great for spending your down time together, relaxing in the lounge area. Apartments are ideal if you all want to get together and join in with cooking up delicious meals. Hotels are perfect if you want to retire to your own rooms be sure to dine together at a pre-booked restaurant on-site or locally. </span></p>
<p><span><strong>Which resorts have the best après ski for groups?</strong> - Europe is certainly known for it's après ski so there won't be many resorts that don't offer this. However some top places for après ski we would recommend if you are travelling in a group are <a data-udi="umb://document/a95de5322c984f85bcf0f013c457e8df" href="/{localLink:umb://document/a95de5322c984f85bcf0f013c457e8df}" title="Davos">Davos</a> in Switzerland and <a data-udi="umb://document/acff50eb9ad84862a464f68b551bc497" href="/{localLink:umb://document/acff50eb9ad84862a464f68b551bc497}" title="Alpe d'Huez">Alpe d'Huez</a> in France. These resorts offer fun après ski, but with a wide choice of relaxed pubs, elegant bars and loud clubs so there is something for everyone. Due to these resorts also being fairly large, they work well for groups. </span></p>
<p><strong>What if we aren't all skiers, but want to go on a group holiday?</strong> - This is certainly no problem at our resorts. There are so many alternatives. Out on the snow you can cross-ski, toboggan or play a game of curling. Away from the snow, many of our hotels and chalets offer spas with treatments, pools, saunas and more. There are always plenty of bars, restaurants and shops to explore also. For our Finland/Lapland holiday you can also enjoy husky rides, feeding reindeer and searching for the Northern Lights. </p>
<p><strong>Can we rent ski clothes and equipment?</strong> - All resorts offer ski rental stores and once we have helped you book your destination, we can help advise where and what to rent. </p>
<p><strong>Are there any terms and conditions to group discounts?</strong> - Yes, please see T&amp;Cs below.</p>
</div>
</div>
<h2 style="text-align: left;">Travel with confidence </h2>
<p>When you choose an Inghams holiday, you can travel with confidence. We’re here to take the stress out of travelling. We’ve put extra measures in place for your peace of mind. We’ll help keep both you and your money safe.</p>
<p><img src="/media/13095389/inghams-in-safe-hands-charcoal.png" alt="safehands" data-udi="umb://media/afba17a916e84fcc848acce5dda4f9c4" /></p>
<div class="col-md-12">
<div class="c-card c-card--generic c-card--generic-grey c-card--generic-shadow ">
<div class="c-card_content c-section u-margin-top u-margin-bottom u-margin-left u-margin-right">
<h2 style="text-align: center;">How to book your holiday</h2>
<p style="text-align: center;"><span>Travel, accommodation and transfers? We’ve got you covered. Book your holiday online or give us a call. </span></p>
<p style="text-align: center;"><a href="tel:01483791111" class="InfinityNumber c-btn">Call us to book today</a></p>
</div>
</div>
</div>
<h3>Terms and Conditions</h3>
<p><strong>Group Discount:  </strong></p>
<p>- Group discount does not apply to peak weeks including the following departure dates: New Years - 28th &amp; 29th of December and Half Term - 15th &amp; 16th February</p>
<p>- Group discount does not apply to Chalets, only hotels and apartments</p>
<p>- Group discount does not apply to Inghams Santa Breaks</p>
<p>- Group discount does not apply to any Canada holidays</p>
<p>- Group discounts cannot be used in conjunction with any other offers</p>
<p>- Group discount can be removed at any time - Group discount can be combined with returner discounts</p>
<p>- Group discount does not apply to child prices - Group discount only applies to full paying adults</p>
<p>- Group discount is applied at time of booking</p>
<p>- Group discount will be removed entirely if the group size shrinks below 10</p>
<p><strong>Lift Pass:  </strong></p>
<p>- Cheapest lift pass is free</p>]]></bodyText>
  <canonicalUrl></canonicalUrl>
  <colorTheme><![CDATA[3]]></colorTheme>
  <deactivateThisPage>0</deactivateThisPage>
  <defaultProgram><![CDATA[umb://document/01afedc7491a48ac97e518333002b425]]></defaultProgram>
  <defaultSearchCountry></defaultSearchCountry>
  <defaultSearchFrom></defaultSearchFrom>
  <height></height>
  <hideFromSitemap>0</hideFromSitemap>
  <hideFromXMLSitemap>0</hideFromXMLSitemap>
  <hideTrustPilotWidget>0</hideTrustPilotWidget>
  <metaDescription><![CDATA[Our excellent choice of group ski holidays lets you and your friends or family enjoy some of the world's best resorts. Book your skiing group holidays with Inghams!]]></metaDescription>
  <metaTitle><![CDATA[Group Ski Holidays 2024/2025 | Inghams]]></metaTitle>
  <pageTheme><![CDATA[0]]></pageTheme>
  <pageTitle><![CDATA[Group Ski Holidays]]></pageTitle>
  <SearchEngineSitemapChangeFreq></SearchEngineSitemapChangeFreq>
  <SearchEngineSitemapPriority></SearchEngineSitemapPriority>
  <shortDescription><![CDATA[<p>Ski holidays were simply made for groups! Fun and camaraderie on the piste and enjoying an après-ski drink or two, lively chatter over dinner, and shared photos and memories to take home.</p>]]></shortDescription>
  <showSearchPanel>1</showSearchPanel>
  <stars></stars>
  <tags></tags>
  <theme></theme>
  <thumbnail><![CDATA[umb://media/7f869b111a3248df8fd8122a46707940]]></thumbnail>
  <trustboxTemplateId></trustboxTemplateId>
  <umbracoPermanentRedirect></umbracoPermanentRedirect>
  <umbracoRedirect></umbracoRedirect>
  <width></width>
</genericPage>