<?xml version="1.0" encoding="utf-8"?>
<fAQItem guid="802265de-4d89-4dd6-95e7-9e73a2777a3c" id="40023" nodeName="Stops along the way" isDoc="" updated="2019-09-24T09:12:29.8700000Z" parentGUID="6e4450c9-0e55-4ddd-bb6c-fdc835e3dfde" nodeTypeAlias="fAQItem" templateAlias="" sortOrder="15" published="true" isBlueprint="false">
  <answer><![CDATA[<p>Other than changing from train to coach to cross the channel the train will only stop briefly at the boarders of each country as it crosses through Europe.</p>]]></answer>
  <popular>0</popular>
  <question><![CDATA[Does the train stop along the way?]]></question>
</fAQItem>