<?xml version="1.0" encoding="utf-8"?>
<reskinProductGoodToKnowItem guid="638efefa-8b7b-438e-a325-4f7276856d72" id="60864" nodeName="What to pack" isDoc="" updated="2024-11-20T16:50:37.5700000Z" parentGUID="4cf70ee7-e4d3-49b2-8dac-53875f0c38b6" nodeTypeAlias="reskinProductGoodToKnowItem" templateAlias="" sortOrder="2" published="true" isBlueprint="false">
  <goodToKnowIcon><![CDATA[compass]]></goodToKnowIcon>
  <goodToKnowItemDescription><![CDATA[<p>When to visit Lapland to suit the kind of holiday you are looking for is vital - be it meeting Santa, skiing the slopes or enjoying the various winter activities. </p>]]></goodToKnowItemDescription>
  <goodToKnowItemTitle><![CDATA[[
  {
    "name": "What to pack",
    "ncContentTypeAlias": "nC_LinkPicker",
    "internalLink": "umb://document/d3535181e34d45ada6cad33b14adfb86",
    "externalLink": "",
    "linkName": "When to go",
    "linkTitle": "When to go",
    "linkTitleColor": "{\"label\":\"6a518c\",\"value\":\"6a518c\"}"
  }
]]]></goodToKnowItemTitle>
</reskinProductGoodToKnowItem>